<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>
        <span class="link_path_end"><?php echo $this->controller_title; ?></span>
    </div>
    <div class="container">
        <div class="box_main_title">
            <img width="35" src="<?php echo $this->baseUrl; ?>/public/images/admin/menu/ustawienia.png" alt="post" />
            <h2 class="title2 p1"><?php echo $this->controller_title; ?></h2>
        </div>
        <div class="box_title">
            <h3 class="title3">Zdarzenia:</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <?php if(!empty($this->error)): ?>
                <div class="error_container">
                    <?php echo $this->error; ?>
                </div>
                <?php endif; ?>
                <div class="box_form">
				<div id="wyszukiwarka">
					<form action="" method="post">
					<?php if($this->obConfig->jezyki): ?>
					<span class="napis">Język</span>
					<select class="select" name="jezyk" id="jezyk" style="margin-right:20px;">
					<option value="">Wszystkie języki&nbsp;</option>
					<?php if(@count($this->langs) > 0): ?>
					<?php foreach($this->langs as $lg => $lang): ?>
					<option value="<?=$lg;?>" <?php if($this->szukanie->jezyk==$lg)echo'selected="selected"';?>>(<?=$lg;?>) <?=$lang['nazwa'];?></option>
					<?php endforeach; ?>
					<?php endif; ?>
					</select>
					<?php endif; ?>
					<?php if($this->obConfig->uzytkownicy): ?>
					<span class="napis">Użytkownik</span>
					<select class="select" name="autor" id="autor" style="margin-right:20px;">
					<option value="">Wszyscy użytkownicy&nbsp;</option>
					<?php if(@count($this->autorzy) > 0): ?>
					<?php foreach($this->autorzy as $autor): ?>
					<?php $user = $autor['uzytkownik']; ?>
					<option value="<?=$user;?>" <?php if($this->szukanie->autor==$user)echo'selected="selected"';?>><?=$user;?></option>
					<?php endforeach; ?>
					<?php endif; ?>
					</select>
					<?php endif; ?>
					<br/><br/>
					<span class="napis">Data od</span>
					<input type="text" class="input dataOdDo" name="dataOd" id="dataOd" value="<?php echo $this->szukanie->dataOd; ?>" style="width:70px;" readonly="readonly" />
					<span class="napis">Data do</span>
					<input type="text" class="input dataOdDo" name="dataDo" id="dataDo" value="<?php echo $this->szukanie->dataDo; ?>" style="width:70px;" readonly="readonly" /> 
					<span class="napis">Adres IP</span>
					<input type="text" class="input" name="adres_ip" id="adres_ip" value="<?=$this->szukanie->adres_ip; ?>" style="width:100px;"/>
					<?php if(false): ?>
					<span class="napis">Adr.MAC</span>
					<input type="text" class="input" name="adres_mac" id="adres_mac" value="<?=$this->szukanie->adres_mac; ?>" style="width:120px;"/>
					<?php endif; ?>
					<span class="napis">Przeglądarka</span>
					<input type="text" class="input" name="user_agent" id="user_agent" value="<?=$this->szukanie->user_agent; ?>" style="width:80px;"/>
					<br/><br/>
					<span class="napis">Produkt</span>
					<input type="text" class="input" value="" onkeyup="szukajProd(this);" style="width:250px;" />
					<select class="select" name="prodID" id="powiazanie" style="margin-left:20px; width:250px;">
					<option value="0">Wszystkie produkty</option>
					<?php if(@count($this->produkt) > 0): ?>
					<option value="<?=$this->produkt['id'];?>" selected="selected">(<?=$this->produkt['id'];?>) <?=$this->produkt['nazwa'];?></option>
					<?php endif; ?>
					</select>
					<input type="submit" name="submit" class="przycisk_1 noprint" value="Szukaj" style="margin-top:0px; margin-left:20px;" />
					<?php if(!empty($this->all)): ?>
					<span class="rf noprint" style="float:right;">
						<a href="javascript:printEvents();" class="drukuj"><b>Drukuj</b></a>
					</span>
					<?php endif; ?>
					<br/><br/>
					</form>
				</div>
                    <?php if(!empty($this->all)): ?>
                    <?= $this->render('const/stronicowanie.phtml'); ?>
                            <table class="foto_box padding" style="">
                                <colgroup>
                                    <col width="5%" />
									<col width="5%" />
									<col width="10%" />
									<col width="10%" />
									<col width="10%" />
                                    <col width="" />
                                    <col width="10%" />
                                </colgroup>
                                <thead>
                                    <th align="center">LP</th>
									<th align="center">Język</th>
                                    <th align="center">Data</th>
									<th align="center">Adres IP</th>
									<th align="center">Przeglądarka</th>
                                    <th align="center">Zdarzenie</th>
                                    <th align="center">Autor</th>
                                </thead>
                                <tbody>
                                <?php $k=0; foreach($this->all as $r): ?>
                                    <tr class="<?= $k % 2 == 0 ? 'silver': 'white'; ?>">
                                        <td align="center"><?= ++$k; ?>.</td>
										<td align="center"><?= $r['lang']; ?></td>
                                        <td align="center"><?= $r['data']; ?></td>
										<td align="center"><?= $r['adres_ip']; ?><br/><?//$r['adres_mac'];?></td>
										<td><span title="<?=htmlspecialchars($r['user_agent']);?>"><?= substr($r['user_agent'],0,20);?>...</span></td>
                                        <td>
											<?= $r['co']; ?>
											<?php if(@strpos($r['co'], $r['gdzie']) === false): ?>
											- <?= str_replace(",", ", ", $r['gdzie']); ?>
											<?php endif; ?>
											
											<?php if(@strpos($r['co'], "atrybut") !== false && @!empty($r['dane'])): ?>
											<?php $dane = @unserialize($r['dane']); ?><br/><?php //print_r($atrs); ?>
											<?php if(count($dane) > 0): ?>
											<?php foreach($dane as $grID => $atrs): ?>
											<?php foreach($atrs as $typ => $atr): ?>
											<?php if($typ == "tekst"): ?>
											<?php echo $grID.'-'.$atr.' '; ?>
											<?php elseif($typ == "lista"): ?>
											<?php echo $grID.'-'.@$atr[0]['id'].' '; ?>
											<?php elseif($typ == "multi"): ?>
											<?php echo $grID.'-'.implode(",", array_keys($atr)).' '; ?>
											<?php endif; ?>
											<?php //foreach($atr as $atrID => $atrVal): ?>
											<?php //echo $grID.'-'.$atrID.':'.$atrVal; ?>
											<?php endforeach; ?>
											<?php endforeach; ?>
											<?php endif; ?>
											<?php endif; ?>
										</td>
                                        <td align="center" class="green"><?= $r['uzytkownik']; ?></td>
                                    </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        <?php else: ?>

                        <div class="info_empty">Brak zdarzeń użytkowników.</div>

                        <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>