<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path">Import/eksport &raquo;</span>
			<span class="link_path_end">Export bazy do pliku XLS</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_import_kategoria.png" alt="Eksport" />
			<h2 class="title2 p1">Eksport</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Export bazy danych:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane export:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<?php if(@count($this->tabele) > 0) : ?>

				<script type="text/javascript">
				//<![CDATA[
				
				var temp = new Array();
				var host = '<?php echo $_SERVER['HTTP_HOST']; ?>';
				var baseUrl = '<?php echo $this->baseUrl; ?>';
				var tabsize = <?php echo count($this->tabele); ?>;
				var trwa = true;
				var od = 0;
				var file = '<?php echo $this->file; ?>';
				var tabela = '';
				
				<?php if(false): ?>
				var options = 
				{
					<?php foreach($this->options as $key => $value): ?>
						'<?php echo $key ?>' : '<?php echo $value; ?>',
					<?php endforeach; ?>
				};
				<?php endif ?>

				<?php $i=0; foreach($this->tabele as $tabela): ?>
				temp[<?php echo $i; ?>] = "<?php echo $tabela['Name']; ?>";
				<?php $i++; endforeach; ?>

				function dodaj(i) 
				{
					tabela = temp[i];
					
					var dane = 
					{
						'tabela': tabela,
						//'options': options,
						'od' : od
					};
					
					$('#tabela').text(tabela);						

					var timeout = 80000;

					$.ajax(
					{
						url: "http://"+host+baseUrl+"/ajax/import/exportsql/file/"+file+"/tabela/"+tabela+"/od/"+od,
						type: "POST",
						timeout: timeout,
						data: dane,
						async: true,
						success: function(html) 
						{
							var xml = $.parseXML(html);
							
							var next = parseInt($(xml).find('next').text());
							if(next)
							{
								i++;
								od = 0;
								$('#ileTabel').text(i);
								$('#ileRows').text(0);
								$('#ileRowsAll').text(0);
								$('#ileRecords').text(0);
							}
							else od++;
							
							if(i < tabsize && trwa)
							{
								dodaj(i);
							} 
							else 
							{
								trwa = false;
							}
							
							var ileRows = $(xml).find('ileRows').text();
							var ileRowsAll = $(xml).find('ileRowsAll').text();
							var ileRecords = $(xml).find('ileRecords').text();
							var error = $(xml).find('error').text();
							var message = $(xml).find('file').text();
							//var suma = parseInt(ilePom) + parseInt(ileRows);
							
							$('#ileRows').text(parseInt($('#ileRows').text())+parseInt(ileRows));
							$('#ileRowsAll').text(ileRowsAll);
							$('#ileRecords').text(parseInt($('#ileRecords').text())+parseInt(ileRecords));

							if((error.length) > 0) 
							{
								//$('#error').css('display', 'block');
								//$('#error').append('<p>'+error+'</p>');
								$('.error_container').append('<div class="k_blad">Tabela '+tabela+': '+error+'</div>');
							}
							if((message.length) > 0) 
							{
								$('#message').css('display', 'block');
								$('#message').append('<a href="'+href+'">'+message+'</a><br/>');

								if(trwa == false)
								$('#message').append('<span>Aktualizacja została zakończona.</span>');
							}
							
							if(trwa == false)
							$('.error_container').append('<div class="k_ok">Operacja przebiegła pomyślnie.</div>');

						}, 
						error: function(xhr, textStatus, errorThrown) 
						{
							if(textStatus == 'timeout')
							{
								alert("#Błąd: Czas oczekiwania został przekroczony.");
								dodaj(i);
							}
							else
							{
								alert("#Błąd: "+textStatus);
							}
						}
					});
				}
				
				function status() 
				{
					if(trwa && false)
					$.ajax(
					{
						url: "http://"+host+baseUrl+"/ajax/import/exportsqlstatus/tabela/"+tabela,
						timeout: 30000,
						async: true,
						success: function(html) 
						{
							if(parseInt(html) > 0)
							$('#ileRecords').text(html);
							if(trwa)
							setTimeout('status()', 5000);
						}, 
						error: function(xhr, textStatus, errorThrown) 
						{
							if(trwa)
							setTimeout('status()', 5000);
						}
					});
				}
				
				$(document).ready(function()
				{
					if(tabsize > 0)
					{
						dodaj(0, 0);
						status();
					}
				});	
				
				//]]>
				</script>
				
				<div class="box_akcje">
					<div class="form_row">
						<div class="form_title">
							<h2 class="title4">
							</h2>
						</div>
						<div class="akcje">
							<span>Aktualna tabela: </span> 
							<b id="tabela"></b><br />
							<?php $sql = true; ?>
							<?php if($sql): ?>
							<span>Przetworzonych rekordów: </span> 
							<b id="ileRows">0</b> / <b id="ileRowsAll">0</b><br />
							<span>Wyeksportowanych zapytań: </span> 
							<b id="ileRecords">0</b> <br />
							<?php else: ?>
							<span>Przetworzonych rekordów: </span> 
							<b id="ileRows">0</b> / <b id="ileRowsAll">0</b><br />
							<span>Wyeksportowanych wierszy: </span> 
							<b id="ileRecords">0</b> <br />
							<?php endif; ?>
							<span>Tabel przetworzonych </span>
							<b id="ileTabel">0</b> / <b><?php echo count($this->tabele); ?></b>
						</div>
					</div>
					<div id="error" style="display: none;"></div>
					<div id="message" style="display: none;"></div>
				</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form action="" method="post" enctype="multipart/form-data">                   
						<div class="form_title"><h2 class="title4">Export całej bazy do plików SQL w archiwum ZIP</h2></div>
						<div class="form_row">
							<label class="required">Nazwa bazy:</label>
							<div class="input_bg">
								<input type="text" name="nazwa" />
							</div>
						</div>                       
                 		<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="plik" value="Zapisz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>