<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path">Eksport/eksport &raquo;</span>
			<span class="link_path_end">Eksport bazy</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_Eksport_kategoria.png" alt="Eksport" />
			<h2 class="title2 p1">Eksport</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Eksportuj bazę danych:</h3>	
		</div>
		<div class="content">
			<?php if(false) : ?>
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane eksport:</span></li>
				</ul>
			</div>
			<?php endif; ?>
			<div class="right_side2">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>				
				
				<div class="box_akcje">
					<div id="error" style="display: none;"></div>
					<div id="message" style="display: none;"></div>
				</div>
				
				<div class="box_form user_add">
					<div class="error_info rf">
						pola oznaczone <b>kolorem czerwonym</b> są wymagane.<br />
					</div>
					<form action="" method="post" enctype="multipart/form-data">                   
						<div class="form_title">
							<h2 class="title4">Eksport zamówień
							<?php if($this->tryb != 'panel') echo mb_strtoupper($this->tryb, 'UTF-8'); ?>
							</h2>
						</div>
						<div class="error_info">
						</div>
						<div class="form_row">
							<div class="input_bg w1" style="clear:left;">
								<div class="button_form2 m2">
									<div class="button1" style="width:100px;">
										<input type="submit" name="plik" id="zapisz" value="Eksportuj" style="width:100px !important;"/>
									</div>
								</div>
							</div>
							<div class="info_labels w1" style="width:600px; float:right;">
								<?php if(@!empty($this->manual)): ?>
								<br/><span style="color:black;"><?php echo $this->manual; ?></span>
								<?php endif; ?>
							</div>
						</div>                 		
					</form>
				</div>
			</div>
		</div>
	</div>
</div>