<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path">Import/eksport &raquo;</span>
			<span class="link_path_end">Import bazy</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_import_kategoria.png" alt="Import" />
			<h2 class="title2 p1">Import</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Importuj bazę danych:</h3>	
		</div>
		<div class="content">
			<?php if(false) : ?>
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane import:</span></li>
				</ul>
			</div>
			<?php endif; ?>
			<div class="right_side2">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<?php if(!empty($this->file)) : ?>

				<script type="text/javascript">
				//<![CDATA[
				
				var temp = new Array();
				var host = '<?php echo $_SERVER['HTTP_HOST']; ?>';
				var baseUrl = '<?php echo $this->baseUrl; ?>';
				var tabsize = 1;//<?php echo $this->count; ?>;
				var trwa = true;
				var od = 0;
				var file = '<?php echo $this->file; ?>';
				var nowe = '<?php echo $this->nowe; ?>';
				var tabela = '';
				var pola = new Array();
				
				<?php if(true): ?>
				var opisy = 
				{
					<?php $o=1; ?>
					<?php foreach($this->opisy as $co => $nazwa): ?>
						"<?php echo $co ?>" : "<?php echo ucfirst($nazwa); ?>"
						<?php if($o < count($this->opisy)): ?>,<?php endif ?>
					<?php $o++; ?>
					<?php endforeach; ?>
				};
				<?php endif ?>

				function dodaj() 
				{
					var timeout = 450000;
					var param = 'file/'+file+'/tryb/<?php echo $this->tryb;?>/od/'+od+'/nowe/'+nowe;
					$.ajax(
					{
						url: "http://" + host + baseUrl + "/ajax/import/importcsvklienci/" + param,
						type: "POST",
						timeout: timeout,
						//data: dane,
						async: true,
						success: function(html) 
						{
							var xml = $.parseXML(html);
							
							od += 200;
							tabsize = parseInt($(xml).find('ileRowsAll').text());
							
							var die = $(xml).find('die').text();
							
							if(od < tabsize && trwa && die.length == 0)
							{
								dodaj();
							} 
							else 
							{
								trwa = false;
							}
							
							var ileRows = $(xml).find('ileRows').text();
							var ileRowsAll = $(xml).find('ileRowsAll').text();							
							var ileRecords = $(xml).find('ileRecords').text();
							var ileExist = $(xml).find('ileExist').text();
							var ileStare = $(xml).find('ileStare').text();
							var error = $(xml).find('error').text();
							var message = $(xml).find('file').text();
							var polaIle = $(xml).find('pole').length;
							if(polaIle > 0)
							{
								var i = 0;
								$(xml).find('pole').each(function()
								{
									var id = $(this).find('id').text();
									var ile = parseInt($(this).find('ile').text());
									if(pola[id] == undefined) pola[id] = ile;
									else pola[id] += ile;i++;
									//alert(id + ' ' + pola[id]);
								});								
							}							
							var ilePola = '<br/>';
							//if(pola.length > 0)//alert(pola.length);
							for(var co in pola)//alert(co + ' ' + pola[co]);
							if(pola[co] != undefined && opisy[co] != undefined)
							{
								ilePola = ilePola + 'Zaktualizowano pole <b>'+opisy[co]+'</b> ';
								ilePola = ilePola + 'dla <b>'+pola[co]+'</b> klienta(ów)<br/>';
							}
							$('#ilePola').html(ilePola);
							
							//$('#ileRows').text(parseInt($('#ileRows').text())+parseInt(ileRows));
							$('#ileRowsAll').text(ileRowsAll);
							$('#ileRecords').text(parseInt($('#ileRecords').text())+parseInt(ileRecords));
							$('#ileExist').text(parseInt($('#ileExist').text())+parseInt(ileExist));
							$('#ileStare').text(parseInt(ileStare));

							if(error.length > 0) 
							{
								//$('#error').css('display', 'block');
								//$('#error').append('<p>'+error+'</p>');
								$('.error_container').append('<div class="k_blad">Błąd: '+error+'</div>');
							}
							if(die.length > 0)
							{
								$('.error_container').append('<div class="k_blad">Błąd krytyczny:<br/>'+die+'</div>');
							}
							if(message.length > 0) 
							{
								$('#message').css('display', 'block');
								$('#message').append('<a href="'+href+'">'+message+'</a><br/>');

								if(trwa == false)
								$('#message').append('<span>Aktualizacja została zakończona.</span>');
							}							

							if(trwa == false)
							{
								$('.error_container').append('<div class="k_ok">Operacja przebiegła pomyślnie</div>');
								if(parseInt($('#ileRecords').text()) > 0) {$('#dodaj').show();$('#all').show();}
								if(parseInt($('#ileExist').text()) > 0) {$('#edytuj').show();$('#all').show();}
								if(parseInt($('#ileStare').text()) > 0) {$('#usun').show();$('#all').show();}
							}

						}, 
						error: function(xhr, textStatus, errorThrown) 
						{
							if(textStatus == 'timeout')
							{
								alert("#Błąd: Czas oczekiwania został przekroczony.");
								dodaj();
							}
							else
							{
								alert("#Błąd: "+textStatus);
							}
						}
					});
				}
				
				function status() 
				{
					if(trwa || true)
					$.ajax(
					{
						//url: "http://"+host+baseUrl+"/ajax/import/importcsvkliencistatus/tabela/"+tabela,
						url: "http://"+host+baseUrl+"/public/ajax/importcsvklienci.txt",
						timeout: 30000,
						async: true,
						cache: false,
						success: function(html) 
						{
							var ileOld = parseInt($('#ileRows').text());
							var ileNew = parseInt(html);
							if(ileNew > ileOld)
							$('#ileRows').text(html);
							if(trwa || (ileNew > ileOld))
							setTimeout('status()', 2000);
						}, 
						error: function(xhr, textStatus, errorThrown) 
						{
							if(trwa)
							setTimeout('status()', 2000);
						}
					});
				}
				
				$(document).ready(function()
				{
					if(tabsize > 0)
					{
						dodaj(0, 0);
						status();
					}
				});	
				
				//]]>
				</script>
				
				<div class="box_akcje">
					<div class="form_row">
						<div class="form_title">
							<h2 class="title4">
							</h2>
						</div>
						<div class="akcje">
							<span>Przetworzonych wierszy: </span> 
							<b id="ileRows">0</b> / <b id="ileRowsAll">0</b>
							<a id="all" href="<?php echo $this->baseUrl; ?>/admin/import/lista" style="display:none;">Zobacz raport zmian</a>
							<br />
							<span>Zaimportowanych klientów: </span> 
							<b id="ileRecords">0</b>
							<a id="dodaj" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/importLastAdded/1" style="display:none;">Zobacz nowych klientów</a>
							<br />
							<span>Usuniętych klientów: </span> 
							<b id="ileStare">0</b>
							<a id="usun" href="<?php echo $this->baseUrl; ?>/admin/import/lista/akcja/usun" style="display:none;">Zobacz usuniętych klientów</a>
							<br />
							<span>Zaktualizowanych klientów: </span> 
							<b id="ileExist">0</b>
							<a id="edytuj" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/importLastEdited/1" style="display:none;">Zobacz zmienionych klientów</a>
							<br />
							<span>Zaktualizowane pola: </span> 
							<span id="ilePola">0</span> <br />
						</div>
					</div>
					<div id="error" style="display: none;"></div>
					<div id="message" style="display: none;"></div>
				</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">
						pola oznaczone <b>kolorem czerwonym</b> są wymagane.<br />
					</div>
					<form action="" method="post" enctype="multipart/form-data">                   
						<div class="form_title">
							<h2 class="title4">Import / aktualizacja klientów z pliku CSV
							<?php if($this->tryb != 'panel') echo mb_strtoupper($this->tryb, 'UTF-8'); ?>
							</h2>
						</div>
						<div class="error_info">
						</div>
						<div class="form_row">
							<label class="required">Pobierz plik:</label>
							<div class="input_bg w1" style="clear:left;">
								<input type="file" id="uploadedfile" name="uploadedfile" />
								<input type="hidden" id="file" name="file" value="" />
								<br/><br/>
								<?php if(false): ?>
								<input type="checkbox" id="nowe" name="nowe" style="width:15px!important;">
								&nbsp;<label for="nowe" style="width:250px;">Usuń klientów których nie ma w pliku</label>
								<?php endif; ?>
								<div class="button_form2 m2">
									<div class="button1" style="width:100px;">
										<input type="submit" name="plik" id="zapisz" value="Zapisz" style="width:100px !important;"/>
									</div>
								</div>
							</div>
							<div class="info_labels w1" style="width:600px; float:right;">
								Proszę przygotować: plik <b></b> z listą klientów<br/>
								<?php if(@!empty($this->manual)): ?>
								<br/><span style="color:black;"><?php echo $this->manual; ?></span>
								<?php endif; ?>
							</div>
						</div>                       
					</form>
				</div>
			</div>
		</div>
	</div>
</div>