<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Import &raquo;</a>
			<span class="link_path_end">Raport importów</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Import</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj importem:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
				
					<div class="box_search2">
						<div class="form_title2">
							<h2 class="title44">Raport importu: - znaleziono <?php echo $this->ilosc; ?> wpisów</h2>
						</div>
						<form action="" method="post" accept-charset="utf-8">
							<div style="float:left; clear:left; margin-top:5px;">
							<?php if(false): ?>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="widoczny" name="widoczny" <?php if(@$this->szukanie->widoczny) echo 'checked="checked"'; ?> value="1" />
								<label for="widoczny" style="display:inline;">pokaż&nbsp;ukrytych</label>
							</span>
							<?php endif; ?>
							</div>
						
							<div class="row_search2" id="wyszukiwarka">
								
								<a id="reset" href="<?php echo $this->baseUrl; ?>/admin/import/lista/reset/all" style="float:right; margin-right:0px;">Resetuj</a>
								
								<div id="top" style="width:785px;">
									
									<?php if(true): ?>
									<div class="napis" style="width:45px;">Rodzaj</div>
									<select name="rodzaj" class="select" style="width:150px;">
									<option value="">Wszystkie</option>
									<option value="produkty" <?php if($this->szukanie->rodzaj == 'produkty') echo'selected="selected"';?>>Produkty</option>
									<option value="produktygrupy" <?php if($this->szukanie->rodzaj == 'produktygrupy') echo'selected="selected"';?>>Grupy produktów</option>
									<option value="klienci" <?php if($this->szukanie->rodzaj == 'klienci') echo'selected="selected"';?>>Klienci</option>
									<option value="rabaty" <?php if($this->szukanie->rodzaj == 'rabaty') echo'selected="selected"';?>>Rabaty</option>
									</select>
									<?php endif; ?>
									
									<?php if(true): ?>
									<div class="napis" style="width:45px;">Akcja</div>
									<select name="akcja" class="select" style="width:150px;">
									<option value="all">Wszystkie</option>
									<option value="dodaj" <?php if($this->szukanie->akcja == 'dodaj') echo'selected="selected"';?>>Dodaj</option>
									<option value="edytuj" <?php if($this->szukanie->akcja == 'edytuj') echo'selected="selected"';?>>Edytuj</option>
									<?php if(false): ?>
									<option value="usun" <?php if($this->szukanie->akcja == 'usun') echo'selected="selected"';?>>Usuń</option>
									<?php endif; ?>
									</select>
									<?php endif; ?>
									
								</div>
								
								<div id="bottom" style="">

								</div>
								<input type="submit" id="szukaj" name="szukaj" value="Szukaj" style="margin-right:65px;"/>
							</div>
						</form>
						
					</div>
					
					<?php if(@count($this->importy) > 0): ?>
					
					<div id="ileNaStrone">
					<span>Wyświetl na stronie: </span>
					<select onchange="window.location='<?php echo $this->baseUrl; ?>/admin/import/lista/ile/'+this.value">
						<option value="10" <?php if($this->ile==10) echo 'selected="selected"'; ?>>10</option>
						<option value="20" <?php if($this->ile==20) echo 'selected="selected"'; ?>>20</option>
						<option value="30" <?php if($this->ile==30) echo 'selected="selected"'; ?>>30</option>
						<option value="50" <?php if($this->ile==50) echo 'selected="selected"'; ?>>50</option>
					</select>
					</div>
					<div class="box_pager" id="stronicowanie">
						<?php echo $this->render('const/stronicowanie.phtml'); ?>
					</div>
					
					<form id="form" action="" method="post">
					
					<table class="foto_box padding" style="float:left;">
						<colgroup>
							<col width="10%"/>
							<col width="10%"/>
							<col width="5%"/>
							<col width="5%"/>
							<col width="20%"/>	
							<col width="5%"/>
							<col width="45%"/>
						</colgroup>
						<tr>
							<th>Data importu</th>
							<th>Data operacji</th>
							<th>Rodzaj</th>
							<th>Numer ID</th>
							<th>Nazwa</th>
							<th>Akcja</th>
							<th>Dane</th>
						</tr>
						
						<?php $j = 1; foreach($this->importy as $import): ?>
								
							<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">

								
								<td align="center"><?php echo $import['data']; ?></td>
								<td align="center"><?php echo $import['czas']; ?></td>
								<td align="center">
								<?php $rodzaj = @$import['rodzaj']; ?>
								<?php if($import['rodzaj'] == 'produktygrupy'): ?>								
								<?php $rodzaj = 'grupy produktów'; ?>
								<?php endif; ?>
								<?php echo @ucfirst(trim($rodzaj)); ?>
								</td>
								<td align="center"><?php echo $import['id_ext']; ?></td>
								<td align="center">
								<?php $ten = $import['akcja'] == 'dodaj' ? 'new' : 'old'; ?>
								<?php $ten = @unserialize($import[$ten]); ?>
								<?php $nazwa = @$ten['nazwa']; ?>
								<?php if($import['rodzaj'] == 'klienci'): ?>
								<?php $nazwa = @$ten['nazwa_firmy'].' '.@$ten['nazwa']; ?>
								<?php $nazwa.= ' '.@$ten['nazwisko'].' '.@$ten['imie']; ?>
								<?php endif; ?>
								<?php if($import['rodzaj'] == 'rabaty'): ?>
								<?php if(@!empty($ten['kod_user']))$nazwa.='Klient:'.$ten['kod_user'].'<br/>'; ?>
								<?php if(@!empty($ten['kod_ug']))$nazwa.='Grupa:'.$ten['kod_ug'].'<br/>'; ?>
								<?php if(@!empty($ten['kod_prod']))$nazwa.='Produkt:'.$ten['kod_prod'].'<br/>'; ?>
								<?php if(@!empty($ten['kod_grupa']))$nazwa.='Grupa:'.$ten['kod_grupa'].'<br/>'; ?>
								<?php endif; ?>
								<?php echo @trim($nazwa); ?>
								</td>
								<td align="center"><?php echo $import['akcja']; ?></td>
								<td align="center">
								<?php $olds = @unserialize($import['old']); ?>
								<?php $news = @unserialize($import['new']); ?>
								<?php if($import['rodzaj'] != 'rabaty'): ?>
								<?php if(@is_array($news) && @count($news) > 0): ?>
								<?php foreach($news as $co => $new): ?>
								<?php if(isset($olds[$co])): ?>
								<?php $old = mb_substr(stripslashes($olds[$co]), 0, 30, 'UTF-8'); ?>
								<?php $new = mb_substr(stripslashes($news[$co]), 0, 30, 'UTF-8'); ?>
								<?php echo $co.': '.$old.' => '.$new; ?><br/>
								<?php endif; ?>
								<?php endforeach; ?>
								<?php endif; ?>
								<?php endif; ?>
								<?php if($import['rodzaj'] == 'rabaty'): ?>
								<?php if($import['akcja'] == 'edytuj'): ?>
								<?php echo number_format($olds['wartosc_rab'],2,',',' ').' '.$olds['typ_rab']; ?>
								<?php if(!isset($news['wartosc_rab'])) $news['wartosc_rab'] = $olds['wartosc_rab']; ?>
								<?php if(!isset($news['typ_rab'])) $news['typ_rab'] = $olds['typ_rab']; ?>
								&nbsp;=>&nbsp;
								<?php echo number_format($news['wartosc_rab'],2,',',' ').' '.$news['typ_rab']; ?>
								<?php else: ?>
								<?php echo number_format($ten['wartosc_rab'],2,',',' ').' '.$ten['typ_rab']; ?>
								<?php endif; ?>
								<?php endif; ?>
								</td>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					</form>
					
					<?php else: ?>
					
						<div class="info_empty">Brak wpisów.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>