<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="PL" />
	<meta name="description" content="<?php echo $this->ustawienia['description']; ?>" />
	<meta name="keywords" content="<?php echo $this->ustawienia['keywords']; ?>" />
	
	<style type="text/css">
	<?php $path = $this->obConfig->www; ?>
	<?php //$path = 'http://'.$_SERVER['SERVER_NAME'].$this->baseUrl; ?>
	<?php if(false): ?>
		<?php $file = $path.'/public/styles/fonts.css'; ?>
		<?php $css = file_get_contents($file); ?>
		<?php if($css === false) $css = $this->common->getCurl($file); ?>
		<?php echo str_replace("url('../", "url('".$path.'/public/', $css); ?>
	<?php endif; ?>
	<?php if(true): ?>
		<?php $file = $path.'/public/styles/szablon.css'; ?>
		<?php $css = file_get_contents($file); ?>
		<?php if($css === false) $css = $this->common->getCurl($file); ?>
		<?php $css = str_replace(':url(../', ':url('.$path.'/public/', $css); ?>
		<?php echo str_replace("url('../", "url('".$path."/public/", $css); ?>
	<?php endif; ?>
	</style>
	
	<title>
	<?php echo $this->ustawienia['title']; ?> <?php echo (isset($this->title))? ' - '.$this->title: ''; ?>
	</title>
	<?php echo $this->headScript(); ?>
	<?php echo $this->headLink(); ?>
	
</head>

<body>

<div style="display:none;">PROD=<?php echo $this->produktID;?>=PROD</div>
<div style="display:none;">ROZM=<?php echo $this->rozmiarID;?>=ROZM</div>

<div id="bodyAll">

<div id="body">

<div id="menu">

	<div id="logoTel"><?php echo @$this->dane_firmy['telefon']; ?></div>
	
	<div id="logoMail"><?php echo @$this->dane_firmy['godziny']; ?></div>
	
</div>

<div id="menuLinki">

	<img id="logo" src="<?php echo $this->URL; ?>/public/images/strona/szablon/logo_profi.png" class="png" alt="" target="_blank" />
	
	<?php if(true): ?>
	<a href="http://allegro.pl/my_page.php?uid=<?php echo $this->uid;?>" target="_blank" title="O nas" style="padding-right:0px;">
	Regulamin
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/email_to_user.php?uid=<?php echo $this->uid;?>" target="_blank" title="Kontakt">
	Zadaj pytanie
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/my_page.php?uid=<?php echo $this->uid;?>" target="_blank" title="O nas">
	Strona O Mnie
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/show_user.php?uid=<?php echo $this->uid;?>" target="_blank" title="Komentarze">
	Komentarze
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/listing.php/user?us_id=<?php echo $this->uid;?>" target="_blank" title="Nasze aukcje">
	Nasze aukcje
	</a>
	<?php endif; ?>
	
	<?php if(false): ?>
	<a href="http://allegro.pl/myaccount/favourites/favourites_sellers.php/addNew/?userId=<?php echo $this->uid;?>&ret=%2Fshow_user.php%3Fuid%<?php echo $this->uid;?>" target="_blank" title="Ulubione">
	<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/menu_ulubione.png" class="png" alt="Ulubione" />
	</a>
	<?php endif; ?>	
</div>

<?php if(isset($this->baner)): ?>
<div id="baner">
	<?php echo str_replace('src="/', 'src="'.$this->URL.'/', $this->baner); ?>
</div>
<?php endif; ?>

<?php if(count($this->kategorie) > 0): ?>
<div id="kategorie">
	<?php foreach($this->kategorie as $kateg): ?>
	<?php if(empty($kateg['allegro'])) continue; ?>
	<?php $allegro = str_replace(";-1", "", $kateg['allegro']); ?>
	<?php if(empty($allegro) || $allegro == "-1") continue; ?>
	<?php $allegro = explode(";", $allegro); ?>
	<?php if(empty($allegro) || count($allegro) == 0) continue; ?>
	<?php $allegro = end($allegro); ?>
	<?php if(empty($allegro) || intval($allegro) <= 0) continue; ?>
	<a href="http://allegro.pl/listing/user/listing.php?id=<?php echo $allegro;?>&us_id=<?php echo $this->uid;?>&country=1">
	<b><?php echo $kateg['nazwa']; ?></b></a>
	<?php endforeach; ?>
</div>
<?php endif; ?>

<div id="szablonMain">

<div id="szablonRight">
	
	<?php //echo $this->layout()->content; ?>
	
	<?php if(true): ?>
	<div id="przedmiotem"><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/przedmiot.png" /></div>
	<?php endif; ?>
	
	<img id="imgMain" src="<?php echo $this->URL; ?>/public/admin/zdjecia/<?php echo $this->produkt['zdj']['img']; ?>" alt="<?php echo $this->produkt['zdj']['nazwa']; ?>" title="<?php echo $this->produkt['zdj']['nazwa']; ?>" />
	
	<div id="szablonProduktNazwa">
		<?php echo $this->obConfig->allegroNazwa && @!empty($this->produkt['nazwa_allegro']) ? $this->produkt['nazwa_allegro'] : $this->produkt['nazwa']; ?>
	</div>
	
	<?php if(true): ?>
	<div class="produktParametry">
	<?php if(true && @!empty($this->rozmiarAukcja)): ?>
	<label>Rozmiar: </label><span><?php echo $this->rozmiarAukcja; ?></span><br/>
	<?php else: ?>
	<?php if(@count($this->produkt['rozmiary']) > 0 && !empty($this->produkt['rozmiary'][0]['nazwa'])): ?>
	<label>Rozmiary: </label><span>
	<?php $r=1;foreach($this->produkt['rozmiary'] as $rozmiar): ?>
	<?php if($rozmiar['dostepnosc'] > 0): ?>
	<?php echo $rozmiar['nazwa']; ?><?php if($r++<count($this->produkt['rozmiary'])):?> / <?php endif;?>
	<?php endif; ?>
	<?php endforeach; ?></span><br/>
	<?php endif; ?>
	<?php endif; ?>
	<?php if(true && @!empty($this->produkt['producent']['nazwa'])): ?>
	<label><?php echo $this->translate('producent'); ?>: </label><span><?php echo $this->produkt['producent']['nazwa']; ?></span><br/>
	<?php endif; ?>
	<?php if(true && @!empty($this->produkt['marka']['nazwa'])): ?>
	<label><?php echo $this->translate('Marka'); ?>: </label><span><?php echo $this->produkt['marka']['nazwa']; ?></span><br/>
	<?php endif; ?>
	<?php if(true && @!empty($this->produkt['kod'])): ?>
	<label><?php echo ucfirst($this->translate('Model')); ?>: </label><span><?php echo $this->produkt['kod']; ?></span><br/>
	<?php endif; ?>
	<?php if(false && @count($this->produkt['kolory']) == 1): ?>
	<label>Kolor: </label><span><?php echo $this->produkt['kolory'][0]['nazwa']; ?></span><br/>
	<?php else: ?>
	<?php if(@count($this->produkt['kolory']) > 1): ?>
	<label>Kolory: </label><span>
	<?php $k=1;foreach($this->produkt['kolory'] as $kolor): ?>
	<?php echo $kolor['nazwa']; ?><?php if($k++<count($this->produkt['kolory'])):?> / <?php endif;?>
	<?php endforeach; ?></span><br/>
	<?php endif; ?>
	<?php endif; ?>
	<?php if(false && @!empty($this->produkt['waga'])): ?>
	<label>Waga wysyłki: </label><span><?php echo $this->produkt['waga']; ?> kg</span><br/>
	<?php endif; ?>
	<?php if(false): ?>
	<label>Status produktu: </label><span><?php echo $this->produkt['dostepny']?'dostępny':'niedostępny'; ?></span>
	<?php endif; ?>
	<?php if(true && @!empty($this->atrybuty)): ?>
	<?php foreach($this->atrybuty as $grupa): ?>
		<?php if($grupa['id'] == @$this->rozmiarGrupa) continue; ?>
		<?php if(!strcmp('tekst', $grupa['typatrybut']) && !empty($grupa['wartosc'])): ?>
		<label><?php echo $grupa['grupa']; ?>: </label><span><?php echo $grupa['wartosc']; ?></span>
		<?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
		<?php endif; ?>
		<?php if(!strcmp('lista', $grupa['typatrybut']) && isset($grupa['atrybut'])): ?>
		<label><?php echo $grupa['grupa']; ?>: </label><span><?php echo $grupa['atrybut']['nazwa']; ?></span>
		<?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
		<?php endif; ?>
		<?php if(!strcmp('multi', $grupa['typatrybut']) && isset($grupa['atrybut'])): ?>
		<label><?php echo $grupa['grupa']; ?>
		<?php if(!empty($grupa['jedn_miary'])): ?> (<?php echo $grupa['jedn_miary']; ?>)<?php endif; ?>:
		</label>
		<?php $a=1;foreach($grupa['atrybut'] as $atrybut): ?>
		<?php if($atrybut['dane']['id'] == @$this->rozmiarID) continue; ?>
		<?php echo $atrybut['nazwa']; ?><?php if($a++<count($grupa['atrybut'])):?> / <?php endif;?>
		<?php endforeach; ?><br/>
		<?php endif; ?>
	<?php endforeach; ?>
	<?php endif; ?>
	</div>
	<?php endif; ?>
	
	<div id="szablonProduktOpisTitle">CHARAKTERYSTYKA</div>
	<div id="szablonProduktOpis">
		<?php $opis = $this->obConfig->allegroOpis && @!empty($this->produkt['tekst_allegro']) ? $this->produkt['tekst_allegro'] : $this->produkt['tekst']; ?>
		<?php echo stripcslashes($opis); ?>	
	</div>
	
	<div id="szablonProduktImgs">
		<?php if(count($this->produkt['galeria']) > 0): ?>
		<?php foreach($this->produkt['galeria'] as $img): ?>
		<?php if($img['img'] == $this->produkt['zdj']['img']) continue; ?>
			<img src="<?php echo $this->URL; ?>/public/admin/zdjecia/<?php echo $img['img']; ?>" alt="<?php echo $img['nazwa']; ?>" title="<?php echo $img['nazwa']; ?>" />
			<br clear="all"/><br clear="all"/>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
	
	<div id="boksy">
		<table>
		<tbody>
		<tr>
			<td width="33%" style="background:url(<?php echo $this->URL; ?>/public/images/strona/szablon/pytania.png) no-repeat -50px bottom #053886;">
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/masz_pytania.png" />
				<br/>
				<span>
					<br/>Upewnij się, że kupujesz
					<br/>odpowiedni produkt
				</span>
				<br/><br/><br/>
				<br/><b style="color:#ffd800;">Zadzwoń</b><br/>
				<br/><b style="font-size:28px;">664 599 789</b>
			</td>
			<td width="33%" style="background:url(<?php echo $this->URL; ?>/public/images/strona/szablon/obsluga.png) no-repeat -10px bottom #ffd800;">
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/doskonala_obsluga.png" />
				<br/><br/><br/><br/>
				<span style="color:#2b2b2b;">
					<br/>Kupuj u nas.
					<br/>Każdego klienta
					<br/>trakujemy
					<br/>wyjątkowo
				</span>
			</td>
			<td width="33%" style="background:url(<?php echo $this->URL; ?>/public/images/strona/szablon/darmowa.png) no-repeat -20px bottom #053886;">
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/darmowa_wysylka.png" />
				<br/><br/><b>Tak, to możliwe !</b>
				<br/><br/><br/><br/>
				<b style="color:#ffd800;">
					<br/>Przy zakupach powyżej
					<br/>125 zł - przesyłka gratis
				</b>
			</td>
		</tr>
		</tbody>
		</table>
	</div>
	
	<div id="ikonki">
		<table>
		<thead>
		<tr>
			<th><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/wysylka.png" /></th>
			<th><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/zwroty.png" /></th>
			<th><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/jakosc.png" /></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/24.png" />
				<br/>Zamów produkt,
				<br/>a my wyślemy go do Ciebie
				<br/>w ciągu 24 godzin
			</td>
			<td>
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/load.png" />
				<br/>Bezproblemowe zwroty towarów,
				<br/>bez podawania przyczyn,
				<br/>zwrot pieniędzy na konto
			</td>
			<td>
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/ok.png" />
				<br/>Gwarantujemy
				<br/>najwyższa jakość
				<br/>sprzedawanych produktów
			</td>
		</tr>
		</tbody>
		</table>
	</div>
	
	<div id="bezpieczne">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/bezpieczne.png" />
	</div>
	
	<div id="kurierzy">
		<table>
		<thead>
		<tr>
			<th><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/poczta2.png" /></th>
			<th><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/dpd2.png" /></th>
			<th><img src="<?php echo $this->URL; ?>/public/images/strona/szablon/paczkomaty.png" /></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/poczta.png" />
				<table>
				<tr>
					<th><span>Wpłata na konto:</span></th>
					<th>&nbsp;</th>
					<th><span>Pobranie:</span></th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td>
						<label>•  Odbiór w punkcie</label><br/>
						<label>•  Paczka 48</label><br/>
						<label>•  Kurier 48</label><br/>
					</td>
					<td>
						<b>6,00 PLN</b><br/><b>9,90 PLN</b><br/><b>11,50 PLN</b>
					</td>
					<td>
						<label>•  Odbiór w punkcie</label><br/>
						<label>•  Kurier 48</label><br/>
					</td>
					<td>
						<b>10,90 PLN</b><br/><b>13,90 PLN</b>
					</td>
				</tr>
				</table>
			</td>
			<td>
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/dpd.png" height="40" />
				<br/><span>Wpłata na konto:</span>
				<br/><b>•  16,00 PLN</b>
				<br/>
				<br/><span>Pobranie:
				<br/><b>•  19,00 PLN</b>
			</td>
			<td>
				<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/inpost.png" height="40" />
				<br/><span>Wpłata na konto:</span>
				<br/><b>•  11,00 PLN</b>
			</td>
		</tr>
		</tbody>
		</table>
	</div>
	
</div>

</div>

<div id="szablonStopka">

	<?php if(count($this->producenci) > 0): ?>
	<div id="producenci">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/marke.png" />
		<div>			
			<?php foreach($this->producenci as $prod): ?>
			<?php if(empty($prod['logo'])) continue; ?>
			<a href="http://allegro.pl/listing/user/listing.php?us_id=<?php echo $this->uid;?>&description=1&order=m&string=<?php echo urlencode($prod['nazwa']);?>&search_scope=userItems-<?php echo $this->uid;?>">
			<img src="<?php echo $this->URL; ?>/public/admin/producenci/<?php echo $prod['logo']; ?>" alt="<?php echo $prod['nazwa']; ?>" title="<?php echo $prod['nazwa']; ?>" />
			</a>
			<?php endforeach; ?>
		</div>
	</div>
	<?php endif; ?>
	
	<div id="mapka">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/mapa2.jpg" />
	</div>
	
	<div id="skontaktuj">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/skontaktuj.png" />
		<b>
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/tel3.png" />
			<span><?php echo @$this->dane_firmy['telefon']; ?></span>
		</b>
		<span>
		W tym miejscu może być opis o nas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue.
		</span>
		<label>
			<b>Aletuczysto_pl</b>
			<br/>Witold Pieńkos
			<br/>ul. T. Rejtana 8 bud.B
			<br/>35-310 Rzeszów
		</label>
	</div>
	
	<div id="formy">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/formy.png" />
		<span>
			<b>Numer rachunku bankowego:</b><br/>
			<span>Idea Bank S.A. 52 1950 0001 2006 0277 1957 0002</span>
		</span>
		<div>
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/idea2.png" />
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/payu2.png" />
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/pobranie2.png" />
		</div>
	</div>
	
	<?php if(@!empty($this->stopka->tekst)): ?>
	<div id="stopka">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/nasze.png" />
		<div><?php echo @stripslashes($this->stopka->tekst); ?></div>
	</div>
	<?php endif; ?>

</div>

</div>

</div>

</body>

</html>

