<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="PL" />
	<meta name="description" content="<?php echo $this->ustawienia['description']; ?>" />
	<meta name="keywords" content="<?php echo $this->ustawienia['keywords']; ?>" />
	
	<style type="text/css">
	<?php $path = $this->obConfig->www; ?>
	<?php //$path = 'http://'.$_SERVER['SERVER_NAME'].$this->baseUrl; ?>
	<?php if(false): ?>
		<?php $file = $path.'/public/styles/fonts.css'; ?>
		<?php $css = file_get_contents($file); ?>
		<?php if($css === false) $css = $this->common->getCurl($file); ?>
		<?php echo str_replace("url('../", "url('".$path.'/public/', $css); ?>
	<?php endif; ?>
	<?php if(true): ?>
		<?php $file = $path.'/public/styles/szablon.css'; ?>
		<?php $css = file_get_contents($file); ?>
		<?php if($css === false) $css = $this->common->getCurl($file); ?>
		<?php $css = str_replace(':url(../', ':url('.$path.'/public/', $css); ?>
		<?php echo str_replace("url('../", "url('".$path."/public/", $css); ?>
	<?php endif; ?>
	</style>
	
	<title>
	<?php echo $this->ustawienia['title']; ?> <?php echo (isset($this->title))? ' - '.$this->title: ''; ?>
	</title>
	<?php echo $this->headScript(); ?>
	<?php echo $this->headLink(); ?>
	
</head>

<body>

<div style="display:none;">PROD=<?php echo $this->produktID;?>=PROD</div>
<div style="display:none;">ROZM=<?php echo $this->rozmiarID;?>=ROZM</div>

<div id="bodyAll">

<div id="body">

<div id="menu">

	<div id="logoTel"><?php echo @$this->dane_firmy['telefon']; ?></div>

	<?php if(false): ?>
	<a href="<?php echo $this->URL; ?>/">
		<img id="logo" src="<?php echo $this->URL; ?>/public/images/strona/logo.png" class="png" alt="" target="_blank" />
	</a>
	<?php endif; ?>
	
	<div id="logoMail"><a href="mailto:<?php echo @$this->dane_firmy['email']; ?>"><?php echo @$this->dane_firmy['email']; ?></a></div>
	
</div>

<div id="menuLinki">
	<?php if(true): ?>
	<a href="http://allegro.pl/listing.php/user?us_id=<?php echo $this->uid;?>" target="_blank" title="Nasze aukcje">
	Nasze aukcje
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/show_user.php?uid=<?php echo $this->uid;?>" target="_blank" title="Komentarze">
	Komentarze
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/my_page.php?uid=<?php echo $this->uid;?>" target="_blank" title="O nas">
	Strona O Mnie
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/email_to_user.php?uid=<?php echo $this->uid;?>" target="_blank" title="Kontakt">
	Zadaj pytanie
	</a>
	<?php endif; ?>
	<?php if(true): ?>
	<a href="http://allegro.pl/my_page.php?uid=<?php echo $this->uid;?>" target="_blank" title="O nas">
	Regulamin
	</a>
	<?php endif; ?>
	<?php if(false): ?>
	<a href="http://allegro.pl/myaccount/favourites/favourites_sellers.php/addNew/?userId=<?php echo $this->uid;?>&ret=%2Fshow_user.php%3Fuid%<?php echo $this->uid;?>" target="_blank" title="Ulubione">
	<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/menu_ulubione.png" class="png" alt="Ulubione" />
	</a>
	<?php endif; ?>	
</div>

<?php if(isset($this->baner)): ?>
<div id="baner">
	<?php echo str_replace('src="/', 'src="'.$this->URL.'/', $this->baner); ?>
</div>
<?php endif; ?>

<?php $typ = 'partnerzy'; ?>
<?php if(false && @count($this->{$typ}) > 0): ?>
<div id="loga">	
	<?php foreach($this->{$typ} as $producent): ?>
		<?php if(@empty($producent['logo'])) continue; ?>
		<?php if(@!empty($producent['link'])): ?>
		<a href="<?php echo $producent['link']; ?>" target="_blank">
		<?php else: ?><a href="javascript:void(0);"><?php endif; ?>
		<img src="<?php echo $this->baseUrl; ?>/public/admin/<?=$typ;?>/<?php echo $producent['logo'];?>" title="<?php echo $producent['nazwa'];?>" alt="<?php echo $producent['nazwa'];?>" class="logo" height="<?=@$this->ImageDir->{ucfirst($typ).'Y'};?>"/>
		</a>
	<?php endforeach; ?>
</div>
<?php endif; ?>

<?php if(false): ?>
<div id="main">
	<div id="szablonMainLeft">
		<div id="szablonMenuLeft">
			<?php echo $this->menu; ?>
		</div>
	</div>
	<div id="szablonMainRight">
		<?php echo $this->layout()->content; ?>
	</div>
</div>
<?php endif; ?>

<div id="szablonMain">

<div id="szablonLeft">	
	<?php if(count($this->kategorie) > 0): ?>
	<div class="szablonLeft">
		<div class="szablonLeftTop">Kategorie</div>
		<div class="szablonLeftMain" id="kategorie">
		<?php foreach($this->kategorie as $kateg): ?>
		<?php if(empty($kateg['allegro'])) continue; ?>
		<?php $allegro = str_replace(";-1", "", $kateg['allegro']); ?>
		<?php if(empty($allegro) || $allegro == "-1") continue; ?>
		<?php $allegro = explode(";", $allegro); ?>
		<?php if(empty($allegro) || count($allegro) == 0) continue; ?>
		<?php $allegro = end($allegro); ?>
		<?php if(empty($allegro) || intval($allegro) <= 0) continue; ?>
		<a href="http://allegro.pl/listing/user/listing.php?id=<?php echo $allegro;?>&us_id=<?php echo $this->uid;?>&country=1">
		<?php echo $kateg['nazwa']; ?></a>
		<?php endforeach; ?>
		</div>
	</div>
	<?php endif; ?>
	<div class="szablonLeft">
		<div class="szablonLeftTop">Kontakt</div>
		<div class="szablonLeftMain" id="kontakt">
		<?php if(!isset($this->kontakt->tekst)): ?>
			Kontakt
		<?php else: ?>
			<?php echo @stripslashes($this->kontakt->tekst); ?>
		<?php endif; ?>
		</div>
	</div>
	<div class="szablonLeft">
		<div class="szablonLeftTop">Wysyłka</div>
		<div class="szablonLeftMain" id="wysylka">
		<?php if(!isset($this->wysylka->tekst)): ?>
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/dhl.png" class="png" alt="" width="150" />
			<br/><br/>
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/ups.png" class="png" alt="" />
			<br/><br/>
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/siodemka.jpg" class="jpg" alt="" />
			<br/><br/>
			<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/poczta_polska.jpg" class="jpg" alt="" />
		<?php else: ?>
			<?php echo @stripslashes($this->wysylka->tekst); ?>
		<?php endif; ?>
		</div>
	</div>
	<div class="szablonLeft">
		<div class="szablonLeftTop">Płatności</div>
		<div class="szablonLeftMain" id="platnosci">
		<?php if(!isset($this->platnosci->tekst)): ?>
			Płatności
		<?php else: ?>
			<?php echo @stripslashes($this->platnosci->tekst); ?>
		<?php endif; ?>
		</div>
	</div>
	<div class="szablonLeft">
		<div class="szablonLeftTop">Regulamin</div>
		<div class="szablonLeftMain" id="regulamin">
		<?php if(!isset($this->regulamin->tekst)): ?>
			Wystawiamy faktury VAT i paragony. Osoby bez pełnej aktywacji konta proszę o&nbsp;potwierdzenie e-mail.
		<?php else: ?>
			<?php echo @stripslashes($this->regulamin->tekst); ?>
		<?php endif; ?>
		</div>
	</div>	
	<?php if($this->obConfig->allegroPolecane): ?>
	<div class="szablonLeft" style="border-bottom:0px !important; margin-bottom:0px !important;">
		<div class="szablonLeftTop" style="background-image:url(<?php echo $this->URL; ?>/public/images/strona/szablon/polecane.png);">Polecane</div>
		<div class="szablonLeftMain" id="polecane" style="text-align:center;">
			<?php echo @stripslashes($this->polecane); ?>
		</div>
	</div>
	<?php endif; ?>
</div>

<div id="szablonRight">
	
	<?php //echo $this->layout()->content; ?>
	
	<?php if(true): ?>
	<div id="przedmiotem">Przedmiot aukcji:</div>
	<?php endif; ?>
	
	<div id="szablonProduktNazwa">
		<?php echo $this->obConfig->allegroNazwa && @!empty($this->produkt['nazwa_allegro']) ? $this->produkt['nazwa_allegro'] : $this->produkt['nazwa']; ?>
	</div>
	
	<img id="imgMain" src="<?php echo $this->URL; ?>/public/admin/zdjecia/<?php echo $this->produkt['zdj']['img']; ?>" alt="<?php echo $this->produkt['zdj']['nazwa']; ?>" title="<?php echo $this->produkt['zdj']['nazwa']; ?>" />
	
	<?php if(true): ?>
	<div class="produktParametry">
	<?php if(true && @!empty($this->rozmiarAukcja)): ?>
	<label>Rozmiar: </label><span><?php echo $this->rozmiarAukcja; ?></span><br/>
	<?php else: ?>
	<?php if(@count($this->produkt['rozmiary']) > 0 && !empty($this->produkt['rozmiary'][0]['nazwa'])): ?>
	<label>Rozmiary: </label><span>
	<?php $r=1;foreach($this->produkt['rozmiary'] as $rozmiar): ?>
	<?php if($rozmiar['dostepnosc'] > 0): ?>
	<?php echo $rozmiar['nazwa']; ?><?php if($r++<count($this->produkt['rozmiary'])):?> / <?php endif;?>
	<?php endif; ?>
	<?php endforeach; ?></span><br/>
	<?php endif; ?>
	<?php endif; ?>
	<?php if(false && @!empty($this->produkt['producent']['nazwa'])): ?>
	<label>Producent: </label><span><?php echo $this->produkt['producent']['nazwa']; ?></span><br/>
	<?php endif; ?>
	<?php if(true && @!empty($this->produkt['kod'])): ?>
	<label>Model: </label><span><?php echo $this->produkt['kod']; ?></span><br/>
	<?php endif; ?>
	<?php if(false && @count($this->produkt['kolory']) == 1): ?>
	<label>Kolor: </label><span><?php echo $this->produkt['kolory'][0]['nazwa']; ?></span><br/>
	<?php else: ?>
	<?php if(@count($this->produkt['kolory']) > 1): ?>
	<label>Kolory: </label><span>
	<?php $k=1;foreach($this->produkt['kolory'] as $kolor): ?>
	<?php echo $kolor['nazwa']; ?><?php if($k++<count($this->produkt['kolory'])):?> / <?php endif;?>
	<?php endforeach; ?></span><br/>
	<?php endif; ?>
	<?php endif; ?>
	<?php if(false && @!empty($this->produkt['waga'])): ?>
	<label>Waga wysyłki: </label><span><?php echo $this->produkt['waga']; ?> kg</span><br/>
	<?php endif; ?>
	<?php if(false): ?>
	<label>Status produktu: </label><span><?php echo $this->produkt['dostepny']?'dostępny':'niedostępny'; ?></span>
	<?php endif; ?>
	<?php if(true && @!empty($this->atrybuty)): ?>
	<?php foreach($this->atrybuty as $grupa): ?>
		<?php if($grupa['id'] == @$this->rozmiarGrupa) continue; ?>
		<?php if(!strcmp('tekst', $grupa['typatrybut']) && !empty($grupa['wartosc'])): ?>
		<label><?php echo $grupa['grupa']; ?>: </label><span><?php echo $grupa['wartosc']; ?></span>
		<?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
		<?php endif; ?>
		<?php if(!strcmp('lista', $grupa['typatrybut']) && isset($grupa['atrybut'])): ?>
		<label><?php echo $grupa['grupa']; ?>: </label><span><?php echo $grupa['atrybut']['nazwa']; ?></span>
		<?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
		<?php endif; ?>
		<?php if(!strcmp('multi', $grupa['typatrybut']) && isset($grupa['atrybut'])): ?>
		<label><?php echo $grupa['grupa']; ?>
		<?php if(!empty($grupa['jedn_miary'])): ?> (<?php echo $grupa['jedn_miary']; ?>)<?php endif; ?>:
		</label>
		<?php $a=1;foreach($grupa['atrybut'] as $atrybut): ?>
		<?php if($atrybut['dane']['id'] == @$this->rozmiarID) continue; ?>
		<?php echo $atrybut['nazwa']; ?><?php if($a++<count($grupa['atrybut'])):?> / <?php endif;?>
		<?php endforeach; ?><br/>
		<?php endif; ?>
	<?php endforeach; ?>
	<?php endif; ?>
	</div>
	<br clear="all"/>
	<?php endif; ?>
	
	<div id="szablonProduktOpis">
		<?php $opis = $this->obConfig->allegroOpis && @!empty($this->produkt['tekst_allegro']) ? $this->produkt['tekst_allegro'] : $this->produkt['tekst']; ?>
		<?php echo stripcslashes($opis); ?>	
	</div>
	
	<br clear="all"/><br clear="all"/>
	<div id="szablonProduktImgs">
		<?php if(count($this->produkt['galeria']) > 0): ?>
		<?php foreach($this->produkt['galeria'] as $img): ?>
		<?php if($img['img'] == $this->produkt['zdj']['img']) continue; ?>
			<img src="<?php echo $this->URL; ?>/public/admin/zdjecia/<?php echo $img['img']; ?>" alt="<?php echo $img['nazwa']; ?>" title="<?php echo $img['nazwa']; ?>" />
			<br clear="all"/><br clear="all"/>
		<?php endforeach; ?>
		<?php endif; ?>
	</div>
	
</div>

</div>

<div id="szablonStopka">

	<?php if(count($this->producenci) > 0): ?>
	<div id="producenci">
		<span>wybierz markę:</span>
		<div>			
			<?php foreach($this->producenci as $prod): ?>
			<?php if(empty($prod['logo'])) continue; ?>
			<a href="http://allegro.pl/listing/user/listing.php?us_id=<?php echo $this->uid;?>&description=1&order=m&string=<?php echo urlencode($prod['nazwa']);?>&search_scope=userItems-<?php echo $this->uid;?>">
			<img src="<?php echo $this->URL; ?>/public/admin/producenci/<?php echo $prod['logo']; ?>" alt="<?php echo $prod['nazwa']; ?>" title="<?php echo $prod['nazwa']; ?>" />
			</a>
			<?php endforeach; ?>
		</div>
	</div>
	<?php endif; ?>
	
	<div id="infolinia">
		<img src="<?php echo $this->URL; ?>/public/images/strona/szablon/infolinia.png" />
		<div>
			<span><b>INFOLINIA: </b><?php echo @$this->dane_firmy['telefon']; ?></span>
			<br/><label><?php echo @$this->dane_firmy['godziny']; ?></label>
		</div>
	</div>
	
	<div id="zapraszamy">
		ZAPRASZAMY NA NASZE POZOSTAŁE AUKCJE ALLEGRO
	</div>
	
	<div id="projekt">
		PROJEKT I REALIZACJA: <a href="http://www.bigcom.pl" target="_blank">BIGCOM</a>
	</div>
	
	<?php if(@!empty($this->stopka->tekst)): ?>
	<div id="stopka">
		<?php echo @stripslashes($this->stopka->tekst); ?>	
	</div>
	<?php endif; ?>

</div>

</div>

</div>

</body>

</html>

