<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="PL" http-equiv="Content-Language" />
<meta content="higiena" name="description" />
<meta content="higiena" name="keywords" />
<style type="text/css">body
{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	font-family:Arial,Tahoma;
	font-size:12px;
	color:white;
	background-color:#f6f6f6;
	background-position:top center;
	background-repeat:no-repeat;
}

#bodyAll
{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	width:1200px;	
	background-color:#f6f6f6;
}

#body
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	padding-bottom:40px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}

#baner
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	max-width:1200px;
	background:#e5e8ea;
}
#baner img
{
	border:0;
	max-width:1200px;
}

#main
{
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:0px;
	width:100%;
	min-height:470px;
}

#menu
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:50px;
	text-align:center;
	border-bottom:1px solid #2e61a4;
	background:#053886;
}
#logoTel
{
	position:relative;
	float:right;
	margin-top:15px;
	margin-right:50px;
	height:21px;
	line-height:21px;
	padding-left:30px;
	font-size:14px;
	font-weight:normal;
	color:#a7bddd;
	background:url(http://www.higiena.d//public/images/strona/szablon/tel2.png) no-repeat left center;
}
#logo
{
	position:relative;
	float:left;
	margin:30px 50px;
}
#logoMail
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:50px;
	height:21px;
	line-height:21px;
	padding-left:30px;
	font-size:14px;
	font-weight:normal;
	color:#a7bddd;
	background:url(http://www.higiena.d//public/images/strona/szablon/zegar.png) no-repeat left center;
}
#logoMail a
{
	color:white;
	text-decoration:none;
}
#menuLinki
{
	position:relative;
	float:right;
	margin-top:0px;
	margin-left:0px;
	padding-right:50px;
	width:1150px;
	text-align:center;
	height:120px;
	line-height:120px;
	border-top:0px solid #cddfea;
	border-bottom:0px solid #cddfea;
	background:#053886;
}
#menuLinki a
{
	position:relative;
	float:right;
	display:inline-block;
	margin-top:0px;
	margin-left:0px;
	height:120px;
	line-height:120px;
	font-weight:bold;
	font-size:15px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	padding-left:23px;
	padding-right:15px;
	border-right:0px solid #5f9ed7;
	background:url(http://www.higiena.d//public/images/strona/szablon/menu_punkt.png) no-repeat left center;
}
#menuLinki a:first-child
{
	background:none;
	padding-left:15px;
	padding-right:0px;
}
#menuLinki a:last-child
{
	background:none;
	padding-left:15px;	
}
#menuLinki a:hover
{
	text-decoration:underline;
}
#menuLinki2 img
{
	border:0;
	margin-top:7px;
}

#produkt
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:800px;
	min-height:470px;
}
#imgMain
{
	position:relative;
	float:right;
	margin:0px auto;
	max-width:550px;
	background:white;
	border:1px solid #d4d4d4;
}
#szablonProduktOpisTitle
{
	position:relative;
	float:left;
	clear:left;
	width:100%;
	margin-top:35px;
	margin-left:0px;
	height:70px;
	line-height:70px;
	font-weight:bold;
	font-size:15px;
	color:#053886;
	text-align:left;
	text-indent:70px;
	border:1px solid #d4d4d4;
	background:url(http://www.higiena.d//public/images/strona/szablon/info.png) no-repeat 25px center white;
}
#szablonProduktOpis
{
	position:relative;
	float:left;
	clear:left;
	width:1050px;
	padding:25px 25px;
	margin-top:-1px;
	margin-left:0px;
	line-height:24px;
	font-weight:normal;
	font-size:15px;
	color:#727272;
	text-align:left;
	border:1px solid #d4d4d4;
}
.produktParametry
{
	position:relative;
	float:left;
	clear:left;
	max-width:500px;
	margin-top:25px;
	margin-left:0px;
	line-height:24px;
	font-weight:normal;
	font-size:15px;
	color:#727272;
	text-align:left;
	border:0px solid #d9d9d9;
}
.produktParametry span
{
	font-weight:bold;
}

#szablonMain
{
	position:relative;
	float:left;
	margin-top:70px;
	margin-left:50px;
	width:1100px;
}

#szablonLeft
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:280px;
}
.szablonLeft
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-bottom:20px;
	margin-left:0px;
	width:277px;
	padding:0px 0px;
	border:3px solid #ffffff;
	border-left:0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	outline:0px solid #f6f5ee;
	box-shadow: 0px 0px 0px 0px #df0000 inset;
	-moz-box-shadow:0 0 0px 0px #df0000 inset;
	-webkit-box-shadow:0 0 0px 0px #df0000 inset;
	overflow:hidden;
}
.szablonLeftTop
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	width:100%;
	height:47px;
	line-height:47px;
	text-indent:20px;
	font-family:EncodeSansCondensed;
	font-size:22px;
	font-weight:800;
	text-transform:uppercase;
	color:#ffffff;
	display:block;
	background:#0c5f99;
}
.szablonLeftMain
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:240px;
	padding:17px 17px 20px 20px;
	font-size:15px;
	font-weight:normal;
	color:#2b2b2b;
	line-height:18px;
	font-family:EncodeSansCondensed;
	text-align:left;
	background:#e3f3ff;
}
.smallBr
{
	font-size: 6px;
	line-height: 6px;
}
#kontakt
{
	text-align:left;
}
#kontakt a
{
	text-decoration:none;
	color:#ffffff;
}
#wysylka
{
	text-align:left;
	width:100%;
	padding:0px;
	line-height:20px;
}
#platnosci
{
	text-align:left;
}
#platnosci img
{
	border:0;
	margin-bottom:0px;
}
#kategorie
{
	position:relative;
	float:left;
	width:100%;
	padding:0px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow:0 10px 10px 0px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:0 10px 10px 0px rgba(0, 0, 0, 0.10);
}
#kategorie a
{
	position:relative;
	float:left;
	display:table;
	width:199px;
	height:58px;
	line-height:16px;
	font-size:14px;
	font-weight:bold;
	color:#2b2b2b;
	text-indent:0px;
	text-align:center;
	text-decoration:none;
	border-top:1px solid #ffffff;
	border-right:1px solid #ffffff;
	background:url(http://www.higiena.d//public/images/strona/szablon/menu_tlo.gif) repeat-x;
}
#kategorie a b
{
	vertical-align:middle;
	display:table-cell;
	padding:0px 25px;
}
#kategorie a:hover
{
	text-decoration:underline;
}

#szablonRight
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding:0px 0px;
	text-align:center;
}
#przedmiotem
{
	position:relative;
	float:left;
	margin:0px;
}
#szablonProduktNazwa
{
	position:relative;
	float:left;
	clear:left;
	margin-top:25px;
	margin-left:0px;
	width:500px;
	font-size:30px;
	font-weight:800;
	color:#053886;
	text-align:left;
	line-height:35px;
	text-transform:uppercase;
}
#szablonProduktImgs
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#szablonProduktImgs img
{
	position:relative;
	float:none;
	max-width:1100px;
	margin:30px auto;
	border:1px solid #d4d4d4;
}

#boksy
{
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:0px;
	width:100%;
}
#boksy > table
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-spacing:0px;
	border-collapse:collapse;
}
#boksy > table > tbody > tr > td
{
	height:205px;
	padding:30px 20px;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	text-align:right;
	line-height:18px;
	vertical-align:top;
}
#boksy > table > tbody > tr > td > img
{
	margin:0px 0px;
}
#ikonki
{
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#ikonki > table
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-spacing:0px;
	border-collapse:collapse;
}
#ikonki > table > thead > tr > th
{
	font-size:16px;
	font-weight:800;
	color:#2b2b2b;
	text-align:center;
}
#ikonki > table > tbody > tr > td
{
	font-size:15px;
	font-weight:normal;
	color:#727272;
	text-align:center;
	line-height:18px;
	vertical-align:top;
}
#ikonki > table > tbody > tr > td > img
{
	margin:15px 0px;
}
#bezpieczne
{
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#kurierzy
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#kurierzy > table
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-spacing:0px;
	border-collapse:collapse;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.10);
	-moz-box-shadow:0 0px 10px 10px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:0 0px 10px 10px rgba(0, 0, 0, 0.10);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
#kurierzy > table > thead > tr > th
{
	font-size:16px;
	font-weight:800;
	color:#ffffff;
	text-align:center;
	height:50px;
	line-height:50px;
	background:#053886;
	border:1px solid #1e365a;
}
#kurierzy > table > tbody > tr > td
{
	font-size:15px;
	font-weight:normal;
	color:#2b2b2b;
	text-align:center;
	line-height:20px;
	background:#fefefe;
	border:1px solid #d4d4d4;
	vertical-align:top;
	padding:15px 20px 25px 20px;
}
#kurierzy > table > tbody > tr > td:nth-child(even)
{
	background:#f6f6f6;
}
#kurierzy > table > tbody > tr > td > img
{
	margin-bottom:15px;
}
#kurierzy > table > tbody > tr > td span
{
	color:#2b2b2b;
	font-size:15px;
	font-weight:normal;
}
#kurierzy > table > tbody > tr > td label
{
	color:#2b2b2b;
	font-size:15px;
	font-weight:normal;
}
#kurierzy > table > tbody > tr > td b
{
	color:#727272;
	font-size:15px;
	font-weight:bold;
}
#kurierzy > table > tbody > tr > td table
{
	width:100%;
}
#kurierzy > table > tbody > tr > td table th
{
	text-align:left;
}
#kurierzy > table > tbody > tr > td table th span
{
    font-weight:bold;
}
#kurierzy > table > tbody > tr > td table td
{
	text-align:left;
}

#szablonStopka
{
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:0px;
	width:100%;
}
#stopka
{
	position:relative;
	float:left;
	margin-top:40px;
	margin-left:0px;
	width:1100px;
	padding:0px 50px;
}
#stopka > img
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
}
#stopka > div
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	color:#2b2b2b;
}
#producenci
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding-bottom:30px;
	background:white;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}
#producenci > img
{
	position:relative;
	float:left;
	margin-top:-15px;
	margin-left:50px;
	font-size:16px;
	font-weight:bold;
	color:#2e2e2e;
	text-transform:uppercase;
}
#producenci > div
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#producenci > div > a
{
	position:relative;
	float:none;
	display:inline-block;
	margin:10px 25px;
	text-decoration:none;
}
#producenci > div > a > img
{
	position:relative;
	width:auto;
	height:35px;
}
#mapka
{
	position:relative;
	float:left;
	margin-top:45px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#skontaktuj
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:1100px;
	padding:0px 50px 35px 50px;
	background:#053886;
}
#skontaktuj > img
{
	position:relative;
	float:left;
	margin-top:-10px;
	margin-left:0px;
}
#skontaktuj > div
{
	position:relative;
	float:left;
	clear:left;
	margin-top:20px;
	margin-left:0px;
	color:#ffd800;
	font-weight:bold;
	font-size:30px;
}
#skontaktuj > span
{
	position:relative;
	float:left;
	clear:left;
	width:870px;
	margin-top:25px;
	margin-left:0px;
	color:#ffffff;
	font-weight:normal;
	font-size:14px;
	line-height:20px;
	text-align:justify;
}
#skontaktuj > b
{
	position:relative;
	float:right;
	max-width:200px;
	margin-top:25px;
	margin-left:0px;
	color:#ffffff;
	font-weight:normal;
	font-size:16px;
	line-height:24px;	
}
#skontaktuj > b b
{
	color:#ffd800;
	font-weight:800;
}

#formy
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:1200px;
	padding-bottom:35px;
	background:#053886;
	border-top:1px solid #2e61a4;
}
#formy > img
{
	position:relative;
	float:left;
	margin-top:-10px;
	margin-left:50px;
}
#formy > span
{
	position:relative;
	float:left;
	clear:left;
	margin-top:25px;
	margin-left:50px;
	line-height:20px;
}
#formy > span b
{
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
}
#formy > span span
{
	color:#ffd800;
	font-weight:normal;
	font-size:14px;
}
#formy > div
{
	position:relative;
	float:right;
	margin-top:25px;
	margin-right:50px;
}
#formy > div img
{
	margin-top:0px;
	margin-left:15px;
}

#infolinia
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:90px;
	background:#0c609b;
	border-top:2px solid #f6f6f6;
	border-bottom:1px solid #1b669b;
}
#infolinia > img
{
	position:relative;
	float:left;
	margin-top:-25px;
	margin-left:100px;
	width:105px;
	height:105px;
	background:white;
	border:3px solid white;
	border-radius: 110px;	
	-moz-border-radius: 110px;
	-webkit-border-radius: 110px;
}
#infolinia > div
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:25px;
	width:auto;
	text-align:left;
	font-size:16px;
	color:#e3f3ff;
	line-height:24px;
}
#infolinia > div > span
{
	font-size:22px;
}
#infolinia > div > label
{
	font-size:16px;
}

#zapraszamy
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:105px;
	line-height:105px;
	background:#2b71a3;
	font-size:30px;
	font-weight:900px;
	color:#f6f6f6;
	text-transform:uppercase;
}

#projekt
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:60px;
	line-height:60px;
	background:#f6f6f6;
	font-size:12px;
	font-weight:900px;
	color:#b5b5b5;
	text-transform:uppercase;
}
#projekt a
{
	color:#b5b5b5;
	text-decoration:none;
}
</style>
<title></title>
<div style="display:none;">PROD=0=PROD</div>

<div style="display:none;">ROZM=0=ROZM</div>

<div id="bodyAll">
<div id="body">
<div id="menu">
<div id="logoTel">664 599 789</div>

<div id="logoMail">PON-PT: 10:00 - 18:00</div>
</div>

<div id="menuLinki"><img alt="" class="png" id="logo" src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/logo_profi.png" target="_blank" /> <a href="http://allegro.pl/my_page.php?uid=ALLEGRO_UID" style="padding-right:0px;" target="_blank" title="O nas"> Regulamin </a> <a href="http://allegro.pl/email_to_user.php?uid=ALLEGRO_UID" target="_blank" title="Kontakt"> Zadaj pytanie </a> <a href="http://allegro.pl/my_page.php?uid=ALLEGRO_UID" target="_blank" title="O nas"> Strona O Mnie </a> <a href="http://allegro.pl/show_user.php?uid=ALLEGRO_UID" target="_blank" title="Komentarze"> Komentarze </a> <a href="http://allegro.pl/listing.php/user?us_id=ALLEGRO_UID" target="_blank" title="Nasze aukcje"> Nasze aukcje </a></div>

<div id="baner"><img alt="" src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/banner.png" /></div>

<div id="kategorie" style="text-align:center;font-weight:bold;color:black;">KATEGORIE_ALLEGRO</div>

<div id="szablonMain">
<div id="szablonRight">
<div id="przedmiotem"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/przedmiot.png" /></div>

<div id="imgMain" style="color:black;">ZDJECIE_1</div>

<div id="szablonProduktNazwa"><b>NAZWA_PRODUKTU</b></div>

<div class="produktParametry">&nbsp;</div>
&nbsp;

<div id="szablonProduktOpisTitle">CHARAKTERYSTYKA</div>

<div id="szablonProduktOpis"><b>OPIS_PRODUKTU</b></div>

<div id="szablonProduktImgs" style="color:black;">GALERIA_PRODUKTU</div>

<div id="boksy">
<table>
	<tbody>
		<tr>
			<td style="background:url(http://www.higiena.d/public/images/strona/szablon/pytania.png) no-repeat -50px bottom #053886;" width="33%"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/masz_pytania.png" /><br />
			<br />
			<span>Upewnij się, że kupujesz<br />
			odpowiedni produkt </span><br />
			<br />
			<br />
			<br />
			<b style="color:#ffd800;">Zadzwoń</b><br />
			<br />
			<b style="font-size:28px;">664 599 789</b></td>
			<td style="background:url(http://www.higiena.d/public/images/strona/szablon/obsluga.png) no-repeat -10px bottom #ffd800;" width="33%"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/doskonala_obsluga.png" /><br />
			<br />
			<br />
			<br />
			<br />
			<span style="color:#2b2b2b;">Kupuj u nas.<br />
			Każdego klienta<br />
			traktujemy<br />
			wyjątkowo </span></td>
			<td style="background:url(http://www.higiena.d/public/images/strona/szablon/darmowa.png) no-repeat -20px bottom #053886;" width="33%"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/darmowa_wysylka.png" /><br />
			<br />
			<b>Tak, to możliwe !</b><br />
			<br />
			<br />
			<br />
			<br />
			<b style="color:#ffd800;">Przy zakupach powyżej<br />
			125 zł - przesyłka gratis </b></td>
		</tr>
	</tbody>
</table>
</div>

<div id="ikonki">
<table>
	<thead>
		<tr>
			<th><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/wysylka.png" /></th>
			<th><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/zwroty.png" /></th>
			<th><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/jakosc.png" /></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/24.png" /><br />
			Zam&oacute;w produkt,<br />
			a my wyślemy go do Ciebie<br />
			w ciągu 24 godzin</td>
			<td><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/load.png" /><br />
			Bezproblemowe zwroty towar&oacute;w,<br />
			bez podawania przyczyn,<br />
			zwrot pieniędzy na konto</td>
			<td><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/ok.png" /><br />
			Gwarantujemy<br />
			najwyższą jakość<br />
			sprzedawanych produkt&oacute;w</td>
		</tr>
	</tbody>
</table>
</div>

<div id="bezpieczne"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/bezpieczne.png" /></div>

<div id="kurierzy">
<table>
	<thead>
		<tr>
			<th><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/poczta2.png" /></th>
			<th><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/dpd2.png" /></th>
			<th><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/paczkomaty.png" /></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/poczta.png" />
			<table>
				<tbody>
					<tr>
						<th><strong><span>Wpłata na konto:</span></strong></th>
						<th>&nbsp;</th>
						<th><strong><span>Pobranie:</span></strong></th>
						<th>&nbsp;</th>
					</tr>
					<tr>
						<td><span>&bull; Odbi&oacute;r w punkcie</span><br />
						<span>&bull; Paczka 48</span><br />
						<span>&bull; Kurier 48</span></td>
						<td><b>6,00 PLN</b><br />
						<b>9,90 PLN</b><br />
						<b>11,50 PLN</b></td>
						<td><span>&bull; Odbi&oacute;r w punkcie</span><br />
						<span>&bull; Kurier 48</span></td>
						<td><b>10,90 PLN</b><br />
						<b>13,90 PLN</b></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img height="40" src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/dpd.png" /><br />
			<span>Wpłata na konto:</span><br />
			<b>&bull; 16,00 PLN</b><br />
			<br />
			<span><strong>Pobranie:</strong><br />
			<b>&bull; 19,00 PLN</b> </span></td>
			<td><img height="40" src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/inpost.png" /><br />
			<span>Wpłata na konto:</span><br />
			<b>&bull; 11,00 PLN</b></td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>

<div id="szablonStopka">
<div id="producenci"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/marke.png" />
<div style="color:black;">PRODUCENCI_ALLEGRO</div>
</div>

<div id="mapka"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/mapa2.jpg" /></div>

<div id="skontaktuj"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/skontaktuj.png" />
<div><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/tel3.png" /> <span>664 599 789</span></div>
<span> W tym miejscu moze byc opis o nas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. </span> <b> <b>Aletuczysto_pl</b><br />
Witold Pienkoś<br />
ul. T. Rejtana 8 bud.B<br />
35-310 Rzesz&oacute;w </b></div>

<div id="formy"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/formy.png" /> <span> <b>Numer rachunku bankowego:</b><br />
<span>Idea Bank S.A. 52 1950 0001 2006 0277 1957 0002</span> </span>

<div><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/idea2.png" /> <img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/payu2.png" /> <img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/pobranie2.png" /></div>
</div>

<div id="stopka"><img src="http://www.higiena.d//public/admin/szablony/Aletuczysto.pl%20-%20Produkt%20testowy_pliki/nasze.png" />
<div>Stopka inne aukcje</div>
</div>
</div>
</div>
</div>
