$fontsList: SourceSansPro-Black, 
            SourceSansPro-BlackIt, 
            SourceSansPro-Bold, 
            SourceSansPro-BoldIt, 
            SourceSansPro-ExtraLight,
            SourceSansPro-ExtraLightIt,
            SourceSansPro-It,
            SourceSansPro-Light,
            SourceSansPro-LightIt,
            SourceSansPro-Regular,
            SourceSansPro-Semibold,
            SourceSansPro-SemiboldIt,
            Lato-Black; 
$fontType: otf;

$fontsListQ:    Quicksand-Bold,
                Quicksand-Light,
                Quicksand-Regular;
$fontTypeQ: ttf;
                
@each $font in $fontsList {
    @font-face {
        font-family: '#{$font}';    
        src: url('../fonts/#{$font}.#{$fontType}') format('truetype');
    }
}

@each $font in $fontsListQ {
    @font-face {
        font-family: '#{$font}';    
        src: url('../fonts/#{$font}.#{$fontTypeQ}') format('truetype');
    }
}