<div id="sort" class="sortNagl2"><div class="nagl">Twoje rabaty</div></div>
<div id="podstronaTekst" class="podstronaRabaty">
<?php $title = ''; ?>
<?php $title.= 'Rabat klienta'; ?>
<?php $title.= '<span class="rabaty">'; ?>
<?php $title.= number_format($this->kontrahent['rabat'], 2, ',', ' '); ?>
<?php $title.= '&nbsp;%'; ?>
<?php $title.= '</span><br/><br/>'; ?>
<?php if(@count($this->kontrahent['rabaty']) > 0): ?>
<?php foreach($this->kontrahent['rabaty'] as $rabat): ?>
<?php if(@!empty($rabat['nazwa_prod_grupa']))$title.='Grupa:'.$rabat['nazwa_prod_grupa'];?>
<?php if(@!empty($rabat['nazwa_prod']))$title.=$rabat['nazwa_prod'];?>
<?php if(@!empty($rabat['nazwa_kateg']))$title.=$rabat['nazwa_kateg'];?>
<?php $title.= '<span class="rabaty">'; ?>
<?php $title.= number_format($rabat['wartosc_rab'], 2, ',', ' '); ?>
<?php $title.= '&nbsp;'.$rabat['typ_rab']; ?>
<?php $title.= '</span><br/>'; ?>
<?php endforeach; ?>
<?php endif; ?>
<?php if(@$this->pokazRabaty): ?>
<?php echo $title; ?>
<?php else: ?>
<a title="" class="see_ico" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $this->kontrahent['id']; ?>" onmouseover="return overlib('<?php echo htmlspecialchars($title); ?>', WIDTH, 350, TEXTSIZE, '10px', BGCLASS, 'rabatyPopup', CELLPAD, 5);" onmouseout="return nd();" tabindex="-1" style="display:inline-block;">Rabaty</a>
<?php endif; ?>
</div>