<div id="podstronaNagl"><?php echo $this->html['tytul']; ?></div>

<div id="podstronaTekst">

<?php echo $this->html['tekst']; ?>
		
<div id="mapa">
	<object type="application/x-shockwave-flash" data="<?php echo $this->baseUrl; ?>/public/flash/mapa.swf" width="340" height="300">
	<param name="quality" value="high" /> 
	<param name="movie" value="<?php echo $this->baseUrl; ?>/public/flash/mapa.swf" /> 
	<param name="wmode" value="transparent" /> 
	</object>
</div>

<div id="wyborWoj">
	<div id="wyborWojNagl">
		Wybierz województwo, aby zobaczyć listę sklepów:
	</div>
	<div id="wyborWojLinki">
		<table border="0">
		<tr>
		<?php $i = 0; foreach($this->wojew as $id => $woj): ?>
		<?php if($i>0 && $i%2==0): ?> </tr><tr> <?php endif; ?>
		<td width="215" height="20"><a class="woj" href="<?php echo $this->baseUrl; ?>/NaszeSklepy/woj/<?php echo $id; ?>"> &gt; woj. <?php echo $woj; ?></a></td>
		<?php $i++; endforeach; ?>
		</tr>
		</table>
	</div>
</div>

<?php if(isset($this->woj)): ?>
<div id="dealerzy">
	<div id="dealerzyNagl">
		Wybrałeś województwo: <b style="color:#3d5796;"><?php echo ucfirst($this->woj); ?></b> 
	</div>
	<div id="dealerzyTabela" style="text-align:center;">
		<?php if(false): ?>
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<th>Nazwa</th>
				<th>Miasto</th>
				<th>Kod</th>
				<th>Ulica</th>
				<th>Telefon</th>
				<th>Fax</th>
				<th>Email</th>
			</tr>
			<?php foreach($this->dealerzy as $dealer): ?>
			<tr>
				<td><?php echo $dealer['firma']; ?></td>
				<td><?php echo $dealer['miasto']; ?></td>
				<td><?php echo $dealer['kod']; ?></td>
				<td><?php echo $dealer['ulica']; ?></td>
				<td><?php echo $dealer['tel']; ?></td>
				<td><?php echo $dealer['fax']; ?></td>
			<td>
			<a class="mail" href="mailto:<?php echo $dealer['mail']; ?>"><?php echo $dealer['mail']; ?></td>
			</tr>
			<?php endforeach; ?>
		</table>
		<?php endif; ?>
		<?php foreach($this->dealerzy as $dealer): ?>
		<b><?php echo $dealer['firma']; ?></b><br/>
		<?php echo $dealer['ulica']; ?><br/>				
		<?php echo $dealer['kod']; ?> <?php echo $dealer['miasto']; ?><br/>
		tel. <?php echo $dealer['tel']; ?><br/>
		fax: <?php echo $dealer['fax']; ?><br/>
		e-mail: 
		<a class="mail" href="mailto:<?php echo $dealer['mail']; ?>"><?php echo $dealer['mail']; ?></a>
		<br/><br/>
		<?php endforeach; ?>
	</div>
</div>
<?php endif; ?>

</div>
