<div class="content">
    <h3 class="title1">
        Edytuj dane
    </h3>
    <div class="in p1 mh0">
        <?php if(isset($this->userdata)): ?>
            <div class="bt0 content_in form0">
                <?= isset($this->error)? $this->error: null; ?>
                <form method="post" action="">
                    <div class="row">
                        <label>Obecne hasło: *</label>
                        <input class="input st0" type="password" name="post[haslos]" value="<?= $this->data['haslos']; ?>" />
                    </div>
                    <div class="row">
                        <label>Hasło: *</label>
                        <input class="input st0" type="password" name="post[haslop]" value="<?= $this->data['haslop']; ?>" />
                    </div>
                    <div class="row">
                        <label>Powtórz hasło: *</label>
                        <input class="input st0" type="password" name="post[haslo]" value="<?= $this->data['haslo']; ?>" />
                        <div class="btn0b0">
                            <input class="btn0" type="submit" name="post[save]" value="zapisz" />
                        </div>
                    </div>
                </form>
                <br />
                <div class="frame_sum lf">Pole oznaczane <strong>*</strong> są wymagane. Hasło wymagane minimum 4 znaki.</div>
            </div>
        <?php else: ?>
        <div class="message ok">
            Brak treści do wyświetlenia.
        </div>
        <?php endif; ?>
    </div>
</div>