<div class="content">
    <h3 class="title1">
        Poleć znajomemu
    </h3>
    <div class="in p1 mh0">
        <?php if(isset($this->userdata)): ?>
        
            <div class="bt0 content_in form0">
                <?= isset($this->error)? $this->error: null; ?>
                <form method="post" action="">
                    <div class="row">
                        <label class="st4">E-mail znajomego: *</label>
                        <input class="input st0" type="text" name="post[email]" value="<?= isset($this->data['email'])? $this->data['email'] : ''; ?>" />
                    </div>
                    <div class="row">
                        <label class="st4">Tytuł: *</label>
                        <input class="input st3" type="text" name="post[tytul]" value="<?= isset($this->data['tytul'])? $this->data['tytul'] : ''; ?>" />
                    </div>
                    <div class="row">
                        <label class="st4">Treść: *</label>
                        <textarea class="textarea st3 lf" rows="" cols="" name="post[tresc]"><?= isset($this->data['tresc'])? $this->data['tresc'] : ''; ?></textarea>
                        <div class="btn0b0" id="btn0b0_Polec">
                            <input class="btn0" type="submit" name="post[save]" value="wyślij" />
                        </div>
                    </div>
                </form>
                <div class="frame_sum lf">Wyślij <strong>wiadomość e-mail</strong> do swoich znajomych.</div>
            </div>
        <?php else: ?>
        <div class="message ok">
            Brak treści do wyświetlenia.
        </div>
        <?php endif; ?>
    </div>
</div>