<div class="content">
    <h3 class="title1">
        Edytuj dane
    </h3>
    <div class="in p1 mh0">
        <?php if(isset($this->userdata)): ?>
            <div class="bt0 content_in form0">
                <?= isset($this->error)? $this->error: null; ?>
                <form method="post" action="">
                    <div class="row">
                        <label>Numer karty:</label>
                        <input class="input st0 disabled" disabled="disabled" type="text" value="<?= $this->userdata['karta']; ?>" />
                    </div> 
                    <div class="row">
                        <label>Nazwisko:</label>
                        <input class="input st0" type="text" name="post[nazwisko]" value="<?= $this->userdata['nazwisko']; ?>" />
                    </div>
                    <div class="row">
                        <label>Imię:</label>
                        <input class="input st0" type="text" name="post[imie]" value="<?= $this->userdata['imie']; ?>" />
                    </div>
                    <div class="row">
                        <label>Data urodzenia:</label>
                        <div class="calendar">
                            <input class="input st0 dataStart" type="text" name="post[data]" value="<?= $this->userdata['data']; ?>" />
                        </div>
                    </div>
                    <div class="row">
                        <label>Kod pocztowy:</label>
                        <input class="input st1" type="text" name="post[kod]" value="<?= $this->userdata['kod']; ?>" />
                        <label>&nbsp;&nbsp;&nbsp;Miejscowość:</label>
                        <input class="input st0" type="text" name="post[miasto]" value="<?= $this->userdata['miasto']; ?>" />
                    </div>
                    <div class="row">
                        <label>Ulica:</label>
                        <input class="input st0" type="text" name="post[ulica]" value="<?= $this->userdata['ulica']; ?>" />
                    </div>
                    <div class="row">
                        <label>Nr domu:</label>
                        <input class="input st1" type="text" name="post[nr]" value="<?= $this->userdata['nr']; ?>" />
                        <label>&nbsp;&nbsp;&nbsp;Nr mieszkania:</label>
                        <input class="input st1" type="text" name="post[mieszkanie]" value="<?= $this->userdata['nr']; ?>" />
                    </div>
                    <div class="row">
                        <label>Tel. komórkowy:</label>
                        <input class="input st0" type="text" name="post[telefon]" value="<?= $this->userdata['telefon']; ?>" />
                    </div>
                    <div class="row">
                        <label>E-mail:</label>
                        <input class="input st0" type="text" name="post[email]" value="<?= $this->userdata['email']; ?>" />
                    </div>
                    <div class="row">
                        <label>Lubię / kupuję:</label>
                        <input class="input st0" type="text" name="post[lubie]" value="<?= $this->userdata['lubie']; ?>" />
                        <div class="lf l0">&nbsp;&nbsp;/&nbsp;&nbsp;</div>
                        <input class="input st0" type="text" name="post[kupuje]" value="<?= $this->userdata['kupuje']; ?>" />
                    </div>
                    <div class="row">
                        <label>Stan konta:</label>
                        <input class="input st0 disabled" disabled="disabled" type="text" value="<?= $this->userdata['konto']; ?> zł" />
                        <div class="btn0b0">
                            <input class="btn0" type="submit" name="post[save]" value="zapisz" />
                        </div>
                        <div class="btn0b0">
                            <a class="btn0" href="<?= $this->baseUrl; ?>/<?= $this->controller; ?>/changepassword/">Zmiana hasła</a>
                        </div>
                    </div>
                </form>
            </div>
        <?php else: ?>
        <div class="message ok">
            Brak treści do wyświetlenia.
        </div>
        <?php endif; ?>
    </div>
</div>