<div class="content">
    <h3 class="title1">
        Społeczność
    </h3>
    <div class="in p1">
        <?php if(isset($this->rows)): ?>
            <div class="lf">
                <div class="row">
                    <form method="post" action="">
                        <label>Sortowanie wg:</label>
                        <select class="input" onchange="return this.form.submit();" name="order">
                            <option value="nazwisko" <?=(isset($this->sort) && $this->sort == 'nazwisko')? 'selected="selected"' : ''; ?>>nazwiska</option>
                            <option value="(zakupy+archiwum)" <?=(isset($this->sort) && $this->sort=='(zakupy+archiwum)')? 'selected="selected"' : ''; ?>>zakupu</option>
                            <option value="polecenie" <?=(isset($this->sort) && $this->sort == 'polecenie')? 'selected="selected"' : ''; ?>>kwoty polecenia</option>
                        </select>
                    </form>
                </div>
            </div>
        <?php endif; ?>
        <?php if(isset($this->row['id'])): ?>
        <div class="rf">
            <div class="friend_box">Polecony przez: <strong><?= $this->row['nazwisko'].', '.$this->row['imie']; ?></strong>&nbsp;<span>|</span>&nbsp;<a class="ico_cut" onclick="return confirm('Czy napewno chcesz odłączyć polecającego?');" href="<?= $this->baseUrl; ?>/<?= $this->controller; ?>/<?= $this->action; ?>/cutpol/<?= $this->row['id'] ?>">Odłącz</a></div>
        </div>
        <?php endif; ?>
        <?php if(isset($this->rows)): ?>
        <div class="content_in">
            <table class="cb table0" cellspacing="0" cellpadding="0" border="0">
                <colgroup>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="10%"/>
                </colgroup>
                <tbody>
                    <?php foreach($this->rows as $row): ?>
                    <tr>
                        <td><strong><?= $row['nazwisko'].', '.$row['imie']; ?></strong></td>
                        <td align="center">Zakupy: <?= number_format($row['zakupy']+$row['archiwum'],2,'.',''); ?> zł</td>
                        <td align="center">Dla ciebie: <?= number_format($row['polecenie'], 2,'.',''); ?> zł</td>
                        <td align="center">Od: <?= date('Y-m-d', strtotime($row['data_rej'])); ?></td>
                        <td align="center"><a class="ico_cut" onclick="return confirm('Czy napewno chcesz odłączyć poleconego?');" href="<?= $this->baseUrl; ?>/<?= $this->controller; ?>/<?= $this->action; ?>/cut/<?= $row['id'] ?>">Odłącz</a></td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?= $this->render('const/stronicowanie2.phtml'); ?>
        <div class="frame_sum lf">Wartośc wszystkich rabatów od znajomych: <strong><?= number_format($this->userdata['rabatpolecajacy'],2,'.',''); ?></strong> zł</div>
        <div class="cb"><br /></div>
        <div class="frame_sum lf"><span class="lf">Zobacz upominki od znajomych:&nbsp;&nbsp;</span><a class="btn1 lf" href="<?= $this->baseUrl; ?>/<?= $this->controller; ?>/gifts/">zobacz</a></div>
        <?php else: ?>
        <div class="message ok">
            Brak znajomych.
        </div>
        <?php endif; ?>
        <div class="cb"><br /></div>
        <div class="frame_sum lf"><span class="lf">Poleć znajomemu:&nbsp;&nbsp;</span><a class="btn1 lf" href="<?= $this->baseUrl; ?>/Polec-sklep/">Wyślij</a></div>
    </div>
</div>