<div class="content">
    <h3 class="title1">
        Społeczność &rarr; Upominki
    </h3>
    <div class="in p1">
        <?php if(isset($this->rows) && count($this->rows) > 0): ?>
        <div class="content_in">
            <table class="cb table0" cellspacing="0" cellpadding="0" border="0">
                <colgroup>
                    <col width="5%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="20%"/>
                    <col width="10%"/>
                </colgroup>
                <thead>
                    <th>L.p.</th>
                    <th>Data otrzymania</th>
                    <th>Upominek od znajomego</th>
                    <th>Upominek odebrany</th>
                    <th>Data odebrania</th>
                    <th>Zobacz upominki</th>
                </thead>
                <tbody>
                    <?php $k =1; foreach($this->rows as $row): ?>
                    <tr class="<?= $this->style; ?>">
                        <td align="left"><?= $k++; ?>.</td>
                        <td align="center"><strong><?= date('Y-m-d H:i', strtotime($row['data'])); ?></strong></td>
                        <td align="center"><?= isset($this->friends[$row['idkl']]) ? $this->friends[$row['idkl']]['nazwisko'].' '.$this->friends[$row['idkl']]['imie'] : 'brak danych'; ?></td>
                        <td align="center">
                            <?php if(!empty($row['upominekwybrany'])): ?>
                                <b class="green">Tak</b>
                            <?php else: ?>
                                <b class="red">Nie</b>
                            <?php endif; ?>
                        </td>
                        <td align="center"><?= !empty($row['dataodebrania']) ? date('Y-m-d H:i', strtotime($row['dataodebrania'])) : '-'; ?></td>
                        <td align="center"><a class="btn1" href="<?= $this->baseUrl; ?>/uzytkownik/gift/id/<?= $row['id']; ?>">zobacz</a></td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <div class="rf">
                <br />
                <a class="btn1" href="<?= $this->baseUrl; ?>/<?= $this->controller; ?>/friends/">Społeczność</a>
            </div>
        </div>
        <?= $this->render('const/stronicowanie2.phtml'); ?>
        <?php else: ?>
        <div class="message ok">
            Brak upominków od znajomych.
        </div>
        <?php endif; ?>
    </div>
</div>