<div class="content">
    <h3 class="title1">
        Społeczność &rarr; Upominki
    </h3>
    <div class="in p1 mh0">
        <?php if(isset($this->rows)): ?>
        <div class="bt0 content_in form0">
            <?php if(!empty($this->rows['upominkilista']) && is_string($this->rows['upominkilista'])): ?>
                <div class="row">
                    <label class="w3">Data otrzymania:</label>
                    <input class="input st0" disabled="disabled" type="text" value="<?= date('Y-m-d H:i', strtotime($this->rows['data'])); ?>" />
                </div>
                <div class="row">
                    <label class="w3">Od zakupu znajomego:</label>
                    <input class="input st0" disabled="disabled" type="text" value="<?= isset($this->friends[$this->rows['idkl']]) ? $this->friends[$this->rows['idkl']]['nazwisko'].' '.$this->friends[$this->rows['idkl']]['imie'] : 'brak danych'; ?>" />
                </div>
                <div class="row">
                    <label class="w3">Odebrano:</label>
                    <span class="lf <?= !empty($this->rows['upominekwybrany'])? 'green': 'red'; ?>"><?= !empty($this->rows['upominekwybrany'])? 'TAK' : 'NIE'; ?></span>
                </div>
                <br />
                <div class="row"><label class="wa">Lista upominków do wyboru: </label></div>
                <br />
                <div class="bt0 form0"></div>
                <table cellpadding="0" cellspacing="10" border="0">
                    <?php $rows = unserialize($this->rows['upominkilista']); foreach($rows as $row): ?>
                    <tr>
                        <td align="center">
                            <?php if(!empty($row['img'])): ?>
                                <img width="100" src="<?= $this->baseUrl; ?>/public/admin/upominki/<?= $row['img']; ?>" alt="" />
                            <?php else: ?>
                                <img width="100" src="<?= $this->baseUrl; ?>/public/images/admin/brak.jpg" alt="" />
                            <?php endif; ?>
                        </td>
                        <td>
                            <input <?= $this->rows['upominekwybrany'] == $row['id'] ? 'checked="checked"' : ''; ?> disabled="disabled" type="radio" name="post[upominekwybrany]" value="<?= $row['id']; ?>" />
                        </td>
                        <td>
                            <label style="width:150px;"><?= $row['nazwa']; ?></label>
                        </td>
                        <td>
                            <?= !empty($this->rows['dataodebrania']) ? ',odebrano: <b>'.$this->rows['dataodebrania'].'</b>': ''; ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </table>
                <div class="rf">
                    <br />
                    <a class="btn1" href="<?= $this->baseUrl; ?>/<?= $this->controller; ?>/gifts/">Upominki</a>
                </div>
            <?php else: ?>
                <div class="message ok">
                    Brak upominków od znajomych.
                </div>
            <?php endif; ?>
        </div>
        <?php else: ?>
        <div class="message ok">
            Brak upominków od znajomych.
        </div>
        <?php endif; ?>
    </div>
</div>