<div class="content">
    <h3 class="title1">
        <span class="lf">Twoje zakupy &nbsp;</span>
        <span class="btn1 lf scrollbtn zwin" id="jq-btn2" onclick="return zwin('jq_chart2c', this.id);">zwiń &and;</span>
        <div class="rf">
            <form method="post" action="">
                <select class="input" onchange="return this.form.submit();" style="width: 80px;" name="rok">
                    <?php for($i=2010; $i<=date('Y'); $i++): ?>
                        <option value="<?= $i; ?>" <?=(isset($this->rok) && $this->rok == $i)? 'selected="selected"' : ''; ?>><?= $i; ?></option>
                    <?php endfor; ?>
                </select>
            </form>
        </div>
    </h3>
    <div id="jq_chart2c" class="in p1">
        <?php if(isset($this->wykreszakupy)): ?>
        <script type="text/javascript">
            var datezame = [
              ["Tydzień", "Ty", "Znajomi"],
              ["", 0,0],
              <?php foreach($this->wykreszakupy as $key=>$ar): $i=1; ?>
                <?php $ile = count($ar); $k=0; foreach($ar as $row): ?>
                    ["<?= $row[1].' '.$row[0]; ?>",<?= $row[2]; ?>,<?= $row[3]; ?>]<?php if($k < $ile): ?>,<?php endif; ?>
                <?php $i++; $k++; endforeach; ?>
              <?php endforeach; ?>
            ];
            google.load("visualization", "1", {packages:["corechart"]});
            google.setOnLoadCallback(drawChart2);
            function drawChart2() {
            var data = google.visualization.arrayToDataTable(datezame);

            var options = {
              title: 'Twoje zakupy [ZŁ / Tygodnie]'
            };
            var chart = new google.visualization.LineChart(document.getElementById('jq_chart2'));
                chart.draw(data, options);
            }
        </script>
        <div id="jq_chart2" class="char"></div>
        <?php else: ?>
        <div class="message ok">
            Brak zakupów w roku <?= $this->rok; ?>.
        </div>
        <?php endif; ?>
    <div class="frame_sum lf">Suma wszystkich twoich zakupów: <strong><?= number_format($this->allsales,2,'.',''); ?></strong> zł</div>     
    </div>
</div>
<div class="content">
    <h3 class="title1">
        <span class="lf">Twoi znajomi &nbsp;</span>
        <span class="btn1 lf scrollbtn zwin" id="jq-btn1" onclick="return zwin('jq_chart1c', this.id);">zwiń &and;</span>
        <div class="rf">
            <form method="post" action="">
                <select class="input" onchange="return this.form.submit();" style="width: 80px;" name="rok">
                    <?php for($i=2010; $i<=date('Y'); $i++): ?>
                        <option value="<?= $i; ?>" <?=(isset($this->rok) && $this->rok == $i)? 'selected="selected"' : ''; ?>><?= $i; ?></option>
                    <?php endfor; ?>
                </select>
            </form>
        </div>
    </h3>
    <div id="jq_chart1c" class="in p1">
        <?php if(isset($this->wykresznajomi)): ?>
        <script type="text/javascript">
            var dateusers = [
                  ["Tydzień", "Znajomi"],
                  ["", 0],
                  <?php foreach($this->wykresznajomi as $key=>$ar): $i=1; ?>
                    <?php $ile = count($ar); $k=0; foreach($ar as $row): ?>
                        ["<?= $row[1].' '.$row[0]; ?>",<?= $row[2]; ?>]<?php if($k < $ile): ?>,<?php endif; ?>
                    <?php $i++; $k++; endforeach; ?>
                  <?php endforeach; ?>
              ];
              google.load("visualization", "1", {packages:["corechart"]});
              google.setOnLoadCallback(draw3Chart);
              function draw3Chart() {
                var data = google.visualization.arrayToDataTable(dateusers);

                var options = {
                  title: 'Twoi znajomi [Osób / Tygodnie]'
                };

                var chart = new google.visualization.LineChart(document.getElementById('jq_chart1'));
                chart.draw(data, options);
              }
        </script>
        <div id="jq_chart1" class="char"></div>
        <?php else: ?>
        <div class="message ok">
            Brak poleconych w roku <?= $this->rok; ?>.
        </div>
        <?php endif; ?>
        <div class="frame_sum lf">Wszystkich znajomych: <strong><?= $this->iloscznajomi; ?></strong> os.</div>
    </div>
</div>