<div class="content">
    <h3 class="title1">
        <?= $this->row['temat']; ?>
    </h3>
    <div class="in p1 mh0">
        <?php if(isset($this->row)): ?>
            <div class="bt0 content_in"><?= stripslashes($this->row['tekst']); ?></div>
        <?php else: ?>
        <div class="message ok">
            Brak treści do wyświetlenia.
        </div>
        <?php endif; ?>
    </div>
</div>