<div class="box_user">
    <?= $this->render($this->controller.'/static/leftcolumn.phtml'); ?>
    <div class="right_column">
        <?= $this->render($this->controller.'/static/topcolumn.phtml'); ?>
        <?= $this->render($this->controller.'/'.$this->action.'.phtml'); ?>
    </div>
</div>
