<div class="content">
    <h3 class="title1">
        Moje zakupy
    </h3>
    <div class="in p1">
        <?php if(isset($this->rows)): ?>
            <div class="lf">
                <div class="row">
                    <form method="post" action="">
                        <label>Sortowanie wg:</label>
                        <select class="input" onchange="return this.form.submit();" name="order">
                            <option value="kwotazaplata" <?=(isset($this->sort) && $this->sort == 'kwotazaplata')? 'selected="selected"' : ''; ?>>kwota</option>
                            <option value="data" <?=(isset($this->sort) && $this->sort == 'data')? 'selected="selected"' : ''; ?>>data</option>
                        </select>
                    </form>
                </div>
            </div>
        <?php endif; ?>
        <?php if(isset($this->rows)): ?>
        <div class="content_in">
            <table class="cb table0" cellspacing="0" cellpadding="0" border="0">
                <colgroup>
                    <col width="5%" />
                    <col width="10%" />
                    <col width="5%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                </colgroup>
                <thead>
                    <th>L.p.</th>
                    <th>Data</th>
                    <th>Upominek</th>
                    <th>Rabat otrzymany</th>
                    <th>Rabat wykorzystany</th>
                    <th>Kwota zakupu</th>
                    <th>Zapłaciłeś</th>
                </thead>
                <tbody>
                    <?php $k=1; foreach($this->rows as $row): ?>
                    <tr>
                        <td align="left"><?= $k++; ?>.</td>
                        <td align="left"><strong><?php $ex = explode(' ', $row['data']); echo $ex[0]; ?></strong></td>
                        <td align="center">
                        <?php if(!empty($row['upominekwyk'])): ?>
                            <b class="green">Tak</b><a title=" <? $ex = explode('|-|', $row['upominekwyk']); echo $ex[0]; ?> " class="jQ_tooltip ico_see rf"></a>
                        <?php else: ?>
                            <b class="red">Nie</b>
                        <?php endif; ?>
                        </td>
                        <td align="center"><b class="green">+ <?= $row['rabatotrz']; ?></b> zł</td>
                        <td align="center"><b class="red">- <?= $row['rabatwyk']; ?></b> zł</td>
                        <td align="center"><b class="gold"><?= $row['wartosc_zamowienia']; ?></b> zł</td>
                        <td align="center"><b class="green"><?= $row['kwotazaplata']; ?></b> zł</td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?= $this->render('const/stronicowanie2.phtml'); ?>
        <div class="frame_sum lf">Suma wszystkich twoich zakupów: <strong><?= number_format($this->allsales,2,'.',''); ?></strong> zł</div>
        <div class="cb"><br /></div>
        <div class="cb frame_sum lf">Suma wszystkich twoich rabatów za zakupy: <strong><?= number_format($this->userdata['rabatotrz'], 2, '.',''); ?></strong> zł</div>
        <div class="cb"><br /></div>
        <div class="cb frame_sum lf">Suma wszystkich twoich rabatów od znajomych: <strong><?= number_format($this->userdata['rabatpolecajacy'],2,'.',''); ?></strong> zł</div>
        
        <?php else: ?>
        <div class="message ok">
            Brak zakupów.
        </div>
        <?php endif; ?>
    </div>
</div>