<div class="container p1">
	<div class="top_l"></div>
	<div class="top_r"></div>
	<div class="content_cont">
		<div class="modul_container">
			<div class="modul">
				<div class="product_content">
		        	<h3 class="title3 noheight"><?php echo ucfirst($this->translate('finalizacja_zamowienia')); ?></h3>
		        	<div class="error_container">
  						<?php echo $this->wiadomosc; ?>
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div class="bottom_l"></div>
	<div class="bottom_r"></div>
</div>