<div id="tresc">
    <div id="tresc_top"></div>
    <div id="menu_lewe">
    </div>
    <div id="tresc_strony">
        <div id="tytul_strony">Płatności online</div>

        <div style="float: left; font-size: 15px; margin-top: 20px; width: 100%; text-align: center; _display: inline;">
		  	W celu dokonania platności w systemie Paypal<br/>prosimy o kliknięcie na obrazek ponizej.
        </div>
		<!--https://www.sandbox.paypal.com/cgi-bin/webscr-->
		<form name="payform" action="https://www.paypal.com/cgi-bin/webscr" method="post" style="float: left; margin-left: 266px; width: auto;">
			<input type="hidden" name="cmd" value="_cart">
			<input type="hidden" name="upload" value="1">
			<input type="hidden" name="business" value="<?php echo $this->conf->From;?>">
			<input type="hidden" name="currency_code" value="PLN">
			<input type="hidden" name="charset" value="utf-8">
			<!--<input type="hidden" name="page_style" value="paypal">-->
			
			<!--<input type="hidden" name="image_url" value="<?php //echo $this->www;?>/public/images/strona/logo_for_paypal.png">--><!--150x150-->
			<!--<input type="hidden" name="cpp_header_image" value="">--><!--750x90-->
			<!--<input type="hidden" name="cpp_headerback_color" value="">-->
			<!--<input type="hidden" name="cpp_headerborder_color" value="">-->
			<!--<input type="hidden" name="cpp_payflow_color" value="">-->			
			<input type="hidden" name="cs" value="0">
			
			<input type="hidden" name="no_note" value="1">
			<input type="hidden" name="cn" value="Opis zamówienia">
			<input type="hidden" name="no_shipping" value="0">
			<input type="hidden" name="invoice" value="<?php echo $this->kontrahent['id']; ?>">
			<input type="hidden" name="return" value="<?php echo $this->www.'/zamowienia/zamowieniepaypalpowrot/id/'.$this->kontrahent['id'].'/ok/1';?>">
			<input type="hidden" name="rm" value="0">
			<input type="hidden" name="cbt" value="Wróć do sklepu">
			<input type="hidden" name="cancel_return" value="<?php echo $this->www.'/zamowienia/zamowieniepaypalpowrot/id/'.$this->kontrahent['id'].'/ok/0';?>">
			<input type="hidden" name="notify_url" value="<?php echo $this->www.'/platnosci/index/paypal';?>">
			<input type="hidden" name="shopping_url" value="<?php echo $this->www.'/Oferta';?>">
			<!--<input type="hidden" name="shipping" value="<?php echo $this->kontrahent['koszt_dostawy'];?>">-->
			<!--<input type="hidden" name="handling" value="<?php echo $this->kontrahent['koszt_dostawy'];?>">-->
			<input type="hidden" name="handling_cart" value="<?php echo $this->kontrahent['koszt_dostawy'];?>">
			
			<?php $i=1; foreach($this->produkty as $prod): ?>
			<input type="hidden" name="item_name_<?php echo $i;?>" value="<?php echo $prod['nazwa'];?>">
			<input type="hidden" name="item_number_<?php echo $i;?>" value="<?php echo $prod['id_prod'];?>">
			<input type="hidden" name="quantity_<?php echo $i;?>" value="<?php echo $prod['ilosc'];?>">
			<input type="hidden" name="amount_<?php echo $i;?>" value="<?php echo $prod['cena_brutto'];?>">
			<!--<input type="hidden" name="tax_<?php echo $i;?>" value=".15">-->
			<?php $i++; endforeach; ?>
			
			<input type="hidden" name="first_name" value="<?php echo $this->kontrahent['imie']; ?>"/>
            <input type="hidden" name="last_name" value="<?php echo $this->kontrahent['nazwisko']; ?>"/>
            <input type="hidden" name="email" value="<?php echo $this->kontrahent['email']; ?>"/>
			<input type="hidden" name="night_phone_a" value="48"/>
			<input type="hidden" name="night_phone_b" value="<?php echo $this->kontrahent['telefon']; ?>"/>
			<!--<input type="hidden" name="night_phone_c" value=""/>-->
            <input type="hidden" name="address1" value="<?php echo $this->kontrahent['ulica']; ?>"/>
            <input type="hidden" name="address2" value="<?php echo $this->kontrahent['nr'];
			if(!empty($this->kontrahent['mieszkanie'])) echo '/'.$this->kontrahent['mieszkanie'];?>"/>           
            <input type="hidden" name="zip" value="<?php echo $this->kontrahent['kod']; ?>"/>
			<input type="hidden" name="city" value="<?php echo $this->kontrahent['miasto']; ?>"/>
			<!--<input type="hidden" name="state" value="<?php //echo $this->kontrahent['wojew']; ?>"/>-->
			<input type="hidden" name="country" value="PL"/>
			<input type="hidden" name="lc" value="PL"/>
			
			<input type="image" value="PayPal" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" style="float: left; margin-left: 40px; margin-top:20px;">
		</form>
		<script>
            document.payform.submit();
        </script>

        <div style="float: left; width: 100%; height: 30px;"></div>
    </div>
</div>