<div id="podstronaNagl">PayU</div>

<div id="podstronaTekst">
    <div id="tresc_strony">

        <div style="float: left; font-size: 15px; margin-top: 20px; width: 100%; text-align: center; _display: inline;">
		  	<?php echo ucfirst($this->translate('wybierz')); ?> <?php echo $this->translate('sposob_platnosci'); ?>
        </div>
		
		<script language="JavaScript" type="text/JavaScript" src="https://www.platnosci.pl/paygw/UTF/js/<?php echo $this->pos['pos_id']; ?>/<?php echo substr($this->pos['key1'], 0, 2); ?>/paytype.js"></script>
		
        <form id="payform" action="https://www.platnosci.pl/paygw/UTF/NewPayment"method="POST" name="payform" style="float: left; margin-left: 0px; width: 100%; text-align:center;">
            <input type="hidden" name="first_name" value="<?php echo $this->kontrahent['imie']; ?>"/>
            <input type="hidden" name="last_name" value="<?php echo $this->kontrahent['nazwisko']; ?>"/>
            <input type="hidden" name="email" value="<?php echo $this->kontrahent['email']; ?>"/>
            <input type="hidden" name="street" value="<?php echo $this->kontrahent['ulica']; ?>"/>
            <input type="hidden" name="street_hn" value="<?php echo $this->kontrahent['nr']; ?>"/>
            <input type="hidden" name="city" value="<?php echo $this->kontrahent['miasto']; ?>"/>
            <input type="hidden" name="post_code" value="<?php echo $this->kontrahent['kod']; ?>"/>
            <input type="hidden" name="pos_id" value="<?php echo $this->pos['pos_id']; ?>" />
            <input type="hidden" name="pos_auth_key" value="<?php echo $this->pos['pos_auth_key']; ?>" />
            <input type="hidden" name="session_id" value="<?php echo $this->kontrahent['id']; ?>" />
            <input type="hidden" name="amount" value="<?php echo ($this->kontrahent['wartosc_zamowienia'] + $this->kontrahent['koszt_dostawy']) * 100; ?>" />
            <input type="hidden" name="order_id" value="<?php echo $this->kontrahent['id']; ?>" />
            <?php
            $info = ucfirst($this->translate('zamowienie')) .' # ' . $this->kontrahent['id'] . ', ' . date('Y-m-d');
            $opis = $this->kontrahent['imie'] . ' ' . $this->kontrahent['nazwisko'] . ' - ' . $this->kontrahent['email'];
            ?>
            <input type="hidden" name="desc" value="<?php echo $info; ?>" />
            <input type="hidden" name="desc2" value="<?php echo $opis; ?>" />
            <!--<input type="hidden" name="pay_type" value="t" />-->
            <input type="hidden" name="js" value="0"/>
            <input type="hidden" name="client_ip" value="<?php echo $_SERVER ["SERVER_ADDR"]; ?>" />
			
			<script language="JavaScript" type="text/JavaScript">
				PlnDrawRadioImg(5);
			</script>
			
            <input type="submit" value="" id="platnosci_button" class="nfi" style="float:none!important;"/>
        </form>
        <script>
			document.payform.js.value=1;
            //document.payform.submit();
        </script>

        <div style="float: left; width: 100%; height: 30px;"></div>
    </div>
</div>