<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut jednostki miary</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem jednostki miary:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Jednostki miary</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div id="box_display" class="db">
						<form action="" method="post" enctype="multipart/form-data">                   
							<input type="hidden" name="id" value="<?php echo $this->pojedynczy->id;?>"/>
							<div class="form_title"><h2 class="title4">Edytuj jednostki miary</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="<?php echo $this->pojedynczy->nazwa;?>" />
								</div>
							</div>
							<div class="form_row">
								<label>Typ:</label>
								<div class="input_bg_radio">
									<input type="radio" id="jedn_miary_typ_int" name="typ" value="int" <?php if($this->pojedynczy->typ=="int") echo 'checked="checked"';?> style="float:left;" />
									<label for="jedn_miary_typ_int" style="width:200px;">W jednostkach naturalnych</label>
									<br/>
									<input type="radio" id="jedn_miary_typ_float" name="typ" value="float" <?php if($this->pojedynczy->typ=="float") echo 'checked="checked"';?> style="float:left;" />
									<label for="jedn_miary_typ_float" style="width:200px;">W jednostkach rzeczywistych</label>
								</div>
							</div>
	                 		<?php if($this->edycjazablokowana === false): ?>
							<div class="form_row">								
								<div class="button_form m2">
									<div class="button1">
										<input type="submit" name="edytuj" value="Zapisz" />	
									</div>
								</div>
							</div>
							<?php endif; ?>
						</form>
					</div>
					
					<!--Lista jednostki-->
					<?php if(isset($this->jednostki) && count($this->jednostki) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="50%"/>
									<col width="20%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Typ</th>
									<th>Domyślna</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->jednostki as $jednostka): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $jednostka->nazwa; ?>
									</td>
									<td class="first img">
										<?php if($jednostka->typ == 'int') echo 'naturalne'; ?>
										<?php if($jednostka->typ == 'float') echo 'rzeczywiste'; ?>
									</td>
									<td align="center">
										<?php if($jednostka->glowna): ?>
										<a title="Domyślna" class="ok_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/jednostkimiary/dodaj/glowna/<?php echo $jednostka->id;?>">Domyślna</a>
										<?php else: ?>
										<a title="Domyślna" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/jednostkimiary/dodaj/glowna/<?php echo $jednostka->id;?>">Domyślna</a>
										<?php endif; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/jednostkimiary/edytuj/id/<?php echo $jednostka->id;?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/jednostkimiary/dodaj/delid/<?php echo $jednostka->id;?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych jednostek miary.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>