<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
        <span class="link_path_end">Konfiguracja <?= $this->title; ?></span>	
    </div>
    <div class="container">	
        <div class="box_main_title">
            <img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
            <h2 class="title2 p1">Ustawienia <?= $this->title; ?></h2>
        </div>
        <div class="box_title">
            <h3 class="title3">Konfiguracja <?= $this->title; ?>:</h3>	
        </div>
        <div class="content">
            <div class="left_side">
                <ul class="menu_left">
                    <li><span class="hover"><?= $this->title; ?>:</span></li>
                </ul>
            </div>
            <div class="right_side">
                <?php if(!empty($this->error)): ?><div class="error_container"><?php echo  $this->error; ?></div><?php endif; ?>
                <div class="box_form user_add">
                    <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane. <br />Podajemy <b>login na którym logujemy się do panelu przelewy24.pl</b><br /><b>Klucz do CRC</b> znajdziemy po zalogowaniu do konta w zakładce <b>Moje dane</b></div>
                    <form name="conf" action="" method="post" enctype="multipart/form-data">                   
                        <div class="form_row">
                            <label class="required">Identyfikator sprzedawcy:</label>
                            <div class="input_bg">
                                <input type="text" name="post[idsprzedawcy]" value="<?php echo $this->dane['idsprzedawcy']; ?>" />
                            </div>
                        </div>	
                        <div class="form_row">
                            <label class="required">Klucz do CRC:</label>
                            <div class="input_bg">
                                <input type="text" name="post[crc]" value="<?php echo $this->dane['crc']; ?>" />
                            </div>
                            <div class="button1" style="margin-left: 10px;">
                                <input type="submit" name="zapisz" value="Zapisz" />	
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>