body { font-size:62.5%; margin:10px; color:#333; }
div#message { padding:1em 20px; border:2px solid #aaa; background:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; width:430px; margin-bottom:20px; }
div#message h1 { font-size:1.9em; font-weight:bold; padding-left:30px; background:url(../images/icon-warning.png) left .2em no-repeat; }
div#message p { font-size:1.4em; }
div#message h2 { font-size:1.5em; font-weight:normal; }
div#message ul { border-top:1px solid #aaa; padding-left:0; margin-left:16px; }
div#message li { line-height:1; font-size:1.3em; color:#000; border-bottom:1px solid #aaa; padding:.5em 40px .5em 30px; background:url(../images/icon-file-warning.png) left center no-repeat; display:block; list-style:none; overflow:hidden; }
div#message li span.file { float:left; }
div#message li em { color:#666; font-style:italic; float:right; font-size:.9em; }
.collapsible-heading { padding-left:15px; background:url(../images/icon-triangle.png) 0 6px no-repeat; cursor:pointer; }
.collapsible-heading-collapsed { background-position:0 -84px; }
.collapsible-heading-toggle { text-decoration:none; color:#333; }
.collapsible-heading-status { position:absolute; left:-99999px; }
.collapsible-content { overflow:hidden; }
.collapsible-content-collapsed { display:none; }