<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut slajd</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem slajd:</h3>	
		</div>
		<?php if(@count($this->slajd) > 0): ?>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/slider/edytuj/">Dodaj nowy slajd</a>
		</div>
		<?php endif; ?>
		<div class="content">

			<div class="right_side2">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<?php if($this->obConfig->slajdyUstawEdycja): ?>
					<div class="form_title"><h2 class="title4">Ustawienia slajdów</h2></div>
					<form action="" method="post">
					<div class="form_row">
						<label class="required big">Kolor tekstu:</label>
						<?php $kolor = @$this->ustaw['color']; ?>
						<?php $kolor = !empty($kolor) ? $kolor : 'FFFFFF'; ?>
						<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor; ?>;">
							<input type="hidden" name="ustaw[color]" value="<?php echo $kolor; ?>" />
						</div>
					</div>
					<div class="form_row">
						<label class="required big">Kolor tła tekstu:</label>
						<?php $kolor = @$this->ustaw['backgr']; ?>
						<?php $kolor = !empty($kolor) ? $kolor : '000000'; ?>
						<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor; ?>;">
							<input type="hidden" name="ustaw[backgr]" value="<?php echo $kolor; ?>" />
						</div>
					</div>
					<div class="form_row">
						<label class="required big">Przeźroczystość tła tekstu:</label>
						<div class="input_bg_tiny" style="width:600px;">
							<input type="text" name="ustaw[opacity]" value="<?php echo @$this->ustaw['opacity']; ?>" />
							(od 0 do 100), 0 - całkowita przeźroczytość; 100 - brak przeźroczystości
						</div>
					</div>
					<div class="form_row">
						<label class="required big">Wtapianie (fade) przy zmianie zdjęć:</label>
						<div class="input_bg_tiny" style="width:600px;">
							<input type="text" name="ustaw[fade]" value="<?php echo @$this->ustaw['fade']; ?>" />
							(od 0 do 100), 0 - całkowite wtapianie; 100 - brak wtapiania
						</div>
					</div>
					<div class="form_row">
						<label class="required big">Szybkość zmiany zdjęć (czas trwania fade):</label>
						<div class="input_bg_tiny" style="width:600px;">
							<input type="text" name="ustaw[fade_speed]" value="<?php echo @$this->ustaw['fade_speed'];?>">
							(sekund)
						</div>
					</div>
					<div class="form_row">
						<label class="required big">Zoom:</label>
						<div class="input_bg_tiny" style="width:600px;">
							<input type="text" name="ustaw[zoom]" value="<?php echo @$this->ustaw['zoom']; ?>" />
							(od 0 do 100), 0 - brak efektu zoom; 100 - powiększ zdjęcie dwukrotnie
						</div>
					</div>
					<div class="form_row">
						<label class="required big">Czas wyświetlania zdjęć:</label>
						<div class="input_bg_tiny" style="width:600px;">
							<input type="text" name="ustaw[speed]" value="<?php echo @$this->ustaw['speed']; ?>" />
							(sekund)
						</div>
					</div>
					<div class="form_row">
						<label class="big">&nbsp;</label>
						<div class="button1" style="margin-left:0px;">
							<input type="submit" name="submit" value="Zapisz" />	
						</div>
					</div>
					</form>
					<?php endif; ?>
					
					<form action="" method="post" enctype="multipart/form-data">
					<div class="form_title">
					<h2 class="title4">
						<?php echo @count($this->slajd) > 0 ? 'Edytuj' : 'Dodaj'; ?> slajd
						(optymalna wielkość dodawanego zdjęcia: 
						<?php echo $this->ImageDir->SlajdyX; ?>px x <?php echo $this->ImageDir->SlajdyY; ?>px)
					</h2>
					</div>
					<div class="form_row">
						<label class="<?php echo @count($this->slajd) > 0 ? '' : 'required'; ?>">Plik:</label>
						<div class="input_bg">
							<?php 
							if(strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE): ?>
							<input type="file" name="img[]" class="multi" accept="jpg" />
							<?php else: ?>
							<input type="file" name="img[]" id="filesToUpload" multiple="" onchange="pliki(false);"/>	
							<div id="plikiDiv"></div>
							<?php endif; ?>
							<!--<input type="file" id="imgFile" name="imgFile" />-->
						</div>
					</div>
					<?php if($this->obConfig->slajdyLink): ?>
					<div class="form_row">
						<label class="">Link:</label>
						<div class="input_bg w1">
							<input type="text" name="link" value="<?php echo @$this->slajd['link'];?>" />
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->slajdyOpisShort): ?>
					<div class="form_row">
						<label class="">Opis:</label>
						<div class="input_bg w1">
							<textarea name="opis"><?php echo @$this->slajd['opis'];?></textarea>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->slajdyOpisTekst): ?>
					<div class="form_row">
						<label class="">Opis:</label>
						<div class="input_bg w1">
							<?php echo $this->editor; ?>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->slajdyOpisPoz): ?>
					<div class="form_row">
						<label class="">Pozycja opisu:</label>
						<div class="input_bg_small">
						<input type="hidden" id="opisPoz" name="opisPoz" value="<?php echo @$this->slajd['opis_poz'];?>">
						<?php $znaki = array(8598,8593,8599,8592,8596,8594,8601,8595,8600); ?>
						<?php for($q = 1; $q <= 9; $q++): ?>
						<input type="button" id="poz<?php echo $q;?>" value="&#<?php echo @$znaki[$q-1];?>;" class="poz<?php if(@$this->slajd['opis_poz'] == $q) echo ' pressed';?>" onclick="$(this).parent().find('.poz').removeClass('pressed'); $(this).addClass('pressed'); $('#opisPoz').val(<?php echo $q;?>);" />
						<?php if($q % 3 == 0): ?><br/><?php endif; ?>
						<?php endfor; ?>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->slajdyCzas): ?>
					<div class="form_row">
						<label class="">Czas:</label>
						<div class="input_bg_small">
							<input type="text" name="czas" value="<?php echo @$this->slajd['czas'] ? $this->slajd['czas'] : 5; ?>" />
						</div>
					</div>
					<?php endif; ?>
					<div class="form_row">
						<label class="">Aktywny:</label>
						<div class="input_bg_radio">
							<input type="hidden" name="aktywny" value="0" />
							<input type="checkbox" name="aktywny" value="1" <?php if(@count($this->slajd) == 0 || @$this->slajd['aktywny']) echo 'checked="checked"';?> />
						</div>
					</div>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="slideZapisz" value="Zapisz" />	
						</div>
					</div>
					</form>
					
					<!--Lista slajd-->
					<?php if(isset($this->slajdy) && count($this->slajdy) > 0): ?>
					
						<div class="box_foto_product">
							<form action="" method="post">
							<table class="foto_box">
								<colgroup>
									<col width=""/>
									<?php if($this->obConfig->slajdyLink): ?>
									<col width="25%"/>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyOpisShort): ?>
									<col width="25%"/>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyOpisPoz): ?>
									<col width="16%"/>									
									<?php endif; ?>
									<?php if($this->obConfig->slajdyCzas): ?>
									<col width="5%"/>
									<?php endif; ?>
									<col width="5%"/>
									<?php if($this->obConfig->slajdyPozycja): ?>
									<col width="5%"/>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyGlowny): ?>
									<col width="5%"/>
									<?php endif; ?>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>Slajd</th>
									<?php if($this->obConfig->slajdyLink): ?>
									<th>Link</th>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyOpisShort): ?>
									<th>Opis</th>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyOpisPoz): ?>
									<th>Pozycja opisu</th>									
									<?php endif; ?>
									<?php if($this->obConfig->slajdyCzas): ?>
									<th>Czas (sekund)</th>
									<?php endif; ?>
									<th>Aktywny</th>
									<?php if($this->obConfig->slajdyPozycja): ?>
									<th>Kolejność</th>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyGlowny): ?>
									<th>Główny</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=0; foreach($this->slajdy as $slajd): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td align="center" class="first img0">
										<img src="<?php echo $this->baseUrl; ?>/public/admin/slajdy/<?php echo $slajd['img'];?>" width="200" />
									</td>
									<?php if($this->obConfig->slajdyLink): ?>
									<td>
										<textarea name="linki[<?php echo $slajd['id'];?>]" style="width:100%;height:50px;" border="1" class="b<?php echo $style; ?>"><?php echo $slajd['link'];?></textarea>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyOpisShort): ?>
									<td>
										<textarea name="opisy[<?php echo $slajd['id'];?>]" style="width:100%;height:100px;" border="1" class="b<?php echo $style; ?>"><?php echo $slajd['opis'];?></textarea>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyOpisPoz): ?>
									<td align="center">
										<input type="hidden" id="opisyPoz<?php echo $slajd['id'];?>" name="opisyPoz[<?php echo $slajd['id'];?>]" value="<?php echo $slajd['opis_poz'];?>" />
										<?php $znaki = array(8598,8593,8599,8592,8596,8594,8601,8595,8600); ?>
										<?php for($q = 1; $q <= 9; $q++): ?>										
										<input type="button" id="poz<?php echo $q;?>" value="&#<?php echo @$znaki[$q-1];?>;" class="poz<?php if($slajd['opis_poz'] == $q) echo ' pressed';?>" onclick="$(this).parent().find('.poz').removeClass('pressed'); $(this).addClass('pressed'); $('#opisyPoz<?php echo $slajd['id'];?>').val(<?php echo $q;?>);" />
										<?php if($q % 3 == 0): ?><br/><?php endif; ?>
										<?php endfor; ?>
									</td>									
									<?php endif; ?>
									<?php if($this->obConfig->slajdyCzas): ?>
									<td align="center">
										<input type="text" name="czasy[<?php echo $slajd['id'];?>]" value="<?php echo $slajd['czas'];?>" size="3" class="tac b<?php echo $style; ?>" />
									</td>
									<?php endif; ?>
									<td align="center">
										<input type="hidden" name="aktywny[<?php echo $slajd['id'];?>]" value="" />
										<input type="checkbox" name="aktywny[<?php echo $slajd['id'];?>]" <?php if($slajd['aktywny']) echo 'checked="checked"';?> value="1" />
									</td>
									<?php if($this->obConfig->slajdyPozycja): ?>
									<td align="center">
										<?php if($i > 0): ?>
										<a title="up" class="up_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/slider/edytuj/up/<?php echo $slajd['id'];?>/prev/<?php echo $this->slajdy[$i-1]['id'];?>">W górę</a>
										<?php endif; ?>
										<?php if($i < count($this->slajdy) - 1): ?>
										<a title="down" class="down_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/slider/edytuj/down/<?php echo $slajd['id'];?>/next/<?php echo $this->slajdy[$i + 1]['id'];?>">W dół</a>
										<?php endif; ?>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->slajdyGlowny): ?>
									<td align="center">
										<?php if($slajd['glowny'] == 'T'): ?><b>TAK</b><?php else: ?>
										<a title="Główny" class="ok_ico2 <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/slider/edytuj/glowny/<?php echo $slajd['id'];?>">Ustaw</a>
										<?php endif; ?>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/slider/edytuj/id/<?php echo $slajd['id'];?>">Edytuj</a>	
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/slider/edytuj/delid/<?php echo $slajd['id'];?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="slideLinkiZapisz" value="Zapisz" />	
								</div>
							</div>
							</form>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych slajdów.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>