<?php if (@!empty($this->opis->tekst)): ?>
    <div id="kategoriaOpis">
        <?php echo $this->opis->tekst; ?>
        <?php echo $this->render('podstrony/podstrona.phtml'); ?>
    </div>
<?php endif; ?>

<div class="nagl">
    <span><?php echo $this->site; ?></span>
    <div id="sort">
        <?php echo $this->render('const/sort.phtml'); ?>
    </div>
</div>

<div class="items itemsPromocje">
    <div class="nagl">
        <?php echo $this->translate('Promocje'); ?>
        <?php echo $this->render('const/tryby.phtml'); ?>
    </div>
    <?php if (@count($this->all) > 0): ?>
        <form action="" method="post">
            <?php for ($i = 0; $i < count($this->all); $i++): ?>
                <?php $this->prod = $this->all[$i]; ?>
                <?php $this->even = ($i % 2 == 0); ?>
                <?php $this->tripleLast = ($i % 3 == 2); ?>
                <?php $this->i = $i; ?>
                <?php echo $this->render('const/item_' . $this->szukanie->trybpromocje . '.phtml'); ?>
            <?php endfor; ?>
        </form>
    <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
    endif; ?>
    <div class="stronicowanie">
<?php echo $this->render('const/stronicowanie.phtml'); ?>
    </div>
</div>

<div class="stronicowanie">
<?php echo $this->render('const/stronicowanie.phtml'); ?>
</div>