<div class="modul_container" id="<?php echo $this->typ; ?>">
    <div class="container">
        <div class="box_title">
            <h3 class="title3">Lista produktów</h3>
        </div>
        <div class="content" style="width:980px;">
            <div class="all_container">
                <script type="text/javascript">
                    var www = '<?php echo $this->www ?>';
                    var baseUrl = '<?php echo $this->baseUrl; ?>';
                </script>
                <form id="jQ-forma4" method="post" action="">
                    <div class="ajax-search">
                        <div class="box_search2">
                            <div class="row_search2 people" id="wyszukiwarka" style="height: 60px;">
                                <a id="reset" onclick="return searchAjax('<?php echo $this->baseUrl; ?>/ajax/index/lista/norender/1/reset/all/','jQ-forma4','<?php echo $this->typ; ?>');">
                                Resetuj</a>
                                <div id="top">
									<div class="napis" style="margin-left:0px;">Nazwa</div>
									<input type="text" id="co" name="nazwa" value="<?php echo @$this->szukanie->nazwa; ?>" onfocus="//this.value='';" />
									<?php if(false): ?>
									<div class="napis" style="margin-left:0px;">Fraza</div>
									<input type="text" id="co" name="co" value="<?php echo $this->co; ?>" onfocus="this.value='';" />
									<div id="typ">
										<input type="radio" name="w" value="nazwa" <?php if($this->w=='nazwa') echo'checked="checked"';?> /> 	
										<label class="mini">Nazwa</label>
										<?php if($this->obConfig->symbol): ?>
										<input type="radio" name="w" value="oznaczenie" <?php if($this->w=='oznaczenie') echo'checked="checked"';?> />	
										<label class="mini">Kod produktu</label>
										<?php endif; ?>
										<?php if($this->obConfig->ceny): ?>
										<input type="radio" name="w" value="cena_brutto" <?php if($this->w=='cena_brutto') echo 'checked="checked"';?> />	
										<label class="mini">Cena</label>
										<?php endif; ?>
									</div>
									<?php endif; ?>
									<?php if($this->obConfig->producent): ?>
									<div class="napis" style="margin-left:5px;">Producent</div>
									<select name="prod" class="select" style="width:125px;">
										<option value="all">Wszyscy</option>
										<?php foreach($this->producenci as $prod): ?>
										<option value="<?php echo $prod['id']; ?>" <?php if($this->szukanie->producent==$prod['id']) echo 'selected="selected"';?>><?php echo $prod['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<?php else: ?>
									<div class="napis" style="width:235px;">&nbsp;</div>
									<?php endif; ?>
									<?php if($this->obConfig->kolory): ?>
									<div class="napis" style="margin-left:5px;">Kolor</div>
									<select name="kolor" class="select" style="width:125px;">
										<option value="-1">Wszystkie</option>
										<?php foreach($this->kolory as $kolor): ?>
										<option value="<?php echo $kolor['id']; ?>" <?php if($this->szukanie->kolor==$kolor['id']) echo 'selected="selected"';?>><?php echo $kolor['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<?php else: ?>
									<div class="napis" style="width:200px;">&nbsp;</div>
									<?php endif; ?>
								</div>
								<div id="bottom">
									<div class="napis">Kategoria</div>
									<select name="kateg" class="select" style="width:170px;" id="pierwszy_ajax" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '_ajax', true)">
										<option value="-1">Wszystkie</option>
										<?php foreach($this->katMain as $kateg): ?>
										<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->katMain==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<div class="napis" style="margin-left:5px;">Podkateg. 1 </div>
									<select name="podkat1" class="select" style="width:125px;" id="drugi_ajax" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '_ajax', true)">
										<option value="-1">Wszystkie</option>
										<?php foreach($this->podkat1 as $kateg): ?>
										<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->podkat1==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<div class="napis" style="margin-left:5px;">Podkateg. 2 </div>
									<select name="podkat2" class="select" style="width:125px;" id="trzeci_ajax" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '_ajax', true)">
										<option value="-1">Wszystkie</option>
										<?php foreach($this->podkat2 as $kateg): ?>
										<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->podkat2==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<div class="napis" style="margin-left:0px;">Podkateg. 3 </div>
									<select name="podkat3" class="select" style="width:125px;" id="czwarty_ajax">
										<option value="-1">Wszystkie</option>
										<?php foreach($this->podkat3 as $kateg): ?>
										<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->podkat3==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
								</div>
                                <input onclick="return searchAjax('<?php echo $this->baseUrl; ?>/ajax/index/lista/norender/1/search/1/','jQ-forma4','<?php echo $this->typ; ?>');" type="button" id="szukaj" value="Szukaj" />
                            </div>
                        </div>
                    </div>
                </form>
                <?php if(!empty($this->rows)): ?>
                    <div class="cb"></div>
					<?php if(true): ?>
                    <div id="ileNaStrone" style="float: left; margin: 13px 0px 0px;">
                        <form id="jQ-forma5" method="post" action="">
                            <span>Sortuj wg: </span>
                            <select name="sortuj" style="width: auto;" onchange="return searchAjax('<?php echo $this->baseUrl; ?>/ajax/index/lista/norender/1/','jQ-forma5','<?php echo $this->typ; ?>');">
                                <option value="">wybierz</option>
                                <option <?php if($this->sortuj=='nazwa') echo 'selected="selected"'; ?> value="nazwa">nazwy</option>
                                <option <?php if($this->sortuj=='cena_brutto') echo 'selected="selected"'; ?> value="cena_brutto">ceny</option>
                            </select>
                        </form>
                    </div>
					<?php endif; ?>
                    <div class="ileNaStrone" style="float: right; color: #777777; margin: 13px 0px 0px;">
                        <form id="jQ-forma6" method="post" action="">
                            <span>Wyświetl na stronie: </span>
                            <select name="ile" style="width: 90px;" onchange="return searchAjax('<?php echo $this->baseUrl; ?>/ajax/index/lista/norender/1/','jQ-forma6','<?php echo $this->typ; ?>');">
								<option value="25" <?php if($this->ile==25) echo 'selected="selected"'; ?>>25</option>
								<option value="50" <?php if($this->ile==50) echo 'selected="selected"'; ?>>50</option>
								<option value="100" <?php if($this->ile==100) echo 'selected="selected"'; ?>>100</option>
								<option value="200" <?php if($this->ile==200) echo 'selected="selected"'; ?>>200</option>
								<?php if(false): ?>
								<option value="all" <?php if($this->ile == 99999) echo 'selected="selected"'; ?>>wszystkie</option>
								<?php endif; ?>
                            </select>
                        </form>
                    </div>
                    <div class="cb"></div>
                    <?php echo $this->render('const/stronicowanie.phtml'); ?>
                    
					<form id="jQ-forma3" method="post" action="">
                        <div class="rf" style="padding: 0 10px 0 0;">
							<a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->typ; ?>', true);">zaznacz</a>
							<a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->typ; ?>', false);">odznacz</a>
                        </div><br /><br />
                        <table id="jQ-forma2" class="foto_box padding">
                                <colgroup>
                                    <col width="5%"/>
									<col width="20%"/>
									<col width="50%"/>
									<?php if($this->obConfig->ceny): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width="5%"/>
                                </colgroup>
                                <tr>
                                    <th align="center">LP</th>
									<th align="center">Miniaturka</th>
									<th align="center">Nazwa</th>
									<?php if($this->obConfig->ceny): ?>
									<th align="center">Cena&nbsp;</th>
									<?php endif; ?>
									<th align="center">&nbsp;Z&nbsp;
									<!--<input type="checkbox" onclick="$('.checkbox').attr('checked', this.checked);">-->
									</th>
                                </tr>
                                <?php $j = 1; foreach($this->rows as $row): ?>

                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                    <tr class="<?php echo $style; ?>">
                                        <td align="center"><?php echo $j++; ?>.</td>
                                        <td align="center">
											<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $row['zdj']['img']; ?>" style="max-width:100px; max-height:100px;" border="0" />
										</td>
                                        <td align="left"><b><?php echo $row['nazwa']; ?></b></td>
										<?php if($this->obConfig->ceny): ?>
                                        <td align="center">
											<b class="price_lista2"><?php echo $row['cena']; ?></b>
										</td>
										<?php endif; ?>
                                        <td align="center">
											<input onclick="return appendRowLista(this,'<?php echo $this->typ; ?>');" type="checkbox" class="checkbox nfi" name="polecane[]" value="<?=$row['id'].'|--|'.htmlspecialchars($row['nazwa']).'|--|'.'|--|'.'|--|'.$row['id'];?>" />
										</td>
                                    </tr>

                                <?php endforeach; ?>
                                <td colspan="6">
                                    <div class=" rf">
                                        <a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->typ; ?>', true);">zaznacz</a>
										<a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->typ; ?>', false);">odznacz</a>
                                    </div>
                                </td>
                        </table>
                    </form>
                <?php else: ?>
                    <div class="info_empty">Brak treści do wyświetlenia.</div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>