<a href="<?php echo $this->baseUrl; ?>/Koszyk/" class="monda"><img src="<?php echo $this->baseUrl; ?>/public/images/strona/koszyk.png" alt="" title="koszyk" /><b>Twój koszyk</b></a>
<?php if(@count($_SESSION['koszyk']) > 0): ?>
<div id="koszProd">
<?php foreach($_SESSION['koszyk'] as $id => $prod): ?>
<div class="koszProd">
	<a href="<?php echo $this->baseUrl; ?>/<?php echo $prod['link']; ?>">
		<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/tiny/<?php echo $prod['img']; ?>"/>
	</a>
	<div>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $prod['link']; ?>">
			<?php echo $prod['nazwa']; ?>
		</a>
		<span class="lf">ilość:&nbsp;<?php echo $prod['ilosci']; ?></span>
		<b class="rf">
			<?php echo number_format($prod['wartosc_rabat'], 2, '.', ' '); ?>&nbsp;<?php echo $this->zl; ?>
		</b>
	</div>
</div>
<?php endforeach; ?>
</div>
<div id="koszSuma">
	<?php if(false): ?>
	<span class="koszykWartosc"><?php echo $this->ilosc_koszyka; ?></span>
	<label>&nbsp;<?php echo $this->translate('produktow');?></label>
	<span class="kreska">&nbsp;|&nbsp;</span>
	<?php endif; ?>
	<label>Koszt dostawy:</label>
	<span class="koszykWartosc">
		<?php echo @number_format($_SESSION['dostawa_wartosc'], 2, '.', ' '); ?>
		<?php echo $this->zl; ?>
	</span>
	<label>Wartość koszyka:</label>
	<span class="koszykWartosc">
		<?php echo @number_format($_SESSION['wartosc_koszyka_rabat'], 2, '.', ' '); ?>
		<?php echo $this->zl; ?>
	</span>
	<label class="koszRazem">Suma:</label>
	<?php $suma = @$_SESSION['wartosc_koszyka_rabat'] + @$_SESSION['dostawa_wartosc']; ?>
	<span class="koszRazem koszykWartosc">
		<?php echo number_format($suma, 2, '.', ' '); ?>&nbsp;<?php echo $this->zl; ?>
	</span>
</div>
<a href="<?php echo $this->baseUrl;?>/Koszyk" class="button edycja_danych_przycisk2">szczegóły koszyka</a>
<?php else: ?>
<span>Koszyk jest pusty</span>
<?php endif; ?>