<a href="<?php echo $this->baseUrl; ?>/kontrahent/porownywarka" class="monda"><img src="<?php echo $this->baseUrl; ?>/public/images/strona/porownywarka.png" /><b>Porównywarka</b></a>
<?php if(@count($_SESSION['porownywarka']) > 0): ?>
<div id="koszProd">
<?php foreach($_SESSION['porownywarka'] as $id => $prod): ?>
<div class="koszProd">
	<a href="<?php echo $this->baseUrl; ?>/<?php echo $prod['link']; ?>">
	<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/tiny/<?php echo $prod['zdj']['img'];?>"/>
	</a>
	<div>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $prod['link']; ?>">
			<?php echo $prod['nazwa']; ?>
		</a>
		<span class="lf">&nbsp;</span>
		<b class="rf"><?php echo $prod['cena_rabat']; ?>&nbsp;<?php echo $this->zl; ?></b>
	</div>
</div>
<?php endforeach; ?>
</div>
<a href="<?php echo $this->baseUrl;?>/kontrahent/porownywarka" class="button edycja_danych_przycisk2">przejdż do porównywarki</a>
<?php else: ?>
<span>Brak produktów do porównania</span>
<?php endif; ?>