<div class="box_pager clear">

<?php if($this->strony>1) { ?>
	
<?php
  $ilosc = 25;
  $pierwszy =  $this->strona - round($ilosc/2);
  if(($pierwszy + $ilosc) > $this->strony-1) $pierwszy = $this->strony-$ilosc;
  if($pierwszy < 0) $pierwszy = 0;
  $petla = $ilosc;
  if($petla>$this->strony) $petla = $this->strony;
?>

<?php if($this->strona > 0) { ?>
<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/<?php echo $this->strona-1; ?>" id="prev" onclick="return getListaProd(false, 0, <?php echo $this->strona-1; ?>);">
<img src="<?php echo $this->baseUrl; ?>/public/images/strona/prev.png" /></a>
<?php }else{ ?>
<a href="#" id="prev" style="visibility:hidden;"> </a>
<?php } ?>

<?php if(false && $this->strona == 0) { ?>
   <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/0" class="link_stronicowanie" onclick="return getListaProd(false, 0, 0);">1</a>
<?php }else if(false){ ?>
   <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/0" class="link_stronicowanie" onclick="return getListaProd(false, 0, 0);">1</a>
<?php } ?>
	<!--<a href="#" class="link_nieaktywny_stronicowanie">&nbsp;</a>-->
<?php if(($pierwszy+1)!=1) {?>
   <a class="link_stronicowanie">...</a>
<?php } ?>
<?php $i=1;for($s=0;$s<$petla;$s++) { if(false && $i>5)break; $i++; //echo $this->strona.' '.$s.' '.$pierwszy.'<br>';?>
	<?php if($this->strona == $s+$pierwszy) { ?>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/<?php echo ($pierwszy+$s); ?>" class="link_aktywny_stronicowanie" onclick="return getListaProd(false, 0, <?php echo ($pierwszy+$s); ?>);"><?php echo ($pierwszy+$s)+1; ;?></a>
	<?php }else{ ?>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/<?php echo ($pierwszy+$s); ?>" class="link_stronicowanie" onclick="return getListaProd(false, 0, <?php echo ($pierwszy+$s); ?>);"><?php echo ($pierwszy+$s)+1; ;?></a>
	<?php } ?>
<?php } ?>
<?php if(($pierwszy+$ilosc-1)!=$this->strony-1&&$this->strony>$ilosc) {?>
   <a class="link_stronicowanie">...</a>
<?php } ?>
	<!--<a href="#" class="link_nieaktywny_stronicowanie">&nbsp;</a>-->
<?php if(false && $this->strona == $this->strony-1) { ?>
   <a id="last" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/<?php echo $this->strony-1; ?>" class="link_stronicowanie" onclick="return getListaProd(false, 0, <?php echo ($this->strony-1); ?>);"><?php echo $this->strony; ?></a>
<?php }else if(false){ ?>
   <a id="last" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/<?php echo $this->strony-1; ?>" class="link_stronicowanie" onclick="return getListaProd(false, 0, <?php echo ($this->strony-1); ?>);"><?php echo $this->strony; ?></a>
<?php } ?>

<?php if($this->strona < $this->strony-1) { ?>
<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/strona/<?php echo $this->strona+1; ?>" id="next" onclick="return getListaProd(false, 0, <?php echo ($this->strona+1); ?>);">
<img src="<?php echo $this->baseUrl; ?>/public/images/strona/next.png" /></a>
<?php }else{ ?>
<a href="#" id="next" style="visibility:hidden;"> </a>
<?php } ?>

<?php } ?>

</div>