<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/od/0/">Aukcje &raquo;</a>
			<span class="link_path_end">Lista aukcji</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Aukcje eBay <?php if(isset($this->konczace)) echo ' - bliskie końca'; ?>
			</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj aukcjami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
			
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/ebayprodukt/lista/"><b>Zobacz wszystkie aukcje &raquo;</b></a>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/ebayprodukt/lista/konczace/all"><b>Zobacz kończące się aukcje &raquo;</b></a>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/ebayprodukt/lista/odswiez/all"><b>Odśwież aukcje &raquo;</b></a>
				
				<?php if(!empty($this->blad_edycji) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
		
					<?php if(!empty($this->aukcje)): ?>
						
						<?php if(!isset($this->error_search)): ?>
					
							<div class="box_pager">
								<?php for($j=0;$j<$this->ilosc;$j++): 
			                        $od=$j;
			                        if($j==0)
			                            echo '<a href="'.$this->baseUrl.'/admin/ebayprodukt/lista/od/0/">'.($j+1).'</a>';
			                        else
			                            echo '<a href="'.$this->baseUrl.'/admin/ebayprodukt/lista/od/'.$od.'/">'.($j+1).'</a>';
		                        endfor; ?>
							</div>
							<table class="foto_box padding">
								<colgroup>
									<col width="10%"/>
									<col width="50%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>ID aukcji</th>
									<th>Nazwa</th>
									<th>Do końca</th>
								</tr>
								<?php $j = 1; foreach ($this->aukcje as $realizacja): ?>
								
									<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
									<tr class="<?php echo $style; ?>">
										<td><?php echo $realizacja->ItemID; ?></td>
										<td><a class="link" title="Edytuj" href="<?php echo $realizacja->ListingDetails->ViewItemURL;?>"><b><?php echo $realizacja->Title; ?></b></a></td>
										<?php
										$time = $realizacja->TimeLeft;
										$time = str_replace('P', '', $time);
										$time = str_replace('DT', ';', $time);
										$time = str_replace('H', ';', $time);
										$time = str_replace('M', ';', $time);
										$time = explode(';', $time);
										if(strpos($realizacja->TimeLeft, 'H') === false) $time[1] = 0;
										?>
									    <td align="center"><?php echo $time[0]; ?> dni <?php echo $time[1]; ?> godzin</td>
									</tr>
								
								<?php $j++; endforeach; ?>
							</table>
						
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak aukcji.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>