<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut koszty dostawy</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem koszty dostawy:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Koszty dostawy</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj koszty dostawy</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj koszty dostawy</h2></div>
							<div class="form_row">
								<label class="required">Płatność:</label>
								<div class="input_bg w1">
									
									<?php if(isset($this->typyplatnosci) && count($this->typyplatnosci) > 0): ?>
									
										<select name="platnosc" >
					                       
										    <?php for($j=0;$j<count($this->typyplatnosci);$j++): ?>
					                       
										   		<option value="<?php echo $this->typyplatnosci[$j]['id']; ?>"><?php echo $this->typyplatnosci[$j]['nazwa']; ?></option>
					                        
											<?php endfor; ?>
					                    
										</select>
									
									<?php else: ?>
									
										<div class="small_error_empty"><b>Brak dodanych płatności.</b> Zdefiniuj atrybut płatności w zakładce zawartość.</div>
									
									<?php endif; ?>
									
								</div>
							</div>
							<div class="form_row">
								<label class="required">Dostawa:</label>
								<div class="input_bg w1">
									
									<?php if(isset($this->dostawy) && count($this->dostawy) > 0): ?>
									
									<select name="dostawa" >
				                    
									    <?php for($j=0;$j<count($this->dostawy);$j++): ?>
				                    
									    	<option value="<?php echo $this->dostawy[$j]['id']; ?>"><?php echo $this->dostawy[$j]['nazwa']; ?></option>
				                        
										<?php endfor; ?>
				                    
									</select>
									
									<?php else: ?>
									
										<div class="small_error_empty"><b>Brak dodanych dostaw.</b> Zdefiniuj atrybut dostawy w zakładce zawartość.</div>
									
									<?php endif; ?>
								</div>
							</div>     
							<div class="form_row">
								<label class="required">Koszt:</label>
								<div class="input_bg">
									<input type="text" name="wartosc" value="" />
								</div>
							</div>                       
	                 		<div class="button_form m2">
								<div class="button1">
									
									<?php if(!isset($this->dostawy) || !isset($this->typyplatnosci)): $disabled = 'disabled="disabled"'; else: $disabled = ''; endif; ?>
										
									<input type="submit" <?php echo $disabled; ?> name="dodaj" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->platnosci) && count($this->platnosci) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="40%"/>
									<col width="40%"/>
									<col width="15%"/>
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>Płatność</th>
									<th>Dostawa</th>
									<th>Koszt</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->platnosci as $platnosc): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $platnosc['platnosc']; ?>
									</td>
									<td align="center">	
										<?php echo $platnosc['dostawa']; ?>
									</td>
									<td align="center">
										<b class="price_lista"><?php echo $platnosc['wartosc']; ?></b>
										<?php echo $this->zl; ?>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/platnosci/dodaj/delid/<?php echo $platnosc['id'];?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych kosztów dostawy.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>