<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia &raquo;</a>
			<span class="link_path_end">Dostawy i płatności</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Dostawy i płatności</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj dostawami i płatnościami:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dostawy i płatności</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display_platnosc').toggle();" href="javascript:void(0)">Dodaj płatność</a>	
					</div>
					<div id="box_display_platnosc" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj płatność</h2></div>    
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<div class="form_row">
								<label class="">Rodzaj:</label>
								<div class="input_bg">
									<select name="rodzaj">
									<option value="">nieokreślony</option>
									<?php if(@count($this->rodzajePlatnosci) > 0): ?>
									<?php foreach($this->rodzajePlatnosci as $rodzaj => $platnosc):?>
									<option value="<?php echo $rodzaj;?>"><?php echo $platnosc;?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
								</div>
							</div>
							<?php if($this->obConfig->rabatyPlatnosci): ?>
							<div class="form_row">
								<label class="">Rabat (%):</label>
								<div class="input_bg">
									<input type="text" name="rabat" value="" />
								</div>
							</div>
							<?php endif; ?>
	                 		<?php if($this->edycjazablokowana === false): ?>
                             <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodajPlatnosc" value="Zapisz" />	
								</div>
							</div>	
							<?php endif; ?>
						</form>
					</div>
					
					<?php if(isset($this->editPlatnosc)): ?>
					<div id="box_edit_platnosc">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Edytuj płatność</h2></div>    
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="<?php echo $this->editPlatnosc['nazwa']; ?>" />
								</div>
							</div>
							<div class="form_row">
								<label class="">Rodzaj:</label>
								<div class="input_bg">
									<select name="rodzaj">
									<option value="">nieokreślony</option>
									<?php if(@count($this->rodzajePlatnosci) > 0): ?>
									<?php foreach($this->rodzajePlatnosci as $rodzaj => $platnosc):?>
									<option value="<?php echo $rodzaj;?>" <?php if($rodzaj == $this->editPlatnosc['rodzaj']) echo 'selected="selected"';?>>
									<?php echo $platnosc;?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
								</div>
							</div>
							<?php if($this->obConfig->rabatyPlatnosci): ?>
							<div class="form_row">
								<label class="">Rabat (%):</label>
								<div class="input_bg">
									<input type="text" name="rabat" value="<?php echo $this->editPlatnosc['rabat']; ?>" />
								</div>
							</div>
							<?php endif; ?>
							<input type="hidden" name="id" value="<?php echo $this->editPlatnosc['id']; ?>" />
	                 		 <?php if($this->edycjazablokowana === false): ?>
                             <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edytujPlatnosc" value="Zapisz" />	
								</div>
							</div>	
							<?php endif; ?>
						</form>
					</div>
					<?php endif; ?>
					
					<!--Lista producent-->
					<?php if(isset($this->platnosci) && count($this->platnosci) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width=""/>									
									<?php if($this->obConfig->rabatyPlatnosci): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Rodzaj</th>									
									<?php if($this->obConfig->rabatyPlatnosci): ?>
									<th>Rabat</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->platnosci as $platnosc): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $platnosc['nazwa']; ?>
									</td>
									<td align="center">	
										<?php if(@!empty($platnosc['rodzaj'])) echo @$this->rodzajePlatnosci[$platnosc['rodzaj']]; ?>
									</td>									
									<?php if($this->obConfig->rabatyPlatnosci): ?>
									<td align="center">	
										<?php echo $platnosc['rabat']; ?> %
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/platnosci/dostawyplatnosci/editidPlatnosc/<?php echo $platnosc['id'];?>">
										<b><?php echo $platnosc['id'];?></b></a>
									</td>
									<td align="center">
                                    <?php if($this->edycjazablokowana === false): ?>	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/platnosci/dostawyplatnosci/delidPlatnosc/<?php echo $platnosc['id'];?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych płatności.</div>
						
					<?php endif; ?>
					
				</div>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display_dostawa').toggle();" href="javascript:void(0)">Dodaj dostawę</a>	
					</div>
					<div id="box_display_dostawa" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj dostawę</h2></div>    
							<div class="form_row">
								<label class="required big">Nazwa:</label>
								<div class="input_bg w1">
									<input type="text" name="nazwa" value="" />
								</div>
								<?php if($this->obConfig->kurierzy): ?>
								<br clear="all" /><br clear="all" />
                                <label class="big">Kurier:</label>
								<div class="input_bg w1">
									<select name="apikurier">
										<option value="">wybierz</option>
										<?php $paczka = Paczka::getNameKey(0, 1); ?>
										<?php foreach($paczka as $key => $paczkaa): ?>
										<option value="<?= $key; ?>"><?= $paczkaa; ?></option>
										<?php endforeach;?>
									</select>
								</div>
								<?php endif; ?>
								<br clear="all" /><br clear="all" />
								<?php if($this->obConfig->kosztPrzesylkiOdDostawy): ?>
								<label class="required big">Koszt:</label>
								<div class="input_bg">
									<input type="text" name="wartosc" value="" />
								</div>
								<?php endif; ?>
								<?php if($this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
								<?php foreach($this->wagi as $waga): ?>
								<label class="required big">Koszt: <?php echo $waga['nazwa']; ?>&nbsp;
								(od <?php echo $waga['od']; ?> do <?php echo $waga['do']; ?>) kg
								</label>
								<div class="input_bg">
									<input type="text" name="wagi[<?php echo $waga['id'];?>]" value="" />
								</div>
								<?php endforeach; ?>
								<?php endif; ?>
							</div>
							<div class="form_row">
								<label class="big">Opis:</label>
								<div class="input_bg w1">
									<textarea name="opis" style="height:100px;"></textarea>
									<br/><br/>
								</div>
							</div>
	                 		<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodajDostawa" value="Zapisz" />	
								</div>
							</div>	
							<?php endif; ?>
						</form>
					</div>
					
					<?php if(isset($this->editDostawa)) { ?>
					<div id="box_edit_dostawa">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Edytuj dostawę</h2></div>    
							<div class="form_row">
								<label class="required big">Nazwa:</label>
								<div class="input_bg w1">
									<input type="text" name="nazwa" value="<?php echo $this->editDostawa['nazwa']; ?>" />
								</div>
								<?php if($this->obConfig->kurierzy): ?>
								<br clear="all" /><br clear="all" />
                                <label class="big">Kurier:</label>
								<div class="input_bg w1">
									<select name="apikurier">
										<option value="">wybierz</option>
										<?php $paczka = Paczka::getNameKey(0, 1); ?>
										<?php foreach($paczka as $key => $paczkaa): ?>
										<option <?= ($this->editDostawa['apikurier'] == $key)? 'selected="selected"':''; ?> value="<?= $key; ?>">
										<?= $paczkaa; ?></option>
										<?php endforeach;?>
									</select>
								</div>
								<?php endif; ?>
								<br clear="all" /><br clear="all" />
								<?php if($this->obConfig->kosztPrzesylkiOdDostawy): ?>
								<label class="required big">Koszt:</label>
								<div class="input_bg">
									<input type="text" name="wartosc" value="<?php echo $this->editDostawa['wartosc']; ?>" />
								</div>
								<?php endif; ?>
								<?php if($this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
								<?php foreach($this->wagi as $waga): ?>
								<label class="required big">Koszt: <?php echo $waga['nazwa']; ?>&nbsp;
								(od <?php echo $waga['od']; ?> do <?php echo $waga['do']; ?>) kg
								</label>
								<div class="input_bg">
									<input type="text" name="wagi[<?php echo $waga['id'];?>]" value="<?php echo $waga['koszt'];?>" />
								</div>
								<?php endforeach; ?>
								<?php endif; ?>
							</div>
							<div class="form_row">
								<label class="big">Opis:</label>
								<div class="input_bg w1">
									<textarea name="opis" style="height:100px;"><?php echo stripslashes($this->editDostawa['opis']); ?></textarea>
									<br/><br/>
								</div>
							</div>
							<div class="form_row">
							<label class="required big">Płatności:</label>							
							<?php if($this->obConfig->kosztPrzesylkiOdDostawyPlatnosci): ?>
							<div class="input_bg">
							<?php if($this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
							Dopłata<?php else: ?>Koszt<?php endif; ?>
							</div>
							<?php endif; ?>
							<br clear="all"/><br/>
							<?php if(count($this->platnosciAll) > 0): ?>
							<?php foreach($this->platnosciAll as $platnosc): ?>
							<label class="big input_bg_checkbox">
							<input type="checkbox" name="platnosc[<?php echo $platnosc['id']; ?>][on]" value="<?php echo $platnosc['nazwa']; ?>" <?php if(isset($this->platnoscDlaExist[$platnosc['id']])) echo ' checked="checked"';?> >&nbsp;&nbsp;<?php echo $platnosc['nazwa']; ?>
							</label>
							<?php if($this->obConfig->kosztPrzesylkiOdDostawyPlatnosci): ?>
							<div class="input_bg_small">
							<input type="text" name="platnosc[<?php echo $platnosc['id'];?>][wartosc]" value="<?php echo $platnosc['koszt'];?>" />
							</div>
							<?php endif; ?>
							<br clear="all"/>
							<?php endforeach; ?>
							<?php endif; ?>
							</div>
							<br clear="all"/><br/>
							<?php if($this->obConfig->platnosciProdukt): ?>
							<input type="checkbox" name="dodajPlatnosciDlaProduktow" />
							Dodaj wybrane sposoby płatności dla tego sposobu dostawy do wszystkich produktów
							<br clear="all"/><br/>
							<a href="javascript:void(0);" style="position:relative; float: left; clear:left; " rel="" onclick="$('#platnoscDlaKat').toggle();" >
							Dodaj / usuń wybrany sposób płatności dla tego sposobu dostawy do/z wszystkich produktów wybranej kategorii</a>
							<div id="platnoscDlaKat" style="position:relative; float: left; clear:left; display:none;">
							<br clear="all"/>
							<div class="form_row">
								<div class="input_bg w1">
								<select name="platnoscDlaKat">
								<option value="0">Wybierz płatność</option>
								<?php if(@count($this->platnosciDlaDostawy[$this->editDostawa['id']]) > 0): ?>
								<?php foreach($this->platnosciDlaDostawy[$this->editDostawa['id']] as $platID=>$plat):?>
								<option value="<?php echo $platID;?>"><?php echo $plat['nazwa'];?></option>
								<?php endforeach; ?>
								<?php endif; ?>
								</select>
								</div>
							</div>							
							<?php echo $this->render('const/kategorie.phtml'); ?>
							<input type="radio" id="dlaKatDodaj" name="dlaKat" value="dodaj" checked="checked" />
							&nbsp;<label for="dlaKatDodaj">Dodaj wybrany sposób płatności dla tego sposobu dostawy do wszystkich produktów wybranej kategorii</label>
							<br clear="all"/>
							<input type="radio" id="dlaKatUsun" name="dlaKat" value="usun" />
							&nbsp;<label for="dlaKatUsun">Usuń wybrany sposób płatności dla tego sposobu dostawy z wszystkich produktów wybranej kategorii</label>
							</div>
							<?php endif; ?>
							</div>
							<br clear="all"/><br/>
							<input type="hidden" name="id" value="<?php echo $this->editDostawa['id']; ?>" />
	                 		 <?php if($this->edycjazablokowana === false): ?>
                             <div class="button_form m2" style="position:relative; float: left; clear:left;">
								<div class="button1">
									<input type="submit" name="edytujDostawa" value="Zapisz" />	
								</div>
							</div>	
							<?php endif; ?>
						</form>
					</div>
					<?php } ?>
					
					<!--Lista producent-->
					<?php if(isset($this->dostawy) && count($this->dostawy) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<?php if($this->obConfig->pokazDostawyID): ?>
									<col width="5%"/>
									<?php endif; ?>
									<col width=""/>
									<?php if($this->obConfig->kurierzy): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width=""/>
									<?php if($this->obConfig->kosztPrzesylkiOdDostawy): ?>
									<col width="15%"/>
									<?php endif; ?>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<?php if($this->obConfig->pokazDostawyID): ?>
									<th>ID</th>
									<?php endif; ?>
									<th>Nazwa</th>
									<?php if($this->obConfig->kurierzy): ?>
									<th>Kurier</th>
									<?php endif; ?>									
									<th>Płatności</th>
									<?php if($this->obConfig->kosztPrzesylkiOdDostawy): ?>
									<th>Koszt</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->dostawy as $platnosc): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<?php if($this->obConfig->pokazDostawyID): ?>
									<td class="first img">
										<?php echo $platnosc['id']; ?>
									</td>
									<?php endif; ?>
									<td class="first img">
										<?php echo $platnosc['nazwa']; ?><br/>
										<span style="font-size:10px; width:100%; max-height:20px; display:none; overflow:hidden; line-height:10px;">
										<?php echo stripslashes($platnosc['opis']); ?></span>
									</td>
									<?php if($this->obConfig->kurierzy): ?>
									<td align="center"><?php echo @Paczka::getNameKey($platnosc['apikurier']); ?></td>
									<?php endif; ?>
									<td class="first img">
									<?php
									if(@count($this->platnosciDlaDostawy[$platnosc['id']]) > 0)
									foreach($this->platnosciDlaDostawy[$platnosc['id']] as $platID => $platnoscDla)
									{
										echo $platnoscDla['nazwa'];
										if($this->obConfig->pokazPlatnosciDlaDostawyID) echo '&nbsp;('.$platID.')';
										if($this->obConfig->kosztPrzesylkiOdDostawyPlatnosci)
										if($platnoscDla['koszt'] >= 0)
										{
											echo '&nbsp;<b class="price_lista">(';
											if($this->obConfig->kosztPrzesylkiOdWagiDostawy) echo '+';
											echo $platnoscDla['koszt'].'&nbsp;zł)</b>';
										}
										echo '<br/>';
									}
									?>
									</td>
									<?php if($this->obConfig->kosztPrzesylkiOdDostawy): ?>
									<td class="first img">
										<b class="price_lista"><?php echo $platnosc['wartosc']; ?></b>&nbsp;
										<?php echo $this->zl; ?>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/platnosci/dostawyplatnosci/editidDostawa/<?php echo $platnosc['id'];?>">
										<b><?php echo $platnosc['id'];?></b></a>
									</td>
									<td align="center">	
									   <?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/platnosci/dostawyplatnosci/delidDostawa/<?php echo $platnosc['id'];?>">Usuń</a>	
									   <?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych dostaw.</div>
						
					<?php endif; ?>
					
				</div>
				
				<?php if(false && $this->obConfig->siodemka): ?>
				<div class="error_info rf">
				Panel jest zintegrowany z systemem Siódemki. Jeżeli jesteś klientem Siódemki <a class="link_path2" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/siodemkaustawienia/">wejdź w ustawienia</a>, aby wpisać Numer i Klucz API.
				</div>
				<?php endif; ?>
				
			</div>
		</div>
	</div>
</div>