<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia &raquo;</a>
			<span class="link_path_end">Dostawy</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut dostawy</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem dostawy:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Atrybut dostawy</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj dostawę</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj dostawę</h2></div>    
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
								<br clear="all" /><br clear="all" />
								<label class="required">Koszt:</label>
								<div class="input_bg">
									<input type="text" name="wartosc" value="" />
								</div>
							</div>                       
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					
					<?php if(isset($this->edit)) { ?>
					<div id="box_display2">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Edytuj dostawę</h2></div>    
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="<?php echo $this->edit['nazwa']; ?>" />
								</div>
								<br clear="all" /><br clear="all" />
								<label class="required">Koszt:</label>
								<div class="input_bg">
									<input type="text" name="wartosc" value="<?php echo $this->edit['wartosc']; ?>" />
								</div>
							</div>   
							<div style="position:relative; float: left; clear:left; margin-left:10px;">
							<label class="required" style="position:relative; float: left; clear:left; margin-top:10px; margin-bottom:10px;">Płatności:</label>
							<?php foreach($this->platnosciAll as $platnosc) 
							{ ?>
							<div style="position:relative; float: left; clear:left; ">
							<input type="checkbox" name="platnosc[<?php echo $platnosc['id']; ?>]" value="<?php echo $platnosc['nazwa']; ?>" <?php if(isset($this->platnoscDlaExist[$platnosc['id']])) echo ' checked="checked"';?> >&nbsp;&nbsp;<?php echo $platnosc['nazwa']; ?>
							</div>
							<?php } ?>
							</div>
							<input type="hidden" name="id" value="<?php echo $this->edit['id']; ?>" />
	                 		<div class="button_form m2" style="position:relative; float: left; clear:left;">
								<div class="button1">
									<input type="submit" name="edytuj" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					<?php } ?>
					
					<!--Lista producent-->
					<?php if(isset($this->dostawy) && count($this->dostawy) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="30%"/>
									<col width="30%"/>
									<col width="20%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Płatności</th>
									<th>Koszt</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->dostawy as $platnosc): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $platnosc['nazwa']; ?>
									</td>
									<td class="first img">
									<?php
									if($this->platnosciDlaDostawy[$platnosc['id']] != null)
									foreach($this->platnosciDlaDostawy[$platnosc['id']] as $platnoscDla)
									echo $platnoscDla['nazwa'].'<br/>';
									 ?>
									</td>
									<td class="first img">
										<b class="price_lista"><?php echo $platnosc['wartosc']; ?></b>
										<?php echo $this->zl; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/platnosci/dostawy/editid/<?php echo $platnosc['id'];?>">
										<b><?php echo $platnosc['id'];?></b></a>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/platnosci/dostawy/delid/<?php echo $platnosc['id'];?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych dostaw.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>