<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<?php

@session_start();
$_SESSION['lang'] = 'pl';
$agent = $_SERVER['HTTP_USER_AGENT'];
define ('IE', strpos($agent, 'MSIE') !== FALSE || strpos($agent, 'Trident') !== FALSE);
define ('IE6', strpos($agent, 'MSIE 6') !== FALSE);
define ('IE7', strpos($agent, 'MSIE 7') !== FALSE);
define ('IE8', strpos($agent, 'MSIE 8') !== FALSE);
define ('IE9', strpos($agent, 'MSIE 9') !== FALSE);
define ('IE10', strpos($agent, 'MSIE 10') !== FALSE);
define ('IE11', IE && strpos($agent, 'rv:11') !== FALSE);
define ('Firefox', strpos($agent, 'Firefox') !== FALSE);
define ('Opera', strpos($agent, 'Opera') !== FALSE || strpos($agent, 'OPR') !== FALSE);
define ('Chrome', strpos($agent, 'Chrome') !== FALSE);
define ('Safari', strpos($agent, 'Safari') !== FALSE && !Chrome);
define ('browser', IE?'ie':(Opera?'opera':(Chrome?'chrome':(Safari?'safari':'firefox'))));
define ('IEver', !IE?0:(IE11?11:(IE10?10:(IE9?9:(IE8?8:(IE7?7:(IE6?6:0)))))));
define ('browserVer', IE ? 'ie'.IEver : browser);//var_dump($agent);die();

?>

<?= $this->render('const/head.phtml'); ?>

<body <?php if(isset($this->body)) echo $this->body;?> <?php if($this->obConfig->blokujPPM && !in_array($_SERVER['HTTP_HOST'], $this->common->localhosts)): ?> oncontextmenu="return false;" <?php endif;?> >

    <?php if(false && $this->obConfig->facebook): ?>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&appId=<?=@$this->facebook['appid'];?>&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    <?php endif; ?>

    <div id="loading" class="grayed"></div>
    <div id="popupMessage"></div>

    <?php echo $this->render('const/cookie.phtml'); ?>    
    <?php echo $this->render('const/facebook.phtml'); ?>        <!--*** false ***-->
    <?php echo $this->render('const/youtube.phtml'); ?>         <!--*** false ***-->
    <?php echo $this->render('const/lojalnosc.phtml'); ?>       <!--*** false ***-->
        
    <section id="top">
        <div id="top-strip">
            <div class="content center">
                
            </div>
        </div>
        <div id="topAll" class="content center">
            <div id="topAll-container">
                <?php if(true): ?>
                    <div class="menuTop">
                        <?php echo $this->render('const/menu_top.phtml'); ?>
                        <?php // echo $this->render('const/szukaj.phtml'); ?>
                    </div>
                <?php endif; ?>
                
            </div>
        </div>
    </section>
    <section id="main-baner-container">
        <div id="main-baner-wrapper">
            <div id="main-baner">
                <?php if(true || isset($this->main)): ?>
                <div id="baner">
                        <?php if(false && isset($this->main)): ?>
                        <div id="flash">
                                <object type="application/x-shockwave-flash" data="<?php echo $this->baseUrl; ?>/public/flash/banner.swf" width="980" height="300">
                                <param name="base" value="<?php echo $this->baseUrl; ?>/public/flash" /> 
                                <param name="quality" value="high" /> 
                                <param name="movie" value="<?php echo $this->baseUrl; ?>/public/flash/banner.swf" /> 
                                <param name="wmode" value="transparent" /> 
                                </object>
                        </div>
                        <?php else: ?>
                        <?php if(true): ?>
                                <?php echo $this->render('const/slider.phtml'); ?>
                        <?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/baner.png" class="png" alt="baner" />
                        <?php endif; ?>
                        <?php endif; ?>
                </div>
                <?php endif; ?>
            </div>
        </div>
    </section>
    <div id="body">

    

    <?php if(true && !isset($this->main)): ?>
        <div id="sciezkaAll">	
            <div id="sciezka">
                <?php if(true): ?>
                <a href="<?php echo $this->baseUrl; ?>/">
                        Strona główna
                </a>
                <?php else: ?>
                        <?php echo $this->translate('jestes_tutaj');?>:&nbsp;
                <?php endif; ?>
                <?php if(false && $this->oferta && $this->czyProdukt): ?>		
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->ofertaLink;?>">
                <?php echo $this->arrow; ?><?php echo $this->ofertaPage['temat'];?></a>
                <?php endif; ?>
                <?php echo $this->nawigacja; ?>
            </div>
            <?php if($this->obConfig->iloscZnalezionych && @$this->oferta && @count($this->all) > 0 && @$this->ilosc > 0): ?>
                <span class="znaleziono">
                    <?php echo $this->translate('znaleziono_produktow');?>: <b><?php echo @intval($this->ilosc); ?></b>
                </span>
            <?php endif; ?>
        </div>
    <?php endif; ?>
    <?php if($this->myOferta) :?>
    <div id="main" <?php if(!$this->myKat) echo 'class = my_line' ;?>>
    <?php endif; ;?>
        <?php if(true && !isset($this->main)): ?>
            <?php if($this->obConfig->menuLeft) :?>
                <div id="mainLeft">
                    <div class="nagl"><?php echo $this->translate('kategorie');?></div>
                    <div id="menuLeft">
                        <?php echo $this->menu; ?>

                        <?php if (@$this->podstrona == 'galeria'): ?>
                            <?php $linki['Oferta/podstrona/galeria'] = 'Wszystkie produkty'; ?>
                        <?php endif; ?>

                        <?php //$linki['Nowosci'] = 'Nowości'; ?>
                        <?php if (@count($linki) > 0): ?>
                            <?php foreach ($linki as $link => $nazwa): ?>
                                <a href="<?php echo $this->baseUrl; ?>/<?php echo $link; ?>">
                                    <img src="<?php echo $this->baseUrl; ?>/public/images/strona/punkt<?php if ($this->link == $link) echo '_active'; ?>.png"><?php echo $nazwa; ?>
                                    <?php if ($this->link == $link): ?>
                                        <img id="imgActive" src="<?php echo $this->baseUrl; ?>/public/images/strona/menu_left_tlo_active_right.png">
                                    <?php endif; ?>
                                </a>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </div>

                    <script type="text/javascript">
                    // <![CDATA[
                    //new Menu('menu0');
                    // ]]>
                    </script>
                        <?php if (false && $this->main): ?>
                            <div id="szukaj">
                                <form action="<?php if (!$this->oferta): ?><?php echo $this->baseUrl; ?>/<?php echo $this->wynikiLink; ?><?php endif; ?>" method="post" id="szukanie" onsubmit="//$(this).attr('action', $(this).attr('action') + $('#szukajFraza').val());">
                                    <input id="szukajFraza" name="co" value="<?php echo isset($this->nazwa) ? @htmlspecialchars(stripslashes($this->nazwa)) : $this->fraza; ?>" onblur="if(this.value=='') this.value='<?php echo $this->fraza; ?>';" onfocus="if(this.value=='<?php echo $this->fraza; ?>') this.value='';" x-webkit-speech />
                                    <input id="szukajSubmit" type="image" src="<?php echo $this->baseUrl; ?>/public/images/strona/ok.png" value="OK"> 
                                        <?php if (false): ?>
                                            <select name="producent" id="producent" onchange="changeListaAttr(this);">
                                                <option value="-1">- <?php echo $this->translate('producent'); ?> -</option>
                                                <?php if (count($this->producenci) > 0): ?>
                                                    <?php foreach ($this->producenci as $producent): ?>
                                                        <option value="<?php echo $producent['id']; ?>" 
                                                                <?php if ($producent['id'] == $this->producent) echo ' selected="selected"'; ?>>
                                                            <?php echo $producent['nazwa']; ?>&nbsp;</option>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>
                                            </select>
                                        <?php endif; ?>
                                </form>
                                <?php if (false): ?>
                                    <a href="<?php echo $this->baseUrl; ?>/Oferta" rel="">wyszukiwarka zaawansowana</a>
                                <?php endif; ?>
                            </div>
                        <?php endif; ?>

                        <?php if (false && $this->obConfig->newsletter): ?>
                            <div id="newsletter">
                                <span class="vogue"><?php echo $this->translate('newsletter'); ?></span>
                                <label>Dopisz się do newslettera!</label>
                                <form action="" method="post">
                                    <input id="newsletterFraza" type="text" name="newsletter" value="<?php echo $this->frazaNews; ?>" onblur="if(this.value=='') this.value='<?php echo $this->frazaNews; ?>';" onfocus="if(this.value=='<?php echo $this->frazaNews; ?>') this.value='';" />
                                    <input id="newsletterSubmit" type="image" name="newsletterDodaj" src="<?php echo $this->baseUrl; ?>/public/images/strona/ok.png" value="OK" />
                                </form>
                            </div>
                        <?php endif; ?>

                        <?php if(false && $this->main): ?>
                                <?php echo $this->render('index/produktdnia.phtml'); ?>
                        <?php endif; ?>
                        <?php if(false && $this->main): ?>
                                <?php echo $this->render('index/nowosci.phtml'); ?>
                        <?php endif; ?>

                        <?php if (false && $this->obConfig->aktualnosci): ?>
                            <div class="aktualnosc">
                                <div class="aktHeader"><?php echo $this->translate('aktualnosci'); ?></div>
                                <div class="aktNazwa"><?php echo $this->aktualnosc['temat']; ?></div>
                                <div class="aktData"><?php echo $this->aktualnosc['data']; ?></div>
                                <div class="aktTekst">
                                    <img src="<?php echo $this->baseUrl; ?>/public/admin/aktualnosci/<?php echo $this->aktualnosc['img']; ?>" style="float:right; margin:15px 0px 5px 5px; ">
                                        <?php echo $this->aktualnosc['skrot']; ?>
                                </div>
                                <a class="aktWiecej" href="<?php echo $this->baseUrl; ?>/Aktualnosci"><?php echo $this->translate('wiecej'); ?></a>
                            </div>
                        <?php endif; ?>

                        <?php if ($this->obConfig->ankiety && @!empty($this->ankieta['odp']) && $this->ankietaUs['widoczny'] == 'T'): ?>
                            <div class="nagl">SONDA</div>
                            <div id="sonda">
                                <span><?php echo $this->ankieta['nazwa']; ?></span>
                                <form method="post" action="<?php echo $this->baseUrl; ?>/Ankieta">
                                    <input type="hidden" name="ankietaID" value="<?php echo $this->ankieta['id']; ?>" />
                                    <?php //$odps = explode('-|-', $this->ankieta['odp']); ?>
                                    <?php $i = 0;?>
                                    <?php if (count($this->ankietaOdps) > 0): ?>
                                        <?php foreach ($this->ankietaOdps as $odp): ?>
                                            <?php //$vals = explode('*|*', $odp);  ?>
                                            <input type="radio" name="odpowiedz" value="<?php echo $odp['id']; ?>" <?php if ($i == 0) echo 'checked="checked"'; ?>/>
                                            <?php echo $odp['nazwa'];
                                            $i++; ?><br/>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                    <input type="image" name="wyniki" value="Głosuj" src="<?php echo $this->baseUrl; ?>/public/images/strona/glosuj.png">
                                </form>
                            </div>
                        <?php endif; ?>

                        <?php if(false && $this->main): ?>
                            <div id="boks">
                                <?php echo $this->boks->tekst; ?>
                            </div>
                        <?php endif; ?>
                </div>
            <?php endif ;?>
            <div id="mainRight">
                <?php if(false && isset($this->main)): ?>
                    <div id="naglowek" style="line-height:0px; <?php if(isset($this->main)):?>margin-top:15px;<?php endif;?>">
                        <span class="">SZUKAJ</span>
                        <div id="sort" style="float:right; margin-right:15px; width:600px;">
                            <?php echo $this->render('const/szukaj.phtml'); ?>
                        </div>
                    </div>
                <?php endif; ?>
                <?php echo $this->layout()->content; ?>
            </div>
        <?php endif; ?>

        <?php if(true && isset($this->main)): ?>

                <?php echo $this->layout()->content; ?>

        <?php endif; ?>

        <?php if(false && $this->obConfig->partnerzy): ?>
                <?php $this->typ = "partnerzy"; ?>
                <?php echo $this->render('const/scroller.phtml'); ?>
        <?php endif; ?>

    <?php if($this->myOferta) :?>
        </div>
    <?php endif; ;?>
    <?php if($this->myOferta) :?>
        <div id="itemsPowiazane" class="items itemsMain itemsPromocje">
            <div id="naglowek" class="nagl naglMain"><span>Produkty powiązane</span></div>
        <div class="item-content">
            <!--<div class="item-wrapper">-->
                <?php if (true or @count($this->powiazane) > 0): ?>
                    <?php echo $this->render('produkt/powiazane.phtml'); ?>
                <?php endif; ?>
            <!--</div>-->
        </div>
        </div>
    <?php endif; ?>
    </div>
    <section id="logotypy">
        <div class="content center">
        <div class="row">
            <div class="logotypy-images col-md-12">
                <?php echo $this->logotypy['tekst'] ; ?>
            </div>

        </div>
            </div>
    </section>
    <section id="stopka-wrapper">
        <div id="stopkaAll" class="content center row">
            <div class="col-md-12">
            <?php if(false): ?>
            <div id="stopkaTop">
                    <div class="stopkaBlok stopkaBlok1">
                            <div class="stopkaBlokNapis">O nas</div>
                    </div>
                    <?php if(true): ?>
                    <div class="stopkaBlok stopkaBlok2">
                            <div class="stopkaBlokNapis">Informacje</div>
                    </div>
                    <?php endif; ?>
            </div>
            <?php endif; ?>
            <div id="stopka" class="content">
                    <div id="stopkaRight">
                    <?php if(false): ?>
                        <?php foreach ($this->myKats as $podstrona): ?>
                        <?php // dump($podstrona['id']);;?>
                            <?php if ($podstrona['id'] == 105) {$promocje = $podstrona['link'];}?>
                            <?php if ($podstrona['id'] == 107) {$nowosci = $podstrona['link'];}?>
                            <?php if ($podstrona['id'] == 181) {$aktualnosci = $podstrona['link']; dump($aktualnosci);die;}?>
                            <?php // if ($podstrona['id'] == 106) {$wyprzedaze = $podstrona['link'];}?>
                        <?php endforeach; ?>
                        <div class="stopkaBlok stopkaBlok1">
                            <div class="stopkaBlokNapis"><?php echo $this->blok1['temat'] ;?></div>
                            <ul>
                                <?php foreach($this->podstronyAll as $podstrona) :?>
                                    <?php if($podstrona['rodzic'] == $this->blok1['id']) :?>
                                        <li><a href="<?php echo $podstrona['link'] ;?>"><?php echo  $podstrona['tytul'] ;?></a></li>
                                    <?php endif ;?>
                                <?php endforeach ;?>
                            </ul>
                        </div>
                    <?php endif; ?>
                        
                    <?php if(true && isset($this->menu_glowne)): ?>
                        <div class="menu-bottom">
                            <div class="menu-bottom-container col-md-12">
                                <a href="/">Strona główna</a>
                            <?php for($i=0; $i<count($this->menu_dolne); $i++): ?>
                            <?php if($this->menu_dolne[$i]['polozenie'] != "topbottom") continue; ?>
                            <?php $active = ((@trim($this->menu_dolne[$i]['link']) == @trim($this->link))
                                                      || (@trim($this->menu_dolne[$i]['link']) == @trim($this->params['id']))
                                                      || (@trim($this->menu_dolne[$i]['id']) == @intval($this->ids[0]))); ?>
                            <a href="<?php echo $this->baseUrl; ?>/<?php echo trim($this->menu_dolne[$i]['link']); ?>" <?php if($active) echo 'id="menuBottomActive"'; ?>>
                            <?php echo $this->menu_dolne[$i]['temat']; ?></a>
                            <?php endfor; ?>
                                <div id="projekt" class="col-ld-3 pull-right btn btn-sm">
                                    <div class="projekt-container">
                                        <?php echo $this->translate('projekt_i_realizacja');?>:&nbsp;<a href="http://www.bigcom.pl">BigCom</a>
                                    </div>
                            </div>
                                
                        </div>
                    <?php endif; ?>                    

                    <?php if(false && isset($this->menu_dolne)): ?>
                    <div class="stopkaBlok stopkaBlok2">
                            <div class="stopkaBlokNapis"><?php echo $this->blok2['temat'] ;?></div>
                            <ul>
                                <?php foreach($this->podstronyAll as $podstrona) :?>
                                    <?php if($podstrona['rodzic'] == $this->blok2['id']) :?>
                                        <li><a href="<?php echo $podstrona['link'] ;?>"><?php echo $podstrona['tytul'] ;?></a></li>
                                    <?php endif ;?>
                                <?php endforeach ;?>
                            </ul>
                            
                            <div class="stopkaBlokLinki">
                                <ul>
                                    <?php if(false) :?>
                                        <?php for($i=0; $i<count($this->menu_dolne); $i++): ?>
                                        <?php if($this->menu_dolne[$i]['polozenie'] != "bottom") continue; ?>
                                        <?php $active = ((@trim($this->menu_dolne[$i]['link']) == @trim($this->link))
                                                                  || (@trim($this->menu_dolne[$i]['link']) == @trim($this->params['id']))
                                                                  || (@trim($this->menu_dolne[$i]['id']) == @intval($this->ids[0]))); ?>
                                            <li><a href="<?php echo $this->baseUrl; ?>/<?php echo trim($this->menu_dolne[$i]['link']); ?>" <?php if($active) echo 'id="menuBottomActive"'; ?>>
                                        <?php echo $this->menu_dolne[$i]['temat']; ?></a></li>
                                        <?php endfor; ?>
                                    <?php endif ;?>
                                </ul>
                            </div>
                    </div>
                        <div class="stopkaBlok stopkaBlok3">
                            <div class="stopkaBlokNapis"><?php echo $this->blok3['temat'] ;?></div>
                            <ul>
                                <?php foreach($this->podstronyAll as $podstrona) :?>
                                    <?php if($podstrona['rodzic'] == $this->blok3['id']) :?>
                                        <li><a href="<?php echo $podstrona['link'] ;?>"><?php echo $podstrona['tytul'] ;?></a></li>
                                    <?php endif ;?>
                                <?php endforeach ;?>
                            </ul>
                        </div>
                        <div class="stopkaBlok stopkaBlok4">
                            <div class="stopkaBlokNapis"><?php echo $this->blok4['temat'] ;?></div>
                            <ul>
                                <?php foreach($this->podstronyAll as $podstrona) :?>
                                    <?php if($podstrona['rodzic'] == $this->blok4['id']) :?>
                                        <li><a href="<?php echo $podstrona['link'] ;?>"><?php echo $podstrona['tytul'] ;?></a></li>
                                    <?php endif ;?>
                                <?php endforeach ;?>
                            </ul>
                        </div>
                    <?php endif; ?>

                    <?php if(false): ?>
                    <div class="stopkaBlok stopkaBlok5">
                        <div class="stopkaBlokNapis">Kontakt</div>
                        <div class="stopkaBlokLinki">
                            <?php echo @$this->stopka['tekst']; ?>
                        </div>
                    </div>
                    <?php endif; ?>

                    <?php if(false): ?>
                        <?php if(@count($this->kategDzieci[0]) > 0): ?>
                            <?php foreach($this->kategDzieci[0] as $kategMain): ?>
                            <div class="stopkaBlok">
                                    <div class="stopkaBlokNapis"><?php echo $kategMain['nazwa']; ?>:</div>
                                    <div class="stopkaBlokLinki">
                                    <?php if(@count($this->kategDzieci[$kategMain['id']]) > 0): ?>
                                    <?php $i=0;foreach($this->kategDzieci[$kategMain['id']] as $kategoria): ?>
                                            <?php $active = ((trim($kategoria['nazwa']) == trim($this->link)) 
                                                                            || (trim($kategoria['link']) == trim($this->link))); ?>
                                            <?php if($i > 0): ?>&nbsp;&nbsp;|&nbsp;&nbsp;<?php endif; ?>
                                            <a href="<?php echo $this->baseUrl; ?>/<?php echo trim($kategoria['link']); ?>" <?php if($active) echo 'id="menuBottomActive"'; ?>><?php echo $kategoria['nazwa']; ?></a>
                                    <?php $i++;endforeach; ?>
                                    <?php endif; ?>
                                    </div>
                            </div>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    <?php endif; ?>

                    <?php if(false && $this->obConfig->newsletter): ?>
                    <div class="stopkaBlok stopkaBlok6" id="newsletter">
                        <div class="stopkaBlokNapis">Newsletter</div>
                        <div class="stopkaBlokLinki">
                            <form action="" method="post">
                                <input id="newsletterFraza" type="text" name="newsletter" value="<?php echo $this->frazaNews; ?>" onblur="if(this.value=='') this.value='<?php echo $this->frazaNews;?>';" onfocus="if(this.value=='<?php echo $this->frazaNews;?>') this.value='';" />
                                <input id="newsletterSubmit" type="image" name="newsletterDodaj" src="<?php echo $this->baseUrl; ?>/public/images/strona/plus-icon.png" />
                            </form>
                            <span>Otrzymuj informacje o nowościach i promocjach</span>
                        </div>
                    </div>
                    <?php endif; ?>

                    </div>

                    <?php if($this->obConfig->sklepy): ?>
                    <div id="lokalizacja">
                            <a href="<?php echo $this->baseUrl; ?>/NaszeSklepy">Sprawdź lokalizację naszych sklepów
                            <img src="<?php echo $this->baseUrl; ?>/public/images/strona/arrow_right_white.gif" alt="" />
                            </a>
                    </div>
                    <?php endif; ?>

                    <?php if(false && $this->obConfig->licznikOdwiedzin): ?>
                    <div id="counterBox">
                            <div id="counterLeft">
                                    <?php echo $this->translate('currently_online');?>&nbsp;<b><?php echo $this->liczbauser; ?></b>.
                            </div>
                            <div id="counterRight">
                                    <?php echo $this->translate('odwiedzilo_nas');?>:&nbsp;<b><?php echo $this->liczbaodwiedzin; ?></b>.
                            </div>
                    </div>
                    <?php endif; ?>
            </div>

            <div id="lastUpdate">
            <?php echo $this->translate('aktualizacja');?>:&nbsp;
            <?php echo @date('Y-m-d H:i', strtotime($this->ustawienia['zmiana'])); ?>
            </div>


        </div>
    </div>
    </section>
    <?php if(false) : ?>
    <div id="projekt-wrapper">
        <div id="projekt" class="center content">
            <?php echo $this->translate('projekt_i_realizacja');?>:&nbsp;<a href="http://www.bigcom.pl">BigCom</a>
        </div>
    </div>
    <?php endif ; ?>
    <script type='text/javascript' id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.10.0.js'><\/script>".replace("HOST", location.hostname));
    //]]></script>

</body>

</html>