<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<?php

@session_start();
$_SESSION['lang'] = 'pl';
$agent = $_SERVER['HTTP_USER_AGENT'];
define ('IE', strpos($agent, 'MSIE') !== FALSE || strpos($agent, 'Trident') !== FALSE);
define ('IE6', strpos($agent, 'MSIE 6') !== FALSE);
define ('IE7', strpos($agent, 'MSIE 7') !== FALSE);
define ('IE8', strpos($agent, 'MSIE 8') !== FALSE);
define ('IE9', strpos($agent, 'MSIE 9') !== FALSE);
define ('IE10', strpos($agent, 'MSIE 10') !== FALSE);
define ('IE11', IE && strpos($agent, 'rv:11') !== FALSE);
define ('Firefox', strpos($agent, 'Firefox') !== FALSE);
define ('Opera', strpos($agent, 'Opera') !== FALSE || strpos($agent, 'OPR') !== FALSE);
define ('Chrome', strpos($agent, 'Chrome') !== FALSE);
define ('Safari', strpos($agent, 'Safari') !== FALSE && !Chrome);
define ('browser', IE?'ie':(Opera?'opera':(Chrome?'chrome':(Safari?'safari':'firefox'))));
define ('IEver', !IE?0:(IE11?11:(IE10?10:(IE9?9:(IE8?8:(IE7?7:(IE6?6:0)))))));
define ('browserVer', IE ? 'ie'.IEver : browser);//var_dump($agent);die();

?>

<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="PL" />	
	<meta content="index, follow" name="robots">
	<meta name="keywords" content="<?php echo htmlspecialchars(stripslashes($this->ustawienia['keywords'])); ?>" />
	<meta name="description" content="<?php echo htmlspecialchars(stripslashes($this->ustawienia['description'])); ?>" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	
	<script type="text/javascript">
	var w = screen.width;
	var h = screen.height;
	document.cookie = 'resolution=' + screen.width + 'x' + screen.height;
	document.cookie = 'resolutionX=' + screen.width;
	document.cookie = 'resolutionY=' + screen.height;
	</script>
	
	<script type="text/javascript">var IE = '<?php echo IE; ?>';</script>
	<script type="text/javascript">var IEver = <?php echo IEver; ?>;</script>
	<script type="text/javascript">var browser = '<?php echo browser; ?>';</script>
	<script type="text/javascript">var browserVer = '<?php echo browserVer; ?>';</script>
	
	<?php if(in_array($_SERVER['HTTP_HOST'], $this->common->localhosts) && Safari): ?>
	<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
	<?php endif; ?>

	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/fonts.css" type="text/css"></link>
	<?php endif; ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/main.css" type="text/css"></link>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/mobile.css" type="text/css"></link>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/sklep.css" type="text/css"></link>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/cross-browser/<?php echo browserVer; ?>.css" type="text/css"></link>
	<?php if(IE): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/cross-browser/ie.css" type="text/css"></link>
	<?php endif; ?>	
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/langs/<?php echo $this->lang; ?>.css" type="text/css"></link>
	<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->baseUrl; ?>/public/styles/print.css"/>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/print.js"></script>
	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-migrate-1.2.1.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript">//$.noConflict();</script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.mousewheel.js"></script>
	
	<?php if(true): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/cookie/popup.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/cookie/cookie.css" type="text/css"></link>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/themes/base/jquery-ui.css" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">//$.datepicker = new Datepicker();</script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/i18n/jquery.ui.datepicker-pl.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.pngfix.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/swfobject.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/menu.js"></script>
	<script type="text/javascript">var baseUrl = '<?php echo $this->baseUrl; ?>';</script>
	<?php echo $this->render('const/scripts.phtml'); ?>
	<?php echo $this->render('const/scripts_vars.phtml'); ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function.js"></script>
	<?php if($this->obConfig->sklepOnline): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_ajax.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_koszyk_dodaj.js"></script>
	<?php endif; ?>
	<?php if(false || $this->obConfig->slajdy || $this->obConfig->scroller): ?>
	<script type="text/javascript">var ileSlajdow = <?php echo @count($this->slajdy); ?>;</script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_scroller.js"></script>
	<?php endif; ?>
	<?php if($this->obConfig->selectBox): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_selectbox.js"></script>
	<?php endif; ?>
	<?php if(false): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_inne.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_imagebox.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_zakladki.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_producent.js"></script>
	<?php endif; ?>
	
	<?php if(false): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/fontname.font.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">//Cufon.now();</script>
	<?php endif; ?>
	
	<?php if($this->obConfig->youtube): ?>
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<?php endif; ?>
	
	<link rel="shortcut icon" href="<?php echo $this->baseUrl; ?>/public/images/strona/favicon.png">
	
	<title><?php echo $this->ustawienia['title']; ?> <?php echo @!empty($this->title) ? ' - '.$this->title: ''; ?></title>
	
	<?php echo $this->headScript(); ?>
	<?php echo $this->headLink(); ?>
	
	<?php //echo $this->render('const/custom.phtml'); ?>
	
	<?php echo $this->ustawienia['google_analytics']; ?>
	
	<script type="text/javascript">	
	$(document).ready(function()
	{
		w = $(window).width() - 0;
		var w2 = Math.floor(w / 2);
		//console.log(w);
		//$('#body').width(w - 0);
		//$('#topMain').width(w - 0);
		//$('#menuTop').width(w - 0);
		//$('#menuTop').css('float', 'left');
		//$('#search').width(w - 0);
		$('#marka,#producent').attr('style',function(i,s){return (s!=undefined?s:'')+'width:'+(w2-20)+'px!important;'});
		$('#model').attr('style',function(i,s){return (s!=undefined?s:'')+'width:'+(w2-20)+'px!important;'});
		$('#menuLeft').width(w - 30);
		$('#menuLeft .lvl0 a').width(w - 30 - 18);
		$('#menuLeft .lvl0 > a').css('background-position', (w-30-18-15)+'px center');
		$('#menuLeft .lvl0_active > a').css('background-position', (w-30-18-15-10)+'px center');
		$('#sciezkaAll').width(w - 20);
		$('#mainRight').width(w - 20);
		var produktLeft = Math.min(800, Math.max(0, w - 20 - 350)); if(produktLeft < 50) produktLeft = 0;
		$('#produktLeft').width(produktLeft);
		$('#produktImgDiv, #produktImgDivInner').width(produktLeft).height(produktLeft);
		$('#produktImg').css('max-width',produktLeft).css('max-height',produktLeft);
		$('#produktOpis').width(w - 20 - 20);
		var shorts = Math.min(w - 200 - 30, Math.max(270, w - 20 - 185)); if(shorts < 270) shorts = 270;
		$('.itemListaShort .itemTop').width(shorts);
		$('.itemListaShort .itemBottom').width(shorts);
		var fullImg = Math.max(0, Math.min(200, w - 340 - 20)); if(fullImg < 50) fullImg = 0;
		$('.itemListaFull .itemImgDiv, .itemListaFull .itemImgDivInner, .itemListaFull .itemImgLink').width(fullImg);
		$('.itemListaFull .itemImg').css('max-width',fullImg);
		var shortImg = Math.max(0, Math.min(200, w - 340 - 20)); if(shortImg < 50) shortImg = 0;
		$('.itemListaShort .itemImgDiv, .itemListaShort .itemImgDivInner, .itemListaShort .itemImgLink').width(shortImg);
		$('.itemListaShort .itemImg').css('max-width',shortImg);
	});
	$(window).load(function()
	{
		
	});	
	</script>	
	<?php echo $this->render('const/ajax.phtml'); ?>
</head>

<body <?php if(isset($this->body)) echo $this->body;?> <?php if($this->obConfig->blokujPPM && !in_array($_SERVER['HTTP_HOST'], $this->common->localhosts)): ?> oncontextmenu="return false;" <?php endif;?> >

<div id="loading" class="grayed"></div>
<div id="popupMessage"></div>

<?php echo $this->render('const/cookie.phtml'); ?>

<div id="topAll">

<?php if(true): ?>
<div id="menuTop">

<?php if(false && @!empty($this->projekt['tekst'])): ?>
<div id="temp"><?php echo @$this->projekt['tekst']; ?></div>
<?php endif; ?>

<a href="<?php echo $this->baseUrl; ?>/">
	<img id="menus" src="<?php echo $this->baseUrl; ?>/public/images/strona/mobile/menu.png" class="png" alt="" />
</a>

<a href="<?php echo $this->baseUrl; ?>/">
	<img id="logo" src="<?php echo $this->baseUrl; ?>/public/images/strona/logo.png" class="png" alt="" />
</a>

<?php if($this->obConfig->sklepOnline): ?>
<div id="topMenu">	
	<a href="<?php echo $this->baseUrl; ?>/Koszyk/" style="background-image:url('<?=$this->baseUrl;?>/public/images/strona/mobile/kosz.png');">
		<span><?php echo ucfirst($this->translate('koszyk'));?></span>
		<b class="koszykIlosc"><?php echo @number_format(count($_SESSION['koszyk']), 0, '', ''); ?></b>
	</a>
	<a href="<?php echo $this->baseUrl; ?>/kontrahent/menu" style="background-image:url('<?=$this->baseUrl;?>/public/images/strona/mobile/user.png');">
		<span><?php echo ucfirst($this->translate('konto'));?></span>
	</a>
	<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->ofertaLink; ?>" style="background-image:url('<?=$this->baseUrl;?>/public/images/strona/mobile/lupa.png');">
		<span><?php echo ucfirst($this->translate('szukaj'));?></span>
	</a>
</div>
<?php endif; ?>

</div>
<?php endif; ?>

<div id="search">
	<?php echo $this->render('const/szukaj.phtml'); ?>
</div>

<div id="body">

<?php if(true && isset($this->main)): ?>
<div id="baner">
	<?php if(@count($this->slajdy) > 0): ?>
		<?php //echo $this->render('const/slider.phtml'); ?>
		<img src="<?php echo $this->baseUrl; ?>/public/admin/slajdy/<?php echo $this->slajdy[0]['img'];?>" class="png" alt="baner" />
	<?php endif; ?>
</div>
<?php endif; ?>

<?php if(true && !isset($this->main) && !isset($this->dzieci)): ?>
<div id="sciezkaAll">	
	<div id="sciezka">
		<a href="<?php echo $this->baseUrl; ?>/">
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/mobile/home.png" alt="" />
		</a>
		<?php echo $this->nawigacja; ?>
	</div>
	<?php if(@$this->oferta && @count($this->all) > 0 && @$this->ilosc > 0): ?>
	<span class="znaleziono">
	<?php echo $this->translate('znaleziono_produktow');?>: <b><?php echo @intval($this->ilosc); ?></b>
	</span>
	<?php endif; ?>
</div>
<?php endif; ?>

<div id="main">
	<?php if(!isset($this->main)): ?>
		<?php if(isset($this->dzieci)): ?>
		<div id="mainLeft">		
			<div id="menuLeft">
				<?php echo $this->menu; ?>
			</div>	
		</div>
		<?php endif; ?>
		<?php if(!isset($this->dzieci)): ?>
		<div id="mainRight">	
			<?php echo $this->layout()->content; ?>		
		</div>
		<?php endif; ?>
	<?php endif; ?>
	
	<?php if(true && isset($this->main)): ?>
		<div id="menuLeft">
			<?php echo $this->menu; ?>
		</div>
		<?php //echo $this->layout()->content; ?>		
	<?php endif; ?>
	
	<?php if(false && $this->obConfig->partnerzy): ?>
		<?php $this->typ = "partnerzy"; ?>
		<?php echo $this->render('const/scroller.phtml'); ?>
	<?php endif; ?>	
</div>

</div>

</body>

</html>