<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end"><?php echo $this->typNazwa; ?> - Edycja</span>		
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Dla grupy rozmiarów "<?php echo $this->typNazwa; ?>" dodajesz rozmiary</h2>
		</div>
		<div class="box_title">
			<h3 class="title3"><!--Zarządzaj rozmiarami dla: <?php echo $this->typNazwa; ?>--></h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Rozmiary</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div id="box_display" class="db">
						<form action="" method="post" enctype="multipart/form-data">                   
							<input type="hidden" name="id" value="<?php echo $this->pojedynczy->id;?>"/>
							<div class="form_title"><h2 class="title4">Edytuj rozmiar</h2></div>
							<div class="form_row">
								<label class="required">Rozmiar:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="<?php echo $this->pojedynczy->nazwa;?>" />
								</div>
							</div>
							<?php if($this->pokazDruga): ?>
							<div class="form_row">
								<label class="required">Długość wkładki:</label>
								<div class="input_bg">
									<input type="text" name="wkladka" value="<?php echo $this->pojedynczy->wkladka;?>" />
								</div>
							</div>
							<?php endif; ?>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edytuj" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->kolory) && count($this->kolory) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="30%"/>
									<?php if($this->pokazDruga): ?>
									<col width="30%"/>
									<?php endif; ?>
									<col width="20%"/>
									<col width="20%"/>
								</colgroup>
								<tr>
									<th>Rozmiar</th>
									<?php if($this->pokazDruga): ?>
									<th>Długość wkładki</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->kolory as $kolor): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $kolor->nazwa; ?>
									</td>
									<?php if($this->pokazDruga): ?>
									<td class="first img">
										<?php echo $kolor->wkladka; ?>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/rozmiary/edytuj/typ/<?php echo $this->typ;?>/id/<?php echo $kolor->id;?>">Edytuj</a>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/rozmiary/dodaj/typ/<?php echo $this->typ;?>/delid/<?php echo $kolor->id;?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych rozmiarów.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>