<?php return; ?>
<div class="button1">
    <a onclick="$('.domyslne.<?= $this->dostawca; ?>').toggle()" href="javascript:void(0);">zobacz domyślne ustawienia Poczta Polska</a>
</div>	
<br />

<div style="display: <?php if(isset($this->lista_bledow) && !empty($this->lista_bledow)): ?>block<?php else: ?>none;<?php endif; ?>" class="domyslne <?= $this->dostawca; ?>">
    <br />
    <?php if(!empty($this->lista_bledow)): ?>
        <div class="error_container">
            <?php echo $this->lista_bledow; ?>	
        </div>
    <?php endif; ?>
    <div class="form_row">
            <label class="required large">Rodzaj przesyłki:</label>
            <div class="input_bg w1">
            <select name="config[domyslne][rodzajPrzesylki]"/>
            <?php $array = array('K' => 'Krajowa', 'L' => 'Lokalna', 'Z' => 'Zagraniczna'); ?>
            <?php foreach($array as $id => $value): ?>
            <option value="<?php echo $id; ?>" <?php if(isset($this->config['rodzajPrzesylki']) && $this->config['rodzajPrzesylki'] == $id) echo ' selected="selected"'; ?>><?php echo $value; ?></option>
            <?php endforeach; ?>
            </select>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Kto płaci za usługę:</label>
            <div class="input_bg w1">
            <select name="config[domyslne][placi]"/>
            <?php $array = array('1' => 'nadawca', '2' => 'odbiorca', '3' => 'trzeci płatnik'); ?>
            <?php foreach($array as $id => $value): ?>
            <option value="<?php echo $id; ?>" <?php if(isset($this->config['placi']) && $this->config['placi'] == $id) echo ' selected="selected"'; ?>><?php echo $value; ?></option>
            <?php endforeach; ?>
            </select>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Forma płatności:</label>
            <div class="input_bg w1">
            <select name="config[domyslne][formaPlatnosci]"/>
            <?php $array = array('G' => 'gotówka', 'P' => 'przelew'); ?>
            <?php foreach($array as $id => $value): ?>
            <option value="<?php echo $id; ?>" <?php if(isset($this->config['formaPlatnosci']) && $this->config['formaPlatnosci'] == $id) echo ' selected="selected"'; ?>><?php echo $value; ?></option>
            <?php endforeach; ?>
            </select>
            </div>
    </div>
    <div class="form_row">
    <label class="large">Uwagi klienta odnośnie przesyłki:</label>
    <div class="input_bg w1">
            <textarea name="config[domyslne][uwagi]" cols="35" rows="3"><?php echo (isset($this->config['uwagi']))? $this->config['uwagi']: '';?></textarea>
    </div>
    </div>
    <div class="form_title"><h2 class="title4">Nadawca</h2></div>
    <div class="form_row">
            <label class="required large">Numer nadawcy:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][numer]" value="<?php echo $this->config['numer']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Nazwisko osoby nadającej przesyłkę:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][nazwisko]" value="<?php echo $this->config['nazwisko']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Imię osoby nadającej przesyłkę:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][imie]" value="<?php echo $this->config['imie']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Telefon osoby nadającej przesyłkę:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][telKontakt]" value="<?php echo $this->config['telKontakt']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">E-mail osoby nadającej przesyłkę:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][emailKontakt]" value="<?php echo $this->config['emailKontakt']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Data nadania przesyłki:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][dataNadania]" value="<?php echo date('Y-m-d H:i'); ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Numer kuriera podejmującego przesyłkę:</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][numerKuriera]" value="<?php echo $this->config['numerKuriera']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Podpis nadawcy (np. nazwisko osoby nadającej przesyłkę):</label>
            <div class="input_bg w1">
            <input type="text" name="config[domyslne][podpisNadawcy]" value="<?php echo $this->config['podpisNadawcy']; ?>"/>
            </div>
    </div>
    <div class="form_row">
        <label class="required large">Numer konta w formacie IBAN:</label>
        <div class="input_bg w1">
            <input type="text" name="config[domyslne][nrKonta]" value="<?php echo $this->config['nrKonta']; ?>"/>
        </div>
    </div>
</div>