<div class="form_row">
        <label class="required large">Czy odbiorca jest firmą:</label>
        <div class="input_bg w3">
                <input type="checkbox" name="odbiorca[<?= $this->w['id_zam']; ?>][czyFirma]" <?php if(isset($this->zamowienia[$this->w['id_zam']]['czyFirma']) && $this->zamowienia[$this->w['id_zam']]['czyFirma'] == 'on') echo ' checked="checked"'; ?>> &nbsp;&nbsp;Odbiorca jest firmą
        </div>
</div>
<div class="form_row">
        <label class="required large">Nazwa odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][nazwa]" value="<?php echo @htmlspecialchars(stripslashes($this->zamowienia[$this->w['id_zam']]['nazwa'])); ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Numer NIP odbiorcy (bez kresek):</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][nip]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['nip']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Nazwisko odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][nazwisko]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['nazwisko']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Imię odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][imie]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['imie']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Kod pocztowy odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][kod]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['kod']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Miasto odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][miasto]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['miasto']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Ulica odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][ulica]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['ulica']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Nr domu odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][nrDom]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['nrDom']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="large">Nr lokalu odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][nrLokal]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['nrLokal']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Telefon kontaktowy odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][telKontakt]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['telKontakt']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">E-mail kontaktowy odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="odbiorca[<?= $this->w['id_zam']; ?>][emailKontakt]" value="<?php echo $this->zamowienia[$this->w['id_zam']]['emailKontakt']; ?>"/>
        </div>
</div>
