<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/cv/lista/">CV &raquo;</a>
			<span class="link_path_end">Lista CV</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="CV" />
			<h2 class="title2 p1">CV</h2>
		</div>
		<!--
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php //echo $this->baseUrl; ?>/admin/cv/dodaj/">Dodaj klienta</a>
		</div>
		-->
		<div class="box_title">
			<h3 class="title3">Zarządzaj CV:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(count($this->cv) > 0): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width="10%"/>
							<col width="10%"/>
							<col width="20%"/>
							<col width="20%"/>
							<col width="15%"/>
							<col width="15%"/>
							<col width="5%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>Data wysyłki</th>
							<th>Zdjęcie</th>
							<th>Imię</th>
							<th>Nazwisko</th>
							<th>E-mail</th>
							<th>Telefon</th>
							<th>Edytuj</th>
							<th>Usuń</th>
						</tr>
						
						<?php $j = 1; foreach ($this->cv as $cv): ?>
								
							<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								<td align="center"><?php echo $cv['data_wysylki']; ?></td>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/cv/edytuj/id/<?php echo $cv['id']; ?>"><img src="<?php echo $this->baseUrl.'/public/admin/cv/'.$cv['img'];?>" alt="" width="75" /></a></td>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/cv/edytuj/id/<?php echo $cv['id']; ?>"><b><?php echo $cv['imie']; ?></b></a></td>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/cv/edytuj/id/<?php echo $cv['id']; ?>"><b><?php echo $cv['nazwisko']; ?></b></a></td>
							    <td align="center"><a href="mailto:<?php echo $cv['email']; ?>"><?php echo $cv['email']; ?></a></td>
								<td align="center"><?php echo $cv['telefon']; ?></td>
								<td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/cv/edytuj/id/<?php echo $cv['id'];  ?>">Edytuj</a></td>
								<td align="center"><a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć tego klienta ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/cv/lista/delid/<?php echo $cv['id']; ?>">Usuń</a></td>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak dodanych CV.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>