<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut video</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem video:</h3>	
		</div>
		<div class="content">
			<div class="right_side2">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj video</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj video</h2></div>
							<div class="form_row">
								<label class="">Nazwa:</label>
								<div class="input_bg w1">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<div class="form_row">
								<label class="required">Adres WWW</label>
								<div class="input_bg w1">
									<input type="text" name="www" value="" /><br/>
									(w formacie http://www.youtube.com/v/abcdefghijk)
								</div>
							</div>
							<div class="form_row">
								<label class="">Opis:</label>
								<div class="input_bg w1">
									 <textarea name="opis"></textarea>
								</div>
							</div>
                            <?php if($this->edycjazablokowana === false): ?>                        
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
							</div>
                            <?php endif; ?>	
						</form>
					</div>
					
					<!--Lista video-->
					<?php if(isset($this->videos) && count($this->videos) > 0): ?>
					
						<div class="box_foto_product">
							<table id="jQ_drag" class="foto_box">
								<colgroup>
									<col width="30%"/>
									<col width="30%"/>
									<col width="20%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<thead>
								<tr>
									<th>Nazwa</th>
									<th>WWW</th>
									<th>Opis</th>
									<th>Pozycja</th>
									<th>Widoczny</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								</thead>
								
								<tbody>
								<?php $i=1; foreach($this->videos as $video): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>" id="rowPos_<?php echo $video['id'];?>">
									<td class="first img">
										<?php echo $video->nazwa; ?>
									</td>
									<td align="center">	
										<?php echo $video->www; ?>
									</td>
									<td align="center">	
										<?php echo stripslashes($video->opis); ?>
									</td>
									<td align="center">
										<span class="ico_drag"></span>
									</td>
									<td align="center">
									<a title="Zmień widoczność" class="<?php echo @intval($video->wyswietl) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/admin/video/dodaj/pokazid/<?php echo $video->id; ?>/widoczny/<?php echo @intval(!$video->wyswietl); ?>">Pokaż</a>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/video/edytuj/id/<?php echo $video->id;?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/video/dodaj/delid/<?php echo $video->id;?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>
								</tbody>
							
							</table>
							
							<script type="text/javascript">
							$(document).ready(function()
							{
								$("#jQ_drag tbody").sortable(
								{
									opacity: 0.6, 
									cursor: 'move', 
									update: function()
									{
										var order = $(this).sortable("serialize")+'&table=video'
										$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(theResponse)
										{
											location.reload();
										});
									},
								});
							});
							</script>
							
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych video.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>