<div class="modul_container">
    <div class="container">	
        <div class="box_title oh">
            <h3 class="title3 lf">Zmień hasło - klientowi <?= !empty($this->row['nazwisko']) || !empty($this->row['imie'])? $this->row['nazwisko'].' '.$this->row['imie'] : $this->row['karta']; ?>&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            <a class="btn-orange small" href="<?= $this->baseUrl; ?>/admin/kontrahent/edytuj/id/<?= $this->row['id']; ?>">Edycja konta</a>
        </div>
        <div class="content cb">
            <?= isset($this->error)? '<div class="error_container">'.$this->error.'</div>': null; ?>
            <div class="all_container">
                <form method="post" action="">
                    <div class="form_row">
                        <label class="radius">Nowe hasło:</label>
                        <div class="radius">
                            <input type="password" name="post[haslop]" value="<?= $this->data['haslop']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Powtórz hasło:</label>
                        <div class="radius">
                            <input type="password" name="post[haslo]" value="<?= $this->data['haslo']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="btn-right">
                        <input class="btn-orange" type="submit" name="post[save]" value="zapisz" />
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>