<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Klienci &raquo;</a>
			<span class="link_path_end">Dodaj klienta</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Klienci</h2>
		</div>
		<div class="box_link_navi">
			<a class="back" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Dodaj klienta:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane klienta:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="kategorie" action="" method="post" enctype="multipart/form-data">
						<div class="form_row">
							<label class="required">Rodzaj klienta:</label>
							<div class="box_radio">
								<div class="input_bg_radio">
									<input id="prywatna" onClick="Prywatna(1);" style="width:20px;" <?php if(!$this->obConfig->firmaDomyslnie) echo 'checked="checked"'; ?> name="kontrahent[faktura]" type="radio" value="0" />
									<label class="tiny" for="prywatna" style="width:50px !important;">Prywatny</label>
								</div>
								<div class="input_bg_radio" style="margin-left:15px;">
									<input id="firma" onClick="Firma();" style="width:20px;" <?php if($this->obConfig->firmaDomyslnie) echo 'checked="checked"'; ?> name="kontrahent[faktura]" type="radio" value="1" />
									<label class="tiny" for="firma">Firma</label>
								</div>
							</div>
						</div>
						<?php if($this->obConfig->klienciGrupy): ?>
						<div class="form_row">
							<label class="">Grupa:</label>
							<div class="input_bg w1">
								<select name="kontrahent[grupa]">
								<option value="0">wybierz</option>
								<?php foreach($this->grupy as $grupa): ?>
								<option value="<?php echo $grupa['id'];?>" <?php if($grupa['id']==$this->new_user['grupa']) echo 'selected="selected"';?>><?php echo $grupa['nazwa'];?></option>
								<?php endforeach;?>
								</select>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->klienciSymbol): ?>
						<div class="form_row">
							<label class="required">Nr klienta:</label>
							<div class="input_bg w1">
								<input name="kontrahent[id_ext]" type="text" value="<?php echo $this->new_user['id_ext']; ?>"/>
							</div>
						</div>
						<?php endif; ?>
						<div class="form_row <?php if(!$this->obConfig->plec):?>dn<?php endif; ?>" id="plec">
							<label class="required">Płeć:</label>
							<div class="box_radio">
								<div class="input_bg_radio">
									<input style="width:20px;" <?php if(isset($this->new_user['plec']) && $this->new_user['plec']=='K')echo'checked'; ?> name="kontrahent[plec]" type="radio" value="K" id="K"/>
									<label class="tiny" for="K" style="width:40px !important;">Kobieta</label>
								</div>
								<div class="input_bg_radio" style="margin-left:15px;">
									<input style="width:20px;" <?php if(isset($this->new_user['plec']) && $this->new_user['plec']=='M')echo'checked'; ?> name="kontrahent[plec]" type="radio" value="M" id="M"/>
									<label class="tiny" for="M" style="width:60px !important;">Mężczyzna</label>
								</div>
							</div>
						</div>
						<div class="form_row vh h1" id="f1">
							<label class="required">Nazwa firmy:</label>
							<div class="input_bg w6" id="f2">
								<input name="kontrahent[nazwa_firmy]" type="text" value="<?php echo $this->new_user['nazwa_firmy']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h1 <?php if(!$this->obConfig->pesel):?>dni<?php endif; ?>" id="f11">
							<label class="">PESEL:</label>
							<div class="input_bg w1" id="f12">
								<input name="kontrahent[pesel]" type="text" value="<?php echo $this->new_user['pesel']; ?>"/>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->nip):?>dni<?php endif; ?>" id="f3">
							<label class="required">NIP:</label>
							<div class="input_bg" id="f4">
								<input name="kontrahent[nip]" type="text" value="<?php echo $this->new_user['nip']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h1 <?php if(!$this->obConfig->regon):?>dni<?php endif; ?>" id="f5">
							<label class="">REGON:</label>
							<div class="input_bg" id="f6">
								<input name="kontrahent[regon]" type="text" value="<?php echo $this->new_user['regon']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h1 <?php if(!$this->obConfig->pkd):?>dni<?php endif; ?>" id="f7">
							<label class="">PKD:</label>
							<div class="input_bg" id="f8">
								<input name="kontrahent[pkd]" type="text" value="<?php echo $this->new_user['pkd']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h1 <?php if(!$this->obConfig->krs):?>dni<?php endif; ?>" id="f9">
							<label class="">KRS:</label>
							<div class="input_bg" id="f10">
								<input name="kontrahent[krs]" type="text" value="<?php echo $this->new_user['krs']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h1" id="f0">
						</div>
						<div class="form_row">
							<label class="required">E-mail:</label>
							<div class="input_bg w1">
								<input name="kontrahent[email]" type="text"  value="<?php echo $this->new_user['email']; ?>"/>
							</div>
						</div>
						<?php if($this->obConfig->klienciLogin != 'email'): ?>
						<div class="form_row">
							<label class="required">Login:</label>
							<div class="input_bg w1">
								<input name="kontrahent[<?php echo $this->obConfig->klienciLogin;?>]" type="text" value="<?php echo @$this->new_user[$this->obConfig->klienciLogin]; ?>" />
							</div>
						</div>
						<?php endif; ?>
						<div class="form_row">
							<label class="required">Hasło:</label>
							<div class="input_bg">
								<input name="kontrahent[haslo1]" type="password" />
							</div>
							<div class="info_labels">
								(minimum 6 znaków)
							</div>
						</div>
						<div class="form_row">
							<label class="required">Powtórz hasło:</label>
							<div class="input_bg">
								<input name="kontrahent[haslo]" type="password"/>
							</div>
						</div>
						<div class="form_row">
							<label>Klient hurtowy:</label>
							<div class="input_bg input_bg_mini check">
								<input <?php if($this->obConfig->hurtDomyslnie) echo 'checked="checked"'; ?> value="1" type="checkbox" name="kontrahent[rodzaj_klienta]" id="rodzaj_klienta" />
							</div>
							<div class="info_labels w1">
								<label for="rodzaj_klienta">Zaznaczamy to pole w przypadku, gdy chcemy żeby status klienta zmienił się na "Hurtowy".</label>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Imię:</label>
							<div class="input_bg w1">
								<input name="kontrahent[imie]" type="text"  value="<?php echo $this->new_user['imie']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Nazwisko:</label>
							<div class="input_bg w1">
								<input name="kontrahent[nazwisko]" type="text"  value="<?php echo $this->new_user['nazwisko']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Ulica:</label>
							<div class="input_bg w1">
								<input name="kontrahent[ulica]" type="text"  value="<?php echo $this->new_user['ulica']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Nr. ulicy<span style="color:black;"> / Domu:</span></label>
							<div class="input_bg_small">
								<input name="kontrahent[nr]" type="text"  value="<?php echo $this->new_user['nr']; ?>"/>
							</div>
							<span class="sep_form">/</span>
							<div class="input_bg_small">
								<input name="kontrahent[mieszkanie]" type="text" value="<?php echo $this->new_user['mieszkanie']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Kod pocztowy / Miasto:</label>
							<div class="input_bg_small">
								<input name="kontrahent[kod]" type="text" value="<?php echo $this->new_user['kod']; ?>"/>
							</div>
							<span class="sep_form">/</span>
							<div class="input_bg w4">
								<input name="kontrahent[miasto]" type="text" value="<?php echo $this->new_user['miasto']; ?>"/>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->powiat):?>dn<?php endif; ?>">
							<label class="">Powiat:</label>
							<div class="input_bg">
								<input name="kontrahent[powiat]" type="text" value="<?php echo $this->new_user['powiat']; ?>"/>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->wojew):?>dn<?php endif; ?>">
							<label class="required">Województwo:</label>
							<div class="input_bg w1">
								<select name="kontrahent[wojew]" id="wojew">
								<option value="">Wybierz</option>
								<?php if(@count($this->wojew) > 0): ?>
								<?php foreach($this->wojew as $woj): ?>
								<option value="<?php echo $woj; ?>" <?php if($woj == 'podkarpackie') echo 'selected="selected"';?>><?php echo $woj;?></option>
								<?php endforeach;?>
								<?php endif; ?>
								</select>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->kraje):?>dn<?php endif; ?>">
							<label class="required">Kraj:</label>
							<div class="input_bg w1">
								<select name="kontrahent[kraj]" onchange="szukajWojew(this, 'wojew');">
								<option value="">Wybierz</option>
								<?php if(@count($this->kraje) > 0): ?>
								<?php foreach($this->kraje as $kraj): ?>
								<option value="<?php echo $kraj['country-name']; ?>" <?php if($kraj['country-name'] == 'Polska') echo 'selected="selected"';?>>
								<?php echo $kraj['country-name'];?></option>
								<?php endforeach;?>
								<?php endif; ?>
								</select>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->telefon):?>dn<?php endif; ?>">
							<label class="required">Telefon:</label>
							<div class="input_bg">
								<input name="kontrahent[telefon]" type="text" value="<?php echo $this->new_user['telefon']; ?>"/>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->komorka):?>dn<?php endif; ?>">
							<label class="required">Telefon komórkowy:</label>
							<div class="input_bg">
								<input name="kontrahent[komorka]" type="text" value="<?php echo $this->new_user['komorka']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="">Dane dostawy:</label>
							<div class="input_bg input_bg_mini check">
								<input <?php if (isset($this->new_user['inny_adres_dostawy']) && $this->new_user['inny_adres_dostawy'] == 1) echo 'checked'; ?> onClick="Dostawa()" id="d" value="1" type="checkbox" name="kontrahent[inny_adres_dostawy]"/>
							</div>
							<div class="info_labels w1">
								<label for="d">Zaznaczamy to pole w przypadku, gdy dane dostawy różnią się od danych bilingowych.</label>
							</div>
						</div>
						<div class="box_adres_pack vh h1" id="adres">
							<div class="form_row">
								<label class="required">Nazwa firmy:</label>
								<div class="input_bg w6">
									<input name="kontrahent[nazwa_firmy_korespondencja]" type="text" value="<?php echo $this->new_user['nazwa_firmy_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Imię:</label>
								<div class="input_bg w1">
									<input name="kontrahent[imie_korespondencja]" type="text" value="<?php echo $this->new_user['imie_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Nazwisko:</label>
								<div class="input_bg w1">
									<input name="kontrahent[nazwisko_korespondencja]" type="text" value="<?php echo $this->new_user['nazwisko_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Ulica:</label>
								<div class="input_bg w1">
									<input name="kontrahent[ulica_korespondencja]" type="text" value="<?php echo $this->new_user['ulica_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Nr. ulicy<span style="color:black;"> / Domu:</span></label>
								<div class="input_bg_small">
									<input name="kontrahent[nr_korespondencja]" type="text" value="<?php echo $this->new_user['nr_korespondencja']; ?>"/>
								</div>
								<span class="sep_form">/</span>
								<div class="input_bg_small">
									<input name="kontrahent[mieszkanie_korespondencja]" type="text" value="<?php echo $this->new_user['mieszkanie_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Kod pocztowy / Miasto:</label>
								<div class="input_bg_small">
									<input name="kontrahent[kod_korespondencja]" type="text" value="<?php echo $this->new_user['kod_korespondencja']; ?>"/>
								</div>
								<span class="sep_form">/</span>
								<div class="input_bg w4">
									<input name="kontrahent[miasto_korespondencja]" type="text" value="<?php echo $this->new_user['miasto_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row <?php if(!$this->obConfig->powiat):?>dn<?php endif; ?>">
								<label class="">Powiat:</label>
								<div class="input_bg">
									<input name="kontrahent[powiat_korespondencja]" type="text" value="<?php echo $this->new_user['powiat_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row <?php if(!$this->obConfig->wojew):?>dn<?php endif; ?>">
								<label class="required">Województwo:</label>
								<div class="input_bg w1">
									<select name="kontrahent[wojew_korespondencja]" id="wojewKoresp">
									<option value="">Wybierz</option>
									<?php if(@count($this->wojewKoresp) > 0): ?>
									<?php foreach($this->wojewKoresp as $woj): ?>
									<option value="<?php echo $woj; ?>" <?php if($woj == 'podkarpackie') echo 'selected="selected"';?>><?php echo $woj;?></option>
									<?php endforeach;?>
									<?php endif; ?>
									</select>
								</div>
							</div>
							<div class="form_row <?php if(!$this->obConfig->kraje):?>dn<?php endif; ?>">
								<label class="required">Kraj:</label>
								<div class="input_bg w1">
									<select name="kontrahent[kraj_korespondencja]" onchange="szukajWojew(this,'wojewKoresp');">
									<option value="">Wybierz</option>
									<?php if(@count($this->kraje) > 0): ?>
									<?php foreach($this->kraje as $kraj): ?>
									<option value="<?php echo $kraj['country-name']; ?>" <?php if($kraj['country-name'] == 'Polska') echo 'selected="selected"';?>>
									<?php echo $kraj['country-name'];?></option>
									<?php endforeach;?>
									<?php endif; ?>
									</select>
								</div>
							</div>
							<div class="form_row <?php if(!$this->obConfig->telefon):?>dn<?php endif; ?>">
								<label class="required">Telefon:</label>
								<div class="input_bg">
									<input name="kontrahent[telefon_korespondencja]" type="text" value="<?php echo $this->new_user['telefon_korespondencja']; ?>"/>
								</div>
							</div>
							<div class="form_row <?php if(!$this->obConfig->komorka):?>dn<?php endif; ?>">
								<label class="required">Telefon komórkowy:</label>
								<div class="input_bg">
									<input name="kontrahent[komorka_korespondencja]" type="text" value="<?php echo $this->new_user['komorka_korespondencja']; ?>"/>
								</div>
							</div>
						</div>
						<br/>
						<?php if($this->obConfig->dataWWW): ?>
						<div class="form_row">
							<label>Data ur. / zał.:</label>
							<div class="input_bg w1">
								<input name="kontrahent[data]" type="text"  value="<?php echo $this->new_user['data']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label>Strona internetowa:</label>
							<div class="input_bg w1">
								<input name="kontrahent[www]" type="text"  value="<?php echo $this->new_user['www']; ?>"/>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->rabatyKlienci): ?>
						<div class="form_row">
							<label class="">Rabat (%)</label>
							<div class="input_bg_small">
							<input name="kontrahent[rabat]" type="text" value="<?php echo $this->new_user['rabat'];?>"/>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->regulamin): ?>
						<div class="form_row">
							<label class="required">Zgoda - regulamin:</label>
							<div class="input_bg input_bg_mini check">
								<input value="1" type="checkbox" name="kontrahent[regulamin]" checked="checked" id="regulamin" />
							</div>
							<div class="info_labels w1">
								<label for="regulamin">
									Zgoda na akceptację <a href="<?php echo $this->baseUrl; ?>/Regulamin">regulaminu</a> strony internetowej.
								</label>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->newsletterZgoda): ?>
						<div class="form_row">
							<label class="">Zgoda - newsletter:</label>
							<div class="input_bg input_bg_mini check">
								<input value="1" type="checkbox" name="kontrahent[newsletter]" checked="checked" id="newsletter" />
							</div>
							<div class="info_labels w1">
								<label for="newsletter">Zgoda na otrzymywanie newslettera.</label>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="submit" id="zapisz" value="Zapisz" />	
							</div>
						</div>
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>