<option value="wiecej">Operacje hurtowe</option>
<option value="usun">Usuń</option>
<?php if($this->obConfig->mail): ?>
<option value="mail">Wyślij mail</option>
<?php endif ?>
<?php if($this->obConfig->sms): ?>
<option value="sms">Wyślij sms</option>
<?php endif ?>
<option value="ukryj">Ukryj</option>
<option value="odkryj">Pokaż</option>