<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Klienci &raquo;</a>
			<span class="link_path_end">Lista klientów</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Klienci</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/dodaj/">Dodaj klienta</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj klientami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
				
					<div class="box_search2">
						<div class="form_title2">
							<h2 class="title44">Lista klientów: - znaleziono <?php echo $this->ilosc; ?> klientów</h2>
						</div>
						<form action="" method="post" accept-charset="utf-8" >
						
							<div style="float:left; clear:left; margin-top:5px;">
							<?php if($this->obConfig->importKlienci): ?>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="importLastAdded" name="importLastAdded" <?php if(@$this->szukanie->importLastAdded) echo 'checked="checked"'; ?> value="1" onchange="if(this.checked) $('#importLastEdited').attr('checked', false);" />
								<label for="importLastAdded" style="display:inline;">pokaż&nbsp;ostatnio zaimportowane</label>
							</span>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="importLastEdited" name="importLastEdited" <?php if(@$this->szukanie->importLastEdited) echo 'checked="checked"'; ?> value="1" onchange="if(this.checked) $('#importLastAdded').attr('checked', false);" />
								<label for="importLastEdited" style="display:inline;">pokaż&nbsp;ostatnio zmienione podczas importu</label>
							</span>
							<?php endif; ?>
							<br/>
							<?php if(true): ?>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="widoczny" name="widoczny" <?php if(@$this->szukanie->widoczny) echo 'checked="checked"'; ?> value="1" />
								<label for="widoczny" style="display:inline;">pokaż&nbsp;ukrytych</label>
							</span>
							<?php endif; ?>
							<?php if(!$this->obConfig->tylkoDetal && !$this->obConfig->tylkoHurt): ?>
							<label style="float:left; display:inline; margin-left:10px;">&nbsp;</label>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="detal" name="rodzaj_klienta" <?php if(@$this->szukanie->rodzaj_klienta === '0') echo 'checked="checked"';?> value="0" onchange="if(this.checked) $('#hurt').removeAttr('checked');" />
							<label for="detal" style="display:inline;">tylko&nbsp;detal</label>
							</span>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="hurt" name="rodzaj_klienta" <?php if(@$this->szukanie->rodzaj_klienta === '1') echo 'checked="checked"';?> value="1" onchange="if(this.checked) $('#detal').removeAttr('checked');" />
							<label for="hurt" style="display:inline;">tylko&nbsp;hurt</label>
							</span>
							<?php endif; ?>
							<?php if(true || $this->obConfig->wyborOsobaFirma): ?>
							<label style="float:left; display:inline; margin-left:10px;">&nbsp;</label>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="osoba" name="faktura" <?php if(@$this->szukanie->faktura === '0') echo 'checked="checked"';?> value="0" onchange="if(this.checked) $('#firma').removeAttr('checked');" />
							<label for="osoba" style="display:inline;">tylko&nbsp;os.fiz.</label>
							</span>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="firma" name="faktura" <?php if(@$this->szukanie->faktura === '1') echo 'checked="checked"';?> value="1" onchange="if(this.checked) $('#osoba').removeAttr('checked');" />
							<label for="firma" style="display:inline;">tylko&nbsp;firmy</label>
							</span>
							<?php endif; ?>
							<?php if($this->ustawienia['potwierdz_rejestr']): ?>
							<label style="float:left; display:inline; margin-left:10px;">zweryfikowani przez klienta:&nbsp;</label>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="weryfikacja0" name="weryfikacja" <?php if(@$this->szukanie->weryfikacja === '0') echo 'checked="checked"';?> value="0" onchange="if(this.checked) $('#weryfikacja1').removeAttr('checked');" />
							<label for="weryfikacja0" style="display:inline;">NIE</label>
							</span>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="weryfikacja1" name="weryfikacja" <?php if(@$this->szukanie->weryfikacja === '1') echo 'checked="checked"';?> value="1" onchange="if(this.checked) $('#weryfikacja0').removeAttr('checked');" />
							<label for="weryfikacja1" style="display:inline;">TAK</label>
							</span>
							<?php endif; ?>
							<?php if((!$this->obConfig->potwRejAdminOsobnoHurtDetal && $this->ustawienia['potwierdz_rejestr_admin']) || 
							($this->obConfig->potwRejAdminOsobnoHurtDetal && ($this->ustawienia['potwierdz_rejestr_admin_hurt'] || $this->ustawienia['potwierdz_rejestr_admin_detal']))): ?>
							<label style="float:left; display:inline; margin-left:10px;">zweryfikowani przez admina:&nbsp;</label>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="weryfikacja_admin0" name="weryfikacja_admin" <?php if(@$this->szukanie->weryfikacja_admin === '0') echo 'checked="checked"';?> value="0" onchange="if(this.checked) $('#weryfikacja_admin1').removeAttr('checked');" />
							<label for="weryfikacja_admin0" style="display:inline;">NIE</label>
							</span>
							<span style="float:left; margin-right:10px;">
							<input type="checkbox" id="weryfikacja_admin1" name="weryfikacja_admin" <?php if(@$this->szukanie->weryfikacja_admin === '1') echo 'checked="checked"';?> value="1" onchange="if(this.checked) $('#weryfikacja_admin0').removeAttr('checked');" />
							<label for="weryfikacja_admin1" style="display:inline;">TAK</label>
							</span>
							<?php endif; ?>
							<?php if($this->obConfig->newsletterZgoda): ?>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="newsletter" name="newsletter" <?php if(@$this->szukanie->newsletter) echo 'checked="checked"'; ?> value="1" />
								<label for="newsletter" style="display:inline;">pokaż&nbsp;ze zgodą na newsletter</label>
							</span>
							<?php endif; ?>
							<?php if(true): ?>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="blokada" name="blokada" <?php if(@$this->szukanie->blokada) echo 'checked="checked"'; ?> value="1" />
								<label for="blokada" style="display:inline;">pokaż&nbsp;zablokowanych</label>
							</span>
							<?php endif; ?>
							</div>
							
							<div class="row_search2" id="wyszukiwarka">
								<a id="reset" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/reset/all">
								Resetuj</a>
								<div id="top" style="width:785px;">
									
									<div class="napis" style="margin-left:5px; width:40px;">Nazwa</div>
									<input type="text" id="kto" name="nazwa" value="<?php echo @htmlspecialchars(stripslashes($this->szukanie->nazwa)); ?>" onfocus="//this.value='';" style="width:120px;" />
									
									<div class="napis" style="width:40px;">Miasto</div>
									<select name="miasto" class="select" style="margin-left:3px; width:150px;" onchange="$('#szukaj').click();">
										<option value="all">Wszystkie</option>
										<?php foreach($this->miasta as $miasto): ?>
										<option value="<?php echo $miasto['miasto']; ?>" <?php if($this->szukanie->miasto==$miasto['miasto']) echo 'selected="selected"';?>><?php echo $miasto['miasto']; ?></option>
										<?php endforeach; ?>
									</select>
									
									<?php if($this->obConfig->powiat): ?>
									<div class="napis" style="width:40px;">Powiat</div>
									<select name="powiat" class="select" style="margin-left:3px; width:150px;" onchange="$('#szukaj').click();">
										<option value="all">Wszystkie</option>
										<?php foreach($this->powiaty as $powiat): ?>
										<option value="<?php echo $powiat['powiat']; ?>" <?php if($this->szukanie->powiat==$powiat['powiat']) echo 'selected="selected"';?>><?php echo $powiat['powiat']; ?></option>
										<?php endforeach; ?>
									</select>
									<?php endif; ?>
									
									<?php if($this->obConfig->wojew): ?>
									<div class="napis" style="margin-left:10px; width:40px;">Wojew.</div>
									<select name="wojew" class="select" style="margin-left:5px; width:150px;" onchange="$('#szukaj').click();">
									<option value="all">Wszystkie</option>
									<?php foreach($this->wojew as $woj): ?>
									<option value="<?php echo $woj; ?>" <?php if($woj == $this->szukanie->wojew) echo 'selected="selected"';?>><?php echo $woj;?></option>
									<?php endforeach;?>
									</select>
									<?php else: ?>
									<div class="napis" style="width:200px;">&nbsp;</div>
									<?php endif; ?>
									
									<?php if($this->obConfig->plec): ?>
									<div class="napis" style="width:30px;">Płeć</div>
									<select name="plec" class="select" style="margin-left:3px; width:98px;" onchange="$('#szukaj').click();">
										<option value="all">Obie płci</option>
										<option value="M" <?php if($this->szukanie->plec=="M") echo 'selected="selected"';?>>Mężczyźni</option>
										<option value="K" <?php if($this->szukanie->plec=="K") echo 'selected="selected"';?>>Kobiety</option>
									</select>
									<?php else: ?>
									<div class="napis" style="width:130px;">&nbsp;</div>
									<?php endif; ?>
								</div>
								
								<div id="bottom" style="">
									<?php if($this->obConfig->klienciGrupy): ?>
									<div class="napis" style="width:45px;">Grupa</div>
									<select name="grupa" class="select" style="width:150px;" onchange="$('#szukaj').click();">
										<option value="all">Wszystkie</option>
										<option value="0" <?php if($this->szukanie->grupa==='0')echo'selected="selected"';?>>
										- Bez grupy -</option>
										<?php foreach($this->grupy as $grupa): ?>
										<option value="<?php echo $grupa['id']; ?>" <?php if($this->szukanie->grupa == $grupa['id']) echo 'selected="selected"';?>><?php echo $grupa['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<?php else: ?>
									<div class="napis" style="width:195px;">&nbsp;</div>
									<?php endif; ?>									
									
									<?php if(true): ?>
									<div class="napis" style="width:55px;">Data:</div>
									<div class="kontrData" id="kontrDataOd">
									<span>od</span>
									<?php $dataOd = explode('-', $this->szukanie->dataOd);?>
									<select name="dataOd[rok]" class="kontrRok">
									<?php for($i=2010;$i<=date('Y');$i++): ?>
									<option value="<?php echo $i; ?>" <?php if($dataOd[0] == $i) echo 'selected="selected"'; ?>><?php echo $i; ?></option>
									<?php endfor; ?>
									</select>
									<select name="dataOd[mc]" class="kontrMc">
									<?php for($i=1;$i<=12;$i++): ?>
									<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($dataOd[1] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
									<?php endfor; ?>
									</select>
									<select name="dataOd[day]" class="kontrDay">
									<?php for($i=1;$i<=31;$i++): ?>
									<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($dataOd[2] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
									<?php endfor; ?>
									</select>
									</div>
									
									<div class="kontrData" id="kontrDataDo">
									<span>do</span>
									<?php $dataDo = explode('-', $this->szukanie->dataDo);?>
									<select name="dataDo[rok]" class="kontrRok">
									<?php for($i=date('Y');$i>=2010;$i--): ?>
									<option value="<?php echo $i; ?>" <?php if($dataDo[0] == $i) echo 'selected="selected"'; ?>><?php echo $i; ?></option>
									<?php endfor; ?>
									</select>
									<select name="dataDo[mc]" class="kontrMc">
									<?php for($i=1;$i<=12;$i++): ?>
									<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($dataDo[1] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
									<?php endfor; ?>
									</select>
									<select name="dataDo[day]" class="kontrDay">
									<?php for($i=1;$i<=31;$i++): ?>
									<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($dataDo[2] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
									<?php endfor; ?>
									</select>
									</div>
									
									<div class="kontrData" style="margin-top:6px;">
									<?php if(false): ?>
									<input type="checkbox" name="data_ur" <?php if($this->szukanie->data_ur) echo 'checked="checked"';?> style="margin-left:10px;" />
									<span>&nbsp;Urodziny</span>
									<?php endif; ?>
									<input type="checkbox" id="zalogowano" name="zalogowano" <?php if($this->szukanie->zalogowano) echo 'checked="checked"';?> style="margin-left:10px;" />
									<label for="zalogowano">&nbsp;Logowanie</label>
									<input type="checkbox" id="data_rej" name="data_rej" <?php if($this->szukanie->data_rej) echo 'checked="checked"';?> style="margin-left:10px;" />
									<label for="data_rej">&nbsp;Rejestracja</label>
									</div>
									<?php endif; ?>
								</div>
								<input type="submit" id="szukaj" name="szukaj" value="Szukaj" />
							</div>
						</form>
						
					</div>
					
					<?php if(@count($this->kontrahenci) > 0): ?>
					
					<div id="ileNaStrone">
					<span>Wyświetl na stronie: </span>
					<select onchange="window.location='<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/ile/'+this.value">
						<option value="10" <?php if($this->ile==10) echo 'selected="selected"'; ?>>10</option>
						<option value="20" <?php if($this->ile==20) echo 'selected="selected"'; ?>>20</option>
						<option value="30" <?php if($this->ile==30) echo 'selected="selected"'; ?>>30</option>
						<option value="50" <?php if($this->ile==50) echo 'selected="selected"'; ?>>50</option>
					</select>
					</div>
					<div class="box_pager" id="stronicowanie">
						<?php echo $this->render('const/stronicowanie.phtml'); ?>
					</div>
					
					<form id="form" action="" method="post">
					
					<select name="zadania1" class="zadania" onchange="klienciListaOpcjeAllWiecej(this,'<?php echo $this->baseUrl; ?>');" onfocus="$(this).find('option').first().css('display','none');" onblur="$(this).find('option').first().css('display','inline');" tabindex="-1">
						<?php echo $this->render('kontrahent/lista_zadania.phtml'); ?>
					</select>
					
					<table class="foto_box padding" style="float:left;">
						<colgroup>
							<col width="10%"/>
							<col width="10%"/>
							<?php if(false && $this->obConfig->klienciSymbol): ?>
							<col width="5%"/>
							<?php endif; ?>
							<col width=""/>
							<col width="15%"/>
							<col width="10%"/>							
							<?php if(false): ?>
							<col width="5%"/>
							<col width="5%"/>
							<?php endif; ?>
							<?php if($this->obConfig->rabatyKlienciLista): ?>
							<col width="5%"/>
							<?php endif; ?>
							<?php if(false): ?>
							<col width="5%"/>
							<?php endif; ?>
							<?php if(false && $this->obConfig->sms): ?>
							<col width="5%"/>
							<?php endif; ?>
							<col width="5%"/>
							<col width="5%"/>
							<col width="5%"/>
							<col width="5%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th><a href="<?php echo $this->baseUrl;?>/admin/kontrahent/lista/sort/data_rej/order/<?php echo $this->order; ?>" style="color:#646464;<?php if($this->sort == 'data_rej') echo 'color:black;text-decoration:underline;'; ?>">Data rejestracji</a></th>
							<th><a href="<?php echo $this->baseUrl;?>/admin/kontrahent/lista/sort/data_login/order/<?php echo $this->order; ?>" style="color:#646464;<?php if($this->sort == 'data_login') echo 'color:black;text-decoration:underline;'; ?>">Data ostatniego logowania</a></th>
							<?php if(false && $this->obConfig->klienciSymbol): ?>
							<th>Nr klienta</th>
							<?php endif; ?>
							<th>
							<a href="<?php echo $this->baseUrl;?>/admin/kontrahent/lista/sort/nazwa_firmy/order/<?php echo $this->order; ?>" style="color:#646464;<?php if(strpos($this->sort,'nazwa_firmy')!==false) echo 'color:black;text-decoration:underline;'; ?>">Nazwisko<br/>/<br/>Nazwa&nbsp;firmy</a>
							</th>
							<th>Adres</th>
							<th>E - mail<br/>/<br/>Telefon</th>
							<?php if(true): ?>
							<th>Typ klienta</th>
							<th>Aktywny</th>
							<?php endif; ?>
							<?php if($this->obConfig->rabatyKlienciLista): ?>
							<th>Rabaty</th>
							<?php endif; ?>
							<?php if(false): ?>
							<th>Wyślij mail</th>
							<?php endif; ?>
							<?php if(false && $this->obConfig->sms): ?>
							<th>Wyślij SMS</th>
							<?php endif; ?>
							<th>Edytuj</th>
							<th>Usuń</th>
							<th class="noprint">Zazn.<br/><br/>
							<input type="checkbox" onclick="$('.checkbox').attr('checked', this.checked);">
							</th>
						</tr>
						
						<?php $j = 1; foreach($this->kontrahenci as $kontrahent): ?>
								
							<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								<td align="center"><?php echo $kontrahent['data_rej']; ?></td>
								<td align="center"><?php echo $kontrahent['data_login']; ?></td>
								
								<?php if(false && $this->obConfig->klienciSymbol): ?>
								<td align="center"><?php echo $kontrahent['id_ext']; ?></td>
								<?php endif; ?>
								
								<?php if(!$kontrahent['faktura']): ?>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/kontrahent/edytuj/id/<?php echo $kontrahent['id'];?>">
								<b><?php echo $kontrahent['imie'].' '.$kontrahent['nazwisko']; ?></b></a></td>
								<?php else: ?>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/kontrahent/edytuj/id/<?php echo $kontrahent['id'];?>">
								<b><?php echo $this->common->wrapLongWord(trim(stripslashes($kontrahent['nazwa_firmy'].' '.$kontrahent['nazwa'])),30," "); ?></b></a></td>
								<?php endif; ?>
							    
								<td align="center">
								<?php echo str_replace(' ','&nbsp;',$kontrahent['ulica']); ?>
								&nbsp;<?php echo $kontrahent['nr']; ?>
								<?php if($kontrahent['mieszkanie'] > 0): ?>
								&nbsp;/&nbsp;<?php echo $kontrahent['mieszkanie']; ?>
								<?php endif; ?>
								<br/>
								<?php echo $kontrahent['kod']; ?>&nbsp;<?php echo $kontrahent['miasto']; ?>
								</td>
								
								<td align="center">
									<?php if(!empty($kontrahent['email'])): ?>
									<a class="link <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/mail/mailid/<?php echo $kontrahent['id'];  ?>"><?php echo $kontrahent['email']; ?></a><br/>
									<?php endif; ?>
									
									<?php if(!empty($kontrahent['komorka'])): ?>
									<?php if($this->obConfig->sms): ?>
									<a class="link <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/sms/smsid/<?php echo $kontrahent['id'];  ?>"><?php endif; ?>
									<?php echo $kontrahent['komorka']; ?>
									<?php if($this->obConfig->sms): ?></a><?php endif; ?><br/>
									<?php endif; ?>
									
									<?php if(!empty($kontrahent['telefon'])): ?><?php echo $kontrahent['telefon']; ?><?php endif; ?>
								</td>
								
								<?php if(true): ?>
								<td align="center">
									<?php if($kontrahent['rodzaj_klienta'] == 1): ?>	
										<span class="ok_label">hurt</span>
									<?php else: ?>
										<span class="no_label">detal</span>
									<?php endif; ?>
								</td>
								<?php endif; ?>
								
								<?php if(true): ?>
								<td align="center">
									<?php if($kontrahent['weryfikacja'] && $kontrahent['weryfikacja_admin']): ?>
										<div class="user_active"></div>
									<?php else: ?>
										<a class="user_verif" href="<?php echo $this->baseUrl;?>/admin/kontrahent/lista/weryfikacja/<?php echo $kontrahent['id'];  ?>">Weryfikacja</a>
									<?php endif; ?>
								</td>
								<?php endif; ?>
								
								<?php if($this->obConfig->rabatyKlienciLista): ?>
								<td align="center">
									<?php if($this->obConfig->rabatyKlienci && $kontrahent['rabat'] > 0): ?>
									<?php echo number_format($kontrahent['rabat'], 2, ',', ' '); ?>&nbsp;%<br/>
									<?php endif; ?>
									<?php if($kontrahent['rabat'] >= 0 || @count($kontrahent['rabaty']) > 0): ?>
									<?php $this->kontrahent = $kontrahent; ?>
									<?php echo $this->render('kontrahent/rabaty.phtml'); ?>
									<?php endif; ?>
								</td>
								<?php endif; ?>
								
								<?php if(false): ?>
								<td align="center">
								<a class="link <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/mail/mailid/<?php echo $kontrahent['id'];  ?>">Mail</a>
								<br clear="all"/>
								<input type="checkbox" name="checkbox[]" value="<?php echo $kontrahent['id'];?>" />
								</td>
								<?php endif; ?>
								
								<?php if(false && $this->obConfig->sms): ?>
								<td align="center">
								<a class="link <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/sms/smsid/<?php echo $kontrahent['id'];  ?>">SMS</a>
								<br clear="all"/>
								<input type="checkbox" name="checkbox[]" value="<?php echo $kontrahent['id'];?>" />
								</td>
								<?php endif; ?>
								
								<td align="center">
								<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/edytuj/id/<?php echo $kontrahent['id'];  ?>">Edytuj</a>
								</td>
								
								<td align="center">
                                <?php if($this->edycjazablokowana === false): ?>
                                <a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć tego klienta ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/lista/delid/<?php echo $kontrahent['id']; ?>">Usuń</a>
                                <?php endif; ?>
                                </td>
								
								<td align="center" class="noprint">
								<input type="checkbox" name="checkbox[<?php echo $kontrahent['id'];?>]" value="<?php echo $kontrahent['id'];?>" class="checkbox" style="float:none; margin:0px;"/>
								</td>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<select name="zadania2" class="zadania" onchange="klienciListaOpcjeAllWiecej(this,'<?php echo $this->baseUrl; ?>');" onfocus="$(this).find('option').first().css('display','none');" onblur="$(this).find('option').first().css('display','inline');" tabindex="-1">
						<?php echo $this->render('kontrahent/lista_zadania.phtml'); ?>
					</select>
					
					<?php if(false): ?>
					<div class="button_form m2" style="float:right; margin-left:20px; clear:right;">
						<div class="button1" style="float:right;">
						<input type="submit" name="mailAll" value="Wyślij emaile do zaznaczonych osób" onclick="$('form').attr('action','<?php echo $this->baseUrl;?>/admin/kontrahent/mail/mailids/all');"/>	
						</div>
					</div>
					<?php endif; ?>
					<?php if(false): ?>
					<div class="button_form m2" style="float:right; margin-left:20px; clear:none;">
						<div class="button1" style="float:right;">
						<input type="submit" name="mailAll" value="Wyślij emaile do wszystkich osób" onclick="$('form').attr('action','<?php echo $this->baseUrl;?>/admin/kontrahent/mail/mailall/all');"/>	
						</div>
					</div>
					<?php endif; ?>
					
					<?php if(false && $this->obConfig->sms): ?>
					<div class="button_form m2" style="float:right; margin-left:20px; clear:right;">
						<div class="button1" style="float:right;">
						<input type="submit" name="smsAll" value="Wyślij SMS-y do zaznaczonych osób" onclick="$('form').attr('action','<?php echo $this->baseUrl;?>/admin/kontrahent/sms/smsids/all');"/>	
						</div>
					</div>
					<?php if(false): ?>
					<div class="button_form m2" style="float:right; margin-left:20px; clear:none;">
						<div class="button1" style="float:right;">
						<input type="submit" name="smsAll" value="Wyślij SMS-y do wszystkich osób" onclick="$('form').attr('action','<?php echo $this->baseUrl;?>/admin/kontrahent/sms/smsall/all');"/>	
						</div>
					</div>
					<?php endif; ?>
					<?php endif; ?>
					
					</form>
					
					<?php else: ?>
					
						<div class="info_empty">Brak dodanych klientów.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>