<div class="box_foto_product" class="zakladkaPowiazania">

<div class="form_title"><h2 class="title4">Wybierz polecane produkty:</h2></div>

<div class="form_row2">
<label class="big" style="font-weight:bold; font-size:15px; text-transform:uppercase; float:left; line-height:30px;">Polecane - wybrano: <span id="wybrano_polecane"><?php echo @count($this->polecaneDlaKlienta); ?></span>
</label>
<a rel="facebox" href="<?php echo $this->obConfig->www; ?>/ajax/index/lista/norender/1/od/0/typ/polecane" class="btn-orange" href="#">wybierz</a>
<br />
<br />
<div id="jQ_client_polecane" class="input_bg_tiny" style="width:100%; max-height:100px; overflow-y:auto;">
	<?php if(isset($this->polecaneDlaKlienta) && !empty($this->polecaneDlaKlienta)): ?>
    <?php foreach($this->polecaneDlaKlienta as $polecany): ?>
	<span class="db cb lf">
		<span class="lf"><b><?php echo $polecany['nazwa']; ?></b></span> 
		<a onclick="removeRow(this); countRows('polecane');" title="usuń z akcji" class="lf del_ico silver"></a>
		<input type="hidden" id="polecane<?php echo $polecany['id']; ?>" name="polecane[<?php echo $polecany['id']; ?>]" value="<?php echo $polecany['id']; ?>" />
	</span>
    <?php endforeach; ?>
	<?php  endif; ?>
</div>
<?php if(@count($this->polecaneDlaKlienta) > 0): ?>
<a href="javascript:void(0);" onclick="$('#jQ_client_polecane').css('max-height','none'); $('#ukryjPolecane').show(); $(this).hide();" class="db" id="pokazPolecane">pokaż wszystkie</a>
<a href="javascript:void(0);" onclick="$('#jQ_client_polecane').css('max-height','100px'); $('#pokazPolecane').show(); $(this).hide();" class="dn" id="ukryjPolecane">ukryj wszystkie</a>
<?php  endif; ?>
</div>

</div>