<div class="box_foto_product" class="zakladkaPowiazania">

<div class="form_title"><h2 class="title4">Wybierz promocyjne produkty:</h2></div>

<div class="form_row2">
<label class="required" style="font-weight:bold; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Promocje: *&nbsp;&nbsp;</label><a rel="facebox" href="<?php echo $this->obConfig->www; ?>/ajax/index/lista/norender/1/od/0/typ/promocje" class="btn-orange" href="#">wybierz</a>
<br />
<br />
<div id="jQ_client_promocje" class="input_bg_tiny" style="width:100%;">
	<br />
	<?php if(isset($this->promocjeDlaKlienta) && !empty($this->promocjeDlaKlienta)): ?>
    <?php foreach($this->promocjeDlaKlienta as $promocja): ?>
	<span class="db cb lf">
		<span class="lf"><b><?php echo $promocja['nazwa']; ?></b></span> 
		<a onclick="return removeRow(this);" title="usuń z akcji" class="lf del_ico silver"></a>
		<input type="hidden" id="promocje<?php echo $promocja['id']; ?>" name="promocje[<?php echo $promocja['id']; ?>]" value="<?php echo $promocja['id']; ?>" />
	</span>
    <?php endforeach; ?>
	<?php  endif; ?>
</div>
</div>

</div>