<?php if($this->obConfig->rabatyKlienciProducent): ?>
<div class="form_title"><h2 class="title4">Rabaty na producentów</h2></div>

<?php $rabatProduktGrupa = (@intval($this->rabat['producent_id']) > 0); ?>
<?php if(@!$this->rabatEdit): ?>
<div class="button_toggle">
	<a class="add silver m_linki" onclick="$('#rabatyProduktyGrupa2').toggle();" href="javascript:void(0);">Dodaj rabat</a>	
</div>
<?php endif; ?>

<div id="rabatyProduktyGrupa2" <?php if(!$rabatProduktGrupa): ?> class="dn" <?php endif; ?>>
<form action="" method="post" enctype="multipart/form-data">
<div class="form_title">
	<h2 class="title4">
		<?php if($rabatProduktGrupa): ?>Edytuj<?php else: ?>Dodaj<?php endif; ?> rabat
	</h2>
</div>
<input type="hidden" name="rabaty[id_user]" value="<?php echo $this->new_user['id']; ?>" />
<input type="hidden" name="rabaty[typ]" value="producent" />
<div class="form_row">
	<label class="required">Wybierz producenta:</label>
	<div class="input_bg">
		<select name="rabaty[producent_id]">
		<option value="0">Wybierz</option>
		<?php for($i=0;$i<count($this->producenci); $i++): ?>
		<option value="<?php echo $this->producenci[$i]['id']; ?>" <?php if(@$this->rabat['producent_id'] == $this->producenci[$i]['id']) echo 'selected="selected"'; ?>><?php echo $this->producenci[$i]['nazwa']; ?></option>
		<?php endfor; ?>
		</select>
	</div>
</div>
<div class="form_row">
	<label class="required">Wartość rabatu (%)</label>
	<div class="input_bg_small">
		<input type="text" name="rabaty[wartosc_rab]" value="<?php echo @$this->rabat['wartosc_rab']; ?>" />
	</div>
</div>
<?php if($this->edycjazablokowana === false): ?>
<div class="button_form m2">
	<div class="button1">
		<input type="submit" name="rabaty[zapisz]" value="Zapisz" />
	</div>
</div>
<?php endif; ?>
</form>
</div>

<!--Lista producent-->
<?php if(isset($this->rabatyProducent) && count($this->rabatyProducent) > 0): ?>
<div class="box_foto_product">
<table class="foto_box">

<colgroup>
	<col width=""/>
	<col width="15%"/>
	<col width="10%"/>
	<col width="10%"/>
</colgroup>
<tr>
	<th>Nazwa producenta</th>
	<th>Rabat</th>
	<th>Edytuj</th>
	<th>Usuń</th>
</tr>

<?php $i=1; for($j=0; $j<count($this->rabatyProducent); $j++): ?>

<?php $rabat = $this->rabatyProducent[$j]; ?>
<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>

<tr class="<?php echo $style; ?>">
	<td class="first img">
		<?php echo $rabat['nazwa']; ?>
	</td>
	<td class="first img">
		<?php echo $rabat['wartosc_rab']; ?> <?php echo $rabat['typ_rab']; ?>
	</td>
	<td align="center">	
		<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/idrab/<?php echo $rabat['id'];?>">Edytuj</a>
	</td>
	<td align="center">	
	<?php if($this->edycjazablokowana === false): ?>
		<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/iddel/<?php echo $rabat['id'];?>">Usuń</a>	
	<?php endif; ?>
	</td>
</tr>

<?php $i++; endfor; ?>

</table>
</div>

<?php else: ?>
<div class="info_empty">Brak zdefiniowanych rabatów.</div>
<?php endif; ?>

<?php endif; ?>