<div class="form_title"><h2 class="title4">Wybierz produkty:</h2></div>
<div class="box_foto_product" id="zakladkaPowiazania">
<div style="position: relative; float:left; margin-left: 0px; width: 340px;">
	<input type="text" name="szukajPowiazanie" value="" onkeyup="szukajProd(this);" style="width:340px; height:20px; border:1px solid #DDDDDD;"/>
	<br clear="all" /><br clear="all" />
	<select class="input_temat_maly" id="powiazanie" style="width:340px;height:auto;" multiple="multiple" size="10" ondblclick="dodajPowiazanie('powiazanie', 'powiazania');">
		<option value="0">Produkty znalezione</option>
	</select>
	<a title="Dodaj" class="add lf" href="javascript:void(0);" onclick="dodajPowiazania('powiazanie','powiazania',false);">Dodaj zaznaczone</a>
	<a title="Dodaj" class="add rf" href="javascript:void(0);" onclick="dodajPowiazania('powiazanie','powiazania',true);">Dodaj wszystkie</a>
</div>
<div style="position: relative; float:left; margin-left: 10px; width: 340px;">
	<span class="dib" style="width:340px; height:20px; border:1px solid #DDDDDD;">
	<?php $info = 'Wyszukaj produkty w polu tekstowym po lewej stronie wpisując daną frazę (min. 3 znaki)'; ?>
	<?php $info.= '<br>Kliknij dwukrotnie myszką na znalezionym produkcie aby go dodać do listy do rabatu'; ?>
	<?php $info.= '<br>Kliknij dwukrotnie myszką na dodanym produkcie aby go usunąć z listy do rabatu'; ?>
	<?php $info.= '<br>Zaznaczać produkty można myszką lub klawiszem Control (wybrane) lub Shift (zakres)'; ?>
	<?php $info.= '<br>Zaznacz produkty do których chcesz dodać rabat, tylko zaznaczone produkty mają rabat!'; ?>
	<a class="see_shop" href="javascript:void(0);" onmouseover="return overlib('<?php echo htmlspecialchars($info);?>', WIDTH, 500, TEXTSIZE, '10px', CELLPAD, 5, BGCLASS, 'produkty_wyszukaj');" onmouseout="return nd();" tabindex="-1">info</a>
	<a title="Dodaj" class="add rf" href="javascript:void(0);" onclick="zaznaczPowiazania('powiazania', true);">
	Zaznacz wszystkie</a>
	</span>
	<br clear="all" /><br clear="all" />
	<select class="input_temat_maly" name="produkty[]" id="powiazania" style="width:340px;height:auto;" multiple="multiple" size="10" ondblclick="usunPowiazanie('powiazania');">
		<option value="0">Produkty do dodania rabatu</option>
	</select>
	<a title="Usuń" class="del lf" href="javascript:void(0);" onclick="usunPowiazania('powiazania',false);">Usuń zaznaczone</a>
	<a title="Usuń" class="del rf" href="javascript:void(0);" onclick="usunPowiazania('powiazania',true);">Usuń wszystkie</a>
</div>								
</div>