<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Klienci</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut rabaty</h2>
		</div>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj rabatami klienta: <?php echo $this->new_user['imie'].' '.$this->new_user['nazwisko']; ?></h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Rabaty</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					
					<?php if($this->obConfig->rabatyKlienci): ?>
					<div class="form_title"><h2 class="title4">Indywidualny rabat klienta</h2></div>
					
					<div id="rabatyKlienci" <?php if(false): ?> class="dn" <?php endif; ?>>
						<form action="" method="post" enctype="multipart/form-data">
							<div class="form_row">
								<label class="required">Wartość rabatu (%)</label>
								<div class="input_bg_small">
									<input type="text" name="rabat" value="<?php echo @$this->new_user['rabat']; ?>" />
								</div>
							</div>							
							<?php if($this->edycjazablokowana === false): ?>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="zapisz" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
						</form>
					</div>
					<?php endif; ?>
					
					<?php $this->rabatEdit = $rabatEdit = (@count($this->rabat) > 0); ?>
					
					<?php if($this->obConfig->rabatyKlienciKategorie): ?>
					<div class="form_title"><h2 class="title4">Rabaty na kategorie produktów</h2></div>
					
					<?php $rabatKategoria = (@intval($this->rabat['kategoria_rab']) > 0); ?>
					<?php if(!$rabatEdit): ?>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#rabatyKategorie').toggle();" href="javascript:void(0);">Dodaj rabat</a>	
					</div>
					<?php endif; ?>
					
					<div id="rabatyKategorie" <?php if(!$rabatKategoria): ?> class="dn" <?php endif; ?>>
						<form action="" method="post" enctype="multipart/form-data">
							<div class="form_title">
								<h2 class="title4">
									<?php if($rabatKategoria): ?>Edytuj<?php else: ?>Dodaj<?php endif; ?> rabat
								</h2>
							</div>
							<input type="hidden" name="rabaty[id_user]" value="<?php echo $this->new_user['id']; ?>" />
							<input type="hidden" name="rabaty[typ]" value="kategorie" />
							<div class="form_row">
								<label class="required">Wybierz kategorię:</label>
								<?php if(false): ?>
								<div class="input_bg w1">
									<select name="rabaty[kategoria_rab]">
									<option value="0">Wybierz</option>
									<?php for($i=0;$i<count($this->glowne); $i++): ?>
									<option value="<?php echo $this->glowne[$i]['id']; ?>" <?php if(@$this->rabat['kategoria_rab'] == $this->glowne[$i]['id']) echo 'selected="selected"'; ?>>
									<?php echo $this->glowne[$i]['nazwa']; ?></option>
									<?php endfor; ?>
									</select>
								</div>
								<?php else: ?>
								<div class="input_bg w1">
									<?php $this->wybierzPodkat = true; ?>
									<?php echo $this->render('const/kategorie.phtml'); ?>
								</div>
								<?php endif; ?>
							</div>
							<div class="form_row">
								<label class="required">Wartość rabatu (%)</label>
								<div class="input_bg_small">
									<input type="text" name="rabaty[wartosc_rab]" value="<?php echo @$this->rabat['wartosc_rab']; ?>" />
								</div>
								<?php if(false): ?>
								<div class="input_bg_small" style="margin-left:24px;">
									<select name="rabaty[typ_rab]">
									<option value="%">%&nbsp;</option>
									<option value="ZŁ" <?php if(@$this->rabat['typ_rab'] == "ZŁ") echo 'selected="selected"'; ?>>ZŁ&nbsp;</option>
									</select>
								</div>
								<?php else: ?>
									<input type="hidden" name="rabaty[typ_rab]" value="%" />
								<?php endif; ?>
							</div>
							
							<?php if($this->edycjazablokowana === false): ?>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="rabaty[zapisz]" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
								
						</form>
					</div>
					
					<?php if(isset($this->rabatyKategorie) && count($this->rabatyKategorie) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width=""/>
									<col width="15%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa kategorii</th>
									<th>Rabat</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; for($j=0; $j<count($this->rabatyKategorie); $j++): ?>
									
								<?php $rabat = $this->rabatyKategorie[$j]; ?>
								<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $rabat['nazwa']; ?>
									</td>
									<td class="first img">
										<?php echo $rabat['wartosc_rab']; ?> <?php echo $rabat['typ_rab']; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/idrab/<?php echo $rabat['id'];?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/iddel/<?php echo $rabat['id'];?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endfor; ?>	
							
							</table>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych rabatów.</div>
						
					<?php endif; ?>
					
					<?php endif; ?>						
					
					
					<?php if($this->obConfig->rabatyKlienciProduktyGrupy): ?>
					<div class="form_title"><h2 class="title4">Rabaty na grupy produktów</h2></div>
					
					<?php $rabatProduktGrupa = (@intval($this->rabat['id_prod_grupa']) > 0); ?>
					<?php if(!$rabatEdit): ?>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#rabatyProduktyGrupa').toggle();" href="javascript:void(0);">Dodaj rabat</a>	
					</div>
					<?php endif; ?>
					
					<div id="rabatyProduktyGrupa" <?php if(!$rabatProduktGrupa): ?> class="dn" <?php endif; ?>>
						<form action="" method="post" enctype="multipart/form-data">
							<div class="form_title">
								<h2 class="title4">
									<?php if($rabatProduktGrupa): ?>Edytuj<?php else: ?>Dodaj<?php endif; ?> rabat
								</h2>
							</div>
							<input type="hidden" name="rabaty[id_user]" value="<?php echo $this->new_user['id']; ?>" />
							<input type="hidden" name="rabaty[typ]" value="produktygrupy" />
							<div class="form_row">
								<label class="required">Wybierz grupę:</label>
								<div class="input_bg">
									<select name="rabaty[id_prod_grupa]">
									<option value="0">Wybierz</option>
									<?php for($i=0;$i<count($this->produktyGrupy); $i++): ?>
									<option value="<?php echo $this->produktyGrupy[$i]['id']; ?>" <?php if(@$this->rabat['id_prod_grupa'] == $this->produktyGrupy[$i]['id']) echo 'selected="selected"'; ?>>
									<?php echo $this->produktyGrupy[$i]['nazwa']; ?></option>
									<?php endfor; ?>
									</select>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Wartość rabatu (%)</label>
								<div class="input_bg_small">
									<input type="text" name="rabaty[wartosc_rab]" value="<?php echo @$this->rabat['wartosc_rab']; ?>" />
								</div>
							</div>	
							
							<?php if($this->edycjazablokowana === false): ?>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="rabaty[zapisz]" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
								
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->rabatyProduktyGrupa) && count($this->rabatyProduktyGrupa) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width=""/>
									<col width="15%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa grupy produktów</th>
									<th>Rabat</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; for($j=0; $j<count($this->rabatyProduktyGrupa); $j++): ?>
									
								<?php $rabat = $this->rabatyProduktyGrupa[$j]; ?>
								<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $rabat['nazwa']; ?>
									</td>
									<td class="first img">
										<?php echo $rabat['wartosc_rab']; ?> <?php echo $rabat['typ_rab']; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/idrab/<?php echo $rabat['id'];?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/iddel/<?php echo $rabat['id'];?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endfor; ?>	
							
							</table>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych rabatów.</div>
						
					<?php endif; ?>
					
					<?php endif; ?>
					
					
					<?= $this->render('kontrahent/rabatyproducent.phtml'); ?>
					
					
					<?php if($this->obConfig->rabatyKlienciProdukty): ?>
					<div class="form_title"><h2 class="title4">Rabaty na produkty</h2></div>
					
					<?php $rabatProdukt = (@intval($this->rabat['id_prod']) > 0); ?>
					<?php if(true && !$rabatEdit): ?>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#rabatyProdukty').toggle();" href="javascript:void(0);">Dodaj rabat</a>	
					</div>
					<?php endif; ?>
					
					<div id="rabatyProdukty" <?php if(!$rabatProdukt): ?> class="dn" <?php endif; ?>>
						<form action="" method="post" enctype="multipart/form-data">
							<div class="form_title">
								<h2 class="title4">
									<?php if($rabatProdukt): ?>Edytuj<?php else: ?>Dodaj<?php endif; ?> rabat
								</h2>
							</div>
							<input type="hidden" name="rabaty[id_user]" value="<?php echo $this->new_user['id']; ?>" />
							<input type="hidden" name="rabaty[typ]" value="produkty" />
							<div class="form_row">
								<?php if($rabatProdukt): ?>
								<label class="">Rabat dla</label>
								<div class="input_bg w1">
									<?php echo $this->produkt['nazwa']; ?>
									<input type="hidden" name="rabaty[id_prod]" value="<?php echo $this->produkt['id']; ?>" />
								</div>
								<?php else: ?>
									<?= $this->render('kontrahent/rabatyprodukty.phtml'); ?>
								<?php endif; ?>
							</div>
							<div class="form_row">
								<label class="required">Rabat (%)</label>
								<div class="input_bg_small">
									<input type="text" name="rabaty[wartosc_rab]" value="<?php echo @$this->rabat['wartosc_rab']; ?>" />
								</div>
								<?php if(false): ?>
								<div class="input_bg_small" style="margin-left:24px;">
									<select name="rabaty[typ_rab]">
									<option value="%">%&nbsp;</option>
									<option value="ZŁ" <?php if(@$this->rabat['typ_rab'] == "ZŁ") echo 'selected="selected"'; ?>>ZŁ&nbsp;</option>
									</select>
								</div>
								<?php else: ?>
									<input type="hidden" name="rabaty[typ_rab]" value="%" />
								<?php endif; ?>
							</div>	
							
							<?php if($this->edycjazablokowana === false): ?>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="rabaty[zapisz]" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
								
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->rabatyProdukty) && count($this->rabatyProdukty) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width=""/>
									<col width="15%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa produktu</th>
									<th>Rabat</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; for($j=0; $j<count($this->rabatyProdukty); $j++): ?>
									
								<?php $rabat = $this->rabatyProdukty[$j]; ?>
								<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $rabat['nazwa']; ?>
									</td>
									<td class="first img">
										<?php echo $rabat['wartosc_rab']; ?> <?php echo $rabat['typ_rab']; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/idrab/<?php echo $rabat['id'];?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $rabat['id_user'];?>/iddel/<?php echo $rabat['id'];?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endfor; ?>	
							
							</table>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych rabatów.</div>
						
					<?php endif; ?>
					
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>