<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Klienci</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut rabaty</h2>
		</div>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj rabatami klienta: <?php echo $this->new_user['imie'].' '.$this->new_user['nazwisko']; ?></h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Rabaty</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div id="box_display">
						<form action="" method="post" enctype="multipart/form-data">
							<div class="form_title"><h2 class="title4">Edytuj rabat</h2></div>
							<input type="hidden" name="rabaty[id_user]" value="<?php echo $this->new_user['id']; ?>" />
							<input type="hidden" name="rabaty[typ]" value="kategorie" />
							<div class="form_row">
								<label class="required">Wybierz kategorię:</label>
								<div class="input_bg">
									<select name="rabaty[kategoria_rab]">
									<option value="0">Wybierz</option>
									<?php for($i=0;$i<count($this->kategoria); $i++): ?>
									<option <?php echo(isset($this->rabat['kategoria_rab']) && $this->rabat['kategoria_rab'] == $this->kategoria[$i]['id'])? 'selected="selected"': '';  ?> value="<?php echo $this->kategoria[$i]['id']; ?>"><?php echo $this->kategoria[$i]['nazwa']; ?></option>
									<?php endfor; ?>
									</select>
								</div>
							</div>
							<div class="form_row">
								<label class="required">Wartość rabatu</label>
								<div class="input_bg">
									<input type="text" name="rabaty[wartosc_rab]" value="<?php echo(isset($this->rabat['wartosc_rab']))? $this->rabat['wartosc_rab']: '';  ?>" />
								</div><span class="lf">&nbsp;&nbsp;&nbsp;%</span>
							</div>	
							
							<?php if(!empty($this->kategoria)): ?>
	                 		     <?php if($this->edycjazablokowana === false): ?>
								<div class="button_form m2">
									<div class="button1">
										<input type="submit" name="rabaty[edytuj]" value="Zapisz" />	
									</div>
								</div>
							     <?php endif; ?>
							<?php endif; ?>
								
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->rabaty) && count($this->rabaty) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="50%"/>
									<col width="10%"/>
									<col width="20%"/>
									<col width="20%"/>
								</colgroup>
								<tr>
									<th>Nazwa kategorii</th>
									<th>Wartość rabatu</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; for($j=0; $j<count($this->rabaty); $j++): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $this->rabaty[$j]['nazwa']; ?>
									</td>
									<td class="first img">
										<?php echo $this->rabaty[$j]['wartosc_rab']; ?> %
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatyedytuj/id/<?php echo $this->rabaty[$j]['id_user'];?>/idrab/<?php echo $this->rabaty[$j]['id'];?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $this->rabaty[$j]['id_user'];?>/iddel/<?php echo $this->rabaty[$j]['id'];?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endfor; ?>	
							
							</table>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych rabatów.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>