<?php $title = ''; ?>
<?php if(@count($this->kontrahent['zamowienia']) > 0): ?>
<?php foreach($this->kontrahent['zamowienia'] as $zamow): ?>
<?php $title.= ''.$zamow['id'].': ';?>
<?php $title.= ''.date('Y-m-d H:i', strtotime($zamow['data'])).' ';?>
<?php $title.= ''.@$this->typy[$zamow['status']]['tytul'].' ';?>
<?php $title.= '<span class="rabaty">'; ?>
<?php $title.= number_format($zamow['wartosc_zamowienia'], 2, ',', ' '); ?>
<?php $title.= '&nbsp;zł'; ?>
<?php $title.= '</span><br/>'; ?>
<?php endforeach; ?>
<?php endif; ?>
<a title="" class="see_ico" href="<?php echo $this->baseUrl;?>/admin/zamowienia/wypisz/mode/system/imie_zam/<?php echo $this->kontrahent['id_ext']; ?>" onmouseover="return overlib('<?php echo htmlspecialchars($title); ?>', WIDTH, 350, TEXTSIZE, '10px', BGCLASS, 'rabatyPopup', CELLPAD, 5);" onmouseout="return nd();" tabindex="-1" style="display:inline-block;">Zamówienia</a>