<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Newsletter</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Newsletter - adresy</h2>
		</div>
		<!--
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/newsletter/edytuj/">Dodaj podstronę</a>
		</div>
		-->
		<div class="box_title">
			<h3 class="title3">Zarządzaj adresami:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->adresy)): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width=""/>
							<?php if(false): ?>
							<col width="10%"/>
							<col width="10%"/>
							<col width="10%"/>
							<?php endif; ?>
							<?php if(false): ?>
							<col width="10%"/>
							<col width="10%"/>
							<?php endif; ?>
							<col width="5%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>Adres</th>
							<?php if(false): ?>
							<th>Imię</th>
							<th>Nazwisko</th>
							<th>Telefon</th>
							<?php endif; ?>
							<?php if(false): ?>
							<th>Konto Allegro</th>
							<th>Licytowane aukcje</th>
							<?php endif; ?>
							<th>Status</th>
							<th>Usuń</th>
						</tr>
						
						<?php $j = 1; foreach ($this->adresy as $display): ?>
								
						<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

						<tr class="<?php echo $style; ?>">
							<td><b><?php echo $display['email']; ?></td>
							<?php if(false): ?>
							<td><b><?php echo $display['imie']; ?></td>
							<td><b><?php echo $display['nazwisko']; ?></td>
							<td><b><?php echo $display['telefon']; ?></td>
							<?php endif; ?>
							
							<?php if(false): ?>
							<td>
							<?php if(!empty($display['allegro_id'])): ?>
							<a href="http://allegro.pl/show_user.php?uid=<?php echo $display['allegro_id']; ?>">
							<?php echo $display['allegro_login']; ?></a>
							<?php endif; ?>
							</td>							
							<td>
							<?php 
							if(!empty($display['allegro_aukcje'])):
							$aukcje = explode(';', $display['allegro_aukcje']);
							foreach($aukcje as $aukcja):
							if(!empty($aukcja))
							echo '<a href="http://allegro.pl/item'.$aukcja.'.html">'.$aukcja.'</a><br/>';
							endforeach;
							endif; 
							?>
							</td>
							<?php endif; ?>
							
							<td align="center">
							<?php if($display['status']==1) {?>
							<a href="<?php echo $this->baseUrl;?>/admin/newsletter/adresy/id/<?php echo $display['id'];?>/status/0/" title="Aktywny. Kliknij aby zdezaktywować ten adres e-mail">
							<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/ikona_user.png" />
							</a>
							<?php } else { ?>
							<a href="<?php echo $this->baseUrl;?>/admin/newsletter/adresy/id/<?php echo $display['id'];?>/status/1/" title="Nieaktywny. Kliknij aby aktywować ten adres e-mail">
							<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/ikona_user_szara.png" />
							</a>
							<?php } ?>
							</b>
							</td>
							<td align="center">
							<?php if($this->edycjazablokowana === false): ?>
							<a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć tego maila ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/newsletter/adresy/delid/<?php echo $display['id']; ?>">Usuń</a>
							<?php endif; ?>
                            </td>
						</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
			
						<div class="info_empty">Brak adresów.</div>
			
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>