<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Newsletter</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Newsletter - artykuły</h2>
		</div>
		<!--
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/newsletter/edytuj/">Dodaj podstronę</a>
		</div>
		-->
		<div class="box_title">
			<h3 class="title3">Zarządzaj artykułami:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(@count($this->news)): ?>
					
					<form action="" method="post">
					<table class="foto_box padding">
						<colgroup>
							<col width="30%"/>
							<col width="60%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>Nazwa</th>
							<th>Opis</th>
							<th>Wyślij</th>
						</tr>
						
						<?php $j = 1; foreach ($this->news as $display): ?>
								
						<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

						<tr class="<?php echo $style; ?>">
							<td><b><?php echo $display['temat']; ?></td>
							<td><?php echo $this->obConfig->artykulySkrot ? $display['skrot'] : 
							mb_substr(strip_tags($display['tekst']),0,300,'UTF-8').'...'; ?></td>
						<td align="center">
							<input type="checkbox" checked="checked" name="<?php echo $display['id']; ?>" />
						</td>
						</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					<?php if($this->edycjazablokowana === false): ?>
                    <div class="button_form m2">
						<div class="button1">
							<input type="submit" name="wyslij" value="Wyślij artykuły" />	
						</div>
					</div>
					<?php endif; ?>
					</form>
					
                            <?php else: ?>
					
                                <div class="info_empty">Brak artykułów.</div>
					
                            <?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>