<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Najchętniej kupowane</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Najchętniej kupowane</h2>
		</div>
		<!--
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/newsletter/edytuj/">Dodaj podstronę</a>
		</div>
		-->
		<div class="box_title">
			<h3 class="title3">Zarządzaj bestsellerami:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->bestsellery)): ?>
					
					<form action="" method="post">
					<table class="foto_box padding">
						<colgroup>
							<col width="15%"/>
							<col width="50%"/>
							<col width="30%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>Zdjęcie</th>
							<th>Nazwa</th>
							<th>Opis</th>
							<th>Wybierz</th>
						</tr>
						
						<?php $j = 1; foreach($this->bestsellery as $bestseller): ?>
								
						<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>

						<tr class="<?php echo $style; ?>">
						<td align="center">
							<img style="max-height: 60px; max-width: 93px;" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/miniaturki/<?php echo $bestseller['zdj']['img'] ?>"/>
						</td>
						<td><b><?php echo $bestseller['nazwa']; ?></td>
						<td>
							Kupiono: <?php echo $bestseller['ilosc']; ?> szt. za <?php echo $bestseller['wartosc']; ?> zł
							<br/>Ostatni zakup: <?php echo date('Y-m-d H:i', strtotime($bestseller['date'])); ?>
						</td>
						<td align="center">							
							<input type="checkbox" name="bestseller[]" value="<?php echo $bestseller['id']; ?>" <?php if(@in_array($bestseller['id'], $this->polec)) echo 'checked="checked"'; ?> />
						</td>
						</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					<?php if($this->edycjazablokowana === false): ?>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="wyslij" value="Zapisz" />	
						</div>
					</div>
					<?php endif; ?>
					
					</form>
					
					<?php else: ?>
			
						<div class="info_empty">Brak produktów.</div>
			
					<?php endif; ?>
					
					<?php if(true || $this->obConfig->produktyPowiazania): ?>
					<div class="box_foto_product" id="zakladkaPowiazania">
						<div class="form_title"><h2 class="title4">Wybierz własne bestsellery:</h2></div>
					</div>
					<form action="" method="post">
					<div style="position: relative; float:left; margin-left: 0px; width: 300px;">
					<input type="text" name="szukajPowiazanie" value="" onkeyup="szukajProd(this);" style="width:257px; height:20px; border:1px solid #DDDDDD;"/>
					<br clear="all" /><br clear="all" />
					<select class="input_temat_maly" name="powiazanie" id="powiazanie" style="width:257px;height:20px;">
						<option value="0">Wyszukaj własny bestseller</option>
					</select>
					<input type="submit" name="edytujPowiazanie" class="przycisk_1" value="Dodaj własny bestseller" style="position: relative; float:left; margin-left: 0px; clear:left; cursor:pointer;" />				
					</div>
					</form>
					<table class="tabela_1" style="width:350px; margin-right: 0px; margin-top: 0px; float: right; _bestseller: inline; text-align:center;">
						<tr>
							<th>własny bestseller</th>
							<th width="50">usuń</th>
					   </tr>
					   <?php if(@count($this->bestselleryWlasne) > 0): ?>
					   <?php foreach($this->bestselleryWlasne as $bestseller): ?>
					   <tr>
							<td><?php echo $bestseller['nazwa']; ?></td>
							<td align="center">
								<a onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/newsletter/bestseller/del/<?php echo $bestseller['id'];?>">Usuń</a>
							</td>
					   </tr>
					   <?php endforeach; ?>
					   <?php endif; ?>
					</table>
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>