<div class="modul_container">
	<div class="navi_box">
            <span class="no_link">Panel administracyjny &raquo;</span>
            <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
            <span class="link_path_end">Export</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_import_kategoria.png" alt="Export" />
			<h2 class="title2 p1">Export</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Eksportuj bazę e-maili z newslettera:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane export:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form action="" method="post" enctype="multipart/form-data">                   
						<div class="form_title"><h2 class="title4">Eksport</h2></div>                   
						<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="nowe" value="Eksportuj" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>