<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Najchętniej kupowane</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Obserwowane</h2>
		</div>
		<!--
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/newsletter/edytuj/">Dodaj podstronę</a>
		</div>
		-->
		<div class="box_title">
			<h3 class="title3">Zarządzaj obserwowanymi:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->obserwujacy)): ?>
					
					<form action="" method="post">
					<table class="foto_box padding">
						<colgroup>
							<col width="30%"/>
							<col width="10%"/>
							<col width="50%"/>
						</colgroup>
						<tr>
							<th>Klient</th>
							<th>Zdjęcie</th>
							<th>Nazwa</th>
						</tr>
						
						<?php $j = 1; foreach($this->obserwujacy as $obserwujacy): ?>
						<?php $obserwowane = @explode(',', $obserwujacy['id_prod']); ?>
						<?php if(!empty($obserwowane) && count($obserwowane) > 0): ?>
						<?php foreach($obserwowane as $obserwowanyID): ?>
						<?php if(intval($obserwowanyID) == 0) continue; ?>
						<?php $obserwowany = $this->obserwowane[$obserwowanyID]; ?>
						<?php if(count($obserwowany) == 0) continue; ?>
								
						<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>

						<tr class="<?php echo $style; ?>">
						<td>							
							<?php echo $obserwujacy['nazwisko']; ?> <?php echo $obserwujacy['imie']; ?>
							<br/><b><?php echo $obserwujacy['nazwa_firmy']; ?></b>
						</td>
						<td align="center">
							<a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $obserwowany['id']; ?>" tabindex="-1">
							<img style="max-height: 60px; max-width: 93px;" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/miniaturki/<?php echo $obserwowany['zdj']['img'] ?>"/>
							</a>
						</td>
						<td>
							<a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $obserwowany['id']; ?>" tabindex="-1">
								<b><?php echo $obserwowany['nazwa']; ?>
							</a>
						</td>
						</tr>
						
						<?php endforeach; ?>
						<?php endif; ?>
						<?php $j++; endforeach; ?>
						
					</table>
					<?php if(false && $this->edycjazablokowana === false): ?>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="wyslij" value="Zapisz" />	
						</div>
					</div>
					<?php endif; ?>
					
					</form>
					
					<?php else: ?>
			
						<div class="info_empty">Brak produktów.</div>
			
					<?php endif; ?>
					
					<?php if(false && $this->obConfig->produktyPowiazania): ?>
					<div class="box_foto_product" id="zakladkaPowiazania">
						<div class="form_title"><h2 class="title4">Wybierz własne obserwowane:</h2></div>
					</div>
					<form action="" method="post">
					<div style="position: relative; float:left; margin-left: 0px; width: 300px;">
					<input type="text" name="szukajPowiazanie" value="" onkeyup="szukajProd(this);" style="width:257px; height:20px; border:1px solid #DDDDDD;"/>
					<br clear="all" /><br clear="all" />
					<select class="input_temat_maly" name="powiazanie" id="powiazanie" style="width:257px;height:20px;">
						<option value="0">Wyszukaj własny obserwowany</option>
					</select>
					<input type="submit" name="edytujPowiazanie" class="przycisk_1" value="Dodaj własny obserwowane" style="position: relative; float:left; margin-left: 0px; clear:left; cursor:pointer;" />				
					</div>
					</form>
					<table class="tabela_1" style="width:350px; margin-right: 0px; margin-top: 0px; float: right; _obserwowane: inline; text-align:center;">
						<tr>
							<th>własny obserwowany</th>
							<th width="50">usuń</th>
					   </tr>
					   <?php if(@count($this->obserwowaneWlasne) > 0): ?>
					   <?php foreach($this->obserwowaneWlasne as $obserwowane): ?>
					   <tr>
							<td><?php echo $obserwowane['nazwa']; ?></td>
							<td align="center">
								<a onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/newsletter/obserwowane/del/<?php echo $obserwowane['id'];?>">Usuń</a>
							</td>
					   </tr>
					   <?php endforeach; ?>
					   <?php endif; ?>
					</table>
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>