<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/lista/od/0/">Lista Aktualności &raquo;</a>
			<span class="link_path_end">Lista aktualności</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Aktualności" />
			<h2 class="title2 p1">Aktualności</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/dodaj/">Dodaj aktualność</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj aktualnościami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
		
					<?php if(count($this->realizacje) > 0): ?>
						
						<?php if(!isset($this->error_search)): ?>
					
							<div class="box_pager">
								<?php for($j=0;$j<$this->ilosc;$j++): 
			                        $od=$j*30;
			                        if($j==0)
			                            echo '<a href="'.$this->baseUrl.'/admin/aktualnosci/lista/od/0/">'.($j+1).'</a>';
			                        else
			                            echo '<a href="'.$this->baseUrl.'/admin/aktualnosci/lista/od/'.$od.'/">'.($j+1).'</a>';
		                        endfor; ?>
							</div>
							<table id="jQ_drag" class="foto_box padding">
								<colgroup>
									<!--<col width="15%"/>-->
									<col width="50%"/>
									<?php if($this->obConfig->aktualnosciZdjecia): ?>
									<col width="25%"/>
									<?php endif; ?>
									<col width="5%"/>
									<col width="5%"/>
									<?php if($this->obConfig->aktualnosciGlowna): ?>
									<col width="5%"/>
									<?php endif; ?>									
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<thead>
								<tr>
									<!--<th>Nazwa</th>-->
									<th>Temat</th>
									<?php if($this->obConfig->aktualnosciZdjecia): ?>
									<th>Zdjęcie</th>
									<?php endif; ?>
									<th>Pozycja</th>
									<th>Widoczny</th>
									<?php if($this->obConfig->aktualnosciGlowna): ?>
									<th>Główna</th>
									<?php endif; ?>									
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								</thead>
								<tbody>
								<?php $j = 1; foreach($this->realizacje as $realizacja): ?>
								
									<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
									<tr class="<?php echo $style; ?>" id="rowPos_<?php echo $realizacja['id'];?>">
										<!--<td><?php //echo $realizacja->nazwa; ?></td>-->
										<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/aktualnosci/edytuj/id/<?php echo $realizacja->id;?>"><b><?php echo $realizacja->temat; ?></b></a></td>
										
										<?php if($this->obConfig->aktualnosciZdjecia): ?>
										<td align="center">
										<a title="Edytuj" class="<?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/edytuj/id/<?php echo $realizacja->id; ?>">
										<img src="<?php echo $this->baseUrl; ?>/public/admin/aktualnosci/<?php echo $realizacja->img;?>" alt="" width="100" />
										</a>
										</td>
										<?php endif; ?>
										
										<?php if(true): ?>
										<td align="center">
											<span class="ico_drag"></span>
										</td>
										<?php endif; ?>
										
										<td align="center"><a title="Zmień widoczność" class="<?php echo @intval($realizacja->wyswietl) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/lista/pokazid/<?php echo $realizacja->id; ?>/widoczny/<?php echo @intval(!$realizacja->wyswietl); ?>">Edytuj</a></td>
										
										<?php if($this->obConfig->aktualnosciGlowna): ?>
										<td align="center"><a title="Pokaż na głównej" class="<?php echo @intval($realizacja->glowna) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/lista/glownaid/<?php echo $realizacja->id; ?>/glowna/<?php echo @intval(!$realizacja->glowna); ?>">Główna</a></td>
										<?php endif; ?>
										
										<td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/edytuj/id/<?php echo $realizacja->id; ?>">Edytuj</a></td>
										
										<td align="center"><a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/aktualnosci/lista/delid/<?php echo $realizacja->id;?>">Usuń</a></td>	
									</tr>
								
								<?php $j++; endforeach; ?>
								</tbody>
							</table>
							
							<script type="text/javascript">
							$(document).ready(function()
							{
								$("#jQ_drag tbody").sortable(
								{
									opacity: 0.6, 
									cursor: 'move',
									update: function()
									{
										var order = $(this).sortable("serialize")+'&table=aktualnosci'
										$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(theResponse)
										{
											location.reload();
										});
									},
								});
							});
							</script>
						
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak zdefiniowanych aktualności.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>

