<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Strona główna &raquo;</a>
			<span class="link_path_end">Ankieta</span>
	</div>
	<div class="container">
		<div class="box_main_title">
			<img height="30" src="<?php echo $this->baseUrl; ?>/public/images/admin/menu/ankieta.png" alt="Zawartość" />
			<h2 class="title2 p1">Ankieta</h2>
		</div>
                <div class="box_link_navi">
                    <a class="back" href="<?php echo $this->baseUrl; ?>/admin/ankieta/lista/od/0">Wróc do listy</a>
                </div>
		<div class="box_title">
			<h3 class="title3">Edytuj ankietę: <b><?php echo $this->pojedynczy->nazwa; ?></b></h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Ankieta</span></li>
				</ul>
			</div>
			<div class="right_side">

				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

					<div class="error_container">

						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>

					</div>

				<?php endif; ?>

				<div class="box_form">
                                    <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                                    <div class="cb"></div>
                                    <div id="box_display">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            <div class="box_link">
                                                <a class="add silver m_linki" href="<?php echo $this->baseUrl; ?>/admin/ankieta/odpowiedzi/id/<?php echo $this->pojedynczy->id;  ?>">Dodaj odpowiedzi</a>
                                                <a class="add silver m_linki" href="<?php echo $this->baseUrl; ?>/admin/ankieta/wyniki/id/<?php echo $this->pojedynczy->id;  ?>">Wyniki ankiety</a>
                                                <a class="del silver m_linki" href="<?php echo $this->baseUrl; ?>/admin/ankieta/edytuj/id/<?php echo $this->pojedynczy->id;  ?>/wyczysc/1">Wyczysc wyniki</a>
                                            </div>
                                            <br />
                                            <div class="form_row">
                                                <label class="required">Pytanie ankieta:</label>
                                                <div class="input_bg w1 bigger">
                                                    <input type="text" name="nazwa" value="<?php echo $this->pojedynczy->nazwa; ?>" />
                                                </div>
                                            </div>
                                            <div class="button_form m2">
                                                <div class="button1">
                                                    <input type="submit" name="dodaj" value="Zapisz" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
				</div>
                                <!--Lista producent-->
                                <?php if(isset($this->odpowiedzi) && count($this->odpowiedzi) > 0): ?>

                                    <script type="text/javascript">
                                        $(document).ready(function(){

                                            $(function() {
                                                    $("#jQ_drag tbody").sortable({ opacity: 0.6, cursor: 'move', update: function() {
                                                            var order = $(this).sortable("serialize") + '&action=changePosition'

                                                            $.post("<?php echo $this->baseUrl; ?>/ajax/index/ankieta/", order, function(theResponse){
                                                                location.reload();
                                                            });
                                                    }
                                                    });
                                            });

                                        });
                                    </script>


                                    <div class="box_foto_product">
                                        <table id="jQ_drag" class="foto_box">
                                                <colgroup>
                                                        <col width="50%"/>
                                                        <col width="20%"/>
                                                        <col width="10%"/>
                                                        <col width="10%"/>
                                                        <col width="10%"/>
                                                </colgroup>
                                                <thead>
                                                <tr>
                                                        <th>Odpowiedź</th>
                                                        <th>Głosy</th>
                                                        <th>Pozycja</th>
                                                        <th>Edytuj</th>
                                                        <th>Usuń</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <?php $i=1; foreach($this->odpowiedzi as $odpowiedz): ?>

                                                        <?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                                <tr id="rowPos_<?php echo $odpowiedz['id']; ?>" class="<?php echo $style; ?>">
                                                        <td class="first">
                                                            <?php echo $odpowiedz->nazwaod; ?>
                                                        </td>
                                                        <td align="center">
                                                            <?php echo $odpowiedz->glosy; ?>
                                                        </td>
                                                        <td align="center">
                                                            <span class="ico_drag"></span>
                                                        </td>
                                                        <td align="center">
                                                                <a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/ankieta/odpowiedz/id/<?php echo $odpowiedz->id;?>/idan/<?php echo $this->pojedynczy->id; ?>">Edytuj</a>
                                                        </td>
                                                        <td align="center">
                                                                <a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/ankieta/odpowiedzusun/id/<?php echo $odpowiedz->id;?>/idan/<?php echo $this->pojedynczy->id; ?>">Usuń</a>
                                                        </td>
                                                </tr>

                                                <?php $i++; endforeach; ?>
                                                </tbody>
                                        </table>
                                    </div>

                                <?php else: ?>

                                        <div class="info_empty">Brak zdefiniowanych odpowiedzi.</div>

                                <?php endif; ?>
			</div>
		</div>
	</div>
</div>