<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Strona główna &raquo;</a>
			<span class="link_path_end">Ankieta</span>
	</div>
	<div class="container">
		<div class="box_main_title">
			<img height="30" src="<?php echo $this->baseUrl; ?>/public/images/admin/menu/ankieta.png" alt="Zawartość" />
			<h2 class="title2 p1">Ankieta</h2>
		</div>
                <div class="box_link_navi">
                    <a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/ankieta/dodaj/">Dodaj ankietę</a>
                </div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj ankietami:</h3>
		</div>
		<div class="content">
			<div class="all_container">

				<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>

					<div class="error_container">

						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>

					</div>

				<?php endif; ?>

				<div class="box_form_product">
					
					<?php if(!empty($this->realizacje)): ?>

                                        <div class="box_link_navi">
                                            <label>Zarządzanie blokiem ankiet: </label>
                                            <?php if(isset($this->ankietau['widoczny']) && $this->ankietau['widoczny'] == 'T'): ?>

                                                <a class="del silver m_linki" href="<?php echo $this->baseUrl; ?>/admin/ankieta/lista/ustaw/0">Wyłącz blok ankiet</a>

                                            <?php else: ?>

                                                <a class="add silver m_linki" href="<?php echo $this->baseUrl; ?>/admin/ankieta/lista/ustaw/1">Włącz blok ankiet</a>

                                            <?php endif; ?>

                                        </div>

                                        <div class="error_info rf">
                                            kliknij obok ankiety (pole <b>wybierz</b>) i zapisz, aby wyświetlić ankietę na stronie
                                        </div>
                                        <div class="cb"></div>
                                        <form method="post" action="">
                                            <table class="foto_box padding">
                                                    <colgroup>
                                                        <col width="15%"/>
                                                        <col width="65%"/>
                                                        <col width="15%"/>
                                                        <col width="15%"/>
                                                    </colgroup>
                                                    <tr>
                                                        <th>Wybierz</th>
                                                        <th>Nazwa</th>
                                                        <th>Edytuj</th>
                                                        <th>Usuń</th>
                                                    </tr>
                                                    <?php $j = 1; foreach ($this->realizacje as $realizacja): ?>

                                                            <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                                            <tr class="<?php echo $style; ?>">
                                                                <td align="center">
                                                                    <input <?php echo($realizacja['widoczny'] == 1)? 'checked="checked"':''; ?> type="radio" name="widoczny" value="<?php echo $realizacja['id'];  ?>"/>
                                                                </td>
                                                                <td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/ankieta/edytuj/id/<?php echo $realizacja['id'];?>"><b><?php echo $realizacja['nazwa']; ?></b></a></td>
                                                                <td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/ankieta/edytuj/id/<?php echo $realizacja['id'];?>">Edytuj</a></td>
                                                                <td align="center"><a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/ankieta/lista/delid/<?php echo $realizacja['id'];?>">Usuń</a></td>
                                                            </tr>

                                                    <?php $j++; endforeach; ?>

                                                    <tr class="silver">
                                                        <td align="center" colspan="4">
                                                            <div style="display: inline-block;">
                                                                <div class="button1">
                                                                    <input type="submit" name="wybierz" value="Zapisz" />
                                                                </div>
                                                            </div>
                                                        </td>
                                                        
                                                    </tr>
                                            </table>
                                        </form>
					<?php else: ?>

						<div class="info_empty">Brak zdefiniowanych ankiet.</div>

					<?php endif; ?>

				</div>
			</div>
		</div>
	</div>
</div>