<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Strona główna &raquo;</a>
			<span class="link_path_end">Ankieta</span>
	</div>
	<div class="container">
		<div class="box_main_title">
			<img height="30" src="<?php echo $this->baseUrl; ?>/public/images/admin/menu/ankieta.png" alt="Zawartość" />
			<h2 class="title2 p1">Ankieta</h2>
		</div>
                <div class="box_link_navi">
                    <a class="back" href="<?php echo $this->baseUrl; ?>/admin/ankieta/edytuj/id/<?php echo $this->idan; ?>">Wróc do ankiety</a>
                </div>
		<div class="box_title">
                    <h3 class="title3">Edytuj ankietę: <b><?php echo $this->pojedynczy->nazwa; ?></b></h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Ankieta</span></li>
				</ul>
			</div>
			<div class="right_side">

				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

					<div class="error_container">

						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>

					</div>

				<?php endif; ?>

				<div class="box_form">
                                    <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                                    <div class="cb"></div>
                                    <div id="box_display">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            <div class="form_title"><h2 class="title4">Edytuj odpowiedź:</h2></div>
                                            <div class="form_row">
                                                <label class="required">Odpowiedź:</label>
                                                <div class="input_bg w1">
                                                    <input type="text" name="nazwa" value="<?php echo $this->pojedynczyo->nazwaod; ?>" />
                                                </div>
                                            </div>
                                            <div id="box_inputy">
                                            </div>
                                            <div class="button_form m2">
                                                <div class="button1">
                                                    <input type="submit" name="dodaj" value="Zapisz" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
				</div>
			</div>
		</div>
	</div>
</div>