<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Strona główna &raquo;</a>
			<span class="link_path_end">Ankieta</span>
	</div>
	<div class="container">
		<div class="box_main_title">
			<img height="30" src="<?php echo $this->baseUrl; ?>/public/images/admin/menu/ankieta.png" alt="Zawartość" />
			<h2 class="title2 p1">Ankieta</h2>
		</div>
                <div class="box_link_navi">
                    <a class="back" href="<?php echo $this->baseUrl; ?>/admin/ankieta/edytuj/id/<?php echo $this->pojedynczy->id; ?>">Wróc do ankiety</a>
                </div>
		<div class="box_title">
			<h3 class="title3">Wyniki ankiety: <b><?php echo $this->pojedynczy->nazwa; ?></b></h3>
		</div>
		<div class="content">
			<div class="left_side" style="display:none;">
				<ul class="menu_left">
					<li><span class="hover">Ankieta</span></li>
				</ul>
			</div>
			<div class="right_side" style="width:900px;">

				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

					<div class="error_container">

						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>

					</div>

				<?php endif; ?>

				<div class="box_form">
                                    <?php if(count($this->raport) > 0): ?>

							<div class="raports_box">

								 <?php if(count($this->raport) > 30): $counter = 30; else: $counter = count($this->raport); endif;

									for($i=0;$i<$counter; $i++): ?>

									<div class="one_raport">
				                        <?php $dlugosc = round($this->raport[$i]['ilosc']*$this->jednostka); ?>
				                        <?php if($i<=$this->ilosc): ?>

                                                                <div class="najczesciej_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                                                        <?php elseif($i>$this->ilosc&&$i<=$this->ilosc*2): ?>

                                                                <div class="srednio_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                                                        <?php else: ?>

                                                                <div class="malo_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                                                        <?php endif; ?>

				                        <div class="raport_title">
				                                &nbsp;<?php echo $this->raport[$i]['nazwa'].' - <b>'.$this->raport[$i]['ilosc'].'</b> głosów';  ;?>
				                        </div>
				                    </div>

                        		<?php endfor; ?>

							</div>

                                        <?php else: ?>

                                                <div class="info_empty">Brak raportów do wyświetlenia.</div>

                                        <?php endif; ?>

					
				</div>
                                
			</div>
		</div>
	</div>
</div>