<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut Użytkownicy</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem Użytkownicy:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Użytkownicy</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj użytkownika</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj użytkownika</h2></div>
							<div class="form_row">
								<label class="required small">Nazwa:</label>
								<div class="input_bg w1">
								<input type="text" name="userNazwa" value=""/>
								</div>
							</div>
							<div class="form_row">
								<label class="required small">Login:</label>
								<div class="input_bg w1">
								<input type="text" name="userLogin" value=""/>
								</div>
							</div>
							<div class="form_row">
								<label class="required small">Hasło:</label>
								<div class="input_bg w1">
								<input type="text" name="userHaslo" value=""/>
								</div>
							</div>
							<?php if(true): ?>
							<div class="form_row">
								<label class="required small">Uprawnienia:</label>
								<div class="input_bg w1">								
								<?php foreach($this->prawa as $prawo): ?>
								<input type="checkbox" name="userPrawa[]" value="<?php echo $prawo;?>" checked="checked"/>
								&nbsp;<?php echo $prawo; ?><br/>
								<?php endforeach; ?>
								</div>
							</div>
							<?php endif; ?>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodajUser" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					
					<?php if(isset($this->user)): ?>
					<div class="box_edit" id="users">
						<form action="" method="post" enctype="multipart/form-data">
							<input type="hidden" name="userID" value="<?php echo $this->user['id'];?>"/>
							<div class="form_title"><h2 class="title4">Edytuj użytkownika</h2></div>             
							<div class="form_row">
								<label class="required small">Nazwa:</label>
								<div class="input_bg w1">
								<input type="text" name="userNazwa" value="<?php echo $this->user['nazwa']; ?>"/>
								</div>
							</div>
							<?php if($this->user['login'] != 'admin' && $this->user['login'] != 'bigcom'): ?>
							<div class="form_row">
								<label class="required small">Login:</label>
								<div class="input_bg w1">
								<input type="text" name="userLogin" value="<?php echo $this->user['login']; ?>"/>
								</div>
							</div>
							<?php endif; ?>
							<?php if(false): ?>
							<div class="form_row">
								<label class="required small">Hasło:</label>
								<div class="input_bg w1">
								<input type="text" name="userHaslo" value="<?php echo $this->user['haslo']; ?>"/>
								</div>
							</div>
							<?php endif; ?>
							<?php if(true): ?>
							<div class="form_row">
								<label class="required small">Uprawnienia:</label>
								<div class="input_bg w1">
								<?php foreach($this->prawa as $prawo): ?>
								<input type="checkbox" name="userPrawa[]" value="<?php echo $prawo; ?>" <?php if((@strpos( $this->user['uprawnienia'], $prawo) !== false) || $this->user['uprawnienia'] == 'wszystko') echo 'checked="checked"'; ?> <?php if($this->user['uprawnienia'] == 'wszystko') echo 'disabled="disabled"'; ?> />&nbsp;<?php echo $prawo; ?><br/>
								<?php endforeach; ?>
								</div>
							</div>
							<?php endif; ?>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edycjaUser" value="Zapisz" />	
								</div>
							</div>									
						</form>
					</div>
					<?php endif; ?>
					
					<!--Lista user-->
					<?php if(isset($this->users) && count($this->users) > 0): ?>
					
						<form action="" method="post" enctype="multipart/form-data">
					
						<div class="box_foto_product">
							<table class="foto_box" id="usersTable">
								<colgroup>
									<col width="20%"/>
									<col width="20%"/>
									<col width="30%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Login</th>
									<th>Hasło (zaszyfrowane)</th>
									<th>Uprawnienia</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->users as $user): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td><?php echo $user['nazwa']; ?></td>
									<td><?php echo $user['login']; ?></td>
									<td><?php echo $user['haslo']; ?></td>
									<td><?php echo str_replace(',', '<br/>', $user['uprawnienia']); ?></td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/index/edytuj/id/<?php echo $user->id; ?>">Edytuj użytkownika</a>
									</td>
									<td align="center">	
										<?php if($user['login'] != 'admin' && $user['login'] != 'bigcom'): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/index/edytuj/userDel/<?php echo $user->id; ?>">Usuń</a>
										<?php endif; ?>
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							</div>
						</form>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych użytkowników.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>