<div class="box_login">
	<div class="box_form_login">
		
		<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
		
		<div class="error_login">
			<?php echo $this->blad_edycji; ?>
			<?php echo $this->lista_bledow; ?>
		</div>
		
		<?php endif; ?>
		
		<form name="logowanie" action="<?php echo $this->baseUrl;?>/admin/" method="post" >
			<div class="form_row" style="height:22px;">
				<label class="small login" style="line-height:22px;">Login:</label>
				<div class="input_bg">
					<input type="text" name="nick" />
				</div>
			</div>
			<div class="form_row" style="height:22px;">
				<label class="small login" style="line-height:22px;">Hasło:</label>
				<div class="input_bg">
					<input type="password" name="pass" />
				</div>
			</div>
			<div class="button_form_login">
				<div class="button1">
					<input type="submit" name="edytuj" value="Zaloguj się" />	
				</div>
			</div>	
		</form>
	</div>
</div>