<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Synchronizacja</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj synchronizacją:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Synchronizacja</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					
					<div class="box_edit" id="online">
						<form action="" method="post" enctype="multipart/form-data">
							<div class="form_title"><h2 class="title4">Edytuj dane serwera</h2></div> 
							<div class="form_row">
								<label class="required big">Adres strony online:</label>
								<div class="input_bg w1">
								<input type="text" name="adres" value="<?php echo $this->dane['adres']; ?>"/>
								</div>
							</div>							
							<div class="form_row">
								<label class="required big">Serwer FTP online:</label>
								<div class="input_bg w1">
								<input type="text" name="serwer" value="<?php echo $this->dane['serwer']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required big">Login:</label>
								<div class="input_bg w1">
								<input type="text" name="login" value="<?php echo $this->dane['login']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required big">Hasło:</label>
								<div class="input_bg w1">
								<input type="text" name="haslo" value="<?php echo $this->dane['haslo']; ?>"/>
								</div>
							</div>
							<div class="form_row">
								<label class="required big">Ścieżka na serwerze online:</label>
								<div class="input_bg w1">
								<input type="text" name="remote_path" value="<?php echo $this->dane['remote_path']; ?>"/>
								</div>
							</div>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edycjaSync" value="Zapisz" />	
								</div>
							</div>
							<?php endif; ?>
							<div class="form_title"><h2 class="title4">Synchronizuj</h2></div>
							<?php if($this->edycjazablokowana === false): ?>
                            <a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/produkt/">
							Pobierz bazę produktów</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/galeria/">
							Pobierz bazę zdjęć</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/syncimgs/all/">
							Pobierz zdjęcia</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/rozmprod/">
							Pobierz bazę rozmiarów produktów i stanów magazynowych</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/rozmiary/">
							Pobierz bazę rozmiary</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/kolprod/">
							Pobierz bazę kolorów produktów</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/kolory/">
							Pobierz bazę kolory</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/katprod/">
							Pobierz bazę kategorii produktów</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/kategorie/">
							Pobierz bazę kategorie</a><br/>
							<a href="<?php echo $this->baseUrl;?>/admin/index/online/sync/producent/">
							Pobierz bazę producent</a><br/>
							<?php endif; ?>
						</form>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>