<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>	
        <span class="link_path_end">Strona główna</span>	
    </div>
    <div class="container">
        <div class="box_main_title">
            <img src="/public/images/admin/ikony/ikona_oferta_kategoria.png" alt="Kategorie" />
            <h2 class="title2 p1">Zarządzanie stronami</h2>
        </div>	
        <div class="content padding">
            <div class="all_container">
                <div class="box_form_product">
                    <div class="main_page_menu">
                        <div class="left_menu">
                            <div class="ico_strona_glowna">Strona główna</div>
                            <ul class="menu_page">

                                <?php if ($this->obConfig->slajdy): ?>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/slider/edytuj/">Slajdy</a></li>
                                <?php endif; ?>
                                <?php if ($this->obConfig->galeria): ?>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/galeria/edytuj/">Galeria</a></li>
                                <?php endif; ?>

                                <?php if ($this->adminNazwa == 'bigcom'): ?>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/typ/blok">Dodaj blok</a></li>
                                <?php endif; ?>
                                <?php if ($this->adminNazwa == 'bigcom'): ?>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/listabloki/">Lista bloków</a></li>
                                <?php endif; ?>

                                <?php if ($this->obConfig->ankiety): ?>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/ankieta/lista/">Lista ankiet</a></li>
                                <?php endif; ?>

                                <?php for ($i = 0; $i < count($this->blok); $i++): ?>

                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo trim($this->blok[$i]['link']); ?>/"><?php echo $this->blok[$i]['tytul']; ?></a></li>

                                <?php endfor; ?>

                            </ul>
                        </div>
                        <?php if ($this->obConfig->podstrony): ?>
                            <div class="left_menu">
                                <div class="ico_podstrony">Podstrony</div>
                                <ul class="menu_page">

                                    <?php for ($i = 0; $i < count($this->podstrony); $i++): ?>

                                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo trim($this->podstrony[$i]['link']); ?>/"><?php echo $this->podstrony[$i]['temat']; ?></a></li>

                                    <?php endfor; ?>

                                </ul>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
