<div class="modul_container">
	<div class="container">
		<div class="box_title">
			<h3 class="title3">Ustawienia</h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/confmail/edytuj/">Ustawienia e-mail</a></li>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/confsms/edytuj/">Ustawienia sms</a></li>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/ustawienia/">Ustawienia ogólne</a></li>
                                    <li><span class="hover">Regulamin</span></li>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Zmiana hasła administratora</a></li>
				</ul>
			</div>
			<div class="right_side">

				<?php if(!empty($this->error)): ?>

					<div class="error_container">

						<?php echo  $this->error; ?>

					</div>

				<?php endif; ?>

				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="ustaw" action="" method="post" enctype="multipart/form-data">

						<div class="form_row">
							<label class="required big">Tytuł:</label>
							<div class="input_bg w1">
							<input type="text" name="ustaw[temat]" value="<?php echo $this->dane['temat']; ?>" />
							</div>
						</div>
                                            <div class="form_row">
                                                <label class="big">Opis:</label>
                                                <div class="textarea_bg w1">
                                                        <?php echo $this->tekst; ?>
                                                </div>
                                            </div>

                 	<?php if($this->edycjazablokowana === false): ?>
                         <div class="rf" style="margin: 10px 15px 0px 0px;">
							
								<input class="btn-orange" type="submit" name="ustawienia" value="Zapisz" />
						</div>
					<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>