<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>	
			<span class="link_path_end">Strona główna</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zamowienia_kategoria.png" alt="Zamówienia" />
			<h2 class="title2 p1">Zamówienia</h2>
		</div>
		<div class="content padding">
			<div class="all_container">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->all)): ?>
					<div class="error_info rf">
						<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gora.png"  /> - ikona oznacza <b>kierunek sortowania</b>.&nbsp;&nbsp;
						<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/ikona_zmien.png"  /> - ikona oznacza <b>zmianę statusu zamówienia</b>.
					</div>
					<table class="foto_box padding">
						<colgroup>
							<col width="5%"/>
							<col width="5%"/>
							<col width="20%"/>
							<col width="15%"/>
							<col width="5%"/>
							<col width="15%"/>
							<col width="10%"/>
							<col width="15%"/>
							<col width="5%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>Nr.</th>
							<th>
								<a title="Sortuj malejąco" class="arrow_top" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/data/kierunek/desc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gora.png"  />
                           		</a>
								<br/>
								Data<br/>
								<a title="Sortuj rosnąco" class="arrow_bottom" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/data/kierunek/asc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/dol.png"  />
                           		</a>
							</th>
							<th>
								<a title="Sortuj malejąco" class="arrow_top" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/nazwisko/kierunek/desc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gora.png"  />
                           		</a>
								<br/>
								Dane klienta
								<br />
								<a title="Sortuj rosnąco" class="arrow_bottom" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/nazwisko/kierunek/asc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/dol.png"  />
                           		</a>
							</th>
							<th>Lokalizacja</th>
							<th>
								<a title="Sortuj malejąco" class="arrow_top" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/potwierdzenie/kierunek/desc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gora.png"  />
                           		</a>
								<br/>
								Potwierdzone<br />
								<a title="Sortuj rosnąco" class="arrow_bottom" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/potwierdzenie/kierunek/asc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/dol.png"  />
                           		</a>
							</th>
							<th>Status</th>
							<th>
								<a title="Sortuj malejąco" class="arrow_top" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/wartosc_zamowienia/kierunek/desc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gora.png"  />
                           		</a>
								<br/>
								Wartość
								<br />
								<a title="Sortuj rosnąco" class="arrow_bottom" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/<?php echo $this->mode; ?>/all/sortuj/wartosc_zamowienia/kierunek/asc">
									<img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/dol.png"  />
                           		</a>
							</th>
							<th>Uwagi</th>
							<th>Zobacz</th>
							<th>Usuń</th>
						</tr>
						
						<?php $j = 1; for($i=0; $i<count($this->all);$i++): ?>
								
							<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								<td align="center"><?php echo $this->all[$i]['id']; ?></td>
								<td align="center"><?php echo $this->all[$i]['data']; ?></td>
								<td><b><?php echo $this->all[$i]['imie']; ?> <?php echo $this->all[$i]['nazwisko']; ?></b></td>
								<td align="center">
							    	<?php echo $this->all[$i]['ulica']; ?> <?php echo $this->all[$i]['nr']; ?><?php if(strlen($this->all[$i]['mieszkanie'])>0) echo '/'.$this->all[$i]['mieszkanie']; ?><br />
                                	<?php echo $this->all[$i]['kod']; ?> <?php echo $this->all[$i]['miasto']; ?>
							    </td>
								<td align="center">
									<?php if($this->all[$i]['potwierdzenie']): ?>

										<span class="ok_label">Tak</span>
				
									<?php else: ?>
				
										<span class="no_label">Nie</span>
				
									<?php endif; ?>
									
								</td>
								<td align="center">
									
									<?php if($this->all[$i]['status'] == 'system'): ?>
                                          	
											<span class="no_label"><b>Nowe</b></span><br />
											<div class="button3">
												<a title="Zmień status" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/idzam/<?php echo $this->all[$i]['id']; ?>/stat/realizacja">Zmień</a>
											</div>
									<?php elseif($this->all[$i]['status'] == 'realizacja'): ?>
											
											<span class="rel_label"><b>Przyjęte do <br/>realizacji</b></span><br />
											<div class="button3">
												<a title="Zmień status" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/idzam/<?php echo $this->all[$i]['id']; ?>/stat/wyslane">Zmień</a>
											</div>
					
									<?php else: ?>

											<span class="ok_label"><b>Wysłane</b></span>

									<?php endif; ?>
									
								</td>
								<td align="center"><b class="price_lista"><?php echo $this->all[$i]['wartosc_zamowienia']; ?></b> <?php echo $this->zl; ?></td>
								<td><?php echo $this->all[$i]['uwagi']; ?></td>
								<td align="center"><a title="Zobacz zamówienie" class="see_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wybrane/id/<?php echo $this->all[$i]['id']; ?>">Zobacz zamówienie</a></td>
								<td align="center"><a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć tego klienta ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/id/<?php echo $this->all[$i]['id']; ?>">Usuń</a></td>
							</tr>
						
						<?php $j++; endfor; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak zdefiniowanych zamówień.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>