<div class="box_baner_start">
	<div class="one_box_cms l">
		<div class="baner_icons rf">
			<a href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">
				<img title="Panel zarządzania stroną" src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/big_cms_page.png" alt="panel zarządzania stroną" />
			</a>
		</div>
		<div class="butt_abs2">
			<div class="button4">
				<div class="button4_right">
					<a href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">Panel zarządzania stroną</a>
				</div>
			</div>
		</div>
	</div>
	<?php if($this->obConfig->sklep): ?>
	<div class="one_box_cms r">
		<div class="baner_icons lf">
			<a href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">
				<img title="Panel zarządzania sklepem" src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/big_cms_shop.png" alt="panel zarządzania sklepem" />
			</a>
		</div>
		<div class="butt_abs1">
			<div class="button5">
				<div class="button5_right">
					<a href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Panel zarządzania sklepem</a>
				</div>
			</div>
		</div>
	</div>
	<?php endif; ?>
</div>