<div class="modul_container">
	<div class="container">
		<div class="box_title">
			<h3 class="title3">Ustawienia</h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/confmail/edytuj/">Ustawienia e-mail</a></li>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/confsms/edytuj/">Ustawienia sms</a></li>
                                    <li><span class="hover">Ustawienia ogólne</span></li>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/regulamin/">Regulamin</a></li>
                                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Zmiana hasła administratora</a></li>
				</ul>
			</div>
			<div class="right_side">

				<?php if(!empty($this->error)): ?>

					<div class="error_container">

						<?php echo  $this->error; ?>

					</div>

				<?php endif; ?>

				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="ustaw" action="" method="post" enctype="multipart/form-data">

						<div class="form_row">
							<label class="required big">Tytuł strony (Title):</label>
							<div class="input_bg w1">
							<input type="text" name="ustaw[title]" value="<?php echo $this->dane['title']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required big">Słowa kluczowe (Keywords):</label>
							<div class="input_bg">
							<textarea name="ustaw[keywords]" rows="3" cols="50"><?php echo $this->dane['keywords']; ?></textarea>
							</div>
						</div>
						<div class="form_row">
							<label class="required big">Opis strony (Description):</label>
							<div class="input_bg">
							<textarea name="ustaw[description]" rows="5" cols="50"><?php echo $this->dane['description']; ?></textarea>
							</div>
						</div>
						<div class="form_row">
							<label class="big">Kod Google Analytics:</label>
							<div class="input_bg">
							<textarea name="ustaw[google_analytics]" rows="10" cols="50"><?php echo $this->dane['google_analytics']; ?></textarea>
							</div>
						</div>

                 	<?php if($this->edycjazablokowana === false): ?>
                         <div class="rf" style="margin: 10px 15px 0px 0px;">
							
								<input class="btn-orange" type="submit" name="ustawienia" value="Zapisz" />
						</div>
					<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>