<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="javascript:void(0);">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia &raquo;</a>
			<span class="link_path_end">Zmiana hasła administratora</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zmień hasło:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Zmiana hasła:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->rozne) || !empty($this->puste) || !empty($this->haslo) ): ?>
				
					<div class="error_container">
	
						<?php echo  $this->rozne; ?>
                        <?php echo  $this->puste; ?>
                        <?php echo  $this->haslo; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="logowanie" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Podaj hasło:</label>
							<div class="input_bg">
								<input type="password" name="old_pass" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Podaj nowe hasło:</label>
							<div class="input_bg">
								<input type="password" name="new_pass_1" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Powtórz nowe hasło:</label>
							<div class="input_bg">
								<input type="password" name="new_pass_2" />
							</div>
						</div> 
                        <?php if($this->edycjazablokowana === false): ?>                   
                 		<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zmiana" id="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>