<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut cennik</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem cennik:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">cennik</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj cennik</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj cennik</h2></div>
							<div class="form_row">
								<label class="required big">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<div class="form_row">
								<label class="big">Darmowe opcje przesyłki:</label>
								<div class="input_bg" style="width:200px;">
									<?php $opcje = array(1 => 'Odbiór osobisty', 2 => 'Przesyłka elektroniczna (e-mail)',
									4 => 'Odbiór osobisty po przedpłacie'); ?>
									<?php $i = 0; foreach($opcje as $id => $opcja): ?>
									<input type="checkbox" name="opcje_przesylki[<?php echo $i++; ?>]" value="<?php echo $id; ?>">&nbsp;&nbsp;<?php echo $opcja; ?>
									<br style="clear:all;" />
									<?php endforeach; ?>
								</div>
							</div>
							<div class="form_row">
								<label class="required big">Koszty przesyłki:</label>
								<div class="input_bg allegroKoszty">
									<span>Koszt</span>
									<span>Dopłata za szt.</span>
									<span>Ilość w paczce</span>
								</div>
							</div>
							<?php foreach($this->kosztyAllegroAll as $name => $koszt): ?>
							<div class="form_row">
								<label class="big allegroKosztyLabel"><?php echo $koszt; ?>:</label>
								<div class="input_bg allegroKoszty">
									<input type="text" name="koszty[<?php echo $name;?>][koszt]" value="" />
									<input type="text" name="koszty[<?php echo $name;?>][doplata]" value="" />
									<input type="text" name="koszty[<?php echo $name;?>][paczka]" value="" />
									<input type="checkbox" name="koszty[<?php echo $name;?>][czy]" style="float:none;"/> &nbsp;Opcja dostępna
								</div>
							</div>
							<?php endforeach; ?>
                            <?php if($this->edycjazablokowana === false): ?>                        
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" id="jQuery_zapisz_btn" value="Zapisz" />	
								</div>
							</div>
                            <?php endif; ?>	
						</form>
					</div>
					
					<!--Lista cennik-->
					<?php if(isset($this->cenniki) && count($this->cenniki) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="80%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->cenniki as $cennik): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $cennik->nazwa; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegrocenniki/edytuj/id/<?php echo $cennik->id;?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/allegrocenniki/dodaj/delid/<?php echo $cennik->id;?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych cenników.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>