<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Ustawienia</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Ustawienia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3"><p class="lf">Tabele w bazie zmiana nazw na duże litery:&nbsp;&nbsp;</p>
                        <form action="" method="post" enctype="multipart/form-data">                   
                                                   
                                <div class="button_form m2">
                                        <div class="button1">
                                                <input type="submit" name="zmienNazwy" value="Zmień nazwy" />	
                                        </div>
                                </div>	
                        </form>
                        
                        </h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
                                    <div class="error_container">

                                            <?php echo $this->blad_edycji; ?>
                                            <?php echo $this->lista_bledow; ?>

                                    </div>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>