<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/od/0/">Aukcje &raquo;</a>
			<span class="link_path_end">Lista aukcji</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Aukcje Allegro <?php if(isset($this->konczace)) echo ' - bliskie końca'; ?>
			</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj aukcjami:</h3>	
		</div>
		<div class="content2">
			<div class="all_container2">
			
			<?php if(false): ?>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/"><b>Zobacz wszystkie aukcje &raquo;</b></a>			
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/konczace/all"><b>Zobacz kończące się aukcje &raquo;</b></a>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/odswiez/all"><b>Odśwież aukcje &raquo;</b></a>
			<?php endif; ?>
				
				<?php if(!empty($this->blad_edycji) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product2">
				
					<div class="box_search2">
						<div class="form_title2"><h2 class="title44"></h2>
						
						<form action="" method="post" accept-charset="utf-8" >
							<div class="row_search2" id="wyszukiwarka">
								<?php echo $this->render('oferta/lista_szukaj.phtml'); ?>
							</div>									 
						</form>
						
						<?php if(isset($this->error_search)): ?>
							
							<div class="error_container">
								
								<?php echo $this->error_search; ?>
							
							</div>
							
						<?php endif; ?>	
						
						</div>
		
					<?php if(!empty($this->realizacje) && !isset($this->error_search)): ?>
						
						<div class="box_pager" id="stronicowanie" style="margin-left:300px;">						
							<?php echo $this->render('const/stronicowanie.phtml'); ?>
						</div>
						
						<div id="ileNaStrone" style="float:right;">
						<span>Na stronie</span>
						<select onchange="window.location='<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/ile/'+this.value">
							<option value="24" <?php if($this->ile==24) echo 'selected="selected"'; ?>>24</option>
							<option value="36" <?php if($this->ile==36) echo 'selected="selected"'; ?>>36</option>
							<option value="48" <?php if($this->ile==48) echo 'selected="selected"'; ?>>48</option>
							<option value="64" <?php if($this->ile==64) echo 'selected="selected"'; ?>>64</option>
						</select>						
						</div>
		
						<br clear="all" />
						<form action="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/delall/" method="post" accept-charset="utf-8" >
						<table class="foto_box padding">
							<colgroup>
								<col width="5%"/>
								<col width="10%"/>
								<col width="25%"/>
								<col width="8%"/>
								<col width="10%"/>
								<col width="10%"/>
								<col width="6%"/>
								<col width="8%"/>
								<col width="7%"/>
								<col width="5%"/>
								<col width="5%"/>
							</colgroup>
							<tr>
								<th>LP</th>
								<th>Miniaturka</th>
								<th><a style="color: #646464;" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/aukcjeall/od/0/sort/nazwa/order/<?php echo $this->order; ?>">Nazwa</a></th>
								<th>Cena</th>
								<th>Aukcja</th>
								<th><a style="color: #646464;" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/aukcjeall/od/0/sort/wystawiono/order/<?php echo $this->order; ?>">Wystawiono</a></th>
								<th><a style="color: #646464;" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/aukcjeall/od/0/sort/na_ile/order/<?php echo $this->order; ?>">Na ile</a></th>
								<th><a style="color: #646464;" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/aukcjeall/od/0/sort/allegro_do_konca/order/<?php echo $this->order; ?>">Do końca</a></th>
								<th><a style="color: #646464;" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/aukcjeall/od/0/sort/sztuk_wystawiono/order/<?php echo $this->order; ?>">Sztuk</a></th>
								<th>Usuń</th>
								<th>Zaznacz</th>
							</tr>
							<?php $j = 1; foreach ($this->realizacje as $realizacja): ?>
							
								<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<?php foreach ($realizacja['aukcje'] as $aukcja): ?>
								
								<?php if($aukcja['wystawiono'] == null) continue; ?>
							
								<tr class="<?php echo $style; ?>">
									<td align="right"><?php echo ($this->od * $this->ile + $j); ?></td>
									<td align="center">
										<?php if(@!empty($aukcja['img'])) $realizacja['zdj']['img'] = $aukcja['img']; ?>
										<a title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $realizacja['id'];?>">
											<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/miniaturki/<?php echo $realizacja['zdj']['img']; ?>" alt="" width="50" border="0" />
										</a>
									</td>
									<td>
										<a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $realizacja['id'];?>">
											<b><?php echo $realizacja['nazwa']; ?> <?php echo @$aukcja['nazwa']; ?></b>
										</a>
									</td>
									<td align="center">
										<b class="price_lista2"><?php echo @floatval($aukcja['cena_brutto']) > 0 ? 
										$aukcja['cena_brutto'] : $realizacja['cena_brutto']; ?></b>
									</td>
									<td>
										<?php if(true && strtotime($aukcja['wystawiono']) > time()): ?>
										<a class="link" rel="" href="http://allegro.pl/show_item.php?future_item_id=<?php echo $aukcja['nr'];?>" target="_blank"><b><?php echo $aukcja['nr']; ?></b></a>
										<?php else:?>
										<a class="link" rel="" href="http://allegro.pl/item<?php echo $aukcja['nr']; ?>.html" target="_blank"><b><?php echo $aukcja['nr']; ?></b></a>
										<?php endif;?>
									</td>
									<td align="center"><?php echo $aukcja['wystawiono']; ?></td>
									<td align="center"><?php echo $aukcja['na_ile'] > 0 ? $aukcja['na_ile'].' dni' : 'do wyczerp.'; ?></td>
									<td align="center">
									<?php echo $aukcja['na_ile']>0?floor(((strtotime($aukcja['wystawiono'])+$aukcja['na_ile']*24*3600)-time())/3600/24).' dni<br/>'.floor(((strtotime($aukcja['wystawiono'])+$aukcja['na_ile']*24*3600)-time())/3600%24).' godzin':''; ?>
									</td>
									<td align="center"><?php //echo $aukcja['sztuk_pozostalo']; ?><?php echo $aukcja['sztuk_wystawiono']; ?></td>
									<td align="center">
                                    <?php if($this->edycjazablokowana === false): ?>
                                    <a title="Usuń" onclick="return confirm('Czy napewno chcesz zlikwidować tą aukcję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/aukcjeall/od/0/delid/<?php echo $aukcja['nr'];?>">Usuń</a>
                                    <?php endif; ?>
                                    </td>
									<td align="center">
									<input type="checkbox" name="usunAukcje[<?php echo $aukcja['nr'];?>]" value="<?php echo $aukcja['nr'];?>" class="allegroCheckbox" />
									</td>										
								</tr>
							
							<?php endforeach; $j++; endforeach; ?>
						</table>						
       					
                           <?php if($this->edycjazablokowana === false): ?>	
						<div class="wystaw">
						<div class="wystawCo">Usuń</div>
						<div class="selectAll">
							<input type="checkbox" onclick="$('.allegroCheckbox').attr('checked', this.checked);">
							&nbsp;Zaznacz wszystko
						</div>
						<input type="submit" id="usunZazn" class="listaLink" name="usunAukcjeAll" value="Usuń zaznaczone aukcje" onclick="return confirm('Czy napewno chcesz usunąć zaznaczone aukcje ?');" />
						</div>
						
						<?php endif; ?>
						</form>
					
					<?php else: ?>
					
						<div class="info_empty">Brak aukcji.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>