<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path">Import/eksport &raquo;</span>
			<span class="link_path_end">Import Allegro</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_import_kategoria.png" alt="Import" />
			<h2 class="title2 p1">Import</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Importuj kategorie Allegro:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane import:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<?php if(@$this->count > 0) : ?>

				<script type="text/javascript">
				//<![CDATA[
				
				var temp = new Array();
				var host = '<?php echo $_SERVER['HTTP_HOST']; ?>';
				var baseUrl = '<?php echo $this->baseUrl; ?>';
				var tabsize = '<?php echo $this->count; ?>';
				var trwa = true;
				var od = 0;
				var ile = 0;

				function dodaj() 
				{
					var timeout = 450000;
					var param = 'od/' + od + '/ile/' + ile + '/count/' + tabsize;
					$.ajax(
					{
						url: "http://" + host + baseUrl + "/ajax/index/allegrokatsupdate/" + param,
						type: "POST",
						timeout: timeout,
						//data: dane,
						async: true,
						success: function(html) 
						{
							var xml = $.parseXML(html);
							
							ile = parseInt($(xml).find('ile').text());
							tabsize = parseInt($(xml).find('ileRowsAll').text());
							od += ile;
							
							if(od < tabsize && trwa)
							{
								dodaj();
							} 
							else 
							{
								trwa = false;
							}
							
							var ileRows = $(xml).find('ileRows').text();
							var ileRowsAll = $(xml).find('ileRowsAll').text();
							var ileRecords = $(xml).find('ileRecords').text();
							var error = $(xml).find('error').text();
							
							$('#ileRows').text(parseInt($('#ileRows').text())+parseInt(ileRows));
							$('#ileRowsAll').text(ileRowsAll);
							$('#ileRecords').text(parseInt(ileRecords));

							if(error.length > 0)
							{
								//$('#error').css('display', 'block');
								//$('#error').append('<p>'+error+'</p>');
								$('.error_container').append('<div class="k_blad">Błąd: '+error+'</div>');
							}
							if(message.length > 0) 
							{
								$('#message').css('display', 'block');
								$('#message').append('<a href="'+href+'">'+message+'</a><br/>');

								if(trwa == false)
								$('#message').append('<span>Aktualizacja została zakończona.</span>');
							}							

							if(trwa == false)
							$('.error_container').append('<div class="k_ok">Operacja przebiegła pomyślnie</div>');

						}, 
						error: function(xhr, textStatus, errorThrown) 
						{
							if(textStatus == 'timeout')
							{
								alert("#Błąd: Czas oczekiwania został przekroczony.");
								dodaj();
							}
							else
							{
								alert("#Błąd: "+textStatus);
							}
						}
					});
				}
				
				function status() 
				{
					if(trwa || true)
					$.ajax(
					{
						//url: "http://"+host+baseUrl+"/ajax/index/allegrokatsupdatestatus/",
						url: "http://"+host+baseUrl+"/public/ajax/importkategorie.txt",
						timeout: 30000,
						async: true,
						cache: false,
						success: function(html) 
						{
							var ileOld = parseInt($('#ileRecords').text());
							var ileNew = parseInt(html);
							if(ileNew > ileOld)
							$('#ileRecords').text(html);
							if(trwa || ileNew != ileOld)
							setTimeout('status()', 2000);
						}, 
						error: function(xhr, textStatus, errorThrown) 
						{
							if(trwa)
							setTimeout('status()', 2000);
						}
					});
				}
				
				$(document).ready(function()
				{
					if(tabsize > 0)
					{
						dodaj(0, 0);
						status();
					}
				});	
				
				//]]>
				</script>
				
				<div class="box_akcje">
					<div class="form_row">
						<div class="form_title">
							<h2 class="title4">Wynik operacji:</h2>
						</div>
						<div class="akcje">
							<span>Przetworzonych kategorii: </span> 
							<b id="ileRows">0</b> / <b id="ileRowsAll"><?php echo @$this->count; ?></b><br />
							<span>Zaimportowanych kategorii: </span> 
							<b id="ileRecords">0</b> / <b id="ileRowsAll"><?php echo @$this->count; ?></b><br />
						</div>
					</div>
					<div id="error" style="display: none;"></div>
					<div id="message" style="display: none;"></div>
				</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">
						pola oznaczone <b>kolorem czerwonym</b> są wymagane.<br />
					</div>
					<form action="" method="post" enctype="multipart/form-data">                   
						<div class="form_title">
							<h2 class="title4">Import / aktualizacja kategorii Allegro</h2>
						</div>
						<div class="info_labels" style="width:100%;">
							Uwaga! Operacja spowoduje usunięcie wszystkich kategorii Allegro z bazy danych!<br/>
							Do czasu zakończenia operacji nie będzie można wystawiać żadnych aukcji Allegro!<br/>
							W trakcie wykonywana operacji zaleca się niewykonywanie jakichkolwiek działań w panelu!<br/><br/>
						</div>
                 		<div class="button_form m2" style="clear:left;">
							<div class="button1">
								<input type="submit" name="plik" value="Pobierz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>