<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Allegro</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Allegro<?php echo $this->render('allegroprodukt/konto.phtml'); ?></h2>
		</div>
		<div class="box_link_navi">
			
		</div>
		<div class="box_title">
			<h3 class="title3">Komentarze wystawione:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					<div class="box_pager">
								<?php echo $this->render('const/stronicowanie.phtml'); ?>
							</div>
					<?php if(!empty($this->display)): ?>
                                    <form id="form" action="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/wystawkomentarz" method="post">
					<table class="foto_box padding">
						<colgroup>
                                                    <col width="10%"/>
                                                    <col width="60%"/>
                                                    <col width="10%"/>
                                                    <col width="10%"/>
                                                    <col width="10%"/>
                                                    
						</colgroup>
						<tr>
                                                    <th>Id oferty</th>
                                                    <th>Treść kometnarza</th>
                                                    <th>Nazwa użtkownika</th>
                                                    <th>Typ komentarza</th>
                                                    <th>Data komentarza<br />
                                                   
                                                    </th>
                                                   
						</tr>
						
						<?php $j = 1; foreach ($this->display as $display1): ?>
								<?php //print_r($display); ?>
                                                <?php $j=1; foreach ($display1 as $display): ?>
                                                
                                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                                    <tr class="<?php echo $style; ?>">
                                                        <td><b><?php echo $display[5]; ?></b></td>
                                                        <td align="center"><?php echo $display[4]; ?></td>
                                                        <td align="center">
                                                           <?php echo $display[10]; ?>
                                                        </td>
                                                        <td align="center">
                                                            <?php if($display[3]==1): ?>
                                                               Pozytywny
                                                            <?php elseif($display[3]==2): ?>
                                                               Negatyny
                                                               <?php elseif($display[3]==3): ?>
                                                               Neutralny
                                                          
                                                            <?php endif; ?>
                                                        </td>
                                                            
                                                        <td align="center">
                                                            <?php echo $display[2]; ?>
                                                        </td>
                                                    </tr>
						<?php $j++; endforeach; ?>
						<?php endforeach; ?>
						
					</table>
                                       
                                       
					</form>
                            <?php else: ?>
					
                                <div class="info_empty">Brak komentarzy do wystawienia.</div>
					
                            <?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>