<?php if(@count($this->konta) > 1): ?>
<!--<form action="" method="post">-->
<select name="konto" class="" onchange="window.location='<?=$this->baseUrl;?>/<?=trim($this->URI,"/");?>/konto/'+this.value;">
<?php foreach($this->konta as $konto): ?>
<option value="<?php echo $konto['id']; ?>" <?php if($this->konto == $konto['id']) echo ' selected="selected"'; ?>>
<?php echo $konto['login']; ?>&nbsp;</option>
<?php endforeach; ?>
</select>
<!--</form>-->
<?php endif; ?>