<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/od/0/">Aukcje &raquo;</a>
			<span class="link_path_end">Lista aukcji</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Aukcje Allegro <?php if(isset($this->konczace)) echo ' - bliskie końca'; ?>
			</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj aukcjami:
				<?php if(@count($this->konta) > 1): ?>
				<select name="konto" onchange="window.location = baseUrl + '/admin/allegroprodukt/lista/id/' + this.value;">
				<?php foreach($this->konta as $konto): ?>
				<option value="<?php echo $konto['id']; ?>" <?php if($this->konto == $konto['id']) echo ' selected="selected"'; ?>>
				<?php echo $konto['login']; ?>&nbsp;</option>
				<?php endforeach; ?>
				</select>
				<?php endif; ?>
			</h3>	
		</div>
		<div class="content">
			<div class="all_container">
			
			<?php if(false): ?>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/"><b>Zobacz wszystkie aukcje &raquo;</b></a>			
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/konczace/all"><b>Zobacz kończące się aukcje &raquo;</b></a>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/odswiez/all"><b>Odśwież aukcje &raquo;</b></a>
			<?php endif; ?>
				
				<?php if(!empty($this->blad_edycji) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
		
					<?php if(!empty($this->aukcje)): ?>
						
						<?php if(!isset($this->error_search)): ?>
					
							<div class="box_pager">
								<?php echo $this->render('const/stronicowanie.phtml'); ?>
							</div>
							<form action="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/delall/" method="post" accept-charset="utf-8" >
							<table class="foto_box padding">
								<colgroup>
									<col width="10%"/>
									<col width="40%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="8%"/>
									<col width="7%"/>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>ID aukcji</th>
									<th>Nazwa</th>
									<th style="padding: 15px 2px;">Aktualna<br/>cena licytacji</th>
									<th>Cena<br/>Kup Teraz!</th>
									<th>Do końca</th>
									<th>Liczba<br/>licytacji</th>
									<th>Usuń</th>
									<th>Zaznacz</th>
								</tr>
								<?php $j = 1; foreach ($this->aukcje as $realizacja): ?>
								
									<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
									<tr class="<?php echo $style; ?>">
										<td><?php echo $realizacja['it-id']; ?></td>
										<td><a class="link" title="Edytuj" href="http://allegro.pl/item<?php echo $realizacja['it-id'];?>.html"><b><?php echo $realizacja['it-name']; ?></b></a></td>
										<td align="center"><?php echo $realizacja['it-price']; ?></td>
										<td align="center"><?php echo $realizacja['it-buy-now-price']; ?></td>
									    <td align="center"><?php echo floor($realizacja['it-time-left'] / 3600 / 24); ?> dni<br/><?php echo floor(($realizacja['it-time-left'] / 3600) % 24); ?> godzin</td>
										<td align="center"><?php echo $realizacja['it-bid-count']; ?></td>
										<td align="center">
                                        <?php if($this->edycjazablokowana === false): ?>
                                        <a title="Usuń" onclick="return confirm('Czy napewno chcesz zlikwidować tą aukcję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/lista/od/0/delid/<?php echo $realizacja['it-id'];?>">Usuń</a>
                                        <?php endif; ?>
                                        </td>
										<td align="center">
										<input type="checkbox" name="usunAukcje[<?php echo $realizacja['it-id'];?>]" value="<?php echo $realizacja['it-id'];?>" class="allegroCheckbox" />
										</td>										
									</tr>
								
								<?php $j++; endforeach; ?>
							</table>
							<?php if($this->edycjazablokowana === false): ?>
							<div class="wystaw" style="border:1px solid black; background-color:white;">
							<div class="button0">
							<input type="submit" id="usunZazn" name="usunAukcjeAll" value="Usuń zaznaczone" onclick="return confirm('Czy napewno chcesz zakończyć zaznaczone aukcje ?')" />
							</div>
							<?php endif; ?>
							<div class="zaznacz">Zaznacz<br/>wszystko</div>
							<div class="zaznacz">
								<input type="checkbox" onclick="$('.allegroCheckbox').attr('checked', this.checked);">
								&nbsp;
							</div>
							</div>
							
							</form>
						
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak aukcji.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>