<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/niesprzedane/od/0/">Niesprzedane aukcje &raquo;</a>
			<span class="link_path_end">Lista aukcji</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Niesprzedane aukcje Allegro
			</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj niesprzedanymi aukcjami:</h3>	
		</div>
		<div class="content">
                    <div class="all_container">
<?php if(true): ?>
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/sprzedane/od/0/"><b>Aukcje zakńczone sprzedane</b></a> <br />			
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/niesprzedane/od/0/"><b>Aukcje zakończone niesprzedane</b></a> <br />
			<a class="see m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/od/0/"><b>Zobacz wszystkie aukcje</b></a>
			<?php endif; ?>
                        <?php if(!empty($this->blad_edycji) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>

<div id="ofertaLista" class="aukcjeLista">



<?php if(count($this->aukcje) > 0): ?>

<?php $formKlasaTryb = @$this->szukanie->allegroTryb; ?>
<?php $formKlasa = 'lista'; ?>
<?php $formKlasaAll = ''; ?>
<?php if(isset($this->szukanie->allegroTryb) && $this->szukanie->allegroTryb == 'sold'): ?>
<?php if($this->szukanie->grupujUser) $formKlasa = 'grupujUser'; ?>
<?php if($this->szukanie->grupujProd) $formKlasa = 'grupujProd'; ?>
<?php if($this->szukanie->grupujUser || $this->szukanie->grupujProd) $formKlasaAll = 'grupujUserProd'; ?>
<?php endif; ?>

<form id="wystawForm" action="" method="post" class="<?php echo $formKlasaTryb;?>Form <?php echo $formKlasa;?>Form <?php echo $formKlasaAll;?>Form">


				<div class="box_form_product">
		
					<?php if(!empty($this->aukcje)): ?>
						
						<?php if(!isset($this->error_search)): ?>
					
							<div class="box_pager">
								<?php echo $this->render('const/stronicowanie.phtml'); ?>
							</div>
							<form action="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/delall/" method="post" accept-charset="utf-8" >
							<table class="foto_box padding">
								<colgroup>
									<col width="10%"/>
									<col width="30%"/>
                                    <col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="20%"/>
									
								</colgroup>
								<tr>
									<th>ID aukcji</th>
									<th>Nazwa</th>
                                                                       
									<th style="padding: 15px 2px;">Aktualna<br/>cena licytacji</th>
									<th>Cena<br/>Kup Teraz!</th>
									<th>Do końca</th>
									<th>Liczba<br/>wystawionych/ofert</th>
									<th>Opcje</th>
									
									
								</tr>
								<?php $j = 1; foreach ($this->aukcje as $realizacja): ?>
								
									<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
									<tr class="<?php echo $style; ?>">
										<td><?php echo $realizacja['my-account-array'][0]; ?></td>
										<td><a class="link" title="Edytuj" href="http://allegro.pl/item<?php echo $realizacja['my-account-array'][0];?>.html"><b><?php echo $realizacja['my-account-array'][9]; ?></b></a></td>
                                                                                
										<td align="center"><?php echo $realizacja['my-account-array'][2]; ?></td>
										<td align="center"><?php echo $realizacja['my-account-array'][4]; ?></td>
									    <td align="center"><?php //echo floor($realizacja['it-time-left'] / 3600 / 24); ?> dni<br/><?php //echo floor(($realizacja['it-time-left'] / 3600) % 24); ?> godzin</td>
										<td align="center"><?php echo $realizacja['my-account-array'][5]; ?>/<?php echo $realizacja['my-account-array'][10]; ?></td>
										<td align="center"><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/wystawponownie/id/<?php echo $realizacja['my-account-array'][0]; ?>">Wystaw ponownie</a></td>								
																	
									</tr>
								
								<?php $j++; endforeach; ?>
							</table>
							
							</div>
							
							</form>
						
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak aukcji.</div>
					
					<?php endif; ?>
				
				</div>
			





<input id="zadaniaTryb" type="hidden" name="zadaniaTryb" value="zadania_wybrane" />
<input id="zadaniaAkcja" type="hidden" name="zadaniaAkcja" value="wiecej" />
<input id="opcje3" type="hidden" name="opcje3" value="wiecej" />

<input type="hidden" id="email_sonia" name="email_sonia" value="<?php echo $this->ustawienia['email_sonia']; ?>" />

</form>

<?php else: echo '<div style="position:relative; float:left; clear:left; margin-top:50px; width:100%; text-align:center; font-size:13px; font-weight:bold;">Brak aukcji</div>'; ?>
<?php endif; ?>

</div>



                    		</div>
	</div>
</div>
</div>