<div class="modul_container">
<div class="navi_box">
	<span class="no_link">Panel administracyjny &raquo;</span>
	<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>
	<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/szablony/">Szablony &raquo;</a>
	<span class="link_path_end"><?php echo $this->escape($this->tytul); ?></span>
</div>
<div class="container">	
	<div class="box_main_title">
		<img src="/public/images/admin/ikony/ikona_zamowienia_kategoria.png" alt="Szablony" />
		<h2 class="title2 p1">Szablony</h2>
	</div>

	<?php if(true): ?>
	<div class="box_link_navi">
		<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/szablon">Dodaj szablon</a>
	</div>
	<?php endif; ?>

	<div class="all_container2">
		
		<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
		
			<div class="error_container">

				<?php echo $this->blad_edycji; ?>
				<?php echo $this->lista_bledow; ?>	
			
			</div>
		
		<?php endif; ?>
		
		<div class="box_form_product">
			
			<?php if(count($this->szablony) > 0): ?>
			
			<table class="foto_box padding" id="szablonyLista">
				<colgroup>
					<col width="5%"/>
					<col width="50%"/>
					<col width="15%"/>
					<col width="15%"/>
					<col width="15%"/>
				</colgroup>
				<tr>
					<th>Lp</th>
					<th>Nazwa</th>
					<th>Data</th>
					<th>Edytuj</th>
					<th>Usuń</th>
				</tr>
				
				<?php $j = 1; foreach($this->szablony as $szablon): ?>
						
					<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
				
					<tr class="<?php echo $style; ?>">
						<td align="center"><?php echo $j; ?></td>
						<td>
						<a title="Edytuj" class="link" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/szablon/id/<?php echo $szablon['id']; ?>"><?php echo $szablon['nazwa']; ?></a>
						</td>
						<td align="center"><?php echo date('Y-m-d', strtotime($szablon['data'])); ?></td>
						<td align="center">
						<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/szablon/id/<?php echo $szablon['id']; ?>">Edytuj</a>
						</td>
						<td align="center">
						<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć ten szablon ?')" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/szablony/delid/<?php echo $szablon['id']; ?>">Usuń</a>
						</td>
						
					</tr>
				
				<?php $j++; endforeach; ?>
				
			</table>
			
			<?php else: ?>
			
				<div class="info_empty">Brak dodanych szablonów.</div>
			
			<?php endif; ?>
		
		</div>
	</div>
</div>
