<?php $this->ceny = array('cena_netto' => ucfirst($this->translate('cena'))); ?>
<table id="atrybutyCenyRozne" cellspacing="0" cellpadding="0">
<colgroup>
<?php if(true): ?>
<col width="100"/>
<?php endif; ?>
<?php if(@count($this->atrybutyProd) > 0): ?>
<?php foreach($this->atrybutyProd as $grupa): ?>
<?php if($grupa['typatrybut'] != 'multi' || @!$this->atrybutyCeny[$grupa['id']]['ceny']) continue; ?>
<col class="<?php echo $grupa['typatrybut']; ?> <?php echo $grupa['jedn_miary_typ']; ?>"/>
<?php endforeach; ?>
<?php endif; ?>
<?php foreach($this->ceny as $nazwa => $cena): ?>
<col width="60"/>
<?php endforeach; ?>
<col width="40"/>
<col width="40"/>
</colgroup>
<thead>
<tr>
<?php if(true): ?>
<th id="atrNr" rowspan="1"><?php echo $this->translate('nr_katalog'); ?></th>
<?php endif; ?>
<?php if(@count($this->atrybutyProd) > 0): ?>
<?php foreach($this->atrybutyProd as $grupa): ?>
<?php if($grupa['typatrybut'] != 'multi' || @!$this->atrybutyCeny[$grupa['id']]['ceny']) continue; ?>
<th class="atrNazwa" id="atr<?php echo $grupa['id']; ?>" rowspan="1"><?php echo $grupa['grupa'];?>
<?php if(!empty($grupa['jedn_miary'])):?><br/><span>(<?php echo $grupa['jedn_miary']; ?>)</span><?php endif;?>
</th>
<?php endforeach; ?>
<?php endif; ?>
<?php $c=1;foreach($this->ceny as $nazwa => $cena): ?>
<?php //if($c++ % 2 == 1) continue; ?>
<?php //$cena = str_replace('Cena', '', $cena); ?>
<?php //$cena = str_replace('netto', '', $cena); ?>
<?php //$cena = str_replace('brutto', '', $cena); ?>
<th class="atrCena1" colspan="1"><?php echo $cena;?></th>
<?php endforeach; ?>
<th id="atrIlosc" rowspan="1"><?php echo ucfirst($this->translate('ilosc')); ?></th>
<th id="atrKosz" rowspan="1"><?php echo ucfirst($this->translate('koszyk')); ?></th>
</tr>
<?php if(false): ?>
<tr>
<?php $c=1;foreach($this->ceny as $nazwa => $cena): ?>
<th class="atrCena2"><?php echo $c++ % 2 ? 'netto' : 'brutto';?></th>
<?php endforeach; ?>
</tr>
<?php endif; ?>
</thead>
<tbody>
<?php if(@count($this->atrCeny) > 0): ?>
<?php foreach($this->atrCeny as $ac => $atrCeny): ?>
<tr id="atrCeny<?=(++$ac);?>">
<?php if(true): ?>
<td class="atrNr">
	<?=@$atrCeny['id_ext'];?>
</td>
<?php endif; ?>
<?php if(@count($this->atrybutyProd) > 0): ?>
<?php foreach($this->atrybutyProd as $grupa): ?>
<?php if($grupa['typatrybut'] != 'multi' || @!$this->atrybutyCeny[$grupa['id']]['ceny']) continue; ?>
<?php $atrVal = @intval($atrCeny['atr'.$grupa['id']]); ?>
<td class="atrVal <?=$grupa['jedn_miary_typ'];?>" id="atrVal<?php echo $atrVal; ?>">
	<?php if($atrVal > 0): ?>
	<span><?php echo @$this->atrNazwy[$atrVal]['wartosc']; ?></span>
	<?php else: ?>
	<select>
	<option value="0">wyb.</option>
	<?php if(@count($grupa['atrybut']) > 0): ?>
	<?php foreach($grupa['atrybut'] as $atrybut): ?>
	<?php //if(@!$atrybut['checked']) continue; ?>
	<option <?php if($atrVal == $atrybut['id']) echo 'selected="selected"'; ?> value="<?php echo $atrybut['id']; ?>">
	<?php echo $atrybut['nazwa']; ?></option>
	<?php endforeach; ?>
	<?php endif; ?>
	</select>
	<?php endif; ?>
</td>
<?php endforeach; ?>
<?php endif; ?>
<?php //$atrCenyAll = $this->common->setCeny($atrCeny, $this->produkt['promocja'], $this->typ_klienta); ?>
<?php foreach($this->ceny as $nazwa => $cena): ?>
<td class="atrCena"><?php echo @number_format($atrCeny[$nazwa], 2, ',', ' ') ;?></td>
<td>
	<input type="text" class="atrCenyilosc" value="1" />
</td>
<?php endforeach; ?>
<td class="atrKosz">
<a title="<?php echo $this->translate('do_koszyka'); ?>" class="button2 dib" href="javascript:void(0);" onclick="atrCenyWybierz(this);">
	<img src="<?php echo $this->baseUrl; ?>/public/images/gastro/koszyk.png" alt="<?php echo $this->translate('koszyk'); ?>" />
</a>	
</td>
</tr>
<?php endforeach; ?>
<?php endif; ?>
</tbody>
</table>
<script type="text/javascript">
function atrCenyWybierz(ten)
{
	var ilosc = parseInt($(ten).parent().parent().find('.atrCenyilosc').val());
	if(isNaN(ilosc) || ilosc == 0) { ilosc = 1; $(ten).parent().parent().find('.atrCenyilosc').val('1'); }
	$('#ilosc0').val(ilosc);
	var atr = 0;
	var val = 0;
	var txt = '';
	$(ten).parent().parent().find('.atrVal').each(function(index)
	{
		atr = $($('.atrNazwa').get(index)).attr('id').replace('atr', '');
		var valOrg = val = parseInt($(this).attr('id').replace('atrVal', ''));
		txt = $(this).find('span').text().trim();
		if(isNaN(val) || val == 0)
		{
			val = parseInt($(this).find('select').val());
			txt = $(this).find('select option:selected').text().trim();
		}
		if(isNaN(val)) val = 0;
		if(index > 0)
		{
			$('#atrybut' + atr).html('<option value="0"><?php echo $this->translate('wybierz'); ?></option>');
			if(valOrg > 0 && txt.length > 0)
			$('#atrybut' + atr).append('<option value="'+val+'">'+txt+'</option>');
			if(valOrg == 0 && txt.length > 0)
			$('#atrybut' + atr).html($(this).find('select').html());
		}
		$('#atrybut' + atr).val(val);
		odswiezSelectBox('#atrybut' + atr);		
	});
	//var val = $('.select').last().attr('id').replace('atrVal', '');
	if(val >= 0)
	{
		changeCenaAtrybCenyRozne(atr, val, false, true);
		//$('#produktKoszykDodaj').trigger('click');
	}
}
</script>