<div class="items itemsGratisy">
<?php if(isset($this->gratisy) && count($this->gratisy) > 0 ): ?>
<form action="" method="post">
<?php for($i=0; $i<count($this->gratisy);$i++): ?>
<?php $this->prod = $this->gratisy[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php $this->tripleLast = ($i % 3 == 2); ?>
<?php $this->i = $i; ?>
<?php echo $this->render('const/gratis.phtml'); ?>
<?php endfor; ?>
</form>
<?php else: echo '<div class="itemsNagl">Brak gratisów</div>'; endif; ?>
</div>
