<div class="item itemListaFull item0 komplet">
	
	<div class="itemTop">
		<div class="model">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" rel="">
			<?php echo $this->prod['nazwa']; ?>
		</a>
		<?php for($i=1; $i<count($this->komplet);$i++): ?>
		<?php $this->kpl = $this->komplet[$i]; ?>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->kpl['link'];?>" rel="">
			+&nbsp;<?php echo $this->kpl['nazwa']; ?>
		</a>
		<?php endfor; ?>
		</div>		
	</div>
	
	<div class="itemOpis" href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" rel="">
		
		<div class="imgDiv itemImgDiv"><div class="imgDivInner itemImgDivInner"><span></span>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="link itemImgLink" tabindex="-1"></a>
			<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" tabindex="-1">
			<img class="img itemImg" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $this->prod['zdj']['img'];?>" alt="<?php echo $this->prod['zdj']['nazwa'];?>" />
			</a>
		</div></div>
		
		<div class="oszczedzaszSymbol">+</div>
		
		<div class="oszczedzaszZestaw">
		<?php for($i=1; $i<count($this->komplet);$i++): ?>
		<?php $this->kpl = $this->komplet[$i]; ?>
		<div class="imgDiv itemImgDiv"><div class="imgDivInner itemImgDivInner"><span></span>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->kpl['link'];?>" class="link itemImgLink" tabindex="-1"></a>
			<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->kpl['link'];?>" tabindex="-1">
			<img class="img itemImg" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $this->kpl['zdj']['img'];?>" alt="<?php echo $this->kpl['zdj']['nazwa'];?>" />
			</a>
		</div></div>
		<?php endfor; ?>
		</div>
		
		<div class="oszczedzaszSymbol">-</div>
		
		<div class="oszczedzasz">
			<b><?php echo number_format($this->prod['komplet_upust_brutto'], 0, ',', ''); ?>&nbsp;<?php echo $this->zl; ?></b>
			<span>oszczędzasz</span>
		</div>
		
		<div class="oszczedzaszSymbol">=</div>
		
	</div>
	
	<div class="itemBottom kosz">
	
		<span class="cena">
			<span>
				<b class="lf">
					<?php echo number_format($this->prod['komplet_brutto_upust'], 2, ',', '&nbsp;'); ?>&nbsp;<?php echo $this->zl; ?>
				</b>
				<?php if(true): ?>
				<span class="lf strike">
					(<?php echo number_format($this->prod['komplet_brutto'], 2, ',', '&nbsp;'); ?>&nbsp;<?php echo $this->zl; ?>
					-<?php echo number_format($this->prod['komplet_upust_brutto'], 2, ',', '&nbsp;'); ?>&nbsp;<?php echo $this->zl; ?>)
				</span>
				<?php endif; ?>
			<br/>
			<label class="lf cl">
				<?php echo ucfirst($this->translate('cena')).' '.$this->translate('netto'); ?>:
				<?php echo number_format($this->prod['komplet_netto_upust'], 2, ',', '&nbsp;'); ?>&nbsp;<?php echo $this->zl; ?>
			</label>
			</span>
		</span>
		
		<div>
		
		<?php if(true): ?>
		<span class="span_ilosc">
			<?php echo $this->translate('ilosc'); ?>:
		</span>
		<?php endif; ?>
		
		<?php if(true): ?>
		<input class="input_ilosc" type="text" name="ilosc[-<?php echo $this->prod['id'];?>][0]" id="ilosc-<?php echo $this->k;?>" value="0" onfocus="$(this).val('');" onblur="if($(this).val()=='') $(this).val('0'); //doKoszyka(this, -<?php echo $this->prod['id'];?>);" />
		<?php endif; ?>
		
		<a class="item_do_kosza button" href="javascript:doKoszyka(this, 0, false, '.itemsKomplet<?=@$this->k;?>', <?=$this->prod['id'];?>, '<?=@$this->k;?>');" tabindex="-1">
			Do Koszyka
		</a>
		
		</div>
		
	</div>
</div>