<div class="items itemsKomplet0 itemsKomplet<?=@$this->k;?>">
<?php if(isset($this->komplet) && count($this->komplet) > 0): ?>
<form action="" method="post">
<?php for($i=0; $i<count($this->komplet);$i++): ?>
<?php $this->prod = $this->komplet[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php $this->tripleLast = ($i % 3 == 2); ?>
<?php $this->i = $i; ?>
<?php if($i==0 && !$this->mobile) echo $this->render('produkt/komplet.phtml'); ?>
<?php if($i>=0 || !$this->mobile) echo $this->render('const/item_lista_short.phtml'); ?>
<?php endfor; ?>
</form>
<?php else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>
</div>
