<div class="items itemsPodobne">
<?php if(isset($this->archiwalne) && count($this->archiwalne) > 0 ): ?>
<form action="" method="post">
<?php for($i=0; $i<count($this->archiwalne);$i++): ?>
<?php $this->prod = $this->archiwalne[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php $this->tripleLast = ($i % 3 == 2); ?>
<?php $this->i = $i; ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybProdukt.'.phtml'); ?>
<?php endfor; ?>
</form>
<?php else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>
</div>
