<div class="items itemsPodobne">
    <?php if (isset($this->powiazane) && count($this->powiazane) > 0): ?>
        <form action="" method="post">
            <?php for ($i = 0; $i < count($this->powiazane); $i++): ?>
                <?php $this->prod = $this->powiazane[$i]; ?>
                <?php $this->even = ($i % 2 == 0); ?>
                <?php $this->tripleLast = ($i % 3 == 2); ?>
                <?php $this->i = $i; ?>
                <?php echo $this->render('const/item_siatka_full.phtml'); ?>
            <?php endfor; ?>
        </form>
    <?php else: echo '<div class="itemsNagl">Brak produktów</div>';
    endif; ?>
</div>
