<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">

<?php

@session_start();
$_SESSION['lang'] = 'pl';
define ('IE', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE') !== FALSE);
define ('IE6', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 6') !== FALSE);
define ('IE7', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 7') !== FALSE);
define ('IE8', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 8') !== FALSE);
define ('IE9', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 9') !== FALSE);
define ('Firefox', strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') !== FALSE);
define ('Opera', strpos($_SERVER['HTTP_USER_AGENT'], 'Opera') !== FALSE);
define ('Chrome', strpos($_SERVER['HTTP_USER_AGENT'], 'Chrome') !== FALSE);
define ('Safari', strpos($_SERVER['HTTP_USER_AGENT'], 'Safari') !== FALSE && !Chrome);
define ('browser', IE?'ie':(Opera?'opera':(Chrome?'chrome':(Safari?'safari':'firefox'))));

?>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="NONE"/>
	<title>CMS Panel administratora</title>
	<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl; ?>/public/styles/admin_lojal.css"/>
	
	<?php if($this->obConfig->edytor == 'mce'): ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
	<?php endif; ?>
	
	<?php if($this->obConfig->edytor == 'cke'): ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/ckeditor/ckeditor.js"></script>
	<style type="text/css">div.textarea_bg { width: 900px !important; }	</style>
	<?php endif; ?>
    
	<script type="text/javascript">var baseUrl = '<?php echo $this->baseUrl; ?>';</script>
	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-1.8.0.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/kategorie.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/functionadmin.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/popup/popup.js"></script>
	
	<?php if(false): ?>
	<script type='text/javascript' src='<?php echo $this->baseUrl; ?>/public/scripts/jquery-autocomplete/lib/jquery.bgiframe.min.js'></script>
	<script type='text/javascript' src='<?php echo $this->baseUrl; ?>/public/scripts/jquery-autocomplete/lib/jquery.ajaxQueue.js'></script>
	<script type='text/javascript' src='<?php echo $this->baseUrl; ?>/public/scripts/jquery-autocomplete/lib/thickbox-compressed.js'></script>
	<script type='text/javascript' src='<?php echo $this->baseUrl; ?>/public/scripts/jquery-autocomplete/jquery.autocomplete.js'></script>
	<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery-autocomplete/jquery.autocomplete.css" />
	<?php endif; ?>
	
	<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->baseUrl; ?>/public/styles/print.css"/>
	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/print.js"></script>
	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/swfobject.js"></script>
	
	<?php if(false): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/uploadify.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/jquery.uploadify.v2.1.4.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if($this->obConfig->lojalnosc): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/jquery.jstree.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.hotkeys.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.emotification.js" type="text/javascript" charset="utf-8"></script>
	
	<?php if(false): ?>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/css/smoothness/jquery-ui-1.8.13.custom.css" />
	<?php endif; ?>
	
    <script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/js/jquery.ui.datepicker-pl.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/js/excanvas.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/js/visualize.jQuery.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/basic.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/visualize.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/visualize-light.css" />
	
	<?php echo $this->headLink(); ?>
	<?php echo $this->headScript(); ?>
	
	<script type="text/javascript">
	
	var obConfig = new Array();
	<?php if(@count($this->obConfig) > 0): ?>
	<?php foreach($this->obConfig as $ob => $config): ?>
	<?php if(!($config instanceof Zend_Config)): ?>
	obConfig['<?php echo $ob;?>'] = '<?php echo $config;?>';
	<?php endif; ?>
	<?php endforeach; ?>
	<?php endif; ?>
	
	<?php if($this->obConfig->edytor == 'mce'): ?>
	function openKCFinder(field_name, url, type, win) 
	{
		tinyMCE.activeEditor.windowManager.open(
		{
			url: "<?php echo $this->baseUrl; ?>/public/scripts/kcfinder/browse.php?opener=tinymce&type="+type, 
			width: 700, 
			height: 500,
			resizable: "yes",
			inline: "yes", 
			close_previous: "no",
			popup_css: false
		},
		{ window: win, input: field_name });
		return false;
	}
	<?php endif; ?>
	
	function pliki(showInput)
	{
		var input = document.getElementById('filesToUpload');
		$('#plikiDiv').html('');
		for (var x = 0; x < input.files.length; x++) 
		{
			var div = '<div style="width:350px;">';
			div = div + '<span style="float:left;width:150px;">' + input.files[x].name + '</span>';
			if(showInput) 
			div = div + '<input type="text" name="images[]" size="30" style="float:left;" value="' + input.files[x].name.replace('.jpg', '').replace('.jpeg', '').replace('.JPG', '').replace('.JPEG', '') + '" />';
			else div = div + '<br/>';
			div = div + '</div>';
			$('#plikiDiv').append(div);
		}
	}
	
	function zmienStan(id, stan, prodID)
	{
		$('#rozm' + id).replaceWith('<input type="text" name="zmienStan[' + id + ']" size="2" style="border:1px solid #E3E3E3;" value="' + stan + '" />');
		$('#submitRozm' + prodID).show();
	}
	
	function szukajProd(ten)
	{
		if(ten.value.length < 3)
		{
			$('#powiazanie').html('<option value="0">Wpisz co najmniej 3 znaki!</option>');
		}
		else
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/szukajprod/q/'+encodeURIComponent(ten.value),
			cache: false,
			timeout : 5000,
			error: function(jqXHR, textStatus, errorThrown)
			{
				$('#powiazanie').html('<option value="0">'+errorThrown+'</option>');
			},
			success: function(html, textStatus, jqXHR)
			{
				var xml = $.parseXML(html);
				var ile = $(xml).find('prod').length;
				$('#powiazanie').html('');
				if(ile > 0)
				{
					$(xml).find('prod').each(function()
					{
						var id = $(this).find('id').text();
						var nazwa = $(this).find('nazwa').text();
						$('#powiazanie').append('<option value="'+id+'">'+nazwa+'</option>');
					});
				}
			}
		});
	}
	
	var baseUrl = '<?php echo $this->baseUrl; ?>';
	
	$(document).ready(function() 
	{
		$("#co").autocomplete('<?php echo $this->baseUrl; ?>/ajax/index/autocomplete/', 
		{
			matchContains: true
		});
		$("#polecEmoc").emoticate(
		{
			icon: 'smiley-icon', replacediv: 'list'
		});
		$("#data").datepicker(
		{ 
			changeYear: true,
			yearRange: '1900:<?php echo date("Y");?>'
		});
		<?php if(false): ?>
		$('#imgFile').uploadify(
		{
			'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
			'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.php',
			'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
			'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/uploads',
			'auto'      : true,
			'multi'		: true,
			'removeCompleted' : false
		});
		<?php endif; ?>
		$('#wykres').visualize({type: 'line', height: '300px', width: '800px'});
	});
	</script>
</head>
	  
<body <?php if(isset($this->body)) echo $this->body;?>>

<div class="page">
	<div class="top_container">
		<div class="top">
			<a class="logo" href="http://www.bigcom.pl" rel="external"></a>
			<h1 class="title1 bg lf">Program lojalnościowy online</h1>
			<div class="right">
				<div class="box_change_link" style="padding:0px;">
				
				<?php if(false && $this->obConfig->sklep): ?>
					<?php if(true || @$this->zakladka_admin == 1): ?>
						<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna sklep</a>
					<?php endif; ?>
					<?php if(true || @$this->zakladka_admin == 2): ?>	
						<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">Strona główna witryna</a>
					<?php endif; ?>
				<?php endif; ?>
				
				<?php if(true && $this->obConfig->sklep): ?>
				<ul class="zakladki">
				<li class="strona">
					<span></span>
					<a class="<?php if($this->zakladka_admin == -1) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1">Strona</a>
				</li>
				<li class="sklep">
					<span></span>
					<a class="<?php if($this->zakladka_admin == -2) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2">Sklep</a>
				</li>
				<li class="lojalnosc">
					<span></span>
					<a class="<?php if(@$_SESSION['lojalnosc']) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc">Lojalność</a>
				</li>
				</ul>
				<?php endif; ?>
				
				</div>
				<div class="admin_box">
					Witamy w panelu administracyjnym.<br />Jesteś zalogowany jako: <b style="color:#c00000;"><?php echo $this->tytulosoby; ?></b>
				</div>
				<a class="link1 lf m1" href="<?php echo $this->baseUrl; ?>/admin/index/wyloguj/">Wyloguj</a>	
			</div>
		</div>
		<div class="bottom">
			<div class="menu" id="menuLojalnosc">
				<?php //echo $this->render('const/menu.phtml'); ?>
                <?php echo $this->render('const/menu_lojalnosc.phtml'); ?>
			</div>
		</div>
	</div>
	<div class="main_container">
		<?php echo $this->layout()->content; ?>
	</div>
    <?php if(isset($this->popupcontent)): ?>
        <div id="popupContact">
            <div id="popupCont">
                <a id="popupContactClose">x</a>
                <div id="contactArea">
                    <?php echo $this->popupcontent; ?>
                </div>
            </div>
            <div id="popupLoader"></div>
        </div>
    <?php endif; ?>
</div>
</body>
</html>