<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="NONE"/>
		<title>CMS Panel administratora</title>
		<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl; ?>/public/styles/admin.css"/>
        <script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.js"></script>
	</head>		  
	<body>
		<div class="page">
			<div class="top_container">
				<div class="top">
					<a class="logo" href="http://www.bigcom.pl" rel="external"></a>
					<h1 class="title1 bg lf">Panel administracyjny</h1>
				</div>
				<div class="bottom">
					<div class="menu_text">Zaloguj się do panelu administracyjnego:</div>
				</div>
			</div>
			<div class="main_container">
				<?php echo $this->layout()->content; ?>
			</div>
		</div>

	</body>
</html>