<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">

<?php

@session_start();
$_SESSION['lang'] = 'pl';
define ('IE', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE') !== FALSE);
define ('IE6', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 6') !== FALSE);
define ('IE7', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 7') !== FALSE);
define ('IE8', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 8') !== FALSE);
define ('IE9', strpos($_SERVER['HTTP_USER_AGENT'], 'MSIE 9') !== FALSE);
define ('Firefox', strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') !== FALSE);
define ('Opera', strpos($_SERVER['HTTP_USER_AGENT'], 'Opera') !== FALSE);
define ('Chrome', strpos($_SERVER['HTTP_USER_AGENT'], 'Chrome') !== FALSE);
define ('Safari', strpos($_SERVER['HTTP_USER_AGENT'], 'Safari') !== FALSE && !Chrome);
define ('browser', IE?'ie':(Opera?'opera':(Chrome?'chrome':(Safari?'safari':'firefox'))));

?>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="NONE"/>
	<title>CMS Panel administratora</title>
	<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl; ?>/public/styles/admin.css"/>
	
	<?php if($this->edycjazablokowana): ?>
	<style type="text/css">a.add, a.del_ico, select.zadania, select#zadania { display: none; } </style>
	<?php endif; ?>
	
	<script type="text/javascript">
	document.cookie = 'resolution=' + screen.width + 'x' + screen.height;
	document.cookie = 'resolutionX=' + screen.width;
	document.cookie = 'resolutionY=' + screen.height;
	</script>
	
	<?php if($this->obConfig->edytor == 'mce'): ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
	<?php endif; ?>
	<?php if($this->obConfig->edytor == 'mce4'): ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/tinymce/jscripts/tinymce/tinymce.js"></script>
	<?php endif; ?>
	
	<?php if($this->obConfig->edytor == 'cke'): ?>
	<?php if($this->common->local): ?>
	<script language="javascript" type="text/javascript" src="/__scripts/ckeditor/ckeditor.js"></script>
	<?php else: ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/ckeditor/ckeditor.js">
	</script>
	<?php endif; ?>
	<?php if(false): ?>
	<style type="text/css">div.textarea_bg { width: 900px !important; padding: 10px 0px !important; } </style>
	<?php endif; ?>
	<?php endif; ?>

	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-1.8.0.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/kategorie.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/functionadmin.js"></script>
	
	<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->baseUrl; ?>/public/styles/print.css"/>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/print.js"></script>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/swfobject.js"></script>
	
	<?php if(true): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlib.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlibmws/overlibmws.js">
	</script>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.selectbox/css/jquery.selectbox.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.selectbox/js/jquery.selectbox-0.2.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/jquery.uploadify.v2.1.4.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if($this->obConfig->lojalnosc): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/jquery.jstree.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.hotkeys.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.emotification.js" type="text/javascript" charset="utf-8"></script>
	
	<?php if(true): ?>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/themes/base/jquery-ui.css" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">//$.datepicker = new Datepicker();</script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/i18n/jquery.ui.datepicker-pl.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(false): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/js/excanvas.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/js/visualize.jQuery.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/basic.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/visualize.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/visualize-light.css" />
	<?php endif; ?>
	
	<?php if(true): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/colorpicker/js/colorpicker.js">
	</script>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/colorpicker/css/colorpicker.css" />
	<?php endif; ?>
	
	<script type="text/javascript">var www = '<?php echo $this->www; ?>';</script>
	<script type="text/javascript">var host = '<?php echo $_SERVER['HTTP_HOST']; ?>';</script>
	<script type="text/javascript">var baseUrl = '<?php echo $this->baseUrl; ?>';</script>

	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/facebox/facebox.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/facebox/facebox.js" type="text/javascript" charset="utf-8">
	</script>
	
	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jgrowl/jquery.jgrowl.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jgrowl/jquery.jgrowl.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<link rel="shortcut icon" href="<?php echo $this->baseUrl; ?>/public/images/strona/favicon.png">
	
	<?php echo $this->headLink(); ?>
	<?php echo $this->headScript(); ?>
	
	<script type="text/javascript">
	
	var obConfig = new Array();
	<?php if(@count($this->obConfig) > 0): ?>
	<?php foreach($this->obConfig as $ob => $config): ?>
	<?php if(!($config instanceof Zend_Config)): ?>
	obConfig['<?php echo $ob;?>'] = '<?php echo $config;?>';
	<?php endif; ?>
	<?php endforeach; ?>
	<?php endif; ?>
	var kategorieInne = '<?php echo $this->obConfig->kategorieInneNazwa;?>';
	
	<?php if($this->obConfig->filebrowser == 'kcfinder' || $this->obConfig->edytor == 'mce'): ?>
	function openKCFinder(field_name, url, type, win) 
	{
		//win.document.getElementById(field_name).value = 'my browser value'; 
		tinyMCE.activeEditor.windowManager.open(
		{
			url: "<?php echo $this->baseUrl; ?>/public/scripts/kcfinder/browse.php?opener=tinymce&type="+type, 
			width: 700, 
			height: 500,
			resizable: "yes",
			inline: "yes", 
			close_previous: "no",
			popup_css: false
		},
		{ window: win, input: field_name });
		return false;
	}
	<?php endif; ?>
	
	<?php if($this->obConfig->filebrowser == 'fckFileBrowser'): ?>
	function fileBrowserCallBack(field_name, url, type, win)
	{
		var connector = "<?php echo $this->baseUrl; ?>/public/scripts/ckeditor/plugins/filemanager/index.html?Connector=connectors/php/filemanager.php";
		var enableAutoTypeSelection = true;

		var cType;
		tinyfck_field = field_name;
		tinyfck = win;

		switch(type)
		{
			case "image": cType = "Image"; break;
			case "flash": cType = "Flash"; break;
			case "file": cType = "File"; break;
		}

		if(enableAutoTypeSelection && cType) connector += "&Type=" + cType;

		window.open(connector, "tinyfck", "modal,width=700,height=500");
	}
	<?php endif; ?>
	
	function openKCFinderStandalone(ten, dir)
	{
		var kcf = '<?php echo $this->baseUrl; ?>/public/scripts/kcfinder';
		var path = kcf + '/upload/image/';
		window.KCFinder = 
		{
			callBack: function(url) 
			{
				window.KCFinder = null;
			}
		};
		window.open(kcf + '/browse.php?type=image&dir=image/' + dir,
			'kcfinder_image', 'status=0, toolbar=0, location=0, menubar=0, ' +
			'directories=0, resizable=1, scrollbars=0, width=800, height=600'
		);
	}
	
	function pliki(showInput)
	{
		return;
		var input = document.getElementById('filesToUpload');
		$('#plikiDiv').html('');
		for (var x = 0; x < input.files.length; x++) 
		{
			var div = '<div style="float:left;width:850px;">';
			div = div + '<span style="float:left;width:200px;">' + input.files[x].name + '</span>';
			if(showInput) 
			div = div + '<input type="text" name="images[]" size="30" style="float:left;" value="' + input.files[x].name.replace('.jpg', '').replace('.jpeg', '').replace('.JPG', '').replace('.JPEG', '') + '" />';
			else div = div + '<br/>';
			<?php if(@$this->id > 0): ?>
			<?php if($this->obConfig->ofertaGaleria): ?>
			div = div + '<span style="float:left;">&nbsp;&nbsp;Typ:&nbsp;</span>';
			div = div + '<select name="typy[]" style="float:left;width:100px!important;">';
			div = div + '<option value="oferta">oferta</option>';
			div = div + '<option value="galeria">galeria</option>';
			div = div + '</select>';
			<?php endif; ?>
			<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
			div = div + '<span style="float:left;">&nbsp;&nbsp;Rozmiar:&nbsp;</span>';
			div = div + '<select name="imgRozm[]" style="float:left;width:100px!important;">';
			div = div + $('#rozmiarySelect').html() + '</select>';
			<?php endif; ?>
			<?php endif; ?>
			div = div + '</div>';
			$('#plikiDiv').append(div);
		}
	}
	
	function zmienStan(id, stan, prodID)
	{
		$('#rozm' + id).replaceWith('<input type="text" name="zmienStan[' + id + ']" size="2" style="border:1px solid #E3E3E3;" value="' + stan + '" />');
		$('#submitRozm' + prodID).show();
	}
	
	function szukajProd(ten)
	{
		if(ten.value.length < 3)
		{
			$('#powiazanie').html('<option value="0">Wpisz co najmniej 3 znaki!</option>');
		}
		else
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/szukajprod/q/'+encodeURIComponent(ten.value),
			cache: false,
			timeout : 5000,
			error: function(jqXHR, textStatus, errorThrown)
			{
				$('#powiazanie').html('<option value="0">'+errorThrown+'</option>');
			},
			success: function(html, textStatus, jqXHR)
			{
				var xml = $.parseXML(html);
				var ile = $(xml).find('prod').length;
				$('#powiazanie').html('');
				if(ile > 0)
				{
					$(xml).find('prod').each(function()
					{
						var id = $(this).find('id').text();
						var nazwa = $(this).find('nazwa').text();
						$('#powiazanie').append('<option value="'+id+'">'+nazwa+'</option>');
					});
				}
			}
		});
	}
	function szukajGratis(ten)
	{
		if(ten.value.length < 3)
		{
			$('#gratis').html('<option value="0">Wpisz co najmniej 3 znaki!</option>');
		}
		else
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/szukajgratis/q/'+encodeURIComponent(ten.value),
			cache: false,
			timeout : 5000,
			error: function(jqXHR, textStatus, errorThrown)
			{
				$('#gratis').html('<option value="0">'+errorThrown+'</option>');
			},
			success: function(html, textStatus, jqXHR)
			{
				var xml = $.parseXML(html);
				var ile = $(xml).find('gratis').length;
				$('#gratis').html('');
				if(ile > 0)
				{
					$(xml).find('gratis').each(function()
					{
						var id = $(this).find('id').text();
						var nazwa = $(this).find('nazwa').text();
						$('#gratis').append('<option value="'+id+'">'+nazwa+'</option>');
					});
				}
			}
		});
	}
	
	<?php if(true && $this->obConfig->produktyPowiazania): ?>
	function zaznaczPowiazania(src, zazn)
	{
		$('#'+src).find('option').each(function()
		{
			var id = $(this).val();
			$(this).attr('selected', zazn && parseInt(id) > 0 ? 'selected' : false);
		});
	}
	function dodajPowiazania(src, dest, all)
	{
		$('#'+src).find('option').each(function()
		{
			var id = $(this).val();
			var nazwa = $(this).text();
			//console.log(id + " " + nazwa+ " " + $(this).is(':selected'));
			if(all || $(this).is(':selected'))
			if(parseInt(id) > 0 && $('#'+dest+' option[value="'+id+'"]').attr('value') == undefined)
			$('#'+dest).append('<option value="'+id+'">'+nazwa+'</option>');
		});
	}
	function usunPowiazania(src, all)
	{
		$('#'+src).find('option').each(function()
		{
			var id = $(this).val();
			//var nazwa = $(this).text();
			//console.log(id + " " + nazwa+ " " + $(this).is(':selected'));
			if(all || $(this).is(':selected'))
			if(parseInt(id) > 0 && $('#'+src+' option[value="'+id+'"]').attr('value') != undefined)
			$('#'+src).find('option[value="'+id+'"]').remove();
		});
	}
	function dodajPowiazanie(src, dest)
	{
		var id = $('#'+src).val();
		var nazwa = $('#'+src).find('option[value="'+id+'"]').text();
		//console.log(id + " " + nazwa+ " " + $('#'+dest+' option[value="'+id+'"]').attr('value'));
		if(parseInt(id) > 0 && $('#'+dest+' option[value="'+id+'"]').attr('value') == undefined)
		$('#'+dest).append('<option value="'+id+'">'+nazwa+'</option>');
	}
	function usunPowiazanie(src)
	{
		var id = $('#'+src).val();
		//var nazwa = $('#'+src).find('option[value="'+id+'"]').text();
		//console.log(id + " " + nazwa+ " " + $('#'+src).find('option[value="'+id+'"]').attr('value'));
		if(parseInt(id) > 0 && $('#'+src).find('option[value="'+id+'"]').attr('value') != undefined)
		$('#'+src).find('option[value="'+id+'"]').remove();
	}
	<?php endif; ?>
	
	function zmienStatusZamow(id_zam, status, czy_mail, print)
	{
		<?php if($this->edycjazablokowana): ?> return; <?php endif; ?>
		var param = 'id_zam/' + id_zam + '/status/' + status + '/czy_mail/' + czy_mail;
		//if(false)
		$.ajax(
		{
			url: "<?php echo $this->baseUrl;?>/ajax/index/zamowstatus/" + param,
			type: "GET",
			success: function(data)
			{
				//if(print > 0) printZam(print);
				if(print == 0) $.jGrowl(data, { life: 5000, position: 'center' });
			},
			error: function(data)
			{
				
			}
		});
		$('select[name=status]').val(status);
		if(print > 0) printZam(print, status);
	}
	
	function htmlspecialchars(p_string) 
	{
		p_string = p_string.replace(/&/g, '&amp;');
		p_string = p_string.replace(/</g, '&lt;');
		p_string = p_string.replace(/>/g, '&gt;');
		p_string = p_string.replace(/"/g, '&quot;');
		p_string = p_string.replace(/'/g, '&#039;');
		return p_string;
	};
	function htmlspecialchars_decode(p_string) 
	{
		p_string = p_string.replace(/&amp;/g, '&');
		p_string = p_string.replace(/&lt;/g, '<');
		p_string = p_string.replace(/&gt;/g, '>');
		p_string = p_string.replace(/&quot;/g, '"');
		p_string = p_string.replace(/&#039;/g, "'");
		return p_string;
	};
	
	function zmianaNazwy(id, ten, edit)
	{
		<?php if($this->edycjazablokowana): ?> edit = false; <?php endif; ?>
		if(edit)
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/zmiananazwy/prod/' + id,
			cache: false,
			type : 'POST',
			data : 'nazwa=' + encodeURIComponent(ten.value),
			error: function(jqXHR, textStatus, errorThrown)
			{
				return false;
			},
			success: function(html, textStatus, jqXHR)
			{
				var nazwa = htmlspecialchars_decode(html);
				$('#link' + id + ' b').text(nazwa);
				$('#nazwa' + id).val(nazwa);
				$('#nazwa' + id).hide();
				$('#link' + id).show();
				$('#edit' + id).show();
				//$(ten).hide();
			}
		});
		else
		{
			$('#nazwa' + id).hide();
			$('#link' + id).show();
			$('#edit' + id).show();
		}
	}
	
	function zmianaCeny(id, ten)
	{
		<?php if($this->edycjazablokowana): ?>
		$('#price' + id).hide();
		$('#cena' + id).show();
		return;
		<?php endif; ?>
		
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/zmianaceny/prod/' + id + '/cena/' + ten.value,
			cache: false,
			error: function(jqXHR, textStatus, errorThrown)
			{
				return false;
			},
			success: function(html, textStatus, jqXHR)
			{
				$('#cena' + id).text(html);
				$('#price' + id).hide();
				$('#cena' + id).show();
			}
		});
	}
	
	function zmianaSztuk(id, ten)
	{
		<?php if($this->edycjazablokowana): ?>
		$('#stan' + id).hide();
		$('#ile' + id).show();
		return;
		<?php endif; ?>
		
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/zmianasztuk/prod/' + id + '/sztuk/' + ten.value,
			cache: false,
			error: function(jqXHR, textStatus, errorThrown)
			{
				return false;
			},
			success: function(html, textStatus, jqXHR)
			{
				$('#ile' + id).text(html);
				$('#stan' + id).hide();
				$('#ile' + id).show();
			}
		});
	}
	
	function selectboxheightfix(ten) 
	{
		var size = $(ten).parent().find('.sbOptions').children('li').length;
		var height = $(ten).parent().find('.sbOptions').children('li').first().height();
		var heightOld = parseInt($(ten).parent().find('.sbOptions').css('max-height'));
		var heightNew = 8;//sbOptions border
		$(ten).parent().find('.sbOptions').children('li').each(function(key, val)
		{
			heightNew += parseInt($(ten).height());
			//heightNew++; //sbOptions a border dotted
			//heightNew+=2; //sbOptions a padding
			//alert($(ten).height());
		});
		var scrollTop = $(window).scrollTop();
		var offsetTop = $(ten).parent().offset().top;
		var windowHeight = $(window).height();
		var maxHeight = windowHeight - scrollTop;
		//alert(heightNew + ' ' + scrollTop + ' ' + offsetTop + ' ' + windowHeight + ' ' + maxHeight);
		if(heightNew > offsetTop && heightNew > maxHeight) heightNew = offsetTop;
		//var top = parseInt(size) * parseInt(height);		
		if(heightOld < heightNew && heightNew > maxHeight)
		{
			$(ten).parent().find('.sbOptions').css('top', -heightNew);
			$(ten).parent().find('.sbOptions').css('max-height', heightNew);
		}
	};
	
	function szukajWojew(ten, name)
	{
		if(ten.value.length < 3)
		{
			$('#' + name).html('<option value="0">Wpisz co najmniej 3 znaki!</option>');
		}
		else
		$.ajax(
		{
			url: '<?php echo $this->baseUrl; ?>/ajax/index/szukajwojew/q/'+encodeURIComponent(ten.value),
			cache: false,
			timeout : 5000,
			error: function(jqXHR, textStatus, errorThrown)
			{
				$('#' + name).html('<option value="0">'+errorThrown+'</option>');
			},
			success: function(html, textStatus, jqXHR)
			{
				var xml = $.parseXML(html);
				var ile = $(xml).find('wojew').length;
				$('#' + name).html('');
				if(ile > 0)
				{
					$(xml).find('wojew').each(function()
					{
						var id = $(this).find('id').text();
						var nazwa = $(this).find('nazwa').text();
						$('#' + name).append('<option value="'+nazwa+'">'+nazwa+'</option>');
					});
				}
			}
		});
	}
	
	var popupTimeout = null;
	function popup(message, timeout)
	{
		if (timeout == undefined) timeout = 3000;
		//$.jGrowl(data, { life: timeout, position: 'center' });
		$('#popupMessage').dialog(
		{
			autoOpen: true,
			modal: false,
			width: "auto",
			height: "auto",
			minWidth: 150,
			minHeight: 50,
			title: "<?php echo $this->translate('komunikat'); ?>",
			resizable: false,
			//dialogClass: 'popupMessage',
			position: ['center', 'center'],
			open: function()
			{
				$('#popupMessage').html(message)
				popupTimeout = setTimeout('$("#popupMessage").dialog("close")', timeout);
			},
			close:function()
			{
				$('#popupMessage').html('');
			}
		});
	}
	
	var baseUrl = '<?php echo $this->baseUrl; ?>';
	
	$(document).ready(function() 
	{
		var navi = '<span class="no_link">Panel administracyjny &raquo;</span>';
		navi = navi + '<a class="link_path" href="<?=$this->baseUrl;?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>';
		var lista = <?php echo @intval(strpos($this->action, "lista") !== false); ?>;
		var dodaj = <?php echo @intval(strpos($this->action, "dodaj") !== false); ?>;
		var edytuj = <?php echo @intval(strpos($this->action, "edytuj") !== false); ?>;
		var r_lista = '<?php echo @strval($this->r_lista); ?>';
		var r_usun = '<?php echo @strval($this->r_usun); ?>';
		if(lista) navi = navi + '<span class="link_path_end">Lista</span>';
		if(!lista && r_lista.length > 0)navi = navi + '<a class="link_path" href="<?=$this->baseUrl;?>/<?=$this->r_lista;?>">Lista &raquo;</a>';
		if(edytuj || r_usun.length > 0) navi = navi + '<span class="link_path_end">Edytuj</span>';
		if(dodaj && r_lista.length > 0) navi = navi + '<span class="link_path_end">Dodaj</span>';
		//navi = navi + '<span class="link_path_end">Zapisz</span>';
		$("div.navi_box").html(navi);
		
		$("#co").autocomplete(
		{
			disabled : false,
			autoFocus : false,
			delay : 300,
			minLength : 2,
			source : '<?php echo $this->baseUrl; ?>/ajax/index/autocomplete',
			select: function(event, ui) 
			{
				$('#co').val(ui.item.value);
				$('#szukaj').click(); 
			}
		});
		
		$("#polecEmoc").emoticate(
		{
			icon: 'smiley-icon', replacediv: 'list'
		});
		
		$("#data").datepicker(
		{
			changeYear: true,
			yearRange: '2010:<?php echo date("Y");?>',
			//altField: '#boksWystawData',
			altFormat: 'yy-mm-dd',
			dateFormat: 'yy-mm-dd',
			//minDate: new Date(),
			//maxDate: new Date(),
			showOn: "button",
			buttonImage: "<?php echo $this->baseUrl; ?>/public/images/admin/ikony/calendar.gif",
			buttonImageOnly: true
		});
		
		if(true)
		$('input[name=uploadedfile]').uploadify(
		{
			'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
			'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php',
			'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
			'folder'    : '<?php echo $this->baseUrl; ?>/public/<?php echo @$this->folder; ?>',
			'auto'      : true,
			'multi'		: false,
			'removeCompleted' : false,
			'buttonText' : 'Wybierz',
			//'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/przegladaj.png',
			'width' : 120,
			'height' : 34,
			'wmode'		: 'transparent',
			'fileExt'   : '<?php echo @strval($this->rozsz['name']); ?><?php echo @strval($this->rozsz2['name']); ?>',
			'fileDesc'    : '<?php echo @strval($this->rozsz['desc']); ?><?php echo @strval($this->rozsz2['desc']); ?>',
			//'sizeLimit'   : 2 * 1024 * 1024,
			'simUploadLimit' : 1,
			'queueSizeLimit' : 1,
			'onComplete'  : function(event, ID, fileObj, response, data) 
			{
				$('#file').val(response);
				//alert(response);
			},
			'onCancel'  : function(event, ID, fileObj, response, data) 
			{
				$('#file').val('');
				//alert(response);
			}
		});
		
		$('#zakladkaGaleria #box_display1 #filesToUpload').uploadify(
		{
			'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
			'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php',
			'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
			'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/zdjecia',
			'auto'      : true,
			'multi'		: true,
			'removeCompleted' : false,
			'buttonText' : 'Wybierz',
			//'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/przegladaj.png',
			'width' : 120,
			'height' : 34,
			'wmode'		: 'transparent',
			'fileExt'   : '*.jpg;*.jpeg;*.pjpg;*.pjpeg;*.png;*.gif',
			'fileDesc'    : 'Zdjęcia (*.jpg; *.png; *.gif)',
			'sizeLimit'   : 4 * 1024 * 1024,
			'simUploadLimit' : 1,
			//'queueSizeLimit' : 1,
			'onSelect'  : function(event, ID, fileObj, data)
			{
				$("#filesToUploadQueue").sortable({ opacity: 0.6, cursor: 'move'});
			},
			'onComplete'  : function(event, ID, fileObj, response, data) 
			{
				var img = '<img src="<?php echo $this->baseUrl;?>/public/admin/zdjecia/' + response + '" alt="" />';
				var zdj = '<div class="file"><span class="thumbnail">'+img+'<span>'+img+'<br/></span></span></div>';
				$('#filesToUpload'+ID).prepend(zdj);
				var opis = '<div class="opis"><br/>Opis <input type="text" name="images[]" value="" /></div>';
				$('#filesToUpload'+ID).append(opis);
				$('#filesToUpload'+ID).append('<input type="hidden" name="img[]" value="'+response+'" />');
				$('#filesToUpload'+ID).append('<span class="ico_drag"></span>');
			},
			'onCancel'  : function(event, ID, fileObj, response, data) 
			{
				//alert(response);
			}
		});
		
		$('#atrybuty input[type=file]').each(function()
		{
			var id = $(this).attr('id');
			var name = $(this).prev().attr('name');
			var id0 = $(this).prev().attr('id').replace(id+'_ID_', '');
			$(this).uploadify(
			{
				'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
				'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php',
				'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
				'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/zdjecia',
				'auto'      : true,
				'multi'		: false,
				'removeCompleted' : false,
				//'buttonText' : 'Wybierz',
				'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/agile/przegladaj-a.png',
				'width' : 93,
				'height' : 22,
				'wmode'		: 'transparent',
				'fileExt'   : '*.jpg;*.jpeg;*.pjpg;*.pjpeg;*.png;*.gif',
				'fileDesc'    : 'Zdjęcia (*.jpg; *.png; *.gif)',
				'sizeLimit'   : 4 * 1024 * 1024,
				'simUploadLimit' : 1,
				//'queueSizeLimit' : 1,
				'onInit'   : function(instance)
				{
					//alert($('#'+id+'Queue').size());
				},
				'onSelect'  : function(event, ID, fileObj, data)
				{
					//alert('#'+id+''+ID);
					//$('#'+id+'Queue').remove();
					$('#'+id+'_ID_'+id0).remove();
					$('#'+id+id0).remove();
				},
				'onComplete'  : function(event, ID, fileObj, response, data) 
				{
					var path = '<?php echo $this->baseUrl;?>/public/admin/zdjecia';
					$('#'+id+''+ID).parent().parent().find('.img > img').attr('src', path + '/' + response);
					$('#'+id+''+ID).parent().parent().find('.thumbnail img').attr('src', path + '/' + response);
					$('#'+id+''+ID).append('<input type="hidden" id="'+id+'_ID_'+ID+'" name="'+name+'" value="'+response+'" />');
					//$('#'+id+'_ID_'+ID).val(response);
				},
				'onCancel'  : function(event, ID, fileObj, response, data) 
				{
					var path = '<?php echo $this->baseUrl;?>/public/admin/zdjecia';
					if(ID == id0)
					{
						$('#'+id+''+ID).parent().find('.img > img').attr('src', path + '/brak.jpg');
						$('#'+id+''+ID).parent().find('.thumbnail img').attr('src', path + '/brak.jpg');
					}
					else
					{
						$('#'+id+''+ID).parent().parent().find('.img > img').attr('src', path + '/brak.jpg');
						$('#'+id+''+ID).parent().parent().find('.thumbnail img').attr('src', path + '/brak.jpg');
					}
					$('#'+id+'_ID_'+ID).val('');
				}
			});
		});
		
		$('#szablonnowy').uploadify(
		{
			'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
			'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadifyallegro.php',
			'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
			'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/szablony/',
			'auto'      : true,
			'multi'		: false,
			'removeCompleted' : false,
			'buttonText' : 'Wybierz',
			'fileExt'   : '*.htm;*.html',
			'fileDesc'    : 'Pliki HTML (.htm, .html)',
			'onSelectOnce' : function(event, ID, fileObj, response, data) 
			{
				alert('Po poprawnym załadowaniu szablonu poczekaj na przeładowanie strony');
			},
			'onComplete'  : function(event, ID, fileObj, response, data) 
			{
				$('#szablonfile').val(response);
				$('#jQuery_zapisz_btn').trigger('click');
			}
		});
		$('#imgszablon').uploadify(
		{
			'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
			'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadifyallegro.php',
			'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
			'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/szablony/<?php echo @$this->file.'_pliki';?>',
			'auto'      : true,
			'multi'		: true,
			'removeCompleted' : true,
			'buttonText' : 'Wybierz',
			'fileExt'   : '*.jpg;*.jpeg;*.png;*.gif;*.css',
			'fileDesc'    : 'Pliki JPG, PNG, GIF, CSS (.jpg, .jpeg, .png, .gif, .css)',
			'onSelectOnce' : function(event, ID, fileObj, response, data) 
			{
				alert('Po poprawnym załadowaniu plików poczekaj na przeładowanie strony');
			},
			'onAllComplete'  : function(event, ID, fileObj, response, data) 
			{
				window.location.reload();
			}
		});
		
		$('.colorSelector').each(function()
		{
			$(this).ColorPicker(
			{
				flat : false,
				livePreview : true,
				color: '#' + $(this).find('input[type=hidden]').val(),
				onShow: function(colpkr) 
				{
					$(colpkr).fadeIn(500);
					return false;
				},
				onBeforeShow: function(colpkr) 
				{
					return false;
				},
				onHide: function(colpkr) 
				{
					$(colpkr).fadeOut(500);
					return false;
				},
				onChange: function(hsb, hex, rgb) 
				{
					return false;
				},
				onSubmit: function(hsb, hex, rgb, el) 
				{
					$(el).css('backgroundColor', '#' + hex);
					$(el).children('input').val(hex);
					$(el).ColorPickerHide();
				}
			});
		});
		
		//$('#wykres').visualize({type: 'line', height: '300px', width: '800px'});
		
		if(false)
		$('.zadania').selectbox(
		{
			onChange: function (val, inst) 
			{
				if(val != '' && val != 'wiecej')
				ofertaListaOpcjeAllWiecej($(this), '<?php echo $this->baseUrl; ?>');
			},
			onOpen: function (inst) 
			{
				selectboxheightfix($(this));
			},
			onClose: function (inst) 
			{
				//var option = $("select[name=myselect]").find("option[value="+myvalue+"]");
				//$("select[name=myselect]").selectbox("change", option.attr('value'), option.html() );
				//$('.zadania').selectbox("change", 'wiecej', 'Operacje hurtowe');
			}
		});
		$(document).click(function()
		{
			$('.zadania').selectbox('close');
		});
		$('.sbHolder').click(function(event)
		{
			event.stopPropagation();
		});
	});
	</script>
</head>
	  
<body <?php if(isset($this->body)) echo $this->body;?>>

<div id="loading" class="grayed"></div>
<div id="popupMessage"></div>

<div class="page">
	<a name="top"></a>
	<div class="top_container">
		<div class="top">
			<a class="logo" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2<!--http://www.bigcom.pl-->" rel="external"></a>
			<h1 class="title1 bg lf">
				Panel administracyjny<br/>
				<?php if(true && $this->obConfig->licznikOdwiedzin): ?>
				<div id="counterBox">
					<div id="counterLeft">
						Teraz online: <b><?php echo $this->liczbauser; ?></b> osób.
					</div>
					<div id="counterRight">
						Odwiedzin: <b><?php echo $this->liczbaodwiedzin; ?></b>.
					</div>
				</div>
				<?php endif; ?>
			</h1>
			<div class="right">
				<div class="box_change_link" style="padding:0 17px 0 0;height:70px;">
				
				<?php if(false && $this->obConfig->sklepOsobneMenu): ?>
					<?php if($this->zakladka_admin == 1): ?>
						<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna sklep</a>
					<?php elseif($this->zakladka_admin == 2): ?>	
						<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">Strona główna witryna</a>
					<?php endif; ?>
					<?php if(true && $this->obConfig->lojalnosc): ?>
					<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/">Program lojalnościowy</a>
					<?php endif; ?>
				<?php endif; ?>
				
				<?php if($this->obConfig->jezyki): ?>
				<?php if(@count($this->langs) > 0): ?>
				<div class="box_lang">
				<span class="lbl_lang">Wybór języka:</span>
				<br clear="all" />
				<?php foreach($this->langs as $lg => $lang): ?>
					<a class="lang lang_<?php echo $lg ?> <?php echo($this->lang == $lg)? 'active': ''; ?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/lang/<?php echo $lg; ?>"></a>
				<?php endforeach; ?>
				</div>
				<?php endif; ?>
				<?php endif; ?>
				
				<?php if($this->obConfig->sklepOsobneMenu || $this->obConfig->lojalnosc): ?>
				<ul class="zakladki">
				<?php if($this->obConfig->sklepOsobneMenu): ?>
				<li class="strona">
					<span></span>
					<a class="<?php if($this->zakladka_admin == 1) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1">Strona</a>
				</li>
				<li class="sklep">
					<span></span>
					<a class="<?php if($this->zakladka_admin == 2) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2">Sklep</a>
				</li>
				<?php endif; ?>
				<?php if($this->obConfig->lojalnosc): ?>
				<li class="lojalnosc">
					<span></span>
					<a class="<?php if(@$_SESSION['lojalnosc']) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc">Lojalność</a>
				</li>
				<?php endif; ?>
				</ul>
				<?php endif; ?>
				
				</div>
				<div class="admin_box">
					Witamy w panelu administracyjnym.<br />Jesteś zalogowany jako: <b style="color:#c00000;"><?php echo $this->tytulosoby; ?></b>
				</div>
				<a class="link1 lf m1" href="<?php echo $this->baseUrl; ?>/admin/index/wyloguj/" onclick="return confirm('Czy na pewno chcesz wyjść z panelu ?')">Wyloguj</a>	
			</div>
		</div>
		<div class="bottom">
			<div class="menu">
				<?php echo $this->render('const/menu.phtml'); ?>
			</div>
		</div>
	</div>
	<div class="main_container">
		<?php echo $this->layout()->content; ?>
	</div>
	<?php if($this->obConfig->menuBoczne && $this->menuBoczne): ?>
		<?php echo $this->render('const/prawe_menu.phtml'); ?>
	<?php endif; ?>
</div>

</body>
</html>