<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">

<?php

@session_start();
$_SESSION['lang'] = 'pl';
$agent = $_SERVER['HTTP_USER_AGENT'];
define ('IE', strpos($agent, 'MSIE') !== FALSE || strpos($agent, 'Trident') !== FALSE);
define ('IE6', strpos($agent, 'MSIE 6') !== FALSE);
define ('IE7', strpos($agent, 'MSIE 7') !== FALSE);
define ('IE8', strpos($agent, 'MSIE 8') !== FALSE);
define ('IE9', strpos($agent, 'MSIE 9') !== FALSE);
define ('IE10', strpos($agent, 'MSIE 10') !== FALSE);
define ('IE11', IE && strpos($agent, 'rv:11') !== FALSE);
define ('Firefox', strpos($agent, 'Firefox') !== FALSE);
define ('Opera', strpos($agent, 'Opera') !== FALSE || strpos($agent, 'OPR') !== FALSE);
define ('Chrome', strpos($agent, 'Chrome') !== FALSE);
define ('Safari', strpos($agent, 'Safari') !== FALSE && !Chrome);
define ('browser', IE?'ie':(Opera?'opera':(Chrome?'chrome':(Safari?'safari':'firefox'))));
define ('IEver', !IE?0:(IE11?11:(IE10?10:(IE9?9:(IE8?8:(IE7?7:(IE6?6:0)))))));
define ('browserVer', IE ? 'ie'.IEver : browser);//var_dump($agent);die();

?>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="NONE"/>
	<title>Panel CMS <?php echo stripslashes($this->ustawienia['title']); ?></title>
	<link rel="stylesheet" type="text/css" media="screen,print" href="<?php echo $this->baseUrl; ?>/public/styles/admin.css"/>
	
	<?php if($this->edycjazablokowana): ?>
	<style type="text/css">a.add, a.del_ico, a.edit_ico, select.zadania, select#zadania { display: none !important; } </style>
	<?php endif; ?>
	
	<script type="text/javascript">
	document.cookie = 'resolution=' + screen.width + 'x' + screen.height;
	document.cookie = 'resolutionX=' + screen.width;
	document.cookie = 'resolutionY=' + screen.height;
	</script>
	
	<?php if($this->obConfig->edytor == 'mce'): ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
	<?php endif; ?>
	<?php if($this->obConfig->edytor == 'mce4'): ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/tinymce/jscripts/tinymce/tinymce.js"></script>
	<?php endif; ?>
	
	<?php if($this->obConfig->edytor == 'cke'): ?>
	<?php if(false && $this->common->local): ?>
	<script language="javascript" type="text/javascript" src="../__scripts/ckeditor/ckeditor.js"></script>
	<?php else: ?>
	<script language="javascript" type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/ckeditor/ckeditor.js"></script>
	<?php endif; ?>
	<?php if(false): ?>
	<style type="text/css">div.textarea_bg { width: 900px !important; padding: 10px 0px !important; } </style>
	<?php endif; ?>
	<?php endif; ?>

	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-1.8.0.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/kategorie.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/functionadmin.js"></script>
	
	<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->baseUrl; ?>/public/styles/print.css"/>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/print.js"></script>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/swfobject.js"></script>
	
	<?php if(true): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlib.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlibmws/overlibmws.js"></script>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.selectbox/css/jquery.selectbox.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.selectbox/js/jquery.selectbox-0.2.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/jquery.uploadify.v2.1.4.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if($this->controller == "lojalnosc"): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/functionadmin_lojal.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	<?php if($this->obConfig->lojalnosc && @$_SESSION['lojalnosc']): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/functionadmin_lojal.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/jquery.jstree.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.hotkeys.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(false): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.emotification.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/themes/base/jquery-ui.css" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">//$.datepicker = new Datepicker();</script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/i18n/jquery.ui.datepicker-pl.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(false): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/js/excanvas.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/js/visualize.jQuery.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/basic.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/visualize.css" />
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/visualize/charting/css/visualize-light.css" />
	<?php endif; ?>
	
	<?php if(true && ($this->obConfig->koloryKolor || $this->obConfig->dostepnoscKolory || $this->obConfig->podstronyKolorNaglowka || $this->obConfig->slajdyUstawEdycja || $this->obConfig->menuOfertaMainEdycja)): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/colorpicker/js/colorpicker.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/colorpicker/css/colorpicker.css" />
	<?php endif; ?>
	
	<script type="text/javascript">var www = '<?php echo $this->www; ?>';</script>
	<script type="text/javascript">var host = '<?php echo $_SERVER['HTTP_HOST']; ?>';</script>
	<script type="text/javascript">var baseUrl = '<?php echo $this->baseUrl; ?>';</script>
	<script type="text/javascript">var edycjazablokowana = <?php echo @intval($this->edycjazablokowana); ?>;</script>

	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/facebox/facebox.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/facebox/facebox.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jgrowl/jquery.jgrowl.css" type="text/css" media="screen" charset="utf-8" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jgrowl/jquery.jgrowl.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<link rel="shortcut icon" href="<?php echo $this->baseUrl; ?>/public/images/strona/favicon.png">
	
	<script type="text/javascript">	
	var obConfig = new Array();
	<?php if(@count($this->obConfig) > 0): ?>
	<?php foreach($this->obConfig as $ob => $config): ?>
	<?php if(!($config instanceof Zend_Config)): ?>
	obConfig['<?php echo $ob;?>'] = '<?php echo $config;?>';
	<?php endif; ?>
	<?php endforeach; ?>
	<?php endif; ?>
	var kategorieInne = '<?php echo $this->obConfig->kategorieInneNazwa;?>';
	</script>
	
	<?php echo $this->headLink(); ?>
	<?php echo $this->headScript(); ?>
	
	<script type="text/javascript">
	function closeIt()
	{
		//console.log(e.explicitOriginalTarget.activeElement);
		var loader = true;
		if(document.activeElement != undefined)
		if(document.activeElement.href != undefined)
		{
			var patt = new RegExp("\.[a-z]{3}$");
			loader = !patt.test(document.activeElement.href);
			//console.log(document.activeElement.href);
		}
		if(loader)
		$('#loader').show();
	}
	window.onbeforeunload = closeIt;
	</script>
	
	<?php echo $this->render('const/zdjecia.phtml'); ?>
	
	<script type="text/javascript">
	var lifetime_max = <?php echo @intval($this->lifetime_max);?>;
	var lifetime_now = <?php echo @intval($this->lifetime_now);?>;
	function odswiezCzasy()
	{
		var now = new Date();
		var year = now.getFullYear();
		var mc = now.getMonth();
		var day = now.getDate();
		var hour = now.getHours();
		var min = now.getMinutes();
		var sec = now.getSeconds();
		var mils = now.getMilliseconds();
		var now = new Date(year, mc, day, hour, min, sec, mils);
		var ilosc = (lifetime_now + lifetime_max) - (now.getTime() / 1000);
		var znak = ilosc >= 0 ? '' : '-';
		var ile = Math.abs(ilosc);
		var dni = Math.floor(ile /  60 / 60 / 24);
		var godzin = Math.floor(ile / 60 / 60 % 24);
		if(godzin < 10) godzin = '0' + godzin;
		var minut = Math.floor(ile / 60 % 60);
		if(minut < 10) minut = '0' + minut;
		var sekund = Math.floor(ile % 60);
		if(sekund < 10) sekund = '0' + sekund;
		if(ilosc > 0)
		{
			//console.log(ilosc);
			$('#counterTime b').html('' + znak + '' + minut + ':' + sekund);
			setTimeout('odswiezCzasy()', 1000);
			if(Math.floor(ilosc) == 60) odswiezAlert();
		}
		else
		{
			$('#counterTime b').html('00:00');
			window.location = '<?php if ($this->obConfig->wylogowywuj) :?> <?php echo  $this->baseUrl ; ?>/admin/index/wyloguj<?php endif ;?>';
		}
	}
	function odswiezAlert()
	{
		alert('Czas do wylogowania: 1 minuta! Zapisz zmiany!');
		//setTimeout('odswiezStrone()', 30 * 1000);
	}
	$(document).ready(function() 
	{
		odswiezCzasy();
		
		var navi = '<span class="no_link">Panel administracyjny &raquo;</span>';
		navi = navi + '<a class="link_path" href="<?=$this->baseUrl;?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>';
		var lista = <?php echo @intval(strpos($this->action, "lista") !== false); ?>;
		var dodaj = <?php echo @intval(strpos($this->action, "dodaj") !== false); ?>;
		var edytuj = <?php echo @intval(strpos($this->action, "edytuj") !== false); ?>;
		var r_lista = '<?php echo @strval($this->r_lista); ?>';
		var r_usun = '<?php echo @strval($this->r_usun); ?>';
		if(lista) navi = navi + '<span class="link_path_end">Lista</span>';
		if(!lista && r_lista.length > 0)navi = navi + '<a class="link_path" href="<?=$this->baseUrl;?>/<?=$this->r_lista;?>">Lista &raquo;</a>';
		if(edytuj || r_usun.length > 0) navi = navi + '<span class="link_path_end">Edytuj</span>';
		if(dodaj && r_lista.length > 0) navi = navi + '<span class="link_path_end">Dodaj</span>';
		//navi = navi + '<span class="link_path_end">Zapisz</span>';
		$("div.navi_box").html(navi);
		
		<?php echo $this->render('const/upload.phtml'); ?>
		
		<?php if(false): ?>
		$.ajax(
		{
			url: "<?php echo $this->baseUrl;?>/ajax/index/inneadmin/url/<?=@str_replace("/","_",$this->URI);?>",
			success: function(data)
			{
				$('#counterLeft b').text(data);
			},
			error: function(data)
			{
				//popup('<?php echo $this->translate('blad');?>');
			}
		});
		<?php endif; ?>
		
		<?php if(@!empty($this->message)): ?>
		var messageDuration = <?php echo @intval($this->messageDuration); ?>;
		if(messageDuration == 0) messageDuration = 3000;
		<?php $this->message = str_replace(PHP_EOL, '', $this->message); ?>
		<?php $this->allowed = 'a-zA-Z0-9 \-=+\|!@#$%^&*()`~\[\]{};:\'",<\.>\/?'; ?>
		<?php $this->allowed.= $this->common->getZnaki('pl', 'no', true); ?>
		<?php $this->allowed.= $this->common->getZnaki('PL', 'no', true); ?>
		<?php $this->allowed.= $this->common->getZnaki('all', 'no', true); ?>
		<?php $this->message = preg_replace('/[^'.$this->allowed.']/', '', $this->message); ?>
		popup('<?php echo addslashes($this->message); ?>');
		<?php endif; ?>
	});
	</script>
</head>
	  
<body <?php if(isset($this->body)) echo $this->body;?>>
<div id="loader"></div>
<div id="loading" class="grayed"></div>
<div id="popupMessage"></div>

<div class="page">
	<a name="top"></a>
	<div class="top_container">
		<div class="top">
			<a class="logo" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2" rel="">
			<!--<img src="<?php //echo $this->baseUrl;?>/public/images/strona/logo.png" width="117" />--></a>
			<h1 class="title1 bg lf">
				Panel administracyjny<br/>
				<?php if(true && $this->obConfig->licznikOdwiedzin): ?>
				<div id="counterBox" style="width:100%;">
					<div id="counterLeft">
						Teraz online: <b><?php echo $this->liczbauser; ?></b> osób.
					</div>
					<div id="counterRight">
						Odwiedzin: <b><?php echo $this->liczbaodwiedzin; ?></b>.
					</div>
					<div id="counterTime" class="rf">
						Sesja: <b><?php echo 0; ?></b>
					</div>
				</div>
				<?php endif; ?>
			</h1>
			<div class="right">
				<div class="box_change_link" style="padding:0 17px 0 0;height:70px;">
				
				<?php if(false && $this->obConfig->sklepOsobneMenu): ?>
					<?php if($this->zakladka_admin == 1): ?>
						<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna sklep</a>
					<?php elseif($this->zakladka_admin == 2): ?>	
						<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">Strona główna witryna</a>
					<?php endif; ?>
					<?php if(true && $this->obConfig->lojalnosc): ?>
					<a class="link1" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/">Program lojalnościowy</a>
					<?php endif; ?>
				<?php endif; ?>
				
				<?php if($this->obConfig->jezyki): ?>
				<?php if(@count($this->langs) > 0): ?>
				<div class="box_lang">
				<span class="lbl_lang">Wybór języka:</span>
				<br clear="all" />
				<?php foreach($this->langs as $lg => $lang): ?>
					<a class="lang lang_<?php echo $lg ?> <?php echo($this->lang == $lg)? 'active': ''; ?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/lang/<?php echo $lg; ?>"></a>
				<?php endforeach; ?>
				</div>
				<?php endif; ?>
				<?php endif; ?>
				
				<?php if($this->obConfig->sklepOsobneMenu || $this->obConfig->lojalnosc): ?>
				<ul class="zakladki">
				<?php if($this->obConfig->sklepOsobneMenu): ?>
				<li class="strona">
					<span></span>
					<a class="<?php if($this->zakladka_admin == 1) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1">Strona</a>
				</li>
				<li class="sklep">
					<span></span>
					<a class="<?php if($this->zakladka_admin == 2) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2">Sklep</a>
				</li>
				<?php endif; ?>
				<?php if($this->obConfig->lojalnosc): ?>
				<li class="lojalnosc">
					<span></span>
					<a class="<?php if(@$_SESSION['lojalnosc']) echo 'active';?>" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc">Lojalność</a>
				</li>
				<?php endif; ?>
				</ul>
				<?php endif; ?>
				
				</div>
				<div class="admin_box">
					Witamy w panelu administracyjnym.<br />Jesteś zalogowany jako: <b style="color:#c00000;"><?php echo $this->tytulosoby; ?></b>
				</div>
				<a class="link1 lf m1" href="<?php echo $this->baseUrl; ?>/admin/index/wyloguj/" onclick="return confirm('Czy na pewno chcesz wyjść z panelu ?')">Wyloguj</a>	
			</div>
		</div>
		<div class="bottom">
			<div class="menu">
				<?php echo $this->render('const/menu.phtml'); ?>
			</div>
		</div>
	</div>
	<div class="main_container">
		<?php echo $this->layout()->content; ?>
	</div>
	<?php if($this->obConfig->menuBoczne && $this->menuBoczne): ?>
		<?php echo $this->render('const/prawe_menu.phtml'); ?>
	<?php endif; ?>
</div>

</body>
</html>