<script type="text/javascript">
    var www = '<?= $this->www ?>';
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Zakup dodany pomyślnie</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <div class="box_form">
                    <div class="fr_zakup">
                        Do zapłaty: <strong><?= $this->kwotazap; ?> zł</strong>
                    </div>
                    <?php if(isset($this->rabatotrz)): ?>
                    <div class="fr_zakup">
                        Rabat wykorzystany: <strong><?= number_format($this->rabatwyk, 2,'.',''); ?> zł</strong>
                    </div>
                    <?php endif; ?>
                    <?php if(!empty($this->rabatotrz)): ?>
                    <div class="fr_zakup">
                        Rabat otrzymany za zakup: <strong><?= $this->rabatotrz; ?> zł</strong>
                    </div>
                    <?php endif; ?>
                    <?php if(!empty($this->upominekotrz)): ?>
                    <div class="fr_zakup">
                        Dodatkowy prezent - upominek: <strong><?= $this->upominekotrz; ?></strong>
                    </div>
                    <?php endif; ?>
                    <?php if(isset($this->stankonta)): ?>
                    <div class="fr_zakup">
                        Stan konta: <strong><?= $this->stankonta; ?></strong> zł
                    </div>
                    <?php endif; ?>
                    <div class="rf"><a class="btn-orange" href="<?= $this->baseUrl; ?>/admin/lojalnosc/dodajzakup/">Zamknij</a></div>
                </div>
            </div>
        </div>
    </div>
</div>