<script type="text/javascript">
    var www = '<?= $this->www ?>';
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Dodaj zakup</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <div class="box_form">
                    <div id="jQ-message"><div style="display: none;" class="error_container"></div></div>
                    <form id="jQ-formsave" method="post" action="">
                        <input type="hidden" name="post[id]" value="<?= $this->daneklient['id']; ?>" />
                        <div class="form_row">
                            <label>Nr karty:</label>
                            <div class="lblcolorBlue lf">
                                <?= $this->daneklient['karta']; ?>
                            </div> 
                        </div>
                        <div class="form_row">
                            <label>Nazwisko:</label>
                            <div class="lblcolorBlue lf">
                                <?= $this->daneklient['nazwisko']; ?>
                            </div> 
                        </div>
                        <div class="form_row">
                            <label>Imię:</label>
                            <div class="lblcolorBlue lf">
                                <?= $this->daneklient['imie']; ?>
                            </div> 
                        </div>
                        <div class="form_row">
                            <label>Nr. dowodu zakupu:</label>
                            <div class="lblcolorBlue lf">
                                <?= $this->danezakup['nrdowodu']; ?>
                            </div>
                        </div>
                        <div class="form_row">
                            <label>Kwota:</label>
                            <div class="lblcolorGreen lf">
                                <?= $this->danezakup['kwota']; ?>
                            </div> &nbsp;&nbsp; zł
                        </div>
                        <?php if(isset($this->rabatst)): ?>
                        <div class="form_row">
                            <label>Rabat:</label>
                            <div class="lblcolorGreen lf">
                                <?= $this->rabatst; ?>
                            </div><div class="lf">&nbsp;&nbsp; zł</div>
                            <div class="lf infoLojalnosc">&nbsp;&nbsp; &nbsp;&nbsp; Rabat od kwoty zakupu: <strong><?= $this->ustawienia['rabat_standard']; ?></strong> %</div>
                        </div>
                        <div class="form_row">
                            <label>Kwota po rabacie:</label>
                            <div class="lblcolorRed lf">
                                <?= number_format($this->danezakup['kwota'] - $this->rabatst, 2, '.',''); ?>
                            </div> &nbsp;&nbsp; zł
                        </div>
                        <?php if($this->rabatodloz): ?>
                        <div class="form_row">
                            <label>Stan konta:</label>
                            <div class="lblcolorGreen lf">
                                <strong><?= $this->daneklient['konto']; ?></strong>
                            </div>&nbsp;&nbsp; zł
                        </div>
                        <?php endif; ?>
                        <?php if($this->rabatodloz): ?>
                        <div class="form_row">
                            <label>Wykorzystaj pieniądze z konta rabatowego:</label>
                            <div class="input_bg check">
                                <input type="hidden" name="post[rabaton]" value="0" />
                                <input type="checkbox" name="post[rabaton]" value="1" />
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php endif; ?>
                        <?php if(isset($this->upominki) && !empty($this->upominki)): ?>
                        <div class="borderLojalnosc"></div>
                        <div class="form_row">
                            <h2 class="tytulLojalnosc">Dodatkowy rabat w postaci upominku:</h2>
                            <?php foreach($this->upominki as $row): ?>
                            <div class="form_row">
                                <label><?= $row['nazwa']; ?></label>
                                <div class="lf">
                                    <input type="radio" name="post[upominek]" value="<?= $row['id']; ?>" />
                                </div>    
                            </div>
                            <?php endforeach; ?>
                        </div>    
                        <?php endif; ?>
                        <?php if(isset($this->rabatpol)): ?>
                        <div class="borderLojalnosc"></div>
                        <a class="btn-orange" onclick="jQuery('#jQ-rabatpol').toggle('slow')" >Rabat dla polecającego</a>
                        <div id="jQ-rabatpol" class="cb dn">
                            <?php if(isset($this->rabatpol)): ?>
                            <div class="form_row">
                                <br />
                                <label>Rabat dla polecającego:</label>
                                <div class="lblcolorBlue lf">
                                    <?= $this->rabatpol; ?>
                                </div><div class="lf">&nbsp;&nbsp; zł</div>
                            <div class="lf infoLojalnosc">&nbsp;&nbsp; &nbsp;&nbsp; Rabat od kwoty zakupu: <strong><?= $this->ustawienia['rabat_polecajacy']; ?></strong> %</div>
                            </div>
                            <?php endif; ?>
                            <?php if(isset($this->upominkipol) && !empty($this->upominkipol)): ?>
                            <div class="borderLojalnosc"></div>
                            <div class="form_row">
                                <h2 class="tytulLojalnosc">Dodatkowy rabat dla polecającego w postaci upominku do wyboru:</h2>
                                <ul class="list0">
                                    <?php foreach($this->upominkipol as $row): ?>
                                        <li><span><?= $row['nazwa']; ?></span></li>
                                    <?php endforeach; ?>
                                </ul>
                            </div>
                            <?php endif; ?>
                        </div>    
                        <?php endif; ?>
                        <div class="form_row">
                            <div class="rf">
                                <button onclick="saveZakup('http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/dodajzakuppt/'; ?>', 'jQ-formsave');" class="btn-orange" type="button" name="saver" >potwierdź</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>