<script type="text/javascript">
    var www = '<?= $this->www ?>';
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Dodaj upominek</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <div class="box_link_navi">
                    <a class="back m_linki" onclick="return requestAjax(this.rel);" rel="http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/index/tryb/'.$this->tryb; ?>">Wróc do listy</a>
                </div>
                <div class="box_form">
                    <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                    <div id="jQ-message"><div style="display: none;" class="error_container"></div></div>
                    <form id="jQ-formsave" method="post" action="">
                        <div class="form_row">
                            <label class="required">Nazwa:</label>
                            <div class="input_bg w3">
                                <input type="text" name="nazwa" value="<?= isset($this->dane['nazwa']) ? $this->dane['nazwa'] : ''; ?>" />
                            </div>
                        </div>
     
                        <div class="form_row">
                            <label>Cena:</label>
                            <div class="input_bg">
                                <input type="text" name="cena" value="<?= isset($this->dane['cena']) ? $this->dane['cena'] : ''; ?>" />
                            </div> &nbsp;&nbsp; PLN
                        </div>
                        <div class="form_row">
                            <label>Zdjęcie:</label>
                            <div style="position: relative;" class="input_bg">
                                <div class="file_bg">
                                    <div class="add_foto">Dodaj zdjęcie</div>
                                    <input class="fileFile" id="fileFile" type="file" name="fileCV" style="display:none;" onchange="" />
                                    <input class="fileCVName" type="hidden" id="fileCVName" name="fileCVName" value="" />
                                    
                                </div>
                                <script type="text/javascript">
                                    jQuery(document).ready(function() {
                                            jQuery('#fileFile').uploadify({
                                                'uploader' : baseUrl+'/public/scripts/jquery.uploadify/uploadify.swf',
                                                'script2' : '/ajax/index/upload/',
                                                'script' : baseUrl+'/public/scripts/jquery.uploadify/uploadify2.php?path=<?= $this->path; ?>',
                                                'cancelImg' : baseUrl+'/public/scripts/jquery.uploadify/cancel.png',
                                                'folder' : '<?= $this->path; ?>',
                                                'auto' : true,
                                                'multi' : false,
                                                'simUploadLimit': 1,
                                                'removeCompleted' : false,
                                                'hideButton' : true,
                                                'wmode' : 'transparent',
                                                'fileExt' : '*.jpg;*.png;',
                                                'fileDesc' : 'Pliki *.jpg;*.png;',
                                                'onCancel' : function(event, ID, fileObj, data) {
                                                    fileCVUsun('fileUsun');
                                                },
                                                'onComplete' : function(event, ID, fileObj, response, data) {
                                                    $('#file').replaceWith('<div id="file" class="files"></div>');
                                                    $('#fileCVName').val(response);
                                                    $('#fileUsun').remove();
                                                }
                                            });
                                    });
                                </script>

                            </div>
                        </div>
                        <div class="form_row">
                            <label>Opis:</label>
                            <div class="input_bg w3">
                                <textarea style="resize: none;" cols="" rows="" name="tekst"><?= isset($this->dane['tekst']) ? stripslashes($this->dane['tekst']) : ''; ?></textarea>
                            </div>
                        </div>
                        <input type="hidden" name="tryb" value="<?= $this->tryb; ?>" />
                        <div class="form_row">
                            <div class="btn-box">
                                <button onclick="save('http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/dodaj/post/1/'; ?>', 'jQ-formsave');" class="btn-orange" type="button" name="saver" >zapisz</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>