<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Lista użytkowników</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <script type="text/javascript">
                    var www = '<?= $this->www ?>';
                    var baseUrl = '<?= $this->baseUrl; ?>';
                </script>
                <form id="jQ-forma4" method="post" action="">
					<script type="text/javascript">
					jQuery(document).ready(function()
					{
						$( "#jQuery_od" ).datepicker({
							defaultDate: "+1w",
							dateFormat: 'yy-mm-dd', showOn: 'button',
							buttonImage: '<?= $this->baseUrl.'/'; ?>public/images/admin/ikony/calendar.gif',
							buttonImageOnly: true,
							changeMonth: true,
							changeYear: true,
							onSelect: function( selectedDate ) {
								$( "#jQuery-do" ).datepicker( "option", "minDate", selectedDate );
							}
						});
						$( "#jQuery_do").datepicker({
							defaultDate: "+1w",
							dateFormat: 'yy-mm-dd', showOn: 'button',
							buttonImage: '<?= $this->baseUrl.'/'; ?>public/images/admin/ikony/calendar.gif',
							buttonImageOnly: true,
							changeMonth: true,
							changeYear: true,
							onSelect: function( selectedDate ) {
								$("#jQuery-od").datepicker( "option", "maxDate", selectedDate );
							}
						});
				   });
					</script>
                    <div class="ajax-search">
                        <div class="box_search2">
                            <div class="row_search2 people" id="wyszukiwarka" style="height: 60px;">
                                <a id="reset" onclick="return searchAjax('<?= $this->baseUrl; ?>/ajax/upominki/getclient/reset/all/','jQ-forma4');">
                                Resetuj</a>
                                <div id="top" style="width:560px;">
									<?php if($this->szukanie->tryb == "subskrypcja"): ?>
									<div class="napis" style="margin-left:5px; width:40px;"><strong>E-mail:</strong></div>
                                    <div class="radius">
                                        <input type="text" style="width: 160px; height: 14px;" id="co" name="nazwa" value="<?php echo $this->szukanie->nazwa; ?>" onfocus="//this.value='';" />
                                    </div>
									<?php else: ?>
									<?php if($this->obConfig->lojalnosc): ?>
                                    <div class="napis" style="margin-left:5px; width:80px;"><strong>Numer karty:</strong></div>
                                    <div class="radius">
                                        <input type="text" style="width: 40px; height: 14px;" id="co" name="karta" value="<?php echo $this->szukanie->karta; ?>" onfocus="//this.value='';" style="width:120px;" />
                                    </div>
									<?php endif; ?>
                                    <div class="napis" style="margin-left:5px; width:140px;"><strong>Nazwisko, firma, e-mail:</strong></div>
                                    <div class="radius">
                                        <input type="text" style="width: 80px; height: 14px;" id="co" name="nazwa" value="<?php echo $this->szukanie->nazwa; ?>" onfocus="//this.value='';" />
                                    </div>
                                    <div class="napis" style="width:48px;"><strong>&nbsp;&nbsp;Miasto:</strong></div>
                                    <div class="radius">
                                        <select name="miasto" class="select" style="margin-left:3px; width:100px; height: 21px;">
                                            <option value="all">Wszystkie</option>
                                            <?php foreach($this->miasta as $miasto): ?>
                                            <option value="<?php echo $miasto['miasto']; ?>" <?php if($this->szukanie->miasto==$miasto['miasto']) echo 'selected="selected"';?>><?php echo $miasto['miasto']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
									<?php endif; ?>
                                    <div class="<?=@$this->szukanie->tryb=="kontrahenci"?"cb":"";?>">
										<?php if($this->szukanie->tryb == "kontrahenci"): ?>
										<?php if($this->obConfig->newsletter): ?>
										<span style="float:left; margin:5px 10px;">
											<input type="checkbox" id="newsletter" name="newsletter" <?php if(@$this->szukanie->newsletter) echo 'checked="checked"'; ?> value="1" />
											<label for="newsletter" style="display:inline;">pokaż&nbsp;ze zgodą na newsletter</label>
										</span>
										<?php endif; ?>
										<?php endif; ?>
										<div class="napis" style="width:60px;"><strong>&nbsp;Data od:&nbsp;</strong></div>
										<div class="radius2 input_bg_small" style="width:100px;">
										<input type="text" class="center" name="dataOd" id="jQuery_od" value="<?php echo $this->szukanie->dataOd; ?>" />
										</div>
										<div class="napis" style="width:60px;"><strong>&nbsp;Data do:&nbsp;</strong></div>
										<div class="radius2 input_bg_small" style="width:100px;">
										<input type="text" class="center" name="dataDo" id="jQuery_do" value="<?php echo $this->szukanie->dataDo; ?>" />
										</div>
										<?php if(false): ?>
                                        <div class="napis" style="width:75px;"><b>Data ur. od:</b></div>
                                        <div class="kontrData" id="kontrDataOd">
                                        <select name="dataOd" class="kontrRok">
                                            <option value="">wyb.</option>
                                        <?php for($i=10;$i<=99;$i++): ?>
                                        <option value="<?php echo $i; ?>" <?php if($this->szukanie->dataOd == $i) echo 'selected="selected"'; ?>><?php echo $i; ?></option>
                                        <?php endfor; ?>
                                        </select>
                                        </div>
                                        <div class="kontrData" id="kontrDataDo">
                                        <span><b>do</b></span>
                                        <select name="dataDo" class="kontrRok">
                                            <option value="">wyb.</option>
                                        <?php for($i=99;$i>=10;$i--): ?>
                                        <option value="<?php echo $i; ?>" <?php if($this->szukanie->dataDo == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
                                        <?php endfor; ?>
                                        </select>
                                        </div>
										<?php endif; ?>
                                    </div>
									
                                </div>
                                <input onclick="return searchAjax('<?= $this->baseUrl; ?>/ajax/upominki/getclient/search/1/','jQ-forma4');" type="button" id="szukaj" value="Szukaj" />
                            </div>
                        </div>
                    </div>
                </form>
                <?php if(!empty($this->rows)): ?>
                    <div class="cb"></div>
                    <div id="ileNaStrone" style="float: left; margin: 13px 0px 0px;">
                        <form id="jQ-forma5" method="post" action="">
                            <span>Sortuj wg: </span>
                            <select name="sortuj" style="width: 240px;" onchange="return searchAjax('<?= $this->baseUrl; ?>/ajax/upominki/getclient/','jQ-forma5');">
                                <option value="">wybierz</option>
								<?php if($this->szukanie->tryb == "kontrahenci"): ?>
								<option <?php if($this->sortuj=='zf') echo 'selected="selected"'; ?> value="zf">nazwiska / firmy</option>
								<?php if(false): ?>
                                <option <?php if($this->sortuj=='za') echo 'selected="selected"'; ?> value="za">wielkości zakupu</option>
								<?php endif; ?>
								<?php if($this->obConfig->lojalnoscPolecenia): ?>
                                <option <?php if($this->sortuj=='zn') echo 'selected="selected"'; ?> value="zn">ilości znajomych</option>
								<?php endif; ?>
								<?php if($this->obConfig->lojalnosc): ?>
                                <option <?php if($this->sortuj=='zk') echo 'selected="selected"'; ?> value="zk">konta rabatowego</option>
								<?php endif; ?>
								<?php endif; ?>
                                <option <?php if($this->sortuj=='zr') echo 'selected="selected"'; ?> value="zr">daty rejestracji</option>
                            </select>
                        </form>
                        </div>
                        <div class="ileNaStrone" style="float: right; color: #777777; margin: 13px 0px 0px;">
                        <form id="jQ-forma6" method="post" action="">
                            <span>Wyświetl na stronie: </span>
                            <select  name="ile" style="width: 90px;" onchange="return searchAjax('<?= $this->baseUrl; ?>/ajax/upominki/getclient/','jQ-forma6');">
								<option value="15" <?php if($this->ile==15) echo 'selected="selected"'; ?>>15</option>
								<option value="100" <?php if($this->ile==100) echo 'selected="selected"'; ?>>100</option>
								<option value="all" <?php if($this->ile == 99999) echo 'selected="selected"'; ?>>wszystkie</option>
                            </select>
                        </form>
                    </div>
                    <div class="cb"></div>
                    <?= $this->render('const/stronicowanie.phtml'); ?>
                    <form id="jQ-forma3" method="post" action="">
                        <div class="rf" style="padding: 0 0px 0 0;">
                            <a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->tryb; ?>', true);">zaznacz</a>
							<span class="lf">&nbsp;&nbsp;</span>
							<a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->tryb; ?>', false);">odznacz</a>
                        </div><br /><br />
                        <table id="jQ-forma2" class="foto_box padding">
                                <colgroup>
                                    <col width="3%"/>
									<col width="5%"/>
									<?php if($this->szukanie->tryb == "subskrypcja" && $this->obConfig->mail): ?>
                                    <col width=""/>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci"): ?>
                                    <col width=""/>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->lojalnosc): ?>
                                    <col width="5%"/>
									<col width="5%"/>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->mail): ?>
                                    <col width="5%"/>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->sms): ?>
                                    <col width="5%"/>
									<?php endif; ?>
                                    <col width="2%"/>
                                </colgroup>
                                <tr>
                                    <th>LP</th>
									<th align="center">Data</th>
									<?php if($this->szukanie->tryb == "subskrypcja" && $this->obConfig->mail): ?>
                                    <th>E-mail</th>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci"): ?>
                                    <th>Nazwisko, Firma</th>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->lojalnosc): ?>
                                    <th>Karta</th>
									<th>Konto</th>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->mail): ?>
                                    <th>E-mail</th>
									<?php endif; ?>
									<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->sms): ?>
                                    <th>Telefon</th>
									<?php endif; ?>
                                    <th>Z</th>
                                </tr>
                                <?php $j = 1; foreach ($this->rows as $row): ?>

                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                    <tr class="<?php echo $style; ?>">
                                        <td align="center"><?= $j++; ?>.</td>
										<td align="center"><?= date("Y-m-d H:i", strtotime($row['data_rej'])); ?></td>
										<?php if($this->szukanie->tryb == "subskrypcja" && $this->obConfig->mail): ?>
										<td><b><?= trim($row['email']); ?></b></td>
										<?php endif; ?>
										<?php if($this->szukanie->tryb == "kontrahenci"): ?>
                                        <td><b><?= trim($row['nazwa_firmy'].' '.$row['nazwisko'].' '.$row['imie']); ?></b></td>
										<?php endif; ?>
										<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->lojalnosc): ?>
                                        <td align="center"><b><?= $row['karta']; ?></b></td>										
										<td align="center"><b><?= $row['konto']; ?></b></td>
										<?php endif; ?>
										<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->mail): ?>
                                        <td align="center">
                                            <?php if(!empty($row['email'])): ?>
                                            <b class="lblcolorGreen">Tak</b><br/><a onmouseover="$(this).tooltip({showURL:false,positionLeft:false,delay:0 }).mouseenter();" class="jQ_tooltip see_ico <?= $style; ?>" title="e-mail: <?= $row['email']; ?>"></a>
                                            <?php else: ?>
                                            <b class="lblcolorRed">Nie</b>
                                            <?php endif; ?>
                                        </td>
										<?php endif; ?>
										<?php if($this->szukanie->tryb == "kontrahenci" && $this->obConfig->sms): ?>
                                        <td align="center">
                                            <?php if(!empty($row['komorka'])): ?>
                                            <b class="lblcolorGreen">Tak</b><br/><a onmouseover="$(this).tooltip({showURL:false,positionLeft:false,delay:0 }).mouseenter();" class="jQ_tooltip see_ico <?= $style; ?>" title="telefon: <?= $row['komorka']; ?>"></a>
                                            <?php else: ?>
                                            <b class="lblcolorRed">Nie</b>
                                            <?php endif; ?>
                                        </td>
										<?php endif; ?>
                                        <td align="center"><input onclick="return appendRowLista(this,'<?=$this->tryb;?>');" type="checkbox" name="post[klient][<?php echo $row['id'];?>]" value="<?php echo $row['komorka'].'|--|'.$row['email'].'|--|'.$row['imie'].'|--|'.$row['nazwisko'].'|--|'.$row['id'];?>"/></td>
                                    </tr>

                                <?php endforeach; ?>
                                <td colspan="6">
                                    <div class="rf dn">
                                        <a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->tryb; ?>', true);">zaznacz</a>
										<a class="btn-orange" onclick="return appendRowAllLista('jQ-forma2','<?php echo $this->tryb; ?>', false);">odznacz</a>
                                    </div>
                                </td>
                        </table>
                    </form>
                <?php else: ?>
                    <div class="info_empty">Brak treści do wyświetlenia.</div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>