<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Lista upominków</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <script type="text/javascript">
                    var www = '<?= $this->www ?>';
                    var baseUrl = '<?= $this->baseUrl; ?>';
                </script>
                <div class="box_link_navi">
                    <a class="add m_linki" rel="http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/dodaj/tryb/'.$this->tryb; ?>" onclick="return requestAjax(this.rel); return false;">Dodaj upominek</a>
                </div>
                <?php if(!empty($this->rows)): ?>
                    <form id="jQ-forma3" method="post" action="">
                        <input type="hidden" name="tryb" value="<?= $this->tryb; ?>" />
                        <table id="jQ-forma2" class="foto_box padding">
                                <colgroup>
                                    <col width="20%"/>
                                    <col width="30%"/>
                                    <col width="20%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                </colgroup>
                                <tr>
                                    <th>Miniatura</th>
                                    <th>Nazwa</th>
                                    <th>Cena</th>
                                    <th>Edytuj</th>
                                    <th>Usuń</th>
                                    <th>Z</th>
                                </tr>
                                <?php $j = 1; foreach ($this->rows as $row): ?>

                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                    <tr class="<?php echo $style; ?>">
                                        <td align="center">
                                            <?php if(!empty($row['img'])): ?>
                                            <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/admin/upominki/<?= $row['img']; ?>" alt="" width="100" border="0" />
                                            <?php else: ?>
                                            <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/images/admin/brak.jpg" alt="" width="100" border="0" />
                                            <?php endif; ?>
                                        </td>
                                        <td><a class="link" rel="http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/edytuj/id/'.$row['id']; ?>/tryb/<?= $this->tryb; ?>" onclick="requestAjax(this.rel);" title="Edytuj"><b><?php echo $row['nazwa']; ?></b></a></td>
                                        <td align="center"><b class="price_lista"><?php echo $row['cena']; ?></b> PLN</td>
                                        <td align="center"><a rel="http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/edytuj/id/'.$row['id']; ?>/tryb/<?= $this->tryb; ?>" onclick="requestAjax(this.rel);" title="Edytuj" class="edit_ico <?php echo $style; ?>">Edytuj</a></td>
                                        <td align="center"><a rel="http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/usun/id/'.$row['id']; ?>/tryb/<?= $this->tryb; ?>/img/<?= !empty($row['img'])? $row['img'] : 'brak'; ?>" onclick="requestAjax(this.rel);" title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" class="del_ico <?php echo $style; ?>">Usuń</a></td>
                                        <td align="center"><input <?= $this->tryb == 0 ? $row['polecany'] == 1 ? 'checked="checked"' : '' : $row['polecajacy'] == 1 ? 'checked="checked"' : ''; ?> type="checkbox" name="deletevalue[<?php echo $row['id'];?>]" value="<?php echo $row['nazwa'];?>"/></td>
                                    </tr>

                                <?php $j++; endforeach; ?>
                                <tr>
                                    <td colspan="2">
                                        <div style="font-size: 12px; line-height: 28px;" class="lf">
                                            Upominki dla <strong><?= $this->tryb == 0 ? 'wszyscy' : 'polecających'; ?></strong>
                                        </div>
                                        <div class="rf">
                                            <div class="">
                                                <input class="btn-orange" onclick="saveItem('http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/upominek/'; ?>','jQ-forma3')" type="button" name="wybierz" value="wybierz zaznaczone" />
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="4">
                                        <div class=" rf">
                                            <a class="btn-orange" onclick="zaznacz('jQ-forma2')">zaznacz / odznacz wszystkie</a>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </form>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>