<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Wybierz kartę to przypisania</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <script type="text/javascript">
                    var www = '<?= $this->www ?>';
                    var baseUrl = '<?= $this->baseUrl; ?>';
                </script>
                <?php if(!empty($this->rows)): ?>
                        <table id="jQ-forma2" class="foto_box padding">
                                <colgroup>
                                    <col width="90%"/>
                                    <col width="10%"/>
                                </colgroup>
                                <tr>
                                    <th colspan="2" align="left" style="text-align: left;">Nr. karty</th>
                                </tr>
                                <?php $j = 1; foreach ($this->rows as $row): ?>

                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                    <tr class="<?php echo $style; ?>">
                                        <td align="left"><b style="cursor: pointer;" onclick="return wybierzkarta('<?php echo $row['karta']; ?>');" class="price_lista"><?php echo $row['karta']; ?></b></td>
                                        <td align="right"><a style="cursor: pointer;" onclick="return wybierzkarta('<?php echo $row['karta']; ?>');" href="#" class="btn-orange">wybierz</a></td>
                                    </tr>

                                <?php $j++; endforeach; ?>
                        </table>
                <?php else: ?>
                <div class="center"><strong>Brak wolnych kart w systemie. Wygeneruj nowe.</strong></div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>