<div class="modul_container">
    <div class="container">
        <div class="box_title">
                <h3 class="title3">Lista utworzonych plików do wydrukowania</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <script type="text/javascript">
                    var www = '<?= $this->www ?>';
                    var baseUrl = '<?= $this->baseUrl; ?>';
                </script>
                <?php if(!empty($this->rows)): ?>
                    <form id="jQ-forma3" method="post" action="">
                        <table id="jQ-forma2" class="foto_box padding">
                                <colgroup>
                                    <col width="30%"/>
                                    <col width="30%"/>
                                    <col width="10%"/>
                                    <col width="10%"/>
                                </colgroup>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Data</th>
                                    <th>Usuń</th>
                                    <th>Z</th>
                                </tr>
                                <?php $j = 1; foreach ($this->rows as $row): ?>

                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                    <tr class="<?php echo $style; ?>">

                                        <td><b><a target="_blank" href="<?= $this->baseUrl; ?>/public/admin/lojalnosc/pdf/<?php echo $row['nazwa']; ?>"><?php echo $row['nazwa']; ?></a></b></td>
                                        <td align="center"><b><?php echo $row['data']; ?></b></td>
                                        <td align="center"><a rel="http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/usunpliki/id/'.$row['id']; ?>/img/<?= $row['nazwa']; ?>" onclick="requestAjax(this.rel);" title="Usuń" class="del_ico <?php echo $style; ?>">Usuń</a></td>
                                        <td align="center"><input type="checkbox" name="deletevalue[<?php echo $row['id'];?>]" value="<?php echo $row['nazwa'];?>"/></td>
                                    </tr>

                                <?php $j++; endforeach; ?>
                                <tr>
                                    <td colspan="1">
                                        <div class="rf">
                                            <div class="">
                                                <input class="btn-orange" onclick="requestpostAjax('http://<?= $this->www.''.$this->baseUrl.'/ajax/upominki/usunpliki/'; ?>','jQ-forma3')" type="button" name="wybierz" value="usuń zaznaczone" />
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="3">
                                        <div class=" rf">
                                            <a class="btn-orange" onclick="zaznacz('jQ-forma2')">zaznacz / odznacz wszystkie</a>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </form>
                <?php else: ?>
                <div class="center"><strong>Brak wygenerowanych plików.</strong></div>             
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>