<?php if(!empty($this->rows)): ?>
    <table class="foto_box padding">
        <thead>
        <tr>
            <th>Miniatura</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <?php $j=1; foreach($this->rows as $row): ?>
        <?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
            <tr class="<?= $style; ?>">
                <td align="center">
                    <?php if(!empty($row['img'])): ?>
                    <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/admin/upominki/<?= $row['img']; ?>" alt="" width="100" border="0" />
                    <?php else: ?>
                    <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/images/admin/brak.jpg" alt="" width="100" border="0" />
                    <?php endif; ?>
                </td>
                <td><strong><?= $row['nazwa']; ?></strong></td>
                <td align="center"><?= $row['cena']; ?> zł</td>
                <td align="center">
                    <a class="facebox edit_ico <?= $style;  ?>" title="Edytuj" href="<?= $this->baseUrl; ?>/ajax/upominki/edytuj/id/<?= $row['id']; ?>/tryb/<?= $this->tryb; ?>">Edytuj</a>
                </td>
                <td align="center">
                    <a class="del_ico <?= $style;  ?>" title="Usuń" href="<?= $this->baseUrl; ?>/ajax/upominki/usun/id/<?= $row['id']; ?>/tryb/<?= $this->tryb; ?>/img/<?= $row['img']; ?>">Usuń</a>
                </td>
            </tr>

        <?php endforeach; ?>
    </table>
    <br />
<?php endif; ?>