<div class="product_content">
    <div class="nagl">
		<b>Płatności elektroniczne - Przelewy24</b>
	</div>
    <div class="error_container lf" style="margin-top: 10px;">
		<?php echo $this->wiadomosc; ?>
	</div>
</div>