<div class="product_content">
	<div class="nagl">
		<b>Płatności elektroniczne - Przelewy24</b>
	</div>
	<?php if(strlen($this->error) > 1): ?>
	<div class="error_container" style="margin: 20px;">
		<?= $this->error; ?>
	</div>
	<?php else: ?>
	<div style="float: left; font-size: 15px; margin-top: 20px; width: 100%; text-align: center; _display: inline;">
		W celu dokonania platności w systemie Przelewy24,<br/>prosimy o wybranie rodzaju płatności oraz kliknięcie na przycisk poniżej. 
		<br /><br />
	</div>
	<form id="payform" class="przelewy24form" action="<?= $this->onlineserviceformlink; ?>" method="POST" name="payform" style="float: left; clear: both; margin-left: 0px; width: 100%;">
		<script src="<?= $this->onlineservicescriptlink; ?><?= $this->przelewy24->idsprzedawcy; ?>&sort=2&style=0&encoding=utf=8&wersja=1&opis=0&cols=4" type="text/javascript"></script>
		<script type="text/javascript">m_formy();</script> 
		<input type="hidden" name="p24_session_id" value="<?= $this->zamowienie['id']; ?>" />
		<input type="hidden" name="p24_id_sprzedawcy" value="<?= $this->przelewy24->idsprzedawcy; ?>" />   
		<?php 
			$kwota = @$this->zamowienie['wartosc_zamowienia'] + @$this->zamowienie['koszt_dostawy']; 
			if($this->zamowienie['rabat_wartosc'] > 0) $kwota -= $this->zamowienie['rabat_wartosc'];
			$kwota = ($kwota) * 100;
			$currency = 'PLN';
		?>
		<input type="hidden" name="p24_kwota" value="<?= $kwota; ?>" />
		<?php $opis = @strlen($this->testbledow) > 2 ? $this->testbledow : 'Transakcja nr. '.$this->zamowienie['id'].'. Data: '.date('Y-m-d'); ?>
		<input type="hidden" name="p24_opis" value="<?= $opis; ?>" />
		<input type="hidden" name="p24_klient" value="<?= $this->zamowienie['imie'].' '.$this->zamowienie['nazwisko']; ?>" />
		<input type="hidden" name="p24_adres" value="<?= $this->zamowienie['ulica'].' '.$this->zamowienie['nr'].''.(!empty($this->zamowienie['mieszkanie']) ? '/'.$this->zamowienie['mieszkanie']: ''); ?>" />
		<input type="hidden" name="p24_kod" value="<?= $this->zamowienie['kod']; ?>" />
		<input type="hidden" name="p24_miasto" value="<?= $this->zamowienie['miasto']; ?>" />
		<input type="hidden" name="p24_kraj" value="PL" />
		<input type="hidden" name="p24_email" value="<?= $this->zamowienie['email']; ?>" />
		<input type="hidden" name="p24_currency" value="<?= $currency; ?>" />
		<input type="hidden" name="p24_language" value="pl" />
		<input type="hidden" name="p24_return_url_ok" value="<?= str_replace("//","/",$this->www.'/przelewy24/back/id/'.$this->zamowienie['id'].'/error/0'); ?>" />
		<input type="hidden" name="p24_return_url_error" value="<?= str_replace("//","/",$this->www.'/przelewy24/back/id/'.$this->zamowienie['id'].'/error/1');?>" />
		<input type="hidden" name="p24_api_version" value="3.2" />
		
		<?php if(false): ?>            
		<input type="hidden" name="p24_crc" value="<?php echo (md5($this->zamowienie['id']."|".$this->przelewy24->idsprzedawcy."|".$kwota."|".$this->przelewy24->crc)); ?>" />
		<?php else: ?>
		<input type="hidden" name="p24_sign" value="<?= md5($this->zamowienie['id']."|".$this->przelewy24->idsprzedawcy."|".$kwota."|".$currency."|".$this->przelewy24->crc); ?>" />
		<?php endif; ?>
		
		<div class="item-payu lf tac" style="width:100%;">
			<input type="submit" id="przelewy24_button" name="submit_send" value="Przejdź na stronę Przelewy24 aby dokonać płatności" class="btn button" />
		</div>
	</form>
	<?php endif; ?>
</div>