
<div class="nagl">BESTSELLERY</div>

<div class="items itemsBestsellery">

<?php if(isset($this->bestsellery) && count($this->bestsellery) > 0 ): ?>
<?php for($i=0; $i<count($this->bestsellery);$i++) { ?>
<?php $this->prod = $this->bestsellery[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
