<?php if($this->obConfig->slajdy): ?>
	<?php //echo $this->render('const/slider.phtml'); ?>
<?php endif; ?>

<?php if(false && $this->obConfig->aktualnosci): ?>
<div id="aktualnosc">
	<div id="aktHeader"><?php echo $this->translate('Aktualnosci');?></div>
	<div id="jQ_karuzela" class="jcarousel-skin-tango">
	<ul>
	<?php if(@count($this->aktualnosci) > 0): ?>
	<?php foreach($this->aktualnosci as $aktualnosc): ?>
	<li>
	<div class="aktualnosc">
	<span class="aktNazwa"><?php echo $aktualnosc['temat']; ?></span>	
	<span class="aktTekst"><?php echo $aktualnosc['skrot']; ?></span>
	<span class="aktData">
	<?php echo $this->translate('dodano');?>:&nbsp;<?php echo date('d.m.Y', strtotime($aktualnosc['data'])); ?>
	</span>
	<a class="aktWiecej" href="<?php echo $this->baseUrl; ?>/Aktualnosc/nr/<?php echo $aktualnosc['id'];?>">
	<b><?php echo $this->translate('wiecej');?></b>&nbsp;--&gt;</a>
	</div>
	</li>
	<?php endforeach; ?>
	<?php endif; ?>
	</ul>
	</div>
</div>
<?php endif; ?>

<?php if (isset($this->tekstPromocyjny)): ?>
    <div id="promocjeTekst">
        <?php if (false): ?>
            <span class="">O firmie</span>
        <?php endif; ?>
        <div>
            <?php echo $this->tekstPromocyjny->tekst; ?>
            <?php if (false): ?>
                <a href="<?php echo $this->baseUrl; ?>/O-firmie" rel="">
                    <img src="<?php echo $this->baseUrl; ?>/public/images/strona/arrow_wiecej.gif" alt="&gt;"/>
                </a>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>


<?php if (false): ?>
    <div class="nagl2 naglMain" id="naglowek">Kategorie produktów</div>
    <div class="items itemsMain">
        <?php echo $this->render('index/kategoriedzieci.phtml'); ?>
        <?php if (false && @count($this->kategorie) > 0): ?>
            <?php for ($i = 0; $i < count($this->kategorie); $i++): ?>
                <?php $this->kat = $this->kategorie[$i]; ?>
                <?php $this->even = ($i % 2 == 0); ?>
                <?php $this->i = $i; ?>
                <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
            <?php endfor; ?>
        <?php else: if (false) echo '<div class="itemsNagl">' . $this->translate('brak kategorii') . '</div>';
        endif; ?>
    </div>
<?php endif; ?>
    <?php if ($this->obConfig->bloki) :?>
        <div id="bloki" class="row">
            <div class="col-md-4">
                <div id="blok1" class="blok-container">
                    <div class="news-title-container" style="position: relative">
                    <div class="news-title">Aktualności</div>
                    </div>
                    <?php foreach ($this->aktualnosci as $news) : ?>
                        <div class="blok-wrapper">
                            <h2><?php echo $news['temat']; ?></h2>
                            <div class="blok-inner">
                                <?php echo $news['tekst']; ?>
                            </div>
                            <div class="news-data-container">
                                <div class="news-data">
                                    <?php $date = new DateTime($news['data']); echo  $date->format("Y-m-d") ;?>
                                    <a class="btn btn-default btn-xs pull-right" href="<?php echo $this->baseUrl . '/Aktualnosc/nr/'. $news['id'];?>" role="button">></a>
                                </div>
                                
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
            <div class="col-md-4">
                <div id="blok2" class="blok-container">
                    <div class="blok-wrapper">
                        <div class="news-title-container" style="position: relative">
                            <div class="news-title"><?php echo $this->blok2['tytul'] ;?></div>
                        </div>                    
                        <div class="blok-inner">
                            <?php echo $this->blok2['tekst'] ;?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div id="blok3" class="blok-container">
                    <div class="blok-wrapper">
                        <div class="news-title-container" style="position: relative">
                            <div class="news-title"><?php echo $this->blok3['tytul'] ;?></div>
                        </div>                    
                        <div class="blok-inner">
                            <?php echo $this->blok3['tekst'] ;?>
                            <a class="btn btn-default btn-xs pull-left" href="<?php echo $this->baseUrl . '/Kontakt';?>" role="button"><span>Więcej</span> ></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ;?>
    <section id="grupa1" class="row">
        <div class="col-md-6">
            <div class="grupa1-container">
                <?php if (true && $this->obConfig->newsletter): ?>
                    <div id="newsletter" class="newsletter">
                        <div class="newsletterNapis">Newsletter</div>
                        <div class="newsletterForm">
                            <div class="col-md-6">
                                <p><span>Zainteresowała Cię nasza oferta?</span></p>
                                <p>Zapisz sie i otrzymuj informacje o naszych produktach i promocjach</p>
                            </div>
                            <div class="col-md-6">
                                <form action="" method="post">
                                    <div class="form-group">
                                        <input id="newsletterFraza" class="form-control" type="email" name="newsletter" value="<?php echo $this->frazaNews; ?>" onblur="if(this.value=='') this.value='<?php echo $this->frazaNews; ?>';" onfocus="if(this.value=='<?php echo $this->frazaNews; ?>') this.value='';" />
                                        <input id="newsletterSubmit" class="btn btn-primary btn-lg" type="image" name="newsletterDodaj" src="<?php echo $this->baseUrl; ?>/public/images/strona/plus-icon.png" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                <?php endif; ?>

            </div>
        </div>
        <div class="col-md-6">
            <div class="grupa1-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.430213984068!2d21.60753895148766!3d49.834373439342535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473dad3e0f02aef3%3A0xab1a667136bbe23b!2sMiko%C5%82aja+Frysztackiego+32%2C+38-130+Frysztak!5e0!3m2!1spl!2spl!4v1450114517183" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
 
    <?php if ($this->obConfig->glownaNowosc): ?>
        <div class="items itemsMain itemsNowosci" id="itemsNowosci">
            <div class="nagl-wrapper"><div class="nagl naglMain"><?php echo $this->translate('Nowosci'); ?></div>                
            </div>
            <div class="item-content">
                <?php if (@count($this->nowosci) > 0): ?>
                    <?php for ($i = 0; $i < count($this->nowosci); $i++): ?>
                        <?php $this->prod = $this->nowosci[$i]; ?>
                        <?php $this->even = ($i % 2 == 0); ?>
                        <?php $this->tripleLast = ($i % 3 == 2); ?>
                        <?php $this->i = $i; ?>
                        <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
                    <?php endfor; ?>
                <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
                endif; ?>
            </div>
        </div>
    <?php endif; ?>
    
    <?php if ($this->promocje) :?>
        <?php if ($this->obConfig->glownaPromocja): ?>
            <div class="items itemsMain itemsPromocje" id="itemsPromocje">
                <div class="nagl-wrapper">
                    <div class="nagl naglMain"><?php echo $this->translate('Promocje'); ?></div>
                </div>
                <div class="item-content">
                    <?php if (@count($this->promocje) > 0): ?>
                        <?php for ($i = 0; $i < count($this->promocje); $i++): ?>
                            <?php $this->prod = $this->promocje[$i]; ?>
                            <?php $this->even = ($i % 2 == 0); ?>
                            <?php $this->tripleLast = ($i % 3 == 2); ?>
                            <?php $this->i = $i; ?>
                            <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
                        <?php endfor; ?>
                    <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
                    endif; ?>
                </div>
            </div>
        <?php endif; ?>
    <?php endif ;?>
    <?php if ($this->obConfig->glownaWyprzedaz): ?>
        <div class="items itemsMain itemsWyprzedaz" id="itemsWyprzedaz">
            <div class="nagl-wrapper"><div class="nagl naglMain"><?php echo $this->translate('Wyprzedaz'); ?></div>
            </div>
            <div class="item-content">
                <?php if (@count($this->wyprzedaze) > 0): ?>
                    <?php for ($i = 0; $i < count($this->wyprzedaze); $i++): ?>
                        <?php $this->prod = $this->wyprzedaze[$i]; ?>
                        <?php $this->even = ($i % 2 == 0); ?>
                        <?php $this->tripleLast = ($i % 3 == 2); ?>
                        <?php $this->i = $i; ?>
                        <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
                    <?php endfor; ?>
                <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
                endif; ?>
            </div>
        </div>
    <?php endif; ?>

<?php if(false && $this->main && $this->obConfig->producent): ?>
	<?php echo $this->render('const/scroller.phtml'); ?>
<?php endif; ?>

<?php if(false) :?>
<div id="produktyTabsAll">

<ul id="produktyTabs">
	<?php if($this->obConfig->glownaPromocja): ?>
	<li class="produktTab">
		<a class="produktTabA" href="#itemsPromocje"><?php echo $this->promocjePage['temat']; ?><b>&nbsp;</b></a>
	</li>
	<?php endif; ?>
	<?php if($this->obConfig->glownaWyprzedaz): ?>
	<li class="produktTab">
		<a class="produktTabA" href="#itemsWyprzedaz"><?php echo $this->wyprzedazPage['temat']; ?><b>&nbsp;</b></a>
	</li>
	<?php endif; ?>
	<?php if($this->obConfig->glownaNowosc): ?>
	<li class="produktTab">
		<a class="produktTabA" href="#itemsNowosci"><?php echo $this->nowosciPage['temat']; ?><b>&nbsp;</b></a>
	</li>
	<?php endif; ?>
	<?php if($this->obConfig->glownaPolecane): ?>
	<li class="produktTab">
		<a class="produktTabA" href="#itemsPolecane"><?php echo $this->polecanePage['temat']; ?><b>&nbsp;</b></a>
	</li>
	<?php endif; ?>
</ul>


        <?php if ($this->obConfig->glownaPromocja): ?>
        <div class="nagl naglMain dn"><?php echo $this->translate('Promocje'); ?></div>
        <div class="items itemsMain itemsPromocje" id="itemsPromocje">
            <?php if (@count($this->promocje) > 0): ?>
                <?php for ($i = 0; $i < count($this->promocje); $i++): ?>
                    <?php $this->prod = $this->promocje[$i]; ?>
                    <?php $this->even = ($i % 2 == 0); ?>
                    <?php $this->tripleLast = ($i % 3 == 2); ?>
                    <?php $this->i = $i; ?>
                    <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
                <?php endfor; ?>
            <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
            endif; ?>
        </div>
    <?php endif; ?>


<?php if($this->obConfig->glownaPromocjaNet): ?>
<div class="nagl naglMain"><?php echo $this->translate('Promocje_internetowe');?></div>
<div class="items itemsMain itemsPromocje">
<?php if(@count($this->promocjeNet) > 0): ?>
<?php for($i=0;$i<count($this->promocjeNet);$i++): ?>
<?php $this->prod = $this->promocjeNet[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php $this->tripleLast = ($i % 3 == 2); ?>
<?php $this->i = $i; ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybGlowna.'.phtml'); ?>
<?php endfor; ?>
<?php else: echo '<div class="itemsNagl">'.$this->translate('brak_produktow').'</div>'; endif; ?>
</div>
<?php endif; ?>


<?php if ($this->obConfig->glownaNowosc): ?>
    <div id="itemsNowosci" class="items itemsMain itemsNowosci dn">
        <div class="nagl naglMain dn"><?php echo $this->translate('Nowosci'); ?>
            <span class="scrollers">
                <?php for ($i = 0; $i < @ceil(count($this->nowosci) / 4); $i++): ?>
                    <a href="javascript:void(0);" rel="" onclick="skrolujProduktyRecznie(this, <?php echo $i; ?>, 'Nowosci', 4, 5000, false);" class="scroller<?php echo $i; ?> scroller_<?php echo $i ? 'in' : '' ?>active">&nbsp;</a>
                <?php endfor; ?>
            </span>
        </div>
        <?php if (@count($this->nowosci) > 0): ?>
            <?php for ($i = 0; $i < count($this->nowosci); $i++): ?>
                <?php $this->prod = $this->nowosci[$i]; ?>
                <?php $this->even = ($i % 2 == 0); ?>
                <?php $this->tripleLast = ($i % 3 == 2); ?>
                <?php $this->i = $i; ?>
                <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
            <?php endfor; ?>
        <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
        endif; ?>
    </div>
<?php endif; ?>


<?php if($this->obConfig->glownaPolecane): ?>
<div class="nagl naglMain dn"><?php echo $this->translate('Polecane');?></div>
<div class="items itemsMain itemsPolecane dn" id="itemsPolecane">
<?php if(@count($this->polecane) > 0): ?>
<?php for($i=0; $i<count($this->polecane);$i++): ?>
<?php $this->prod = $this->polecane[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php $this->tripleLast = ($i % 3 == 2); ?>
<?php $this->i = $i; ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybGlowna.'.phtml'); ?>
<?php endfor; ?>
<?php else: echo '<div class="itemsNagl">'.$this->translate('brak_produktow').'</div>'; endif; ?>
</div>
<?php endif; ?>

<?php if ($this->obConfig->glownaWyprzedaz): ?>
    <div class="items itemsMain itemsWyprzedaz dn" id="itemsWyprzedaz">
        <?php if (@count($this->wyprzedaze) > 0): ?>
            <?php for ($i = 0; $i < count($this->wyprzedaze); $i++): ?>
                <?php $this->prod = $this->wyprzedaze[$i]; ?>
                <?php $this->even = ($i % 2 == 0); ?>
                <?php $this->tripleLast = ($i % 3 == 2); ?>
                <?php $this->i = $i; ?>
                <?php echo $this->render('const/item_' . $this->listaProdTrybGlowna . '.phtml'); ?>
            <?php endfor; ?>
        <?php else: echo '<div class="itemsNagl">' . $this->translate('brak_produktow') . '</div>';
        endif; ?>
    </div>
<?php endif; ?>

<?php if($this->obConfig->glownaSpecjalne): ?>
<div class="nagl naglMain"><?php echo $this->translate('Specjalne');?></div>
<div class="items itemsMain itemsSpecjalne">
<?php if(@count($this->specjalne) > 0): ?>
<?php for($i=0;$i<count($this->specjalne);$i++): ?>
<?php $this->prod = $this->specjalne[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php $this->tripleLast = ($i % 3 == 2); ?>
<?php $this->i = $i; ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybGlowna.'.phtml'); ?>
<?php endfor; ?>
<?php else: echo '<div class="itemsNagl">'.$this->translate('brak_produktow').'</div>'; endif; ?>
</div>
<?php endif; ?>

</div>
<?php endif;?>

<?php if(false && $this->main && $this->obConfig->partnerzy): ?>
	<?php $this->typ = "partnerzy"; ?>
	<?php echo $this->render('const/scroller.phtml'); ?>
<?php endif; ?>
