
<div class="nagl">NOWOŚCI</div>

<div class="items itemsNowosci">

<?php if(isset($this->nowosci) && count($this->nowosci) > 0 ): ?>
<?php for($i=0; $i<count($this->nowosci);$i++) { ?>
<?php $this->prod = $this->nowosci[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
