
<div class="nagl">POLECANE</div>

<div class="items itemsPolecane">

<?php if(isset($this->polecane) && count($this->polecane) > 0 ): ?>
<?php for($i=0; $i<count($this->polecane);$i++) { ?>
<?php $this->prod = $this->polecane[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
