
<div class="nagl">PRODUKT DNIA</div>

<div class="items itemsProduktDnia">

<?php if(isset($this->produktdnia) && count($this->produktdnia) > 0 ): ?>
<?php for($i=0; $i<count($this->produktdnia);$i++) { ?>
<?php $this->prod = $this->produktdnia[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
