
<div class="nagl">PROMOCJE</div>

<div class="items itemsPromocje">

<?php if(isset($this->promocje) && count($this->promocje) > 0 ): ?>
<?php for($i=0; $i<count($this->promocje);$i++) { ?>
<?php $this->prod = $this->promocje[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
