
<div class="nagl">OFERTA SPECJALNA</div>

<div class="items itemsSpecjalne">

<?php if(isset($this->specjalne) && count($this->specjalne) > 0 ): ?>
<?php for($i=0; $i<count($this->specjalne);$i++) { ?>
<?php $this->prod = $this->specjalne[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
