
<div class="nagl">WYPRZEDAŻ</div>

<div class="items itemsWyprzedaz">

<?php if(isset($this->wyprzedaz) && count($this->wyprzedaz) > 0 ): ?>
<?php for($i=0; $i<count($this->wyprzedaz);$i++) { ?>
<?php $this->prod = $this->wyprzedaz[$i]; ?>
<?php $this->even = ($i % 2 == 0); ?>
<?php echo $this->render('const/item_'.$this->listaProdTrybLayout.'.phtml'); ?>
<?php } else: echo '<div class="itemsNagl">Brak produktów</div>'; endif; ?>

</div>
