<?php if($this->obConfig->ankiety && @!empty($this->ankieta) && $this->ankietaUs['widoczny']=='T'): ?>
<div id="podstronaNagl"><?= $this->translate('Ankieta'); ?></div>
<div id="podstronaTekst" style="line-height:25px;">
<?php if(true && count($this->ankieta) > 0): ?>
<form method="post" action="<?php echo $this->baseUrl; ?>/ankieta/index/zamow_potw_kod/<?php echo @$this->zamow_potw_kod; ?>/">
<?php $a=0;foreach($this->ankieta as $ankieta): ?>
<div class="nagl" style="padding:20px 0px;"><?php echo $ankieta['nazwa'];?></div>
<input type="hidden" name="ankietaID[]" value="<?php echo $ankieta['id'];?>" />
<?php //$odps = explode('-|-', $ankieta['odp']); ?>
<?php if(true && count($ankieta['odps']) > 0): ?>
<?php $i=0;foreach($ankieta['odps'] as $odp): ?>
<?php //$vals = explode('*|*', $odp); ?>
<input type="radio" id="odp<?=$odp['id'];?>" name="odpowiedz[<?=$ankieta['id'];?>]" value="<?=$odp['id'];?>" <?php if($i==0) echo 'checked="checked"';?>/>
<label class="nf" for="odp<?=$odp['id'];?>"><?php echo $odp['nazwa']; ?></label><br/>
<?php $i++;endforeach; ?>
<?php endif; ?>
<?php $a++;endforeach; ?>
<input type="submit" class="kontaktSubmit" name="wyniki" value="<?= $this->translate('Głosuj'); ?>" style="margin:20px 0px;" />
</form>
<?php endif; ?>
</div>
<?php endif; ?>