<div class="container p1" style="margin-bottom:20px;">	<div class="top_l"></div>	<div class="top_r"></div>	<div class="content_cont">		<div class="modul_container">			<div class="modul">				<div class="product_content">										<?php if(false): ?>					<div class="nagl wroc">						<a class="powrot" href="javascript:void(0);" rel="" onclick="history.go(-1);">&lt;&lt; Wróć</a>					</div>					<?php elseif($this->obConfig->klienciMenu): ?>						<?php echo $this->render('kontrahent/menu.phtml'); ?>					<?php endif; ?>							        	<h3 class="title3 noheight">Edycja danych osobowych</h3>		        	<div class="box_prod">
            									<?php if(isset($this->blad_edycji) || isset($this->lista_bledow) ): ?>							<div class="error_container">
	                			<?php echo $this->blad_edycji; ?>								<?php echo $this->lista_bledow; ?>
	            			</div>						<?php endif; ?>						       <form action="" method="post" >
			<div style="margin-left: auto; margin-right:auto; width: 600px; border:0px solid blue;">
            <table class="tabela_koszyk_logowanie" style="width: 600px; margin-top: 10px;" cellpadding="1" cellspacing="5" border="0">
                <tr>
                    <td align="center" style="border:0px;">
                        <table width="600" cellspacing="5">
                            <tr>
                                <td style="text-align: right;">
                                </td>
                            <td style="color: red;">
                                <?php echo $this->errors; ?>
                            </td>
                        </tr>						<?php if($this->obConfig->wyborOsobaFirma): ?>
                        <tr>
                            <td style="text-align: right;">
                            </td>
                            <td style="text-align: left; width: 420px;">
                                <input onClick="Prywatna();" id="prywatna" style="width: 20px;" <?php if ($this->new_user['faktura'] != 1) echo 'checked'; ?> name="kontrahent[faktura]" type="radio" value="0" />
                                <label for="prywatna"><?php echo $this->translate('osoba');?></label>
                                <input onClick="Firma();" id="firma" style="width: 20px;" <?php if ($this->new_user['faktura'] == 1) echo 'checked'; ?> name="kontrahent[faktura]" type="radio" value="1" />
                                <label for="firma"><?php echo $this->translate('firma');?></label>
                            </td>
                        </tr>						<?php else: ?>							<?php if($this->obConfig->firmaDomyslnie): ?>							<input id="firma" name="kontrahent[faktura]" type="hidden" value="1" />							<?php else: ?>							<input id="prywatna" name="kontrahent[faktura]" type="hidden" value="0" />							<?php endif; ?>						<?php endif; ?>												<tr id="plec" <?php if(!$this->obConfig->plec): ?> style="display:none;" <?php endif; ?>>													<td style="text-align: right;"> </td>													<?php if(false): ?>														<td style="text-align: left;">							<input id="K" style="width: 20px;" <?php if (isset($this->new_user['plec']) && $this->new_user['plec'] == 'K') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="K"/>							<label for="K" style="line-height:25px;"><?php echo $this->translate('kobieta');?> *</label>							<input id="M" style="width: 20px;" <?php if (isset($this->new_user['plec']) && $this->new_user['plec'] == 'M') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="M"/>							<label for="M" style="line-height:25px;"><?php echo $this->translate('mezczyzna');?> *</label>							</td>														<?php else: ?>														<td style="text-align: left;" colspan="1">															<div style="float:left; width:auto; text-align:center; border:1px solid #A8A8A8; margin:0 0%;">														<div style="float:left; width:50%; padding-top:20px; padding-bottom:10px;">														<img src="<?php echo $this->baseUrl; ?>/public/images/strona/woman.jpg" height="100" />							<br clear="all" />							<input id="K" style="float:none;width:20px;" <?php if (isset($this->new_user['plec']) && $this->new_user['plec'] == 'K') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="K"/>														<label for="K" style="line-height:25px;"><?php echo $this->translate('kobieta');?> *</label>														</div>														<div style="float:left; width:50%; padding-top:20px; padding-bottom:10px;">														<img src="<?php echo $this->baseUrl; ?>/public/images/strona/man.jpg" height="100" />							<br clear="all" />							<input id="M" style="float:none;width:20px;" <?php if (isset($this->new_user['plec']) && $this->new_user['plec'] == 'M') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="M"/>														<label for="M" style="margin-top:-10px !important;"><?php echo $this->translate('mezczyzna');?> *</label>														</div>														</div>							</td>														<?php endif; ?>                        </tr>												<?php if($this->obConfig->klienciLogin != 'email'): ?>					<tr>						<td style="text-align: right;">							<b><?php echo $this->translate('login');?> *</b>						</td>						<td style="text-align: left;">							<input name="kontrahent[<?php echo $this->obConfig->klienciLogin;?>]" type="text" value="<?php echo $this->new_user[$this->obConfig->klienciLogin]; ?>" />						</td>					</tr>					<?php endif; ?>											                    <tr>                        <td style="text-align: right;">                            <input id="h" onClick="Rejestracja()" style="width: 20px;" value="1" type="checkbox" name="kontrahent[zmien_haslo]"/>                        </td>                        <td style="text-align: left;">                           <label for="h"><?php echo $this->translate('zmien_haslo');?></label>                        </td>                    </tr>                    <tr>                        <td style="text-align: right;">                            <div class="hidden" id="h1">                            <b><?php echo $this->translate('haslo');?> *</b>                            </div>                        </td>                        <td style="text-align: left;">                            <div class="hidden" id="h2">                            <input name="kontrahent[haslo1]" type="password"/> (<?php echo $this->translate('min_znakow');?>)                            </div>                        </td>                    </tr>                    <tr>                        <td style="text-align: right;">                            <div class="hidden" id="h3">                            <b><?php echo $this->translate('powtorz_haslo');?> *</b>                            </div>                        </td>                        <td style="text-align: left;">                            <div class="hidden" id="h4">                            <input name="kontrahent[haslo]" type="password"/>                            </div>                        </td>                    </tr>
                        <tr>
                            <td style="text-align: right;">
                                <div class="hidden" id="f1">
                                    <b><?php echo $this->translate('firma');?> *</b>
                                </div>
                            </td>
                            <td style="text-align: left;">
                                <div class="hidden" id="f2">
                                    <input name="kontrahent[nazwa_firmy]" type="text" value="<?php echo $this->new_user['nazwa_firmy']; ?>"/>
                                </div>
                            </td>
                        </tr>												<tr <?php if(!$this->obConfig->pesel): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">                                <div class="hidden" id="f11">                                    <b><?php echo $this->translate('pesel');?></b>                                </div>															</td>															<td style="text-align: left;">                                <div class="hidden" id="f12">                                <input name="kontrahent[pesel]" type="text" value="<?php echo $this->new_user['pesel'];?>">                                </div>                            </td>                        </tr>
                        <tr <?php if(!$this->obConfig->nip): ?> style="display:none;" <?php endif; ?>>
                            <td style="text-align: right;">
                                <div id="f3">
                                    <b><?php echo $this->translate('nip');?> *</b>
                                </div>
                            </td>
                            <td style="text-align: left;">
                                <div>
                            <input id="f4" name="kontrahent[nip]" type="text" value="<?php echo $this->new_user['nip'];?>">
                                </div>
                            </td>
                        </tr>												<tr <?php if(!$this->obConfig->regon): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">                                <div class="hidden" id="f5">                                    <b><?php echo $this->translate('regon');?> *</b>                                </div>                            </td>                            <td style="text-align: left;">                                <div class="hidden" id="f6">                                    <input name="kontrahent[regon]" type="text" value="<?php echo $this->new_user['regon']; ?>"/>                                </div>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->pkd): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">                                <div class="hidden" id="f7">                                    <b><?php echo $this->translate('pkd');?></b>                                </div>                            </td>                            <td style="text-align: left;">                                <div class="hidden" id="f8">                                    <input name="kontrahent[pkd]" type="text" value="<?php echo $this->new_user['pkd']; ?>"/>                                </div>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->krs): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">                                <div class="hidden" id="f9">                                    <b><?php echo $this->translate('krs');?></b>                                </div>															</td>															<td style="text-align: left;">                                <div class="hidden" id="f10">                                    <input name="kontrahent[krs]" type="text" value="<?php echo $this->new_user['krs']; ?>"/>                                </div>                            </td>                        </tr>										<tr><td colspan="2"><div id="h5" class="hidden">&nbsp;</div></td></tr>
                        
                        <tr>
                            <td style="text-align: right;">
                            <b>							<?php echo $this->translate('ulica');?> *, <?php echo $this->translate('nr_domu_miesz');?>							</b>
                            </td>
                            <td style="text-align: left;">
                                <input style="width: 96px; margin-right: 5px;" name="kontrahent[ulica]" type="text"  value="<?php echo $this->new_user['ulica']; ?>"/>
                                <input style="width: 40px; margin-right: 5px;" name="kontrahent[nr]" type="text"  value="<?php echo $this->new_user['nr']; ?>"/>/
                                <input style="width: 37px;" name="kontrahent[mieszkanie]" type="text" value="<?php if(@intval($this->new_user['mieszkanie']) > 0) echo $this->new_user['mieszkanie']; ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
							<b>							<?php echo $this->translate('kod_pocztowy');?> *, <?php echo $this->translate('miasto');?> *							</b>
                            </td>
                            <td style="text-align: left;">
                                <input style="width: 71px; margin-right: 5px;" name="kontrahent[kod]" type="text" value="<?php echo $this->new_user['kod']; ?>"/>
                                <input style="width: 117px;" name="kontrahent[miasto]" type="text" value="<?php echo $this->new_user['miasto']; ?>"/>
                            </td>
                        </tr>												<tr <?php if(!$this->obConfig->wojew): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">                                <b><?php echo $this->translate('wojewodztwo');?> *</b>                            </td>                            <td style="text-align: left;">																<select style="width:150px;" name="kontrahent[wojew]" id="wojew">								<option value=""><?php echo $this->translate('wybierz');?></option>								<?php if(@count($this->wojew) > 0): ?>								<?php foreach($this->wojew as $woj): ?>								<option value="<?php echo $woj; ?>" <?php if($woj == $this->new_user['wojew']) echo 'selected="selected"';?>><?php echo $woj;?></option>								<?php endforeach;?>								<?php endif; ?>								</select>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->kraje): ?> style="display:none;" <?php endif; ?>>						    <td style="text-align: right;">								<b><?php echo $this->translate('kraj');?> *</b>							</td>							<td style="text-align: left;">																<select name="kontrahent[kraj]" style="width:210px;" onchange="szukajWojew(this,'wojew');">								<option value=""><?php echo $this->translate('wybierz');?></option>								<?php if(@count($this->kraje) > 0): ?>								<?php foreach($this->kraje as $kraj): ?>								<option value="<?php echo $kraj['country-name'];?>" <?php if($kraj['country-name'] == @$this->new_user['kraj'] || (@empty($this->new_user['kraj']) && $kraj['country-name'] == 'Polska')) echo 'selected="selected"';?>><?php echo $kraj['country-name'];?></option>								<?php endforeach;?>								<?php endif; ?>								</select>							</td>					    </tr>														<tr <?php if(!$this->obConfig->dataWWW): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">                                <b><?php echo $this->translate('data_ur_zal');?><br/>								/ <?php echo $this->translate('strona_www');?></b>                            </td>                            <td style="text-align: left;">                                <input style="width: 71px; margin-right: 5px;" name="kontrahent[data]" type="text" value="<?php echo $this->new_user['data']; ?>"/>                                <input style="width: 117px;" name="kontrahent[www]" type="text" value="<?php echo $this->new_user['www']; ?>"/>                            </td>                        </tr>												<tr><td colspan="2"><div id="f0" class="hidden">&nbsp;</div></td></tr>												<tr>                            <td style="text-align: right;">                               <b><?php echo $this->translate('imie_nazw');?> *</b>                            </td>                            <td style="text-align: left;">                                <input style="width: 96px; margin-right: 5px;" name="kontrahent[imie]" type="text"  value="<?php echo $this->new_user['imie']; ?>"/>                                <input style="width: 92px;" name="kontrahent[nazwisko]" type="text"  value="<?php echo $this->new_user['nazwisko']; ?>"/>                            </td>                        </tr>					                        <tr>                            <td style="text-align: right;">                                <b><?php echo $this->translate('email');?> *</b>                            </td>                            <td style="text-align: left;">                                <input name="kontrahent[email]" type="text"  value="<?php echo $this->new_user['email']; ?>"/>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->telefon): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: right;">								<b><?php echo $this->translate('telefon');?> *								<?php if($this->obConfig->komorka): ?>								, <?php echo $this->translate('komorka');?> *								<?php endif; ?>								</b>							</td>							<td style="text-align: left;">								<input style="width: 96px; margin-right: 5px;" name="kontrahent[telefon]" type="text" value="<?php echo $this->new_user['telefon']; ?>" />																<?php if($this->obConfig->komorka): ?>								<input style="width: 96px; margin-right: 5px;" name="kontrahent[komorka]" type="text" value="<?php echo $this->new_user['komorka']; ?>" />								<?php endif; ?>							</td>                        </tr>			
                        <tr>
                            <td style="text-align: right;">
                                <input <?php if($this->new_user['inny_adres_dostawy'] == 1) echo 'checked="checked"'; ?> onClick="Dostawa();" id="d" style="width: 20px;" value="1" type="checkbox" name="kontrahent[inny_adres_dostawy]" />
                               </td>
                               <td style="text-align: left;">
                                   <label for="d"><?php echo $this->translate('inny_adres_dostawy');?></label>
                               </td>
                           </tr>
                       </table>
                       <div class="hidden" id="adres">
                           <table width="600" cellspacing="5">
                               <tr>
                                   <td style="text-align: right; width:220px;">
                                       <b><?php echo $this->translate('firma');?> *</b>
                                   </td>
                                   <td style="text-align: left;">
                                       <input name="kontrahent[nazwa_firmy_korespondencja]" type="text" value="<?php echo $this->new_user['nazwa_firmy_korespondencja']; ?>"/>
                                   </td>
                               </tr>
                               <tr>
                                   <td style="text-align: right;">
                                       <b><?php echo $this->translate('ulica');?> *, <?php echo $this->translate('nr_domu_miesz');?></b>
                                   </td>
                                   <td style="text-align: left;">
                                       <input style="width: 96px; margin-right: 5px;" name="kontrahent[ulica_korespondencja]" type="text" value="<?php echo $this->new_user['ulica_korespondencja']; ?>"/>
                                       <input style="width: 40px; margin-right: 5px;" name="kontrahent[nr_korespondencja]" type="text" value="<?php echo $this->new_user['nr_korespondencja']; ?>"/>/
                                       <input style="width: 37px;" name="kontrahent[mieszkanie_korespondencja]" type="text" value="<?php if(@intval($this->new_user['mieszkanie_korespondencja']) > 0) echo $this->new_user['mieszkanie_korespondencja']; ?>"/>
                                   </td>
                               </tr>
                               <tr>
                                   <td style="text-align: right;">
                                       <b><?php echo $this->translate('kod_pocztowy');?> *, <?php echo $this->translate('miasto');?> *</b>
                                   </td>
                                   <td style="text-align: left;">
                                       <input style="width: 71px; margin-right: 5px;" name="kontrahent[kod_korespondencja]" type="text" value="<?php echo $this->new_user['kod_korespondencja']; ?>"/>
                                       <input style="width: 117px;" name="kontrahent[miasto_korespondencja]" type="text" value="<?php echo $this->new_user['miasto_korespondencja']; ?>"/>
                                   </td>
                               </tr>							   							   <tr <?php if(!$this->obConfig->wojew): ?> style="display:none;" <?php endif; ?>>									<td style="text-align: right;">										<b><?php echo $this->translate('wojewodztwo');?> *</b>									</td>									<td style="text-align: left;">																				<select style="width:150px;" name="kontrahent[wojew_korespondencja]" id="wojewKoresp">										<option value=""><?php echo $this->translate('wybierz');?></option>										<?php if(@count($this->wojewKoresp) > 0): ?>										<?php foreach($this->wojewKoresp as $woj): ?>										<option value="<?php echo $woj; ?>" <?php if($woj == $this->new_user['wojew_korespondencja']) echo 'selected="selected"';?>><?php echo $woj;?></option>										<?php endforeach;?>										<?php endif; ?>										</select>									</td>								</tr>																<tr <?php if(!$this->obConfig->kraje): ?> style="display:none;" <?php endif; ?>>									<td style="text-align: right;">										<b><?php echo $this->translate('kraj');?> *</b>									</td>									<td style="text-align: left;">																				<select name="kontrahent[kraj_korespondencja]" style="width:210px;" onchange="szukajWojew(this, 'wojewKoresp');">										<option value=""><?php echo $this->translate('wybierz');?></option>										<?php if(@count($this->kraje) > 0): ?>										<?php foreach($this->kraje as $kraj): ?>										<option value="<?php echo $kraj['country-name'];?>" <?php if($kraj['country-name'] == @$this->new_user['kraj_korespondencja'] || (@empty($this->new_user['kraj_korespondencja']) && $kraj['country-name'] == 'Polska')) echo 'selected="selected"';?>><?php echo $kraj['country-name'];?></option>										<?php endforeach;?>										<?php endif; ?>										</select>									</td>								</tr>																<tr>                                   <td style="text-align: right;">                                       <b><?php echo $this->translate('imie_nazw');?> *</b>                                   </td>                                   <td style="text-align: left;">                                       <input style="width: 96px; margin-right: 5px;" name="kontrahent[imie_korespondencja]" type="text" value="<?php echo $this->new_user['imie_korespondencja']; ?>"/>                                       <input style="width: 92px;" name="kontrahent[nazwisko_korespondencja]" type="text" value="<?php echo $this->new_user['nazwisko_korespondencja']; ?>"/>                                   </td>                               </tr>								<tr <?php if(!$this->obConfig->telefon): ?> style="display:none;" <?php endif; ?>>									<td style="text-align: right;">										<b><?php echo $this->translate('telefon');?> *										<?php if($this->obConfig->komorka): ?>										, <?php echo $this->translate('komorka');?> *										<?php endif; ?>										</b>									</td>									<td style="text-align: left;">										<input style="width: 96px; margin-right: 5px;" name="kontrahent[telefon_korespondencja]" type="text" value="<?php echo $this->new_user['telefon_korespondencja']; ?>"/>																				<?php if($this->obConfig->komorka): ?>										<input style="width: 96px; margin-right: 5px;" name="kontrahent[komorka_korespondencja]" type="text" value="<?php echo $this->new_user['komorka_korespondencja']; ?>"/>										<?php endif; ?>									</td>								</tr>
                           </table>
                       </div>
                       <table width="600" cellspacing="5">
                           <tr>
                               <td colspan="2" style="text-align: left;">
								    <br/>																		&nbsp;* - <?php echo $this->translate('pola_wymagane');?>																		<br/><br/>																		<?php if($this->obConfig->regulamin): ?>									<input style="width: 20px;" value="1" type="checkbox" name="kontrahent[regulamin]" checked="checked" />
                                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->translate('regulamin');?>"><?php echo $this->translate('akceptuje_regulamin');?>.</a>									<?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: left;">
								<input class="edycja_danych_przycisk" type="submit" value="<?php echo $this->translate('zapisz');?>" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">							<!--
                               Po rejestracji zostanie wysłany do Państwa email z linkiem aktywującym konto.							-->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>		</div>
    </form>					</div>				</div>			</div>		</div>	</div>			<div class="bottom_l"></div>	<div class="bottom_r"></div></div>
