<div class="container p1" style="margin-bottom:20px;">	<div class="top_l"></div>	<div class="top_r"></div>	<div class="content_cont">		<div class="modul_container">			<div class="modul">				<div class="product_content">		        	<h3 class="title3 noheight"><?php echo $this->translate('rejestracja');?></h3>		        	<div class="box_prod">										<?php echo @$this->info->tekst; ?>						<?php if(isset($this->accept) || isset($this->lista_bladow) ): ?>													<div class="error_container">		                			<?php echo $this->accept; ?>								<?php echo $this->lista_bladow; ?>									            			</div>            									<?php endif; ?>
        <form action="" method="post" >
			<div id="rejestruj"></div>			<div id="rejestracja">            <table class="tabela_koszyk_logowanie" style="width:100%; margin-top: 0px;" cellpadding="1" cellspacing="5" border="0">
                <tr>
                    <td align="center" style="border:0;">
                        <table width="375" cellspacing="5">
                            <tr>
                                <td style="color: red;">
                                <?php echo $this->errors; ?>
								</td>
							</tr>						<?php if($this->obConfig->wyborOsobaFirma): ?>
                        <tr>
                            <td style="text-align: center;">
							<input onClick="Prywatna();" id="prywatna" style="float:none; width: 20px;" <?php if(!$this->obConfig->firmaDomyslnie && !$this->hurt) echo 'checked';?> name="kontrahent[faktura]" type="radio" value="0"/>
                               <label for="prywatna" style="line-height:25px;"><?php echo $this->translate('osoba');?></label>
							<input onClick="Firma();" id="firma" style="float:none; width: 20px;" <?php if($this->obConfig->firmaDomyslnie || $this->hurt) echo 'checked'; ?> name="kontrahent[faktura]" type="radio" value="1"/>
                                <label for="firma" style="line-height:25px;"><?php echo $this->translate('firma');?></label>
                            </td>
                        </tr>						<?php else: ?>							<?php if($this->obConfig->firmaDomyslnie): ?>							<input id="firma" name="kontrahent[faktura]" type="hidden" value="1" />							<?php else: ?>							<input id="prywatna" name="kontrahent[faktura]" type="hidden" value="0" />							<?php endif; ?>						<?php endif; ?>												<tr id="plec" <?php if(!$this->obConfig->plec): ?> style="display:none;" <?php endif; ?>>													<?php if(false): ?>														<td style="text-align: center;">							<input id="K" style="float:none; width:20px;" <?php if(isset($this->new_user['plec']) && $this->new_user['plec'] == 'K') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="K"/>                            <label for="K" style="line-height:25px;"><?php echo $this->translate('kobieta');?> *</label>							<input id="M" style="float:none; width:20px;" <?php if(isset($this->new_user['plec']) && $this->new_user['plec'] == 'M') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="M"/>                            <label for="M" style="line-height:25px;"><?php echo $this->translate('mezczyzna');?> *</label>                            </td>														<?php else: ?>													<td style="text-align: center; border: 1px solid #A8A8A8;">														<div style="float:left; width:50%; padding-top:20px; padding-bottom:10px;">														<img src="<?php echo $this->baseUrl; ?>/public/images/strona/woman.jpg" height="100" />							<br clear="all" />							<input id="K" style="float:none;width:20px;" <?php if (isset($this->new_user['plec']) && $this->new_user['plec'] == 'K') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="K"/>														<label for="K" style="line-height:25px;"><?php echo $this->translate('kobieta');?> *</label>														</div>														<div style="float:left; width:50%; padding-top:20px; padding-bottom:10px;">														<img src="<?php echo $this->baseUrl; ?>/public/images/strona/man.jpg" height="100" />							<br clear="all" />							<input id="M" style="float:none;width:20px;" <?php if (isset($this->new_user['plec']) && $this->new_user['plec'] == 'M') echo 'checked'; ?> name="kontrahent[plec]" type="radio" value="M"/>														<label for="M" style="margin-top:-10px!important;"><?php echo $this->translate('mezczyzna');?> *</label>														</div>                            </td>														<?php endif; ?>                        </tr>												<?php if($this->obConfig->lojalnosc): ?>												<tr>                            <td style="text-align: left;">                                <b>Numer karty rabatowej osoby polecającej</b>                                <input name="karta" type="text" value="<?php echo @$this->numerKarty; ?>" />                            </td>                        </tr>												<?php endif; ?>												<?php if(true || $this->obConfig->klienciLogin != 'email'): ?>						<tr>							<td style="text-align: left;">								<?php if($this->obConfig->klienciLogin == 'email'): ?>                                <b><?php echo $this->translate('email');?></b> *								<?php else: ?>								<b><?php echo $this->translate('login');?></b> *								<?php endif; ?>                                <input name="kontrahent[<?php echo $this->obConfig->klienciLogin;?>]" type="text" value="<?php echo $this->new_user[$this->obConfig->klienciLogin]; ?>" />                            </td>						</tr>						<?php endif; ?>                        <tr>                            <td style="text-align: left;">                                <b><?php echo $this->translate('haslo');?></b>								(<?php echo $this->translate('min_znakow');?>) *                                <input name="kontrahent[haslo1]" type="password"/>                            </td>                        </tr>                        <tr>                            <td style="text-align: left;">                                <b><?php echo $this->translate('powtorz_haslo');?> *</b>                                <input name="kontrahent[haslo]" type="password"/>                            </td>                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <div class="hidden" id="f1">
                                    <b><?php echo $this->translate('firma');?> *</b>
                                </div>
                                <div class="hidden" id="f2">
                                    <input name="kontrahent[nazwa_firmy]" type="text" value="<?php echo $this->new_user['nazwa_firmy']; ?>"/>
                                </div>
                            </td>
                        </tr>												<tr><td colspan="2"><div id="f0" class="hidden">&nbsp;</div></td></tr>												<tr>                            <td style="text-align: left;">                                <div style="float:left; width:50%;"><b><?php echo $this->translate('imie');?> *</b></div>																<div style="float:left; width:45%;"><b><?php echo $this->translate('nazwisko');?> *</b></div>                                <input style="width: 45%;" name="kontrahent[imie]" type="text"  value="<?php echo $this->new_user['imie']; ?>"/>																<div style="float:left; width:2%;"><b>&nbsp;</b></div>                                <input style="width: 49%;" name="kontrahent[nazwisko]" type="text"  value="<?php echo $this->new_user['nazwisko']; ?>"/>                            </td>                        </tr>												<?php if(false || $this->obConfig->klienciLogin != 'email'): ?>                        <tr>                            <td style="text-align: left;">                                <b><?php echo $this->translate('email');?></b> *                                <input name="kontrahent[email]" type="text"  value="<?php echo $this->new_user['email']; ?>"/>                            </td>                        </tr>						<?php endif; ?>												<tr <?php if(!$this->obConfig->telefon): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">                                <div style="float:left; width:47%;"><b><?php echo $this->translate('telefon');?> *</b></div>																<div style="float:left; width:6%;"><b>&nbsp;</b></div>																<?php if($this->obConfig->komorka): ?>								<div style="float:left; width:47%;"><b><?php echo $this->translate('komorka');?> *</b>								</div>								<?php endif; ?>																<br/>								<input style="width:45%;" name="kontrahent[telefon]" type="text" value="<?php echo $this->new_user['telefon']; ?>" />																<div style="float:left; width:6%;"><b>&nbsp;</b></div>																<?php if($this->obConfig->komorka): ?>								<input style="width:45%;" name="kontrahent[komorka]" type="text" value="<?php echo $this->new_user['komorka']; ?>" />								<?php endif; ?>                            </td>                        </tr>																		<tr <?php if(!$this->obConfig->pesel): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">                                <div class="hidden" id="f11">                                    <b><?php echo $this->translate('pesel');?></b>                                </div>                                <div class="hidden" id="f12">                                <input name="kontrahent[pesel]" type="text" value="<?php echo $this->new_user['pesel'];?>">                                </div>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->nip): ?> style="display:none;" <?php endif; ?>>
                            <td style="text-align: left;">
                                <div id="f3">
                                    <b><?php echo $this->translate('nip');?> *</b>
                                </div>
                                <div>
							<input id="f4" name="kontrahent[nip]" type="text" value="<?php echo $this->new_user['nip'];?>">
                                </div>
                            </td>
                        </tr>																		<tr <?php if(!$this->obConfig->regon): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">                                <div class="hidden" id="f5">                                    <b><?php echo $this->translate('regon');?> *</b>                                </div>                                <div class="hidden" id="f6">                                    <input name="kontrahent[regon]" type="text" value="<?php echo $this->new_user['regon']; ?>"/>                                </div>                            </td>                        </tr>																		<tr <?php if(!$this->obConfig->pkd): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">                                <div class="hidden" id="f7">                                    <b><?php echo $this->translate('pkd');?></b>                                </div>                                <div class="hidden" id="f8">                                    <input name="kontrahent[pkd]" type="text" value="<?php echo $this->new_user['pkd']; ?>"/>                                </div>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->krs): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">                                <div class="hidden" id="f9">                                    <b><?php echo $this->translate('krs');?></b>                                </div>                                <div class="hidden" id="f10">                                    <input name="kontrahent[krs]" type="text" value="<?php echo $this->new_user['krs']; ?>"/>                                </div>                            </td>                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <div style="float:left; width:73%;"><b><?php echo $this->translate('ulica');?> *</b></div>																<div style="float:left; width:27%;"><b><?php echo $this->translate('nr_domu_miesz');?></b></div>
                                <input style="width: 65%;" name="kontrahent[ulica]" type="text"  value="<?php echo $this->new_user['ulica']; ?>"/>																<div style="float:left; width:7%;"><b>&nbsp;</b></div>
                                <input style="width: 10%" name="kontrahent[nr]" type="text"  value="<?php echo $this->new_user['nr']; ?>"/>																<div style="float:left; width:2%;"><b>&nbsp;</b></div>
                                <input style="width: 10%" name="kontrahent[mieszkanie]" type="text" value="<?php echo $this->new_user['mieszkanie']; ?>"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <div style="float:left; width:40%;">									<b><?php echo $this->translate('kod_pocztowy');?> *</b>								</div>																<div style="float:left; width:60%;"><b><?php echo $this->translate('miasto');?> *</b></div>
                                <input style="width: 30%;" name="kontrahent[kod]" type="text" value="<?php echo $this->new_user['kod']; ?>"/>																<div style="float:left; width:7%;"><b>&nbsp;</b></div>
                                <input style="width: 59%;" name="kontrahent[miasto]" type="text" value="<?php echo $this->new_user['miasto']; ?>"/>
                            </td>
                        </tr>
						<tr <?php if(!$this->obConfig->wojew): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">								<div style="float:left; width:47%;"><b><?php echo $this->translate('wojewodztwo');?> *</b></div>																<div style="float:left; width:6%;"><b>&nbsp;</b></div>																<?php if($this->obConfig->kraje): ?>								<div style="float:left; width:47%;"><b><?php echo $this->translate('kraj');?> *</b>								</div>								<?php endif; ?>																<br/>																<select name="kontrahent[wojew]" id="wojew" style="width:47%; <?php if(!$this->obConfig->wojew):?> display:none; <?php endif;?>">								<option value=""><?php echo $this->translate('wybierz');?></option>								<?php if(@count($this->wojew) > 0): ?>								<?php foreach($this->wojew as $woj): ?>								<option value="<?php echo $woj; ?>" <?php if($woj == $this->new_user['wojew']  || (@empty($this->new_user['wojew']) && $woj == 'podkarpackie2')) echo 'selected="selected"';?>><?php echo $woj;?></option>								<?php endforeach;?>								<?php endif; ?>								</select>																<div style="float:left; width:6%;"><b>&nbsp;</b></div>																<?php if($this->obConfig->kraje): ?>								<select name="kontrahent[kraj]" style="width:47%;" onchange="szukajWojew(this,'wojew');">								<option value=""><?php echo $this->translate('wybierz');?></option>								<?php if(@count($this->kraje) > 0): ?>								<?php foreach($this->kraje as $kraj): ?>								<option value="<?php echo $kraj['country-name'];?>" <?php if($kraj['country-name'] == @$this->new_user['kraj'] || (@empty($this->new_user['kraj']) && $kraj['country-name'] == 'Polska')) echo 'selected="selected"';?>>								<?php echo $kraj['country-name'];?></option>								<?php endforeach;?>								<?php endif; ?>								</select>								<?php endif; ?>                            </td>                        </tr>												<tr <?php if(!$this->obConfig->dataWWW): ?> style="display:none;" <?php endif; ?>>                            <td style="text-align: left;">                                <div style="float:left; width:40%;"><b><?php echo $this->translate('data_ur_zal');?></b></div>																<div style="float:left; width:60%;"><b><?php echo $this->translate('strona_www');?></b></div>                                <input style="width: 30%;" name="kontrahent[data]" type="text" value="<?php echo $this->new_user['data']; ?>"/>																<div style="float:left; width:7%;"><b>&nbsp;</b></div>                                <input style="width: 59%;" name="kontrahent[www]" type="text" value="<?php echo $this->new_user['www']; ?>"/>                            </td>                        </tr>
                        <tr>
                            <td style="text-align: left;">
                                <input <?php if (isset($this->new_user['inny_adres_dostawy']) && $this->new_user['inny_adres_dostawy'] == 1) echo 'checked'; ?> onClick="Dostawa()" id="d" style="width: 20px;" value="1" type="checkbox" name="kontrahent[inny_adres_dostawy]" />
                                  <label for="d" style="line-height:25px;"><?php echo $this->translate('inny_adres_dostawy');?></label>
                               </td>
                           </tr>
                       </table>
                       <div class="hidden" id="adres">
                           <table width="375px" cellspacing="5">
                               <tr>
                                   <td style="text-align: left;">
                                       <div style="float:left; width:100%;"><b><?php echo $this->translate('firma');?> *</b></div>
                                       <input name="kontrahent[nazwa_firmy_korespondencja]" type="text" value="<?php echo $this->new_user['nazwa_firmy_korespondencja']; ?>"/>
                                   </td>
                               </tr>
                               <tr>
                                   <td style="text-align: left;">
										<div style="float:left; width:73%;"><b><?php echo $this->translate('ulica');?> *</b></div>																			<div style="float:left; width:27%;"><b><?php echo $this->translate('nr_domu_miesz');?></b></div>										<input style="width: 65%;" name="kontrahent[ulica_korespondencja]" type="text"  value="<?php echo $this->new_user['ulica_korespondencja']; ?>"/>																				<div style="float:left; width:7%;"><b>&nbsp;</b></div>										<input style="width: 10%" name="kontrahent[nr_korespondencja]" type="text"  value="<?php echo $this->new_user['nr_korespondencja']; ?>"/>																				<div style="float:left; width:2%;"><b>&nbsp;</b></div>										<input style="width: 10%" name="kontrahent[mieszkanie_korespondencja]" type="text" value="<?php echo $this->new_user['mieszkanie_korespondencja']; ?>"/>
                                   </td>
                               </tr>
                               <tr>
                                   <td style="text-align: left;">								    <div style="float:left; width:40%;">										<b><?php echo $this->translate('kod_pocztowy');?> *</b>									</div>																	<div style="float:left; width:60%;"><b><?php echo $this->translate('miasto');?> *</b>									</div>									<input style="width: 30%;" name="kontrahent[kod_korespondencja]" type="text" value="<?php echo $this->new_user['kod_korespondencja']; ?>"/>																		<div style="float:left; width:7%;"><b>&nbsp;</b></div>									<input style="width: 59%;" name="kontrahent[miasto_korespondencja]" type="text" value="<?php echo $this->new_user['miasto_korespondencja']; ?>"/>

                                   </td>
                               </tr>
                               <tr <?php if(!$this->obConfig->wojew): ?> style="display:none;" <?php endif; ?>>								<td style="text-align: left;">									<div style="float:left; width:47%;"><b><?php echo $this->translate('wojewodztwo');?> *</b></div>																		<div style="float:left; width:6%;"><b>&nbsp;</b></div>																		<?php if($this->obConfig->kraje): ?>									<div style="float:left; width:47%;"><b><?php echo $this->translate('kraj');?> *</b>									</div>									<?php endif; ?>																		<br/>																		<select name="kontrahent[wojew_korespondencja]" id="wojewKoresp" style="width:47%; <?php if(!$this->obConfig->wojew): ?> display:none; <?php endif; ?>" >									<option value=""><?php echo $this->translate('wybierz');?></option>									<?php if(@count($this->wojewKoresp) > 0): ?>									<?php foreach($this->wojewKoresp as $woj): ?>									<option value="<?php echo $woj; ?>" <?php if($woj == $this->new_user['wojew_korespondencja']) echo 'selected="selected"';?>><?php echo $woj;?></option>									<?php endforeach;?>									<?php endif; ?>									</select>																		<div style="float:left; width:6%;"><b>&nbsp;</b></div>																		<?php if($this->obConfig->kraje): ?>									<select name="kontrahent[kraj_korespondencja]" style="width:47%;" onchange="szukajWojew(this, 'wojewKoresp');">									<option value=""><?php echo $this->translate('wybierz');?></option>									<?php if(@count($this->kraje) > 0): ?>									<?php foreach($this->kraje as $kraj): ?>									<option value="<?php echo $kraj['country-name'];?>" <?php if($kraj['country-name'] == @$this->new_user['kraj_korespondencja'] || (@empty($this->new_user['kraj_korespondencja']) && $kraj['country-name'] == 'Polska')) echo 'selected="selected"';?>>									<?php echo $kraj['country-name'];?></option>									<?php endforeach;?>									<?php endif; ?>									</select>									<?php endif; ?>								</td>							</tr>														<tr>                                   <td style="text-align: left;">                                       <div style="float:left; width:50%;"><b><?php echo $this->translate('imie');?> *</b></div>																		<div style="float:left; width:45%;"><b><?php echo $this->translate('nazwisko');?> *</b></div>										<input style="width: 45%;" name="kontrahent[imie_korespondencja]" type="text"  value="<?php echo $this->new_user['imie_korespondencja']; ?>"/>																				<div style="float:left; width:2%;"><b>&nbsp;</b></div>										<input style="width: 49%;" name="kontrahent[nazwisko_korespondencja]" type="text"  value="<?php echo $this->new_user['nazwisko_korespondencja']; ?>"/>                                   </td>                               </tr>														<tr <?php if(!$this->obConfig->telefon): ?> style="display:none;" <?php endif; ?>>								<td style="text-align: left;">									<div style="float:left; width:47%;"><b><?php echo $this->translate('telefon');?> *</b></div>																		<div style="float:left; width:6%;"><b>&nbsp;</b></div>																		<?php if($this->obConfig->komorka): ?>									<div style="float:left; width:47%;"><b><?php echo $this->translate('komorka');?> *</b>									</div>									<?php endif; ?>																		<br/>									<input style="width:45%;" name="kontrahent[telefon_korespondencja]" type="text" value="<?php echo $this->new_user['telefon_korespondencja']; ?>" />																		<div style="float:left; width:6%;"><b>&nbsp;</b></div>																		<?php if($this->obConfig->komorka): ?>									<input style="width:45%;" name="kontrahent[komorka_korespondencja]" type="text" value="<?php echo $this->new_user['komorka_korespondencja']; ?>" />									<?php endif; ?>								</td>							</tr>
                           </table>
                       </div>
                       <table width="375" cellspacing="5">					   					   <?php if($this->obConfig->klienciPliki): ?>					   <tr>                           <td style="text-align: left;">						   								<input type="file" id="uploadedfile" name="uploadedfile" />																<div id="files"></div>                            </td>                        </tr>						<?php endif; ?>
                        <tr>
                           <td style="text-align: left;">									<br/>																		&nbsp;* - <?php echo $this->translate('pola_wymagane');?>																		<br/><br/>																		<?php if($this->obConfig->regulamin): ?>
									<input style="width: 20px;" value="1" type="checkbox" name="kontrahent[regulamin]" checked="checked" />
									<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->translate('Regulamin');?>" style="line-height:23px;"><?php echo $this->translate('akceptuje_regulamin');?>.</a>									<?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">															<?php if($this->edycjazablokowana === false): ?>
                                <input class="edycja_danych_przycisk" type="submit" value="<?php echo $this->translate('rejestracja');?>" />																<?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">								<?php if($this->ustawienia['potwierdz_rejestr']): ?>
                               <br/><?php echo $this->translate('email_konto_aktywacja');?>							   <?php endif; ?>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>		</div>
    </form>					</div>				</div>			</div>		</div>	</div>			<div class="bottom_l"></div>	<div class="bottom_r"></div></div>
