<div class="box_user">
    <?php echo $this->render('uzytkownik/static/leftcolumn.phtml'); ?>
    <div class="right_column">
        <?php echo $this->render('uzytkownik/static/topcolumn.phtml'); ?>
        <?php echo $this->render($this->controller.'/'.$this->action.'.phtml'); ?>
    </div>
</div>
