<div class="allHeader">
	<div class="tHeader">
		<h2>
			Status przesyłki <b><?php echo $this->numer;?></b>
		</h2>
	</div>
</div>
<div class="product_content">
	<?php if(isset($this->blad_edycji) || isset($this->lista_bledow)): ?>
	<div class="error_container">
		<?php echo $this->blad_edycji; ?>
		<?php echo $this->lista_bledow; ?>
	</div>
	<?php endif; ?>
	<?php if(@!empty($this->numer)): ?>
	<div class="error_container">
		<div class="k_uwaga">
			Trwa pobieranie statusu przesyłki <b><?php echo $this->numer;?></b>...
			<img class="vam" src="<?php echo $this->baseUrl;?>/public/images/strona/lytebox/loading.gif" height="20" />
		</div>
	</div>
	<?php endif; ?>
</div>
<?php if(@!empty($this->numer)): ?>
<script type="text/javascript">
$(document).ready(function()
{
	$.ajax(
	{
		url: "<?php echo $this->baseUrl;?>/ajax/kurierzy/pocztastatus/przesylka/<?php echo $this->numer;?>",
		type: "GET",
		success: function(data)
		{
			$('.error_container').html(data);
		},
		error: function(data)
		{
			$('.error_container').html('<div class="k_blad"><?php echo $this->translate('blad');?>: <b><?php echo $this->numer;?></b></div>');
		}
	});
});
</script>
<?php endif; ?>