<?php if($this->obConfig->klienciMenu): ?>
	<?php echo $this->render('kontrahent/menu.phtml'); ?>
<?php endif; ?>
<div id="sort" class="sortNagl2"><div class="nagl">Twoje rabaty</div></div>
<div id="podstronaTekst" class="podstronaRabaty">
<?php $title = ''; ?>
<?php $title.= 'Stały rabat klienta'; ?>
<?php $title.= '<span class="rabaty" style="color:red;">'; ?>
<?php $title.= number_format($this->kontrahent['rabat'], 2, ',', ' '); ?>
<?php $title.= '&nbsp;%'; ?>
<?php $title.= '</span><br/><br/>'; ?>
<?php if(@count($this->kontrahent['rabaty']) > 0): ?>
<?php foreach($this->kontrahent['rabaty'] as $rabat): ?>
<?php $nazwa = ""; ?>
<?php if($rabat['id_prod'] > 0 && !$this->obConfig->rabatyKlienciProdukty) continue; ?>
<?php if($rabat['id_prod_grupa'] > 0 && !$this->obConfig->rabatyKlienciProduktyGrupy) continue; ?>
<?php if($rabat['producent_id'] > 0 && !$this->obConfig->rabatyKlienciProducent) continue; ?>
<?php if($rabat['kategoria_rab'] > 0 && !$this->obConfig->rabatyKlienciKategorie) continue; ?>
<?php if(@!empty($rabat['nazwa_prod_grupa'])) $title .= 'Grupa:'.($nazwa=$rabat['nazwa_prod_grupa']); ?>
<?php if(@!empty($rabat['nazwa_produkt'])) $title .= ($nazwa=$rabat['nazwa_produkt']); ?>
<?php if(@!empty($rabat['nazwa_kategoria'])) $title .= 'Kategoria:'.($nazwa=$rabat['nazwa_kategoria']); ?>
<?php if(@!empty($rabat['nazwa_producent'])) $title .= 'Producent:'.($nazwa=$rabat['nazwa_producent']); ?>
<?php if(empty($nazwa)) continue; ?>
<?php $title.= '<span class="rabaty">'; ?>
<?php $title.= number_format($rabat['wartosc_rab'], 2, ',', ' '); ?>
<?php $title.= '&nbsp;'.$rabat['typ_rab']; ?>
<?php $title.= '</span><br/>'; ?>
<?php endforeach; ?>
<?php endif; ?>
<?php if(@$this->pokazRabaty): ?>
<?php echo $title; ?>
<?php else: ?>
<a title="" class="see_ico" href="<?php echo $this->baseUrl;?>/admin/kontrahent/rabatydodaj/id/<?php echo $this->kontrahent['id']; ?>" onmouseover="return overlib('<?php echo htmlspecialchars($title); ?>', WIDTH, 350, TEXTSIZE, '10px', BGCLASS, 'rabatyPopup', CELLPAD, 5);" onmouseout="return nd();" tabindex="-1" style="display:inline-block;">Rabaty</a>
<?php endif; ?>
</div>