<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/online/edytuj/">PayU</a>	
			<span class="link_path_end">Konfiguracja PayU</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia PayU</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja PayU:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">PayU:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Pos ID:</label>
							<div class="input_bg w1">
								<input type="text" name="pos_id" value="<?php echo $this->dane['pos_id']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Pos auth key:</label>
							<div class="input_bg w1">
								<input type="text" name="pos_auth_key" value="<?php echo $this->dane['pos_auth_key']; ?>" />
							</div>
						</div>	
						<div class="form_row">
							<label class="required">Key 1:</label>
							<div class="input_bg w1">
								<input type="text" name="key1" value="<?php echo $this->dane['key1']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Key 2:</label>
							<div class="input_bg w1">
								<input type="text" name="key2" value="<?php echo $this->dane['key2']; ?>" />
							</div>
						</div>
                 		<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" value="Zapisz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>