<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/online/lista/">Płatności online</a>
			<span class="link_path_end">Płatności online</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="" />
			<h2 class="title2 p1">Płatności online</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Płatności online:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(count($this->zamowienia) > 0): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width="10%"/>
							<col width="15%"/>
							<col width="40%"/>
							<col width="35%"/>
						</colgroup>
						<tr>
							<th>LP.</th>
							<th>ID płatności</th>
							<th>Nazwa</th>
							<th>Status</th>
						</tr>
						
						<?php $j = 1; foreach ($this->zamowienia as $zam): ?>
								
							<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								
								<td><?php echo $j; ?></td>
								<td><?php echo $zam->idzam; ?></td>
								<td><?php echo $zam->nazwa; ?></td>
								<?php if($zam->status==1) {?>
								<td>Nowa płatność</td>
								<?php }else if($zam->status==2){?>
								<td>Płatność anulowana</td>
								<?php }else if($zam->status==3){?>
								<td>Płatność odrzucona</td>
								<?php }else if($zam->status==4){?>
								<td>Płatność rozpoczęta</td>
								<?php }else if($zam->status==5){?>
								<td>Płatność oczekuje na odbiór</td>
								<?php }else if($zam->status==7){?>
								<td>Zwrot środków do klienta</td>
								<?php }else if($zam->status==99){?>
								<td>Płatność zakończona</td>
								<?php }else if($zam->status==888){?>
								<td>Błędny status - prosimy o kontakt</td>
								<?php } ?>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak płatności online.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>