<div class="button1">
    <a onclick="$('.domyslne.<?= $this->dostawca; ?>').toggle()" href="javascript:void(0);">zobacz domyślne ustawienia</a>
</div>	
<br />

<div style="display: <?php if(isset($this->lista_bledow) && !empty($this->lista_bledow)): ?>block<?php else: ?>none;<?php endif; ?>" class="domyslne <?= $this->dostawca; ?>">
    <br />
    <?php if(!empty($this->lista_bledow)): ?>
        <div class="error_container">
            <?php echo $this->lista_bledow; ?>	
        </div>
    <?php endif; ?>
    <div class="form_title"><h2 class="title4">Nadawca (Sender)</h2></div>
    <div class="form_row">
            <label class="required large">Imię nadawcy:</label>
            <div class="input_bg w1">
            <input type="text" name="nadawca[name]" value="<?php echo $this->nadawca['name']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Nazwisko nadawcy:</label>
            <div class="input_bg w1">
            <input type="text" name="nadawca[surName]" value="<?php echo $this->nadawca['surName']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Numer telefonu nadawcy:</label>
            <div class="input_bg">
            <input type="text" name="nadawca[phoneNum]" value="<?php echo $this->nadawca['phoneNum']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Nazwa ulicy nadawcy:</label>
            <div class="input_bg w1">
            <input type="text" name="nadawca[street]" value="<?php echo $this->nadawca['street']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Identyfikator budynku nadawcy:</label>
            <div class="input_bg_small">
            <input type="text" name="nadawca[buildingNo]" value="<?php echo $this->nadawca['buildingNo']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="large">Identyfikator lokalu nadawcy:</label>
            <div class="input_bg_small">
            <input type="text" name="nadawca[flatNo]" value="<?php echo $this->nadawca['flatNo']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Miasto nadawcy:</label>
            <div class="input_bg w1">
            <input type="text" name="nadawca[town]" value="<?php echo $this->nadawca['town']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Kod pocztowy nadawcy:</label>
            <div class="input_bg_small">
            <input type="text" name="nadawca[zipCode]" value="<?php echo $this->nadawca['zipCode']; ?>"/>
            </div>
    </div>
    <div class="form_row">
            <label class="required large">Województwo:</label>
            <div class="input_bg">
                    <select name="nadawca[province]" id="wojew">
                    <option value="">Wybierz</option>
                    <?php if(@count($this->wojew) > 0): ?>
                    <?php foreach($this->wojew as $woj): ?>
                    <option value="<?php echo $woj; ?>" <?php if($woj == $this->nadawca['province']) echo 'selected="selected"';?>><?php echo $woj;?></option>
                    <?php endforeach;?>
                    <?php endif; ?>
                    </select>
            </div>
    </div>
    
    
</div>