<input type="hidden" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][id]" value="<?php echo $this->w['id_zam']; ?>"/>
<!--fake pole-->
<input type="hidden" name="odbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][id]" value="<?php echo $this->w['id_zam']; ?>"/>
<!---->
<div class="form_row">
        <label class="required large">E-mail odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][email]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['email'];?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Telefon odbiorcy:</label>
        <div class="input_bg">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][phoneNum]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['phoneNum']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="large">Imię odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][name]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['name']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="large">Nazwisko odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][surName]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['surName']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="large">Nazwa firmy odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][companyName]" value="<?php echo @htmlspecialchars(stripslashes($this->odbiorca[$this->dostawca][$this->w['id_zam']]['companyName'])); ?>" />
        </div>
</div>
<div class="form_row">
        <label class="large">Nazwa ulicy odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][street]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['street']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Identyfikator budynku odbiorcy:</label>
        <div class="input_bg_small">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][buildingNo]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['buildingNo']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="large">Identyfikator lokalu odbiorcy:</label>
        <div class="input_bg_small">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][flatNo]" value="<?php echo @!empty($this->odbiorca[$this->dostawca][$this->w['id_zam']]['flatNo']) ? $this->odbiorca[$this->dostawca][$this->w['id_zam']]['flatNo'] : ""; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Miasto odbiorcy:</label>
        <div class="input_bg w1">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][town]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['town']; ?>"/>
        </div>
</div>
<div class="form_row">
        <label class="required large">Kod pocztowy odbiorcy:</label>
        <div class="input_bg_small">
        <input type="text" name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][zipCode]" value="<?php echo $this->odbiorca[$this->dostawca][$this->w['id_zam']]['zipCode']; ?>"/>
        </div>
</div>
<?php if(false): ?>
<div class="form_row">
        <label class="large">Województwo:</label>
        <div class="input_bg">
			<select name="inpostodbiorca[<?= $this->dostawca; ?>][<?= $this->w['id_zam']; ?>][province]" id="wojew">
			<option value="">Wybierz</option>
			<?php if(@count($this->wojew) > 0): ?>
			<?php foreach($this->wojew as $woj): ?>
			<option value="<?php echo $woj; ?>" <?php if($woj == $this->odbiorca[$this->dostawca][$this->w['id_zam']]['province']) echo 'selected="selected"';?>><?php echo $woj;?></option>
			<?php endforeach;?>
			<?php endif; ?>
			</select>
        </div>
</div>
<?php endif; ?>