<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut kolor</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem kolor:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Kolor</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj kolor</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj kolor</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<?php if($this->obConfig->koloryKolor): ?>
							<div class="form_row">
								<label class="required">Kolor:</label>
								<?php $kolor = '000000'; ?>
								<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor; ?>;">
									<input type="hidden" name="kolor" value="<?php echo $kolor; ?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->koloryIkona): ?>
							<div class="form_row">
								<label>Obrazek:</label>
								<div class="input_bg">
									<input type="file" name="img" />
								</div>
							</div>
							<?php endif; ?>
	                 		 <?php if($this->edycjazablokowana === false): ?>
                             <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
							</div>	
							<?php endif; ?>
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->kolory) && count($this->kolory) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="40%"/>
									<?php if($this->obConfig->koloryKolor): ?>
									<col width="20%"/>
									<?php endif; ?>
									<?php if($this->obConfig->koloryIkona): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<?php if($this->obConfig->koloryKolor): ?>
									<th>Kolor</th>
									<?php endif; ?>
									<?php if($this->obConfig->koloryIkona): ?>
									<th>Obrazek</th>
									<?php endif; ?>
									<th>Pozycja</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->kolory as $kolor): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="rowPos <?php echo $style; ?>" id="rowPos_<?php echo $kolor['id'];?>">
									<td class="first img">
										<?php echo $kolor->nazwa; ?>
									</td>
									<?php if($this->obConfig->koloryKolor): ?>
									<td align="center">	
										<div style="background:#<?php echo $kolor->color;?>;">&nbsp;</div>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->koloryIkona): ?>
									<td align="center">	
										<?php if(!empty($kolor->img)): ?>
										<img src="<?php echo $this->baseUrl;?>/public/admin/kolory/<?php echo $kolor->img;?>" alt="" />
										<?php endif; ?>
									</td>
									<?php endif; ?>
									<td align="center">
										<span class="ico_drag"></span>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kolory/edytuj/id/<?php echo $kolor->id;?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kolory/dodaj/delid/<?php echo $kolor->id;?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							<script type="text/javascript">
							$(document).ready(function()
							{
								//if(false)
								$(".foto_box").sortable(
								{
									opacity: 0.6, 
									cursor: 'move', 
									items: "tr.rowPos",
									update: function(event, ui) 
									{
										var id = $(ui.item).attr('id');
										var order = $(this).sortable("serialize") + '&table=kolory'
										$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(res)
										{
											location.reload();
										});
									}
								});
							});
							</script>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych kolorów.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>