<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Wagi</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Wagi" />
			<h2 class="title2 p1">Wagi</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj wagami</h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Wagi</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj wagę</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj wagę</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<div class="form_row">
								<label class="required">Od:</label>
								<div class="input_bg">
									<input type="text" name="od" value="" />
								</div>
							</div>
							<div class="form_row">
								<label class="required">Do:</label>
								<div class="input_bg">
									<input type="text" name="do" value="" />
								</div>
							</div>
							<?php if($this->obConfig->dostawyOdWagi): ?>
							<div class="form_row">
								<label class="required">Sposoby dostawy:</label>
								<div class="input_bg">
									<?php if(count($this->dostawyAll) > 0): ?>
									<?php foreach($this->dostawyAll as $dostawa): ?>
									<input type="checkbox" name="dostawa[]" value="<?php echo $dostawa['id']; ?>" />
									&nbsp;&nbsp;<?php echo $dostawa['nazwa']; ?><br/>
									<?php endforeach; ?>
									<?php endif; ?>
								</div>
							</div>
							<?php endif; ?>
							<?php if(!$this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
							<div class="form_row">
								<label class="required">Koszt przesyłki:</label>
								<div class="input_bg">
									<input type="text" name="koszt" value="" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->edycjazablokowana === false): ?>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
							</div>
							<?php endif; ?>
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->wagi) && count($this->wagi) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="25%"/>
									<col width="10%"/>
									<col width="10%"/>
									<?php if($this->obConfig->dostawyOdWagi): ?>
									<col width="20%"/>
									<?php endif; ?>
									<?php if(!$this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
									<col width="15%"/>
									<?php endif; ?>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Od</th>
									<th>Do</th>
									<?php if($this->obConfig->dostawyOdWagi): ?>
									<th>Sposoby dostawy</th>
									<?php endif; ?>
									<?php if(!$this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
									<th>Koszt przesyłki</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->wagi as $waga): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $waga->nazwa; ?>
									</td>
									<td class="first img">
										<?php echo $waga->od; ?>
									</td>
									<td class="first img">
										<?php echo $waga->do; ?>
									</td>
									<?php if($this->obConfig->dostawyOdWagi): ?>
									<td class="first img">
										<?php if(@count($this->dostawyDlaWagi[$waga['id']]) > 0): ?>
										<?php foreach($this->dostawyDlaWagi[$waga['id']] as $dostawa): ?>
										<?php echo $dostawa['nazwa'].'<br/>'; ?>
										<?php endforeach; ?>
										<?php endif; ?>
									</td>
									<?php endif; ?>
									<?php if(!$this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
									<td class="first img">
										<?php echo $waga->koszt; ?>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/wagi/edytuj/id/<?php echo $waga->id;?>">Edytuj</a>
									</td>
									<td align="center">	
										<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/wagi/dodaj/delid/<?php echo $waga->id;?>">Usuń</a>
										<?php endif; ?>
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych wag.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>