<div class="belka_tytulowa">Koszyk</div>

        <div id="obszar_wyswietlania">
            <center><?php echo $this->accept; ?></center>
            <?php echo $this->lista_bladow; ?>
            <?php if($this->koszyk != ''&& count($this->koszyk)>0) { ?>
            <table id="tabela_koszyk" cellpadding=1 cellspacing=0>
                <tr>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th>Cena brutto</th>
                    <th>Wartosc</th>
                </tr>
                <?php $suma = 0;?>
                <?php for($i=0;$i<count($this->koszyk);$i++) {?>

                <tr>

                    <td><?php echo $this->koszyk[$i]['nazwa'];?><?php if(isset($this->koszyk[$i]['kolor'])) echo ' - '.$this->koszyk[$i]['kolor'].'';?></td>
                    <td><?php echo floor($this->koszyk[$i]['ilosc']);?> szt.</td>
                    <td><?php echo number_format ($this->koszyk[$i]['cena'], 2, '.', ' ');?> PLN</td>
                    <td><?php echo number_format ($this->koszyk[$i]['wartosc'], 2, '.', ' ');?> PLN</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td></td>
                    <td></td>

                </tr>
                    <?php $suma = $suma + $this->koszyk[$i]['wartosc'];?>
                    <?php }?>
                <tr>
                    <td>Suma:</td>
                    <td><?php echo number_format ($suma, 2, '.', ' ');?> PLN</td>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Rabat:</td>
                    <?php if($this->kontrahent['typ']==0){ ?>
                    <td><?php echo $this->kontrahent['upust'];?> %</td>
                    <?php $po_rabacie = $suma - ($suma*($this->kontrahent['upust']/100));?>
                    <?php }else{ ?>
                    <td><?php echo number_format ($this->kontrahent['wartoscupustu'], 2, '.', ' ');?> PLN</td>
                    <?php $po_rabacie = $suma - $this->kontrahent['wartoscupustu'];?>
                    <?php } ?>
                    <td></td>
                    <td></td>

                </tr>
                <tr>
                    <td>Typ płatności:</td>
                    <td><?php echo $this->kontrahent['wysylka'];?> PLN</td>
                    <td></td>
                    <td></td>

                </tr>
                <?php
                $koszt_wysylki = explode("-",$this->kontrahent['wysylka']);
                $po_rabacie = $po_rabacie + trim($koszt_wysylki[1]);
                ?>
                <tr>
                    <td><b>Wartość:</b></td>
                    <td><b><?php
                            echo number_format (round($po_rabacie,2), 2, '.', ' ');
                            ?>	PLN</b></td>
                    <td></td>
                    <td></td>

                </tr>
            </table>
        <form action="https://www.platnosci.pl/paygw/UTF/NewPayment"method="POST" name="payform" style="float: right;">
          <input type="hidden" name="first_name" value="<?php echo $this->kontrahent['imie']; ?>">
          <input type="hidden" name="last_name" value="<?php echo $this->kontrahent['nazwisko']; ?>">
          <input type="hidden" name="email" value="<?php echo $this->kontrahent['email']; ?>">
          <input type="hidden" name="pos_id" value="<?php echo $this->pos['pos_id']; ?>" >
          <input type="hidden" name="pos_auth_key" value="<?php echo $this->pos['pos_auth_key']; ?>" >
          <input type="hidden" name="session_id" value="<?php echo $this->kontrahent['id']; ?>" >
          <input type="hidden" name="amount" value="<?php echo $po_rabacie*100; ?>" >
          <?php
            $opis = $this->kontrahent['imie'].' '.$this->kontrahent['nazwisko'].' - '.$this->kontrahent['email'].' - Zamówienie nr. '.$this->kontrahent['id'].'. Data: '.date('Y-m-d');
          ?>
          <input type="hidden" name="desc" value="<?php echo $opis; ?>" >
          <input type="hidden" name="js" value="0">
          <input type="hidden" name="client_ip" value="<?php echo $_SERVER ["SERVER_ADDR"]; ?>" >
          <!--<input type="hidden" name="pay_type" value="t" >-->
          <input type="submit" value="Zapłać" style="width: 100px; float: left; display: inline; margin-top: 20px;" >
       </form>
            <?php }else{ ?>
            <div id="lista_bledow" style="margin-left: 90px; text-align: center;"><b>Koszyk jest pusty.</b></div>
            <?php } ?>
        </div>