<div class="box_title">
    <h3 class="title3">
        Poczta Polska - Książka nadawcza z dnia <?php echo $this->data; ?> do dnia <?php echo $this->dataDo; ?>:
    </h3>
</div>
<div class="content">
    <div class="all_container">

        <?php if (!empty($this->error)): ?>

            <div class="error_container">

                <?php echo $this->error; ?>	

            </div>

        <?php endif; ?>

        <form action="" method="post" accept-charset="utf-8">

            <div class="kontrData2" id="kontrDataOd" style="width:100%; margin:0px 0px 20px 0px !important;">
                Od <?php $data = explode('-', $this->data); ?>

                <select name="data[rok]" class="kontrRok">
                    <?php for ($i = date('Y'); $i >= 2010; $i--): ?>
                        <option value="<?php echo $i; ?>" <?php if ($data[0] == $i) echo 'selected="selected"'; ?>><?php echo $i; ?></option>
                    <?php endfor; ?>
                </select>

                <select name="data[mc]" class="kontrMc">
                    <?php for ($i = 1; $i <= 12; $i++): ?>
                        <option value="<?php echo strlen($i) == 1 ? '0' . $i : $i; ?>" <?php if ($data[1] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i) == 1 ? '0' . $i : $i; ?></option>
                    <?php endfor; ?>
                </select>

                <select name="data[day]" class="kontrDay">
                    <?php for ($i = 1; $i <= 31; $i++): ?>
                        <option value="<?php echo strlen($i) == 1 ? '0' . $i : $i; ?>" <?php if ($data[2] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i) == 1 ? '0' . $i : $i; ?></option>
                    <?php endfor; ?>
                </select>

            </div>

            <div class="kontrData2" id="kontrDataDo" style="width:100%; margin:0px 0px 20px 0px !important;">
                Do <?php $data = explode('-', $this->dataDo); ?>

                <select name="dataDo[rok]" class="kontrRok">
                    <?php for ($i = date('Y'); $i >= 2010; $i--): ?>
                        <option value="<?php echo $i; ?>" <?php if ($data[0] == $i) echo 'selected="selected"'; ?>><?php echo $i; ?></option>
                    <?php endfor; ?>
                </select>

                <select name="dataDo[mc]" class="kontrMc">
                    <?php for ($i = 1; $i <= 12; $i++): ?>
                        <option value="<?php echo strlen($i) == 1 ? '0' . $i : $i; ?>" <?php if ($data[1] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i) == 1 ? '0' . $i : $i; ?></option>
                    <?php endfor; ?>
                </select>

                <select name="dataDo[day]" class="kontrDay">
                    <?php for ($i = 1; $i <= 31; $i++): ?>
                        <option value="<?php echo strlen($i) == 1 ? '0' . $i : $i; ?>" <?php if ($data[2] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i) == 1 ? '0' . $i : $i; ?></option>
                    <?php endfor; ?>
                </select>		

            </div>

            <div class="button1" style="float:right; margin-right:600px;">
                <input type="submit" name="submit" value="Zmień" />	
            </div>

        </form>		

    </div>
</div>

<?php if (count($this->dane) > 0): ?>

    <a class="listyPocztaDrukujLink" href="javascript:void(0);" rel="" onclick="javascript:print()";>
        <img src="<?php echo $this->baseUrl; ?>/public/images/admin/drukuj.jpg" alt="" border="0" /></a>

    <?php for ($i = 0; $i < ceil(count($this->dane) / 24); $i++): ?>
        <div class="ksiazkaNadawcza">
            <div class="ksiazkaNadawca"><?php echo $this->nadawca; ?></div>
            <table cellpadding="0" cellspacing="0">
                <colgroup>
                    <col width="20"/>
                    <col width="200"/>
                    <col width="200"/>
                    <col width="25"/>
                    <col width="25"/>
                    <col width="25"/>
                    <col width="25"/>
                    <col width="100"/>
                    <col width="70"/>
                    <col width="25"/>
                    <col width="25"/>
                </colgroup>
                <tr class="ksiazkaNadawczaHeader">
                    <th rowspan="2">Lp.</th>
                    <th rowspan="2"><span>ADRESAT</span><br/><label>(imię nazwisko lub nazwa)</label></th>
                    <th rowspan="2">Dokładne miejsce<br/>doręczenia</th>
                    <th colspan="2">Kwota zadekl. Wartości</th>
                    <th colspan="2">Masa</th>
                    <th rowspan="2">Nr<br/>nadawczy</th>
                    <th rowspan="2">Uwagi</th>
                    <th colspan="2">Opłata</th>
                </tr>
                <tr class="ksiazkaNadawczaJedn">
                    <td>zł</td>
                    <td>g</td>
                    <td>kg</td>
                    <td>g</td>
                    <td>zł</td>
                    <td>gr</td>
                </tr>
                <tr class="ksiazkaNadawczaKols">
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td colspan="2">4</td>
                    <td colspan="2">5</td>
                    <td>6</td>
                    <td>7</td>
                    <td colspan="2">8</td>
                </tr>
                <?php for ($j = $i * 24; $j < ($i * 24) + 24; $j++): ?>
                    <?php $data1 = isset($this->dane[$j]) ? $this->dane[$j] : null; 
                    $data = $data1[0];?>
                    <tr class="ksiazkaNadawczaRow">
                        <td align="center" class="ksiazkaNadawczaLP"><?php if ($data != null) echo ($j + 1); ?></td>
                        <?php if ($data['inny_adres_dostawy'] == 1): ?>
                            <td class="ksiazkaNadawczaAdresat">
                                <?php
                                if (!empty($data['nazwa_firmy_korespondencja']))
                                    echo $data['nazwa_firmy_korespondencja'];
                                else
                                    echo $data['imie_korespondencja'] . ' ' . $data['nazwisko_korespondencja'];
                                ?>
                            </td>
                            <td>
                                <?php if ($data != null) echo 'ul.'; ?> <?php echo $data['ulica_korespondencja'] . ' ' . $data['nr_korespondencja'];
                if ($data['mieszkanie_korespondencja']) echo '/' . $data['mieszkanie_korespondencja']; ?><br/>
                            <?php echo $data['kod_korespondencja']; ?> <?php echo $data['miasto_korespondencja']; ?>
                                <?php if ($data == null) echo '<br/>'; ?>
                            </td>
                            <?php else: ?>
                            <td class="ksiazkaNadawczaAdresat">
                                <?php
                                if (!empty($data['nazwa_firmy']))
                                    echo $data['nazwa_firmy'];
                                else
                                    echo $data['imie'] . ' ' . $data['nazwisko'];
                                ?>
                            </td>
                            <td>
                            <?php if ($data != null) echo 'ul.'; ?> <?php echo $data['ulica'] . ' ' . $data['nr'];
                if ($data['mieszkanie']) echo '/' . $data['mieszkanie']; ?><br/>
                            <?php echo $data['kod']; ?> <?php echo $data['miasto']; ?>
                            <?php if ($data == null) echo '<br/>'; ?>
                            </td>
                    <?php endif; ?>
                    <?php if (false): ?>
                <?php if (!empty($data['adresat']['post-buy-form-adr-company']))
                    echo $data['adresat']['post-buy-form-adr-company'] . '<br/>';
                ?>
                <?php echo $data['adresat']['post-buy-form-adr-full-name']; ?><br/>
                        ul. <?php echo $data['adresat']['post-buy-form-adr-street']; ?><br/>
                            <?php echo $data['adresat']['post-buy-form-adr-postcode']; ?> <?php echo $data['adresat']['post-buy-form-adr-city']; ?>
                        <?php endif; ?>
                       <?php 
                            $tablica = explode('.', $data['kwotazaplata']);
                       ?>
                         
                        <td colspan="1">
                         <?php if(isset($tablica[0])) echo $tablica[0]; ?>
                        
                    </td>
                   
                    <td colspan="1">
                        <?php if(isset($tablica[1])) echo $tablica[1]; ?>
                        
                    </td>
                    <td colspan="2">
                       
                    </td>
                    <td></td>
                    <td align="center">
                    <?php if ($data != null): ?>
                            <a class="usunPozycja" href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/ksiazkanadawcza/delid/<?php echo $data['id']; ?>">Oznacz jako niewysłane</a><br />
                            <a class="usunPozycja" href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/dodaj/zamowienie/<?php echo $data['id']; ?>">Druk pocztowy</a>
            <?php endif; ?>
                    </td>
                    <td colspan="2"></td>

                    </tr>
                        <?php endfor; ?>

                <tr class="ksiazkaNadawczaFooter">
                    <td></td>
                    <td></td>
                    <td class="doPrzeniesienia">Do przeniesienia</td>
                    <td colspan="2" class="doPrzeniesieniaValue"></td>
                    <td colspan="4" rowspan="2" class="ksiazkaNadawczaPodpis">
        <?php if ($this->adminID == -1): ?>
                            <img src="<?php echo $this->baseUrl; ?>/public/images/admin2/ksiazka_nadawcza_podpis.jpg" alt="" />
        <?php endif; ?>
                    </td>
                    <td colspan="2" class="ksiazkaNadawczaRazem"></td>
                </tr>
                <tr class="ksiazkaNadawczaFooter2">
                    <td colspan="5" class="ksiazkaNadawczaNaklad"><?php echo $this->naklad; ?><br/><br/></td>
                    <td colspan="2"></td>
                </tr>

            </table>
        </div>
    <?php endfor; ?>

    <a class="listyPocztaDrukujLink" href="javascript:void(0);" rel="" onclick="javascript:print()";>
        <img src="<?php echo $this->baseUrl; ?>/public/images/admin/drukuj.jpg" alt="" border="0" /></a>

<?php else: ?>

    <div class="box_title">
        <h3 class="title3">Nie znaleziono żadnego wygenerowanego wcześniej listu z wybranego dnia</h3>
    </div>

<?php endif; ?>
