<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Dodaj <?php echo $this->typ; ?></span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="<?php echo $this->typ; ?>" />
			<h2 class="title2 p1"><?php echo ucfirst($this->typ); ?></h2>
		</div>
		<div class="box_link_navi">
			<a class="back" href="<?php echo $this->baseUrl; ?>/admin/kategorie/lista/typ/<?php echo $this->typ; ?>">
			Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Dodaj <?php echo $this->typ; ?>:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover"><?php echo $this->typ; ?></span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="kategorie" action="" method="post" enctype="multipart/form-data">
						<div class="form_row">
							<label class="required small">Nazwa:</label>
							<div class="input_bg w1">
								<input type="text" name="nazwa" value="<?php echo (isset($this->dane['nazwa']))? $this->dane['nazwa']: '';?>"/>
							</div>
						</div>
						<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="submit" id="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>


