<div class="modul_container qqq">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/kategorie/lista">Lista kategorii &raquo;</a>
			<span class="link_path_end">Edytuj kategorię</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Lista kategorii" />
			<h2 class="title2 p1">Kategorie</h2>
		</div>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/kategorie/lista/">Wróc do listy</a>
			<a class="see_shop m_linki" href="<?php echo $this->obConfig->www.'/'.$this->kategoria->link ?>" target="_blank" >Zobacz tą kategorię na stronie</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Edytuj kategorię: <span><?php echo $this->kategoria->nazwa; ?></span></h3>	
		</div>
		<div class="content">
			<?php if(!$this->wyswietlAll || false): ?>
			<div class="left_side">
				<ul class="menu_left">
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>nazwa">Nazwa</a></li>
				<?php if($this->ustawienia['link']): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>link">Przyjazny link</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->zdjeciaKategorie): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>zdj">Zdjęcie kategorii</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->opisKategorii): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>opis"><?php echo ucfirst($this->obConfig->opisKategoriiNazwa); ?></a></li>
				<?php endif; ?>
				<?php if($this->obConfig->baneryKategorie): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>banery">Baner</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->sprzedawcy && $this->obConfig->wizytowkaSprzedawcy): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>sprz">Wizytówka sprzedawcy</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->wizytowkaKategorie): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>wiz">Wizytówka kategorii</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->allegro): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>allegro">Kategoria Allegro</a></li>
				<?php if($this->obConfig->allegroParametry): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>allegroparams">Parametry Allegro</a></li>
				<?php endif; ?>
				<?php endif; ?>
				<?php if($this->obConfig->eBay): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>
				<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>ebay">Kategoria eBay</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->kategorieGaleria): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>	<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>galeria">Galeria</a></li>
				<?php endif; ?>
				<?php if($this->obConfig->kategorieVideo): ?>
				<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>	<?php if($this->wyswietlAll):?>#<?php else:?>/param/<?php endif;?>video">Wideo</a></li>
				<?php endif; ?>
			</ul>
			</div>
			<?php endif; ?>
			<div class="right_side" style="width:100%;">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					
					<!--EDYCJA KATEGORII-->
					<?php if($this->wyswietlAll): ?>
					<form name="kategorie" action="" method="post" enctype="multipart/form-data">
					<?php endif; ?>
					
					<?php if($this->wyswietlAll || $this->zak_kat == '0'): ?>
					
						<a name="nazwa"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form name="kategorie" action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg w3">
									<input type="text" name="nazwa" value="<?php echo htmlspecialchars(stripslashes($this->kategoria->nazwa)); ?>"/>
								</div>
							</div>
							<?php if($this->ustawienia['link']): ?>
							<div class="form_row">
								<label class="required">Przyjazny link:</label>
								<div class="input_bg w3">
									 <input type="text" name="link" value="<?php echo $this->kategoria->link; ?>" />
								</div>
							</div>
							<?php endif; ?>
							<div class="form_row">
								<label class="">Widoczność:</label>
								<div class="input_bg_radio">
									<input type="checkbox" name="widoczny" value="1" <?php if($this->kategoria->widoczny == '1') echo 'checked="checked"';?> />
								</div>
							</div>
							<div class="form_row">
								<label class="">Główna strona:</label>
								<div class="input_bg_radio">
									<input type="checkbox" name="na_glownej" value="1" <?php if($this->kategoria->na_glownej) echo 'checked="checked"';?> />
								</div>
							</div>
							<div class="form_row">
								<label class="">Pokazuj liste modeli zamiast produktów:</label>
								<div class="input_bg_radio">
									<input type="checkbox" name="modele" value="1" <?php if($this->kategoria->modele) echo 'checked="checked"';?> />
								</div>
							</div>
							<?php if($this->obConfig->kategorieGrupy && $this->kategoria['rodzic'] == 0): ?>
							<div class="form_row">
								<label class="">Grupa:</label>
								<div class="input_bg">
									<select name="grupa">
		                            <option value="0">Nie wybrana</option>
									<?php for($i=0;$i<@count($this->grupy);$i++): ?>
		                            <option value="<?php echo $this->grupy[$i]['id']; ?>" <?php if($this->grupy[$i]['id'] == $this->kategoria['grupa']) echo ' selected="selected"'; ?>>
									<?php echo $this->grupy[$i]['nazwa']; ?></option>
		                            <?php endfor; ?>
									</select>
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->podstronyUpdateEdycja): ?>
							<div class="form_row">
								<label class="">Data:</label>
								<div class="input_bg_small" style="width:100px;">
									<input type="text" name="data" id="data" value="<?php echo date('Y-m-d', strtotime($this->kategoria['data'])); ?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->rabatyKategorie): ?>
							<div class="form_row">
								<label class="">Rabat na produkty w&nbsp;tej&nbsp;kategorii&nbsp;(%):</label>
								<div class="input_bg_small">
									<input type="text" name="rabat" value="<?php echo $this->kategoria->rabat; ?>"/>
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->kategorieMarzaDetal): ?>
							<div class="form_row">
								<label class="">Marża detaliczna:</label>
								<div class="input_bg_small">
									<input type="text" name="marza" value="<?php echo $this->kategoria->marza; ?>"/>
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->allegroSzablonyKategorie): ?>
							<div class="form_row">
								<label class="">Szablon Allegro:</label>
								<div class="input_bg">
									<select name="szablon">
		                            <option value="0">Nie wybrany</option>
									<?php for($i=0;$i<@count($this->szablony);$i++): ?>
		                            <option value="<?php echo $this->szablony[$i]['id']; ?>" <?php if($this->szablony[$i]['id'] == $this->kategoria['szablon']) echo ' selected="selected"'; ?>>
									<?php echo $this->szablony[$i]['nazwa']; ?></option>
		                            <?php endfor; ?>
									</select>
								</div>
							</div>
							<?php endif; ?>
							<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="submit" id="zapisz" value="Zapisz" />
								</div>
							</div>	
							<?php endif; ?>
							
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
					
					<?php endif; ?>
					
					<?php if(false && $this->wyswietlAll && $this->zak_kat == '1'): ?>
						
						<a name="link"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
                   			<input type="hidden" name="id_link" value="<?php echo $this->kategoria->route_id; ?>" />
							<div class="form_row">
								<label class="required">Przyjazny link:</label>
								<div class="input_bg w1">
									 <input type="text" name="link" value="<?php echo $this->kategoria->link; ?>" />
								</div>
							</div>
							<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="zmien" id="zapisz" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
					
					<?php endif; ?>
					
					<?php if($this->obConfig->atrybutyKategorie): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '11'): ?>
					
					<div class="form_title"><h2 class="title4">Atrybuty</h2></div>
					
						<div class="button_toggle">
                            <a class="add silver m_linki" onclick="$('#box_display_add_atr').toggle();" href="javascript:void(0)">Przypisz atrybut</a>
                        </div>
                        <div id="box_display_add_atr" class="dn">
                            <!--<form action="" method="post">-->
                                <div class="form_title"><h2 class="title4">Przypisz atrybut</h2></div>  
                                <div class="form_row">
									<label class="required">Atrybut:</label>
									<div class="input_bg w1">
										<select name="atr_new">
										<option value="">wybierz&nbsp;</option>
										<?php $a=0;foreach($this->atrybuty as $i => $atrybuty) { ?>
										<?php if($this->paths[$i]['id'] == $this->kategoria->id) continue; ?>
										<?php if(!empty($atrybuty) && count($atrybuty) > 0): ?>
										<?php $label = $this->paths[$i]['nazwa']; ?>
										<?php if($i == -1) $label.= " - przypisz tylko do tej kategorii"; ?>
										<?php if($i == -2) $label.= " - przypisz również do tej kategorii"; ?>
										<optgroup label="<?php echo $label; ?>">
										<?php foreach($atrybuty as $a => $atrybut) { ?>
										<?php if(isset($atrs[$atrybut['id']])) continue; ?>
										<?php $atrs[$atrybut['id']] = $atrybut['id']; ?>
											<option value="<?php echo $atrybut['id']; ?>"<?php if($atrybut['id'] == $this->atr_new) echo ' selected="selected"'; ?>>&nbsp;<?php echo $atrybut['nazwa']; ?>&nbsp;</option>
										<?php } ?>
										</optgroup>
										<?php endif; ?>
										<?php } ?>
										</select>
									</div>
								</div>                                
                                <div class="button_form m2">
                                    <div class="button1">
                                        <input type="submit" name="save" value="Zapisz" />
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>
						
						<div class="button_toggle">
                            <a class="add silver m_linki" onclick="$('#box_display_new_atr').toggle();" href="javascript:void(0)">Dodaj atrybut</a>
                        </div>
                        <div id="box_display_new_atr" class="dn">
                            <!--<form action="" method="post">-->
                                <div class="form_title"><h2 class="title4">Dodaj atrybut</h2></div>
                                <div class="form_row">
                                    <label class="required">Nazwa:</label>
                                    <div class="input_bg w1">
                                        <input type="text" name="atr[nazwa]" value="<?php echo (isset($this->temp['nazwa']))? $this->temp['nazwa']:''; ?>" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <label class="required">Typ atrybutu:</label>
                                    <div class="input_bg w1">
                                        <select name="atr[typatrybut]">
                                            <?php foreach($this->typatr as $value): ?>
                                            <option <?php echo ($this->temp['typatrybut'] == $value['typatrybut'])? 'selected="selected"': ''; ?> value="<?php echo $value['typatrybut']; ?>">
											<?php echo $value['nazwa']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
								<div class="form_row">
									<label class="required">Typ pola:</label>
									<div class="input_bg w1">
										<select name="atr[jedn_miary_typ]">
											<?php foreach($this->typpola as $nazwa => $opis): ?>
											<option <?php echo ($this->temp['jedn_miary_typ'] == $nazwa)? 'selected="selected"': ''; ?> value="<?php echo $nazwa; ?>">
											<?php echo $opis; ?></option>
											<?php endforeach; ?>
										</select>
									</div>
								</div>
								<div class="form_row">
									<label class="">Jedn. miary:</label>
									<div class="input_bg w1">
										<input type="text" name="atr[jedn_miary]" value="<?php echo (isset($this->temp['jedn_miary']))? $this->temp['jedn_miary']:''; ?>" />
									</div>
								</div>
                                <input type="hidden" name="atr[wyszukiwarka]" value="1" <?php echo ($this->temp['wyszukiwarka'] == 1)? 'checked="checked"':''; ?> />     
                                <div class="form_row">
									<label class="required">Przypisana kategoria:</label>
									<div class="input_bg w1">
										<select name="atr[id_kat]">
										<option value="">wszystkie&nbsp;</option>
										<?php foreach($this->path as $path) { ?>
											<option value="<?php echo $path['id']; ?>"<?php if($path['id'] == $this->temp['id_kat']) echo ' selected="selected"'; ?>><?php echo $path['nazwa']; ?>&nbsp;</option>
										<?php } ?>
										</select>
									</div>
								</div>
                                
                                <div class="button_form m2">
                                    <div class="button1">
                                        <input type="submit" name="save" value="Zapisz" />
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>
					
					<?php if(isset($this->atrybuty) && count($this->atrybuty) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="40%"/>
									<col width="30%"/>
									<col width="10%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Kategoria</th>
									<th>Atrybut</th>
									<th>Edytuj atrybut</th>
									<th>Usuń<br/>atrybut</th>
									<th>Usuń z kategorii</th>
								</tr>
								
								<?php $i=0; foreach($this->atrybuty as $i => $atrybuty): ?>
								<?php if($i == -2 || $this->paths[$i]['id'] == -1) continue; ?>
								<?php if(!empty($atrybuty) && count($atrybuty) > 0): ?>
								<?php $j=0; foreach($atrybuty as $a => $atrybut): ?>
									
									<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td align="center">	
									<?php if($this->paths[$i]['id'] > 0 && $this->paths[$i]['id'] != $this->kategoria->id): ?>
										<a title="Edytuj" class="edit_ico2 <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kategorie/edytuj/id/<?php echo $this->paths[$i]['id'];?>"><?php echo $this->paths[$i]['nazwa']; ?></a>
									<?php else: ?>
										<?php echo $this->paths[$i]['nazwa']; ?>
									<?php endif; ?>
									</td>
									<td align="center">	
										<?php echo $atrybut['nazwa']; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/atrybuty/edytuj/id/<?php echo $atrybut['id'];?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->paths[$i]['id'] > 0 && $this->paths[$i]['id'] == $this->kategoria->id): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz CAŁKOWICIE USUNĄĆ wybrany atrybut ?')" href="<?php echo $this->baseUrl;?>/admin/kategorie/edytuj/id/<?php echo $this->paths[$i]['id'];?>/atrRem/<?php echo $atrybut['id']; ?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
									<td align="center">	
									<?php if($this->paths[$i]['id'] > 0 && $this->paths[$i]['id'] == $this->kategoria->id): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybrany atrybut z tej kategorii ?')" href="<?php echo $this->baseUrl;?>/admin/kategorie/edytuj/id/<?php echo $this->paths[$i]['id'];?>/atrDel/<?php echo $atrybut['id']; ?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $j++; endforeach; ?>
								<?php endif; ?>
								<?php $i++; endforeach; ?>
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak atrybutów przypisanych do kategorii.</div>
						
					<?php endif; ?>
					
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->zdjeciaKategorie || $this->obConfig->baneryKategorie): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '5'): ?>			

					<!--Edycja-->
					<?php if(isset($this->edycjaZdjecia) && $this->edycjaZdjecia > 0): ?>
		                
						<div class="box_edit">
							
							<a name="zdj"></a>
							<?php if(!$this->wyswietlAll): ?>
							<form action="#zdjecia" method="post" enctype="multipart/form-data">
							<?php endif; ?>
							
								<input type="hidden" name="imgs[id]" value="<?php echo @intval($this->zdjecia[$this->edycjaZdjecia-1]['id']);?>"/>
								<div class="form_title"><h2 class="title4">Edytuj zdjęcie</h2></div>
								<?php if($this->obConfig->zdjeciaKategorie && $this->edycjaZdjecia == 1): ?>
								<div class="error_info rf">(optymalna wielkość dodawanego zdjęcia: 
								<b>(<?php echo $this->ImageDir->KategorieX; ?>px x <?php echo $this->ImageDir->KategorieY; ?>px)</b>
								</div>
								<?php endif; ?>
								<?php //var_dump($this->zdjecia[$this->edycjaZdjecia - 1]); ?>
								<div class="form_row cli">
									<label class="required">Plik: 
									<?php //echo $this->zdjecia[$this->edycjaZdjecia - 1]['img']; ?>
									</label>
									<div class="input_bg">
										<input type="file" name="img" />
									</div>
								</div>
								<?php if($this->obConfig->baneryKategorie): ?>
								<div class="form_row">
									<label>Link zdjęcia:</label>
									<div class="input_bg">
										<input type="text" value="<?php echo $this->zdjecia[$this->edycjaZdjecia - 1]['nazwa']; ?>" name="imgs[nazwa]" size="50" />
									</div>
								</div>
								<?php endif; ?>
		                 		<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
                                <div class="button_form m2">
									<div class="button1">
										<input type="submit" name="imgs[zmienNazweZdjecia]" id="zapisz" value="Zapisz"/>	
									</div>
								</div>	
								<?php endif; ?>
							
							<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
							
						</div>	
						
					<?php endif; ?>					
					
					<?php if(isset($this->zdjecia) && count($this->zdjecia) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="20%"/>
									<col width="30%"/>
									<?php if($this->obConfig->baneryKategorie): ?>
									<col width="30%"/>
									<?php endif; ?>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Zdjęcie</th>
									<?php if($this->obConfig->baneryKategorie): ?>
									<th>Link</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->zdjecia as $zdjecie): ?>
									
									<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td style="text-align:center;">
									<?php if($this->obConfig->baneryKategorie && $this->zakladka == 'banery'): ?>
									<?php echo 'Baner ';?>
									<?php if($this->obConfig->baneryKategorieDwa): ?>
									<?php echo $i == 1 ? 'duży' : 'mały';?>
									<?php endif; ?>
									<?php else: echo 'Zdjęcie kategorii'; endif; ?>
									</td>
									<td class="first img">
										<img src="<?php echo $this->baseUrl.'/public/admin/'.($this->zakladka=='zdj'||empty($this->zakladka)?'kategorie':$this->zakladka).'/'.$zdjecie['img']; ?>" alt="" width="100" />
									</td>
									<?php if($this->obConfig->baneryKategorie): ?>
									<td>
										<div class="box_gallery_desc">
											<?php echo $zdjecie['nazwa']; ?>
										</div>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>/param/<?php echo $this->zakladka;?>/idEdit/<?php echo $zdjecie['id']; ?>#zdjecia">Edytuj link</a>
									</td>
									<td align="center">	
									<?php if(@!empty($zdjecie['img'])): ?>
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kategorie/edytuj/id/<?php echo $this->kategoria->id;?>/param/<?php echo $this->zakladka;?>/idDel/<?php echo $zdjecie['id']; ?>#zdjecia">Usuń</a>	
									<?php endif; ?>
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdjęć do wyświetlenia w galerii.</div>
						
					<?php endif; ?>	
					
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->allegro): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '3'): ?>
					
						<div class="form_title">
							<h2 class="title4">Kategoria Allegro:</h2>
						</div>
					
						<a name="allegro"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form name="allegro" action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
						<div class="form_row" style="margin-bottom:20px;">
							<?php $this->typ = 'kategorie'; ?>
							<?php echo $this->render('const/kategorie_allegro.phtml'); ?>
                        </div>
						
                        <?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
						<div class="button1">
                            <input type="submit" name="allegro" id="zapisz" value="Zapisz" />
                        </div>
                        <?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->eBay): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '2'): ?>
					
						<a name="ebay"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form name="ebay" action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
						<div class="form_row" style="margin-bottom:20px;">
                            <label class="required">Kategoria eBay:</label>
							<br clear="all" /><br clear="all" />
							<select style="width:230px;" multiple="multiple" id="pierwszy" name="kat0" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieebay')">
							<?php foreach($this->katsLevel0 as $kat) { ?>
								<option value="<?php echo $kat['cat_id']; ?>"<?php if($kat['cat_id'] == $this->kat0) echo ' selected="selected"'; ?>><?php echo $kat['cat_name'];   ?></option>
							<?php  } ?>
							</select>
							<?php if(true || count($this->katsLevel1) > 0): ?>
							<select style="width:230px;" multiple="multiple" id="drugi" name="kat1" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieebay')">
							<?php foreach($this->katsLevel1 as $kat) { ?>
								<option value="<?php echo $kat['cat_id']; ?>"<?php if($kat['cat_id'] == $this->kat1) echo ' selected="selected"'; ?>><?php echo $kat['cat_name'];   ?></option>
							<?php  } ?>
							</select>
							<?php endif; ?>
                        <!--</div>
						<div class="form_row">-->
							<?php if(true || count($this->katsLevel2) > 0): ?>
							<select style="width:230px;" multiple="multiple" id="trzeci" name="kat2" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieebay')">
							<?php foreach($this->katsLevel2 as $kat) { ?>
								<option value="<?php echo $kat['cat_id']; ?>"<?php if($kat['cat_id'] == $this->kat2) echo ' selected="selected"'; ?>><?php echo $kat['cat_name'];   ?></option>
							<?php  } ?>
							</select>
							<?php endif; ?>
							<?php if(true || count($this->katsLevel3) > 0): ?>
							<select style="width:230px;" multiple="multiple" id="czwarty" name="kat3" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieebay')">
							<?php foreach($this->katsLevel3 as $kat) { ?>
								<option value="<?php echo $kat['cat_id']; ?>"<?php if($kat['cat_id'] == $this->kat3) echo ' selected="selected"'; ?>><?php echo $kat['cat_name'];   ?></option>
							<?php  } ?>
							</select>
							<?php endif; ?>
							<?php if(true || count($this->katsLevel4) > 0): ?>
							<select style="width:230px;" multiple="multiple" id="piaty" name="kat4" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieebay')">
							<?php foreach($this->katsLevel4 as $kat) { ?>
								<option value="<?php echo $kat['cat_id']; ?>"<?php if($kat['cat_id'] == $this->kat4) echo ' selected="selected"'; ?>><?php echo $kat['cat_name'];   ?></option>
							<?php  } ?>
							</select>
							<?php endif; ?>
							<?php if(true || count($this->katsLevel5) > 0): ?>
							<select style="width:230px;" multiple="multiple" id="szosty" name="kat5" size="15">
							<?php foreach($this->katsLevel5 as $kat) { ?>
								<option value="<?php echo $kat['cat_id']; ?>"<?php if($kat['cat_id'] == $this->kat5) echo ' selected="selected"'; ?>><?php echo $kat['cat_name'];   ?></option>
							<?php  } ?>
							</select>
							<?php endif; ?>
                        </div>
                        <?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
						<div class="button1">
                            <input type="submit" name="ebay" id="zapisz" value="Zapisz" />
                        </div>
                        <?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->opisKategorii): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '4'): ?>
						
						<div class="form_title"><h2 class="title4">Opis</h2></div>
						<a name="opisy"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
							<div class="form_row">
								<?php if($this->obConfig->opisKategoriiShort): ?>
								<label class="small"><?php echo $this->obConfig->opisKategoriiNazwa; ?> mały:</label>
								<div class="textarea_bg w1">
									<?php echo $this->skrot; ?>
								</div>
								<?php endif; ?>
								<label class="big"><?php echo $this->obConfig->opisKategoriiNazwa; ?>:</label>
								<div class="textarea_bg w1">
									<?php echo $this->edytor; ?>
								</div>
							</div>
							<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="baner" id="zapisz" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->wizytowkaKategorie): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '6'): ?>
						
						<div class="form_title"><h2 class="title4">Wizytówka</h2></div>
						<a name="wiz"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
							<div class="form_row">
								<label class="big w1" style="width:700px !important;">Wizytówka:</label>
								<div class="textarea_bg w1">
									<?php echo $this->edytor; ?>
								</div>
							</div>
							<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="wizytowka" id="zapisz" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->wizytowkaSprzedawcy): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '7'): ?>
						
						<div class="form_title"><h2 class="title4">Sprzedawca</h2></div>
						<a name="sprz"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
							<div class="form_row">
								<label class="required small">Sprzedawca:</label>
								<select name="sprzedawca">
								<option value="0">Wybierz&nbsp;</option>
								<?php foreach($this->sprzedawcy as $sprzedawca) { ?>
									<option value="<?php echo $sprzedawca['id']; ?>"<?php if($sprzedawca['id'] == $this->sprzedawca) echo ' selected="selected"'; ?>><?php echo $sprzedawca['nazwa']; ?>&nbsp;</option>
								<?php } ?>
								</select>
							</div>
							<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="sprzedawcy" id="zapisz" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->allegro): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '9'): ?>
						
						<?php echo $this->render('kategorie/parametry.phtml'); ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->kategorieGaleria): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '8'): ?>
						
						<a name="galeria"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
						<?php echo $this->render('const/galeria.phtml'); ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->kategorieVideo): ?>
					<?php if($this->wyswietlAll || $this->zak_kat == '10'): ?>
						
						<a name="video"></a>
						<?php if(!$this->wyswietlAll): ?>
						<form action="" method="post" enctype="multipart/form-data">
						<?php endif; ?>
						
						<?php echo $this->render('const/video.phtml'); ?>
						
						<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
						
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->wyswietlAll && $this->edycjazablokowana === false): ?>
					<div class="button_form m2" style="float:left; clear:both; margin-top:20px;">
						<div class="button1">
							<input type="submit" name="submit" id="zapisz" value="Zapisz" />
						</div>
					</div>
					<?php endif; ?>
					
					<?php if($this->wyswietlAll): ?>
					</form>
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>
