<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Grupy kategorii</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj grupami kategorii:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Grupy</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<?php if(!isset($this->pojedynczy) || count($this->pojedynczy) == 0): ?>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0);">
						Dodaj grupę</a>	
					</div>
					<?php endif; ?>
					<div id="box_display" class="<?php echo @$this->pojedynczy->id > 0 ? 'db' : 'dn'; ?>">
						<form action="" method="post">                   
							<input type="hidden" name="id" value="<?php echo @$this->pojedynczy->id;?>"/>
							<div class="form_title">
							<h2 class="title4"><?php echo @$this->pojedynczy->id > 0 ? 'Edytuj' : 'Dodaj'; ?> grupę</h2>
							</div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="<?php echo @$this->pojedynczy->nazwa;?>" />
								</div>
							</div>
	                 		<?php if($this->edycjazablokowana === false): ?>
							<div class="form_row">								
								<div class="button_form m2">
									<div class="button1">
										<input type="submit" name="edytuj" value="Zapisz" />	
									</div>
								</div>
							</div>
							<?php endif; ?>
						</form>
					</div>
					
					<!--Lista grupy-->
					<?php if(isset($this->grupy) && count($this->grupy) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="50%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->grupy as $grupa): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $grupa->nazwa; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kategorie/grupy/id/<?php echo $grupa->id;?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/kategorie/grupy/delid/<?php echo $grupa->id;?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych grup.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>