
<a name="allegroparams"></a>
<?php if(!$this->wyswietlAll): ?>
<form action="" method="post">
<?php endif; ?>

<div class="form_row">
<label class="">Parametry Allegro:</label>
</div>
<br clear="all" />

<table id="cechyAllegro">
	
<?php if(@count($this->params) > 0): ?>
<?php foreach($this->params as $allegroKat => $params): ?>
<?php //if(count($params) > 0): ?>
<?php foreach($params as $param): ?>

<?php $wym = ($param['sell-form-opt'] == 1) ? ' cechyNazwaWym' : ''; ?>
	
<?php if(empty($param['sell-form-opts-values'])): ?>
<tr>
<td>
<span class="cechyNazwa<?=$wym;?>"><?php echo $param['sell-form-title']; ?>:</span>
</td>
<td>
<input type="hidden" name="params[<?php echo $allegroKat;?>][<?php echo $param['sell-form-id'];?>][0]" value="-1" />
<input type="text" name="params[<?php echo $allegroKat;?>][<?php echo $param['sell-form-id'];?>][0]" value="<?php if(isset($this->paramsAllegro[$allegroKat][$param['sell-form-id']][0])) echo $this->paramsAllegro[$allegroKat][$param['sell-form-id']][0]; ?>" />
<span class="cechyWybierz">
	<?php if($param['sell-max-value'] > 0): ?>
	Wybierz wartość od <?php echo $param['sell-min-value'];?> do <?php echo $param['sell-max-value'];?>
	<?php endif; ?>
</span>
</td>
<td>
</td>
</tr>
<?php else: ?>

<?php $vals = explode('|', $param['sell-form-opts-values']);?>
<?php $desc = explode('|', $param['sell-form-desc']);?>							

<?php if(isset($this->param[$param['sell-form-title']]) && count($this->param[$param['sell-form-title']]) > 0): ?>
<tr>
<td>
<span class="cechyNazwa<?=$wym;?>"><?php echo $param['sell-form-title']; ?></span>
</td>
<td colspan="2">
<span style="font-size:11px;">Dla każdej wartości w panelu wybierz wartość Allegro:</span>
</td>
</tr>

<?php foreach($this->param[$param['sell-form-title']] as $par): ?>
<tr>
<td>
<span class="cechyNazwa"><?php echo $par['nazwa']; ?>:</span>
</td>
<td>
<select name="params[<?php echo $allegroKat;?>][<?php echo $param['sell-form-id'];?>][<?php echo $par['id'];?>]">
<?php if(!isset($desc[0]) || $desc[0] != ' -- Wybierz -- '): ?>
<option value="0">-- Wybierz --&nbsp;</option>
<?php endif; ?>
<?php for($i=0;$i<count($vals);$i++): ?>
	<option value="<?php echo $vals[$i]; ?>" <?php if(isset($this->paramsAllegro[$allegroKat][$param['sell-form-id']][$par['id']]) && $vals[$i] == $this->paramsAllegro[$allegroKat][$param['sell-form-id']][$par['id']]) echo ' selected="selected"'; ?>><?php echo $desc[$i]; ?>&nbsp;</option>
<?php endfor; ?>
</select>
</td>
</tr>
<?php endforeach; ?>

<?php else: ?>

<tr>
<td>
<span class="cechyNazwa<?=$wym;?>"><?php echo $param['sell-form-title']; ?>:</span>
</td>

<td>
<span class="cechyParametry">

<?php if($param['sell-form-type'] == 6): ?>

<?php for($i=0;$i<count($vals);$i++): ?>
<span class="cechyCheckbox">
<input type="checkbox" name="params[<?php echo $allegroKat;?>][<?php echo $param['sell-form-id'];?>][]" <?php if(isset($this->paramsAllegro[$allegroKat][$param['sell-form-id']][0]) && $this->paramsAllegro[$allegroKat][$param['sell-form-id']][0] & intval($vals[$i])) echo ' checked="checked"'; ?> value="<?php echo $vals[$i]; ?>"/>
&nbsp;<?php echo $desc[$i]; ?>
</span>
<?php if($i % 2 == 1) echo '<br/>'; ?>
<?php endfor; ?>

<?php elseif(false && $param['sell-form-type'] == 5): ?>

<?php for($i=0;$i<count($vals);$i++): ?>
<input type="radio" name="params[<?php echo $allegroKat;?>][<?php echo $param['sell-form-id'];?>][]" <?php if(isset($this->paramsAllegro[$allegroKat][$param['sell-form-id']][0]) && $this->paramsAllegro[$allegroKat][$param['sell-form-id']][0] & intval($vals[$i])) echo ' checked="checked"'; ?> value="<?php echo $vals[$i]; ?>" />
&nbsp;<?php echo $desc[$i]; ?><br/>
<?php endfor; ?>

<?php else: ?>
<select name="params[<?php echo $allegroKat;?>][<?php echo $param['sell-form-id'];?>][0]">
<?php if(!isset($desc[0]) || $desc[0] != ' -- Wybierz -- '): ?>
<option value="0">-- Wybierz --&nbsp;</option>
<?php endif; ?>
<?php for($i=0;$i<count($vals);$i++): ?>
	<option value="<?php echo $vals[$i]; ?>" <?php if(isset($this->paramsAllegro[$allegroKat][$param['sell-form-id']][0]) && $vals[$i] == $this->paramsAllegro[$allegroKat][$param['sell-form-id']][0]) echo ' selected="selected"'; ?>><?php echo $desc[$i]; ?>&nbsp;</option>
<?php endfor; ?>
</select>
<?php endif; ?>

</span>
</td>

<td>
<span class="cechyWybierz2"></span>
</td>

</tr>

<?php endif; ?>

<?php endif; ?>

<?php endforeach; ?>
<?php endforeach; ?>

<?php else: ?>
<tr>
<td colspan="3">
<span class="cechyNazwa">
	Brak parametrów Allegro dla kategorii Allegro aktualnie przypisanej do tego produktu
</span>
</td>
</tr>
<?php endif; ?>

</table>

<?php if(!$this->wyswietlAll && $this->edycjazablokowana === false): ?>
<div class="button_form m2" style="float:left; clear:both; margin-top:20px;">
	<div class="button1">
		<input type="submit" name="paramsAllegro" id="zapisz" value="Zapisz" />
	</div>
</div>
<?php endif; ?>

<?php if(!$this->wyswietlAll): ?></form><?php endif; ?>
