<?php if(!empty($this->ustawienia['cookiepolicy'])): ?>
<div id="popupContact">
    <div class="popupContent">
        <p id="contactArea">
            <?php 
                $tresc = stripslashes($this->ustawienia['cookiepolicy']); 
                $btn = '<a title="OK" id="popupContactClose">OK</a>';
                $link =  !empty($this->ustawienia['cookielink']) ? '<a class="cookieLink" href="'.$this->baseUrl.'/'.$this->ustawienia['cookielink'].'">'.$this->translate('wiecej').'</a>' : '';
                $tresc = str_replace('{PRZYCISK}', $btn, $tresc);
                echo str_replace('{LINK}', $link, $tresc);
            ?>
        </p>
    </div>
</div>
<?php endif; ?>