<?php if(@count($this->ustawMenu) > 0): ?>
<?php if(true || @$this->ustawMenu['font'] == 'Calibri'): ?>
<?php $height = @intval($this->ustawMenu['podmenu_height']); ?>
<style type="text/css">
<?php if(true): ?>
.menuLinkiSubMenu li a img { margin-top: <?php echo floor(($height - 16) / 2) + 6; ?>px !important; }
<?php endif; ?>
<?php if(IE6): ?>
.menuLinkiSubMenu li a img { margin-top: 0px !important; display:none !important; }/*0px latest*/
<?php endif; ?>
<?php if(IE7): ?>
<?php if(@$this->ustawMenu['font'] == 'Calibri'): ?>
.menuLinkiSubMenu li a img { margin-top: <?php echo floor(($height - 40) / 2) - 2; ?>px !important; }
<?php else: ?>
.menuLinkiSubMenu li a img { margin-top: <?php echo - floor(($height) / 2) - 2; ?>px !important; }
<?php endif; ?>
<?php endif; ?>
<?php if(false): ?>
.menuLinkiSubMenu li a img { margin-top: 0px !important; }
<?php endif; ?>
</style>
<?php endif; ?>
<?php endif; ?>

<?php if(@count($this->ustawMenu) > 0): ?>
<style type="text/css">
#menuLinki ul li ul cufon
{
	vertical-align:inherit!important;
	<?php $height = @intval($this->ustawMenu['podmenu_height']); ?>
	<?php if(!IE6): ?>
	margin-top:<?php echo floor(($height - 16) / 2) + 2; ?>px;
	<?php else: ?>
	margin-top:15px!important;/*5px latest*/
	<?php endif; ?>
}
</style>
<?php endif; ?>

<?php if(@count($this->ustawSlider) > 0): ?>
<style type="text/css">
#slider li span
{
	<?php $opacity = @intval($this->ustawSlider['opacity']); ?>
	<?php $opacity01 = round($opacity / 100, 2); ?>
	
	<?php if(@!empty($this->ustawSlider['color'])):?>
	color:#<?php echo $this->ustawSlider['color'];?>;
	<?php endif; ?>
	<?php if(@!empty($this->ustawSlider['backgr'])):?>
	<?php $backgr = @strval($this->ustawSlider['backgr']); ?>
	<?php $r = hexdec(substr($backgr, 0, 2)); ?>
	<?php $g = hexdec(substr($backgr, 2, 2)); ?>
	<?php $b = hexdec(substr($backgr, 4, 2)); ?>
	<?php if(IE6 || IE7 || IE8): ?>
	<?php if($opacity > 0): ?>
	background-color:#<?php echo $this->ustawSlider['backgr'];?>;
	<?php endif; ?>
	<?php else: ?>
	background-color: rgba(<?php echo $r;?>,<?php echo $g;?>,<?php echo $b;?>, <?php echo $opacity01; ?>);
	<?php endif; ?>
	<?php endif; ?>
	
	<?php if(false): ?>
	opacity: <?php echo $opacity01; ?>;
	-moz-opacity:<?php echo $opacity01; ?>;
	filter: alpha(opacity:<?php echo $opacity; ?>);
	KHTMLOpacity: <?php echo $opacity01; ?>;
	MozOpacity: <?php echo $opacity01; ?>;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=<?php echo $opacity; ?>)"; 
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=<?php echo $opacity; ?>);
	<?php endif; ?>
}
</style>
<?php endif; ?>