<?php if(false && $this->obConfig->facebook): ?>
    <div class="zakladka" id="facebook" data-val-kier="right">
        <div class="zakladkiLeft" style="overflow:auto;">
            <div class="face">
                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/facebook_logo.jpg" width="89" height="35" />
            </div>
            <div class="iframe"><!--http%3A%2F%2Fwww.facebook.com%2Fpages%2FMadlen-skleppl%2F466031123421919-->
                <iframe src="http://www.facebook.com/plugins/likebox.php?href=<?php echo urlencode($this->facebook['www']);?>&amp;width=288&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%2397bae4&amp;stream=false&amp;header=true&amp;height=435" scrolling="no" frameborder="0" style="border:none; overflow:auto; width:288px; height:435px;" allowTransparency="true"></iframe>
            </div>
        </div>
        <div class="zakladkiRight"></div>
    </div>
<?php endif; ?>