<?php if (true || $this->main): ?>
    <div class="filtrowanie_kontener">
        <form action="<?php if (!$this->oferta): ?><?php echo $this->baseUrl; ?>/<?php echo $this->wynikiLink; ?><?php endif; ?>" method="post" onsubmit="">

            <?php if (false): ?>
                <div class="filtrowanie_pole">
                    <span class="tytul_duzy"><?= $this->translate('Filtrowanie'); ?>:</span>
                </div>
            <?php endif; ?>

            <?php // dumpv($this->atrybuty);die; 
            if (false && @count($this->atrybuty) > 0): ?>
                <?php $a = 0;
                $atryb = 0; ?>
                <?php foreach ($this->atrybuty as $atr) : ?>
                    <?php //foreach($array as $key=>$w) : ?>
                    <?php if ($atryb != $atr['id_gr']): ?>
                        <div class="filtrowanie_pole">
                            <span>
                                <?= $atr['nazwa']; ?><?php if (!empty($atr['jedn_miary'])): ?>&nbsp;(<?= $atr['jedn_miary']; ?>)<?php endif; ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/arrow_down.png">
                            </span>
                            <?php //foreach($w['pola'] as $p):  ?>
                            <div class="filtrowanie_wiersz">
                                <input type="hidden" name="atrybuty[<?= $atr['id_gr']; ?>]" value="" id="atr<?= $atr['id_gr']; ?>" />
                    <?php endif; ?>
                            <div class="tlo-checkbox">
                                <input type="checkbox" name="atrybuty[<?= $atr['id_gr']; ?>][<?= $atr['id']; ?>]" value="<?= $atr['id']; ?>" id="atr_<?= $atr['id_gr']; ?>_<?= $atr['id']; ?>" <?php if (@in_array($atr['id'], $this->szukanie->atrybuty[$atr['id_gr']]) || @count($this->szukanie->atrybuty[$atr['id_gr']]) == 0) echo 'checked="checked"'; ?>/>
                            </div>
                            <label for="atr_<?= $atr['id_gr']; ?>_<?= $atr['id']; ?>"><?= $atr['wartosc']; ?></label>
                            <?php if ($atr['id_gr'] != @$this->atrybuty[$a + 1]['id_gr']): ?>
                            </div>
                            <div class="filtrowanie_szukaj przycisk">
                                <input type="button" value="<?= $this->translate('Filtruj'); ?>" class="filtruj" onclick="$('#filtruj').trigger('click');" />
                            </div>
                        <?php //endforeach;  ?>
                        </div>
                    <?php endif; ?>
                    <?php $a++;
                    $atryb = $atr['id_gr']; ?>
                <?php endforeach; ?>
            <?php endif; ?>

            <!--Filtr producent--> 
             <?php if (false && $this->obConfig->producent && !empty($this->producenci)): ?>
                    <div class="filtrowanie_pole">
                        <span><?= $this->translate('producent'); ?></span>
                        <input type="hidden" name="producenci" value="" id="producenci" />
                        <?php if (false): ?>
                            <input type="checkbox" name="producenci[0]" value="0" id="producent0" <?= @in_array(0, $this->szukanie->producenci) ? 'checked="checked"' : ''; ?> />
                        <?php endif; ?>
                        <?php foreach ($this->producenci as $p): ?>
                            <div class="filtrowanie_wiersz">
                                <div class="tlo-checkbox">
                                    <input <?= @is_array($this->szukanie->producenci) && in_array($p['id'], $this->szukanie->producenci) ? 'checked="checked"' : ''; ?> type="checkbox" name="producenci[<?= $p['id']; ?>]" value="<?php echo $p['id']; ?>" id="producent<?php echo $p['id']; ?>" />
                                </div>
                                <label for="producent<?php echo $p['id']; ?>"><?= $p['nazwa']; ?></label>
                            </div> 
                        <?php endforeach; ?>
                        <div class="filtrowanie_szukaj przycisk">
                            <input type="button" value="<?= $this->translate('Filtruj'); ?>" class="filtruj" onclick="$('#filtruj').trigger('click');" />
                        </div>
                    </div>    
                <?php endif; ?>

            <!--Filtr ceny-->
            <?php if (true): ?>
                <div class="filtrowanie_pole">
                    <div id="filtrowanie_wrapper" class="lf">
                        <div class="filtrowanie_wiersz wiersz_checkbox">
                            <h3>CENA:</h3>
                            <label class="etykieta_margines"><?= $this->translate('od'); ?>:</label>
                            <div class="tlo-pola">
                                <input type="text" name="cenaOd" id="cena_od" value="<?php echo $this->szukanie->cena_od; ?>" />                    
                            </div>
                            <?php if (false) : ?><label class="etykieta_margines"><?php echo $this->zl; ?></label><?php endif; ?>
                            <label class="etykieta_margines">&nbsp;&nbsp;<?= $this->translate('do'); ?>:</label>
                            <div class="tlo-pola">
                                <input type="text" name="cenaDo" id="cena_do" value="<?php echo $this->szukanie->cena_do; ?>" />
                            </div>
                            <?php if (false) : ?><label class="etykieta_margines"><?php echo $this->zl; ?></label><?php endif; ?>
                        </div>
                    </div>
                    <?php // dump($this->atrybuty);die;?>
                    <div id="rodzaj_wrapper" class="lf">
                        <div class="filtrowanie_wiersz">
                            <h3>RODZAJ:</h3>
                            
                            <?php if (false && @count($this->atrybuty) > 0): ?>
                            <?php $a = 0;
                            $atryb = 0; ?>
                            <?php foreach ($this->atrybuty as $atr) : ?>
                                <?php if ($atryb != $atr['id_gr']): ?>
                                    <div class="filtrowanie_pole">
                                        <div class="filtrowanie_wiersz">
                                            
                                <?php endif; ?>
                                        <div class="tlo-checkbox">
                                            <input type="checkbox" name="atrybuty[<?= $atr['id_gr']; ?>][<?= $atr['id']; ?>]" value="<?= $atr['id']; ?>" id="atr_<?= $atr['id_gr']; ?>_<?= $atr['id']; ?>" <?php if (@in_array($atr['id'], $this->szukanie->atrybuty[$atr['id_gr']]) ) echo 'checked="checked"'; ?>/>
                                        </div>
                                        <label for="atr_<?= $atr['id_gr']; ?>_<?= $atr['id']; ?>"><?= $atr['wartosc']; ?></label>
                                        <?php if ($atr['id_gr'] != @$this->atrybuty[$a + 1]['id_gr']): ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                                <?php $a++;
                                $atryb = $atr['id_gr']; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <?php if (@count($this->atrybuty) > 0): ?>
                            <?php foreach ($this->atrybuty as $atr) : ?>
                                <?php if($this->id == '82') $id_comp = 13 ;?>
                                <?php if($this->id == '84') $id_comp = 11 ;?>
                                <?php if($atr['id_gr'] == $id_comp) :?>
                                    <label for="atr_<?= $atr['id_gr']; ?>_<?= $atr['id']; ?>"><?= $atr['wartosc']; ?>
                                        <input type="checkbox" name="atrybuty[<?= $atr['id_gr']; ?>][<?= $atr['id']; ?>]" value="<?= $atr['id']; ?>" id="atr_<?= $atr['id_gr']; ?>_<?= $atr['id']; ?>" <?php if (@in_array($atr['id'], $this->szukanie->atrybuty[$atr['id_gr']])) echo 'checked="checked"'; ?>/>
                                    </label>

                                    <!--<label for="srebro_id"><input type="checkbox" name="srebro" id="srebro_id" <?php if($this->srebroFiltr) echo " checked";?>/>srebro</label>-->
                                <?php endif ;?>
                            <?php endforeach;?>
                        <?php endif; ?>
                        </div>
                    </div>
                    <div id="wybierz_wrapper" class="lf">
                        <div class="filtrowanie_wiersz">
                            <h3>WYBIERZ Z:</h3>
                            <?php // dumpv($this->promocjeFiltr);die;?>
                            <label for="promocje_id"><input type="checkbox" name="promocja" id="promocje_id" <?php if($this->promocjeFiltr) echo " checked";?>/>promocje</label>

                            <label for="nowosci_id"><input type="checkbox" name="nowosc" id="nowosci_id" <?php if($this->nowosciFiltr) echo " checked";?>/>nowości</label>
                        </div>
                    </div>

                        <?php if (false) : ?>
                        <span><?= ucfirst($this->translate('cena')); ?><img src="<?php echo $this->baseUrl; ?>/public/images/strona/arrow_down.png"></span>
                        <div class="filtrowanie_wiersz wiersz_checkbox">
                            <?php $ceny[] = array('min' => 0, 'max' => 20); ?>
                            <?php $ceny[] = array('min' => 20, 'max' => 50); ?>
                            <?php $ceny[] = array('min' => 50, 'max' => 100); ?>
                            <?php $ceny[] = array('min' => 100, 'max' => 150); ?>
                            <?php $ceny[] = array('min' => 150, 'max' => 200); ?>
                            <?php $ceny[] = array('min' => 200, 'max' => 999999); ?>
                            <div class="tlo-checkbox">
                                <input type="radio" name="cenaZakres" id="cenaZakres" value="0_0" data-val-min="0" data-val-max="0" onchange="$('#cena_od').val(0);
                                        $('#cena_do').val(0);" <?php if ($this->szukanie->cena_od == 0 && $this->szukanie->cena_do == 0) echo 'checked="checked"'; ?> />
                            </div>
                            <label for="cenaZakres">Wszystkie</label>
            <?php foreach ($ceny as $c => $cena): ?>
                                <div class="tlo-checkbox">
                                    <input type="radio" id="cenaZakres<?= $c; ?>" name="cenaZakres" value="<?= $cena['min'] . '_' . $cena['max']; ?>" data-val-min="<?= $cena['min']; ?>" data-val-max="<?= $cena['max']; ?>" onchange="$('#cena_od').val($(this).attr('data-val-min'));
                                            $('#cena_do').val($(this).attr('data-val-max'));" <?php if ($this->szukanie->cena_od == $cena['min'] && $this->szukanie->cena_do == $cena['max']) echo 'checked="checked"'; ?> />
                                </div>
                                <label for="cenaZakres<?php echo $c; ?>">
                                <?php if ($c == 0): ?>Poniżej <?php echo $cena['max']; ?> <?php echo $this->zl; ?>
                                <?php elseif ($c == count($ceny) - 1): ?>Powyżej <?php echo $cena['min']; ?> <?php echo $this->zl; ?>
                            <?php else: ?><?php echo $cena['min']; ?> - <?php echo $cena['max']; ?> <?php echo $this->zl; ?>
                            <?php endif; ?>
                                </label>
            <?php endforeach; ?>
                        </div>
        <?php endif; ?>

                    <div class="filtrowanie_szukaj przycisk" style="margin-top:10px;">
                        <div>
                            <!--<input type="button" value="<?= $this->translate('Filtruj'); ?>" class="filtruj" onclick="$('#filtruj').trigger('click');" />-->
                            <input type="submit" value="<?= $this->translate('Filtruj'); ?>" class="filtruj" name="sortSubmit" value="" onclick="" />
                            <a class="filtrowanie_reset" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/reset/all">
                                <span id="resetuj_filtry"><?= $this->translate('Resetuj filtry'); ?></span>
                            </a>
                        </div>
                    </div>
                </div>
    <?php endif; ?>

            <?php if (false): ?>
                <div class="filtrowanie_szukaj przycisk dbi">
                    <input type="submit" id="filtruj" class="button" value="<?= $this->translate('Filtruj'); ?>" />
                    <div></div>
                </div>
    <?php endif; ?>



        </form>
    </div>
<?php endif; ?>