
<?php if(count($this->galeria) > 0): ?>

<div id="podstronaNagl"><?php echo $this->translate('galeria');?></div>

<div id="podstronaTekst">

<?php foreach($this->galeria as $img): ?>

<div class="imgDiv galeriaImgDiv">
<div class="imgDivInner galeriaImgDivInner"><span></span>
<a href="<?php echo $this->baseUrl;?>/public/admin/<?php echo $this->typ;?>/<?php echo $img['img'];?>" class="lytebox" data-lyte-options="group:<?php echo $this->typ;?> titleTop:false navTop:true" data-title="<?php echo $img['nazwa'];?>" data-description="<?php //echo $this->typ;?>" title="<?php echo $img['nazwa'];?>">
<img class="img galeriaImg" src="<?php echo $this->baseUrl; ?>/public/admin/<?php echo $this->typ;?>/<?php echo $img['img']; ?>" alt="<?php echo $img['nazwa']; ?>" />
</a>
</div></div>

<?php endforeach; ?>

</div>

<?php endif; ?>
