<div class="item itemGratis itemSiatkaFull <?php if(!$this->even): ?> itemEven<?php endif; ?>">

<div class="itemTop">
	<div class="model">
		<span><?php echo $this->prod['nazwa']; ?></span>
	</div>
</div>
	
<div class="imgDiv itemImgDiv">
<div class="imgDivInner itemImgDivInner"><span></span>
<img class="img itemImg" src="<?php echo $this->baseUrl;?>/public/admin/gratisy/<?php echo $this->prod['logo'];?>" alt="<?php echo $this->prod['nazwa'];?>"/>
</div>
</div>

<div class="itemOpis">
	<?php echo strip_tags(stripslashes($this->prod['opis'])); ?>
</div>

</div>
