<head> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="PL" />	
	<meta content="index, follow" name="robots">
	<meta name="keywords" content="<?php echo htmlspecialchars(stripslashes($this->ustawienia['keywords'])); ?>" />
	<meta name="description" content="<?php echo htmlspecialchars(stripslashes($this->ustawienia['description'])); ?>" />
        <meta name="SKYPE_TOOLBAR" content ="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
	
	<script type="text/javascript">var IE = '<?php echo IE; ?>';</script>
	<script type="text/javascript">var IEver = <?php echo IEver; ?>;</script>
	<script type="text/javascript">var browser = '<?php echo browser; ?>';</script>
	<script type="text/javascript">var browserVer = '<?php echo browserVer; ?>';</script>
	
	<?php if(in_array($_SERVER['HTTP_HOST'], $this->common->localhosts) && Safari): ?>
	<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
	<?php endif; ?>

	<?php if(true): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/fonts.css" type="text/css"></link>
        <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/bootstrap/css/bootstrap.css" type="text/css"></link>
	<?php endif; ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/main.css" type="text/css"></link>
        <link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/my_style.css" type="text/css"></link>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/sklep.css" type="text/css"></link>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/cross-browser/<?php echo browserVer; ?>.css" type="text/css"></link>
	<?php if(IE): ?>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/cross-browser/ie.css" type="text/css"></link>
	<?php endif; ?>	
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/styles/langs/<?php echo $this->lang; ?>.css" type="text/css"></link>
	<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->baseUrl; ?>/public/styles/print.css"/>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/print.js"></script>
        
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery-migrate-1.2.1.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript">//$.noConflict();</script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.mousewheel.js"></script>
	
	<?php if(true): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/cookie/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/cookie/popup.js" type="text/javascript" charset="utf-8"></script>
        <script src="<?php echo $this->baseUrl; ?>/public/styles/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/cookie/cookie.css" type="text/css"></link>
	<?php endif; ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/my_scripts.js"></script>
	
	<?php if(true): ?>
	<link rel="stylesheet" type="text/css" media="screen" charset="utf-8" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/themes/base/jquery-ui.css" />
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.core.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/jquery.ui.datepicker.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">//$.datepicker = new Datepicker();</script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.ui/ui/i18n/jquery.ui.datepicker-pl.js" type="text/javascript" charset="utf-8"></script>
	<?php endif; ?>
	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.pngfix.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/swfobject.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/menu.js"></script>
	<script type="text/javascript">var baseUrl = '<?php echo $this->baseUrl; ?>';</script>
	<?php echo $this->render('const/scripts.phtml'); ?>
	<?php echo $this->render('const/scripts_vars.phtml'); ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function.js"></script>
	<?php if($this->obConfig->sklepOnline): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_ajax.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_koszyk_dodaj.js"></script>
	<?php endif; ?>
	<?php if(false || $this->obConfig->slajdy || $this->obConfig->scroller): ?>
	<script type="text/javascript">var ileSlajdow = <?php echo @count($this->slajdy); ?>;</script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_scroller.js"></script>
	<?php endif; ?>
	<?php if($this->obConfig->selectBox): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_selectbox.js"></script>
	<?php endif; ?>	
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_zakladki.js"></script>
	<?php if(false): ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_inne.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_imagebox.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/function_producent.js"></script>
	<?php endif; ?>
	
	<?php if(false): ?>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
	<script src="<?php echo $this->baseUrl; ?>/public/scripts/fontname.font.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8">//Cufon.now();</script>
	<?php endif; ?>
	
	<?php if($this->obConfig->youtube): ?>
	<script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
	<?php endif; ?>
	
	<?php if($this->obConfig->facebook && @$this->czyProdukt): ?>
	<?php if(false && @!file_exists($this->www.'/public/admin/zdjecia/face/'.$this->produkt['zdj']['img'])): ?>
	<?php $upload = new uploadJpg(); ?>
	<?php $upload->nazwa = $this->produkt['zdj']['img']; ?>
	<?php $upload->lokalizacja = 'admin/zdjecia/'.$upload->nazwa; ?>
	<?php $upload->miniPhoto('face', 'both'); ?>
	<?php endif; ?>
	<meta property="og:url" content="<?php echo $this->www; ?>/<?php echo $this->produkt['link']; ?>/" />
	<meta property="og:image" content="" />
	<meta property="og:title" content="<?php echo $this->ustawienia['title']; ?> <?php echo @!empty($this->title) ? ' - '.$this->title: ''; ?>" />
	<meta property="og:description" content="<?php echo htmlspecialchars(strip_tags(stripslashes($this->produkt['tekst']))); ?>" />
	<link rel="image_src" href="" />
	<?php endif; ?>	
	
	<link rel="shortcut icon" href="<?php echo $this->baseUrl; ?>/public/images/strona/favicon.png">
	
	<title><?php echo $this->ustawienia['title']; ?> <?php echo @!empty($this->title) ? ' - '.$this->title: ''; ?></title>
	
	<?php echo $this->headScript(); ?>
	<?php echo $this->headLink(); ?>
	
	<?php //echo $this->render('const/custom.phtml'); ?>
	
	<?php echo $this->ustawienia['google_analytics']; ?>
	
	<script type="text/javascript">	
	$(document).ready(function()
	{
		$('#sciezka a').last().addClass('sciezkaActive');
		//karuzela('jQ_karuzela', 8000, 3, 1, "circular", 1, 1, 6);
		//skrolujGalerie('slider');
		//showZakladka(1000, true);
		<?php if(false && @$this->main): ?>
		skrolujProdukty('Nowosci', 4, 5000, false);
		<?php endif; ?>
		<?php if(false && mb_strlen($this->nazwa, 'UTF-8') > 2 && $this->nazwa != $this->fraza): ?>
		//getProducenci('#fraza', '.producent');
		<?php endif; ?>
		
		//Cufon.replace(['#cufon'],{hover: true, fontFamily: 'fontname'});
		<?php if(@$this->ustawMenu['font'] == 'fontname'): ?>
		Cufon.replace(['#menuLinki li'],{hover:true,fontFamily:'fontname'});
		<?php endif; ?>
		
		$('.input_ilosc').spinner(
		{
			min: 0,
			max: 999,
			step: 1,
			page: 5,
			numberFormat: "n",
			incremental: false,
			disabled: false
			//culture: "fr"
			//icons: { down: "custom-down-icon", up: "custom-up-icon" }
		});
		
		$("#produktyTabsAll").tabs(
		{
			active: 0,
			collapsible: true,
			//disabled: [ 0, 2 ],
			//event: "mouseover",
			heightStyle: "content"
			//show: { effect: "blind", duration: 1000, delay: 0, easing: "swing" },
			//hide: { effect: "explode", duration: 1000, delay: 0, easing: "swing" }
		});
	});
	$(window).load(function()
	{
		
	});	
	</script>	
	<?php echo $this->render('const/ajax.phtml'); ?>
</head>