<div class="item-wrapper">
    <div class="item-wrapper-container">
        <div class="itemTop">
            <div class="model">
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" rel="">
                        <?php echo $this->prod['nazwa']; ?>
                        <?php if(false): ?>
                                <?php if(@count($this->prod['atrybuty']) > 0): ?>
                                <?php foreach($this->prod['atrybuty'] as $grupa): ?>
                                <?php if(!strcmp('tekst', $grupa['typatrybut']) && !empty($grupa['wartosc'])): ?>
                                <label class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['atrybut']; ?>: </label>
                                <span class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['wartosc']; ?></span>
                                <?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
                                <?php endif; ?>
                                <?php if(!strcmp('lista', $grupa['typatrybut']) && !empty($grupa['opcja'])): ?>
                                <label class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['atrybut']; ?>: </label>
                                <span class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['opcja']; ?></span>
                                <?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
                                <?php endif; ?>
                                <?php endforeach; ?>
                                <?php endif; ?>
                                <?php if(false): ?>
                                <label class="atryb0">Dostępność: </label>
                                <span class="atryb0">
                                <?php if((!$this->obConfig->dostepny || $this->prod['dostepny']) && $this->prod['dostepnosc'] > 0): ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/dostepny.png" alt="" />
                                <?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/niedostepny.png" alt="" />
                                <?php endif; ?>
                                </span>
                                <?php endif; ?>
                        <?php endif; ?>
                </a>
            </div>		
        </div>
        <div class="item itemSiatkaFull item<?=@($this->i%$this->ilu);?>">

                <?php if($this->prod['nowosc']): ?>
                <div class="nowosc">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
                                <?php if(true): ?>NOWOŚĆ<?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/nowosc.png" alt="NOWOŚĆ" />
                                <?php endif; ?>
                        </a>
                </div>
                <?php endif; ?>
                <?php if($this->prod['promocja'] && !$this->prod['promocja_net']): ?>
                <div class="promocja">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
                                <?php if(true): ?>PROMOCJA<?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/promocja.png" alt="PROMOCJA" />
                                <?php endif; ?>
                        </a>
                </div>
                <?php endif; ?>
                <?php if($this->prod['promocja_net']): ?>
                <div class="promocja_net">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
                                <?php if(true): ?>PROMOCJA INTERNETOWA<?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/promocja_net.png" title="PROMOCJA INTERNETOWA" />
                                <?php endif; ?>
                        </a>
                </div>
                <?php endif; ?>
                <?php if($this->prod['polecane']): ?>
                <div class="polecane">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
                                <?php if(true): ?>POLECANE<?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/polecane.png" alt="POLECANE" />
                                <?php endif; ?>
                        </a>
                </div>
                <?php endif; ?>
                <?php if($this->prod['wyprzedaz']): ?>
                <div class="wyprzedaz">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
                                <?php if(true): ?>WYPRZEDAŻ<?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/wyprzedaz.png" alt="WYPRZEDAŻ" />
                                <?php endif; ?>
                        </a>
                </div>
                <?php endif; ?>
                <?php if($this->prod['specjalne']): ?>
                <div class="specjalne">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
                                <?php if(true): ?>SPECJALNE<?php else: ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/specjalne.png" alt="SPECJALNE" />
                                <?php endif; ?>
                        </a>
                </div>
                <?php endif; ?>	

                <div class="imgDiv itemImgDiv"><div class="imgDivInner itemImgDivInner"><span></span>
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="link itemImgLink" tabindex="-1"></a>
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" tabindex="-1">
                    <img class="img itemImg" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $this->prod['zdj']['img'];?>" alt="<?php echo $this->prod['zdj']['nazwa'];?>" />
                    </a>
                </div></div>
                <div class="itemOpis">
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" rel="">
                        <?php if($this->ustawienia['skrot']): ?>
                        <?php echo strip_tags(stripslashes($this->prod['skrot'])); ?>
                        <?php else: ?>
                        <?php echo mb_substr(strip_tags(stripslashes($this->prod['tekst'])), 0, 150, 'UTF-8'); ?>...
                        <?php endif; ?>
                    </a>
                </div>
        </div>

        <div class="itemBottom kosz<?php echo $this->prod['id'];?>">

                        <?php if(false): ?>
                        <label class="opak_jedn">
                        <?php if($this->prod['jedn_miary_ile'] > 0):?>
                                <?php echo $this->prod['jedn_miary_ile']; ?>&nbsp;
                                <?php echo $this->prod['jedn_miary_opak']; ?>
                        <?php endif; ?>
                        </label>
                        <?php endif; ?>

                        <?php if(false): ?>
                        <label class="opak_zb">
                        <?php if($this->prod['jedn_miary_zb_ile'] > 1): ?>
                                <?php echo $this->prod['jedn_miary_zb']; ?>
                                (<?php echo $this->prod['jedn_miary_zb_ile']; ?>
                                <?php echo $this->prod['jedn_miary']; ?>)
                        <?php else: ?>
                                <?php //echo $this->prod['rozmiarowka']['jedn_miary']; ?>
                        <?php endif; ?>
                        </label>
                        <?php endif; ?>
                        <?php if(!$this->obConfig->cenyPoZalogowaniu || $this->zalogowanyID > 0): ?>
                        <?php if($this->prod['dostepnosc'] > 0): ?>

                        <?php if(false): ?>
                        <span class="span_ilosc">
                                <?php echo $this->translate('ilosc'); ?>:
                        </span>
                        <?php endif; ?>

                        <?php if(false): ?>
                        <?php if(@intval($_SESSION['koszyk'][$this->prod['id']]['ilosc'][0]) == $this->prod['dostepnosc']): ?>
                        <span class="span_ilosc_koszyk">
                                <?php echo $this->translate('juz_dodano_do_koszyka'); ?>
                        </span>
                        <?php else: ?>
                        <input class="input_ilosc" type="text" name="ilosc[<?php echo $this->prod['id'];?>][0]" id="ilosc<?php echo $this->prod['id'];?>" value="0" onfocus="$(this).val('');" onblur="if($(this).val()=='') $(this).val('0'); doKoszyka(this, <?php echo $this->prod['id'];?>);" />
                        <?php endif; ?>
                        <?php endif; ?>

                        <?php if(false): ?>
                        <?php if($this->prod['jedn_miary_zb_czy'] && $this->prod['jedn_miary_zb_ile'] > 1):?>
                        <label class="opak_zam"><?php echo $this->prod['jedn_miary_zb'];?></label>
                        <?php else: ?>
                        <label class="opak_zam"><?php echo $this->prod['jedn_miary'];?></label>
                        <?php endif; ?>
                        <?php endif; ?>

                        <?php if($this->obConfig->schowek): ?>
                        <a class="button" href="javascript:void(0);" onclick="doSchowka(this,<?=$this->prod['id'];?>);"><?=$this->translate('do_schowka');?></a>
                        <?php endif; ?>

                        <a class="item_do_kosza button dni" href="javascript:doKoszyka(this, <?php echo $this->prod['id'];?>);" tabindex="-1">
                                Do Koszyka
                        </a>

                        <?php else: ?>
                        <span class="available"><?php echo $this->translate('produkt_niedostepny');?>
                        <?php if($this->obConfig->obserwowane && $this->zalogowanyID > 0): ?>
                        <?php if(@$this->action == 'obserwowane'): ?>
                        <a class="observe" href="<?php echo $this->baseUrl;?>/kontrahent/obserwowane/delid/<?php echo $this->prod['id'];?>">
                                <?php echo $this->translate('usun_z_obserwowanych'); ?>
                        </a>
                        <?php else: ?>
                        <a class="observe" href="javascript:void(0);" onclick="doObserwowanych(this, <?php echo $this->prod['id'];?>);">
                                <?php echo $this->translate('dodaj_do_obserwowanych'); ?>
                        </a>
                        <?php endif; ?>
                        <?php endif; ?>
                        </span>
                        <?php endif; ?>
                        <?php endif; ?>

                        <?php if(false): ?>
                        <?php if(!$this->prod['jedn_miary_zb_czy'] && $this->prod['jedn_miary_zb_ile'] > 1):?>
                        <a class="opak_zb_1" href="javascript:void(0);" rel="" onclick="$('#ilosc<?php echo $this->prod['id'];?>').val(<?php echo $this->prod['jedn_miary_zb_ile']; ?>);" tabindex="-1">
                        &lt;1&nbsp;<?php echo $this->prod['jedn_miary_zb'];?></a>
                        <?php else: ?><a class="opak_zb_1" style="visibility:hidden;">&nbsp;</a><?php endif; ?>
                        <?php endif; ?>

                        <?php if(false): ?>
                        <span>
                        <?php if($this->prod['jedn_miary_zb_ile'] > 1): ?>
                                <?php $this->zb = true; ?>
                                <select name="jedn[<?php echo $this->prod['id']; ?>]" tabindex="-1">
                                <option value="<?php echo $this->prod['jedn_miary'];?>"><?php echo $this->prod['jedn_miary'];?></option>
                                <option value="<?php echo $this->prod['jedn_miary_zb'];?>"><?php echo $this->prod['jedn_miary_zb']; ?>
                                (<?php echo $this->prod['jedn_miary_zb_ile']; ?> <?php echo $this->prod['jedn_miary']; ?>)</option>
                                </select>
                        <?php else: ?>
                        <input type="hidden" name="jedn[<?php echo $this->prod['id'];?>]" value="<?php echo $this->prod['jedn_miary'];?>">
                        <?php echo $this->prod['jedn_miary']; ?>
                        <?php endif; ?>
                        </span>
                        <?php endif; ?>

                        <?php if(true && $this->prod['promocja']):// && $this->prod['promocjaDo'] >= date('Y-m-d')): ?>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="cena strike">
                                <?php echo number_format($this->prod['cena_bezpromo_rabat'], 2, ',', ' '); ?> <?php echo $this->zl; ?>
                        </a>
                        <?php endif; ?>

                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="cena">
                                <label><?php //echo $this->translate('cena'); ?></label>
                                <b>
                                <?php if($this->obConfig->cenyPoZalogowaniu && $this->zalogowanyID == 0): ?>
                                        <?php echo $this->translate('po_zalogowaniu'); ?>
                                <?php else: ?>
                                        <?php echo number_format($this->prod['cena'], 2, ',', ' '); ?> <?php echo $this->zl; ?>
                                <?php endif; ?>
                                </b>
                        </a>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="wiecej">
                                więcej
                        </a>

                        <?php if(!$this->obConfig->cenyPoZalogowaniu || $this->zalogowanyID > 0): ?>
                        <?php if($this->prod['dostepnosc'] > 0): ?>

                        <?php if(false): ?>
                        <form action="" name="koszyk" method="post">
                        <?php endif; ?>

                        <?php $id = $this->prod['id']; ?>
                        <?php if(@count($this->prod['rozmiary']) > 0): ?>
                        <?php foreach($this->prod['rozmiary'] as $rozm): ?>
                        <?php if($rozm['dostepnosc'] > 0): ?>
                        <?php if(true): ?>
                        <input type="hidden" name="ilosc[<?=$id;?>][<?= $rozm['id']; ?>]" value="1" />
                        <?php endif; ?>
                        <input type="hidden" name="dostepnosc[<?= $id;?>][<?= $rozm['id'];?>]" value="<?= $rozm['dostepnosc'];?>"/>
                        <input type="hidden" name="netto[<?=$id;?>][<?= $rozm['id']; ?>]" value="<?= $rozm['netto']; ?>"/>
                        <input type="hidden" name="brutto[<?=$id;?>][<?= $rozm['id']; ?>]" value="<?= $rozm['brutto']; ?>"/>
                        <input type="hidden" name="cena_netto[<?=$id;?>][<?= $rozm['id']; ?>]" value="<?= $rozm['netto']; ?>"/>
                        <input type="hidden" name="cena_brutto[<?=$id;?>][<?= $rozm['id']; ?>]" value="<?= $rozm['brutto']; ?>"/>
                        <input type="hidden" name="netto_rabat[<?=$id;?>][<?= $rozm['id']; ?>]" value="<?= $rozm['netto_rabat']; ?>"/>
                        <input type="hidden" name="brutto_rabat[<?=$id;?>][<?= $rozm['id']; ?>]" value="<?= $rozm['brutto_rabat']; ?>"/>
                        <?php endif; ?>
                        <?php endforeach; ?>
                        <?php endif; ?>
                        <input type="hidden" name="nazwa[<?=$id;?>]" value="<?= $this->prod['nazwa'];?>"/>
                        <input type="hidden" name="oznaczenie[<?=$id;?>]" value="<?= $this->prod['kod'];?>"/>
                        <input type="hidden" name="id[<?=$id;?>]" value="<?= $this->prod['id'];?>"/>
                        <input type="hidden" name="waga[<?=$id;?>]" value="<?= $this->prod['waga'];?>"/>
                        <input type="hidden" name="gabaryt[<?=$id;?>]" value="<?= $this->prod['gabaryt'];?>"/>
                        <?php if($this->prod['jedn_miary_zb_czy'] && $this->prod['jedn_miary_zb_ile'] > 1):?>
                        <input type="hidden" name="jedn[<?=$id;?>]" value="<?= $this->prod['jedn_miary_zb'];?>"/>
                        <?php else: ?>
                        <input type="hidden" name="jedn[<?=$id;?>]" value="<?= $this->prod['jedn_miary'];?>"/>
                        <?php endif; ?>
                        <input type="hidden" name="jedn_miary[<?=$id;?>]" value="<?= $this->prod['jedn_miary'];?>"/>
                        <input type="hidden" name="jedn_miary_typ[<?=$id;?>]" value="<?= $this->prod['jedn_miary_typ'];?>"/>
                        <input type="hidden" name="jedn_miary_ile[<?=$id;?>]" value="<?= $this->prod['jedn_miary_ile'];?>"/>
                        <input type="hidden" name="jedn_miary_opak[<?=$id;?>]" value="<?= $this->prod['jedn_miary_opak'];?>"/>
                        <input type="hidden" name="jedn_miary_zb[<?=$id;?>]" value="<?= $this->prod['jedn_miary_zb'];?>"/>
                        <input type="hidden" name="jedn_miary_zb_ile[<?=$id;?>]" value="<?= $this->prod['jedn_miary_zb_ile'];?>"/>
                        <input type="hidden" name="jedn_miary_zb_typ[<?=$id;?>]" value="<?= $this->prod['jedn_miary_zb_typ'];?>"/>
                        <input type="hidden" name="hurt" value="<?php echo $this->typ_klienta; ?>" />

                        <input type="image" class="koszyk" name="koszyk" value="Dodaj do koszyka" src="<?php echo $this->baseUrl; ?>/public/images/strona/do_koszyka.png" />

                        <?php if(false): ?>
                        </form>
                        <?php endif; ?>

                        <?php endif; ?>
                        <?php endif; ?>

        </div>
    </div>
</div>