<div class="item">	
	<?php if($this->prod['nowosc']): ?>
	<div class="nowosc">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
			<?php if(true): ?>NOWOŚĆ<?php else: ?>
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/nowosc.png" alt="NOWOŚĆ" />
			<?php endif; ?>
		</a>
	</div>
	<?php endif; ?>
	<?php if($this->prod['promocja']): ?>
	<div class="promocja">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
			<?php if(true): ?>PROMOCJA<?php else: ?>
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/promocja.png" alt="PROMOCJA" />
			<?php endif; ?>
		</a>
	</div>
	<?php endif; ?>
	<?php if($this->prod['polecane']): ?>
	<div class="polecane">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
			<?php if(true): ?>POLECANE<?php else: ?>
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/polecane.png" alt="POLECANE" />
			<?php endif; ?>
		</a>
	</div>
	<?php endif; ?>
	<?php if($this->prod['wyprzedaz']): ?>
	<div class="wyprzedaz">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
			<?php if(true): ?>WYPRZEDAŻ<?php else: ?>
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/wyprzedaz.png" alt="WYPRZEDAŻ" />
			<?php endif; ?>
		</a>
	</div>
	<?php endif; ?>
	<?php if($this->prod['specjalne']): ?>
	<div class="specjalne">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
			<?php if(true): ?>SPECJALNE<?php else: ?>
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/specjalne.png" alt="SPECJALNE" />
			<?php endif; ?>
		</a>
	</div>
	<?php endif; ?>
	
	<div class="imgDiv itemImgDiv"><div class="imgDivInner itemImgDivInner"><span></span>
	<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="link itemImgLink"></a>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>">
		<img class="img itemImg" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $this->prod['zdj']['img'];?>" alt="<?php echo $this->prod['zdj']['nazwa'];?>" /></a>
	</div></div>
	<div class="itemOpis">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" rel="">
			<?php echo mb_substr(strip_tags($this->prod['tekst']), 0, 150, 'UTF-8'); ?>
		</a>
	</div>
	<div class="itemTop">
		<div class="model">
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" rel="">
			<?php echo $this->prod['nazwa']; ?>
			<?php if(false): ?>
				<?php if(@count($this->prod['atrybuty']) > 0): ?>
				<?php foreach($this->prod['atrybuty'] as $grupa): ?>
				<?php if(!strcmp('tekst', $grupa['typatrybut']) && !empty($grupa['wartosc'])): ?>
				<label class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['atrybut']; ?>: </label>
				<span class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['wartosc']; ?></span>
				<?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
				<?php endif; ?>
				<?php if(!strcmp('lista', $grupa['typatrybut']) && !empty($grupa['opcja'])): ?>
				<label class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['atrybut']; ?>: </label>
				<span class="atryb<?php echo $grupa['id_gr']; ?>"><?php echo $grupa['opcja']; ?></span>
				<?php if(!empty($grupa['jedn_miary'])): ?><?php echo $grupa['jedn_miary']; ?><?php endif; ?><br/>
				<?php endif; ?>
				<?php endforeach; ?>
				<?php endif; ?>
				<?php if(false): ?>
				<label class="atryb0">Dostępność: </label>
				<span class="atryb0">
				<?php if((!$this->obConfig->dostepny || $this->prod['dostepny']) && $this->prod['dostepnosc'] > 0): ?>
				<img src="<?php echo $this->baseUrl; ?>/public/images/strona/dostepny.png" alt="" />
				<?php else: ?>
				<img src="<?php echo $this->baseUrl; ?>/public/images/strona/niedostepny.png" alt="" />
				<?php endif; ?>
				</span>
				<?php endif; ?>
			<?php endif; ?>
		</a>
		</div>		
	</div>
	<div class="itemBottom">		
		<?php if(false && $this->prod['promocja']):// && $this->prod['promocjaDo'] >= date('Y-m-d')): ?>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="cena strike">
		<?php if($this->typ_klienta): ?>
		<?php echo number_format($this->prod['cena_brutto_hurt'], 2, ',', ' '); ?> PLN
		<?php else: ?>
		<?php echo number_format($this->prod['cena_brutto'], 2, ',', ' '); ?> PLN
		<?php endif; ?>
		</a>
		<?php endif; ?>
		
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="cena">
			<?php echo number_format($this->prod['brutto'], 2, ',', ' '); ?> PLN
		</a>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->prod['link'];?>" class="wiecej">
			<img src="<?php echo $this->baseUrl; ?>/public/images/strona/wiecej.png" alt="więcej" />
		</a>
		
		<form action="" name="koszyk" method="post" >
		<?php if(@count($this->prod['rozmiary']) > 0): ?>
		<?php foreach($this->prod['rozmiary'] as $rozm): ?>
		<?php if($rozm['dostepnosc'] > 0): ?>
		<input type="hidden" name="ilosc[<?php echo $rozm['id']; ?>]" value="1" />
		<input type="hidden" name="dostepnosc[<?php echo $rozm['id']; ?>]" value="<?php echo $rozm['dostepnosc']; ?>" />
		<input type="hidden" name="cena_netto[<?php echo $rozm['id']; ?>]" value="<?php echo $rozm['netto']; ?>" />
		<input type="hidden" name="cena_brutto[<?php echo $rozm['id']; ?>]" value="<?php echo $rozm['brutto']; ?>" />
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
		<input type="hidden" name="nazwa" value="<?php echo $this->prod['nazwa']; ?>" />
		<input type="hidden" name="oznaczenie" value="<?php echo $this->prod['kod']; ?>" />
		<input type="hidden" name="id" value="<?php echo $this->prod['id']; ?>" />
		<input type="hidden" name="waga" value="<?php echo $this->prod['waga']; ?>" />
		<input type="hidden" name="gabaryt" value="<?php echo $this->prod['gabaryt']; ?>" />
		<input type="hidden" name="jedn" value="<?php echo $this->prod['rozmiarowka']['jedn_miary']; ?>" />
		<input type="hidden" name="typ" value="<?php echo $this->prod['rozmiarowka']['jedn_miary_typ']; ?>" />
		<input type="hidden" name="hurt" value="<?php echo $this->typ_klienta; ?>" />
		
		<input type="image" class="koszyk" name="koszyk" value="Dodaj do koszyka" src="<?php echo $this->baseUrl; ?>/public/images/strona/do_koszyka.png" />
		</form>
	</div>
</div>