<?php if (true): ?>
    <span><?php echo $this->translate('jezyk'); ?>:&nbsp;</span>
    <form method="post" action="">
        <select id="lang" name="val_lang">	
            <?php if (@count($this->langs) > 0): ?>
                <?php foreach ($this->langs as $lg => $lang): ?>
                    <option value="<?php echo $lg; ?>" <?php if ($this->lang == $lg) echo 'selected="selected"'; ?> style="background-image:url('<?php echo $this->baseUrl; ?>/public/images/admin/langs/24/<?php echo $lg; ?>.png');">
                        <?php echo ucfirst($lang['name']); ?></option>
                <?php endforeach; ?>
            </select>
            <input name="btn_lang" class="flag dn" type="submit">
        </form>
    <?php endif; ?>
<?php else: ?>
    <?php if (@count($this->langs) > 0): ?>
        <span><?php //echo $this->translate('wybor_jezyka');  ?>&nbsp;</span>
        <div class="lbl_lang">
            <?php foreach ($this->langs as $lg => $lang): ?>
                <p onclick="return $('.flag_<?php echo $lg; ?>').trigger('click');"><?php echo $lang['lang']; ?></p>
                <span>&nbsp;|&nbsp;</span>
            <?php endforeach; ?>
        </div>
        <?php foreach ($this->langs as $lg => $lang): ?>
            <form method="post" action="">
                <input type="hidden" name="val_lang" value="<?php echo $lg; ?>" />
                <input name="btn_lang" class="flag flag_<?php echo $lg; ?> <?php echo $this->lang == $lg ? 'active' : ''; ?>" type="submit">
            </form>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endif; ?>