<?php // dumpv($this->myKats);die; ;?>
<div class="menuLinki">
    <?php if ($this->obConfig->menuOfertaMain): ?>
        <ul>
            <?php echo $this->menuOferta; ?>
        </ul>
    <?php elseif (isset($this->menu_glowne)): ?>
        <ul>
            <?php if (true): ?>
                <li <?php if ($this->main) echo 'class="menuActive"'; ?>>
                    <a href="<?php echo $this->baseUrl; ?>/">
                        <?php // echo ucfirst($this->translate('strona_glowna')); ?>
                        <?php if ($this->main) :?>
                            <img src="public/images/strona/home-active-icon.png" alt="strona główna" />
                        <?php else :?>
                            <img src="public/images/strona/home-icon.png" alt="strona główna" />
                        <?php endif ;?>
                    </a>
                </li>
            <?php endif; ?>

            <?php $link = $this->common->makeLink($this->translate(trim($this->link))); ?>

            <?php for ($i = 0; $i < count($this->kategDzieci[0]); $i++): ?>
                <?php $kat = @intval($this->kategDzieci[0][$i]['id']); ?>
                <?php $menuLink = trim($this->kategDzieci[0][$i]['link']); ?>
                <?php $active = ($menuLink == $link || isset($this->podstrony['kategorie'][$kat][$link])); ?>
                <li <?php if ($active) echo 'class="menuActive"'; ?>>
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $menuLink; ?>" class="menu<?php echo $menuLink; ?>">
                        <?php echo trim($this->kategDzieci[0][$i]['nazwa']); ?>
                    </a>
                    <?php // if ($this->obConfig->podstronyMenu && @count($this->podstrony['kategorie'][$kat]) > 0): ?>
                    <?php if ($this->obConfig->podstronyMenu): ?>
                        <ul class="menuLinkiSubMenu ul1">
                            <?php // dump($this->katsBizuteria);
                            foreach ($this->myKats as $podstrona): ?>
                                <?php if($this->kategDzieci[0][$i]['id'] == $podstrona['rodzic']) :?>
                                    <?php $active = ($podstrona['link'] == $link); ?>
                                    <li class="li1 expand2 <?php if ($active) echo 'menuActive'; ?>">
                                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $podstrona['link'] ;?>">
                                            <?php echo $podstrona['nazwa']; ?>
                                        </a>
                                        <?php if(false && $this->myKats) :?>
                                            <ul class="expand3">
                                                <?php foreach($this->myKats as $key => $val) :?>
                                                <?php if($podstrona['id'] == $val['rodzic']) :?>
                                                <li>
                                                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $val['link']; ?>" class="kategWiecej">
                                                        <?php echo $val['nazwa']; ?>
                                                    </a>
                                                </li>
                                                <?php endif ;?>
                                                <?php endforeach ;?>
                                            </ul>
                                        <?php endif ;?>
                                    </li>
                                <?php endif ;?>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                </li>
            <?php endfor; ?>
                
            <?php if(true) :?>
            <?php $oferta = $this->common->makeLink($this->translate('Oferta')); ?>
            <?php for ($i = 0; $i < count($this->menu_glowne); $i++): ?>
                <?php $page = @intval($this->menu_glowne[$i]['id']); ?>
                <?php $menuLink = trim($this->menu_glowne[$i]['link']); ?>
                <?php $link = $this->common->makeLink($this->translate(trim($this->link))); ?>
                <?php $active = ($menuLink == $link) || ($menuLink == 'Oferta' && $this->oferta === true); ?>
                <?php if ($menuLink == 'Oferta' && $this->site == 'Promocje') $active = true; ?>
                <?php if ($menuLink == 'Oferta' && $this->site == 'Nowości') $active = true; ?>
                <?php if ($menuLink == 'Oferta' && $this->site == 'Polecane') $active = false; ?>
                <?php if ($menuLink == 'Oferta' && $this->site == 'Wyprzedaż') $active = false; ?>
                <?php if ($menuLink == 'Oferta' && $this->site == 'Specjalne') $active = false; ?>
                <?php $active = $active || ($menuLink == 'Oferta' && $this->produkt); ?>
                <?php $active = $active || ($menuLink == 'Oferta' && $this->site == 'Koszyk'); ?>
                <?php $active = $active || ($menuLink == 'Oferta' && $this->site == 'Logowanie'); ?>
                <?php $active = $active || ($menuLink == 'Oferta' && $this->site == 'Rejestracja'); ?>
                <?php $active = $active || ($menuLink == 'Menu' && $this->site == 'Menu'); ?>
                <?php $active = $active || ($menuLink == 'All-news' && $this->site == 'All-news'); ?>
                <?php $active = $active || isset($this->podstrony['podstrony'][$page][$link]); ?>

                <li <?php if ($active) echo 'class="menuActive"'; ?>>
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $menuLink; ?>" class="menu<?php echo $menuLink; ?>">
                        <?php echo trim($this->menu_glowne[$i]['temat']); ?>			
                    </a>

                    <?php if ($this->obConfig->podstronyMenu && @count($this->podstrony['podstrony'][$page]) > 0): ?>
                        <ul class="menuLinkiSubMenu ul1">
                            
                            <?php foreach ($this->podstrony['podstrony'][$page] as $podstrona): ?>
                                <li class="li1 expand2 <?php if ($podstrona['link'] == $link) echo 'menuActive'; ?>">
                                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $podstrona['link']; ?>">
                                        <?php echo $podstrona['temat']; ?>
                                    </a>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>

                </li>

                <?php if (false && $menuLink == 'Nowosci' && isset($this->menu_main)): ?>
                    <?php for ($j = 0; $j < min(3, count($this->menu_main)); $j++): ?>
                        <?php $active = (trim($this->menu_main[$j]['link']) == trim($this->link)); ?>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo trim($this->menu_main[$j]['link']); ?>/" <?php if ($active) echo 'class="menuActive"'; ?>><?php echo mb_strtoupper(trim($this->menu_main[$j]['nazwa']), 'UTF-8'); ?></a>
                    <?php endfor; ?>
                <?php endif; ?>

            <?php endfor; ?>
            <?php endif; ;?>
        </ul>
    <?php endif; ?>
</div>