<?php if(true): ?>
    
    <?php if(strlen($this->zalogowany) < 3): ?>			
        <div id="twojeKonto">
            <a id="myLogowanie" href="<?php echo $this->baseUrl; ?>/kontrahent/logowanie">
            <img src="<?php echo $this->baseUrl; ?>/public/images/strona/login-icon.png" />
            <?php echo 'Twoje konto';?></a>
        </div>
        <?php if(false): ?>
            <a  id="myRejestracja" href="<?php echo $this->baseUrl; ?>/kontrahent/index"><?php echo $this->translate('zaloz_konto');?></a>
        <?php endif ;?>
        <?php if($this->obConfig->sklepOnline): ?>
            <div id="topKoszyk">
                <div id="topKoszyk-inner1">
                    <a href="<?php echo $this->baseUrl; ?>/Koszyk/">
                        <img src="<?php echo $this->baseUrl; ?>/public/images/strona/basket-icon.png" />
                        <span><?php echo $this->translate('kosz');?>&nbsp;</span>
                    </a>
                </div>
                <?php if(false): ?>
                <span class="koszykWartosc"><?php echo $this->ilosc_koszyka; ?></span>
                <label>&nbsp;<?php echo $this->translate('produktow');?></label>
                
                <?php endif; ?>
                <div id="topKoszyk-inner2">
                    <span class="koszykWartosc"><?php echo number_format($this->wartosc_koszyka, 2, ',', ' '); ?>&nbsp;<?php echo $this->zl; ?></span>
                    
                    
                </div>
                <?php //echo $this->render('const/koszyk.phtml'); ?>
            </div>
        <?php endif; ?>

    <?php else: ?>
        <?php if($this->obConfig->facebookLogin && @!empty($this->facebookuser)): ?>
        <img src="https://graph.facebook.com/<?php echo $this->facebookuser.'/picture';?>" />
        <?php endif; ?>
        <div id="twojeKonto">
            <a href="<?php echo $this->baseUrl; ?>/kontrahent/menu/">
                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/login-icon.png" />
                <span><?php echo 'Twoje konto';?></span>
            </a>
        </div>
            
        <div id="logout-wrapper">
            <a id="myLogout" href="<?php echo $this->baseUrl; ?>/kontrahent/wyloguj/"><?php echo $this->translate('wyloguj');?></a>
        </div>
        <?php if($this->obConfig->sklepOnline): ?>
            <div id="topKoszyk">
                <div id="topKoszyk-inner1">
                    <a href="<?php echo $this->baseUrl; ?>/Koszyk/">
                        <img src="<?php echo $this->baseUrl; ?>/public/images/strona/basket-icon.png" />
                        <span><?php echo $this->translate('kosz');?>&nbsp;</span>
                    </a>
                </div>
                <?php if(false): ?>
                <span class="koszykWartosc"><?php echo $this->ilosc_koszyka; ?></span>
                <label>&nbsp;<?php echo $this->translate('produktow');?></label>
                
                <?php endif; ?>
                <div id="topKoszyk-inner2">
                    <span class="koszykWartosc"><?php echo number_format($this->wartosc_koszyka, 2, ',', ' '); ?>&nbsp;<?php echo $this->zl; ?></span>
                    
                    
                </div>
                <?php //echo $this->render('const/koszyk.phtml'); ?>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php else: ?>
    <form method="post" action="<?php echo $this->baseUrl; ?>/kontrahent/logowanie">
        <span class="cufon"><?php echo $this->translate('logowanie');?></span>
        <br clear="all"/>
        <label><?php echo $this->translate('login');?>:</label>
        <input name="login" type="text" value="e-mail" onblur="if(this.value == '') this.value='e-mail';" onfocus="if(this.value=='e-mail') this.value='';" />
        <label><?php echo $this->translate('haslo');?>:</label>
        <input name="password" type="password" value="******" onblur="if(this.value == '') this.value='******';" onfocus="if(this.value=='******') this.value='';"/>
        <br clear="all"/>
        <?php if(strlen($this->zalogowany) < 3): ?>
            <input type="submit" class="" value="<?php echo $this->translate('logowanie');?>" />
            <input type="button" class="" value="<?php echo $this->translate('rejestracja');?>" onclick="window.location='<?php echo $this->baseUrl; ?>/kontrahent/index'; return false;" />
        <?php else: ?>
            <input type="button" class="" value="<?php echo $this->translate('twoje_konto');?>" onclick="window.location='<?php echo $this->baseUrl; ?>/kontrahent/menu'; return false;" />
            <input type="button" class="" value="<?php echo $this->translate('wyloguj');?>" onclick="window.location='<?php echo $this->baseUrl; ?>/kontrahent/wyloguj'; return false;" />
        <?php endif; ?>
        <a href="<?php echo $this->baseUrl; ?>/kontrahent/index"><?php echo $this->translate('rejestracja');?></a>
        <!--<span class="kreska">&nbsp;|&nbsp;</span>-->
        <a href="<?php echo $this->baseUrl; ?>/kontrahent/przypomnienie">
        <?php echo $this->translate('zapomnialem_hasla');?></a>
    </form>
<?php endif; ?>