<?php if(false && $this->obConfig->lojalnosc): ?>
    <div class="zakladka" id="lojalnosc" data-val-kier="left">
        <div class="zakladkiLeft">
            <a href="<?php echo $this->baseUrl; ?>/Polec-sklep">
                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/polecane_duze.png" alt="Polec-sklep" />
            </a>
        </div>
        <div class="zakladkiRight"></div>
    </div>
<?php endif; ?>