<div id="menu">
    <a href="<?php echo $this->baseUrl; ?>/Oferta-sklep/" class="menu_linki">Oferta</a>
    <a href="<?php echo $this->baseUrl; ?>/Nowosci-sklep/" class="menu_linki">Nowości</a>
    <a href="<?php echo $this->baseUrl; ?>/Promocje-sklep/" class="menu_linki">Promocje</a>
    <a href="<?php echo $this->baseUrl; ?>/Regulamin/" class="menu_linki">Regulamin</a>
    <a href="<?php echo $this->baseUrl; ?>/Wysylka/" class="menu_linki">Wysyłka</a>
</div>