<?php if (@!empty($this->projekt['tekst'])): ?>
    <div id="temp"><?php echo @$this->projekt['tekst']; ?></div>
<?php endif; ?>
<div class="logo">
    <a href="<?php echo $this->baseUrl; ?>/">
        <img id="logo" src="<?php echo $this->baseUrl; ?>/public/images/strona/logo.png" class="png" alt="" />
    </a>
</div>

<div class="logoNapis">
    <div class="header-tel">
        <span id="tel1">+48&nbsp; </span><span id="tel2"><?php echo @$this->dane_firmy['telefon']; ?></span>
    </div>
    <div class="header-info">
        <span>Przedsiębiorstwo wielobranżowe</span>
    </div>
</div>
<div class="menu">            
    <?php echo $this->render('const/linki.phtml'); ?>
</div>

<?php if ($this->obConfig->jezyki): ?>
    <div class="box_lang">
        <?php echo $this->render('const/jezyki.phtml'); ?>
    </div>
<?php endif; ?>




<?php if ($this->obConfig->porownywarka): ?>
    <?php //echo $this->render('const/porownywarka.phtml'); ?>
<?php endif; ?>

<?php if (false && $this->obConfig->facebook): ?>
    <div id="topFacebook">
        <a href="<?php echo @$this->facebook['www']; ?>" target="_blank">
            <img src="<?php echo $this->baseUrl; ?>/public/images/strona/facebook.png" />
        </a>
    </div>
<?php endif; ?>
<?php if (false && $this->obConfig->allegro): ?>
    <div id="topAllegro">
        <a href="http://allegro.pl/show_user.php?uid=<?php echo @intval($this->allegro['uid']); ?>" target="_blank">
            <img src="<?php echo $this->baseUrl; ?>/public/images/strona/allegro.png" />
        </a>
    </div>
<?php endif; ?>