<!--[if IE 6]>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/dd_belatedpng_0.0.8a.js"></script>
<script type="text/javascript"> DD_belatedPNG.fix('.png'); </script>
<![endif]--> 
	
<?php if(true): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlibmws/overlibmws.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlibmws/overlibmws_function.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlibmws/ajaxcontentmws.js"></script>
<?php else: ?>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/overlib/overlib.js"></script>
<?php endif; ?>

<?php if(false): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/pikachoose/lib/jquery.pikachoose.full.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/pikachoose/styles/base.css" type="text/css"></link>
<?php endif; ?>

<?php if(false): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/custom-scrollbar-plugin/jquery.mCustomScrollbar.css" type="text/css"></link>
<?php endif; ?>

<?php if(false): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/fancybox/source/jquery.fancybox.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/fancybox/source/jquery.fancybox.css" type="text/css"></link>
<?php endif; ?>	

<?php if(true): ?>
<script type="text/javascript" language="javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/lytebox/lytebox.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/lytebox/lytebox.css" type="text/css" media="screen" />
<?php endif; ?>	

<?php if(false): ?>
<script type="text/javascript" language="javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/lightbox/js/lightbox.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/lightbox/css/lightbox.css" type="text/css" media="screen" />
<?php endif; ?>	

<?php if($this->obConfig->scroller): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.thumbnailscroller/jquery.thumbnailScroller.js"></script>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.thumbnailscroller/jquery.thumbnailScroller.css" />
<?php endif; ?>

<?php if(false): ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jgrowl/jquery.jgrowl.css" type="text/css" media="screen" charset="utf-8" />
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jgrowl/jquery.jgrowl.js" type="text/javascript" charset="utf-8"></script>
<?php endif; ?>

<?php if($this->obConfig->slider == 'nivoSlider'): ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/nivo-slider/nivo-slider.css" type="text/css" media="screen" charset="utf-8" />
<script src="<?php echo $this->baseUrl; ?>/public/scripts/nivo-slider/jquery.nivo.slider.js" type="text/javascript" charset="utf-8"></script>
<?php endif; ?>

<?php if($this->obConfig->slider == 'jcarousel'): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl;?>/public/scripts/jsor-jcarousel/lib/jquery.jcarousel.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl; ?>/public/scripts/jsor-jcarousel/skins/tango/skin.css" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl; ?>/public/scripts/jsor-jcarousel/skins/ie7/skin.css" />
<?php endif; ?>
<?php if(false): ?>
<script type="text/javascript" src="<?php echo $this->baseUrl;?>/public/scripts/jcarousellite.js"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl; ?>/public/styles/carousel.css" />
<?php endif; ?>

<?php if(false): ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.css" type="text/css" media="screen" charset="utf-8" />
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/jquery.uploadify.v2.1.4.js" type="text/javascript" charset="utf-8"></script>	
<?php endif; ?>

<?php if(false): ?>
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.raty/js/jquery.raty.js" type="text/javascript" charset="utf-8"></script>
<?php endif; ?>

<?php if(false): ?>
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.emotification.js" type="text/javascript" charset="utf-8"></script>
<?php endif; ?>

<?php if($this->obConfig->selectBox): ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl; ?>/public/scripts/jquery.selectbox/css/jquery.selectbox.css" type="text/css" charset="utf-8" />
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.selectbox/js/jquery.selectbox-0.1.2.js" type="text/javascript" charset="utf-8"></script>
<?php endif; ?>

<?php if($this->obConfig->lojalnosc): ?>
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/jquery.jstree.js" type="text/javascript" charset="utf-8"></script>
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
<script src="<?php echo $this->baseUrl; ?>/public/scripts/jstree/_lib/jquery.hotkeys.js" type="text/javascript" charset="utf-8"></script>
<?php endif; ?>