<?php $typ = isset($this->typ) ? $this->typ : 'producenci'; ?>
<div id="<?php echo $typ;?>">
<?php if($typ == "producenci"): ?>
<div id="<?php echo $typ;?>Napis">Wybierz markę:</div>
<?php endif; ?>
<?php if($typ == "partnerzy"): ?>
<div id="<?php echo $typ;?>Napis">Honorujemy płatności:</div>
<?php endif; ?>
<div class="jThumbnailScroller">
	<div class="jTscrollerContainer thumbScroller">
		<div class="jTscroller container">
		<?php $lista = $typ == 'kategorie' ? @$this->kategDzieci[0] : @$this->{$typ}; ?>
		<?php if(@count($lista) > 0): ?>
		<?php foreach($lista as $element): ?>
			<?php if($typ == "producenci" && @empty($element['logo']) && @empty($element['img'])) continue; ?>
			<?php $nazwa = @trim(htmlspecialchars(stripslashes($element['nazwa']))); ?>
			<?php $logo = @!empty($element['logo']) ? $element['logo'] : @$element['img']; ?>
			<?php if(empty($logo)) $logo = "brak.jpg"; ?>
			<?php $width = @intval($this->obConfigImage->{ucfirst($typ).'X'}); ?>
			<?php $height = @intval($this->obConfigImage->{ucfirst($typ).'Y'}); ?>
			<?php if(true): ?>
			<?php if(true || @!empty($element['link'])): ?>
			<?php if($typ == "producenci"): ?>
			<a href="<?//$element['link'];?><?=$this->baseUrl;?>/<?=$this->wynikiLink;?>/producent/<?=$element['id'];?>" target="">
			<?php elseif($typ == "kategorie"): ?>
			<a href="<?//$element['link'];?><?=$this->baseUrl;?>/<?=$element['link'];?>" target="">
			<?php else: ?>
			<a href="javascript:void(0);" style="cursor:text;">
			<?php endif; ?>
			<?php if($typ == "kategorie"): ?>
			<span><?php echo $nazwa;?><b>&nbsp;</b></span>
			<?php endif; ?>
			<?php else: ?><a href="javascript:void(0);" style="cursor:text;"><?php endif; ?>
			<?php if(@$this->obConfigImage->{ucfirst($typ).'GreyScale'}): ?>
			<img src="<?php echo $this->baseUrl; ?>/public/admin/<?=$typ;?>/greyscale/<?php echo $logo;?>" title="<?php echo $nazwa;?>" alt="<?php echo $nazwa;?>" class="logo" height="<?=$height;?>" onmouseover="$(this).attr('src',$(this).attr('src').replace('/<?=$typ;?>/greyscale/','/<?=$typ;?>/'));" onmouseout="$(this).attr('src',$(this).attr('src').replace('/<?=$typ;?>/','/<?=$typ;?>/greyscale/'));"/>
			<?php else: ?>
			<img src="<?php echo $this->baseUrl; ?>/public/admin/<?=$typ;?>/<?php echo $logo;?>" title="<?php echo $nazwa;?>" alt="<?php echo $nazwa;?>" class="logo" height="<?=$height;?>"/>
			<?php endif; ?>
			</a>
			<?php else: ?>
			<a href="<?php echo $element['link']; ?>">
			<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $element['zdj']['img'];?>" title="<?php echo $nazwa; ?>" alt="<?php echo $nazwa;?>" class="logo grayscale opacity" height="<?=$height;?>"/>
			</a>
			<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
		</div>
	</div>
	<?php if(true): ?>
	<a class="jTscrollerPrevButton" href="#"></a>
	<a class="jTscrollerNextButton" href="#"></a>
	<?php endif; ?>
</div>
<?php if($typ == "partnerzy"): ?>
<a id="scrollPrev" href="javascript:void(0);" onclick="$('#<?=$typ;?> .jThumbnailScroller .jTscrollerPrevButton').trigger('click');">
	<img src="<?php echo $this->baseUrl; ?>/public/images/strona/arrow_left.png" alt="&lt;" />
</a>
<a id="scrollNext" href="javascript:void(0);" onclick="$('#<?=$typ;?> .jThumbnailScroller .jTscrollerNextButton').trigger('click');">
	<img src="<?php echo $this->baseUrl; ?>/public/images/strona/arrow_right.png" alt="&lt;" />
</a>
<?php endif; ?>
</div>