<?php if($this->obConfig->slajdy): ?>
    <div id="slider" <?php if($this->obConfig->slider == 'nivoSlider'): ?>class="nivoSlider"<?php endif; ?>>
        <?php if($this->obConfig->slider == 'jcarousel'): ?>
            <ul class="jcarousel" class="jcarousel-skin-tango">
        <?php endif; ?>
        <?php if(count($this->slajdy) > 0): ?>

            <?php if($this->obConfig->slider == 'jcarousel'): ?>
                <div class="jcarousel-control">
                    <a id="mycarousel-prev" href="javascript:void(0);">&nbsp;</a>
                    <?php $i = 1; foreach($this->slajdy as $slajd): ?>
                        <?php if($slajd['aktywny']): ?>
                            <a class="slajd slajdInactive" id="slajd<?php echo $i;?>" href="javascript:void(0);" rel="<?php echo $slajd['czas'];?>" onclick="skrolujGalerieRecznie(<?php echo $i;?>);"><?php echo $i;?></a>
                        <?php $i++; endif; ?>
                        <?php endforeach; ?>
                    <a id="mycarousel-next" href="javascript:void(0);">&nbsp;</a>
                </div>
            <?php endif; ?>

            <?php foreach($this->slajdy as $slajd): ?>
                <?php if($slajd['aktywny']): ?>
                    <?php if($this->obConfig->slider == 'jcarousel'): ?><li><?php endif; ?>
                    <?php if(@!empty($slajd['link'])): ?><a href="<?php echo $slajd['link']; ?>"><?php endif; ?>
                    <?php if(strpos($slajd['img'], ".swf") > 0): ?>
                        <object type="application/x-shockwave-flash" data="<?=$this->baseUrl;?>/public/admin/slajdy/<?=$slajd['img'];?>" width="1000" height="320">
                        <param name="base" value="<?php echo $this->baseUrl; ?>/public/admin/slajdy" /> 
                        <param name="quality" value="high" /> 
                        <param name="movie" value="<?php echo $this->baseUrl; ?>/public/admin/slajdy/<?php echo $slajd['img'];?>" /> 
                        <param name="wmode" value="opaque" /> 
                        </object>
                        <?php if(@!empty($slajd['link'])): ?><a class="swfLink" href="<?php echo $slajd['link']; ?>">&nbsp;</a><?php endif; ?>
                    <?php else: ?>
                        <img src="<?php echo $this->baseUrl; ?>/public/admin/slajdy/<?php echo $slajd['img'];?>" />
                    <?php endif; ?>
                    <?php if($this->obConfig->slajdyOpisShort || $this->obConfig->slajdyOpisTekst): ?>
                        <table><tr><td class="slajdpozy<?php echo $slajd['opis_poz']; ?>">
                            <span class="slajdopis slajdpoz_<?php echo $slajd['opis_poz']; ?>">
                                <span><?php echo stripslashes($slajd['opis']);?></span>
                            </span>
                            </td></tr>
                        </table>
                    <?php endif; ?>
                    <?php if(@!empty($slajd['link'])): ?></a><?php endif; ?>
                    <?php if($this->obConfig->slider == 'jcarousel'): ?></li><?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>

        <?php endif; ?>
        <?php if($this->obConfig->slider == 'jcarousel'): ?></ul><?php endif; ?>
    </div>
<?php endif; ?>
