<form class="sortForm" name="sortForm" action="<?php if (!$this->oferta): ?><?php echo $this->baseUrl; ?>/Wyniki-wyszukiwania<?php endif; ?>" method="post">


    <?php if (false): ?>
        <span id="frazaAll">
            <span><b>Nazwa:&nbsp;</b></span>
            <span class="select" id="frazaSelect">
                <input type="text" id="fraza" class="fraza" name="co" value="<?php echo isset($this->nazwa) ? @htmlspecialchars(stripslashes($this->nazwa)) : $this->fraza; ?>" onblur="if (this.value == '')
                this.value = '<?php echo $this->fraza; ?>';//changeListaAttr(this);" onfocus="if (this.value == '<?php echo $this->fraza; ?>')
                            this.value = '';"/>
                <input id="szukajSubmit" type="image" src="<?php echo $this->baseUrl; ?>/public/images/strona/szukaj.png" value="OK"> 
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span id="frazaAll">
            <span><b>Symbol:&nbsp;</b></span>
            <span class="select" id="frazaSelect">
                <input type="text" id="symbol" name="kod" value="<?php echo isset($this->symbol) ? @htmlspecialchars(stripslashes($this->symbol)) : $this->frazaSymbol; ?>" onblur="if (this.value == '')
                this.value = '<?= $this->frazaSymbol; ?>'; //changeListaAttr(this);" onfocus="if (this.value == '<?= $this->frazaSymbol; ?>')
                            this.value = '';" />
                <input id="szukajSubmit" type="image" src="<?php echo $this->baseUrl; ?>/public/images/strona/szukaj.png" value="OK"> 
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span id="ileSelectAll">
            <span>Pokaż:&nbsp;</span>
            <span class="select" id="ileSelect">
                <select name="ile" id="ile" onchange="changeListaAttr(this);">
                    <?php if (@count($this->listaProdIlosci[$this->szukanie->{$this->tryb}]) > 0): ?>
                        <?php foreach ($this->listaProdIlosci[$this->szukanie->{$this->tryb}] as $ilosc): ?>
                            <option value="<?php echo $ilosc; ?>" <?php if ($ilosc == $this->ile) echo ' selected="selected"'; ?>>
                                <?php echo $ilosc; ?>&nbsp;</option>
                        <?php endforeach; ?>
                        <?php if (@$this->listaProdIlosciAll): ?>
                            <option value="99999" <?php if ($this->ile == 99999) echo 'selected="selected"'; ?>>Wszystkie&nbsp;</option>
                        <?php endif; ?>
                    <?php endif; ?>
                </select> 
            </span>
            <span>&nbsp;na stronie</span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span id="ileSelectAll">
            <span>Wyświetlaj po:&nbsp;</span>
            <span class="select" id="ileSelect">
                <?php if (@count($this->listaProdIlosci[$this->szukanie->{$this->tryb}]) > 0): ?>
                    <?php foreach ($this->listaProdIlosci[$this->szukanie->{$this->tryb}] as $ilosc): ?>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/ile/<?php echo $ilosc; ?>" <?php if ($ilosc == $this->ile) echo ' class="listaProdIloscSelected"'; ?>><?php echo $ilosc; ?></a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    <?php endforeach; ?>
                    <?php if (@$this->listaProdIlosciAll): ?>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/ile/99999" <?php if ($ilosc == 99999) echo ' class="listaProdIloscSelected"'; ?>>Wszystkie&nbsp;</a>
                    <?php endif; ?>
                <?php endif; ?>
            </span>
            <span>&nbsp;na stronie</span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span>
            <span>Sortuj wg:&nbsp;</span>
            <span class="select" id="sortSelect">
                <select name="sort" id="sorter" onchange="changeListaAttr(this);">
                    <?php if ($this->obConfig->produktyPozycja): ?>
                        <option value="pozycja" <?php if ($this->sort == "pozycja") echo 'selected="selected"'; ?>>Domyślnie&nbsp;</option>
                    <?php endif; ?>
                    <option value="nazwa" <?php if ($this->sort == "nazwa") echo 'selected="selected"'; ?>>Nazwa&nbsp;</option>
                    <?php if ($this->cenyNettoDomyslne): ?>
                        <option value="cena_netto" <?php if ($this->sort == "cena_netto") echo 'selected="selected"'; ?>>Cena&nbsp;</option>
                    <?php else: ?>
                        <option value="cena_brutto" <?php if ($this->sort == "cena_brutto") echo 'selected="selected"'; ?>>Cena&nbsp;</option>
                    <?php endif; ?>
                    <option value="data" <?php if ($this->sort == "data") echo 'selected="selected"'; ?>>Data</option>
                    <?php if (false): ?>
                        <option value="opak" <?php if ($this->sort == "opak") echo 'selected="selected"'; ?>>Opakowanie&nbsp;</option>
                    <?php endif; ?>
                    <?php if (false && $this->obConfig->producent): ?>
                        <option value="producent" <?php if ($this->sort == "producent") echo 'selected="selected"'; ?>>Producent&nbsp;</option>
                    <?php endif; ?>
                    <?php if (false && $this->obConfig->kolory): ?>
                        <option value="kolor" <?php if ($this->sort == "kolor") echo 'selected="selected"'; ?>>Kolor&nbsp;</option>
                    <?php endif; ?>
                    <?php if (false && $this->obConfig->atrybuty && @count($this->atrybutygrupy) > 0): ?>
                        <?php foreach ($this->atrybutygrupy as $atrybut): ?>
                            <?php if (!strcmp('multi', $atrybut['typatrybut'])): ?>
                                <option value="<?php echo $atrybut['id']; ?>" 
                                        <?php if ($atrybut['id'] == $this->sort) echo ' selected="selected"'; ?>>
                                    <?php echo $atrybut['nazwa']; ?>&nbsp;</option>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (true): ?>
        <span class="sortSelectAll">
            <div class="sortSelectAll-wrapper">            
                <div class="dit">
                <span class="sortowanei-info dit ttn">Sortuj po:</span>
                <span class="select dit" id="sortSelect">
                    <select name="sort" id="sorter" onchange="changeListaAttr(this);">
                        <?php if ($this->obConfig->produktyPozycja): ?>
                            <option value="pozycja" <?php if ($this->sort == "pozycja") echo 'selected="selected"'; ?>>Domyślnie&nbsp;</option>
                        <?php endif; ?>
                        <option value="nazwa/order/asc" <?php if ($this->sort == "nazwa" && $this->order == "desc") echo 'selected="selected"'; ?>>
                            Nazwa: rosnąco&nbsp;</option>
                        <option value="nazwa/order/desc" <?php if ($this->sort == "nazwa" && $this->order == "asc") echo 'selected="selected"'; ?>>
                            Nazwa: malejąco&nbsp;</option>
                        <?php if ($this->cenyNettoDomyslne): ?>
                            <option value="cena_netto/order/asc" <?php if ($this->sort == "cena_netto" && $this->order == "desc") echo 'selected="selected"'; ?>>Cena: od najniższej&nbsp;</option>
                            <option value="cena_netto/order/desc" <?php if ($this->sort == "cena_netto" && $this->order == "asc") echo 'selected="selected"'; ?>>Cena: od najwyższej&nbsp;</option>
                        <?php else: ?>
                            <option value="cena_brutto/order/asc" <?php if ($this->sort == "cena_brutto" && $this->order == "desc") echo 'selected="selected"'; ?>>Cena: od najniższej&nbsp;</option>
                            <option value="cena_brutto/order/desc" <?php if ($this->sort == "cena_brutto" && $this->order == "asc") echo 'selected="selected"'; ?>>Cena: od najwyższej&nbsp;</option>
                        <?php endif; ?>
                        <?php if (false): ?>
                            <option value="data/order/asc" <?php if ($this->sort == "data" && $this->order == "desc") echo 'selected="selected"'; ?>>
                                Data rosnąco</option>
                            <option value="data/order/desc" <?php if ($this->sort == "data" && $this->order == "asc") echo 'selected="selected"'; ?>>
                                Data malejąco</option>
                        <?php endif; ?>
                        <?php if (false): ?>
                            <option value="opak/order/asc" <?php if ($this->sort == "opak" && $this->order == "desc") echo 'selected="selected"'; ?>>
                                Opakowanie rosnąco</option>
                            <option value="opak/order/desc" <?php if ($this->sort == "opak" && $this->order == "asc") echo 'selected="selected"'; ?>>
                                Opakowanie malejąco</option>
                        <?php endif; ?>
                        <?php if (false && $this->obConfig->producent): ?>
                            <option value="producent/order/asc" <?php if ($this->sort == "producent" && $this->order == "desc") echo 'selected="selected"'; ?>>Producent rosnąco&nbsp;</option>
                            <option value="producent/order/desc" <?php if ($this->sort == "producent" && $this->order == "asc") echo 'selected="selected"'; ?>>Producent malejąco&nbsp;</option>
                        <?php endif; ?>
                        <?php if (false && $this->obConfig->kolory): ?>
                            <option value="kolor/order/asc" <?php if ($this->sort == "kolor" && $this->order == "desc") echo 'selected="selected"'; ?>>Kolor rosnąco&nbsp;</option>
                            <option value="kolor/order/desc" <?php if ($this->sort == "kolor" && $this->order == "asc") echo 'selected="selected"'; ?>>Kolor malejąco&nbsp;</option>
                        <?php endif; ?>
                        <?php if (false && $this->obConfig->atrybuty && @count($this->atrybutygrupy) > 0): ?>
                            <?php foreach ($this->atrybutygrupy as $atrybut): ?>
                                <?php if (!strcmp('multi', $atrybut['typatrybut'])): ?>
                                    <option value="<?php echo $atrybut['id']; ?>/order/asc" <?php if ($atrybut['id'] == $this->sort && $this->order == "desc") echo 'selected="selected"'; ?>><?php echo $atrybut['nazwa']; ?> rosnąco&nbsp;</option>
                                    <option value="<?php echo $atrybut['id']; ?>/order/desc" <?php if ($atrybut['id'] == $this->sort && $this->order == "asc") echo 'selected="selected"'; ?>><?php echo $atrybut['nazwa']; ?> malejąco&nbsp;</option>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </select>
                </span>

                &nbsp;
                <?php if (true): ?>
                    <span class="ileSelectAll">
                        <span class="ileSelectAllResults">Wyników:&nbsp;</span>
                        <span class="select ileSelect">
                            <select name="ile" id="ile" onchange="changeListaAttr(this);">
                                <?php if (@count($this->listaProdIlosci[$this->szukanie->{$this->tryb}]) > 0): ?>
                                    <?php foreach ($this->listaProdIlosci[$this->szukanie->{$this->tryb}] as $ilosc): ?>
                                        <option value="<?php echo $ilosc; ?>" <?php if ($ilosc == $this->ile) echo ' selected="selected"'; ?>>
                                            <?php echo $ilosc; ?>&nbsp;</option>
                                    <?php endforeach; ?>
                                    <?php if (@$this->listaProdIlosciAll): ?>
                                        <option value="99999" <?php if ($this->ile == 99999) echo 'selected="selected"'; ?>>Wszystkie&nbsp;</option>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </select> 
                        </span>
                    </span>
                <?php endif; ?>
                <?php if (true || $this->obConfig->listaProdTryby): ?>
                    <span id="listaProdTryby" class="dit">
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/tryb/siatka_full" rel="" <?php if (@$this->szukanie->tryb == 'siatka_full') echo 'class="listaTrybActive"'; ?>>
                            <?php if (true): ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb1/siatka_full<?php if (@$this->szukanie->tryb == 'siatka_full') echo '_activ'; ?>.png" alt="siatka z opisem" width="22">
                            <?php else: ?>siatka z opisem<?php endif; ?>
                        </a>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/tryb/lista_full" rel="" <?php if (@$this->szukanie->tryb == 'lista_full') echo 'class="listaTrybActive"'; ?>>
                            <?php if (true): ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb1/lista_full<?php if (@$this->szukanie->tryb == 'lista_full') echo '_activ'; ?>.png" alt="lista z opisem" width="22">
                            <?php else: ?>lista z opisem<?php endif; ?>
                        </a>
                        <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/tryb/lista_short" rel="" <?php if (@$this->szukanie->tryb == 'lista_short') echo 'class="listaTrybActive"'; ?>>
                            <?php if (true): ?>
                                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb1/lista_short<?php if (@$this->szukanie->tryb == 'lista_short') echo '_activ'; ?>.png" alt="lista" width="22">
                        <?php else: ?>lista<?php endif; ?>
                        </a>
                            <?php if (false): ?>
                            <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/tryb/siatka_short" rel="" <?php if (@$this->szukanie->tryb == 'siatka_short') echo 'class="listaTrybActive"'; ?>>
                                <?php if (true): ?>
                                    <img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb1/siatka_short<?php if (@$this->szukanie->tryb == 'siatka_short') echo '_activ'; ?>.png" alt="siatka" width="22">
                                <?php else: ?>siatka<?php endif; ?>
                            </a>
                                <?php endif; ?>
                    </span>
                <?php endif; ?>
                </div>
                <?php echo $this->render('const/stronicowanie.phtml'); ?>
            </div>
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span>
            <span>Sortuj:&nbsp;</span>
            <span class="select" id="orderSelect">
                <select name="order" id="order" onchange="changeListaAttr(this);">
                    <option value="asc" <?php if ($this->sortowanie->order == 'asc') echo 'selected="selected"'; ?>>Rosnąco&nbsp;</option>
                    <option value="desc" <?php if ($this->sortowanie->order == 'desc') echo 'selected="selected"'; ?>>Malejąco&nbsp;</option>
                </select> 
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false && $this->obConfig->producent): ?>
        <span id="producentAll">
            <span>Producenci&nbsp;</span>
            <span class="select" id="producentSelect">
                <select name="producent" id="producent" onchange="changeListaAttr(this);">
                    <option value="-1">-- wszyscy --</option>
                    <?php if (count($this->producenci) > 0): ?>
                        <?php foreach ($this->producenci as $producent): ?>
                            <option value="<?php echo $producent['id']; ?>" 
                                    <?php if ($producent['id'] == $this->producent) echo ' selected="selected"'; ?>>
                                <?php echo $producent['nazwa']; ?>&nbsp;</option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if ($this->obConfig->tryb == 'rozmiary'): ?>
        <span id="rozmiarAll">
            <span>Rozmiary&nbsp;</span>
            <span class="select" id="rozmiarSelect">
                <select name="rozmiar" id="rozmiar" onchange="changeListaAttr(this);">
                    <option value="all">-- wszystkie --</option>
                    <?php if (count($this->rozmiar) > 0): ?>
                        <?php foreach ($this->rozmiar as $rozmiar): ?>
                            <option value="<?php echo $rozmiar['nazwa']; ?>" 
                                    <?php if ($rozmiar['nazwa'] == $this->szukanie->rozmiar) echo ' selected="selected"'; ?>>
                                <?php echo $rozmiar['nazwa']; ?>&nbsp;</option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false && $this->obConfig->kolory): ?>
        <span id="kolorAll">
            <span>Kolor:&nbsp;</span>
            <span class="select<?php if ($this->obConfig->koloryIkona): ?> selectIkona<?php endif; ?>" id="kolorSelect">
                <select name="kolor" id="kolor" onchange="changeListaAttr(this);">
                    <option value="-1">Wszystkie</option>
                    <?php if (count($this->kolory) > 0): ?>
                        <?php foreach ($this->kolory as $kolor): ?>
                            <option value="<?php echo $kolor['id']; ?>" <?php if ($kolor['id'] == $this->szukanie->kolor) echo 'selected="selected"'; ?>
                                    <?php echo ' style="background-image:url(' . $this->baseUrl . '/public/admin/kolory/' . $kolor['img'] . ')"'; ?>>
                                <?php echo $kolor['nazwa']; ?>&nbsp;</option>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </select>
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false && $this->obConfig->kolory): ?>
        <span id="kolorAll">
            <span>Kolory&nbsp;</span>
            <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/kolor/-1" rel="" >-- wszystkie --</a>
            <span class="select<?php if ($this->obConfig->koloryIkona): ?> selectIkona<?php endif; ?>" id="kolorSelect">
                <?php if (count($this->kolory) > 0): ?>
                    <?php foreach ($this->kolory as $kolor): ?>
                        <a class="kolor" rel="" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/kolor/<?php echo $kolor['id']; ?>" <?php if ($kolor['id'] == $this->szukanie->kolor) echo 'id="kolorActive"'; ?> style="background:#<?= $kolor['color']; ?>;" title="<?= $kolor['nazwa']; ?>"><?php //echo $kolor['nazwa'];  ?>&nbsp;</a>
                    <?php endforeach; ?>
                <?php endif; ?>
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span class="sortBy" id="slider-range-div">
            <input type="hidden" id="amount" name="amount" value="" />
            <input type="hidden" id="cenaOd" name="cenaOd" value="<?php echo @floatval($this->szukanie->cena_od); ?>" />
            <input type="hidden" id="cenaDo" name="cenaDo" value="<?php echo @floatval($this->szukanie->cena_do); ?>" />
            <span id="slider-range"></span>
            <label for="amount" id="amountLabel">
                Zakres cen: <?php echo @floatval($this->szukanie->cena_od); ?> - <?php echo @floatval($this->szukanie->cena_do); ?> zł
            </label>
        </span>
    <?php endif; ?>


    <?php if (false): ?>
        <span id="cenaOdDoAll">
            <span>Cena&nbsp;</span>
            <span class="select" id="cenaSelect">
                <span>od:&nbsp;</span>
                <input type="text" id="cenaOd" class="fraza" name="cenaOd" value="<?php echo @floatval($this->szukanie->cena_od); ?>" onfocus="this.value = '';" onblur="if (this.value == '')
                this.value = '<?php echo @floatval($this->szukanie->cena_od); ?>';"/>
                <span>&nbsp;do:&nbsp;</span>
                <input type="text" id="cenaDo" class="fraza" name="cenaDo" value="<?php echo @floatval($this->szukanie->cena_do); ?>" onfocus="this.value = '';" onblur="if (this.value == '')
                this.value = '<?php echo @floatval($this->szukanie->cena_do); ?>';" />
                <input id="szukajSubmit" type="submit" class="button" value="ok"> 
            </span>
            &nbsp;&nbsp;
        </span>
    <?php endif; ?>


    <?php // dump($this->atrybuty);die;
        if ($this->obConfig->atrybuty): ?>
        <?php if (false && count($this->atrybuty) > 0): ?>
            <?php $a = 0;
            $atryb = 0; ?>
            <?php foreach ($this->atrybuty as $atrybut): ?>
            <?php if ($atryb != $atrybut['id_gr']): ?>
                    <span>
                        <span><?php echo $atrybut['nazwa']; ?>:</span>
                        <span class="select atrybutSelect" id="atrybut<?php echo $atrybut['id']; ?>Select">
                            <select name="atrybuty[<?php echo $atrybut['id_gr']; ?>]" id="atrybut<?php echo $atrybut['id']; ?>" class="atrybutSelekt" onchange="changeListaAttr(this, 'atr', 'atrybut', <?php echo $atrybut['id_gr']; ?>);">
                                <option value="-1">Wybierz</option>
                                    <?php endif; ?>
                            <option value="<?php echo $atrybut['id']; ?>" 
                                <?php if ($atrybut['id'] == @$this->szukanie->atrybuty[$atrybut['id_gr']]) echo ' selected="selected"'; ?>>
                            <?php echo $atrybut['wartosc']; ?>&nbsp;</option>
            <?php if ($atrybut['id_gr'] != @$this->atrybuty[$a + 1]['id_gr']): ?>
                            </select>
                        </span>
                    </span>
                <?php endif; ?>
                <?php $a++;
                $atryb = $atrybut['id_gr']; ?>
            <?php endforeach; ?>
    <?php endif; ?>
    <?php endif; ?>


    <?php if (false && $this->obConfig->atrybuty): ?>
    <?php if (count($this->atrybutytekst) > 0): ?>
        <?php foreach ($this->atrybutytekst as $atrybut): ?>
                <span>
                    <span><?php echo $atrybut['nazwa']; ?>:</span>
                    <input name="atrybuty[<?php echo $atrybut['id']; ?>]" id="atrybut<?php echo $atrybut['id']; ?>" value="<?php echo @$this->szukanie->atrybuty[$atrybut['id']]; ?>"/>
                </span>
            <?php endforeach; ?>
    <?php endif; ?>
    <?php endif; ?>


    <?php if (false): ?>
        <div id="szukaj">
            <span>Sortowanie wg:</span>
            <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/nazwa/order/asc" <?php if ($this->sort == 'nazwa' && $this->order == 'desc') echo 'id="sortActive"'; ?>>nazwy a-z</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/nazwa/order/desc" <?php if ($this->sort == 'nazwa' && $this->order == 'asc') echo 'id="sortActive"'; ?>>nazwy z-a</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/cena_brutto/order/asc" <?php if ($this->sort == 'cena_brutto' && $this->order == 'desc') echo 'id="sortActive"'; ?>>cena rosnąco</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/cena_brutto/order/desc" <?php if ($this->sort == 'cena_brutto' && $this->order == 'asc') echo 'id="sortActive"'; ?>>cena malejąco</a>
    <?php if (false && $this->obConfig->producent): ?>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/producent/order/<?php echo $this->order; ?>">
                    Producent</a>
    <?php endif; ?>
    <?php if (false && $this->obConfig->kolory): ?>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/kolor/order/<?php echo $this->order; ?>">
                    Kolor</a>
        <?php endif; ?>
        </div>
    <?php endif; ?>


    <?php if (false): ?>
        <input type="reset" id="sortReset" name="sortReset" value="Reset" onclick="window.location = '<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/reset/all';" />
    <?php endif; ?>

    <?php if (false): ?>
        <input type="submit" id="sortSubmit" name="sortSubmit" value="Szukaj" />
    <?php endif; ?>
    <span id="naglKat-info" class="dit"><?php echo $this->site; ?></span>
</form>





    <?php if (false): ?>
        <?php if ($this->strony > 1): ?>
        <div class="stronicowanie">
        <?php echo $this->render('const/stronicowanie.phtml'); ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
