<div id="search" class="sort">
    <form class="sortForm" name="szukajForm" action="<?php if (true || !$this->oferta): ?><?php echo $this->baseUrl; ?>/Wyniki-wyszukiwania<?php endif; ?>" method="post">
        <?php if (false): ?>
            <span id="producentAll">
                <span>Worki, filtry, akcesoria do odkurzaczy:</span>
                <span class="select" id="producentSelect">
                    <select name="producent" id="producent" onchange="$('#model').autocomplete('option', 'source', '<?= $this->baseUrl; ?>/ajax/index/autocompletesymbol/prod/' + this.value); //changeListaAttr(this);">
                        <option value="-1">Marka</option>
                        <?php if (count($this->producenci) > 0): ?>
                            <?php foreach ($this->producenci as $producent): ?>
                                <option value="<?php echo $producent['id']; ?>" 
                                        <?php if ($producent['id'] == $this->producent) echo ' selected="selected"'; ?>>
                                    <?php echo $producent['nazwa']; ?>&nbsp;</option>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </select>
                    <input type="text" id="model" class="fraza" name="model" value="<?php echo isset($this->model) ? @htmlspecialchars(stripslashes($this->model)) : $this->frazaModel; ?>" onblur="if (this.value == '')
                    this.value = '<?php echo $this->frazaModel; ?>';//changeListaAttr(this);" onfocus="if (this.value == '<?php echo $this->frazaModel; ?>')
                                this.value = '';"/>
                    <?php if ($this->mobile): ?>
                        <input type="image" id="prodSubmit" class="button" name="sortSubmit" value="OK" onclick="return szukajMarkaModel();" src="<?php echo $this->baseUrl; ?>/public/images/strona/mobile/lupka.png" />
                    <?php else: ?>
                        <input type="submit" id="prodSubmit" class="button" name="sortSubmit" value="Szukaj" onclick="return szukajMarkaModel();"/>
                    <?php endif; ?>
                </span>
            </span>
            <script type="text/javascript">
                function szukajMarkaModel()
                {
                    if (false && $('#producent').val() == "-1")
                    {
                        alert("Wybierz markę");
                        return false;
                    }
                    if ($('#model').val() == "Model" || $('#model').val().length < 2)
                    {
                        alert("Wpisz model (min. 2 znaki)");
                        return false;
                    }
                    $('#fraza').val('');
                    return true;
                }
                function szukajNazwa()
                {
                    if ($('#fraza').val() == '<?php echo $this->fraza; ?>' || $('#fraza').val().length < 1)
                    {
                        alert("Wpisz nazwę");// (min. 5 znaków)
                        return false;
                    }
                    $('#producent').val('-1');
                    $('#model').val('');
                    return true;
                }
            </script>	
        <?php endif; ?>
        <div id="search-wrapper">
            <?php if (true): ?>
                <input type="text" id="fraza" class="fraza" name="co" value="<?php echo isset($this->nazwa) ? @htmlspecialchars(stripslashes($this->nazwa)) : $this->fraza; ?>" onblur="if (this.value == '')
                        this.value = '<?php echo $this->fraza; ?>';" onfocus="if (this.value == '<?php echo $this->fraza; ?>') this.value = '';"/>

            <?php endif; ?>


            <?php if (false): ?>
                <span id="cenaOdDoAll">
                    <span>Cena od:&nbsp;</span>
                    <span class="select cenaSelect" id="cenaOdSelect">
                        <input type="text" id="cenaOd" name="cenaOd" value="<?php echo $this->szukanie->cena_od; ?>" onblur="changeListaAttr(this);">
                    </span>
                    <span>&nbsp;&nbsp;do:&nbsp;</span>
                    <span class="select cenaSelect" id="cenaDoSelect">
                        <input type="text" id="cenaDo" name="cenaDo" value="<?php echo $this->szukanie->cena_do; ?>" onblur="changeListaAttr(this);">
                    </span>
                    &nbsp;&nbsp;
                </span>
            <?php endif; ?>


            <?php if (true): ?>
                <span id="kategoriaAll">
                    <!--<span>Kategoria:&nbsp;</span>-->
                    <span class="select" id="kategoriaSelect">
                        <select name="kategoria" id="kategoria" onchange="changeListaAttr(this);">
                            <option value="-1">Wszystkie kategorie</option>
                            <?php $lvl = -1;
                            $i = 0;
                            $open = 0;
                            if (count($this->kategorie) > 0): ?>
                                    <?php foreach ($this->kategorie as $kategoria): ?>
                                        <?php if($kategoria['rodzic'] == 0) :?>
                                            <option value="<?php echo $kategoria['id']; ?>" 
                                                <?php if ($kategoria['id'] == $this->id) echo ' selected="selected"'; ?>>
                                                <?php echo $kategoria['nazwa']; ?>&nbsp;
                                            </option>
                                                <?php if (!$open && isset($this->kategorie[$i + 1]) && @$this->kategorie[$i + 1]['rodzic'] != $kategoria['rodzic']): ?>
                                                    <optgroup label="<?php echo $kategoria['nazwa']; ?>">
                                                        <?php $open = true; ?>
                                                <?php endif; ?>
                                                <?php if ($open && $kategoria['rodzic'] == $lvl && @$this->kategorie[$i + 1]['rodzic'] != $lvl):
                                                    echo @$this->kategorie[$i + 1]['rodzic'] . '-' . $lvl . '<br>';
                                                    ?>
                                                    </optgroup>
                                                <?php $open = false; ?>
                                                <?php endif; ?>
                                                <?php $lvl = $kategoria['rodzic']; ?>
                                                <?php $i++;?>
                                            <?php endif ;?>
                                    <?php endforeach; ?>
                            <?php endif; ?>
                        </select>
                    </span>
                    &nbsp;&nbsp;
                </span>
                <?php if (true): ?>
                    <input type="submit" id="coSubmit" class="button" name="sortSubmit" value="" onclick="return szukajNazwa();" />
                <?php endif; ?>
        </div>
                <?php if($this->obConfig->sklepOnline): ?>
                    <div id="topLogowanie">
                        <?php echo $this->render('const/logowanie.phtml'); ?>
                    </div>
                <?php endif; ?>
        <?php endif; ?>


        <?php if (false): ?>
                <span>
                    <span>Pokaż:&nbsp;</span>
                    <span class="select" id="ileSelect">
                        <select name="ile" id="ile" onchange="changeListaAttr(this);">
                            <option value="9" <?php if ($this->ile == 9) echo 'selected="selected"'; ?>>9&nbsp;</option>
                            <option value="18" <?php if ($this->ile == 18) echo 'selected="selected"'; ?>>18&nbsp;</option>
                            <option value="27" <?php if ($this->ile == 27) echo 'selected="selected"'; ?>>27&nbsp;</option>
                        </select> 
                    </span>
                    <span>&nbsp;na stronie</span>
                    &nbsp;&nbsp;
                </span>
        <?php endif; ?>


        <?php if (false): ?>
                <span>
                    <span>Sortuj wg:&nbsp;</span>
                    <span class="select" id="sortSelect">
                        <select name="sort" id="sorter" onchange="changeListaAttr(this);">
                            <?php if ($this->obConfig->produktyPozycja): ?>
                                <option value="pozycja" <?php if ($this->sort == "pozycja") echo 'selected="selected"'; ?>>Domyślnie&nbsp;</option>
                            <?php endif; ?>
                            <option value="nazwa" <?php if ($this->sort == "nazwa") echo 'selected="selected"'; ?>>Nazwa&nbsp;</option>
                            <option value="cena_brutto" <?php if ($this->sort == "cena_brutto") echo 'selected="selected"'; ?>>Cena&nbsp;</option>
                            <?php if (false && $this->obConfig->producent): ?>
                                <option value="producent" <?php if ($this->sort == "producent") echo 'selected="selected"'; ?>>Producent&nbsp;</option>
                            <?php endif; ?>
                                    <?php if (false && $this->obConfig->kolory): ?>
                                <option value="kolor" <?php if ($this->sort == "kolor") echo 'selected="selected"'; ?>>Kolor&nbsp;</option>
                                <?php endif; ?>
                            <?php if ($this->obConfig->atrybuty && @count($this->atrybutygrupy) > 0): ?>
                                <?php foreach ($this->atrybutygrupy as $atrybut): ?>
                                    <option value="<?php echo $atrybut['id']; ?>" 
                    <?php if ($atrybut['id'] == $this->sort) echo ' selected="selected"'; ?>>
                    <?php echo $atrybut['nazwa']; ?>&nbsp;</option>
                    <?php endforeach; ?>
                <?php endif; ?>
                        </select>
                    </span>
                    &nbsp;&nbsp;
                </span>
        <?php endif; ?>


        <?php if (false): ?>
                <span>
                    <span>Sortuj:&nbsp;</span>
                    <span class="select" id="orderSelect">
                        <select name="order" id="order" onchange="changeListaAttr(this);">
                            <option value="asc" <?php if ($this->sortowanie->order == 'asc') echo 'selected="selected"'; ?>>Rosnąco&nbsp;</option>
                            <option value="desc" <?php if ($this->sortowanie->order == 'desc') echo 'selected="selected"'; ?>>Malejąco&nbsp;</option>
                        </select> 
                    </span>
                    &nbsp;&nbsp;
                </span>
        <?php endif; ?>


        <?php if (false && $this->obConfig->producent): ?>
            <span id="producentAll">
                <span>Producent:&nbsp;</span>
                <span class="select" id="producentSelect">
                    <select name="producent" id="producent" onchange="changeListaAttr(this);">
                        <option value="-1">Wszyscy</option>
                        <?php if (count($this->producenci) > 0): ?>
                            <?php foreach ($this->producenci as $producent): ?>
                                <option value="<?php echo $producent['id']; ?>" accesskey=""<?php if ($producent['id'] == $this->producent) echo ' selected="selected"'; ?>>
                                <?php echo $producent['nazwa']; ?>&nbsp;</option>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </select>
                </span>
                &nbsp;&nbsp;
            </span>
        <?php endif; ?>


        <?php if ($this->obConfig->tryb == 'rozmiary'): ?>
            <span>
                <span>Rozmiar:&nbsp;</span>
                <span class="select" id="rozmiarSelect">
                    <select name="rozmiar" id="rozmiar" onchange="changeListaAttr(this);">
                        <option value="all">Wszystkie</option>
                        <?php if (count($this->rozmiar) > 0): ?>
                            <?php foreach ($this->rozmiar as $rozmiar): ?>
                                <option value="<?php echo $rozmiar['nazwa']; ?>" <?php if ($rozmiar['nazwa'] == $this->szukanie->rozmiar) echo ' selected="selected"'; ?>>
                                    <?php echo $rozmiar['nazwa']; ?>&nbsp;
                                </option>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </select>
                </span>
                &nbsp;&nbsp;
            </span>
        <?php endif; ?>


        <?php if ($this->obConfig->kolory): ?>
            <span>
                <span>Kolor:&nbsp;</span>
                <span class="select<?php if ($this->obConfig->koloryIkona): ?> selectIkona<?php endif; ?>" id="kolorSelect">
                    <select name="kolor" id="kolor" onchange="changeListaAttr(this);">
                        <option value="-1">Wszystkie</option>
                        <?php if (count($this->kolory) > 0): ?>
                            <?php foreach ($this->kolory as $kolor): ?>
                                <option value="<?php echo $kolor['id']; ?>" <?php if ($kolor['id'] == $this->szukanie->kolor) echo ' selected="selected"'; ?>
                                    <?php echo ' style="background-image:url(' . $this->baseUrl . '/public/admin/kolory/' . $kolor['img'] . ')"'; ?>>
                                <?php echo $kolor['nazwa']; ?>&nbsp;</option>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    </select>
                </span>
                &nbsp;&nbsp;
            </span>
        <?php endif; ?>


        <?php if (false): ?>
            <span class="sortBy" id="slider-range-div">
                <input type="hidden" id="amount" name="amount" value="" />
                <input type="hidden" id="cenaOd" name="cenaOd" value="<?php echo @floatval($this->szukanie->cena_od); ?>" />
                <input type="hidden" id="cenaDo" name="cenaDo" value="<?php echo @floatval($this->szukanie->cena_do); ?>" />
                <span id="slider-range"></span>
                <label for="amount" id="amountLabel">
                    Zakres cen: <?php echo @floatval($this->szukanie->cena_od); ?> - <?php echo @floatval($this->szukanie->cena_do); ?> zł
                </label>
            </span>
        <?php endif; ?>


        <?php if (false && $this->obConfig->atrybuty): ?>
            <?php if (count($this->atrybuty) > 0): ?>
                <?php $a = 0;
                $atryb = 0; ?>
                    <?php foreach ($this->atrybuty as $atrybut): ?>
                        <?php if ($atryb != $atrybut['id_gr']): ?>
                            <span>
                                <span><?php echo $atrybut['nazwa']; ?>:</span>
                                <span class="select atrybutSelect" id="atrybut<?php echo $atrybut['id']; ?>Select">
                                    <select name="atrybuty[<?php echo $atrybut['id_gr']; ?>]" id="atrybut<?php echo $atrybut['id']; ?>" class="atrybutSelekt" onchange="changeListaAttr(this, 'atr', 'atrybut', <?php echo $atrybut['id_gr']; ?>);">
                                        <option value="-1">Wybierz</option>
                                    <?php endif; ?>
                                    <option value="<?php echo $atrybut['id']; ?>" <?php if ($atrybut['id'] == @$this->szukanie->atrybuty[$atrybut['id_gr']]) echo ' selected="selected"'; ?>>
                                        <?php echo $atrybut['wartosc']; ?>&nbsp;
                                    </option>
                                    <?php if ($atrybut['id_gr'] != @$this->atrybuty[$a + 1]['id_gr']): ?>
                                    </select>
                                </span>
                            </span>
                        <?php endif; ?>
                        <?php $a++;
                        $atryb = $atrybut['id_gr']; ?>
                    <?php endforeach; ?>
            <?php endif; ?>
        <?php endif; ?>


        <?php if (false && $this->obConfig->atrybuty): ?>
            <?php if (count($this->atrybutytekst) > 0): ?>
                <?php foreach ($this->atrybutytekst as $atrybut): ?>
                    <span>
                        <span><?php echo $atrybut['nazwa']; ?>:</span>
                            <input type="text" name="atrybuty[<?php echo $atrybut['id']; ?>]" id="atrybut<?php echo $atrybut['id']; ?>" value="<?php echo @$this->szukanie->atrybuty[$atrybut['id']]; ?>"/>
                        </span>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endif; ?>


        <?php if (false): ?>

                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/nazwa/order/<?php echo $this->order; ?>">
                    Nazwa</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/cena_brutto/order/<?php echo $this->order; ?>">
                    Cena</a>
            <?php if (true && $this->obConfig->producent): ?>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/producent/order/<?php echo $this->order; ?>">
                        Producent</a>
                <?php endif; ?>
            <?php if (true && $this->obConfig->kolory): ?>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/sort/kolor/order/<?php echo $this->order; ?>">
                        Kolor</a>
            <?php endif; ?>

            <?php endif; ?>


        <?php if (false): ?>
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/reset/all" rel="" style="margin-left:10px;">
                    <img src="<?php echo $this->baseUrl; ?>/public/images/strona/reset.png" alt="RESET" />
                </a>
            <?php endif; ?>

        <?php if (false): ?>
                <input type="reset" id="sortReset" name="sortReset" value="Reset" onclick="window.location = '<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/reset/all';" />
        <?php endif; ?>

        <?php if (false): ?>
                <input type="submit" id="sortSubmit" name="sortSubmit" value="Szukaj" />
        <?php endif; ?>

    </form>
</div>
<?php if (false): ?>
    <?php if ($this->strony > 1): ?>
        <div class="stronicowanie">
        <?php echo $this->render('const/stronicowanie.phtml'); ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
