<?php if($this->zalogowanyID >= 0 && $this->obConfig->listaProdTryby): ?>

<span id="listaProdTryby" style="float:right;">

<?php //echo $this->translate('wyswietlaj_produkty'); ?>

<?php if(true): ?>&nbsp;
<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/<?php echo @$this->tryb;?>/lista_short" rel="" <?php if(@$this->szukanie->{$this->tryb} == 'lista_short') echo 'class="listaTrybActive"'; ?>>
<?php if(true): ?>
<img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb/lista_short<?php if(@$this->szukanie->{$this->tryb} == 'lista_short') echo '_activ'; ?>.png" alt="lista bez opisu" width="22">
<?php else: ?>lista bez opisu<?php endif; ?>
</a>
<?php endif; ?>

<?php if(true): ?>&nbsp;
<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/<?php echo @$this->tryb;?>/lista_full" rel="" <?php if(@$this->szukanie->{$this->tryb} == 'lista_full') echo 'class="listaTrybActive"'; ?>>
<?php if(true): ?>
<img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb/lista_full<?php if(@$this->szukanie->{$this->tryb} == 'lista_full') echo '_activ'; ?>.png" alt="lista z opisem" width="22">
<?php else: ?>lista z opisem<?php endif; ?>
</a>
<?php endif; ?>

<?php if(false): ?>&nbsp;
<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/<?php echo @$this->tryb;?>/siatka_short" rel="" <?php if(@$this->szukanie->{$this->tryb} == 'siatka_short') echo 'class="listaTrybActive"'; ?>>
<?php if(true): ?>
<img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb/siatka_short<?php if(@$this->szukanie->{$this->tryb} == 'siatka_short') echo '_activ'; ?>.png" alt="siatka bez opisu" width="22">
<?php else: ?>siatka bez opisu<?php endif; ?>
</a>
<?php endif; ?>

<?php if(true): ?>&nbsp;
<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/<?php echo @$this->tryb;?>/siatka_full" rel="" <?php if(@$this->szukanie->{$this->tryb} == 'siatka_full') echo 'class="listaTrybActive"'; ?>>
<?php if(true): ?>
<img src="<?php echo $this->baseUrl; ?>/public/images/strona/tryb/siatka_full<?php if(@$this->szukanie->{$this->tryb} == 'siatka_full') echo '_activ'; ?>.png" alt="siatka z opisem" width="22">
<?php else: ?>siatka z opisem<?php endif; ?>
</a>
<?php endif; ?>

</span>

<?php endif; ?>