<?php if(false && $this->obConfig->youtube): ?>
    <div class="zakladka" id="youtube" data-val-kier="left">
        <div class="zakladkiLeft" style="overflow:auto;">
            <div class="face">
                <img src="<?php echo $this->baseUrl; ?>/public/images/strona/youtube.jpg" width="89" height="35" />
            </div>
            <div class="iframe"><?//GoogleDevelopers;?>
                <div class="g-ytsubscribe" data-channel="<?=@$this->youtube['www'];?>" data-layout="full" data-theme="dark" data-count="default"></div>
            </div>
        </div>
    </div>
<?php endif; ?>