<div class="modul_container">
	<div class="container">	
		<div class="box_title">
			<h3 class="title3">Ustawienia:</h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
				   <?php echo $this->render('const/lojal_ustaw.phtml'); ?>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<?php if(false): ?>
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Tytuł wiadomości:</label>
							<div class="input_bg">
								<input type="text" name="FromName" value="<?php echo $this->drukuj[0]->FromName; ?>" />
							</div>
						</div>						
						<div class="form_row">
							<label class="required">E-mail:</label>
							<div class="input_bg">
								<input type="text" name="From" value="<?php echo $this->drukuj[0]->From; ?>" />
							</div>
						</div>
                        
						<div class="form_title">Ustawienia wiadomości e-mail dla polecanych</div>
						<div class="error_info rf">fraza <b>{IMIE}</b> i <b>{NAZWISKO}</b> jest podmieniana na dane wybranego klienta.</div>
						<div class="form_row">
							<label>Tytuł: </label>
							<div class="input_bg" style="width: 414px;">
								<input style="width:414px;" type="text" name="tytulpol" value="<?php echo $this->drukuj[0]->tytulpol; ?>" />
							</div>
						</div>    
						<div class="form_row">
							<label>Treść: </label>
							<div class="input_bg">
								<textarea cols="50" rows="10" name="trescpol"><?php echo $this->drukuj[0]->trescpol; ?></textarea>
							</div>
						</div>  
						<?php if($this->obConfig->mailConfig): ?>						
						<div class="form_row">
							<label class="required">Nazwa użytkownika:</label>
							<div class="input_bg">
								<input type="text" name="Username" value="<?php echo $this->drukuj[0]->Username; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Hasło:</label>
							<div class="input_bg">
								<input type="password" name="Password" value="<?php echo $this->drukuj[0]->Password; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Adres serwera SMTP:</label>
							<div class="input_bg">
								<input type="text" name="Host" value="<?php echo $this->drukuj[0]->Host; ?>" />
							</div>
						</div>						
						<div class="form_row">
							<label class="required">Rodzaj serwera:</label>
							<div class="input_bg">
								<input type="text" name="Mailer" value="<?php echo $this->drukuj[0]->Mailer; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Adres serwera POP3:</label>
							<div class="input_bg">
								<input type="text" name="POP3" value="<?php echo $this->drukuj[0]->POP3; ?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->cv): ?>
						<div class="form_row">
							<label class="required">E-mail do CV:</label>
							<div class="input_bg">
								<input type="text" name="ToCV" value="<?php echo $this->drukuj[0]->ToCV; ?>" />
							</div>
						</div>
						<?php endif; ?>
                 		 <?php if($this->edycjazablokowana === false): ?>
                         <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>