<script type="text/javascript">
    var www = '<?= $this->www ?>';
    var baseUrl = '<?= $this->baseUrl.'/'; ?>'; 
    jQuery(document).ready(function(){
        jQuery('a[rel*=facebox]').facebox({
        loadingImage : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/loading.gif',
        closeImage   : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/closelabel.png'
        });
    });
</script>    
<div class="modul_container">
    <div class="container">	
        <div class="box_title">
            <h3 class="title3">Dodaj zakup</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <form id="jq_listen" method="post" action="">
                    <div class="form_row">
                        <label class="radius">Wpisz numer karty:</label>
                        <div class="radius">
                            <input id="jq_card_search" type="text" name="post[karta]" onchange="getClientNumberCard(this.value);" onkeyup="getClientNumberCard(this.value);" value="" />
                        </div>
                        <div id="jQ-error" class="dn"></div>
                    </div>    
                </form>
                <div id="jQ-lista"></div>
            </div>
        </div>
    </div>
</div>