<script type="text/javascript">
var baseUrl = '<?= $this->baseUrl.'/'; ?>';
jQuery(document).ready(function(){
    jQuery('a[rel*=facebox]').facebox({
        loadingImage : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/loading.gif',
        closeImage   : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/closelabel.png'
    });
});
</script>                                
<div class="modul_container">
    <div class="container">	
        <div class="box_title">
                <h3 class="title3">Karty</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <br />
                <div class="tytulLojalnosc">Utwórz karty</div>
                <form method="post" action="">
                    <?= isset($this->error)? '<div class="error_container">'.$this->error.'</div>' : null;  ?>
                    <div class="form_row">
                        <label style="line-height: 25px; width: 100px;" class="">Wybierz ilość: </label>
                        <div class="radius">
                            <select style="width: 60px;" name="post[ilosc]">
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div><span class="lf">&nbsp;&nbsp;</span>
                        <label style="line-height: 25px; width: 100px;" class="">Numeruj od: </label>
                        <div class="radius">
                            <input style="width: 60px; height: 23px;" type="text" name="post[numeruj]" value="" />
                        </div><span class="lf">&nbsp;&nbsp;</span>
                        <input type="submit" class="btn-orange" value="utwórz" />
                        <span class="lf">&nbsp;&nbsp;</span>
                        <a  rel="facebox" href="http://<?= $this->www.''.$this->baseUrl.'/'; ?>ajax/upominki/karty/" class="btn-orange">lista wolnych kart</a>
                        <span class="lf">&nbsp;&nbsp;</span>
                        <a  rel="facebox" href="http://<?= $this->www.''.$this->baseUrl.'/'; ?>ajax/upominki/pliki/" class="btn-orange">utworzone pliki</a>
                        <span class="lf">&nbsp;&nbsp;</span>
                    </div>
                </form>
                <div class="borderLojalnosc"></div>
                <div class="tytulLojalnosc">Statystyki kart</div>
                <div class="form_row">
                    <span style="line-height: 30px;">W systemie znajduje się kart: </span> <br />
                    &bull; <strong><?= $this->iloscnieaktywna; ?></strong> wolnych<br />
                    &bull; <strong><?= $this->iloscaktywna; ?></strong> przydzielonych<br />
                    &bull; <strong><?= $this->iloscwszystkich; ?></strong> wszystkich<br />
                </div>
                <div class="borderLojalnosc"></div>
                <div class="tytulLojalnosc">Domyślne dokumenty programu</div>
                <div class="dokumenty">
                    <table style="width: 100%;">
                        <tr>
                        	<td>
                                <a class="ico_pdf" target="_blank" href="<?= $this->baseUrl.'/'; ?>public/admin/lojalnosc/kartap.pdf">Karta rabatowa (przód)</a>
                            </td>
                            <td>
                                <a class="ico_pdf" target="_blank" href="<?= $this->baseUrl.'/'; ?>public/admin/lojalnosc/kartat.pdf">Karta rabatowa (tył)</a>
                            </td>
                            <td>
                                <a class="ico_pdf" target="_blank" href="<?= $this->baseUrl.'/'; ?>public/admin/lojalnosc/formularz_zgloszeniowy.pdf">Formularz zgłoszeniowy</a>
                            </td>
                            <td>
                                <a class="ico_pdf" target="_blank" href="<?= $this->baseUrl.'/'; ?>public/admin/lojalnosc/powitanie.pdf">Powitanie</a>
                            </td>
                            <td>
                                <a class="ico_pdf" target="_blank" href="<?= $this->baseUrl.'/'; ?>public/admin/lojalnosc/wizytowki.pdf">Wizytówki dla znajomych</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="borderLojalnosc"></div>	
        </div>
    </div>
</div>