<div class="modul_container">

	<div class="container" id="spolecznosc">

		<div class="box_title oh">
			<h3 class="title3 lf">Społeczność&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        <a class="btn-orange small" href="<?= $this->baseUrl.'/'; ?>admin/lojalnosc/lista/">Pokaż klientów</a>
		</div>
		<div class="content">
		      <?php if(false): ?>
			<div id="spolecznoscTop">
				<div id="spolecznoscSzukaj">
					<?php if(@count($this->klient) > 0): ?>
					<div class="button1">
						<a href="<?php echo $this->baseUrl.'/'; ?>admin/lojalnosc/drzewo/klient/0">Cała społeczność</a>
					</div>
					<?php endif; ?>
					<span class="hover">Szukaj osoby:</span>
					<input type="text" id="search" name="szukaj" value="" />
					<a class="zobacz" href="javascript:void(0);" onclick="szukaj();" rel="">Szukaj</a>
				</div>
			</div>
			<?php endif; ?>
			<div class="left_side" style="display:none;">
				<ul class="menu_left">					
					<table id="polecajacyTable" cellspacing="0" cellpadding="0">
						<colgroup>
							<col width="170"/>
							<col width="80"/>
						</colgroup>
						<tr>
							<th>Imię i nazwisko</th>
							<th>Polecani:</th>
						</tr>
						<?php if(@count($this->polecajacy) > 0): ?>
						<?php foreach($this->polecajacy as $polecajacy): ?>
							<?php $klient = $this->klienci[$polecajacy['id']]; ?>
							<tr <?php if($klient['id'] == @$this->klient['id']) echo 'class="active"'; ?>>
								<td align="center"><?php echo $klient['imie'].' '.$klient['nazwisko']; ?></td>
								<td align="center">
									<?php if(false): ?>
									<a href="javascript:void(0);" onclick="zobacz(this, '<?php echo $klient['imie'].' '.$klient['nazwisko']; ?>');">&nbsp;</a>
									<?php else: ?>
									<a href="<?php echo $this->baseUrl.'/'; ?>admin/lojalnosc/drzewo/klient/<?php echo $klient['id']; ?>">&nbsp;</a>
									<?php endif; ?>
								</td>
							</tr>
						<?php endforeach; ?>
						<?php endif; ?>
					</table>					
					<div id="polecajacyStronicowanie">
						<?php echo $this->render('const/stronicowanie.phtml'); ?>
					</div>
				</ul>
			</div>
			
			<div class="right_side" style="width:100%;">
				<?php if(false): ?>
				<div class="error_info" style="">
					kwoty przy nazwiskach oznaczają sumę wszystkich zamówień złożonych przez daną osobę oraz przez wszystkie osoby znajdujące się pod nią w strukturze społeczności<br/>
					link "Zobacz" prowadzi do listy zamówień danej osoby<br/>
					<br/>
				</div>
				<?php endif; ?>
				
				<?php if(!empty($this->error)): ?>				
					<div class="error_container"><?php echo $this->error; ?></div>				
				<?php endif; ?>
				
				<div id="spolecznoscDrzewo">
					<?php if(false): ?>
                    <div id="spolecznoscNagl">
						<b>Społeczność</b>
						<?php if(@count($this->klient) > 0): ?>
						&nbsp;użytkownika:&nbsp;
						<b><?php echo $this->klient['imie'].' '.$this->klient['nazwisko']; ?></b>
						<?php endif; ?>
					</div>
					<?php endif; ?>
					<?php if(!empty($this->drzewo)): ?>
                    <div id="polecenia">
						<ul>
							<?php echo $this->drzewo; ?>
						</ul>
					</div>
					<?php else: ?>
				        <div class="info_empty">Brak dodanych klientów.</div>
					<?php endif; ?>
				</div>
				
				<script type="text/javascript">
				//if(false)
				$(function()
				{
					$("#polecenia").jstree(
					{
						"plugins" : ["themes", "html_data", "ui", "crrm", "hotkeys", "search"],
						"search" : 
						{
							"search_method" : "contains",
							"case_insensitive" : true,
							"show_only_matches" : true,
							"ajax" : false
						}
						//"core" : { "initially_open" : [ "phtml_1" ] }
					})
					// EVENTS
					.bind("loaded.jstree", function (event, data)
					{
						// you get two params - event & data - check the core docs for a detailed description
						<?php if(@count($this->klient) > 0): ?>
						//var name = '<?php echo $this->klient['imie'].' '.$this->klient['nazwisko']; ?>';
						var node = $('#klient<?php echo $this->klient['id'];?>').children('a.link');
						var path = $('#polecenia').jstree('get_path', node, true);
						//console.log(path);
						var parent = $('#' + path[0]).children('a.link');
						var del = $('#polecenia > ul > li > a.link');
						$('#polecenia').jstree('delete_node', $(del).not(parent));						
						for(var i = 0; i < path.length - 1; i++)
						{
							//alert(path[i]);
							var nodes = $('#' + path[i] + ' > ul > li > a.link');
							var parents = $('#' + path[i + 1]).children('a.link');
							//console.log(nodes);
							$('#polecenia').jstree('delete_node', $(nodes).not(parents));
						}
						$('#polecenia').jstree('select_node', node);
						$(node).css('backgroundColor', 'aqua');
						<?php endif; ?>
					})
					.bind("select_node.jstree", function (event, data)
					{
						// `data.rslt.obj` is the jquery extended node that was clicked
						var id = data.rslt.obj.attr("id");
						data.inst.toggle_node("#" + id, false);
						if(false)
						{							
							if(data.inst.is_open(data.rslt.obj))
							data.inst.close_node("#" + id, false);
							else
							data.inst.open_node("#" + id, false);
						}
						//console.log(data);
					})
					.bind("search.jstree", function (e, data)
					{
						//alert("Found " + data.rslt.nodes.length + " nodes matching '" + data.rslt.str + "'.");
						//console.log(data.rslt.nodes);
						if(data.rslt.nodes.length == 0) $('#polecenia').jstree('clear_search');
					});
					setTimeout(function () { $("#polecenia").jstree("set_focus"); }, 500);
					//setTimeout(function () { $.jstree._focused().select_node("#klient0"); }, 1000);
					//setTimeout(function () { $.jstree._reference("#klient0").open_node("#klient0"); }, 2500);
				});
				
				function szukaj()
				{
					$('#polecenia').jstree('search', $('#search').val());
					$('.jstree-search').parent().find('li').css('display','block');
					$('#polecenia').jstree('open_node', $('.jstree-search'));
				}
				function zobacz(ten, value)
				{
					$('#polecenia').jstree('search', value);
					$('#polecajacyTable tr').removeClass('active');
					$(ten).parent().parent().addClass('active');
					var settings = $('#polecenia').jstree('get_settings');
					console.log(settings);
					settings.search.show_only_matches = true;
					console.log(settings);
					$('#polecenia').jstree('set_settings', settings);
				}
				</script>

			</div>
		</div>
	</div>
</div>