<div class="modul_container">
	<div class="container">	
		<div class="box_title">
			<h3 class="title3">Ustawienia społeczności:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf"><!--pola oznaczone <b>kolorem czerwonym</b> są wymagane.--></div>
					<form name="ustaw" action="" method="post">
						<?php if(true): ?>
						<div class="form_row2">
							<label class="required" style="font-weight:bold; color:#646464;font-size: 14px;">Rabat standardowy</label> <br /><br />
							<div class="input_bg_tiny" style="width:100%;">		
                                                        <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;    
							<input type="checkbox" name="new">&nbsp;&nbsp;Klient dostaje <input type="text" value="<?php echo $this->dane['rabat_standard']; ?>">&nbsp; &nbsp; % od każdego zakupu do wykorzystania w ciągu 
							<input type="text" value="<?php echo $this->dane['rej_do_zam']; ?>">&nbsp; &nbsp; dni od&nbsp; &nbsp; 
							<select style="width: 150px;">
								<option>ostatniego zakupu</option>
								<option>daty rejestracji</option>
							</select>
							<br /><br />
                                                        <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_prezent.png" alt=""/>&nbsp;&nbsp;
							<input type="checkbox" name="new">&nbsp;&nbsp;Upominek <input style="width: 200px;" type="text" name="new" value="Płyn do szyb">
							<!--<b>każdy</b> klient dostaje
							<input type="text" name="ustaw[rabat_standard]" value="<?php echo $this->dane['rabat_standard']; ?>" />	% prowizji zamienianej na kupon
							<br/><br/>-->
							<br /><br /><br /><br />
							</div>
							
						</div>
                                            <div style="border-bottom: 1px solid #C3C3C3; clear: both;"></div><br /><br />
                                                
						<div class="form_row2">
							<label class="required" style="font-weight:bold; color:#646464;font-size: 14px;">Rabat za polecenie</label> <br /><br />
							<div class="input_bg_tiny" style="width:100%;">
							Dodatkowo klient polecający dostaje: <br /><br />
                                                        <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;
							<input type="checkbox" name="new">&nbsp;&nbsp;Klient dostaje &nbsp; &nbsp;<input type="text" name="ustaw[rabat_polecajacy]" value="<?php echo $this->dane['rabat_polecajacy']; ?>" />&nbsp; &nbsp; % za każdego znajomego jeśli ten kupi w ciągu
							&nbsp; &nbsp;<input type="text" name="ustaw[rej_do_zam]" value="<?php echo $this->dane['rej_do_zam']; ?>" /> 
							&nbsp; &nbsp;dni od 
							&nbsp; &nbsp;
							<select style="width: 150px;">
								<option>daty polecenia</option>
								<option>od daty rejestracji</option>
							</select>
							<br /><br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procent za polecenie jest wypłacany
							&nbsp; &nbsp;
							<select style="width: 210px;">
								<option>od każdego zakupu</option>
								<option>tylko od pierwszego zakupu</option>
							</select>
							<br /><br />
                                                        <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_prezent.png" alt=""/>&nbsp;&nbsp;
							<input type="checkbox" name="new">&nbsp;&nbsp;Upominek <input style="width: 200px;" type="text" name="new" value="Płyn do szyb" />
                                                        <script type="text/javascript">
                                                        jQuery(document).ready(function($) {
                                                          $('a[rel*=facebox]').facebox({
                                                            loadingImage : '../src/loading.gif',
                                                            closeImage   : '../src/closelabel.png'
                                                          })
                                                        })
                                                      </script>
							<!--
							klient <b>polecający</b> dostaje
							
							% prowizji zamienianej na kupon
							<input type="checkbox" name="ustaw1[rej_do_zam_0]" <?php //if($this->dane['rej_do_zam_0']) echo 'selected="selected"'; ?> onchange="$('#rej_do_zam').css('opacity',!this.checked?0.5:1);" />
							<span id="rej_do_zam">jeśli polecany kupi w ciągu 
							<input type="text" name="ustaw[rej_do_zam]" value="<?php echo $this->dane['rej_do_zam']; ?>" />
							dni od dnia rejestracji
							</span>
							<br/>
							prowizja ma być wypłacana:
							<input type="radio" id="t1z1" name="ustaw[tylko_1_zam]" value="0" <?php if(!$this->dane['tylko_1_zam']) echo ' checked="checked"'; ?> style="width:20px" />
							<label for="t1z1">od każdego zakupu</label>
							<input type="radio" id="t1z0" name="ustaw[tylko_1_zam]" value="1" <?php if($this->dane['tylko_1_zam']) echo ' checked="checked"'; ?> style="width:20px;" />
							<label for="t1z0">tylko od pierwszego zakupu</label>
							<br/><br/>
							klient <b>polecany</b> dostaje
							<input type="text" name="ustaw[rabat_polecony]" value="<?php echo $this->dane['rabat_polecony']; ?>" />
							% prowizji zamienianej na kupon
							<?php if(true): ?>
							<br/><br/>
							minimalna kwota kuponu
							<input type="text" name="ustaw[min_rabat]" value="<?php echo $this->dane['min_rabat']; ?>" style="width:50px;"/> zł
							<?php endif; ?>
							<?php if(true): ?>
							<br/><br/>
							dziel kupony na kwoty co
							<input type="text" name="ustaw2[kupon_co]" value="<?php //echo $this->dane['kupon_co']; ?>" style="width:50px;"/> zł
							<?php endif; ?>
							<?php if(false): ?>
							<br/><br/>
							minimalna kwota zakupu
							<input type="text" name="ustaw[min_kwota]" value="<?php echo $this->dane['min_kwota']; ?>" style="width:50px;"/>
							zł aby przyznać prowizję
							<?php endif; ?>   -->
							</div>
						</div>
						<?php endif; ?>
                 	<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2" style="float:left;margin: 20px 0 20px 620px">
							
								<input class="btn-orange" type="submit" name="ustawienia" value="Zapisz" />
							
						</div>	
					<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>