
<b>Uwaga!</b> W treści możesz użyć następujących słów kluczowych:<br/>
<b>NAZWISKO_KLIENTA</b> - imię i nazwisko klienta<br/>
<!-- <b>PROCENT_STANDARD</b> - % prowizji zamienianej na kupon dla każdej osoby<br/>
<b>PROCENT_POLECANY</b> - % prowizji zamienianej na kupon dla osoby polecanej<br/>
<b>PROCENT_POLECAJACY</b> - % prowizji zamienianej na kupon dla osoby polecającej<br/>
<?php if(@$this->dane['link'] == 'Twoje-konto-rabatowe'): ?>
<b>PROCENT_ZALOGOWANY</b> - % prowizji zamienianej na kupon dla osoby zalogowanej<br/>
(w zależności od tego czy osoba zalogowana jest polecona przez kogoś)<br/>
<?php endif; ?>
<b>MIN_RABAT</b> - minimalna kwota na koncie rabatowym od której możliwe jest jego wykorzystanie<br/>
<b>MIN_KWOTA</b> - minimalna wartość zamówienia od której przyznawana jest prowizja<br/>
<b>TERMIN</b> - ilość dni od dnia rejestracji jaką ma osoba polecona na dokonanie pierwszego zakupu aby prowizję otrzymała osoba polecająca<br/> -->
<b>PUNKTY_STAWKA_STANDARD</b> - minimalna stawka, która musi być wydana na zakupy aby otrzymać punkty mogła osoba niepolecona<br/>
<?php if($this->obConfig->lojalnoscPolecenia): ?>
<b>PUNKTY_STAWKA_POLECANY</b> - minimalna stawka, która musi być wydana na zakupy aby otrzymać punkty mogła osoba polecona<br/>
<b>PUNKTY_STAWKA_POLECAJACY</b> - minimalna stawka, która musi być wydana na zakupy aby otrzymać punkty mogła osoba polecająca<br/>
<?php endif; ?>
<b>PUNKTY_STANDARD</b> - liczba punktów, które dostaje osoba niepolecona, za każdą stawkę kwoty minimalnej wydanej na zakupy <br/>
<?php if($this->obConfig->lojalnoscPolecenia): ?>
<b>PUNKTY_POLECANY</b> - liczba punktów, które dostaje osoba polecona, za każdą stawkę kwoty minimalnej wydanej na zakupy <br/>
<b>PUNKTY_POLECAJACY</b> - liczba punktów, które dostaje osoba polecająca, za każdą stawkę kwoty minimalnej wydanej na zakupy <br/>
<?php endif; ?>
<b>MIN_PUNKTY</b> - minimalna liczba punktów uzbieranych na koncie lojalnościowym, od której możliwa jest zamiana punktów na produkty<br/>
<b>MIN_KWOTA</b> - minimalna wartość zamówienia od której przyznawane są punkty<br/>
<?php if($this->obConfig->lojalnoscPolecenia): ?>
<b>TERMIN</b> - ilość dni od dnia rejestracji jaką ma osoba polecona na dokonanie pierwszego zakupu aby punkty otrzymała osoba polecająca<br/>
<?php endif; ?>

<?php if(@$this->dane['link'] == 'Twoje-konto-rabatowe'): ?>
<b>NUMER_KARTY_REJESTR</b> - numer karty osoby zalogowanej<br/>
<b>STAN_KONTA_PUNKTY_DOSTĘPNE</b> - stan konta rabatowego (tylko dostępne punkty)<br/>
<b>STAN_KONTA_PUNKTY_WARUNEK</b> - stan konta rabatowego (tylko punkty niedostępne do momentu dokonania płatności)<br/>
<b>STAN_KONTA_PUNKTY_RAZEM</b> - stan konta rabatowego (razem wszystkie punkty)<br/>
<!--
<b>STAN_KONTA_RABAT_DOSTĘPNE</b> - stan konta rabatowego (tylko dostępna kwota)<br/>
<b>STAN_KONTA_RABAT_WARUNEK</b> - stan konta rabatowego (tylko kwota niedostępna do momentu dokonania płatności)<br/>
<b>STAN_KONTA_RABAT_RAZEM</b> - stan konta rabatowego (razem cała kwota)<br/>
-->
<?php endif; ?>

<?php if(@$this->wybrany->typ == 'rejestr_lojal'): ?>
<b>NUMER_KARTY_REJESTR</b> - numer karty osoby która się zarejestrowała<br/>
<b>LINK_WERYFIKACJA</b> - link do weryfikacji (potwierdzenia) rejestracji konta<br/>
<?php endif; ?>

<?php if($this->obConfig->lojalnoscPolecenia): ?>

<?php if(@$this->wybrany->typ == 'polecenie'): ?>
<b>NAZWISKO_POLECAJACY</b> - imię i nazwisko osoby polecającej<br/>
<b>EMAIL_POLECAJACY</b> - adres e-mail osoby polecającej<br/>
<b>NUMER_KARTY_POLECAJACY</b> - numer karty osoby polecającej<br/>
<?php endif; ?>
<?php if(@$this->wybrany->typ == 'rejestr_polec' || @$this->wybrany->typ == 'rejestr_polecajacy' 
|| strpos(@$this->wybrany->typ, 'zamow_z_polec') !== false): ?>
<b>NAZWISKO_POLECAJACY</b> - imię i nazwisko osoby polecającej<br/>
<b>EMAIL_POLECAJACY</b> - adres e-mail osoby polecającej<br/>
<b>NAZWISKO_POLECANY</b> - imię i nazwisko osoby polecanej<br/>
<b>EMAIL_POLECANY</b> - adres e-mail osoby polecanej<br/>
<b>NUMER_KARTY_POLECAJACY</b> - numer karty osoby polecającej<br/>
<b>NUMER_KARTY_POLECANY</b> - numer karty osoby polecanej<br/>
<?php endif; ?>
<?php if(@$this->wybrany->typ == 'polecenie' || @$this->wybrany->typ == 'rejestr_lojal'): ?>
<b>LINK_REJESTRACJA</b> - link do formularza rejestracji z wypełnionym polem "Numer karty"<br/>
<?php endif; ?>
<?php if(@$this->wybrany->typ == 'rejestr_polec'): ?>
<b>DATA</b> - ostateczny termin w którym można dokonać pierwszego zakupu aby osoba polecająca otrzymała prowizję<br/>
<b>LINK_WERYFIKACJA</b> - link do weryfikacji (potwierdzenia) rejestracji konta<br/>
<?php endif; ?>
<?php if(strpos(@$this->wybrany->typ, 'zamow_z_polec') !== false): ?>
<b>NAZWISKO_POLECANY</b> - imię i nazwisko osoby polecanej<br/>
<b>WARTOSC_ZAMOWIENIA</b> - wartość zamówienia<br/>
<b>PROWIZJA_POLECAJACY</b> - przyznane punkty dla osoby polecającej<br/>
<?php endif; ?>

<?php endif; ?>
