<style type="text/css">
    .modul_container {
        font-size: 12px;
    }
</style>
<script type="text/javascript">
    var baseUrl = '<?= $this->baseUrl.'/'; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title oh">
            <h3 class="title3 lf">Akcje marketingowe&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            <a class="btn-orange small rf" href="<?= $this->baseUrl.'/'; ?>admin/lojalnosc/marketing/">Pokaż lista</a>
        </div>
        <div class="content lf cb" style="width:900px;">
            <div class="all_container">
                <?php if(isset($this->error) && !empty($this->error)): ?><div class="error_container"><?= $this->error; ?></div><?php endif; ?>
                <?php if(isset($this->bladkonta) && $this->bladkonta == true): ?><div class="error_container"><?= $this->bladkonta; ?></div><?php endif; ?>
                <div class="box_form user_add">
                    <form name="ustaw" action="" method="post">
                        <div class="form_row2">
                            <br />
                            <label class="" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Dane podstawowe</label>
                            <br /><br />
                            <div class="row-mark lf dn">
                                Data rozpoczęcia (data wysyłki): <b><?= date('Y-m-d'); ?></b>
                            </div>
                            <div class="cb"></div>
                            <div class="input_bg_tiny" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Tytuł </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg w1">
                                    <input disabled="disabled" style="width: 200px;" type="text" class="lf" name="post[nazwa]" value="<?= isset($this->dane['nazwa'])? $this->dane['nazwa'] : ''; ?>" />&nbsp;&nbsp;
                                </div>
                            </div>
                            <br /><br />
                            <div class="input_bg_tiny cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Typ akcji </b>: &nbsp;&nbsp;&nbsp;</span>
                                <div style="float: left;">
                                <input id="jQ_field_text1" onclick="return toggleC(this.id, 'jQ_field_text2_open');" type="radio" name="post[typ]" <?= !isset($this->dane['typ']) || $this->dane['typ'] == 0 ? 'checked="checked"': ''; ?> value="0" disabled="disabled" />
								<label for="jQ_field_text1"><b>e-mail</b></label>
								&nbsp;&nbsp;&nbsp;
								<?php if($this->obConfig->sms): ?>
                                <input id="jQ_field_text2" onclick="return toggleC(this.id, 'jQ_field_text1_open');" type="radio" name="post[typ]" <?= isset($this->dane['typ']) && $this->dane['typ'] == 1 ? 'checked="checked"': ''; ?> value="1" disabled="disabled" />
								<label for="jQ_field_text2"><b>sms</b></label>
								<?php endif; ?>
                                </div>
                            </div>
                            <div class="cb"><br /></div>
                            <div class="input_bg cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Treść</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div id="jQ_field_text2_open" class="lf <?= isset($this->dane['typ']) && $this->dane['typ'] == 1? 'db' : 'dn' ?>">
                                    <textarea disabled="disabled" class="txtTextarea" onkeyup="return lengthInput(this, 'jq_length_field');" rows="" cols="" name="post[tekst]"><?= isset($this->dane['tekst']) ? strip_tags($this->dane['tekst']) : ''; ?></textarea>
                                    <span class="stanSms"><a title="<?= $this->infosms; ?>" class="jQ_tooltip see_ico silver rf"></a><span>Długość wiadomości: <strong id="jq_length_field"><?= isset($this->dane['tekst'])? mb_strlen($this->dane['tekst'], 'UTF-8') : 0 ?></strong> znaków&nbsp;&nbsp;</span></span>
                                </div>
                                <div id="jQ_field_text1_open" class="lf <?= !isset($this->dane['typ']) || isset($this->dane['typ']) && $this->dane['typ'] == 0? 'db' : 'dn' ?>">
                                    <select class="lf" name="post[tryb]" onchange="var val = this.value.length > 0 ? true : false; $('#rodzaj').toggle(val); $('#editor').toggle(!val);" disabled="disabled">
									<option value="">własna treść</option>
									<?php if(@count($this->typyAkcjiRozne) > 0): ?>
									<?php foreach($this->typyAkcjiRozne as $typ => $nazwa): ?>
									<?php if(@!$this->obConfig->{$typ}) continue; ?>
									<option value="<?= $typ; ?>" <?php if($this->dane['tryb'] == $typ) echo 'selected="selected"'; ?>>
									<?= $nazwa; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									<?php if(@count($this->typyAkcjiOznacz) > 0): ?>
									<?php foreach($this->typyAkcjiOznacz as $typ => $nazwa): ?>
									<?php //if(@!$this->obConfig->{'oznacz'.ucfirst($typ)}) continue; ?>
									<option value="<?= $typ; ?>" <?php if($this->dane['tryb'] == $typ) echo 'selected="selected"'; ?>>
									<?= $nazwa; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
									<div id="rodzaj" class="input_bg w1 <?= @!empty($this->dane['tryb']) ? 'db' : 'dn' ?> dni" style="width:100%;">
										<input checked="checked" type="checkbox" <?= @$this->dane['rodzaj'] == 1 ? 'checked="checked"' : ''; ?> class="lf" name="post[rodzaj]" value="1" id="rodzaj1" style="margin:5px 10px;" disabled="disabled" />
										<label for="rodzaj1" style="float: left; margin:5px 0px;"><b>Tylko nowe wcześniej nie wysyłane</b></label>
									</div>
									<div id="editor" class="input_bg <?= @empty($this->dane['tryb']) ? 'db' : 'dn' ?>" style="width:100%;">
										<? //$this->editor; ?>
										<?= stripslashes($this->dane['tekst']); ?>
									</div>
                                </div>
                            </div>
                            <?php if(true): ?>
                            <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /><br /></div>
                            <br />
                            <br />
                            <label class="" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Termin akcji</label>
                            <br /><br />
                            <div class="input_bg_small" style="width:100%;">
                                <span style="float: left;"><b class="required">Wysyłka *</b>: </span>
								<br /><br />
                                <input type="radio" id="jq_field_text4" name="post[czas]" value="0" onclick="return toggleC('', 'jq_field_text3_open');" <?php echo @!$this->dane['czas'] ? 'checked="checked"' : ''; ?> disabled="disabled" />&nbsp;&nbsp;
                                <label for="jq_field_text4"><b>jednorazowo</b></label>
                                <br /><br />
                                <input type="radio" id="jq_field_text3" name="post[czas]" value="1" onclick="return toggleC(this.id, '');" <?php echo @$this->dane['czas'] == 1 ? 'checked="checked"' : ''; ?> disabled="disabled" />&nbsp;&nbsp;
                                <label for="jq_field_text3"><b>cyklicznie</b></label>
                                &nbsp;&nbsp; <b>od</b>
								<input type="text" class="center" name="post[start]" id="jQuery-od" value="<?php echo @!empty($this->dane['start']) ? $this->dane['start'] : date("Y-m-d"); ?>" disabled="disabled" />
                                &nbsp;&nbsp; <b>do</b>
								<input type="text" class="center" name="post[koniec]" id="jQuery-do" value="<?php echo @!empty($this->dane['koniec']) ? $this->dane['koniec'] : date("Y-m-d", strtotime("+10 year")); ?>" disabled="disabled" />
                                <br />
                                <div id="jq_field_text3_open" class="<?= isset($this->dane['czas']) && $this->dane['czas'] == 1 ? 'db': 'dn'; ?>" style="margin: 20px 0 0 100px; overflow: hidden;">
                                    <b>co</b>
									<input type="text" class="center" name="post[czasjednostka]" value="<?php echo @$this->dane['czasjednostka']; ?>" disabled="disabled" />
									<?php if(@count($this->czasTypy) > 0): ?>
									<select name="post[czastyp]" style="width:100px;" disabled="disabled">
									<?php foreach($this->czasTypy as $ct => $czasTyp): ?>
									<option value="<?=$ct;?>" <?php echo @$this->dane['czastyp'] == $ct ? 'selected="selected"' : ''; ?>>
									<?=$czasTyp;?></option>
									<?php if(false): ?>
									<input type="radio" id="czastyp<?=$ct;?>" <?php echo @$this->dane['czastyp'] == $ct ? 'checked="checked"' : ''; ?> name="post[czastyp]" value="<?=$ct;?>" />&nbsp;&nbsp;<label for="czastyp<?=$ct;?>"><b>co</b></label>&nbsp;&nbsp;
									<input type="text" class="center" name="post[czasjednostka]" value="<?php echo @$this->dane['czastyp'] == $ct ? @$this->dane['czasjednostka'] : ""; ?>" />&nbsp;&nbsp; <b><?=$czasTyp;?></b><br /><br />
									<?php endif; ?>
									<?php endforeach; ?>
									</select>
									<?php endif; ?>
									<b>o godz.</b>
									<input type="text" class="center" name="post[czasjednostkad]" value="<?php echo @$this->dane['czasjednostkad']; ?>" disabled="disabled" />
                                </div>
                            </div>
                            <?php endif; ?>
                        </div>
                        <br /><br />
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
                        <div class="form_row2">
                            <label class="big" style="font-weight:bold; color:#2A91B0; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Klienci zarejestrowani: &nbsp;&nbsp;</label>
							<span class="lf" style="line-height:30px; margin:0px 10px;">
								<input type="checkbox" id="all_kontrahenci" name="post[all][kontrahenci]" value="1" <?php if(@$this->dane['klient_all']) echo 'checked="checked"';?> disabled="disabled" /><label for="all_kontrahenci"  style="margin:0px 10px;">wszyscy</label>
							</span>
                            <br />
                            <br />
                            <div id="jQ_client_kontrahenci" class="input_bg_tiny" style="width:100%;">
                                <?php $check = ''; if(isset($this->dane['klient']) && !empty($this->dane['klient'])): ?>
                                   <?php foreach($this->dane['klient'] as $key=>$value): ?>
                                        <?php $ar = explode(',', $value);
                                            $hidden = '<input type="hidden" name="post[klient]['.$ar[4].']" value="'.(@$this->dane['typ'] == 1 ? $ar[0]: $ar[1]).'" />';
                                            $sms = isset($ar[0]) && !empty($ar[0])? ', sms: '.$ar[0] : '';
                                            $email = isset($ar[1]) && !empty($ar[1])? ', e-mail: '.$ar[1] : '';
                                        ?>
                                        <?php if(@$this->dane['typ'] == 0 && !empty($email) || @$this->dane['typ'] == 1 && !empty($sms)): ?>
                                        <span class="db cb lf">
                                            <span class="lf"><b><?= isset($ar[2]) && !empty($ar[2])? $ar[2] : 'brak'; ?> <?= isset($ar[3]) && !empty($ar[3])? $ar[3] : 'brak'; ?></b><?= $sms.' '.$email; ?>&nbsp; &nbsp;</span><?= $hidden; ?>
                                        </span>
                                        
                                        <?php $check++; endif; ?>
                                   <?php endforeach; ?>
                                <?php if($check == ''): ?>
                                <div>Brak klientów do wysyłki</div>
                                <?php endif; ?>
                                <?php  endif; ?>
                            </div>
							<br clear="all" />
                            <br />
							<label class="big" style="font-weight:bold; color:#2A91B0; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Klienci niezarejestrowani</label>
							<span class="lf" style="line-height:30px; margin:0px 10px;">
								<input type="checkbox" id="all_subskrypcja" name="post[osoba_all]" value="1" <?php if(@$this->dane['osoba_all']) echo 'checked="checked"';?> disabled="disabled" /><label for="all_subskrypcja"  style="margin:0px 10px;">wszyscy</label>
							</span>
                            <div id="jQ_client_subskrypcja" class="input_bg_tiny" style="width:100%;">
                                <?php $check = ''; if(isset($this->dane['osoba']) && !empty($this->dane['osoba'])): ?>
                                   <?php foreach($this->dane['osoba'] as $key=>$value): ?>
                                        <?php $ar = explode(',', $value);
                                            $hidden = '<input type="hidden" name="post[osoba]['.$ar[4].']" value="'.(@$this->dane['typ'] == 1 ? $ar[0]: $ar[1]).'" />';
                                            $sms = isset($ar[0]) && !empty($ar[0])? 'sms: '.$ar[0] : '';
                                            $email = isset($ar[1]) && !empty($ar[1])? 'e-mail: '.$ar[1] : '';
                                        ?>
                                        <?php if(@$this->dane['typ'] == 0 && !empty($email) || @$this->dane['typ'] == 1 && !empty($sms)): ?>
                                        <span class="db cb lf">
                                            <span class="lf"><b><?= isset($ar[2]) && !empty($ar[2])? $ar[2] : ''; ?> <?= isset($ar[3]) && !empty($ar[3])? $ar[3] : ''; ?></b><?= $sms.' '.$email; ?>&nbsp; &nbsp;</span><?= $hidden; ?>
                                        </span>
                                        
                                        <?php $check++; endif; ?>
                                   <?php endforeach; ?>
                                <?php if($check == ''): ?>
                                <div>Brak klientów do wysyłki</div>
                                <?php endif; ?>
                                <?php  endif; ?>
                            </div>
                        </div>
                        <br /><br /><br />
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
                        <label class="" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Statystyki</label>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Wysłanych </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[suma]" value="<?= isset($this->dane['suma'])? $this->dane['suma'] : '0.00'; ?>" />&nbsp;&nbsp;
                            <span style="float: left;">&nbsp;&nbsp;szt.</span>
                        </div>
                        <?php if(@$this->dane['typ'] == 1): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left; width: 97px;"><b class="">Koszt </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 120px;" type="text" class="lf center" name="post[wartosc]" value="<?= isset($this->dane['wartosc'])? $this->dane['wartosc'] : '0.00'; ?>" />&nbsp;&nbsp;
                            <span style="float: left;">&nbsp;&nbsp;zł.</span>
                        </div>
                        <?php endif; ?>
                        <?php if(false && !empty($this->dane['datarozpoczecia'])): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Ostatni raz rozpoczęto akcję </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[datarozpoczecia]" value="<?= isset($this->dane['datarozpoczecia'])? $this->dane['datarozpoczecia'] : '' ?>" />&nbsp;&nbsp;
                        </div>
                        <?php endif; ?>
                        <?php if(@$this->dane['powtorzen'] > 0): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Wykonano akcję </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[powtorzen]" value="<?= isset($this->dane['powtorzen'])? $this->dane['powtorzen'] : '0'; ?>" />&nbsp;&nbsp;
                            <span style="float: left;">&nbsp;&nbsp;razy</span>
                        </div>
                        <?php endif; ?>
                        <?php if(false && !empty($this->dane['datadeaktywacja'])): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Ostatni raz zakończono akcję </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[datadeaktywacja]" value="<?= isset($this->dane['datadeaktywacja'])? $this->dane['datadeaktywacja'] : '' ?>" />&nbsp;&nbsp;
                        </div>
                        <?php endif; ?>
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br /><br />
                        <?php //if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2" style="float:right;margin: 0 0 20px 0;">
                                <input <?= isset($this->bladkonta) && $this->bladkonta == true? 'disabled="disabled"' : false; ?> class="btn-orange" type="submit" name="ustawienia" value="Wyślij" />
                            </div>
                        <?php //endif; ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>