<style type="text/css">
    .modul_container {
        font-size: 12px;
    }
</style>
<script type="text/javascript">
    var baseUrl = '<?= $this->baseUrl.'/'; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title oh">
            <h3 class="title3 lf">Akcje marketingowe&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            <a class="btn-orange small rf" href="<?= $this->baseUrl.'/'; ?>admin/lojalnosc/marketing/">Pokaż lista</a>
        </div>
        <div class="content lf cb" style="width:900px;">
            <div class="all_container">
                <?php if(isset($this->error) && !empty($this->error)): ?><div class="error_container"><?= $this->error; ?></div><?php endif; ?>
                <div class="box_form user_add">
                    <form name="ustaw" action="" method="post">
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                jQuery('a[rel*=facebox]').facebox({
                                    loadingImage : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/loading.gif',
                                    closeImage   : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/closelabel.png'
                                });
                                jQuery('a.facebox').facebox({
                                    loadingImage : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/loading.gif',
                                    closeImage   : '<?= $this->baseUrl.'/'; ?>public/images/admin/facebox/closelabel.png'
                                });
                                $( "#jQuery-od" ).datepicker({
                                    defaultDate: "+1w",
                                    dateFormat: 'yy-mm-dd', showOn: 'button',
                                    buttonImage: '<?= $this->baseUrl.'/'; ?>public/images/admin/ikony/calendar.gif',
                                    buttonImageOnly: true,
                                    changeMonth: true,
                                    changeYear: true,
                                    onSelect: function( selectedDate ) {
                                        $( "#jQuery-do" ).datepicker( "option", "minDate", selectedDate );
                                    }
                                });
                                $( "#jQuery-do").datepicker({
                                    defaultDate: "+1w",
                                    dateFormat: 'yy-mm-dd', showOn: 'button',
                                    buttonImage: '<?= $this->baseUrl.'/'; ?>public/images/admin/ikony/calendar.gif',
                                    buttonImageOnly: true,
                                    changeMonth: true,
                                    changeYear: true,
                                    onSelect: function( selectedDate ) {
                                        $("#jQuery-od").datepicker( "option", "maxDate", selectedDate );
                                    }
                                });
                           });
                        </script>
                        <div class="form_row2">
                            <br />
                            <label class="required" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Dane podstawowe</label>
                            <br /><br />
                            <div class="row-mark lf dn">
                                Data rozpoczęcia (data wysyłki): <b><?= date('Y-m-d'); ?></b>
                                <input type="hidden" disabled="disabled" name="post[data]" value="<?= date('Y-m-d'); ?>" />
                            </div>
                            <div class="row-mark rf dn">
                                Data zakończenia: <b>XXXX-XX-XX</b>
                            </div>
                            <div class="cb"></div>
                            <div class="input_bg_tiny" style="width:auto; float: left;">
                                <span style="float: left;"><b class="required">Tytuł *</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg w1">
                                    <input style="width: 200px;" type="text" class="lf" name="post[nazwa]" value="<?= @$this->dane['nazwa']; ?>" />
                                </div>
                            </div>
                            <br /><br />
                            <div class="input_bg_tiny" style="width:100%;">
                                <span style="float: left;"><b>Aktywna</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg">
                                    <input type="hidden" name="post[aktywna]" value="1" />
                                    <input checked="checked" type="checkbox" <?= isset($this->dane['aktywna']) && $this->dane['aktywna'] == 1 ? 'checked="checked"' : ''; ?> class="lf" name="post[aktywna]" value="1" />&nbsp;&nbsp;
                                </div>
                            </div>
							<br /><br />
                            <div class="input_bg_tiny cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="required">Typ akcji *</b>: &nbsp;&nbsp;&nbsp;</span>
                                <div style="float: left;">
                                <input type="hidden" name="post[typ]" value="0" />
                                <input id="jQ_field_text1" onclick="return toggleC(this.id, 'jQ_field_text2_open');" type="radio" name="post[typ]" <?= !isset($this->dane['typ']) || $this->dane['typ'] == 0 ?  'checked="checked"': ''; ?> value="0" />
								<label for="jQ_field_text1"><b>e-mail</b></label>
								&nbsp;&nbsp;&nbsp;
								<?php if($this->obConfig->sms): ?>
                                <input id="jQ_field_text2" onclick="return toggleC(this.id, 'jQ_field_text1_open');" type="radio" name="post[typ]" <?= isset($this->dane['typ']) && $this->dane['typ'] == 1 ?  'checked="checked"': ''; ?> value="1" />
								<label for="jQ_field_text2"><b>sms</b></label>
								<?php endif; ?>
                                </div>
                            </div>
                            <div class="cb"><br /></div>
                            <div class="input_bg cb" style="width:100%; float: left;">
                                <span style="float: left;"><b class="">Treść</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div id="jQ_field_text2_open" class="lf <?= isset($this->dane['typ']) && $this->dane['typ'] == 1? 'db' : 'dn' ?>">
                                    <textarea class="txtTextarea" onkeyup="return lengthInput(this, 'jq_length_field');" rows="" cols="" name="post[tekst2]"><?= isset($this->dane['tekst2']) ? strip_tags($this->dane['tekst2']) : ''; ?></textarea>
                                    <span class="stanSms"><a title="<?= $this->infosms; ?>" class="jQ_tooltip see_ico silver rf"></a><span>Długość wiadomości: <strong id="jq_length_field"><?= isset($this->dane['tekst2'])? mb_strlen($this->dane['tekst2'], 'UTF-8') : 0 ?></strong> znaków&nbsp;&nbsp;</span></span>
                                </div>
                                <div id="jQ_field_text1_open" class="lf <?= !isset($this->dane['typ']) || (isset($this->dane['typ']) && $this->dane['typ'] == 0) ? 'db' : 'dn' ?>">
									<select class="lf" name="post[tryb]" onchange="var val = this.value.length > 0 ? true : false; $('#rodzaj').toggle(val); $('#editor').toggle(!val);">
									<option value="">własna treść</option>
									<?php if(@count($this->typyAkcjiRozne) > 0): ?>
									<?php foreach($this->typyAkcjiRozne as $typ => $nazwa): ?>
									<?php if(@!$this->obConfig->{$typ}) continue; ?>
									<option value="<?= $typ; ?>" <?php if($this->dane['tryb'] == $typ) echo 'selected="selected"'; ?>>
									<?= $nazwa; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									<?php if(@count($this->typyAkcjiOznacz) > 0): ?>
									<?php foreach($this->typyAkcjiOznacz as $typ => $nazwa): ?>
									<?php //if(@!$this->obConfig->{'oznacz'.ucfirst($typ)}) continue; ?>
									<option value="<?= $typ; ?>" <?php if($this->dane['tryb'] == $typ) echo 'selected="selected"'; ?>>
									<?= $nazwa; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
									<div id="rodzaj" class="input_bg w1 <?= @!empty($this->dane['tryb']) ? 'db' : 'dn' ?> dni" style="width:100%;">
										<input type="hidden" name="post[rodzaj]" value="0" id="rodzaj0" />
										<input checked="checked" type="checkbox" <?= @$this->dane['rodzaj'] == 1 ? 'checked="checked"' : ''; ?> class="lf" name="post[rodzaj]" value="1" id="rodzaj1" style="margin:5px 10px;" />
										<label for="rodzaj1" style="float: left; margin:5px 0px;"><b>Tylko nowe wcześniej nie wysyłane</b></label>
									</div>
									<div id="editor" class="input_bg <?= @empty($this->dane['tryb']) ? 'db' : 'dn' ?>" style="width:100%;">
										<?= $this->editor; ?>
									</div>
                                </div>
                            </div>
                            <?php if(true): ?>
                            <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /><br /></div>
                            <br />
                            <br />
                            <label class="required" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Termin akcji</label>
                            <br /><br />
                            <div class="input_bg_small" style="width:100%;">
                                <span style="float: left;"><b class="required">Wysyłka *</b>: </span>
								<br /><br />
                                <input type="hidden" name="post[czas]" value="0" />
                                <input type="radio" id="jq_field_text4" name="post[czas]" value="0" onclick="return toggleC('', 'jq_field_text3_open');" <?php echo @!$this->dane['czas'] ? 'checked="checked"' : ''; ?> />&nbsp;&nbsp;
                                <label for="jq_field_text4"><b>jednorazowo</b></label>
                                <br /><br />
                                <input type="radio" id="jq_field_text3" name="post[czas]" value="1" onclick="return toggleC(this.id, '');" <?php echo @$this->dane['czas'] == 1 ? 'checked="checked"' : ''; ?> />&nbsp;&nbsp;
                                <label for="jq_field_text3"><b>cyklicznie</b></label>
                                &nbsp;&nbsp; <b>od</b>
								<input type="text" class="center" name="post[start]" id="jQuery-od" value="<?php echo @!empty($this->dane['start']) ? $this->dane['start'] : date("Y-m-d"); ?>" />
                                &nbsp;&nbsp; <b>do</b>
								<input type="text" class="center" name="post[koniec]" id="jQuery-do" value="<?php echo @!empty($this->dane['koniec']) ? $this->dane['koniec'] : date("Y-m-d", strtotime("+10 year")); ?>" />
                                <br />
                                <div id="jq_field_text3_open" class="<?= isset($this->dane['czas']) && $this->dane['czas'] == 1 ? 'db': 'dn'; ?>" style="margin: 20px 0 0 100px; overflow: hidden;">
									<b>co</b>
									<input type="text" class="center" name="post[czasjednostka]" value="<?php echo @max(1,intval($this->dane['czasjednostka'])); ?>" />
									<?php if(@count($this->czasTypy) > 0): ?>
									<select name="post[czastyp]" style="width:100px;">
									<?php foreach($this->czasTypy as $ct => $czasTyp): ?>
									<option value="<?=$ct;?>" <?php echo @$this->dane['czastyp'] == $ct ? 'selected="selected"' : ''; ?>>
									<?=$czasTyp;?></option>
									<?php if(false): ?>
									<input type="radio" id="czastyp<?=$ct;?>" <?php echo @$this->dane['czastyp'] == $ct ? 'checked="checked"' : ''; ?> name="post[czastyp]" value="<?=$ct;?>" />&nbsp;&nbsp;<label for="czastyp<?=$ct;?>"><b>co</b></label>&nbsp;&nbsp;
									<input type="text" class="center" name="post[czasjednostka]" value="<?php echo @$this->dane['czastyp'] == $ct ? @$this->dane['czasjednostka'] : ""; ?>" />&nbsp;&nbsp; <b><?=$czasTyp;?></b><br /><br />
									<?php endif; ?>
									<?php endforeach; ?>
									</select>
									<?php endif; ?>
									<b>o godz.</b>
									<input type="text" class="center" name="post[czasjednostkad]" value="<?php echo @max(0,intval($this->dane['czasjednostkad'])); ?>" />
                                </div>
                            </div>
                            <?php endif; ?>
                        </div>
                        <br /><br />
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
                        <div class="form_row2">							
                            <label class="big required" style="font-weight:bold; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Klienci zarejestrowani: *&nbsp;&nbsp;</label>
							<span class="lf" style="line-height:30px; margin:0px 10px;">
								<input type="hidden" name="post[klient_all]" value="0" />
								<input type="checkbox" id="all_kontrahenci" name="post[klient_all]" value="1" <?php if(@$this->dane['klient_all']) echo 'checked="checked"';?> /><label for="all_kontrahenci"  style="margin:0px 10px;">wszyscy</label>
							</span>
							<a rel="facebox" href="http://<?= $this->www.''.$this->baseUrl.'/'; ?>ajax/upominki/getclient/tryb/kontrahenci/od/0" class="btn-orange" href="#">wybierz</a>
                            <br />
                            <br />
                            <div id="jQ_client_kontrahenci" class="input_bg_tiny" style="width:100%;">
                                <br />
                                <?php if(isset($this->dane['klient']) && !empty($this->dane['klient'])): ?>
                                   <?php foreach($this->dane['klient'] as $key=>$value): ?>
                                        <?php $ar = explode(',', $value);
                                            $hidden = '<input type="hidden" id="kontrahenci'.$ar[4].'" name="post[kontrahenci]['.$ar[4].']" value="'.$value.'" />';
                                            $sms = isset($ar[0]) && !empty($ar[0])? ', telefon: '.$ar[0] : '';
                                            $email = isset($ar[1]) && !empty($ar[1])? ', e-mail: '.$ar[1] : '';
                                        ?>
                                        <span class="db cb lf">
                                            <span class="lf"><b><?= isset($ar[2]) && !empty($ar[2])? $ar[2] : 'brak'; ?> <?= isset($ar[3]) && !empty($ar[3])? $ar[3] : 'brak'; ?></b><?= $sms.' '.$email; ?>&nbsp; &nbsp;</span> <a onclick="return removeRow(this);" title="usuń z akcji" class="lf del_ico silver"></a><?= $hidden; ?>
                                        </span>
                                   <?php endforeach; ?>
                                <?php  endif; ?>
                            </div>
                        </div>
						<div class="form_row2 lf">
							<br /><br />
                            <label class="big required" style="font-weight:bold; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Klienci niezarejestrowani*</label>
							<span class="lf" style="line-height:30px; margin:0px 10px;">
								<input type="hidden" name="post[osoba_all]" value="0" />
								<input type="checkbox" id="all_subskrypcja" name="post[osoba_all]" value="1" <?php if(@$this->dane['osoba_all']) echo 'checked="checked"';?> /><label for="all_subskrypcja"  style="margin:0px 10px;">wszyscy</label>
							</span>
							<a rel="facebox" href="http://<?= $this->www.''.$this->baseUrl.'/'; ?>ajax/upominki/getclient/tryb/subskrypcja/od/0" class="btn-orange" href="#">wybierz</a>
                            <br />
                            <br />
                            <div id="jQ_client_subskrypcja" class="input_bg_tiny" style="width:100%;">
                                <br />
                                <?php if(isset($this->dane['osoba']) && !empty($this->dane['osoba'])): ?>
                                   <?php foreach($this->dane['osoba'] as $key=>$value): ?>
                                        <?php $ar = explode(',', $value);
                                            $hidden = '<input type="hidden" id="subskrypcja'.$ar[4].'" name="post[subskrypcja]['.$ar[4].']" value="'.$value.'" />';
                                            $sms = isset($ar[0]) && !empty($ar[0])? ' sms: '.$ar[0] : '';
                                            $email = isset($ar[1]) && !empty($ar[1])? ' e-mail: '.$ar[1] : '';
                                        ?>
                                        <span class="db cb lf">
                                            <span class="lf"><b><?= isset($ar[2]) && !empty($ar[2])? $ar[2] : ''; ?> <?= isset($ar[3]) && !empty($ar[3])? $ar[3] : ''; ?></b><?= $sms.' '.$email; ?>&nbsp; &nbsp;</span> <a onclick="return removeRow(this);" title="usuń z akcji" class="lf del_ico silver"></a><?= $hidden; ?>
                                        </span>
                                   <?php endforeach; ?>
                                <?php  endif; ?>
                            </div>
                        </div>
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br /><br />
                        <?php //if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2" style="float:right;margin: 0 0 20px 0;">
                                <input class="btn-orange" type="submit" name="wyslij" value="Zapisz i wyślij" />
                            </div>
                            <div class="button_form m2" style="float:right;margin: 0 10px 20px 0;">
                                <input class="btn-orange" type="submit" name="ustawienia" value="Zapisz" />
                            </div>
                        <?php //endif; ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>