<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dhlustawienia/">DHL</a>	
			<span class="link_path_end">Konfiguracja DHL</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia DHL</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja DHL:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">DHL:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">
						pola oznaczone <b>kolorem czerwonym</b> są wymagane.
						<br/>Adres usługi testowej to <b><?php echo DHL24webapiclient::WSDL_TEST; ?></b>
						<br/>Adres usługi produkcyjnej to <b><?php echo DHL24webapiclient::WSDL; ?></b>
					</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">
						<div class="form_row">
							<label class="required">Adres usługi WebService:</label>
							<div class="input_bg w1">
							<input type="text" name="www" value="<?php echo !empty($this->dane['www'])?$this->dane['www']:DHL24webapiclient::WSDL; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Klucz użytkownika:</label>
							<div class="input_bg w1">
							<input type="text" name="username" value="<?php echo $this->dane['username']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Przydzielone hasło:</label>
							<div class="input_bg w1">
							<input type="text" name="password" value="<?php echo $this->dane['password']; ?>"/>
							</div>
						</div>
                 		 <?php if($this->edycjazablokowana === false): ?>
                         <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" id="jQuery_zapisz_btn" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>