<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/InPostustawienia/">InPost</a>	
			<span class="link_path_end">Konfiguracja InPost</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia InPost</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja InPost:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">InPost:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.
					<br/>Aby działać w środowisku testowym wpisz Login "<b>test@testowy.pl</b>" oraz Hasło "<b>WqJevQy*X7</b>"
					<br/><br/>
					</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">
						<div class="form_row">
							<label class="required">Adres usługi:</label>
							<div class="input_bg w6">
							<input type="text" name="inpost[www]" value="<?php echo $this->dane['www']; ?>" readonly="readonly"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Login (e-mail):</label>
							<div class="input_bg w1">
							<input type="text" name="inpost[login]" value="<?php echo $this->dane['login']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Hasło:</label>
							<div class="input_bg w1">
							<input type="text" name="inpost[haslo]" value="<?php echo $this->dane['haslo']; ?>"/>
							</div>
						</div>
                 		<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" value="Zapisz" />
							</div>
						</div>	
						<?php endif; ?>
						
						<div class="form_title"><h2 class="title4">Cennik</h2></div>
						<div class="form_row">
							<label class="large">minimalny koszt dodatkowy nadania przesyłki za pobraniem:</label>
							<div class="input_bg_small">
								<b><?php echo $this->cennik['on_delivery_payment']; ?> zł</b>
							</div>
						</div>
						<div class="form_row">
							<label class="large">maksymalny koszt dodatkowy nadania przesyłki za pobraniem:</label>
							<div class="input_bg_small">
								<b><?php echo $this->cennik['on_delivery_limit']; ?> zł</b>
							</div>
						</div>
						<div class="form_row">
							<label class="large">procentowa wartość pobrania:</label>
							<div class="input_bg_small">
								<b><?php echo $this->cennik['on_delivery_percentage']; ?> %</b>
							</div>
						</div>
						<div class="form_row">
							<label class="large">
								ceny przesyłek o standardowej wielkości A <?php echo @$this->packType['A']; ?>:
							</label>
							<div class="input_bg_small">
								<b><?php echo $this->cennik['A']; ?> zł</b>
							</div>
						</div>
						<div class="form_row">
							<label class="large">
								ceny przesyłek o standardowej wielkości B <?php echo @$this->packType['B']; ?>:
							</label>
							<div class="input_bg_small">
								<b><?php echo $this->cennik['B']; ?> zł</b>
							</div>
						</div>
						<div class="form_row">
							<label class="large">
								ceny przesyłek o standardowej wielkości C <?php echo @$this->packType['C']; ?>:
							</label>
							<div class="input_bg_small">
								<b><?php echo $this->cennik['C']; ?> zł</b>
							</div>
						</div>
						<div class="form_row">
							<label class="large">
								ceny ubezpieczenia dla poszczególnych limitów kwoty ubezpieczenia:
							</label>
							<div class="input_bg">
							<?php if(@count($this->cennik['insurance']) > 0): ?>
							<?php foreach($this->cennik['insurance'] as $limit => $cena): ?>
							<b><?php echo $limit; ?> - <?php echo $cena; ?> zł</b><br/>
							<?php endforeach; ?>
							<?php endif; ?>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>