<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/InPostustawienia/">InPost</a>	
			<span class="link_path_end">Konfiguracja InPost</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia InPost</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Wyszukaj paczkomaty InPost:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
			<ul class="menu_left">
				<li><span class="hover"><b>Paczkomat: </b><b id="name"></b></span></li>
				<li><span class="hover">długość geograficzna (longitude): <br/><b id="longitude">0</b></span></li>
				<li><span class="hover">szerokość geograficzna (latitude): <br/><b id="latitude">0</b></span></li>
				<li><span class="hover">
				odbiór paczki za pobraniem: <b id="paymentavailable"></b>
				</span></li>
				<li><span class="hover">
				godziny dostępności: <br/><b id="operatinghours"></b>
				</span></li>
				<li><span class="hover">
				opis lokalizacji: <br/><b id="locationdescription"></b>
				</span></li>
				<li><span class="hover">
				opis miejsca uiszczania opłat: <br/><b id="paymentpointdescr"></b>
				</span></li>
				<li><span class="hover">
				id partnera (lokalizacja): <b id="partnerid"></b>
				</span></li>
				<li><span class="hover">
				obsługiwane formy płatności: <b id="paymenttype"></b>
				</span></li>
			</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Miasto:</label>
							<div class="input_bg w3">
							<select id="town" onchange="getPaczkomaty(0);">
							<option value="">wybierz</option>
							<?php if(@count($this->towns) > 0): ?>
							<?php foreach($this->towns as $town): ?>
							<option value="<?php echo $town; ?>"><?php echo $town; ?>
							</option>
							<?php endforeach;?>
							<?php endif; ?>
							</select>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Obsługa pobrania:</label>
							<div class="input_bg w3">
							<select id="pobr" onchange="getPaczkomaty(0);">
							<option value="">wyświetlenie wszystkich paczkomatów</option>
							<?php $paymentavailable['t'] = 'pokaż paczkomaty obsługujące pobranie';?>
							<?php $paymentavailable['f'] = 'pokaż paczkomaty nie obsługujące pobrań'; ?>
							<?php if(@count($paymentavailable) > 0): ?>
							<?php foreach($paymentavailable as $paym => $payment): ?>
							<option value="<?php echo $paym; ?>"><?php echo $payment; ?></option>
							<?php endforeach;?>
							<?php endif; ?>
							</select>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Paczkomaty w mieście:</label>
							<div class="input_bg w3">
							<select id="miasto" onchange="getPaczkomaty(1);">
							<option value="">wybierz</option>
							<?php if(@count($this->paczkomaty) > 0): ?>
							<?php foreach($this->paczkomaty as $paczkomat): ?>
							<?php $name = $paczkomat['name'].' '.$paczkomat['postcode'].' '.$paczkomat['town'].' '.$paczkomat['street'].' '.$paczkomat['buildingnumber']; ?>
							<?php if(isset($paczkomat['distance'])) $name .= ' ('.$paczkomat['distance'].' km)'; ?>
							<option value="<?php echo $paczkomat['name']; ?>"><?php echo $name;?></option>
							<?php endforeach;?>
							<?php endif; ?>
							</select>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Paczkomaty w okolicy:</label>
							<div class="input_bg w3">
							<select id="okolica" onchange="updateLocationFromPaczkomat(this);">
								<option value="">wybierz</option>
							</select>
							</div>
						</div>
						<div class="form_title"><h2 class="title4">Lokalizacja</h2></div>                   
						<div class="form_row">
							<label class="big">Adres z Google Maps: </label>
							<div class="lf input_bg w3">
								<input type="text" id="address" readonly="readonly" value="" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Mapa z Google Maps: </label>
							<div class="lf" id="map_canvas" style="width:700px; height:500px"></div>
						</div>
						<script type="text/javascript">
						var paczkomaty = new Array();
						function updateLocationFromPaczkomat(ten)
						{
							var name = $(ten).val();
							if(name.length == 0) return;							
							var paczkomat = paczkomaty[name];
							if(paczkomat == undefined) return;
							$('#name').text(name);
							var latitude = paczkomat.find('latitude').text();
							var longitude = paczkomat.find('longitude').text();
							updateLocationFromMarker(latitude, longitude);
							getAddressFromMarker(marker);
							var paymentavailable = paczkomat.find('paymentavailable').text();
							var operatinghours = paczkomat.find('operatinghours').text();
							var locationdescription = paczkomat.find('locationdescription').text();
							var paymentpointdescr = paczkomat.find('paymentpointdescr').text();
							var partnerid = paczkomat.find('partnerid').text();
							var paymenttype = paczkomat.find('paymenttype').text();
							$('#paymentavailable').text(paymentavailable == '1' ? 'TAK' : 'NIE');
							$('#operatinghours').text(operatinghours);
							$('#locationdescription').text(locationdescription);
							$('#paymentpointdescr').text(paymentpointdescr);
							$('#partnerid').text(partnerid);
							$('#paymenttype').text(paymenttype);
						}
						function getPaczkomaty(okolica)
						{
							var town = encodeURIComponent($('#town').val());
							var pobr = encodeURIComponent($('#pobr').val());
							var miasto = $('#miasto').val(); var code = '';
							if(okolica && miasto.length > 0 && paczkomaty[miasto] != undefined)
							code = paczkomaty[miasto].find('postcode').text();
							var args = 'town/'+town+'/pobr/'+pobr+'/code/'+code;
							var select = okolica ? 'okolica' : 'miasto';
							if(okolica) updateLocationFromPaczkomat($('#miasto'));
							if(town.length > 0 || code.length > 0)
							$.ajax(
							{
								url: '<?php echo $this->baseUrl; ?>/ajax/kurierzy/paczkomaty/' + args,
								cache: false,
								timeout : 5000,
								error: function(jqXHR, textStatus, errorThrown)
								{
									$('#'+select).html('<option value="">'+errorThrown+'</option>');
								},
								success: function(html, textStatus, jqXHR)
								{
									var xml = $.parseXML(html);
									var ile = $(xml).find('paczkomat').length;
									$('#'+select).html('<option value="">wybierz</option>');
									if(ile > 0)
									{
										$(xml).find('paczkomat').each(function()
										{
											var name = $(this).find('name').text();
											var street = $(this).find('street').text();
											var buildingnumber = $(this).find('buildingnumber').text();
											var postcode = $(this).find('postcode').text();
											var town = $(this).find('town').text();
											var distance = $(this).find('distance').text();	
											var id = okolica ? name : name;
											var paczkomat = 
											name + ' ' + postcode + ' ' + town + ' ' + street + ' ' + buildingnumber;
											if(distance.length > 0) paczkomat = paczkomat + ' (' + distance + ' km)';
											$('#'+select).append('<option value="'+id+'">'+paczkomat+'</option>');
											paczkomaty[name] = $(this);
											//console.log(paczkomaty[name]);											
										});
										//updateLocationFromPaczkomat($('#'+select));
										//if(!okolica) getPaczkomaty(1);
									}
									if(!okolica) $('#okolica').html('<option value="">wybierz</option>');
								}
							});
						}
						</script>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>