<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/opekustawienia/">OPEK</a>	
			<span class="link_path_end">Konfiguracja OPEK</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia OPEK</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja OPEK:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">OPEK:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="big required">
								E-mail na jaki ma być wysyłany raport dzienny<br/>(plik wymiany danych) do OPEK:
							</label>
							<div class="input_bg w1">
							<input type="text" name="opek[email_opek]" value="<?php echo $this->dane['email_opek']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Zakres listów - od</label>
							<div class="input_bg">
							<input type="text" name="opek[list_min]" value="<?php echo $this->dane['list_min']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Zakres listów - do</label>
							<div class="input_bg">
							<input type="text" name="opek[list_max]" value="<?php echo $this->dane['list_max']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Zakres paczek - od</label>
							<div class="input_bg">
							<input type="text" name="opek[paczka_min]" value="<?php echo $this->dane['paczka_min']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Zakres paczek - do</label>
							<div class="input_bg">
							<input type="text" name="opek[paczka_max]" value="<?php echo $this->dane['paczka_max']; ?>"/>
							</div>
						</div>
                 		<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>