<div class="modul_container">
<div class="navi_box">
	<span class="no_link">Panel administracyjny &raquo;</span>
		<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
		<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/mode/all/">Zamówienia &raquo;</a>
		<span class="link_path_end">OPEK</span>	
</div>
<div class="container">	
<div class="box_main_title">
	<img src="/public/images/admin/ikony/ikona_zamowienia_kategoria.png" alt="OPEK" />
	<h2 class="title2 p1">OPEK</h2>
</div>
<div class="box_title">
	<h3 class="title3">
		OPEK - raport dzienny z dnia <?php echo $this->data; ?> do dnia <?php echo $this->dataDo; ?>:
	</h3>
</div>
<div class="content">
	<div class="all_container">
		
		<?php if(!empty($this->error)): ?>
			<div class="error_container">
				<?php echo $this->error; ?>			
			</div>		
		<?php endif; ?>
		
		<form action="" method="post" accept-charset="utf-8" style="text-align:left;">
		
		<div class="kontrData2" id="kontrDataOd" style="width:auto; float:left; margin:0px 20px 20px 0px !important;">
		Data od: <?php $data = explode('-', $this->data);?>
		
		<select name="data[rok]" class="kontrRok">
		<?php for($i=date('Y');$i>=2010;$i--): ?>
		<option value="<?php echo $i; ?>" <?php if($data[0] == $i) echo 'selected="selected"'; ?>><?php echo $i; ?></option>
		<?php endfor; ?>
		</select>
		
		<select name="data[mc]" class="kontrMc">
		<?php for($i=1;$i<=12;$i++): ?>
		<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($data[1] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
		<?php endfor; ?>
		</select>
		
		<select name="data[day]" class="kontrDay">
		<?php for($i=1;$i<=31;$i++): ?>
		<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($data[2] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
		<?php endfor; ?>
		</select>
		
		</div>
		
		<div class="kontrData2" id="kontrDataDo" style="width:auto; float:left; margin:0px 20px 20px 0px !important;">
		Data do: <?php $dataDo = explode('-', $this->dataDo);?>
		
		<select name="dataDo[rok]" class="kontrRok">
		<?php for($i=date('Y');$i>=2010;$i--): ?>
		<option value="<?php echo $i ?>" <?php if($dataDo[0]==$i) echo 'selected="selected"';?>><?php echo $i;?></option>
		<?php endfor; ?>
		</select>
		
		<select name="dataDo[mc]" class="kontrMc">
		<?php for($i=1;$i<=12;$i++): ?>
		<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($dataDo[1] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
		<?php endfor; ?>
		</select>
		
		<select name="dataDo[day]" class="kontrDay">
		<?php for($i=1;$i<=31;$i++): ?>
		<option value="<?php echo strlen($i)==1?'0'.$i:$i; ?>" <?php if($dataDo[2] == $i) echo 'selected="selected"'; ?>><?php echo strlen($i)==1?'0'.$i:$i; ?></option>
		<?php endfor; ?>
		</select>		
		
		</div>
		
		Szukaj:&nbsp;
		<input type="text" name="fraza" value="<?php echo $this->fraza;?>" size="20" style="border:1px solid #c3c3c3;"/>
		
		<div class="button1" style="position:relative; float:none; clear:both; width:55px; left:45%;">
			<input type="submit" name="submit" value="Szukaj" />	
		</div>
		
		</form>		
		
	</div>
</div>

<div class="form_title">
	<h2 class="title4" style="float:left;">Lista przesyłek</h2>
</div>

<?php $i=1; if(count($this->dane) > 0):?>
<form id="opekForm" action="" method="post" accept-charset="utf-8">
<?php foreach($this->dane as $data): ?>
<?php //var_dump($data);?>
<div class="form_row">
	<label class="tiny" style="width:50px;"><?php echo $i++; ?></label>
	<label class="large">
	<?php if(!empty($data['user']['NazwaFirmyO'])) echo $data['user']['NazwaFirmyO'].'<br/>'; ?>
	<?php echo $data['user']['NazwiskoO'];?><br/>
	<span style="font-weight:normal!important;">
	<?php echo $data['user']['UlicaO'];?> 
	<?php echo $data['user']['KodPocztowyO'];?> <?php echo $data['user']['MiastoO'];?><br/>
	<?php echo $data['user']['TelefonO'];?> 
	<?php if(empty($data['user']['NazwaFirmyO'])) echo '<br/>'; ?>
	<input type="checkbox" name="pomin[<?php echo $data['deal_id'];?>]" /> Pomiń
	</span>
	</label>
	<div class="input_bg w3">
	Nr listu: <?php echo $data['list'];?>&nbsp;&nbsp;&nbsp;
	Nr paczki: <?php echo $data['paczka'];?><br/>
	Stacja nadania: <?php echo $data['config']['StacjaN'];?>&nbsp;&nbsp;&nbsp;
	Stacja odbioru: <?php echo $data['config']['StacjaO'];?><br/>
	Data nadania: <?php echo $data['config']['DataN'];?><br/>
	<?php if(false): ?>
	Sztuk: <?php echo @intval($data['config']['sztuk']);?>&nbsp;&nbsp;&nbsp;
	<?php endif; ?>
	Pobranie: <?php echo $data['config']['kwotaPobrania'];?>&nbsp;&nbsp;&nbsp;
	Ubezpieczenie: <?php echo $data['config']['kwotaUbezpieczenia'];?><br/>
	Opis: <?php echo $data['config']['opisZawartosci'];?><br/>
	<br/>
	</div>
</div>

<?php endforeach; ?>

<div style="width:100%; text-align:center;">
	<?php if(!isset($this->raportDzienny)): ?>
	<div class="button1" style="position:relative;float:none;margin:10px auto;width:200px;">
		<input type="submit" id="raport" name="raport" value="Generuj raport dzienny" />
	</div>
	<?php elseif(false): ?>
	<a href="<?php echo $this->baseUrl; ?>/public/admin/opek/<?php echo $this->adminID; ?>/raport_dzienny_opek.pdf" rel="">
	Zobacz raport dzienny</a>
	<?php endif; ?>
	<?php if(!isset($this->plikWymianyDanych)): ?>
	<div class="button1" style="position:relative;float:none;margin:10px auto;width:200px;">
		<input type="submit" id="plik" name="plik" value="Generuj plik wymiany danych" />
	</div>
	<?php elseif(false): ?>
	<a href="<?php echo $this->baseUrl; ?>/public/admin/opek/<?php echo $this->adminID; ?>/OPEK_PWD_FILE.TXT" rel="">
	Zobacz plik wymiany danych</a>
	<?php endif; ?>
</div>

<br clear="all"/><!--&#22; = --><br/>
<?php //echo $this->plikWymianyDanych; ?>

</form>
<?php else: ?>

<div class="box_title">
	<h3 class="title3">Nie znaleziono żadnego wygenerowanego wcześniej listu przewozowego OPEK</h3>
</div>

<?php endif; ?>

</div>
</div>
