<div class="box_foto_product" class="zakladkaPowiazania">

<div class="form_title"><h2 class="title4">Wybierz produkty:</h2></div>

<div class="form_row2">
<label class="big" style="font-weight:bold; font-size:15px; text-transform:uppercase; float:left; line-height:30px;">Produkty - wybrano: <span id="wybrano_zamowienie"><?php echo @count($this->produkty); ?></span>
</label>
<a rel="facebox" href="<?php echo $this->obConfig->www; ?>/ajax/index/lista/norender/1/od/0/typ/zamowienie" class="btn-orange" href="#">wybierz</a>
<br />
<br />
<div id="jQ_client_zamowienie" class="input_bg_tiny" style="width:100%; max-height:100px; overflow:hidden;">
	<?php if(isset($this->produkty) && !empty($this->produkty)): ?>
    <?php foreach($this->produkty as $produkt): ?>
	<span class="db cb lf">
		<span class="lf"><b><?php echo $produkt['nazwa']; ?></b></span> 
		<a onclick="removeRow(this); countRows('zamowienie');" title="usuń z akcji" class="lf del_ico silver"></a>
		<input type="hidden" id="zamowienie<?php echo $produkt['id']; ?>" name="zamowienie[<?php echo $produkt['id']; ?>]" value="<?php echo $produkt['id']; ?>" />
	</span>
    <?php endforeach; ?>
	<?php  endif; ?>
</div>
<?php if(@count($this->produkty) > 0): ?>
<a href="javascript:void(0);" onclick="$('#jQ_client_zamowienie').css('max-height','none'); $('#ukryjZamowienie').show(); $(this).hide();" class="db" id="pokazZamowienie">pokaż wszystkie</a>
<a href="javascript:void(0);" onclick="$('#jQ_client_zamowienie').css('max-height','100px'); $('#pokazZamowienie').show(); $(this).hide();" class="dn" id="ukryjZamowienie">ukryj wszystkie</a>
<?php  endif; ?>
</div>

</div>