<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/siodemkaustawienia/">Siódemka</a>	
			<span class="link_path_end">Konfiguracja Siódemki</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia Siódemki</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja Siódemki:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Siódemka:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.
					<br/>Aby działać w środowisku testowym wpisz adres "<b>http://testws.siodemka.com/mm7ws/SiodemkaServiceSoapHttpPort</b>"
					<br/>Aby działać w środowisku produkcyjnym wpisz adres "<b>http://webmobile7.siodemka.com/mm7ws/SiodemkaServiceSoapHttpPort</b>"
					<br/><br/>
					</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">    
						<div class="form_row">
							<label class="required">Adres usługi WebService7:</label>
							<div class="input_bg w6">
							<input type="text" name="siodemka_www" value="<?php echo $this->dane['www']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Siódemka Numer:</label>
							<div class="input_bg w1">
							<input type="text" name="siodemka_numer" value="<?php echo $this->dane['numer']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Siódemka Klucz API:</label>
							<div class="input_bg w1">
							<input type="text" name="siodemka_klucz" value="<?php echo $this->dane['klucz']; ?>"/>
							</div>
						</div>
                 		 <?php if($this->edycjazablokowana === false): ?>
                         <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" id="jQuery_zapisz_btn" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>