<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dpdustawienia/">UPS</a>	
			<span class="link_path_end">Konfiguracja UPS</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia UPS</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja UPS:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">UPS:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.
					<br/>Aby działać w środowisku testowym wpisz adres "<b>https://wwwcie.ups.com/webservices</b>"
					<br/>Aby działać w środowisku produkcyjnym wpisz adres "<b>https://onlinetools.ups.com/webservices</b>"
					<br/><br/>
					</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Adres usługi:</label>
							<div class="input_bg w6">
							<input type="text" name="ups[www]" value="<?php echo $this->dane['www']; ?>"/>
							</div>
						</div>							
						<div class="form_row">
							<label class="required">ID użytkownika (login):</label>
							<div class="input_bg w1">
							<input type="text" name="ups[userid]" value="<?php echo $this->dane['userid']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Hasło:</label>
							<div class="input_bg w1">
							<input type="text" name="ups[haslo]" value="<?php echo $this->dane['haslo']; ?>"/>
							</div>
						</div>
                        <div class="form_row">
							<label class="required">NR klienta UPS:</label>
							<div class="input_bg w1">
							<input type="text" name="ups[clientid]" value="<?php echo $this->dane['clientid']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Klucz dostępu:</label>
							<div class="input_bg w1">
							<input type="text" name="ups[accesskey]" value="<?php echo $this->dane['accesskey']; ?>"/>
							</div>
						</div>
                 		<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>