.agileUploaderFilePreview {
	float: left;
	width: 15%;
	height: 50px;
	margin: 0px;
	text-align: left;	
}
.agileUploaderFileSize {
	float: left;
	width: 10%;
	margin: 0px;
	text-align: left;
}
.agileUploaderFileName {
	float: left;
	width: 50%;
	text-align: left;
	margin: 0px;
}
.agileUploaderRemoveFile {
	width: 20%;
	float: left;
	text-align: right;
	margin: 0px;
	display: block;
}
#agileUploaderInfo {
	width: 400px;
	font-size: 11px;
	font-family: Helvetica, sans-serif;
	display: block;
	height: 200px;
	padding: 0px;
	margin: 0px 0px 4px 0px;
	overflow: auto;
	background: #444;
	border: 2px solid #444;
}
#agileUploaderFileList {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	display: block;
}
#agileUploaderFileList li {
	list-style: none;
	clear: left;
	margin: 0px;
	padding: 2px 6px 2px 2px;
	display: block;	
	overflow: hidden;
	text-indent: 0px;
	background: #ccc;
	border-bottom: solid 1px #444;	
}
#agileUploaderFileList li.alt { 
	background: #eee;
}
.agileUploaderCurrentProgress {
	height: 50px;
	width: 1%;
	background: #000;
}
.agileUploaderRemoveFile a, .agileUploaderRemoveFile a:hover {
	text-decoration: none;
	border: 0px;
}
.agileUploaderRemoveFile a img {
	border: 0px;
}
#agileUploaderAttachArea {
	width: 404px;
	height: 10px;
}
#agileUploaderMessages {
	font-size: 12px;
	color: #bf0000;
	font-family: Helvetica, sans-serif;
	width: 500px;
	float: left;
	margin: 0px 0px 0px 4px;
	text-align: right;
}
#agileUploaderSWF, #agileUploaderEMBED {
	float: left;
}
#agileUploaderRemoveAll {
	height: 14px;
	text-align: right;
	width: 404px;
	font-family: Helvetica, sans-serif;
}
#agileUploaderRemoveAll a {
	color: #555;
	font-size: 11px;
}
#agileUploaderRemoveAll a:hover {
	color: #000;
}
.agileUploaderSingleMessages {
	clear: left !important;
	text-align: left !important;
}
#agileUploaderInfoContainer {
	float: left;
	width: 148px;
	margin-right: 5px;
}
#agileUploaderProgressBar {
	clear: left;
	width: 0px;
	height: 2px;
	margin: 0px;
	padding: 0px;
}
#agileUploaderFileInputText {
	width: 100%;
}
