<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Dostępność - Edycja</span>		
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Dostępność" />
			<h2 class="title2 p1">Dostępność</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj statusami dostępności</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dostępność</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div id="box_display" class="db">
						<form action="" method="post" enctype="multipart/form-data">                   
							<input type="hidden" name="id" value="<?php echo $this->pojedynczy->id;?>"/>
							<div class="form_title"><h2 class="title4">Edytuj dostępność</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="<?php echo $this->pojedynczy->nazwa;?>" />
								</div>
							</div>
							<?php if($this->obConfig->dostepnoscPrzedzialy): ?>
							<div class="form_row">
								<label class="required">Od:</label>
								<div class="input_bg_small">
									<input type="text" name="min" value="<?php echo $this->pojedynczy->min;?>" />
								</div>
							</div>
							<div class="form_row">
								<label class="required">Do:</label>
								<div class="input_bg_small">
									<input type="text" name="max" value="<?php echo $this->pojedynczy->max;?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->dostepnoscKolory): ?>
							<div class="form_row">
								<label class="required">Kolor:</label>
								<?php $kolor = $this->pojedynczy->kolor; ?>
								<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor; ?>;">
									<input type="hidden" name="kolor" value="<?php echo $kolor; ?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->edycjazablokowana === false): ?>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edytuj" value="Zapisz" />	
								</div>
							</div>
							<?php endif; ?>
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->dostepnosci) && count($this->dostepnosci) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width=""/>
									<?php if($this->obConfig->dostepnoscPrzedzialy): ?>
									<col width="15%"/>
									<col width="15%"/>
									<?php endif; ?>
									<?php if($this->obConfig->dostepnoscKolory): ?>
									<col width="15%"/>
									<?php endif; ?>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<?php if($this->obConfig->dostepnoscPrzedzialy): ?>
									<th>Od</th>
									<th>Do</th>
									<?php endif; ?>
									<?php if($this->obConfig->dostepnoscKolory): ?>
									<th>Kolor</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->dostepnosci as $dostepnosc): ?>
									
									<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td>
										<?php echo $dostepnosc->nazwa; ?>
									</td>
									<?php if($this->obConfig->dostepnoscPrzedzialy): ?>
									<td align="center">
										<?php echo $dostepnosc->min; ?>
									</td>
									<td align="center">
										<?php echo $dostepnosc->max; ?>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->dostepnoscKolory): ?>
									<td align="center">	
										<div style="background:#<?php echo $dostepnosc->kolor;?>;">&nbsp;</div>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/dostepnosc/edytuj/id/<?php echo $dostepnosc->id;?>">Edytuj</a>
									</td>
									<td align="center">	
										<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/dostepnosc/dodaj/delid/<?php echo $dostepnosc->id;?>">Usuń</a>
										<?php endif; ?>
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych statusów dostępności.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>