<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Oferta</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Oferta" />
			<h2 class="title2 p1">Oferta</h2>
		</div>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/menu/index/">Wróć do listy</a>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/menu/dodaj/">Dodaj podstrone w ofercie</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj ofertą:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
				
            	<form action="" method="post" enctype="multipart/form-data">
            		<input type="hidden" name="id" value="<?php echo $this->kategoria->id; ?>">
            		
					<div class="mojtytul">Nazwa kategorii: </div>
            		<input type="text" name="nazwa" value="<?php echo $this->kategoria->nazwa; ?>" class="input_temat">
					<br/>
					
					<?php if($this->obConfig->podstronyUpdateEdycja): ?>
					<div class="mojtytul">Data:</div>
					<div class="input_bg_small" style="width:100px; clear:both;">
						<input type="text" name="data" id="data" value="<?php echo date('Y-m-d', strtotime($this->kategoria['data'])); ?>" />
					</div>
					<?php endif; ?>
					
					<?php if($this->obConfig->menuSkrot): ?>
					<div class="mojtytul" style="clear:both;">Skrót:</div>
					<div class="temat" style="margin-left:0px; clear:left;">
						<?php echo $this->short; ?>
					</div>
					<?php endif; ?>
					
					<div class="mojtytul" style="clear:both;">Tekst:</div>
					<div class="temat" style="margin-left:0px; clear:left;">
						<?php echo $this->edytor; ?>
					</div>
						
					<?php if($this->obConfig->podstronyGaleria): ?>
						<?php echo $this->render('const/galeria.phtml'); ?>
					<?php endif; ?>
					<?php if($this->obConfig->podstronyVideo): ?>
						<?php echo $this->render('const/video.phtml'); ?>
					<?php endif; ?>
					
            		<input type="submit" name="submit" id="zapisz" value="zapisz" class="przycisk_1" style="margin-left:300px;" />
            		 
            	</form>
         
				</div>
			</div>
		</div>
	</div>
</div>
