<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/ustawienia/edytuj/">Ustawienia &raquo;</a>	
			<span class="link_path_end">Ustawienia</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Ustawienia panelu:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Ustawienia:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="ustaw" action="" method="post" enctype="multipart/form-data">
					
					<?php if($this->zakladka_admin==1||(!$this->obConfig->sklepOsobneMenu&&$this->zakladka_admin==2)):?>
					<div class="form_title"><h2 class="title4">O stronie</h2></div>
						<div class="form_row">
							<label class="required">Tytuł strony (Title):</label>
							<div class="input_bg w6">
							<input type="text" name="ustawlang[title]" value="<?php echo $this->danelang['title']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Słowa kluczowe (Keywords):</label>
							<div class="input_bg w6">
						<textarea name="ustawlang[keywords]" rows="3" cols="50"><?php echo $this->danelang['keywords']; ?></textarea>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Opis strony<br/>(Description):</label>
							<div class="input_bg w6">
							<textarea name="ustawlang[description]" rows="5" cols="50"><?php echo $this->danelang['description']; ?></textarea>
							</div>
						</div>
						<div class="form_row">
							<label class="">Kod Google Analytics:</label>
							<div class="input_bg w6">
							<textarea name="ustaw[google_analytics]" rows="10" cols="50"><?php echo $this->dane['google_analytics']; ?></textarea>
							</div>
						</div>
					<div class="form_title"><h2 class="title4">Polityka cookies</h2></div>
						<div class="form_row">
							<label>Komunikat o "Cookies":</label>
							<div class="input_bg w1">
								<textarea rows="" cols="" name="ustawlang[cookiepolicy]"><?php if(isset($this->danelang)): echo stripslashes($this->danelang['cookiepolicy']); endif; ?></textarea>
							</div>
							<div class="error_info" style="clear: none;">fraza <b>{LINK}</b> jest podmieniana na odnośnik do podstrony z Polityką cookies,<br/>fraza <b>{PRZYCISK}</b> jest podmieniana na przycisk zamknięcia komunikatu</div>
						</div>
						<div class="form_row">
							<label>Link do polityki cookies:</label>
							<div class="input_bg w1">
								<select name="ustawlang[cookielink]">
									<option value="">wybierz</option>
									<?php foreach($this->podstrony as $r): ?>
									<option <?= trim($r['link']) == $this->danelang['cookielink'] ? 'selected="selected"':''; ?> value="<?= trim($r['link']); ?>"><?= trim($r['temat']); ?></option>
									<?php endforeach; ?>
								</select>
							</div>
						</div>
					<?php endif; ?>
					
					<?php if($this->obConfig->asortyment&&(!$this->obConfig->sklepOsobneMenu||$this->zakladka_admin==2)):?>
					<div class="form_title"><h2 class="title4">Ustawienia</h2></div>
						<?php if($this->obConfig->sklepOnline): ?>
						<div class="form_row">
							<label class="big">Stany magazynowe:</label>
							<div class="input_bg_radio">
							<input type="radio" id="sm1" name="ustaw[stany_mag]" value="1" <?php if($this->dane['stany_mag']) echo ' checked="checked"'; ?>/>&nbsp;<label for="sm1">Włącz</label>
							<input type="radio" id="sm0" name="ustaw[stany_mag]" value="0" <?php if(!$this->dane['stany_mag']) echo ' checked="checked"'; ?>/>&nbsp;<label for="sm0">Wyłącz</label>
							</div>
						</div>
						<?php endif; ?>
						<div class="form_row">
							<label class="big">Automatyczna nazwa produktu:</label>
							<div class="input_bg_radio">
							<input type="radio" id="an1" name="ustaw[auto_nazwa]" value="1" <?php if($this->dane['auto_nazwa']) echo ' checked="checked"'; ?>/>&nbsp;<label for="an1">Włącz</label>
							<input type="radio" id="an0" name="ustaw[auto_nazwa]" value="0" <?php if(!$this->dane['auto_nazwa']) echo ' checked="checked"'; ?>/>&nbsp;<label for="an0">Wyłącz</label>
							</div>
						</div>
						<div class="form_row">
							<label class="big">Opis skrócony / dodatkowy produktu:</label>
							<div class="input_bg_radio">
							<input type="radio" id="s1" name="ustaw[skrot]" value="1" <?php if($this->dane['skrot']) echo ' checked="checked"'; ?>/>&nbsp;<label for="s1">Włącz</label>
							<input type="radio" id="s0" name="ustaw[skrot]" value="0" <?php if(!$this->dane['skrot'])echo ' checked="checked"'; ?>/>&nbsp;<label for="s0">Wyłącz</label>
							</div>
						</div>
						<div class="form_row">
							<label class="big">Edycja przyjaznych linków:</label>
							<div class="input_bg_radio">
							<input type="radio" id="l1" name="ustaw[link]" value="1" <?php if($this->dane['link']) echo ' checked="checked"'; ?>/>&nbsp;<label for="l1">Włącz</label>
							<input type="radio" id="l0" name="ustaw[link]" value="0" <?php if(!$this->dane['link']) echo ' checked="checked"'; ?>/>&nbsp;<label for="l0">Wyłącz</label>
							</div>
						</div>
						<?php if($this->obConfig->sklepOnline): ?>
						<div class="form_row">
							<label class="big">Wymagaj potwierdzenia rejestracji przez&nbsp;klienta:</label>
							<div class="input_bg_radio">
							<input type="radio" id="prk1" name="ustaw[potwierdz_rejestr]" value="1" <?php if($this->dane['potwierdz_rejestr']) echo 'checked="checked"';?>/>&nbsp;<label for="prk1">Włącz</label>
							<input type="radio" id="prk0" name="ustaw[potwierdz_rejestr]" value="0" <?php if(!$this->dane['potwierdz_rejestr']) echo 'checked="checked"';?>/>&nbsp;<label for="prk0">Wyłącz</label>
							</div>
						</div>
						<?php if($this->obConfig->potwRejAdminOsobnoHurtDetal): ?>
						<div class="form_row">
							<label class="big">
								Wymagaj potwierdzenia rejestracji przez admina:
								(dot. tylko klientów detalicznych)
							</label>
							<div class="input_bg_radio">
							<input type="radio" id="prad1" name="ustaw[potwierdz_rejestr_admin_detal]" value="1" <?php if($this->dane['potwierdz_rejestr_admin_detal']) echo ' checked="checked"'; ?>/>&nbsp;<label for="prad1">Włącz</label>
							<input type="radio" id="prad0" name="ustaw[potwierdz_rejestr_admin_detal]" value="0" <?php if(!$this->dane['potwierdz_rejestr_admin_detal']) echo ' checked="checked"'; ?>/>&nbsp;<label for="prad0">Wyłącz</label>
							</div>
						</div>
						<div class="form_row">
							<label class="big">
								Wymagaj potwierdzenia rejestracji przez admina:
								(dot. tylko klientów hurtowych)
							</label>
							<div class="input_bg_radio">
							<input type="radio" id="prah1" name="ustaw[potwierdz_rejestr_admin_hurt]" value="1" <?php if($this->dane['potwierdz_rejestr_admin_hurt']) echo ' checked="checked"'; ?>/>&nbsp;<label for="prah1">Włącz</label>
							<input type="radio" id="prah0" name="ustaw[potwierdz_rejestr_admin_hurt]" value="0" <?php if(!$this->dane['potwierdz_rejestr_admin_hurt']) echo ' checked="checked"'; ?>/>&nbsp;<label for="prah0">Wyłącz</label>
							</div>
						</div>
						<?php else: ?>
						<div class="form_row">
							<label class="big">Wymagaj potwierdzenia rejestracji przez&nbsp;admina:</label>
							<div class="input_bg_radio">
							<input type="radio" id="pra1" name="ustaw[potwierdz_rejestr_admin]" value="1" <?php if($this->dane['potwierdz_rejestr_admin']) echo ' checked="checked"'; ?>/>&nbsp;<label for="pra1">Włącz</label>
							<input type="radio" id="pra0" name="ustaw[potwierdz_rejestr_admin]" value="0" <?php if(!$this->dane['potwierdz_rejestr_admin']) echo ' checked="checked"'; ?>/>&nbsp;<label for="pra0">Wyłącz</label>
							</div>
						</div>
						<?php endif; ?>
						<div class="form_row">
							<label class="big">Wymagaj potwierdzenia zamówienia przez&nbsp;klienta:</label>
							<div class="input_bg_radio">
							<input type="radio" id="pz1" name="ustaw[potwierdz_zamow]" value="1" <?php if($this->dane['potwierdz_zamow']) echo ' checked="checked"'; ?>/>&nbsp;<label for="pz1">Włącz</label>
							<input type="radio" id="pz0" name="ustaw[potwierdz_zamow]" value="0" <?php if(!$this->dane['potwierdz_zamow']) echo ' checked="checked"'; ?>/>&nbsp;<label for="pz0">Wyłącz</label>
							</div>
						</div>
						<div class="form_row">
							<label class="big">Minimalna kwota zamówienia:</label>
							<div class="input_bg_small">
							<input type="text" name="ustaw[min_zamow]" value="<?php echo $this->dane['min_zamow']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="big">Transport Gratis od kwoty zamówienia<br/>(0 - opcja wyłączona):</label>
							<div class="input_bg_small">
							<input type="text" name="ustaw[transp_gratis]" value="<?php echo $this->dane['transp_gratis']; ?>" />
							</div>
						</div>
						<?php if($this->obConfig->koszykFinalizacja): ?>
						<div class="form_row">
							<label class="big">Przypominaj o niesfinalizowanym zamówieniu po (0 - opcja wyłączona):</label>
							<div class="input_bg_tiny" style="width:100px;">
							<input type="text" name="ustaw[koszyk_dni]" value="<?php echo $this->dane['koszyk_dni']; ?>" /> dniach
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->koszykCookie): ?>
						<div class="form_row">
							<label class="big">Przechowuj produkty w koszyku (w&nbsp;ciasteczkach) przez ile dni<br/>(0 - przechowuj tylko w sesji):</label>
							<div class="input_bg_tiny" style="width:100px;">
							<input type="text" name="ustaw[koszyk_czas]" value="<?php echo $this->dane['koszyk_czas']; ?>" /> dni
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->schowek): ?>
						<div class="form_row">
							<label class="big">Przechowuj produkty w schowku (w&nbsp;ciasteczkach) przez ile dni<br/>(0 - przechowuj tylko w sesji):</label>
							<div class="input_bg_tiny" style="width:100px;">
							<input type="text" name="ustaw[schowek_czas]" value="<?php echo $this->dane['schowek_czas']; ?>" /> dni
							</div>
						</div>
						<?php endif; ?>
						<?php endif; ?>
						<?php if(false && $this->obConfig->ceny): ?>
						<div class="form_row">
							<label class="big">Ceny:</label>
							<div class="input_bg_radio">
							<?php foreach($this->ceny as $nazwa => $label): ?>
							<input type="checkbox" id="<?php echo $nazwa;?>" name="<?php echo $nazwa;?>" <?php if($this->dane[$nazwa]) echo ' checked="checked"'; ?>/>&nbsp;<label for="<?php echo $nazwa;?>">
							<?php echo $label;?></label>
							<?php endforeach; ?>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->gabaryt): ?>
						<div class="form_row">
							<label class="big">Koszt przesyłki gabarytu:</label>
							<div class="input_bg">
							<input type="text" name="ustaw[gabaryt]" value="<?php echo $this->dane['gabaryt']; ?>" />
							</div>
						</div>
						<?php endif; ?>
						<div class="form_row">
							<label class="big">Nie pokazuj na stronie produktów bez zdjęć:</label>
							<div class="input_bg_radio">
							<input type="radio" id="pbz1" name="ustaw[produkty_bez_zdjec]" value="1" <?php if($this->dane['produkty_bez_zdjec']) echo ' checked="checked"'; ?>/>&nbsp;<label for="pbz1">Włącz</label>
							<input type="radio" id="pbz0" name="ustaw[produkty_bez_zdjec]" value="0" <?php if(!$this->dane['produkty_bez_zdjec']) echo ' checked="checked"'; ?>/>&nbsp;<label for="pbz0">Wyłącz</label>
							</div>
						</div>
						<?php if($this->ImageDir->uploadWatermark): ?>
						<div class="form_title"><h2 class="title4">Znak wodny</h2></div>
						<?php $watermark = @unserialize($this->dane['watermark']); ?>
						<div class="form_row">
							<label class="big">Znak wodny</label>
							<div class="input_bg_radio">
								<input type="hidden" name="watermark[on]" value="0" />
								<input type="checkbox" name="watermark[on]" id="watermark1" value="1" <?php if(@$watermark['on']) echo 'checked="checked"';?> />
								<label for="watermark1">domyślnie włączony dla nowych zdjęć</label>
							</div>
						</div>
						<div class="form_row">
							<label class="required big">Znak wodny - pozycja:</label>
							<div class="input_bg_radio">
								<?php $q=1;foreach($this->common->znakiArrows as $kod => $poz): ?>
								<input type="radio" id="watermark_<?=$q;?>" name="watermark[pozycja]" value="<?=$poz;?>" <?php if($watermark['pozycja']==$poz) echo 'checked="checked"';?> />
								<label class="znakWodny" for="watermark_<?=$q;?>">&#<?=$kod;?>;</label>
								<?php if($q % 3 == 0): ?><br/><?php endif; ?>
								<?php $q++;endforeach; ?>
							</div>
						</div>
						<div class="form_row">
							<label class="big">Znak wodny - przeźroczystość:<br/>(liczba od 0 do 10)</label>
							<div class="input_bg_small">
								<input type="text" name="watermark[opacity]" value="<?php echo @intval($watermark['opacity']); ?>" onchange="$('#watermark_img').css('opacity', parseInt(this.value) / 10);" />
							</div>
						</div>
						<div class="form_row">
							<label class="required big">Znak wodny - plik:</label>
							<div class="input_bg w3">
								<img class="rf" id="watermark_img" src="<?php echo $this->baseUrl; ?>/public/admin/watermark/watermark.png" style="background:white;max-width:200px;max-height:100px;opacity:<?=@intval($watermark['opacity'])/10;?>;"/>
								<input type="file" id="watermark" value="" />
							</div>
						</div>
						<?php endif; ?>
					<?php endif; ?>
					
                 	<?php if($this->edycjazablokowana === false): ?>
                         <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="ustawienia" id="zapisz" value="Zapisz" />
							</div>
						</div>	
					<?php endif; ?>
					
					</form>
				</div>
			</div>
		</div>
	</div>
</div>