<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/ustawienia/edytuj/">Ustawienia &raquo;</a>	
			<span class="link_path_end">Dane firmy</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Dane firmy</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Dane firmy:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane firmy:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="ustaw" action="" method="post" enctype="multipart/form-data">
					
						<div class="form_row" id="f1">
							<label class="required">Nazwa firmy:</label>
							<div class="input_bg w6" id="f2">
								<input name="dane_firmy[nazwa_firmy]" type="text" value="<?php echo stripslashes($this->dane_firmy['nazwa_firmy']); ?>"/>
							</div>
						</div>
						<div class="form_row vh h0 <?php if(!$this->obConfig->pesel):?>dn<?php endif; ?>" id="f11">
							<label class="">PESEL:</label>
							<div class="input_bg w1" id="f12">
								<input name="dane_firmy[pesel]" type="text" value="<?php echo $this->dane_firmy['pesel']; ?>"/>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->nip):?>dn<?php endif; ?>" id="f3">
							<label class="required">NIP:</label>
							<div class="input_bg w1" id="f4">
								<input name="dane_firmy[nip]" type="text" value="<?php echo $this->dane_firmy['nip']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h0 <?php if(!$this->obConfig->regon):?>dn<?php endif; ?>" id="f5">
							<label class="">REGON:</label>
							<div class="input_bg w1" id="f6">
								<input name="dane_firmy[regon]" type="text" value="<?php echo $this->dane_firmy['regon']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h0 <?php if(!$this->obConfig->pkd):?>dn<?php endif; ?>" id="f7">
							<label class="">PKD:</label>
							<div class="input_bg w1" id="f8">
								<input name="dane_firmy[pkd]" type="text" value="<?php echo $this->dane_firmy['pkd']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h0 <?php if(!$this->obConfig->krs):?>dn<?php endif; ?>" id="f9">
							<label class="">KRS:</label>
							<div class="input_bg w1" id="f10">
								<input name="dane_firmy[krs]" type="text" value="<?php echo $this->dane_firmy['krs']; ?>"/>
							</div>
						</div>
						<div class="form_row vh h0" id="f0">
						</div>
						<div class="form_row">
							<label class="required">E-mail:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[email]" type="text"  value="<?php echo $this->dane_firmy['email']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Imię:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[imie]" type="text"  value="<?php echo $this->dane_firmy['imie']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Nazwisko:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[nazwisko]" type="text"  value="<?php echo $this->dane_firmy['nazwisko']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Ulica:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[ulica]" type="text"  value="<?php echo $this->dane_firmy['ulica']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Nr. ulicy<span style="color:black;"> / Domu:</span></label>
							<div class="input_bg_small">
								<input name="dane_firmy[nr]" type="text"  value="<?php echo $this->dane_firmy['nr']; ?>"/>
							</div>
							<span class="sep_form">/</span>
							<div class="input_bg_small">
								<input name="dane_firmy[mieszkanie]" type="text" value="<?php if(@intval($this->dane_firmy['mieszkanie']) > 0) echo $this->dane_firmy['mieszkanie']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Kod pocztowy / Miasto:</label>
							<div class="input_bg_small">
								<input name="dane_firmy[kod]" type="text" value="<?php echo $this->dane_firmy['kod']; ?>"/>
							</div>
							<span class="sep_form">/</span>
							<div class="input_bg w4">
								<input name="dane_firmy[miasto]" type="text" value="<?php echo $this->dane_firmy['miasto'];?>">
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->wojew):?>dn<?php endif; ?>">
							<label class="required">Województwo:</label>
							<div class="input_bg w1">
								<select name="dane_firmy[wojew]" id="wojew">
								<option value="">Wybierz</option>
								<?php if(@count($this->wojew) > 0): ?>
								<?php foreach($this->wojew as $woj): ?>
								<option value="<?php echo $woj; ?>" <?php if($woj == $this->dane_firmy['wojew']) echo 'selected="selected"';?>><?php echo $woj;?></option>
								<?php endforeach;?>
								<?php endif; ?>
								</select>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->kraje):?>dn<?php endif; ?>">
							<label class="required">Kraj:</label>
							<div class="input_bg w1">
								<select name="dane_firmy[kraj]" onchange="szukajWojew(this, 'wojew');">
								<option value="">Wybierz</option>
								<?php if(@count($this->kraje) > 0): ?>
								<?php foreach($this->kraje as $kraj): ?>
								<option value="<?php echo $kraj['country-name']; ?>" <?php if($kraj['country-name'] == $this->dane_firmy['kraj']) echo 'selected="selected"';?>>
								<?php echo $kraj['country-name'];?></option>
								<?php endforeach;?>
								<?php endif; ?>
								</select>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->telefon):?>dn<?php endif; ?>">
							<label class="required">Telefon:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[telefon]" type="text" value="<?php echo $this->dane_firmy['telefon']; ?>"/>
							</div>
						</div>
						<div class="form_row <?php if(!$this->obConfig->komorka):?>dn<?php endif; ?>">
							<label class="required">Telefon komórkowy:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[komorka]" type="text" value="<?php echo $this->dane_firmy['komorka']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Bank:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[bank]" type="text" value="<?php echo $this->dane_firmy['bank']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Nr konta:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[konto]" type="text" value="<?php echo $this->dane_firmy['konto']; ?>"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required">Godziny otwarcia:</label>
							<div class="input_bg w1">
								<input name="dane_firmy[godziny]" type="text" value="<?php echo @$this->dane_firmy['godziny']; ?>"/>
							</div>
						</div>
					
                 	<?php if($this->edycjazablokowana === false): ?>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="ustawienia" id="zapisz" value="Zapisz" />
						</div>
					</div>
					<?php endif; ?>
					
					</form>
				</div>
			</div>
		</div>
	</div>
</div>