<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/ustawienia/edytuj/">Ustawienia &raquo;</a>	
			<span class="link_path_end">Aplikacja mobilna</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Aplikacja mobilna" />
			<h2 class="title2 p1">Aplikacja mobilna</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Ustawienia panelu:</h3>	
		</div>
		<div class="content">
			<div class="left_side dn">
				<ul class="menu_left">
					<li><span class="hover">Aplikacja mobilna:</span></li>
				</ul>
			</div>
			<div class="right_side2">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="ustaw" action="" method="post" enctype="multipart/form-data">
					
					<?php if(true):?>
						<div class="form_row">
							<label class="required big">Adres aplikacji na Androida:</label>
							<div class="input_bg w3">
								<a href="<?php echo $this->baseUrl;?>/public/reklama.apk">
								<?php echo $this->obConfig->www; ?>/public/reklama.apk</a>
							</div>
						</div>
						<div class="form_row">
							<label class="required big">Tekst reklamowy:</label>
							<div class="input_bg w3">
								<textarea name="ustawienia[reklama_tekst]" rows="10" cols="50"><?php echo stripslashes($this->ustawienia['reklama_tekst']); ?></textarea>
							</div>
						</div>
						<div class="form_row">
							<label class="required big">Zdjęcie reklamowe:</label>
							<div class="input_bg w3">
								<input type="file" id="uploadedfile" name="uploadedfile" />
								<input type="hidden" id="file" name="ustawienia[reklama_obraz]" value="<?php echo $this->ustawienia['reklama_obraz']; ?>" />
								<?php if(!empty($this->ustawienia['reklama_obraz'])): ?>
								<img src="<?php echo $this->baseUrl; ?>/public/admin/reklama/<?php echo $this->ustawienia['reklama_obraz']; ?>" style="max-width:400px;"/>
								<?php endif; ?>
							</div>
						</div>
					<?php endif; ?>					
					
                 	<?php if($this->edycjazablokowana === false): ?>
                         <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" id="zapisz" value="Zapisz" />
							</div>
						</div>	
					<?php endif; ?>
					
					</form>
				</div>
			</div>
		</div>
	</div>
</div>