<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut tłumaczenia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem tłumaczenia:</h3>	
		</div>
		<div class="content">
			<div class="left_side" style="display:none;">
				<ul class="menu_left">
					<li><span class="hover">tłumaczenia</span></li>
				</ul>
			</div>
			<div class="right_side" style="width:100%;">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.
					<br/><b>Uwaga!</b> Niektóre wyrażenia i zwroty z poniższej listy mogą być nieużywane na stronie</div>
					
					<!--Lista tłumaczenia-->
					<?php if(isset($this->tlumaczenia) && count($this->tlumaczenia) > 0): ?>
					
						<form action="" method="post">
						
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<?php if($this->adminNazwa == 'bigcom2'): ?>
									<col width="15%"/>
									<?php endif; ?>
									<?php if(@count($this->langs) > 0): ?>
									<?php foreach($this->langs as $lg => $lang): ?>
									<col width="<?php echo floor(80 / count($this->langs)); ?>%"/>
									<?php endforeach; ?>
									<?php endif; ?>									
									<?php if($this->adminNazwa == 'bigcom'): ?>
									<col width="10%"/>
									<col width="10%"/>
									<?php endif; ?>
									<col width="5%"/>
								</colgroup>
								<tr>
									<?php if($this->adminNazwa == 'bigcom2'): ?>
									<th>Fraza</th>
									<?php endif; ?>
									<?php if(@count($this->langs) > 0): ?>
									<?php foreach($this->langs as $lg => $lang): ?>
									<th class="lg lang_<?php echo $lg; ?>">
									(<?php echo strtoupper($lg); ?>)&nbsp;<?php echo $lang['nazwa']; ?></th>
									<?php endforeach; ?>
									<?php endif; ?>
									<?php if($this->adminNazwa == 'bigcom'): ?>
									<th>Config</th>
									<th>Ustaw</th>
									<?php endif; ?>
									<th>Edytuj</th>
								</tr>
								
								<?php $i=1; foreach($this->tlumaczenia as $tlumaczenie): ?>
									
								<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<?php if(@$tlumaczenie['config'] == 'bigcom' && $this->adminNazwa != 'bigcom') continue; ?>
								<?php if(@$tlumaczenie['ustaw'] == 'bigcom' && $this->adminNazwa != 'bigcom') continue; ?>
								
								<?php $continue = false; ?>
								
								<?php if(@!empty($tlumaczenie['config']) && $tlumaczenie['config'] != 'bigcom'): ?>
								<?php $continue = true; ?>
								<?php $configs = @explode(',', $tlumaczenie['config']); ?>
								<?php if(@count($configs) > 0): ?>
								<?php foreach($configs as $config): ?>
								<?php if(@empty($config)) continue; ?>
								<?php if(@$this->obConfig->{$config}): ?>
								<?php $continue = false; ?>
								<?php break; ?>
								<?php endif; ?>
								<?php endforeach; ?>
								<?php endif; ?>
								<?php endif; ?>
								
								<?php if($continue) continue; ?>
								
								<?php if(@!empty($tlumaczenie['ustaw']) && $tlumaczenie['ustaw'] != 'bigcom'): ?>
								<?php $continue = true; ?>
								<?php $ustawienia = @explode(',', $tlumaczenie['ustaw']); ?>
								<?php if(@count($ustawienia) > 0): ?>
								<?php foreach($ustawienia as $ustaw): ?>
								<?php if(@empty($ustaw)) continue; ?>
								<?php if(@$this->ustawienia[$ustaw]): ?>
								<?php $continue = false; ?>
								<?php break; ?>
								<?php endif; ?>
								<?php endforeach; ?>
								<?php endif; ?>
								<?php endif; ?>
								
								<?php if($continue) continue; ?>
								
								<tr class="<?php echo $style; ?>">
									<?php if($this->adminNazwa == 'bigcom2'): ?>
									<td class="first img">
										<?php echo $tlumaczenie['fraza']; ?>
									</td>
									<?php endif; ?>
									<?php if(@count($this->langs) > 0): ?>
									<?php foreach($this->langs as $lg => $lang): ?>
									<td align="center">	
										<div class="fraza_<?php echo $tlumaczenie['fraza']; ?>" style="block;">
										<?php echo $tlumaczenie[$lg]; ?></div>
										<?php if(false): ?>
										<input name="tlumaczenia[<?php echo $tlumaczenie['fraza']; ?>][<?php echo $lg; ?>]" type="text" class="<?php echo $tlumaczenie['fraza']; ?> dn" style="width:100%; font-size:12px;" value="<?php echo $tlumaczenie[$lg]; ?>" />
										<?php else: ?>
										<textarea name="tlumaczenia[<?php echo $tlumaczenie['fraza'];?>][<?php echo $lg;?>]" class="fraza_<?php echo $tlumaczenie['fraza']; ?> dn" style="width:100%; font-size:12px;" disabled="disabled"><?php echo $tlumaczenie[$lg]; ?></textarea>
										<?php endif; ?>
									</td>
									<?php endforeach; ?>
									<?php endif; ?>
									<?php if($this->adminNazwa == 'bigcom'): ?>
									<td align="center">	
										<div class="fraza_<?php echo $tlumaczenie['fraza']; ?>" style="block;">
										<?php echo str_replace(',', ' ', $tlumaczenie['config']); ?></div>
										<textarea name="tlumaczenia[<?php echo $tlumaczenie['fraza'];?>][config]" class="fraza_<?php echo $tlumaczenie['fraza']; ?> dn" style="width:100%; font-size:12px;" disabled="disabled"><?php echo $tlumaczenie['config']; ?></textarea>
									</td>
									<td align="center">	
										<div class="fraza_<?php echo $tlumaczenie['fraza']; ?>" style="block;">
										<?php echo str_replace('_', '-', $tlumaczenie['ustaw']); ?></div>
										<textarea name="tlumaczenia[<?php echo $tlumaczenie['fraza'];?>][ustaw]" class="fraza_<?php echo $tlumaczenie['fraza']; ?> dn" style="width:100%; font-size:12px;" disabled="disabled"><?php echo $tlumaczenie['ustaw']; ?></textarea>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style;?>" href="javascript:void(0);" rel="edit" onclick="$('div.fraza_<?php echo $tlumaczenie['fraza']; ?>').hide(); var wys = $('div.fraza_<?php echo $tlumaczenie['fraza']; ?>').first().height(); $('textarea.fraza_<?php echo $tlumaczenie['fraza']; ?>').attr('disabled', false); $('textarea.fraza_<?php echo $tlumaczenie['fraza']; ?>').css('height', wys*2+20); $('textarea.fraza_<?php echo $tlumaczenie['fraza']; ?>').show();">Edytuj</a>
									</td>									
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
						
						<?php if($this->edycjazablokowana === false): ?>
						<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="ustawienia" id="zapisz" value="Zapisz" />
							</div>
						</div>
						<?php endif; ?>
					
						</form>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych tłumaczeń.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>