<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Allegro</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Allegro</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/allegrokonta/dodaj/">Dodaj konto allegro</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj kontami allegro:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->display)): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width=""/>
							<col width="5%"/>
							<col width="5%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>Login</th>
							<th>Edytuj</th>
							<th>Ustaw.</th>
							<th>Usuń</th>
						</tr>
						
						<?php $j = 1; foreach ($this->display as $display): ?>
								
						<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>

						<tr class="<?php echo $style; ?>">
							<td>
								<a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/allegrokonta/edytuj/id/<?php echo $display['id']; ?>">
								<b><?php echo $display['login']; ?></b></a>
							</td>
							<td align="center">
								<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegrokonta/edytuj/id/<?php echo $display['id']; ?>">Edytuj</a>
							</td>
							<td align="center">
								<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegroprodukt/wystaw/id/0/konto/<?php echo $display['id']; ?>">Edytuj</a>
							</td>
							<td align="center">
								<?php if($display['id'] > 1 && $this->edycjazablokowana === false): ?>
								<a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć to konto ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/allegrokonta/lista/delid/<?php echo $display['id']; ?>">Usuń</a>
								<?php endif; ?>
							</td>
						</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
			
						<div class="info_empty">Brak dodanych kont allegro.</div>
			
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>