	<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/artykuly/lista/od/0/">Lista artykułów &raquo;</a>
			<span class="link_path_end">Lista artykułów</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Artykuły" />
			<h2 class="title2 p1">Artykuły</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/artykuly/dodaj/">Dodaj artykuł</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj artykułami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>

				<div class="box_foto_product">
			<div class="form_title"><h2 class="title4">Artykuł:</h2></div>
			
			<form  action="" method="post" enctype="multipart/form-data">
				<?php if($this->obConfig->artykulyGlowna): ?>
				<div class="form_row">				
					<label class="big">Główna strona:</label>
					<input type="hidden" name="glowna" value="" />
					<input type="checkbox" class="input_check" name="glowna" value="1" checked="checked" />
                </div>
				<?php endif; ?>
				<?php if(true): ?>
				<div class="form_row">
					<label class="big">Widoczność:</label>
					<input type="hidden" name="wyswietl" value="" />
					<input type="checkbox" class="input_check" name="wyswietl" value="1" checked="checked" />
                </div>
				<?php endif; ?>
				<div class="form_row">
					<label class="required">Temat:</label>
					<div class="input_bg" style="position:relative;float:left;clear:left; margin-top:10px;margin-bottom:10px;margin-left:10px;">
						<textarea name="temat" rows="2" cols="82" style="border:1px solid grey;"/><?php echo (isset($this->dane['nazwa']))? $this->dane['nazwa']: '';?></textarea>
					</div>
				</div>
				<?php if($this->obConfig->artykulyZdjecia): ?>
				<div class="form_row">
					<label>Zdjęcie:</label>
					<div class="input_bg">
						<input type="file" name="img" />
					</div>
				</div>
				<?php endif; ?>
				<?php if($this->obConfig->artykulySkrot): ?>
				<div class="form_row">
					<label class="small">Skrót:</label>
					<div class="textarea_bg w1">
						<?php echo $this->seditor; ?>
					</div>
				</div>
				<?php endif; ?>
				<div class="form_row">
					<label class="required small">Opis:</label>
					<div class="textarea_bg w1">
						<?php echo $this->editor; ?>
					</div>
				</div>                                                    
				<div class="button_form m2">
					<div class="button1">
						<input type="submit" name="opis_zapisz" id="zapisz" value="Zapisz" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

