#body
{
	height:auto!important;
}
div.box_lang
{
    width:190px;
}
div.box_lang form input
{
    width: 30px;
    height: 24px;
    display: block;
    background-color: transparent;
    cursor: pointer;
	text-indent:-9999px;
	font-size:0px;
}
#logoNapis
{
	height:25px;
}
#menu
{
	margin-left:55px;
}
#menuLinki ul li /*li.li0 for shorter submenu pozycje*/
{
	zoom:1;
	z-index:9999!important;
}
#menuLinki ul li /*li.li0 for shorter submenu pozycje*/
{
	position:relative;
	float:left;
	width:125px;
	padding:0px;
	margin-top:0px;
	margin-left:0px;
	height:87px;
	line-height:87px;
	font-weight:normal;
	font-size:16px;
	zoom:1;
	z-index:9999!important;
	text-align:center;
}
#menuLinki ul li.li0
{
	float:left!important;
	padding-left:0px!important;
	padding-right:0px!important;
}
#menuLinki ul li.li0 a
{
	width:125px;
}
#menuLinki ul li.li0 a cufon
{
	margin-top:12px!important;
}
#menuLinki ul li a
{
	/*display:inline;
	width:100%;
	height:100%;*/
	float:left;
	color:#545454;
	text-decoration:none;
}
#menuLinki ul li a img
{
	display:none;
}
.menuLinkiSubMenu.ul1
{
	position:absolute!important;
	top:100%!important;
	left:0px!important;
	width:100px!important;
	display:none;
}
.menuLinkiSubMenu ul
{
	position:absolute!important;
	top:0px!important;
	left:100px!important;
	width:100px!important;
	display:none;
	z-index:9999!important;
	overflow:visible;
}
.menuLinkiSubMenu li
{
	height:40px!important;
	line-height:40px!important;
}
.menuLinkiSubMenu li a
{
	width:100px;
	text-align:left;
	text-indent:15px;
	margin-right:0px!important;
}
.menuLinkiSubMenu li a img
{
	position:relative;
	float:left;
	margin:0px 5px 0px 5px;
	visibility:hidden;
	display:none;
}
.menuLinkiSubMenu li a.expand img
{
	visibility:visible;
	display:inline!important;
}

#baner
{
	position:relative;
	float:left;
}
#slider
{
	position:relative;
	float:right;
	margin-top:0px;
	margin-right:0px;
	width:100%;
	height:310px;
	overflow:hidden;
	text-align:center;
}
.slajd
{
	position:relative;
	float:left;
	clear:left;
}
span.slajdpoz_7, span.slajdpoz_8, span.slajdpoz_9
{
	bottom:0px;
}
span.slajdpoz_3, span.slajdpoz_6, span.slajdpoz_9
{
	right:0px;
}
#slider li table, #boks
{
	background:none;
}
.wiecej2
{
	line-height:30px;
	padding-top:0px;
}
#sciezka a span
{
	left:5px;
}
#mainRight2
{
	margin-left:20px;
}
#menuLeft2
{
	margin-top:0px;
}
#menuLeft .lvl0 a, #menuLeft .lvl1 a
{
	margin-top:0px!important;
	min-height:25px;
	height:auto!important;
	height:25px;
	line-height:25px;
}
#menuLeft .lvl0 img, #menuLeft .lvl21 img
{
	margin-top:15px!important;
}
#wyslijDoSiebie
{
	margin:0px 0 0 5px;
	border:0px;
}
#aktualnosc
{
	margin-right:5px;
}
.kategorie
{
	position:relative;
	float:left;
	width:980px;
	height:165px!important;
	overflow-y:scroll;
}
.kategoria
{
	position:relative;
	float:left;
	margin-right:5px;
	margin-bottom:10px;
}
.itemOpis a
{
	display:block;
	width:100%;
	height:100%;
	color:#3c3c3c;
	text-decoration:none;
	overflow:hidden;
}
.ui-tabs-nav li a span
{
	display:none!important;
	width:100px!important;
}
#paramMenuUL
{
	width:100%;
	top:37px!important;
}
.paramMenuLI a
{
	display:inline-block!important;
	height:28px!important;
	border-top:0px solid #78b6af!important;
}
.ui-state-default a:hover #paramMenuUL
{
	display:block;
}
.paramOneLink
{
	width:70px;
}
.paramOneLink img.paramOneImg
{
	margin-top:-5px;
}
.paramOneLink img.paramOneOzn
{
	position:absolute;
	bottom:5px;
	left:28px;
}
.imgDiv span
{
	display:none;
}
.galeriaImg
{
	max-height:130px;
	height:auto!important;
	height:130px;
}
.galeriaImg:hover
{
	border:1px solid #ff0000;
}
.galeriaImgDiv span
{
	display:none;
}
#podstronaNagl .aktData, .tematData2
{
	position:absolute!important;
	top:0px;
	right:0px;
}
#podstronaTekst
{
	min-height:300px;
	height:auto!important;
}
#podstronaTekst .strona
{
	margin-bottom:15px;
	padding-bottom:15px;
}
#podstronaTekst img.tematImg
{
	max-width:128px;
	width:auto!important;
	width:128px;
}
#podstronaTekst .tematImg
{
	top:0px;
	position:relative;
}
#podstronaTekst .skrotLink
{
	margin-top:10px;
	padding-bottom:0px;
	min-height:50px;
	height:auto!important;
	height:50px;
}
#podstronaTekst .strona .wiecej
{
	position:absolute;
	bottom:0px;
	right:0px;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
}
.videosSmall
{
	width:260px!important;
}
.videoSmall div.videoDetails
{
	width:125px!important;
}
.videoSmall div.videoDetails span
{
	font-size:10px!important;
}
.videoSmall div.videoDetails span span
{
	float:none!important;
}