div.box_lang
{
    width:180px;
}
#paramMenuUL
{
	width:100%;
}
#menuLinki > ul > li > a
{
	margin-top:0px;
	display:block;
}
#menuLinki2 > ul > li
{
	padding:0 13px;
}
.menuLinkiSubMenu li a img
{
	position:relative;
	float:left;
	margin:0px 5px 0px 3px!important;
	visibility:hidden;
	display:none;
}
.menuLinkiSubMenu li a.expand img
{
	visibility:visible;
	display:inline!important;
}
#podstronaNagl .aktData, .tematData
{
	position:absolute!important;
	top:0px;
	right:0px;
}
#podstronaTekst .strona .wiecej
{
	position:absolute;
	bottom:0px;
	right:0px;
	margin-top:10px;
	margin-bottom:15px;
}
.mCSB_horizontal .mCSB_scrollTools .mCSB_buttonRight
{
	margin-left:0px!important;
}
.paramOneLink
{
	width:70px;
}
.paramOneLink img.paramOneImg
{
	margin-top:-5px;
}
.paramOneLink img.paramOneOzn
{
	position:absolute;
	bottom:5px;
	left:28px;
}
.videosSmall
{
	overflow-x:hidden;
}
.videoSmall
{
	width:265px!important;
	overflow:hidden;
}
.videoSmall .videoImg
{
	display:inline-block;
	width:120px;
}
.videoSmall .videoTitle, .videoSmall .videoOpis
{
	width:250px!important;
	overflow:hidden;
}
.videoSmall div.videoDetails
{
	position:absolute;
	top:20px;
	right:0px;
	margin-right:0px;
}
.videoSmall div.videoDetails span
{
	position:relative;
	display:inline;
	height:auto;
	overflow:hidden;
	float:none;
}
.videoSmall div.videoDetails span span
{
	display:inline;
	float:none;
	position:absolute;
	top:0px;
	right:0px;
}
.video div.videoDetails span.videoAutor
{
	position:relative;
	clear:right;
	display:inline-block;
	width:200px;
	text-align:right;
	right:5px;
}
.videoSmall div.videoDetails span.videoAutor
{
	position:relative;
	display:inline-block;
	height:20px;
	overflow:visible;
	float:none;
}
.videoSmall div.videoDetails span.videoAutor span
{
	top:12px;
}