<div class="box_pager clear">

<?php if($this->strony>1) { ?>
	
<?php
  $ilosc = 25;
  $pierwszy =  $this->strona - round($ilosc/2);
  if(($pierwszy + $ilosc) > $this->strony-1) $pierwszy = $this->strony-$ilosc;
  if($pierwszy < 0) $pierwszy = 0;
  $petla = $ilosc;
  if($petla>$this->strony) $petla = $this->strony;
?>

<?php if(false && $this->strona == 0) { ?>
   <a class="link_stronicowanie" onclick="return getListaKlienci('<?php echo $this->link; ?>/od/0',0);">1</a>
<?php }else if(false){ ?>
   <a class="link_stronicowanie" onclick="return getListaKlienci('<?php echo $this->link; ?>/od/0',0);">1</a>
<?php } ?>
	<!--<a href="#" class="link_nieaktywny_stronicowanie">&nbsp;</a>-->
<?php if(($pierwszy+1)!=1) {?>
   <a class="link_stronicowanie">...</a>
<?php } ?>
<?php $i=1;for($s=0;$s<$petla;$s++) { if(false && $i>5)break; $i++; //echo $this->strona.' '.$s.' '.$pierwszy.'<br>';?>
	<?php if($this->strona == $s+$pierwszy) { ?>
		<a class="link_aktywny_stronicowanie" onclick="return getListaKlienci('<?php echo $this->link; ?>/od/<?php echo ($pierwszy+$s); ?>',<?php echo ($pierwszy+$s); ?>);"><?php echo ($pierwszy+$s)+1; ;?></a>
	<?php }else{ ?>
		<a class="link_stronicowanie" onclick="return getListaKlienci('<?php echo $this->link; ?>/od/<?php echo ($pierwszy+$s); ?>',<?php echo ($pierwszy+$s); ?>);"><?php echo ($pierwszy+$s)+1; ;?></a>
	<?php } ?>
<?php } ?>
<?php if(($pierwszy+$ilosc-1)!=$this->strony-1&&$this->strony>$ilosc) {?>
   <a class="link_stronicowanie">...</a>
<?php } ?>
	<!--<a href="#" class="link_nieaktywny_stronicowanie">&nbsp;</a>-->
<?php if(false && $this->strona == $this->strony-1) { ?>
   <a id="last" class="link_stronicowanie" onclick="return getListaKlienci('<?php echo $this->link; ?>/od/<?php echo ($this->strony-1); ?>',<?php echo ($this->strony-1); ?>);"><?php echo $this->strony; ?></a>
<?php }else if(false){ ?>
   <a id="last" class="link_stronicowanie" onclick="return getListaKlienci('<?php echo $this->link; ?>/od/<?php echo ($this->strony-1); ?>',<?php echo ($this->strony-1); ?>);"><?php echo $this->strony; ?></a>
<?php } ?>

<?php } ?>

</div>