<?php //echo $this->render('const/nawigacja.phtml'); ?>

<div class="modul_container" style="clear:left;">
     <div class="container">
        <div class="top_l"></div>
        <div class="top_r"></div>
        <div class="content_cont minheight1">
            <div class="wrap_content">
                <div class="title1_bg">
                    <h3 class="title3">Ankieta</h3>
                </div>
				
				<?php if(count($this->ankieta) > 0): ?>
				<?php foreach($this->ankieta as $id => $ankieta): ?>
				
                <div class="content_block_desc">

                <?php if(count($this->raport[$id]) > 0): ?>

                    <div class="raports_box">

                        <div class="nagl title_ankieta"><?php echo $ankieta['nazwa']; ?></div>

                    <?php if(count($this->raport[$id]) > 30): $counter = 30; else: $counter = count($this->raport[$id]); endif;

                    for($i=0;$i<$counter; $i++): ?>

                        <div class="one_raport">
                            <?php $dlugosc = round($this->raport[$id][$i]['ilosc']*$this->jednostka[$id]); ?>
                            <?php if($i<=$this->ilosc[$id]): ?>

                                <div class="najczesciej_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                            <?php elseif($i>$this->ilosc[$id]&&$i<=$this->ilosc[$id]*2): ?>

                                <div class="srednio_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                            <?php else: ?>

                                <div class="malo_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                            <?php endif; ?>

                            <div class="raport_title">
                                <?php echo $this->raport[$id][$i]['nazwa'].' - <b>'.$this->raport[$id][$i]['ilosc'].'</b> '.$this->translate('głosów');?>
                            </div>
                        </div>

                    <?php endfor; ?>

                        <div class="nagl suma_glosow">
                            <?= $this->translate('Razem'); ?> <?= $this->translate('głosów'); ?>: <b><?php echo $this->wszystkie[$id]; ?></b>
                        </div>
                    </div>

                <?php endif; ?>

                </div>
				
				<?php endforeach; ?>
				<?php endif; ?>

            </div>
        </div>
        <div class="bottom_l"></div>
        <div class="bottom_r"></div>
    </div>
</div>