<?php //echo $this->render('const/nawigacja.phtml'); ?>

<div class="modul_container" style="clear:left;">
     <div class="container">
        <div class="top_l"></div>
        <div class="top_r"></div>
        <div class="content_cont minheight1">
            <div class="wrap_content">
                <div class="title1_bg">
                    <h3 class="title1">Ankieta</h3>
                </div>
                <div class="content_block_desc">

                <?php if(count($this->raport) > 0): ?>

                    <div class="raports_box">

                        <div class="title_ankieta"><?php echo $this->ankieta['nazwa']; ?></div>

                    <?php if(count($this->raport) > 30): $counter = 30; else: $counter = count($this->raport); endif;

                    for($i=0;$i<$counter; $i++): ?>

                        <div class="one_raport">
                            <?php $dlugosc = round($this->raport[$i]['ilosc']*$this->jednostka); ?>
                            <?php if($i<=$this->ilosc): ?>

                                <div class="najczesciej_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                            <?php elseif($i>$this->ilosc&&$i<=$this->ilosc*2): ?>

                                <div class="srednio_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                            <?php else: ?>

                                <div class="malo_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>

                            <?php endif; ?>

                            <div class="raport_title">
                                <?php echo $this->raport[$i]['nazwa'].' - <b>'.$this->raport[$i]['ilosc'].'</b> głosów';  ;?>
                            </div>
                        </div>

                    <?php endfor; ?>

                        <div class="suma_glosow">
                            Głosów oddanych: <b><?php echo $this->wszystkie; ?></b>
                        </div>
                    </div>

                <?php endif; ?>

                </div>
            </div>
        </div>
        <div class="bottom_l"></div>
        <div class="bottom_r"></div>
    </div>
</div>