<?php if($this->obConfig->ankiety && @!empty($this->ankieta['odp']) && $this->ankietaUs['widoczny']=='T'): ?>
<div class="nagl">SONDA</div>
<div id="sonda">
<span><?php echo $this->ankieta['nazwa'];?></span>
<form method="post" action="<?php echo $this->baseUrl; ?>/Ankieta">
<input type="hidden" name="ankietaID" value="<?php echo $this->ankieta['id'];?>" />
<?php //$odps = explode('-|-', $this->ankieta['odp']); ?>
<?php $i=0; if(count($this->ankietaOdps) > 0): ?>
<?php foreach($this->ankietaOdps as $odp): ?>
<?php //$vals = explode('*|*', $odp); ?>
<input type="radio" name="odpowiedz" value="<?php echo $odp['id'];?>" <?php if($i==0) echo 'checked="checked"';?>/>
<?php echo $odp['nazwa']; $i++; ?><br/>
<?php endforeach; ?>
<?php endif; ?>
<input type="image" name="wyniki" value="Głosuj" src="<?php echo $this->baseUrl;?>/public/images/strona/glosuj.png">
</form>
</div>
<?php endif; ?>

<?php if(false && $this->main): ?>
<div id="boks">
	<!--<img src="<?php //echo $this->baseUrl; ?>/public/images/strona/boks.png" alt="" />-->
	<?php echo $this->boks->tekst; ?>
</div>
<?php endif; ?>