<div id="atrybutCenyRozne" class="dn">
<?php //$ceny['cena_allegro'] = 'Cena Allegro'; ?>
<a title="Dodaj" class="add silver m_linki" href="javascript:void(0);" onclick="atrCenyDodaj();">Dodaj</a>
<a title="Usuń" class="del silver m_linki rf" href="javascript:void(0);" onclick="if(window.confirm('Czy na pewno chcesz usunąć wszystkie pozycje produktu ?')) { $('#atrybutyCenyRozne tbody tr').not('.atrTH, #atrCeny1').remove(); $('#atrCeny1 input').val(''); $('#atrCeny1 select').val(''); } ">Usuń wszystkie</a>
<?php $ceny = $this->ceny; ?>
<?php unset($ceny['cena_promocji_n']); ?>
<?php unset($ceny['cena_promocji_b']); ?>
<table id="atrybutyCenyRozne" cellspacing="0" cellpadding="0">
<colgroup>
<?php if(true): ?>
<col width="50"/>
<?php endif; ?>
<?php if(true): ?>
<col width="50"/>
<?php endif; ?>
<?php if(@count($this->atrybuty) > 0): ?>
<?php foreach($this->atrybuty as $grupa): ?>
<?php if($grupa['typatrybut'] != 'multi' || !$grupa['ceny']) continue; ?>
<col/>
<?php endforeach; ?>
<?php endif; ?>
<?php if(false && $this->ustawienia['stany_mag'] && $this->tryb == 'produkt' && $this->dane['cena_atryb']): ?>
<col width="30"/>
<?php endif; ?>
<?php foreach($ceny as $nazwa => $cena): ?>
<col width="50"/>
<?php endforeach; ?>
<?php if($this->obConfig->atrybutyCenyRozneOsobnaAllegro): ?>
<col width="55"/>
<?php endif; ?>
<col width="20"/>
</colgroup>
<thead>
<tr>
<?php if(true): ?>
<th id="atrNr" rowspan="2">Nr kat.</th>
<?php endif; ?>
<?php if(true): ?>
<th id="atrNr" rowspan="2">Nr prod.</th>
<?php endif; ?>
<?php if(@count($this->atrybuty) > 0): ?>
<?php foreach($this->atrybuty as $grupa): ?>
<?php if($grupa['typatrybut'] != 'multi' || !$grupa['ceny']) continue; ?>
<th class="atrNazwa" rowspan="2"><?php echo $grupa['grupa'];?>
<?php if(true && !empty($grupa['jedn_miary'])): ?>&nbsp;(<?php echo $grupa['jedn_miary']; ?>)<?php endif; ?>
</th>
<?php endforeach; ?>
<?php endif; ?>
<?php if(false && $this->ustawienia['stany_mag'] && $this->tryb == 'produkt' && $this->dane['cena_atryb']): ?>
<th id="atrIlosc" rowspan="2">Ilość</th>
<?php endif; ?>
<?php $c=1;foreach($ceny as $nazwa => $cena): ?>
<?php if($c++ % 2 == 1) continue; ?>
<?php $cena = str_replace('Cena', '', $cena); ?>
<?php $cena = str_replace('netto', '', $cena); ?>
<?php $cena = str_replace('brutto', '', $cena); ?>
<th class="atrCena1" colspan="2"><?php echo $cena;?></th>
<?php endforeach; ?>
<?php if($this->obConfig->atrybutyCenyRozneOsobnaAllegro): ?>
<th id="atrAllegro" rowspan="2">Cena Allegro</th>
<?php endif; ?>
<th id="atrUsun" rowspan="2">Usuń</th>
</tr>
<tr>
<?php $c=1;foreach($ceny as $nazwa => $cena): ?>
<th class="atrCena2"><?php echo $c++ % 2 ? 'netto' : 'brutto';?></th>
<?php endforeach; ?>
</tr>
</thead>
<tbody>
<?php if(@count($this->atrCeny) == 0) $this->atrCeny = array(0); ?>
<?php if(@count($this->atrCeny) > 0): ?>
<?php foreach($this->atrCeny as $ac => $atrCeny): ?>
<tr id="atrCeny<?=(++$ac);?>">
<?php if(true): ?>
<td>
<input type="text" name="atrCeny[<?=$ac;?>][inne][nr_kat]" value="<?=@$atrCeny['nr_kat'];?>" />
</td>
<?php endif; ?>
<?php if(true): ?>
<td>
<input type="text" name="atrCeny[<?=$ac;?>][inne][id_ext]" value="<?=@$atrCeny['id_ext'];?>" />
</td>
<?php endif; ?>
<?php if(@count($this->atrybuty) > 0): ?>
<?php foreach($this->atrybuty as $grupa): ?>
<?php if($grupa['typatrybut'] != 'multi' || !$grupa['ceny']) continue; ?>
<td>
<select name="atrCeny[<?=$ac;?>][atrs][atr<?=$grupa['grupa_id'];?>]">
	<option value="0">wszystkie</option>
	<?php if(@count($grupa['atrybut']) > 0): ?>
	<?php foreach($grupa['atrybut'] as $atrybut): ?>
	<?php if(@!$atrybut['checked']) continue; ?>
	<option <?php if(@$atrCeny['atr'.$grupa['grupa_id']] == $atrybut['id']) echo 'selected="selected"'; ?> value="<?php echo $atrybut['id']; ?>"><?php echo $atrybut['nazwa']; ?></option>
	<?php endforeach; ?>
	<?php endif; ?>
</select>
</td>
<?php endforeach; ?>
<?php endif; ?>
<?php if(false && $this->ustawienia['stany_mag'] && $this->tryb == 'produkt' && $this->dane['cena_atryb']): ?>
<td>
<input type="text" name="atrCeny[<?=$ac;?>][inne][dostepnosc]" value="<?=@$atrCeny['dostepnosc'];?>" />
</td>
<?php endif; ?>
<?php foreach($ceny as $nazwa => $cena): ?>
<td>
<input type="text" name="atrCeny[<?=$ac;?>][ceny][<?=$nazwa;?>]" value="<?=@$atrCeny[$nazwa];?>" onkeyup="cenyoblicz(this.value,this.name,1);" />
</td>
<?php endforeach; ?>
<?php if($this->obConfig->atrybutyCenyRozneOsobnaAllegro): ?>
<td>
<input type="text" name="atrCeny[<?=$ac;?>][ceny][cena_allegro]" value="<?=@$atrCeny['cena_allegro'];?>" />
</td>
<?php endif; ?>
<td>
<?php if($this->edycjazablokowana === false): ?>
<a title="Usuń" class="del_ico dib" href="javascript:void(0);" onclick="atrCenyUsun(this);">Usuń</a>	
<?php endif; ?>
</td>
</tr>
<?php endforeach; ?>
<?php endif; ?>
</tbody>
</table>
</div>
<script type="text/javascript">
function atrCenyDodaj()
{
	if($('#atrybutyCenyRozne tbody tr').size() == 0) return;
	var ac = parseInt($('#atrybutyCenyRozne tbody tr').last().attr('id').replace('atrCeny',''));
	if(ac > 0)
	{
		$('#atrybutyCenyRozne tbody').append($('#atrybutyCenyRozne tbody tr').last().clone());
		$('#atrybutyCenyRozne tbody tr').last().attr('id', 'atrCeny'+(ac+1));
		$('#atrybutyCenyRozne tbody tr').last().find('select, input').each(function()
		{
			$(this).attr('name', $(this).attr('name').replace('atrCeny['+ac+']','atrCeny['+(ac+1)+']'));
		});
	}
}
function atrCenyUsun(ten)
{
	if(window.confirm('Czy napewno chcesz usunąć wybraną pozycję ?'))
	{
		if($('#atrybutyCenyRozne tbody tr').size() == 1)
		{
			window.alert('Nie można usunąć ostatniej pozycji!\nJeśli nie chcesz aby ceny były zależne od atrybutów wybierz wszędzie wartość "Wszystkie"\noraz usuń zaznaczenie "Wpływa na cenę" przy wybranych atrybutach.');
		}
		else $(ten).parent().parent().remove();
	}
}
</script>