<?php $atr = $this->atrybut; ?>
<?php $atrID = @intval($atr['grupa_id']); ?>

<div class="form_row <?=@!($atr['checked'])||$this->atr_see?'dn nowyAtr':'db staryAtr';?>" id="atryb_<?php echo $atrID; ?>" style="border-top:1px solid black;">
	<?php if(true && $atr['id_prod'] > 0): ?>
	<input type="checkbox" class="lf" style="margin:2px;" name="atrybutUsun[<?=$atrID;?>]" title="Usuń" onclick="if(this.checked) return window.confirm('Ten atrybut jest przypisany tylko do tego produktu. Zaznaczenie tego pola spowoduje jego całkowite usunięcie!');">
	<?php else: ?>
	<a class="back_ico silver m_links dn lf" onclick="dodajAtrybutMulti(this, true);" href="javascript:void(0);"> Wróć</a>
	<a class="del_ico silver m_links di lf" onclick="usunAtrybutMulti(this, true);" href="javascript:void(0);">Usuń</a>
	<?php endif; ?>
	<label class=""><?php echo @$atr['grupa']; ?>&nbsp;
		<a class="add_ico silver m_linki dib rf" onclick="dodajNoweOpcje(this);" href="javascript:void(0);">Dodaj</a>
		<a class="del_ico silver m_linki dn rf" onclick="usunNoweOpcje(this);" href="javascript:void(0);">Usuń</a>
		<?php if($this->dane['cena_atryb'] || $this->obConfig->atrybutyCenyRozne): ?>
		<span style="margin:0 5px 0 0px;" class="lf cl atrCenyRozne <?=$this->dane['cena_atryb']?'dib':'dni';?>">
			<input type="hidden" name="atr[<?= $atrID; ?>][multi][0][ceny]" value="" />
			<input type="checkbox" name="atr[<?= $atrID; ?>][multi][0][ceny]" value="1" <?php if(@$atr['ceny'] == 1) echo 'checked="checked"'; ?> id="atr_<?= $atrID; ?>_multi_0_ceny" class="lf" style="margin:0px;"/>
			<label for="atr_<?= $atrID; ?>_multi_0_ceny" class="lf dibi" style="width:auto; margin:0px 5px; font-weight:normal;">do pozycji produktu</label>
		</span>
		<?php endif; ?>
	</label>
	<div class="input_bg_radio input_bg w1" style="width:<?=@$this->atrAll?750:300;?>px!important;">
		<?php if(@count($atr['atrybut']) > 0): ?>
		<?php foreach($atr['atrybut'] as $opcjaID => $opcja): ?>
		<?php $this->opcja = $opcja; ?>
		<input type="checkbox" class="lf cl" name="atr[<?= $atrID; ?>][multi][<?=$opcjaID;?>][id]" <?php if(@$opcja['checked']) echo 'checked="checked"'; ?> value="<?=$opcjaID;?>" id="atr_<?=$atrID;?>_<?=$opcjaID;?>" data-val-checked="<?=@intval($opcja['checked']);?>" onchange="zmienAtrybutMulti(this);">
		<label class="lfi" for="atr_<?=$atrID;?>_<?=$opcjaID;?>" style="width:220px;"><?=$opcja['nazwa'];?></label>
		<?php if($this->atrAll && $opcja['id_prod'] >= 0): ?>
		<input type="checkbox" name="atrUsun[<?= $atrID; ?>][<?= $opcjaID; ?>]" id="atr_<?=$atrID;?>_<?=$opcjaID;?>_usun" <?php if($opcja['id_prod'] == 0): ?> onclick="if(this.checked) return window.confirm('Ta opcja jest przypisana do wszystkich produktów.\nJej usunięcie spowoduje również usunięcie z wszystkich innych produktów!');"<?php endif; ?>><label class="lfi" for="atr_<?=$atrID;?>_<?=$opcjaID;?>_usun">Usuń</label>
		<?php endif; ?>
		<?php if(@!$atr['ceny'] && $this->obConfig->atrybutyCeny): ?>
			<?php echo $this->render('oferta/atrybuty_ceny_all.phtml'); ?>
		<?php endif; ?>
		<?php if($this->obConfig->atrybutyZdjecia && @$opcja['checked'] && @$opcja['dane']['ceny']): ?>
			<?php echo $this->render('oferta/atrybuty_img.phtml'); ?>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
		<div class="input_bg_radio cb nowaOpcja dn">
			<a class="add_ico silver m_linki lf dib" onclick="dodajNowaOpcje(this);" href="javascript:void(0);">&nbsp;</a>
			<a class="del_ico silver m_linki lf dni" onclick="usunNowaOpcje(this);" href="javascript:void(0);">&nbsp;</a>
			<input type="text" name="noweOpcje[<?=$atrID;?>][nazwa][]" value="" class="lf" style="width:270px!important;"/>
			<?php if(@intval($atr['id_prod']) == 0): ?>
			<select name="noweOpcje[<?=$atrID;?>][id_prod][]">
			<option value="0">dodaj tylko do tego produktu</option>
			<option value="1">dodaj do wszystkich produktów</option>
			</select>
			<?php endif; ?>
		</div>
	</div>		
</div>