
<?php $grupa = $this->grupa; ?>
<?php $atrybut = $this->atrybut; ?>

<div id="cenyAtryb<?php echo $grupa['grupa_id'];?>_<?php echo $grupa['typatrybut'];?>_<?php echo $atrybut['id'];?>" class="cenyAtryb" <?php if(@$atrybut['dane']['ceny'] == 1) echo 'style="display:block"'; ?>>
<span>
<input type="radio" id="atr<?php echo $grupa['grupa_id']; ?>_<?php echo $grupa['typatrybut']; ?>_<?php echo $atrybut['id'];?>cenyTryb0" name="atr[<?php echo $grupa['grupa_id']; ?>][<?php echo $grupa['typatrybut']; ?>][<?php echo $atrybut['id'];?>][cenyTryb]" value="0" <?php if(@$atrybut['dane']['cenyTryb'] != 1) echo 'checked="checked"'; ?> />
<label for="atr<?php echo $grupa['grupa_id']; ?>_<?php echo $grupa['typatrybut']; ?>_<?php echo $atrybut['id'];?>cenyTryb0">
Zwiększ cenę produktu</label>
<br/>
<input type="radio" id="atr<?php echo $grupa['grupa_id']; ?>_<?php echo $grupa['typatrybut']; ?>_<?php echo $atrybut['id'];?>cenyTryb1" name="atr[<?php echo $grupa['grupa_id']; ?>][<?php echo $grupa['typatrybut']; ?>][<?php echo $atrybut['id'];?>][cenyTryb]" value="1" <?php if(@$atrybut['dane']['cenyTryb'] == 1) echo 'checked="checked"'; ?> />
<label for="atr<?php echo $grupa['grupa_id']; ?>_<?php echo $grupa['typatrybut']; ?>_<?php echo $atrybut['id'];?>cenyTryb1">
Ustal cenę produktu</label>
</span>
<table cellspacing="0" cellpadding="0">
<tr>
<?php foreach($this->ceny as $nazwa => $cena): ?>
<th><?php echo $cena;?></th>
<?php endforeach; ?>
</tr>
<tr>
<?php foreach($this->ceny as $nazwa => $cena): ?>
<td>
<input type="text" id="atr[<?php echo $grupa['grupa_id'];?>][<?php echo $grupa['typatrybut']; ?>][<?php echo $atrybut['id'];?>][<?php echo $nazwa;?>]" name="atr[<?php echo $grupa['grupa_id'];?>][<?php echo $grupa['typatrybut']; ?>][<?php echo $atrybut['id'];?>][<?php echo $nazwa;?>]" value="<?php echo @$atrybut['dane'][$nazwa];?>" onkeyup="cenyoblicz(this.value,this.name);" />
</td>
<?php endforeach; ?>
</tr>
</table>
</div>
