<?php $atr = $this->atrybut; ?>
<?php $atrID = @intval($atr['grupa_id']); ?>

<div class="form_row <?=@intval($atr['checked'])==0||$this->atr_see?'dn nowyAtr':'db staryAtr';?>" id="atryb_<?=$atrID;?>" style="border-top:1px solid black;">
	<?php if(true && $atr['id_prod'] > 0): ?>
	<input type="checkbox" class="lf" style="margin:2px;" name="atrybutUsun[<?=$atrID;?>]" title="Usuń" onclick="if(this.checked) return window.confirm('Ten atrybut jest przypisany tylko do tego produktu. Zaznaczenie tego pola spowoduje jego całkowite usunięcie!');">
	<?php else: ?>
	<a class="back_ico silver m_links dn lf" onclick="dodajAtrybutLista(this, true);" href="javascript:void(0);"> Wróć</a>
	<a class="del_ico silver m_links di lf" onclick="usunAtrybutLista(this, true);" href="javascript:void(0);">Usuń</a>
	<?php endif; ?>
	<label class=""><?php echo @$atr['grupa']; ?>&nbsp;
		<a class="add_ico silver m_linki dib rf" onclick="dodajNoweOpcje(this);" href="javascript:void(0);">Dodaj</a>
		<a class="del_ico silver m_linki dn rf" onclick="usunNoweOpcje(this);" href="javascript:void(0);">Usuń</a>
	</label>
	<?php if(false): ?>
	<div class="input_bg w1" style="width:760px!important;">
		<?php if(@count($atr['atrybut']) > 0): ?>
		<select name="atr[<?= $atrID; ?>][lista][0][id]" data-val-value="<?php echo @intval($atr['checked']); ?>" onchange="zmienAtrybutLista(this);">
		<option value="">usuń atrybut</option>
		<?php foreach($atr['atrybut'] as $opcjaID => $opcja): ?>
		<option value="<?php echo $opcjaID; ?>" <?php if(@intval($atr['checked']) == $opcjaID) echo 'selected="selected"'; ?>>
		<?php echo $opcja['nazwa']; ?></option>
		<?php endforeach; ?>
		</select>
		<?php endif; ?>
		<div class="input_bg_radio cb nowaOpcja dn">
			<a class="add_ico silver m_linki lf dib" onclick="dodajNowaOpcje(this);" href="javascript:void(0);">&nbsp;</a>
			<a class="del_ico silver m_linki lf dni" onclick="usunNowaOpcje(this);" href="javascript:void(0);">&nbsp;</a>
			<input type="text" name="noweOpcje[<?=$atrID;?>][nazwa][]" value="" class="lf" style="width:270px!important;"/>
			<?php if(@intval($atr['id_prod']) == 0): ?>
			<select name="noweOpcje[<?=$atrID;?>][id_prod][]">
			<option value="0">dodaj tylko do tego produktu</option>
			<option value="1">dodaj do wszystkich produktów</option>
			</select>
			<?php endif; ?>
		</div>
	</div>	
	<?php else: ?>
	<div class="input_bg_radio input_bg w1" style="//width:760px!important;">
		<?php if(@count($atr['atrybut']) > 0): ?>
		<input type="radio" class="lf cl" name="atr[<?= $atrID; ?>][lista][0][id]" <?php if(!isset($atr['checked'])) echo 'checked="checked"'; ?> value="0" id="atr_<?= $atrID; ?>_0" onchange="zmienAtrybutLista(this, 0);" data-val-checked="<?=@intval($atr['checked']);?>">
		<label class="lfi" for="atr_<?= $atrID; ?>_0">Nie wybrano żadnej wartości</label>
		<?php foreach($atr['atrybut'] as $opcjaID => $opcja): ?>
		<input type="radio" class="lf cl" name="atr[<?= $atrID; ?>][lista][0][id]" <?php if(@$opcja['checked']) echo 'checked="checked"'; ?> value="<?=$opcjaID;?>" id="atr_<?=$atrID;?>_<?=$opcjaID;?>" onchange="zmienAtrybutLista(this, 1);">
		<label class="lfi" for="atr_<?=$atrID;?>_<?=$opcjaID;?>" style="width:220px;"><?=$opcja['nazwa'];?></label>
		<?php if($this->atrAll && $opcja['id_prod'] >= 0): ?>
		<input type="checkbox" name="atrUsun[<?= $atrID; ?>][<?= $opcjaID; ?>]" id="atr_<?=$atrID;?>_<?=$opcjaID;?>_usun" <?php if($opcja['id_prod'] == 0): ?> onclick="if(this.checked) return window.confirm('Ta opcja jest przypisana do wszystkich produktów.\nJej usunięcie spowoduje również usunięcie z wszystkich innych produktów!');"<?php endif; ?>><label class="lfi" for="atr_<?=$atrID;?>_<?=$opcjaID;?>_usun">Usuń</label>
		<?php endif; ?>
		<?php endforeach; ?>
		<?php endif; ?>
		<div class="input_bg_radio cb nowaOpcja dn">
			<a class="add_ico silver m_linki lf dib" onclick="dodajNowaOpcje(this);" href="javascript:void(0);">&nbsp;</a>
			<a class="del_ico silver m_linki lf dni" onclick="usunNowaOpcje(this);" href="javascript:void(0);">&nbsp;</a>
			<input type="text" name="noweOpcje[<?=$atrID;?>][nazwa][]" value="" class="lf" style="width:270px!important;"/>
			<?php if(@intval($atr['id_prod']) == 0): ?>
			<select name="noweOpcje[<?=$atrID;?>][id_prod][]">
			<option value="0">dodaj tylko do tego produktu</option>
			<option value="1">dodaj do wszystkich produktów</option>
			</select>
			<?php endif; ?>
		</div>
	</div>
	<?php endif; ?>
</div>