<?php $atr = @$this->atrybut; ?>
<?php $atrID = @intval($atr['grupa_id']); ?>

<div class="form_row <?=@empty($atr['wartosc'])||$this->atr_see?'dn nowyAtr':'db staryAtr';?>" id="atryb_<?php echo $atrID; ?>" style="border-top:1px solid black;">
	<?php if(true && $atr['id_prod'] > 0): ?>
	<input type="checkbox" class="lf" style="margin:2px;" name="atrybutUsun[<?=$atrID;?>]" title="Usuń" onclick="if(this.checked) return window.confirm('Ten atrybut jest przypisany tylko do tego produktu. Zaznaczenie tego pola spowoduje jego całkowite usunięcie!');">
	<?php else: ?>
	<a class="back_ico silver m_links dn lf" onclick="dodajAtrybutTekst(this, true);" href="javascript:void(0);"> Wróć</a>
	<a class="del_ico silver m_links di lf" onclick="usunAtrybutTekst(this, true);" href="javascript:void(0);">Usuń</a>
	<?php endif; ?>
	<label class=""><?php echo @$atr['grupa']; ?>&nbsp;</label>		
	<div class="input_bg w1">
		<input type="text" name="atr[<?php echo $atrID; ?>][tekst]" value="<?php echo @$atr['wartosc']; ?>" data-val-value="<?php echo @htmlspecialchars($atr['wartosc']);?>" onkeyup="zmienAtrybutTekst(this);" onchange="zmienAtrybutTekst(this);" />
	</div>	
</div>