<?php $atr = $this->atrybut; ?>
<?php $opcja = $this->opcja; ?>
<?php $atrID = @intval($atr['grupa_id']); ?>
<?php $opcjaID = @intval($opcja['id']); ?>

<div class="lf" style="width:auto;">
	<?php $imgID = rand(100000, 999999);//"000000"; ?>
	<?php $atrImg = $opcja['img']; // 'brak.jpg'; ?>
	<?php if(empty($opcja['img'])) $opcja['img'] = 'brak.jpg'; ?>
	<span class="img lf">
	<img src="<?php echo $this->baseUrl;?>/public/admin/zdjecia/tiny/<?php echo $opcja['img'];?>" width="30" height="20" style="margin:0px 10px;"/>
	<span class="thumbnail"><img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/<?php echo $opcja['img']; ?>" alt="" /></span>
	</span>			
	<input type="hidden" value="<?= $atrImg; ?>" name="atr[<?=$atrID; ?>][<?=$atr['typatrybut']; ?>][<?=$opcjaID; ?>][img]" id="atr<?php echo $atrID;?>_<?php echo $atr['typatrybut'];?>_<?php echo $opcjaID;?>_img_ID_<?=$imgID;?>">
	<input type="file" rel="" id="atr<?php echo $atrID;?>_<?php echo $atr['typatrybut'];?>_<?php echo $opcjaID;?>_img">
	<?php if(true && !empty($atrImg)): ?>
	<!--<div class="uploadifyQueue" id="atr<?=$atrID;?>_<?=$atr['typatrybut'];?>_<?=$opcjaID;?>_imgQueue">-->
	<div class="uploadifyQueueItem completed" id="atr<?=$atrID;?>_<?=$atr['typatrybut'];?>_<?=$opcjaID;?>_img<?=$imgID;?>">
	<div class="cancel">
	<a href="javascript:jQuery('#atr<?=$atrID;?>_<?=$atr['typatrybut'];?>_<?=$opcjaID;?>_img').uploadifyCancel('<?=$imgID;?>');">
		<img src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png">
	</a>
	</div>
	<span class="fileName"><?php echo $opcja['img'];?> (<?php echo @ceil(filesize($opcja['img'])/1024/1024);?> KB)</span>
	<span class="percentage"> - Completed</span>
	</div>
	<!--</div>-->
	<?php endif; ?>
</div>