<?php if(@$this->atrAll): ?>
<a name="atrybuty"></a>
<div class="form_title"><h2 class="title4">Atrybuty</h2></div>
<?php endif; ?>

<?php $id = @intval($this->dane['id']); ?>

<div class="margin_left2 lf" id="atrybuty" style="width:<?=@$this->atrAll?900:450;?>px;">
	<?php if($this->obConfig->atrybutyCenyRozne): ?>
	<input type="checkbox" name="cena_atryb" id="cena_atryb" value="1" <?php echo @$this->dane['cena_atryb'] ?'checked="checked"':'';?> onchange="if(!this.checked) $('.atrCenyRozne input[type=\'checkbox\']').attr('checked',false); $('.atrCenyRozne').toggleClass('dni', !this.checked); $('.cena_atryb_opcje').toggleClass('dni', !this.checked); "/>
	<label for="cena_atryb">Cena produktu zależy od atrybutów</label>
	<br/>
	<input type="checkbox" name="cena_atryb_opcje" id="cena_atryb_opcje" class="cena_atryb_opcje <?=@$this->dane['cena_atryb']?'dib':'dni';?>" value="1" />
	<label for="cena_atryb_opcje" class="cena_atryb_opcje <?=@$this->dane['cena_atryb']?'dib':'dni';?>">Utwórz automatycznie wszystkie możliwe pozycje (Usuwa wszystkie istniejące pozycje!)</label>
	<?php endif; ?>
	
	<?php if(@count($this->atrybuty) > 0): ?>
	<?php if($this->obConfig->atrybutyRodzaje): ?>
	<div class="form_row">
		<a class="add_ico silver m_links dib lf vh" href="javascript:void(0);">&nbsp;</a>
		<label class="">Wybierz rodzaj:</label>
		<div class="input_bg w1">
			<select name="nowyAtrybut[id_rodzaj]" onchange="zmienRodzajAtr(this);">
				<option value="">wszystkie</option>
				<option value="0">bez rodzaju</option>
				<?php foreach($this->rodzajeatr as $value): ?>
				<option value="<?php echo $value['id']; ?>"><?php echo $value['nazwa']; ?></option>
				<?php endforeach; ?>
			</select>
		</div>
	</div>
	<?php endif; ?>
	<?php if($this->obConfig->atrybutyRodzaje): ?>
	<div class="form_row">
		<a class="add_ico silver m_links dib lf vh" href="javascript:void(0);">&nbsp;</a>
		<label class="">Dodaj atrybut:</label>
		<div class="input_bg w1">
			<select id="dodajAtrybut" onchange="dodajNowyAtrybut(this);">
			<option value="">wybierz atrybut</option>
			<?php if(@count($this->atrybutyWgRodzaje) > 0): ?>
			<?php foreach($this->atrybutyWgRodzaje as $rodzaj => $atrybuty): ?>
			<?php if(@count($atrybuty) > 0): ?>
			<?php if($this->obConfig->atrybutyRodzaje): ?>
			<optgroup id="atr_rodzaj<?php echo $rodzaj;?>" label="<?php echo $rodzaj > 0 ? @$this->rodzajeatr[$rodzaj]['nazwa'] : "bez rodzaju"; ?>">
			<?php endif; ?>
			<?php foreach($atrybuty as $atrybut): ?>
			<?php //if($atrybut['typatrybut'] == "tekst" && @!empty($atrybut['wartosc'])) continue; ?>
			<?php //if($atrybut['typatrybut'] == "lista" && @intval($atrybut['checked'])) continue; ?>
			<?php //if($atrybut['typatrybut'] == "multi" && @$atrybut['checked'] == true) continue; ?>
			<option value="<?php echo $atrybut['grupa_id']; ?>"><?php echo $atrybut['grupa']; ?></option>
			<?php endforeach; ?>
			<?php if($this->obConfig->atrybutyRodzaje): ?>
			</optgroup>
			<?php endif; ?>
			<?php endif; ?>
			<?php endforeach; ?>
			<?php endif; ?>
			</select>
			<?php if($this->obConfig->atrybutyRodzaje): ?>
			<select id="dodajAtrybuty" class="dn">
			<?php if(@count($this->atrybutyWgRodzaje) > 0): ?>
			<?php foreach($this->atrybutyWgRodzaje as $rodzaj => $atrybuty): ?>
			<?php if(@count($atrybuty) > 0): ?>
			<optgroup id="atr_rodzaje<?php echo $rodzaj;?>" label="<?php echo $rodzaj > 0 ? @$this->rodzajeatr[$rodzaj]['nazwa'] : "bez rodzaju"; ?>">
			<?php foreach($atrybuty as $atrybut): ?>
			<option value="<?php echo $atrybut['grupa_id']; ?>"><?php echo $atrybut['grupa']; ?></option>
			<?php endforeach; ?>
			</optgroup>
			<?php endif; ?>
			<?php endforeach; ?>
			<?php endif; ?>
			</select>
			<?php endif; ?>
		</div>
	</div>
	<?php else: ?>
	<div class="form_row">
		<a class="add_ico silver m_links dib lf vh" href="javascript:void(0);">&nbsp;</a>
		<label class="">Dodaj atrybut:</label>
		<div class="input_bg w1">
			<select id="dodajAtrybut" onchange="dodajNowyAtrybut(this);">
			<option value="">wybierz atrybuty</option>
			<?php if(@count($this->atrybuty) > 0): ?>
			<?php foreach($this->atrybuty as $atrybut): ?>
			<?php //if($atrybut['typatrybut'] == "tekst" && @!empty($atrybut['wartosc'])) continue; ?>
			<?php //if($atrybut['typatrybut'] == "lista" && @intval($atrybut['checked'])) continue; ?>
			<?php //if($atrybut['typatrybut'] == "multi" && @$atrybut['checked'] == true) continue; ?>
			<option value="<?php echo $atrybut['grupa_id']; ?>"><?php echo $atrybut['grupa']; ?></option>
			<?php endforeach; ?>
			<?php endif; ?>
			</select>
		</div>
	</div>
	<?php endif; ?>
	<script type="text/javascript">
	function zmienRodzajAtr(ten)
	{
		$('#dodajAtrybut').html('<option value="">wybierz atrybut</option>');
		if(ten.value.length == 0) $('#dodajAtrybut').append($('#dodajAtrybuty').html());
		else $('#dodajAtrybut').append($('#dodajAtrybuty #atr_rodzaje'+ten.value).html());
		//$('#dodajAtrybut optgroup, #dodajAtrybut optgroup option').toggle(!this.value.length);
		//$('optgroup#atr_rodzaj'+this.value+', optgroup#atr_rodzaj'+this.value+' option').show(); 
	}
	function setAtrybuty()
	{
		$('#dodajAtrybut option').each(function()
		{
			var atr = $(this).val(); //alert(atr);
			if(atr > 0)
			{
				var jest = $('#atryb_' + atr).hasClass('db');//.is(':visible');
				$(this).attr('disabled', jest ? 'disabled' : false);
				//console.log(atr + "x" + jest);
				//$('#atryb_'+atr+' .back_ico').toggle(!jest).toggleClass('di', !jest).toggleClass('dn', jest);
			}
		});
	}
	$(document).ready(function() 
	{
		setAtrybuty();
	});
	function dodajNowyAtrybut(ten)
	{
		var atr = $(ten).val();
		if(atr > 0 && $('#atryb_'+atr).attr('id') != undefined)
		{
			//$("div.form_row.staryAtr, div.form_row.nowyAtr").hide().toggleClass('db', false).toggleClass('dn', true);
			$('#atryb_'+atr).show().toggleClass('db', true).toggleClass('dn', false);
			$('#dodajAtrybut').val('');
			setAtrybuty();
			//$('#dodajAtrybut option[value="'+atr+'"]').attr('disabled', 'disabled');
		}
		//else $("div.form_row.staryAtr, div.form_row.nowyAtr").show().toggleClass('db', true).toggleClass('dn', false);
	}
	function dodajAtrybutTekst(ten, set)
	{
		$(ten).parent().find('input').attr('readonly', false);
		$(ten).parent().find('input').css('backgroundColor', 'white');
		var val = $(ten).parent().find('input[type="text"]').attr('data-val-value');
		if(set) $(ten).parent().find('input[type="text"]').val(val);
		$(ten).parent().children('.back_ico').hide();
		$(ten).parent().children('.del_ico').show();
	}
	function usunAtrybutTekst(ten, set)
	{
		//$(ten).parent().find('input').attr('readonly', 'readonly');
		//$(ten).parent().find('input').css('backgroundColor', 'gray');
		if(set) $(ten).parent().find('input[type="text"]').val('');
		if($(ten).parent().hasClass('staryAtr'))
		{
			$(ten).parent().children('.del_ico').hide();
			$(ten).parent().children('.back_ico').show();
		}
		//usunNoweOpcje($(ten).parent().children('label .del_ico'));
		$(ten).parent().hide().toggleClass('db', false).toggleClass('dn', true);
		setAtrybuty();
	}
	function zmienAtrybutTekst(ten)
	{
		//return;
		if($(ten).val().length > 0) dodajAtrybutTekst($(ten).parent(), false);
		else usunAtrybutTekst($(ten).parent(), false);
	}
	function dodajAtrybutWybor(ten, set)
	{
		$(ten).parent().find('input').attr('readonly', false);
		$(ten).parent().find('input').css('backgroundColor', 'white');
		var val = $(ten).parent().find('input[type="text"]').attr('data-val-value');
		if(set) $(ten).parent().find('input[type="text"]').val(val);
		var wyb = $(ten).parent().find('input[type="text"]').attr('data-val-checked');
		if(set) $(ten).parent().find('input[type="radio"][value="'+wyb+'"]').attr('checked', 'checked');
		$(ten).parent().children('.back_ico').hide();
		$(ten).parent().children('.del_ico').show();
	}
	function usunAtrybutWybor(ten, set)
	{
		//$(ten).parent().find('input').attr('readonly', 'readonly');
		//$(ten).parent().find('input').css('backgroundColor', 'gray');
		if(set) $(ten).parent().find('input[type="text"]').val('');
		if(set) $(ten).parent().find('input[type="radio"]').attr('checked', false);
		if($(ten).parent().hasClass('staryAtr'))
		{
			$(ten).parent().children('.del_ico').hide();
			$(ten).parent().children('.back_ico').show();
		}
		//usunNoweOpcje($(ten).parent().children('label .del_ico'));
		$(ten).parent().hide().toggleClass('db', false).toggleClass('dn', true);
		setAtrybuty();
	}
	function zmienAtrybutWybor(ten)
	{
		return;
		if($(ten).val().length > 0) dodajAtrybutWybor($(ten).parent(), false);
		else usunAtrybutWybor($(ten).parent(), false);
	}
	function dodajAtrybutLista(ten, set)
	{
		$(ten).parent().find('select').attr('readonly', false);
		$(ten).parent().find('select').css('backgroundColor', 'white');
		//if(set) $(ten).parent().find('select').val($(ten).parent().find('select').attr('data-val-value'));
		var val = $(ten).parent().find('input[type="radio"][value="0"]').attr('data-val-checked');
		if(set) $(ten).parent().find('input[type="radio"][value="'+val+'"]').attr('checked', 'checked');
		$(ten).parent().children('.back_ico').hide();
		$(ten).parent().children('.del_ico').show();
	}
	function usunAtrybutLista(ten, set)
	{
		//$(ten).parent().find('select').attr('readonly', 'readonly');
		//$(ten).parent().find('select').css('backgroundColor', 'gray');
		//if(set) $(ten).parent().find('select').val('');
		if(set) $(ten).parent().find('input[type="radio"][value="0"]').attr('checked', 'checked');
		if($(ten).parent().hasClass('staryAtr'))
		{
			$(ten).parent().children('.del_ico').hide();
			$(ten).parent().children('.back_ico').show();
		}
		usunNoweOpcje($(ten).parent().children('label .del_ico'));
		$(ten).parent().hide().toggleClass('db', false).toggleClass('dn', true);
		setAtrybuty();
	}
	function zmienAtrybutLista(ten)
	{
		//return;
		if($(ten).val() > 0) dodajAtrybutLista($(ten).parent(), false);
		else usunAtrybutLista($(ten).parent(), false);
	}
	function dodajAtrybutMulti(ten, set)
	{
		$(ten).parent().find('input').attr('readonly', false);
		$(ten).parent().find('input').css('backgroundColor', 'white');
		if(set) $(ten).parent().find('div.input_bg_radio > input[type="checkbox"]').each(function()
		{$(this).attr('checked',$(this).attr('data-val-checked')>0?'checked':false);});
		$(ten).parent().children('.back_ico').hide();
		$(ten).parent().children('.del_ico').show();
	}
	function usunAtrybutMulti(ten, set)
	{
		//$(ten).parent().find('input').attr('readonly', 'readonly');
		//$(ten).parent().find('input').css('backgroundColor', 'gray');
		if(set) $(ten).parent().find('div.input_bg_radio > input[type="checkbox"]').attr('checked', false);
		if($(ten).parent().hasClass('staryAtr'))
		{
			$(ten).parent().children('.del_ico').hide();
			$(ten).parent().children('.back_ico').show();
		}
		usunNoweOpcje($(ten).parent().find('label .del_ico'));
		$(ten).parent().hide().toggleClass('db', false).toggleClass('dn', true);
		setAtrybuty();
	}
	function zmienAtrybutMulti(ten)
	{
		return;
		var checked = $(ten).parent().find('input[type="checkbox"]').is(':checked');
		if(checked) dodajAtrybutMulti($(ten).parent(), false);
		else usunAtrybutMulti($(ten).parent(), false);
	}
	function dodajNowaOpcje(ten)
	{
		$(ten).parent().after($(ten).parent().clone());
		$(ten).parent().parent().find('.nowaOpcja .add_ico').toggleClass('dni', true);
		$(ten).parent().parent().find('.nowaOpcja .del_ico').toggleClass('dni', false);
		$(ten).parent().parent().find('.nowaOpcja .add_ico').last().toggleClass('dni', false);
		$(ten).parent().parent().find('.nowaOpcja .del_ico').last().toggleClass('dni', true);
	}
	function usunNowaOpcje(ten)
	{
		$(ten).parent().remove();
		$(ten).parent().parent().find('.nowaOpcja .add_ico').toggleClass('dni', true);
		$(ten).parent().parent().find('.nowaOpcja .del_ico').toggleClass('dni', false);
		$(ten).parent().parent().find('.nowaOpcja .add_ico').last().toggleClass('dni', false);
		$(ten).parent().parent().find('.nowaOpcja .del_ico').last().toggleClass('dni', true);
	}
	function zmienAtrybutLista(ten, set)
	{
		if(set != undefined)
		{
			if(set > 0) dodajAtrybutLista($(ten).parent(), false);
			else usunAtrybutLista($(ten).parent(), false);
		}
		else
		{
			if($(ten).val() > 0) dodajAtrybutLista($(ten).parent(), false);
			else usunAtrybutLista($(ten).parent(), false);
		}
	}
	function dodajNoweOpcje(ten)
	{
		$(ten).parent().parent().find('.nowaOpcja').show();
		$(ten).parent().parent().find('.nowaOpcja input[type="text"]').val('');
		$(ten).parent().find('.add_ico').hide();
		$(ten).parent().find('.del_ico').show();
	}
	function usunNoweOpcje(ten)
	{
		$(ten).parent().parent().find('.nowaOpcja').hide();
		$(ten).parent().parent().find('.nowaOpcja .del_ico').not('.dni').parent().remove();
		$(ten).parent().parent().find('.nowaOpcja input[type="text"]').val('');
		$(ten).parent().find('.del_ico').hide();
		$(ten).parent().find('.add_ico').show();
	}
	</script>
	<?php endif; ?>
	
	<?php $this->atrybut = array(); ?>
	<?php if(true && @count($this->atrybuty) > 0): ?>
    <?php foreach($this->atrybuty as $atr): ?>
	<?php $this->atrybut = $atr; ?>
	<?php $this->atr_see = $this->atrAll && @strlen(str_replace(";","",$atr['id_kat'])); ?>
	<?php $atrID = @intval($atr['grupa_id']); ?>
	<?php //if($atr['typatrybut'] != "tekst") continue; ?>
		<?php echo $this->render('oferta/atrybuty_all_'.$atr['typatrybut'].'.phtml'); ?>
	<?php endforeach; ?>
	<?php endif; ?>
	
	<?php if(false): ?>
	<?php $rodzaje = array('tekst', 'lista', 'multi', 'wybor'); ?>
	<?php if(true && @count($rodzaje) > 0): ?>
	<?php foreach($rodzaje as $rodzaj): ?>
	<?php if(true && @count($this->atrybuty) > 0): ?>
    <?php foreach($this->atrybuty as $atr): ?>
	<?php $this->atrybut = $atr; ?>
	<?php $atrID = @intval($atr['grupa_id']); ?>
	<?php if($atr['typatrybut'] != $rodzaj) continue; ?>
		<?php echo $this->render('oferta/atrybuty_all_'.$rodzaj.'.phtml'); ?>
	<?php endforeach; ?>
	<?php endif; ?>
	<?php endforeach; ?>
	<?php endif; ?>
	<?php endif; ?>
	
	<script type="text/javascript">
	$(document).ready(function()
	{
		$("#atrybuty").sortable(
		{
			opacity: 0.6,
			cursor: 'move',
			items: "div.form_row.staryAtr, div.form_row.nowyAtr0",
			update: function(event, ui)
			{
				var id = $(ui.item).attr('id');
				var order = $(this).sortable("serialize") + '&action=changePosition';
				$.post("<?php echo $this->baseUrl; ?>/ajax/index/atrybpowiazsort/id/<?php echo $this->dane['id']; ?>/", order, function(res)
				{
					location.reload();
				});
			}
		});
	});
	</script>
	
	<?php if($this->atrAll): ?>
	<div class="form_row">
		<label style="float:left; clear:left; margin:0 5px 0 10px;">
			<a href="javascript:void(0);" rel="" onclick="$('#nowyAtrybut').toggle();">Dodaj nowy atrybut</a>
		</label>
	</div>
    <?php endif; ?>
	<div id="nowyAtrybut" class="form_row bor_param lf cf dn" style="margin:10px 0px;">
		<div class="form_row">
			<label class="required">Nazwa:</label>
			<div class="input_bg_radio input_bg w1" style="width:320px!important;">
				<input type="text" name="nowyAtrybut[nazwa]" value="" />&nbsp;&nbsp;
				<select name="nowyAtrybut[id_prod]" id="newAtrProd" class="vh dn" style="width:auto!important;" onchange="if(this.value=='0') $('.opcja select').val('0');">
				<option value="0">dodaj tylko do tego produktu</option>
				<option value="on">dodaj do wszystkich produktów</option>
				</select>
				<?php if(false): ?>
				<label><input type="checkbox" class="nfi" name="nowyAtrybut[id_prod]"/>&nbsp;Dodaj do wszystkich produktów</label>
				<?php endif; ?>
				<?php if(false): ?>
				<label><input type="checkbox" class="nfi" name="nowyAtrybut[id_kat]"/>&nbsp;Dodaj do kategorii tego produktu</label>
				<?php endif; ?>
			</div>
		</div>
		<?php if($this->obConfig->atrybutyRodzaje): ?>
		<div class="form_row">
			<label class="">Rodzaj atrybutu:</label>
			<div class="input_bg w1">
				<select name="nowyAtrybut[id_rodzaj]">
					<option value="0">żaden</option>
					<?php foreach($this->rodzajeatr as $value): ?>
					<option value="<?php echo $value['id']; ?>"><?php echo $value['nazwa']; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
		<?php endif; ?>
		<div class="form_row">
			<label class="required">Typ atrybutu:</label>
			<div class="input_bg w1">
				<select name="nowyAtrybut[typatrybut]" onchange="$('.opcja').toggle(this.value != 'tekst' && this.value != 'wybor'); $('#opcja').toggle(this.value == 'tekst' || this.value == 'wybor');">
					<?php foreach($this->typatr as $value): ?>
					<option value="<?php echo $value['typatrybut']; ?>"><?php echo $value['nazwa']; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
		<div class="form_row">
			<label class="required">Typ pola:</label>
			<div class="input_bg w1">
				<select name="nowyAtrybut[jedn_miary_typ]">
					<?php foreach($this->typpola as $nazwa => $opis): ?>
					<option value="<?php echo $nazwa; ?>"><?php echo $opis; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
		<?php if(false): ?>
		<div class="form_row">
			<label class="">Jedn. miary:</label>
			<div class="input_bg w1">
				<input type="text" name="nowyAtrybut[jedn_miary]" value="" />
			</div>
		</div>
		<?php else: ?>
		<div class="form_row">
			<label class="">Jedn. miary:</label>
			<div class="input_bg w1">
				<select name="nowyAtrybut[jedn_miary]">
					<option value="">żadna</option>
					<?php foreach($this->jedn as $jedn): ?>
					<option value="<?php echo $jedn['nazwa']; ?>"><?php echo $jedn['nazwa']; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
		<?php endif; ?>
		<?php if(true): ?>
		<div class="form_row opcja dn">
			<label class="">Opcja
			<a class="add silver m_linki di" onclick="dodajOpcje(this);" href="javascript:void(0);">Dodaj</a>
			<a class="del silver m_linki dn" onclick="usunOpcje(this);" href="javascript:void(0);">Usuń</a>
			</label>
			<div class="input_bg w1" style="width:320px!important;">
				<input type="text" name="nowaOpcja[nazwa][]" value="" />
				<select name="nowaOpcja[id_prod][]" class="vh dn" onchange="if(this.value=='1') $('#newAtrProd').val('on');">
				<option value="0">dodaj tylko do tego produktu</option>
				<option value="1">dodaj do wszystkich produktów</option>
				</select>
			</div>
		</div>
		<script type="text/javascript">
		function dodajOpcje(ten)
		{
			$(ten).parent().parent().after($(ten).parent().parent().clone());
			$('.opcja .add').hide();
			$('.opcja .del').show();
			$('.opcja .add').last().show();
			$('.opcja .del').last().hide();
		}
		function usunOpcje(ten)
		{
			$(ten).parent().parent().remove();
			$('.opcja .add').hide();
			$('.opcja .del').show();
			$('.opcja .add').last().show();
			$('.opcja .del').last().hide();
		}
		</script>
		<?php endif; ?>
		<?php if(true): ?>
		<div class="form_row db" id="opcja">
			<label class="">Wartość atrybutu:</label>
			<div class="input_bg w1" style="width:320px!important;">
				<input type="text" name="nowyAtrybut[wartosc]" value="" />&nbsp;&nbsp;
			</div>
		</div>
		<?php endif; ?>
	</div>
	<br clear="all"/>
</div>

<?php if($this->obConfig->atrybutyCenyRozne && $this->dane['cena_atryb']): ?>
<div class="form_title"><a name="atrybutyCenyRozne"></a>
<h2 class="title4" onclick="$('#atrybutCenyRozne').toggle();">Pozycje produktu</h2></div>
<?php echo $this->render('oferta/atrybuty_ceny_rozne.phtml'); ?>
<?php endif; ?>
