<?php $atr = @$this->atrybut; ?>
<?php $atrID = @intval($atr['grupa_id']); ?>

<div class="form_row <?=@empty($atr['wybor'])?'dn nowyAtr':'db staryAtr';?>" id="atryb_<?php echo $atrID; ?>" style="border-top:1px solid black;">
	<?php if(true && $atr['id_prod'] > 0): ?>
	<input type="checkbox" class="lf" style="margin:2px;" name="atrybutUsun[<?=$atrID;?>]" title="Usuń" onclick="if(this.checked) return window.confirm('Ten atrybut jest przypisany tylko do tego produktu. Zaznaczenie tego pola spowoduje jego całkowite usunięcie!');">
	<?php else: ?>
	<a class="back_ico silver m_links dn lf" onclick="dodajAtrybutWybor(this, true);" href="javascript:void(0);"> Wróć</a>
	<a class="del_ico silver m_links di lf" onclick="usunAtrybutWybor(this, true);" href="javascript:void(0);">Usuń</a>
	<?php endif; ?>
	<label class=""><?php echo @$atr['grupa']; ?>&nbsp;</label>		
	<div class="input_bg_radio input_bg w1">
		<?php foreach($this->opcjeWybor as $wyborID => $wybor): ?>
		<label style="margin:0px 5px 0px 0px;"><input type="radio" name="atr[<?=$atrID;?>][wartosc]" value="<?=$wyborID;?>" <?php if(@intval($atr['wartosc']) ==$wyborID) echo 'checked="checked"'; ?> onchange="zmienAtrybutWybor(this);" />&nbsp;<?=$wybor;?></label>
		<?php endforeach; ?>
		<?php if(false): ?>
		<input type="text" name="atr[<?=$atrID;?>][tekst]" value="<?php echo @$atr['wartosc']; ?>" data-val-checked="<?php echo @intval($atr['wybor']);?>" data-val-value="<?php echo @htmlspecialchars($atr['wartosc']);?>" onkeyup="zmienAtrybutWybor(this);" onchange="zmienAtrybutWybor(this);" style="width:200px!important;"/>
		<?php endif; ?>
	</div>	
</div>