<?php $atr = $this->atrybut; ?>
<?php $opcja = $this->opcja; ?>
<?php $atrID = @intval($atr['grupa_id']); ?>
<?php $opcjaID = @intval($opcja['id']); ?>

<?php $ceny = $this->ceny; ?>
<?php unset($ceny['cena_promocji_n']); ?>
<?php unset($ceny['cena_promocji_b']); ?>
<?php unset($ceny['cena_netto_hurt']); ?>
<?php unset($ceny['cena_brutto_hurt']); ?>
<?php unset($ceny['cena_promocji_n_hurt']); ?>
<?php unset($ceny['cena_promocji_b_hurt']); ?>

<input type="hidden" name="atr[<?= $atrID; ?>][multi][<?=$opcjaID;?>][ceny]" value="" />
<label for="atr_<?=$atrID;?>_<?=$opcjaID;?>_ceny" class="lfi" style="margin:0px;">
<input type="checkbox" name="atr[<?= $atrID; ?>][multi][<?=$opcjaID;?>][ceny]" value="1" <?php if(@$opcja['dane']['ceny'] == 1) echo 'checked="checked"'; ?> onchange="$('#cenyAtryb<?=$atrID;?>_<?=$opcjaID;?>').toggleClass('vh', !this.checked);" id="atr_<?=$atrID;?>_<?=$opcjaID;?>_ceny" style="margin:2px;"/>
cena</label>

<div id="cenyAtryb<?=$atrID;?>_<?=$opcjaID;?>" class="cenyAtrybs <?=@$opcja['dane']['ceny']?'':'vh';?>">

<?php if(false): ?>
<select name="atr[<?= $atrID; ?>][multi][<?=$opcjaID;?>][cenyTryb]">
<option value="0" <?php if(@intval($opcja['dane']['cenyTryb']) == 0) echo 'selected="selected"'; ?>>+</option>
<option value="1" <?php if(@intval($opcja['dane']['cenyTryb']) == 1) echo 'selected="selected"'; ?>>=</option>
</select>
<?php else: ?>
<input type="hidden" name="atr[<?= $atrID; ?>][multi][<?=$opcjaID;?>][cenyTryb]" value="1" />
<?php endif; ?>

<table cellspacing="0" cellpadding="0">
<?php if(false): ?>
<tr>
<?php foreach($ceny as $nazwa => $cena): ?>
<th><?php echo str_replace('Cena', '', $cena);?></th>
<?php endforeach; ?>
</tr>
<?php endif; ?>
<tr>
<?php foreach($ceny as $nazwa => $cena): ?>
<td>
<span>&nbsp;<?php echo substr(trim(str_replace('Cena', '', $cena)), 0, 10);?></span>
<input type="text" id="atr[<?=$atrID;?>][<?=$atr['typatrybut'];?>][<?=$opcjaID;?>][<?=$nazwa;?>]" name="atr[<?=$atrID;?>][<?=$atr['typatrybut'];?>][<?=$opcjaID;?>][<?=$nazwa;?>]" value="<?php echo @$opcja['dane'][$nazwa];?>" onkeyup="cenyoblicz(this.value, this.name);" />
</td>
<?php endforeach; ?>
</tr>
</table>

</div>