<a name="atrybuty"></a>
<div class="form_title"><a name="atrybuty"></a><h2 class="title4">Atrybuty</h2></div>
<div class="margin_left2">
	<?php $id = $this->dane['id']; ?>
	<?php if(@count($this->atrybuty) > 0): ?>
    <?php foreach($this->atrybuty as $grupa): ?>
	<?php $this->grupa = $grupa; ?>
	
	<div class="form_row bor_param" style="position:relative; margin-top:20px;">
		<label>
		<?php if($grupa['id_prod'] < 0): ?><?php echo $grupa['grupa']; ?><?php else: ?>
		<input type="text" name="atrybut[<?php echo $grupa['grupa_id']; ?>][nazwa]" value="<?php echo $grupa['grupa']; ?>" style="border:1px solid #C3C3C3; width:120px; padding:2px; font-weight:bold;"><?php endif; ?>
		<?php if(false && !empty($grupa['jedn_miary'])): ?>&nbsp;(<?php echo $grupa['jedn_miary']; ?>)<?php endif; ?>
		</label>
		
		<div class="input_bg w1" style="width:700px!important;">
		<select name="atrybut[<?php echo $grupa['grupa_id']; ?>][typatrybut]" style="width: 130px!important;" 
		<?php if($grupa['id_prod'] < 0): ?> disabled="disabled" <?php endif; ?>>
			<?php foreach($this->typatr as $value): ?>
			<option <?php if($grupa['typatrybut'] == $value['typatrybut']) echo 'selected="selected"'; ?> value="<?php echo $value['typatrybut']; ?>">
			<?php echo $value['nazwa']; ?></option>
			<?php endforeach; ?>
		</select>
		<select name="atrybut[<?php echo $grupa['grupa_id']; ?>][jedn_miary_typ]" style="width:130px!important;" 
		<?php if($grupa['id_prod'] < 0): ?> disabled="disabled" <?php endif; ?>>
			<?php foreach($this->typpola as $nazwa => $opis): ?>
			<option <?php if($grupa['jedn_miary_typ'] == $nazwa) echo 'selected="selected"';?> value="<?php echo $nazwa;?>">
			<?php echo $opis; ?></option>
			<?php endforeach; ?>
		</select>
		&nbsp;Jedn.miary:&nbsp;
		<input type="text" name="atrybut[<?php echo $grupa['grupa_id']; ?>][jedn_miary]" value="<?php echo @$grupa['jedn_miary'];?>" style="width:50px!important;" <?php if($grupa['id_prod']<0):?>disabled="disabled"<?php endif;?>/>
		<?php if($grupa['id_prod'] >= 0): ?>
		<input type="checkbox" name="atrybutUsun[<?php echo $grupa['grupa_id'];?>]" style="float:none;" <?php if($grupa['id_prod'] == 0): ?>onclick="if(this.checked) return window.confirm('Ten atrybut jest przypisany do wszystkich produktów.\nJego usunięcie spowoduje również usunięcie go z wszystkich innych produktów!');"<?php endif; ?>> Usuń
		<?php endif; ?>
		<span style="margin-left:20px;">Przypisz do:&nbsp;</span>
		<select name="atrybut[<?php echo $grupa['grupa_id']; ?>][id_prod]" style="width:150px!important;" <?php if($grupa['id_prod'] == 0): ?>onchange="if(this.value!='0') if(!window.confirm('Ten atrybut jest przypisany do wszystkich produktów.\nZmiana przypisania tylko do tego produktu spowoduje usunięcie go z wszystkich innych produktów!')) this.value = 0;"<?php endif; ?>>
			<!--<option value="-1">Przypisz do:</option>-->
			<option <?php if($grupa['id_prod'] == $id) echo 'selected="selected"';?> value="<?php echo $id;?>">
			Tylko tego produktu</option>
			<option <?php if($grupa['id_prod'] == 0) echo 'selected="selected"';?> value="0">
			Wszystkich produktów</option>
		</select>
		</div>
		
		<?php if(!strcmp("lista", $grupa['typatrybut'])): ?>
		<label style="float:left; clear:left; margin:0 5px 0 10px;">
			<?php $atrybut = @$grupa['atrybut'][$grupa['checked']]; ?>
			<?php $atrybut['id'] = 0; ?>
			<?php if($this->obConfig->atrybutyCeny): ?>
			<input type="hidden" name="atr[<?php echo $grupa['grupa_id'];?>][<?php echo $grupa['typatrybut'];?>][0][ceny]" value="">
			<input type="checkbox" name="atr[<?php echo $grupa['grupa_id'];?>][<?php echo $grupa['typatrybut'];?>][0][ceny]" value="1" <?php if(@$atrybut['dane']['ceny'] == 1) echo 'checked="checked"'; ?> onchange="$('#cenyAtryb<?php echo $grupa['grupa_id'];?>_<?php echo $grupa['typatrybut'];?>_0').toggle(this.value);">
			<span style="font-weight:normal;">Przypisz ceny</span>
			<?php else: ?>&nbsp;<?php endif; ?>
		</label>		
		
		<div class="input_bg_radio w1">
		<?php if(false): ?>
		<select name="atr[<?php echo $grupa['grupa_id']; ?>][<?php echo $grupa['typatrybut']; ?>][0][id]">
		<option value="0">Wybierz</option>
		<?php if(@count($grupa['atrybut']) > 0): ?>
		<?php foreach($grupa['atrybut'] as $atrybut): ?>
		<option value="<?php echo $atrybut['id']; ?>" <?php if($atrybut['checked']==1)echo 'selected="selected"';?>>
		<?php echo $atrybut['nazwa']; ?></option>
		<?php endforeach; ?>
		<?php endif; ?>
		</select>
		<?php else: ?>
		<input type="radio" name="atr[<?php echo $grupa['grupa_id'];  ?>][<?php echo $grupa['typatrybut'];  ?>][0][id]" <?php if(!isset($grupa['checked'])) echo 'checked="checked"'; ?> value="0">&nbsp;Nie wybrano żadnej wartości<br/>
		<?php if(@count($grupa['atrybut']) > 0): ?>
		<?php foreach($grupa['atrybut'] as $atrybut): ?>
		<input type="radio" name="atr[<?php echo $grupa['grupa_id'];?>][<?php echo $grupa['typatrybut'];?>][0][id]" <?php if($atrybut['checked'])echo'checked="checked"';?> value="<?php echo $atrybut['id'];?>">
		<?php if($atrybut['id_prod'] < 0): ?>
		<span style="display:inline-block; width:366px; margin:0 1px;"><?php echo $atrybut['nazwa']; ?></span>
		<?php else: ?>
		<input type="text" name="atrGr[<?php echo $grupa['grupa_id']; ?>][<?php echo $atrybut['id']; ?>][nazwa]" value="<?php echo $atrybut['nazwa']; ?>" style="border:1px solid #C3C3C3; width:369px;">
		<?php endif; ?>
		<?php if($atrybut['id_prod'] >= 0): ?>
		<input type="checkbox" name="atrUsun[<?php echo $grupa['grupa_id'];?>][<?php echo $atrybut['id'];?>]" <?php if($atrybut['id_prod'] == 0): ?>onclick="if(this.checked) return window.confirm('Ta opcja jest przypisana do wszystkich produktów.\nJej usunięcie spowoduje również usunięcie z wszystkich innych produktów!');"<?php endif; ?>>
		Usuń<?php endif; ?>
		<?php if($grupa['id_prod'] == 0): ?>
		<span style="margin-left:20px;">Przypisz do:&nbsp;</span>
		<select name="atrGr[<?php echo $grupa['grupa_id']; ?>][<?php echo $atrybut['id']; ?>][id_prod]" style="width:150px!important;" <?php if($atrybut['id_prod'] == 0): ?>onchange="if(this.value!='0') if(!window.confirm('Ta opcja jest przypisana do wszystkich produktów.\nZmiana przypisania tylko do tego produktu spowoduje usunięcie jej z wszystkich innych produktów!')) this.value = 0;"<?php endif; ?>>
			<!--<option value="-1">Przypisz do:</option>-->
			<option <?php if($atrybut['id_prod'] == $id) echo 'selected="selected"';?> value="<?php echo $id;?>">
			Tylko tego produktu</option>
			<option <?php if($atrybut['id_prod'] == 0) echo 'selected="selected"';?> value="0">
			Wszystkich produktów</option>
		</select>
		<?php endif; ?>
		<br/>
		<?php endforeach; ?>
		<?php endif; ?>
		<?php endif; ?>
		</div>
		
		<?php $atrybut = @$grupa['atrybut'][$grupa['checked']]; ?>
		<?php $atrybut['id'] = 0; ?>		
		<?php $this->atrybut = @$atrybut; ?>			
		<?php echo $this->render('oferta/atrybuty_ceny.phtml'); ?>
		
		<?php else: ?>
		
		<?php if(!strcmp("multi", $grupa['typatrybut'])): ?>
		
		<div class="input_bg_radio w1">
		<?php if(@count($grupa['atrybut']) > 0): ?>
		<?php foreach($grupa['atrybut'] as $atrybut): ?>
		<?php $this->atrybut = $atrybut; ?>
		
		<label style="float:left; clear:left; margin:0 5px 0 10px;">
			<?php if($this->obConfig->atrybutyCeny): ?>
			<input type="hidden" name="atr[<?php echo $grupa['grupa_id']; ?>][<?php echo $grupa['typatrybut']; ?>][<?php echo $atrybut['id'];?>][ceny]" value="" />
			<input type="checkbox" name="atr[<?php echo $grupa['grupa_id']; ?>][<?php echo $grupa['typatrybut']; ?>][<?php echo $atrybut['id'];?>][ceny]" value="1" <?php if(@$atrybut['dane']['ceny'] == 1) echo 'checked="checked"'; ?> onchange="$('#cenyAtryb<?php echo $grupa['grupa_id'];?>_<?php echo $grupa['typatrybut'];?>_<?php echo $atrybut['id'];?>').toggle(this.value);"/>
			<span style="font-weight:normal;">Przypisz ceny</span>
			<?php else: ?>&nbsp;<?php endif; ?>
		</label>		
		
		<div class="input_bg_radio" style="width:auto;">
		<input type="checkbox" name="atr[<?php echo $grupa['grupa_id'];?>][<?php echo $grupa['typatrybut'];?>][<?php echo $atrybut['id'];?>][id]" <?php if($atrybut['checked'])echo'checked="checked"';?> value="<?php echo $atrybut['id'];?>">
		<?php if($atrybut['id_prod'] < 0): ?>
		<span style="display:inline-block; width:370px; margin:0 1px;"><?php echo $atrybut['nazwa']; ?></span>
		<?php else: ?>
		<input type="text" name="atrGr[<?php echo $grupa['grupa_id']; ?>][<?php echo $atrybut['id']; ?>][nazwa]" value="<?php echo $atrybut['nazwa']; ?>" style="border:1px solid #C3C3C3; width:370px;">
		<?php endif; ?>
		<?php if($atrybut['id_prod'] >= 0): ?>
		<input type="checkbox" name="atrUsun[<?php echo $grupa['grupa_id'];?>][<?php echo $atrybut['id'];?>]" <?php if($atrybut['id_prod'] == 0): ?>onclick="if(this.checked) return window.confirm('Ta opcja jest przypisana do wszystkich produktów.\nJej usunięcie spowoduje również usunięcie z wszystkich innych produktów!');"<?php endif; ?>>
		Usuń<?php endif; ?>
		<?php if($grupa['id_prod'] == 0): ?>
		<span style="margin-left:20px;">Przypisz do:&nbsp;</span>
		<select name="atrGr[<?php echo $grupa['grupa_id']; ?>][<?php echo $atrybut['id']; ?>][id_prod]" style="width:150px!important;" <?php if($atrybut['id_prod'] == 0): ?>onchange="if(this.value!='0') if(!window.confirm('Ta opcja jest przypisana do wszystkich produktów.\nZmiana przypisania tylko do tego produktu spowoduje usunięcie jej z wszystkich innych produktów!')) this.value = 0;"<?php endif; ?>>
			<!--<option value="-1">Przypisz do:</option>-->
			<option <?php if($atrybut['id_prod'] == $id) echo 'selected="selected"';?> value="<?php echo $id;?>">
			Tylko tego produktu</option>
			<option <?php if($atrybut['id_prod'] == 0) echo 'selected="selected"';?> value="0">
			Wszystkich produktów</option>
		</select>
		<?php endif; ?>
		</div>
		
		<?php echo $this->render('oferta/atrybuty_ceny.phtml'); ?>

		<?php endforeach; ?>
		<?php endif; ?>
		</div>
		
		<?php else: ?>
		<label style="float:left; clear:left; margin:0 5px 0 10px; font-weight:normal;">Wartość</label>
		<div class="input_bg w1" style="width:550px!important;">
			<input type="text" name="atr[<?php echo $grupa['grupa_id']; ?>][<?php echo $grupa['typatrybut']; ?>]" value="<?php echo $grupa['wartosc']; ?>" style="width:382px!important;" />
		</div>		
		<?php endif; ?>

		<?php endif; ?>
		
		<span style="position:absolute; top:2px; right:0px; float:right;">
			<input type="hidden" name="atr[<?php echo $grupa['grupa_id']; ?>][wyczysc]" value="0" />
			<input type="checkbox" name="atr[<?php echo $grupa['grupa_id']; ?>][wyczysc]" value="1" />
			<span>&nbsp;Wyczyść</span>
		</span>
		
		<?php if(strcmp("tekst", $grupa['typatrybut'])): ?>
		<label style="float:left; clear:left; margin:0 5px 0 10px;">
		<br/><a href="javascript:void(0);" rel="" onclick="$('#dodajOpcje<?php echo $grupa['grupa_id']; ?>').toggle();">
		Dodaj nową opcję</a>
		</label>
		<div class="input_bg w1 input_bg_radio" id="dodajOpcje<?php echo $grupa['grupa_id']; ?>" style="width:550px!important; display:none;">
			<br/>Nazwa&nbsp;
			<input type="text" name="noweOpcje[<?php echo $grupa['grupa_id']; ?>][nazwa]" value="" />&nbsp;&nbsp;
			<?php if($grupa['id_prod'] == 0): ?>
			<input type="checkbox" name="noweOpcje[<?php echo $grupa['grupa_id']; ?>][id_prod]" style="float:none;" />
			<span style="">Dodaj do wszystkich produktów</span>
			<?php endif; ?>
		</div>
		<?php endif; ?>
		
	</div>
    <?php endforeach; ?>
	<?php endif; ?>
	
	<div class="form_row">
		<label style="float:left; clear:left; margin:0 5px 0 10px;">
		<br/><a href="javascript:void(0);" rel="" onclick="$('#dodajAtrybut').toggle();">
		Dodaj nowy atrybut</a>
		</label>
	</div>
	<div id="dodajAtrybut" class="form_row bor_param" style="display:none;">
		<div class="form_row">
			<label class="required">Nazwa:</label>
			<div class="input_bg w1" style="width:550px!important;">
				<input type="text" name="nowyAtrybut[nazwa]" value="" />&nbsp;&nbsp;
				<?php if(true): ?>
				<input type="checkbox" name="nowyAtrybut[id_prod]" style="float:none;" />				
				<span style="">Dodaj do wszystkich produktów</span>
				<?php endif; ?>
			</div>
		</div>
		<div class="form_row">
			<label class="required">Typ atrybutu:</label>
			<div class="input_bg w1">
				<select name="nowyAtrybut[typatrybut]">
					<?php foreach($this->typatr as $value): ?>
					<option value="<?php echo $value['typatrybut']; ?>"><?php echo $value['nazwa']; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
		<div class="form_row">
			<label class="required">Typ pola:</label>
			<div class="input_bg w1">
				<select name="nowyAtrybut[jedn_miary_typ]">
					<?php foreach($this->typpola as $nazwa => $opis): ?>
					<option value="<?php echo $nazwa; ?>"><?php echo $opis; ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>
		<div class="form_row">
			<label class="">Jedn. miary:</label>
			<div class="input_bg w1">
				<input type="text" name="nowyAtrybut[jedn_miary]" value="" />
			</div>
		</div>
	</div>
</div>