<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Lista produktów &raquo;</a>
			<span class="link_path_end">Lista aukcji dla produktu</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Aukcje</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj aukcjami dla produktu: <?php echo $this->dane['nazwa']; ?></h3>	
		</div>
		<div class="content">
			<div class="all_container">
			
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/">Wróć do listy produktów &raquo;</a><br/><br/>
				
				<?php if(!empty($this->blad_edycji) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
		
					<?php if(!empty($this->aukcje)): ?>
						
						<?php if(!isset($this->error_search)): ?>
					
							<table class="foto_box padding">
								<colgroup>
									<col width="5%"/>
									<col width="10%"/>
									<col width="50%"/>
									<col width="10%"/>
									<!--<col width="10%"/>-->
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>Typ</th>
									<th>ID aukcji</th>
									<th>Nazwa</th>
									<th>Do końca</th>
									<!--<th>Edytuj</th>-->
									<th>Usuń</th>
								</tr>
								<?php $j = 1; foreach ($this->aukcje as $id => $aukcjeAll): ?>
								<?php $j = 1; foreach ($aukcjeAll as $typ => $aukcje): ?>
								<?php $j = 1; foreach ($aukcje as $realizacja): ?>
								
									<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
									
									<tr class="<?php echo $style; ?>">
									<td><?php echo $typ; ?></td>
									
									<?php if($typ == 'allegro'): ?>
								
										<td><?php echo $realizacja['it-id']; ?></td>
										<td><a class="link" title="Edytuj" href="http://allegro.pl/item<?php echo $realizacja['it-id'];?>.html"><b><?php echo $realizacja['it-name']; ?></b></a></td>
									    <td align="center"><?php echo floor(($realizacja['it-ending-time'] - time()) / 3600 / 24); ?> dni <?php echo floor((($realizacja['it-ending-time'] - time()) / 3600) % 24); ?> godzin</td>
										<td align="center"><a title="Usuń" onclick="return confirm('Czy napewno chcesz zlikwidować tą aukcję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/aukcje/id/<?php echo $this->dane['id']; ?>/delid/<?php echo $realizacja['it-id'];?>/rozmiar/<?php echo $id; ?>/typ/allegro">Usuń</a></td>
									
									<?php elseif($typ == 'ebay'): ?>
									
										<td><?php echo $realizacja->ItemID; ?></td>
										<td><a class="link" title="Edytuj" href="<?php echo $realizacja->ListingDetails->ViewItemURL; ?>"><b><?php echo $realizacja->Title; ?></b></a></td>
									    <td align="center"><?php echo floor((strtotime($realizacja->ListingDetails->EndTime) - time()) / 3600 / 24); ?> dni <?php echo floor((strtotime($realizacja->ListingDetails->EndTime) - time()) / 3600 % 24); ?> godzin</td>
										<td align="center"><!--<a title="Usuń" onclick="return confirm('Czy napewno chcesz zlikwidować tą aukcję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/aukcje/id/<?php echo $this->dane['id']; ?>/delid/<?php echo $realizacja->ItemID;?>/rozmiar/<?php echo $id; ?>/typ/ebay">Usuń</a>--></td>	
									
									<?php endif; ?>
									
									</tr>
								
								<?php $j++; endforeach; endforeach; endforeach; ?>
							</table>
						
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak aukcji.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>