<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Dodaj produkt</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkt" />
			<h2 class="title2 p1">Produkty</h2>
		</div>
		<div class="box_link_navi">
			<a class="back" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Dodaj produkt:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane podstawowe</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
	            		<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="forma" action="" method="post" enctype="multipart/form-data">
						<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
						<div class="form_row">
							<label class="required">Nazwa:</label>
							<div class="input_bg">
								<input type="text" name="nazwa" value="<?php echo (isset($this->dane['nazwa']))? $this->dane['nazwa']: '';?>"/>
							</div>
						</div>
						<div class="form_row">
							<label>Kod produktu:</label>
							<div class="input_bg">
								<input type="text" name="oznaczenie" value="<?php echo (isset($this->dane['oznaczenie']))? $this->dane['oznaczenie']: '';?>" />
							</div>
						</div>
						<div class="form_row">
							<label>Producent:</label>
							<div class="input_bg">
								<?php if(isset($this->producenci)): ?>
								<select name="producent">
		                            <option value="0">wybierz</option>	   
									<?php for($i=0;$i<count($this->producenci);$i++){?>
		                            <option value="<?php echo $this->producenci[$i]['id']; ?>"  <?php if(isset($this->dane['producent']) && $this->producenci[$i]['id']==$this->dane['producent']) echo ' selected="selected"'; ?>><?php echo $this->producenci[$i]['nazwa']; ?></option>
		                            <?php } ?>
		                        </select>
								<?php else: ?>
									<div class="error_empty">Brak atrybutów do wyświetlenia</div>
								<?php endif; ?>
							</div>
						</div>
						<div class="form_row">
							<label>Aktywność:</label>
							<div class="input_bg check">
								<input type="checkbox" name="widoczny" <?php if(isset($this->dane['widoczny']) && $this->dane['widoczny']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<input type="hidden" name="vat" value="23" />
						<!--
						<div class="form_row">
							<label>Podatek VAT:</label>
							<div class="input_bg_small">
								<select onchange="Oblicz();" id="vat" name="vat">
									<?php foreach($this->vaty as $vat) { ?>
		                            <option value="<?php echo $vat['nazwa']; ?>"  <?php if(isset($this->dane['vat']) && $this->dane['vat']==$vat['nazwa']) echo ' selected="selected"'; ?>><?php echo $vat['nazwa']; ?></option>
									<?php } ?>
		                        </select>
							</div>
						</div>
						-->
						<div class="form_title"><h2 class="title4">Cena</h2></div>
						<!--
						<div class="form_row">
							<label>Cena netto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="Oblicz();" name="cena_netto" id="cena_netto" value="<?php echo (isset($this->dane['cena_netto']))? $this->dane['cena_netto']: '';?>" />
							</div>
						</div>
						-->
						<div class="form_row">
							<label>Cena brutto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="nettohurtowa(this.value,'cena_netto');" name="cena_brutto" value="<?php echo (isset($this->dane['cena_brutto']))? $this->dane['cena_brutto']: '';?>" />
							</div>
						</div>
						<!--
						<div class="form_row">
							<label>Cena netto promocja:</label>
							<div class="input_bg">
								<input type="text"  onkeyup="Oblicz();" name="cena_promocji_n" id="cena_promocji_n" value="<?php echo (isset($this->dane['cena_promocji_n']))? $this->dane['cena_promocji_n']: '';?>" />
							</div>
						</div>
						<div class="form_row">
							<label>Cena brutto promocja:</label>
							<div class="input_bg">
								<input type="text" onkeyup="nettohurtowa(this.value,'cena_promocji_n');" name="cena_promocji_b" value="<?php echo (isset($this->dane['cena_promocji_b']))? $this->dane['cena_promocji_b']: '';?>" />
							</div>
						</div>
						<div class="form_title"><h2 class="title4">Ceny hurtowe</h2></div>
						<div class="form_row">
							<label>Cena netto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="Oblicz();" name="cena_netto_hurt" id="cena_netto_hurt" value="<?php echo (isset($this->dane['cena_netto_hurt']))? $this->dane['cena_netto_hurt']: '';?>" />
							</div>
						</div>
						<div class="form_row">
							<label>Cena brutto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="nettohurtowa(this.value,'cena_netto_hurt');" name="cena_brutto_hurt" value="<?php echo (isset($this->dane['cena_brutto_hurt']))? $this->dane['cena_brutto_hurt']: '';?>" />
							</div>
						</div>
						<div class="form_row">
							<label>Cena netto promocja:</label>
							<div class="input_bg">
								<input type="text"  onkeyup="Oblicz();" name="cena_promocji_n_hurt" id="cena_promocji_n_hurt" value="<?php echo (isset($this->dane['cena_promocji_n_hurt']))? $this->dane['cena_promocji_n_hurt']: '';?>" />
							</div>
						</div>
						<div class="form_row">
							<label>Cena brutto promocja:</label>
							<div class="input_bg">
								<input type="text" onkeyup="nettohurtowa(this.value,'cena_promocji_n_hurt');" name="cena_promocji_b_hurt" value="<?php echo (isset($this->dane['cena_promocji_b_hurt']))? $this->dane['cena_promocji_b_hurt']: '';?>" />
							</div>
						</div>
						-->
						<div class="form_title"><h2 class="title4">Magazyn</h2></div>
						<div class="form_row">
							<label>Dostępny:</label>
							<div class="input_bg">
								<input type="checkbox" name="dostepny" <?php if(isset($this->dane['dostepny']) && $this->dane['dostepny']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="dodaj" value="Zapisz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
