<?php if(!$this->wyswietlAll): ?>
<form name="dodaj" action="#zakladka<?php echo ucfirst($this->typ);?>" method="post"> 
<?php endif; ?>

	<input type="hidden" name="id" value="<?php echo $this->dane['id']; ?>" />
	<div class="form_title" id="zakladka<?php echo ucfirst($this->typ);?>">
		<h2 class="title4">Wybierz <?php echo($this->typ);?> dla produktu:</h2>
	</div>
	
	<div class="form_row">
		<label><?php echo ucfirst($this->typ);?>:</label>
		<div class="input_bg w1">
			<select id="pierwszy<?php echo ($this->typ);?>" name="pierwszy<?php echo ($this->typ);?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2);">
			<option value="-1">Wybierz</option>
			<?php for($i = 0; count($this->glowne) > $i; $i++) { ?>
			<option value="<?php echo $this->glowne[$i]->id; ?>"><?php echo $this->glowne[$i]->nazwa; ?></option>
			<?php } ?>
			</select>
		</div>
		<div class="info_labels">
			<!--Aby przypisać produkt do odpowiednich kategorii należy kliknąć na poszczególne pola.-->
		</div>
	</div>
	<div id="row_1" class="form_row">
		<label>&nbsp;</label>
		<div class="input_bg w1">
			<select id="drugi<?php echo ($this->typ);?>" name="drugi<?php echo ($this->typ);?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2);"></select>	
		</div>	
	</div>	
	<div id="row_2" class="form_row">
		<label>&nbsp;</label>
		<div class="input_bg w1">
			<select id="trzeci<?php echo ($this->typ);?>" name="trzeci<?php echo ($this->typ);?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2);" ></select>	
		</div>	
	</div>
	<div id="row_3" class="form_row">
		<label>&nbsp;</label>
		<div class="input_bg w1">
			<select id="czwarty<?php echo ($this->typ);?>" name="czwarty<?php echo ($this->typ);?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2);" ></select>	
		</div>	
	</div>
	<div id="row_4" class="form_row">
		<label>&nbsp;</label>
		<div class="input_bg w1">
			<select id="piaty<?php echo ($this->typ);?>" name="piaty<?php echo ($this->typ);?>" ></select>	
		</div>	
	</div>
	<?php if(!$this->wyswietlAll): ?>
	<?php if($this->edycjazablokowana === false): ?>
	<div class="button_form m2">
		<div class="button1">
			<input type="submit" value="Zapisz" name="dodajdokategorii" />
		</div>
	</div>
	<?php endif; ?>
	<?php endif; ?>
	
<?php if(!$this->wyswietlAll): ?>
</form>
<?php endif; ?>

<div class="box_foto_product">
	<?php if(count($this->kategorie) > 0): ?>
		<div class="koment komentNagl">
			<h2 class="title4"><?php echo ucfirst($this->typ);?> przypisane obecnie do tego produktu: </h2>
		</div>
		<span style="float:right;">
			Każdy produkt może być przypisany do wielu pozycji jednocześnie
		</span>
		<table class="foto_box">
			<colgroup>
				<col width="90%"/>
				<col width="10%"/>
			</colgroup>
			<tr>
				<th>Nazwa</th>
				<th>Usuń</th>
			</tr>
			
			<?php $j=1; for($i=0; $i<count($this->kategorie); $i++): ?>
				
				<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
			
				<tr class="<?php echo $style; ?>">
					<td class="first">
						<b>
						<?php 
							if(strlen($this->kategorie[$i]['nazwa']) > 0):
								if(isset($this->kategorie[$i]['rodzicNazwa']))
								echo $this->kategorie[$i]['rodzicNazwa'].' &gt; ';
								echo $this->kategorie[$i]['nazwa'];
							//else: echo "Kategorii nie ma już na liście dodanych.";
							endif; 
						 ?>
						</b> 
					</td>
					<td align="center">	
					<?php if(strlen($this->kategorie[$i]['nazwa']) > 0): ?>
						<?php if($this->edycjazablokowana === false): ?>
						<a onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" title="Usuń" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/kat/katDel/<?php echo $this->kategorie[$i]['id_kat_prod'];?>#zakladka<?php echo ucfirst($this->typ);?>">Usuń</a>
						<?php endif; ?> 
					<?php endif; ?>
					</td>
				</tr>
			
			<?php $j++; endfor; ?>	
		
		</table>
		
		<div class="koment dn">
			Usuwając <?php echo $this->typ;?> powodujesz też usunięcie wszystkich pozycji podporządkowanych
		</div>
	
	<?php else: ?>
	
		<div class="info_empty">
		<!--Brak zdefiniowanych kategorii dla wybranego produktu.-->
		</div>
		
	<?php endif; ?>	
	
</div>