<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Edytuj produkt</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkt" />
			<h2 class="title2 p1">Produkty</h2>
		</div>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/">Wróc do listy</a>
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/dodaj/">Dodaj produkt</a>
			<a class="see_shop m_linki" href="<?php echo $this->baseUrl.'/'.$this->dane['link']; ?>" target="_blank" >Zobacz ten produkt na stronie</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Edytuj produkt: <span><?php echo $this->dane['nazwa']; ?></span></h3>	
		</div>
		<div class="content">
			<div class="left_side" style="width:100%; display:none;">
				<ul class="menu_left">
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/#zakladkaDane">Dane podstawowe</a></li>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/opis/#zakladkaOpis">Opis</a></li>
					<?php if($this->obConfig->oznacz): ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/ust/#zakladkaPromuj">Promuj produkt</a></li>
					<?php endif; ?>
					<?php if($this->obConfig->kategorie): ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/kat/#zakladkaKategorie">Kategoria</a></li>
					<?php endif; ?>
					<?php if($this->obConfig->kategorieInne): ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/kat/#zakladka<?php echo ucfirst($this->obConfig->kategorieInneNazwa); ?>"><?php echo ucfirst($this->obConfig->kategorieInneNazwa); ?></a></li>
					<?php endif; ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/gal/#zakladkaGaleria">Galeria</a></li>
					<?php if($this->obConfig->kolory): ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/atrybkol/#zakladkaKolor">Kolory</a></li>
					<?php endif; ?>
					<?php if($this->tryb == 'rozmiary'): ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/atrybroz/#zakladkaRozmiar">Rozmiar i stan magazynowy</a></li>
					<?php endif; ?>
					<?php if($this->ustawienia['link']): ?>
					<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane['id']; ?>/param/poz/">Przyjazne linki</a></li>
					<?php endif; ?>
				</ul>
			</div>
			<div class="right_side right_side_wide" style="width:100%;">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
	            		<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<form id="zmienAllForm" name="forma" action="" method="post" enctype="multipart/form-data">
				
				<div class="box_form" id="zakladkaDane">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					
					<?php if($this->wyswietlAll || $this->zak_produkt == '0'): ?>
					<!----ZAKLADKA DANE PODSTAWOWE---->
					
					<?php if(!$this->wyswietlAll): ?>
					<form name="forma" action="#zakladkaDane" method="post" enctype="multipart/form-data">
					<?php endif; ?>
					
						<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
						<input type="hidden" name="idlink" value="<?php echo $this->dane['route_id'];?>" />
						<div class="form_row">
							<label class="required">Nazwa:</label>
							<div class="input_bg w3">
								<?php if($this->ustawienia['auto_nazwa']): ?>
								<div style="width:700px !important;">
									Automatyczna dla nowych produktów, wpisz kod produktu i wybierz kategorię przed kliknięciem Zapisz
								</div>
								<?php endif; ?>
								<input type="text" id="nazwa" name="nazwa" value="<?php echo @$this->dane['nazwa']; ?>" style="width:540px;" />
							</div>
						</div>
						<?php if($this->obConfig->allegroNazwa): ?>
						<div class="form_row">
							<label class="">Nazwa Allegro:</label>
							<div class="input_bg w3">
								<input type="text" id="nazwa_allegro" name="nazwa_allegro" value="<?php echo @!empty($this->dane['nazwa_allegro']) ? $this->dane['nazwa_allegro'] : @$this->dane['nazwa']; ?>" onkeyup="$('#nazwaZnaki b').text(50-this.value.length);" style="width:540px;" />
								<?php if($this->obConfig->allegro): ?>
								<span id="nazwaZnaki">Pozostało znaków: 
									<b><?php echo isset($this->dane['nazwa_allegro']) ? (50 - @mb_strlen(!empty($this->dane['nazwa_allegro']) ? $this->dane['nazwa_allegro'] : $this->dane['nazwa'], "UTF-8")) : 50; ?></b>
								</span>
								<?php endif; ?>
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->symbol): ?>
						<div class="form_row">
							<label>Model:</label>
							<div class="input_bg">
								<input type="text" name="oznaczenie" value="<?php echo (isset($this->dane['oznaczenie']))? $this->dane['oznaczenie']: '';?>" />
							</div>
						</div>
						<?php endif; ?>
						
						<?php if($this->obConfig->produktyGrupy): ?>
						<div class="form_row">
							<label>Grupa:</label>
							<div class="input_bg">
								<select name="grupa">
		                        <option value="0">Wybierz</option>
								<?php for($i=0;$i<count($this->grupy);$i++) { ?>
		                        <option value="<?php echo $this->grupy[$i]['id']; ?>" <?php if($this->grupy[$i]['id'] ==$this->dane['grupa']) echo ' selected="selected"'; ?>>
								<?php echo $this->grupy[$i]['nazwa']; ?></option>
		                        <?php } ?>
		                        </select>
							</div>
						</div>
						<?php endif; ?>
						
						<?php if($this->obConfig->producent): ?>
						<div class="form_row">
							<label>Marka:</label>
							<div class="input_bg">
								<?php if(isset($this->producenci)): ?>
								<select name="producent" onchange="dopiszProducenta(this);">
		                            <option value="0">Wybierz</option>
									<?php for($i=0;$i<count($this->producenci);$i++){?>
		                            <option value="<?php echo $this->producenci[$i]['id']; ?>"  <?php if($this->producenci[$i]['id']==$this->dane['producent']) echo ' selected="selected"'; ?>><?php echo $this->producenci[$i]['nazwa']; ?></option>
		                            <?php } ?>
									<option value="-1" class="dodajAtrybut">Dodaj producenta</option>
		                        </select>
								<?php else: ?>
									<div class="error_empty">Brak</div>
								<?php endif; ?>
							</div>
							<a class="add silver m_linki dodajAtrybutLink" onclick="$('#box_producent').toggle();" href="javascript:void(0)">Dodaj producenta</a>
							<script type="text/javascript">
							function dopiszProducenta(ten)
							{
								var prodID = $(ten).val();
								$('#box_producent').toggle(prodID == -1);
								if(false && parseInt(prodID) > 0)
								{
									var nazwa = $('#nazwa').val();
									var nazwaProd = $(ten).find('option[value=' + prodID + ']').text();
									var nowaNazwa = nazwa;
									if(nazwa.indexOf(' ') == -1) nowaNazwa = nazwa + " " + nazwaProd;
									else nowaNazwa = nazwa.replace(' ', ' ' + nazwaProd + ' ');
									$('#nazwa').val(nowaNazwa);
								}
							}
							</script>
						</div>
						<div id="box_producent" class="dn">
							<form action="#zakladkaDane" method="post" enctype="multipart/form-data">
							<div class="form_row">
								<label>Nowy producent:</label>
								<div class="input_bg">
									<input type="text" name="nazwaProducent" value="" />
								</div>
								<?php if($this->edycjazablokowana === false): ?>
                                <div class="button1" style="margin-left:20px;">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
								<?php endif; ?>
							</div>
						</div>
						<?php endif; ?>
						
						<?php if(false): ?>
						<div class="form_row">
							<label>Detal:</label>
							<div class="input_bg check">
								<input type="checkbox" name="detal" <?php if(isset($this->dane['detal']) && $this->dane['detal']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<div class="form_row">
							<label>Hurt:</label>
							<div class="input_bg check">
								<input type="checkbox" name="hurt" <?php if(isset($this->dane['hurt']) && $this->dane['hurt']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<?php endif; ?>
						
						<?php if($this->obConfig->vat): ?>
						<div class="form_row">
							<label>Podatek VAT:</label>
							<div class="input_bg_small">
								<select onchange="Oblicz(this);" id="vat" name="vat">
									<?php foreach($this->vaty as $vat) { ?>
		                            <option value="<?php echo $vat['nazwa']; ?>"  <?php if(isset($this->dane['vat']) && $this->dane['vat']==$vat['nazwa']) echo ' selected="selected"'; ?>><?php echo $vat['nazwa']; ?></option>
									<?php } ?>
		                        </select>
							</div>
						</div>
						<?php endif; ?>
						
						<?php if($this->edycjazablokowana === false): ?>
						<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zmienAll" value="Zapisz" />	
							</div>
						</div>
						<?php endif; ?>
						
						<?php if($this->obConfig->ceny && $this->trybCena == 'produkt'): ?>
						<div class="form_title"><h2 class="title4">Ceny</h2></div>
						
						<?php if(isset($this->ceny['cena_netto'])): ?>						
						<div class="form_row">
						<label <?php if(!$this->obConfig->tylkoHurt):?>class="required"<?php endif;?>>Cena netto:</label>
							<div class="input_bg">
							<input type="text" onkeyup="Oblicz(this);" onchange="Oblicz(this);" name="cena_netto" id="cena_netto" value="<?php echo (isset($this->dane['cena_netto']))? $this->dane['cena_netto']: '';?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php if(isset($this->ceny['cena_brutto'])): ?>
						<div class="form_row">
						<label <?php if(!$this->obConfig->tylkoHurt):?>class="required"<?php endif;?>>Cena brutto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="nettohurtowa(this.value,'cena_netto');" onchange="nettohurtowa(this.value,'cena_netto');" name="cena_brutto" value="<?php echo (isset($this->dane['cena_brutto']))? $this->dane['cena_brutto']: '';?>" />
							</div>
						</div>
						<?php endif; ?>						
						<?php if(isset($this->ceny['cena_netto_hurt'])): ?>
						<div class="form_title"><h2 class="title4">Ceny hurtowe</h2></div>
						<div class="form_row">
						<label <?php if($this->obConfig->tylkoHurt):?>class="required"<?php endif;?>>Cena netto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="Oblicz(this);" onchange="Oblicz(this);" name="cena_netto_hurt" id="cena_netto_hurt" value="<?php echo (isset($this->dane['cena_netto_hurt']))? $this->dane['cena_netto_hurt']: '';?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php if(isset($this->ceny['cena_brutto_hurt'])): ?>
						<div class="form_row">
						<label <?php if($this->obConfig->tylkoHurt):?>class="required"<?php endif;?>>Cena brutto:</label>
							<div class="input_bg">
								<input type="text" onkeyup="nettohurtowa(this.value,'cena_netto_hurt');" onchange="nettohurtowa(this.value,'cena_netto_hurt');" name="cena_brutto_hurt" value="<?php echo (isset($this->dane['cena_brutto_hurt']))? $this->dane['cena_brutto_hurt']: '';?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php endif; ?>	
						
						<?php if(true): ?>
						<div class="form_title"><h2 class="title4">Upust brutto dla kompletu</h2></div>
						<div class="form_row">
						<label>Dla detalistów:</label>
							<div class="input_bg">
								<input type="text" name="upust_detal" value="<?php echo @$this->dane['upust_detal'];?>" />
							</div>
						</div>
						<div class="form_row">
						<label>Dla hurtowników:</label>
							<div class="input_bg">
								<input type="text" name="upust_hurt" value="<?php echo @$this->dane['upust_hurt'];?>" />
							</div>
						</div>
						<?php endif; ?>
						
										
						
						<div class="form_title"><h2 class="title4">Magazyn</h2></div>
						<div class="form_row">
							<label>Widoczność:</label>
							<div class="input_bg check">
								<input type="checkbox" name="widoczny" <?php if(isset($this->dane['widoczny']) && $this->dane['widoczny']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<?php if($this->obConfig->dostepny && $this->tryb == 'produkt'): ?>
						<div class="form_row">
							<label>Dostępny:</label>
							<div class="input_bg">
								<input type="checkbox" name="dostepny" <?php if(isset($this->dane['dostepny']) && $this->dane['dostepny']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->dostepnosci): ?>
						<div class="form_row">
							<label>Dostępność:</label>
							<div class="input_bg">
								<select name="dostepne">
								<option value="0">wybierz</option>
								<?php if(@count($this->dostepnosci) > 0): ?>
								<?php foreach($this->dostepnosci as $dostepnosc): ?>
								<option <?php echo($this->dane['dostepne']==$dostepnosc->id)?'selected="selected"':'';?> value="<?php echo $dostepnosc->id;?>"><?php echo $dostepnosc->nazwa; ?></option>
								<?php endforeach; ?>
								<?php endif; ?>
								</select>
							</div>
						</div>						
						<?php endif; ?>
						<?php if($this->obConfig->dostepnyNaZamow && $this->tryb == 'produkt'): ?>
						<div class="form_row">
							<label>Na zamówienie:</label>
							<div class="input_bg">
								<input type="checkbox" name="na_zamow" <?php if(isset($this->dane['na_zamow']) && $this->dane['na_zamow']=='1') echo 'checked="checked"';?> />
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->wagi): ?>
						<div class="form_row">
							<label>Waga produktu:</label>
							<div class="input_bg">
								<input type="text" name="waga" value="<?php echo (isset($this->dane['waga']))? $this->dane['waga']: '';?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->gabaryt): ?>
						<div class="form_row">
							<label>Produkt gabarytowy:</label>
							<div class="input_bg">
								<input type="checkbox" name="gabaryt" <?php if(isset($this->dane['gabaryt']) && $this->dane['gabaryt']=='on') echo 'checked="checked"';?> />
							</div>
						</div>
						<?php endif; ?>	
						<?php if($this->ustawienia['stany_mag'] && $this->tryb == 'produkt'): ?>
						<div class="form_row">
							<label>Dostępność:</label>
							<div class="input_bg">
								<input type="text" name="dostepnosc" value="<?php if(isset($this->dane['dostepnosc'])) echo $this->dane['dostepnosc'];?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->jednostki && $this->tryb == 'produkt'): ?>
						<div class="form_row">
							<label>Jednostka miary:</label>
							<div class="input_bg">
								<select name="jedn_miary" onchange="var typ = $(this).find('option:selected').attr('data-value-typ'); $('#jedn_miary_typ_' + typ).attr('checked', 'checked');">
								<?php foreach($this->jedn as $jedn): ?>
								<option value="<?php echo $jedn['nazwa'];?>" data-value-typ="<?php echo @$jedn['typ'];?>" <?php if(@$this->dane['jedn_miary'] == $jedn['nazwa']) echo ' selected="selected"'; ?>><?php echo $jedn['nazwa']; ?></option>
								<?php endforeach; ?>
		                        </select>
							</div>
						</div>
						<div class="form_row">
							<label>Jednostka miary - typ:</label>
							<div class="input_bg_radio">
								<input type="radio" id="jedn_miary_typ_int" name="jedn_miary_typ" value="int" <?php if($this->dane['jedn_miary_typ']=="int") echo 'checked="checked"';?> style="float:left;" />
								<label for="jedn_miary_typ_int" style="width:200px;">W jednostkach naturalnych</label>
								<br/>
								<input type="radio" id="jedn_miary_typ_float" name="jedn_miary_typ" value="float" <?php if($this->dane['jedn_miary_typ']=="float") echo 'checked="checked"';?> style="float:left;" />
								<label for="jedn_miary_typ_float" style="width:200px;">W jednostkach rzeczywistych</label>
							</div>
						</div>
						<?php if($this->obConfig->opakowania): ?>
						<div class="form_row">
							<label>Wielkość opakowania:</label>
							<div class="input_bg w1">
								<input type="text" name="jedn_miary_ile" value="<?php echo@ $this->dane['jedn_miary_ile'];?>" style="width:60px!important;"/>
								<select name="jedn_miary_opak" style="width:90px!important;">
									<?php foreach($this->jedn as $jedn) { ?>
		                            <option value="<?php echo $jedn['nazwa'];?>" data-value-typ="<?php echo @$jedn['typ'];?>" <?php if(@$this->dane['jedn_miary_opak'] == $jedn['nazwa']) echo ' selected="selected"'; ?>><?php echo $jedn['nazwa']; ?></option>
									<?php } ?>
		                        </select>
								<br/>(opcja aktywna gdy wpisano więcej niż 0)
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->opakowaniaZbiorcze): ?>
						<div class="form_row">
							<label>Opakowanie zbiorcze:</label>
							<div class="input_bg w1">
								1 
								<select name="jedn_miary_zb" style="width:90px!important;">
									<?php foreach($this->jedn as $jedn) { ?>
		                            <option value="<?php echo $jedn['nazwa'];?>" data-value-typ="<?php echo @$jedn['typ'];?>" <?php if(@$this->dane['jedn_miary_zb'] == $jedn['nazwa']) echo ' selected="selected"'; ?>><?php echo $jedn['nazwa']; ?></option>
									<?php } ?>
		                        </select>
								to <input type="text" name="jedn_miary_zb_ile" value="<?php echo @$this->dane['jedn_miary_zb_ile'];?>" style="width:60px!important;"/>
								<span id="opak"><?php echo @$this->dane['jedn_miary'];?></span>
								<br/>(opcja aktywna gdy wpisano więcej niż 1)
							</div>
						</div>
						<div class="form_row">
							<label>Opak. zbiorcze - typ:</label>
							<div class="input_bg_radio">
							<input type="radio" id="jedn_miary_zb_typ_int" name="jedn_miary_zb_typ" value="int" <?php if($this->dane['jedn_miary_zb_typ']=="int") echo 'checked="checked"';?> style="float:left;" />
							<label for="jedn_miary_zb_typ_int" style="width:200px;">W jednostkach naturalnych</label>
							<br/>
							<input type="radio" id="jedn_miary_zb_typ_float" name="jedn_miary_zb_typ" value="float" <?php if($this->dane['jedn_miary_zb_typ']=="float") echo 'checked="checked"';?> style="float:left;">
							<label for="jedn_miary_zb_typ_float" style="width:200px;">W jednostkach rzeczywistych</label>
							</div>
						</div>
						<div class="form_row">
							<label>Zamówienia składane:</label>
							<div class="input_bg_radio">
								<input type="radio" id="jedn_miary_zb_czy_0" name="jedn_miary_zb_czy" value="0" <?php if(@!$this->dane['jedn_miary_zb_czy']) echo 'checked="checked"';?> style="float:left;" />
								<label for="jedn_miary_zb_czy_0" style="width:200px;">na sztuki</label>
								<br/>
								<input type="radio" id="jedn_miary_zb_czy_1" name="jedn_miary_zb_czy" value="1" <?php if(@$this->dane['jedn_miary_zb_czy']) echo 'checked="checked"';?> style="float:left;" />
								<label for="jedn_miary_zb_czy_1" style="width:200px;">na opakowania zbiorcze</label>
							</div>
						</div>
						<?php endif; ?>
						<?php endif; ?>
						
						<?php if(!$this->wyswietlAll): ?>
						<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="edytuj" value="Zapisz" />	
							</div>
						</div>
						<?php endif; ?>
						<?php endif; ?>
					
				
					<?php if($this->wyswietlAll || $this->zak_produkt == '1'): ?>
					<!-- ZAKLADKA GALERIA-->
					
					<div class="box_foto_product" id="zakladkaGaleria">
						<div class="form_title"><h2 class="title4">Galeria:</h2></div>
					
					<!--Dodawanie-->
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display1').toggle();" href="javascript:void(0)">Dodaj zdjęcie</a>
					</div>
					<div id="box_display1" class="dn">
					
						<?php if(!$this->wyswietlAll): ?>
						<form action="#zakladkaGaleria" method="post" enctype="multipart/form-data"> 
						<?php endif; ?>
						
							<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
							<div class="form_title"><h2 class="title4">Dodaj zdjęcie</h2></div>
							<div class="form_row">
								<label class="tiny">Plik:</label>
								<div class="input_bg w1">
								<div style="">Po wybraniu zdjęcia można wpisać opis zdjęcia</div>
								<?php if(false && strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE): ?>
								<input type="file" name="img[]" class="multi" accept="jpg" />
								<?php else: ?>
								<input type="file" name="img[]" id="filesToUpload" multiple="" onchange="pliki(true);">	
								<div id="plikiDiv"></div>
								<?php endif; ?>
								<!--<input type="file" id="imgFile" name="imgFile" />-->									
								</div>
							</div> 
							<?php if(false && strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE): ?>
							<div class="form_row">
								<label>Opis zdjęcia:</label>
								<div class="input_bg w1 opisZdj" style="width:700px!important;">
									<input type="text" name="images[]" />
									<?php if($this->obConfig->ofertaGaleria): ?>
									&nbsp;&nbsp;Typ:&nbsp;
									<select name="typy[]" style="width:100px!important;">
										<option value="oferta">oferta</option>
										<option value="galeria">galeria</option>
									</select>
									<?php endif; ?>
									<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
									&nbsp;&nbsp;Rozmiar:&nbsp;
									<select name="imgRozm[]" style="width:100px!important;">
									<option value="0"> --- żaden --- </option>									
									<?php if(@count($this->rozmiaryExist) > 0): ?>
									<?php foreach($this->rozmiaryExist as $rozmID => $rozmiar): ?>
									<option value="<?php echo $rozmID; ?>"><?php echo $rozmiar['nazwa']; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
									<?php endif; ?>
									<!--<a href="#" onclick="$('#imgFile').uploadifyUpload();">upload</a>-->
								</div>
							</div>                
							<?php endif; ?>
	                 		<?php if(!$this->wyswietlAll): ?>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="images[zapisz]" value="Zapisz" />	
								</div>
							</div>	
							<?php endif; ?>
							<?php endif; ?>
							
						<?php if(!$this->wyswietlAll): ?>
						
						<?php endif; ?>
					</div>
					</div>
					
					<!--Edycja-->
					<?php endif; ?>	
					<?php if(isset($this->edycjaZdjecia) && $this->edycjaZdjecia == 1): ?>
					
						<div class="box_edit" id="zdjecia">
							<form action="#zakladkaGaleria" method="post" enctype="multipart/form-data">
								<input type="hidden" name="images[idzdjecia]" value="<?php echo $this->nazwa_zdjecia['id'];?>"/>
								<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
								<div class="form_title"><h2 class="title4">Edytuj opis zdjęcia</h2></div>             
								<div class="form_row">
									<label>Opis zdjęcia:</label>
									<div class="input_bg w1" style="width:700px!important;">
										<input type="text" value="<?php echo $this->nazwa_zdjecia['nazwa']; ?>" name="images[nazwa]" />
										<?php if($this->obConfig->ofertaGaleria): ?>
										&nbsp;&nbsp;Typ:&nbsp;
										<select name="images[typ]" style="width:100px!important;" <?php if($this->nazwa_zdjecia['glowne'] == "T") echo 'disabled="disabled"'; ?>>
										<option value="oferta" <?php if($this->nazwa_zdjecia['typ'] == "oferta") echo 'selected="selected"'; ?>>oferta</option>
										<option value="galeria" <?php if($this->nazwa_zdjecia['typ'] == "galeria") echo 'selected="selected"'; ?>>galeria</option>
										</select>
										<?php endif; ?>
										<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
										&nbsp;&nbsp;Rozmiar:&nbsp;
										<select name="images[id_rozm]" style="width:100px!important;">
										<option value="0"> --- żaden --- </option>										
										<?php if(@count($this->rozmiaryExist) > 0): ?>
										<?php foreach($this->rozmiaryExist as $rozmID => $rozmiar): ?>
										<option value="<?php echo $rozmID; ?>" <?php if($this->nazwa_zdjecia['id_rozm'] == $rozmID) echo 'selected="selected"'; ?>><?php echo $rozmiar['nazwa']; ?></option>
										<?php endforeach; ?>
										<?php endif; ?>										
										</select>
										<?php endif; ?>
									</div>
								</div>
		                 		 <?php if($this->edycjazablokowana === false): ?>
                                 <div class="button_form m2">
									<div class="button1">
										<input type="submit" name="images[zmienNazweZdjecia]" value="Zapisz" />	
									</div>
								</div>									
								<?php endif; ?>
							
						</div>
						
					<?php endif; ?>
					
					<!--Lista zdjec-->
					<?php if(isset($this->galeria) && count($this->galeria) > 0): ?>
					
					<div class="box_foto_product">
						<div class="form_title"><h2 class="title4">Zdjęcia:</h2></div>
						<form action="#zakladkaGaleria" method="post" enctype="multipart/form-data">
					
						<div class="box_foto_product">
							<table class="foto_box" id="galeriaTable">
								<colgroup>
									<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width="15%"/>
									<?php if($this->obConfig->uploadWatermark): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width="auto"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="12%"/>
									<col width="5%"/>
									<col width="10%"/>
									<?php if($this->obConfig->otoMoto && @!empty($this->otoMotoID)): ?>
									<col width="5%"/>
									<?php endif; ?>
								</colgroup>
								<tr>
									<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
									<th>Rozmiar</th>
									<?php endif; ?>
									<th>Zdjęcie</th>
									<?php if($this->obConfig->uploadWatermark): ?>
									<th>Znak wodny</th>
									<?php endif; ?>
									<th>Opis zdjęcia</th>
									<th>Główne</th>
									<th></th>
									<th>Pozycja</th>
									<th>Edytuj</th>
									<th>Usuń</th>
									<?php if($this->obConfig->otoMoto && @!empty($this->otoMotoID)): ?>
									<th>otoMoto</th>
									<?php endif; ?>
								</tr>								
								
								<?php $i=1; $N=0; foreach($this->galeria as $zdjecie): ?>
								
								<?php if($this->obConfig->ofertaGaleria): ?>
									<?php if($i == 1 || $zdjecie['glowne'] == 'T'): ?>
									<tr>
										<th colspan="100%">Zdjęcia wyświetlane w ofercie</th>
									</tr>
									<?php endif; ?>
									<?php if($i == 1 && $zdjecie['typ'] == 'galeria'): ?>
									<tr>
										<td colspan="100%" align="center">Brak zdjęć w ofercie</td>
									</tr>
									<?php endif; ?>
									<?php if($N == 0 && $zdjecie['typ'] == 'galeria'): ?>
									<tr>
										<th colspan="100%">Galeria realizacji produktu</th>
									</tr>
									<?php $N++; endif; ?>
								<?php endif; ?>
									
								<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?> zdjecie<?php echo $zdjecie['glowne'];?>" id="rowPos_<?php echo $zdjecie['id'];?>">
								
									<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
									<td align="center"><?php echo $zdjecie['rozmiar']; ?></td>
									<?php endif; ?>
									<td class="first img">
									   <?php if($zdjecie['glowne'] == 'T'): ?>
										<div class="glowne_zdjecie_kontener">
										<?php endif; ?>
									   
											<img src="<?php echo $this->baseUrl;?>/public/admin/zdjecia/miniaturki/<?php echo $zdjecie['img']; ?>" alt="" />
										
										<span class="thumbnail">
											<img src="<?php echo $this->baseUrl;?>/public/admin/zdjecia/<?php echo $zdjecie['img']; ?>" alt="" />
										</span>
										
										<!--ZDJECIE GLOWNE-->
										<?php if($zdjecie['glowne'] == 'T'): ?>
											  <div class="glowne_zdjecie">
												   <img src="<?php echo $this->baseUrl.'/public/images/admin/ikony/gwiazdka.png'; ?>" alt="zdjecie glowne" title="ZDJĘCIE GŁÓWNE" />
											  </div>
										</div>
										<?php endif; ?>
									</td>
									<?php if($this->obConfig->uploadWatermark): ?>
									<td align="center">										
										<?php $q=1;foreach($this->common->znakiArrows as $kod => $poz): ?>
										<a class="znakWodny <?php if(empty($poz)) echo 'vv';?>" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?=$this->dane->id;?>/param/gal/idLogo/<?=$zdjecie['id']; ?>/poz/<?=$poz;?>#zakladkaGaleria">
										&#<?=$kod;?>;</a>
										<?php if($q % 3 == 0): ?><br/><?php endif; ?>
										<?php $q++;endforeach; ?>
									</td>
									<?php endif; ?>
									<td>
										<div class="box_gallery_desc">
											<?php echo $zdjecie['nazwa']; ?>
										</div>
									</td>
									<td align="center">
									<?php if($zdjecie['typ'] == 'oferta'): ?>
										<a title="Ustaw główne zdjęcie" class="ok_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/gal/idMain/<?php echo $zdjecie['id'];?>/idRozm/<?php echo $zdjecie['id_rozm']; ?>#zakladkaGaleria">Główne zdjęcie</a>
									<?php endif; ?>
									</td>
									<td align="center">
									<?php if($zdjecie['glowne'] == 'N'): ?>
										<span class="ico_drag"></span>
									<?php endif; ?>
									</td>
									<td align="center">
									<?php if($zdjecie['glowne'] == 'N'): ?>
										<input class="position_text" type="text" value="<?php echo $zdjecie['poz'];?>" />
										<a title="Poz" class="button2" href="javascript:void(0);" rel="" onclick="window.location='<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/gal/idPoz/<?php echo $zdjecie['id']; ?>/poz/' + $(this).parent().find('.position_text').val()+'/#zakladkaGaleria';">Pozycja</a>	
									<?php endif; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/gal/idEdit/<?php echo $zdjecie['id']; ?>#zakladkaGaleria">Edytuj opis</a>
									</td>
									<td align="center">	
										<input type="checkbox" name="usunImg[<?php echo $zdjecie['id'];?>]" value="<?php echo $zdjecie['id'];?>" class="checkbox" style="float:none;" />
										<?php if($this->edycjazablokowana === false): ?>
                                        <a title="Usuń" class="del_ico <?php echo $style; ?> afterCheckbox" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/gal/idDel/<?php echo $zdjecie['id']; ?>#zakladkaGaleria">Usuń</a>	
									    <?php endif; ?>
                                    </td>
									<?php if($this->obConfig->otoMoto && @!empty($this->otoMotoID)): ?>
									<td align="center">	
										<a title="Dodaj" class="add_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/gal/otoMotoID/<?php echo $this->otoMotoID; ?>/otoMotoAdd/<?php echo $zdjecie['id']; ?>#zakladkaGaleria">Dodaj</a>										
										<?php if(false): ?>
										<br/>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/gal/otoMotoID/<?php echo $this->otoMotoID; ?>/otoMotoDel/<?php echo $zdjecie['id']; ?>#zakladkaGaleria">Usuń</a>
										<?php endif; ?>
									</td>
									<?php endif; ?>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							
							<script type="text/javascript">
							$(document).ready(function()
							{
								$("#galeriaTable").sortable(
								{
									opacity: 0.6, 
									cursor: 'move', 
									items: "tr.zdjecieN",
									update: function(event, ui) 
									{
										var id = $(ui.item).attr('id');
										var order = $(this).sortable("serialize") + '&action=changePosition'
										$.post("<?php echo $this->baseUrl; ?>/ajax/index/galeriasort/", order, function(res)
										{
											location.reload();
										});
									}
								});
							});
							</script>
							
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2" style="float:right;">
								<div class="button1">
									<input type="submit" name="usunImgs" value="Usuń zaznaczone" />	
								</div>
							</div>
							<?php endif; ?>
							<br />
							<img class="lf" src="<?php echo $this->baseUrl.'/public/images/admin/ikony/gwiazdka.png'; ?>" alt="zdjecie glowne" title="ZDJĘCIE GŁÓWNE" />
							<span class="etykiety_ikonek"> oznacza zdjęcie główne galerii</span>
						</div>
						
					</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdjęć do wyświetlenia w galerii.</div>
						
					<?php endif; ?>	
					
					
					<?php if(false && $this->obConfig->podstronyGaleria): ?>
						<?php echo $this->render('const/galeria.phtml'); ?>
					<?php endif; ?>
					<?php if(true && $this->obConfig->podstronyVideo): ?>
						<?php echo $this->render('const/video.phtml'); ?>
					<?php endif; ?>
					
					<!---->
					<?php endif; ?>	
					
					
					<?php if($this->wyswietlAll || $this->zak_produkt == '2'): ?>
					<?php if($this->obConfig->kolory): ?>
					
					<!-- ZAKLADKA ATRYBUT KOLOR-->
					<div class="box_foto_product" id="zakladkaKolor">
						<div class="form_title"><h2 class="title4">Kolory:</h2></div>

						<div class="button_toggle">
							<a class="add silver m_linki" onclick="$('#box_kolor').toggle();" href="javascript:void(0);">Dodaj kolor</a>	
						</div>
						
						<div id="box_kolor" class="dn">
							<form action="#zakladkaDane" method="post">
							<div class="form_row">
								<label>Nowy kolor:</label>
								<div class="input_bg w5">
									<input type="text" name="nazwaKolor" value="" />
								</div>
								<?php if($this->obConfig->koloryIkona): ?>
								<label class="small">&nbsp;&nbsp;&nbsp;Obrazek:</label>
								<div class="input_bg">
									<input type="file" name="imgKolor" />
								</div>
								<?php endif; ?>
								<?php if($this->edycjazablokowana === false): ?>
                                <div class="button1" style="float:right; margin-right:0px;">
									<input type="submit" name="nowyKolor" value="Zapisz" />	
								</div>
								<?php endif; ?>
							</div>
						</div>

						<div>
							
							<?php if(count($this->kolory) > 0): ?>
							
							<?php if(!$this->wyswietlAll): ?>
							<form action="#zakladkaKolor" method="post" enctype="multipart/form-data">
							<?php endif; ?>
							
								<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
								<!--<div class="form_title"><h2 class="title4">Dodaj kolor dla wybranego produktu:</h2></div>-->
								<div class="form_row">
									<label class="">Kolor:</label>
									<div class="input_bg">
										<?php foreach ($this->kolory as $kolor ): ?>
										<input type="checkbox" name="kolor[<?php echo $kolor->id; ?>]" id="kolor<?php echo $kolor->id; ?>" value="<?php echo $kolor->id; ?>" <?php if(isset($this->koloryExist[$kolor->id])) echo ' checked="checked"';?>>
										<label for="kolor<?php echo $kolor->id; ?>">&nbsp;&nbsp;<?php echo $kolor['nazwa']; ?></label><br/>
										<?php endforeach; ?>
									</div>
								</div>                
		                 		<?php if(!$this->wyswietlAll): ?>
								<?php if($this->edycjazablokowana === false): ?>
                                <div class="button_form m2">
									<div class="button1">
										<input type="submit" name="dodaj_kolor" value="Zapisz" />	
									</div>
								</div>
								<?php endif; ?>
								<?php endif; ?>
							<?php if(!$this->wyswietlAll): ?>
							
							<?php endif; ?>
							
							<?php else: ?>
							
								<div class="info_empty">Brak kolorów. Zdefiniuj kolory w menu Asortyment.</div>
							
							<?php endif; ?>
							
						</div>
					</div>
						<!--
						<div class="box_foto_product">
							<?php if(count($this->kolory_produktu) > 0): ?>
								<div class="form_title"><h2 class="title4">Kolory przypisane do produktu:</h2></div>
								<table class="foto_box">
									<colgroup>
										<col width="90%"/>
										<col width="10%"/>
									</colgroup>
									<tr>
										<th>Nazwa</th>
										<th>Usuń</th>
									</tr>
									
									<?php $j=1; foreach ($this->kolory_produktu as $kolor_produktu): ?>
										
										<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
									
										<tr class="<?php echo $style; ?>">
											<td class="first">
												<b>
												<?php 
													if(strlen($kolor_produktu->nazwa) > 0): 
				                                 		echo $kolor_produktu->nazwa;
				                                 	else:
				                                 		echo "Koloru nie ma już na liście dodanych.";
				                           		 	endif; 
												 ?>
												</b> 
											</td>
											<td align="center">	
												<a title="Usuń"  onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/atrybkol/kolorDel/<?php echo $kolor_produktu->id;?>">Usuń</a>	
											</td>
										</tr>
									
									<?php $j++; endforeach; ?>	
								
								</table>
							
							<?php else: ?>
							
								<div class="info_empty">Brak zdefiniowanych kolorów dla wybranego produktu.</div>
								
							<?php endif; ?>	
							
						</div>
						-->
						
					<!---->
					<?php endif; ?>
					<?php endif; ?>	
					
					
					<?php if($this->obConfig->atrybuty): ?>
						<?php $this->atrAll = true; ?>
						<?php echo $this->render('oferta/atrybuty_all.phtml'); ?>
					<?php endif; ?>	
					
					
					<?php if($this->ustawienia['link'] && ($this->wyswietlAll || $this->zak_produkt == '3')): ?>
					<!--ZAKLADKA POZYCJONOWANIE LINKI-->					
					<div class="box_foto_product" id="zakladkaPozycjonowanie">
						<div class="form_title"><h2 class="title4">Przyjazny link:</h2></div>
					
						<?php if(!$this->wyswietlAll): ?>
						<form  action="#zakladkaPozycjonowanie" method="post" enctype="multipart/form-data"> 
						<?php endif; ?>
						
                   			<input type="hidden" name="idlink" value="<?php echo $this->dane['route_id'];?>" />
							<div class="form_row">
								<label class="">Przyjazny link:</label>
								<div class="input_bg w1">
									<input type="text" name="link" value="<?php echo $this->dane['link'];?>" />
								</div>
							</div>                                                    
							
							<?php if(!$this->wyswietlAll): ?>
							<?php if($this->edycjazablokowana === false): ?>
							<div class="button_form m2">	
                                <div class="button1">
									<input type="submit" name="zmienlink" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
							<?php endif; ?>
						<?php if(!$this->wyswietlAll): ?>
						
						<?php endif; ?>
					</div>					
					<?php else: ?>	
					<input type="hidden" name="idlink" value="<?php echo $this->dane['route_id'];?>" />
					<input type="hidden" name="link" value="<?php echo $this->dane['link'];?>" />
					<?php if(false && $this->edycjazablokowana === false): ?>
                    <input type="hidden" name="zmienlink" value="Zapisz" />
                    <?php endif; ?>
					<?php endif; ?>	
					
					<?php if($this->wyswietlAll || $this->zak_produkt == '4'): ?>
					
					<?php if($this->obConfig->oznacz): ?>
					<!--ZAKLADKA USTAWIENIA WYSWIETLANIA-->
					
						<?php if(!$this->wyswietlAll): ?>
						<form action="#zakladkaPromuj" method="post" enctype="multipart/form-data">
						<?php endif; ?>
                    
                   			<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
							<div class="form_title" id="zakladkaPromuj"><h2 class="title4">Oznacz jako:</h2></div>
							
							<?php if($this->obConfig->oznaczPromocja): ?>
							<div class="form_row">
								<label>Promocja:</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[promocja]" <?php echo (isset($this->dane['promocja']) && $this->dane['promocja'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>							
							
							<?php if($this->obConfig->ceny && $this->trybCena == 'produkt'): ?>
							
							<?php if(isset($this->ceny['cena_promocji_n'])): ?>
							<div class="form_row">
								<label>Cena netto promocja:</label>
								<div class="input_bg">
									<input type="text" onkeyup="Oblicz(this);" onchange="Oblicz(this);" name="cena_promocji_n" id="cena_promocji_n" value="<?php echo (isset($this->dane['cena_promocji_n']))? $this->dane['cena_promocji_n']: '';?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if(isset($this->ceny['cena_promocji_b'])): ?>
							<div class="form_row">
								<label>Cena brutto promocja:</label>
								<div class="input_bg">
									<input type="text" onkeyup="nettohurtowa(this.value,'cena_promocji_n');" onchange="nettohurtowa(this.value,'cena_promocji_n');" name="cena_promocji_b" value="<?php echo (isset($this->dane['cena_promocji_b']))? $this->dane['cena_promocji_b']: '';?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if(isset($this->ceny['cena_promocji_n_hurt'])): ?>
							<div class="form_row">
								<label>Cena hurtowa<br/>netto promocja:</label>
								<div class="input_bg">
									<input type="text"  onkeyup="Oblicz(this);" onchange="Oblicz(this);" name="cena_promocji_n_hurt" id="cena_promocji_n_hurt" value="<?php echo (isset($this->dane['cena_promocji_n_hurt']))? $this->dane['cena_promocji_n_hurt']: '';?>" />
								</div>
							</div>
							<?php endif; ?>
							<?php if(isset($this->ceny['cena_promocji_b_hurt'])): ?>
							<div class="form_row">
								<label>Cena hurtowa<br/>brutto promocja:</label>
								<div class="input_bg">
									<input type="text" onkeyup="nettohurtowa(this.value,'cena_promocji_n_hurt');" onchange="nettohurtowa(this.value,'cena_promocji_n_hurt');" name="cena_promocji_b_hurt" value="<?php echo (isset($this->dane['cena_promocji_b_hurt']))? $this->dane['cena_promocji_b_hurt']: '';?>" />
								</div>
							</div>
							<?php endif; ?>
							
							<?php endif; ?>
							
							<?php endif; ?>
						
							<?php if($this->obConfig->oznaczNowosc): ?>
							<div class="form_row">
								<label>Nowość:</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[nowosc]" <?php echo (isset($this->dane['nowosc']) && $this->dane['nowosc'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->oznaczPolecane): ?>
							<div class="form_row">
								<label>Polecane:</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[polecane]" <?php echo (isset($this->dane['polecane']) && $this->dane['polecane'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->oznaczProduktDnia): ?>
							<div class="form_row">
								<label>Produkt dnia:</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[produkt_dnia]" <?php echo (isset($this->dane['produkt_dnia']) && $this->dane['produkt_dnia'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->oznaczWyprzedaz): ?>
							<div class="form_row">
								<label>Wyprzedaż:</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[wyprzedaz]" <?php echo (isset($this->dane['wyprzedaz']) && $this->dane['wyprzedaz'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->oznaczSpecjalne): ?>
							<div class="form_row">
								<label>Specjalne:</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[specjalne]" <?php echo (isset($this->dane['specjalne']) && $this->dane['specjalne'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>
							<?php endif; ?>
							
							<?php if($this->obConfig->oznaczGlowna): ?>
							<div class="form_row">
								<label class="large">Główna strona (pokaż w boksie w kolumnie po prawej stronie witryny)</label>
								<div class="input_bg">
									<input type="checkbox" name="ustawienia[glowna]" <?php echo (isset($this->dane['glowna']) && $this->dane['glowna'] == 1)? 'checked="checked"': '';?> />
								</div>
							</div>
							<?php endif;?>
							
							<?php if($this->obConfig->rabatyProdukty): ?>
							<div class="form_row">
								<label>Rabat (%):</label>
								<div class="input_bg">
									<input type="text" name="rabat" id="rabat" value="<?php echo (isset($this->dane['rabat']))? $this->dane['rabat']: '';?>" />
								</div>
							</div>
							<?php endif; ?>
							
							<?php if(!$this->wyswietlAll): ?>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="ustawienia[zapisz]" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
							<?php endif; ?>
						<?php if(!$this->wyswietlAll): ?>
						
						<?php endif; ?>
					
					<?php endif; ?>
					<!---->					
					
					<?php endif; ?>	
					
					
					<!--ZAKLADKA KATEGORIE-->
					<?php if($this->wyswietlAll || $this->zak_produkt == '5'): ?>
					
						<?php $this->typ = 'kategorie'; ?>
						<?php $this->glowne = $this->glowneMain; ?>
						<?php $this->kategorie = $this->kategorieMain; ?>
						<?php echo $this->render('oferta/edytuj_kategorie.phtml'); ?>
			                
					<?php endif; ?>
					
					
					<?php if($this->obConfig->kategorieInne): ?>
					<!--ZAKLADKA KATEGORIE INNE-->
					<?php if($this->wyswietlAll || $this->zak_produkt == '8'): ?>
					
						<?php $this->typ = $this->obConfig->kategorieInneNazwa; ?>
						<?php $this->glowne = $this->glowneInne; ?>
						<?php $this->kategorie = $this->kategorieInne; ?>
						<?php echo $this->render('oferta/edytuj_kategorie.phtml'); ?>
			                
					<?php endif; ?>
					<?php endif; ?>
					
					
					<?php if($this->wyswietlAll || $this->zak_produkt == '6'): ?>
					<!--ZAKLADKA OPIS-->
					
					<div class="box_foto_product"  id="zakladkaOpis">
						<div class="form_title"><h2 class="title4">Opis produktu:</h2></div>
						
						<?php if(!$this->wyswietlAll): ?>
						<form action="#zakladkaOpis" method="post" enctype="multipart/form-data">    
						<?php endif; ?>
						
	               			<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" /> 
							<div class="form_row">
								<label class="big">Opis:
								<?php if($this->obConfig->trybOpis == 'rozmiary'): ?>
								&nbsp;dla rozmiaru:&nbsp;
								<select id="rozmiarySelect" style="width:100px;" onchange="$('.opisRozmiar').hide(); $('#opisRozmiar' + this.value).show();">
								<option value="0"> --- żaden --- </option>
								<?php if(@count($this->rozmiaryExist) > 0): ?>
								<?php foreach($this->rozmiaryExist as $rozmID => $rozmiar): ?>
								<option value="<?php echo $rozmID; ?>"><?php echo $rozmiar['nazwa']; ?></option>
								<?php endforeach; ?>
								<?php endif; ?>
								</select>
								<?php endif; ?>
								</label>
								<div class="textarea_bg w1 opisRozmiar" id="opisRozmiar0">
									<?php echo $this->edytor; ?>
								</div>
								<?php if($this->obConfig->trybOpis == 'rozmiary'): ?>
								<?php if(@count($this->rozmiaryExist) > 0): ?>
								<?php foreach($this->rozmiaryExist as $rozmID => $rozmiar): ?>
								<div class="textarea_bg w1 opisRozmiar dn" id="opisRozmiar<?php echo $rozmID; ?>">
									<?php echo $this->edytory[$rozmID]; ?>
								</div>
								<?php endforeach; ?>
								<?php endif; ?>
								<?php endif; ?>
							</div>
							<?php if($this->obConfig->allegroOpis): ?>
							<div class="form_row">
								<label class="big">Opis Allegro:</label>
								<div class="textarea_bg w1 opisAllegro" id="opisAllegro0">
									<?php echo $this->edytorAllegro; ?>
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->ustawienia['skrot']): ?>
							<div class="form_row">
								<label class="big" style="width:350px!important;">Opis skrócony / dodatkowy:
								<?php if($this->obConfig->trybOpis == 'rozmiary'): ?>
								&nbsp;dla rozmiaru:&nbsp;
								<select style="width:100px;" onchange="$('.skrotRozmiar').hide(); $('#skrotRozmiar' + this.value).show();">
								<option value="0"> --- żaden --- </option>
								<?php if(@count($this->rozmiaryExist) > 0): ?>
								<?php foreach($this->rozmiaryExist as $rozmID => $rozmiar): ?>
								<option value="<?php echo $rozmID; ?>"><?php echo $rozmiar['nazwa']; ?></option>
								<?php endforeach; ?>
								<?php endif; ?>
								</select>
								<?php endif; ?>
								</label>
								<div class="textarea_bg w1 skrotRozmiar" id="skrotRozmiar0">
									<?php echo $this->skrot; ?>
								</div>
								<?php if($this->obConfig->trybOpis == 'rozmiary'): ?>
								<?php if(@count($this->rozmiaryExist) > 0): ?>
								<?php foreach($this->rozmiaryExist as $rozmID => $rozmiar): ?>
								<div class="textarea_bg w1 skrotRozmiar dn" id="skrotRozmiar<?php echo $rozmID; ?>">
									<?php echo $this->skroty[$rozmID]; ?>
								</div>
								<?php endforeach; ?>
								<?php endif; ?>
								<?php endif; ?>
							</div>
							<?php endif; ?>
							<?php if(!$this->wyswietlAll): ?>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2">
								<div class="button1">
									<input type="submit" name="opis_zapisz" value="Zapisz" />
								</div>
							</div>
							<?php endif; ?>
							<?php endif; ?>
						<?php if(!$this->wyswietlAll): ?>
						
						<?php endif; ?>
					</div>
					
					<!---->	
					<?php endif; ?>
					
					<?php if(true && $this->obConfig->parametry): ?>
						<?php echo $this->render('const/params.phtml'); ?>
					<?php endif; ?>
					
					<?php if($this->obConfig->tryb == 'rozmiary' && 
					($this->wyswietlAll || $this->zak_produkt == '7')): ?>
					
						<!--ZAKLADKA ATRYBUT ROZMIAR-->
					
						<div class="box_foto_product"  id="zakladkaRozmiar">
						<div class="form_title"><h2 class="title4">Rozmiary:</h2></div>
						
						<div class="form_row">
							<label>Rozmiarówka</label>
							<div class="input_bg" style="width:500px;">
							<?php if(isset($this->rozmiarowki)): ?>
							Kliknij OK, aby zapisać wybór, a potem kliknij dodaj rozmiar aby dodawać rozmiary<br/>
							<form action="" method="post">
							<select name="rozmiarowka" style="position:relative; float:left; width:200px;">
								<option value="0">Produkt nie ma rozmiarów</option>
								<?php for($i=0;$i<count($this->rozmiarowki);$i++){?>
								<option value="<?php echo $this->rozmiarowki[$i]['id']; ?>"  <?php if($this->rozmiarowki[$i]['id']==$this->dane['rozmiarowka']) echo ' selected="selected"'; ?>><?php echo $this->rozmiarowki[$i]['nazwa']; ?></option>
								<?php } ?>
							</select>
							<?php if($this->obConfig->trybCenaWybor): ?>
							<select name="trybCena" style="position:relative; float:left; width:210px; margin-left:10px;">
								<option value="produkt" <?php if($this->dane['trybCena'] == "produkt") echo ' selected="selected"'; ?>>Ceny przypisane do produktu</option>
								<option value="rozmiary" <?php if($this->dane['trybCena'] == "rozmiary") echo ' selected="selected"'; ?>>Ceny przypisane do rozmiaru</option>
							</select>
							<?php else: ?>
							<input type="hidden" name="trybCena" value="<?php echo $this->obConfig->trybCena; ?>" />
							<?php endif; ?>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button1" style="margin-top:<?php echo (strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE) ? '0' : '0'; ?>px; margin-left:20px; position:relative; float:left; width:50px; height:25px;">
							<input type="submit" name="zmien_rozmiarowke" value="OK" style="width:50px; height:25px;" />							
							</div>
							<?php endif; ?>
							
							<?php else: ?>
								<div class="error_empty">Brak rozmiarówek do wyświetlenia</div>
							<?php endif; ?>
							</div>
						</div>
						
						<?php if($this->dane['rozmiarowka'] > 0): ?>
						<div class="button_toggle" style="position:relative; float:left; margin-top:10px; margin-bottom:10px; margin-left:-10px;">
							<a class="add silver m_linki" onclick="$('#box_display3').toggle();" href="javascript:void(0)">wybierz rozmiary</a>	
						</div>
						<br clear="all" />
						<?php endif; ?>
						
						<div id="box_display3" class="dn">
							
							<?php if(count($this->rozmiary) > 0): ?>
							
							<?php if(!$this->wyswietlAll): ?>
							<form action="#zakladkaKolor" method="post" enctype="multipart/form-data">
							<?php endif; ?>
							
								<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
								<input type="hidden" name="rozmiarowkaID" value="<?php echo (isset($this->dane['rozmiarowka']))? $this->dane['rozmiarowka']: 1;?>" />
								<div class="form_title">
									<h2 class="title4">wybierz rozmiary dla wybranego produktu:</h2>
								</div>
								<div class="form_row">
									<div style="margin-left:10px;">
										Zaznacz rozmiar, kliknij OK, aby uaktywnić dany rozmiar<br/>
									</div>
									<label class="">Rozmiar:</label>
									<div class="input_bg">
										<br clear="all" />
										<table width="500" border="1">
										
										<colgroup>
										<col width="10%">
										<?php for($i=1;$i<=$this->iloscMax;$i++): ?>
										<col width="<?php echo floor(100/$this->iloscMax); ?>%">
										<?php endfor; ?>
										</colgroup>
										
										<?php 
										$naz = ''; 
										$dan['first'] = '';
										$dan['last'] = '';
										$dan['ilosc'] = 0;
										$i = 0;
										foreach($this->rozmiary as $nazwa => $dane): ?>
										
										<?php if($dan['first'] != $dane['first'] || $dan['last'] != $dane['last'] || $dan['ilosc'] != $dane['ilosc']): ?>									
										</tr>
										<?php if(false):?><tr style="height:30px;"></tr><?php endif;?>
										<tr><td style="text-align:left;"></td>
										<?php foreach($dane['wkladki'] as $wkl): ?>
										<td style="text-align:left;"><?php echo $wkl; ?></td>
										<?php endforeach; ?>										
										<?php endif; ?>
										
										</tr><tr><td><b><?php echo $nazwa; ?></b></td>
										<?php foreach ($dane['wkladki'] as $id => $wkl): ?>
										
										<td style="text-align:center;"><input type="checkbox" name="rozmiar[<?php echo $id; ?>]" value="<?php echo empty($wkl) ? $id : $wkl; ?>" <?php if(isset($this->rozmiaryExist[$id]))echo ' checked="checked"';?> >
										</td>
										
										<?php endforeach; ?>	
										
										<?php $naz = $nazwa; $dan = $dane; $i++; endforeach; ?>
										</tr>
										</table>
									</div>
								</div>            
								<?php if(true || !$this->wyswietlAll): ?>
		                 		 <?php if($this->edycjazablokowana === false): ?>
                                 <div class="button_form m2">
									<div class="button1">
										<input type="submit" name="dodaj_rozmiar" value="OK" />	
									</div>
								</div>	
								<?php endif; ?>
								<?php endif; ?>
							<?php if(!$this->wyswietlAll): ?>
							
							<?php endif; ?>
							
							<?php else: ?>
							
								<div class="info_empty">Brak rozmiarów. Zdefiniuj rozmiary w menu Asortyment.</div>
							
							<?php endif; ?>
							
						</div>
						</div>
						
						<?php if($this->ustawienia['stany_mag']||$this->obConfig->dostepny||$this->trybCena=='rozmiary'):?>
						<div class="box_foto_product">
							<?php if(count($this->rozmiary_produktu) > 0): ?>
								<div class="form_title">
								<h2 class="title4">
								<?php 
								if($this->ustawienia['stany_mag'] && $this->trybCena == 'rozmiary')
								echo 'Stany magazynowe / Ceny:';
								else if($this->obConfig->dostepny && $this->trybCena == 'rozmiary')
								echo 'Dostępność / Ceny:';
								else if($this->ustawienia['stany_mag']) echo 'Stany magazynowe:';
								else if($this->obConfig->dostepny) echo 'Dostępność:';
								else if($this->trybCena == 'rozmiary') echo 'Ceny:';
								?>				
								</h2>
								</div>
								
								<?php if(!$this->wyswietlAll): ?>
								<form action="#zakladkaRozmiar" method="post" enctype="multipart/form-data">
								<?php endif; ?>
																
								<table width="<?php echo $this->trybCena=="rozmiary"?900:300;?>" border="1">
										
									<colgroup>
									<col width="10%">
									<?php if($this->obConfig->rozmiaryIdExt): ?>
									<col width="10%">
									<?php endif; ?>
									<?php if($this->obConfig->rozmiarySymbol): ?>
									<col width="10%">
									<?php endif; ?>
									<?php if($this->ustawienia['stany_mag'] || $this->obConfig->dostepny): ?>
									<?php for($i=1;$i<=$this->iloscMax;$i++): ?>
									<col width="10<?php //echo floor(100/$this->iloscMax); ?>%">
									<?php endfor; ?>
									<?php endif; ?>
									<?php if($this->trybCena == 'rozmiary'): ?>
									<?php foreach ($this->ceny as $nazwaCeny => $cena): ?>
									<col width="10%">
									<?php endforeach; ?>
									<?php endif; ?>
									</colgroup>
									
									<?php 
									$naz = ''; 
									$dan['first'] = '';
									$dan['last'] = '';
									$dan['ilosc'] = 0;
									$i = 0;
									foreach($this->rozmiary as $nazwa => $dane): ?>
									
									<?php if($dan['first'] != $dane['first'] || $dan['last'] != $dane['last'] || $dan['ilosc'] != $dane['ilosc'] || $i % 6666 == 0): ?>									
									</tr>
									<?php if(false):?><tr style="height:30px;"></tr><?php endif;?>
									<tr><td style="text-align:center;"><b>Rozmiar</b></td>
									<?php if($this->obConfig->rozmiaryIdExt): ?>
									<td style="text-align:center;"><b>ID</b></td>
									<?php endif; ?>
									<?php if($this->obConfig->rozmiarySymbol): ?>
									<td style="text-align:center;"><b>Indeks</b></td>
									<?php endif; ?>
									<?php if($this->ustawienia['stany_mag'] || $this->obConfig->dostepny): ?>
									<?php foreach($dane['wkladki'] as $wkl): ?>
									<td style="text-align:center;"><b>
									<?php echo empty($wkl) ? 'Dostępność' : $wkl; ?>
									</b></td>
									<?php endforeach; ?>
									<?php endif; ?>
									
									<?php if($this->trybCena == 'rozmiary'): ?>
									<?php foreach($this->ceny as $nazwaCeny => $cena): ?>
									<td style="text-align:center;"><b><?php echo $cena; ?></b></td>
									<?php endforeach; ?>
									<?php endif; ?>
									
									<?php endif; ?>
									
									</tr>
									<tr>
									<?php if(true || isset($this->rozmiaryExist[$id])): ?>
									<td style="text-align:center;"><b><?php echo $nazwa; ?></b></td>
									<?php endif; ?>
									
									<?php if($this->obConfig->rozmiaryIdExt): ?>
									<?php foreach($dane['wkladki'] as $id => $wkl): ?>
									<?php if(isset($this->rozmiaryExist[$id])): ?>
									<td style="text-align:center;">
									<input name="id_exts[<?php echo $this->rozmiaryExist[$id]['id']; ?>]" type="text" value="<?php echo $this->rozmiaryExist[$id]['id_ext']; ?>" size="5" />
									</td>
									<?php endif; ?>
									<?php endforeach; ?>
									<?php endif; ?>
									<?php if($this->obConfig->rozmiarySymbol): ?>
									<?php foreach($dane['wkladki'] as $id => $wkl): ?>
									<?php if(isset($this->rozmiaryExist[$id])): ?>
									<td style="text-align:center;">
									<input name="oznaczenia[<?php echo $this->rozmiaryExist[$id]['id']; ?>]" type="text" value="<?php echo $this->rozmiaryExist[$id]['oznaczenie']; ?>" size="5" />
									</td>
									<?php endif; ?>
									<?php endforeach; ?>
									<?php endif; ?>
									
									<?php foreach($dane['wkladki'] as $id => $wkl): ?>
									<?php if(isset($this->rozmiaryExist[$id])): ?>
									<input name="dostepnosci[<?php echo $this->rozmiaryExist[$id]['id']; ?>]" type="hidden" value=""/>
									<?php endif; ?>
									<?php endforeach; ?>
									
									<?php if($this->ustawienia['stany_mag']): ?>
									<?php foreach($dane['wkladki'] as $id => $wkl): ?>
									<td style="text-align:center;">
									<?php if(isset($this->rozmiaryExist[$id])): ?>
									<input name="dostepnosci[<?php echo $this->rozmiaryExist[$id]['id']; ?>]" value="<?php echo $this->rozmiaryExist[$id]['dostepnosc']; ?>" style="text-align:right; border:1px solid #e3e3e3;" type="text" size="3" />
									<?php endif; ?>
									</td>
									<?php endforeach; ?>
									<?php endif; ?>
									
									<?php if($this->obConfig->dostepny): ?>
									<?php foreach ($dane['wkladki'] as $id => $wkl): ?>
									<td style="text-align:center;">
									<?php if(isset($this->rozmiaryExist[$id])): ?>
									<input name="dostepnosci[<?php echo $this->rozmiaryExist[$id]['id']; ?>]" style="text-align:right; border:1px solid #e3e3e3;" type="checkbox" <?php if($this->rozmiaryExist[$id]['dostepny']) echo 'checked="checked"'; ?>/>
									<?php endif; ?>
									</td>
									<?php endforeach; ?>
									<?php endif; ?>
									
									<?php if($this->trybCena == 'rozmiary'):
									foreach($dane['wkladki'] as $id => $wkl):
									foreach($this->ceny as $nazwa => $cena): ?>				
									<td style="text-align:center;">
									<?php if(isset($this->rozmiaryExist[$id])): ?>
									<input id="ceny[<?php echo $nazwa;?>][<?php echo $this->rozmiaryExist[$id]['id']; ?>]" name="ceny[<?php echo $nazwa;?>][<?php echo $this->rozmiaryExist[$id]['id']; ?>]" value="<?php echo $this->rozmiaryExist[$id][$nazwa]; ?>" size="10" style="text-align:right; border:1px solid #e3e3e3;" onkeyup="cenyoblicz(this.value, this.name);" onchange="cenyoblicz(this.value, this.name);" />
									<?php endif; ?>
									</td>
									<?php endforeach; ?>
									<?php endforeach; ?>
									<?php endif; ?>
									
									<?php $naz = $nazwa; $dan = $dane; $i++; endforeach; ?>
									</tr>
								</table>

								<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: 0;?>" />
								<input type="hidden" name="rozmiarowkaID" value="<?php echo (isset($this->dane['rozmiarowka']))? $this->dane['rozmiarowka']: 1;?>" />
								
								<?php if(!$this->wyswietlAll): ?>
								<?php if($this->edycjazablokowana === false): ?>
                                <div class="button1" style="margin-top:10px; margin-bottom:10px; position:relative; float:right; margin-right:0px;">
								<input type="submit" name="zmien_dostepnosc" value="Zmień dostępność" />
								</div>
								<?php endif; ?>
								<?php endif; ?>
								
							<?php if(!$this->wyswietlAll): ?>
							
							<?php endif; ?>
							
							<?php else: ?>
							
								<div class="info_empty">Brak zdefiniowanych rozmiarów dla wybranego produktu.</div>
								
							<?php endif; ?>	
							
						</div>
						<?php endif; ?>	
								
					<?php endif; ?>	
					
					<?php if($this->obConfig->opinieProdukt && ($this->wyswietlAll || $this->zak_produkt == '9')): ?>
					<!-- ZAKLADKA OPINIE-->
					
					<div class="box_foto_product" id="zakladkaOpinie">
						<div class="form_title"><h2 class="title4">Opinie:</h2></div>
					</div>
					
					<?php if(isset($this->edycjaOpinii) && $this->edycjaOpinii == 1): ?>
					
						<div class="box_edit" id="opinie">
							<form action="#zakladkaOpinie" method="post">
								<input type="hidden" name="opiniaID" value="<?php echo $this->opinia['id'];?>"/>
								<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
								<div class="form_title"><h2 class="title4">Edytuj opinię</h2></div>             
								<div class="form_row">
								<table id="opinieTable" border="0" width="100%">
								<tr>
									<th class="kupujacy">Kupujący</th>
									<th class="ocena">Ocena</th>
									<th class="opis">Opis.</th>
								</tr>
								<tr>
								<td class="opinieImie" width="160">
								<input type="text" name="opiniaImie" value="<?php echo $this->opinia['imie']; ?>"/>
								</td>
								<td width="160">
								<span class="opinieStarsOpis">Czas realizacji</span>
								<div id="opinieCzas" class="opiniaStars">
								<span id="opinieCzasHint" class="hint">
								<?php echo $this->opinia['czas'];?>
								</span></div>
								<span class="opinieStarsOpis">Kontakt</span>
								<div id="opinieKontakt" class="opiniaStars">
								<span id="opinieKontaktHint" class="hint">
								<?php echo $this->opinia['kontakt'];?>
								</span></div>
								<span class="opinieStarsOpis">Produkt</span>
								<div id="opinieProdukt" class="opiniaStars">
								<span id="opinieProduktHint" class="hint">
								<?php echo $this->opinia['produkt'];?>
								</span></div>
								</td>
								<td class="opiniaOpis">
								<textarea name="opiniaOpis" rows="5" cols="60"><?php echo $this->opinia['opis']; ?></textarea>
								</td>
								</tr>
								</table>
								<script type="text/javascript">
								$('.opiniaStars').raty(
								{
									readOnly:false, start:0, noRatedMsg: 'produkt nie został jeszcze oceniony!',
									path: '<?php echo $this->baseUrl; ?>/public/scripts/jquery.raty/img/',
									starOn:    'gwiazdka_bordo.png',
									starOff:   'gwiazdka_white.png',
									hintList:   ['1', '2', '3', '4', '5'],
									target:     'Hint',
									targetType: 'number',
									width: '115',
									scoreName:  'Score'
								});
								</script>
								</div>                
		                 		 <?php if($this->edycjazablokowana === false): ?>
                                 <div class="button_form m2">
									<div class="button1">
										<input type="submit" name="edycjaOpinii" value="Zapisz" />	
									</div>
								</div>									
								<?php endif; ?>
							
						</div>
						
					<?php endif; ?>
					
					<!--Lista zdjec-->
					<?php if(isset($this->opinie) && count($this->opinie) > 0): ?>
					
					<div class="box_foto_product">
						<form action="#zakladkaOpinie" method="post" enctype="multipart/form-data">
					
						<div class="box_foto_product">
							<table class="foto_box" id="opinieTable">
								<colgroup>
									<col width="10%"/>
									<col width="35%"/>
									<col width="35%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Imię</th>
									<th>Ocena</th>
									<th>Opis</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->opinie as $opinia): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="opinieImie"><?php echo $opinia['imie']; ?></td>
									<td>
									<span class="opinieStarsOpis">Czas realizacji</span>
									<div id="opinieCzas<?php echo $opinia['id'];?>" class="opinieStars opinieCzas">
									<span id="opinieCzas<?php echo $opinia['id'];?>Hint" class="hint"><?php echo $opinia['czas'];?>
									</span></div>
									<span class="opinieStarsOpis">Kontakt</span>
									<div id="opinieKontakt<?php echo $opinia['id'];?>" class="opinieStars opinieKontakt">
									<span id="opinieKontakt<?php echo $opinia['id'];?>Hint" class="hint"><?php echo $opinia['kontakt'];?>
									</span></div>
									<span class="opinieStarsOpis">Produkt</span>
									<div id="opinieProdukt<?php echo $opinia['id'];?>" class="opinieStars opinieProdukt">
									<span id="opinieProdukt<?php echo $opinia['id'];?>Hint" class="hint"><?php echo $opinia['produkt'];?>
									</span></div>
									</td>
									<td class="opiniaOpis"><?php echo $opinia['opis']; ?></td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/opi/opiEdit/<?php echo $opinia->id; ?>#zakladkaOpinie">Edytuj opinię</a>
									</td>
									<td align="center">	
										<input type="checkbox" name="usunOpinie[<?php echo $opinia->id;?>]" value="<?php echo $opinia->id;?>" class="checkbox" />
										<?php if($this->edycjazablokowana === false): ?>
                                        <a title="Usuń" class="del_ico <?php echo $style; ?> afterCheckbox" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/param/opi/opiDel/<?php echo $opinia->id; ?>#zakladkaOpinie">Usuń</a>	
									   <?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							<script type="text/javascript">
							if(true)
							$('.opinieStars').raty(
							{
								readOnly:true, start:0, noRatedMsg: 'produkt nie został jeszcze oceniony!',
								path: '<?php echo $this->baseUrl; ?>/public/scripts/jquery.raty/img/',
								starOn:    'gwiazdka_bordo.png',
								starOff:   'gwiazdka_white.png',
								hintList:   ['1', '2', '3', '4', '5'],
								target:     'Hint',
								targetType: 'number',
								width: '115',
								scoreName:  'Score'
							});
							</script>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2" style="float:right;">
								<div class="button1">
									<input type="submit" name="usunOpinieAll" value="Usuń zaznaczone" />	
								</div>
							</div>
							<?php endif; ?>
						</div>
						
					</div>						
					
					<?php else: ?>
						
						<div class="info_empty">Brak opinii.</div>
						
					<?php endif; ?>	
					
					<!---->
					<?php endif; ?>	
					
					<?php if($this->obConfig->platnosciProdukt): ?>
					<div class="box_foto_product" id="zakladkaPlatnosci">
						<div class="form_title"><h2 class="title4">Wybierz rodzaje płatności/dostawy:</h2></div>
					</div>
					
					<?php if(false): ?>
					<div style="position: relative; float:left; margin-left: 0px; width: 300px;">
					<select class="input_temat_maly" name="platnosc" style="width: 257px; margin-left: 0px;">
					<?php foreach($this->platnosci as $platnosc): ?>
						<option value="<?php echo $platnosc['id']; ?>">
						<?php echo $platnosc['dostawa'].' / '.$platnosc['platnosc']; ?></option>
					<?php endforeach; ?>
					</select>
					<input type="submit" name="edytujPlatnosc" class="przycisk_1" value="Dodaj płatność" style="position: relative; float:left; margin-left: 0px; clear:left;"/>					
					<?php if(false): ?>
					<div style="position: relative; float:left; margin-left: 0px; margin-top: 100px; clear:left;">
					<input type="checkbox" name="gratis" style="position: relative; float:left; margin-left: 0px; clear:left;" <?php if(false && @$this->dane['gratis'] == 'T') echo ' checked="checked"'; ?> />
					<span style="position: relative; float:left; margin-left: 0px; font-size:14px;">
					Dostawa gratis</span>					
					<input type="submit" name="edytujGratis" class="przycisk_1" value="Ustaw" style="position: relative; float:left; margin-left: 0px; clear:left;"/>
					</div>
					<?php endif; ?>
					</div>
					<?php endif; ?>
				
					<table class="tabela_1" style="width:80%;margin-left:10%;margin-top:0px;float:left;text-align:center;">
						<tr>
							<th width="10%">Włączone</th>
							<th width="55%">Dostawa</th>
							<th width="35%">Płatność</th>
							<?php if(false): ?>
							<th width="50">Usuń</th>
							<?php endif; ?>
					   </tr>
					   <?php foreach($this->platnosci as $idPlatnosci => $platnosc): ?>
					   <tr>
							<td align="center">
								<input type="checkbox" name="platnosci[<?php echo $platnosc['id']; ?>]" <?php if(isset($this->platnosciDlaProdukt[$idPlatnosci])) echo 'checked="checked"'; ?> />
							</td>
							<td><?php echo $platnosc['dostawa']; ?></td>
							<td><?php echo $platnosc['platnosc']; ?></td>
							<?php if(false): ?>
							<td align="center">
								<a onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/platnoscDel/<?php echo $platnosc['id']; ?>#zakladkaPlatnosci" class="del_ico">Usuń</a>
							</td>
							<?php endif; ?>
					   </tr>
					   <?php endforeach; ?>
					</table>
					</form>
					<?php endif; ?>
					
					<?php if(true): ?>
						<?php echo $this->render('oferta/komplety.phtml'); ?>
					<?php endif; ?>
					<?php if(true): ?>
						<?php echo $this->render('oferta/powiazania.phtml'); ?>
					<?php endif; ?>
					
					<?php if(false && $this->obConfig->produktyPowiazane): ?>
					<a name="powiazane"></a>
					<div class="form_title"><h2 class="title4">Produkty powiązane</h2></div>
					<div class="box_foto_product">
					<?php if(true): ?>
					<a href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/powiaz/<?php echo $this->dane['id']; ?>" class="add silver m_linki" >Dodaj</a>
					<?php else: ?>
					<a href="<?php echo $this->baseUrl; ?>/admin/oferta/powiazane/id/<?php echo $this->dane['id']; ?>" class="add silver m_linki" >Dodaj</a>
					<?php endif; ?>
					<br /><br />
					<?php if(count($this->powiazane) > 0): ?>
					<table class="foto_box">
					<colgroup>
						<col width="90%"/>
						<col width="10%"/>
					</colgroup>
					<tr>
						<th>Nazwa produktu</th>
						<th>Usuń</th>
					</tr>
					<?php $j=1; for($i=0; $i<count($this->powiazane); $i++): ?>
					<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
					<tr class="<?php echo $style; ?>">
					<td class="first">
						<a target="_blank" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->powiazane[$i]['powiazany']; ?>">
						<b><?php echo $this->powiazane[$i]['nazwa']; ?></b></a>
					</td>
					<td align="center">
						<a onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" title="Usuń" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane->id;?>/powiazanyDel/<?php echo $this->powiazane[$i]['powiazany'];?>">Usuń</a>
					</td>
					</tr>
					<?php $j++; endfor; ?>
					</table>
					<?php else: ?>
					<div class="info_empty">Brak zdefiniowanych powiązań dla wybranego produktu.</div>
					<?php endif; ?>
					</div>
					<?php endif; ?>
					
					<?php if(false && $this->obConfig->produktyPowiazania): ?>
					<div class="form_title"><h2 class="title4">Wybierz powiązane produkty:</h2></div>
					<div class="box_foto_product" id="zakladkaPowiazania">
					<div style="position: relative; float:left; margin-left: 0px; width: 250px;">
						<input type="text" name="szukajPowiazanie" value="" onkeyup="szukajProd(this);" style="width:250px; height:20px; border:1px solid #DDDDDD;"/>
						<br clear="all" /><br clear="all" />
						<select class="input_temat_maly" id="powiazanie" style="width:250px;height:auto;" multiple="multiple" size="10" ondblclick="dodajPowiazanie('powiazanie', 'powiazania');">
							<option value="0">Produkty znalezione</option>
						</select>
						<a title="Dodaj" class="add lf" href="javascript:void(0);" onclick="dodajPowiazania('powiazanie','powiazania',false);">
						Dodaj zaznaczone</a>
						<a title="Dodaj" class="add rf" href="javascript:void(0);" onclick="dodajPowiazania('powiazanie','powiazania',true);">
						Dodaj wszystkie</a>
						<?php if(true): ?>
						<input type="submit" name="edytujPowiazanie" class="przycisk_1" value="Dodaj nowe powiązanie" style="position: relative; float:left; margin-left: 0px; clear:left; cursor:pointer; margin-top: 10px;" />
						<?php endif; ?>						
					</div>
					<div style="position: relative; float:left; margin-left: 10px; width: 250px;">
						<span class="dib" style="width:250px; height:20px; border:1px solid #DDDDDD;">
						<?php $info = 'Wyszukaj produkty w polu tekstowym po lewej stronie wpisując daną frazę (min. 3 znaki)'; ?>
						<?php $info.= '<br>Kliknij dwukrotnie myszką na znalezionym produkcie aby go dodać do listy do powiązania'; ?>
						<?php $info.= '<br>Kliknij dwukrotnie myszką na dodanym produkcie aby go usunąć z listy do powiązania'; ?>
						<?php $info.= '<br>Zaznaczać produkty można myszką lub klawiszem Control (wybrane) lub Shift (zakres)'; ?>
						<?php $info.= '<br>Zaznacz produkty które chcesz powiązać, tylko zaznaczone produkty są powiązywane!'; ?>
						<a class="see_shop" href="javascript:void(0);" onmouseover="return overlib('<?php echo htmlspecialchars($info);?>', WIDTH, 500, TEXTSIZE, '10px', CELLPAD, 5);" onmouseout="return nd();" tabindex="-1">info</a>
						<a title="Dodaj" class="add rf" href="javascript:void(0);" onclick="zaznaczPowiazania('powiazania', true);">
						Zaznacz wszystkie</a>
						</span>
						<br clear="all" /><br clear="all" />
						<select class="input_temat_maly" name="powiazanie[]" id="powiazania" style="width:250px;height:auto;" multiple="multiple" size="10" ondblclick="usunPowiazanie('powiazania');">
							<option value="0">Produkty do powiązania</option>
						</select>
						<a title="Usuń" class="del lf" href="javascript:void(0);" onclick="usunPowiazania('powiazania',false);">
						Usuń zaznaczone</a>
						<a title="Usuń" class="del rf" href="javascript:void(0);" onclick="usunPowiazania('powiazania',true);">
						Usuń wszystkie</a>
						<?php if(@count($this->powiazaniaDlaProdukt) > 0): ?>
						<input type="submit" name="zamienPowiazanie" class="przycisk_1" value="Zamień istniejące powiązania" style="position: relative; float:right; margin-right: 0px; clear:right; cursor:pointer; margin-top: 10px;" onclick="return window.confirm('Czy na pewno chcesz zamienić istniejące powiązania z tym produktem na wybrany wyżej produkt ?');"/>
						<?php endif; ?>
						<?php if(@count($this->powiazaniaKrzyzowe) > 0): ?>
						<input type="submit" name="zamienKrzyzowe" class="przycisk_1" value="Zamień powiązania krzyżowe" style="position: relative; float:right; margin-right: 0px; clear:right; cursor:pointer; margin-top: 10px;" onclick="return window.confirm('Czy na pewno chcesz zamienić powiązania krzyżowe z tym produktem na wybrany wyżej produkt ?');"/>
						<?php endif; ?>
					</div>
					<?php if(@count($this->powiazaniaDlaProdukt) > 0 || @count($this->powiazaniaKrzyzowe) > 0): ?>
					<div style="position: relative; float:right; margin-right: 0px; width: 370px;">
					<div style="position: relative; float:right; margin-right: 0px; width: 370px; height:200px; overflow-y:auto;">
					<table class="tabela_1" style="width:350px; margin: 0px; float: left; _display: inline; text-align:center;">
						<?php if(@count($this->powiazaniaDlaProdukt) > 0): ?>
						<tr>
							<th>Powiązane produkty</th>
							<th width="50">Usuń</th>
						</tr>						
						<?php foreach($this->powiazaniaDlaProdukt as $powiazanie): ?>
						<tr>
							<td><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $powiazanie['powiazany']; ?>#zakladkaPowiazania"><?php echo $powiazanie['nazwa']; ?></a></td>
							<td align="center">
								<a onclick="return window.confirm('Czy napewno chcesz usunąć wybraną pozycję ?');" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane->id; ?>/powiazanieDel/<?php echo $powiazanie['id']; ?>#zakladkaPowiazania" class="del_ico">Usuń</a>
							</td>
						</tr>
						<?php endforeach; ?>						
						<tr>
						<td colspan="2">&nbsp;</td>
						</tr>
						<?php endif; ?>
						<?php if(@count($this->powiazaniaKrzyzowe) > 0): ?>
						<tr>
							<th>Powiązania krzyżowe</th>
							<th width="50">Usuń</th>
						</tr>						
						<?php foreach($this->powiazaniaKrzyzowe as $powiazanie): ?>
						<tr>
							<td><a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $powiazanie['id_prod']; ?>#zakladkaPowiazania"><?php echo $powiazanie['nazwa']; ?></a></td>
							<td align="center">
								<a onclick="return window.confirm('Czy napewno chcesz usunąć wybraną pozycję ?');" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane->id; ?>/powiazanieDel/<?php echo $powiazanie['id']; ?>#zakladkaPowiazania" class="del_ico">Usuń</a>
							</td>
						</tr>
						<?php endforeach; ?>
						<?php endif; ?>
					</table>
					</div>
					<br clear="all" />
					<?php if(@count($this->powiazaniaDlaProdukt) > 0): ?>
					<a title="Usuń" class="del lf" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane->id; ?>/powiazanieDelOne/1#zakladkaPowiazania" onclick="return window.confirm('Czy napewno chcesz usunąć wszystkie powiązania z tym produktem ?');">Usuń powiązane</a>
					<?php endif; ?>
					<?php if(@count($this->powiazaniaKrzyzowe) > 0): ?>
					<a title="Usuń" class="del rf" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane->id; ?>/powiazanieDelAll/1#zakladkaPowiazania" onclick="return window.confirm('Czy napewno chcesz usunąć wszystkie powiązania krzyżowe tego produktu ?');">Usuń krzyżowe</a>
					<?php endif; ?>
					</div>
					<?php endif; ?>									
					</div>
					<?php endif; ?>
					
					<?php if ($this->obConfig->produktyGratisy): ?>
					<div class="box_foto_product" id="zakladkaGratisy">
						<div class="form_title"><h2 class="title4">Wybierz powiązane gratisy:</h2></div>
					</div>
					<div style="position: relative; float:left; margin-left: 0px; width: 300px;">
						<input type="text" name="szukajPowiazanie" value="" onkeyup="szukajGratis(this);" style="width:257px; height:20px; border:1px solid #DDDDDD;"/>
						<br clear="all" /><br clear="all" />
						<select class="input_temat_maly" name="gratis[]" id="gratis" style="width:257px;height:auto;" multiple="multiple" size="10">
							<option value="0">Wyszukaj gratis do powiązania</option>
						</select>
						<input type="submit" name="edytujPowiazanie" class="przycisk_1 dni" value="Dodaj gratis" style="position: relative; float:left; margin-left: 0px; clear:left; cursor:pointer; "/>
					</div>
					<table class="tabela_1" style="width:350px; margin-right: 0px; margin-top: 0px; float: right; _display: inline; text-align:center;">
						<tr>
							<th>Powiązany gratis</th>
							<th width="50">Usuń</th>
						</tr>
						<?php foreach($this->gratisy as $powiazanie): ?>
							<tr>
								<td><?php echo $powiazanie['nazwa']; ?></td>
								<td align="center">
									<a onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->dane->id; ?>/powiazanieDel/<?php echo $powiazanie['id']; ?>#zakladkaGratisy" class="del_ico">Usuń</a>
								</td>
							</tr>
						<?php endforeach; ?>
					</table>
					<?php endif; ?>
					
					<?php if($this->obConfig->allegroCenniki): ?>
					<div class="box_foto_product" id="zakladkaCennikiAllegro">
						<div class="form_title"><h2 class="title4">Cennik dostawy Allegro:</h2></div>
					</div>
					<div class="form_row">
						<div class="input_bg w1">
							<select id="allegroCennik" name="allegroCennik">
							<option value="0">domyślny (z ustawień Allegro)</option>
							<?php foreach($this->allegroCenniki as $cennik): ?>
							<option value="<?php echo $cennik['id']; ?>" <?php if(isset($this->dane['allegroCennik']) && $this->dane['allegroCennik'] == $cennik['id']) echo ' selected="selected"'; ?>>
							<?php echo $cennik['nazwa']; ?></option>
							<?php endforeach; ?>
							</select>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->produktyKosztyAllegro): ?>
					<div class="box_foto_product" id="zakladkaKosztyAllegro">
						<div class="form_title"><h2 class="title4">Dostępne opcje przesyłki Allegro:</h2></div>
					</div>
					<div class="form_row">
						<div class="input_bg allegroKoszty">
							<?php foreach($this->kosztyAllegroAll as $name => $koszt): ?>
							<input type="checkbox" name="kosztyAllegro[<?php echo $name;?>][czy]" <?php if(@isset($this->kosztyAllegro[$name]) && @$this->kosztyAllegro[$name]['czy'] == 'on') echo ' checked="checked"'; ?>> &nbsp;<?php echo $koszt; ?><br/>
							<?php endforeach; ?>
						</div>
					</div>
					<?php endif; ?>
					
					<?php if($this->obConfig->facebookPostProdukt): ?>
					<div class="box_foto_product" id="zakladkaFacebook">
						<div class="form_title"><h2 class="title4">Facebook</h2></div>
						<?php if(@count($this->facebookpages) > 0): ?>
						<table class="foto_box">
						<colgroup>
							<col width="10%"/>
							<col width="25%"/>
							<col width="25%"/>
							<col width="10%"/>
							<col width="10%"/>
							<col width="5%"/>
							<col width="5%"/>
							<col width="5%"/>
						</colgroup>
						<tr>
							<th>ID strony</th>
							<th>Nazwa strony</th>
							<th>Adres strony</th>
							<th>ID posta</th>
							<th>Data</th>
							<th>Dodaj</th>
							<th>Aktualizuj</th>
							<th>Usuń</th>
						</tr>
						<?php $j=1; foreach($this->facebookpages as $page): ?>
						<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
						<tr class="<?php echo $style; ?>">
							<td align="center">
								<?php echo $page['userid']; ?>
							</td>
							<td align="center">
								<?php echo $page['nazwa']; ?>
							</td>
							<td align="center">
								<a href="<?php echo $page['www']; ?>" target="_blank"> 
									<?php echo $page['www']; ?>
								</a>
							</td>
							<td align="center">	
							<?php if(isset($this->facebookposts[$page['id']])): ?>
							<?php echo @str_replace($page['userid'],'',$this->facebookposts[$page['id']]['id_post']);?>
							<?php endif; ?>
							</td>
							<td align="center">	
							<?php if(isset($this->facebookposts[$page['id']])): ?>
								<?php echo @date('Y-m-d H:i',strtotime($this->facebookposts[$page['id']]['data']));?>
							<?php endif; ?>
							</td>
							<td align="center">	
							<?php if(!isset($this->facebookposts[$page['id']])): ?>
							<a title="Dodaj" class="add_ico" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane['id'];?>/facebook/add/page/<?php echo $page['id']; ?>">Dodaj</a>
							<?php endif; ?>
							</td>
							<td align="center">	
							<?php if(isset($this->facebookposts[$page['id']])): ?>
							<a title="Update" class="edit_ico" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane['id'];?>/facebook/add/page/<?php echo $page['id']; ?>">Aktualizuj</a>
							<?php endif; ?>
							</td>
							<td align="center">	
							<?php if(isset($this->facebookposts[$page['id']])): ?>
							<a title="Usuń" class="del_ico" onclick="return confirm('Czy napewno chcesz usunąć post ?')"  href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $this->dane['id'];?>/facebook/del/page/<?php echo $page['id']; ?>">Usuń</a>
							<?php endif; ?> 
							</td>
						</tr>
						<?php $j++; endforeach; ?>
						</table>
						<?php endif; ?>
					</div>
					<?php endif; ?>
					
					<?php if($this->obConfig->otoMoto): ?>
					<div class="box_foto_product" id="otoMoto">
						<div class="form_title"><h2 class="title4">otoMoto</h2></div>
						<?php if(@!empty($this->otoMotoID)): ?>
						<input type="hidden" name="otoMotoActive" value="1">
						<?php endif; ?>
						<input type="checkbox" name="otoMotoActive" value="1" <?php if(@isset($this->otoMoto)) echo ' checked="checked"'; ?> <?php if(@!empty($this->otoMotoID)) echo ' disabled="disabled"'; ?>>
						&nbsp;<b>Uaktywnij otoMoto</b><br/>
						<?php if(@isset($this->otoMoto)): ?>
						<?php $this->dane = $this->otoMoto; ?>
						<?php echo $this->render('oferta/otomoto.phtml'); ?>
						<?php endif; ?>
					</div>
					<?php endif; ?>
					
					<br clear="all" />
					<br clear="all" />
					<?php if($this->edycjazablokowana === false): ?>
                    <div class="button_form m2">
						<div class="button1">
							<input type="submit" name="zmienAll" value="Zapisz" id="jQuery_zapisz_btn" />	
						</div>
					</div>
					<?php if($this->obConfig->allegro): ?>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="zmienAll" value="Zapisz i wystaw na Allegro" onclick="return confirm('Czy napewno chcesz wystawić ten produkt na Allegro ?')" />	
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->eBay): ?>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="zmienAll" value="Zapisz i wystaw na eBay" onclick="return confirm('Czy napewno chcesz wystawić ten produkt na eBay ?')" />	
						</div>
					</div>
					<?php endif; ?>	
					<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
            