<div class="box_foto_product" class="zakladkaPowiazania">

<div class="form_title"><h2 class="title4">Dobierz produkty do kompletu:</h2></div>

<div class="form_row2">
<label class="big" style="font-weight:bold; font-size:15px; text-transform:uppercase; float:left; line-height:30px;">
Komplet - dobrano: <span id="wybrano_komplet"><?php echo @count($this->komplet); ?></span>
</label>
<a rel="facebox" href="<?php echo $this->obConfig->www; ?>/ajax/index/lista/norender/1/od/0/typ/komplet" class="btn-orange" href="#">wybierz</a>
<?php if(@count($this->komplet) > 0): ?>
<a href="javascript:void(0);" class="btn-orange" onclick="if(window.confirm('Czy na pewno usunąć wszystkie ?')) $('#jQ_client_komplet').html('');">
usuń wszystkie</a>
<?php endif; ?>
<br /><br />
<div id="jQ_client_komplet" class="input_bg_tiny" style="width:100%; max-height:100px; overflow-y:auto;">
	<?php if(isset($this->komplet) && !empty($this->komplet)): ?>
    <?php foreach($this->komplet as $komplet): ?>
	<span class="db cb lf">
		<span class="lf"><a href="<?php echo $this->obConfig->www; ?>/admin/oferta/edytuj/id/<?php echo $komplet['powiazany']; ?>">
		<b><?php echo $komplet['nazwa']; ?></b></span> 
		<a onclick="removeRow(this); countRows('komplet');" title="usuń" class="lf del_ico silver"></a>
		<input type="hidden" id="komplet<?php echo $komplet['powiazany']; ?>" name="post[komplet][<?php echo $komplet['powiazany']; ?>]" value="<?php echo $komplet['powiazany']; ?>" />
	</span>
    <?php endforeach; ?>
	<?php endif; ?>
</div>
<?php if(@count($this->komplet) > 5): ?>
<a href="javascript:void(0);" onclick="$('#jQ_client_komplet').css('max-height','none'); $('#ukryjKomplet').show(); $(this).hide();" class="db" id="pokazKomplet">pokaż wszystkie</a>
<a href="javascript:void(0);" onclick="$('#jQ_client_komplet').css('max-height','100px'); $('#pokazKomplet').show(); $(this).hide();" class="dn" id="ukryjKomplet">ukryj wszystkie</a>
<?php endif; ?>
</div>

<?php if(@count($this->komplety) > 0): ?>
<br clear="all"/>
<div class="form_title"><h2 class="title4">Inne komplety tego produktu:</h2></div>
<div class="form_row2">
<?php foreach($this->komplety as $powiazany): ?>
<span class="db cb lf">
	<span class="lf"><a href="<?php echo $this->obConfig->www; ?>/admin/oferta/edytuj/id/<?php echo $powiazany['id_prod']; ?>">
	<b><?php echo $powiazany['nazwa']; ?></b></a></span>
</span>
<?php endforeach; ?>
</div>
<?php endif; ?>

</div>