<optgroup label="Zarządzanie">
<option value="wiecej">Operacje hurtowe</option>
<option value="kopiuj">Kopiuj</option>
<?php if($this->obConfig->jezyki): ?>
<option value="powiel">Powiel w innych językach</option>
<?php endif; ?>
<option value="usun">Usuń</option>
</optgroup>
<optgroup label="Podstawowe">
<?php if($this->obConfig->trybOpis == "produkt"): ?>
<option value="opis">Zmień opis</option>
<?php if($this->obConfig->allegroOpis): ?>
<option value="opis_allegro">Zmień opis Allegro</option>
<?php endif; ?>
<?php endif; ?>
<?php if($this->obConfig->kategorie): ?>
<option value="kategorie">Zmień kategorie</option>
<?php endif; ?>
<?php if($this->obConfig->kategorieInne): ?>
<option value="<?php echo ($this->obConfig->kategorieInneNazwa); ?>">
Zmień <?php echo ($this->obConfig->kategorieInneNazwa); ?></option>
<?php endif; ?>
<?php if($this->obConfig->producent): ?>
<option value="producent">Zmień producenta</option>
<?php endif; ?>
<?php if($this->obConfig->produktyGrupy): ?>
<option value="grupa">Zmień grupę</option>
<?php endif; ?>
<?php if($this->obConfig->rabatyProdukty): ?>
<option value="rabat">Zmień rabat</option>
<?php endif; ?>
<?php if($this->obConfig->ceny): ?>
<option value="ceny">Zmień cenę</option>
<?php endif; ?>
<?php if(!$this->obConfig->tylkoDetal && !$this->obConfig->tylkoHurt): ?>
<option value="ceny_hurt">Zmień cenę hurtową</option>
<?php endif; ?>
<?php if($this->obConfig->allegroCena): ?>
<option value="ceny_allegro">Zmień cenę Allegro</option>
<?php endif; ?>
</optgroup>
<?php if($this->obConfig->oznacz): ?>
<optgroup label="Oznacz">
<?php if($this->obConfig->oznaczGlowna): ?>
<option value="glowna_1">Główna - ustaw</option>
<option value="glowna_0">Główna - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczNowosc): ?>
<option value="nowosc_1">Nowość - ustaw</option>
<option value="nowosc_0">Nowość - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczPromocja): ?>
<option value="promocja_1">Promocja - ustaw</option>
<option value="promocja_0">Promocja - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczPromocjaInternet): ?>
<option value="promocja_net_1">Promocja Internetowa - ustaw</option>
<option value="promocja_net_0">Promocja Internetowa - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczPolecane): ?>
<option value="polecane_1">Polecane - ustaw</option>
<option value="polecane_0">Polecane - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczProduktDnia): ?>
<option value="produkt_dnia_1">Produkt Dnia - ustaw</option>
<option value="produkt_dnia_0">Produkt Dnia - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczWyprzedaz): ?>
<option value="wyprzedaz_1">Wyprzedaż - ustaw</option>
<option value="wyprzedaz_0">Wyprzedaż - usuń</option>
<?php endif; ?>
<?php if($this->obConfig->oznaczSpecjalne): ?>
<option value="specjalne_1">Specjalne - ustaw</option>
<option value="specjalne_0">Specjalne - usuń</option>
<?php endif; ?>
</optgroup>
<?php endif; ?>
<?php if($this->obConfig->opakowaniaZbiorcze): ?>
<optgroup label="Zamawianie">
<?php if($this->obConfig->opakowaniaZbiorcze && !$this->obConfig->zamowZmianaOpak): ?>
<option value="jedn_miary_zb_czy_0">Zmień zamawianie na sztuki</option>
<option value="jedn_miary_zb_czy_1">Zmień zamawianie na opakowania zbiorcze</option>
<?php endif; ?>
<?php if($this->obConfig->opakowaniaZbiorcze): ?>
<option value="jedn_miary_zb_typ_0">Opak. zbiorcze zamawiane w całości</option>
<option value="jedn_miary_zb_typ_1">Opak. zbiorcze zamawiane w częściach</option>
<?php endif; ?>
</optgroup>
<?php endif; ?>
<optgroup label="Pozostałe">
<option value="ukryj">Ukryj</option>
<option value="odkryj">Pokaż</option>
<?php if(true && @count($this->przypisz) > 0): ?>
<option value="przypisz">Dodaj zdjęcie</option>
<option value="ustaw_glowne">Ustaw główne zdjęcie</option>
<option value="ustaw_glowne_usun">Ustaw główne zdjęcie i usuń inne</option>
<?php if(true && $this->obConfig->allegroZdjecia): ?>
<option value="przypisz_allegro">Dodaj zdjęcie Allegro</option>
<option value="ustaw_glowne_allegro">Ustaw główne zdjęcie Allegro</option>
<option value="ustaw_glowne_usun_allegro">Ustaw główne zdjęcie Allegro i usuń inne</option>
<?php endif; ?>
<?php endif; ?>
<?php if($this->obConfig->atrybuty): ?>
<option value="atrybuty">Ustaw atrybuty</option>
<?php endif; ?>
<?php if($this->obConfig->negocjujCene): ?>
<option value="negocjuj_cene_1">Ustaw "negocjuj cene"</option>
<option value="negocjuj_cene_0">Usuń "negocjuj cene"</option>
<?php endif; ?>
<?php if($this->obConfig->produktyPowiazane): ?>
<optgroup label="Powiązywanie">
<?php if(true): ?>
<option value="powiaz_wybierz">Wybierz do powiązania</option>
<?php endif; ?>
<?php if(true && @count($_SESSION['powiazywane']) > 0): ?>
<option value="powiaz_multi">Powiąż wybrane</option>
<option value="powiaz_multi_del">Usuń powiązania z wybranych</option>
<?php endif; ?>
<?php if(true && @count($this->powiaz) > 0): ?>
<option value="powiaz">Powiąż z wybranym<?//$this->powiaz['nazwa'];?></option>
<?php endif; ?>
</optgroup>
<?php endif; ?>
</optgroup>
<?php if($this->obConfig->allegro || $this->obConfig->facebookPostProdukt): ?>
<optgroup label="Portale">
<?php if($this->obConfig->allegro): ?>
<option value="allegro">Wystaw na Allegro</option>
<?php endif; ?>
<?php if($this->obConfig->facebookPostProdukt): ?>
<?php if(false && @count($this->facebookpages) == 1): ?>
<option value="facebook_add">Dodaj jako post na Facebook</option>
<option value="facebook_del">Usuń post z konta Facebook</option>
<?php else: ?>
<option value="facebook">Zarządzaj postami Facebook</option>
<?php endif; ?>
<?php endif; ?>
</optgroup>
<?php endif; ?>