<?php if($this->sort == 'pozycja'): ?>
<script type="text/javascript">
$(document).ready(function()
{
	var pageval = <?php echo @intval($this->strona); ?>;
	var pageCount = <?php echo @intval($this->ile); ?>;

	$("#ofertaTable tbody").sortable(
	{
		opacity: 0.6, 
		cursor: 'move', 
		tolerance: 'intersect', 
		update: function()
		{
			var order = $(this).sortable("serialize")+'&action=changePosition&pageval='+pageval+'&pagecount='+pageCount;
			$.post("<?php echo $this->baseUrl; ?>/ajax/index/produktysort/", order, function(theResponse)
			{
				location.reload();
			});
		},
		change: function(event, ui) 
		{
			var id = $(ui.item).attr('id');
			var lp = id.replace('rowPos_', '');
			//alert(ui.position);
			//console.log(ui.placeholder);
			var i = pageval * pageCount + 1;
			var ten = 0;
			var temp = '';
			$("#ofertaTable tbody").children('tr').each(function(index)
			{
				var ide = $(this).attr('id');
				var lpe = ide != undefined ? ide.replace('rowPos_', '') : 0;
				temp = temp + i + ': ' + ide + '\n';
				if(ide != undefined)
				$(this).children('td').first().text(i);
				else if(ten == 0) ten = i;
				if(lpe != lp) i++;
			});
			$('#'+id).children('td').first().text(ten);
			//alert(temp);
		}
	});
});
</script>
<?php endif; ?>

<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end" style="color:black;">Lista produktów</span>	
	</div>
	<div class="container2">	

		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Produkty</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/dodaj/">Dodaj produkt</a>
		</div>

		<div class="content2">
			<div class="all_container" style="padding:0px;">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product2">
					<div class="box_search2">
						<div class="form_title2">
						<h2 class="title44" style="padding:10px 5px;">
						Lista produktów: - znaleziono <?php echo $this->ilosc; ?> produktów<br/>
						<?php if(true && @count($this->przypisz) > 0): ?>
						<img class="lf" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/tiny/<?php echo $this->idPisz['img']; ?>" style="margin-right:10px; max-width:50px; max-height:50px;" />
						<span class="lf dib" style="width:800px; font-weight:normal; font-size:13px;">
							Zaznacz produkty do przypisania wybranego zdjęcia produktu "<?=@htmlspecialchars(stripslashes($this->przypisz['nazwa']));?>"
							<br/>i wybierz "Pozostałe - Dodaj zdjęcie" lub "Ustaw główne zdjęcie" z operacji hurtowych lub 
							<a class="m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/idPisz/0">Anuluj przypisywanie</a>
						</span>
						<?php endif; ?>
						<?php if($this->obConfig->produktyPowiazane): ?>
						<?php if(true && @count($_SESSION['powiazywane']) > 0): ?>
						<span class="lf dib" style="width:800px; font-weight:normal; font-size:13px;">
							Zaznacz produkty do powiązania z <?=@count($_SESSION['powiazywane']);?> wybranymi produktami
							i wybierz "Powiąż wybrane" lub "Usuń powiązania z wybranych" z operacji hurtowych
						</span>
						<?php endif; ?>
						<?php if(true && @count($this->powiaz) > 0): ?>
						<span class="lf dib" style="width:800px; font-weight:normal; font-size:13px;">
							Zaznacz produkty do powiązania z "<?=@htmlspecialchars(stripslashes($this->powiaz['nazwa']));?>"
							i wybierz "Powiąż" z operacji hurtowych
						</span>
						<?php endif; ?>
						<?php endif; ?>
						<?php if(@!empty($this->importDaty)): ?>
						<span style="float:left; clear:left; width:90%; font-weight:normal; font-size:10px;">
							ostatnio zaimportowano: 
							<?php if(isset($this->importDaty['produkty'])): ?>
							&nbsp;&nbsp;<?php echo $this->importDaty['produkty']['plik']; ?>
							dnia <?php echo date('Y-m-d H:i', strtotime($this->importDaty['produkty']['data'])); ?>
							<?php endif; ?>
							<?php if(isset($this->importDaty['grupy'])): ?>
							&nbsp;&nbsp;<?php echo $this->importDaty['grupy']['plik']; ?>
							dnia <?php echo date('Y-m-d H:i', strtotime($this->importDaty['grupy']['data'])); ?>
							<?php endif; ?>
							<?php if(isset($this->importDaty['klienci'])): ?>
							&nbsp;&nbsp;<?php echo $this->importDaty['klienci']['plik']; ?>
							dnia <?php echo date('Y-m-d H:i', strtotime($this->importDaty['klienci']['data'])); ?>
							<?php endif; ?>
							<?php if(isset($this->importDaty['rabaty'])): ?>
							&nbsp;&nbsp;<?php echo $this->importDaty['rabaty']['plik']; ?>
							dnia <?php echo date('Y-m-d H:i', strtotime($this->importDaty['rabaty']['data'])); ?>
							<?php endif; ?>
						</span>
						<?php endif; ?>
						</h2>
						<a onclick="javascript:printOferta();" class="drukuj" style="margin-top:-35px;">
							<b>Drukuj</b>
						</a>
						</div>
						<form action="" method="post" accept-charset="utf-8" >
							<div style="float:left; clear:left; margin-top:5px;">
							<?php if($this->obConfig->importProdukty): ?>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="importLastAdded" name="importLastAdded" <?php if(@$this->szukanie->importLastAdded) echo 'checked="checked"'; ?> value="1" onchange="if(this.checked) $('#importLastEdited').attr('checked', false);" />
								<label for="importLastAdded" style="display:inline;">pokaż&nbsp;ostatnio zaimportowane</label>
							</span>
							<span style="float:left; margin-right:10px;">
								<input type="checkbox" id="importLastEdited" name="importLastEdited" <?php if(@$this->szukanie->importLastEdited) echo 'checked="checked"'; ?> value="1" onchange="if(this.checked) $('#importLastAdded').attr('checked', false);" />
								<label for="importLastEdited" style="display:inline;">pokaż&nbsp;ostatnio zmienione podczas importu</label>
							</span><br/>
							<?php endif; ?>							
							<?php if(true): ?>
							<span style="float:left; margin-right:50px;">
								<input type="checkbox" id="widoczny" name="widoczny" <?php if(@$this->szukanie->widoczny) echo 'checked="checked"'; ?> value="1" />
								<label for="widoczny" style="display:inline;">pokaż&nbsp;ukryte</label>
							</span>
							<?php endif; ?>
							<?php if($this->obConfig->oznacz): ?>
							<?php if(@count($this->oznaczenia) > 0): ?>
							<?php foreach($this->oznaczenia as $oznacz => $oznaczenie): ?>
							<?php if(@$this->obConfig->{'oznacz'.$oznaczenie['config']}): ?>
							<span style="float:left; margin-right:50px;">
								<input type="checkbox" id="oznacz_<?=$oznacz;?>" name="<?=$oznacz;?>" <?php if(@$this->szukanie->{$oznacz}) echo 'checked="checked"'; ?> value="1" />
								<label for="oznacz_<?=$oznacz;?>" style="display:inline;"><?=$oznaczenie['nazwa'];?></label>
							</span>
							<?php endif; ?>
							<?php endforeach; ?>
							<?php endif; ?>
							<?php endif; ?>
							<?php if($this->obConfig->negocjujCene): ?>
							<span style="float:left; margin-right:50px;">
								<input type="checkbox" id="negocjuj" name="negocjuj" <?php if(@$this->szukanie->negocjuj) echo 'checked="checked"'; ?> value="1" />
								<label for="negocjuj" style="display:inline;">pokaż&nbsp;"negocjuj cene"</label>
							</span>
							<?php endif; ?>
							<?php if($this->obConfig->opakowaniaZbiorcze): ?>
							<span style="float:left; margin-right:10px;">
								pokaż&nbsp;zamawianie na:
								<input type="radio" id="zamowNaAll" name="zamowNa" <?php if(@$this->szukanie->zamowNa == 'all') echo 'checked="checked"'; ?> value="all" />
								<label for="zamowNaAll" style="display:inline;">wszystko</label>
								<input type="radio" id="zamowNaSzt" name="zamowNa" <?php if(@$this->szukanie->zamowNa == 'szt') echo 'checked="checked"'; ?> value="szt" />
								<label for="zamowNaSzt" style="display:inline;">sztuki</label>
								<input type="radio" id="zamowNaZb" name="zamowNa" <?php if(@$this->szukanie->zamowNa == 'zb') echo 'checked="checked"'; ?> value="zb" />
								<label for="zamowNaZb" style="display:inline;">opakowania zbiorcze</label>
							</span>
							<?php endif; ?>
							</div>
							<div class="row_search2" id="wyszukiwarka">
								<?php echo $this->render('oferta/lista_szukaj.phtml'); ?>
							</div>
						</form>
						
						<?php if(isset($this->error_search)): ?>
							
							<div class="error_container">
								
								<?php echo $this->error_search; ?>
							
							</div>
							
						<?php endif; ?>	
						
					</div>
		
					<?php if(!empty($this->realizacje)): ?>
						
						<?php if(!isset($this->error_search)): ?>							
						
							<form id="wystawForm" action="" method="post" style="float:left; width:100%;">
							
							<div class="noprint">
								<?php echo $this->render('oferta/lista_opcje.phtml'); ?>
							</div>
							
							<table class="foto_box padding" id="ofertaTable" cellpadding="0" cellspacing="0">
								<colgroup>
									<col width="2%"/>
									<?php if(@$_SESSION['zdjecia']):?>
									<col width="5%"/>
									<?php endif; ?>
									<col width=""/>
									<?php if($this->sort == 'pozycja'): ?>
									<col width="2%" class="noprint"/>
									<?php endif; ?>
									<?php if($this->obConfig->ceny): ?>
									<col width="7%"/>
									<?php endif; ?>
									<?php if($this->obConfig->rabatyProduktyLista): ?>
									<col width="5%" class="noprint"/>
									<?php endif; ?>
									<?php if($this->ustawienia['stany_mag']): ?>
									<col width="<?php echo $this->obConfig->tryb=='rozmiary'?'12':'6';?>%"/>
									<?php endif; ?>
									<col width="8%"/>
									<?php if($this->obConfig->allegro): ?>
									<col width="9%"/>
									<col width="2%" class="noprint"/>
									<?php endif; ?>
									<?php if($this->obConfig->eBay): ?>
									<col width="5%"/>
									<col width="2%" class="noprint"/>
									<?php endif; ?>
									<?php if($this->obConfig->offline): ?>
									<col width="5%" class="noprint"/>
									<?php endif; ?>
									<?php if($this->obConfig->polec): ?>
									<col width="2%" class="noprint"/>
									<?php endif; ?>
									<col width="2%" class="noprint"/>
									<col width="2%" class="noprint"/>
								</colgroup>
								
								<thead>
								<tr>
									<?php echo $this->render('oferta/lista_header.phtml'); ?>
								</tr>
								</thead>
								
								<tbody>
								<?php $j = 1; foreach($this->realizacje as $prod): ?>
								
									<?php if($j % 2 == -1): $style='silver'; else: $style='white'; endif; ?>
								
									<tr class="<?php echo $style; ?>" id="rowPos_<?php echo $prod['id'];?>">
									
									
										<td align="center"><?php echo ($this->od * $this->ile + $j); ?></td>
										
										
										<?php if(false): ?>
										<td align="center"><?php echo $prod['oznaczenie']; ?></td>
										<?php endif; ?>
										
										
										<?php if(@$_SESSION['zdjecia']):?>
										<td align="center">
										<a title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $prod['id'];?>">
										<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $prod['zdj']['img']; ?>" alt="" style="max-width:100px; max-height:100px;" /></a>
										</td>
										<?php endif; ?>
										
										
										<td>
										<a class="link" id="link<?php echo $prod['id'];?>" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $prod['id'];?>" style="width:95%; <?php if(@$_SESSION['zdjecia']): ?> height:70px; line-height:70px; <?php endif; ?> overflow:hidden;">
										<b><?php echo $prod['nazwa']; ?></b>
										</a>
										<input type="text" id="nazwa<?php echo $prod['id']; ?>" tabindex="-1" onblur=" zmianaNazwy(<?php echo $prod['id']; ?>, this, this.value != $('#link<?php echo $prod['id']; ?> b').text());" value="<?php echo ($prod['nazwa']); ?>" class="dn noprint" style="width:99%" />
										<a class="rf edit_ico noprint" id="edit<?php echo $prod['id']; ?>" href="javascript:void(0);" onclick="$(this).hide(); $('#link<?php echo $prod['id']; ?>').hide(); $('#nazwa<?php echo $prod['id'];?>').show(); $('#nazwa<?php echo $prod['id'];?>').focus();" style="position:relative;*position:absolute;font-size:10px;<?php if(@$_SESSION['zdjecia']):?>top:25px;*top:auto;<?php endif; ?>"><b>edytuj nazwę</b>
										</a>
										<?php if(@count($prod['kolory']) > 0): ?>
										<?php foreach($prod['kolory'] as $kolor): ?>
										<?php echo $kolor['nazwa'].'<br/>'; ?>
										<?php endforeach; endif; ?>
										</td>
										
										<?php if($this->sort == 'pozycja'): ?>
										<td align="center">
										<span class="ico_drag"></span>
										<form name="pozycjaaa" action="" method="post" >
                                        <input type="hidden" name="id" value="<?php echo $prod['id'];?>" />
                                        <input class="position_text" type="text" name="pozycja" style="margin: 0px auto; float:none;" value="<?php echo $prod['pozycja'];?>" />
                                        <div class="button2">
										<input title="Zapisz pozycje" type="submit" name="pozycjonuj" value="Zapisz" />
										</div>
										</form>
										</td>
										<?php endif; ?>
										
										<?php if($this->obConfig->ceny): ?>
									    <td align="center">
										<?php $cena = $this->obConfig->cenyNettoDomyslne ? 'netto' : 'brutto'; ?>
										<a id="cena<?php echo $prod['id'];?>" class="zmienLink" href="javascript:void(0);" rel="" onclick="$(this).hide(); $('#price<?php echo $prod['id']; ?>').show();">
											<?php echo number_format($prod[$cena], 2, ',', ' '); ?>
										</a>
										<input type="text" id="price<?php echo $prod['id']; ?>" tabindex="-1" onblur=" zmianaCeny(<?php echo $prod['id']; ?>, this, this.value != $('#cena<?php echo $prod['id']; ?>').text());" value="<?php echo $prod[$cena]; ?>" class="zmienLink cenaLink dn noprint" />
										</td>
										<?php endif; ?>
										
										<?php if($this->obConfig->rabatyProduktyLista): ?>
										<td align="center" class="noprint">
										<?php echo $prod['rabat'] ? $prod['rabat'].' %' : '-'; ?>
										<br/><input type="checkbox" class="rabatCheckbox" name="rabatvalue[<?php echo $prod['id'];?>]" value="<?php echo $prod['id'];?>"/>
										</td>
										<?php endif; ?>
										
										
										<?php if($this->ustawienia['stany_mag']): ?>
										<td align="center">
										<!--<form action="" method="post">-->
										<?php if($prod['rozmiarowka']['id'] > 0): ?>
										<table class="ofertaInnerTable" border="1" cellpadding="0" cellspacing="0">
										<?php $stan = 0; foreach($prod['rozmiary'] as $rozm): ?>
										<tr>
										<td><?php echo $rozm['nazwa'];
										if(!empty($rozm['wkladka'])) echo ' - '.$rozm['wkladka']; ?></td>
										<td>
										<span id="rozm<?php echo $rozm['id']; ?>" onclick="zmienStan('<?php echo $rozm['id']; ?>', '<?php echo $rozm['dostepnosc']; ?>', '<?php echo $prod['id']; ?>');">
										<?php 
										echo $rozm['dostepnosc']; 
										$stan += $rozm['dostepnosc']; 
										?>
										</span>
										</td>
										</tr>
										<?php endforeach; ?>
										<tr>
										<td align="right">Razem</td>
										<td>
										<?php echo $stan; ?>
										<input name="submitRozm" id="submitRozm<?php echo $prod['id']; ?>" type="image" src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_ok.png" style="display:none;" />
										</td>
										</tr>
										</table>
										<?php else: ?>
										<a id="ile<?php echo $prod['id']; ?>" class="zmienLink" href="javascript:void(0);" rel="" onclick="$(this).hide(); $('#stan<?php echo $prod['id']; ?>').show();">
											<?php echo $prod['dostepnosc']; ?>
										</a>
										<input type="text" id="stan<?php echo $prod['id']; ?>" tabindex="-1" onblur=" zmianaSztuk(<?php echo $prod['id']; ?>, this, this.value != $('#ile<?php echo $prod['id']; ?>').text());" value="<?php echo $prod['dostepnosc']; ?>" class="zmienLink stanLink dn noprint" />
										<?php endif; ?>
										<!--</form>-->
										</td>
										<?php endif; ?>
										
										<?php if(true): ?>
										<td align="center">
											<?php echo date('Y-m-d', strtotime($prod['data'])); ?>
										</td>
										<?php endif; ?>
										
										
										<?php if(false): ?>
										<td align="center">
											<?php if($prod['promocja'] == 1): ?>								
												<div title="Promocja" class="button2"></div>						
											<?php endif; ?>
										</td>
										<?php endif; ?>
										
										
										<?php if(false): ?>
										<td align="center"><a title="Zobacz" target="_blank" class="see_ico <?php echo $style; ?>" href="<?php echo $this->obConfig->www.'/'.$prod['link']; ?>">Zobacz</a></td>
										<?php endif; ?>
										
										
										<?php if(false): ?>
										<td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $prod['id']; ?>">Edytuj</a></td>
										<?php endif; ?>	

										
										<?php if(false): ?>
										<td align="center">
										<?php if($this->aukcje[$prod['id']]): ?> 
										<a class="see_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/aukcje/id/<?php echo $prod['id'];?>">Zobacz</a>
										<?php endif; ?>
										</td>
										<?php endif; ?>
										
										
										<?php if($this->obConfig->allegro): ?>
										
										<td align="center">
										<?php if(@count($prod['aukcje']) > 0): ?>
										<table class="ofertaInnerTable" border="0" cellpadding="0" cellspacing="0"  style="border:0 !important;">
										<tr><td style="border:0px!important;">&nbsp;</td></tr>
										<?php foreach($prod['aukcje'] as $rozm): ?>
										<?php if($rozm['wystawiono'] == null) continue; ?>
										<tr>
										<!--<td><?php echo $rozm['nazwa'].' - '.$rozm['wkladka']; ?></td>-->
										<td style="border:0px !important;">
										<?php $dni = floor(((strtotime($rozm['wystawiono'])+$rozm['na_ile']*24*3600)-time())/3600/24); ?>
										<?=$rozm['na_ile']>0?($dni>=0?$dni.' dni':''):'do wyczerp.';?>
										<br/>
										</td>
										</tr>
										<?php endforeach; ?>
										<tr><td style="border:0px!important;">&nbsp;</td></tr>
										</table>
										<?php endif; ?>
										</td>										
										
										<td align="center" class="noprint">
										<?php if(false): ?>
										<input type="checkbox" name="wystawAllegro[<?php echo $prod['id'];?>]" value="<?php echo $prod['nazwa'];?>" class="allegroCheckbox" />
										<?php endif; ?>
										<a title="Wystaw" class="allegro_ico" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/wystawprod/prodID/<?php echo $prod['id']; ?>">Wystaw</a>
										</td>
										
										<?php endif; ?>
										
										
										<?php if($this->obConfig->eBay): ?>
										
										<td align="center">
										<?php if(isset($this->ebay[$prod['id']])): ?>
										<table class="ofertaInnerTable" border="0" cellpadding="0" cellspacing="0"  style="border:0 !important;">
										<?php foreach($this->ebay[$prod['id']] as $rozm): ?>
										<?php if(!isset($rozm['ebay']) || empty($rozm['ebay'])) continue; ?>
										<tr>
										<!--<td><?php echo $rozm['nazwa'].' - '.$rozm['wkladka']; ?></td>-->
										<td>
										<?php foreach($rozm['ebay'] as $aukcja):
										echo floor((strtotime($aukcja) - time()) / 3600 / 24); ?> dni<br/>
										<?php endforeach; ?>
										</td>
										</tr>
										<?php endforeach; ?>
										</table>
										<?php endif; ?>
										</td>
										
										<td align="center" class="noprint">
										<?php if(false): ?>
										<input type="checkbox" name="wystawEBay[<?php echo $prod['id'];?>]" value="<?php echo $prod['nazwa'];?>" class="ebayCheckbox" />
										<?php endif; ?>
										<a title="Wystaw" class="ebay_ico" href="<?php echo $this->baseUrl; ?>/admin/ebayprodukt/wystawprod/prodID/<?php echo $prod['id']; ?>">Wystaw</a>
										</td>
										
										<?php endif; ?>
										
										
										<?php if($this->obConfig->offline): ?>
										<td align="center" class="noprint">
										<input type="checkbox" name="kopiujOnline[<?php echo $prod['id'];?>]" value="<?php echo $prod['nazwa'];?>" class="kopiujCheckbox" />
										<a title="Kopiuj" class="kopiuj_ico" href="<?php echo $this->baseUrl; ?>/admin/oferta/kopiujonline/prodID/<?php echo $prod['id']; ?>">Kopiuj</a>
										</td>
										<?php endif; ?>
										
										
										<?php if(false): ?>
										<td align="center">
											<?php if($prod['jedn_miary_zb_ile'] > 1): ?>
											<?php echo @$prod['jedn_miary_zb']; ?>
											(<?php echo @$prod['jedn_miary_zb_ile']; ?>
											<?php echo @$prod['jedn_miary']; ?>)
											<?php endif; ?>
										</td>
										<?php endif; ?>
										
										
										<?php if(false): ?>
										<td align="center" class="noprint"><a title="Powiel" class="add_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/oferta/powiel/id/<?php echo $prod['id']; ?>">Powiel</a></td>
										<?php endif; ?>
										
										
										<td align="center" class="noprint">
										<?php if($this->edycjazablokowana === false): ?>
										<?php if($this->idzam != null): ?>
										<a title="Dodaj do zamówienia" class="add_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wybrane/id/<?php echo $this->idzam; ?>/dod_prod/<?php echo $prod['id'];?>">Dodaj do zamówienia</a>
										<?php else: ?>
                                        <a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" class="usun_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/od/<?php echo ($this->od);?>/delid/<?php echo $prod['id'];?>">Usuń</a>
										<?php endif; ?>
										<?php endif; ?>
										</td>
										
										
										<td align="center" class="noprint">
										<input type="checkbox" name="checkbox[<?php echo $prod['id'];?>]" value="<?php echo $prod['nazwa'];?>" class="checkbox" style="float:none; margin:0px;"/>
										</td>
										
										
										<?php if($this->obConfig->polec): ?>
										<td align="center" class="noprint">
										<a title="Poleć" class="see_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/index/polec/nr/<?php echo $prod['id'];?>">Poleć</a></td>
										<?php endif; ?>
										
									</tr>
								
								<?php $j++; endforeach; ?>
							
								</tbody>
								
								<thead>
								<tr>
									<?php echo $this->render('oferta/lista_header.phtml'); ?>
								</tr>
								</thead>
								
							</table>
							
							<div class="noprint">
								<?php echo $this->render('oferta/lista_opcje.phtml'); ?>
							</div>
							
							<?php if($this->edycjazablokowana === false): ?>
                            <?php if($this->obConfig->rabatyProduktyLista): ?>
							<div id="rabaty">
							<div class="lf">
								<div class="button1">
									<a href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/rabatdel/1/" >Usuń wszystkie rabaty</a>
								</div>
							</div>
							<div class="lf">
								<div class="button1">
									<input type="submit" name="usun_rabaty" value="Usuń wybrane rabaty" />
								</div>
							</div>
							<div class="lf">
								<label class="lf"><b>Wartość rabatu:&nbsp; &nbsp;</b></label>
								<div class="input_bg_small">
									<input type="text" name="rabat" value=""/>
								</div>
								<b class="lf">%</b>
							</div>
							<div class="lf">
								<div class="button1">
									<input type="submit" name="zapisz_rabaty" value="Zapisz rabaty" />
								</div>
							</div>
							<div class="lf">
								<div class="button1">
									<a onclick="$('.rabatCheckbox').attr('checked', !$('.rabatCheckbox').first().attr('checked'));">Zaznacz / odznacz wszystkie</a>
								</div>
							</div>
							</div>
							<?php endif; ?>
							<?php endif; ?>
							
							<?php if($this->obConfig->producent): ?>
							<input type="hidden" id="producentOK" name="producent" value="" />
							<div id="producentWindow" style="display:none;">
								<select id="producent" style="width:99%;border:1px solid black;">
									<option value="0">Nie wybrano</option>
									<?php if(@count($this->producenci) > 0): ?>
									<?php foreach($this->producenci as $prod): ?>
									<option value="<?php echo $prod['id']; ?>"><?php echo $prod['nazwa']; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
								</select>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->produktyGrupy): ?>
							<input type="hidden" id="grupaOK" name="grupa" value="" />
							<div id="grupaWindow" style="display:none;">
								<select id="grupa" style="width:99%;border:1px solid black;">
									<option value="0">Nie wybrano</option>
									<?php if(@count($this->grupy) > 0): ?>
									<?php foreach($this->grupy as $grupa): ?>
									<option value="<?php echo $grupa['id']; ?>"><?php echo $grupa['nazwa']; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
								</select>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->kategorie): ?>
							<input type="hidden" id="kategorieOK" name="kategorie" value="" />
							<div id="kategorieWindow" style="display:none;">
								<?php $this->par = 'kategorieWindow'; ?>
								<?php $this->nieprzypisane = true; ?>
								<?php $this->typ = 'kategorie'; ?>
								<?php $this->glowne = $this->glowneMain; ?>
								<?php echo $this->render('const/kategorie.phtml'); ?>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->kategorieInne): ?>
							<input type="hidden" id="kategorieInneOK" name="<?php echo ($this->obConfig->kategorieInneNazwa); ?>" value="" />
							<div id="kategorieInneWindow" style="display:none;">
								<?php $this->par = 'kategorieInneWindow'; ?>
								<?php $this->nieprzypisane = true; ?>
								<?php $this->typ = $this->obConfig->kategorieInneNazwa; ?>
								<?php $this->glowne = $this->glowneInne; ?>
								<?php echo $this->render('const/kategorie.phtml'); ?>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->rabatyProdukty): ?>
							<input type="hidden" id="rabatOK" name="rabat" value="" />
							<div id="rabatyWindow" style="display:none; text-align:center;">
								<input type="text" id="rabat" value="" style="width:50%;height:20px;border:1px solid black;" /> %
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->ceny): ?>
							<input type="hidden" id="cenaOK" name="cena" value="" />
							<div id="CenyWindow" style="display:none; text-align:center;">
								<input type="text" id="cena" value="" style="width:50%; height:20px; border:1px solid black;" /> zł
							</div>
							<?php if(!$this->obConfig->tylkoDetal && !$this->obConfig->tylkoHurt): ?>
							<input type="hidden" id="cenaHurtOK" name="cena_hurt" value="" />
							<div id="CenyHurtWindow" style="display:none; text-align:center;">
								<input type="text" id="cenaHurt" value="" style="width:50%; height:20px; border:1px solid black;" /> zł
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->allegroCena): ?>
							<input type="hidden" id="cenaAllegroOK" name="cena_allegro" value="" />
							<div id="CenyAllegroWindow" style="display:none; text-align:center;">
								<input type="text" id="cenaAllegro" value="" style="width:50%; height:20px; border:1px solid black;" /> zł
							</div>
							<?php endif; ?>
							<?php endif; ?>
							<?php if($this->obConfig->jezyki): ?>
							<input type="hidden" id="langOK" name="jezyk" value="<?php echo $this->lang; ?>" />
							<div id="powielWindow" style="display:none; text-align:center;">
								<select id="lang" style="width:99%;border:1px solid black;" onchange="//var lg = 'lang_'+this.value; $(this).addClass(lg));">
									<option value="all" class="">Wszystkie oprócz aktualnego</option>
									<?php if(@count($this->langs) > 0): ?>
									<?php foreach($this->langs as $lg => $lang): ?>
									<?php if($this->lang == $lg) continue; ?>
									<option value="<?php echo $lg; ?>" class="lang_<?php echo $lg; ?>">
									<?php echo $lang['nazwa']; ?></option>
									<?php endforeach; ?>
									<?php endif; ?>
								</select>
							</div>
							<?php endif; ?>
							<?php if(true): ?>
							<input type="hidden" id="opisOK" name="opis" value="" />
							<div id="opisWindow" style="display:none; text-align:center;">
								<?php echo $this->edytor; ?>
								<!--<textarea name="tekst" id="tekst"></textarea>-->
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->allegroOpis): ?>
							<input type="hidden" id="opisAllegroOK" name="opis_allegro" value="" />
							<div id="opisAllegroWindow" style="display:none; text-align:center;">
								<?php echo $this->edytorAllegro; ?>
								<!--<textarea name="tekst_allegro" id="tekstAllegro"></textarea>-->
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->atrybuty): ?>
							<input type="hidden" id="atrybutyOK" name="atrybuty" value="" />
							<div id="atrybutWindow" style="display:none; text-align:center;">
								<?php echo $this->render('oferta/atrybuty_all.phtml'); ?>
								<script type="text/javascript">
								$('#atrybuty .del_ico, #atrybuty .add_ico').remove();
								</script>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->facebookPostProdukt): ?>
							<input type="hidden" id="facebook" name="facebook" value="" />
							<input type="hidden" id="facebook_page" name="facebook_page" value="0" />
							<div id="posty" class="dn" style="display:none;">
							<?php if(@count($this->facebookpages) > 0): ?>
							<fieldset style="float: left; padding: 5px; margin:5px; width:95%;">
							<legend style="color: #0080ff;">Wybierz stronę</legend>
							<select name="facebook" id="page" style="width:95%;" onchange="facebookSprPosty(this);">
							<?php foreach($this->facebookpages as $page): ?>
							<option value="<?php echo $page['id'];?>"><?php echo $page['nazwa'];?></option>
							<?php endforeach; ?>
							</select>
							</fieldset>
							<fieldset style="float: left; padding: 5px; margin:5px; width:95%;">
							<legend style="color: #0080ff;">Wybierz akcję</legend>
							<input type="radio" name="facebook" class="facebook" id="facebook_add" value="add" checked="checked">
							<label for="facebook_add">Dodaj / aktualizuj post(y) na wybranej stronie</label>
							<br/>
							<input type="radio" name="facebook" class="facebook" id="facebook_del" value="del">
							<label for="facebook_del">Usuń post(y) z wybranej strony</label>
							</fieldset>
							<?php endif; ?>
							</div>
							<?php endif; ?>
							
							<?php if(true && @count($this->przypisz) > 0): ?>
							<input type="hidden" id="przypisz" value="<?=@htmlspecialchars(stripslashes($this->przypisz['nazwa']));?>" />
							<?php endif; ?>
							<?php if($this->obConfig->produktyPowiazane): ?>
							<?php if(true && @count($this->powiaz) > 0): ?>
							<input type="hidden" id="powiaz" value="<?=@htmlspecialchars(stripslashes($this->powiaz['nazwa']));?>" />
							<?php endif; ?>
							<?php endif; ?>
							
							<a onclick="javascript:printOferta();" class="drukuj" style="clear:right;margin-top:10px;">
								<b>Drukuj</b>
							</a>
							
							<?php if(false): ?>
							<div class="wystaw">
							<div class="wystawCo">Usuń</div>
							<div class="selectAll">
								<input type="checkbox" onclick="$('.usunCheckbox').attr('checked', this.checked);">
								&nbsp;Zaznacz wszystko
							</div>
							<?php if($this->edycjazablokowana === false): ?>
                            <input type="submit" class="listaLink" name="usunAll" value="Usuń zaznaczone produkty" onclick="$('#wystawForm').attr('action', '<?php echo $this->baseUrl; ?>/admin/oferta/lista/usun/zazn'); return confirm('Czy napewno chcesz usunąć zaznaczone produkty ?')" />
							<?php endif; ?>
                            </div>
							<?php endif; ?>

							<?php if(false && $this->obConfig->allegro): ?>
							<div class="wystaw">
							<div class="wystawCo">Allegro</div>
							<div class="selectAll">
								<input type="checkbox" onclick="$('.allegroCheckbox').attr('checked', this.checked);">
								&nbsp;Zaznacz wszystko
							</div>
							<?php if($this->edycjazablokowana === false): ?>
                            <input type="submit" class="listaLink" name="wystawProduktyAllegro" value="Wystaw zaznaczone na Allegro" onclick="$('#wystawForm').attr('action', '<?php echo $this->baseUrl; ?>/admin/allegroprodukt/wystawprod/'); return confirm('Czy napewno chcesz wystawić zaznaczone produkty na Allegro ?')" />
							<?php endif; ?>
                            </div>
							<?php endif; ?>
							
							<?php if(false && $this->obConfig->eBay): ?>							
							<div class="wystaw">
							<div class="wystawCo">eBay</div>
							<div class="selectAll">
								<input type="checkbox" onclick="$('.ebayCheckbox').attr('checked', this.checked);">&nbsp;Zaznacz wszystko
							</div>
							<?php if($this->edycjazablokowana === false): ?>
                            <input type="submit" class="listaLink" name="wystawProduktyEbay" value="Wystaw zaznaczone na eBay" onclick="$('#wystawForm').attr('action', '<?php echo $this->baseUrl; ?>/admin/ebayprodukt/wystawprod/'); return confirm('Czy napewno chcesz wystawić zaznaczone produkty na eBay ?')" />
							<?php endif; ?>
                            </div>
							<?php endif; ?>
							
							<?php if($this->obConfig->offline): ?>
							<div class="wystaw">
							<div class="wystawCo">Offline</div>
							<div class="selectAll">
								<input type="checkbox" onclick="$('.kopiujCheckbox').attr('checked', this.checked);">&nbsp;Zaznacz wszystko
							</div>
							<?php if($this->edycjazablokowana === false): ?>
                            <input type="submit" class="listaLink" name="kopiujProduktyOnline" value="Wyślij zaznaczone produkty" onclick="$('#wystawForm').attr('action', '<?php echo $this->baseUrl; ?>/admin/oferta/kopiujonline/'); return confirm('Czy napewno chcesz skopiować zaznaczone produkty do panelu online ?')" />
							<?php endif; ?>
                            </div>
							<?php if($this->edycjazablokowana === false): ?>
                            <div class="wystaw wystawShort">
							<a class="listaLink" href="<?php echo $this->baseUrl; ?>/admin/oferta/kopiujonline/zmiana/all">Wyślij edytowane dziś (zdjęcia i tekst)</a>
							</div>
							<div class="wystaw wystawShort">
							<a class="listaLink" href="<?php echo $this->baseUrl; ?>/admin/oferta/kopiujonline/zmiana/prod">Wyślij edytowane dziś (tekst)</a>
							</div>
							<div class="wystaw wystawShort">
							<a class="listaLink" href="<?php echo $this->baseUrl; ?>/admin/oferta/kopiujonline/zmiana/img">Wyślij edytowane dziś (zdjęcia)</a>
							</div>
							<?php endif; ?>
							<?php endif; ?>
							</form>
						
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak zdefiniowanych produktów.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>