
<?php if(false): ?>
<a class="add m_linki" id="add" href="<?php echo $this->baseUrl; ?>/admin/oferta/dodaj/">Dodaj produkt</a>
<?php endif; ?>

<?php if(true): ?>
<span style="float:left; margin-top:5px;">
	<input type="checkbox" id="zdjecia" name="zdjecia" <?php if(@$_SESSION['zdjecia']) echo 'checked="checked"'; ?> onchange="window.location='<?php echo $this->baseUrl;?>/admin/oferta/lista/zdjecia/'+(this.checked?1:0);" />
	<label for="zdjecia" style="display:inline;">pokaż&nbsp;zdjęcia</label>
</span>
<?php endif; ?>

<div id="ileNaStrone">
<span>Wyświetl: </span>
<select onchange="window.location='<?php echo $this->baseUrl; ?>/admin/oferta/lista/ile/'+this.value" style="width:90px;">
	<option value="25" <?php if($this->ile==25) echo 'selected="selected"'; ?>>25</option>
	<option value="50" <?php if($this->ile==50) echo 'selected="selected"'; ?>>50</option>
	<option value="100" <?php if($this->ile==100) echo 'selected="selected"'; ?>>100</option>
	<option value="200" <?php if($this->ile==200) echo 'selected="selected"'; ?>>200</option>
	<!--<option value="99999" <?php //if($this->ile==99999) echo 'selected="selected"'; ?>>Wszystkie</option>-->
</select>
</div>

<div class="box_pager" id="stronicowanie">
	<?php echo $this->render('const/stronicowanie.phtml'); ?>
</div>

<select name="zadania<?php echo @++$this->zad;?>" class="zadania" onchange="ofertaListaOpcjeAllWiecej(this,'<?php echo $this->baseUrl; ?>');" onfocus="$(this).find('option').first().css('display','none');" onblur="$(this).find('option').first().css('display','inline');" tabindex="-1">
	<?php echo $this->render('oferta/lista_zadania.phtml'); ?>
</select>

<?php if($this->obConfig->produktyPowiazane): ?>
<?php if(@count($this->powiaz) > 0 || @count($_SESSION['powiazywane']) > 0): ?>
<a class="del m_linki" id="del" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/powiaz_koniec/1" style="float:right;">Anuluj powiązywanie</a>
<?php endif; ?>
<?php endif; ?>

<?php if($this->obConfig->produktyPozycja): ?>
<?php if($this->sort != 'pozycja'): ?>
<a class="drag m_linki" id="add" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/sort/pozycja/order/asc" style="float:right;">Ustaw kolejność</a>
<?php else: ?>
<a class="drag m_linki" id="add" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/sort/nazwa/order/asc" style="float:right;">Zakończ ustawianie</a>
<?php endif; ?>
<?php endif; ?>