<th>LP</th>
<?php if(@$_SESSION['zdjecia']):?>
<th>Miniaturka</th>
<?php endif; ?>
<?php if(false): ?>
<th><a style="color: #646464;<?php if($this->sort == 'nazwa') echo 'color:black;text-decoration:underline;'; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/oznaczenie/order/<?php echo $this->order; ?>">Kod produktu</a></th>
<?php endif; ?>
<th><a style="color: #646464;<?php if($this->sort == 'nazwa') echo 'color:black;text-decoration:underline;'; ?>" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/nazwa/order/<?php echo $this->order; ?>">Nazwa</a></th>
<?php if($this->sort == 'pozycja'): ?>
<th>Poz.</th>
<?php endif; ?>
<?php if($this->obConfig->ceny): ?>
<th>
<?php $cena = $this->obConfig->cenyNettoDomyslne ? 'netto' : 'brutto'; ?>
<div class="th" <?php if($this->sort == 'cena_'.$cena) echo 'style="color:black;text-decoration:underline;"'; ?>>
Cena<br/><?php echo $cena; ?></div>
<div class="sortRight">
<a class="sortTop" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/cena_<?php echo $cena; ?>/order/asc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_up.png" /></a>
<a class="sortBottom" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/cena_<?php echo $cena; ?>/order/desc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_down.png" /></a>
</div>
</th>
<?php endif; ?>
<?php if(false): ?>
<th><a style="color: #646464;" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/promocja/order/<?php echo $this->order; ?>">Promocja</a></th>
<?php endif; ?>
<?php if($this->obConfig->rabatyProduktyLista): ?>
<th class="noprint">Rabat</th>
<?php endif; ?>
<?php if($this->ustawienia['stany_mag']): ?>
<th>
<div class="th<?php echo $this->obConfig->tryb=='rozmiary'?'Center':'Left';?>">Stan</div>
<div class="sortRight sortAfterTHSingle">
<a class="sortTop" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/dostepnosc/order/asc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_up.png" /></a>
<a class="sortBottom" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/dostepnosc/order/desc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_down.png" /></a>
</div>
</th>
<?php endif; ?>
<?php if(true): ?>
<th>
<div class="th" <?php if($this->sort == 'data') echo 'style="color:black;text-decoration:underline;"'; ?>>
Data<br/>dodania</div>
<div class="sortRight">
<a class="sortTop" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/data/order/asc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_up.png" /></a>
<a class="sortBottom" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/data/order/desc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_down.png" /></a>
</div>
</th>
<?php endif; ?>
<?php if($this->obConfig->allegro): ?>
<th>
<div class="th">Allegro<br/>do końca</div>
<div class="sortRight">
<a class="sortTop" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/allegro_do_konca/order/asc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_up.png" /></a>
<a class="sortBottom" href="<?php echo $this->baseUrl;?>/admin/oferta/lista/sort/allegro_do_konca/order/desc">
<img src="<?php echo $this->baseUrl; ?>/public/images/admin/arrow_down.png" /></a>
</div>
</th>
<th class="noprint">Wystaw Allegro</th>
<?php endif; ?>
<?php if($this->obConfig->eBay): ?>
<th>eBay<br/>do końca</th>
<th class="noprint">Wystaw eBay</th>
<?php endif; ?>
<?php if($this->obConfig->offline): ?>
<th class="noprint">Kopiuj online</th>
<?php endif; ?>
<?php if(false): ?>
<th class="noprint">Powiel</th>
<?php endif; ?>
<th class="noprint">
<?php if($this->idzam != null): ?>
<span style="color: green">Dodaj do zamówienia</span>
<?php else: ?>Usuń<?php endif; ?>
</th>
<?php if($this->obConfig->polec): ?>
<th class="noprint">Poleć</th>
<?php endif; ?>
<th class="noprint">Zazn.<br/>
<input type="checkbox" onclick="$('.checkbox').attr('checked', this.checked);">
</th>
