
<a id="reset" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link; ?>/reset/all">Resetuj</a>

<div class="top">
	
	<div class="napis" style="margin-left:0px;">Nazwa</div>
	<input type="text" id="co" name="nazwa" value="<?php echo @htmlspecialchars(stripslashes($this->nazwa)); ?>" onfocus="//this.value='';" />
	
	<?php if($this->obConfig->symbol): ?>
	<div class="napis" style="margin-left:5px;">Symbol</div>
	<input type="text" id="kod" name="kod" value="<?php echo @htmlspecialchars(stripslashes($this->kod)); ?>" onfocus="//this.value='';" />
	<?php endif; ?>
	
	<?php if($this->obConfig->ceny): ?>
	<div class="napis" style="margin-left:22px;">Cena od</div>
	<input type="text" class="input" name="cenaOd" value="<?php echo max(0, $this->szukanie->cena_od); ?>" onfocus="//this.value='';" style="width:100px;" />
	<div class="napis" style="margin-left:18px;">Cena do</div>
	<input type="text" class="input" name="cenaDo" value="<?php echo max(0, $this->szukanie->cena_do); ?>" onfocus="//this.value='';" style="width:100px;" />
	<?php endif; ?>
	
</div>

<?php if($this->obConfig->produktyGrupy || $this->obConfig->producent || $this->obConfig->tryb == 'rozmiary' || $this->obConfig->kolory): ?>
<div class="top">
	
	<?php if($this->obConfig->produktyGrupy): ?>
	<div class="napis" style="margin-left:0px;">Grupa</div>
	<select name="grupa" class="select" style="width:170px;" onchange="$('#szukaj').click();">
		<option value="all">Wszystkie</option>
		<option value="0" <?php if($this->szukanie->grupa==='0') echo 'selected="selected"';?>>Bez grupy</option>
		<?php if(count($this->grupy) > 0): ?>
		<?php foreach($this->grupy as $grupa): ?>
		<option value="<?php echo $grupa['id']; ?>" <?php if($this->szukanie->grupa==$grupa['id']) echo 'selected="selected"';?>><?php echo $grupa['nazwa']; ?></option>
		<?php endforeach; ?>
		<?php endif; ?>
	</select>
	<?php else: ?>
	<div class="napis" style="width:235px;">&nbsp;</div>
	<?php endif; ?>
	
	<?php if($this->obConfig->producent): ?>
	<div class="napis" style="margin-left:5px;">Producent</div>
	<select name="prod" class="select" style="width:125px;" onchange="$('#szukaj').click();">
		<option value="all">Wszyscy</option>
		<option value="0" <?php if($this->szukanie->producent==='0') echo 'selected="selected"';?>>- Bez producenta -</option>
		<?php foreach($this->producenci as $prod): ?>
		<option value="<?php echo $prod['id']; ?>" <?php if($this->szukanie->producent==$prod['id']) echo 'selected="selected"';?>><?php echo $prod['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<?php else: ?>
	<div class="napis" style="width:200px;">&nbsp;</div>
	<?php endif; ?>
	
	<?php if($this->obConfig->tryb == 'rozmiary'): ?>
	<div class="napis" style="margin-left:5px;">Rozmiar</div>
	<select name="rozmiar" class="select" style="width:125px;" onchange="$('#szukaj').click();">
		<option value="all">Wszystkie</option>
		<?php foreach($this->rozmiary as $rozm): ?>
		<option value="<?php echo $rozm['nazwa']; ?>" <?php if($this->szukanie->rozmiar==$rozm['nazwa']) echo 'selected="selected"';?>><?php echo $rozm['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<?php else: ?>
	<div class="napis" style="width:198px;">&nbsp;</div>
	<?php endif; ?>
	
	<?php if($this->obConfig->kolory): ?>
	<div class="napis" style="margin-left:0px;">Kolor</div>
	<select name="kolor" class="select" style="width:125px;" onchange="$('#szukaj').click();">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->kolory as $kolor): ?>
		<option value="<?php echo $kolor['id']; ?>" <?php if($this->szukanie->kolor==$kolor['id']) echo 'selected="selected"';?>><?php echo $kolor['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<?php endif; ?>
	
</div>
<?php endif; ?>

<?php if($this->obConfig->kategorie): ?>
<div class="bottom">
	<div class="napis">Kategoria</div>
	<select name="kateg" class="select" style="width:170px;" id="pierwszykategorie" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', 'kategorie', true);">
		<option value="-1">Wszystkie</option>
		<option value="-2" <?php if($this->szukanie->katMain==-2)echo'selected="selected"';?>>-Nieprzypisane-</option>
		<?php foreach($this->katMain as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->katMain==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<div class="napis" style="margin-left:5px;">Podkateg. 1 </div>
	<select name="podkat1" class="select" style="width:125px;" id="drugikategorie" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', 'kategorie', true);">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->podkat1 as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->podkat1==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<div class="napis" style="margin-left:5px;">Podkateg. 2 </div>
	<select name="podkat2" class="select" style="width:125px;" id="trzecikategorie" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', 'kategorie', true);">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->podkat2 as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->podkat2==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<div class="napis" style="margin-left:0px;">Podkateg. 3 </div>
	<select name="podkat3" class="select" style="width:125px;" id="czwartykategorie">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->podkat3 as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->podkat3==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
</div>
<?php endif; ?>

<?php if($this->obConfig->kategorieInne): ?>
<div class="bottom">
	<?php $typ = $this->obConfig->kategorieInneNazwa; ?>
	<div class="napis"><?php echo ucfirst($typ); ?></div>
	<select name="katInne" class="select" style="width:170px;" id="pierwszy<?php echo $typ;?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $typ;?>', true);">
		<option value="-1">Wszystkie</option>
		<option value="-2" <?php if($this->szukanie->katInne==-2)echo'selected="selected"';?>>-Nieprzypisane-</option>
		<?php foreach($this->katInne as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->katInne==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<div class="napis" style="margin-left:5px;"><?php echo ucfirst($typ);?> 1 </div>
	<select name="katInne1" class="select" style="width:125px;" id="drugi<?php echo $typ;?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $typ;?>', true);">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->katInne1 as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->katInne1==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<div class="napis" style="margin-left:5px;"><?php echo ucfirst($typ);?> 2 </div>
	<select name="katInne2" class="select" style="width:125px;" id="trzeci<?php echo $typ;?>" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $typ;?>', true);">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->katInne2 as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->katInne2==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
	<div class="napis" style="margin-left:0px;"><?php echo ucfirst($typ);?> 3 </div>
	<select name="katInne3" class="select" style="width:125px;" id="czwarty<?php echo $typ;?>">
		<option value="-1">Wszystkie</option>
		<?php foreach($this->katInne3 as $kateg): ?>
		<option value="<?php echo $kateg['id']; ?>" <?php if($this->szukanie->katInne3==$kateg['id']) echo 'selected="selected"';?>><?php echo $kateg['nazwa']; ?></option>
		<?php endforeach; ?>
	</select>
</div>
<?php endif; ?>

<input type="submit" id="szukaj" name="szukaj" value="Szukaj" />
