<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end" style="color:black;">Lista miniatur</span>	
	</div>
	<div class="container2">	

		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Miniatury dla produktów</h2>
		</div>
		<div class="content2">
			<div class="all_container" style="padding:0px;">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow) || !empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product2">
		              <?= $this->render('const/stronicowanie.phtml'); ?>
					<?php if(!empty($this->realizacje)): ?>						
						
						<form id="wystawForm" action="" method="post" style="float:left; width:100%;">
						
						<table class="foto_box padding" id="ofertaTable" cellpadding="0" cellspacing="0">
							<thead>
							<tr>
								<th>L.p.</th>
                                <th>Miniatura</th>
                                <th>Nazwa zdjęcia</th>
                                <th>Nazwa produktu</th>
                                <th>Zaznacz</th>
							</tr>
							</thead>
							<tbody>
							<?php $j = 1; foreach($this->realizacje as $prod): ?>
							
								<?php if($j % 2 == -1): $style='silver'; else: $style='white'; endif; ?>
							
								<tr class="<?php echo $style; ?>" id="rowPos_<?php echo $prod['id'];?>">
									<td align="center"><?= $j; ?></td>
									<td align="center">
									  <img style="width: 100px;" src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/<?php echo $prod['img']; ?>" alt="" width="100" border="0" />
									</td>
                                    <td><?= $prod['img']; ?></td> 
                                    <td><?= $prod['nazwaproduktu']; ?></td> 
									<td align="center" class="noprint">
									  <input class="rabatCheckbox" type="checkbox" name="checkbox[<?php echo $prod['id'];?>]" value="<?php echo $prod['img'];?>" class="checkbox" style="float:none; margin:0px;"/>
									</td>
								</tr>
							
							<?php $j++; endforeach; ?>
						
							</tbody>
						</table>
						
						<?php if($this->edycjazablokowana === false): ?>
                        <br />
						<div class="lf">
							<div class="button1">
								<input type="submit" name="miniatury" value="Stwórz miniatury" />
							</div>
						</div>
                        <div class="lf">&nbsp;&nbsp;</div>
						<div class="lf">
							<div class="button1">
								<a onclick="$('.rabatCheckbox').attr('checked', !$('.rabatCheckbox').first().attr('checked'));">Zaznacz / odznacz wszystkie</a>
							</div>
						</div>
                       	<?php endif; ?>
						</form>
					
					<?php else: ?>
					
						<div class="info_empty">Brak zdjęć bez stworzonych miniaturek.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>