
<div class="error_info rf" style="text-align: right">
	pola oznaczone <b>kolorem czerwonym</b> są wymagane<br />
	pola oznaczone <b>kolorem czerwonym i gwiazdką</b> są wymagane przy publikacji w otoMoto
</div>

<div class="tytul-sekcji">
	<label>Typ ogłoszenia: </label>
</div>
<?php if(!$this->nowe && @!empty($this->otoMotoID)): ?>

<?php if(strtoupper($this->dane['pojazd_typ'])=='CAR')echo'<span style="font-size:14px;">osobowe</span>';?>
<?php if(strtoupper($this->dane['pojazd_typ'])=='TRUCK')echo'<span style="font-size:14px;">dostawcze/ciężarowe</span>';?>
<?php if(strtoupper($this->dane['pojazd_typ'])=='MOTORBIKE')echo'<span style="font-size:14px;">motocykle</span>';?>

<?php else: ?>

<a href="<?php echo $this->baseUrl ?>/admin/oferta/edytuj/id/<?php echo $this->id; ?>/otoMotoTyp/car" rel="">
<span style="font-size:14px; <?php if(strtoupper($this->dane['pojazd_typ'])=='CAR') echo ' font-weight: bold;';?>">
osobowe</span>
</a>
&nbsp;&nbsp;
<a href="<?php echo $this->baseUrl ?>/admin/oferta/edytuj/id/<?php echo $this->id; ?>/otoMotoTyp/truck">
<span style="font-size:14px; <?php if(strtoupper($this->dane['pojazd_typ'])=='TRUCK') echo ' font-weight: bold;';?>">
ciężarowe/dostawcze</span>
</a>
&nbsp;&nbsp;
<a href="<?php echo $this->baseUrl ?>/admin/oferta/edytuj/id/<?php echo $this->id; ?>/otoMotoTyp/motorbike">
<span style="font-size:14px; <?php if(strtoupper($this->dane['pojazd_typ'])=='MOTORBIKE') echo ' font-weight: bold;';?>">
motocykle</span>
</a>

<?php endif; ?>

<input id="typ-strony" type="hidden" value="edycja" />
<input id="TYP-PODSTRONY" type="hidden" value="edycja<?php //echo @$this->typ_podstrony; ?>" />
<input id="ID-OGLOSZENIA" type="hidden" name="data[pojazd_id_ogloszenia]" value="<?php echo @$this->dane['pojazd_id_ogloszenia']; ?>" />

<input id="i_pojazd_typ" type="hidden" value="<?php echo $this->dane['pojazd_typ'] ?>" name="data[pojazd_typ]" />

<div class="nowy-wiersz">
	<div class="pole-formularza" style="padding: 10px 0;">
		<label>Opublikuj w Otomoto:</label>
		<div class="input_bg check" style="width: 250px; !important;">
			<input type="hidden" name="wystawOtoMoto" value="" />
			<input id="widoczny_otomoto" type="checkbox" name="wystawOtoMoto" 
			<?php if(@!empty($this->dane['pojazd_id_ogloszenia'])) echo 'checked="checked"'; ?>
			<?php if($this->serwisNiedostepny == true) echo 'disabled = "disabled"'; ?> />
			<?php if($this->serwisNiedostepny == true) echo 'Serwis Otomoto jest w tej chwili niedostępny.'; ?>
		</div>
	</div>
	<div id="INFORACJE-OTOMOTO-UZYTK" style="float:right; width:320px; font-size:13px; padding:10px 0; text-align:right;">
		<!--<label>&nbsp;</label>-->
		<div id="LICZBA-WOLNYCH-OGLOSZEN"></div>
	</div>
</div>
<div id="INFORACJE-OTOMOTO" style="float: right; width: 240px; visibility: hidden;">
	Status: <span id="STATUS-OGLOSZENIA"></span>&nbsp;&nbsp;<a id="ZMIEN-STATUS-OGLOSZENIA" href="#" title=""></a>&nbsp;&nbsp;<a id="PRZEDLUZ-OGLOSZENIE" href="#" title=""><img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/przedluz.png" alt="przedłuż" /></a><br />
	<span id="CZAS-WYG-OGLOSZENIA" style="clear: both;"></span><br />
	Podgląd: <a style="" target="_blank" id="PODGLAD-OGLOSZENIA"></a><br />
</div>

<?php if(strtoupper($this->dane['pojazd_typ']) == 'CAR'): ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dane pojazdu:</label>
	</div>
	<div class="pole-formularza">
		<label class="required">Marka*:</label>
		<div class="input_bg" style="text-align: justify">
			<select id="s_pojazd_marka" name="data[pojazd_marka_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['marki'])): ?>
					<?php foreach($this->dane_z_otomoto['marki'] as $marka): ?>
						<option <?php echo ($this->dane['pojazd_marka_id'] == $marka->id)?' selected="selected" ':'';?> value="<?php echo $marka->id ?>"><?php echo $marka->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Nie można zmienić tego pola kiedy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>

	<div class="pole-formularza">
		<label class="required">Model*:</label>
		<div class="input_bg" style="text-align: justify">
			<select id="s_pojazd_model" name="data[pojazd_model_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['modele'])): ?>
					<?php foreach($this->dane_z_otomoto['modele'] as $model): ?>
						<option <?php echo ($this->dane['pojazd_model_id'] == $model->id)?' selected="selected" ':'';?>  value="<?php echo $model->id ?>"><?php echo $model->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Nie można zmienić tego pola kiedy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>

	<div class="pole-formularza">
		<label class="required">Wersja*:</label>
		<div class="input_bg">
			<select id="s_pojazd_wersja" name="data[pojazd_wersja_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['wersje'])): ?>
					<?php foreach($this->dane_z_otomoto['wersje'] as $wersja): ?>
						<option <?php echo ($this->dane['pojazd_wersja_id'] == $wersja->id)?' selected="selected" ':'';?> value="<?php echo $wersja->id ?>"><?php echo $wersja->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
		<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Wersja jest wymagana gdy model pojazdu posiada ją."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
	</div>

	<div class="pole-formularza">
		<label>Dodatkowy opis modelu:</label>
		<div class="input_bg">
			<input id="i_pojazd_dod_opis_model" maxlength="100" value="<?php echo (isset($this->dane['pojazd_dod_opis_model']))? $this->dane['pojazd_dod_opis_model']: '';?>" name="data[pojazd_dod_opis_model]">
		</div>
		<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Tego pola nie można edytować, gdy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
	</div>
	<div class="pole-formularza">
		<label class="required">Rok produkcji*:</label>
		<div class="input_bg">
			<select id="s_pojazd_rok_produkcji" name="data[pojazd_rok_produkcji]">
				<option value="-1">-- wybierz --</option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=$aktualny_rok; $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_rok_produkcji'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label class="required">Typ*:</label>
		<div class="input_bg">
			<select id="s_pojazd_typ_nadwozia" name="data[pojazd_typ_nadwozia_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['typ_nadwozia'])): ?>
					<?php foreach($this->dane_z_otomoto['typ_nadwozia'] as $typ_nadwozia): ?>
						<option <?php echo ($this->dane['pojazd_typ_nadwozia_key'] == $typ_nadwozia->key)?' selected="selected" ':'';?> value="<?php echo $typ_nadwozia->key ?>"><?php echo $typ_nadwozia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Gdy pole zostanie wybrane niezgodnie ze stanem faktycznym, może to spowodować wyświetlenie komunikatu błędu: 'Nieprawidłowa marka pojazdu'"><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Rodzaj paliwa:</label>
		<div class="input_bg">
			<select id="s_pojazd_rodzaj_paliwa" name="data[pojazd_rodzaj_paliwa_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['rodzaj_paliwa'])): ?>
					<?php foreach($this->dane_z_otomoto['rodzaj_paliwa'] as $rodzaj_paliwa): ?>
						<option <?php echo ($this->dane['pojazd_rodzaj_paliwa_key'] == $rodzaj_paliwa->key)?' selected="selected" ':'';?> value="<?php echo $rodzaj_paliwa->key ?>"><?php echo $rodzaj_paliwa->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Skrzynia biegów:</label>
		<div class="input_bg">
			<select id="s_pojazd_skrzynia_biegow" name="data[pojazd_skrzynia_biegow_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['skrzynia_biegow'])): ?>
					<?php foreach($this->dane_z_otomoto['skrzynia_biegow'] as $skrzynia_biegow): ?>
						<option <?php echo ($this->dane['pojazd_skrzynia_biegow_key'] == $skrzynia_biegow->key)?' selected="selected" ':'';?> value="<?php echo $skrzynia_biegow->key ?>"><?php echo $skrzynia_biegow->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Liczba drzwi:</label>
		<div class="input_bg">
			<select id="s_pojazd_liczba_drzwi" name="data[pojazd_liczba_drzwi]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_liczba_drzwi'] == '2/3')?' selected="selected" ':'';?> value="2/3">2/3</option>
				<option <?php echo ($this->dane['pojazd_liczba_drzwi'] == '4/5')?' selected="selected" ':'';?> value="4/5">4/5</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Pojemność skokowa (cm<sup>3</sup>):</label>
		<div style="width: 100px !important" class="input_bg">
			<input style="float: left;" id="i_pojazd_poj_skokowa" maxlength="8" value="<?php echo (isset($this->dane['pojazd_poj_skokowa']))? $this->dane['pojazd_poj_skokowa']: '';?>" name="data[pojazd_poj_skokowa]">
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Moc:</label>
		<div class="input_bg">
			<input id="i_pojazd_moc" style="width: 100px !important;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_moc']))? $this->dane['pojazd_moc']: '';?>" name="data[pojazd_moc]">
			<select id="s_pojazd_jedn_mocy" style="width: 50px !important;" name="data[pojazd_jedn_mocy]">
				<option <?php echo ($this->dane['pojazd_jedn_mocy'] == 'PS')?' selected="selected" ':'';?> value="PS">KM</option>
				<option <?php echo ($this->dane['pojazd_jedn_mocy'] == 'kW')?' selected="selected" ':'';?> value="kW">KW</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>VIN - numer ident. pojazdu:</label>
		<div class="input_bg">
			<input id="i_pojazd_vin" maxlength="17" value="<?php echo (isset($this->dane['pojazd_vin']))? $this->dane['pojazd_vin']: '';?>" name="data[pojazd_vin]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kolor:</label>
		<div class="input_bg">
			<select id="s_pojazd_kolor" name="data[pojazd_kolor_key]">
				<option value="0">-- inny --</option>
				<?php if(!empty($this->dane_z_otomoto['kolor'])): ?>
					<?php foreach($this->dane_z_otomoto['kolor'] as $kolor): ?>
						<option <?php echo ($this->dane['pojazd_kolor_key'] == $kolor->key)?' selected="selected" ':'';?> value="<?php echo $kolor->key ?>"><?php echo $kolor->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Metalik:</label>
		<div class="input_bg">
			<input id="ch_pojazd_metalik" type="checkbox" <?php echo ($this->dane['pojazd_metalik'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_metalik]" />
		</div>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dodatkowe wyposażenie:</label>
	</div>
	<div id="dodatkowe_wyposaz_box">
		<div style="float: left;" style="100%">
			<?php $i=1; if(!empty($this->dane_z_otomoto['dod_wyposaz'])): ?>
				<?php foreach($this->dane_z_otomoto['dod_wyposaz'] as $wyposaz): ?>
					<div style="float: left; width: 163px;">
						<input style="float:left;display:block;width:10px;" id="ch_poj_dod_wyposaz_<?php echo $wyposaz->key;?>" type="checkbox" <?php if(@$this->otoMotoDodWyposaz[$i]==$wyposaz->key)echo'checked="checked"';?> value="<?php echo $wyposaz->key ?>" name="data_dod_wyposaz[<?php echo $i; ?>]" />
						<label style="float: right; display: block; width: 145px; padding: 0; margin: 0;" for="ch_poj_dod_wyposaz_<?php echo $wyposaz->key; ?>"><?php echo $wyposaz->name ?></label><br />
					</div>
					<?php ++$i; ?>
				<?php endforeach; ?>
			<?php endif; ?>
			<input type="hidden" value="<?php echo $i; ?>" name="liczba_wsz_dod_wyposaz" />
		</div>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Informacje dotyczące użytkowania i stanu pojazdu:</label>
	</div>
	<div class="pole-formularza">
		<label class="required">Stan techniczny*:</label>
		<div class="input_bg">
			<select id="s_pojazd_stan_techniczny" name="data[pojazd_stan_techniczny]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_stan_techniczny'] == 'new')?' selected="selected" ':'';?> value="new">nowy</option>
				<option <?php echo ($this->dane['pojazd_stan_techniczny'] == 'undamaged')?' selected="selected" ':'';?> value="undamaged">niezniszczony</option>
				<option <?php echo ($this->dane['pojazd_stan_techniczny'] == 'damaged')?' selected="selected" ':'';?> value="damaged">zniszczony</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Przebieg w km:</label>
		<div class="input_bg">
			<input id="i_pojazd_przebieg" maxlength="10" value="<?php echo (isset($this->dane['pojazd_przebieg']))? $this->dane['pojazd_przebieg']: '';?>" name="data[pojazd_przebieg]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Przegląd (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_przeglad_miesiac" name="data[pojazd_przeglad_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_przeglad_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_przeglad_rok" name="data[pojazd_przeglad_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=($aktualny_rok+2); $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_przeglad_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Ubezpieczenie OC (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_ubezp_oc_miesiac" name="data[pojazd_ubezp_oc_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_ubezp_oc_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_ubezp_oc_rok" name="data[pojazd_ubezp_oc_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=($aktualny_rok+2); $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_ubezp_oc_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kraj pochodzenia:</label>
		<div class="input_bg">
			<select id="s_pojazd_kraj_pochodzenia" name="data[pojazd_kraj_pochodzenia_id]">
				<option value="-1">-- wybierz --</option>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['czeste_kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['czeste_kraje'] as $kraj_pochodzenia): ?>
						<option <?php echo ($this->dane['pojazd_kraj_pochodzenia_id'] == $kraj_pochodzenia->id)?' selected="selected" ':'';?> value="<?php echo $kraj_pochodzenia->id ?>"><?php echo $kraj_pochodzenia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['kraje'] as $kraj_pochodzenia): ?>
						<option <?php echo ($this->dane['pojazd_kraj_pochodzenia_id'] == $kraj_pochodzenia->id)?' selected="selected" ':'';?> value="<?php echo $kraj_pochodzenia->id ?>"><?php echo $kraj_pochodzenia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Kraj aktualnej rejestracji:</label>
		<div class="input_bg">
			<select id="s_pojazd_kraj_akt_rej" name="data[pojazd_kraj_akt_rej_id]">
				<option value="-1">-- wybierz --</option>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['czeste_kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['czeste_kraje'] as $kraj_akt_rej): ?>
						<option <?php echo ($this->dane['pojazd_kraj_akt_rej_id'] == $kraj_akt_rej->id)?' selected="selected" ':'';?> value="<?php echo $kraj_akt_rej->id ?>"><?php echo $kraj_akt_rej->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['kraje'] as $kraj_akt_rej): ?>
						<option <?php echo ($this->dane['pojazd_kraj_akt_rej_id'] == $kraj_akt_rej->id)?' selected="selected" ':'';?> value="<?php echo $kraj_akt_rej->id ?>"><?php echo $kraj_akt_rej->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Status pojazdu sprowadzonego:</label>
		<div class="input_bg">
			<select id="s_pojazd_stat_poj_sprow" name="data[pojazd_stat_poj_sprow_id]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '1')?' selected="selected" ':'';?> value="1">do sprowadzenia</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '2')?' selected="selected" ':'';?> value="2">sprowadzony/nieopłacony</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '3')?' selected="selected" ':'';?> value="3">przygotowany do rejestracji/opłacony</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '4')?' selected="selected" ':'';?> value="4">sprowadzony zarejestrowany</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Pierwsza rej. (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_pierw_rej_miesiac" name="data[pojazd_pierw_rej_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_pierw_rej_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_pierw_rej_rok" name="data[pojazd_pierw_rej_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=$aktualny_rok; $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_pierw_rej_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div id="dodatkowe_info_box">
		<div style="float: left;" style="100%">
			<?php $i=1; if(!empty($this->dane_z_otomoto['dod_info'])): ?>
				<?php foreach($this->dane_z_otomoto['dod_info'] as $info): ?>
					<div style="float: left; width: 163px;">
						<input style="float:left;display:block;width:10px;" id="ch_poj_dod_info_<?php echo $info->key;?>" type="checkbox" <?php if(@$this->otoMotoDodInfo[$i] == $info->key) echo ' checked="checked"';?> 	value="<?php echo $info->key ?>" name="data_dod_info[<?php echo $i; ?>]" />
						<label style="float: right; display: block; width: 145px; padding: 0; margin: 0;" for="ch_poj_dod_info_<?php echo $info->key; ?>"><?php echo $info->name ?></label><br />
					</div>
					<?php ++$i; ?>
				<?php endforeach; ?>
			<?php endif; ?>
			<input type="hidden" value="<?php echo $i; ?>" name="liczba_wsz_dod_info" />
		</div>
	</div>
</div>
<?php if(false): ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Opis pojazdu:</label>
	</div>
	<input type="hidden" value="" name="skrot" />
	<div class="textarea_bg w1" style="padding-left: 60px;">
		<div>
			<?php echo $this->edytor; ?>
		</div>
	</div>
</div>
<?php endif; ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Cena pojazdu:</label>
	</div>
	<div class="pole-formularza" style="width: 250px !important;">
		<label class="required">Cena*:</label>
		<div class="input_bg" style="width: 250px !important;">
			<input id="i_pojazd_cena" style="width: 100px !important;" maxlength="11" value="<?php echo (isset($this->dane['pojazd_cena']))? $this->dane['pojazd_cena']: '';?>" name="data[pojazd_cena]">
			<select id="s_pojazd_typ_ceny" style="width: 70px !important;" name="data[pojazd_typ_ceny]">
				<option <?php echo ($this->dane['pojazd_typ_ceny'] == 'brutto')?' selected="selected" ':'';?> value="brutto">brutto</option>
				<option <?php echo ($this->dane['pojazd_typ_ceny'] == 'netto')?' selected="selected" ':'';?> value="netto">netto</option>
			</select>
			<select id="s_pojazd_waluta" style="width: 55px !important;" name="data[pojazd_waluta]">
				<option value="-1">-- wybierz --</option>
				<?php $waluta_wybrana = false; ?>
				<?php if(!empty($this->dane_z_otomoto['waluty'])): ?>
					<?php $liczba_walut = count($this->dane_z_otomoto['waluty']); ?>
					<?php for($i=0; $i<$liczba_walut; $i++): ?>
							<option <?php if(($this->dane['pojazd_waluta'] == $this->dane_z_otomoto['waluty'][$i]) || ($this->dane_z_otomoto['waluty'][$i] == 'PLN' && $waluta_wybrana !== true)) { $waluta_wybrana = true; echo ' selected="selected" ';} ?> value="<?php echo $this->dane_z_otomoto['waluty'][$i] ?>"><?php echo $this->dane_z_otomoto['waluty'][$i] ?></option>
					<?php endfor; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Cena do negocjacji:</label>
		<div class="input_bg">
			<input id="ch_pojazd_do_negocjacji" type="checkbox" <?php echo ($this->dane['pojazd_do_negocjacji'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_do_negocjacji]" />
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wystawiam fakturę VAT:</label>
		<div class="input_bg">
			<input id="ch_pojazd_wystawiam_f_vat" type="checkbox" <?php echo ($this->dane['pojazd_wystawiam_f_vat'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_wystawiam_f_vat]" />
		</div>
	</div>
	<div class="pole-formularza" style="width: 70px !important;">
		<label>Leasing:</label>
		<div class="input_bg" style="width: 70px !important;">
			<input id="ch_pojazd_w_leasingu" type="checkbox" <?php echo ($this->dane['pojazd_w_leasingu'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_w_leasingu]" />
		</div>
	</div>
	<div class="pole-formularza">
		<label>Możliwość kredytowania:</label>
		<div class="input_bg">
			<input id="ch_pojazd_mozliwosc_kredytowania" type="checkbox" <?php echo ($this->dane['pojazd_mozliwosc_kredytowania'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_mozliwosc_kredytowania]" />
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Kwota odstępnego:</label>
		<div class="input_bg">
			<input id="i_pojazd_kwota_odstepnego" style="width: 95px !important;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_kwota_odstepnego']))? $this->dane['pojazd_kwota_odstepnego']: '';?>" name="data[pojazd_kwota_odstepnego]">
			<select id="s_pojazd_waluta_odstepnego" style="width: 55px !important;" name="data[pojazd_waluta_odstepnego]">
				<option value="-1">-- wybierz --</option>
				<?php $waluta_wybrana = false; ?>
				<?php if(!empty($this->dane_z_otomoto['waluty'])): ?>
					<?php $liczba_walut = count($this->dane_z_otomoto['waluty']); ?>
					<?php for($i=0; $i<$liczba_walut; $i++): ?>
							<option <?php if(($this->dane['pojazd_waluta_odstepnego'] == $this->dane_z_otomoto['waluty'][$i]) || ($this->dane_z_otomoto['waluty'][$i] == 'PLN' && $waluta_wybrana !== true)) { $waluta_wybrana = true; echo ' selected="selected" ';} ?> value="<?php echo $this->dane_z_otomoto['waluty'][$i] ?>"><?php echo $this->dane_z_otomoto['waluty'][$i] ?></option>
					<?php endfor; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wysokość raty:</label>
		<div class="input_bg">
			<input id="i_pojazd_wysokosc_raty" maxlength="10" value="<?php echo (isset($this->dane['pojazd_wysokosc_raty']))? $this->dane['pojazd_wysokosc_raty']: '';?>" name="data[pojazd_wysokosc_raty]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Ilość pozostałych rat:</label>
		<div class="input_bg">
			<input id="i_pojazd_ilosc_pozos_rat" maxlength="4" value="<?php echo (isset($this->dane['pojazd_ilosc_pozos_rat']))? $this->dane['pojazd_ilosc_pozos_rat']: '';?>" name="data[pojazd_ilosc_pozos_rat]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wartość wykupu:</label>
		<div class="input_bg">
			<input id="i_pojazd_wartosc_wykupu" maxlength="10" value="<?php echo (isset($this->dane['pojazd_wartosc_wykupu']))? $this->dane['pojazd_wartosc_wykupu']: '';?>" name="data[pojazd_wartosc_wykupu]">
		</div>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Zgoda na publikacje ogłoszenia w innych serwisach:</label>
	</div>
	<div>
		<input id="ch_pojazd_publ_w_serw_zagr" type="checkbox" <?php echo ($this->dane['pojazd_publ_w_serw_zagr'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_publ_w_serw_zagr]" />
		<label for="ch_pojazd_publ_w_serw_zagr">Zgoda na publikację w serwisach zagranicznych:</label>
	</div>
	<div>
		<input id="ch_pojazd_publ_w_tablica_pl" type="checkbox" <?php echo ($this->dane['pojazd_publ_w_tablica_pl'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_publ_w_tablica_pl]" />
		<label for="ch_pojazd_publ_w_tablica_pl">Chcę również dodać darmowe ogłoszenie w serwisie tablica.pl:</label>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label class="required">Kategoria allegro*:</label>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_II" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_II_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_II'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_II'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_II_id'] == $kategoria->id)?' selected="selected" ':$this->dane['pojazd_kategoria_allegro_II_id'];?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_III" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_III_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_III'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_III'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_III_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_IV" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_IV_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_IV'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_IV'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_IV_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="allegro-stopka-kategorie">
		<label for="num-wybr-kat-allegro">Numer wybranej kategorii: </label><input id="num-wybr-kat-allegro" maxlength="11" value="<?php echo (isset($this->dane['pojazd_num_wybr_kat_allegro']))? $this->dane['pojazd_num_wybr_kat_allegro']: '';?>" name="data[pojazd_num_wybr_kat_allegro]">
	</div>
</div>
<?php elseif(strtoupper($this->dane['pojazd_typ']) == 'TRUCK'): ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dane pojazdu:</label>
	</div>
	<div class="pole-formularza">
		<label class="required">Typ*:</label>
		<div class="input_bg">
			<select id="s_pojazd_typ_nadwozia" name="data[pojazd_typ_nadwozia_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['typ_nadwozia'])): ?>
					<?php foreach($this->dane_z_otomoto['typ_nadwozia'] as $typ_nadwozia): ?>
						<option <?php echo ($this->dane['pojazd_typ_nadwozia_key'] == $typ_nadwozia->key)?' selected="selected" ':'';?> value="<?php echo $typ_nadwozia->key ?>"><?php echo $typ_nadwozia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Gdy pole zostanie wybrane niezgodnie ze stanem faktycznym, może to spowodować wyświetlenie komunikatu błędu: 'Nieprawidłowa marka pojazdu'"><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>
	<div class="pole-formularza">
		<label class="required">Marka*:</label>
		<div class="input_bg" style="text-align: justify">
			<select id="s_pojazd_marka" name="data[pojazd_marka_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['marki'])): ?>
					<?php foreach($this->dane_z_otomoto['marki'] as $marka): ?>
						<option <?php echo ($this->dane['pojazd_marka_id'] == $marka->id)?' selected="selected" ':'';?> value="<?php echo $marka->id ?>"><?php echo $marka->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Nie można zmienić tego pola kiedy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>

	<!--<div class="pole-formularza">
		<label class="required">Model*:</label>
		<div class="input_bg" style="text-align: justify">
			<select id="s_pojazd_model" name="data[pojazd_model_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['modele'])): ?>
					<?php foreach($this->dane_z_otomoto['modele'] as $model): ?>
						<option <?php echo ($this->dane['pojazd_model_id'] == $model->id)?' selected="selected" ':'';?>  value="<?php echo $model->id ?>"><?php echo $model->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Nie można zmienić tego pola kiedy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>-->
	<div class="pole-formularza">
		<label class="required">Model*:</label>
		<div class="input_bg">
			<input id="i_pojazd_model_nazwa_wl" maxlength="40" value="<?php echo (isset($this->dane['pojazd_model_nazwa_wl']))? $this->dane['pojazd_model_nazwa_wl']: '';?>" name="data[pojazd_model_nazwa_wl]">
		</div>
	</div>
	<div class="pole-formularza">
		<label class="required">Rok produkcji*:</label>
		<div class="input_bg">
			<select id="s_pojazd_rok_produkcji" name="data[pojazd_rok_produkcji]">
				<option value="-1">-- wybierz --</option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=$aktualny_rok; $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_rok_produkcji'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Pojazd uszkodzony*:</label>
		<div class="input_bg">
			<!--<select id="s_pojazd_uszkodzony" name="data[pojazd_uszkodzony]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_uszkodzony'] == 'y')?' selected="selected" ':'';?> value="y">Tak</option>
				<option <?php echo ($this->dane['pojazd_uszkodzony'] == 'n')?' selected="selected" ':'';?> value="n">Nie</option>
			</select>-->
			<input id="ch_pojazd_uszkodzony" type="checkbox" <?php echo ($this->dane['pojazd_uszkodzony'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_uszkodzony]" />
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Ładowność w kg:</label>
		<div class="input_bg" style="width: 155px;">
			<input id="i_pojazd_ladowalnosc" style="float: left; width: 145px;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_ladowalnosc']))? $this->dane['pojazd_ladowalnosc']: '';?>" name="data[pojazd_ladowalnosc]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Pojemność skokowa (cm<sup>3</sup>):</label>
		<div style="width: 100px !important" class="input_bg">
			<input style="float: left;" id="i_pojazd_poj_skokowa" maxlength="8" value="<?php echo (isset($this->dane['pojazd_poj_skokowa']))? $this->dane['pojazd_poj_skokowa']: '';?>" name="data[pojazd_poj_skokowa]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Moc:</label>
		<div class="input_bg">
			<input id="i_pojazd_moc" style="width: 100px !important;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_moc']))? $this->dane['pojazd_moc']: '';?>" name="data[pojazd_moc]">
			<select id="s_pojazd_jedn_mocy" style="width: 50px !important;" name="data[pojazd_jedn_mocy]">
				<option <?php echo ($this->dane['pojazd_jedn_mocy'] == 'PS')?' selected="selected" ':'';?> value="PS">KM</option>
				<option <?php echo ($this->dane['pojazd_jedn_mocy'] == 'kW')?' selected="selected" ':'';?> value="kW">KW</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Przebieg w km:</label>
		<div class="input_bg">
			<input id="i_pojazd_przebieg" maxlength="10" value="<?php echo (isset($this->dane['pojazd_przebieg']))? $this->dane['pojazd_przebieg']: '';?>" name="data[pojazd_przebieg]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Rodzaj paliwa:</label>
		<div class="input_bg">
			<select id="s_pojazd_rodzaj_paliwa" name="data[pojazd_rodzaj_paliwa_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['rodzaj_paliwa'])): ?>
					<?php foreach($this->dane_z_otomoto['rodzaj_paliwa'] as $rodzaj_paliwa): ?>
						<option <?php echo ($this->dane['pojazd_rodzaj_paliwa_key'] == $rodzaj_paliwa->key)?' selected="selected" ':'';?> value="<?php echo $rodzaj_paliwa->key ?>"><?php echo $rodzaj_paliwa->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Liczba osi:</label>
		<div class="input_bg">
			<!--<input id="i_pojazd_liczba_osi" maxlength="10" value="<?php echo (isset($this->dane['pojazd_liczba_osi']))? $this->dane['pojazd_liczba_osi']: '';?>" name="data[pojazd_liczba_osi]">-->
			<select id="s_pojazd_liczba_osi" name="data[pojazd_liczba_osi]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_liczba_osi'] == '1')?' selected="selected" ':'';?> value="1">1</option>
				<option <?php echo ($this->dane['pojazd_liczba_osi'] == '2')?' selected="selected" ':'';?> value="2">2</option>
				<option <?php echo ($this->dane['pojazd_liczba_osi'] == '3')?' selected="selected" ':'';?> value="3">3</option>
				<option <?php echo ($this->dane['pojazd_liczba_osi'] == '4')?' selected="selected" ':'';?> value="4">4</option>
				<option <?php echo ($this->dane['pojazd_liczba_osi'] == '5')?' selected="selected" ':'';?> value="5">5</option>
				<option <?php echo ($this->dane['pojazd_liczba_osi'] == '6')?' selected="selected" ':'';?> value="6">6</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Przegląd (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_przeglad_miesiac" name="data[pojazd_przeglad_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_przeglad_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_przeglad_rok" name="data[pojazd_przeglad_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=($aktualny_rok+2); $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_przeglad_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Ubezpieczenie OC (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_ubezp_oc_miesiac" name="data[pojazd_ubezp_oc_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_ubezp_oc_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_ubezp_oc_rok" name="data[pojazd_ubezp_oc_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=($aktualny_rok+2); $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_ubezp_oc_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kraj pochodzenia:</label>
		<div class="input_bg">
			<select id="s_pojazd_kraj_pochodzenia" name="data[pojazd_kraj_pochodzenia_id]">
				<option value="-1">-- wybierz --</option>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['czeste_kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['czeste_kraje'] as $kraj_pochodzenia): ?>
						<option <?php echo ($this->dane['pojazd_kraj_pochodzenia_id'] == $kraj_pochodzenia->id)?' selected="selected" ':'';?> value="<?php echo $kraj_pochodzenia->id ?>"><?php echo $kraj_pochodzenia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['kraje'] as $kraj_pochodzenia): ?>
						<option <?php echo ($this->dane['pojazd_kraj_pochodzenia_id'] == $kraj_pochodzenia->id)?' selected="selected" ':'';?> value="<?php echo $kraj_pochodzenia->id ?>"><?php echo $kraj_pochodzenia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kraj aktualnej rejestracji:</label>
		<div class="input_bg">
			<select id="s_pojazd_kraj_akt_rej" name="data[pojazd_kraj_akt_rej_id]">
				<option value="-1">-- wybierz --</option>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['czeste_kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['czeste_kraje'] as $kraj_akt_rej): ?>
						<option <?php echo ($this->dane['pojazd_kraj_akt_rej_id'] == $kraj_akt_rej->id)?' selected="selected" ':'';?> value="<?php echo $kraj_akt_rej->id ?>"><?php echo $kraj_akt_rej->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['kraje'] as $kraj_akt_rej): ?>
						<option <?php echo ($this->dane['pojazd_kraj_akt_rej_id'] == $kraj_akt_rej->id)?' selected="selected" ':'';?> value="<?php echo $kraj_akt_rej->id ?>"><?php echo $kraj_akt_rej->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label></label>
		<div class="input_bg"></div>
	</div>
	<div class="pole-formularza">
		<label></label>
		<div class="input_bg"></div>
	</div>
	<div class="pole-formularza">
		<label></label>
		<div class="input_bg"></div>
	</div>
	<div class="pole-formularza">
		<label>Status pojazdu sprowadzonego:</label>
		<div class="input_bg">
			<select id="s_pojazd_stat_poj_sprow" name="data[pojazd_stat_poj_sprow_id]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '1')?' selected="selected" ':'';?> value="1">do sprowadzenia</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '2')?' selected="selected" ':'';?> value="2">sprowadzony/nieopłacony</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '3')?' selected="selected" ':'';?> value="3">przygotowany do rejestracji/opłacony</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '4')?' selected="selected" ':'';?> value="4">sprowadzony zarejestrowany</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Pierwsza rej. (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_pierw_rej_miesiac" name="data[pojazd_pierw_rej_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_pierw_rej_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_pierw_rej_rok" name="data[pojazd_pierw_rej_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=$aktualny_rok; $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_pierw_rej_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>VIN - numer ident. pojazdu:</label>
		<div class="input_bg">
			<input id="i_pojazd_vin" maxlength="17" value="<?php echo (isset($this->dane['pojazd_vin']))? $this->dane['pojazd_vin']: '';?>" name="data[pojazd_vin]">
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Kolor:</label>
		<div class="input_bg">
			<select id="s_pojazd_kolor" name="data[pojazd_kolor_key]">
				<option value="0">-- inny --</option>
				<?php if(!empty($this->dane_z_otomoto['kolor'])): ?>
					<?php foreach($this->dane_z_otomoto['kolor'] as $kolor): ?>
						<option <?php echo ($this->dane['pojazd_kolor_key'] == $kolor->key)?' selected="selected" ':'';?> value="<?php echo $kolor->key ?>"><?php echo $kolor->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Metalik:</label>
		<div class="input_bg">
			<input id="ch_pojazd_metalik" type="checkbox" <?php echo ($this->dane['pojazd_metalik'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_metalik]" />
		</div>
	</div>

</div>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dodatkowe informacje:</label>
	</div>
	<div id="dodatkowe_info_box">
		<div style="float: left;" style="100%">
			<?php $i=1; if(!empty($this->dane_z_otomoto['dod_info'])): ?>
				<?php foreach($this->dane_z_otomoto['dod_info'] as $info): ?>
					<div style="float: left; width: 163px;">
						<input style="float:left;display:block;width:10px;" id="ch_poj_dod_info_<?php echo $info->key;?>" type="checkbox" <?php if(@$this->otoMotoDodInfo[$i] == $info->key) echo ' checked="checked"';?> 	value="<?php echo $info->key ?>" name="data_dod_info[<?php echo $i; ?>]" />	<label style="float: right; display: block; width: 145px; padding: 0; margin: 0;" for="ch_poj_dod_info_<?php echo $info->key; ?>"><?php echo $info->name ?></label><br />
					</div>
					<?php ++$i; ?>
				<?php endforeach; ?>
			<?php endif; ?>
			<input type="hidden" value="<?php echo $i; ?>" name="liczba_wsz_dod_info" />
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dodatkowe wyposażenie:</label>
	</div>
	<div id="dodatkowe_wyposaz_box">
		<div style="float: left;" style="100%">
			<?php $i=1; if(!empty($this->dane_z_otomoto['dod_wyposaz'])): ?>
				<?php foreach($this->dane_z_otomoto['dod_wyposaz'] as $wyposaz): ?>
					<div style="float: left; width: 163px;">
						<input style="float:left;display:block;width:10px;" id="ch_poj_dod_wyposaz_<?php echo $wyposaz->key;?>" type="checkbox" <?php if(@$this->otoMotoDodWyposaz[$i]==$wyposaz->key)echo'checked="checked"';?> value="<?php echo $wyposaz->key ?>" name="data_dod_wyposaz[<?php echo $i; ?>]" />
						<label style="float: right; display: block; width: 145px; padding: 0; margin: 0;" for="ch_poj_dod_wyposaz_<?php echo $wyposaz->key; ?>"><?php echo $wyposaz->name ?></label><br />
					</div>
					<?php ++$i; ?>
				<?php endforeach; ?>
			<?php endif; ?>
			<input type="hidden" value="<?php echo $i; ?>" name="liczba_wsz_dod_wyposaz" />
		</div>
	</div>
</div>
<?php if(false): ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Opis pojazdu:</label>
	</div>
	<input type="hidden" value="" name="skrot" />
	<div class="textarea_bg w1" style="width: 800px;">
		<?php echo $this->edytor; ?>
	</div>
</div>
<?php endif; ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Cena pojazdu:</label>
	</div>
	<div class="pole-formularza" style="width: 250px !important;">
		<label class="required">Cena*:</label>
		<div class="input_bg" style="width: 250px !important;">
			<input id="i_pojazd_cena" style="width: 100px !important;" maxlength="11" value="<?php echo (isset($this->dane['pojazd_cena']))? $this->dane['pojazd_cena']: '';?>" name="data[pojazd_cena]">
			<select id="s_pojazd_typ_ceny" style="width: 70px !important;" name="data[pojazd_typ_ceny]">
				<option <?php echo ($this->dane['pojazd_typ_ceny'] == 'brutto')?' selected="selected" ':'';?> value="brutto">brutto</option>
				<option <?php echo ($this->dane['pojazd_typ_ceny'] == 'netto')?' selected="selected" ':'';?> value="netto">netto</option>
			</select>
			<select id="s_pojazd_waluta" style="width: 55px !important;" name="data[pojazd_waluta]">
				<option value="-1">-- wybierz --</option>
				<?php $waluta_wybrana = false; ?>
				<?php if(!empty($this->dane_z_otomoto['waluty'])): ?>
					<?php $liczba_walut = count($this->dane_z_otomoto['waluty']); ?>
					<?php for($i=0; $i<$liczba_walut; $i++): ?>
							<option <?php if(($this->dane['pojazd_waluta'] == $this->dane_z_otomoto['waluty'][$i]) || ($this->dane_z_otomoto['waluty'][$i] == 'PLN' && $waluta_wybrana !== true)) { $waluta_wybrana = true; echo ' selected="selected" ';} ?> value="<?php echo $this->dane_z_otomoto['waluty'][$i] ?>"><?php echo $this->dane_z_otomoto['waluty'][$i] ?></option>
					<?php endfor; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Cena do negocjacji:</label>
		<div class="input_bg">
			<input id="ch_pojazd_do_negocjacji" type="checkbox" <?php echo ($this->dane['pojazd_do_negocjacji'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_do_negocjacji]" />
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wystawiam fakturę VAT:</label>
		<div class="input_bg">
			<input id="ch_pojazd_wystawiam_f_vat" type="checkbox" <?php echo ($this->dane['pojazd_wystawiam_f_vat'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_wystawiam_f_vat]" />
		</div>
	</div>
	<div class="pole-formularza" style="width: 70px !important;">
		<label>Leasing:</label>
		<div class="input_bg" style="width: 70px !important;">
			<input id="ch_pojazd_w_leasingu" type="checkbox" <?php echo ($this->dane['pojazd_w_leasingu'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_w_leasingu]" />
		</div>
	</div>
	<div class="pole-formularza">
		<label>Możliwość kredytowania:</label>
		<div class="input_bg">
			<input id="ch_pojazd_mozliwosc_kredytowania" type="checkbox" <?php echo ($this->dane['pojazd_mozliwosc_kredytowania'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_mozliwosc_kredytowania]" />
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Kwota odstępnego:</label>
		<div class="input_bg">
			<input id="i_pojazd_kwota_odstepnego" style="width: 95px !important;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_kwota_odstepnego']))? $this->dane['pojazd_kwota_odstepnego']: '';?>" name="data[pojazd_kwota_odstepnego]">
			<select id="s_pojazd_waluta" style="width: 55px !important;" name="data[pojazd_waluta_odstepnego]">
				<option value="-1">-- wybierz --</option>
				<?php $waluta_wybrana = false; ?>
				<?php if(!empty($this->dane_z_otomoto['waluty'])): ?>
					<?php $liczba_walut = count($this->dane_z_otomoto['waluty']); ?>
					<?php for($i=0; $i<$liczba_walut; $i++): ?>
							<option <?php if(($this->dane['pojazd_waluta_odstepnego'] == $this->dane_z_otomoto['waluty'][$i]) || ($this->dane_z_otomoto['waluty'][$i] == 'PLN' && $waluta_wybrana !== true)) { $waluta_wybrana = true; echo ' selected="selected" ';} ?> value="<?php echo $this->dane_z_otomoto['waluty'][$i] ?>"><?php echo $this->dane_z_otomoto['waluty'][$i] ?></option>
					<?php endfor; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wysokość raty:</label>
		<div class="input_bg">
			<input id="i_pojazd_wysokosc_raty" maxlength="10" value="<?php echo (isset($this->dane['pojazd_wysokosc_raty']))? $this->dane['pojazd_wysokosc_raty']: '';?>" name="data[pojazd_wysokosc_raty]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Ilość pozostałych rat:</label>
		<div class="input_bg">
			<input id="i_pojazd_ilosc_pozos_rat" maxlength="4" value="<?php echo (isset($this->dane['pojazd_ilosc_pozos_rat']))? $this->dane['pojazd_ilosc_pozos_rat']: '';?>" name="data[pojazd_ilosc_pozos_rat]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wartość wykupu:</label>
		<div class="input_bg">
			<input id="i_pojazd_wartosc_wykupu" maxlength="10" value="<?php echo (isset($this->dane['pojazd_wartosc_wykupu']))? $this->dane['pojazd_wartosc_wykupu']: '';?>" name="data[pojazd_wartosc_wykupu]">
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Zgoda na publikacje ogłoszenia w innych serwisach:</label>
	</div>
	<div>
		<input id="ch_pojazd_publ_w_serw_zagr" type="checkbox" <?php echo ($this->dane['pojazd_publ_w_serw_zagr'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_publ_w_serw_zagr]" />
		<label for="ch_pojazd_publ_w_serw_zagr">Zgoda na publikację w serwisach zagranicznych:</label>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label class="required">Kategoria allegro*:</label>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_II" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_II_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_II'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_II'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_II_id'] == $kategoria->id)?' selected="selected" ':$this->dane['pojazd_kategoria_allegro_II_id'];?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_III" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_III_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_III'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_III'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_III_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_IV" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_IV_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_IV'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_IV'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_IV_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="allegro-stopka-kategorie">
		<label for="num-wybr-kat-allegro">Numer wybranej kategorii: </label><input id="num-wybr-kat-allegro" maxlength="11" value="<?php echo (isset($this->dane['pojazd_num_wybr_kat_allegro']))? $this->dane['pojazd_num_wybr_kat_allegro']: '';?>" name="data[pojazd_num_wybr_kat_allegro]">
	</div>
</div>
<?php elseif(strtoupper($this->dane['pojazd_typ']) == 'MOTORBIKE'): ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dane pojazdu:</label>
	</div>
	<div class="pole-formularza">
		<label class="required">Marka*:</label>
		<div class="input_bg" style="text-align: justify">
			<select id="s_pojazd_marka" name="data[pojazd_marka_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['marki'])): ?>
					<?php foreach($this->dane_z_otomoto['marki'] as $marka): ?>
						<option <?php echo ($this->dane['pojazd_marka_id'] == $marka->id)?' selected="selected" ':'';?> value="<?php echo $marka->id ?>"><?php echo $marka->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Nie można zmienić tego pola kiedy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>
	<div class="pole-formularza">
		<label class="required">Model*:</label>
		<div class="input_bg" style="text-align: justify">
			<select id="s_pojazd_model" name="data[pojazd_model_id]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['modele'])): ?>
					<?php foreach($this->dane_z_otomoto['modele'] as $model): ?>
						<option <?php echo ($this->dane['pojazd_model_id'] == $model->id)?' selected="selected" ':'';?>  value="<?php echo $model->id ?>"><?php echo $model->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Nie można zmienić tego pola kiedy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Dodatkowy opis modelu:</label>
		<div class="input_bg">
			<input id="i_pojazd_dod_opis_model" maxlength="100" value="<?php echo (isset($this->dane['pojazd_dod_opis_model']))? $this->dane['pojazd_dod_opis_model']: '';?>" name="data[pojazd_dod_opis_model]">
		</div>
		<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Tego pola nie można edytować, gdy ogłoszenie jest opublikowane w Otomoto."><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
	</div>
	<div class="pole-formularza">
		<label class="required">Typ*:</label>
		<div class="input_bg">
			<select id="s_pojazd_typ_nadwozia" name="data[pojazd_typ_nadwozia_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['typ_nadwozia'])): ?>
					<?php foreach($this->dane_z_otomoto['typ_nadwozia'] as $typ_nadwozia): ?>
						<option <?php echo ($this->dane['pojazd_typ_nadwozia_key'] == $typ_nadwozia->key)?' selected="selected" ':'';?> value="<?php echo $typ_nadwozia->key ?>"><?php echo $typ_nadwozia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
			<div style="float: right; margin-left: 17px; padding-top: 2px;"><a class="uwaga-informacja" href="#" title="Gdy pole zostanie wybrane niezgodnie ze stanem faktycznym, może to spowodować wyświetlenie komunikatu błędu: 'Nieprawidłowa marka pojazdu'"><img src="<?php echo $this->baseUrl ?>/public/images/admin/ikony/info.png" alt="" /></a></div>
		</div>
	</div>
	<div class="pole-formularza">
		<label class="required">Rok produkcji*:</label>
		<div class="input_bg">
			<select id="s_pojazd_rok_produkcji" name="data[pojazd_rok_produkcji]">
				<option value="-1">-- wybierz --</option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=$aktualny_rok; $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_rok_produkcji'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Pojazd uszkodzony*:</label>
		<div class="input_bg">
			<input id="ch_pojazd_uszkodzony" type="checkbox" <?php echo ($this->dane['pojazd_uszkodzony'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_uszkodzony]" />
		</div>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Pojemność skokowa (cm<sup>3</sup>):</label>
		<div style="width: 100px !important" class="input_bg">
			<input style="float: left;" id="i_pojazd_poj_skokowa" maxlength="8" value="<?php echo (isset($this->dane['pojazd_poj_skokowa']))? $this->dane['pojazd_poj_skokowa']: '';?>" name="data[pojazd_poj_skokowa]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Moc:</label>
		<div class="input_bg">
			<input id="i_pojazd_moc" style="width: 100px !important;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_moc']))? $this->dane['pojazd_moc']: '';?>" name="data[pojazd_moc]">
			<select id="s_pojazd_jedn_mocy" style="width: 50px !important;" name="data[pojazd_jedn_mocy]">
				<option <?php echo ($this->dane['pojazd_jedn_mocy'] == 'PS')?' selected="selected" ':'';?> value="PS">KM</option>
				<option <?php echo ($this->dane['pojazd_jedn_mocy'] == 'kW')?' selected="selected" ':'';?> value="kW">KW</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Przebieg w km:</label>
		<div class="input_bg">
			<input id="i_pojazd_przebieg" maxlength="10" value="<?php echo (isset($this->dane['pojazd_przebieg']))? $this->dane['pojazd_przebieg']: '';?>" name="data[pojazd_przebieg]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Rodzaj paliwa:</label>
		<div class="input_bg">
			<select id="s_pojazd_rodzaj_paliwa" name="data[pojazd_rodzaj_paliwa_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['rodzaj_paliwa'])): ?>
					<?php foreach($this->dane_z_otomoto['rodzaj_paliwa'] as $rodzaj_paliwa): ?>
						<option <?php echo ($this->dane['pojazd_rodzaj_paliwa_key'] == $rodzaj_paliwa->key)?' selected="selected" ':'';?> value="<?php echo $rodzaj_paliwa->key ?>"><?php echo $rodzaj_paliwa->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Rodzaj napędu:</label>
		<div class="input_bg">
			<select id="s_pojazd_rodzaj_napedu" name="data[pojazd_rodzaj_napedu_key]">
				<option value="-1">-- wybierz --</option>
				<?php if(!empty($this->dane_z_otomoto['rodzaj_napedu'])): ?>
					<?php foreach($this->dane_z_otomoto['rodzaj_napedu'] as $rodzaj_napedu): ?>
						<option <?php echo ($this->dane['pojazd_rodzaj_napedu_key'] == $rodzaj_napedu->key)?' selected="selected" ':'';?> value="<?php echo $rodzaj_napedu->key ?>"><?php echo $rodzaj_napedu->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Przegląd (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_przeglad_miesiac" name="data[pojazd_przeglad_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_przeglad_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_przeglad_rok" name="data[pojazd_przeglad_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=($aktualny_rok+2); $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_przeglad_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Ubezpieczenie OC (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_ubezp_oc_miesiac" name="data[pojazd_ubezp_oc_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_ubezp_oc_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_ubezp_oc_rok" name="data[pojazd_ubezp_oc_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=($aktualny_rok+2); $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_ubezp_oc_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kraj pochodzenia:</label>
		<div class="input_bg">
			<select id="s_pojazd_kraj_pochodzenia" name="data[pojazd_kraj_pochodzenia_id]">
				<option value="-1">-- wybierz --</option>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['czeste_kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['czeste_kraje'] as $kraj_pochodzenia): ?>
						<option <?php echo ($this->dane['pojazd_kraj_pochodzenia_id'] == $kraj_pochodzenia->id)?' selected="selected" ':'';?> value="<?php echo $kraj_pochodzenia->id ?>"><?php echo $kraj_pochodzenia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['kraje'] as $kraj_pochodzenia): ?>
						<option <?php echo ($this->dane['pojazd_kraj_pochodzenia_id'] == $kraj_pochodzenia->id)?' selected="selected" ':'';?> value="<?php echo $kraj_pochodzenia->id ?>"><?php echo $kraj_pochodzenia->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kraj aktualnej rejestracji:</label>
		<div class="input_bg">
			<select id="s_pojazd_kraj_akt_rej" name="data[pojazd_kraj_akt_rej_id]">
				<option value="-1">-- wybierz --</option>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['czeste_kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['czeste_kraje'] as $kraj_akt_rej): ?>
						<option <?php echo ($this->dane['pojazd_kraj_akt_rej_id'] == $kraj_akt_rej->id)?' selected="selected" ':'';?> value="<?php echo $kraj_akt_rej->id ?>"><?php echo $kraj_akt_rej->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				</optgroup>
				<optgroup label="------------------------">
				<?php if(!empty($this->dane_z_otomoto['kraje'])): ?>
					<?php foreach($this->dane_z_otomoto['kraje'] as $kraj_akt_rej): ?>
						<option <?php echo ($this->dane['pojazd_kraj_akt_rej_id'] == $kraj_akt_rej->id)?' selected="selected" ':'';?> value="<?php echo $kraj_akt_rej->id ?>"><?php echo $kraj_akt_rej->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Status pojazdu sprowadzonego:</label>
		<div class="input_bg">
			<select id="s_pojazd_stat_poj_sprow" name="data[pojazd_stat_poj_sprow_id]">
				<option value="-1">-- wybierz --</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '1')?' selected="selected" ':'';?> value="1">do sprowadzenia</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '2')?' selected="selected" ':'';?> value="2">sprowadzony/nieopłacony</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '3')?' selected="selected" ':'';?> value="3">przygotowany do rejestracji/opłacony</option>
				<option <?php echo ($this->dane['pojazd_stat_poj_sprow_id'] == '4')?' selected="selected" ':'';?> value="4">sprowadzony zarejestrowany</option>
			</select>
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label></label>
		<div class="input_bg"></div>
	</div>
	<div class="pole-formularza">
		<label></label>
		<div class="input_bg"></div>
	</div>
	<div class="pole-formularza">
		<label>Pierwsza rej. (MM/RRRR):</label>
		<div class="input_bg">
			<select style="width: 50px !important;" id="s_pojazd_pierw_rej_miesiac" name="data[pojazd_pierw_rej_miesiac]">
				<option value="-1"></option>
				<?php for($i=1; $i<=12; $i++): ?>
					<option <?php echo ($this->dane['pojazd_pierw_rej_miesiac'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
			<select style="width: 107px !important;" id="s_pojazd_pierw_rej_rok" name="data[pojazd_pierw_rej_rok]">
				<option value="-1"></option>
				<?php $aktualny_rok = date('Y'); ?>
				<?php for($i=$aktualny_rok; $i>1900; $i--): ?>
					<option <?php echo ($this->dane['pojazd_pierw_rej_rok'] == $i)?' selected="selected" ':'';?> value="<?php echo $i; ?>"><?php echo $i; ?></option>
				<?php endfor; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Kolor:</label>
		<div class="input_bg">
			<select id="s_pojazd_kolor" name="data[pojazd_kolor_key]">
				<option value="0">-- inny --</option>
				<?php if(!empty($this->dane_z_otomoto['kolor'])): ?>
					<?php foreach($this->dane_z_otomoto['kolor'] as $kolor): ?>
						<option <?php echo ($this->dane['pojazd_kolor_key'] == $kolor->key)?' selected="selected" ':'';?> value="<?php echo $kolor->key ?>"><?php echo $kolor->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Metalik:</label>
		<div class="input_bg">
			<input id="ch_pojazd_metalik" type="checkbox" <?php echo ($this->dane['pojazd_metalik'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_metalik]" />
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>VIN - numer ident. pojazdu:</label>
		<div class="input_bg">
			<input id="i_pojazd_vin" maxlength="17" value="<?php echo (isset($this->dane['pojazd_vin']))? $this->dane['pojazd_vin']: '';?>" name="data[pojazd_vin]">
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Dodatkowe informacje:</label>
	</div>
	<div id="dodatkowe_info_box">
		<div style="float: left;" style="100%">
			<?php $i=1; if(!empty($this->dane_z_otomoto['dod_info'])): ?>
				<?php foreach($this->dane_z_otomoto['dod_info'] as $info): ?>
					<div style="float: left; width: 163px;">
						<input style="float:left;display:block;width:10px;" id="ch_poj_dod_info_<?php echo $info->key;?>" type="checkbox" <?php if(@$this->otoMotoDodInfo[$i] == $info->key) echo ' checked="checked"';?> 	value="<?php echo $info->key ?>" name="data_dod_info[<?php echo $i; ?>]" />	<label style="float: right; display: block; width: 145px; padding: 0; margin: 0;" for="ch_poj_dod_info_<?php echo $info->key; ?>"><?php echo $info->name ?></label><br />
					</div>
					<?php ++$i; ?>
				<?php endforeach; ?>
			<?php endif; ?>
			<input type="hidden" value="<?php echo $i; ?>" name="liczba_wsz_dod_info" />
		</div>
	</div>
</div>
<?php if(false): ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Opis pojazdu:</label>
	</div>
	<input type="hidden" value="" name="skrot" />
	<div class="textarea_bg w1" style="width: 800px;">
		<?php echo $this->edytor; ?>
	</div>
</div>
<?php endif; ?>
<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Cena pojazdu:</label>
	</div>
	<div class="pole-formularza" style="width: 250px !important;">
		<label class="required">Cena*:</label>
		<div class="input_bg" style="width: 250px !important;">
			<input id="i_pojazd_cena" style="width: 100px !important;" maxlength="11" value="<?php echo (isset($this->dane['pojazd_cena']))? $this->dane['pojazd_cena']: '';?>" name="data[pojazd_cena]">
			<select id="s_pojazd_typ_ceny" style="width: 70px !important;" name="data[pojazd_typ_ceny]">
				<option <?php echo ($this->dane['pojazd_typ_ceny'] == 'brutto')?' selected="selected" ':'';?> value="brutto">brutto</option>
				<option <?php echo ($this->dane['pojazd_typ_ceny'] == 'netto')?' selected="selected" ':'';?> value="netto">netto</option>
			</select>
			<select id="s_pojazd_waluta" style="width: 55px !important;" name="data[pojazd_waluta]">
				<option value="-1">-- wybierz --</option>
				<?php $waluta_wybrana = false; ?>
				<?php if(!empty($this->dane_z_otomoto['waluty'])): ?>
					<?php $liczba_walut = count($this->dane_z_otomoto['waluty']); ?>
					<?php for($i=0; $i<$liczba_walut; $i++): ?>
							<option <?php if(($this->dane['pojazd_waluta'] == $this->dane_z_otomoto['waluty'][$i]) || ($this->dane_z_otomoto['waluty'][$i] == 'PLN' && $waluta_wybrana !== true)) { $waluta_wybrana = true; echo ' selected="selected" ';} ?> value="<?php echo $this->dane_z_otomoto['waluty'][$i] ?>"><?php echo $this->dane_z_otomoto['waluty'][$i] ?></option>
					<?php endfor; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Cena do negocjacji:</label>
		<div class="input_bg">
			<input id="ch_pojazd_do_negocjacji" type="checkbox" <?php echo ($this->dane['pojazd_do_negocjacji'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_do_negocjacji]" />
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wystawiam fakturę VAT:</label>
		<div class="input_bg">
			<input id="ch_pojazd_wystawiam_f_vat" type="checkbox" <?php echo ($this->dane['pojazd_wystawiam_f_vat'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_wystawiam_f_vat]" />
		</div>
	</div>
	<div class="pole-formularza" style="width: 70px !important;">
		<label>Leasing:</label>
		<div class="input_bg" style="width: 70px !important;">
			<input id="ch_pojazd_w_leasingu" type="checkbox" <?php echo ($this->dane['pojazd_w_leasingu'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_w_leasingu]" />
		</div>
	</div>
	<div class="pole-formularza">
		<label>Możliwość kredytowania:</label>
		<div class="input_bg">
			<input id="ch_pojazd_mozliwosc_kredytowania" type="checkbox" <?php echo ($this->dane['pojazd_mozliwosc_kredytowania'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_mozliwosc_kredytowania]" />
		</div>
	</div>
</div>
<div class="nowy-wiersz">
	<div class="pole-formularza">
		<label>Kwota odstępnego:</label>
		<div class="input_bg">
			<input id="i_pojazd_kwota_odstepnego" style="width: 95px !important;" maxlength="10" value="<?php echo (isset($this->dane['pojazd_kwota_odstepnego']))? $this->dane['pojazd_kwota_odstepnego']: '';?>" name="data[pojazd_kwota_odstepnego]">
			<select id="s_pojazd_waluta" style="width: 55px !important;" name="data[pojazd_waluta_odstepnego]">
				<option value="-1">-- wybierz --</option>
				<?php $waluta_wybrana = false; ?>
				<?php if(!empty($this->dane_z_otomoto['waluty'])): ?>
					<?php $liczba_walut = count($this->dane_z_otomoto['waluty']); ?>
					<?php for($i=0; $i<$liczba_walut; $i++): ?>
							<option <?php if(($this->dane['pojazd_waluta_odstepnego'] == $this->dane_z_otomoto['waluty'][$i]) || ($this->dane_z_otomoto['waluty'][$i] == 'PLN' && $waluta_wybrana !== true)) { $waluta_wybrana = true; echo ' selected="selected" ';} ?> value="<?php echo $this->dane_z_otomoto['waluty'][$i] ?>"><?php echo $this->dane_z_otomoto['waluty'][$i] ?></option>
					<?php endfor; ?>
				<?php endif; ?>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wysokość raty:</label>
		<div class="input_bg">
			<input id="i_pojazd_wysokosc_raty" maxlength="10" value="<?php echo (isset($this->dane['pojazd_wysokosc_raty']))? $this->dane['pojazd_wysokosc_raty']: '';?>" name="data[pojazd_wysokosc_raty]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Ilość pozostałych rat:</label>
		<div class="input_bg">
			<input id="i_pojazd_ilosc_pozos_rat" maxlength="4" value="<?php echo (isset($this->dane['pojazd_ilosc_pozos_rat']))? $this->dane['pojazd_ilosc_pozos_rat']: '';?>" name="data[pojazd_ilosc_pozos_rat]">
		</div>
	</div>
	<div class="pole-formularza">
		<label>Wartość wykupu:</label>
		<div class="input_bg">
			<input id="i_pojazd_wartosc_wykupu" maxlength="10" value="<?php echo (isset($this->dane['pojazd_wartosc_wykupu']))? $this->dane['pojazd_wartosc_wykupu']: '';?>" name="data[pojazd_wartosc_wykupu]">
		</div>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label>Zgoda na publikacje ogłoszenia w innych serwisach:</label>
	</div>
	<div>
		<input id="ch_pojazd_publ_w_serw_zagr" type="checkbox" <?php echo ($this->dane['pojazd_publ_w_serw_zagr'] == 'y')?' checked="checked" ':'';?> value="y" name="data[pojazd_publ_w_serw_zagr]" />
		<label for="ch_pojazd_publ_w_serw_zagr">Zgoda na publikację w serwisach zagranicznych:</label>
	</div>
</div>

<div class="nowy-wiersz">
	<div class="tytul-sekcji">
		<label class="required">Kategoria allegro*:</label>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_II" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_II_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_II'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_II'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_II_id'] == $kategoria->id)?' selected="selected" ':$this->dane['pojazd_kategoria_allegro_II_id'];?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_III" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_III_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_III'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_III'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_III_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="pole-formularza">
		<div class="input_bg">
			<select id="s_pojazd_kategoria_allegro_IV" style="height: 160px !important;" size="10" name="data[pojazd_kategoria_allegro_IV_id]">
				<?php if(!empty($this->dane_z_otomoto['kategorie_allegro_IV'])): ?>
					<?php foreach($this->dane_z_otomoto['kategorie_allegro_IV'] as $kategoria): ?>
						<option <?php echo ($this->dane['pojazd_kategoria_allegro_IV_id'] == $kategoria->id)?' selected="selected" ':'';?> value="<?php echo $kategoria->id ?>"><?php echo $kategoria->name ?></option>
					<?php endforeach; ?>
				<?php endif; ?>
				<option value="-1">------------------------</option>
			</select>
		</div>
	</div>
	<div class="allegro-stopka-kategorie">
		<label for="num-wybr-kat-allegro">Numer wybranej kategorii: </label><input id="num-wybr-kat-allegro" maxlength="11" value="<?php echo (isset($this->dane['pojazd_num_wybr_kat_allegro']))? $this->dane['pojazd_num_wybr_kat_allegro']: '';?>" name="data[pojazd_num_wybr_kat_allegro]">
	</div>
</div>
<?php endif; ?>
<input type="hidden" name="data[zrodlo]" value=""/>