<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Produkty powiązane</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Produkty powiązane</h2>
		</div>
		<div class="box_link_navi">
                    <a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?= $this->produkt->id; ?>/">Wróc do produktu</a>

			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/dodaj/">Dodaj produkt</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj produktami powiązanymi dla "<?= $this->produkt->nazwa; ?>" :</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					<div class="box_search">
						<div class="form_title"><h2 class="title4">Wyszukiwarka produktu:</h2></div>
						<form  action="" method="POST" accept-charset="utf-8" >
						<div class="row_search">
						<div class="form_row">
							<label>Szukana fraza: </label>
							<div class="input_bg">
									<input type="text" name="co" value="<?php echo $this->co; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label>Szukaj po: </label>
							<div class="form_row_radio">
								<div class="input_bg_radio">
									<input type="radio" name="w" value="nazwa" <?php if($this->w=='nazwa') echo'checked="checked"';?> />
								</div>
								<label class="mini">Nazwa</label>
							</div>
							<div class="form_row_radio">
								<div class="input_bg_radio">
									<input type="radio" name="w" value="oznaczenie" <?php if($this->w=='oznaczenie') echo'checked="checked"';?> />
								</div>
								<label>Kod produktu</label>
							</div>
							<div class="form_row_radio">
								<div class="input_bg_radio">
									<input type="radio" name="w" value="cena_brutto" <?php if($this->w=='cena_brutto') echo'checked="checked"';?> />
								</div>
								<label class="small">Cena brutto</label>
							</div>
							<?php if(isset($this->producenci)): ?>
							<div class="form_cate">
								<label class="small">Producent: </label>
								<div class="input_bg">
									<select name="producent">
									<option value="">wszyscy</option>
									<?php for($i=0; $i<count($this->producenci); $i++): ?>
										<option <?php echo(isset($this->producentwyb) && $this->producentwyb == $this->producenci[$i]['id'])? 'selected="selected"' : '' ?> value="<?php echo $this->producenci[$i]['id']; ?>"><?php echo $this->producenci[$i]['nazwa']; ?></option>
									<?php endfor; ?>
									</select>
								</div>
							</div>
							<?php endif; ?>
							<div class="box_button_search rf pos02">
								<div class="button1">
									<a href="<?php echo $this->baseUrl; ?>/admin/oferta/powiazane/od/<?php echo $this->od;?>/reset/1">Resetuj</a>
								</div>
							</div>
							<div class="cb">
							<div class="form_row form_cate">
									<label class="small_label01">Kategorie: </label>
									<div class="input_bg">
											<select class="kategorie_selecty" id="pierwszy" name="pierwszy" onchange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>')">
							<option selected="selected" value="0">wszystkie</option>
											<?php for($i=0 ; count($this->glowne)>$i ; $i++) { ?>
								<option <?php echo(isset($this->wybranaKat[0]) && $this->wybranaKat[0]['id'] == $this->glowne[$i]->id)? 'selected="selected"': ''; ?> value="<?php echo $this->glowne[$i]->id;  ?>"><?php echo $this->glowne[$i]->nazwa   ?></option>
							<?php  }?>
							</select>
									</div>
							</div>
							<div id="row_1" class="form_row form_cate">
								<div class="input_bg">
									<select <?php echo(!isset($this->wybranaKat[1]))? '': '' ?> class="kategorie_selecty clean" id="drugi" name="drugi" onchange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>')">
										<?php if(isset($this->wybranaKat[1])): ?>

											<?php for($j=0; $j<count($this->wybranaKat[1]['dzieci']); $j++): ?>

												<option <?php echo ($this->wybranaKat[1]['id'] == $this->wybranaKat[1]['dzieci'][$j]['id'])? 'selected="selected"': '' ?> value="<?php echo $this->wybranaKat[1]['dzieci'][$j]['id'];  ?>"><?php echo $this->wybranaKat[1]['dzieci'][$j]['nazwa'];  ?></option>

											<?php endfor; ?>

										<?php endif; ?>
									</select>
								</div>
							</div>
							<div id="row_2" class="form_row form_cate">
								<div class="input_bg">
									<select <?php echo(!isset($this->wybranaKat[2]))? '': '' ?> class="kategorie_selecty clean" id="trzeci" name="trzeci" onchange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>')" >
										<?php if(isset($this->wybranaKat[2])): ?>

											<?php for($j=0; $j<count($this->wybranaKat[2]['dzieci']); $j++): ?>

												<option <?php echo ($this->wybranaKat[2]['id'] == $this->wybranaKat[2]['dzieci'][$j]['id'])? 'selected="selected"': '' ?> value="<?php echo $this->wybranaKat[2]['dzieci'][$j]['id'];  ?>"><?php echo $this->wybranaKat[2]['dzieci'][$j]['nazwa'];  ?></option>

											<?php endfor; ?>

										<?php endif; ?>
									</select>
								</div>
							</div>
							<div id="row_3" class="form_row form_cate">
								<div class="input_bg">
									<select <?php echo(!isset($this->wybranaKat[3]))? '': '' ?> class="kategorie_selecty clean" id="czwarty" name="czwarty" onchange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>')" >
										<?php if(isset($this->wybranaKat[3])): ?>

											<?php for($j=0; $j<count($this->wybranaKat[3]['dzieci']); $j++): ?>

												<option <?php echo ($this->wybranaKat[3]['id'] == $this->wybranaKat[3]['dzieci'][$j]['id'])? 'selected="selected"': '' ?> value="<?php echo $this->wybranaKat[3]['dzieci'][$j]['id'];  ?>"><?php echo $this->wybranaKat[3]['dzieci'][$j]['nazwa'];  ?></option>

											<?php endfor; ?>

										<?php endif; ?>
									</select>
								</div>
							</div>
							<div id="row_4" class="form_row form_cate">
								<div class="input_bg">
									<select <?php echo(!isset($this->wybranaKat[4]))? '': '' ?> class="kategorie_selecty clean" id="piaty" name="piaty" >
										<?php if(isset($this->wybranaKat[4])): ?>

											<?php for($j=0; $j<count($this->wybranaKat[4]['dzieci']); $j++): ?>

												<option <?php echo ($this->wybranaKat[4]['id'] == $this->wybranaKat[4]['dzieci'][$j]['id'])? 'selected="selected"': '' ?> value="<?php echo $this->wybranaKat[4]['dzieci'][$j]['id'];  ?>"><?php echo $this->wybranaKat[4]['dzieci'][$j]['nazwa'];  ?></option>

											<?php endfor; ?>

										<?php endif; ?>
									</select>
								</div>
							</div>
							<div class="box_button_search lf pos01">
								<div class="button1">
										<input type="submit" name="szukaj" value="Szukaj" />
								</div>
							</div>
							</div>
						</div>
						</div>
						</form>
						
						<?php if(isset($this->error_search)): ?>
						<div class="error_container">
							<?php echo $this->error_search; ?>
						</div>
						<?php endif; ?>	
						
					</div>
		
					<?php if(!empty($this->realizacje)): ?>
						
						<?php if(!isset($this->error_search)): ?>
					
							<div class="box_pager">
								<?php for($j=0;$j<$this->ilosc;$j++): 
			                        $od=$j*30;
			                        if($j==0)
			                            echo '<a href="'.$this->baseUrl.'/admin/powiazane/lista/od/0/">'.($j+1).'</a>';
			                        else
			                            echo '<a href="'.$this->baseUrl.'/admin/powiazane/lista/od/'.$od.'/">'.($j+1).'</a>';
		                        endfor; ?>
							</div>
							<form method="post" action="" id="rabaty" name="powiazane">
								<table class="foto_box padding">
									<colgroup>
										<col width="10%"/>
										<col width="10%"/>
										<col width="50%"/>
										<col width="10%"/>
										<col width="5%"/>
										<col width="5%"/>
										<col width="5%"/>
									</colgroup>
									<tr>
										<th>Miniatura</th>
										<th>Kod produktu</th>
										<th>Nazwa</th>
										<th>Cena brutto</th>
										<th>Promocja</th>
										<th>Zobacz</th>
										<th>Powiązane</th>
									</tr>
									<?php $j = 1; foreach ($this->realizacje as $realizacja): ?>
									
										<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
									
										<tr class="<?php echo $style; ?>">
											<td align="center">
												<a title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $realizacja['id'];?>">
												<?php if(!empty($realizacja['img'])): ?>
												<img src="<?php echo $this->baseUrl; ?>/public/gfx/zdjecia/thumbs/<?php echo $realizacja['img']; ?>" alt="" border="0" />
												<?php else: ?>
												<img src="<?php echo $this->baseUrl; ?>/public/images/strona/brak.jpg" alt="" width="100" border="0" />
												<?php endif; ?>
												</a>
                                            </td>
											<td><?php echo $realizacja['oznaczenie']; ?></td>
											<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $realizacja['id'];?>"><b><?php echo $realizacja['nazwa']; ?></b></a></td>
										    <td align="center"><b class="price_lista"><?php echo $realizacja['cena_brutto']; ?></b> PLN</td>
											<td align="center">
											<?php if($realizacja['promocja'] == 1): ?>
												<div title="Promocja" class="button2"></div>
											<?php endif; ?>
											</td>
											<td align="center"><a title="Zobacz" target="_blank" class="see_ico <?php echo $style; ?>" href="<?php echo $this->www.'/'.$realizacja['link']; ?>">Zobacz</a></td>
											<td align="center"><input type="checkbox" name="rabatvalue[<?php echo $realizacja['id'];?>]" value="<?php echo $realizacja['id'];?>"/></td>	
										</tr>
									
									<?php $j++; endforeach; ?>
										<tr class="silver">
                                            <td colspan="4">
                                                <div class="rf">
                                                    <div class="button1">
                                                        <input type="submit" name="zapisz_rabaty" value="Zapisz" />
                                                    </div>
                                                </div>
                                            </td>
                                            <td colspan="3">
                                                <div class="button1">
                                                    <a onclick="zaznacz('rabaty')">Zaznacz / odznacz wszystkie</a>
                                                </div>
                                            </td>
										</tr>
									
								</table>
							</form>
						<?php endif; ?>
					
					<?php else: ?>
					
						<div class="info_empty">Brak zdefiniowanych produktów.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>