<div class="box_foto_product" class="zakladkaPowiazania">

<div class="form_title"><h2 class="title4">Wybierz produkty powiązane:</h2></div>

<div class="form_row2">
<label class="big" style="font-weight:bold; font-size:15px; text-transform:uppercase; float:left; line-height:30px;">
Powiązane - wybrano: <span id="wybrano_powiazany"><?php echo @count($this->powiazaniaDlaProdukt); ?></span>
</label>
<a rel="facebox" href="<?php echo $this->obConfig->www; ?>/ajax/index/lista/norender/1/od/0/typ/powiazany" class="btn-orange" href="#">wybierz</a>
<?php if(@count($this->powiazaniaDlaProdukt) > 0): ?>
<a href="javascript:void(0);" class="btn-orange" onclick="if(window.confirm('Czy na pewno usunąć wszystkie ?')) $('#jQ_client_powiazany').html('');">
usuń wszystkie</a>
<?php endif; ?>
<br /><br />
<div id="jQ_client_powiazany" class="input_bg_tiny" style="width:100%; max-height:100px; overflow-y:auto;">
	<?php if(isset($this->powiazaniaDlaProdukt) && !empty($this->powiazaniaDlaProdukt)): ?>
    <?php foreach($this->powiazaniaDlaProdukt as $powiazany): ?>
	<span class="db cb lf">
		<span class="lf"><a href="<?php echo $this->obConfig->www; ?>/admin/oferta/edytuj/id/<?php echo $powiazany['powiazany']; ?>">
		<b><?php echo $powiazany['nazwa']; ?></b></span> 
		<a onclick="removeRow(this); countRows('powiazany');" title="usuń" class="lf del_ico silver"></a>
		<input type="hidden" id="powiazany<?php echo $powiazany['powiazany']; ?>" name="post[powiazany][<?php echo $powiazany['powiazany']; ?>]" value="<?php echo $powiazany['powiazany']; ?>" />
	</span>
    <?php endforeach; ?>
	<?php endif; ?>
</div>
<?php if(@count($this->powiazaniaDlaProdukt) > 5): ?>
<a href="javascript:void(0);" onclick="$('#jQ_client_powiazany').css('max-height','none'); $('#ukryjPowiazany').show(); $(this).hide();" class="db" id="pokazPowiazany">pokaż wszystkie</a>
<a href="javascript:void(0);" onclick="$('#jQ_client_powiazany').css('max-height','100px'); $('#pokazPowiazany').show(); $(this).hide();" class="dn" id="ukryjPowiazany">ukryj wszystkie</a>
<?php endif; ?>
</div>

<?php if(@count($this->powiazaniaKrzyzowe) > 0): ?>
<br clear="all"/>
<div class="form_title"><h2 class="title4">Produkty mające powiązania:</h2></div>
<div class="form_row2">
<?php foreach($this->powiazaniaKrzyzowe as $powiazany): ?>
<span class="db cb lf">
	<span class="lf"><a href="<?php echo $this->obConfig->www; ?>/admin/oferta/edytuj/id/<?php echo $powiazany['id_prod']; ?>">
	<b><?php echo $powiazany['nazwa']; ?></b></a></span>
</span>
<?php endforeach; ?>
</div>
<?php endif; ?>

</div>
