<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/dodaj/">Kupony &raquo;</a>
			<span class="link_path_end">Kupony</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Kupony" />
			<h2 class="title2 p1">Kupony</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj kuponami</h3>
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Kupony</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj kupon</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj kupon</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<?php if(false): ?>
							<div class="form_row">
								<label class="required">Od:</label>
								<div class="input_bg">
									<input type="text" name="od" value="" />
								</div>
							</div>
							<div class="form_row">
								<label class="required">Do:</label>
								<div class="input_bg">
									<input type="text" name="do" value="" />
								</div>
							</div>
							<?php endif; ?>
							<div class="form_row">
								<label class="required">Wartość kuponu (PLN):</label>
								<div class="input_bg">
									<input type="text" name="wartosc" value="" />
								</div>
							</div>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->rabaty) && count($this->rabaty) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="30%"/>
									<?php if(false): ?>
									<col width="15%"/>
									<col width="15%"/>
									<?php endif; ?>
									<col width="20%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<?php if(false): ?>
									<th>Od</th>
									<th>Do</th>
									<?php endif; ?>
									<th>Wartość kuponu (PLN)</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach ($this->rabaty as $rabat): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $rabat->nazwa; ?>
									</td>
									<?php if(false): ?>
									<td class="first img">
										<?php echo $rabat->od; ?>
									</td>
									<td class="first img">
										<?php echo $rabat->do; ?>
									</td>
									<?php endif; ?>
									<td class="first img">
										<?php echo $rabat->wartosc; ?>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/lojalnosc/edytuj/id/<?php echo $rabat->id;?>">Edytuj</a>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/lojalnosc/dodaj/delid/<?php echo $rabat->id;?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych kuponów.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>