<script type="text/javascript">
jQuery(document).ready(function(){
    jQuery('a[rel*=facebox]').facebox({
        loadingImage : '<?= $this->baseUrl; ?>/public/images/admin/facebox/loading.gif',
        closeImage   : '<?= $this->baseUrl; ?>/public/images/admin/facebox/closelabel.png'
    });
});
</script>  
<script type="text/javascript">
    var www = '<?= $this->www ?>';
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">	
        <div class="box_title">
                <h3 class="title3">Dodaj klienta</h3>
        </div>
        <div class="content">
            <?= isset($this->error)? '<div class="error_container">'.$this->error.'</div>': null; ?>
            <div class="all_container">
                <form method="post" action="">
                    <div class="form_row">
                        <label class="radius required">Nr karty:</label>
                        <div class="radius">
                            <input onkeyup="return getEmptyCard(this.value, 1);" id="jQ_numerkarta" type="text" name="post[karta]" value="<?= $this->dane['karta']; ?>" />
                        </div>
                        <div class="lf" style="padding: 3px 5px;">
                            <a class="btn-orange" rel="facebox" href="http://<?= $this->www.''.$this->baseUrl; ?>/ajax/upominki/kartyznajdz/">Wybierz</a>
                        </div>
                        <div id="jQ-error1" class="dn lf" style="padding: 3px 5px;margin-left: 10px;"></div>
                    </div> 
                    <div class="form_row">
                        <label class="radius">Polecił:</label>
                        <div class="radius">
                            <input onkeyup="return getEmptyCard(this.value, 0);" type="text" name="post[polecajacy]" value="<?= $this->dane['polecajacy']; ?>" />
                        </div>
                        <span class="lf dn" style="line-height: 33px;">&nbsp;lub&nbsp;</span>
                        <div class="lf dn" style="padding: 3px 5px;">
                            <a class="btn-orange" onclick="getClient()">Lista klientów</a>
                        </div>
                        <div id="jQ-error0" class="dn lf" style="padding: 3px 5px;margin-left: 10px;"></div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Imię:</label>
                        <div class="radius">
                            <input type="text" name="post[imie]" value="<?= $this->dane['imie']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Nazwisko:</label>
                        <div class="radius">
                            <input type="text" name="post[nazwisko]" value="<?= $this->dane['nazwisko']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Data urodzenia:</label>
                        <div class="radius calendar">
                            <input style="width: 70px;" class="mini dataStart" type="text" name="post[urodziny]" value="<?= $this->dane['urodziny']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Kod pocztowy:</label>
                        <div class="radius">
                            <input class="mini" type="text" name="post[kod]" value="<?= $this->dane['kod']; ?>" />
                        </div>
                        <label style="width: 100px;" class="radius">Miejscowość:</label>
                        <div class="radius">
                            <input type="text" name="post[miasto]" value="<?= $this->dane['miasto']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Ulica:</label>
                        <div class="radius">
                            <input type="text" name="post[ulica]" value="<?= $this->dane['ulica']; ?>" />
                        </div>
                        <label style="width: 70px;" class="radius">Nr domu:</label>
                        <div class="radius">
                            <input class="mini" type="text" name="post[nr]" value="<?= $this->dane['nr']; ?>" />
                        </div>
                        <label style="width: 100px;" class="radius">Nr mieszkania:</label>
                        <div class="radius">
                            <input class="mini" type="text" name="post[mieszkanie]" value="<?= $this->dane['nr']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Adres e-mail:</label>
                        <div class="radius">
                            <input type="text" name="post[email]" value="<?= $this->dane['email']; ?>" />
                        </div>
                    </div>
                    <!--<div class="form_row">
                        <label class="radius">Tel. stacjonarny:</label>
                        <div class="radius">
                            <input type="text" name="post[karta]" value="" />
                        </div>
                    </div>-->
                    <div class="form_row">
                        <label class="radius">Telefon komórkowy:</label>
                        <div class="radius">
                            <input type="text" name="post[telefon]" value="<?= $this->dane['telefon']; ?>" />
                        </div>
                    </div>
                    
                    <div class="form_row">
                        <label class="radius">Lubię / kupuję:</label>
                        <div class="radius">
                            <input type="text" name="post[lubie]" value="<?= $this->dane['lubie']; ?>" />
                        </div>
                        <div class="lf" style="line-height: 30px;">
                            &nbsp;&nbsp;/&nbsp;&nbsp; 
                        </div>
                        <div class="radius">
                            <input type="text" name="post[kupuje]" value="<?= $this->dane['kupuje']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <label class="radius">Data:</label>
                        <div class="radius calendar">
                            <input style="width: 70px;" class="mini dataStart" type="text" name="post[data_rej]" value="<?= $this->dane['data_rej']; ?>" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="btn-right">
                        <input class="btn-orange" type="submit" name="post[save]" value="zapisz" />
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>