<style type="text/css">
    .modul_container {
        font-size: 12px;
    }
</style>
<script type="text/javascript">
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title">
            <h3 class="title3">Rabaty i upominki</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <div class="info_com">
                    Ustawienia, które zostaną wprowadzone <b>obowiązywać będą przez czas trwania programu</b>, <b>nie można</b> ich zmienić w trakcie programu.
                    <br />W przypadku wyboru <b>opcji przedłuż program można</b> edytować ustawienia.<br />
                    Stan konta klientów <b>zerowany</b> jest wraz z <b>końcem programu</b>.
                </div>
                <?= isset($this->error) ? '<div class="error_container">'.$this->error.'</div>' : '' ; ?>
                <div class="box_form user_add">
                    <form name="ustaw" action="" method="post">
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                jQuery('a[rel*=facebox]').facebox({
                                    loadingImage : '<?= $this->baseUrl; ?>/public/images/admin/facebox/loading.gif',
                                    closeImage   : '<?= $this->baseUrl; ?>/public/images/admin/facebox/closelabel.png'
                                });
                                jQuery('a.facebox').facebox({
                                    loadingImage : '<?= $this->baseUrl; ?>/public/images/admin/facebox/loading.gif',
                                    closeImage   : '<?= $this->baseUrl; ?>/public/images/admin/facebox/closelabel.png'
                                });
                                $( "#jQuery-od" ).datepicker({
                                    defaultDate: "+1w",
                                    dateFormat: 'yy-mm-dd', showOn: 'button',
                                    buttonImage: '<?= $this->baseUrl; ?>/public/images/admin/ikony/calendar.gif',
                                    buttonImageOnly: true,
                                    changeMonth: true,
                                    changeYear: true,
                                    onSelect: function( selectedDate ) {
                                        $( "#jQuery-do" ).datepicker( "option", "minDate", selectedDate );
                                    }
                                });
                                $( "#jQuery-do").datepicker({
                                    defaultDate: "+1w",
                                    dateFormat: 'yy-mm-dd', showOn: 'button',
                                    buttonImage: '<?= $this->baseUrl; ?>/public/images/admin/ikony/calendar.gif',
                                    buttonImageOnly: true,
                                    changeMonth: true,
                                    changeYear: true,
                                    onSelect: function( selectedDate ) {
                                        $("#jQuery-od").datepicker( "option", "maxDate", selectedDate );
                                    }
                                });
                           });
                        </script>
						
                        <div class="form_row2">
                            <br />
                            <label class="required bold" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Czas trwania programu</label>
                            <br /><br />
                            <div class="input_bg_tiny" style="width:auto; float: left;">
                                <span style="float: left;"><b>Start programu *</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg_small <?= $this->dane['zapisano'] == 1 ? '': 'calendar'; ?>">
                                    <input <?= $this->dane['zapisano'] == 1 ? 'disabled="disabled"' : ''; ?> id="<?= $this->dane['zapisano'] == 1 ? '': 'jQuery-od'; ?>" style="width: 70px;" type="text" class="lf center" name="post[start]" value="<?= $this->dane['start']; ?>" />&nbsp;&nbsp;
                                </div>
                            </div>
                            <div class="input_bg_tiny" style="width:auto; float: left">
                                <span style="float: left;">&nbsp;&nbsp;<b>Koniec programu: *</b>&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg_small <?= $this->blokuj == 1 ? '': 'calendar'; ?>">
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> id="<?= $this->blokuj == 1 ? '': 'jQuery-do'; ?>" style="width: 70px;" type="text" class="lf center" name="post[koniec]" value="<?= $this->dane['koniec']; ?>" />&nbsp;&nbsp;
                                </div>
                            </div>
                            <?php if($this->dane['zapisano'] == 1): ?>
                            <div class="button_form m2" style="float:left;margin: 0 0 0 20px;">
                                <input type="hidden" name="post[przedluz]" value="<?= $this->przedluz; ?>" />
                                <input class="btn-orange" type="submit" name="przedluz" value="Przedłuż program" />
                            </div>
                            <?php endif; ?>
                            <?php if($this->dane['zapisano'] == 1 && !empty($this->dane['zapisanoczas'])): ?>
                            <br /><br />
                            <div class="input_bg_tiny cb" style="float: none; width:auto; font-size: 11px">
                                <span style="float: left;"><b>Ostatnia aktualizacja: </b>&nbsp;&nbsp;&nbsp;</span>
                                <b style="color: #2A91B0;"><?= $this->dane['zapisanoczas']; ?></b>
                            </div>
                            <?php endif; ?>
                            <div class="input_bg_tiny cb" style="float: none; width:auto; font-size: 11px">
                                <span style="float: left;"><b>Program zapisano: </b>&nbsp;&nbsp;&nbsp;</span>
                                <b style="color: #2A91B0;"><?= $this->dane['zapisano'] == 1 ? 'TAK' : 'NIE'; ?></b>
                            </div>
                            <?php if(@$this->dane['status'] == 1): ?>
                            <div class="input_bg_tiny cb" style="float: none; width:auto; font-size: 11px">
                                <span style="float: left;"><b>Status programu: </b>&nbsp;&nbsp;&nbsp;</span>
                                <b style="color: #2A91B0;">zakończono</b>
                            </div>
                            <?php endif; ?>
                            <?php if(!empty($this->dane['wyczyszczono'])): ?>
                            <div class="input_bg_tiny cb" style="float: none; width:auto; font-size: 11px">
                                <span style="float: left;"><b>Termin skasowania stanu konta klientów: </b>&nbsp;&nbsp;&nbsp;</span>
                                <b style="color: #2A91B0;"><?= $this->dane['wyczyszczono']; ?></b>
                            </div>
                            <?php endif; ?>
                            <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /><br /></div>
                            <br />
                            <br />
                            <label class="required bold" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Rabat standardowy</label>
                            <br /><br />
                            <div class="input_bg_tiny" style="width:100%;">
                                <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;
                                <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="hidden" name="post[rabat_st_on]" value="0" />
                                <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="checkbox" <?= $this->dane['rabat_st_on'] ?  'checked="checked"': ''; ?> name="post[rabat_st_on]" value="1"/>&nbsp;&nbsp;
                                <b>Rabat</b>
                                <select <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> name="post[rabat_rodzaj]" style="width: 130px;">
                                    <option <?= $this->dane['rabat_rodzaj'] == 0 ? 'selected="selected"' : ''; ?> value="0">przy zakupie</option>
                                    <option <?= $this->dane['rabat_rodzaj'] == 1 ? 'selected="selected"' : ''; ?> value="1">odłóż na konto</option>
                                </select>
                                &nbsp;&nbsp; <b>klient dostaje</b> <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="text" class="center" name="post[rabat_standard]" value="<?php echo $this->dane['rabat_standard']; ?>" />&nbsp; &nbsp; % od
                                <select <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> name="post[rabat_od]" style="width: 100px;">
                                    <option <?= $this->dane['rabat_od'] == 0 ? 'selected="selected"' : ''; ?> value="0">każdego</option>
                                    <option <?= $this->dane['rabat_od'] == 1 ? 'selected="selected"' : ''; ?> value="1">pierwszego</option>
                                </select> zakupu
                                <!--do wykorzystania w ciągu
                                
                                &nbsp; &nbsp;<input type="checkbox" name="new">&nbsp; &nbsp;<input type="text" name="ustaw[rej_do_zam]" value="<?php echo $this->dane['rej_do_zam']; ?>" />
                                &nbsp; &nbsp;dni  &nbsp;&nbsp; <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="new">  &nbsp;&nbsp; bezterminowo   &nbsp;od&nbsp;
                                <select style="width: 150px;">
                                    <option>ostatniego zakupu</option>
                                    <option>daty rejestracji</option>
                                </select>-->
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
								
								<div class="form_row2">
									<label class="required bold" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Klient polecony dostaje:</label>
									<br />
									<br />
									<div class="input_bg_tiny" style="width:100%;">
										<img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;
										<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="hidden" name="post[rabat_polec_on]" value="0" />
										<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="checkbox" name="post[rabat_polec_on]" <?= $this->dane['rabat_polec_on'] ?  'checked="checked"': ''; ?> value="1" />&nbsp;&nbsp;<b>Klient polecony dostaje</b> &nbsp; &nbsp;<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="center" type="text" name="post[rabat_polecony]" value="<?php echo $this->dane['rabat_polecony']; ?>" />&nbsp; &nbsp %
									</div>
								</div>
								<div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
                                <div class="">
                                    <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_prezent.png" alt=""/>&nbsp;&nbsp;
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="hidden" name="post[upominek_st_on]" value="0"/>
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> <?= $this->dane['upominek_st_on'] ? 'checked="checked"': ''; ?> value="1" type="checkbox" name="post[upominek_st_on]"/>&nbsp;&nbsp;Upominek <b>przydzielany jest</b>, gdy wartość zakupu <b>przekroczy kwotę</b> 
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="text" class="center" name="post[upominek_st_kwota]" style="width: 70px;" value="<?= $this->dane['upominek_st_kwota'] ?>" /> zł
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
                                <div class="lf" style="line-height: 25px;"><b>Obecnie oferujesz klientom upominki:</b> </div><span class="lf">&nbsp;&nbsp;</span>
                                <a <?= $this->blokuj == 1 ? 'onclick="javascript:return false;"' : ''; ?> class="btn-orange" id="jq-tryb0" <?php if($this->blokuj == 0): ?> rel="facebox"<?php endif; ?> href="http://<?= $this->www.''.$this->baseUrl; ?>/ajax/upominki/index/tryb/0">lista</a>
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
                                <div id="jQ_tryb_gift_0">
                                    <?php if(!empty($this->rowsp)): ?>
                                    <table class="foto_box padding">
                                        <thead>
                                        <tr>
                                            <th>Miniatura</th>
                                            <th>Nazwa</th>
                                            <th>Cena</th>
                                            <th>Edytuj</th>
                                            <th>Usuń</th>
                                        </tr>
                                        </thead>
                                        <?php $j=1; foreach($this->rowsp as $row): ?>
                                        <?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
                                            <tr class="<?= $style; ?>">
                                                <td align="center">
                                                    <?php if(!empty($row['img'])): ?>
                                                    <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/admin/upominki/<?= $row['img']; ?>" alt="" width="100" border="0" />
                                                    <?php else: ?>
                                                    <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/images/admin/brak.jpg" alt="" width="100" border="0" />
                                                    <?php endif; ?>
                                                </td>
                                                <td><strong><?= $row['nazwa']; ?></strong></td>
                                                <td align="center"><?= $row['cena']; ?> zł</td>
                                                <td align="center">
                                                    <a <?= $this->blokuj == 1 ? 'onclick="javascript:return false;"' : ''; ?> class="<?php if($this->blokuj == 0): ?>facebox<?php endif; ?> edit_ico <?= $style;  ?>" title="Edytuj" href="<?= $this->baseUrl; ?>/ajax/upominki/edytuj/id/<?= $row['id']; ?>/tryb/0">Edytuj</a>
                                                </td>
                                                <td align="center">
                                                    <a <?= $this->blokuj == 1 ? 'onclick="javascript:return false;"' : ''; ?> class="del_ico <?= $style;  ?>" title="Usuń" href="<?= $this->baseUrl; ?>/ajax/upominki/usun/id/<?= $row['id']; ?>/tryb/0/img/<?= $row['img']; ?>">Usuń</a>
                                                </td>
                                            </tr>

                                        <?php endforeach; ?>
                                    </table>
                                    <br />
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        
						<div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
						
						<div class="form_row2">
                            <label class="required bold" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Dodatkowo klient polecający dostaje:</label>
                            <br />
                            <br />
                            <div class="input_bg_tiny" style="width:100%;">
                                <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;
                                <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="hidden" name="post[rabat_pol_on]" value="0" />
                                <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="checkbox" name="post[rabat_pol_on]" <?= $this->dane['rabat_pol_on'] ?  'checked="checked"': ''; ?> value="1" />&nbsp;&nbsp;<b>Klient dostaje</b> &nbsp; &nbsp;<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="center" type="text" name="post[rabat_polecajacy]" value="<?php echo $this->dane['rabat_polecajacy']; ?>" />&nbsp; &nbsp; % <b>za każdego znajomego</b> jeśli ten kupi w ciągu
                                &nbsp; &nbsp;<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="radio" name="post[rabat_pol_dni]" <?= $this->dane['rabat_pol_on'] == 0 ?  'checked="checked"': ''; ?> value="0" />&nbsp; &nbsp;<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="center" type="text" name="post[rabat_pol_od]" value="<?php echo $this->dane['rabat_pol_od']; ?>" />
                                <b>dni</b>  &nbsp; <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="radio" name="post[rabat_pol_dni]" <?= $this->dane['rabat_pol_on'] == 1 ?  'checked="checked"': ''; ?> value="1" />&nbsp; <b>bezterminowo</b> od daty rejestracji
                                <!--&nbsp; &nbsp;
                                <select style="width: 150px;">
                                    <option>daty polecenia</option>
                                    <option></option>
                                </select>-->
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
                                 &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Procent za polecenie</b> jest wypłacany
                                &nbsp; &nbsp;
                                <select <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> name="post[rabat_pol_wyp_od]" style="width: 210px;">
                                    <option <?= $this->dane['rabat_pol_wyp_od'] == 0 ? 'selected="selected"' : ''; ?> value="0">od każdego zakupu</option>
                                    <option <?= $this->dane['rabat_pol_wyp_od'] == 1 ? 'selected="selected"' : ''; ?> value="1">tylko od pierwszego zakupu</option>
                                </select>
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
                                <div class="">
                                    <img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_prezent.png" alt=""/>&nbsp;&nbsp;
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="hidden" name="post[upominek_pol_on]" value="0" />
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> type="checkbox" name="post[upominek_pol_on]" <?= $this->dane['upominek_pol_on'] ?  'checked="checked"': ''; ?> value="1"/>&nbsp;&nbsp;Upominek <b>przydzielany jest</b>, gdy wartość zakupu <b>przekroczy kwotę</b> 
                                    <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="center" type="text" name="post[upominek_pol_kwota]" value="<?= $this->dane['upominek_pol_kwota']; ?>" class="" style="width: 70px;" /> zł
                                </div>
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
								<div class="lf" style="line-height: 25px;"><b>Obecnie oferujesz klientom upominki:</b> </div><span class="lf">&nbsp;&nbsp;</span>
								<a <?= $this->blokuj == 1 ? 'onclick="javascript:return false;"' : ''; ?> class="btn-orange" id="jq-tryb1" <?php if($this->blokuj == 0): ?> rel="facebox"<?php endif; ?> href="http://<?= $this->www.''.$this->baseUrl; ?>/ajax/upominki/index/tryb/1">lista</a>
                                
                                <div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
                                <br />
                                <div id="jQ_tryb_gift_1">
                                    <?php if(!empty($this->rowspa)): ?>
                                    <table class="foto_box padding">
                                        <thead>
                                        <tr>
                                            <th>Miniatura</th>
                                            <th>Nazwa</th>
                                            <th>Cena</th>
                                            <th>Edytuj</th>
                                            <th>Usuń</th>
                                        </tr>
                                        </thead>
                                        <?php $j=1; foreach($this->rowspa as $row): ?>
                                        <?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
                                            <tr class="<?= $style; ?>">
                                                <td align="center">
                                                    <?php if(!empty($row['img'])): ?>
                                                    <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/admin/upominki/<?= $row['img']; ?>" alt="" width="100" border="0" />
                                                    <?php else: ?>
                                                    <img align="absMiddle" src="<?php echo $this->baseUrl; ?>/public/images/admin/brak.jpg" alt="" width="100" border="0" />
                                                    <?php endif; ?>
                                                </td>
                                                <td><strong><?= $row['nazwa']; ?></strong></td>
                                                <td align="center"><?= $row['cena']; ?> zł</td>
                                                <td align="center">
                                                    <a <?= $this->blokuj == 1 ? 'onclick="javascript:return false;"' : ''; ?> class="<?php if($this->blokuj == 0): ?>facebox<?php endif; ?> edit_ico <?= $style;  ?>" title="Edytuj" href="<?= $this->baseUrl; ?>/ajax/upominki/edytuj/id/<?= $row['id']; ?>/tryb/1">Edytuj</a>
                                                </td>
                                                <td align="center">
                                                    <a <?= $this->blokuj == 1 ? 'onclick="javascript:return false;"' : ''; ?> class="del_ico <?= $style;  ?>" title="Usuń" href="<?= $this->baseUrl; ?>/ajax/upominki/usun/id/<?= $row['id']; ?>/tryb/1/img/<?= $row['img']; ?>">Usuń</a>
                                                </td>
                                            </tr>

                                        <?php endforeach; ?>
                                    </table>
                                    <br />
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>                        
                        
						<div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br /><br />
						
						<div class="form_row2">
							<label class="required bold" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Pozostałe ustawienia:</label>
							<br />
							<br />
							<div class="input_bg_tiny" style="width:100%;">
								<img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;
								<b>Minimalna kwota na koncie rabatowym</b> &nbsp; &nbsp;<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="center" type="text" name="post[min_rabat]" value="<?php echo $this->dane['min_rabat']; ?>" style="width: 70px;" />&nbsp; &nbsp zł aby móc wykorzystać te środki przy zakupach 
							</div>
							<div style="border-bottom: 1px dotted #C3C3C3; clear: both; margin: 0 30px;"><br /></div>
							<br />
							<div class="input_bg_tiny" style="width:100%;">
								<img align="absmiddle" src="<?= $this->baseUrl; ?>/public/images/admin/menu/lojalnosc/pic/iko_rabat.png" alt=""/>&nbsp;&nbsp;
								<b>Minimalna kwota zakupu </b> &nbsp; &nbsp;<input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="center" type="text" name="post[min_kwota]" value="<?php echo $this->dane['min_kwota']; ?>" style="width: 70px;" />&nbsp; &nbsp zł aby przyznać prowizję 
							</div>
						</div>

						<div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br /><br />
								
                        <?php if($this->edycjazablokowana === false): ?>
                            <?php if($this->blokuj == 0): ?>
                            <div class="button_form m2" style="float:right;margin: 0 0 20px 0;">
                                <input <?= $this->blokuj == 1 ? 'disabled="disabled"' : ''; ?> class="btn-orange" type="submit" name="ustawienia" value="Zapisz" />
                            </div>
                            <?php endif; ?>
                        <?php endif; ?>
						
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>