<div class="modul_container">
	<div class="container">	
		
            
		<div class="box_title oh">
			<h3 class="title3 lf">Klienci&nbsp;&nbsp;&nbsp;&nbsp;</h3>
                        <a class="btn-orange small" href="<?= $this->baseUrl; ?>/admin/lojalnosc/drzewo/klient/0">Pokaż społeczność</a>
                        <span class="lf">&nbsp;&nbsp;</span>
                        <a class="btn-orange small" href="<?= $this->baseUrl; ?>/admin/lojalnosc/zakupyall/">Pokaż zakupy</a>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
				
					<div class="box_search2">
						<form action="" method="post" accept-charset="utf-8" >
							<div class="row_search2 people" id="wyszukiwarka">
								<a id="reset" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/lista/reset/all">
								Resetuj</a>
								<div id="top" style="width:785px;">
									<div class="napis" style="margin-left:5px; width:120px;"><strong>Numer karty:</strong></div>
                                                                        <div class="radius">
                                                                        <input type="text" style="height: 14px;" id="co" name="karta" value="<?php echo $this->szukanie->karta; ?>" onfocus="//this.value='';" style="width:120px;" />
                                                                        </div>
                                                                        <div class="napis" style="margin-left:5px; width:140px;"><strong>Nazwisko, firma, e-mail:</strong></div>
									<div class="radius">
                                                                        <input type="text" style="height: 14px;" id="co" name="nazwa" value="<?php echo $this->szukanie->nazwa; ?>" onfocus="//this.value='';" style="width:120px;" />
									</div>
									<div class="napis" style="width:48px;"><strong>&nbsp;&nbsp;Miasto:</strong></div>
									<div class="radius">
                                                                        <select name="miasto" class="select" style="margin-left:3px; width:150px; height: 21px;">
										<option value="all">Wszystkie</option>
										<?php foreach($this->miasta as $miasto): ?>
										<option value="<?php echo $miasto['miasto']; ?>" <?php if($this->szukanie->miasto==$miasto['miasto']) echo 'selected="selected"';?>><?php echo $miasto['miasto']; ?></option>
										<?php endforeach; ?>
									</select>
                                                                        </div>
									
									
									
									<?php if($this->obConfig->plec): ?>
									<div class="napis" style="width:30px;">Płeć</div>
									<select name="plec" class="select" style="margin-left:3px; width:98px;">
										<option value="all">Obie płci</option>
										<option value="M" <?php if($this->szukanie->plec=="M") echo 'selected="selected"';?>>Mężczyźni</option>
										<option value="K" <?php if($this->szukanie->plec=="K") echo 'selected="selected"';?>>Kobiety</option>
									</select>
									<?php else: ?>
									<div class="napis" style="width:130px;">&nbsp;</div>
									<?php endif; ?>
								</div>
								<?php if(false): ?>
								<div id="bottom" style="">
                                                                    <?php if($this->obConfig->wojew): ?>
									<div class="napis" style="margin-left:10px; width:40px;">Wojew.</div>
									<select name="wojew" class="select" style="margin-left:5px; width:150px;">
									<option value="all">Wszystkie</option>
									<?php foreach($this->wojew as $woj): ?>
									<option value="<?php echo $woj; ?>" <?php if($woj == $this->szukanie->wojew) echo 'selected="selected"';?>><?php echo $woj;?></option>
									<?php endforeach;?>
									</select>
									<?php else: ?>
									<div class="napis" style="width:200px;">&nbsp;</div>
									<?php endif; ?>
									<?php if($this->obConfig->klienciGrupy): ?>
									<div class="napis" style="width:45px;">Grupa</div>
									<select name="grupa" class="select" style="width:150px;">
										<option value="all">Wszystkie</option>
										<option value="0" <?php if($this->szukanie->grupa==='0')echo'selected="selected"';?>>
										- Bez grupy -</option>
										<?php foreach($this->grupy as $grupa): ?>
										<option value="<?php echo $grupa['id']; ?>" <?php if($this->szukanie->grupa == $grupa['id']) echo 'selected="selected"';?>><?php echo $grupa['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
									<?php else: ?>
									<div class="napis" style="width:195px;">&nbsp;</div>
									<?php endif; ?>
									
									
								</div>
                                                                <?php endif; ?>
								<input type="submit" id="szukaj" value="Szukaj" />
							</div>
						</form>
						
					</div>
					
					<?php if(@count($this->kontrahenci) > 0): ?>
					
					<div id="ileNaStrone" style="float: left; margin: 13px 0px 0px;">
					<span>Sortuj wg: </span>
					<select style="width: 240px;" onchange="window.location='<?php echo $this->baseUrl; ?>/admin/lojalnosc/lista/sortuj/'+this.value">
                                            <option value="">wybierz</option>
                                            <option <?php if($this->sortuj=='za') echo 'selected="selected"'; ?> value="za">wielkości zakupu</option>
                                            <option <?php if($this->sortuj=='zn') echo 'selected="selected"'; ?> value="zn">ilości znajomych</option>
                                            <option <?php if($this->sortuj=='zk') echo 'selected="selected"'; ?> value="zk">konta rabatowego</option>
                                            <option <?php if($this->sortuj=='zr') echo 'selected="selected"'; ?> value="zr">daty rejestracji</option>
					</select>
					</div>
                                        <div class="ileNaStrone" style="float: right; color: #777777; margin: 13px 0px 0px;">
					<span>Wyświetl na stronie: </span>
					<select style="width: 90px;" onchange="window.location='<?php echo $this->baseUrl; ?>/admin/lojalnosc/lista/ile/'+this.value">
						<option value="50" <?php if($this->ile==50) echo 'selected="selected"'; ?>>50</option>
                                                <option value="100" <?php if($this->ile==100) echo 'selected="selected"'; ?>>100</option>
                                                <option value="all" <?php if($this->ile == 99999) echo 'selected="selected"'; ?>>wszystkie</option>
					</select>
					</div>
					<div class="box_pager" style="padding: 10px 0px 20px;" id="stronicowanie">
						<?php echo $this->render('const/stronicowanie.phtml'); ?>
					</div>
					
					<form action="" method="post">
					<table class="foto_box padding" style="float:left;">
						<colgroup>
							<col width="25%"/>
							<col width="20%"/>
							<col width="10%"/>
							<col width="15%"/>
							<col width="5%"/>
							<col width="5%"/>
							<col width="5%"/>
							<?php if($this->obConfig->sms): ?>
							<col width="5%"/>
							<?php endif; ?>
						</colgroup>
						<tr>
							<th>
							Nazwisko / Imię
							</th>
							<!--<th>Data pierwszego zamówienia</th>-->
							<!--<th>zakup</th>-->
							<th>Zakupy</th>
							<th>Społeczność</th>
							<th>Stan konta</th>
							<th>Upominki od poleconych</th>
                                                        <th>Nr. karty</th>
							<th>E-mail</th>
							<?php if($this->obConfig->sms): ?>
							<th>SMS</th>
							<?php endif; ?>
						</tr>
						
						<?php $j = 1; foreach($this->kontrahenci as $lojalnosc): ?>
								
							<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								
								<?php if(!$lojalnosc['faktura']): ?>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/kontrahent/edytuj/id/<?php echo $lojalnosc['id']; ?>"><b><?php echo $lojalnosc['nazwisko'].', '.$lojalnosc['imie']; ?></b></a></td>
								<?php else: ?>
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/kontrahent/edytuj/id/<?php echo $lojalnosc['id']; ?>"><b><?php echo $lojalnosc['nazwa_firmy']; ?></b></a></td>
								<?php endif; ?>

								<!--<td align="center"><?php //echo $lojalnosc['wykorzystano']; ?></td>-->
								<td align="center"><span class=""><b class="price_lista">
								<?php echo $lojalnosc['aktualne'];//+$lojalnosc['archiwum'];?></b> zł&nbsp;&nbsp;</span>
								<span class="rf"><a title="Zobacz" class="see_ico <?= $style; ?>" href="<?php echo $this->baseUrl;?>/admin/lojalnosc/zakupy/id/<?php echo $lojalnosc['id'];  ?>">Zobacz</a></span>
								</td>
								<td align="center">
								<span class=""><b style="font-size: 12px;"><?= $lojalnosc['znajomych']; ?></b> os.</span>
								<span class="rf">
								<a title="Zobacz" class="see_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/lojalnosc/drzewo/klient/<?php echo $lojalnosc['id'];  ?>">Zobacz</a>
								</span>
								</td>
								<td align="center"><b class="price_lista"><?php echo $lojalnosc['konto']; ?></b> zł</td>
								<td align="center"><a title="Zobacz" class="see_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/lojalnosc/upominki/id/<?php echo $lojalnosc['id'];  ?>">Zobacz</a></td>
                                <td align="center"><strong><?php echo $lojalnosc['karta']; ?></strong></td>
								<td align="center">
								<!--<a class="link <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/mail/mailid/<?php echo $lojalnosc['id'];  ?>">Mail</a>
								<br clear="all"/>-->
								<input <?= !empty($lojalnosc['email']) ? '' : 'disabled="disabled"'; ?> type="checkbox" name="checkbox[]" value="<?php echo $lojalnosc['id'];?>" />
								</td>
								
								<?php if($this->obConfig->sms): ?>
								<td align="center">
								<!--<a class="link <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/kontrahent/sms/smsid/<?php echo $lojalnosc['id'];  ?>">SMS</a>
								<br clear="all"/>-->
								<input <?= !empty($lojalnosc['telefon']) ? '' : 'disabled="disabled"'; ?> type="checkbox" name="checkbox[]" value="<?php echo $lojalnosc['id'];?>" />
								</td>
								<?php endif; ?>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<div class="button_form m2" style="float:right;">
						<div class="button1" style="float:right;">
						<input type="submit" name="mailAll" value="Wyślij emaile do zaznaczonych osób" onclick="$('form').attr('action','<?php echo $this->baseUrl;?>/admin/kontrahent/mail/mailids/all');"/>	
						</div>
					</div>
					
					<?php if($this->obConfig->sms): ?>
					<div class="button_form m2" style="float:right;">
						<div class="button1" style="float:right;">
						<input type="submit" name="smsAll" value="Wyślij SMS-y do zaznaczonych osób" onclick="$('form').attr('action','<?php echo $this->baseUrl;?>/admin/kontrahent/sms/smsids/all');"/>	
						</div>
					</div>
					<?php endif; ?>
					
					</form>
					
					<?php else: ?>
					
						<div class="info_empty">Brak dodanych klientów.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>