<div class="modul_container">
        <div class="container">
            <script type="text/javascript">
                function zwin(co, btn) {
                jQuery('#'+co).toggle('slow');
                var text = jQuery('#'+btn).text();

                if(text == 'rozwin') {
                    jQuery('#'+btn).text('zwin');
                } else {
                    jQuery('#'+btn).text('rozwin');
                }
              }
            </script>
		<div class="box_title" style="overflow: hidden;">
			<h3 class="title3 lf">Akcje marketingowe &nbsp;&nbsp;</h3>
                        <a class="btn-orange small" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketing/">Pokaż lista</a>
		</div>
		<div class="content">
			<div class="all_container">
                    <br />
                    <div class="tytulLojalnosc"><span class="lf" style="line-height: 30px;">Informacje procentowe akcji : "<b style="color: #000000;"><?= $this->row['nazwa']; ?></b>"</span></div>
                    <?php if(isset($this->message) && !empty($this->message)): ?>
                        <div class="error_container"><?= $this->message; ?></div>
                    <?php else: ?>
                        <div class="row-mark lf">
                            Data rozpoczęcia (data wysyłki): <b><?= $this->row['data']; ?></b>
                        </div>
                        <div class="row-mark rf">
                            Data zakończenia: <b><?= (!empty($this->row['datadeaktywacja']))? $this->row['datadeaktywacja'] : 'XXXX-XX-XX'; ?></b>
                        </div>
                        <div class="cb"></div>
                        <div class="form_row">
                            <label style="width: auto;">Skuteczność wg ilości klientów (ilość <?= $this->row['typ'] == 0 ? 'e-mail': 'sms-ów'; ?>: <?= $this->row['suma']; ?> / <?= $this->ilosckl; ?> klientów ):</label><div class="radius lojalnoscTytulMaly"><?= $this->skutilosckl; ?>%</div>
                        </div>
                        <div class="form_row">
                            <label style="width: auto;">Skuteczność wg ilości zakupów (ilość <?= $this->row['typ'] == 0 ? 'e-mail': 'sms-ów'; ?>: <?= $this->row['suma']; ?> / <?= $this->ilosczam; ?> zakupów ):</label><div class="radius lojalnoscTytulMaly"><?= $this->skutilosc; ?>%</div>
                        </div>
                        <div class="form_row">
                            <label style="width: auto;">Skuteczność wg wartości zakupów (koszt <?= $this->row['typ'] == 0 ? 'e-mail': 'sms-ów'; ?>: <?= $this->row['wartosc']; ?> / wartość zakupów: <?= $this->sumzam ?> zł ):</label><div class="radius lojalnoscTytulMaly"><?= $this->skutwar; ?>%</div>
                        </div>
                        <div class="borderLojalnosc"></div>
                        <div class="tytulLojalnosc"><span class="lf" style="line-height: 30px;">Analiza skuteczności akcji wg ilości klientów &nbsp;</span><?php if(isset($this->wykresklienci)): ?> <a class="btn-orange" id="btn6" onclick="return zwin('jQ-chart1', this.id);" href="#">zwiń</a><?php endif; ?>
                        </div>
                        <?php if(isset($this->wykresklienci) && !empty($this->wykresklienci)): ?>
                            <script type="text/javascript">
                                var datezam1 = [
                                  ["Dzień", "Stali klienci", "Znajomi"],
                                  ["", 0, 0],
                                  <?php $ile = count($this->wykresklienci); $j=1; foreach($this->wykresklienci as $key=>$ar): ?>
                                        ["<?= $key; ?>",<?= $ar[2]; ?>,<?= $ar[3]; ?>]<?php if($k < $ile): ?>,<?php endif; ?>
                                  <?php $k++; endforeach; ?>
                                ];
                                google.load("visualization", "1", {packages:["corechart"]});
                                google.setOnLoadCallback(drawChart);
                                function drawChart() {
                                var data = google.visualization.arrayToDataTable(datezam1);

                                var options = {
                                  title: 'Analiza skuteczności akcji wg ilości klientów [Ilość / Dni]'
                                };

                                var chart = new google.visualization.LineChart(document.getElementById('jQ-chart1'));
                                    chart.draw(data, options);
                                }
                            </script>
                            <div id="jQ-chart1" class="cb" style="height: 400px;"></div>
                        <?php else: ?>
                        <div class="textMessage">Brak dodanych zakupów dla wybranej akcji marketingowej.</div>
                        <?php endif; ?>
                         <div class="borderLojalnosc"></div>
                        <div class="tytulLojalnosc"><span class="lf" style="line-height: 30px;">Analiza skuteczności akcji wg ilości zakupów &nbsp;</span><?php if(isset($this->wykreszamowienia2)): ?> <a class="btn-orange" id="btn6" onclick="return zwin('jQ-charts2', this.id);" href="#">zwiń</a><?php endif; ?>
                        </div>
                        <?php if(isset($this->wykreszamowienia2) && !empty($this->wykreszamowienia2)): ?>
                            <script type="text/javascript">
                                var data2 = [
                                  ["Dzień", "Stali klienci", "Znajomi"],
                                  [" ", 0, 0],
                                  <?php $ile = count($this->wykreszamowienia2); $k=1; foreach($this->wykreszamowienia2 as $key=>$ar2): ?>
                                        ["<?= $key; ?>",<?= $ar2[2]; ?>,<?= $ar2[3]; ?>]<?php if($k < $ile): ?>,<?php endif; ?>
                                  <?php $k++; endforeach; ?>
                                ];
                                google.load("visualization", "1", {packages:["corechart"]});
                                google.setOnLoadCallback(draw3Chart);
                                function draw3Chart() {
                                var data = google.visualization.arrayToDataTable(data2);

                                var options = {
                                  title: 'Analiza skuteczności akcji wg ilości zakupów [Ilość / Dni]'
                                };

                                var chart = new google.visualization.LineChart(document.getElementById('jQ-charts2'));
                                    chart.draw(data, options);
                                }
                            </script>
                            <div id="jQ-charts2" class="cb" style="height: 400px;"></div>
                        <?php else: ?>
                        <div class="textMessage">Brak dodanych zakupów dla wybranej akcji marketingowej.</div>
                        <?php endif; ?>
                        <div class="borderLojalnosc"></div>
                        <div class="tytulLojalnosc"><span class="lf" style="line-height: 30px;">Analiza skuteczności akcji wg wartości zakupów &nbsp;</span><?php if(isset($this->wykreszamowienia)): ?> <a class="btn-orange" id="btn6" onclick="return zwin('jQ-charts', this.id);" href="#">zwiń</a><?php endif; ?>
                        </div>
                        <?php if(isset($this->wykreszamowienia) && !empty($this->wykreszamowienia)): ?>
                            <script type="text/javascript">
                                var data = [
                                  ["Dzień", "Stali klienci", "Znajomi"],
                                  [" ", 0, 0],
                                  <?php $ile = count($this->wykreszamowienia); $k=1; foreach($this->wykreszamowienia as $key=>$ar2): ?>
                                        ["<?= $key; ?>",<?= $ar2[2]; ?>,<?= $ar2[3]; ?>]<?php if($k < $ile): ?>,<?php endif; ?>
                                  <?php $k++; endforeach; ?>
                                ];
                                google.load("visualization", "1", {packages:["corechart"]});
                                google.setOnLoadCallback(draw2Chart);
                                function draw2Chart() {
                                var data2 = google.visualization.arrayToDataTable(data);

                                var options = {
                                  title: 'Analiza skuteczności akcji wg wartości zakupów [Zł / Dni]'
                                };

                                var chart = new google.visualization.LineChart(document.getElementById('jQ-charts'));
                                    chart.draw(data2, options);
                                }
                            </script>
                            <div id="jQ-charts" class="cb" style="height: 400px;"></div>
                        <?php else: ?>
                        <div class="textMessage">Brak dodanych zakupów dla wybranej akcji marketingowej.</div>
                        <?php endif; ?>
                        <div class="borderLojalnosc"></div>
                    <?php endif; ?>
			</div>
		</div>
	</div>
</div>