<style type="text/css">
    .modul_container {
        font-size: 12px;
    }
</style>
<script type="text/javascript">
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title oh">
            <h3 class="title3 lf">Akcje marketingowe&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            <a class="btn-orange small" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketing/">Pokaż lista</a>
        </div>
        <div class="content">
            <div class="all_container">
                <?php if(isset($this->error) && !empty($this->error)): ?><div class="error_container"><?= $this->error; ?></div><?php endif; ?>
                <?php if(isset($this->bladkonta) && $this->bladkonta == true): ?><div class="error_container"><?= $this->bladkonta; ?></div><?php endif; ?>
                <div class="box_form user_add">
                    <form name="ustaw" action="" method="post">
                        <div class="form_row2">
                            <br />
                            <label class="" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Dane podstawowe</label>
                            <br /><br />
                            <div class="row-mark lf">
                                Data rozpoczęcia (data wysyłki): <b><?= date('Y-m-d'); ?></b>
                            </div>
                            <div class="cb"></div>
                            <div class="input_bg_tiny" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Tytuł </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg">
                                    <input disabled="disabled" style="width: 200px;" type="text" class="lf" name="post[nazwa]" value="<?= isset($this->dane['nazwa'])? $this->dane['nazwa'] : ''; ?>" />&nbsp;&nbsp;
                                </div>
                            </div>
                            <br /><br />
                            <div class="input_bg_tiny cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Typ akcji </b>: &nbsp;&nbsp;&nbsp;</span>
                                <div style="float: left;">
                                <input id="jQ_field_text1" disabled="disabled" type="radio" name="post[typ]" <?= isset($this->dane['typ']) && $this->dane['typ'] == 0 || !isset($this->dane['typ']) ?  'checked="checked"': ''; ?> value="0" />
                                <b>e-mail</b>  &nbsp; <input id="jQ_field_text2" disabled="disabled" type="radio" name="post[typ]" <?= isset($this->dane['typ']) && $this->dane['typ'] == 1 ?  'checked="checked"': ''; ?> value="1" />&nbsp; <b>sms</b>
                                </div>
                            </div>
                            <div class="cb"><br /></div>
                            <div class="input_bg_tiny cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Treść</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div id="jQ_field_text2_open" class="lf <?= isset($this->dane['typ']) && $this->dane['typ'] == 1? 'db' : 'dn' ?>">
                                    <textarea disabled="disabled" class="txtTextarea" onkeyup="return lengthInput(this, 'jq_length_field');" rows="" cols="" name="post[tekst]"><?= isset($this->dane['tekst']) ? strip_tags($this->dane['tekst']) : ''; ?></textarea>
                                    <span class="stanSms"><a title="<?= $this->infosms; ?>" class="jQ_tooltip see_ico silver rf"></a><span>Długość wiadomości: <strong id="jq_length_field"><?= isset($this->dane['tekst'])? mb_strlen($this->dane['tekst'], 'UTF-8') : 0 ?></strong> znaków&nbsp;&nbsp;</span></span>
                                </div>
                                <div id="jQ_field_text1_open" class="lf <?= !isset($this->dane['typ']) || isset($this->dane['typ']) && $this->dane['typ'] == 0? 'db' : 'dn' ?>">
                                    <?= $this->editor; ?>
                                </div>
                            </div>
                            <?php if(false): ?>
                            <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /><br /></div>
                            <br />
                            <br />
                            <label class="" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Termin akcji</label>
                            <br /><br />
                            <div class="input_bg_tiny" style="width:100%;">
                                <span style="float: left;"><b class="">Wysyłka</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input disabled="disabled" type="radio" <?= isset($this->dane['czas']) && $this->dane['czas'] == 0 || !isset($this->dane['czas']) ?  'checked="checked"': ''; ?> name="post[czas]" value="0"/>&nbsp;&nbsp;
                                <b>jednorazowo</b>
                                <br /><br />
                            </div>
                            <?php endif; ?>
                        </div>
                        <br /><br />
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
                        <div class="form_row2">
                            <label class="" style="font-weight:bold; color:#2A91B0; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Klienci: &nbsp;&nbsp;</label>
                            <br />
                            <br />
                            <div id="jQ_client" class="input_bg_tiny" style="width:100%;">
                                <br />
                                <?php $check = ''; if(isset($this->dane['klient']) && !empty($this->dane['klient'])): ?>
                                   <?php foreach($this->dane['klient'] as $key=>$value): ?>
                                        <?php $ar = explode(',', $value);
                                            $hidden = '<input type="hidden" name="post[klient]['.$ar[4].']" value="'.($this->dane['typ'] == 1 ? $ar[0]: $ar[1]).'" />';
                                            $sms = isset($ar[0]) && !empty($ar[0])? ', sms: '.$ar[0] : '';
                                            $email = isset($ar[1]) && !empty($ar[1])? ', e-mail: '.$ar[1] : '';
                                        ?>
                                        <?php if($this->dane['typ'] == 0 && !empty($email) || $this->dane['typ'] == 1 && !empty($sms)): ?>
                                        <span class="db cb lf">
                                            <span class="lf"><b><?= isset($ar[2]) && !empty($ar[2])? $ar[2] : 'brak'; ?> <?= isset($ar[3]) && !empty($ar[3])? $ar[3] : 'brak'; ?></b><?= $sms.' '.$email; ?>&nbsp; &nbsp;</span><?= $hidden; ?>
                                        </span>
                                        
                                        <?php $check++; endif; ?>
                                   <?php endforeach; ?>
                                <?php if($check == ''): ?>
                                <div>Brak klientów do wysyłki</div>
                                <?php endif; ?>
                                <?php  endif; ?>
                            </div>
                        </div>
                        <br /><br /><br />
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
                        <label class="" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Statystyki</label>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Wysłanych </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[suma]" value="<?= isset($this->dane['suma'])? $this->dane['suma'] : '0.00'; ?>" />&nbsp;&nbsp;
                            <span style="float: left;">&nbsp;&nbsp;szt.</span>
                        </div>
                        <?php if($this->dane['typ'] == 1): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left; width: 97px;"><b class="">Koszt </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 120px;" type="text" class="lf center" name="post[wartosc]" value="<?= isset($this->dane['wartosc'])? $this->dane['wartosc'] : '0.00'; ?>" />&nbsp;&nbsp;
                            <span style="float: left;">&nbsp;&nbsp;zł.</span>
                        </div>
                        <?php endif; ?>
                        <?php if(false && !empty($this->dane['datarozpoczecia'])): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Ostatni raz rozpoczęto akcję </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[datarozpoczecia]" value="<?= isset($this->dane['datarozpoczecia'])? $this->dane['datarozpoczecia'] : '' ?>" />&nbsp;&nbsp;
                        </div>
                        <?php endif; ?>
                        <?php if($this->dane['powtorzen'] > 0): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Wykonano akcję </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[powtorzen]" value="<?= isset($this->dane['powtorzen'])? $this->dane['powtorzen'] : '0'; ?>" />&nbsp;&nbsp;
                            <span style="float: left;">&nbsp;&nbsp;razy</span>
                        </div>
                        <?php endif; ?>
                        <?php if(!empty($this->dane['datadeaktywacja'])): ?>
                        <br /><br />
                        <div class="input_bg_tiny" style="width:auto; float: left;">
                            <span style="float: left;"><b class="">Ostatni zakończono akcję </b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <input disabled="disabled" style="width: 90px;" type="text" class="lf center" name="post[datadeaktywacja]" value="<?= isset($this->dane['datadeaktywacja'])? $this->dane['datadeaktywacja'] : '' ?>" />&nbsp;&nbsp;
                        </div>
                        <?php endif; ?>
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br /><br />
                        <?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2" style="float:right;margin: 0 0 20px 0;">
                                <input <?= isset($this->bladkonta) && $this->bladkonta == true? 'disabled="disabled"' : false; ?> class="btn-orange" type="submit" name="ustawienia" value="Wyślij" />
                            </div>
                        <?php endif; ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>