<style type="text/css">
    body {
        font-size: 12px;
    }
</style>
<div class="modul_container">
    <div class="container">	
        <div class="box_title oh">
            <h3 class="title3 lf">Akcje marketingowe&nbsp;&nbsp;&nbsp;&nbsp;</h3>
        </div>
        <div class="content">
            <div class="all_container">
                <a class="btn-orange" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketingdodaj/">Dodaj akcje</a>
                <br />
                <div class="box_form_product cb">
                        <?php if(@count($this->rows) > 0): ?>
                        <div id="ileNaStrone" style="float: left; margin: 13px 0px 0px;">
                            <span>Sortuj wg: </span>
                            <select style="width: 240px;" onchange="window.location='<?php echo $this->baseUrl; ?>/admin/lojalnosc/marketing/sortuj/'+this.value">
                                <option value="">wybierz</option>
                                <option <?php if($this->sortuj=='zd') echo 'selected="selected"'; ?> value="zd">data</option>
                                <option <?php if($this->sortuj=='zn') echo 'selected="selected"'; ?> value="zn">nazwa</option>
                            </select>
                        </div>
                        <div class="ileNaStrone" style="float: right; color: #777777; margin: 13px 0px 0px;">
                            <span>Wyświetl na stronie: </span>
                            <select style="width: 90px;" onchange="window.location='<?php echo $this->baseUrl; ?>/admin/lojalnosc/marketing/ile/'+this.value">
                                    <option value="50" <?php if($this->ile==50) echo 'selected="selected"'; ?>>50</option>
                                    <option value="100" <?php if($this->ile==100) echo 'selected="selected"'; ?>>100</option>
                                    <option value="all" <?php if($this->ile == 99999) echo 'selected="selected"'; ?>>wszystkie</option>
                            </select>
                        </div>
                        <div class="box_pager" style="padding: 10px 0px 20px;" id="stronicowanie">
                            <?php echo $this->render('const/stronicowanie.phtml'); ?>
                        </div>
                        <form action="" method="post">
                        <table class="foto_box padding" style="float:left;">
                                <colgroup>
                                        <col width="5%"/>
                                        <col width="10%"/>
                                        <col width="25%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="15%"/>
                                        <col width="2%"/>
                                        <col width="2%"/>
                                        <col width="2%"/>
                                </colgroup>
                                <tr>
                                    <th>l.p.</th>
                                    <th>Dodano</th>
                                    <th>Tytuł</th>
                                    <th>Typ</th>
                                    <th>Wysłanych ilość</th>
                                    <th>Wysłanych koszt</th>
                                    <th>Klientów</th>
                                    <!--<th>Zamówień</th>-->
                                    <th colspan="2">Wyślij</th>
                                    <th>Skuteczność</th>
                                    <th>Edytuj</th>
                                    <th>Usuń</th>
                                </tr>
                                <?php $j = 1; foreach($this->rows as $row): ?>

                                    <?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>

                                    <tr class="<?php echo $style; ?>">
                                        <td align="left"><?= $j++; ?>.</td>
                                        <td align="center"><?= $row['data']; ?></td>
                                        <td align="left"><a href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketingedytuj/id/<?= $row['id']; ?>"><strong><?= $row['nazwa']; ?></strong></a></td>
                                        <td align="center"><strong><?= $row['typ'] ? 'sms':'e-mail'; ?></strong></td>
                                        <td align="center"><b class="price_lista"><?= $row['suma'] ? $row['suma'] : 0; ?></b> szt.</td>
                                        <td align="center"><b class="price_lista"><?= $row['wartosc'] ? $row['wartosc'] : 0.00; ?></b> zł</td>
                                        <td align="center">
                                            <?php
                                                $ilosc = is_string($row['klient']) ? unserialize($row['klient']) : 0;
                                            ?>

                                            <b class="price_lista"><?= count($ilosc); ?></b> os.
                                        </td>
                                        <!--<td align="center">
                                            <b class="price_lista">0</b> zam.
                                        </td>-->
                                        <td colspan="2" align="center">
                                            <?php if($row['aktywna'] == 0): ?>
                                            <b class="lblcolorBlue">zatrzymana</b>
                                            <?php else: ?>
                                            <a class="add_ico <?= $style; ?>" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketingrozpocznij/id/<?= $row['id']; ?>"></a>
                                            <?php endif; ?>
                                        </td>
                                        <td align="center"><a class="see_ico <?= $style; ?>" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketingskutecznosc/id/<?= $row['id']; ?>"></a></td>
                                        <td align="center"><a class="edit_ico <?= $style; ?>" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketingedytuj/id/<?= $row['id']; ?>"></a></td>
                                        <td align="center"><a class="del_ico <?= $style; ?>" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketingdelete/id/<?= $row['id']; ?>"></a></td>
                                    </tr>
                                <?php $j++; endforeach; ?>
                        </table>

                        </form>

                        <?php else: ?>
                            <div class="info_empty">Brak dodanych akcji marketingowych.</div>
                        <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>