<style type="text/css">
    .modul_container {
        font-size: 12px;
    }
</style>
<script type="text/javascript">
    var baseUrl = '<?= $this->baseUrl; ?>';
</script>
<div class="modul_container">
    <div class="container">
        <div class="box_title oh">
            <h3 class="title3 lf">Akcje marketingowe&nbsp;&nbsp;&nbsp;&nbsp;</h3>
            <a class="btn-orange small" href="<?= $this->baseUrl; ?>/admin/lojalnosc/marketing/">Pokaż lista</a>
        </div>
        <div class="content">
            <div class="all_container">
                <?php if(isset($this->error) && !empty($this->error)): ?><div class="error_container"><?= $this->error; ?></div><?php endif; ?>
                <div class="box_form user_add">
                    <form name="ustaw" action="" method="post">
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                jQuery('a[rel*=facebox]').facebox({
                                    loadingImage : '<?= $this->baseUrl; ?>/public/images/admin/facebox/loading.gif',
                                    closeImage   : '<?= $this->baseUrl; ?>/public/images/admin/facebox/closelabel.png'
                                });
                                jQuery('a.facebox').facebox({
                                    loadingImage : '<?= $this->baseUrl; ?>/public/images/admin/facebox/loading.gif',
                                    closeImage   : '<?= $this->baseUrl; ?>/public/images/admin/facebox/closelabel.png'
                                });
                                $( "#jQuery-od" ).datepicker({
                                    defaultDate: "+1w",
                                    dateFormat: 'yy-mm-dd', showOn: 'button',
                                    buttonImage: '<?= $this->baseUrl; ?>/public/images/admin/ikony/calendar.gif',
                                    buttonImageOnly: true,
                                    changeMonth: true,
                                    changeYear: true,
                                    onSelect: function( selectedDate ) {
                                        $( "#jQuery-do" ).datepicker( "option", "minDate", selectedDate );
                                    }
                                });
                                $( "#jQuery-do").datepicker({
                                    defaultDate: "+1w",
                                    dateFormat: 'yy-mm-dd', showOn: 'button',
                                    buttonImage: '<?= $this->baseUrl; ?>/public/images/admin/ikony/calendar.gif',
                                    buttonImageOnly: true,
                                    changeMonth: true,
                                    changeYear: true,
                                    onSelect: function( selectedDate ) {
                                        $("#jQuery-od").datepicker( "option", "maxDate", selectedDate );
                                    }
                                });
                           });
                        </script>
                        <div class="form_row2">
                            <br />
                            <label class="required" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Dane podstawowe</label>
                            <br /><br />
                            <div class="row-mark lf">
                                Data rozpoczęcia (data wysyłki): <b><?= $this->dane['data']; ?></b>
                                <input type="hidden" name="post[data]" value="<?= isset($this->dane['data'])? $this->dane['data'] : ''; ?>" />
                            </div>
                            <div class="row-mark rf">
                                Data zakończenia: <b><?= (!empty($this->dane['datadeaktywacja']))? $this->dane['datadeaktywacja'] : 'XXXX-XX-XX'; ?></b>
                            </div>
                            <div class="cb"></div>
                            <div class="input_bg_tiny" style="width:auto; float: left;">
                                <span style="float: left;"><b class="required">Tytuł *</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg">
                                    <input style="width: 200px;" type="text" class="lf" name="post[nazwa]" value="<?= isset($this->dane['nazwa'])? $this->dane['nazwa'] : ''; ?>" />&nbsp;&nbsp;
                                </div>
                            </div>
                            <br /><br />
                            <div class="input_bg_tiny" style="width:100%;">
                                <span style="float: left;"><b>Zatrzymaj</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div class="input_bg">
                                    <input type="hidden" name="post[aktywna]" value="0" />
                                    <input type="checkbox" <?= isset($this->dane['aktywna']) && $this->dane['aktywna'] == 1 ? 'checked="checked"' : ''; ?> class="lf" name="post[aktywna]" value="1" />&nbsp;&nbsp;
                                </div>
                            </div><br /><br />
                            <div class="input_bg_tiny cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="required">Typ akcji *</b>: &nbsp;&nbsp;&nbsp;</span>
                                <div style="float: left;">
                                    <input type="hidden" name="post[typ]" value="0" />
                                <input id="jQ_field_text1" onclick="return toggleC(this.id, 'jQ_field_text2_open');" type="radio" name="post[typ]" <?= isset($this->dane['typ']) && $this->dane['typ'] == 0 || !isset($this->dane['typ']) ?  'checked="checked"': ''; ?> value="0" />
                                <b>e-mail</b>  &nbsp; <input id="jQ_field_text2" onclick="return toggleC(this.id, 'jQ_field_text1_open');" type="radio" name="post[typ]" <?= isset($this->dane['typ']) && $this->dane['typ'] == 1 ?  'checked="checked"': ''; ?> value="1" />&nbsp; <b>sms</b>
                                </div>
                            </div>
                            <div class="cb"><br /></div>
                            <div class="input_bg_tiny cb" style="width:auto; float: left;">
                                <span style="float: left;"><b class="">Treść</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <div id="jQ_field_text2_open" class="lf <?= isset($this->dane['typ']) && $this->dane['typ'] == 1? 'db' : 'dn' ?>">
                                    <textarea class="txtTextarea" onkeyup="return lengthInput(this, 'jq_length_field');" rows="" cols="" name="post[tekst]"><?= isset($this->dane['tekst']) ? strip_tags($this->dane['tekst']) : ''; ?></textarea>
                                    <span class="stanSms"><a title="<?= $this->infosms; ?>" class="jQ_tooltip see_ico silver rf"></a><span>Długość wiadomości: <strong id="jq_length_field"><?= isset($this->dane['tekst'])? mb_strlen($this->dane['tekst'], 'UTF-8') : 0 ?></strong> znaków&nbsp;&nbsp;</span></span>
                                </div>
                                <div id="jQ_field_text1_open" class="lf <?= !isset($this->dane['typ']) || isset($this->dane['typ']) && $this->dane['typ'] == 0? 'db' : 'dn' ?>">
                                    <?= $this->editor; ?>
                                </div>
                            </div>
                            <?php if(false): ?>
                            <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /><br /></div>
                            <br />
                            <br />
                            <label class="required" style="font-weight:bold; color:#2A91B0;font-size: 15px; text-transform: uppercase;">Termin akcji</label>
                            <br /><br />
                            <div class="input_bg_tiny" style="width:100%;">
                                <span style="float: left;"><b class="required">Wysyłka *</b>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="hidden" name="post[czas]" value="0" />
                                <input onclick="return toggleC('', 'jq_field_text3_open');" type="radio" <?= isset($this->dane['czas']) && $this->dane['czas'] == 0 || !isset($this->dane['czas']) ?  'checked="checked"': ''; ?> name="post[czas]" value="0"/>&nbsp;&nbsp;
                                <b>jednorazowo</b>
                                <br /><br />
                                <span style="float: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input disabled="disabled" id="jq_field_text3" onclick="return toggleC(this.id, '');" type="radio" <?= isset($this->dane['czas']) && $this->dane['czas'] == 1 ?  'checked="checked"': ''; ?> name="post[czas]" value="1"/>&nbsp;&nbsp;
                                <b>cyklicznie</b>
                                &nbsp;&nbsp; <b>od</b> <input disabled="disabled" type="text" class="center" name="post[start]" value="<?php echo $this->dane['start']; ?>" />
                                &nbsp;&nbsp; <b>do</b> <input disabled="disabled" type="text" class="center" name="post[koniec]" value="<?php echo $this->dane['koniec']; ?>" />
                                <br />
                                <div id="jq_field_text3_open" class="<?= isset($this->dane['czas']) && $this->dane['czas'] == 1 ? 'db': 'dn'; ?>" style="margin: 20px 0 0 100px; overflow: hidden;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;<input disabled="disabled" type="radio" <?= isset($this->dane['czastyp']) && $this->dane['czastyp'] == 0 ?  'checked="checked"': ''; ?> name="post[czastyp]" value="0"/>&nbsp;&nbsp;
                                    <b>co</b>&nbsp;&nbsp;  <input disabled="disabled" type="text" class="center" name="post[czasjednostka]" value="<?php echo isset($this->dane['czasjednostka']) ? $this->dane['czasjednostka'] : ''; ?>" />&nbsp;&nbsp; <b>tygodnie</b>
                                    <br /><br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;<input disabled="disabled" type="radio" <?= isset($this->dane['czastyp']) && $this->dane['czastyp'] == 1 ?  'checked="checked"': ''; ?> name="post[czastyp]" value="1"/>&nbsp;&nbsp;
                                    <b>co</b>&nbsp;&nbsp;  <input disabled="disabled" type="text" class="center" name="post[czasjednostkad]" value="<?php echo isset($this->dane['czasjednostkad']) ? $this->dane['czasjednostkad'] : ''; ?>" />&nbsp;&nbsp; <b>dni</b>
                                </div>
                            </div>
                            <?php endif; ?>
                        </div>
                        <br /><br />
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br />
                        <br />
                        <div class="form_row2">
                            <label class="required" style="font-weight:bold; font-size: 15px; text-transform: uppercase; float: left;line-height: 30px;">Klienci: *&nbsp;&nbsp;</label><a rel="facebox" href="http://<?= $this->www.''.$this->baseUrl; ?>/ajax/upominki/getclient/od/0" class="btn-orange" href="#">wybierz</a>
                            <br />
                            <br />
                            <div id="jQ_client" class="input_bg_tiny" style="width:100%;">
                                <br />
                                <?php if(isset($this->dane['klient']) && !empty($this->dane['klient'])): ?>
                                   <?php foreach($this->dane['klient'] as $key=>$value): ?>
                                        <?php $ar = explode(',', $value);
                                            $hidden = '<input type="hidden" name="post[klient]['.$ar[4].']" value="'.$value.'" />';
                                            $sms = isset($ar[0]) && !empty($ar[0])? ', sms: '.$ar[0] : '';
                                            $email = isset($ar[1]) && !empty($ar[1])? ', e-mail: '.$ar[1] : '';
                                        ?>
                                        <span class="db cb lf">
                                            <span class="lf"><b><?= isset($ar[2]) && !empty($ar[2])? $ar[2] : 'brak'; ?> <?= isset($ar[3]) && !empty($ar[3])? $ar[3] : 'brak'; ?></b><?= $sms.' '.$email; ?>&nbsp; &nbsp;</span> <a onclick="return removeRow(this);" title="usuń z akcji" class="lf del_ico silver"></a><?= $hidden; ?>
                                        </span>
                                   <?php endforeach; ?>
                                <?php  endif; ?>
                            </div>
                        </div>
                        <div style="border-bottom: 4px solid #FF7800; clear: both;"><br /></div>
                        <br /><br />
                        <?php if($this->edycjazablokowana === false): ?>
                            <div class="button_form m2" style="float:right;margin: 0 0 20px 0;">
                                <input class="btn-orange" type="submit" name="wyslij" value="Zapisz i wyślij" />
                            </div>
                            <div class="button_form m2" style="float:right;margin: 0 10px 20px 0;">
                                <input class="btn-orange" type="submit" name="ustawienia" value="Zapisz" />
                            </div>
                        <?php endif; ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>