<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Domyślne komentarze</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Domyślne komentarze</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/komentarze/dodaj/">Dodaj komantarz</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj komentarzami:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->display)): ?>
					
					<table class="foto_box padding">
						<colgroup>
                                                    <col width="10%"/>
                                                    <col width="50%"/>
                                                    <col width="20%"/>
                                                    <col width="10%"/>
                                                    <col width="10%"/>
                                                    
						</colgroup>
						<tr>
                                                    <th>Nr.</th>
                                                    <th>Treść</th>
                                                    <th>Typ</th>
                                                    <th>Edytuj</th>
                                                    <th>Usuń</th>
						</tr>
						
						<?php $j = 1; foreach ($this->display as $display): ?>
								
                                                    <?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

                                                    <tr class="<?php echo $style; ?>">
                                                        <td><?php echo $j; ?>.</td>
                                                        <td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/komentarze/edytuj/id/<?php echo $display['id']; ?>"><b><?php echo $display['tresc']; ?></b></a></td>
                                                        <td><?php if($display['typ']=='POS'): ?>
                                                            Pozytywny
                                                            <?php elseif($display['typ']=='NEG'): ?>
                                                            Negatywny
                                                            <?php else: ?>
                                                            Neutralny
                                                            <?php endif; ?>
                                                        
                                                        </td>
                                                        <td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/komentarze/edytuj/id/<?php echo $display['id'];  ?>">Edytuj</a></td>
                                                        
                                                            
                                                        <td align="center">
                                                        <?php if($this->edycjazablokowana === false): ?>
                                                        <a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć to konto ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/komentarze/lista/delid/<?php echo $display['id']; ?>">Usuń</a>
                                                        <?php endif; ?>
                                                        </td>
                                                    </tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
                            <?php else: ?>
					
                                <div class="info_empty">Brak dodanych komentarzy.</div>
					
                            <?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>