#popupContact {
    bottom: 0;
    display: none;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    text-align: center;
    background-color: #333333;
    line-height: 18px;
}

#popupContactClose {
    background: #ccc none repeat scroll 0 0;
    border-radius: 5px;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    height: 22px;
    line-height: 21px;
    margin: 0 10px;
    width: 47px;
}
#popupContactClose:hover {text-decoration: none;}
.popupContent {
    color: #fff;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 13px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    text-align: center;
}
#contactArea {
    overflow: hidden;
    display: inline;
    padding: 10px 10px 10px 40px !important;
    background: transparent url("../../images/strona/ikony/cookies_img.png") 0 0 no-repeat;
}
a.cookieLink {
    font-size: 13px;
    color: #bfbfbf;
}