<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>	
			<span class="link_path_end">Kopie zapasowe</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Kopie zapasowe</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Kopie zapasowe:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Zarządzanie kopiami zapasowymi:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
        
            <div class="bu">
                <span class="bu">
                    <a href="<?php echo $this->baseUrl;?>/admin/backup/backup/base/pobierz">
                        Utwórz kopie zapasową bazy danych
                    </a>
                </span> 
                <span class="bu">
                    <a href="<?php echo $this->baseUrl;?>/admin/backup/backup/file/pobierz">
                        Utwórz kopie zapasową plików
                    </a>
                </span>
            </div>
        
          	<table class="foto_box padding">
								<colgroup>
                      <col width="5%" />
                      <col width="60%"/>
                      <col width="10%"/>
                      <col width="10%"/>
								</colgroup>
                    <thead>
                        <tr>
                            <th>L.p.</th>
                            <th>Nazwa</th>
                            <th>Pobierz</th>
                            <th>Usuń</th>
                        </tr>
                    </thead>
                    <tbody>
      								<?php $j = 1; foreach ($this->realizacje as $realizacja): ?>
      								
      									<?php 
                        //dump($realizacja);die;
                        if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
      
      									<tr class="<?php echo $style; ?>">
                            <td align="center"><?php echo $this->od+$j; ?>.</td>
                            <td><b><?php echo $realizacja['nazwa']; ?></b></td>
                            <td align="center"><a title="Pobierz" class="down_ico" href="<?php echo $this->baseUrl; ?>/public/admin/backup/<?php echo $realizacja['nazwa']; ?>">Pobierz</a></td>
                            <td align="center"><a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/backup/backup/delid/<?php echo $realizacja['nazwa'];?>">Usuń</a></td>
									       </tr>
								
								      <?php $j++; endforeach; ?>
                  </tbody>
							</table>
				</div>
			</div>
		</div>
	</div>
</div>