<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia &raquo;</a>			
			<span class="link_path_end">Konfiguracja wiadomości e-mail</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja wiadomości e-mail:</h3>	
		</div>
		<div class="content">
			<div class="left_side2 dn">
				<ul class="menu_left">
					<li><span class="hover">Dane wiadomości:</span></li>
				</ul>
			</div>
			<div class="right_side2">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">
						pola oznaczone <b>kolorem czerwonym</b> są wymagane.<br />
					    frazy <b>{TrescAutomatycznaNieZmieniac}</b> nie należy zmieniać.<br/>
						<?php if(@$this->wybrany->typ == 'system' || @$this->wybrany->typ == 'realizacja' || @$this->wybrany->typ == 'wyslane' || @$this->wybrany->typ == 'zmiana' || @$this->wybrany->typ == 'anulowane' || @$this->wybrany->typ == 'koniec'): ?>
						<b>NUMER_ZAMOWIENIA</b> - numer zamówienia<br/>
						<b>DATA_ZAMOWIENIA</b> - data zamówienia<br/>
						<b>NAZWA_PRODUKTU</b> - nazwa zakupionego produktu (lub ilość kupionych produktów)<br/>
						<?php if(false): ?>
						<b>LINK_DO_ANKIETY</b> - link do ankiety<br/>
						<?php endif; ?>
						<?php endif; ?>
						<?php if(@$this->wybrany->typ == 'system'): ?>
						<b>DANE_DO_PRZELEWU</b> - dane do przelewu (w przypadku rodzaju płatności PRZELEW)<br/>
						<?php endif; ?>
						<?php if(@$this->wybrany->typ == 'system' && $this->obConfig->edycjaZamowKlient): ?>
						<b>LINK_EDYCJA_ZAMOW</b> - link do edycji zamówienia przez klienta<br/>
						<?php endif; ?>
						<?php if(@$this->wybrany->typ == 'system' && @$this->ustawienia['potwierdz_zamow']): ?>
						<b>LINK_WERYFIKACJA</b> - link do weryfikacji (potwierdzenia) zamówienia<br/>
						<?php endif; ?>
						<?php if(@$this->wybrany->typ == 'rejestracja' && @$this->ustawienia['potwierdz_rejestr']): ?>
						<b>LINK_WERYFIKACJA</b> - link do weryfikacji (potwierdzenia) rejestracji<br/>
						<?php endif; ?>
						<?php if(@$this->wybrany->typ == 'polecenie' || @$this->wybrany->typ == 'rejestr_lojal' 
						|| @$this->wybrany->typ == 'rejestr_polec' || @$this->wybrany->typ == 'rejestr_polecajacy' 
						|| strpos(@$this->wybrany->typ, 'zamow_z_polec') !== false):?>
						<br/><?php echo $this->render('lojalnosc/keywords.phtml'); ?><br/>
						<?php endif; ?>
					</div>
					<form name="wybierzWiadomosc" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label>Wybierz wiadomość:</label>
							<div class="input_bg w1">
								<select name="id" onChange="this.form.submit();">
            						<option value="0">wybierz</option>
            						<?php for($i = 0; $i < count($this->list); $i++): ?>
									<?php $typ = $this->list[$i]['typ']; ?>
									
									<?php if(!$this->obConfig->newsletter): ?>
									<?php if($typ=='aktualnosci'||$typ=='artykuly'||$typ=='porady') continue; ?>
									<?php if($typ=='nowosci'||$typ=='promocje'||$typ=='polecane') continue; ?>
									<?php endif; ?>
									
									<?php if(!$this->obConfig->aktualnosci && $typ=='aktualnosci') continue; ?>
									<?php if(!$this->obConfig->artykuly && $typ=='artykuly') continue; ?>
									<?php if(!$this->obConfig->porady && $typ=='porady') continue; ?>
									
									<?php if(!$this->obConfig->oznaczNowosc && $typ=='nowosci') continue; ?>
									<?php if(!$this->obConfig->oznaczPromocja && $typ=='promocje') continue; ?>
									<?php if(!$this->obConfig->oznaczPolecane && $typ=='polecane') continue; ?>
									
									<?php if(!$this->obConfig->obserwowane && $typ=='obserwowane') continue; ?>
									
									<?php if(!$this->obConfig->zamowienia && $typ=='system') continue; ?>
									<?php if(!$this->obConfig->zamowienia && $typ=='realizacja') continue; ?>
									<?php if(!$this->obConfig->zamowienia && $typ=='zmiana') continue; ?>
									<?php if(!$this->obConfig->zamowienia && $typ=='wyslane') continue; ?>
									<?php if(!$this->obConfig->zamowienia && $typ=='anulowane') continue; ?>
									<?php if(!$this->obConfig->zamowienia && $typ=='braktowaru') continue; ?>
									<?php if(!$this->obConfig->zamowienia && $typ=='koniec') continue; ?>
									
									<?php if(!$this->obConfig->sklepOnline && $typ=='rejestracja') continue; ?>
									<?php if(!$this->obConfig->sklepOnline && $typ=='weryfikacja') continue; ?>
									<?php if(!$this->obConfig->sklepOnline && $typ=='przypomnienie') continue; ?>
									
									<?php if(!$this->obConfig->lojalnoscPolecenia && $typ=='polecenie') continue; ?>
									<?php if(!$this->obConfig->lojalnoscPolecenia && $typ=='rejestr_polec') continue; ?>
									<?php if(!$this->obConfig->lojalnosc && $typ=='rejestr_lojal') continue; ?>
									<?php if(!$this->obConfig->lojalnoscPolecenia && $typ=='zamow_z_polec') continue; ?>
									<?php if(!$this->obConfig->lojalnoscPolecenia && $typ=='zamow_z_polec_1') continue; ?>
									<?php if(!$this->obConfig->lojalnoscPolecenia && $typ=='zamow_z_polec_0') continue; ?>
									<?php if(!$this->obConfig->lojalnoscPolecenia && $typ=='rejestr_polecajacy') continue; ?>
									
									<?php if(!$this->obConfig->allegroZamowienia && strpos($typ,'all') === 0) continue; ?>
									<?php if(!$this->obConfig->allegroZamowienia && strpos($typ,'allegro') > 0) continue; ?>
									<?php if(strpos($typ,'all') === 0 && !isset($this->typyZamowienAllegro[$typ])) continue; ?>
									
									<?php if($this->obConfig->lojalnosc && $_SESSION['lojalnosc'] && 1 && !in_array($typ, array('polecenie','rejestr_polec','rejestr_lojal','zamow_z_polec','zamow_z_polec_1','zamow_z_polec_0','rejestr_polecajacy'))) continue; ?>
									
									<option value="<?php echo $this->list[$i]['id']; ?>" <?php if($this->wybrany->id == $this->list[$i]['id']): ?> selected="selected" <?php endif; ?>>
										<?php echo $this->list[$i]['tytul']; ?>
									</option>
									
									<?php endfor; ?>
       						 
							 	</select>	
							</div>
						</div>
					</form>
					
					<?php if(isset($this->wybrany->typ)) { ?>
					<form name="logowanie" action="" method="post" enctype="multipart/form-data">                   
						<input type="hidden" name="typ" value="<?php echo $this->wybrany->typ; ?>" />
        				<input type="hidden" name="id" value="<?php echo $this->wybrany->id; ?>" />
						<div class="form_row">
							<label class="small required">Temat:</label>
							<div class="input_bg w3" style="width:600px!important;">
								<input class="input_temat" id="temat" name="temat" type="text" value="<?php echo $this->wybrany->temat; ?>" style="width:100%!important;"/>
							</div>
						</div>
						<div class="form_row">
							<label class="required small">Opis:</label>
							<div class="textarea_bg w1">
								<?php echo $this->editor; ?>
							</div>
						</div>
						<div class="form_row">
							<label class="small">Załączniki:</label>
							<div class="input_bg w1">
								<input type="file" id="zalaczniki" name="zalaczniki" />
								<div id="files">
								<?php //$pliki = @unserialize($this->wybrany['zalaczniki']); ?>
								<?php if(false && is_array($this->pliki) && count($this->pliki) > 0): ?>
								<?php foreach($this->pliki as $fileID => $file): ?>
								<a href="<?php echo $this->baseUrl; ?>/public/admin/zalaczniki/<?php echo $file; ?>" target="_blank"><?php echo $file; ?></a><br/>
								<?php endforeach; ?>
								<?php endif; ?>
								</div>
							</div>
						</div>
                 		<?php if($this->edycjazablokowana === false): ?>
                        <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="edytuj" id="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
</div>