	<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/galeria/lista/od/0/">Lista galerii &raquo;</a>
			<span class="link_path_end">Lista galerii</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Lista galerii" />
			<h2 class="title2 p1">Lista galerii</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/galeria/dodaj/">Dodaj galerię</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj galeriami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>

				<div class="box_foto_product">
			<div class="form_title"><h2 class="title4">Galeria:</h2></div>
			
			<form  action="" method="post" enctype="multipart/form-data">
				<div class="form_row">
					<label class="required">Temat:</label>
					<div class="input_bg w1">
						<input name="nazwa" type="text" value="<?php echo (isset($this->dane['nazwa'])) ? $this->dane['nazwa'] : ''; ?>" />
					</div>
				</div>
				<?php if($this->obConfig->galeriaZdjecia): ?>
				<div class="form_row">
					<label>Zdjęcie:</label>
					<div class="input_bg">
						<input type="file" name="img" />
					</div>
				</div>
				<?php endif; ?>
					<label class="small">Opis:</label>
					<div class="textarea_bg w1">
						<?php echo $this->editor; ?>
					</div>
				</div>                                                    
				<div class="button_form m2">
					<div class="button1">
						<input type="submit" name="opis_zapisz" id="zapisz" value="Zapisz" />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>