<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Galeria <?php echo @stripslashes($this->dane['nazwa']);?></h2>
		</div>
		<?php if($this->obConfig->galeriaRodzaje): ?>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl;?>/admin/galeria/lista/">Wróć do listy galerii</a>
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/galeria/dodaj/">Dodaj galerię</a>
		</div>
		<?php endif; ?>
		<div class="box_title">
			<h3 class="title3">Zarządzaj galerią <?php echo @stripslashes($this->dane['nazwa']);?>:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">galeria</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					
					<form action="" method="post" enctype="multipart/form-data">
					<div class="form_title">
					<h2 class="title4">Dodaj zdjęcie (optymalna wielkość dodawanego zdjęcia: 
					<?php echo $this->ImageDir->GaleriaX; ?>px x <?php echo $this->ImageDir->GaleriaY; ?>px)</h2>
					</div>
					<div class="form_row">
						<label class="required">Plik:</label>
						<div class="input_bg">
							 <?php 
							 if(strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE): ?>
							 <input type="file" name="img[]" class="multi" accept="jpg" />
							 <?php else: ?>
							 <input type="file" name="img[]" id="filesToUpload" multiple="" onchange="pliki(false);"/>									
							<div id="plikiDiv"></div>
							<?php endif; ?>
							<!--<input type="file" id="imgFile" name="imgFile" />-->
						</div>
					</div>
					<div class="form_row">
						<label class="">Opis:</label>
						<div class="input_bg w6">
							 <input type="text" name="opis" value="" />
						</div>
					</div>
					<?php if($this->obConfig->galeriaLinki): ?>
					<div class="form_row">
						<label class="">Link:</label>
						<div class="input_bg w6">
							 <input type="text" name="link" value="" />
						</div>
					</div>
					<?php endif; ?>
					<div class="button_form m2">
						<div class="button1">
							<input type="submit" name="slideZapisz" value="Zapisz" />	
						</div>
					</div>
					</form>
					
					<!--Lista slajd-->
					<?php if(isset($this->slajdy) && count($this->slajdy) > 0): ?>
					
						<div class="box_foto_product">
							<form action="" method="post">
							<table class="foto_box">
								<colgroup>
									<col width="30%"/>
									<col width=""/>
									<?php if($this->obConfig->galeriaLinki): ?>
									<col width="20%"/>
									<?php endif; ?>
									<col width="5%"/>
									<col width="5%"/>
									<?php if($this->obConfig->galeriaGlowny): ?>
									<col width="5%"/>
									<?php endif; ?>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>Zdjęcie</th>
									<th>Opis</th>
									<?php if($this->obConfig->galeriaLinki): ?>
									<th>Link</th>
									<?php endif; ?>
									<th>Aktywny</th>
									<?php if($this->obConfig->galeriaGlowny): ?>
									<th>Główny</th>
									<?php endif; ?>
									<th>Kolejność</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=0; foreach($this->slajdy as $slajd): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<img src="<?php echo $this->baseUrl; ?>/public/admin/galeria/<?php echo $slajd['img'];?>" width="200" />
									</td>
									<td>
										<textarea name="opisy[<?php echo $slajd['id'];?>]" rows="3" cols="20" border="1" class="b<?php echo $style; ?>"><?php echo $slajd['opis'];?></textarea>
									</td>
									<?php if($this->obConfig->galeriaLinki): ?>
									<td align="center">
										<textarea name="linki[<?php echo $slajd['id'];?>]" rows="3" cols="20" border="1" class="b<?php echo $style; ?>"><?php echo $slajd['link'];?></textarea>
									</td>
									<?php endif; ?>
									<?php if(false): ?>
									<td align="center">
										<input type="text" name="czasy[<?php echo $slajd['id'];?>]" value="<?php echo $slajd['czas'];?>" size="5" class="b<?php echo $style; ?>" />
									</td>
									<?php endif; ?>
									<td align="center">
										<input type="checkbox" name="aktywny[<?php echo $slajd['id'];?>]" <?php if($slajd['aktywny']) echo 'checked="checked"';?>/>
									</td>
									<?php if($this->obConfig->galeriaGlowny): ?>
									<td align="center">
										<?php if($slajd['glowny'] == 'T'): ?><b>TAK</b><?php else: ?>
										<a title="Główny" class="ok_ico2 <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/galeria/galeria/id/<?php echo $this->gal;?>/glowny/<?php echo $slajd['id'];?>">Ustaw</a>
										<?php endif; ?>
									</td>
									<?php endif; ?>
									<td align="center">
										<?php if($i > 0): ?>
										<a title="up" class="up_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/galeria/galeria/id/<?php echo $this->gal;?>/up/<?php echo $slajd['id'];?>/prev/<?php echo $this->slajdy[$i-1]['id'];?>">W górę</a>
										<?php endif; ?>
										<?php if($i < count($this->slajdy) - 1): ?>
										<a title="down" class="down_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/galeria/galeria/id/<?php echo $this->gal;?>/down/<?php echo $slajd['id'];?>/next/<?php echo $this->slajdy[$i + 1]['id'];?>">W dół</a>
										<?php endif; ?>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/galeria/galeria/id/<?php echo $this->gal;?>/delid/<?php echo $slajd['id'];?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="slideLinkiZapisz" value="Zapisz" />	
								</div>
							</div>
							</form>
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych zdjęć.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>