<div class="strona_tytul" id="strona_edytuj">Menu - dodaj podstrone - <?php for($i=0; $i<count($this->path); $i++){ ?>
<?php echo $this->path[$i]['nazwa']; ?> /<?php } ?></div>
<div id="form_podstrony">	 
    <?php echo $this->error; ?>
	<form action="" method="post"  >
	<input type="hidden" name="id" value="<?php  ?>" >
      		<div class="mojtytul">Nazwa kategorii : </div>
       		<input type="text" name="nazwa" class="input_temat" > <br/>
                <div class="mojtytul">Tekst:</div>
                <div class="temat" style="margin-left:0px;">
                <?php echo $this->edytor; ?>
                </div>
     		<input type="submit" name="submit" value="zapisz" class="przycisk_1" />
      	</form>
</div>
<div id="dystans_dol"></div>


