<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/new_admin/ikony/ikona_produkt_kategoria.png" alt="Kategorie" />
			<h2 class="title2 p1">Raport odwiedzin produktów</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj raportami odwiedzin:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					<div class="box_search padding">
						<div class="form_title"><h2 class="title4">Raport 30-tu najczęściej odwiedzanych produktów:</h2></div>
						<form  action="" method="post" enctype="multipart/form-data">                    
	               			<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" /> 
							<div class="form_row">
								<label class="required small">Skrot:</label>
								<div class="textarea_bg w1">
									<?php echo $this->skrot; ?>
								</div>
							</div>
							<div class="form_row">
								<label class="required small">Opis:</label>
								<div class="textarea_bg w1">
									<?php echo $this->edytor; ?>
								</div>
							</div>                                                    
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="opis_zapisz" value="Zapisz" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>










  			<div class="strona_tytul" id="strona_edytuj">Menu - edycja podstrony - <?php echo $this->escape($this->tytul); ?></div>
             	<?php print_r($this->path); ?>
            <div id="form_podstrony">	 
            <?php echo $this->error; ?>
            	<form action="" method="post"  >
            		<input type="hidden" name="id" value="<?php  ?>" >
            		<div class="mojtytul">Nazwa kategorii : </div>
            		<input type="text" name="nazwa" value="<?php echo $this->kategoria->nazwa; ?>" class="input_temat" > <br/>
                        <div class="mojtytul">Tekst:</div>
                        <div class="temat" style="margin-left:0px;">
                            <?php echo $this->edytor; ?>
                        </div>
            		<input type="submit" name="submit" value="zapisz" class="przycisk_1" />
            		 
            	</form>
            </div>
         
            <div id="dystans_dol"></div>

