
<div class="strona_tytul" id="strona_edytuj">Stopka - Zarządzanie podstronami <?php echo $this->escape($this->tytul); ?></div>

<div id="form_podstrony">
    <a href="<?php echo $this->baseUrl; ?>/admin/strony/dodaj/id/<?php echo $this->id; ?>" class="przycisk_1" 
       style="margin: 20px; float: left; text-decoration: none; margin-left: 240px; width: 150px; height: 20px; text-align: center; padding-top: 7px;">Dodaj podstronę</a>
    <?php echo $this->kategorie; ?>

</div>

<div id="dystans_dol"></div>

