/***DEFAULT***/

* {
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    background: #ffffff url(../images/admin/tlo_body.png) center top repeat-x;
    font-family: Tahoma, Arial, Verdana;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    color: #646464;
}
a {
    color: #FF8E0B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/***POZYCJONOWANIE ELEMENTÓW***/

.pa {
    position: absolute;
}
.pr {
    position: relative;
}
.ps {
    position: static;
}
.pf {
    position: fixed;
}
.pai {
    position: absolute!important;
}
.pri {
    position: relative!important;
}
.psi {
    position: static!important;
}
.pfi {
    position: fixed!important;
}
.cb {
    clear: both;
}
.cbi {
    clear: both!important;
}
.cl {
    clear: left;
}
.cli {
    clear: left!important;
}
.cr {
    clear: right;
}
.cri {
    clear: right!important;
}
.cn {
    clear: none;
}
.cni {
    clear: none!important;
}
.rf {
    float: right;
}
.rfi {
    float: right!important;
}
.lf {
    float: left;
}
.lfi {
    float: left!important;
}
.nf {
    float: none;
}
.nfi {
    float: none !important;
}
.dn {
    display: none;
}
.dni {
    display: none !important;
}
.di {
    display: inline;
}
.dii {
    display: inline!important;
}
.dib {
    display: inline-block;
}
.dibi {
    display: inline-block !important;
}
.db {
    display: block;
}
.dbi {
    display: block!important;
}
.vh {
    visibility: hidden;
}
.vhi {
    visibility: hidden!important;
}
.vv {
    visibility: visible;
}
.vvi {
    visibility: visible!important;
}
.tal {
    text-align: left;
}
.tali {
    text-align: left!important;
}
.tar {
    text-align: right;
}
.tari {
    text-align: right!important;
}
.tac {
    text-align: center;
}
.taci {
    text-align: center!important;
}
.wa {
    width: auto!important;
}
.h0 {
    height: 0px;
}
/***KONTENERY***/

div.page {
    overflow: visible;
    width: 960px;
    margin: 0 auto;
    padding: 0 0 70px;
}
div.top_container {
    overflow: visible;
}
div.top {
    overflow: hidden;
    width: 100%;
    height: 69px;
}
div.top_container div.right {
    overflow: hidden;
    float: right;
}
div.bottom {
    overflow: visible;
    clear: both;
    width: 100%;
}
div.menu {
    overflow: visible;
}
div.main_container {
    clear: both;
    overflow: hidden;
    margin: 0 0 20px;
    width: 100%;
    min-height: 300px;
}
div.foot_container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: #646464;
    border-top: 2px solid #c3c3c3;
    padding: 27px 0;
}
div.box_change_link {
    float: left;
    height: 22px;
    margin: 0 16px;
    padding: 26px 17px 21px 20px;
    background: transparent url(../images/admin/linia_pionowa_gora.png) right center no-repeat;
}
div.modul_container {
    overflow: hidden;
}
div.container {
    overflow: hidden;
    border: 1px solid #C3C3C3;
    padding: 0 0 20px;
}
div.box_title {
    padding: 10px 15px;
}
div.box_link_navi {
    overflow: hidden;
    border-bottom: 1px solid #C3C3C3;
    padding: 10px 15px;
}
div.content {
    overflow: hidden;
    padding: 0 15px;
    border-top: 3px solid #C3C3C3;
}
div.content.padding {
    padding-top: 20px;
}
div.left_side {
    width: 189px;
    float: left;
    overflow: hidden;
    background: #ffffff;
}
div.right_side {
    width: 719px;
    padding: 10px 10px;
    float: left;
    overflow: hidden;
    background: #f4f4f4;
}
div.right_side_wide {
	width: 100%;
}
div.right_side_wide div.textarea_bg{
	width: 900px;
}
div.all_container {
    padding: 10px 10px;
    overflow: hidden;
    background: #f4f4f4;
}
div.box_form_product {
    overflow: hidden;
}

/***STOPKA***/

div.foot_company {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    color: #b2b2b2;
}
div.foot_company a {
    color: #b2b2b2;
    font-size: 11px;
}

/***LOGO***/

a.logo {
    float: left;
    display: block;
    width: 117px;
    height: 43px;
    margin: 14px 0;
    background: transparent url(../images/admin/logo.png) 0 0 no-repeat;
}

/***NAGLOWKI***/

h1.title1 {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c1d00;
}
h1.title1.bg {
    height: 22px;
    margin: 0 0 0 15px;
    padding: 15px 10px 32px 15px;
    background: transparent url(../images/admin/linia_pionowa_gora.png) 0 center no-repeat;
}
h2.title2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}
h2.title2.p1 {
    padding: 13px 15px 13px 0;
    float: left;
}
h3.title3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #646464;
}
h3.title3 span {
    font-weight: bold;
    color: #000000;
}
h2.title4 {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

/***KOMUNIKATY***/

div.error_container {
    overflow: hidden;
    clear: both;
    padding: 10px;
    margin: 10px 0 10px;
    background: #ffffff;
    border: 2px solid #ff0000;
}
div.k_uwaga,
div.k_ok,
div.k_blad {
    padding: 10px 44px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #646464;
}
.jGrowl div.k_uwaga, .jGrowl div.k_ok, .jGrowl div.k_blad
{
	color:white;
}
div.k_blad {
    background: transparent url(../images/admin/komunikaty/blad.jpg) 0 0 no-repeat;
}
div.k_ok {
    background: transparent url(../images/admin/komunikaty/ok.jpg) 0 0 no-repeat;
}
div.k_uwaga {
    background: transparent url(../images/admin/komunikaty/uwaga.png) 0 0 no-repeat;
}
div#lista_bledow_uwaga,
div#lista_bledow {
    font-size: 12px;
    line-height: 18px;
}
div.error_info {
    overflow: hidden;
    clear: both;
    padding: 5px;
    font-size: 11px;
    line-height: 18px;
}
div.error_info b {
    color: #ff0000;
}
div.info_labels {
    float: left;
    width: 210px;
    padding: 0 0 0 10px;
    font-size: 11px;
    line-height: 14px;
    color: #FF5D02;
}
div.info_labels.w1 {
    width: 450px;
	line-height:18px;
	padding:0px;
}
div.info_empty {
    clear: both;
    overflow: hidden;
    text-align: center;
    color: #35B516;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 15px 0;
}
div.small_error_empty {
    line-height: 12px;
    font-size: 11px;
    color: #35B516;
    clear: both;
}
/***FORMULARZE***/

div.box_form {
    overflow: hidden;
    padding: 0 0 0 20px;
}
div.form_row {
    clear: both;
    overflow: hidden;
    margin: 5px 0 0 0;
}
div.form_row > label, div.form_row form label {
    display: block;
    width: 130px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 10px;
    color: #646464;
}
label.tiny {
    width: 35px!important;
}
label.small {
    width: 70px!important;
}
label.medium {
    width: 100px!important;
}
label.big {
    width: 250px!important;
}
label.small.login {
    text-align: right!important;
    margin: 0 10px 0 10px;
}
label.large {
    width: 400px!important;
}
label.right {
    text-align: right!important;
}
label.small.login {
    text-align: right!important;
    margin: 0 10px 0 10px;
}
div.form_row label.req,
div.form_row label.required {
    color: #ff0000;
	font-weight:normal !important;
}
div.input_bg {
    float: left;
    width: 170px;
}
div.input_bg.w1 select,
div.input_bg.w1 input,
div.input_bg.w1 textarea,
div.input_bg.w1 {
    width: 300px!important;
}
div.input_bg.w3 select,
div.input_bg.w3 input,
div.input_bg.w3 textarea,
div.input_bg.w3 {
    width: 400px;
}
div.input_bg.w3 textarea{
	height: 100px;
}
div.input_bg.w2 select,
div.input_bg.w2 input,
div.input_bg.w2 textarea,
div.input_bg.w2 {
    width: 237px!important;
}
div.input_bg.w4 select,
div.input_bg.w4 input,
div.input_bg.w4 textarea,
div.input_bg.w4 {
    width: 200px!important;
}
div.input_bg.w5 select,
div.input_bg.w5 input,
div.input_bg.w5 textarea,
div.input_bg.w5 {
    width: 140px!important;
}
div.input_bg.w6 select,
div.input_bg.w6 input,
div.input_bg.w6 textarea,
div.input_bg.w6 {
    width: 500px!important;
}
div.input_bg.w0 select,
div.input_bg.w0 input,
div.input_bg.w0 textarea,
div.input_bg.w0 {
    width: 600px!important;
}
div.input_bg.w7 select,
div.input_bg.w7 input,
div.input_bg.w7 textarea,
div.input_bg.w7 {
    width: 690px!important;
}
div.input_bg.w8 select,
div.input_bg.w8 input,
div.input_bg.w8 textarea,
div.input_bg.w8 {
    width: 760px!important;
}
div.input_bg.w9 select,
div.input_bg.w9 input,
div.input_bg.w9 textarea,
div.input_bg.w9 {
    width: 850px!important;
}
div.input_bg_small {
    float: left;
    width: 76px;
}
div.input_bg_tiny {
    float: left;
    width: 38px;
}
div.input_bg_mini {
    float: left;
    width: 20px;
}
div.input_bg input,
div.input_bg select {
    width: 170px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
}
div.input_bg textarea {
    border: 1px solid #C3C3C3;
}
div.input_bg input[type="checkbox"] {
    width: 15px!important;
    height: 15px;
    float: left;
    padding: 0px;
    margin: 2px 0 0 0;
}
div.input_bg textarea {
    width: 296px;
    height: 100px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
    font-size: 12px;
    color: #323232;
    font-family: Tahoma;
}
div.input_bg_small input,
div.input_bg_small select {
    width: 70px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
}
div.input_bg_small select {
    width: 76px;
}
div.input_bg_tiny input,
div.input_bg_tiny select {
    width: 35px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
}
div.input_bg_tiny select {
    width: 38px;
}
div.input_bg select {
    width: 176px;
}
div.input_bg_auto input[type="text"],
div.input_bg_auto select {
    width: 100%!important;
}
div.textarea_bg {
    clear: both;
    overflow: visible;
    width: 680px;
    padding: 10px 0 10px 10px;
}
div.textarea_bg.pod {
    clear: none;
    padding: 0px;
    float: left;
}
div.form_title {
    overflow: hidden;
    clear: both;
    width: 100%;
    margin: 15px 0 10px;
    padding: 5px 10px;
    background: #d2d2d2;
}
div.button_form {
    overflow: hidden;
    margin: 0 0 0 300px;
}
div.button_pages{
    overflow: hidden;
    margin: 10px 0 0 410px;
}
div.button_form.m2 {
    margin-top: 10px;
}
.position_text {
    border: 1px solid #C3C3C3;
    width: 40px;
    height: 16px;
    text-align: center;
    font-size: 11px;
    color: #35B516;
    margin: 0 5px 0 0;
    float: left;
}
span.sep_form {
    float: left;
    overflow: hidden;
    margin: 0px 10px;
}

/***UZYTKOWNIK INFO*/

div.admin_box {
	float: left;
    padding: 15px 16px 0px 0;
    background: transparent url(../images/admin/linia_pionowa_gora.png) right center no-repeat;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
	max-width:200px;
	height:40px;
	overflow:hidden;
}
div.admin_box b {
    color: #000;
}

/***LINKI I PRZYCISKI***/

a.link1 {
    display: block;
    padding: 0 7px 0 0;
    background: transparent url(../images/admin/strzalka_link_pom.png) 100% 7px no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}
a.link1.m1 {
    margin: 26px 0 25px;
    padding-left: 10px;
}
a.back {
    padding: 0 0 0 16px;
    background: transparent url(../images/admin/ikony/ikona_wroc.png) 0 3px no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
a.see_shop {
    padding: 0 0 3px 22px;
    background: transparent url(../images/admin/ikony/ikona_zobacz.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
.m_linki {
    margin: 0 10px 0 0;
}
.m_links {
    margin: 0 0px 0 0px;
}
#atrybuty div.form_row > label{
    margin: 0 0px 0 0px;
}
.nowaOpcja .m_linki{
    margin: 0 5px 0 -2px;
}
.nowaOpcja input[type="text"]{
    margin: 0 10px 0 0px;
}
div.input_bg .nowaOpcja select, .opcja div.input_bg select{
    width:auto!important;
	padding:1px;
}
a.add {
    padding: 2px 0 2px 22px;
    background: transparent url(../images/admin/ikony/ikona_dodaj.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
a.del {
    padding: 2px 0 2px 22px;
    background: transparent url(../images/admin/ikony/ikona_usun.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
a.del.silver {
    background: transparent url(../images/admin/ikony/ikona_usun_szara.png) 0 0 no-repeat;
}
a.add.silver {
    background: transparent url(../images/admin/ikony/ikona_dodaj_szara.png) 0 0 no-repeat;
}
a.drag {
    padding: 2px 0 2px 22px;
    background: transparent url(../images/admin/ikony/cursor_drag.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}

div.glowne_zdjecie_kontener {
    position: relative;
    overflow: hidden;
}
div.glowne_zdjecie {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
}
span.etykiety_ikonek {
    line-height: 38px;
    padding: 0 19px;
}
div.glowne_zdjecie_kontener img {
    border: 2px solid #FBC700;
}
div.glowne_zdjecie_kontener div.glowne_zdjecie img {
    border: 0px;
}

div.button1 {
    background: transparent url(../images/admin/przycisk_tlo.png) 0 0 repeat-x;
    float: left;
    height: 26px;
}
div.button1 input, div.button1 a{
    float: left;
    padding: 0 8px;
    height: 26px;
    background: transparent;
    border: 0px;
    font-size: 11px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
}
div.button1 a:hover{
text-decoration:none;
}
div.button0 {
    background-color: #ffc000;
    float: left;
    height: 40px;
}
div.button0 input {
    float: left;
    padding: 0 8px;
    height: 40px;
    background: transparent;
    border: 0px;
    font-size: 11px;
    font-weight: bold;
    line-height: 40px;
    color: #000000;
    cursor: pointer;
}
.zaznacz
{
	float: left;
	color:black;
	text-align:center;
	padding:0px 10px 0px 10px;
	vertical-align:middle;
}
.zaznacz input
{
	margin:15px 15px 0px 15px;
}
a.level0
{
    padding-left:0px;
}
a.level1
{
    padding-left:10px;
}
a.level2
{
    padding-left:20px;
}
a.level3
{
    padding-left:30px;
}
a.level4
{
    padding-left:40px;
}
a.level5
{
    padding-left:50px;
}
a.level6
{
    padding-left:60px;
}
a.link
{
    color: #646464;
	display:inline-block;
}
td a.link
{
    width:100%;
}
.zmienLink
{
	font-size:12px;
	min-width:30px;
	text-align:center;
}
a.zmienLink
{
	display:inline-block;
	font-weight:bold;
	background:white;
	border:1px solid #c3c3c3;
}
input.zmienLink
{
	height:20px;
	line-height:20px;
}
input.stanLink
{
	width:30px;
}
input.cenaLink
{
	width:50px;
}
a.link b.cat_main {
    color: #000000;
    font-size: 14px;
}
a.link:hover b.cat_main,
a.link:hover {
    color: #FF7600;
}
div.glowne_zdjecie_kontener {
    position: relative;
    overflow: hidden;
}
div.glowne_zdjecie {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
}
span.etykiety_ikonek {
    line-height: 38px;
    padding: 0 19px;
}
div.glowne_zdjecie_kontener img {
    border: 2px solid #FBC700;
}
div.glowne_zdjecie_kontener div.glowne_zdjecie img {
    border: 0px;
}
div.button2,
a.button2 {
    background: transparent url(../images/admin/ikony/ikona_ok.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
}
a.button2
{
	float:left;
	text-indent: -2000px;
}
div.button2 a,
div.button2 input {
    background: transparent;
    border: 0px;
    width: 16px;
    height: 16px;
    text-indent: -2000px;
    cursor: pointer;
}
div.button2 a {
    float: left;
}
div.button3 {
    background: transparent url(../images/admin/ikony/ikona_zmien.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
}
div.button3 a,
div.button3 input {
    background: transparent;
    border: 0px;
    width: 16px;
    height: 16px;
    text-indent: -2000px;
    cursor: pointer;
}
div.button3 a {
    float: left;
}
div.button4 {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 0 0px;
    height: 32px;
    padding: 0 0 0 10px;
}
div.button4_right {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 100% 0px;
    height: 32px;
}
div.button4_right a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0 3px 0 -10px;
    padding: 0 30px 0 13px;
}
div.button4_right a:hover {
    text-decoration: none;
}
div.button5 {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 0px -33px;
    height: 32px;
    padding: 0 0 0 20px;
}
div.button5_right {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 100% -33px;
    height: 32px;
}
div.button5_right a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0 3px 0 -20px;
    padding: 0 10px 0 33px;
}
div.button5_right a:hover {
    text-decoration: none;
}

/*Przyciski ikony*/
a.add_ico {
    background: transparent url(../images/admin/ikony/ikona_dodaj.png) 0 0 no-repeat;
}
a.add_ico.silver {
    background: transparent url(../images/admin/ikony/ikona_dodaj_szara.png) 0 0 no-repeat;
}
a.back_ico {
    background: transparent url(../images/admin/ikony/ikona_wroc.png) center no-repeat;
}
a.del_ico {
    background: transparent url(../images/admin/ikony/ikona_usun.png) 0 0 no-repeat;
}
a.del_ico.silver {
    background: transparent url(../images/admin/ikony/ikona_usun_szara.png) 0 0 no-repeat;
}
a.edit_ico {
    background: transparent url(../images/admin/ikony/ikona_edytuj.png) 0 0 no-repeat;
}
a.ok_ico {
    background: transparent url(../images/admin/ikony/ikona_ok.png) 0 0 no-repeat;
}
a.ok_ico.white {
    background: transparent url(../images/admin/ikony/ikona_ok.png) 0 0 no-repeat;
}
a.see_ico {
    background: transparent url(../images/admin/ikony/ikona_zobacz.png) 0 0 no-repeat;
}
a.see_ico.silver {
    background: transparent url(../images/admin/ikony/ikona_zobacz_szara.png) 0 0 no-repeat;
}
a.allegro_ico {
    background: transparent url(../images/admin/ikony/ikona_allegro.png) 0 0 no-repeat;
    height: 19px !important;
    width: 25px !important;
	margin-top:0px;
}
a.ebay_ico {
    background: transparent url(../images/admin/ikony/ikona_ebay.png) 0 0 no-repeat;
    height: 19px !important;
    width: 25px !important;
	margin-top:0px;
}
a.kopiuj_ico {
    background: transparent url(../images/admin/ikony/ikona_zmien.png) 0 0 no-repeat;
    height: 19px !important;
    width: 17px !important;
	margin-top:0px;
}
a.usun_ico {
    background: transparent url(../images/admin/ikony/ikona_usun.png) 0 0 no-repeat;
	height: 19px !important;
    width: 17px !important;
	margin-top:0px;
}
a.up_ico, a.asc {
    background: transparent url(../images/admin/arrow_up.png) 0 0 no-repeat;
	height: 10px !important;
}
a.down_ico, a.desc {
    background: transparent url(../images/admin/arrow_down.png) 0 0 no-repeat;
	height: 10px !important;
}
a.asc, a.desc
{
	background-position:0 5px;
	height: auto !important;
}
a.see_ico,
a.add_ico,
a.back_ico,
a.del_ico,
a.ok_ico,
a.edit_ico,
a.allegro_ico,
a.ebay_ico,
a.kopiuj_ico,
a.usun_ico,
a.up_ico,
a.down_ico {
    padding: 0px;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-indent: -2000px;
    color: #ff7600;
    display: inline-block;
    width: 17px;
    height: 20px;
}
a.dn {
	display:none;
}
div.input_bg_small.calendar {
    width:auto;
}
div.input_bg_small.calendar input {
    float: left;
}
/***MENU***/
/*glowne*/
ul.menu_1 {
    float: left;
    margin: 3px 0 0 0;
    padding: 0px;
    background: transparent url(../images/admin/linia_pionowa_menu.png) left center no-repeat;
}
ul.menu_1 li {
    float: left;
    height: 99px;
    background: transparent url(../images/admin/linia_pionowa_menu.png) right center no-repeat;
    list-style-type: none;
    position: relative;
    z-index: 10;
}
ul.menu_1 a {
    float: left;
    margin: 8px 5px 0;
    padding: 65px 6px 8px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #646464;
}
ul.menu_1 a:hover {
    color: #ff7700;
    text-decoration: none;
}
a.link_zam {
    background: transparent url(../images/admin/menu/zamowienia.png) center top no-repeat;
}
a.link_kli {
    background: transparent url(../images/admin/menu/klienci.png) center top no-repeat;
}
a.link_aso {
    background: transparent url(../images/admin/menu/asortyment.png) center top no-repeat;
}
a.link_imp {
    background: transparent url(../images/admin/menu/import.png) center top no-repeat;
}
a.link_zaw {
    background: transparent url(../images/admin/menu/zawartosc.png) center top no-repeat;
}
a.link_gal {
    background: transparent url(../images/admin/menu/galeria.png) center top no-repeat;
}
a.link_all {
    background: transparent url(../images/admin/menu/allegro.png) center top no-repeat;
	padding: 65px 16px 8px !important;
}
a.link_face {
    background: transparent url(../images/admin/menu/facebook.png) center top no-repeat;
}
a.link_ust {
    background: transparent url(../images/admin/menu/ustawienia.png) center top no-repeat;
}
a.link_strona_glowna {
    background: transparent url(../images/admin/menu/strona_glowna.png) center top no-repeat;
}
a.link_podstrony {
    background: transparent url(../images/admin/menu/podstrony.png) center top no-repeat;
}
a.link_akt {
    background: transparent url(../images/admin/menu/aktualnosci.png) center top no-repeat;
}
a.link_newsletter {
    background: transparent url(../images/admin/menu/newsletter.png) center top no-repeat;
}
a.link_pie {
    background: transparent url(../images/admin/menu/pieczatki.png) center top no-repeat;
}
a.link_raporty {
    background: transparent url(../images/admin/menu/raporty.png) center top no-repeat;
}
a.link_prze {
    background: transparent url(../images/admin/menu/przesylki.png) center top no-repeat;
}
a.link_sms {
    background: transparent url(../images/admin/menu/sms.png) center top no-repeat;
	padding: 47px 12px 8px !important;
	text-align: center;
}
a.link_loj {
    background: transparent url(../images/admin/menu/lojal.png) center top no-repeat;
	padding: 47px 6px 8px !important;
	text-align: center;
}
a.link_rab {
    background: transparent url(../images/admin/menu/rabat.png) center top no-repeat;
	padding: 47px 6px 8px !important;
	text-align: center;
}
a.link_goo {
    background: transparent url(../images/admin/menu/google.png) center top no-repeat;
	padding: 47px 6px 8px !important;
	text-align: center;
}
a.link_tel {
    background: transparent url(../images/admin/menu/telefon.png) center top no-repeat;
}
ul.menu_2 {
    display: none;
    position: absolute;
    top: 99px;
    left:0px;
    width: 195px;
    background: #ff7700;
    float: none;
    z-index: 15;
}
ul.menu_1 li:hover ul.menu_2 {
    display: block;
    width: 195px;
}
ul.menu_2 li {
    float: left;
    width: 195px;
    margin: 0px;
    padding: 0px;
    height: auto;
    background: transparent;
    border-bottom: 1px solid #ff8214;
}
ul.menu_2 li a {
    padding: 5px 18px!important;
    margin: 0px!important;
    width: 159px;
    float: left;
    font-size: 11px;
    font-weight: normal;
    color: #ffffff;
}
li.link_podstrony_duzo ul.menu_2 li a {
    padding: 0px 18px!important;
}
ul.menu_2 li a:hover {
    color: #000000;
}
ul.menu_2 li:hover ul.menu_3 {
	position: absolute;
	left: 195px;
	display: block;
}
ul.menu_3 {
        border-left: 1px solid #fff;
	display: none;
	width: 195px;
	background: #ff7700;
}
ul.menu_3 li {
    float: left;
    margin: 0px;
    padding: 0px;
    height: auto;
    background: transparent;
    border-bottom: 1px solid #ff8214;
}
ul.menu_3 li a {
    padding: 5px 18px!important;
    margin: 0px!important;
    width: 159px;
    float: left;
    font-size: 11px;
    font-weight: normal;
    color: #ffffff;
}
span.arrow_lvl3 {
	float: right;
	font-size: 10px;
}
/*Lewe*/
ul.menu_left {
    border-right: 1px solid #C3C3C3;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
ul.menu_left li {
    float: left;
    width: 188px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border-bottom: 1px solid #C3C3C3;
	list-style-type: none;
}
ul.menu_left li span.hover,
ul.menu_left li a {
    float: left;
    width: 168px;
    padding: 5px 5px 5px 15px;
    font-size: 11px;
    line-height: 18px;
    color: #ff5d02;
}
ul.menu_left li span.hover,
ul.menu_left li a:hover {
    color: #646464;
    background: #f4f4f4;
    text-decoration: none;
}

/***Menu strona glowna***/

div.main_page_menu {
    overflow: hidden;
    width: 600px;
    padding: 20px 0;
    margin: 0 auto;
} 
div.left_menu {
    width: 250px;
    margin: 0 25px;
    float: left;
}
ul.menu_page {
    overflow: hidden;
}
ul.menu_page li {
    list-style-type: none;
}
ul.menu_page li a {
    font-size: 13px;
    line-height: 18px;
    color: #646464;
    font-weight: bold;
}
ul.menu_page li a:hover {
    color: #FF8E0B;
}
div.ico_strona_glowna {
    background: transparent url(../images/admin/ikony/ikona_strona_glowna.png) 0 3px no-repeat;
}
div.ico_podstrony {
    background: transparent url(../images/admin/ikony/ikona_podstrony.png) 0 3px no-repeat;
}
div.ico_strona_glowna,
div.ico_podstrony {
    padding: 25px 10px 28px 80px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    color: #0272DB;
}

/***SCIEZKA NAWIGACYJNA***/

div.navi_box {
    overflow: hidden;
    width: 100%;
    padding: 6px 0;
    font-size: 10px;
}
span.no_link {
    color: #989898;
    padding: 0 2px 0 10px;
}
a.link_path {
    padding: 0 2px 0 0;
    color: #989898;
}
span.link_path_end {
    padding: 0 2px 0 0;
    font-weight: bold;
    color: #ff7600;
}

/***INNE***/

div.box_main_title {
    overflow: hidden;
    background: transparent url(../images/admin/tlo_tytul_glowny.png) 0 0 repeat-x;
    height: 45px;
}
div.box_main_title img {
    float: left;
    padding: 7px 15px;
}
div.button_toggle {
    overflow: hidden;
    padding: 5px 0 5px 10px;
    width: 250px;
}
b.price_lista {
    color: #35B516!important;
}

/***GALERIA***/

div.box_foto_product {
    overflow: hidden;
    clear: both;
    padding: 10px 0;
}
#box_display {
    overflow: hidden;
    padding: 10px 0;
}
div.main_foto {
    clear: both;
    padding: 4px 0px;
    margin: 2px 0;
    font-weight: bold;
    border: 1px solid #FF5D02;
    color: #FF5D02;
    font-size: 11px;
}


/***TABELE***/
table.foto_box {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}
table.foto_box th {
    font-weight: bold;
    font-size: 11px;
    color: #646464;
    background: #e3e3e3;
    border-left: 1px solid #ffffff;
    padding: 15px 5px;
}
table.foto_box td {
    vertical-align: middle;
    padding: 5px 5px;
    border-left: 1px solid #ffffff;
}
tr.white td {
    background: #ffffff;
    border-left: 1px solid #e3e3e3;
}
tr.white td.first {
    border: 0px;
}
tr.silver td {
    background: #f4f4f4;
    border-left: 1px solid #ffffff;
}
tr.white td.first.img,
tr.silver td.first.img {
    padding: 1px 5px;
    text-align: center;
}
tr.red2 td {
    background: #55ff55;
    border-left: 1px solid #ff0000;
}
tr.blue2 td {
    background: #cDcD00;
    border-left: 1px solid #0000ff;
}
tr.black2 td {
    background: #00093B;
    border-left: 1px solid #AD1010;
}
td.first b {
    font-weight: bold;
    font-size: 13px;
}
tr.white.bord td {
    border-bottom: 1px solid #e3e3e3;
}
table.foto_box.padding td {
    padding: 5px 5px;
	border-bottom:1px solid #e3e3e3;
}
table.foto_box.nopadding td {
    padding: 0px 5px;
	border-bottom:1px solid #e3e3e3;
}
table.foto_box tr td input, table.foto_box tr td textarea {
	border:1px solid #c3c3c3;
}
table.foto_box tr:hover td {
	background:#c3c3c3;
}

/***PAGER***/
div.box_pager {
    overflow: hidden;
    clear: both;
    text-align: center;
    padding: 1px 5px 10px;
	border:0px solid #e3e3e3;
}
div.box_pager a {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    padding: 1px 3px;
    margin-right: 2px;
    display: inline-block;
	border: 1px solid #C3C3C3;
}
div.box_pager a:hover {
    color: #FF5E02;
    padding: 1px 3px;
    text-decoration: none;
    border: 1px solid #C3C3C3;
}

div.box_pager #active,
div.box_pager .link_aktywny_stronicowanie {
    color: #FF5E02 !important;
    padding: 1px 3px;
    text-decoration: none;
    border: 1px solid #C3C3C3;
}
div.box_pager .link_nieaktywny_stronicowanie {
    color: grey !important;
    padding: 1px 3px;
    text-decoration: none;
    border: 0px solid #C3C3C3 !important;
	cursor:text !important;
}

/*WYSZUKIWARKA FORMULARZ*/
div.box_search {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
div.row_search {
    overflow: hidden;
    clear: both;
    margin: 5px 0 0 0;
}
div.box_search.padding {
    padding-bottom: 10px;
}
/*div.row_search div.form_row {
    clear: none;
    float: left;
}*/
div.row_search div.form_row div.input_bg {
    width: 250px;
}
div.row_search div.form_row div.input_bg input {
    width: 245px;
}
div.row_search div.form_row label {
    font-weight: normal;
}
div.form_cate {
	clear: none;
	float: left;
}
div.form_cate select {
	width: 140px!important;
}
div.form_cate div.input_bg {
	width: 150px!important;
}
div.input_radio {
    clear: both;
}
div.input_bg_radio input[type="radio"] {
    width: 15px!important;
    height: 15px;
}
div.input_bg_radio {
    float: left;
    padding: 2px 0 0 0;
} 
div.input_bg_radio label{
    float:none;
	display:inline;
	font-weight:normal;
	margin:0px 5px;
    padding:0;
	width:auto;
	line-height:20px;
	text-align:left;
} 
div.form_row_radio {
    overflow: hidden;
    /*clear: both;*/
    float: left;
    /*margin: 5px 0 0 0;*/
    margin: 0px;
}
label.mini {
    width: 70px!important;
}
div.box_button_search {
    overflow: hidden;
    margin: 10px 0 0 335px;
}
div.box_button_search_2 {
    overflow: hidden;
    margin: 10px 0 0 322px;
}
.pos01 {
    margin: 4px 0!important;
}
.pos02 {
    margin: 0 !important;
    padding: 0 33px;
}
.small_label01 {
    width: 50px!important;
}
.rf.mg1 {
    margin: 0 0 0 10px;
}
/***KLIENCI***/
a.user_active,
div.user_active {
    background: transparent url(../images/admin/ikony/ikona_user.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    overflow: hidden;
	display: block;
    text-indent: -2000px;
}
a.user_verif {
    background: transparent url(../images/admin/ikony/ikona_user_szara.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: inline-block;
    text-indent: -2000px;
}
div.box_radio {
    overflow: hidden;
    width: 350px;
}
div.user_add label {
    width: 135px;
}

/***ZAMÓWIENIA AKCJE***/

.rel_label,
.no_label,
.wys_label,
.zmi_label,
.ok_label,
.er_label {
    line-height: 14px;
    text-transform: normal;
}
.wys_label, .zam_wyslane {
    color: #ff00ff;
}
.zmi_label, .zam_zmiana {
    color: orange;/*#00ffff;*/
}
.ok_label, .zam_koniec {
    color: #00ff00;
}
.no_label, .zam_system {
    color: #ff0000;
}
.rel_label, .zam_realizacja {
    color: #0000ff;
}
.er_label, .zam_anulowane {
    color: #000000;
}
table.table_order {
    width: 100%;
    border-collapse: collapse;
}
table.table_order td {
    border: 1px solid #ffffff;
    padding: 5px;
}

/***RAPORTY ODWIEDZINY***/
div.raports_box {
    overflow: hidden;
    width: 888px;
    padding: 0px 10px;
}
div.one_raport {
    clear: both;
    overflow: hidden;
    width: 887px;
    height: 45px;
    font-size: 12px;
    color: #000000;
    margin-bottom: 5px;
}
div.odwiedzane_img {
    float: left;
    height: 45px;
    position: relative;
    width: 70px;
	margin-right:10px;
	text-align:center;
}
div.odwiedzane_img img {
    max-height: 45px;
    max-width: 70px;
}
div.raport_title {
    overflow: hidden;
    clear: none;
    padding-top: 5px;
}
div.raport_title b {
    color: #646464;
}
div.malo_odwiedzane,
div.srednio_odwiedzane,
div.najczesciej_odwiedzane {
    overflow: hidden;
    float: left;
    width: 885px;
    height: 15px;
    border: 1px solid #000000;
}
div.najczesciej_odwiedzane {
    background-color: #00ff00;
}

div.srednio_odwiedzane {
    background-color: #ffff00;
}

div.malo_odwiedzane {
    background-color: #ff0000;
}
/***STARTOWY BANER***/
div.menu_text {
    overflow: hidden;
    text-align: center;
    color: #FF7800;
    font-size: 12px;
    font-weight: bold;
    padding: 40px 10px;
    height: 22px;
}
div.box_baner_start {
    overflow: hidden;
    padding: 80px 86px 0px;
}
div.baner_icons {
    overflow: hidden;
}
div.one_box_cms {
    float: left;
    width: 320px;
    overflow: hidden;
    position: relative;
}
div.one_box_cms.l {
    margin: 0 70px 0 0;
}
div.one_box_cms.r {
    margin: 0 0 0 70px;
}
div.butt_abs1 {
    top: 70px;
    left: 70px;
    position: absolute;
}
div.butt_abs2 {
    top: 70px;
    left: 34px;
    position: absolute;
}

/***LOGOWANIE***/
div.box_login {
    overflow: hidden;
    margin: 0 auto;
    padding: 86px 0 0;
    width: 960px;
}
div.box_form_login {
    margin: 0px auto;
    width: 300px;
    overflow: hidden;
}
div.error_login {
    overflow: hidden;
    padding: 5px;
    border: 2px solid #646464;
}
div.box_login div.k_blad {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #ff0000;
}
div.box_login div.form_row {
    margin: 14px 0 0 0;
}
div.button_form_login {
    overflow: hidden;
    padding: 10px 0px 10px 130px;
}

.mojtytul
{	
	background-color: #d6d7d8;	
	padding: 5px 0px 5px 5px;	
	color: black;	
	font-family: Tahoma;	
	font-size: 11px;	
	font-weight: bold;	
	width: 662px;
	float: left;
	margin-top: 10px;
	display: inline;
	border: 1px solid #808080;
}
.input_temat
{
	float: left;
	width: 663px;
	margin-bottom: 0px;
	height:20px;
	border:1px solid #C3C3C3;
}
.przycisk_1
{
	float:left;
	background: #ff8800;
	border:1px solid #333333;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:1px 6px 3px 6px;
	margin-right: 20px; 
	width: auto; 
	margin-top: 20px;	
	display: inline;
	cursor:pointer;
}

#wyszukiwarka
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:0px;
	background-color:#d9d9d9;
	width:100%;
	min-height:57px;
}
#reset
{
	position:absolute;
	float:left;
	margin-top:0px;
	margin-left:0px;
	top:0px;
	left:0px;
	border:0;
	width:60px;
	height:100%;
	line-height:57px;
	display:block;
	background-color:#FF9900;
	color:white;
	cursor:pointer;
	font-size:14px;
	text-indent:3px;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/admin/reset.jpg) no-repeat center center;
	text-indent:-9999px;
}
#top, #wyszukiwarka .top
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:60px;
	height:28px;
	font-family:'Tahoma';
	font-size:11px;
}
.napis
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:65px;
	height:28px;
	line-height:28px;
	text-align:right;
}
.select
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:3px;
	height:18px;
	*height:22px;
	border-color:#bfbfbf;
	background-color:white;
	color:black;
	padding-left:8px;
}
#szukaj
{
	position:absolute;
	top:0px;
	right:0px;
	border:0;
	width:60px;
	height:100%;
	line-height:57px;
	display:block;
	background-color:#FF9900;
	color:white;
	font-size:17px;
	text-indent:2px;
	font-weight:normal;
	text-decoration:none;
	cursor:pointer;
	background:url(../images/admin/szukaj.jpg) no-repeat center center;
	text-indent:-9999px;
}
#bottom, #wyszukiwarka .bottom
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:60px;
	height:28px;
	font-family:'Tahoma';
	font-size:11px;
}
#co, #kto, .input
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:3px;
	width:162px;
	height:18px;
	border-color:#bfbfbf;
	background-color:white;
	color:black;
	padding-left:8px;
}
#kod
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:3px;
	width:100px;
	height:18px;
	border-color:#bfbfbf;
	background-color:white;
	color:black;
	padding-left:8px;
}
#typ
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:5px;
}
#typ input
{
	margin-left:5px;
}
#add
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:3px;
}
#ileNaStrone
{
	position:relative;
	float:left;
	margin-left:40px;
	margin-top:3px;
	color:#777777;
}
#ileNaStrone select
{
	width:40px;
	height:18px;
	*height:20px;
	border:1px solid #abadb3;
}
#stronicowanie
{
	position:relative;
	float:left;
	clear:none !important;
	margin-left:5px;
	margin-top:0px;
	height:15px;
	line-height:15px;
}
#stronicowanie2
{
	position:relative;
	float:left;
	clear:none !important;
	margin-left:105px;
	margin-top:15px !important;
	height:15px;
	line-height:15px;
}
#stronicowanie a
{
	color:black;
}
#stronicowanie2 a
{
	color:black;
}
#stronicowanie a:hover
{
	color:#ff5e02;
}
#stronicowanie2 a:hover
{
	color:#ff5e02;
}
#ofertaTable
{
	clear:left !important;
	border:1px solid #e3e3e3 !important;
}
#ofertaTable th
{
	padding: 2px 2px !important;
}
#ofertaTable th img
{
	border:0;
}
#ofertaTable td
{
	padding: 2px 2px !important;
}
.th
{
	position:relative;
	float:left;
}
.thLeft
{
	text-align:left;
}
.thCenter
{
	text-align:center;
}
.sortRight
{
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:3px;
}
.sortAfterTHSingle
{
	margin-top:-17px;
}
.sortCenter
{
	position:relative;
	float:center;
	width:20px;
	height:20px;
	border:0px solid black;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
}
.sortTop
{
	position:relative;
	float:left;
}
.sortBottom
{
	position:relative;
	float:left;
	margin-top:2px;
	clear:left;
}
.ofertaInnerTable
{
	border:1px solid #e3e3e3 !important;
}
.ofertaInnerTable td
{
	border:1px solid #e3e3e3 !important;
}
.wystaw
{
	position:relative;
	float:right;
	margin-top:10px;
	_width:200px;
	height:40px;
	clear:right;
}
.wystawShort
{
	margin-top:5px !important;
}
#wystawAllegro
{
	float:left;
	width:98px;
	height:40px;
	border:0px solid #a6a6a6;
	background:url(../images/admin/wystaw.jpg);
}
#wystawEBay
{
	width:98px;
	height:40px;
	border:0px solid #a6a6a6;
	background:url(../images/admin/wystaw.jpg);
}
#kopiujOnline
{
	width:98px;
	height:40px;
	border:0px solid #a6a6a6;
	background:url(../images/admin/kopiuj.jpg);
}
.listaLink
{
	float:right;
	clear:right;
	margin-top:0px;
	margin-right:0px;
	width:260px;
	border: 1px solid #A6A6A6;
	padding-left:10px;
	padding-right:5px;
	height:37px;
	line-height:37px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	background-color:#ff9900;
	color:white;
	cursor:pointer;
}
.listaLink:hover
{
	text-decoration:none;
}

.wystawCo
{
	float:left;
	width:62px;
	height:35px;
	line-height:35px;
	border:1px solid #a6a6a6;
	text-align:center;
	padding:0px 2px 0px 0px;
	font-size:13px;
	font-weight:bold;
}
.selectAll
{
	float:left;
	width:62px;
	height:33px;
	line-height:16px;
	border:1px solid #a6a6a6;
	text-align:right;
	padding:2px 2px 0px 0px;
}
.checkbox
{
	float:left;
	margin-left:5px;
	margin-top:0px;
}
.rabatCheckbox
{
	margin-left:10px;
	margin-top:5px;
}
.afterCheckbox
{
	float:left;
	margin-left:10px;
	margin-top:-3px;
}

.hint
{
	display:none;
}
.opinieStars
{
	position:relative;
	float:left;
	width:115px;
	height:20px;
	margin-bottom:0px;
}
.opiniaStars
{
	position:relative;
	float:left;
	width:115px;
	height:20px;
	margin-bottom:0px;
}
.opinieStarsOpis
{
	float:left;
	clear:left;
	width:90px;
	height:20px;
	font-size:12px;
}
.dodajAtrybut
{
	text-indent:0px;
	color:#FF7600;
	font-size:14px;
}
.dodajAtrybutLink
{
	display:none;
	margin-left:20px;
}
#opinieTable tr th
{
	display:none;
}
#opinieTable tr td.opinieImie input
{
	display:none;
}
#opinieCzas, .opinieCzas
{
	display:none;
}
#opinieKontakt, .opinieKontakt
{
	display:none;
}
.opinieStarsOpis
{
	display:none;
}

#polecForm
{
	position:relative;
	float:left;
	width:770px;
	margin-top:0px;
	margin-left:0px;
	color:black;
	font-size:12px;
}
#polecForm #polecLink
{
	float:left;
	clear:left;
	margin-top:10px;
	font-size:13px;
	text-decoration:none;
	color:#1f05d3;
}
#polecForm #polecLink a
{
	text-decoration:none;
	color:#1f05d3;
}
#polecForm #polecEmoc
{
	float:left;
	clear:left;
	margin-top:10px;
}
#polecForm #polecEmoc #emotka
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	height:60px;
	line-height:50px;
	font-size:10px;
	color:#595959;
}
#polecForm #polecEmoc #list
{
	position:relative;
	float:left;
	margin-left:10px;
	width:680px;
	margin-top:0px;
}
#polecForm #polecEmoc #list ul
{
	margin-left:0px;
	padding-left:0px;
}
#polecForm #polecEmoc #list li
{
	display:inline;
	margin-left:3px;
}
#polecForm .napis
{
	float:left;
	margin-top:5px;
	margin-left:0px;
	text-align:right;
	width:135px;
	font-size:11px;
	color:#6c6c6b;
	line-height:25px;
}
#polecForm input
{
	float:left;
	margin-left:10px;
	margin-top:5px;
	width:240px;
	height:25px;	
	border:1px solid #bfbfbf;
}
#polecForm #wyslij
{
	float:left;
	clear:left;
	margin-left:300px;
	margin-top:8px;
	width:91px;
	height:27px;
	font-weight:bold;
	background-color:#c00000;
	border:0px solid #bfbfbf;
	color:white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor:pointer;
}
#polecForm input[type="checkbox"]
{
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:20px !important;
	height:25px;	
	border:1px solid #bfbfbf;
}
#polecForm #maile
{
	float:left;
	width:750px;
	margin-top:5px;
	margin-left:10px;
	text-align:left;
	font-size:11px;
	color:#6c6c6b;
	line-height:18px !important;
}
#polecForm .maile
{
	float:left;
	clear:none;
	width:250px;
	margin-top:0px;
	margin-left:0px;
	line-height:25px !important;
}
#polecForm #smsy
{
	float:left;
	width:550px;
	margin-top:5px;
	margin-left:10px;
	text-align:left;
	font-size:11px;
	color:#6c6c6b;
	line-height:18px !important;
}
#polecForm .smsy
{
	float:left;
	clear:none;
	width:110px;
	margin-top:0px;
	margin-left:0px;
	line-height:25px !important;
}

.itemImgsDivPolec
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	width:67px;
	height:50px;
	border:1px solid #e0e0e0;
}
.itemImgsDivInnerPolec
{
	width:67px;
	height:50px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
.itemImgsDivInnerPolec * 
{
    vertical-align:middle;
}
.itemImgsDivInnerPolec span
{
    * display: inline-block;
    * height: 100%;
    * width: 0px;
}
.itemImgsPolec
{
	border:0px solid black;
    max-width:67px;
    _width:expression(this.width > 66 ? 67 : "auto");
    max-height:50px;
    _height:expression(this.scrollHeight > 49 ? 50 : "auto");
}

.koment
{
	position:relative;
	float:left;
	margin:10px 0px 10px 10px;
}
.komentNagl
{
	margin-top:0px;
}
span.label_radio 
{
    float: left;
    padding: 0 10px;
}

#rabaty
{
	position:relative;
	float:left;
	margin:10px 0px 0px 0px;
}
#rabaty .lf
{
	margin-left:10px;
}
.ico_drag 
{
    background: url(../images/admin/ikony/cursor_drag.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.allegroKosztyLabel
{
	line-height:12px;
}
.allegroKoszty
{
	width:400px !important;
}
.allegroKoszty span
{
	width:95px;
	display:inline-block;
}
.allegroKoszty input[type="text"]
{
	width:60px;
	margin-right:30px;
}
.allegroKoszty input[type="checkbox"]
{
	vertical-align:top;
}

#cechyAllegro
{
	position:relative;
	float:left;
	clear:left;
	margin-left:10px;
    margin-top:10px;
	width:680px;
	overflow:hidden;
}
#cechyAllegro table
{
	width:100%;
}
#cechyAllegro .cechyNazwa
{
	display:inline-block;
	min-width:150px;
	line-height:28px;
	font-size:12px;
	vertical-align:top;
}
#cechyAllegro .cechyNazwaWym
{
	color:red;
}
#cechyAllegro .cechyWybierz
{
	display:inline-block;
	min-width:150px;
	line-height:28px;
	text-align:left;
	margin-left:10px;
}
#cechyAllegro .cechyParametry
{
	display:inline-block;
	min-width:150px;
	vertical-align:top;
}
#cechyAllegro .cechyCheckbox
{
	display:inline-block;
	min-width:200px;
	vertical-align:top;
}
#cechyAllegro select
{
	display:inline-block;
	min-width:200px;
	border:1px solid #c4c4c4;
}
#cechyAllegro input[type="text"]
{
	margin-left:0px;
	display:inline-block;
	min-width:195px;
	border:1px solid #c4c4c4;
}
#cechyAllegro input[type="checkbox"]
{
	margin-left:0px;
	display:inline-block;
}

#podstronaNagl
{
	position:relative!important;
	float:left!important;
	margin-top:20px!important;
	margin-left:0px!important;
	width:100%!important;
	clear:left!important;
	font-size:16px!important;
	font-weight:bold!important;
	color:#2b488d!important;
	text-indent:10px!important;
	margin-bottom:0px!important;
}
#podstronaTekst
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:0px;
	clear:left;
	width:730px;
	padding:0 10px;
	min-height:200px;
	height:auto! important;
	height:200px;
	line-height:16px;
}

/*
Atrybuty
*/
div.input_bg input[type="radio"] {
    margin: 0 auto;
    width: 15px!important;
    display: inline-block;
}
table.tb_param label {
    width: auto;
    color: #6B9942;
    float: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
table.tb_param label:hover {
    background-color: #D2D2D2;
    cursor: pointer;
    color: #FF7600;
}
table.tb_param {
    border-collapse: collapse;
}
table.tb_param td {
    border: 1px solid #C3C3C3;
    background-color: #ffffff;
    vertical-align: middle;
}
.et_param {
    font-size: 13px;
}
.cle_param {
    padding: 0 20px;
    overflow: hidden;
}
.cle_param span {
    float: left;
}
.cle_param span.l {
    padding: 5px 0 0 5px;
}
.bor_param {
    border: 1px dotted #000000;
}
div.form_row.bor_param {
	position:relative;
	margin-top:10px;
    margin-bottom: 10px;
}
div.form_row.bor_param  span.img{
    float:left;
}
div.form_row.bor_param  span.img img{
    vertical-align:top;
}
div.form_row.bor_param  select{
    color:#646464;
}
div.form_row.bor_param  input[type="text"]{
   color:#646464;
}
div.margin_left {
    overflow: hidden;
    margin-left: 10px;
}

.cenyAtryb
{
	width:900px;
	display:none;
	font-size:11px;
	margin-left:0px;
	margin-top:0px;
	float:left;
	clear:left;
}
.cenyAtrybs
{
	width:240px;
	font-size:11px;
	margin-left:5px;
	margin-top:0px;
	float:left;
	clear:none;
}
div.input_bg .cenyAtrybs select
{
	float:left;
	width:40px!important;
	font-weight:bold;
	font-size:14px;
	padding:0px;
}
div.input_bg .cenyAtrybs table
{
	float:left;
}
div.input_bg .cenyAtrybs input[type="text"]
{
	width:60px!important;
	font-weight:normal;
	font-size:12px;
}
.input_bg_radio .cenyAtryb2
{
	margin-left:-145px;
}
.cenyAtryb span
{
	float:left;
	margin:0 5px 0 10px;
	display:inline-block;
	width:130px;
}
.cenyAtryb label
{
	font-weight:normal!important;
	float:none!important;
	display:inline!important;
	width:auto!important;
	margin:0px!important;
}
.cenyAtryb table
{
	font-size:11px;
}
.cenyAtryb table th
{
	font-size:11px;
	font-weight:normal;
	line-height:12px;
	padding:2px 0;
	width:95px;
}
.cenyAtryb table td
{
	text-align:center;
}
.cenyAtryb table td input[type="text"]
{
	font-size:12px;
	font-weight:normal;
	padding:0px 0;
	width:95%;
	height:20px;
	line-height:20px;
	border:1px solid #D2D2D2;
	text-align:right;
}
#atryb0
{
	display:none;
}

#atrybutyCenyRozne
{
	position:relative;
	float:none;
	width:100%;
	margin:0px;
	border-collapse:collapse;
}
#atrybutyCenyRozne tr th
{
	text-align:center;
	border:1px solid #c0c0c0;
}
#atrybutyCenyRozne tr th.atrNazwa
{
	font-size:12px;
}
#atrybutyCenyRozne tr th.atrCena1
{
	font-size:11px;
}
#atrybutyCenyRozne tr th.atrCena2
{
	font-size:11px;
}
#atrybutyCenyRozne tr td
{
	text-align:center;
	border:1px solid #c0c0c0;
}
#atrybutyCenyRozne tr td select
{
	width:100%;
	border:0px solid #c0c0c0;
}
#atrybutyCenyRozne tr td input
{
	width:100%;
	text-align:center;
	border:0px solid #c0c0c0;
}
#atrybutyCenyRozne tr td a
{
	display:inline-block;
}

.pole-formularza {
display: block;
float: left;
width: 157px;
padding-right: 5px;
}

.pole-formularza .input_bg {
width: 157px !important;
}

.pole-formularza label {
clear: both;
float: left;
width: 100%;
height: 20px;
font-weight: bold;
}

.pole-formularza .required {
color: red;
}

.pole-formularza select {
display: block;
float: left;
width: 157px !important;
height: 25px !important;
}

.pole-formularza input {
display: block;
float: left;
width: 152px !important;
height: 19px !important;
}

.pole-formularza input {
padding-right: 5px;
}

.pole-formularza .wyjasnienie-brak-edycji {
width: 157px;
clear: both;
}

.tytul-sekcji {
clear: both;
width: 100%;
height: 20px;
font-weight: bold;
border-bottom: 1px dotted #000000;
margin-top: 10px;
margin-bottom: 10px;
}

.tytul-sekcji .required {
color: red;
}

.maly-select {
width: 100px !important;
}

#num-wybr-kat-allegro {
border: 1px solid #C3C3C3;
width: 120px;
}

.allegro-stopka-kategorie {
clear: both;
text-align: right;
width: 643px;
height: 35px;
padding-top: 5px;
}

.allegro-stopka-kategorie label {
font-weight: bold;
}

.nowy-wiersz {
clear: both;
padding-top: 10px;
width: 100%;
}

#komunikat {
color: #000000 !important;
font-family: 'Tahoma', 'TahomaWbudowana' !important;
font-size: 13px !important;
font-style: normal !important;
font-weight: normal !important;
line-height: 30px !important;
}

/*.edytor iframe {
width: 800px !important;
}*/

.kontrData
{
	position:relative;
	float:left;
	margin-top:4px;
	margin-left:0px;
}
#kontrDataOd
{
	margin-left:8px !important;
}
#kontrDataDo
{
	margin-left:8px !important;
}
#wyszukiwarkaOferta #kontrDataOd
{
	margin-left:0px !important;
}
#wyszukiwarkaOferta #kontrDataOd span
{
	font-weight:normal !important;
}
#wyszukiwarkaOferta #kontrDataDo
{
	margin-left:0px !important;
}
#wyszukiwarkaOferta #kontrDataDo span
{
	font-weight:normal !important;
}
#wyszukiwarkaKontr span, #wyszukiwarkaOferta span
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:3px;
	margin-right:2px;
	color:#0070c0;
	font-size:12px;
}
#wyszukiwarkaOferta .kontrData span
{
	margin-left:-2px !important;
}
#wyszukiwarkaOferta .kontrData select
{
	margin-left:1px !important;
}
.kontrData select
{
	border:1px solid #bfbfbf;
	padding-left:2px;
	margin-left:2px !important;
	color:#595959;
}
.kontrRok
{
	width:59px;
}
.kontrMc
{
	width:43px;
}
.kontrDay
{
	width:43px;
}

#spolecznosc .box_main_title
{
	border-bottom:3px solid #c3c3c3;
}
#spolecznosc .box_title
{
	margin-top:17px;
	padding:10px 0px;
	border-bottom:3px solid #c3c3c3;
	background-color:#e2e2e2;
	text-indent:15px;
}
#spolecznosc .box_title h3.title3
{
	color:black;
}
#spolecznosc .content
{
	margin-top:10px;
	border-top:0px;
}
#spolecznosc .left_side
{
	width:255px;
}
#spolecznosc .menu_left
{
	border:0px;
}
#spolecznosc .right_side
{
	float:left;
	width:670px;
	padding:0px;
	background-color:white;
	overflow:visible;
}
#spolecznoscTop
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:100%;
	padding-bottom:10px;
}
#spolecznoscTop .button1
{
	position:relative;
	float:left;
	margin-left:5px;
	margin-top:0px;
}
#spolecznoscSzukaj
{
	position:relative;
	float:left;
	margin-left:150px;
	margin-top:0px;	
}
#spolecznoscSzukaj span.hover
{
	float:left;
	margin-left:50px;
}
#spolecznoscSzukaj input#search, #spolecznoscSzukaj input[type="text"]
{
	float:left;
	margin-left:5px;
	width:130px;
	border:1px solid #c1c1c1;
}
#spolecznoscSzukaj a.zobacz
{
	float:left;
	margin-left:5px;
	cursor:pointer;
}

.jstree-search, .jstree-search b
{
	color:blue!important;
}
.jstree a.link
{
	border:1px solid #D9D9D9;
	padding:0 1px 0 2px!important;
}
.jstree b
{
	color:#646464;
}
.jstree span
{
	color:#646464!important;
}
.zobacz, .rozwin
{
	margin-left:5px!important;
	width:auto!important;
	height:18px;
	line-height:18px;
	padding:0 7px!important;
	text-align:center;
	color:white!important;
	border:0!important;
	background-color:#ff7600!important;
	font-size:10px;
	font-weight:bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.zobacz ins, .rozwin ins
{
	display:none!important;
}

#polecajacyTable
{
	width:100%;
	/*border-collapse:collapse;*/
	border-spacing:1px 0;
}
#polecajacyTable th
{
	height:25px;
	background-color:#d9d9d9;
	color:black;
	border:1px solid #d9d9d9;
	text-align:left;
	vertical-align:middle;
	padding-left:8px;
}
#polecajacyTable td
{
	height:25px;
	background-color:#ffffff;
	color:#646464;
	border:1px solid #d9d9d9;
	border-top:0px;
	text-align:left;
	vertical-align:middle;
	padding-left:8px;
}
#polecajacyTable tr.active td
{
	background-color:#ededed;
	color:#ff6b01;
	font-weight:bold;
}
#polecajacyTable td a
{
	display:block;
	width:62px;
	height:19px;
	background: url(../images/admin/zobacz_active.gif);
}
#polecajacyTable tr.active  td a
{
	background: url(../images/admin/zobacz_inactive.gif);
}

#polecajacyStronicowanie
{
	position:relative;
	float:left;
	margin-top:16px;
	margin-left:0px;
}
#polecajacyStronicowanie .box_pager
{
	padding:0px;
}
#polecajacyStronicowanie a
{
	float:left;
	height:23px;
	line-height:23px;
	padding:0 10px;
	margin-right:6px;
	border:0px;
	font-size:12px;
	font-weight:bold;
	color:white;
	background:none #ff7600;
}
#polecajacyStronicowanie a.link_aktywny_stronicowanie, #polecajacyStronicowanie a:hover
{
	color:#484848!important;
	background:none #D9D9D9!important;
}
#polecajacyStronicowanie .link_nieaktywny_stronicowanie
{
	display:none;
}
#polecajacyStronicowanie #prev, #polecajacyStronicowanie #next
{
	display:none;
}
#polecajacyStronicowanie #first, #polecajacyStronicowanie #last
{
	display:none;
}

#spolecznoscDrzewo
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:15px;
	width:900px;
	border:1px solid #b3b3b3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000;
	overflow:hidden;
	background-color:#d9d9d9;
}
#spolecznoscNagl
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:white;
	text-indent:15px;
	background-color:#ff7600;
}
#polecenia
{
	position:relative;
	float:left;
	margin:10px;
	width:880px;
	border:1px solid #cbcbcb;
	background-color:#d9d9d9;
}

.grayed
{
	opacity: 0.50;
	-moz-opacity:0.50;
	filter: alpha(opacity:50);
	KHTMLOpacity: 0.50;
	MozOpacity: 0.50;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

#polecenia li a.link .jstree-icon,
#polecenia li a.link.hasPeople .jstree-icon
{
    background: transparent url("../images/admin/menu/lojalnosc/pic/pol1.png") 0 0 no-repeat;
    height: 23px;
    width: 24px;
    float: left;
}
#polecenia li a.link .jstree-icon
{
    background: transparent url("../images/admin/menu/lojalnosc/pic/pol2.png") 0 0 no-repeat;
}
#polecenia li
{
    padding: 0px 0px 12px;
}
#polecenia.jstree a.link
{
    border: 0px;
    font-size: 13px;
}
li.jstree-open > ul
{
    padding: 12px 0 0 0;
}
.jstree-last jstree-open a.link
{

}
.jstree input[type="submit"].zobacz
{
    display: inline-block;
    height: auto !important;
    padding: 1px 2px !important;
	cursor: pointer;
}
#polecenia li a.link.jstree-hovered,
#polecenia li a.link.jstree-clicked
{
    background: transparent!important;
}
#polecenia li a.link.jstree-hovered b,
#polecenia li a.link.jstree-clicked b
{
    color: #ff7800!important;
}
span.row-cash
{
    padding: 5px;
    margin: 0 0 0 5px;
    background-color: #c3c3c3;
}
span.row-cash span,
span.row-cash strong
{
    color: #3a3a3a;
}
span.row-cash b
{
    color: #ffffff;
    padding: 0 5px;
}
span.row-cash select
{
   background-color: #FFFFFF;
    border: 1px solid #B6B6B6;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    height: 18px;
    width: 70px;
}

#counterBox
{
	position:relative;
	float:left;
	clear:left;
	margin-left:0px;
	margin-top:5px;
	font-size:10px;
	line-height:12px;
	font-weight:normal;
	text-transform:none;
}
#counterLeft
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
}
#counterRight
{
	position:relative;
	float:left;
	clear:left;
	margin-left:0px;
	margin-top:0px;
}

button.btn-orange,
input.btn-orange,
a.btn-orange {
    background-color: #FF7800;
    border: 1px solid #FF7800;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    display: block;
    float: left;
    cursor: pointer;
    text-indent: 0px;
	margin-left:5px;	
}

.input_ilosc {
    border: 1px solid #8E8E8E;
    color: #000000;
    float: none;
    font-size: 11px;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    width: 30px;
	text-align:center;
}
.input_cena {
    border: 1px solid #8E8E8E;
    color: #000000;
    float: none;
    font-size: 11px;
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
    width: 45px;
	text-align:center;
}

.input_koszyk {
    background: url(../images/admin/change.png) no-repeat;
    border: medium none;
    cursor: pointer;
    height: 16px;
    width: 16px;
    text-indent: -1000px;
	vertical-align:middle;
}

select.typy
{
	width:50px;
	text-align:center;
	font-size:11px;
	color:#646464;
}
select.typy option
{
	text-align:left;
}

div.right_menu {
    position: fixed;
    right: 0;
    bottom: 10px;
    background: #646464;
    border-radius: 5px 0 0 5px;
    border: 1px solid #C3C3C3;
    border-right: none;
    padding: 5px 5px 5px 10px;
    z-index: 101;
}

div.right_menu ul.r_menu li {
    clear: both;
    float: left;
    line-height: 12px;
    list-style: none outside none;
    margin: 10px 0;
    text-align: center;
    width: 85px;
}

div.right_menu ul.r_menu li a {
    color: #ffffff;
    float: left;
    padding-top: 32px;
    text-transform: uppercase;
    width: 75px;
    font-weight: bold;
}

div.right_menu ul.r_menu li a.r_glowna {
    background: url("../images/admin/ikony/pokaz_www.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a.r_pokaz {
    background: url("../images/admin/ikony/pokaz_w_sklepie.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a.r_zapisz {
    background: url("../images/admin/ikony/zapisz.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a.r_dodaj {
    background: url("../images/admin/ikony/dodaj.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a.r_wroc {
    background: url("../images/admin/ikony/lista.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a.r_do_gory {
    background: url("../images/admin/ikony/do_gory.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a.r_usun {
    background: url("../images/admin/ikony/usun.png") no-repeat scroll center 0 transparent;
}

div.right_menu ul.r_menu li a:hover {
    text-shadow: 0px 0px 1px #FF7800;
    filter: dropshadow(color=#FF7800, offx=0, offy=0);
    text-decoration: none;
}

div.right_menu span.r_zwin {
    background: url("../images/admin/ikony/zwin.png") no-repeat scroll center 0 transparent;
    bottom: 85px;
    height: 27px;
    position: absolute;
    right: 100px;
    width: 14px;
}

div.right_menu_off span.r_rozwin {
    background: url("../images/admin/ikony/rozwin.png") no-repeat scroll center 0 transparent;
    bottom: 50px;
    height: 27px;
    position: absolute;
    right: 0px;
    width: 14px;
}

div.right_menu_off {
    bottom: 50px;
    position: fixed;
    right: 0;
    z-index: 100;
}

#zadania, .zadania
{
	position:relative;
	float:right;
	margin-top:2px;
	margin-left:5px;
	margin-right:0px;
	width:auto;
	height:22px;
	border:2px solid #ff6600;
	font-size:14px;
}
.drukuj
{
	width:80px;
	height:35px;
	margin-top:0px;
	float:right;
	background:url("../images/admin/drukuj.jpg") no-repeat left center #ff9900;
	text-indent:35px;
	line-height:35px;
	color:white;
	text-decoration:none;	
}
.drukujZam
{
	width:auto;
	padding-right:5px;
	margin-right:5px;
	text-align:center;
}
a.button1
{
	display:inline-block;
	color:white;
	text-decoration:none;
    background: #ff9900;
	float:right;
    height: 35px;
	line-height:35px;
	padding:0 5px;
	margin-right:5px;
	text-align:center;
}
a.button1:hover
{
	text-decoration:underline;
}
.buttonDouble
{
	line-height:20px!important;
}
.buttonDouble span
{
	font-size:10px;
	line-height:10px!important;
}
.buttonDouble.drukuj
{
	text-indent:0px;
	padding-left:35px;
}

#overDiv2
{
	width:300px!important;
	max-height:500px!important;
	overflow-y:auto;
	overflow-x:hidden;
}
.rabaty
{
	float:right;
	margin-left:10px;
	margin-right:20px;
}
.rabatyPopup
{
	width:320px!important;
	max-width:320px!important;	
}

.ui-dialog-buttonset
{
	float:none!important;
	text-align:center!important;
}
.ui-button:first-child
{
	float:right!important;
	margin-right:0px;
}
.ui-button:last-child
{
	float:none!important;
	margin-left:50px!important;
}

.sbHolder
{
	margin-top:0px!important;
	vertical-align:middle;
	font-size:14px;
	padding-top:0px;
	background:url(../images/strona/input_tlo.gif) repeat-x top white !important;
	border:2px solid #FF6600!important;
	width:300px!important;
	height:20px!important;
	float:right!important;
}
.sbSelector
{
	font-size:14px!important;
	padding-top:0px;
	width:300px!important;
	height:20px!important;
	line-height:20px!important;
	text-indent:8px!important;
	color:black!important;
}
.sbToggle
{
	width:19px!important;	
	height:20px!important;
	top:0px!important;
	background:url(../images/strona/arrow_select.png) no-repeat center center;
	border:0px solid #b10505;
}
.sbOptions
{
	width:300px!important;
	line-height:17px!important;
	text-indent:0px!important;
	border:1px solid #FF6600!important;
	background-color:#fffefe!important;
	z-index:9999!important;
}
.sbOptions li a
{
	font-size:12px;
	color:#000000!important;
	padding-top:0px!important;
	padding-bottom:0px!important;
}
.sbOptions li a[rel="wiecej"]
{
	display:none;
}
.sbOptions li a:hover
{
	color:#000000!important;
	font-weight:normal;
	text-decoration:underline;
}
.sbOptions li span.sbGroup
{
	color:black!important;
	font-weight:bold!important;
	padding-top:3px!important;
	padding-bottom:3px!important;
}

#lang
{
	background-position:left center;
	padding-left:0px;
}
#lang option
{
	background-position:left center;
	text-indent:20px;
}
table.foto_box tbody tr th.lg
{
	background-color:#E3E3E3!important;
	background-position:left center !important;
}
.lang
{
	border:0px solid transparent;
	display:inline-block;
	width:24px;
	height:16px;
	margin-top:5px;
	margin-right:5px;
}
.lang:hover, .lang.active
{
	border:0px solid white;
	box-shadow: 0px 0px 5px 2px #ffffff;
	-moz-box-shadow:0 0 5px 2px #ffffff;
	-webkit-box-shadow:0 0 5px 2px #ffffff;
}
.lang_pl
{
	background:url("../images/admin/langs/24/pl.png") no-repeat center center !important;
}
.lang_en
{
	background:url("../images/admin/langs/24/en.png") no-repeat center center !important;
}
.lang_de
{
	background:url("../images/admin/langs/24/de.png") no-repeat center center !important;
}
.lang_fr
{
	background:url("../images/admin/langs/24/fr.png") no-repeat center center !important;
}
.lang_es
{
	background:url("../images/admin/langs/24/es.png") no-repeat center center !important;
}
.lang_uk
{
	background:url("../images/admin/langs/24/uk.png") no-repeat center center !important;
}
.lang_it
{
	background:url("../images/admin/langs/24/it.png") no-repeat center center !important;
}
.lang_ru
{
	background:url("../images/admin/langs/24/ru.png") no-repeat center center !important;
}
.lbl_lang
{
    color: #000000;
    float: left;
    font-weight: bold;
    padding-right: 0px;
}
.box_lang
{
    float: left;
    margin: 0 0px;
	padding:12px 0px;
    position: relative;
	width:auto;
}


/********* ZAKLADKI ************/

.zakladki {
    float: left;
    margin: 0 0 0 10px;
    position: relative;
}

.zakladki li {
    background: url("../images/admin/zakladki/zakl_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 5px;
    position: relative;
}

.zakladki li span {
    background: url("../images/admin/zakladki/zakl_bg.png") no-repeat scroll 100% 0 transparent;
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 65px;
}

.zakladki li a {
    color: #7F7F7F;
    float: left;
    font-size: 11px;
    font-weight: bold;
    min-width: 70px;
    padding-bottom: 3px;
    padding-top: 34px;
    text-align: center;
}

.zakladki li a:hover, .zakladki li a.active {
    color: #ff7800;
    text-decoration: none;
}

.zakladki li.strona a{
    background: url("../images/admin/zakladki/strona_ico.png") no-repeat scroll center 0 transparent;
}

.zakladki li.sklep a{
    background: url("../images/admin/zakladki/sklep_ico.png") no-repeat scroll center 0 transparent;
}

.zakladki li.lojalnosc a{
    background: url("../images/admin/zakladki/lojalnosc_ico.png") no-repeat scroll center 0 transparent;
}

.zakladki li.strona a:hover, .zakladki li.strona a.active {
    background: url("../images/admin/zakladki/strona_ico_active.png") no-repeat scroll center 0 transparent;
}

.zakladki li.sklep a:hover, .zakladki li.sklep a.active {
    background: url("../images/admin/zakladki/sklep_ico_active.png") no-repeat scroll center 0 transparent;
}

.zakladki li.lojalnosc a:hover, .zakladki li.lojalnosc a.active {
    background: url("../images/admin/zakladki/lojalnosc_ico_active.png") no-repeat scroll center 0 transparent;
}

#ui-datepicker-div
{
	z-index:9999;
}
.ui-datepicker-trigger
{
	vertical-align:top;
	cursor:pointer;
	float:none;
}

.poz
{
	width:20px!important;
	height:auto;
	cursor:pointer;
}
.pressed
{
	border:1px solid #ff0000!important;
}

#filesToUploadQueue
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:800px;
}
#filesToUploadQueue .uploadifyQueueItem
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:100%;
}
#filesToUploadQueue .uploadifyQueueItem .cancel
{
	position:relative;
	float:right;
	margin-right:0px;
	margin-top:0px;
}
#filesToUploadQueue .uploadifyQueueItem .file
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	margin-right:50px;
	width:105px;
	text-align:center;
	min-height:50px;
	vertical-align:middle;
}
#filesToUploadQueue .uploadifyQueueItem .file .thumbnail img
{
	max-width:105px;
	max-height:80px;
}
#filesToUploadQueue .uploadifyQueueItem .file .thumbnail span
{
	position:fixed;
	top:0px;
	right:0px;
	display:none;
	width:800px;
	text-align:center;
	z-index:9999;
	background:white;
}
#filesToUploadQueue .uploadifyQueueItem .file .thumbnail span img
{
	max-width:800px;
	max-height:550px;
}
#filesToUploadQueue .uploadifyQueueItem .file:hover .thumbnail span
{
	display:block;
}
#filesToUploadQueue .uploadifyQueueItem .opis
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:600px;
	text-align:left;
}
#filesToUploadQueue .uploadifyQueueItem .opis input
{
	width:550px!important;
	height:19px;
}
#filesToUploadQueue .uploadifyQueueItem .ico_drag
{
	position:absolute;
	bottom:10px;
	right:10px;
}
#atrybuty .uploadifyQueue
{
	float:right;
}
#atrybuty .uploadifyQueueItem
{
	float:right;
	margin:3px;
	border:0px;
	padding:0px;
	width:auto;
}
#atrybuty .uploadifyQueueItem .fileName
{
	display:none;
}
#atrybuty .uploadifyQueueItem .percentage
{
	display:none;
	visibility:visible;
}
td.img img, #atrybuty .thumbnail img
{
	max-width:100px;
	max-height:80px;
}
td.img:hover .thumbnail, #atrybuty span.img:hover .thumbnail
{
	display:block;
}
td.img .thumbnail
{
	position:fixed;
	top:0px;
	right:0px;
	display:none;
	width:800px;
	text-align:center;
	z-index:9999;
	background:white;
}
#atrybuty .thumbnail
{
	position:fixed;
	top:0px;
	left:0px;
	display:none;
	width:800px;
	text-align:center;
	z-index:9999;
	background:white;
}
td.img .thumbnail2:hover
{
	display:none;
}
td.img .thumbnail img, #atrybuty .thumbnail img
{
	max-width:800px;
	max-height:550px;
}
#drzewoKateg div.input_bg label, #drzewoKateg div.input_bg span
{
	display:none;
}
#drzewoKateg div.input_bg #kategorieall, #drzewoKateg div.input_bg .level0
{
	display:inline-block;
}
#drzewoKateg div.input_bg input[type="checkbox"]
{
	width:auto;
	margin-right:5px;
	float:none;
	clear:none;
}
#drzewoKateg div.input_bg label
{
	width:auto;
	margin:0px;
	float:left;
	clear:left;
}
#drzewoKateg div.input_bg span
{
	width:auto;
	margin:-3px 0px 0px 5px;
	float:left;
	clear:none;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}

.znakWodny
{
	display:inline-block!important;
	width:20px!important;
	height:20px;
	color:black;
	font-weight:bold;
	font-size:20px;
}

.marg_checkb {
    margin: 2px 0 0 20px!important;
}
.ico_drag {
    background: url(../images/admin/ikony/cursor_drag.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}
.margin_foto_kolor {
    float: left;
    margin: 0 0 0 90px;
}
.licznik {
    color: #B2B2B2;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    width: 960px;
}
.licznik b {
    font-size: 13px;
}
#loader {
   background: url("../images/admin/ikony/loader.gif") no-repeat scroll center center #000000;
   height: 100%;
   left: 0;
   opacity: 0.7;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
   display: none;
}
div.obrazek_ramka {
    float: left;
    padding: 5px 0;
}
#jQ_produkt {
    padding: 1px 0 0 0;
    overflow: hidden;
    clear: both;
}

div.bu
{
	float:left;
	margin:10px 0;
	text-align:center;
	width:100%;
}
span.bu
{
	background:white;
	border:1px solid #ff7800;
	font-weight:bold;
	margin:0 20px 0 0;
	padding:5px 10px;
}

.ui-widget-overlay
{
	background: #000000!important;
    opacity: 0.7!important;
}

div.podglad_zam{
	position: fixed;
	width: 800px;
	min-height: 20px;
	overflow: hidden;
	top: 20px;
	left: 50%;
	margin-left: -500px;
	background: #fff;
	display: none;
	border: 1px solid grey;
	z-index: 9999;
}

div.komunikaty{
	border: 2px dashed red;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}

input.zmien_adres_button{
	margin-bottom: 4px;
    cursor: pointer;
}

a.arrow_top img{
	width: 13px;
}
a.arrow_bottom img{
	width: 13px;
}

.bor{
	display: inline-block !important;
	margin-left: 10px !important;
	float: none !important;
	background: red !important;
}
.bog{
	display: inline-block !important;
	margin-left: 10px !important;
	float: none !important;
	background: green !important;
}
.boy{
	display: inline-block !important;
	margin-left: 10px !important;
	float: none !important;
	background: yellow !important;
}
.bob{
	display: inline-block !important;
	margin-left: 10px !important;
	float: none !important;
	background: blue !important;
}

div.green_right{
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: green;
	top:200px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}
div.yellow_right{
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: #cDcD00;
	top:244px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}

div.red_right{
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	*background: red;
	background: #00093B;
	top:288px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}

div.blue_right{
	position: fixed;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: red;
	top:332px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}

div#toltip_kom_blue{
	position: fixed;
	background: #fff;
	overflow: hidden;
	top: 332px;
	right: 45px;
	border: 1px solid black;
	padding: 10px;
	font-size: 13p;
	font-weight: bold;
	display: none;
}

div#toltip_kom_red{
	position: fixed;
	background: #fff;
	overflow: hidden;
	top: 288px;
	right: 45px;
	border: 1px solid black;
	padding: 10px;
	font-size: 13p;
	font-weight: bold;
	display: none;
}

div#toltip_kom_yellow{
	position: fixed;
	background: #fff;
	overflow: hidden;
	top: 244px;
	right: 45px;
	border: 1px solid black;
	padding: 10px;
	font-size: 13p;
	font-weight: bold;
	display: none;
}
div#toltip_kom_green{
	position: fixed;
	background: #fff;
	overflow: hidden;
	top: 200px;
	right: 45px;
	border: 1px solid black;
	padding: 10px;
	font-size: 13p;
	font-weight: bold;
	display: none;
}
div.drukuj_right{
	position: fixed;
	width: 40px;
	height: 35px;
	padding-top: 5px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: orange;
	top:376px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}

div.poczta_right{
	position: fixed;
	width: 40px;
	height: 35px;
	padding-top: 5px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: #c70029;
	top:420px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}

div.fedex_right{
	position: fixed;
	width: 40px;
	height: 35px;
	padding-top: 5px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: #3a1d6f;
	top:464px;
	right:0px;
	cursor: pointer;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	z-index: 9999;
}


div.input_bg.w4.inline input[type="radio"]{
	display: inline !important;
	width: auto !important;
}

.medium2{
	width: 310px !important;
}

div#podglad_zam{
	position: fixed;
	width: 800px;
	min-height: 20px;
	overflow: hidden;
	top: 20px;
	left: 50%;
	margin-left: -500px;
	background: #fff;
	display: none;
	border: 1px solid grey;
	z-index: 9999;
}

div.drukujnalepki{
	width: 207px; 
	height: 93px; 
	position: relative; 
	padding: 10px; 
	float: left; 
	border: 1px solid #000;
	border-radius: 10px;
	margin-right: 2px;
	margin-bottom: 2px;
	color: #000;
	font-size: 11px;
	overflow: hidden;
}

div.drukujnalepki b{
	text-decoration: underline;
	font-size: 14px;
}
.jedna_paczka {
    font-size: 12px;
    border-bottom: 2px solid #000;
    padding: 0 0 10px;
    margin: 0 0 10px;
    overflow: hidden;
    clear: both;
}
.jedna_paczka .form_row h2 {
    text-transform: uppercase;
    font-size :13px;
    padding: 0 10px;
}
.border2px {
    border-bottom: 2px solid #dadada;
    border-top: 2px solid #dadada;
    margin: 10px 0 !important;
    padding: 10px 0;
    line-height: 22px;
}
.border1px {
    border-top: 2px solid #dadada;
    margin: 10px 0 0!important;
    padding: 10px 0 0;
    line-height: 22px;
}
.wiersz_inline .form_row {
    float: left;
    clear: none;
} 
.wiersz_inline {
    overflow: hidden;
}
.wiersz_inline div.input_bg.sele,
.wiersz_inline div.input_bg select {
    width: 140px;
}
.wiersz_inline div.input_bg {
    width: 70px;
}
.wiersz_inline div.input_bg input {
    width: 60px;
    text-align: center;
}
.wiersz_inline .form_row label {
    width: auto;
}
.checkboxPole {
    overflow: hidden;
    padding: 5px 10px;
    clear: both;
}
.checkboxPole label {
    font-size: 11px;
    cursor: pointer;
}
.wiersz_inline .form_row label.fn {
    display: inline;
    float: none;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
}
.textareaPasek {
    height: 22px;
    width: 410px!important;
}
.textareaPasek textarea {
    height: 20px;
    resize: none;
    width: 400px!important;
}
.button_center {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.button_center .button1 {
    display: inline-block;
    float: none;
}
.uslugwiecej div.form_row label {
    font-weight: normal;
    margin-left: 0px;
}
.jedna_paczka div.input_bg {
    font-size: 11px;
}
.withLabelTd b {
    min-width: 100px;
    display: inline-block;
}
.blokPaczek {
    margin-top: 20px;
    overflow: hidden;
    background-color: #FFD597;
    padding: 20px;
}
.dostawcaWypisz {
    font-size: 14px;
    line-height: 18px;
    border-bottom: 2px solid #000;
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    clear: both;
    text-transform: uppercase;
}
.jq-uslugi {
    clear: both;
    overflow: hidden;
}
label.wa {
    width: auto!important;
    min-width: 160px;
}
.wiersz_inline .input_radio {
    float: left;
    clear: none;
}
.font-normal {
    font-weight: normal!important;
}
.pocztapolska .wiersz_inline div.input_bg.w1 {
    width:200px;
}
.pocztapolska .wiersz_inline div.input_bg.w1 input {
    width: 190px;
}
.pocztapolska .wiersz_inline div.input_bg.sele,
.pocztapolska .wiersz_inline div.input_bg select {
    width: 220px;
}
.pocztapolska .wiersz_inline div.input_bg.sele3,
.pocztapolska .wiersz_inline div.input_bg.sele3 select {
    width: 320px;
}
.sbOptions {
    max-height: 150px!important;
}