/***DEFAULT***/

* {
    outline: none;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body {
    background: #ffffff url(../images/admin/tlo_body_lojal.png) center top repeat-x;
    font-family: Tahoma, Arial, Verdana;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #000;
}
a {
    color: #FF8E0B;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/***POZYCJONOWANIE ELEMENTÓW***/

.cb {
    clear: both;
}
.cn {
    clear: none!important;
}
.rf {
    float: right;
}
.lf {
    float: left!important;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block!important;
}
.vh {
    visibility: hidden;
}
.vv {
    visibility: visible;
}
.h0 {
    height: 0px;
}
.oh {
    overflow: hidden;
}
.center {
    text-align: center;
}
/***KONTENERY***/

div.page {
    overflow: visible;
    width: 960px;
    margin: 0 auto;
    padding: 0 0 70px;
}
div.top_container {
    overflow: visible;
}
div.top {
    overflow: hidden;
    width: 100%;
    height: 69px;
}
div.top_container div.right {
    overflow: hidden;
    float: right;
}
div.bottom {
    overflow: visible;
    clear: both;
    width: 100%;
}
div.menu {
    overflow: visible;
}
div.main_container {
    clear: both;
    overflow: hidden;
    margin: 0 0 20px;
    width: 100%;
    min-height: 300px;
}
div.foot_container {
    width: 100%;
    background: #646464;
    border-top: 2px solid #c3c3c3;
    padding: 27px 0;
}
div.box_change_link {
    float: left;
    height: 22px;
    margin: 0 16px;
    padding: 26px 17px 21px 20px;
    background: transparent url(../images/admin/linia_pionowa_gora.png) right center no-repeat;
}
div.modul_container {
    overflow: hidden;
}
div.container {
    overflow: hidden;
    border: 1px solid #C3C3C3;
    padding: 0 0 20px;
}
div.box_title {
    padding: 10px 15px;
}
div.box_link_navi {
    overflow: hidden;
    border-bottom: 1px solid #C3C3C3;
    padding: 10px 15px;
}
div.content {
    overflow: hidden;
    padding: 0 15px;
    border-top: 3px solid #C3C3C3;
}
div.content.padding {
    padding-top: 20px;
}
div.left_side {
    width: 189px;
    float: left;
    overflow: hidden;
    background: #ffffff;
}
div.right_side {
    width: 719px;
    padding: 10px 10px;
    float: left;
    overflow: hidden;
    background: #f4f4f4;
}
div.right_side_wide {
	width: 100%;
}
div.right_side_wide div.textarea_bg{
	width: 900px;
}
div.all_container {
    padding: 10px 10px;
    overflow: hidden;
    background: #f4f4f4;
}
div.box_form_product {
    overflow: hidden;
}

/***STOPKA***/

div.foot_company {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    font-size: 11px;
    color: #b2b2b2;
}
div.foot_company a {
    color: #b2b2b2;
    font-size: 11px;
}

/***LOGO***/

a.logo {
    float: left;
    display: block;
    width: 117px;
    height: 43px;
    margin: 14px 0;
    background: transparent url(../images/admin/logo.png) 0 0 no-repeat;
}

/***NAGLOWKI***/

h1.title1 {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1c1d00;
}
h1.title1.bg {
    height: 22px;
    margin: 0 0 0 30px;
    padding: 29px 10px 18px 20px;
    background: transparent url(../images/admin/linia_pionowa_gora.png) 0 center no-repeat;
}
h2.title2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
}
h2.title2.p1 {
    padding: 13px 15px 13px 0;
    float: left;
}
h3.title3 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #646464;
}
h3.title3 span {
    font-weight: bold;
    color: #000000;
}
h2.title4 {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

/***KOMUNIKATY***/

div.error_container {
    overflow: hidden;
    clear: both;
    padding: 10px;
    margin: 10px 0 10px;
    background: #ffffff;
    border: 2px solid #ff0000;
}
div.k_uwaga,
div.k_ok,
div.k_blad {
    padding: 10px 44px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #646464;
}
div.k_blad {
    background: transparent url(../images/admin/komunikaty/blad.jpg) 0 0 no-repeat;
}
div.k_ok {
    background: transparent url(../images/admin/komunikaty/ok.jpg) 0 0 no-repeat;
}
div.k_uwaga {
    background: transparent url(../images/admin/komunikaty/uwaga.png) 0 0 no-repeat;
}
div#lista_bledow_uwaga,
div#lista_bledow {
    font-size: 12px;
    line-height: 18px;
}
div.error_info {
    overflow: hidden;
    clear: both;
    padding: 5px;
    font-size: 11px;
    line-height: 18px;
}
div.error_info b {
    color: #ff0000;
}
div.info_labels {
    float: left;
    width: 210px;
    padding: 0 0 0 10px;
    font-size: 11px;
    line-height: 14px;
    color: #FF5D02;
}
div.info_labels.w1 {
    width: 450px;
	line-height:18px;
	padding:0px;
}
div.info_empty {
    clear: both;
    overflow: hidden;
    text-align: center;
    color: #35B516;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 15px 0;
}
div.small_error_empty {
    line-height: 12px;
    font-size: 11px;
    color: #35B516;
    clear: both;
}
/***FORMULARZE***/

div.box_form {
    overflow: hidden;
    padding: 0 0 0 20px;
}
div.form_row {
    clear: both;
    overflow: hidden;
    margin: 5px 0 0 0;
}
div.form_row label {
    display: block;
    width: 160px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 10px;
    color: #000;
}
label.tiny {
    width: 35px!important;
}
label.small {
    width: 70px!important;
}
label.big {
    width: 250px!important;
}
label.large {
    width: 400px!important;
}
label.small.login {
    text-align: right!important;
    margin: 0 10px 0 10px;
}
label.required,
b.required,
div.form_row label.required {
    color: #ff0000;
	font-weight:normal !important;
}
div.input_bg {
    float: left;
    width: 170px;
}
div.input_bg.w1 select,
div.input_bg.w1 input,
div.input_bg.w1 textarea,
div.input_bg.w1 {
    width: 300px!important;
}
div.input_bg.w3 select,
div.input_bg.w3 input,
div.input_bg.w3 textarea,
div.input_bg.w3 {
    width: 400px;
}
div.input_bg.w3 textarea{
	height: 100px;
}
div.input_bg.w2 select,
div.input_bg.w2 input,
div.input_bg.w2 textarea,
div.input_bg.w2 {
    width: 237px!important;
}
div.input_bg.w4 select,
div.input_bg.w4 input,
div.input_bg.w4 textarea,
div.input_bg.w4 {
    width: 200px;
}
div.input_bg.w5 select,
div.input_bg.w5 input,
div.input_bg.w5 textarea,
div.input_bg.w5 {
    width: 140px;
}
div.input_bg_small {
    float: left;
    width: 76px;
}
div.input_bg_tiny {
    float: left;
    width: 38px;
}
div.input_bg_mini {
    float: left;
    width: 20px;
}
div.input_bg input,
div.input_bg select {
    width: 170px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
}
div.input_bg textarea {
    border: 1px solid #C3C3C3;
}
div.input_bg input[type="checkbox"] {
    width: 15px!important;
    height: 15px;
    float: left;
    padding: 0px;
    margin: 2px 0 0 0;
}
div.input_bg_small input,
div.input_bg_small select {
    width: 70px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
}
div.input_bg_small select {
    width: 76px;
}
div.input_bg_tiny input,
div.input_bg_tiny select {
    width: 35px;
    border: 1px solid #C3C3C3;
    background: #ffffff;
    padding: 2px;
}
div.input_bg_tiny select {
    width: 38px;
}
div.input_bg select {
    width: 176px;
}
div.textarea_bg {
    clear: both;
    overflow: hidden;
    width: 680px;
    padding: 10px 0 10px 10px;
}
div.textarea_bg.pod {
    clear: none;
    padding: 0px;
    float: left;
}
div.form_title {
    overflow: hidden;
    clear: both;
    width: 100%;
    margin: 15px 0 10px;
    padding: 5px 10px;
    background: #d2d2d2;
}
div.button_form {
    overflow: hidden;
    margin: 0 0 0 300px;
}
div.button_pages{
    overflow: hidden;
    margin: 10px 0 0 410px;
}
div.button_form.m2 {
    margin-top: 10px;
}
.position_text {
    border: 1px solid #C3C3C3;
    width: 50px;
    height: 16px;
    text-align: center;
    font-size: 11px;
    color: #35B516;
    margin: 0 10px 0 0;
    float: left;
}
span.sep_form {
    float: left;
    overflow: hidden;
    margin: 0px 10px;
}

/***UZYTKOWNIK INFO*/

div.admin_box {
    float: left;
    padding: 15px 16px 14px 0;
    background: transparent url(../images/admin/linia_pionowa_gora.png) right center no-repeat;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
}
div.admin_box b {
    color: #000;
}

/***LINKI I PRZYCISKI***/

a.link1 {
    display: block;
    padding: 0 7px 0 0;
    background: transparent url(../images/admin/strzalka_link_pom.png) 100% 7px no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
}
a.link1.m1 {
    margin: 26px 0 25px;
    padding-left: 25px;
}
a.back {
    padding: 0 0 0 16px;
    background: transparent url(../images/admin/ikony/ikona_wroc.png) 0 3px no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
a.see_shop {
    padding: 0 0 3px 22px;
    background: transparent url(../images/admin/ikony/ikona_zobacz.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
.m_linki {
    margin: 0 10px 0 0;
}
a.add {
    padding: 2px 0 2px 22px;
    background: transparent url(../images/admin/ikony/ikona_dodaj.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
a.del {
    padding: 2px 0 2px 22px;
    background: transparent url(../images/admin/ikony/ikona_usun.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}
a.del.silver {
    background: transparent url(../images/admin/ikony/ikona_usun_szara.png) 0 0 no-repeat;
}
a.add.silver {
    background: transparent url(../images/admin/ikony/ikona_dodaj_szara.png) 0 0 no-repeat;
}
a.drag {
    padding: 2px 0 2px 22px;
    background: transparent url(../images/admin/ikony/cursor_drag.png) 0 0 no-repeat;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-transform: lowercase;
    color: #ff7600;
}

div.glowne_zdjecie_kontener {
    position: relative;
    overflow: hidden;
}
div.glowne_zdjecie {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
}
span.etykiety_ikonek {
    line-height: 38px;
    padding: 0 19px;
}
div.glowne_zdjecie_kontener img {
    border: 2px solid #FBC700;
}
div.glowne_zdjecie_kontener div.glowne_zdjecie img {
    border: 0px;
}

div.button1 {
    background: transparent url(../images/admin/przycisk_tlo.png) 0 0 repeat-x;
    float: left;
    height: 26px;
}
div.button1 input, div.button1 a{
    float: left;
    padding: 0 8px;
    height: 26px;
    background: transparent;
    border: 0px;
    font-size: 11px;
    font-weight: bold;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
}
div.button1 a:hover{
text-decoration:none;
}
div.button0 {
    background-color: #ffc000;
    float: left;
    height: 40px;
}
div.button0 input {
    float: left;
    padding: 0 8px;
    height: 40px;
    background: transparent;
    border: 0px;
    font-size: 11px;
    font-weight: bold;
    line-height: 40px;
    color: #000000;
    cursor: pointer;
}
.zaznacz
{
	float: left;
	color:black;
	text-align:center;
	padding:0px 10px 0px 10px;
	vertical-align:middle;
}
.zaznacz input
{
	margin:15px 15px 0px 15px;
}
a.level0
{
    padding-left:0px;
}
a.level1
{
    padding-left:10px;
}
a.level2
{
    padding-left:20px;
}
a.level3
{
    padding-left:30px;
}
a.level4
{
    padding-left:40px;
}
a.level5
{
    padding-left:50px;
}
a.level6
{
    padding-left:60px;
}
a.link
{
    color: #000000;
	display:inline-block;
}
a.link b.cat_main {
    color: #000000;
    font-size: 14px;
}
a.link:hover b.cat_main,
a.link:hover {
    color: #FF7600;
}
div.button2 {
    background: transparent url(../images/admin/ikony/ikona_ok.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
}
div.button2 a,
div.button2 input {
    background: transparent;
    border: 0px;
    width: 16px;
    height: 16px;
    text-indent: -2000px;
    cursor: pointer;
}
div.button2 a {
    float: left;
}
div.button3 {
    background: transparent url(../images/admin/ikony/ikona_zmien.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
}
div.button3 a,
div.button3 input {
    background: transparent;
    border: 0px;
    width: 16px;
    height: 16px;
    text-indent: -2000px;
    cursor: pointer;
}
div.button3 a {
    float: left;
}
div.button4 {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 0 0px;
    height: 32px;
    padding: 0 0 0 10px;
}
div.button4_right {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 100% 0px;
    height: 32px;
}
div.button4_right a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0 3px 0 -10px;
    padding: 0 30px 0 13px;
}
div.button4_right a:hover {
    text-decoration: none;
}
div.button5 {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 0px -33px;
    height: 32px;
    padding: 0 0 0 20px;
}
div.button5_right {
    float: left;
    background: transparent url(../images/admin/button.png) no-repeat 100% -33px;
    height: 32px;
}
div.button5_right a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    float: left;
    height: 32px;
    line-height: 32px;
    margin: 0 3px 0 -20px;
    padding: 0 10px 0 33px;
}
div.button5_right a:hover {
    text-decoration: none;
}

/*Przyciski ikony*/
a.add_ico {
    background: transparent url(../images/admin/ikony/ikona_dodaj.png) 0 0 no-repeat;
}
a.add_ico.silver {
    background: transparent url(../images/admin/ikony/ikona_dodaj_szara.png) 0 0 no-repeat;
}
a.del_ico {
    background: transparent url(../images/admin/ikony/ikona_usun.png) 0 0 no-repeat;
}
a.del_ico.silver {
    background: transparent url(../images/admin/ikony/ikona_usun_szara.png) 0 0 no-repeat;
}
a.edit_ico {
    background: transparent url(../images/admin/ikony/ikona_edytuj.png) 0 0 no-repeat;
}
a.ok_ico {
    background: transparent url(../images/admin/ikony/ikona_ok.png) 0 0 no-repeat;
}
a.ok_ico.white {
    background: transparent url(../images/admin/ikony/ikona_ok.png) 0 0 no-repeat;
}
a.see_ico {
    background: transparent url(../images/admin/ikony/ikona_zobacz.png) 0 0 no-repeat;
}
a.see_ico.silver {
    background: transparent url(../images/admin/ikony/ikona_zobacz_szara.png) 0 0 no-repeat;
}
a.allegro_ico {
    background: transparent url(../images/admin/ikony/ikona_allegro.png) 0 0 no-repeat;
    height: 19px !important;
    width: 25px !important;
	margin-top:10px;
}
a.ebay_ico {
    background: transparent url(../images/admin/ikony/ikona_ebay.png) 0 0 no-repeat;
    height: 19px !important;
    width: 25px !important;
	margin-top:10px;
}
a.kopiuj_ico {
    background: transparent url(../images/admin/ikony/ikona_zmien.png) 0 0 no-repeat;
    height: 19px !important;
    width: 17px !important;
	margin-top:10px;
}
a.usun_ico {
    background: transparent url(../images/admin/ikony/ikona_usun.png) 0 0 no-repeat;
	height: 19px !important;
    width: 17px !important;
	margin-top:10px;
}
a.up_ico, a.asc {
    background: transparent url(../images/admin/arrow_up.png) 0 0 no-repeat;
	height: 10px !important;
}
a.down_ico, a.desc {
    background: transparent url(../images/admin/arrow_down.png) 0 0 no-repeat;
	height: 10px !important;
}
a.asc, a.desc
{
	background-position:0 5px;
	height: auto !important;
}
a.see_ico,
a.add_ico,
a.del_ico,
a.ok_ico,
a.edit_ico,
a.allegro_ico,
a.ebay_ico,
a.kopiuj_ico,
a.usun_ico,
a.up_ico,
a.down_ico {
    padding: 0px;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    text-indent: -2000px;
    color: #ff7600;
    display: block;
    width: 17px;
    height: 20px;
}

/***MENU***/
/*glowne*/
ul.menu_1 {
    float: left;
    margin: 3px 0 0 0;
    padding: 0px;
    background: transparent url(../images/admin/linia_pionowa_menu.png) left 9px no-repeat;
}
ul.menu_1 li {
    float: left;
    background: transparent url(../images/admin/linia_pionowa_menu.png) right 9px no-repeat;
    list-style-type: none;
   /* position: relative;*/
    z-index: 10;
    min-height: 85px;
}
ul.menu_1 a:hover + span,
ul.menu_1 li.active span {color: #000;}
ul.menu_1 a {
    float: left;
    margin: 4px 5px 4px;
    padding: 0px;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #646464;
    min-height: 42px;
	min-width:90%;
}
ul.menu_1 a:hover {
    color: #ff7700;
    text-decoration: none;
}
ul.menu_1 span {
    padding: 0 5px;
    margin: 0 1px;
    clear: both;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: bold;
    min-height: 27px;
    color: #fff;
    bottom: -15px;
    background: transparent url("../images/admin/menu/lojalnosc/pic/menu_h.png") center top no-repeat;
}
ul.menu_1 span strong.ca {
    background: transparent url("../images/admin/menu/lojalnosc/pic/menu_a.png") center bottom no-repeat;
    min-height: 29px;
    padding-top: 4px;
    display: block;
}
ul.menu_1 a.active + span {
    position: relative;
    bottom: 0px;
}
ul.menu_1 span.noactive {
    display: none;
}
a.link_zam {
    background: transparent url(../images/admin/menu/zamowienia.png) center top no-repeat;
}
a.link_kli {
    background: transparent url(../images/admin/menu/klienci.png) center top no-repeat;
}
a.link_aso {
    background: transparent url(../images/admin/menu/asortyment.png) center top no-repeat;
}
a.link_imp {
    background: transparent url(../images/admin/menu/import.png) center top no-repeat;
}
a.link_zaw {
    background: transparent url(../images/admin/menu/zawartosc.png) center top no-repeat;
}
a.link_all {
    background: transparent url(../images/admin/menu/allegro.png) center top no-repeat;
	padding: 65px 16px 8px !important;
}
a.link_face {
    background: transparent url(../images/admin/menu/facebook.png) center top no-repeat;
	padding: 65px 26px 8px !important;
}
a.link_ust {
    background: transparent url(../images/admin/menu/ustawienia.png) center top no-repeat;
}
a.link_strona_glowna {
    background: transparent url(../images/admin/menu/strona_glowna.png) center top no-repeat;
}
a.link_podstrony {
    background: transparent url(../images/admin/menu/podstrony.png) center top no-repeat;
}
a.link_newsletter {
    background: transparent url(../images/admin/menu/newsletter.png) center top no-repeat;
}
a.link_raporty {
    background: transparent url(../images/admin/menu/raporty.png) center top no-repeat;
}
a.link_prze {
    background: transparent url(../images/admin/menu/przesylki.png) center top no-repeat;
}
a.link_sms {
    background: transparent url(../images/admin/menu/sms.png) center top no-repeat;
	padding: 47px 12px 8px !important;
	text-align: center;
}
a.link_loj {
    background: transparent url(../images/admin/menu/lojal.png) center top no-repeat;
	padding: 47px 6px 8px !important;
	text-align: center;
}
a.link_rab {
    background: transparent url(../images/admin/menu/rabat.png) center top no-repeat;
	padding: 47px 6px 8px !important;
	text-align: center;
}
a.link_goo {
    background: transparent url(../images/admin/menu/google.png) center top no-repeat;
	padding: 47px 6px 8px !important;
	text-align: center;
}

/***START LINKI LOJALNOSC***/
a.link_dodajzakup {
    background: transparent url("../images/admin/menu/lojalnosc/iko_dodaj_zakup.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_dodajklient {
    background: transparent url("../images/admin/menu/lojalnosc/iko_dodaj_klienta.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_listaklient {
    background: transparent url("../images/admin/menu/lojalnosc/iko_klienci.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_spolecznosc {
    background: transparent url("../images/admin/menu/lojalnosc/iko_spolecznosc.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_analiza{
    background: transparent url("../images/admin/menu/lojalnosc/iko_analiza.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_wzory_doc {
    background: transparent url("../images/admin/menu/lojalnosc/iko_wzory_dokumentow.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_rabaty_upo {
    background: transparent url("../images/admin/menu/lojalnosc/iko_rabaty_upominki.png") center top no-repeat;
    padding: 0px;
    text-align: center;
}
a.link_marketing {
    background: transparent url("../images/admin/menu/lojalnosc/iko_marketing.png") center center no-repeat;
    padding: 0px;
    text-align: center;
}
div.radius {
    float: left;
}
div.radius select,
div.radius input {
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    font-size: 12px;
    height: 30px;
    padding: 2px 5px;
    width: 150px;
}
ul.gift {
    margin: 0 0 0 90px;
}
ul.gift li {
    color: #FF7800;
    padding: 0 0 10px;
}
ul.gift li strong {
    color: #646464;
    font-size: 12px;
}
label.radius {
    line-height: 30px;
}
div.b,
div.o {
    color: #00FF00;
    font-size: 12px;
    padding: 5px;
}
div.b {
    color: #ff0000;
}
div#jQ-error {
    float: left;
}
table.table-zakup {
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
    border-collapse: collapse;
    margin: 10px 0 20px 143px;    
}
table.table-zakup th,
table.table-zakup td {
    padding: 10px;
    border: 1px solid #C3C3C3;
}
button.btn-orange,
input.btn-orange,
a.btn-orange {
    background-color: #FF7800;
    border: 1px solid #FF7800;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    display: block;
    float: left;
    cursor: pointer;
    text-indent: 0px;
}
div.btn-right {
    margin: 0 0 0 268px;
    overflow: hidden;
}
a.btn-orange:hover {text-decoration: none;}
div.radius input.mini {width: 50px;}
/*****END LINKI LOJALNOSC***/
.btn-orange.small {
    font-size: 10px;
    padding: 0 5px;
}
ul.menu_2 {
    display: none;
    position: absolute;
    top: 99px;
    left:0px;
    width: 195px;
    background: #ff7700;
    float: none;
    z-index: 15;
}
ul.menu_1 li:hover ul.menu_2 {
    display: block;
    width: 195px;
}
ul.menu_2 li {
    float: left;
    width: 195px;
    margin: 0px;
    padding: 0px;
    height: auto;
    background: transparent;
    border-bottom: 1px solid #ff8214;
}
ul.menu_2 li a {
    padding: 5px 18px!important;
    margin: 0px!important;
    width: 159px;
    float: left;
    font-size: 11px;
    font-weight: normal;
    color: #ffffff;
}
ul.menu_2 li a:hover {
    color: #000000;
}

/*Lewe*/

ul.menu_left {
    border-right: 1px solid #C3C3C3;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}
ul.menu_left li {
    float: left;
    width: 188px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border-bottom: 1px solid #C3C3C3;
}
ul.menu_left li span.hover,
ul.menu_left li a {
    float: left;
    width: 168px;
    padding: 5px 5px 5px 15px;
    font-size: 11px;
    line-height: 18px;
    color: #ff5d02;
}
ul.menu_left li span.hover,
ul.menu_left li a:hover {
    color: #646464;
    background: #f4f4f4;
    text-decoration: none;
}

/***Menu strona glowna***/

div.main_page_menu {
    overflow: hidden;
    width: 600px;
    padding: 20px 0;
    margin: 0 auto;
} 
div.left_menu {
    width: 250px;
    margin: 0 25px;
    float: left;
}
ul.menu_page {
    overflow: hidden;
}
ul.menu_page li {
    list-style-type: none;
}
ul.menu_page li a {
    font-size: 13px;
    line-height: 18px;
    color: #646464;
    font-weight: bold;
}
ul.menu_page li a:hover {
    color: #FF8E0B;
}
div.ico_strona_glowna {
    background: transparent url(../images/admin/ikony/ikona_strona_glowna.png) 0 3px no-repeat;
}
div.ico_podstrony {
    background: transparent url(../images/admin/ikony/ikona_podstrony.png) 0 3px no-repeat;
}
div.ico_strona_glowna,
div.ico_podstrony {
    padding: 25px 10px 28px 80px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    color: #0272DB;
}

/***SCIEZKA NAWIGACYJNA***/

div.navi_box {
    overflow: hidden;
    width: 100%;
    padding: 6px 0;
    font-size: 10px;
}
span.no_link {
    color: #989898;
    padding: 0 2px 0 10px;
}
a.link_path {
    padding: 0 2px 0 0;
    color: #989898;
}
span.link_path_end {
    padding: 0 2px 0 0;
    font-weight: bold;
    color: #ff7600;
}

/***INNE***/

div.box_main_title {
    overflow: hidden;
    background: transparent url(../images/admin/tlo_tytul_glowny.png) 0 0 repeat-x;
    height: 45px;
}
div.box_main_title img {
    float: left;
    padding: 7px 15px;
}
div.button_toggle {
    overflow: hidden;
    padding: 5px 0 5px 10px;
    width: 250px;
}
b.price_lista {
    color: #35B516!important;
}

/***GALERIA***/

div.box_foto_product {
    overflow: hidden;
    clear: both;
    padding: 10px 0;
}
#box_display {
    overflow: hidden;
    padding: 10px 0;
}
div.main_foto {
    clear: both;
    padding: 4px 0px;
    margin: 2px 0;
    font-weight: bold;
    border: 1px solid #FF5D02;
    color: #FF5D02;
    font-size: 11px;
}


/***TABELE***/
table.foto_box {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border: 1px solid #ffffff;
}
table.foto_box th {
    font-weight: bold;
    font-size: 11px;
    color: #646464;
    background: #e3e3e3;
    border-left: 1px solid #ffffff;
    padding: 15px 10px;
}
table.foto_box td {
    vertical-align: middle;
    padding: 5px 10px;
    border-left: 1px solid #ffffff;
}
tr.white td {
    background: #ffffff;
    border-left: 1px solid #e3e3e3;
}
tr.white td.first {
    border: 0px;
}
tr.silver td {
    background: #f4f4f4;
    border-left: 1px solid #ffffff;
}
tr.white td.first.img,
tr.silver td.first.img {
    padding: 1px 5px;
    text-align: center;
}
td.first b {
    font-weight: bold;
    font-size: 13px;
}
tr.white.bord td {
    border-bottom: 1px solid #e3e3e3;
}
table.foto_box.padding td {
    padding: 5px 10px;
	border-bottom:1px solid #e3e3e3;
}
table.foto_box tr td input, table.foto_box tr td textarea {
	border:1px solid #c3c3c3;
}

/***PAGER***/
div.box_pager {
    overflow: hidden;
    clear: both;
    text-align: center;
    padding: 1px 10px 10px;
	border:0px solid #e3e3e3;
}
div.box_pager a {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: black;
    padding: 1px 3px;
    margin-right: 2px;
    display: inline-block;
	border: 1px solid #C3C3C3;
}
div.box_pager a:hover {
    color: #FF5E02;
    padding: 1px 3px;
    text-decoration: none;
    border: 1px solid #C3C3C3;
}

div.box_pager #active,
div.box_pager .link_aktywny_stronicowanie {
    color: #FF5E02 !important;
    padding: 1px 3px;
    text-decoration: none;
    border: 1px solid #C3C3C3;
}
div.box_pager .link_nieaktywny_stronicowanie {
    color: grey !important;
    padding: 1px 3px;
    text-decoration: none;
    border: 0px solid #C3C3C3 !important;
	cursor:text !important;
}

/*WYSZUKIWARKA FORMULARZ*/
div.box_search {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
div.row_search {
    overflow: hidden;
    clear: both;
    margin: 5px 0 0 0;
}
div.box_search.padding {
    padding-bottom: 10px;
}
/*div.row_search div.form_row {
    clear: none;
    float: left;
}*/
div.row_search div.form_row div.input_bg {
    width: 250px;
}
div.row_search div.form_row div.input_bg input {
    width: 245px;
}
div.row_search div.form_row label {
    font-weight: normal;
}
div.input_radio {
    clear: both;
}
div.input_bg_radio input[type="radio"] {
    width: 15px!important;
    height: 15px;
}
div.input_bg_radio {
    float: left;
    padding: 2px 0 0 0;
} 
div.input_bg_radio label{
    float:none;
	display:inline;
	font-weight:normal;
	margin:0;
    padding:0;
} 
div.form_row_radio {
    overflow: hidden;
    /*clear: both;*/
    float: left;
    /*margin: 5px 0 0 0;*/
    margin: 0px;
}
label.mini {
    width: 70px!important;
}
div.box_button_search {
    overflow: hidden;
    margin: 10px 0 0 335px;
}
div.box_button_search_2 {
    overflow: hidden;
    margin: 10px 0 0 322px;
}

/***KLIENCI***/
div.user_active {
    background: transparent url(../images/admin/ikony/ikona_user.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    overflow: hidden;
}
a.user_verif {
    background: transparent url(../images/admin/ikony/ikona_user_szara.png) 0 0 no-repeat;
    width: 15px;
    height: 15px;
    overflow: hidden;
    display: inline-block;
    text-indent: -2000px;
}
div.box_radio {
    overflow: hidden;
    width: 350px;
}
div.user_add label {
    /*width: 135px;*/
}
.input_bg_small.calendar {
    width: auto;
}
.ico_pdf {
    background: url("../images/admin/mime/pdf.png") no-repeat scroll center top transparent;
    color: #000000;
    display: block;
    padding: 55px 10px 0;
    text-align: center;
}
.ico_pdf:hover {
    color: #FF8E0B;
}
.loj_border {
    height: 1px;
    padding: 10px 0;
    margin: 0px 0 20px;
    border-bottom: 2px solid #646464;
}
/***ZAMÓWIENIA AKCJE***/

.rel_label,
.no_label,
.ok_label {
    line-height: 14px;
    text-transform: uppercase;
}
.ok_label {
    color: #35B516;
}
.no_label {
    color: #ff0000;
}
.rel_label {
    color: #0272DB;
}
table.table_order {
    width: 100%;
    border-collapse: collapse;
}
table.table_order td {
    border: 1px solid #ffffff;
    padding: 5px;
}

/***RAPORTY ODWIEDZINY***/
div.raports_box {
    overflow: hidden;
    width: 888px;
    padding: 0px 10px;
}
div.one_raport {
    clear: both;
    overflow: hidden;
    width: 887px;
    height: 45px;
    font-size: 12px;
    color: #000000;
    margin-bottom: 5px;
}
div.odwiedzane_img {
    float: left;
    height: 45px;
    position: relative;
    width: 70px;
}
div.odwiedzane_img img {
    max-height: 45px;
    max-width: 70px;
}
div.raport_title {
    overflow: hidden;
    clear: none;
    padding-top: 5px;
}
div.raport_title b {
    color: #646464;
}
div.malo_odwiedzane,
div.srednio_odwiedzane,
div.najczesciej_odwiedzane {
    overflow: hidden;
    float: left;
    width: 885px;
    height: 15px;
    border: 1px solid #000000;
}
div.najczesciej_odwiedzane {
    background-color: #00ff00;
}

div.srednio_odwiedzane {
    background-color: #ffff00;
}

div.malo_odwiedzane {
    background-color: #ff0000;
}
/***STARTOWY BANER***/
div.menu_text {
    overflow: hidden;
    text-align: center;
    color: #FF7800;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 10px;
    height: 22px;
}
div.box_baner_start {
    overflow: hidden;
    padding: 80px 86px 0px;
}
div.baner_icons {
    overflow: hidden;
}
div.one_box_cms {
    float: left;
    width: 320px;
    overflow: hidden;
    position: relative;
}
div.one_box_cms.l {
    margin: 0 70px 0 0;
}
div.one_box_cms.r {
    margin: 0 0 0 70px;
}
div.butt_abs1 {
    top: 70px;
    left: 70px;
    position: absolute;
}
div.butt_abs2 {
    top: 70px;
    left: 34px;
    position: absolute;
}

/***LOGOWANIE***/
div.box_login {
    overflow: hidden;
    margin: 0 auto;
    padding: 86px 0 0;
    width: 960px;
}
div.box_form_login {
    margin: 0px auto;
    width: 300px;
    overflow: hidden;
}
div.error_login {
    overflow: hidden;
    padding: 5px;
    border: 2px solid #646464;
}
div.box_login div.k_blad {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #ff0000;
}
div.box_login div.form_row {
    margin: 14px 0 0 0;
}
div.button_form_login {
    overflow: hidden;
    padding: 10px 0px 10px 130px;
}

.mojtytul
{	
	background-color: #d6d7d8;	
	padding: 5px 0px 5px 5px;	
	color: black;	
	font-family: Tahoma;	
	font-size: 11px;	
	font-weight: bold;	
	width: 662px;
	float: left;
	margin-top: 10px;
	display: inline;
	border: 1px solid #808080;
}
.input_temat
{
	float: left;
	width: 663px;
	margin-bottom: 0px;
	height:20px;
	border:1px solid #C3C3C3;
}
.przycisk_1
{
	float:left;
	background: #ff8800;
	border:1px solid #333333;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	padding:1px 6px 3px 6px;
	margin-right: 20px; 
	width: auto; 
	margin-top: 20px;	
	display: inline;
	cursor:pointer;
}

#wyszukiwarka
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:0px;
	background-color:#d9d9d9;
	width:100%;
	height:57px;
}
#reset
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	border:0;
	width:60px;
	height:57px;
	line-height:57px;
	display:block;
	background-color:#FF9900;
	color:white;
	font-size:14px;
	text-indent:3px;
	font-weight:bold;
	text-decoration:none;
}
#top
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	height:28px;
	font-family:'Tahoma';
	font-size:11px;
}
.napis
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:65px;
	height:28px;
	line-height:28px;
	text-align:right;
}
.select
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:3px;
	height:18px;
	border-color:#bfbfbf;
	background-color:white;
	color:black;
	padding-left:8px;
}
#szukaj
{
	position:absolute;
	top:0px;
	right:0px;
	border:0;
	width:60px;
	height:57px;
	line-height:57px;
	display:block;
	background-color:#FF9900;
	color:white;
	font-size:17px;
	text-indent:2px;
	font-weight:normal;
	text-decoration:none;
	cursor:pointer;
}
#bottom
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	height:28px;
	font-family:'Tahoma';
	font-size:11px;
}
#co2,
#co
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:3px;
	width:115px;
	height:18px;
	border-color:#bfbfbf;
	background-color:white;
	color:black;
	padding-left:8px;
}
#typ
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:5px;
}
#typ input
{
	margin-left:5px;
}
#add
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:3px;
}
.ileNaStrone,
#ileNaStrone
{
	position:relative;
	float:left;
	margin-left:90px;
	margin-top:3px;
	color:#777777;
}
.ileNaStrone select,
#ileNaStrone select
{
	width:40px;
	height:18px;
	border:1px solid #abadb3;
}
#stronicowanie
{
	position:relative;
	float:left;
	clear:none !important;
	margin-left:35px;
	margin-top:0px;
	height:15px;
	line-height:15px;
}
#stronicowanie2
{
	position:relative;
	float:left;
	clear:none !important;
	margin-left:105px;
	margin-top:15px !important;
	height:15px;
	line-height:15px;
}
#stronicowanie a
{
	color:black;
}
#stronicowanie2 a
{
	color:black;
}
#stronicowanie a:hover
{
	color:#ff5e02;
}
#stronicowanie2 a:hover
{
	color:#ff5e02;
}
#ofertaTable
{
	clear:left !important;
	border:1px solid #e3e3e3 !important;
}
#ofertaTable th
{
	padding: 2px 2px !important;
}
#ofertaTable th img
{
	border:0;
}
#ofertaTable td
{
	padding: 2px 2px !important;
}
.th
{
	position:relative;
	float:left;
}
.thLeft
{
	text-align:left;
}
.thCenter
{
	text-align:center;
}
.sortRight
{
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:3px;
}
.sortAfterTHSingle
{
	margin-top:-17px;
}
.sortCenter
{
	position:relative;
	float:center;
	width:20px;
	height:20px;
	border:0px solid black;
	margin-top:2px;
	margin-left:auto;
	margin-right:auto;
}
.sortTop
{
	position:relative;
	float:left;
}
.sortBottom
{
	position:relative;
	float:left;
	margin-top:2px;
	clear:left;
}
.ofertaInnerTable
{
	border:1px solid #e3e3e3 !important;
}
.ofertaInnerTable td
{
	border:1px solid #e3e3e3 !important;
}
.wystaw
{
	position:relative;
	float:right;
	margin-top:10px;
	_width:200px;
	height:40px;
	clear:right;
}
.wystawShort
{
	margin-top:5px !important;
}
#wystawAllegro
{
	float:left;
	width:98px;
	height:40px;
	border:0px solid #a6a6a6;
	background:url(../images/admin/wystaw.jpg);
}
#wystawEBay
{
	width:98px;
	height:40px;
	border:0px solid #a6a6a6;
	background:url(../images/admin/wystaw.jpg);
}
#kopiujOnline
{
	width:98px;
	height:40px;
	border:0px solid #a6a6a6;
	background:url(../images/admin/kopiuj.jpg);
}
.listaLink
{
	float:right;
	clear:right;
	margin-top:0px;
	margin-right:0px;
	width:260px;
	border: 1px solid #A6A6A6;
	padding-left:10px;
	padding-right:5px;
	height:37px;
	line-height:37px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	background-color:#ff9900;
	color:white;
	cursor:pointer;
}
.listaLink:hover
{
	text-decoration:none;
}

.wystawCo
{
	float:left;
	width:62px;
	height:35px;
	line-height:35px;
	border:1px solid #a6a6a6;
	text-align:center;
	padding:0px 2px 0px 0px;
	font-size:13px;
	font-weight:bold;
}
.selectAll
{
	float:left;
	width:62px;
	height:33px;
	line-height:16px;
	border:1px solid #a6a6a6;
	text-align:right;
	padding:2px 2px 0px 0px;
}
.checkbox
{
	float:left;
	margin-left:5px;
	margin-top:0px;
}
.rabatCheckbox
{
	margin-left:10px;
	margin-top:5px;
}
.afterCheckbox
{
	float:left;
	margin-left:10px;
	margin-top:-3px;
}

.hint
{
	display:none;
}
.opinieStars
{
	position:relative;
	float:left;
	width:115px;
	height:20px;
	margin-bottom:0px;
}
.opiniaStars
{
	position:relative;
	float:left;
	width:115px;
	height:20px;
	margin-bottom:0px;
}
.opinieStarsOpis
{
	float:left;
	clear:left;
	width:90px;
	height:20px;
	font-size:12px;
}
.dodajAtrybut
{
	text-indent:0px;
	color:#FF7600;
	font-size:14px;
}
.dodajAtrybutLink
{
	display:none;
	margin-left:20px;
}
#opinieTable tr th
{
	display:none;
}
#opinieTable tr td.opinieImie input
{
	display:none;
}
#opinieCzas, .opinieCzas
{
	display:none;
}
#opinieKontakt, .opinieKontakt
{
	display:none;
}
.opinieStarsOpis
{
	display:none;
}

#polecForm
{
	position:relative;
	float:left;
	width:770px;
	margin-top:0px;
	margin-left:0px;
	color:black;
	font-size:12px;
}
#polecForm #polecLink
{
	float:left;
	clear:left;
	margin-top:10px;
	font-size:13px;
	text-decoration:none;
	color:#1f05d3;
}
#polecForm #polecLink a
{
	text-decoration:none;
	color:#1f05d3;
}
#polecForm #polecEmoc
{
	float:left;
	clear:left;
	margin-top:10px;
}
#polecForm #polecEmoc #emotka
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	height:60px;
	line-height:50px;
	font-size:10px;
	color:#595959;
}
#polecForm #polecEmoc #list
{
	position:relative;
	float:left;
	margin-left:10px;
	width:680px;
	margin-top:0px;
}
#polecForm #polecEmoc #list ul
{
	margin-left:0px;
	padding-left:0px;
}
#polecForm #polecEmoc #list li
{
	display:inline;
	margin-left:3px;
}
#polecForm .napis
{
	float:left;
	margin-top:5px;
	margin-left:0px;
	text-align:right;
	width:135px;
	font-size:11px;
	color:#6c6c6b;
	line-height:25px;
}
#polecForm input
{
	float:left;
	margin-left:10px;
	margin-top:5px;
	width:240px;
	height:25px;	
	border:1px solid #bfbfbf;
}
#polecForm #wyslij
{
	float:left;
	clear:left;
	margin-left:300px;
	margin-top:8px;
	width:91px;
	height:27px;
	font-weight:bold;
	background-color:#c00000;
	border:0px solid #bfbfbf;
	color:white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor:pointer;
}
#polecForm input[type="checkbox"]
{
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:20px !important;
	height:25px;	
	border:1px solid #bfbfbf;
}
#polecForm #maile
{
	float:left;
	margin-top:5px;
	margin-left:10px;
	text-align:left;
	font-size:11px;
	color:#6c6c6b;
	line-height:18px !important;
}
#polecForm .maile
{
	float:left;
	margin-top:0px;
	margin-left:0px;
	line-height:25px !important;
}

.itemImgsDivPolec
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	width:67px;
	height:50px;
	border:1px solid #e0e0e0;
}
.itemImgsDivInnerPolec
{
	width:67px;
	height:50px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
.itemImgsDivInnerPolec * 
{
    vertical-align:middle;
}
.itemImgsDivInnerPolec span
{
    * display: inline-block;
    * height: 100%;
    * width: 0px;
}
.itemImgsPolec
{
	border:0px solid black;
    max-width:67px;
    _width:expression(this.width > 66 ? 67 : "auto");
    max-height:50px;
    _height:expression(this.scrollHeight > 49 ? 50 : "auto");
}

.koment
{
	position:relative;
	float:left;
	margin:10px 0px 10px 10px;
}
.komentNagl
{
	margin-top:0px;
}
span.label_radio 
{
    float: left;
    padding: 0 10px;
}

#rabaty
{
	position:relative;
	float:left;
	margin:10px 0px 0px 0px;
}
#rabaty .lf
{
	margin-left:10px;
}
.ico_drag 
{
    background: url(../images/admin/ikony/cursor_drag.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.allegroKoszty
{
	width:450px !important;
}
.allegroKoszty span
{
	width:95px;
	display:inline-block;
}
.allegroKoszty input[type="text"]
{
	width:60px;
	margin-right:30px;
}
.allegroKoszty input[type="checkbox"]
{
	vertical-align:top;
}

#cechyAllegro
{
	position:relative;
	float:left;
	clear:left;
	margin-left:10px;
    margin-top:10px;
	width:680px;
	overflow:hidden;
}
#cechyAllegro table
{
	width:100%;
}
#cechyAllegro .cechyNazwa
{
	display:inline-block;
	min-width:150px;
	line-height:28px;
	font-size:12px;
	vertical-align:top;
}
#cechyAllegro .cechyWybierz
{
	display:inline-block;
	min-width:150px;
	line-height:28px;
	text-align:left;
	margin-left:10px;
}
#cechyAllegro .cechyParametry
{
	display:inline-block;
	min-width:150px;
	vertical-align:top;
}
#cechyAllegro .cechyCheckbox
{
	display:inline-block;
	min-width:200px;
	vertical-align:top;
}
#cechyAllegro select
{
	display:inline-block;
	min-width:200px;
	border:1px solid #c4c4c4;
}
#cechyAllegro input[type="text"]
{
	margin-left:0px;
	display:inline-block;
	min-width:195px;
	border:1px solid #c4c4c4;
}
#cechyAllegro input[type="checkbox"]
{
	margin-left:0px;
	display:inline-block;
}

#podstronaNagl
{
	position:relative!important;
	float:left!important;
	margin-top:20px!important;
	margin-left:0px!important;
	width:100%!important;
	clear:left!important;
	font-size:16px!important;
	font-weight:bold!important;
	color:#2b488d!important;
	text-indent:10px!important;
	margin-bottom:0px!important;
}
#podstronaTekst
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:0px;
	clear:left;
	width:730px;
	padding:0 10px;
	min-height:200px;
	height:auto! important;
	height:200px;
	line-height:16px;
}

/*
Atrybuty
*/
div.input_bg input[type="radio"] {
    margin: 0 auto;
    width: auto;
    display: block;
}
table.tb_param label {
    width: auto;
    color: #6B9942;
    float: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 100%;
}
table.tb_param label:hover {
    background-color: #D2D2D2;
    cursor: pointer;
    color: #FF7600;
}
table.tb_param {
    border-collapse: collapse;
}
table.tb_param td {
    border: 1px solid #C3C3C3;
    background-color: #ffffff;
    vertical-align: middle;
}
.et_param {
    font-size: 13px;
}
.cle_param {
    padding: 0 20px;
    overflow: hidden;
}
.cle_param span {
    float: left;
}
.cle_param span.l {
    padding: 5px 0 0 5px;
}
.bor_param {
    border: 1px dotted #000000;
}
div.form_row.bor_param {
    margin-bottom: 10px;
}
div.form_row.bor_param  select{
    color:#646464;
}
div.form_row.bor_param  input[type="text"]{
   color:#646464;
}
div.margin_left {
    overflow: hidden;
    margin-left: 10px;
}

.cenyAtryb
{
	width:900px;
	display:none;
	font-size:11px;
	margin-left:0px;
	margin-top:10px;
	float:left;
	clear:left;
}
.input_bg_radio .cenyAtryb2
{
	margin-left:-145px;
}
.cenyAtryb span
{
	float:left;
	margin:0 5px 0 10px;
	display:inline-block;
	width:130px;
}
.cenyAtryb label
{
	font-weight:normal!important;
	float:none!important;
	display:inline!important;
	width:auto!important;
	margin:0px!important;
}
.cenyAtryb table
{
	font-size:11px;
}
.cenyAtryb table th
{
	font-size:11px;
	font-weight:normal;
	line-height:12px;
	padding:2px 0;
	width:95px;
}
.cenyAtryb table td
{
	text-align:center;
}
.cenyAtryb table td input[type="text"]
{
	font-size:12px;
	font-weight:normal;
	padding:0px 0;
	width:95%;
	height:20px;
	line-height:20px;
	border:1px solid #D2D2D2;
	text-align:right;
}

.pole-formularza {
display: block;
float: left;
width: 157px;
padding-right: 5px;
}

.pole-formularza .input_bg {
width: 157px !important;
}

.pole-formularza label {
clear: both;
float: left;
width: 100%;
height: 20px;
font-weight: bold;
}

.pole-formularza .required {
color: red;
}

.pole-formularza select {
display: block;
float: left;
width: 157px !important;
height: 25px !important;
}

.pole-formularza input {
display: block;
float: left;
width: 152px !important;
height: 19px !important;
}

.pole-formularza input {
padding-right: 5px;
}

.pole-formularza .wyjasnienie-brak-edycji {
width: 157px;
clear: both;
}

.tytul-sekcji {
clear: both;
width: 100%;
height: 20px;
font-weight: bold;
border-bottom: 1px dotted #000000;
margin-top: 10px;
margin-bottom: 10px;
}

.tytul-sekcji .required {
color: red;
}

.maly-select {
width: 100px !important;
}

#num-wybr-kat-allegro {
border: 1px solid #C3C3C3;
width: 120px;
}

.allegro-stopka-kategorie {
clear: both;
text-align: right;
width: 643px;
height: 35px;
padding-top: 5px;
}

.allegro-stopka-kategorie label {
font-weight: bold;
}

.nowy-wiersz {
clear: both;
padding-top: 10px;
width: 100%;
}

#komunikat {
color: #000000 !important;
font-family: 'Tahoma', 'TahomaWbudowana' !important;
font-size: 13px !important;
font-style: normal !important;
font-weight: normal !important;
line-height: 30px !important;
}

/*.edytor iframe {
width: 800px !important;
}*/

.kontrData
{
	position:relative;
	float:left;
	margin-top:4px;
	margin-left:0px;
}
#kontrDataOd
{
	margin-left:8px !important;
}
#kontrDataDo
{
	margin-left:8px !important;
}
#wyszukiwarkaOferta #kontrDataOd
{
	margin-left:0px !important;
}
#wyszukiwarkaOferta #kontrDataOd span
{
	font-weight:normal !important;
}
#wyszukiwarkaOferta #kontrDataDo
{
	margin-left:0px !important;
}
#wyszukiwarkaOferta #kontrDataDo span
{
	font-weight:normal !important;
}
#wyszukiwarkaKontr span, #wyszukiwarkaOferta span
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:3px;
	margin-right:2px;
	color:#0070c0;
	font-size:12px;
}
#wyszukiwarkaOferta .kontrData span
{
	margin-left:-2px !important;
}
#wyszukiwarkaOferta .kontrData select
{
	margin-left:1px !important;
}
.kontrData select
{
	border:1px solid #bfbfbf;
	padding-left:2px;
	margin-left:2px !important;
	color:#595959;
}
.kontrRok
{
	width:59px;
}
.kontrMc
{
	width:43px;
}
.kontrDay
{
	width:43px;
}

#spolecznosc .box_main_title
{
	border-bottom:3px solid #c3c3c3;
}
#spolecznosc .box_title
{
	padding:10px 0px;
	border-bottom:3px solid #c3c3c3;
	text-indent:15px;
}
#spolecznosc .box_title h3.title3
{
}
.dokumenty {
    font-size: 14px;
    font-weight: bold;
}
#spolecznosc .content
{
	margin-top:10px;
	border-top:0px;
}
#spolecznosc .left_side
{
	width:255px;
}
#spolecznosc .menu_left
{
	border:0px;
}
#spolecznosc .right_side
{
	float:left;
	width:670px;
	padding:0px;
	background-color:white;
	overflow:visible;
}
#spolecznoscTop
{
	position:relative;
	float:left;
	margin-left:0px;
	margin-top:0px;
	width:100%;
	padding-bottom:10px;
}
#spolecznoscTop .button1
{
	position:relative;
	float:left;
	margin-left:5px;
	margin-top:0px;
}
#spolecznoscSzukaj
{
	position:relative;
	float:left;
	margin-left:150px;
	margin-top:0px;	
}
#spolecznoscSzukaj span.hover
{
	float:left;
	margin-left:50px;
}
#spolecznoscSzukaj input#search, #spolecznoscSzukaj input[type="text"]
{
	float:left;
	margin-left:5px;
	width:130px;
	border:1px solid #c1c1c1;
}
#spolecznoscSzukaj a.zobacz
{
	float:left;
	margin-left:5px;
	cursor:pointer;
}

.jstree-search, .jstree-search b
{
	color:blue!important;
}
.jstree a.link
{
	border:1px solid #D9D9D9;
	padding:0 1px 0 2px!important;
}
.jstree b
{
	color:#000;
}
.jstree span
{
	color:#000!important;
}
.zobacz, .rozwin
{
	margin-left:5px!important;
	width:auto!important;
	height:18px;
	line-height:18px;
	padding:0 7px!important;
	text-align:center;
	color:white!important;
	border:0!important;
	background-color:#ff7600!important;
	font-size:10px;
	font-weight:bold;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.zobacz ins, .rozwin ins
{
	display:none!important;
}
div.radius img {
    float: left;
    padding: 5px;
}
div.radius input {
    float: left;
}
#polecajacyTable
{
	width:100%;
	/*border-collapse:collapse;*/
	border-spacing:1px 0;
}
#polecajacyTable th
{
	height:25px;
	background-color:#d9d9d9;
	color:black;
	border:1px solid #d9d9d9;
	text-align:left;
	vertical-align:middle;
	padding-left:8px;
}
#polecajacyTable td
{
	height:25px;
	background-color:#ffffff;
	color:#646464;
	border:1px solid #d9d9d9;
	border-top:0px;
	text-align:left;
	vertical-align:middle;
	padding-left:8px;
}
#polecajacyTable tr.active td
{
	background-color:#ededed;
	color:#ff6b01;
	font-weight:bold;
}
#polecajacyTable td a
{
	display:block;
	width:62px;
	height:19px;
	background: url(../images/admin/zobacz_active.gif);
}
#polecajacyTable tr.active  td a
{
	background: url(../images/admin/zobacz_inactive.gif);
}

#polecajacyStronicowanie
{
	position:relative;
	float:left;
	margin-top:16px;
	margin-left:0px;
}
#polecajacyStronicowanie .box_pager
{
	padding:0px;
}
#polecajacyStronicowanie a
{
	float:left;
	height:23px;
	line-height:23px;
	padding:0 10px;
	margin-right:6px;
	border:0px;
	font-size:12px;
	font-weight:bold;
	color:white;
	background:none #ff7600;
}
#polecajacyStronicowanie a.link_aktywny_stronicowanie, #polecajacyStronicowanie a:hover
{
	color:#484848!important;
	background:none #D9D9D9!important;
}
#polecajacyStronicowanie .link_nieaktywny_stronicowanie
{
	display:none;
}
#polecajacyStronicowanie #prev, #polecajacyStronicowanie #next
{
	display:none;
}
#polecajacyStronicowanie #first, #polecajacyStronicowanie #last
{
	display:none;
}

#spolecznoscDrzewo
{
	position:relative;
	float:left;
	margin-top:0px;
	width:100%;
	/*border:1px solid #b3b3b3;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-moz-box-shadow:0 0 5px #000;
	-webkit-box-shadow:0 0 5px #000;
	box-shadow:0 0 5px #000;*/
	overflow:hidden;
	/*background-color:#d9d9d9; */
}
#spolecznoscNagl
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:40px;
	line-height:40px;
	font-size:16px;
	color:white;
	text-indent:15px;
	background-color:#ff7600;
}
#polecenia
{
	position:relative;
	float:left;
	margin:10px;
	border:1px solid #fff;
	background-color:#fff;
        font-size: 11px;
        color: #000;
}
#polecenia li a.link .jstree-icon,
#polecenia li a.link.hasPeople .jstree-icon {
    background: transparent url("../images/admin/menu/lojalnosc/pic/pol1.png") 0 0 no-repeat;
    height: 23px;
    width: 24px;
    float: left;
}
#polecenia li a.link .jstree-icon {
    background: transparent url("../images/admin/menu/lojalnosc/pic/pol2.png") 0 0 no-repeat;
}
#polecenia li {
    padding: 0px 0px 12px;
}
#polecenia.jstree a.link {
    border: 0px;
    font-size: 13px;
}
li.jstree-open > ul {
    padding: 12px 0 0 0;
}
jstree-last jstree-open a.link {

}
.jstree input[type="submit"].zobacz {
    display: inline-block;
    height: auto !important;
    padding: 1px 2px !important;
    cursor: pointer;
}
#polecenia li a.link.jstree-hovered,
#polecenia li a.link.jstree-clicked {
    background: transparent!important;
}
#polecenia li a.link.jstree-hovered b,
#polecenia li a.link.jstree-clicked b {
    color: #ff7800;
}
span.row-cash {
    padding: 5px;
    margin: 0 0 0 5px;
    background-color: #c3c3c3;    
}
span.row-cash span,
span.row-cash strong {
    color: #3a3a3a;
}
span.row-cash b {
    color: #ffffff;
    padding: 0 5px;
}
span.row-cash select {
   background-color: #FFFFFF;
    border: 1px solid #B6B6B6;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    height: 18px;
    width: 70px;
}
div.btn-box {
    float: right;
    margin-right: 115px;
    overflow: hidden;
}
div.file_bg {
    position: relative;
    min-height: 28px;
}
div.add_foto {
    background-color: #FF7800;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
}
#fileFileUploader {
    position: absolute;
}
#fileFileQueue {
    padding: 30px 0 0 0;
}
#fileFileQueue .cancel {
    display: none;
}
#fileFileQueue .percentage,
#fileFileQueue .fileName {
    color: #6B9942;
}
.people #szukaj,
.people #reset {
    height: 30px;
    line-height: 30px;

}
#wyszukiwarka.people {
    height: 30px;
}
div.form_row .input_bg_small.calendar {
    width: auto;
}
div.form_row label.minis {
    width: 65px!important;
}
.tytulLojalnosc {
    color: #2A91B0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 0px 20px 0px;
    overflow: hidden;
}
.borderLojalnosc {
    border-bottom: 4px solid #FF7800; 
    clear: both;
    margin: 0 0 30px;
    padding: 30px 0 0;
}
.lblcolorBlue {
    color: #2A91B0;
    font-weight: bold;
}
.lblcolorGreen {
    color: #86AE0C;
    font-weight: bold;
}
.lblcolorRed {
    color: #9A0000;
    font-weight: bold;
}
.fr_zakup {
    text-align: center;
    color: #2A91B0;
}
.fr_zakup strong {
    color: #000;
}
.textMessage {
    background-color: #FFFFFF;
    border: 1px solid grey;
    color: green;
    font-size: 12px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
.disabledText {
    background-color: #fff;
}
.lojalnoscTytulMaly {
    color: green;
    font-size: 12px;
    font-weight: bold;
}
.listaLojalnosc {
    padding: 0 0 0 15px;
}
.listaLojalnosc a {
    color: #E9865C;
    font-size: 12px;
    text-decoration: none;
}
.listaLojalnosc a:hover {text-decoration: underline;}
.infoLojalnosc {font-size: 12px;}
.p0 {
    padding-left: 5px;
}
.stanSms {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: right;
}
.txtTextarea {
    border: 1px solid #C3C3C3;
    height: 200px;
    resize: none;
    width: 400px;
    font-size: 14px;
    background-color: #ffffff;
}
.stanSms span {
    float: right;
    line-height: 18px;
}
.user_add .required.bold,
.required.bold {
    font-weight: bold!important;
}
ul.list0 {
    font-size: 13px;
    padding: 0 0 0 25px;
}
ul.list0 li {
    color: #FF7800;
}
ul.list0 li span {
    color: #000000;
}
div.info_com {
    background: url("../images/admin/facebox/ico_info.png") no-repeat scroll 20px center #FFFFFF;
    border: 1px solid #FF7800;
    font-size: 11px;
    overflow: hidden;
    padding: 10px 10px 10px 60px;
}
#popupContact{
    display:none;
    position:fixed;
    height:420px;
    width:460px;
    z-index:2;
    padding:12px;
    font-size:13px;
}

#popupContactClose{
    cursor: pointer;
    display: block;
    float: right;
    font-size: 30px;
    height: 24px;
    line-height: 25px;
    width: 22px;
}
#popupLoader {
   background-color: #000000;
   height: 100%;
   left: 0;
   filter:alpha("opacity=70");
   opacity: 0.7;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 100;
}
#contactArea {
    clear: both;
    overflow: hidden;
    padding: 5px 15px 15px;
}
#popupCont {
    width: 454px;
    min-height: 200px;
    background: #ffffff;
    position: relative;
    z-index: 101;
    border: 2px solid #FF7700;    
}
.pT {
    display: block;
    font-weight: bold;
    padding-bottom: 10px;
}
.pC {
    overflow: hidden;
}
.row-mark {
    padding: 0 0 20px;
}


/********* ZAKLADKI ************/

.zakladki li {
    background: url("../images/admin/zakladki/zakl_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    list-style: none outside none;
    margin: 0 5px;
    padding: 5px;
    position: relative;
}

.zakladki li span {
    background: url("../images/admin/zakladki/zakl_bg.png") no-repeat scroll 100% 0 transparent;
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 65px;
}

.zakladki li a {
    color: #7F7F7F;
    float: left;
    font-size: 11px;
    font-weight: bold;
    min-width: 70px;
    padding-bottom: 3px;
    padding-top: 34px;
    text-align: center;
}

.zakladki li a:hover, .zakladki li a.active {
    color: #ff7800;
    text-decoration: none;
}

.zakladki li.strona a{
    background: url("../images/admin/zakladki/strona_ico.png") no-repeat scroll center 0 transparent;
}

.zakladki li.sklep a{
    background: url("../images/admin/zakladki/sklep_ico.png") no-repeat scroll center 0 transparent;
}

.zakladki li.lojalnosc a{
    background: url("../images/admin/zakladki/lojalnosc_ico.png") no-repeat scroll center 0 transparent;
}

.zakladki li.strona a:hover, .zakladki li.strona a.active {
    background: url("../images/admin/zakladki/strona_ico_active.png") no-repeat scroll center 0 transparent;
}

.zakladki li.sklep a:hover, .zakladki li.sklep a.active {
    background: url("../images/admin/zakladki/sklep_ico_active.png") no-repeat scroll center 0 transparent;
}

.zakladki li.lojalnosc a:hover, .zakladki li.lojalnosc a.active {
    background: url("../images/admin/zakladki/lojalnosc_ico_active.png") no-repeat scroll center 0 transparent;
}