/***Karuzela***/
.jcarousel-skin-tango {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-container {}
.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
    padding: 0px;
}
.jcarousel-skin-tango .jcarousel-item {
   overflow: hidden;
   width: 305px;
   min-height: 150px;
   height: 150px;
   padding: 0px;
}
#jQ_karuzela {
    float:left;
	clear:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding-bottom:0px;
	background:none;
}
#jQ_karuzela ul {
    padding: 0px;
	*margin-top:0px!important;
}
#jQ_karuzela li {
    padding: 0px;
	width:100%!important;
    height: auto!important;
	overflow:hidden;
}
.jcarousel-skin-tango .jcarousel-item a {
    display: block;
}
.jcarousel-clip {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.jcarousel-clip.jcarousel-clip-vertical {
    height: 340px;
}
.jcarousel-clip.jcarousel-clip-vertical .jcarousel-item {
    min-height: 74px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    background-color: #ffffff;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {}

/***PRZYCISKI***/

.jcarousel-skin-tango .jcarousel-next-horizontal {
    display: block;
    width: 27px;
    height: 78px;
    position: absolute;
    top:60px;
    right: -30px;
    z-index: 50;
    cursor: pointer;
    display: none!important;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
    display: none!important;
    cursor: pointer;
    display: block;
    height: 78px;
    left: -29px;
    position: absolute;
    top: 60px;
    width: 27px;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background: transparent;
    display: none!important;
}
.jcarousel-skin-tango .jcarousel-next-vertical,
.jcarousel-skin-tango .jcarousel-prev-vertical {
    display: block;
    height: 11px;
    top: 21px;
    width: 6px;
    cursor: pointer;
}
.jcarousel-skin-tango .jcarousel-next-vertical {
    right: 10px;
    background: red;
    display: none;
}
.jcarousel-skin-tango .jcarousel-prev-vertical {
    right: 20px;
    background:green;
    display: none;
}