/*@font-face
{
    font-family: 'GeorgiaFont';
    src: url('../fonts/georgia.eot');
    src: local('Georgia'), local('Georgia Regular'), 
		 url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia.woff') format('woff'),
         url('../fonts/georgia.ttf') format('truetype'),
		 url('../fonts/georgia.otf') format('opentype'),
         url('../fonts/georgia.svg#GeorgiaNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'GeorgiaFont';
    src: url('../fonts/georgiab.eot');
    src: local('Georgia Bold'), local('Georgia Condendsed'), 
		 url('../fonts/georgiab.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgiab.woff') format('woff'),
         url('../fonts/georgiab.ttf') format('truetype'),
		 url('../fonts/georgiab.otf') format('opentype'),
         url('../fonts/georgiab.svg#GeorgiaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}*/


@font-face {
    font-family: 'OpenSansBold';    
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansCondBold';    
    src: url('../fonts/OpenSans-CondBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansCondLightItalic';    
    src: url('../fonts/OpenSans-CondLightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansCondLight';    
    src: url('../fonts/OpenSans-CondLight.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansExtraBold';    
    src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansExtraBoldItalic';    
    src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: '';    
    src: url('../fonts/') format('truetype');
}
@font-face {
    font-family: 'OpenSansItalic';    
    src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansLight';    
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansLightItalic';    
    src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansRegular';    
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansSemibold';    
    src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}@font-face {
    font-family: 'OpenSansSemiboldItalic';    
    src: url('../fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
}


@font-face {
    font-family: 'Quicksand-Regular';    
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Bold';    
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*@font-face {
    font-family: '';
    src: url('fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}*/