/*@font-face
{
    font-family: 'GeorgiaFont';
    src: url('../fonts/georgia.eot');
    src: local('Georgia'), local('Georgia Regular'), 
		 url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgia.woff') format('woff'),
         url('../fonts/georgia.ttf') format('truetype'),
		 url('../fonts/georgia.otf') format('opentype'),
         url('../fonts/georgia.svg#GeorgiaNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'GeorgiaFont';
    src: url('../fonts/georgiab.eot');
    src: local('Georgia Bold'), local('Georgia Condendsed'), 
		 url('../fonts/georgiab.eot?#iefix') format('embedded-opentype'),
         url('../fonts/georgiab.woff') format('woff'),
         url('../fonts/georgiab.ttf') format('truetype'),
		 url('../fonts/georgiab.otf') format('opentype'),
         url('../fonts/georgiab.svg#GeorgiaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}*/


@font-face {
    font-family: 'Lato Black';    
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato BlackItalic';
    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Bold';    
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato BoldItalic';    
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Hairline';    
    src: url('../fonts/Lato-Hairline.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato HairlineItalic';    
    src: url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Heavy';
    src: url('../fonts/Lato-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato HeavyItalic';    
    src: url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Italic';
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato LightItalic';
    src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato MediumItalic';
    src: url('fonts/Lato-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Semibold';
    src: url('../fonts/Lato-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato SemiboldItalic';
    src: url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato Thin';
    src: url('../fonts/Lato-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato ThinItalic';
    src: url('../fonts/Lato-ThinItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Regular';    
    src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Bold';    
    src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
}
/*@font-face {
    font-family: '';
    src: url('fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}*/