@font-face {
  font-family: "SourceSansPro-Black";
  src: url("../fonts/SourceSansPro-Black.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-BlackIt";
  src: url("../fonts/SourceSansPro-BlackIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-BoldIt";
  src: url("../fonts/SourceSansPro-BoldIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url("../fonts/SourceSansPro-ExtraLight.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-ExtraLightIt";
  src: url("../fonts/SourceSansPro-ExtraLightIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-It";
  src: url("../fonts/SourceSansPro-It.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Light";
  src: url("../fonts/SourceSansPro-Light.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-LightIt";
  src: url("../fonts/SourceSansPro-LightIt.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("../fonts/SourceSansPro-Semibold.otf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-SemiboldIt";
  src: url("../fonts/SourceSansPro-SemiboldIt.otf") format("truetype");
}
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.otf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Bold";
  src: url("../fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/Quicksand-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype");
}
