@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-Regular.eot');
    src: local('EncodeSans'), local('EncodeSans Regular'), 
		 url('../fonts/encodesans/EncodeSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-Regular.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-Regular.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-Regular.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-Regular.svg#EncodeSansNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-Light.eot');
    src: local('EncodeSansLight'), local('EncodeSans Light'), 
		 url('../fonts/encodesans/EncodeSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-Light.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-Light.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-Light.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-Light.svg#EncodeSansLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-Medium.eot');
    src: local('EncodeSansMedium'), local('EncodeSans Medium'), 
		 url('../fonts/encodesans/EncodeSans-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-Medium.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-Medium.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-Medium.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-Medium.svg#EncodeSansMedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-Bold.eot');
    src: local('EncodeSansBold'), local('EncodeSans Bold'), 
		 url('../fonts/encodesans/EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-Bold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-Bold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-Bold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-Bold.svg#EncodeSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-SemiBold.eot');
    src: local('EncodeSansSemiBold'), local('EncodeSans SemiBold'), 
		 url('../fonts/encodesans/EncodeSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/encodesans/EncodeSans-SemiBold.woff2') format('woff2'),
         url('../fonts/encodesans/EncodeSans-SemiBold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-SemiBold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-SemiBold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-SemiBold.svg#EncodeSansSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-ExtraBold.eot');
    src: local('EncodeSansExtraBold'), local('EncodeSans ExtraBold'), 
		 url('../fonts/encodesans/EncodeSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-ExtraBold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-ExtraBold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-ExtraBold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-ExtraBold.svg#EncodeSansExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-Light.eot');
    src: local('EncodeSansCondensed'), local('EncodeSansCondensed Light'), 
		 url('../fonts/encodesans/EncodeSansCondensed-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Light.woff2') format('woff2'),
         url('../fonts/encodesans/EncodeSansCondensed-Light.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-Light.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Light.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Light.svg#EncodeSansCondensed') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-Regular.eot');
    src: local('EncodeSansCondensed'), local('EncodeSansCondensed Regular'), 
		 url('../fonts/encodesans/EncodeSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Regular.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-Regular.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Regular.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Regular.svg#EncodeSansCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-Medium.eot');
    src: local('EncodeSansCondensed'), local('EncodeSansCondensed Medium'), 
		 url('../fonts/encodesans/EncodeSansCondensed-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Medium.woff2') format('woff2'),
         url('../fonts/encodesans/EncodeSansCondensed-Medium.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-Medium.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Medium.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Medium.svg#EncodeSansCondensed') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-Bold.eot');
    src: local('EncodeSansCondensedBold'), local('EncodeSansCondensed Bold'), 
		 url('../fonts/encodesans/EncodeSansCondensed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Bold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-Bold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Bold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Bold.svg#EncodeSansCondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.eot');
    src: local('EncodeSansCondensedExtraBold'), local('EncodeSansCondensed ExtraBold'), 
		 url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.woff2') format('woff2'),
         url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.svg#EncodeSansCondensedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCompressed';
    src: url('../fonts/encodesans/EncodeSansCompressed-Regular.eot');
    src: local('EncodeSansCompressed'), local('EncodeSansCompressed Regular'), 
		 url('../fonts/encodesans/EncodeSansCompressed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Regular.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCompressed-Regular.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCompressed-Regular.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Regular.svg#EncodeSansCompressedNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCompressed';
    src: url('../fonts/encodesans/EncodeSansCompressed-Light.eot');
    src: local('EncodeSansCompressedLight'), local('EncodeSansCompressed Light'), 
		 url('../fonts/encodesans/EncodeSansCompressed-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Light.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCompressed-Light.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCompressed-Light.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Light.svg#EncodeSansCompressedLight') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCompressed';
    src: url('../fonts/encodesans/EncodeSansCompressed-Medium.eot');
    src: local('EncodeSansCompressedMedium'), local('EncodeSansCompressed Medium'), 
		 url('../fonts/encodesans/EncodeSansCompressed-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Medium.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCompressed-Medium.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCompressed-Medium.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Medium.svg#EncodeSansCompressedMedium') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCompressed';
    src: url('../fonts/encodesans/EncodeSansCompressed-Bold.eot');
    src: local('EncodeSansCompressedBold'), local('EncodeSansCompressed Bold'), 
		 url('../fonts/encodesans/EncodeSansCompressed-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Bold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCompressed-Bold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCompressed-Bold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Bold.svg#EncodeSansCompressedBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCompressed';
    src: url('../fonts/encodesans/EncodeSansCompressed-ExtraBold.eot');
    src: local('EncodeSansCompressedExtraBold'), local('EncodeSansCompressed ExtraBold'), 
		 url('../fonts/encodesans/EncodeSansCompressed-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-ExtraBold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCompressed-ExtraBold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCompressed-ExtraBold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-ExtraBold.svg#EncodeSansCompressedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCompressed';
    src: url('../fonts/encodesans/EncodeSansCompressed-Black.eot');
    src: local('EncodeSansCompressedBlack'), local('EncodeSansCompressed Black'), 
		 url('../fonts/encodesans/EncodeSansCompressed-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Black.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCompressed-Black.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCompressed-Black.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCompressed-Black.svg#EncodeSansCompressedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}
