#FV, #FV div
{
	position:relative;
	float:left;
	clear:left;
	margin:0px;
	width:100%;
	background:white;
	font-size:14px;
}
#FV #fvNagl
{
	float:right;
	width:auto;
}
#FV #fvNagl span
{
	display:inline-block;
	width:200px;
	text-align:right;
}
#FV #fvTytul
{
	margin-top:20px;
	text-align:center;
}
#FV #fvTytul b
{
	font-size:20px;
}
#FV #fvSprzedawca
{
	margin-top:20px;
}
#FV #fvNabywca
{
	margin-top:0px;
}
#FV #fvSzczegoly
{
	margin-top:10px;
}
#fvSprzedawca span, #fvNabywca span, #fvSzczegoly span
{
	display:inline-block;
	width:150px;
	text-align:right;
}
#fvSprzedawca label, #fvNabywca label, #fvSzczegoly label
{
	padding-left:20px;
}
#FV #fvProdukty
{
	margin-top:20px;
}
#FV #fvProdukty table
{
	border-collapse:collapse;
	border-spacing:5px;
}
#FV #fvProdukty table tr th
{
	border:1px solid black;
	padding:5px;
}
#FV #fvProdukty table tr th.nob
{
	border:0px solid black;
	padding:0px;
}
#FV #fvProdukty table tr td
{
	border:1px solid black;
	padding:5px;
}
#FV #fvProdukty table tr td.nob
{
	border:0px solid black;
	padding:0px;
}
#FV #fvProdukty table tr td.nob.pad
{
	border:0px solid black;
	padding:5px;
}
#FV #fvDoZaplaty
{
	margin-top:50px;
	font-weight:bold;
	font-size:18px;
	text-decoration:underline;
	text-transform:uppercase;
}
#FV #fvPodpis1, #FV #fvPodpis2
{
	clear:none;
	margin-top:75px;
	width:170px;
	text-align:center;
	border-top:2px solid black;
}
#FV #fvPodpis1
{
	float:left;
	margin-left:50px;
}
#FV #fvPodpis2
{
	float:right;
	margin-right:50px;
}
