@CHARSET "UTF-8";
dt {
   text-align: left;
   border-bottom: 3px solid #999999;
   padding-top: 8px;
   padding-bottom: 8px;
   float: left;
   width: 100%;
   display: inline;
}

dt a.link {
   float: left;
   text-decoration: none;
   color: #000000;
}

dd{
   text-align: left;
   border-bottom: 1px solid #999999;
   border-left: 1px solid #999999;
   border-right: 1px solid #999999;  
   padding-top: 8px;
   padding-bottom: 3px;
   padding-left: 5px;
   padding-right: 5px;
   float: left;
   background: #eeeeee;
   width: 900px;
   margin-left: 0px;
   display: inline;
}

dd:hover{
	background:#c0c0c0;
}
dd a.link {
   float: left;
   font-weight: bold;
   text-decoration: none;
   color: #000000;
}

dt img {
   float: right;
   margin-left: 5px;
   display: inline;
}

dd img {
   float: right;
   margin-left: 5px;
   display: inline;
}
.pozycja{
	border:none;
	background:url(../images/admin/ikony/ikona_ok.png) no-repeat;
	cursor:pointer;
	width:16px;
}
.form{
	margin-left:20px;
}
