.field_log {
	border: 0px;
	width: 200px;
}
.log_button {
	margin: 5px 0 0 208px;
	display: block;
	clear: both;
}
.m1 {
	margin: 5px 0 0 217px; 
}
a.link_log {
	float: right;
	color: #C6306A;
	font-size: 11px;
}
.p4 {
	padding: 0 5px 0 0;			
}
.form_register {
	width: 356px;
}
.form_register .form_row label {
	width: 150px!important;	
}
div.error_list {
	color: #8F3858;
	overflow: hidden;
	font-size: 11px;
	text-align: center;
}
label.lbl_spec {
	float: none!important;
	display: inline!important;	
}
div.button_form {
	float: right;
}
div.info_form {
	clear: both; 
	font-size: 11px; 
	color: #8F3858; 
	overflow: hidden; 
	padding: 10px 0px 0px;
}