body
{
	font-size:16px;
	overflow-x:hidden;
}
#body
{
	float:left;
	clear:left;
	width:100%;	
	padding-bottom:20px;
}
#topAll
{
	float:left;
}
#topMain
{
	width:100%;
}
#menuTop
{
	width:100%;
	height:84px;
	border-top:1px solid #256fa3;
	border-bottom:1px solid #bcbcbc;
}
#menus
{
	position:absolute;
	top:20px;
	left:15px;
	border:0;
}
#logo
{
	top:15px;
	left:80px;
	height:60px;
}
#topMenu
{
	position:relative;
	float:right;
	margin-top:10px;
	margin-right:10px;
	height:65px;
}
#topMenu a
{
	position:relative;
	float:right;
	margin-top:0px;
	margin-left:0px;
	display:inline-block;
	width:auto;
	padding:0px 15px;
	height:65px;
	text-align:center;
	text-decoration:none;
	border-left:1px solid #4e98cb;
	background-repeat:no-repeat;
	background-position:top center;
}
#topMenu a img
{
	vertical-align:top;
}
#topMenu a span
{
	font-size:16px;
	font-weight:bold;
	color:white;
	line-height:110px;
}
#topMenu a b.koszykIlosc
{
	position:absolute;
	top:-2px;
	right:-2px;
	display:inline-block;
	min-width:12px;
	padding:0px 10px;
	height:32px;
	line-height:32px;
	text-align:center;
	font-family:EncodeSansCondensed;
	font-size:20px;
	font-weight:bold;
	color:white;
	background:#6b6964;
	border:3px solid white;
	border-radius: 32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
}

#search
{
	clear:left;
	margin-top:0px;
	width:100%;
	height:125px;
	padding:0px;
	background:#fafafa;
	border:0px solid #d1dfe9;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	color:#2b2b2b;	
	font-weight:normal;
	font-size:16px;
}
#search #producentAll
{
	width:100%;
	margin:15px 0%;
	border:0px solid #cacaca;
}
#search #producentAll span
{
	display:none;
}
#search #producentAll span.select
{
	display:block;
	margin-top:0px;
}
#search #producentAll span.select input[type="text"]
{
	width:40%!important;
	background:#fafafa!important;
	border:1px solid #cacaca!important;
	font-size:28px;
	color:#6b6964;
	text-indent:20px;
	height:83px;
	line-height:83px;
	padding:0px;
}
#search #producentAll span.select select
{
	width:40%!important;
	background:#fafafa!important;
	border:1px solid #cacaca!important;
	font-size:28px;
	color:#6b6964;
	text-indent:10px;
	height:83px;
	line-height:83px;
	padding:0px;
}
#search #producentAll span.select input[type="text"]#marka
{
	float:left;
	margin-left:10px;
}
#search #producentAll span.select input[type="text"]#model
{
	float:right;
	margin-right:10px;
}
#search #producentAll span.select input[type="image"]#prodSubmit
{
	position:absolute;
	top:7px;
	right:25px;
	width:50px!important;
	height:48px!important;
	padding:10px!important;
	text-indent:-9999px;
	background:url(../images/strona/mobile/button_tlo.gif) repeat-x!important;
}
#search #frazaAll
{
	display:none;
}
#baner, #baner > img
{
	height:auto!important;
}
 #slider, .jcarousel-clip, #jcarousel
{
	height:200px!important;
}
#jcarousel, .jcarousel-item, #slider li
{
	width:100%!important;
	height:200px!important;
}

#menuLeft
{
	margin-top:0px;
	margin-left:15px;
	width:100%;
}
#menuLeft .lvl0 a
{
	width:100%;
	padding:27px 9px;
	font-size:26px;
	min-height:26px;
	line-height:26px;
	border-top:1px solid #fafafa;
}
#menuLeft .lvl0 > a
{
	background:url(../images/strona/mobile/arrow_lvl0.png) no-repeat right center #c3e6ff;
}
#menuLeft .lvl0_active > a
{
	background:url(../images/strona/mobile/arrow_lvl0_active.png) no-repeat right center #0c5f99;
}
#menuLeft .lvl0_active#inne a
{
	background-image:none!important;
}
#menuLeft .lvl1 > a
{
	padding:22px 9px;
}
#menuLeft .lvl1 > a > img
{
	margin-top:-3px;
	margin-left:10px;
	margin-right:15px;
}
#menuLeft .lvl2 > a
{
	padding:22px 9px;
}
#menuLeft .lvl2 > a > img
{
	margin-top:-3px;
	margin-left:40px;
	margin-right:15px;
}
#mainLeft .nagl
{
	display:none;
}

#mainRight
{
	width:100%;
}
.nagl
{
	font-size:26px;
	line-height:38px;
}
#sciezkaAll
{
	margin:0px 10px;
	padding:10px 0px;
	min-height:35px;
	line-height:35px;
	border-top:0px;
}
#sciezka
{
	font-size:24px;
}
#sciezka img
{
	margin:0px 15px;
}
.znaleziono
{
	margin-right:0px;
}
#listaProdTryby
{
	display:none;
}
#sortForm > span > b
{
	display:none;
	line-height:68px;
}
.sbHolder, .sbSelector, .sbToggle
{
	font-size:26px!important;
	height:68px!important;
	line-height:68px!important;
}
.sbOptions li a
{
	line-height:26px!important;
	font-size:26px!important;
}
#sortSelect, #sorter, #sortSelect .sbHolder
{
	width:310px!important;
}

.itemListaFull
{
	height:280px;
}
.itemsKomplet0 .itemListaFull.item
{
	display:block;
}
.itemListaFull .itemTop .model
{
	font-size:26px;
}
.itemListaFull .itemTop .model a
{
	width:100%;
	line-height:40px;
}
.itemListaFull .itemImgDiv, .itemListaFull .itemImgDivInner, .itemListaFull .itemImgLink
{
	width:100px;
	height:240px;
}
.itemListaFull .itemImg
{
	max-width:100px;
	max-height:240px;
}
.itemListaFull .itemOpis
{
	float:right;
	margin-right:10px;
	width:340px;
	height:44px;
	padding:0px;
}
.itemListaFull .produktParametr *
{
	font-size:20px;
}
.itemListaFull .produktParametr label
{
	width:105px;
}
.itemListaFull .itemBottom
{
	clear:right;
	width:340px;
	height:160px;
	margin-top:10px;
}
.itemListaFull .itemBottom .cena
{
	width:310px;
	height:75px;
}
.itemListaFull .itemBottom .cena b
{
	font-size:36px;
}
.itemListaFull .itemBottom .cena span.strike
{
	font-size:20px!important;
}
.itemListaFull .itemBottom .cena label
{
	font-size:20px;
}
.itemListaFull .itemBottom > div, #produktKoszyk
{
	width:310px;
	height:55px;
}
.itemListaFull .itemBottom span.span_ilosc
{
	display:none;
}
.itemListaFull .itemBottom .input_ilosc
{
	float:left;
	width:75px;
	height:54px;
	line-height:55px;
	padding:0px;
	margin:0px!important;
	font-size:26px;
	border:1px solid #cacaca!important;
}
.itemListaFull .itemBottom a.item_do_kosza
{
	font-size:30px;
}
.button
{
	font-size:26px!important;
	height:55px!important;
	line-height:55px!important;
	background:url(../images/strona/mobile/button_tlo.gif) repeat-x!important;
}
td .button
{
	font-size:20px!important;
}
.box_prod .edycja_danych_przycisk
{
	font-size:17px!important;
	height:55px!important;
	line-height:55px!important;
	background:url(../images/strona/mobile/button_tlo.gif) repeat-x!important;
}
#produkt
{
	margin-top:0px;
	background:white;
	border:1px solid #d1dfe9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow:hidden;
}
#produktMain
{
	width:340px;
	margin-top:20px;
	margin-right:10px;
}
#produktKoszykAll
{
	height:236px;
}
#cenaAll
{
	height:75px;
}
#produktImgs
{
	display:none;
}
#produktOpis
{
	font-size:24px;
	line-height:30px;
	margin:0px 10px;
}

#naglowek, h3.title3
{
	font-size:25px!important;
	min-height:60px;
	line-height:60px;
}

.itemListaShort
{
	height:225px;
}
.itemListaShort .itemImgDiv, .itemListaShort .itemImgDivInner, .itemListaShort .itemImgLink
{
	margin:2px;
	width:180px;
	height:220px;
}
.itemListaShort .itemImg
{
	max-width:180px;
	max-height:220px;
}
.itemListaShort .itemTop
{
	height:85px;
}
.itemListaShort .itemTop .model
{
	height:100%;
}
.itemListaShort .itemTop .model a
{
	height:100%;
	line-height:28px;
	font-size:26px;
	font-weight:bold;
	padding:0px;
}
.itemListaShort .itemBottom
{
	min-height:100px;
}
.itemListaShort .itemBottom .cena
{
	width:300px;
	max-width:100%;
	height:75px;
	padding:0px;
}
.itemListaShort .itemBottom .cena b
{
	font-size:36px;
}
.itemListaShort .itemBottom .cena span.strike
{
	font-size:20px!important;
}
.itemListaShort .itemBottom .cena label
{
	font-size:20px;
}
.itemListaShort .itemBottom span.span_ilosc
{
	display:none;
}
.itemListaShort .itemBottom .input_ilosc
{
	float:left;
	clear:left;
	width:75px;
	height:54px;
	line-height:55px;
	padding:0px;
	margin:0px!important;
	font-size:26px;
	border:1px solid #cacaca!important;
}
.itemListaShort .itemBottom a.item_do_kosza
{
	float:left;
	font-size:30px;
	margin:0px 10px;
}

.ui-tabs-nav li.produktTab a.produktTabA
{
	padding:0 10px !important;
}
td .input_ilosc
{
	margin:0px!important;
	padding:0px 5px!important;
}
.stronicowanie
{
	margin:20px 0px;
}
div.box_pager a
{
	height:33px;
	line-height:33px;
	font-size:16px;
}

.tabela_koszyk th, .tabela_koszyk td, 
.tabela_koszyk_oplaty th, .tabela_koszyk_oplaty td, .tabela_koszyk_oplaty label b.kosz_wartosc, 
.tabela_koszyk_logowanie th, .tabela_koszyk_logowanie td
{
	font-size:14px;
}

@media screen and (max-width: 699px)
{
	#logo
	{
        height:50px;
	}
    #menuTop
	{
        height:160px;
	}
	#topMenu
	{
        margin-top:85px;
	}
	#search #producentAll span.select input[type="text"]
	{
		font-size:22px;
		text-indent:10px;
	}
	#search #producentAll span.select input#prodSubmit[type="image"]
	{
		right:15px;
		padding:10px 0px!important;
	}
}