body{

}





/*ffsfsf1111d
tom2qqqqqqqqqqqq qqqq
*/

.center{
    margin: 0 auto;
}
#topAll-container{
    padding-top: 1px;
}

#bloki{
    text-align: justify;
}
#bloki > div {
    display: inline-block;
}
#bloki:after{
    content: "";
    width: 100%;
    display: inline-block;
}
.bloki-content{
    width: 320px;
    height: 300px;
    display: inline-table;
}

#stopka-wrapper{
    background: black;
}
.item-wrapper:nth-child(4n+1) .item-wrapper-container{
    border-left: 1px solid #dbdbdb;
}
.item-wrapper{
    border-bottom: 1px solid #dbdbdb;
    display: inline-table;
    float: left;
    margin-bottom: 14px;
    overflow: hidden;
    width: 252px;
    padding-bottom: 14px;
}
#myRight .item-wrapper{
    display: inline-table;
    float: left;
    margin-bottom: 15px;
    overflow: hidden;
    width: 197px;
}
.item-wrapper .imgDiv{
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}
#my_search_wrapper{
    width: 747px;
    min-height: 92px;
    background: #818181;   
}
#my_sort_wrapper{
    min-height: 92px;
    width: 245px;
    background: #818181;
}
#my_search_container{
    min-height: 92px;
    width: 100%;
}
#mainRight .nagl span, .modul_container .modul .product_content .nagl{
    /*background: #f7f7f7;*/
    display: table;
    margin: 0 auto;
    padding: 0 5px;
}
#mainRight .nagl{
    /*background: #f7f7f7 url("/public/images/strona/nagl_bg.png") no-repeat scroll center center;*/
    /*background: rgba(0, 0, 0, 0) url("/public/images/strona/nagl_bg.png") repeat-x scroll center center;*/

}
.sortSelectAll h3, .filtrowanie_wiersz h3{
    color: #000000;
    font-family: "Lato bold";
    font-size: 14px;
    margin: 17px 0 6px;
}
#lista_kat h3, .filtrowanie_wiersz h3{
    border-bottom: 1px solid #ebebeb;
    margin: 0;
    padding: 9px 12px 11px;
}
#filtrowanie_wrapper{
    border: 1px solid #ebebeb;
    height: 97px;
    width: 222px;
    overflow: hidden;
}
.filtrowanie_wiersz{
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    position: relative;
    /*    border-right: 1px solid #a6a6a6;*/
}
#rodzaj_wrapper{
    width: 98px;
    min-height: 57px;
    margin: 16px 20px 20px;
}
#wybierz_wrapper{
    width: 120px;
    height: 57px;
    margin: 16px 20px 20px;
}
.filtrowanie_wiersz input{
    position: relative;
    top: 2px;
    margin-left: 0px;
    float: left;
}
#rodzaj_wrapper h3, #wybierz_wrapper h3{
    padding-bottom: 0;
}
.filtrowanie_szukaj input{
    background: #ffffff url("../images/strona/fraza_tlo_s.gif") repeat-x scroll center top;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: table;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    margin: 25px auto 0;
    width: 67px;
    float: right;
}
#resetuj_filtry{
    background: url("../images/strona/rf-icon.png") no-repeat scroll 8px center, rgba(0, 0, 0, 0) url("../images/strona/rf-background.png") repeat-x scroll 0 0;
    border-color: #dbdbdb;
    border-image: none;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #7e7e7e;
    display: inline-block;
    float: left;
    font-family: "Lato Bold";
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    padding: 0 11px 0 0;
    position: relative;
    text-align: right;
    top: -1px;
    width: 105px;
}
.filtrowanie_szukaj > div{
    padding-top: 23px;
}
#filtrowanie_wrapper div:first-child{
    padding-bottom: 5px;
}
.filtrowanie_szukaj input:hover{
    color: black;
}
.item-row{
    margin-right: 0 !important;
}
#myRight .itemSiatkaFull.item{
    margin-right: 0;
}
#produktImgs .imgDiv{
    position: relative;
}
#cena > label{
    padding-right: 4px;
    position: relative;
    top: -2px;
}
#cena{
    display: block;
    overflow: hidden;
    padding: 10px 0 10px 15px;
}
#produktKoszyk > div {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 9px;
    padding-top: 9px;
}
#produkt .produktParametr .nagl span{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #000000;
    font-size: 30px;
    padding: 0 0 10px 0;
    text-align: left;
    width: 100%;
    line-height: 33px;
}
#produkt .produktParametr .nagl {
    padding: 0;
}
#prodParam div div {
    padding-bottom: 5px;
    padding-right: 10px;
    padding-top: 7px;
}
#prodParam .produktParameter label{
    padding-right: 13px;
    color: black;
    font-size: 13px;
}
#prodParam .produktParameter label:not(:first-child){

}
#prodParam .produktParameter span{
    color: #63a627 !important;
    font-size: 13px;
}
#produktOpis{
    color: black;
    background: white;
}
#myKatSort #listaProdTryby{
    right: -757px;
}
#myKatSort
{
    position:relative;
    margin-right:0px;
    margin-top:0px;
    width:auto;
    height:auto;
    padding:0px;
    background:none;
    border:0px solid #d1dfe9;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    color:#2e2e2e;
    font-family:OpenSansRegular;
    font-weight:bold;
    font-size:13px;
    padding-left: 18px;
}
#mainRight .modul_container .product_content h3{
    background: #f7f7f7 none repeat scroll 0 0;
    display: table;
    margin: 0 auto;
    padding: 0 9px;
    font-family: "Lato Black";
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    width: auto;
}
#podstronaTekst h3{
    font-size: 14px;
    font-weight: bold;
}
#podstronaTekst h4{
    font-size: 12px;
    font-weight: bold;
    font-family: "Lato Bold";
    margin: 10px 0 0;
}
#podstronaTekst > span {
    font-family: "Lato Light";
    font-size: 14px;
}
#prodAll{
    opacity: 0;
}
#rodzaj_wrapper label{
    min-width: 75px;
}
.filtrowanie_pole .lf{
    border-right: 1px solid #a6a6a6;
}
.item-content{
    background: #ffffff none repeat scroll 0 0;
    display: block;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 15px 0 5px;
}
#itemsPowiazane .item-content{
    margin-bottom: 158px;
}
.stopkaBlokLinki ul{
    list-style: none;
}
.stopkaBlokLinki ul li a{
    float: none;
}
#stopka-bufor{
    width: 100%;
    height: 57px;
    background: black;
}
#produktOpis .ui-state-active a, #produktOpis .ui-state-active a:link, #produktOpis .ui-state-active a:visited {
    color: #ffffff !important;
    font-weight: bold;
}
#produktOpis .ui-tabs .ui-tabs-nav li a {
    /*border-bottom: 1px solid #c5c5c5;*/
    border-bottom-right-radius: 0;
    color: #ffffff;
    float: left;
    font-family: "Lato Bold" !important;
    font-size: 14px;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
}
#produktOpis .ui-tabs .ui-tabs-nav li{
    /*    border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;*/
    margin: 1px 1px 0 0;
    background: rgba(0, 0, 0, 0) url("/public/images/strona/tab_notactive.png") repeat scroll 0 0;
    padding-bottom: 0;
}
#produktOpis .ui-tabs .ui-tabs-panel{
    background: none;
}
#cena-wrapper{
    background: #f8f8f8 none repeat scroll 0 0;
    border: none;

    margin-bottom: 12px;
    min-height: 86px;
    overflow: hidden;
}
.itemListaFull .itemBottom span.ui-spinner {
    /*background: rgba(0, 0, 0, 0) url("/public/images/strona/ilosc_bg.png") repeat scroll 0 0 !important;*/
}
#prod-wrapper{
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}
#tabs .produktOpis{
    margin-top: 0px;
    padding: 0;
}
#strike{
    line-height: 0;
    margin-top: 13px;
    padding: 0;
    display: block;
}
.sortSelectAll{
    margin: 0 !important;
    padding: 0 !important;
    line-height: 36px;
    width: 100%;
    border: 1px solid #ebebeb;
}
#naglKat-info{
    font-family: "Lato Bold";
    font-size: 24px;
    line-height: 24px;
    margin-top: 21px !important;
    padding-left: 0 !important;
}
.sortowanei-info{
    position: relative;
    top: -11px;
    line-height: 20px;
    color: #0f070a;
}
#listaProdTryby a:nth-child(3){
    display: none;
}
#myLeft{
    width: 222px;
}
#myRight{
    width: 760px;
    background: white;
    padding-bottom: 103px;
}
#myRight .item-wrapper:nth-child(3n+1) {
    /*border-left: 1px solid #dbdbdb !important;*/
}
#myRight .item-wrapper:nth-child(4n+1) {
    border-left: none;
}
#myRight .item-wrapper:nth-child(3n+1) .item-wrapper-container{
    border-left: 1px solid #dbdbdb;
}
#lista-produktow, #myRight .items {
    margin-top: 20px;
}
.myDots:hover{
    background: none !important;
    color: black !important;
}
.myDots{
    background: none !important;
}
#menuLinki>ul>li>ul>li:first-child, .expand3>li:first-child{
    padding-top: 7px;
}
#menuLinki>ul>li>ul>li:last-child, .expand3>li:last-child{
    padding-bottom: 7px;
}
#menuLinki .expand2{
    padding-top: 4px;
    padding-right: 20px;
}
.expand3{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c5c5c5;
    display: block;
    left: 100%;
    position: absolute;
    margin-top: -28px !important;
}
.expand3 li{
    white-space: nowrap;
    overflow: hidden;
}
#popupMessage, .ui-dialog .ui-dialog-title{
    font-family: "Lato Regular" !important;
}
.tabela_koszyk_oplaty hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    margin: 1em 0;
    padding: 0; 
}
#koszykRazem{
    color: #ff0000;
    font-family: 'Lato Bold';
}
a.edycja_danych_przycisk{
    background: #f0f0f0 none repeat scroll 0 0;
    float: left !important;
    line-height: 23px;
    margin: 30px 10px 0 0;
    text-decoration: none;
    width: auto;
    padding-left: 7px;
}
.edycja_danych_przycisk{
    margin: 30px 6px 0 !important;
    font-family: "Lato Regular" !important;
}
.tabela_koszyk input{
    font-family: "Lato Regular" !important;
}
#myFound{
    border-bottom: 1px solid #eceeef;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0 0px 10px;
}
#topKoszyk-inner1{
    border-left: 1px solid #eaf3ff;
    float: left;
    height: 44px;
    overflow: hidden;
    width: 100px;
}
#topKoszyk-inner2{
    float: left;
    height: 44px;
}
#topKoszyk-inner1 span{
    display: block;
    margin: 0 auto;
    text-align: center;
}
#search-wrapper{
    float: left;
}
#myLogout{
    display: block;
    background: #e3e3e3;
    color: #db0000 !important;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Lato Black';
}
#logout-wrapper{
    float: left;
}
#logout-wrapper a{
    display: block;
    margin-right: 7px;
    margin-top: 26px;
    padding: 2px 7px;
}
#twojeKonto span{
    display: block;
    margin-top: 4px;
}
.item-wrapper-container{
    border-right: 1px solid #dbdbdb;
    overflow: hidden;
}
.stopkaBlokLinki li{
    list-style: none;
}
.stopkaBlok ul{
    clear: both;
    list-style: none;
}
#price-cont{
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    height: 57px;
    left: 0;
    overflow: hidden;
    padding-left: 14px;
    top: 39px;
    width: 207px;
}
#price-inner{
    margin-top: 12px;
}
#listaProducentow li{
    font-size: 13px;
    list-style: none;
    color: #393939;
}
#producent-wrapper h2{
    border-bottom: 1px solid #ebebeb;
    font-family: "Lato Bold";
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 12px;
    padding-bottom: 11px;
    padding-left: 15px;
    text-transform: uppercase;
}
#producent-wrapper{
    border: 1px solid #ebebeb;
    float: left;
    width: 100%;
    margin-top: 17px;
}
#producent-list{
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    padding: 15px;
}
.sortSelectAll-wrapper{
    background: #ebebeb;
    border: 1px solid white;
    height: 38px;
}
.sbHolder{
    font-family: "Lato Regular" !important;
    background: white !important;
}
.sbHolder .sbSelector{
}
.sbHolder .sbOptions li a{
    text-align: left !important;
    text-transform: initial;
    width: 100%;
}
#lista_kat-wrapper{
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #ffffff;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 23px;
}
#lista_kat-wrapper ul{
    list-style: none;
}
#lista_kat-wrapper ul li:last-child a{
    border-bottom: none;
}
#katNagl-bottom > span, #katNagl-bottom #naglKat-info{
    display: none !important;
}
#kategoriaAll{
    display: block;
    float: left;
    margin-top: 3px;
}
#menuTop #kategoriaSelect .sbHolder{
    padding-bottom: 2px;
    width: 172px;
}
.produktOpis-wrapper{
    padding: 15px;
    overflow: hidden;
}
.ui-tabs .ui-tabs-panel{
    padding: 0 !important;
}
#produktKoszykSubmit-wrapper{
    float: left;
    margin: 15px 3px;
    width: 100%;
}
#itemsPowiazane .item-content{
    float: left;
    border-top: 1px solid #eceeef;
}
.ileSelectAll{
    float: right;
}
.ileSelectAll>span{
    float: left;
}
.ileSelectAllResults{
    text-transform: capitalize;
}
.ileSelect .sbHolder{
    height: 30px !important;
    top: 3px;
    width: 95px;
}
#sortSelect .sbHolder .sbSelector,.ileSelect .sbHolder .sbSelector{
    text-align: left;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix{
    background: #2038c8 !important;
}
a.przejd-do-porownywarki {
    background: #ffffff url("../images/strona/fraza_tlo_s.gif") repeat-x scroll center top;
    border: medium none;
    border-radius: 4px !important;
    clear: both;
    color: #ffffff;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 14px;
    padding: 0 5px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 110px;
}
a.przejd-do-porownywarki:hover{
    color: black;
}
.edycja_danych_przycisk{
    background: #ffffff url("../images/strona/fraza_tlo_s.gif") repeat-x scroll center top;
    border-radius: 4px;
    color: #ffffff !important;
    cursor: pointer;
    float: unset !important;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px !important;
}
.edycja_danych_przycisk:hover{
    color: #df0000 !important;
}
