/*Produkt*/
div.one_product {
	overflow: hidden;
	width: 212px;
	margin: 0 3px 3px 0;
	padding: 10px 9px;
	float: left;
	background: #f6dee8 url(../images/sklep/bg_product.jpg) 0 0px repeat-x;
	border: #f8e5ec;
}
div.one_product.last {
	margin: 0px 0 3px;
}
div.ws {
    height: 255px;
}
h3.title3 a,
h3.title3 {
	font-size:16px;
	color:#3b3b3b;
	font-weight:bold;
	margin-top:0px;
	padding:0px 0px 0px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
div.ws h3.title3 {
	min-height: 36px;
}
h3.noheight {
	min-height: 0;
}
.p3 {
	padding: 0 0 10px;
}
div.one_foto {
	overflow: hidden;
}
div.one_foto img {
	width: 210px;
	height: 150px;
	display: block;
	border: 1px solid #fff;
}
div.one_foto a {
	display: block;
}
.center_td {
	vertical-align: middle;
}
div.box_more,
div.box_cart_prod,
div.price_box {
	margin: 15px 0 0 0;
	overflow: hidden;
}
div.price_box span.price {
	background: transparent url(../images/sklep/mon_ico.jpg) center top no-repeat;
	display: block;
	padding: 14px 0 0 0;
	color: #cc4145;
	font-size: 12px;
	font-weight: bold;
}
div.box_more {
	border: 1px solid #fff;
	border-top: 0px;
	border-bottom: 0px;
}
div.box_more a {
	background: transparent url(../images/sklep/more_ico.jpg) center top no-repeat;
	display: block;
	padding: 14px 0 0 0;
	color: #762241;
	font-size: 11px;
	font-weight: bold;
}
div.button {
	background: transparent url(../images/sklep/cart_prod_ico.jpg) center top no-repeat;
	float: left;
	overflow: hidden;
}
span.promo,
div.button a,
div.button input,
div.price_box span.price,
div.box_more a {
	letter-spacing: -1px;
	word-spacing: 1px;
	padding-right: 6px;
	padding-left: 6px;
}
div.button a,
div.button input {
	background: transparent;
	border: 0px;
	cursor: pointer;
	display: block;
	padding: 14px 0 0 0;
	color: #2f2f2f;
	font-size: 11px;
	font-weight: bold;	
}
span.pn {
	padding-top: 0px!important;
	background: transparent!important;
}
span.promo { 
    font-weight: bold; 
	font-size: 13px; 
	color: #016728;
}

.container 
{
	clear:both;
	width:100%;
}
div.product_content {
	overflow: hidden;
}
div.box_prod {
	position:relative;
	float:none;
	margin:auto;
	padding: 0px 15px 15px 15px;
	overflow: hidden;
	/*background-color:white;*/
	border:0px solid green;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width:650px;
	min-height:200px;
	height:auto! important;
	height:200px;
}
div.box_foto {
	width: 210px;
	margin: 0 15px 0 0;
	float: left;
}	
div.main_foto img {
	border: 1px solid #FF92BC;
	width: 208px;
} 
div.small_gallery {
	overflow: hidden;
	
}
div.small_gallery img {
    border: 1px solid #FF92BC;
    width: 100px;
    float: left;
}
.padd img {
	margin: 0 5px 0 0;
}
div.main_foto {
	overflow: hidden;
	padding: 0 0 5px 0;
}
div.main_foto a {
	display: block;
}
div.sett_product {
	float: left;
	width: 470px;
	overflow: hidden;
} 
div.product_desc {
	overflow: hidden;
	padding: 15px 0 0 0;
}
span.price2 {
	background: transparent url(../images/sklep/monw_ico.jpg) left 2px no-repeat;
	display: block;
	padding: 0 0 0 25px;
	color: #cc4145;
	font-size: 12px;
	font-weight: bold;
}
span.price2 b {
	color: #000;
}
div.form_row {
	clear: both;
	overflow: hidden;
	margin: 5px 0 0 0;
}
div.form_row label {
	display: block;
	width: 59px;
	text-align: right;
	font-weight: normal;
	float: left;
	margin: 0 5px 0 0;
}
div.input_bg_small {
	background: transparent url(../images/sklep/input_small.jpg) 0 0 no-repeat;
	width: 38px;
	height: 23px;
	float: left;
}
div.input_bg_small input {
	background: transparent;
	border: 0px;
	width: 38px;
	height: 23px;
	text-align: center;
}
.mbs {
	margin: 0 0 0 16px;
}
div.input_bg {
	float: left;
	width:100px;
	height: 23px;
}
div.input_bg input,
div.input_bg select {
	width: 96px;
	height: 23px;
	border: 0px;
	background: transparent;
	padding: 2px;
}
.np {
	color: #016728!important;	
}
div.button_cart {
	background: transparent url(../images/sklep/cartw_ico.jpg) left 3px no-repeat;
	padding: 0 0 0 15px;
	margin: 10px 0 0 0;	
}
div.button_cart input {
	background: transparent;
	border: 0px;
	cursor: pointer;
	color: #782342;
	font-weight: bold;
	font-size: 12px;	
}
.table_cart {
	overflow: hidden;
}
.post_lbl {
	color: #8F3858;
}
.table_post2 {
	float: right;
	padding: 20px 0 0 0;
}
.table_cart td {
	text-align: center;

}
.pos_l {
	text-align: left;
}		  

/***KOSZYK***/

.tabela_koszyk {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
    background-color: white;
	border: 1px solid #efefef;
}
.tabela_koszyk th {
	background: url(../images/koszyk/th.gif) top repeat-x;
	color: #666;
	font-weight: bold;
	text-align: center;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid #efefef;
}
.tabela_koszyk td {
	border-top: 1px solid #efefef;
	padding: 3px 0px 3px 0px;
    background: url(../images/koszyk/th.gif) top repeat-x;
	vertical-align:middle;
}
.tabela_koszyk_oplaty {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 12px;
	margin-top: 30px;
    background-color: white;
	border: 1px solid #efefef;
}
.tabela_koszyk_oplaty th {
	background: url(../images/koszyk/th.gif) top repeat-x;
	color: #2f2f2f;
	font-weight: bold;
    font-size: 13px;
	text-align: left;
    padding: 10px 20px 10px 10px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #A8A8A8;
}
.tabela_koszyk_oplaty td {
    text-align: left;
    padding: 5px;
}
.tabela_koszyk_logowanie {
	float: left;
	width: 100%;
	text-align: center;
	font-size: 11px;
	margin-top: 20px;
    background-color: white;
	border: 0px solid #A8A8A8;
	border-spacing: 0px;
}
.tabela_koszyk_logowanie th {
	background: url(../images/koszyk/th.gif) top repeat-x;
	color: black;
	font-weight: bold;
    font-size: 13px;
	text-align: left;
    padding: 10px 10px 10px 10px;
	text-align:center;
	border-collapse: collapse;
	border: 1px solid #A8A8A8;
	border-bottom: 0px solid #A8A8A8;
}
.tabela_koszyk_logowanie td {
    text-align: left;
    padding: 0px 0px 0px 0px;
	margin-left:10px;
	border: 1px solid #A8A8A8;
}
.tabela_koszyk_logowanie table td {
    text-align: left;
    padding: 0px 0px 0px 0px;
	border: 0px solid #A8A8A8;
}
th.empty, td.empty, .empty{
	width:10px !important;
	max-width:10px !important;
	border:0px !important;
	background:#F7F7F7 !important;
}
.tabela_koszyk_logowanie input[type="text"], .tabela_koszyk_logowanie input[type="password"]{
	width:200px;
	height: 20px;
	line-height: 20px;
    font-size: 12px;
	padding:0px;
}
.tabela_koszyk_logowanie select{
	width:200px;
	height: 22px;
    font-size: 12px;
	padding-top:3px;
}
.tabela_koszyk_logowanie2 select option{
	width:100%;
	padding:0px;
}
.tabela_koszyk_logowanie span{


}
.tabela_koszyk_logowanie.nomargin {
	margin-top: 0px;
}
.tabela_koszyk2 span{
    border-right:1px solid #A8A8A8;
    display:block;
    padding:0 5px;
    white-space:wrap;
	text-transform:lowercase;
}
.tabela_koszyk th:last-child span{
    border-right:0px solid #A8A8A8;
}
.tabela_koszyk img {
	border: none;
}
.tabela_koszyk a
{
	color:#3B3B3B;
	text-decoration:none;
}
#input_koszyk {
	width: 16px;
	height: 16px;
	background: url(../images/koszyk/ikona_ok.png) center;
	border: none;
	cursor: pointer;
}
.hidden {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}
.text_bialy_nawigacja {
	float: right;
	color: #FFFFFF;
	font-size: 11px;
	margin: 14px 10px 14px 10px;
}
.text_zolty_nawigacja {
	float: right;
	color: #2f2f2f;
	font-size: 12px;
	font-weight: bold;
	margin: 14px 0px 14px 0px;
}
table.tabela_koszyk_logowanie a {
	color: #2f2f2f;
}
.koszyk_cena {
	color: #2f2f2f;
}
.td_label {
	width: 110px;
	font-size: 12px;
}
td.td_ceny {
	width: 20%;
	text-align: right!important;
}

/***KOMUNIKATY**/
div.koszyk_komunikat {
	color: green;
	border: 1px solid green;
	background: transparent url(../images/admin/komunikaty/ok.jpg) 0 0 no-repeat;
}
div.koszyk_komunikat_blad {
	color: red;
	border: 1px solid red;
	background: transparent url(../images/admin/komunikaty/blad.jpg) 0 0 no-repeat;
}
div.koszyk_komunikat_info {
	color: black;
	border: 1px solid orange;
	background: transparent url(../images/admin/komunikaty/uwaga.png) 0 0 no-repeat;
}
div.koszyk_komunikat,
div.koszyk_komunikat_blad,
div.koszyk_komunikat_info {
	overflow: hidden;
	margin: 10px 0;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 12px;
}
div.error_container {
	overflow: hidden;
	clear: both;
	padding: 10px;
	margin: 10px 0px 10px 0px;
	background: #ffffff;
	border: 2px solid #2B71A3;
}
div.width1 {
	width: 250px;
}
div.k_uwaga,
div.k_ok,
div.k_blad {
	padding: 10px 44px;
	font-size: 13px;
	line-height: 18px;
	font-weight: bold;
	color: #646464;
}
div.k_blad {
	background: transparent url(../images/admin/komunikaty/blad.jpg) 0 0 no-repeat;
	color: #ff0000;
}
div.k_ok {
	background: transparent url(../images/admin/komunikaty/ok.jpg) 0 0 no-repeat;
	color: #016728;
}
div.k_uwaga {
	background: transparent url(../images/admin/komunikaty/uwaga.png) 0 0 no-repeat;
}
div#lista_bledow_uwaga,
div#lista_bledow {
	font-size: 12px;
	line-height: 18px;	
}
.edycja_danych_przycisk {
	width: 150px!important; 
	float: right!important;
	margin: 0 10px 0 0;
	height:25px!important;
	font-size:12px!important;
	font-weight:bold!important;
}
div.box_input_log {
	overflow: hidden;
	margin: 10px 0px 10px 63px;
}
.margin_logowanie {
	display: inline-block;
	margin: 5px 17px;
}
.margin_logowanie_przycisk {
	float: right; 
	width: 120px; 
	margin: 10px 17px;
}

#rejestracjaForm
{
	position:relative;
	float:left;
	clear:left;
	margin-top:0px;
	margin-left:0px; 
	width:100%;
}
#rejestracjaForm table
{
	position:relative;
	float:left;
	clear:left;
	margin-top:0px;
	margin-left:0px; 
}
#rejestracjaTop, #rejestracjaTop table
{
	width:400px;
}
#rejestracjaLeft, #rejestracjaLeft table
{
	width:100%;
}
.rejestracja
{
	position:relative;
	margin:0 auto;
}
#rejestracjaTop input[type="text"], #rejestracjaTop input[type="password"], #rejestracjaTop select
{
	float:left;
	width:380px;
}
#rejestracjaLeft input[type="text"], #rejestracjaLeft input[type="password"], #rejestracjaLeft select
{
	float:none;
	width:310px;
}
.rejestracja td
{
	vertical-align:middle;	
}
