/*Default*/
* {
	padding: 0px;
	margin: 0px;
	outline: none;
}
body {
	background: #debbcb url(/public/images/strona/bg_body.png) 0 0px repeat-x;
	font-family: "Tahoma", "Verdana", "Arial";
	font-size: 12px;
	line-height: 18px;
	color: #000000;
}
a {
	color: #E97F19;
	text-decoration: none;
	font-weight: normal;
	border: 0px;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
ul {
	overflow: hidden;
	padding: 5px 0 0 15px;
}
ul li {
	padding: 0;
}
hr {
	color: #202020;
}

/*Pozycjonowanie*/
.clear {
	clear: both;
}
.floatR {
	float: right;
}
.floatL {
	float: left;
}
.hid {
  overflow: hidden;
}
.center {
	text-align: center;
}
.none {
	display: none;
}

/*Kontenery i regiony*/
div.page {
	overflow: hidden;
	width: 960px;	
	margin: 0 auto;
}
div.main {
	overflow: hidden;
	clear: both;
	padding: 15px 0;
}
div.media {
	overflow: hidden;
	width: 960px;
}
div.box_nav {
	background: transparent url(/public/images/strona/box_nav.jpg) 0 0px no-repeat;
	width: 960px;
	height: 83px;
	overflow: hidden;
	margin: 0 0 15px 0;
}
div.box_menu {
	width: 100%;
	height: 50px;
	overflow: hidden; 
	clear: both;
}
div.box_links {
	overflow: hidden; 
	padding: 7px 15px;
}
div.left_side {
	width: 230px;
	float: left;
	overflow: hidden;
	margin: 0 10px 0 0;
}
div.main_box {
	overflow: hidden;
	float: left;
	width: 720px;
}
div.box_header {
	width: 190px;
	height: 18px;
	background: transparent url(/public/images/strona/box_category.jpg) 0 0px no-repeat;
	padding: 16px 20px;
	margin: 0 0 5px 0;
}
div.modul_container,
div.block_container,
div.box_block {
	overflow: hidden;
}
div.block_container {
	padding: 5px 10px;
}
div.modul_container {
	padding: 10px 10px 5px;
}
.p1 {
	padding: 0 0 10px;
}
div.top_box {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	padding: 2px 10px 15px;   
}
div.modul {
	overflow: hidden;
}

/*Kontener box - kategorie*/
div.box_container {
	overflow: hidden;
	padding: 0 0 25px 0;
}
div.box_top {
	width: 230px;
	height: 6px;
	background: transparent url(/public/images/strona/menu_top.jpg) 0 0px no-repeat;
	float: left;
}
div.boxy_content {
    overflow: hidden; 
	float: left; 
	width: 100%;
	background: transparent url(/public/images/strona/menu_list_repeat.jpg) 0 0px repeat-y;
}
div.box_bottom {
	width: 230px;
	height: 6px;
	background: transparent url(/public/images/strona/menu_bottom.jpg) 0 0px no-repeat;
	float: left;
}

/*Kontener box - podstrony*/
div.container {
	overflow: hidden;
}
div.top_r {
	float: left;
    width: 50%;
	height: 6px;
    background: transparent url(/public/images/strona/container.jpg) 100% 0 no-repeat;
}
div.top_l {
	float: left;
    width: 50%;
	height: 6px;
    background: transparent url(/public/images/strona/container.jpg) 0 0 no-repeat;
}
div.bottom_r {
    float: left;
    width: 50%;
	height: 6px;
    background: transparent url(/public/images/strona/container.jpg) 100% -7px no-repeat;
}
div.bottom_l {
	float: left;
    width: 50%;
	height: 6px;
    background: transparent url(/public/images/strona/container.jpg) 0 -7px no-repeat;
}
div.content_cont {
    overflow: hidden; 
	border-left: 1px solid #D57EA0;
	border-right: 1px solid #D57EA0;
	background: #ffffff 0 0 no-repeat;
}

/*Naglowki*/
h3.title1 {
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
h3.title2 {
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.p2 {
	padding: 0 0 20px;
}
/*Stopka*/
div.foot {
    margin: 0 auto;
	overflow: hidden;
	font-family: Tahoma;
	font-size: 11px;
	color: #ae637f;
}
div.box_menu_bottom {
	overflow: hidden;
    background: transparent url(/public/images/strona/foot_bg_menu.jpg) 0 0px no-repeat;
    height: 70px;
}
div.foot_com {
	width: 300px;
	float: left;
}
div.foot_real {
	float: right;
}
div.foot_com img {
	display: block; 
	width: 90px; 
	height: 17px; 
	padding: 2px 10px;
}
div.foot_com span {
	float: left;
}
div.foot_real,   
div.foot_com {
	padding: 11px 15px;
}
div.foot_real a {
	color: #ae637f;
	font-weight: bold;
}

/*Banery*/
div#flash {
	overflow: hidden;
	width: 960px;
	height: 280px;
}

/*Menu główne*/
ul.menu_main {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	float: left;
}
ul.menu_main li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
	font-weight: normal;
	margin: 0 1px 0 0;
	background: transparent url(/public/images/strona/sep_main_menu.jpg) no-repeat 100% 50%; 
}
ul.menu_main li a {
	float: left;
	height: 50px;
	line-height: 50px;
	margin: 0 10px;
	padding: 0 0 0 2px;
	font-family: "Tahoma";
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	cursor:pointer;
}
ul.menu_main li a:hover {
	text-decoration: none;
	color: #f2d8e3;
}

/*Menu stopka*/
ul.menu_bottom {
	padding: 26px 0;
	margin: 0 170px;	
}

ul.menu_bottom li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
	font-weight: normal;
	margin: 0 1px 0 0;
}
ul.menu_bottom li a {
	float: left;
	line-height: 18px;
	margin: 0 10px;
	padding: 0 0 0 2px;
	font-family: "Tahoma";
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	cursor:pointer;
}
ul.menu_bottom li a:hover {
	text-decoration: none;
	color: #f2d8e3;
}

/*Menu rozwijalne*/

#menu0 {
	margin: 0 15px;
	width: 200px;
	border-bottom: 1px solid #bb5b7f;     
}
dt.cat_main.first {
	border: 0px;
}
dl dt {
	padding: 8px 0;	
}
dt.a {
	display: block;
    color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	font-family: Tahoma;
}
dt.cat_main {
	border-top: 1px solid #bb5b7f;
	background: transparent url(/public/images/strona/menu_list_sep.jpg) no-repeat left 11px;
}
dt.cat_sub {
	padding: 4px 0!important;
	background: transparent url(/public/images/strona/sep_lvl2.jpg) no-repeat left 11px;
}
dt.cat_sub a {
	padding: 0 0 0 15px;
	color: #ffffff;
}
dt.cat_sub.active a,
dt.cat_sub a:hover {
	font-weight: bold;
	text-decoration: none;
}
dt.cat_main a {
	display: block;
	padding: 0 0 0 25px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	font-family: Tahoma; 
}
dt.cat_main a:hover {
    color: #ff92bc;
    text-decoration: none;
}
dd {
	padding: 0 0 0 13px;
}

/*Koszyk nawigacja*/
div.box_cart {
	float: left;
	width: 300px; 
	overflow: hidden;
}
div.box_cart span {
	background: transparent url(/public/images/strona/cart_ico.jpg) no-repeat 0 2px;
	float: left;
	font-size: 11px;
	padding: 0 0 0 20px;
}
div.box_cart span b {
	color: #c6306a;
}
a.reg,
div.box_cart a {
	float: left;
	background: transparent url(/public/images/strona/sep_line.jpg) no-repeat 0 4px;
	color: #c6306a;
	font-size: 11px;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
}

/*Uzytkownik nawigacja*/
div.box_account {
	overflow: hidden;
	float: right;
}
div.box_account a {
	color: #c6306a;
	font-size: 11px;
	float: left;
}
a.log {
	background: transparent url(/public/images/strona/log_ico.jpg) no-repeat 0 0px;
	padding: 0 0 0 20px;	
} 
a.reg {
	background: transparent url(/public/images/strona/sep_line.jpg) no-repeat 0 4px;
	
}
/*Pager*/
div.box_pager {
	text-align: center;
	color: #c6306a;
	font-size: 12px;
	padding: 15px 0;
}
div.box_pager a {
	padding: 0 2px;
}
div.box_pager a.link_stronicowanie {
	color: #c6306a;
	font-size: 12px;
}
div.box_pager a:hover,
a.link_aktywny_stronicowanie {
	text-decoration: underline;
	color: #762241;
}
/*Nawigacja*/
div.box_navigation {
	overflow: hidden;
	padding: 5px 0 25px 0;
}
div.box_navigation a {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}
a.navi_bg {
	background: transparent url(/public/images/strona/navi_bg.jpg) no-repeat left 6px;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px; 
}
/*Komunikat*/
div.message {
	text-align: center;
	color: #016728;
}

/*Formularz kontaktowy*/
div.box_form {
	overflow: hidden;
}
div.input_bg.bb {
	background: transparent url(/public/images/sklep/input_bg_form.jpg) 0 0 no-repeat;
	width: 200px;
}
div.input_bg.bb select,
div.input_bg.bb input {
	width: 196px;
	font-size: 11px;
	height: 19px;
}
div.textarea_bg {
	background: transparent url(/public/images/sklep/textarea_bg.jpg) 0 0 no-repeat;
	width: 200px;
	float: left;
}
div.textarea_bg textarea {
	width: 196px;
	font-size: 11px;
	height: 146px;
	padding: 2px;
	background: transparent;
	border: 0px;
}
.main_lab {
	color: #8F3858; 
	font-weight: bold; 
	font-size: 12px;
	display: block;
	padding: 10px 0;
	width: auto!important;
}
div.button_form {
	overflow: hidden;
	float: right;
	padding: 10px 0 0 0;	
}
div.box_form {
	overflow: hidden;
	width: 295px;
}
div.box_form label {
	width: 90px;
}
.button_cart {
	margin: 10px 0;
	float: right;	
}
.button_edit {
	height: 16px;
	width: 16px;
	border: 0px;
	background: transparent url(/public/images/sklep/dodaj.png) center center no-repeat;
}
.del_cart {
	border: 0px;
}
div.text_category_bon {
	overflow: hidden;
	padding: 0 0 20px;
}

/***SORTOWANIE***/
div.box_sorts {
	overflow: hidden;
	float: left;
	width: 230px;
	font-size: 11px;
}
div.box_sorts span {
	color: #000000;
	font-weight: bold;
}
div.box_sorts a {
	background: transparent url(/public/images/strona/sort_up.png) right center no-repeat;
	margin: 0 0 0 15px;
	padding: 1px 20px 1px 0;
	color: #000000;
}
div.sort div.box_navigation {
	width: 450px;
	float: left;
	padding-right: 10px;
}

/***INNE***/
div.text_container {
	overflow: hidden;
}

/***WYSZUKIWARKA***/
div.search_box {
	background: transparent url(/public/images/strona/search_bg.jpg) 0 0 no-repeat;
	float: left;
	height: 23px;
	margin: 14px 0 13px 5px;
	width: 200px;
	overflow: hidden;
}
.text_se {
	float: left; 
	margin: 0px 0px 0px 33px; 
	width: 130px; 
	padding: 0px 5px; 
	height: 23px; 
	line-height: 23px; 
	color: #A8A8A8; 
	font-size: 11px; 
	background: transparent; 
	border: 0px;
}
.text_bu {
	width: 27px; 
	height: 23px; 
	border: 0px; 
	background: transparent;
	cursor: pointer; 
	text-indent: -2000px; 
	display: block;
	float: left;
}
div.blok {
    overflow: hidden;
}

/*Galeria - Lytebox*/
#lbOverlay { position: fixed; top: 0; left: 0; z-index: 99998; width: 100%; height: 500px; }
	#lbOverlay.grey { background-color: #000000; }

#lbMain { position: absolute; left: 0; width: 100%; z-index: 99999; text-align: center; line-height: 0; }
#lbMain a img { border: none; }

#lbOuterContainer { position: relative; background-color: #fff; width: 200px; height: 200px; margin: 0 auto; }
	#lbOuterContainer.grey { border: 3px solid #888888; }

#lbDetailsContainer {	font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; width: 100%; line-height: 1.4em;	overflow: auto; margin: 0 auto; }
	#lbDetailsContainer.grey { border: 3px solid #888888; border-top: none; }

#lbImageContainer, #lbIframeContainer { padding: 10px; }
#lbLoading {
	position: absolute; top: 45%; left: 0%; height: 32px; width: 100%; text-align: center; line-height: 0; background: url(images/loading.gif) center no-repeat;
}
#lbHoverNav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer>#lbHoverNav { left: 0; }
#lbHoverNav a { outline: none; }

#lbPrev { width: 49%; height: 100%; background: transparent url(/public/images/strona/lytebox/blank.gif) no-repeat; display: block; left: 0; float: left; }
	#lbPrev.grey:hover, #lbPrev.grey:visited:hover { background: url(/public/images/strona/lytebox/prev_grey.gif) left 15% no-repeat; }
	
#lbNext { width: 49%; height: 100%; background: transparent url(/public/images/strona/lytebox/blank.gif) no-repeat; display: block; right: 0; float: right; }
	#lbNext.grey:hover, #lbNext.grey:visited:hover { background: url(/public/images/strona/lytebox/next_grey.gif) right 15% no-repeat; }

#lbPrev2, #lbNext2 { text-decoration: none; font-weight: bold; }
	#lbPrev2.grey, #lbNext2.grey, #lbSpacer.grey { color: #333333; }
	
#lbPrev2_Off, #lbNext2_Off { font-weight: bold; }
	#lbPrev2_Off.grey, #lbNext2_Off.grey { color: #CCCCCC; }
	
#lbDetailsData { padding: 0 10px; }
	#lbDetailsData.grey { color: #333333; }

#lbDetails { width: 60%; float: left; text-align: left; }
#lbCaption { display: block; font-weight: bold; }
#lbNumberDisplay { float: left; display: block; padding-bottom: 1.0em; }
#lbNavDisplay { float: left; display: block; padding-bottom: 1.0em; }

#lbClose { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
	#lbClose.grey { background: url(/public/images/strona/lytebox/close_grey.png) no-repeat; }

#lbPlay { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
	#lbPlay.grey { background: url(/public/images/strona/lytebox/play_grey.png) no-repeat; }
	
#lbPause { width: 64px; height: 28px; float: right; margin-bottom: 1px; }
	#lbPause.grey { background: url(/public/images/strona/lytebox/pause_grey.png) no-repeat; }
