@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-Regular.eot');
    src: local('EncodeSans'), local('EncodeSans Regular'), 
		 url('../fonts/encodesans/EncodeSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-Regular.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-Regular.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-Regular.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-Regular.svg#EncodeSansNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-Regular.eot');
    src: local('EncodeSansCondensed'), local('EncodeSansCondensed Regular'), 
		 url('../fonts/encodesans/EncodeSansCondensed-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Regular.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-Regular.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-Regular.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-Regular.svg#EncodeSansCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSansCondensed';
    src: url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.eot');
    src: local('EncodeSansCondensedExtraBold'), local('EncodeSansCondensed ExtraBold'), 
		 url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.woff2') format('woff2'),
         url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSansCondensed-ExtraBold.svg#EncodeSansCondensedExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-Bold.eot');
    src: local('EncodeSansBold'), local('EncodeSans Bold'), 
		 url('../fonts/encodesans/EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-Bold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-Bold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-Bold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-Bold.svg#EncodeSansBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face
{
    font-family: 'EncodeSans';
    src: url('../fonts/encodesans/EncodeSans-ExtraBold.eot');
    src: local('EncodeSansExtraBold'), local('EncodeSans ExtraBold'), 
		 url('../fonts/encodesans/EncodeSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/encodesans/EncodeSans-ExtraBold.woff') format('woff'),
         url('../fonts/encodesans/EncodeSans-ExtraBold.ttf') format('truetype'),
		 url('../fonts/encodesans/EncodeSans-ExtraBold.otf') format('opentype'),
         url('../fonts/encodesans/EncodeSans-ExtraBold.svg#EncodeSansExtraBold') format('svg');
    font-weight: 900;
    font-style: normal;
}


body
{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	font-family:EncodeSans,Tahoma;
	font-size:12px;
	color:white;
	background-color:#ffffff;
	background-position:top center;
	background-repeat:no-repeat;
}

#bodyAll
{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	width:1200px;	
}

#body
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	background-position:0px 0px;
	background-repeat:no-repeat;
}

#baner
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	max-width:1200px;
	background:#e5e8ea;
}
#baner img
{
	border:0;
	max-width:1200px;
}

#main
{
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:0px;
	width:100%;
	min-height:470px;
}

#menu
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:94px;
	line-height:94px;
	text-align:center;
	border:0px solid black;
	background:url(../images/strona/szablon/logo3.png) no-repeat top center #0c5f99;
}
#logoTel
{
	position:relative;
	float:left;
	margin-top:25px;
	margin-left:100px;
	max-width:200px;
	height:40px;
	line-height:40px;
	padding-left:40px;
	font-size:15px;
	font-weight:bold;
	color:white;
	background:url(../images/strona/szablon/tel.png) no-repeat left center;
}
#logo
{
	position:relative;
	float:none;
	margin:10px auto;
	visibility:visible;
	opacity:0;
}
#logoMail
{
	position:relative;
	float:right;
	margin-top:25px;
	margin-right:100px;
	max-width:200px;
	height:40px;
	line-height:40px;
	padding-left:40px;
	font-size:15px;
	font-weight:bold;
	color:white;
	background:url(../images/strona/szablon/mail.png) no-repeat left center;
}
#logoMail a
{
	color:white;
	text-decoration:none;
}
#menuLinki
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:53px;
	line-height:53px;
	border-top:1px solid #cddfea;
	border-bottom:1px solid #cddfea;
}
#menuLinki a
{
	position:relative;
	float:none;
	display:inline-block;
	margin-top:0px;
	margin-left:0px;
	height:53px;
	line-height:53px;
	font-weight:bold;
	font-size:15px;
	color:#2b2b2b;
	text-decoration:none;
	text-transform:uppercase;
	padding-left:25px;
	padding-right:17px;
	border-right:0px solid #5f9ed7;
	background:url(../images/strona/szablon/menu_pkt.png) no-repeat left center;
}
#menuLinki a:first-child
{
	background:none;
	padding-left:17px;
}
#menuLinki a:last-child
{
	padding-right:17px;
}
#menuLinki a:hover
{
	text-decoration:underline;
}
#menuLinki img
{
	border:0;
	margin-top:7px;
}

#produkt
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:800px;
	min-height:470px;
}
#imgMain
{
	position:relative;
	float:none;
	margin:20px auto;
	max-width:800px;
	border:0px solid #ffffff;
}
#szablonProduktOpis
{
	position:relative;
	float:left;
	clear:left;
	width:100%;
	margin-top:30px;
	margin-left:0px;
	line-height:24px;
	font-family:EncodeSansCondensed;
	font-weight:normal;
	font-size:18px;
	color:#2b2b2b;
	text-align:left;
	border:0px solid #d9d9d9;
}
.produktParametry
{
	position:relative;
	float:left;
	clear:left;
	width:100%;
	margin-top:20px;
	margin-left:0px;
	line-height:24px;
	font-family:EncodeSansCondensed;
	font-weight:normal;
	font-size:18px;
	color:#2b2b2b;
	text-align:center;
	border:0px solid #d9d9d9;
}
.produktParametry span
{
	font-weight:bold;
}

#szablonMain
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	padding-top:40px;
	padding-bottom:70px;
	width:100%;
	background:#f6f6f6;
}

#szablonLeft
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:280px;
}
.szablonLeft
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-bottom:20px;
	margin-left:0px;
	width:277px;
	padding:0px 0px;
	border:3px solid #ffffff;
	border-left:0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	outline:0px solid #f6f5ee;
	box-shadow: 0px 0px 0px 0px #df0000 inset;
	-moz-box-shadow:0 0 0px 0px #df0000 inset;
	-webkit-box-shadow:0 0 0px 0px #df0000 inset;
	overflow:hidden;
}
.szablonLeftTop
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	width:100%;
	height:47px;
	line-height:47px;
	text-indent:20px;
	font-family:EncodeSansCondensed;
	font-size:22px;
	font-weight:800;
	text-transform:uppercase;
	color:#ffffff;
	display:block;
	background:#0c5f99;
}
.szablonLeftMain
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:240px;
	padding:17px 17px 20px 20px;
	font-size:15px;
	font-weight:normal;
	color:#2b2b2b;
	line-height:18px;
	font-family:EncodeSansCondensed;
	text-align:left;
	background:#e3f3ff;
}
.smallBr
{
	font-size: 6px;
	line-height: 6px;
}
#kontakt
{
	text-align:left;
}
#kontakt a
{
	text-decoration:none;
	color:#ffffff;
}
#wysylka
{
	text-align:left;
	width:100%;
	padding:0px;
	line-height:20px;
}
#platnosci
{
	text-align:left;
}
#platnosci img
{
	border:0;
	margin-bottom:0px;
}
#kategorie
{
	width:100%;
	padding:0px;
}
#kategorie a
{
	display:inline-block;
	width:100%;
	height:30px;
	line-height:30px;
	font-family:EncodeSansCondensed;
	font-size:16px;
	font-weight:normal;
	color:#2b2b2b;
	text-indent:20px;
	text-decoration:none;
	border-top:1px dotted #c3d1db;
}
#kategorie a:hover
{
	color:#0c5f9a;
}
#kategorie a:nth-child(odd)
{
	background:#eaf6ff;
}
#kategorie a:nth-child(even)
{
	background:#e3f3ff;
}

#szablonRight
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:20px;
	width:880px;
	padding:0px 0px;
	text-align:center;
}
#przedmiotem
{
	position:relative;
	float:left;
	margin:0px;
	width:100%;
	font-family:EncodeSansCondensed;
	font-size:20px;
	font-weight:800;
	color:#0c5f99;
	text-align:center;
	line-height:30px;
	text-transform:uppercase;
}
#szablonProduktNazwa
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	font-family:EncodeSansCondensed;
	font-size:24px;
	font-weight:800;
	color:#0c5f99;
	text-align:center;
	line-height:30px;
}
#szablonProduktImgs
{
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#szablonProduktImgs img
{
	position:relative;
	float:none;
	max-width:450px;
	margin:30px auto;
}

#szablonStopka
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
}
#stopka
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding:20px 0px;
	line-height:24px;
	font-family:EncodeSansCondensed;
	font-weight:normal;
	font-size:18px;
	color:#2b2b2b;
	text-align:center;
	border:0px solid #d9d9d9;
}
#producenci
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding-bottom:40px;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}
#producenci > span
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:100px;
	font-size:16px;
	font-weight:bold;
	color:#2e2e2e;
	text-transform:uppercase;
}
#producenci > div
{
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#producenci > div > a
{
	position:relative;
	float:none;
	display:inline-block;
	margin:10px 25px;
	text-decoration:none;
}
#producenci > div > a > img
{
	position:relative;
	width:auto;
	height:35px;
}

#infolinia
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:90px;
	background:#0c609b;
	border-top:2px solid #f6f6f6;
	border-bottom:1px solid #1b669b;
}
#infolinia > img
{
	position:relative;
	float:left;
	margin-top:-25px;
	margin-left:100px;
	width:105px;
	height:105px;
	background:white;
	border:3px solid white;
	border-radius: 110px;	
	-moz-border-radius: 110px;
	-webkit-border-radius: 110px;
}
#infolinia > div
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:25px;
	width:auto;
	text-align:left;
	font-size:16px;
	color:#e3f3ff;
	line-height:24px;
}
#infolinia > div > span
{
	font-size:22px;
}
#infolinia > div > label
{
	font-size:16px;
}

#zapraszamy
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:105px;
	line-height:105px;
	background:#2b71a3;
	font-size:30px;
	font-weight:900px;
	color:#f6f6f6;
	text-transform:uppercase;
}

#projekt
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:60px;
	line-height:60px;
	background:#f6f6f6;
	font-size:12px;
	font-weight:900px;
	color:#b5b5b5;
	text-transform:uppercase;
}
#projekt a
{
	color:#b5b5b5;
	text-decoration:none;
}