body
{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	font-family:Arial,Tahoma;
	font-size:12px;
	color:white;
	background-color:#f6f6f6;
	background-position:top center;
	background-repeat:no-repeat;
}

#bodyAll
{
	position:relative;
	display:block;
	margin:0 auto 0 auto;
	width:1200px;	
	background-color:#f6f6f6;
}

#body
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	padding-bottom:40px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}

#baner
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	max-width:1200px;
	background:#e5e8ea;
}
#baner img
{
	border:0;
	max-width:1200px;
}

#main
{
	position:relative;
	float:left;
	margin-top:10px;
	margin-left:0px;
	width:100%;
	min-height:470px;
}

#menu
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:50px;
	text-align:center;
	border-bottom:1px solid #2e61a4;
	background:#053886;
}
#logoTel
{
	position:relative;
	float:right;
	margin-top:15px;
	margin-right:50px;
	height:21px;
	line-height:21px;
	padding-left:30px;
	font-size:14px;
	font-weight:normal;
	color:#a7bddd;
	background:url(../images/strona/szablon/tel2.png) no-repeat left center;
}
#logo
{
	position:relative;
	float:left;
	margin:30px 50px;
}
#logoMail
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:50px;
	height:21px;
	line-height:21px;
	padding-left:30px;
	font-size:14px;
	font-weight:normal;
	color:#a7bddd;
	background:url(../images/strona/szablon/zegar.png) no-repeat left center;
}
#logoMail a
{
	color:white;
	text-decoration:none;
}
#menuLinki
{
	position:relative;
	float:right;
	margin-top:0px;
	margin-left:0px;
	padding-right:50px;
	width:1150px;
	text-align:center;
	height:120px;
	line-height:120px;
	border-top:0px solid #cddfea;
	border-bottom:0px solid #cddfea;
	background:#053886;
}
#menuLinki a
{
	position:relative;
	float:right;
	display:inline-block;
	margin-top:0px;
	margin-left:0px;
	height:120px;
	line-height:120px;
	font-weight:bold;
	font-size:15px;
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	padding-left:23px;
	padding-right:15px;
	border-right:0px solid #5f9ed7;
	background:url(../images/strona/szablon/menu_punkt.png) no-repeat left center;
}
#menuLinki a:first-child
{
	background:none;
	padding-left:15px;
	padding-right:0px;
}
#menuLinki a:last-child
{
	background:none;
	padding-left:15px;	
}
#menuLinki a:hover
{
	text-decoration:underline;
}
#menuLinki2 img
{
	border:0;
	margin-top:7px;
}

#produkt
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:800px;
	min-height:470px;
}
#imgMain
{
	position:relative;
	float:right;
	margin:0px auto;
	max-width:550px;
	background:white;
	border:1px solid #d4d4d4;
}
#szablonProduktOpisTitle
{
	position:relative;
	float:left;
	clear:left;
	width:100%;
	margin-top:35px;
	margin-left:0px;
	height:70px;
	line-height:70px;
	font-weight:bold;
	font-size:15px;
	color:#053886;
	text-align:left;
	text-indent:70px;
	border:1px solid #d4d4d4;
	background:url(../images/strona/szablon/info.png) no-repeat 25px center white;
}
#szablonProduktOpis
{
	position:relative;
	float:left;
	clear:left;
	width:1050px;
	padding:25px 25px;
	margin-top:-1px;
	margin-left:0px;
	line-height:24px;
	font-weight:normal;
	font-size:15px;
	color:#727272;
	text-align:left;
	border:1px solid #d4d4d4;
}
.produktParametry
{
	position:relative;
	float:left;
	clear:left;
	max-width:500px;
	margin-top:25px;
	margin-left:0px;
	line-height:24px;
	font-weight:normal;
	font-size:15px;
	color:#727272;
	text-align:left;
	border:0px solid #d9d9d9;
}
.produktParametry span
{
	font-weight:bold;
}

#szablonMain
{
	position:relative;
	float:left;
	margin-top:70px;
	margin-left:50px;
	width:1100px;
}

#szablonLeft
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:280px;
}
.szablonLeft
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-bottom:20px;
	margin-left:0px;
	width:277px;
	padding:0px 0px;
	border:3px solid #ffffff;
	border-left:0px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	outline:0px solid #f6f5ee;
	box-shadow: 0px 0px 0px 0px #df0000 inset;
	-moz-box-shadow:0 0 0px 0px #df0000 inset;
	-webkit-box-shadow:0 0 0px 0px #df0000 inset;
	overflow:hidden;
}
.szablonLeftTop
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	margin-bottom:0px;
	width:100%;
	height:47px;
	line-height:47px;
	text-indent:20px;
	font-family:EncodeSansCondensed;
	font-size:22px;
	font-weight:800;
	text-transform:uppercase;
	color:#ffffff;
	display:block;
	background:#0c5f99;
}
.szablonLeftMain
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:240px;
	padding:17px 17px 20px 20px;
	font-size:15px;
	font-weight:normal;
	color:#2b2b2b;
	line-height:18px;
	font-family:EncodeSansCondensed;
	text-align:left;
	background:#e3f3ff;
}
.smallBr
{
	font-size: 6px;
	line-height: 6px;
}
#kontakt
{
	text-align:left;
}
#kontakt a
{
	text-decoration:none;
	color:#ffffff;
}
#wysylka
{
	text-align:left;
	width:100%;
	padding:0px;
	line-height:20px;
}
#platnosci
{
	text-align:left;
}
#platnosci img
{
	border:0;
	margin-bottom:0px;
}
#kategorie
{
	position:relative;
	float:left;
	width:100%;
	padding:0px;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
	-moz-box-shadow:0 10px 10px 0px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:0 10px 10px 0px rgba(0, 0, 0, 0.10);
}
#kategorie a
{
	position:relative;
	float:left;
	display:table;
	width:199px;
	height:58px;
	line-height:16px;
	font-size:14px;
	font-weight:bold;
	color:#2b2b2b;
	text-indent:0px;
	text-align:center;
	text-decoration:none;
	border-top:1px solid #ffffff;
	border-right:1px solid #ffffff;
	background:url(../images/strona/szablon/menu_tlo.gif) repeat-x;
}
#kategorie a b
{
	vertical-align:middle;
	display:table-cell;
	padding:0px 25px;
}
#kategorie a:hover
{
	text-decoration:underline;
}

#szablonRight
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding:0px 0px;
	text-align:center;
}
#przedmiotem
{
	position:relative;
	float:left;
	margin:0px;
}
#szablonProduktNazwa
{
	position:relative;
	float:left;
	clear:left;
	margin-top:25px;
	margin-left:0px;
	width:500px;
	font-size:30px;
	font-weight:800;
	color:#053886;
	text-align:left;
	line-height:35px;
	text-transform:uppercase;
}
#szablonProduktImgs
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#szablonProduktImgs img
{
	position:relative;
	float:none;
	max-width:1100px;
	margin:30px auto;
	border:1px solid #d4d4d4;
}

#boksy
{
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:0px;
	width:100%;
}
#boksy > table
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-spacing:0px;
	border-collapse:collapse;
}
#boksy > table > tbody > tr > td
{
	height:205px;
	padding:30px 20px;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	text-align:right;
	line-height:18px;
	vertical-align:top;
}
#boksy > table > tbody > tr > td > img
{
	margin:0px 0px;
}
#ikonki
{
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#ikonki > table
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-spacing:0px;
	border-collapse:collapse;
}
#ikonki > table > thead > tr > th
{
	font-size:16px;
	font-weight:800;
	color:#2b2b2b;
	text-align:center;
}
#ikonki > table > tbody > tr > td
{
	font-size:15px;
	font-weight:normal;
	color:#727272;
	text-align:center;
	line-height:18px;
	vertical-align:top;
}
#ikonki > table > tbody > tr > td > img
{
	margin:15px 0px;
}
#bezpieczne
{
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#kurierzy
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#kurierzy > table
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	overflow:hidden;
	text-align:center;
	border-spacing:0px;
	border-collapse:collapse;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.10);
	-moz-box-shadow:0 0px 10px 10px rgba(0, 0, 0, 0.10);
	-webkit-box-shadow:0 0px 10px 10px rgba(0, 0, 0, 0.10);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
#kurierzy > table > thead > tr > th
{
	font-size:16px;
	font-weight:800;
	color:#ffffff;
	text-align:center;
	height:50px;
	line-height:50px;
	background:#053886;
	border:1px solid #1e365a;
}
#kurierzy > table > tbody > tr > td
{
	font-size:15px;
	font-weight:normal;
	color:#2b2b2b;
	text-align:center;
	line-height:20px;
	background:#fefefe;
	border:1px solid #d4d4d4;
	vertical-align:top;
	padding:15px 20px 25px 20px;
}
#kurierzy > table > tbody > tr > td:nth-child(even)
{
	background:#f6f6f6;
}
#kurierzy > table > tbody > tr > td > img
{
	margin-bottom:15px;
}
#kurierzy > table > tbody > tr > td span
{
	color:#2b2b2b;
	font-size:15px;
	font-weight:bold;
}
#kurierzy > table > tbody > tr > td label
{
	color:#2b2b2b;
	font-size:15px;
	font-weight:normal;
}
#kurierzy > table > tbody > tr > td b
{
	color:#727272;
	font-size:15px;
	font-weight:bold;
}
#kurierzy > table > tbody > tr > td table
{
	width:100%;
}
#kurierzy > table > tbody > tr > td table th
{
	text-align:left;
}
#kurierzy > table > tbody > tr > td table td
{
	text-align:left;
}

#szablonStopka
{
	position:relative;
	float:left;
	margin-top:50px;
	margin-left:0px;
	width:100%;
}
#stopka
{
	position:relative;
	float:left;
	margin-top:40px;
	margin-left:0px;
	width:1100px;
	padding:0px 50px;
}
#stopka > img
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
}
#stopka > div
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:0px;
	width:100%;
	color:#2b2b2b;
}
#producenci
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	padding-bottom:30px;
	background:white;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
}
#producenci > img
{
	position:relative;
	float:left;
	margin-top:-15px;
	margin-left:50px;
	font-size:16px;
	font-weight:bold;
	color:#2e2e2e;
	text-transform:uppercase;
}
#producenci > div
{
	position:relative;
	float:left;
	margin-top:15px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#producenci > div > a
{
	position:relative;
	float:none;
	display:inline-block;
	margin:10px 25px;
	text-decoration:none;
}
#producenci > div > a > img
{
	position:relative;
	width:auto;
	height:35px;
}
#mapka
{
	position:relative;
	float:left;
	margin-top:45px;
	margin-left:0px;
	width:100%;
	text-align:center;
}
#skontaktuj
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:1100px;
	padding:0px 50px 35px 50px;
	background:#053886;
}
#skontaktuj > img
{
	position:relative;
	float:left;
	margin-top:-10px;
	margin-left:0px;
}
#skontaktuj > b
{
	position:relative;
	float:left;
	clear:left;
	margin-top:20px;
	margin-left:0px;
	color:#ffd800;
	font-weight:bold;
	font-size:30px;
}
#skontaktuj > span
{
	position:relative;
	float:left;
	clear:left;
	width:870px;
	margin-top:25px;
	margin-left:0px;
	color:#ffffff;
	font-weight:normal;
	font-size:14px;
	line-height:20px;
	text-align:justify;
}
#skontaktuj > label
{
	position:relative;
	float:right;
	max-width:200px;
	margin-top:25px;
	margin-left:0px;
	color:#ffffff;
	font-weight:normal;
	font-size:16px;
	line-height:24px;	
}
#skontaktuj > label b
{
	color:#ffd800;
	font-weight:800;
}

#formy
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:1200px;
	padding-bottom:35px;
	background:#053886;
	border-top:1px solid #2e61a4;
}
#formy > img
{
	position:relative;
	float:left;
	margin-top:-10px;
	margin-left:50px;
}
#formy > span
{
	position:relative;
	float:left;
	clear:left;
	margin-top:25px;
	margin-left:50px;
	line-height:20px;
}
#formy > span b
{
	color:#ffffff;
	font-weight:bold;
	font-size:14px;
}
#formy > span span
{
	color:#ffd800;
	font-weight:normal;
	font-size:14px;
}
#formy > div
{
	position:relative;
	float:right;
	margin-top:25px;
	margin-right:50px;
}
#formy > div img
{
	margin-top:0px;
	margin-left:15px;
}

#infolinia
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	height:90px;
	background:#0c609b;
	border-top:2px solid #f6f6f6;
	border-bottom:1px solid #1b669b;
}
#infolinia > img
{
	position:relative;
	float:left;
	margin-top:-25px;
	margin-left:100px;
	width:105px;
	height:105px;
	background:white;
	border:3px solid white;
	border-radius: 110px;	
	-moz-border-radius: 110px;
	-webkit-border-radius: 110px;
}
#infolinia > div
{
	position:relative;
	float:left;
	margin-top:20px;
	margin-left:25px;
	width:auto;
	text-align:left;
	font-size:16px;
	color:#e3f3ff;
	line-height:24px;
}
#infolinia > div > span
{
	font-size:22px;
}
#infolinia > div > label
{
	font-size:16px;
}

#zapraszamy
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:105px;
	line-height:105px;
	background:#2b71a3;
	font-size:30px;
	font-weight:900px;
	color:#f6f6f6;
	text-transform:uppercase;
}

#projekt
{
	position:relative;
	float:left;
	margin-top:0px;
	margin-left:0px;
	width:100%;
	text-align:center;
	height:60px;
	line-height:60px;
	background:#f6f6f6;
	font-size:12px;
	font-weight:900px;
	color:#b5b5b5;
	text-transform:uppercase;
}
#projekt a
{
	color:#b5b5b5;
	text-decoration:none;
}