.tooltip {
    background-color: #F4F4F4;
    border: 2px solid #35B516;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.9;
    padding: 10px;
    position: absolute;
    z-index: 3000;
    color: #2A91B0;
}