<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/dealerzy/lista/">Sklepy &raquo;</a>
			<span class="link_path_end">Dodaj sklep</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Sklepy" />
			<h2 class="title2 p1">Sklepy</h2>
		</div>
		<div class="box_link_navi">
			<a class="back" href="<?php echo $this->baseUrl; ?>/admin/dealerzy/lista/">Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Dodaj sklep:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane sklepu:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="kategorie" action="" method="post" enctype="multipart/form-data">
						<div class="form_row">
							<label class="required">Nazwa:</label>
							<div class="input_bg">
								<input name="firma" type="text" value="<?php echo $this->pojedynczy['firma']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Województwo:</label>
							<div class="input_bg">
							<select name="woj" />
							<?php foreach($this->wojew as $woj): ?>
							<option value="<?php echo $woj; ?>"><?php echo $woj; ?></option>
							<?php endforeach; ?>
							</select>
							</div>
						</div>
						<div class="form_row">
							<label class="">Kod pocztowy:</label>
							<div class="input_bg">
								<input name="kod" type="text" value="<?php echo $this->pojedynczy['kod']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Ulica:</label>
							<div class="input_bg">
								<input name="ulica" type="text" value="<?php echo $this->pojedynczy['ulica']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Miasto:</label>
							<div class="input_bg">
								<input name="miasto" type="text" value="<?php echo $this->pojedynczy['miasto']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">E-mail:</label>
							<div class="input_bg">
								<input name="mail" type="text" value="<?php echo $this->pojedynczy['mail']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Telefon:</label>
							<div class="input_bg">
								<input name="tel" type="text" value="<?php echo $this->pojedynczy['tel']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Faks:</label>
							<div class="input_bg">
								<input name="fax" type="text" value="<?php echo $this->pojedynczy['fax']; ?>" />
							</div>
						</div>
						<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="submit" value="Zapisz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>