<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/dealerzy/lista/">Sklepy &raquo;</a>
			<span class="link_path_end">Lista sklepów</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Sprzedawcy" />
			<h2 class="title2 p1">Sklepy</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/dealerzy/dodaj/">Dodaj sklep</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj sklepami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->sklepy)): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width="20%"/>
							<col width="50%"/>
							<col width="15%"/>
							<col width="15%"/>
						</colgroup>
						<tr>
							<th>Województwo</th>
							<th>Nazwa</th>
							<th>Edytuj</th>
							<th>Usuń</th>
						</tr>
						
						<?php $j = 1; foreach ($this->sklepy as $sklep): ?>
								
							<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								<td><?php echo $sklep['woj']; ?></a></td>
								<td align="center">
								<a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/dealerzy/edytuj/id/<?php echo $sklep['id']; ?>"><b><?php echo $sklep['firma']; ?></b></a>
								</td>
								<td align="center">
								<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/dealerzy/edytuj/id/<?php echo $sklep['id'];  ?>">Edytuj</a>
								</td>
								<td align="center">
								<a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć ten sklep ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/dealerzy/lista/delid/<?php echo $sklep['id']; ?>">Usuń</a>
								</td>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak dodanych sklepów.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>