<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia &raquo;</a>	
			<span class="link_path_end">Konfiguracja konta e-mail</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja konta e-mail:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Konto e-mail:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo  $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Tytuł wiadomości:</label>
							<div class="input_bg w1">
								<input type="text" name="FromName" value="<?php echo $this->drukuj[0]->FromName; ?>" />
							</div>
						</div>						
						<div class="form_row">
							<label class="required">E-mail (nadawca):</label>
							<div class="input_bg w1">
								<input type="text" name="From" value="<?php echo $this->drukuj[0]->From; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">E-mail (odbiorca):</label>
							<div class="input_bg w1">
								<input type="text" name="To" value="<?php echo $this->drukuj[0]->To; ?>" />
							</div>
						</div>
						<?php if($this->obConfig->mailConfig): ?>						
						<div class="form_row">
							<label class="required">Nazwa użytkownika:</label>
							<div class="input_bg">
								<input type="text" name="Username" value="<?php echo $this->drukuj[0]->Username; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Hasło:</label>
							<div class="input_bg">
								<input type="password" name="Password" value="<?php echo $this->drukuj[0]->Password; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Adres serwera SMTP:</label>
							<div class="input_bg">
								<input type="text" name="Host" value="<?php echo $this->drukuj[0]->Host; ?>" />
							</div>
						</div>						
						<div class="form_row">
							<label class="required">Rodzaj serwera:</label>
							<div class="input_bg">
								<input type="text" name="Mailer" value="<?php echo $this->drukuj[0]->Mailer; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="">Adres serwera POP3:</label>
							<div class="input_bg">
								<input type="text" name="POP3" value="<?php echo $this->drukuj[0]->POP3; ?>" />
							</div>
						</div>
						<?php endif; ?>
						<?php if($this->obConfig->cv): ?>
						<div class="form_row">
							<label class="required">E-mail do CV:</label>
							<div class="input_bg w1">
								<input type="text" name="ToCV" value="<?php echo $this->drukuj[0]->ToCV; ?>" />
							</div>
						</div>
						<?php endif; ?>
                 		 <?php if($this->edycjazablokowana === false): ?>
                         <div class="button_form m2">
							<div class="button1">
								<input type="submit" name="zapisz" id="zapisz" value="Zapisz" />	
							</div>
						</div>	
						<?php endif; ?>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>