<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/<?php echo(isset($this->zakladka_admin))? $this->zakladka_admin: '1'; ?>/">Strona główna &raquo;</a>	
			<span class="link_path_end">Ustawienia</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="<?php echo $this->baseUrl; ?>/public/images/admin/ikony/ikona_ustawienia_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Ustawienia</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Konfiguracja konta sms:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Konto sms:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->error)): ?>
				
					<div class="error_container">
	
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					
					<?php if(!empty($this->ilosc_kredytow)): ?>
					
						<div class="error_container">Ilość kredytów dla konta: <?php echo $this->ilosc_kredytow; ?></div>
					
					<?php endif; ?>
					
					<form name="conf" action="" method="post" enctype="multipart/form-data">                   
						<div class="form_row">
							<label class="required">Login:</label>
							<div class="input_bg">
								<input type="text" name="sms[login]" value="<?php echo $this->html['login']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Hasło:</label>
							<div class="input_bg">
								<input type="password" name="sms[password]" value="" />
							</div>
						</div>
						<div class="form_row">
							<label class="required">Typ wiadomości:</label>
							<div class="input_bg_radio">
								<input <?php echo ($this->html['typ_wiadomosci'] == 1)? 'checked ="checked"': ''; ?> type="radio" name="sms[typ_wiadomosci]" value="1" />
							</div><span class="label_radio">Eco</span>
							<div class="input_bg_radio">
								<input <?php echo ($this->html['typ_wiadomosci'] == 0)? 'checked ="checked"': ''; ?> type="radio" name="sms[typ_wiadomosci]" value="0" />
							</div><span class="label_radio">Pro</span>
						</div>
						<div class="form_row">
							<label class="">Pole nadawcy:</label>
							<div class="input_bg">
								<input type="text" name="sms[pole_nadawca]" value="<?php echo $this->html['pole_nadawca']; ?>" />
							</div>
							<div class="info_labels">
								Aby było widoczne należy wybrać typ "Pro" wiadomości.
							</div>
						</div>
						<div class="form_row">
							<label class="">Numer telefonu admina:</label>
							<div class="input_bg">
								<input type="text" name="sms[admin_sms]" value="<?php echo $this->html['admin_sms']; ?>" />
							</div>
						</div>
                 		<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="sms[zapisz]" id="zapisz" value="Zapisz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>