<div class="left_column">
    <ul>
        <li class="hov <?= $this->action == 'index'? 'active' : ''; ?>">
            <b></b>
            <span>
                <a class="ico_welcome" href="<?= $this->baseUrl; ?>/uzytkownik/index/">Witaj</a>
            </span>
        </li>
        <li class="hov <?= in_array($this->action, array('friends','gifts','gift')) ? 'active' : ''; ?>">
            <b></b>
            <span>
                <a class="ico_people" href="<?= $this->baseUrl; ?>/uzytkownik/friends/">Społeczność</a>
            </span>
        </li>
        <li class="hov <?= in_array($this->action, array('mysales','zamowienia','zamowienie')) ? 'active' : ''; ?>">
            <b></b>
            <span>
                <a class="ico_mysales" href="<?= $this->baseUrl; ?>/kontrahent/zamowienia/">Moje zakupy</a>
            </span>
        </li>
        <li class="hov <?= in_array($this->action, array('edit','changepassword','edycja')) ? 'active' : ''; ?>">
            <b></b>
            <span>
                <a class="ico_edit" href="<?= $this->baseUrl; ?>/kontrahent/edycja/">Edycja konta</a>
            </span>
        </li>
        <li class="hov <?= $this->action == 'laws'? 'active' : ''; ?>">
            <b></b>
            <span>
                <a class="ico_laws" href="<?= $this->baseUrl; ?>/uzytkownik/laws/">Regulamin</a>
            </span>
        </li>
    </ul>
</div>
