<div class="top_column">
    <div class="in">
        <div class="row r">
            <?php if(!empty($this->userdata['nazwisko']) || !empty($this->userdata['imie'])): ?>
            Jesteś zalogowany jako <strong><?= $this->userdata['imie'].' '.$this->userdata['nazwisko']; ?> </strong>
            &nbsp;<span>|</span>&nbsp;
            <?php endif; ?>
            Twój nr karty: <b><?= $this->userdata['karta']; ?></b>
            &nbsp;<div class="dib"><a class="btn1" href="<?= $this->baseUrl; ?>/kontrahent/wyloguj/">wyloguj</a></div>
        </div>
        <div class="row">
            <div class="row_sum">
                <div class="cell1">
                    Bieżący stan konta:
                </div>
                <div class="cell2">
                    <?= number_format($this->userdata['konto'], 2,'.',''); ?> zł
                </div>
            </div>
            <div class="row_sum">
                <div class="cell1">
                    Rabaty za zakupy:
                </div>
                <div class="cell2">
                    <?= number_format($this->userdata['rabatotrz'], 2, '.',''); ?> zł
                </div>
            </div>
            <div class="row_sum">
                <div class="cell1">
                    Rabaty od znajomych:
                </div>
                <div class="cell2">
                    <?= number_format($this->userdata['rabatpolecajacy'],2,'.',''); ?> zł
                </div>
            </div>
        </div>
    </div>
</div>