<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut Komentarze</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem Komentarze:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Komentarze</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					
					<?php if(isset($this->opinia)): ?>
					<div class="box_edit" id="opinie">
						<form action="" method="post" enctype="multipart/form-data">
							<input type="hidden" name="opiniaID" value="<?php echo $this->opinia['id'];?>"/>
							<input type="hidden" name="id" value="<?php echo (isset($this->dane['id']))? $this->dane['id']: '';?>" />
							<div class="form_title"><h2 class="title4">Edytuj komentarz</h2></div>             
							<div class="form_row">
							<table id="opinieTable" border="0" width="100%">
							<tr><th class="kupujacy">Kupujący</th><th class="ocena">Ocena</th><th class="opis">Opis.</th></tr>
							<tr>
							<td class="opinieImie" width="160">
							<input type="text" name="opiniaImie" value="<?php echo $this->opinia['imie']; ?>"/>
							</td>
							<td width="260">
							<span class="opinieStarsOpis">Czas realizacji</span>
							<div id="opinieCzas" class="opiniaStars">
							<span id="opinieCzasHint" class="hint">
							<?php echo $this->opinia['czas'];?>
							</span></div>
							<span class="opinieStarsOpis">Kontakt</span>
							<div id="opinieKontakt" class="opiniaStars">
							<span id="opinieKontaktHint" class="hint">
							<?php echo $this->opinia['kontakt'];?>
							</span></div>
							<span class="opinieStarsOpis">Produkt</span>
							<div id="opinieProdukt" class="opiniaStars">
							<span id="opinieProduktHint" class="hint">
							<?php echo $this->opinia['produkt'];?>
							</span></div>
							</td>
							<td class="opiniaOpis">
							<textarea name="opiniaOpis" rows="5" cols="30"><?php echo $this->opinia['opis']; ?></textarea>
							</td>
							</tr>
							</table>
							<script type="text/javascript">
							$('.opiniaStars').raty(
							{
								readOnly:false, start:0, noRatedMsg: 'produkt nie został jeszcze oceniony!',
								path: '<?php echo $this->baseUrl; ?>/public/scripts/jquery.raty/img/',
								starOn:    'gwiazdka_bordo.png',
								starOff:   'gwiazdka_white.png',
								hintList:   ['1', '2', '3', '4', '5'],
								target:     'Hint',
								targetType: 'number',
								width: '115',
								scoreName:  'Score'
							});
							</script>
							</div>                
							<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edycjaOpinii" value="Zapisz" />	
								</div>
							</div>									
						</form>
					</div>
					<?php endif; ?>
					
					<!--Lista opinia-->
					<?php if(isset($this->opinie) && count($this->opinie) > 0): ?>
					
						<form action="" method="post" enctype="multipart/form-data">
					
						<div class="box_foto_product">
							<table class="foto_box" id="opinieTable">
								<colgroup>
									<col width="10%"/>
									<col width="35%"/>
									<col width="35%"/>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Imię</th>
									<th>Ocena</th>
									<th>Opis</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->opinie as $opinia): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="opinieImie"><?php echo $opinia['imie']; ?></td>
									<td>
									<span class="opinieStarsOpis">Czas realizacji</span>
									<div id="opinieCzas<?php echo $opinia['id'];?>" class="opinieStars">
									<span id="opinieCzas<?php echo $opinia['id'];?>Hint" class="hint"><?php echo $opinia['czas'];?>
									</span></div>
									<span class="opinieStarsOpis">Kontakt</span>
									<div id="opinieKontakt<?php echo $opinia['id'];?>" class="opinieStars">
									<span id="opinieKontakt<?php echo $opinia['id'];?>Hint" class="hint"><?php echo $opinia['kontakt'];?>
									</span></div>
									<span class="opinieStarsOpis">Produkt</span>
									<div id="opinieProdukt<?php echo $opinia['id'];?>" class="opinieStars">
									<span id="opinieProdukt<?php echo $opinia['id'];?>Hint" class="hint"><?php echo $opinia['produkt'];?>
									</span></div>
									</td>
									<td class="opiniaOpis"><?php echo $opinia['opis']; ?></td>
									</td>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/opinie/edytuj/id/<?php echo $opinia->id; ?>">Edytuj komentarz</a>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?> afterCheckbox" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/opinie/edytuj/opiDel/<?php echo $opinia->id; ?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>
							<script type="text/javascript">
							$('.opinieStars').raty(
							{
								readOnly:true, start:0, noRatedMsg: 'produkt nie został jeszcze oceniony!',
								path: '<?php echo $this->baseUrl; ?>/public/scripts/jquery.raty/img/',
								starOn:    'gwiazdka_bordo.png',
								starOff:   'gwiazdka_white.png',
								hintList:   ['1', '2', '3', '4', '5'],
								target:     'Hint',
								targetType: 'number',
								width: '115',
								scoreName:  'Score'
							});
							</script>
						</div>
						</form>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych komentarzy.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>