<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/">Raporty &raquo;</a>
			<span class="link_path_end">Raport odwiedzin <?php echo $this->typNazwa;?></span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Raport odwiedzin <?php echo $this->typNazwa;?></h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj raportami odwiedzin:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<div class="box_form_product">
					<div class="box_search padding">
						<div class="form_title"><h2 class="title4">Raport odwiedzin <?php echo $this->typNazwa;?>: <?php echo $this->nazwa;?> - <?php echo $this->rok == 'all' ? 'Wszystkie lata' : $this->rok;?></h2></div>
						
						<form action="" method="post" accept-charset="utf-8" >
							<div class="row_search">
								<?php if($this->typ == 'kategorie'): ?>
								<div class="input_bg_radio">
									<label class="mini">Kategoria</label>
									<select name="kat">
									<option value="all">Wszystkie kategorie&nbsp;</option>
									<?php if(@count($this->kategorie) > 0): ?>
									<?php foreach($this->kategorie as $kateg): ?>
									<option value="<?php echo $kateg['id']; ?>" <?php if($this->kateg==$kateg['id']) echo 'selected="selected"';?>>
									<?php if(@$kateg['lvl'] > 0) echo str_repeat(' -- ', $kateg['lvl']); ?><?php echo $kateg['nazwa']; ?>&nbsp;</option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
								</div>
								<?php endif; ?>
								<?php if($this->typ == 'producenci'): ?>
								<div class="input_bg_radio">
									<label class="mini">Producent</label>
									<select name="prod" style="width:100px;">
									<option value="0">Wszyscy&nbsp;</option>
									<?php if(@count($this->producenci) > 0): ?>
									<?php foreach($this->producenci as $prod): ?>
									<option value="<?php echo $prod['id']; ?>" <?php if($this->prod==$prod['id']) echo 'selected="selected"';?>><?php echo $prod['nazwa']; ?>&nbsp;</option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
								</div>
								<?php endif; ?>
								<div class="input_bg_small" style="margin-left:30px;margin-right:20px; width:200px;">
									<label class="tiny">Data:</label>
									<input type="text" name="dataOd" value="<?php echo $this->dataOd; ?>" /> 
									<span class="float">&nbsp;-&nbsp;</span>
									<input type="text" name="dataDo" value="<?php echo $this->dataDo; ?>" />
								</div>	
								<div class="button1" style="margin-left:0px;">
									<input type="submit" name="szukaj" value="Szukaj" />
								</div>
								<div class="input_bg_small" style="margin-left:50px; width:150px;">
									<label class="tiny">Rok:</label>
									<select name="rok" style="width:120px;" onchange="window.location='<?php echo $this->baseUrl;?>/admin/odwiedziny/lista/kat/<?php echo $this->kateg;?>/prod/<?php echo $this->prod;?>/rok/'+this.value;">
									<option value="all">Wszystkie lata</option>
									<?php if(@count($this->lata) > 0): ?>
									<?php foreach($this->lata as $rok): ?>
									<option value="<?php echo $rok['czas'];?>" <?php if($this->rok==$rok['czas']) echo 'selected="selected"'; ?>><?php echo $rok['czas'];?></option>
									<?php endforeach; ?>
									<?php endif; ?>
									</select>
								</div>								
								<a class="see_shop m_linki" style="margin-left:10px;" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/lista/kat/<?php echo $this->kateg;?>/prod/<?php echo $this->prod;?>/rok/all">Wszystkie lata</a>
								<br/><br/>
								<?php if(false && isset($this->label[2])): ?>
								<a class="see_shop m_linki" style="float:right;" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/lista/kat/<?php echo $this->kateg;?>/prod/<?php echo $this->prod;?>/sort/odwiedziny/order/desc">Sortuj wg odwiedzin - produkty</a>
								<a class="see_shop m_linki" style="float:right;" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/lista/kat/<?php echo $this->kateg;?>/prod/<?php echo $this->prod;?>/sort/odwiedziny2/order/desc">Sortuj wg odwiedzin - <?php echo $this->typ;?></a>
								<?php endif; ?>
							</div>								
						</form>
						
						<?php $i=0; if(count($this->raport) > 0): ?>
						
							<div class="raports_box" style="margin-top:20px;">
								 
								 <?php foreach($this->raport as $raport): ?>
				                    
									<div class="one_raport">
				                        <?php $dlugosc = round($raport['odwiedziny']*$this->jednostka); ?>
										
										<?php if($this->typ == 'kategorie' && $this->obConfig->zdjeciaKategorie): ?>
										<div class="odwiedzane_img">
											<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pojedynczy/<?php echo $this->typek;?>/<?php echo $raport['id'];?>/rok/<?php echo $this->rok;?>">
											<img src="<?php echo $this->baseUrl; ?>/public/admin/kategorie/<?php echo $raport['img']; ?>" alt="" />
											</a>
										</div>
										<?php endif; ?>
										<?php if($this->typ == 'producenci' && $this->obConfig->producentLogo): ?>
										<div class="odwiedzane_img">
											<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pojedynczy/<?php echo $this->typek;?>/<?php echo $raport['id'];?>/rok/<?php echo $this->rok;?>">
											<img src="<?php echo $this->baseUrl; ?>/public/admin/producenci/<?php echo $raport['logo']; ?>" alt="" />
											</a>
										</div>
										<?php endif; ?>
											
				                        <?php if($i<=$this->ilosc): ?>
				                        	
											<div class="najczesciej_odwiedzane" style="width: <?php echo $dlugosc; ?>px; background-color:#c00000;"></div>
				                        
										<?php elseif($i>$this->ilosc&&$i<=$this->ilosc*2): ?>
				                        
											<div class="srednio_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>
				                        
										<?php else: ?>
				                        
											<div class="malo_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>
				                        
										<?php endif; ?>
				                        
										<br/>
				                        <div class="raport_title">
											<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pojedynczy/<?php echo $this->typek;?>/<?php echo $raport['id'];?>/typ/<?php echo $this->typ;?>/rok/<?php echo $this->rok;?>">
											<?php echo $raport['nazwa'];//.' - ';?>
											<?php //echo '<b>'.$raport['odwiedziny'].'</b>';?>
											<?php if(isset($raport['odwiedziny'])): ?>
											<?php //echo ' '.@$this->label[1].' - ';?>
											<?php echo '<b>'.$raport['odwiedziny'].'</b> ';//.@$this->label[2];?>
											<?php endif; ?>
											</a>
				                        </div>
				                    </div>

                        		<?php $i++; endforeach; ?>	
								
							</div>
						
						<?php else: ?>	
							
							<div class="info_empty">Brak raportów do wyświetlenia.</div>
						
						<?php endif; ?>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>