<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/logon/">Logowania &raquo;</a>
			<span class="link_path_end">Lista logowań pracowników</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Logowania" />
			<h2 class="title2 p1">Logowania pracowników</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Logowania pracowników:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
				
				<div class="box_search2">
					<div class="form_title2">
						<h3 class="title44">
							Lista logowań - zalogowało się 
							<?php echo $this->ileLogin; ?> z <?php echo $this->ileUsers; ?> pracowników 
							(<?php echo round(($this->ileLogin / $this->ileUsers) * 100, 5); ?> %)
						</h3>
						<br/>
					</div>
					
					<?php if(@count($this->loginy) > 0): ?>
					
					<table class="foto_box padding" style="float:none;">
						<colgroup>
							<col width="15%"/>
							<col width="50%"/>
							<col width="15%"/>
						</colgroup>
						<tr>
							<th>Login</th>
							<th>Nazwa</th>
							<th>Ostatnie logowanie</th>
						</tr>
						
						<?php $j = 1; foreach($this->loginy as $logon): ?>
								
							<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								
								<td align="center"><?php echo $logon['login']; ?></td>
								<td align="center">
									<?php echo $logon['nazwa']; ?>
								</td>
								<td align="center"><?php echo $logon['zalogowano']; ?></td>								
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak logowań.</div>
					
					<?php endif; ?>
					
					<div class="form_title2">
						<h3 class="title44">
							<br/>Lista aktywności - obecnych na stronie
							<?php echo $this->ileObecni; ?> z <?php echo $this->ileUsers; ?> pracowników 
							(<?php echo round(($this->ileObecni / $this->ileUsers) * 100, 5); ?> %)
						</h3>
						<br/>
					</div>
					
					<?php if(@count($this->obecni) > 0): ?>
					
					<table class="foto_box padding" style="float:none;">
						<colgroup>
							<col width="15%"/>
							<col width="50%"/>
							<col width="15%"/>
						</colgroup>
						<tr>
							<th>Login</th>
							<th>Nazwa</th>
							<th>Ostatnia aktywność</th>
						</tr>
						
						<?php $j = 1; foreach($this->obecni as $obecny): ?>
								
							<?php if($j % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								
								<td align="center"><?php echo $obecny['login']; ?></td>
								<td align="center">
									<?php echo $obecny['nazwa']; ?>
								</td>
								<td align="center"><?php echo $obecny['odswiezono']; ?></td>								
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak obecnych.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>