<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/">Raporty &raquo;</a>
			<span class="link_path_end">Raport odwiedzin produktów</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Raport odwiedzin produktów</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj raportami odwiedzin:</h3>	
		</div>
		<div class="content2">
			<div class="all_container2">
				
				<div class="box_form_product2">
					<div class="box_search padding">
						<div class="form_title"><h2 class="title4">Raport odwiedzanych produktów: <?php echo $this->rok == 'all' ? 'Wszystkie lata' : $this->rok;?></h2></div>
						
						<form action="" method="post" accept-charset="utf-8" >
							<div class="row_search2" id="wyszukiwarka">
								<?php echo $this->render('oferta/lista_szukaj.phtml'); ?>
							</div>
						</form>
						
						<div class="form_row" style="position:relative; float:left; margin-top:10px; width:100%;">
							<form action="" method="post" accept-charset="utf-8" >
							<label class="tiny">Data:</label>
							<div class="input_bg_small" style="width:170px;">
								<input type="text" name="dataOdwiedzinOd" value="<?php echo $this->szukanie->dataOdwiedzinOd; ?>" /> 
								<span>-</span>
								<input type="text" name="dataOdwiedzinDo" value="<?php echo $this->szukanie->dataOdwiedzinDo; ?>" />
							</div>
							<div class="button1" style="margin-right:20px;">
								<input type="submit" name="dataSzukaj" value="Szukaj" />
							</div>
							</form>
							
							<label class="tiny">Rok:</label>
							<div class="input_bg_small" style="width:100px;">
								<select name="rok" onchange="window.location='<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/rok/' + this.value;" style="width:100px;">
								<option value="all">Wszystkie</option>
								<?php if(@count($this->lata) > 0): ?>
								<?php foreach($this->lata as $rok): ?>
								<option value="<?php echo $rok['czas'];?>" <?php if($this->rok==$rok['czas']) echo 'selected="selected"'; ?>><?php echo $rok['czas'];?></option>
								<?php endforeach; ?>
								<?php endif; ?>
								</select>
							</div>
							
							<a class="see_shop m_linki" style="margin-left:20px;" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/rok/all">Wszystkie lata</a>
							
							<a class="see_shop m_linki" style="float:none;" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/sort/odwiedziny/order/asc">Najrzadziej odwiedzane</a>
							<a class="see_shop m_linki" style="float:none;" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/sort/odwiedziny/order/desc">Najczęściej odwiedzane</a>
						</div>
						
						<?php if(count($this->raport) > 0): ?>
						
							<div class="box_pager" id="stronicowanie" style="margin-left:300px;">				
								<?php echo $this->render('const/stronicowanie.phtml'); ?>
							</div>
							
							<div id="ileNaStrone" style="float:right !important; margin-right:10px;">
							<span>Na stronie</span>
							<select onchange="window.location='<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/ile/'+this.value">
							<option value="24" <?php if($this->ile==24) echo 'selected="selected"'; ?>>24</option>
							<option value="36" <?php if($this->ile==36) echo 'selected="selected"'; ?>>36</option>
							<option value="48" <?php if($this->ile==48) echo 'selected="selected"'; ?>>48</option>
							<option value="64" <?php if($this->ile==64) echo 'selected="selected"'; ?>>64</option>
							</select>
							</div>
						
							<div class="raports_box" style="position:relative; float:left; margin:20px 0 0 20px;">
								 
								 <?php for($i=0;$i<count($this->raport);$i++): ?>
				                    
									<div class="one_raport">
				                        <?php $dlugosc = round($this->raport[$i]['odwiedziny_suma']*$this->jednostka); ?>
										
										<div class="odwiedzane_img">
											<a href="<?php echo $this->baseUrl; ?>/admin/oferta/edytuj/id/<?php echo $this->raport[$i]['id'];?>" rel="">
											<img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $this->raport[$i]['img']; ?>" alt="" />
											</a>
										</div>
										
				                        <?php if($i<=$this->ilosc): ?>
				                        	
											<div class="najczesciej_odwiedzane" style="width: <?php echo $dlugosc; ?>px; background-color:#c00000;"></div>
				                        
										<?php elseif($i>$this->ilosc&&$i<=$this->ilosc*2): ?>
				                        
											<div class="srednio_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>
				                        
										<?php else: ?>
				                        
											<div class="malo_odwiedzane" style="width: <?php echo $dlugosc; ?>px"></div>
				                        
										<?php endif; ?>
				                        
										<br/>
				                        <div class="raport_title">
											<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pojedynczy/id/<?php echo $this->raport[$i]['id'];?>/rok/<?php echo $this->rok;?>">
				                            <?php echo $this->raport[$i]['nazwa'].' - <b>'.$this->raport[$i]['odwiedziny_suma'].'</b>'; ?>
											</a>
				                        </div>
				                    </div>

                        		<?php endfor; ?>	
								
							</div>
						
						<?php else: ?>	
							
							<div class="info_empty">Brak raportów do wyświetlenia.</div>
						
						<?php endif; ?>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>