<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">Strona główna &raquo;</a>	
			<span class="link_path_end">Podstrony</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			
			<?php if($this->zawartosc['position'] == 'menu'): ?>
				
				<img src="/public/images/admin/ikony/ikona_podstrony_kategoria.png" alt="Kategorie" />
				<h2 class="title2 p1">Podstrony</h2>
			
			<?php else: ?>
			
				<img src="/public/images/admin/ikony/ikona_strona_glowna_kategoria.png" alt="Kategorie" />
				<h2 class="title2 p1">Strona główna</h2>
			
			<?php endif; ?>
						
		</div>
		<div class="box_link_navi">
		<a class="back m_linki" href="<?php echo $this->baseUrl;?>/admin/podstrony/lista<?=@$this->position[$this->zawartosc['position']];?>">Wróć do listy</a>
		<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/typ/<?=@$this->zawartosc['position'];?>">Dodaj pozycję</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Edytuj: <span><?php echo $this->escape($this->zawartosc['temat']); ?></span></h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
				<div class="box_search padding">
				<form  action="" method="post" enctype="multipart/form-data">
					<input type="hidden" name="id" value="<?php echo $this->escape($this->zawartosc['id']); ?>" />
					<input type="hidden" name="link" value="<?php echo $this->escape($this->zawartosc['link']); ?>" />
					<input type="hidden" name="typ" value="<?php echo $this->escape($this->zawartosc['position']); ?>" />
					<!--<input type="hidden" name="polozenie" value="<?php //echo $this->escape($this->zawartosc['polozenie']); ?>" />-->
					<?php if($this->zawartosc['position'] == 'lojalnosc'): ?>
					<div class="error_info rf">
						<?php echo $this->render('lojalnosc/keywords.phtml'); ?>
					</div>
					<?php endif; ?>
					<div class="form_row">
						<label class="required small">Tytuł:</label>
						<div class="input_bg w1">
							<input id="temat" name="temat" type="text" value="<?php echo $this->escape($this->zawartosc['temat']); ?>" />
						</div>
					</div>
					<?php if($this->zawartosc['position'] == 'menu'): //$this->adminNazwa == 'bigcom'): ?>
					<div class="form_row">
						<label class="required small">Położenie:</label>
						<div class="input_bg w1">
							<select name="polozenie">
							<?php if(@count($this->polozenie) > 0): ?>
							<?php foreach($this->polozenie as $poloz => $polozenie): ?>
							<option value="<?php echo $poloz;?>" <?php if($this->zawartosc['polozenie'] == $poloz) echo 'selected="selected"'; ?>>
							<?php echo $polozenie;?></option>
							<?php endforeach; ?>
							<?php endif; ?>
							</select>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->ustawienia['link']): ?>
					<?php if($this->zawartosc['position'] == 'menu' || $this->adminNazwa == 'bigcom'): ?>
					<div class="form_row">
						<label class="small">Link:</label>
						<div class="input_bg w1">
							<input id="temat" name="link" type="text" value="<?php echo $this->escape($this->zawartosc['link']); ?>" />
						</div>
					</div>
					<?php endif; ?>
					<?php endif; ?>
					<?php if($this->obConfig->podstronyMenu): ?>
					<?php if($this->zawartosc['position'] == 'menu'): ?>
					<?php if($this->obConfig->podstronyMenuMulti): ?>
					<div class="form_row">
						<label class="required small">Podlega pod:</label>
						<div class="input_bg w1">
							<select id="parent" name="parent" onchange="$('.parent').hide();$('#'+this.value).show();">
							<option value="">nic (nowa zwykła podstrona)</option>
							<option value="podstrony" <?php if($this->zawartosc['parent'] == "podstrony") echo 'selected="selected"'; ?>>podstronę</option>
							<?php if($this->obConfig->podstronyMenuKateg): ?>
							<option value="kategorie" <?php if($this->zawartosc['parent'] == "kategorie") echo 'selected="selected"'; ?>>kategorie</option>
							<?php endif; ?>
							</select>
						</div>
					</div>
					<?php else: ?>
					<input type="hidden" id="parent" name="parent" value="<?php echo $this->escape($this->zawartosc['parent']); ?>">
					<?php endif; ?>
					<?php if($this->obConfig->podstronyMenu): ?>
					<div class="form_row parent <?=!$this->obConfig->podstronyMenuMulti||$this->zawartosc['parent']=="podstrony"?'':'dn';?>" id="podstrony">
						<label class="required small"><?php echo $this->obConfig->podstronyMenuMulti ? "Podstrona" : "Podlega pod" ?>:</label>
						<div class="input_bg w1">
							<select id="rodzic" name="rodzic" onchange="$('#parent').val(this.value == '0' ? '' : 'podstrony');">
							<option value="0">wybierz</option>
							<?php if(@count($this->podstrony) > 0): ?>
							<?php foreach($this->podstrony as $podstrona): ?>
							<?php if($podstrona['id'] == $this->zawartosc['id'] || $podstrona['lp'] == 0 || $podstrona['rodzic'] > 0) continue; ?>
							<option value="<?php echo $podstrona['id'];?>" <?php if($this->zawartosc['rodzic'] == $podstrona['id']) echo 'selected="selected"';?>>
							<?php echo $podstrona['temat'];?></option>
							<?php endforeach; ?>
							<?php endif; ?>
							</select>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->podstronyMenuKateg): ?>
					<div class="form_row parent <?=!$this->obConfig->podstronyMenuMulti||$this->zawartosc['parent']=="kategorie"?'':'dn';?>" id="kategorie">
						<label class="required small">Kategoria</label>
						<div class="input_bg w1">
							<?php $this->typ = $typ = 'kategorie'; ?>
							<?php echo $this->render('const/kategorie.phtml'); ?>
							<?php $this->typ = $typ = 'podstrony'; ?>
						</div>
					</div>
					<?php endif; ?>
					<?php endif; ?>
					<?php endif; ?>
					<?php if($this->obConfig->podstronyUpdateEdycja): ?>
					<div class="form_row">
						<label class="required small">Data:</label>
						<div class="input_bg_small" style="width:100px;">
							<input type="text" name="data" id="data" value="<?php echo @date('Y-m-d', strtotime($this->zawartosc['data'])); ?>" />
						</div>
					</div>
					<?php endif; ?>
					<?php if(isset($this->seditor)): ?>
					<div class="form_row">
						<label class="required small">Nagłówek:</label>
						<div class="textarea_bg pod">
							<?php echo $this->seditor; ?>
						</div>
					</div>
					<?php endif; ?>
					<?php if($this->obConfig->podstronyKolorNaglowka): ?>
					<div class="form_row">
						<label class="required">Kolor tekstu nagłówka:</label>
						<?php $kolor = @$this->zawartosc['temat_color']; ?>
						<?php $kolor = !empty($kolor) ? $kolor : '000000'; ?>
						<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor; ?>;">
							<input type="hidden" name="temat_color" value="<?php echo $kolor; ?>" />
						</div>
					</div>
					<?php endif; ?>
					<?php if(isset($this->editor)): ?>
					<div class="form_row">
						<label class="small">Opis:</label>
						<div class="textarea_bg pod">
							<?php echo $this->editor; ?>
						</div>
					</div>
					<?php endif; ?>
					
					<?php if(@!empty($this->tytul)): ?>
					<?php if($this->zawartosc['position'] == 'menu'): ?>					
						<?php if($this->obConfig->podstronyGaleria): ?>
							<?php echo $this->render('const/galeria.phtml'); ?>
						<?php endif; ?>
						<?php if($this->obConfig->podstronyVideo): ?>
							<?php echo $this->render('const/video.phtml'); ?>
						<?php endif; ?>
					<?php endif; ?>
					<?php endif; ?>
					
					<?php if($this->edycjazablokowana === false): ?>
					<div class="button_pages">
						<div class="button1">
							<input type="submit" name="opis_zapisz" id="zapisz" value="Zapisz" />
						</div>
					</div>
					<?php endif; ?>
				</form>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>