<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
        <span class="link_path_end">Podstrony</span>
    </div>
    <div class="container">	
        <div class="box_main_title">
            <img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
            <h2 class="title2 p1">Podstrony</h2>
        </div>
        <?php if ($this->adminNazwa == 'bigcom'): ?>
            <div class="box_link_navi">
                <a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/">Dodaj podstronę</a>
            </div>
        <?php endif; ?>
        <div class="box_title">
            <h3 class="title3">Zarządzaj podstronami:</h3>
        </div>
        <div class="content">
            <div class="all_container">

                <?php if (!empty($this->error) || !empty($this->blad_edycji)): ?>

                    <div class="error_container">

                        <?php echo $this->blad_edycji; ?>
                        <?php echo $this->error; ?>

                    </div>

                <?php endif; ?>

                <div class="box_form_product">

                    <?php if (!empty($this->podstrony)): ?>

                        <table class="foto_box padding">
                            <colgroup>
                                <col width="60%"/>
                                <col width="10%"/>
                                <col width="10%"/>
                                <?php if ($this->adminNazwa == 'bigcom'): ?>
                                    <col width="10%"/>
                                <?php endif; ?>
                                <col width="10%"/>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Temat</th>
                                    <th>Edytuj</th>
                                    <th>Pozycja</th>
                                    <?php if ($this->adminNazwa == 'bigcom'): ?>
                                        <th>Powiel</th>
                                    <?php endif; ?>
                                    <th>Usuń</th>
                                </tr>
                            </thead>
                            <?php $polozenie = 0; ?>
                            <?php $j = 1;
                            foreach ($this->podstrony as $display): ?>

                                <?php $poloz = !empty($display['polozenie']) ? $display['polozenie'] : "null"; ?>
                                <?php if ($polozenie !== $poloz): ?>
            <?php if ($polozenie !== 0): ?></tbody><?php endif; ?>
                                    <thead id="thead_<?php echo @$poloz; ?>">
                                        <tr>
                                            <th colspan="100%"><?php echo @$this->polozenie[$display['polozenie']]; ?></th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_<?php echo @$poloz; ?>">
                                    <?php endif; ?>
                                    <?php $polozenie = $poloz; ?>

        <?php if ($j % 2 == 0): $style = 'silver';
        else: $style = 'white';
        endif; ?>

                                    <tr class="<?php echo $style; ?> tr_<?php echo $poloz; ?>" id="rowPos_<?php echo $display['id']; ?>">
                                        <td>
                                            <a class="link" title="Edytuj" href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo $display['link']; ?>">
                                                <b><?php echo $display['temat']; ?></b></a>
                                        </td>

                                        <td align="center">
                                            <a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo $display['link']; ?>">Edytuj</a>
                                        </td>

                                            <?php if (true): ?>
                                            <td align="center">
                                            <?php if (!empty($display['polozenie'])): ?>
                                                    <span class="ico_drag"></span>
                                            <?php endif; ?>
                                            </td>
        <?php endif; ?>

                                        <?php if ($this->adminNazwa == 'bigcom'): ?>
                                            <td align="center">
                                                <a title="Powiel" class="kopiuj_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/podstrony/listapodstrony/powiel/<?php echo $display['link']; ?>" onclick="return confirm('Czy napewno chcesz powielić tą podstronę ?')">Powiel</a>
                                            </td>
                                            <?php endif; ?>

                                        <td align="center">
                                            <?php if (!($display['lp'] != null && $display['position'] == 'menu' && $display['polozenie'] != null) || $this->adminNazwa == 'bigcom'): ?>
                                                <?php if ($this->edycjazablokowana === false): ?>
                                                    <a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć tą podstronę ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl; ?>/admin/podstrony/listapodstrony/delid/<?php echo $display['link']; ?>">Usuń</a>
            <?php endif; ?>
                                    <?php endif; ?>
                                        </td>
                                    </tr>

        <?php $j++;
    endforeach; ?>
                            </tbody>

                        </table>

                        <script type="text/javascript">
                            $(document).ready(function ()
                            {
                                var pageval = <?php echo @intval($this->strona); ?>;
                                var pageCount = <?php echo @intval($this->ile); ?>;

    <?php if (@count($this->polozenie) > 0): ?>
        <?php foreach ($this->polozenie as $poloz => $polozenie): ?>
            <?php if (empty($poloz)) continue; ?>
                                        $("table.foto_box tbody#tbody_<?php echo $poloz; ?>").sortable(
                                                {
                                                    opacity: 0.6,
                                                    cursor: 'move',
                                                    items: 'tr.tr_<?php echo $poloz; ?>',
                                                    tolerance: 'intersect',
                                                    update: function ()
                                                    {
                                                        var order = $(this).sortable("serialize") + '&table=podstrony&pole=lp';
                                                        $.post("<?php echo $this->baseUrl; ?>/ajax/index/sort", order, function (res)
                                                        {
                                                            location.reload();
                                                        });
                                                    }
                                                });
                            <?php endforeach; ?>
                        <?php endif; ?>
                            });
                        </script>

                    <?php else: ?>

                        <div class="info_empty">Brak podstron.</div>

<?php endif; ?>

                </div>
            </div>
        </div>
    </div>
</div>