<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Bloki</span>
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Klienci" />
			<h2 class="title2 p1">Bloki</h2>
		</div>
		<?php if($this->adminNazwa == 'bigcom'): ?>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/typ/blok">Dodaj blok</a>
		</div>
		<?php endif; ?>
		<div class="box_title">
			<h3 class="title3">Zarządzaj blokami:</h3>
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->error) || !empty($this->blad_edycji) ): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->error; ?>
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->blok)): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width="70%"/>
							<col width="10%"/>
							<?php if($this->adminNazwa == 'bigcom'): ?><col width="10%"/><?php endif; ?>
							<?php if($this->adminNazwa == 'bigcom'): ?><col width="10%"/><?php endif; ?>
						</colgroup>
						<tr>
							<th>Temat</th>
							<th>Edytuj</th>
							<?php if($this->adminNazwa == 'bigcom'): ?><th>Powiel</th><?php endif; ?>
							<?php if($this->adminNazwa == 'bigcom'): ?><th>Usuń</th><?php endif; ?>
						</tr>
						
						<?php $j = 1; foreach($this->blok as $display): ?>
								
						<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>

						<tr class="<?php echo $style; ?>">
							<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/podstrony/edytuj/strona/<?php echo $display['link']; ?>"><b><?php echo $display['temat']; ?></b></a></td>
							<td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/podstrony/edytuj/strona/<?php echo $display['link'];  ?>">Edytuj</a></td>
							
							<?php if($this->adminNazwa == 'bigcom'): ?>
							<td align="center">
								<a title="Powiel" class="kopiuj_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/podstrony/listapodstrony/powiel/<?php echo $display['link']; ?>" onclick="return confirm('Czy napewno chcesz powielić tą podstronę ?')">Powiel</a>
							</td>
							<?php endif; ?>
							
							<td align="center">
							<?php if($this->adminNazwa == 'bigcom' && ($display['lp'] == null && $display['position'] == 'blok' && $display['polozenie'] == null)): ?>
							<?php if($this->edycjazablokowana === false): ?>
                            <a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć ten blok ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/podstrony/listabloki/delid/<?php echo $display['link']; ?>">Usuń</a>
							<?php endif; ?>
                            <?php endif; ?>
							</td>
						</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
			
						<div class="info_empty">Brak podstron.</div>
			
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>