/* page styles */
#body2 { font-family: "Segoe UI", Frutiger,Tahoma,Helvetica,"Helvetica Neue", Arial, sans-serif; }
#wykres {  border-collapse: collapse; }
#wykres td, th 
{ 
   text-align: center; 
   border: 1px solid #ddd; 
   padding:2px 5px; 
}
   
#wykres caption {margin: 0 0 .5em; font-weight: bold; }
