<div class="box_foto_product" id="zakladkaGaleria">
	<?php $this->obConfigImage = $this->common->getObConfig('image'); ?>
	<div class="form_title">
		<h2 class="title4">Galeria:
		<?php if(true): ?> - optymalna wielkość dodawanego zdjęcia:
		<?php if(@$this->obConfigImage->{ucfirst($this->typ).'X'} > 0): ?>
		szerokość min. <?php echo $this->obConfigImage->{ucfirst($this->typ).'X'}; ?>px
		<?php endif; ?>
		<?php if(@$this->obConfigImage->{ucfirst($this->typ).'Y'} > 0): ?>
		wysokość min. <?php echo $this->obConfigImage->{ucfirst($this->typ).'Y'}; ?>px
		<?php endif; ?>
		<?php endif; ?>
		</h2>
	</div>
	<!--Dodawanie-->
	<div class="button_toggle">
		<a class="add silver m_linki" onclick="$('#zdjecia').toggle();" href="javascript:void(0)">Dodaj zdjęcie</a>
	</div>
	<div id="zdjecia" class="dn">
		<div class="form_title"><h2 class="title4">Dodaj zdjęcie</h2></div>
		<div class="form_row">
			<label class="tiny">Plik:</label>
			<div class="input_bg w1">
			<div style="">Po wybraniu zdjęcia można wpisać opis zdjęcia</div>
			<?php if(false && strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE): ?>
			<input type="file" name="zdj[]" class="multi" accept="jpg" />
			<?php else: ?>
			<input type="file" name="zdj[]" id="filesToUpload" multiple="multiple" onchange="//pliki(true);" />	
			<div id="plikiDiv"></div>
			<?php endif; ?>
			<!--<input type="file" id="imgFile" name="imgFile" />-->
			</div>
		</div> 
		<?php if(true || strpos($_SERVER['HTTP_USER_AGENT'], 'Firefox') === FALSE): ?>
		<div class="form_row">
			<label class="tiny">Opis:</label>
			<div class="input_bg w1 opisZdj" style="width:700px!important;">
				<input type="text" name="images[]" />
				<!--<a href="#" onclick="$('#imgFile').uploadifyUpload();">upload</a>-->
			</div>
		</div>
		<?php endif; ?>
	</div>
</div>

<?php if(@count($this->img) > 0): ?>
<div class="box_edit" id="zdjecie">
	<input type="hidden" name="image[id]" value="<?php echo $this->img['id'];?>"/>
	<div class="form_title"><h2 class="title4">Edytuj opis zdjęcia</h2></div>
	<div class="form_row">
		<label>Opis zdjęcia:</label>
		<div class="input_bg w1" style="width:700px!important;">
			<input type="text" value="<?php echo $this->img['nazwa']; ?>" name="image[nazwa]" />
		</div>
	</div>
	<?php if($this->edycjazablokowana === false): ?>
	<div class="button_form m2">
		<div class="button1">
			<input type="submit" name="image[zmienNazweZdjecia]" value="Zapisz" />	
		</div>
	</div>
	<?php endif; ?>	
</div>	
<?php endif; ?>

<!--Lista zdjec-->
<?php if(@count($this->galeria) > 0): ?>
<a name="zakladkaGaleria">&nbsp;</a>

<div class="box_foto_product">
	<div class="form_title"><h2 class="title4">Zdjęcia:</h2></div>
	<div class="box_foto_product">
		<table class="foto_box" id="galeriaTable">
			<colgroup>
				<col width="15%"/>
				<col width="auto"/>
				<col width="5%"/>
				<col width="5%"/>
				<col width="10%"/>
				<col width="5%"/>
				<col width="5%"/>
				<col width="5%"/>
			</colgroup>
			<thead>
			<tr>
				<th>Zdjęcie</th>
				<th>Opis zdjęcia</th>
				<th>Główne</th>
				<th></th>
				<th>Pozycja</th>
				<th>Widoczny</th>
				<th>Edytuj</th>
				<th>Usuń</th>
			</tr>
			</thead>
			
			<tbody>
			
			<?php $i=1; foreach($this->galeria as $img): ?>
			
			<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
			
			<tr class="<?php echo $style;?> img<?php echo $img['glowne'];?>" id="rowPos_<?php echo $img['id'];?>">
			
				<td class="first img">
				   <?php if($img['glowne'] == 'T'): ?>
					<div class="glowne_img_kontener">
					<?php endif; ?>
				   
					<img src="<?php echo $this->baseUrl.'/public/admin/'.$this->typ.'/'.$img['img']; ?>" alt="" style="max-width:100px; max-height:80px;" />
					
					<!--img GLOWNE-->					
					<?php if($img['glowne'] == 'T'): ?>
					<div class="glowne_img">
					   <img src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gwiazdka.png" alt="img glowne" title="ZDJĘCIE GŁÓWNE" />
					</div>
					</div>
					<?php endif; ?>
				</td>
				<td>
					<div class="box_gallery_desc">
						<?php echo $img['nazwa']; ?>
					</div>
				</td>
				<td align="center">					
					<a title="Ustaw główne zdjęcie" class="ok_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/imgMain/<?php echo $img['id'];?>#zakladkaGaleria">Główne zdjęcie</a>
				</td>
				<td align="center">
					<?php if($img['glowne'] == 'N'): ?>
					<span class="ico_drag"></span>
					<?php endif; ?>
				</td>
				<td align="center">
					<?php if($img['glowne'] == 'N'): ?>
					<input class="position_text" type="text" value="<?php echo $img['poz'];?>" />
					<a title="Zmień pozycję" class="button2" href="javascript:void(0);" rel="" onclick="window.location='<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/imgPoz/<?php echo $img['id']; ?>/poz/' + $(this).parent().find('.position_text').val()+'#zakladkaGaleria';">Pozycja</a>
					<?php endif; ?>
				</td>
				<td align="center">
					<a title="Zmień widoczność" class="<?php echo @intval($img['wyswietl']) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/imgShow/<?php echo $img['id']; ?>/widoczny/<?php echo @intval(!$img['wyswietl']); ?>#zakladkaGaleria">Pokaż</a>
				</td>
				<td align="center">	
					<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/imgEdit/<?php echo $img['id']; ?>#zakladkaGaleria">Edytuj opis</a>
				</td>
				<td align="center">
					<?php if(false && $this->edycjazablokowana === false): ?>
					<input type="checkbox" name="usunImg[<?php echo $img['id'];?>]" value="<?php echo $img['id'];?>" class="checkbox" style="float:none;" />
					<?php endif; ?>
					<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/imgDel/<?php echo $img['id']; ?>#zakladkaGaleria">Usuń</a>					
				</td>
			</tr>
			
			<?php $i++; endforeach; ?>

			</tbody>
		
		</table>
		
		<script type="text/javascript">
		$(document).ready(function()
		{
			$("#galeriaTable").sortable(
			{
				opacity: 0.6, 
				cursor: 'move', 
				items: "tr.imgN",
				update: function(event, ui) 
				{
					var id = $(ui.item).attr('id');
					var order = $(this).sortable("serialize") + '&action=changePosition'
					$.post("<?php echo $this->baseUrl; ?>/ajax/index/galeriasort/", order, function(res)
					{
						location.reload();
					});
				}
			});
		});
		</script>
		
		<?php if(false && $this->edycjazablokowana === false): ?>
		<div class="button_form m2" style="float:right;">
			<div class="button1">
				<input type="submit" name="usunImgs" value="Usuń zaznaczone" />	
			</div>
		</div>
		<?php endif; ?>
		<br />
		<img class="lf" src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gwiazdka.png" alt="img glowne" title="ZDJĘCIE GŁÓWNE" />
		<span class="etykiety_ikonek"> oznacza zdjęcie główne galerii</span>
	</div>
	
</div>
<?php endif; ?>