
<?php $gradName = @$this->gradName; ?>
<?php $gradient = @$this->gradient; ?>
<?php $kier = @!empty($gradient['kier']) ? stripslashes($gradient['kier']) : '-'; ?>
<span class="colorLabel">Kierunek:</span>
<input type="hidden" id="grad_<?php echo $gradName; ?>_kier" name="gradienty[<?php echo $gradName; ?>][kier]" value="<?php echo $kier;?>" />
<?php $znaki = array('-', '|', '\\', '/'); ?>
<?php foreach($znaki as $z => $zn): ?>
<input type="button" id="grad_<?php echo $gradName; ?>_kier<?php echo $z;?>" value="<?php echo $zn;?>" class="poz<?php if(stripslashes($kier) == stripslashes($zn)) echo ' pressed';?>" onclick="$('#grad_<?php echo $gradName; ?>_kier').val('\<?php echo $zn;?>'); $(this).parent().find('.poz').removeClass('pressed'); $(this).addClass('pressed');" />
<?php endforeach; ?>
<br clear="all"/>
<?php $kolor1 = @!empty($gradient['kolor1']) ? $gradient['kolor1'] : '95c4be'; ?>
<span class="colorLabel">Kolor #1:</span>
<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor1; ?>;">
	<input type="hidden" name="gradienty[<?php echo $gradName; ?>][kolor1]" value="<?php echo $kolor1;?>"/>
</div>
<?php $stop1 = @intval($gradient['stop1']); ?>
<span class="colorLabel">Przejście od (0 - 100):</span>
<input class="colorInput" type="text" name="gradienty[<?php echo $gradName; ?>][stop1]" value="<?php echo $stop1; ?>" />
<br clear="all"/>
<?php $kolor2 = @!empty($gradient['kolor2']) ? $gradient['kolor2'] : '95c4be'; ?>
<span class="colorLabel">Kolor #2:</span>
<div id="kolor" class="colorSelector" style="background-color:#<?php echo $kolor2; ?>;">
	<input type="hidden" name="gradienty[<?php echo $gradName; ?>][kolor2]" value="<?php echo $kolor2;?>"/>
</div>
<?php $stop2 = @intval($gradient['stop2']); ?>
<span class="colorLabel">Przejście do (0 - 100):</span>
<input class="colorInput" type="text" name="gradienty[<?php echo $gradName; ?>][stop2]" value="<?php echo $stop2; ?>" />
