<select style="width:230px;" multiple="multiple" id="pierwszy" name="kat0" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieallegro')">
<?php foreach($this->katsLevel0 as $kat) { ?>
	<option value="<?php echo $kat['cat-id']; ?>"<?php if($kat['cat-id'] == $this->kat0) echo ' selected="selected"'; ?>><?php echo $kat['cat-name'];   ?></option>
<?php  } ?>
</select>
<?php if(true || count($this->katsLevel1) > 0): ?>
<select style="width:230px;" multiple="multiple" id="drugi" name="kat1" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieallegro')">
<?php foreach($this->katsLevel1 as $kat) { ?>
	<option value="<?php echo $kat['cat-id']; ?>"<?php if($kat['cat-id'] == $this->kat1) echo ' selected="selected"'; ?>><?php echo $kat['cat-name'];   ?></option>
<?php  } ?>
</select>
<?php endif; ?>
<!--</div>
<div class="form_row">-->
<?php if(true || count($this->katsLevel2) > 0): ?>
<select style="width:230px;" multiple="multiple" id="trzeci" name="kat2" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieallegro')">
<?php foreach($this->katsLevel2 as $kat) { ?>
	<option value="<?php echo $kat['cat-id']; ?>"<?php if($kat['cat-id'] == $this->kat2) echo ' selected="selected"'; ?>><?php echo $kat['cat-name'];   ?></option>
<?php  } ?>
</select>
<?php endif; ?>
<?php if(true || count($this->katsLevel3) > 0): ?>
<select style="width:230px;" multiple="multiple" id="czwarty" name="kat3" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieallegro')">
<?php foreach($this->katsLevel3 as $kat) { ?>
	<option value="<?php echo $kat['cat-id']; ?>"<?php if($kat['cat-id'] == $this->kat3) echo ' selected="selected"'; ?>><?php echo $kat['cat-name'];   ?></option>
<?php  } ?>
</select>
<?php endif; ?>
<?php if(true || count($this->katsLevel4) > 0): ?>
<select style="width:230px;" multiple="multiple" id="piaty" name="kat4" size="15" onChange="getNextCategory(this.value, this.id, '<?php echo $this->baseUrl; ?>', 'kategorieallegro')">
<?php foreach($this->katsLevel4 as $kat) { ?>
	<option value="<?php echo $kat['cat-id']; ?>"<?php if($kat['cat-id'] == $this->kat4) echo ' selected="selected"'; ?>><?php echo $kat['cat-name'];   ?></option>
<?php  } ?>
</select>
<?php endif; ?>
<?php if(true || count($this->katsLevel5) > 0): ?>
<select style="width:230px;" multiple="multiple" id="szosty" name="kat5" size="15">
<?php foreach($this->katsLevel5 as $kat) { ?>
	<option value="<?php echo $kat['cat-id']; ?>"<?php if($kat['cat-id'] == $this->kat5) echo ' selected="selected"'; ?>><?php echo $kat['cat-name'];   ?></option>
<?php  } ?>
</select>
<?php endif; ?>