<div id="row_0" class="form_row">
	<div class="input_bg w1">
		<select id="pierwszy<?php echo ($this->typ);?>" name="kategs[0]" onChange="getNextCategory(this.value,this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2, '<?php echo @$this->par;?>');">
		<option value="-1">
		<?php if(@$this->nieprzypisane):?>Nieprzypisane<?php else:?>Wybierz kategorię<?php endif;?>
		</option>
		<?php for($i = 0; @count($this->glowne) > $i; $i++): ?>
		<option value="<?php echo $this->glowne[$i]['id']; ?>" <?php if(@$this->kateg == $this->glowne[$i]['id']) echo 'selected="selected"'; ?>><?php echo $this->glowne[$i]['nazwa']; ?></option>
		<?php endfor; ?>
		</select>
	</div>
</div>
<?php if(!isset($this->maxLevel) || $this->maxLevel >= 1): ?>
<div id="row_1" class="form_row">
	<div class="input_bg w1">
		<select id="drugi<?php echo ($this->typ);?>" name="kategs[1]" onChange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2, '<?php echo @$this->par;?>');">
		<?php if(@$this->wybierzPodkat):?><option value="-1">Wybierz kategorię</option><?php endif;?>
		<?php for($i = 0; @count($this->kategs1) > $i; $i++): ?>
		<option value="<?php echo $this->kategs1[$i]['id']; ?>" <?php if(@$this->kateg1 == $this->kategs1[$i]['id']) echo 'selected="selected"'; ?>><?php echo $this->kategs1[$i]['nazwa']; ?></option>
		<?php endfor; ?>
		</select>
	</div>	
</div>
<?php endif; ?>
<?php if(!isset($this->maxLevel) || $this->maxLevel >= 2): ?>
<div id="row_2" class="form_row">
	<div class="input_bg w1">
		<select id="trzeci<?php echo ($this->typ);?>" name="kategs[2]" onChange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2, '<?php echo @$this->par;?>');" >
		<?php if(@$this->wybierzPodkat):?><option value="-1">Wybierz kategorię</option><?php endif;?>
		<?php for($i = 0; @count($this->kategs2) > $i; $i++): ?>
		<option value="<?php echo $this->kategs2[$i]['id']; ?>" <?php if(@$this->kateg2 == $this->kategs2[$i]['id']) echo 'selected="selected"'; ?>><?php echo $this->kategs2[$i]['nazwa']; ?></option>
		<?php endfor; ?>
		</select>
	</div>	
</div>
<?php endif; ?>
<?php if(!isset($this->maxLevel) || $this->maxLevel >= 3): ?>
<div id="row_3" class="form_row">
	<div class="input_bg w1">
		<select id="czwarty<?php echo ($this->typ);?>" name="kategs[3]" onChange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', '<?php echo $this->typ;?>', 2, '<?php echo @$this->par;?>');" >
		<?php if(@$this->wybierzPodkat):?><option value="-1">Wybierz kategorię</option><?php endif;?>
		<?php for($i = 0; @count($this->kategs3) > $i; $i++): ?>
		<option value="<?php echo $this->kategs3[$i]['id']; ?>" <?php if(@$this->kateg3 == $this->kategs3[$i]['id']) echo 'selected="selected"'; ?>><?php echo $this->kategs3[$i]['nazwa']; ?></option>
		<?php endfor; ?>
		</select>
	</div>	
</div>
<?php endif; ?>
<?php if(!isset($this->maxLevel) || $this->maxLevel >= 4): ?>
<div id="row_4" class="form_row">
	<div class="input_bg w1">
		<select id="piaty<?php echo ($this->typ);?>" name="kategs[4]" >
		<?php if(@$this->wybierzPodkat):?><option value="-1">Wybierz kategorię</option><?php endif;?>
		<?php for($i = 0; @count($this->kategs4) > $i; $i++): ?>		
		<option value="<?php echo $this->kategs4[$i]['id']; ?>" <?php if(@$this->kateg4 == $this->kategs4[$i]['id']) echo 'selected="selected"'; ?>><?php echo $this->kategs4[$i]['nazwa']; ?></option>
		<?php endfor; ?>
		</select>
	</div>	
</div>
<?php endif; ?>