
<?php if(true): ?>
<li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/confmail/">Ustawienia e-mail</a></li>
<?php endif; ?>

<?php if(false): ?>
<li><a href="<?php echo $this->baseUrl; ?>/admin/confsms/edytuj/">Ustawienia sms</a></li>
<?php endif; ?>

<?php if(false): ?>
<li><span class="hover">Ustawienia ogólne</span></li>
<?php endif; ?>

<?php if(false): ?>
<li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/regulamin/link/regulamin">Regulamin</a></li>
<?php endif; ?>

<?php if(true): ?>
<?php for($i = 0; $i<count($this->blokLojalnosc); $i++): ?>
<li>
<a href="<?php echo $this->baseUrl;?>/admin/lojalnosc/regulamin/link/<?php echo trim($this->blokLojalnosc[$i]['link']);?>"><?php echo $this->blokLojalnosc[$i]['tytul']; ?></a>
</li>
<?php endfor; ?>
<?php endif; ?>

<?php if(false): ?>
<li><a href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Zmiana hasła administratora</a></li>
<?php endif; ?>