
<li>
	<a class="link_imp" href="<?php echo $this->baseUrl; ?>/admin/import/exportxls">Import/eksport</a>
	<ul class="menu_2">
		<?php if($this->obConfig->importEksportProdukty): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importxls/">Import bazy produktów z XLS</a></li>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/exportxls/">Export bazy produktów do XLS</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importSubiekt): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importxls/tryb/subiekt">Import produktów Subiekt GT</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importOptima): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importxls/tryb/optima">Import produktów XLS Optima</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importCDNXL): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importxls/tryb/cdn_xl">Import produktów XLS CDN XL</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importHermes): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importxls/tryb/hermes">Import produktów XLS Hermes</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importClickShop): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importcsv/tryb/clickshop">Import produktu CSV ClickShop</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importFPP): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importcsv/tryb/fpp/typ/cennik">Import produktów z FPP</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importFPPProdGrupy): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importxlsgrupy/tryb/fpp">Import grup produktów z FPP</a></li>
		<?php endif; ?>		
		<?php if($this->obConfig->importFPPKlienci): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importcsvklienci/tryb/fpp">Import kontrahentów z FPP</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->exportFPPKlienci): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/exportxlsklienci">Eksport kontrahentów do XLS</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importFPPrabaty): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importcsvrabaty/tryb/fpp">Import rabatów z FPP</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->eksportFPPzamow): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/exportzamow/tryb/fpp">Eksport nowe zamów. do FPP</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importEksportCalaBaza): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/importsql/">Import bazy danych z pliku SQL</a></li>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/import/exportsql/">Export bazy danych do plik SQL</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->importEksportBackup): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/backup/backup/">Kopie zapasowe</a></li>
		<?php endif; ?>
	</ul>
</li>
	