
<li>
	<a class="link_raporty" href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/">Raporty</a>
	<ul class="menu_2">
	<?php if(true && $this->obConfig->klienci): ?>
	<li><a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/logonklient/">Raport logowań klientów</a></li>
	<?php endif; ?>
	<?php if(true && $this->obConfig->uzytkownicy): ?>
	<li><a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/logonadmin/">Raport logowań pracowników</a></li>
	<?php endif; ?>
	<?php if(false && $this->obConfig->importEksport): ?>
	<li><a href="<?php echo $this->baseUrl; ?>/admin/import/lista">Raport importu</a></li>
	<?php endif; ?>
	<?php if($this->obConfig->sklepOnline): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pokaz/">Raport odwiedzin produktów</a>
	</li>
	<?php if(true && $this->obConfig->kategorie): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/lista/typ/kategorie">Odwiedziny według kategorii</a>
	</li>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pojedynczy/typ/kategorie">Odwiedziny danej kategorii</a>
	</li>
	<?php endif; ?>
	<?php if(false && $this->obConfig->producent): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/lista/typ/producenci">Odwiedziny według producenta</a>
	</li>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/odwiedziny/pojedynczy/typ/producenci">Odwiedziny danego producenta</a>
	</li>
	<?php endif; ?>
	<?php endif; ?>
	<?php if($this->obConfig->sklepOnline): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/raport/">Raport sprzedaży produktów</a>
	</li>
	<?php if(true && $this->obConfig->kategorie): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/lista/typ/kategorie">Sprzedaż według kategorii</a>
	</li>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/pojedynczy/typ/kategorie">Sprzedaż w danej kategorii</a>
	</li>
	<?php endif; ?>
	<?php if(true && $this->obConfig->producent): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/lista/typ/producenci">Sprzedaż według producenta</a>
	</li>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/pojedynczy/typ/producenci">Sprzedaż produktów producenta</a>
	</li>
	<?php endif; ?>
	<?php if(true && $this->obConfig->klienci): ?>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/lista/typ/kontrahenci">Sprzedaż według klientów</a>
	</li>
	<li>
	<a href="<?php echo $this->baseUrl; ?>/admin/archiwum/pojedynczy/typ/kontrahenci">Sprzedaż produktów klientowi</a>
	</li>
	<?php endif; ?>
	<?php endif; ?>
	</ul>
</li>
	