<ul id="jQ-menu" class="menu_1">
	<?php if(false): ?>
    <li class="<?= isset($this->action) && $this->action == 'dodajzakup' ? 'active' : null;?>">
        <a class="link_dodajzakup" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/dodajzakup/"></a>
        <span><strong class="ca">Dodaj zakup</strong></span>
    </li>
	<?php endif; ?>
	<?php if(false): ?>
    <li class="<?= isset($this->action) && $this->action == 'dodajklient' ? 'active' : null;?>">
        <a class="link_dodajklient" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/dodajklient/"></a>
        <span><strong class="ca">Dodaj klienta</strong></span>
    </li>
	<?php endif; ?>
    <li class="<?= isset($this->action) && in_array($this->action,array('lista','mail','sms','edytuj','drzewo','changepassword')) ? 'active' : null;?>">
        <a class="link_spolecznosc" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/drzewo/klient/0"></a>
        <span><strong class="ca">Społeczność</strong></span>
    </li>
    <li class="<?= isset($this->action) && in_array($this->action,array('raport','pokaz','wybrane')) ? 'active' : null;?>">
        <a class="link_analiza" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/pokaz/"></a>
        <span><strong class="ca">Analiza</strong></span>
    </li>
    <li class="<?= isset($this->action) && in_array($this->action,array('marketing')) ? 'active' : null; ?>">
        <a class="link_marketing" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/marketing/"></a>
        <span><strong class="ca">Akcje marketingowe</strong></span>
    </li>
	<?php if(false): ?>
    <li class="<?= isset($this->action) && $this->action == 'dokumenty' ? 'active' : null;?>">
        <a class="link_wzory_doc" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/dokumenty/"></a>
        <span><strong class="ca">Karty</strong></span>
    </li>
	<?php endif; ?>
    <li class="<?= isset($this->action) && $this->action == 'index' ? 'active' : null;?>">
        <a class="link_rabaty_upo" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/index/"></a>
        <span><strong class="ca">Rabaty i upominiki</strong></span>
    </li>
    <li class="<?= isset($this->action) && in_array($this->action,array('ustawienia','zmienhaslo','confsms','confmail','regulamin')) ? 'active' : null;?>">
        <a class="link_ust" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/confmail/"></a>
        <span><strong class="ca">Ustawienia</strong></span>
    </li>
</ul>