
<li>
	<a class="link_aso" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment</a>
	<ul class="menu_2">
		<?php if($this->obConfig->produkty): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/dodaj/">Dodaj produkt</a></li>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Lista produktów</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->produktyGrupy): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/oferta/grupy/">Grupy produktów</a></li>
		<?php endif; ?>
		<?php if(false && $this->obConfig->rabatyProdukty): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/rabaty/lista/">Rabaty produktów</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->kategorie): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/dodaj/">Dodaj kategorię</a></li>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/lista/">Lista kategorii</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->kategorieGrupy): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/grupy/">Grupy kategorii</a></li>
		<?php endif; ?>
		<?php if(true && $this->obConfig->kategorieInne): ?>
		<?php $nazwa = $this->obConfig->kategorieInneNazwa; ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/dodaj/typ/<?=$nazwa;?>">Dodaj <?=$nazwa;?></a></li>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/kategorie/lista/typ/<?=$nazwa;?>">Lista <?=$nazwa;?></a></li>
		<?php endif; ?>
		<?php if($this->obConfig->producent): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/producent/dodaj/">Producent</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->tryb == 'rozmiary'): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/rozmiarowka/dodaj/">Rozmiar</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->kolory): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/kolory/dodaj/">Kolor</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->dostepnosci || $this->obConfig->dostepnoscPrzedzialy): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/dostepnosc/dodaj/">Dostępności</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->kosztPrzesylkiOdWagi || $this->obConfig->kosztPrzesylkiOdWagiDostawy): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/wagi/dodaj/">Przedziały wagowe</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->rabatyZamowienie): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/rabatyprogi/dodaj/">Rabaty na zamówienie</a></li>
		<?php endif; ?>
		<?php if($this->obConfig->atrybuty): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/atrybuty/dodaj/">Atrybuty</a></li>
		<?php if($this->obConfig->atrybutyRodzaje): ?>
		<li><a href="<?php echo $this->baseUrl; ?>/admin/atrybuty/rodzaje/">Atrybuty - rodzaje</a></li>
		<?php endif; ?>
		<?php endif; ?>
		<?php if($this->obConfig->produktyGratisy): ?>
		<li><a href="<?php echo $this->baseUrl;?>/admin/partnerzy/dodajgratisy/">Gratisy</a></li>
		<?php endif; ?>
	</ul>
</li>
	