<?php if ($this->zakladka_admin == 1 || (!$this->obConfig->sklepOsobneMenu && $this->zakladka_admin == 2)): ?>

    <ul class="menu_1">
        <li>	

            <?php if ($this->obConfig->sklepOsobneMenu): ?>
                <a class="link_strona_glowna" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna</a>
            <?php else: ?>
                <a class="link_strona_glowna" href="<?php echo $this->baseUrl; ?>/admin/podstrony/listabloki/">Strona główna</a>
            <?php endif; ?>

            <ul class="menu_2">

                <?php if ($this->obConfig->slajdy): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/slider/edytuj/">Slajdy</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->galeria): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/galeria/galeria/">Galeria</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->wlasneBestseller): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/bestseller/">Najchętniej kupowane</a></li>
                <?php endif; ?>

                <?php if (true or $this->adminNazwa == 'bigcom'): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/typ/blok">Dodaj blok</a></li>
                <?php endif; ?>
                <?php if (true or $this->adminNazwa == 'bigcom'): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/listabloki/">Lista bloków</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->ankiety): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/ankieta/lista/">Lista ankiet</a></li>
                <?php endif; ?>

                <?php for ($i = 0; $i < count($this->blok); $i++): ?>

                    <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo trim($this->blok[$i]['link']); ?>/"><?php echo $this->blok[$i]['temat']; ?></a></li>

                <?php endfor; ?>

            </ul>
        </li>
        <?php if ($this->obConfig->podstrony): ?>
            <li class="<?php if (@count($this->podstrony) >= 15) echo 'link_podstrony_duzo'; ?>">
                <a class="link_podstrony" href="<?php echo $this->baseUrl; ?>/admin/podstrony/listapodstrony/">Podstrony</a>
                <ul class="menu_2">

                    <?php if ($this->adminNazwa == 'bigcom' || $this->obConfig->podstronyMenu): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/">Dodaj podstronę</a></li>
                    <?php endif; ?>
                    <?php if (true): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/listapodstrony/">Lista podstron</a></li>
                    <?php endif; ?>

                    <?php for ($i = 0; $i < count($this->podstrony); $i++): ?>

                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo trim($this->podstrony[$i]['link']); ?>/"><?php echo $this->podstrony[$i]['temat']; ?></a></li>

                    <?php endfor; ?>

                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->allegro): ?>
            <li>
                <a class="link_all" href="<?php echo $this->baseUrl; ?>/admin/podstrony/listaallegro/">Szablon</a>
                <ul class="menu_2">

                    <?php if ($this->adminNazwa == 'bigcom'): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/typ/allegro">Dodaj boks</a></li>
                    <?php endif; ?>
                    <?php if ($this->adminNazwa == 'bigcom'): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/listaallegro">Lista boksów</a></li>
                    <?php endif; ?>

                    <?php for ($i = 0; $i < count($this->blokAllegro); $i++): ?>

                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo trim($this->blokAllegro[$i]['link']); ?>/"><?php echo $this->blokAllegro[$i]['tytul']; ?></a></li>

                    <?php endfor; ?>

                </ul>
            </li>
        <?php endif; ?>
        <?php if (!$this->obConfig->sklep && $this->obConfig->asortyment): ?>
            <?php echo $this->render('const/menu_asortyment.phtml'); ?>
        <?php endif; ?>
        <?php if ($this->obConfig->menuOferta): ?>
            <li>
                <a class="link_aso" href="<?php echo $this->baseUrl; ?>/admin/menu/index/">Oferta</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/menu/dodaj">Dodaj kategorie w ofercie</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/menu/index">Zarządzaj ofertą </a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->sklepy): ?>
            <li>
                <a class="link_aso" href="<?php echo $this->baseUrl; ?>/admin/dealerzy/lista/">Sklepy</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/dealerzy/dodaj">Dodaj sklep</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/dealerzy/lista">Lista sklepów </a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->partnerzy || $this->obConfig->portale): ?>
            <li>
                <a class="link_kli" href="<?php echo $this->baseUrl; ?>/admin/partnerzy/dodaj/typ/partnerzy">Partnerzy</a>
                <ul class="menu_2">
                    <?php if ($this->obConfig->partnerzy): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/partnerzy/dodaj/typ/partnerzy">Lista partnerów </a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->portale): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/partnerzy/dodaj/typ/portale">Lista portali </a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->video): ?>
            <li>
                <a class="link_podstrony" href="<?php echo $this->baseUrl; ?>/admin/video/dodaj/">Video</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/video/dodaj">Lista filmów video </a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->newsletter): ?>
            <li>
                <a class="link_newsletter" href="<?php echo $this->baseUrl; ?>/admin/newsletter/adresy/">Newsletter</a>
                <ul class="menu_2">
                    <?php if ($this->obConfig->reklamaNaTelefon): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/ustawienia/reklama/">Aplikacja mobilna</a></li>
                    <?php endif; ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/adresy/">Adresy</a></li>
                    <?php if ($this->obConfig->newsletterAkcje): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/marketing/">Akcje marketingowe</a></li>
                    <?php endif; ?>
                    <?php if (false): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/import/">Import adresów e-mail</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/export/">Export adresów e-mail</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->aktualnosci): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/aktualnosci/">Aktualności</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->artykuly): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/artykuly/">Artykuły</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->porady): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/porady/">Porady</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->realizacje): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/realizacje/">Realizacje</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->oznaczNowosc): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/nowosci/">Nowości</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->oznaczPromocja): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/promocje/">Promocje</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->oznaczPolecane): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/polecane/">Polecane</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->oznaczWyprzedaz): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/newsletter/wyprzedaz/">Wyprzedaż</a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->aktualnosci): ?>
            <li>
                <a class="link_podstrony" href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/lista/">Aktualności</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/dodaj/">Dodaj aktualność</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/aktualnosci/lista/">Lista aktualności</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->artykuly): ?>
            <li>
                <a class="link_podstrony" href="<?php echo $this->baseUrl; ?>/admin/artykuly/lista/">Artykuły</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/artykuly/dodaj/">Dodaj artykuł</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/artykuly/lista/">Lista artykułów</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->porady): ?>
            <li>
                <a class="link_podstrony" href="<?php echo $this->baseUrl; ?>/admin/porady/lista/">Porady</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/porady/dodaj/">Dodaj poradę</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/porady/lista/">Lista porad</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->realizacje): ?>
            <li>
                <a class="link_podstrony" href="<?php echo $this->baseUrl; ?>/admin/realizacje/lista/">Realizacje</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/realizacje/dodaj/">Dodaj realizacje</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/realizacje/lista/">Lista realizacji</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->forum): ?>
            <li>
                <a class="link_kli" href="<?php echo $this->baseUrl; ?>/public/scripts/phpBB3/index.php" target="_blank">Forum</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/public/scripts/phpBB3/index.php" target="_blank">
                            Przeglądaj forum</a></li>
                    <?php if (false): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/public/scripts/phpBB3/adm/index.php" target="_blank">
                                Administruj forum</a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if (!$this->obConfig->sklep && $this->obConfig->importEksport): ?>
            <?php echo $this->render('const/menu_import_export.phtml'); ?>
        <?php endif; ?>
        <?php if (!$this->obConfig->sklep && $this->obConfig->raporty): ?>
            <?php echo $this->render('const/menu_raporty.phtml'); ?>
        <?php endif; ?>
        <?php if ($this->obConfig->sklepOsobneMenu): ?>
            <li>
                <a class="link_ust" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia</a>
                <ul class="menu_2">			
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/ustawienia/edytuj/">Ustawienia strony</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Zmiana hasła administratora</a></li>
                    <?php if ($this->obConfig->wiadomosciMail): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/wiadomosci/zmien/">Konfiguracja wiadomości e-mail</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->mail): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/confmail/edytuj/">Konfiguracja konta e-mail</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->sms): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/confsms/edytuj/">Konfiguracja konta sms</a></li>
                    <?php endif; ?>
                    <?php if (true && $this->obConfig->facebook): ?>
                        <?php if ($this->obConfig->facebookPostProdukt): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/facebook/lista/">Strony Facebook</a></li>
                        <?php else: ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/facebook/index/id/1">Ustawienia Facebook</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->youtube): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/youtube/index/">Ustawienia Youtube</a></li>
                    <?php endif; ?>
                </ul>
            </li>	
        <?php endif; ?>
        <?php if ($this->obConfig->sklepOsobneMenu): ?>
        </ul>
    <?php endif; ?>

<?php endif; ?>

<?php if ($this->obConfig->sklep && $this->zakladka_admin <= 2 && (!$this->obConfig->sklepOsobneMenu || $this->zakladka_admin == 2)): ?>

    <?php if ($this->obConfig->sklepOsobneMenu): ?>
        <ul class="menu_1">
        <?php endif; ?>

        <?php if ($this->obConfig->sklepOsobneMenu): ?>
            <li>	
                <a class="link_strona_glowna" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/1/">Strona główna</a>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->zamowienia): ?>
            <li>
                <a class="link_zam" href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/tryb/aktualne/mode/all">Zamówienia</a>
                <ul class="menu_2">
                    <?php if (true && @count($this->typyZamowien) > 0): ?>
                        <?php foreach ($this->typyZamowien as $typNazwa => $typ): ?>
                            <li>
                                <a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/tryb/aktualne/mode/<?php echo $typNazwa; ?>"><?php echo ucfirst($typ['tytul']); ?></a>
                            </li>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <li>
                        <a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/tryb/aktualne/mode/all">Wszystkie</a>
                    </li>
                    <li>
                        <a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/wypisz/tryb/archiwum/mode/all">Archiwum zamówień</a>
                    </li>
                    <?php if (false && $this->obConfig->platnosciPL): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/online/lista/">PayU - lista płatności</a></li>
                    <?php endif; ?>
                    <?php if (true && $this->obConfig->kurierzy): ?>
                            <?php if ($this->obConfig->paczkiDoUtworzenia): ?><li><a href="<?php echo $this->baseUrl; ?>/admin/paczka/utworz/tryb/">Paczki do utworzenia</a></li><?php endif; ?>
                        <?php if ($this->obConfig->listaGotowychPrzesylek): ?><li><a href="<?php echo $this->baseUrl; ?>/admin/paczka/lista/tryb/">Lista gotowych przesyłek</a></li><?php endif; ?>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->klienci): ?>
            <li>
                <a class="link_kli" href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Klienci</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/kontrahent/dodaj/">Dodaj klienta</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/kontrahent/lista/">Lista klientów</a></li>
                    <?php if ($this->obConfig->klienciGrupy): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/kontrahent/grupy/">Grupy klientów</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->opinieStrona): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/opinie/edytuj/">Komentarze</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->cv): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/cv/lista/">CV</a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->obConfig->asortyment): ?>
            <?php echo $this->render('const/menu_asortyment.phtml'); ?>
        <?php endif; ?>
        <?php if ($this->obConfig->importEksport): ?>
            <?php echo $this->render('const/menu_import_export.phtml'); ?>
        <?php endif; ?>
        <?php if ($this->obConfig->raporty): ?>
            <?php echo $this->render('const/menu_raporty.phtml'); ?>
        <?php endif; ?>

        <?php if ($this->obConfig->allegroZamowienia): ?>
            <li>
                <a class="link_zam" href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/aktualne/mode/allsystem/od/0">Zamówienia Allegro</a>
                <ul class="menu_2">
                    <?php if (false): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/dodajrecznie/">Dodaj nowe zamówienie</a></li>
                    <?php endif; ?>
                    <?php if (true && @count($this->typyZamowienAllegro) > 0): ?>
                        <?php foreach ($this->typyZamowienAllegro as $typNazwa => $typ): ?>
                            <?php if ($typNazwa == 'pobraniowe'): ?>
                                <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/pobraniowe/od/0">Pobraniowe</a></li>
                            <?php elseif ($typNazwa == 'allprowizja'): ?>
                                <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/aktualne/mode/<?= $typNazwa; ?>/od/0">Zwrot prowizji</a></li>
                            <?php else: ?>
                                <li>
                                    <a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/aktualne/mode/<?= $typNazwa; ?>/od/0"><?= ucfirst($typ['tytul']); ?></a>
                                </li>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>			
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/aktualne/mode/all/od/0">Wszystkie</a></li>
                    <?php if (true): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/aktualne/mode/allarchiwum/od/0">Archiwum</a></li>
                    <?php endif; ?>
                    <?php if (false): //glupi pomysl z rozdzielaniem na dwie tabele ; ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/tryb/archiwum/mode/all/od/0">Archiwum</a></li>
                    <?php endif; ?>
                    <?php if (true && $this->obConfig->kurierzy): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/paczka/utworz/tryb/allegro">Paczki do utworzenia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/paczka/lista/tryb/allegro">Lista gotowych przesyłek</a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>

        <?php if ($this->obConfig->allegro || $this->obConfig->eBay): ?>
            <li>
                <a class="link_all" href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/">Allegro</a>
                <ul class="menu_2">
                    <?php if ($this->obConfig->allegro): ?>
                        <?php if ($this->obConfig->allegroKonta): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrokonta/lista/">Lista kont Allegro</a></li>
                        <?php else: ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrokonta/edytuj/id/1">Edytuj konto Allegro</a></li>
                        <?php endif; ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/aukcjeall/">Produkty wystawione na Allegro</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/lista/">Lista aukcji pobrana z Allegro</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/wystaw/id/0">Ustawienia Allegro</a></li>
                        <?php if ($this->obConfig->allegroCenniki): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegrocenniki/dodaj/">Cenniki dostawy Allegro</a></li>
                        <?php endif; ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/szablon/index/index/id/0/rozm/0" target="_blank">Podgląd szablonu Allegro</a></li>
                        <?php if ($this->obConfig->allegroSzablony): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/szablony/">Lista szablonów Allegro</a></li>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/szablon/">Dodaj szablon Allegro</a></li>
                        <?php endif; ?>
                        <?php if ($this->obConfig->allegroKomentarze): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/komentarze/">Wystaw komentarze</a></li>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/komentarzewystawione/">Komentarze wystawione</a></li>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/komentarzeotrzymane/">Komentarze otrzymane</a></li>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/komentarze/lista/">Domyślne komentarze</a></li>
                        <?php endif; ?>
                        <?php if ($this->adminNazwa == 'bigcom'): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/importkategorie">Import kategorii Allegro</a></li>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/allegroprodukt/importpola">Import pola sprzedaży Allegro</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->eBay): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/ebayprodukt/lista/">Lista aukcji eBay</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/ebayprodukt/wystaw/id/0">Ustawienia eBay</a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if (false): ?>
            <li>
                <a class="link_sms" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Sms / <br /> Mailing</a>
            </li>
        <?php endif; ?>
        <?php if (false && $this->obConfig->lojalnosc): ?>
            <li>
                <a class="link_loj" href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/index/">Lojalność /<br/>Społeczność</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/index/">Ustawienia ogólne</a></li>
                    <!--<li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/dodaj/">Kupony rabatowe</a></li>-->
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/drzewo/klient/0">Struktura społeczności</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/lojalnosc/lista/">Lista klientów</a></li>
                    <?php for ($i = 0; $i < count($this->blokLojalnosc); $i++): ?>				
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/podstrony/edytuj/strona/<?php echo trim($this->blokLojalnosc[$i]['link']); ?>/"><?php echo $this->blokLojalnosc[$i]['tytul']; ?></a></li>			
                    <?php endfor; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if (false): ?>
            <li>
                <a class="link_rab" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Rabaty /<br /> Podwyżki</a>
            </li>
        <?php endif; ?>
        <?php if (false): ?>
            <li>
                <a class="link_goo" href="<?php echo $this->baseUrl; ?>/admin/index/panel/">Google<br /> Analytics</a>
            </li>
        <?php endif; ?>
        <?php if (true && $this->obConfig->kurierzy): ?>
            <li>
                <a class="link_prze" href="<?php echo $this->baseUrl; ?>/admin/platnosci/dostawyplatnosci/">Przesyłki</a>
                <ul class="menu_2">
                    <?php if (true && $this->obConfig->dostawyPlatnosci): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/platnosci/dostawyplatnosci/">Dostawy i płatności</a></li>
                    <?php endif; ?>			
                    <?php if (true && $this->obConfig->platnosciPL): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/online/edytuj/">PayU - ustawienia</a></li>
                    <?php endif; ?>
                    <?php if (true && $this->obConfig->przelewy24): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/przelewy24/index/">Przelewy24 - ustawienia</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->siodemka): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/siodemkaustawienia/">Siódemka - ustawienia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/siodemkadodaj/">Siódemka - ustawienia przesyłki</a></li>
                        <?php if (false): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/siodemka">Siódemka - przesyłki</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->pocztapolska): ?>
                        <?php if ($this->obConfig->pocztapolskaApi): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/ustawieniawebapi">Poczta Polska - konto</a></li>
                            <?php if (true): ?>
                                <li><a href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/dodajwebapi">Poczta Polska - ustawienia</a></li>
                            <?php endif; ?>
                            <?php if (false): ?>
                                <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/poczta">Poczta Polska - przesyłki</a></li>
                            <?php endif; ?>
                            <?php if (false): ?>
                                <li><a href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/bufor/">Poczta Polska - bufor</a></li>
                            <?php endif; ?>
                            <?php if (false): ?>
                                <li><a href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/wyslane/">Poczta Polska - wysłane</a></li>
                            <?php endif; ?>
                        <?php else: ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/edytuj/">Poczta Polska - ustawienia</a></li>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/pocztapolska/ksiazkanadawcza">Poczta Polska - książka</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->opek): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/opekustawienia/">OPEK - ustawienia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/opekdodaj/">OPEK - ustawienia przesyłki</a></li>
                        <?php if (false): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/opek">OPEK - przesyłki</a></li>
                        <?php endif; ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/opekraport">OPEK - raport dzienny</a></li>
                    <?php endif; ?>
                    <?php if ($this->obConfig->dpd): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dpdustawienia/">DPD - ustawienia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dpddodaj/">DPD - ustawienia przesyłki</a></li>
                        <?php if (false): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dpd">DPD - przesyłki</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->ups): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/upsustawienia/">UPS - ustawienia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/upsdodaj/">UPS - ustawienia przesyłki</a></li>
                        <?php if (false): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/ups">UPS - przesyłki</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->dhl): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dhlustawienia/">DHL - ustawienia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dhldodaj/">DHL - ustawienia przesyłki</a></li>
                        <?php if (false): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/dhl">DHL - przesyłki</a></li>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->obConfig->paczkomaty): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/inpostustawienia/">InPost - ustawienia</a></li>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/inpostdodaj">InPost - ustawienia przesyłki</a></li>
                        <?php if (false): ?>
                            <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/inpost">InPost - przesyłki</a></li>
                        <?php endif; ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/zamowienia/inpostpaczkomaty">InPost - paczkomaty</a></li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if (false && $this->obConfig->facebook): ?>
            <li>
                <a class="link_face" href="<?php echo $this->baseUrl; ?>/admin/facebook/index/id/1/">Facebook</a>
                <ul class="menu_2">
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/facebook/index/id/1">Ustawienia Facebook</a></li>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/facebook/lista/">Strony Facebook</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <li>
            <a class="link_ust" href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Ustawienia</a>
            <ul class="menu_2">
                <?php if (!$this->obConfig->kurierzy && $this->obConfig->dostawyPlatnosci): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/platnosci/dostawyplatnosci/">Dostawy i płatności</a></li>
                <?php endif; ?>
                <?php if (!$this->obConfig->kurierzy && $this->obConfig->platnosciPL): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/online/edytuj/">PayU - ustawienia</a></li>
                <?php endif; ?>			
                <?php if ($this->obConfig->otoMoto): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/otomoto/index/">Ustawienia otoMoto.pl</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->vat): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/platnosci/vat/">Stawki VAT</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->jednostki): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/jednostkimiary/dodaj/">Jednostki miary</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->sprzedawcy): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/wizytowka/lista/">Sprzedawcy</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->uzytkownicy && ($this->adminNazwa == 'admin' || $this->adminNazwa == 'bigcom')): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/edytuj/">Użytkownicy</a></li>
                    <?php if ($this->obConfig->zdarzeniauser): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/company/eventsglobal/">Zdarzenia użytkowników</a></li>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if ($this->obConfig->offline && in_array($_SERVER['HTTP_HOST'], $this->common->localhosts)): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/index/online/">Synchronizacja</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->daneFirmy): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/ustawienia/firma/">Dane firmy</a></li>
                <?php endif; ?>
                <li><a href="<?php echo $this->baseUrl; ?>/admin/ustawienia/edytuj/">Ustawienia panelu</a></li>
                <?php if ($this->obConfig->tlumaczenia): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/ustawienia/tlumaczenia/">Tłumaczenia</a></li>
                <?php endif; ?>
                <li><a href="<?php echo $this->baseUrl; ?>/admin/index/zmienhaslo/">Zmiana hasła administratora</a></li>
                <?php if ($this->obConfig->wiadomosciMail): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/wiadomosci/zmien/">Konfiguracja wiadomości e-mail</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->mail): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/confmail/edytuj/">Konfiguracja konta e-mail</a></li>
                <?php endif; ?>
                <?php if ($this->obConfig->sms): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/confsms/edytuj/">Konfiguracja konta sms</a></li>
                <?php endif; ?>
                <?php if (true && $this->obConfig->facebook): ?>
                    <?php if ($this->obConfig->facebookPostProdukt): ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/facebook/lista/">Strony Facebook</a></li>
                    <?php else: ?>
                        <li><a href="<?php echo $this->baseUrl; ?>/admin/facebook/index/id/1">Ustawienia Facebook</a></li>
                    <?php endif; ?>
                <?php endif; ?>
                <?php if ($this->obConfig->youtube): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/youtube/index/">Ustawienia Youtube</a></li>
                <?php endif; ?>
                <?php if ($this->adminNazwa == 'bigcom' || $this->adminNazwa == 'superuser'): ?>
                    <li><a href="<?php echo $this->baseUrl; ?>/admin/table/table/">Tabele w bazie</a></li>
                <?php endif; ?>
            </ul>
        </li>
    </ul>

<?php endif;
if ($this->zakladka_admin == 3): ?>

    <div class="menu_text">Musisz zmienić hasło:</div>

<?php elseif ($this->zakladka_admin == 4): ?>

    <div class="menu_text">Musisz podać swój adres e-mail i tytuł wiadomości:</div>

<?php elseif (empty($this->zakladka_admin)): ?>

    <div class="menu_text">Wybierz system zarządzania, do którego chcesz przejść:</div>

<?php endif; ?>