<select name="zadania" id="zadania" class="szadania<?=$this->z1;?>" onchange="$('select.szadania<?=$this->z2;?>').attr('disabled', 'disabled');zamowListaOpcjeAllWiecejAll(this, '<?php echo $this->baseUrl; ?>', '<?=$this->mode?>');" onfocus="$(this).find('option').first().css('display', 'none');" onblur="$(this).find('option').first().css('display', 'inline');" tabindex="-1">
<option value="wiecej">Operacje hurtowe</option>
<?php if ($this->tryb === 'aktualne' || $this->tryb === 'pobraniowe'){ ?>
	
	<?php if(true): ?>
	<option value="drukuj">Drukuj</option>
	<?php endif; ?>
	<?php if(false): ?>
	<option value="drukuj_przesylka_pobraniowa">Drukuj przesyłki pobraniowe</option>
	<?php endif; ?>
	
	<?php if(false && $this->obConfig->pocztaPolska): ?>
	<option value="poczta_polska_hurtem">Poczta Polska hurtem</option>
	<?php endif; ?>
	<?php if(false && $this->obConfig->fedex): ?>
	<option value="fedex_hurtem">Fedex hurtem</option>
	<?php endif; ?>
	
	<?php if(false): ?>
	<option value="nalepki">Naklejki adresowe</option>
	<?php endif; ?>	
	<?php if(false && $this->obConfig->pocztaPolska): ?>
	<option value="nalepki_nierejestrowane">Naklejki Poczta Polska nierejestrowane</option>
	<?php endif; ?>	
	
	<?php if(false): ?>
	<option value="wyslij_info">Wyślij informacje</option>
	<?php endif; ?>	
	
	<option value="nowe1" >Zmień status - Nowe</option>
	<?php if(true){ ?>
	<option value="oczekujace1" >Zmień status - Oczekujące</option>
	<?php } ?>
	<option value="realizacja1" >Zmień status - W realizacji</option>
	<?php if(false){ ?>
	<option value="wyslane1" >Zmień status - Wysłane</option>
	<?php } ?>
	<option value="koniec1" >Zmień status - Zrealizowane</option>
	<?php if(false): ?>
	<option value="prowizja1" >Zmień status - Zwrot prowizji</option>
	<?php endif; ?>
	
	<?php if(false){ ?>
	<option value="anulowane1" >Zmień status - Anulowane</option>
	<option value="zwroty1" >Zmień status - Zwroty towaru</option>
	<option value="niedokonczone1" >Zmień status - Niedokończone</option>
	<?php } ?>
	
	<option value="paczki_allegro" >Stwórz paczki</option>
	<option value="doarchiwum1" >Do archiwum</option>
	<option value="usunnazawsze" >Usuń na zawsze</option>
	
<?php if(false) { //glupi pomysl z rozdzielaniem na dwie tabele ?>	
	<option value="usuniete1" >Do Archiwum</option>
<?php } elseif($this->tryb === 'archiwum') {?>
	<option value="usunnazawsze" >Usuń na zawsze</option>
<?php } ?>
<?php } ?>
</select>