<select name="zadania" id="zadania" class="szadania2" onchange="$('select.szadania').attr('disabled', 'disabled');zamowListaOpcjeAllWiecejAll(this, '<?php echo $this->baseUrl; ?>', '<?=$this->mode?>');" onfocus="$(this).find('option').first().css('display', 'none');" onblur="$(this).find('option').first().css('display', 'inline');" tabindex="-1">
				<option value="wiecej">Operacje hurtowe</option>
<?php if ($this->tryb === 'aktualne' || $this->tryb === 'pobraniowe'){ ?>

					<option value="drukuj">Drukuj</option>
					<option value="drukuj_przesylka_pobraniowa">Drukuj przesyłki pobrniowe</option>
					<option value="poczta_polska_hurtem">Poczta Polska hurtem</option>
					<option value="fedex_hurtem">Fedex hurtem</option>
					
					<option value="nalepki">Naklejki adresowe</option>
					<option value="nalepki_nierejestrowane">Naklejki Poczta Polska nierejestrowane</option>
					<option value="wyslij_info">Wyślij informacje</option>
					<option value="nowe1" >Zmień status - Nowe</option>
					<option value="realizacja1" >Zmień status - W realizacji</option>
					<?php if(false){ ?>
					<option value="wyslane1" >Zmień status - Wysłane</option>
					<?php } ?>
					<option value="koniec1" >Zmień status - Zrealizowane</option>
					<option value="prowizja1" >Zmień status - Zwrot prowizji</option>
					
					<?php if(false){ ?>
					<option value="anulowane1" >Zmień status - Anulowane</option>
					<option value="zwroty1" >Zmień status - Zwroty towaru</option>
					<option value="niedokonczone1" >Zmień status - Niedokończone</option>
					<?php } ?>
					<option value="doarchiwum1" >Do archiwum</option>
					<option value="usunnazawsze" >Usuń na zawsze</option>
	<?php if(false) { //glupi pomysl z rozdzielaniem na dwie tabele ?>	
		<option value="usuniete1" >Do Archiwum</option>
<?php } elseif($this->tryb === 'archiwum') {?>
		<option value="usunnazawsze" >Usuń na zawsze</option>
<?php } ?>
<?php } ?>
			</select>