<?php if(@count($this->paramsOne) > 0): ?>
			
<?php $i=1; foreach($this->paramsOne as $par): ?>

<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>

<tr class="<?php echo $style;?> par par<?php echo $this->paramOne['id_param'];?>" id="rowPos_<?php echo $par['id'];?>">

	<td>
		<?php echo $this->paramOne['nazwa']; ?>&nbsp;&gt;&nbsp;<?php echo $par['nazwa']; ?>
	</td>
	<?php if($this->obConfig->parametryZdjecia): ?>
	<td class="first img">   
		<img src="<?php echo $this->baseUrl.'/public/admin/parametry/'.$par['img']; ?>" alt="" style="max-width:100px; max-height:80px;" />
	</td>
	<?php endif; ?>
	<td align="center">
		<span class="ico_drag"></span>
	</td>
	<?php if(false): ?>
	<td align="center">
		<input class="position_text" type="text" value="<?php echo $par['pozycja'];?>" />
		<a title="Poz" class="button2" href="javascript:void(0);" rel="" onclick="window.location='<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parPoz/<?php echo $par['id']; ?>/poz/' + $(this).parent().find('.position_text').val()+'#zakladkaParams';">Pozycja</a>
	</td>
	<?php endif; ?>
	<td align="center">
		<a title="Zmień widoczność" class="<?php echo @intval($par['widoczny']) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/parShow/<?php echo $par['id']; ?>/widoczny/<?php echo @intval(!$par['widoczny']); ?>#zakladkaParams">Pokaż</a>
	</td>
	<td align="center">	
		<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parEdit/<?php echo $par['id']; ?>#zakladkaParams">Edytuj</a>
	</td>
	<td align="center">
		<?php if(false && $this->edycjazablokowana === false): ?>
		<input type="checkbox" name="usunpar[<?php echo $par['id'];?>]" value="<?php echo $par['id'];?>" class="checkbox" style="float:none;" />
		<?php endif; ?>
		<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parDel/<?php echo $par['id']; ?>#zakladkaParams">Usuń</a>					
	</td>
</tr>

<?php $i++; endforeach; ?>
		
<script type="text/javascript">
$(document).ready(function()
{
	if(false)
	$(".foto_box").sortable(
	{
		opacity: 0.6, 
		cursor: 'move', 
		items: "tr.par<?php echo $this->paramOne['id_param'];?>",
		update: function(event, ui) 
		{
			var id = $(ui.item).attr('id');
			var order = $(this).sortable("serialize") + '&table=parametry'
			$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(res)
			{
				location.reload();
			});
		}
	});
});
</script>

<?php endif; ?>