<div class="box_foto_product" id="zakladkaParametry">
	<a name="zakladkaParams">&nbsp;</a>
	<div class="form_title"><h2 class="title4">Opcje dodatkowe:</h2></div>
	<!--Dodawanie-->
	<div class="button_toggle">
		<a class="add silver m_linki" onclick="$('#params').toggle();" href="javascript:void(0);">Dodaj opcje</a>
	</div>
	<div id="params" class="dn">
		<div class="form_title"><h2 class="title4">Dodaj opcje</h2></div>
		<div class="form_row">
			<label class="">Nazwa:</label>
			<div class="input_bg w1">
				<input type="text" name="params[nazwa]" value="" />
			</div>
		</div>
		<?php if($this->obConfig->parametryOpis): ?>
		<div class="form_row">
			<label class="">Opis:</label>
			<div class="input_bg w1">
				<?php echo $this->paramsEdytor; ?>
			</div>
		</div>
		<?php endif; ?>
	</div>
	
	<?php if($this->obConfig->parametryRodzaje && @count($this->parametry) > 0): ?>
	<div class="button_toggle">
		<a class="add silver m_linki" onclick="$('#paramsOne').toggle();" href="javascript:void(0);">Dodaj rodzaj</a>
	</div>
	<div id="paramsOne" class="dn">
		<div class="form_title"><h2 class="title4">Dodaj rodzaj</h2></div>
		<div class="form_row">
			<label class="">Opcja:</label>
			<div class="input_bg w1">
				<select name="paramsOne[id_param]">
				<?php foreach($this->parametry as $param): ?>
				<option value="<?php echo $param['id_param']; ?>"><?php echo $param['nazwa']; ?></option>
				<?php endforeach; ?>
				</select>
			</div>
		</div>
		<div class="form_row">
			<label class="">Nazwa:</label>
			<div class="input_bg w1">
				<input type="text" name="paramsOne[nazwa]" value="" />
			</div>
		</div>
		<?php if($this->obConfig->parametryZdjecia): ?>
		<div class="form_row">
			<label class="">Zdjęcie:</label>
			<div class="input_bg w1">
				<input type="file" name="paramsOne" />
			</div>
		</div>
		<?php endif; ?>
		<?php if($this->obConfig->parametryOpis): ?>
		<div class="form_row">
			<label class="">Opis:</label>
			<div class="input_bg w1">
				<?php echo $this->paramsOneEdytor; ?>
			</div>
		</div>
		<?php endif; ?>
	</div>
	<?php endif; ?>
</div>

<?php if(@count($this->param) > 0 && @intval($this->param['id_atryb']) == 0): ?>
<div class="box_edit" id="param">
	<input type="hidden" name="param[id]" value="<?php echo $this->param['id'];?>"/>
	<div class="form_title"><h2 class="title4">Edytuj opcje</h2></div>
	<div class="form_row">
		<label class="">Nazwa:</label>
		<div class="input_bg w1">
			<input type="text" name="param[nazwa]" value="<?php echo $this->param['nazwa'];?>" />
		</div>
	</div>
	<?php if($this->obConfig->parametryOpis): ?>
	<div class="form_row">
		<label class="">Opis:</label>
		<div class="input_bg w1">
			<?php echo $this->paramEdytor; ?>
		</div>
	</div>
	<?php endif; ?>	
	<?php if($this->edycjazablokowana === false): ?>
	<div class="button_form m2">
		<div class="button1">
			<input type="submit" name="param[zmienNazweParam]" value="Zapisz" />	
		</div>
	</div>
	<?php endif; ?>	
</div>
<?php endif; ?>

<?php if(@count($this->param) > 0 && @intval($this->param['id_atryb']) > 0): ?>
<div class="box_edit" id="paramOne">
	<input type="hidden" name="paramOne[id]" value="<?php echo $this->param['id'];?>"/>
	<div class="form_title"><h2 class="title4">Edytuj opcje</h2></div>
	<div class="form_row">
		<label class="">Opcja:</label>
		<div class="input_bg w1">
			<?php echo $this->param['param']; ?>
		</div>
	</div>
	<div class="form_row">
		<label class="">Nazwa:</label>
		<div class="input_bg w1">
			<input type="text" name="paramOne[nazwa]" value="<?php echo $this->param['nazwa'];?>" />
		</div>
	</div>
	<?php if($this->obConfig->parametryZdjecia): ?>
	<div class="form_row">
		<label class="">Zdjęcie:</label>
		<div class="input_bg w1">
			<input type="file" name="paramOne" />
		</div>
	</div>
	<?php endif; ?>
	<?php if($this->obConfig->parametryOpis): ?>
	<div class="form_row">
		<label class="">Opis:</label>
		<div class="input_bg w1">
			 <?php echo $this->paramOneEdytor; ?>
		</div>
	</div>
	<?php endif; ?>	
	<?php if($this->edycjazablokowana === false): ?>
	<div class="button_form m2">
		<div class="button1">
			<input type="submit" name="paramOne[zmienNazweParam]" value="Zapisz" />	
		</div>
	</div>
	<?php endif; ?>	
</div>
<?php endif; ?>

<!--Lista zdjec-->
<?php if(@count($this->parametry) > 0): ?>

<div class="box_foto_product">
	<div class="form_title"><h2 class="title4">Opcje:</h2></div>
	<div class="box_foto_product">
		<table class="foto_box" id="paramsTable">
			<colgroup>
				<col width="40%"/>
				<?php if($this->obConfig->parametryZdjecia): ?>
				<col width="20%"/>
				<?php endif; ?>
				<col width="10%"/>
				<col width="10%"/>
				<col width="10%"/>
				<col width="10%"/>
			</colgroup>
			<thead>
			<tr>
				<th>Nazwa</th>
				<?php if($this->obConfig->parametryZdjecia): ?>
				<th>Zdjęcie</th>
				<?php endif; ?>
				<th>Pozycja</th>
				<th>Widoczny</th>
				<th>Edytuj</th>
				<th>Usuń</th>
			</tr>
			</thead>
			
			<tbody>
			
			<?php $i=1; foreach($this->parametry as $par): ?>
			
			<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
			
			<tr class="<?php echo $style;?> par0 par<?php //echo $par['glowne'];?>" id="rowPos_<?php echo $par['id'];?>">
			
				<td>
					<b><?php echo $par['nazwa']; ?></b>
				</td>
				<?php if($this->obConfig->parametryZdjecia): ?>
				<td>
					<?php //echo $par['img']; ?>
				</td>
				<?php endif; ?>
				<td align="center">
					<span class="ico_drag"></span>
				</td>
				<?php if(false): ?>
				<td align="center">
					<input class="position_text" type="text" value="<?php echo $par['pozycja'];?>" />
					<a title="Poz" class="button2" href="javascript:void(0);" rel="" onclick="window.location='<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parPoz/<?php echo $par['id']; ?>/poz/' + $(this).parent().find('.position_text').val()+'#zakladkaParams';">Pozycja</a>
				</td>
				<?php endif; ?>
				<td align="center">
					<a title="Zmień widoczność" class="<?php echo @intval($par['widoczny']) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/parShow/<?php echo $par['id']; ?>/widoczny/<?php echo @intval(!$par['widoczny']); ?>#zakladkaParams">Pokaż</a>
				</td>
				<td align="center">	
					<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parEdit/<?php echo $par['id']; ?>#zakladkaParams">Edytuj</a>
				</td>
				<?php if(false): ?>
				<td align="center">	
					<a title="Dodaj" class="add_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parAdd/<?php echo $par['id_param']; ?>#zakladkaParams">Dodaj</a>
				</td>
				<?php endif; ?>
				<td align="center">
					<?php if(false && $this->edycjazablokowana === false): ?>
					<input type="checkbox" name="usunpar[<?php echo $par['id'];?>]" value="<?php echo $par['id'];?>" class="checkbox" style="float:none;" />
					<?php endif; ?>
					<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/parDelAll/<?php echo $par['id_param']; ?>#zakladkaParams">Usuń</a>					
				</td>
			</tr>
			
			<?php if(@count($this->parametryAll[$par['id_param']]) > 0): ?>
				<?php $this->paramOne = $par; ?>
				<?php $this->paramsOne = $this->parametryAll[$par['id_param']]; ?>
				<?php echo $this->render('const/param.phtml'); ?>
			<?php endif; ?>
			
			<?php $i++; endforeach; ?>

			</tbody>
		
		</table>
		
		<script type="text/javascript">
		$(document).ready(function()
		{
			//if(false)
			$("#paramsTable").sortable(
			{
				opacity: 0.6, 
				cursor: 'move', 
				items: "tr.par",
				update: function(event, ui) 
				{
					var id = $(ui.item).attr('id');
					var order = $(this).sortable("serialize") + '&table=parametry'
					$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(res)
					{
						location.reload();
					});
				}
			});
		});
		</script>
		
		<?php if(false && $this->edycjazablokowana === false): ?>
		<div class="button_form m2" style="float:right;">
			<div class="button1">
				<input type="submit" name="usunparams" value="Usuń zaznaczone" />	
			</div>
		</div>
		<?php endif; ?>
		<br />
		<?php if(false): ?>
		<img class="lf" src="<?php echo $this->baseUrl;?>/public/images/admin/ikony/gwiazdka.png" alt="params glowne" title="PARAMS GŁÓWNE" />
		<span class="etykiety_ikonek"> oznacza parametr główny</span>
		<?php endif; ?>
	</div>
	
</div>
<?php endif; ?>