<div id="rozwiniete_prawe_menu" class="right_menu">
	<ul class="r_menu">
		<li>
			<a class="r_glowna" target="_blank" href="<?php echo $this->baseUrl;?>/">
				Strona www
			</a>
		</li>
		<?php if(strlen($this->r_pokaz) > 0): ?>
			<li>
				<a class="r_pokaz" target="_blank" href="<?php echo $this->baseUrl;?>/<?php echo $this->r_pokaz;?>">
					Pokaż na stronie
				</a>
			</li>
		<?php endif; ?>
		<?php if(strlen($this->r_zobacz) > 0): ?>
			<li>
				<a class="r_pokaz" target="_blank" href="<?php echo $this->r_zobacz;?>">
					Zobacz
				</a>
			</li>
		<?php endif; ?>
		<?php if(strlen($this->r_zapisz) > 0): ?>
		<?php if($this->edycjazablokowana === false): ?>
			<li>
				<a class="r_zapisz" onclick="$('#<?php echo $this->r_zapisz;?>').trigger('click');">
					Zapisz
				</a>
			</li>
		<?php endif; ?>
		<?php endif; ?>
		<?php if(strlen($this->r_dodaj) > 0): ?>
		<?php if($this->edycjazablokowana === false): ?>
			<li>
				<a class="r_dodaj" href="<?php echo $this->baseUrl;?>/<?php echo $this->r_dodaj;?>">
					Dodaj
				</a>
			</li>
		<?php endif; ?>
		<?php endif; ?>
		<?php if(strlen($this->r_usun) > 0): ?>
		<?php if($this->edycjazablokowana === false): ?>
			<li>
				<a class="r_usun" href="<?php echo $this->baseUrl;?>/<?php echo $this->r_usun;?>" onclick="return window.confirm('Czy na pewno chcesz usunąć ?');">
					Usuń
				</a>
			</li>
		<?php endif; ?>
		<?php endif; ?>
		<?php if(strlen($this->r_lista) > 0): ?>
			<li>
				<a class="r_wroc" href="<?php echo $this->baseUrl;?>/<?php echo $this->r_lista;?>">
					Wróć do listy
				</a>
			</li>
		<?php endif; ?>
		<?php if(strlen('jest') > 0): ?>
			<li>
				<a class="r_do_gory" href="#top">
					Do góry
				</a>
			</li>
		<?php endif; ?>
	</ul>
	<span onclick="$('#rozwiniete_prawe_menu').toggle('slow');" class="r_zwin"></span>
</div>
<div class="right_menu_off">
	<span onclick="$('#rozwiniete_prawe_menu').toggle('slow');" class="r_rozwin"></span>
</div>