	<?php if($this->strony>1) { ?>
    	<div class="box_pager clear">
        <?php
          $ilosc = 9999;
          $pierwszy =  $this->strona - round($ilosc/2);
          if(($pierwszy + $ilosc) > $this->strony-1) $pierwszy = $this->strony-$ilosc;
          if($pierwszy < 0) $pierwszy = 0;
          $petla = $ilosc;
          if($petla>$this->strony) $petla = $this->strony;
        ?>
		
		<?php if($this->strona > 0) { ?>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/<?php echo $this->strona-1; ?>" id="prev">&lt;&lt;&lt;</a>
		<?php }else{ ?>
        <a href="#" id="prev" style="visibility:hidden;">&lt;&lt;&lt;</a>
        <?php } ?>
		
        <?php if($this->strona == 0) { ?>
           <a id="first" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/0" class="link_stronicowanie">1</a>
        <?php }else{ ?>
           <a id="first" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/0" class="link_stronicowanie">1</a>
        <?php } ?>
			<a class="link_nieaktywny_stronicowanie">...</a>
        <?php if(($pierwszy+1)!=1) {?>
           <div class="link_stronicowanie" style="display:none;">...</div>
        <?php } ?>
        <?php $i=0;for($s=(6*floor($this->strona/6));$s<$petla;$s++) { if($i>5)break; $i++; ?>
            <?php if($this->strona == $s+$pierwszy) { ?>
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/<?php echo ($pierwszy+$s); ?>" class="link_aktywny_stronicowanie"><?php echo ($pierwszy+$s)+1; ;?></a>
            <?php }else{ ?>
                <a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/<?php echo ($pierwszy+$s); ?>" class="link_stronicowanie"><?php echo ($pierwszy+$s)+1; ;?></a>
            <?php } ?>
        <?php } ?>
        <?php if(($pierwszy+$ilosc-1)!=$this->strony-1&&$this->strony>$ilosc) {?>
           <div class="link_stronicowanie" style="display:none;">...</div>
        <?php } ?>
			<a class="link_nieaktywny_stronicowanie">...</a>
        <?php if($this->strona == $this->strony-1) { ?>
           <a id="last" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/<?php echo $this->strony-1; ?>" class="link_stronicowanie"><?php echo $this->strony; ?></a>
        <?php }else{ ?>
           <a id="last" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/<?php echo $this->strony-1; ?>" class="link_stronicowanie"><?php echo $this->strony; ?></a>
        <?php } ?>
		
		<?php if($this->strona < $this->strony-1) { ?>
		<a href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/od/<?php echo $this->strona+1; ?>" id="next">&gt;&gt;&gt;</a>
		<?php }else{ ?>
        <a href="#" id="next" style="visibility:hidden;">&gt;&gt;&gt;</a>
        <?php } ?>
		
        </div>
    <?php } ?>
