<?php if(true): ?>

$('input[name=uploadedfile]').uploadify(
{
	'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
	'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php',
	'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
	'folder'    : '<?php echo $this->baseUrl; ?>/public/<?php echo @$this->folder; ?>',
	'auto'      : true,
	'multi'		: false,
	'removeCompleted' : false,
	'buttonText' : 'Wybierz',
	//'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/przegladaj.png',
	'width' : 120,
	'height' : 34,
	'wmode'		: 'transparent',
	'fileExt'   : '<?php echo @strval($this->rozsz['name']); ?><?php echo @strval($this->rozsz2['name']); ?>',
	'fileDesc'    : '<?php echo @strval($this->rozsz['desc']); ?><?php echo @strval($this->rozsz2['desc']); ?>',
	//'sizeLimit'   : 2 * 1024 * 1024,
	'simUploadLimit' : 1,
	'queueSizeLimit' : 1,
	'onComplete'  : function(event, ID, fileObj, response, data) 
	{
		$('#file').val(response);
		//alert(response);
	},
	'onCancel'  : function(event, ID, fileObj, response, data) 
	{
		$('#file').val('');
		//alert(response);
	}
});

if(true)
$('#zakladkaGaleria #box_display1 #filesToUpload').uploadify(
{
	'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
	'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php',
	'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
	'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/zdjecia',
	'auto'      : true,
	'multi'		: true,
	'removeCompleted' : false,
	'buttonText' : 'Wybierz',
	//'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/przegladaj.png',
	'width' : 120,
	'height' : 34,
	'wmode'		: 'transparent',
	'fileExt'   : '*.jpg;*.jpeg;*.pjpg;*.pjpeg;*.png;*.gif',
	'fileDesc'    : 'Zdjęcia (*.jpg; *.png; *.gif)',
	'sizeLimit'   : 4 * 1024 * 1024,
	'simUploadLimit' : 1,
	//'queueSizeLimit' : 1,
	'onSelect'  : function(event, ID, fileObj, data)
	{
		$("#filesToUploadQueue").sortable({ opacity: 0.6, cursor: 'move'});
	},
	'onComplete'  : function(event, ID, fileObj, response, data) 
	{
		var img = '<img src="<?php echo $this->baseUrl;?>/public/admin/zdjecia/' + response + '" alt="" />';
		var zdj = '<div class="file"><span class="thumbnail">'+img+'<span>'+img+'<br/></span></span></div>';
		$('#filesToUpload'+ID).prepend(zdj);
		var opis = '<div class="opis"><br/>Opis <input type="text" name="images[]" value="" /></div>';
		$('#filesToUpload'+ID).append(opis);
		$('#filesToUpload'+ID).append('<input type="hidden" name="img[]" value="'+response+'" />');
		$('#filesToUpload'+ID).append('<span class="ico_drag"></span>');
	},
	'onCancel'  : function(event, ID, fileObj, response, data) 
	{
		//alert(response);
	}
});

<?php if($this->obConfig->atrybutyZdjecia): ?>
$('#atrybuty input[type=file]').each(function()
{
	var id = $(this).attr('id');
	var name = $(this).prev().attr('name');
	var id0 = $(this).prev().attr('id').replace(id+'_ID_', '');
	$(this).uploadify(
	{
		'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
		'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php',
		'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
		'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/zdjecia',
		'auto'      : true,
		'multi'		: false,
		'removeCompleted' : false,
		//'buttonText' : 'Wybierz',
		'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/agile/przegladaj-a.png',
		'width' : 93,
		'height' : 22,
		'wmode'		: 'transparent',
		'fileExt'   : '*.jpg;*.jpeg;*.pjpg;*.pjpeg;*.png;*.gif',
		'fileDesc'    : 'Zdjęcia (*.jpg; *.png; *.gif)',
		'sizeLimit'   : 4 * 1024 * 1024,
		'simUploadLimit' : 1,
		//'queueSizeLimit' : 1,
		'onInit'   : function(instance)
		{
			//alert($('#'+id+'Queue').size());
		},
		'onSelect'  : function(event, ID, fileObj, data)
		{
			//alert('#'+id+''+ID);
			//$('#'+id+'Queue').remove();
			$('#'+id+'_ID_'+id0).remove();
			$('#'+id+id0).remove();
		},
		'onComplete'  : function(event, ID, fileObj, response, data) 
		{
			var path = '<?php echo $this->baseUrl;?>/public/admin/zdjecia';
			$('#'+id+''+ID).parent().parent().find('.img > img').attr('src', path + '/' + response);
			$('#'+id+''+ID).parent().parent().find('.thumbnail img').attr('src', path + '/' + response);
			$('#'+id+''+ID).append('<input type="hidden" id="'+id+'_ID_'+ID+'" name="'+name+'" value="'+response+'" />');
			//$('#'+id+'_ID_'+ID).val(response);
		},
		'onCancel'  : function(event, ID, fileObj, response, data) 
		{
			var path = '<?php echo $this->baseUrl;?>/public/admin/zdjecia';
			if(ID == id0)
			{
				$('#'+id+''+ID).parent().find('.img > img').attr('src', path + '/brak.jpg');
				$('#'+id+''+ID).parent().find('.thumbnail img').attr('src', path + '/brak.jpg');
			}
			else
			{
				$('#'+id+''+ID).parent().parent().find('.img > img').attr('src', path + '/brak.jpg');
				$('#'+id+''+ID).parent().parent().find('.thumbnail img').attr('src', path + '/brak.jpg');
			}
			$('#'+id+'_ID_'+ID).val('');
		}
	});
});
<?php endif; ?>

$('#zalaczniki').uploadify(
{
	'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
	'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php?old=1',
	'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
	'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/zalaczniki',
	'auto'      : true,
	'multi'		: true,
	'removeCompleted' : false,
	'buttonText' : 'Wybierz',
	//'buttonImg'   : '<?php echo $this->baseUrl; ?>/public/images/admin/przegladaj.png',
	'width' : 120,
	'height' : 34,
	'wmode'		: 'transparent',
	'fileExt'   : '*.*',
	'fileDesc'    : 'Wszystkie pliki (*.*)',
	//'sizeLimit'   : 2 * 1024 * 1024,
	'simUploadLimit' : 1,
	'queueSizeLimit' : 1,
	'onCancel'  : function(event, ID, fileObj, data)
	{
		$('#file'+ID).remove();
	},
	'onComplete'  : function(event, ID, fileObj, response, data) 
	{
		var file = '<input type="hidden" id="file'+ID+'" name="pliki['+ID+']" value="'+response+'" />';
		$('#files').append(file);
	}
});
<?php if(@is_array($this->pliki) && @count($this->pliki) > 0): ?>
var objectID = 'zalaczniki';
<?php foreach($this->pliki as $fileID => $file): ?>
<?php $path = 'public/admin/zalaczniki/'.$file; ?>
var fileID = '<?php echo $fileID; ?>';
var item = '';
item = item + '<div id="' + objectID + fileID + '" class="uploadifyQueueItem completed">';
item = item + '<div class="cancel">';
item = item + '<a href="javascript:jQuery(\'#' + objectID + '\').uploadifyCancel(\'' + fileID + '\')">';
item = item + '<img src="<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png">';
item = item + '</a>';
item = item + '</div>';
item = item + '<a class="fileName" href="<?=$this->baseUrl.'/'.$path;?>" target="_blank">';
item = item + '<?php echo mb_substr($file, 0, 20, 'UTF-8'); ?>';
<?php if(mb_strlen($file, 'UTF-8') > 20): ?>item = item + '...';<?php endif; ?>
<?php if(($size = @filesize('../'.$path)) > 0): $jedn = 'B'; ?>
<?php if($size > 1024) { $size /= 1024; $jedn = 'KB'; } ?>
<?php if($size > 1024) { $size /= 1024; $jedn = 'MB'; } ?>
item = item + '&nbsp;(<?php echo round($size, 2); ?> <?php echo $jedn; ?>)';
<?php endif; ?>
item = item + '</a>';
item = item + '<span class="percentage"></span>';
item = item + '</div>';
$('#' + objectID + 'Queue').append(item);
var file = '<input type="hidden" id="file'+fileID+'" name="pliki['+fileID+']" value="<?php echo $file; ?>" />';
$('#files').append(file);
<?php endforeach; ?>
<?php endif; ?>

<?php if($this->obConfig->allegroSzablony): ?>
$('#szablonnowy').uploadify(
{
	'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
	'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadifyallegro.php',
	'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
	'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/szablony/',
	'auto'      : true,
	'multi'		: false,
	'removeCompleted' : false,
	'buttonText' : 'Wybierz',
	'fileExt'   : '*.htm;*.html',
	'fileDesc'    : 'Pliki HTML (.htm, .html)',
	'onSelectOnce' : function(event, ID, fileObj, response, data) 
	{
		alert('Po poprawnym załadowaniu szablonu poczekaj na przeładowanie strony');
	},
	'onComplete'  : function(event, ID, fileObj, response, data) 
	{
		$('#szablonfile').val(response);
		$('#jQuery_zapisz_btn').trigger('click');
	}
});
$('#imgszablon').uploadify(
{
	'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
	'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadifyallegro.php',
	'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
	'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/szablony/<?php echo @$this->file.'_pliki';?>',
	'auto'      : true,
	'multi'		: true,
	'removeCompleted' : true,
	'buttonText' : 'Wybierz',
	'fileExt'   : '*.jpg;*.jpeg;*.png;*.gif;*.css',
	'fileDesc'    : 'Pliki JPG, PNG, GIF, CSS (.jpg, .jpeg, .png, .gif, .css)',
	'onSelectOnce' : function(event, ID, fileObj, response, data) 
	{
		alert('Po poprawnym załadowaniu plików poczekaj na przeładowanie strony');
	},
	'onAllComplete'  : function(event, ID, fileObj, response, data) 
	{
		window.location.reload();
	}
});
<?php endif; ?>

<?php if($this->ImageDir->uploadWatermark): ?>
$('#watermark').uploadify(
{
	'uploader'  : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify.swf',
	'script'    : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/uploadify2.php?name=watermark.png',
	'cancelImg' : '<?php echo $this->baseUrl; ?>/public/scripts/jquery.uploadify/cancel.png',
	'folder'    : '<?php echo $this->baseUrl; ?>/public/admin/watermark',
	'auto'      : true,
	'multi'		: false,
	'removeCompleted' : true,
	'buttonText' : 'Wybierz',
	'width' : 120,
	'height' : 34,
	'wmode'		: 'transparent',
	'fileExt'   : '*.jpg;*.jpeg;*.pjpg;*.pjpeg;*.png;*.gif',
	'fileDesc'    : 'Zdjęcia (*.jpg; *.png; *.gif)',
	//'sizeLimit'   : 2 * 1024 * 1024,
	'simUploadLimit' : 1,
	'queueSizeLimit' : 1,
	'onComplete'  : function(event, ID, fileObj, response, data) 
	{
		var src = $('#watermark_img').attr("src");
		$("#watermark_img").removeAttr('src').attr("src", src + "?t=" + Math.floor(Math.random()*1000));
	},
	'onCancel'  : function(event, ID, fileObj, response, data) 
	{
		//console.log(response);
	}
});
<?php endif; ?>

<?php endif; ?>