<div class="box_foto_product" id="zakladkaVideo">
	<div class="form_title"><h2 class="title4">Video:</h2></div>
	<!--Dodawanie-->
	<div class="button_toggle">
		<a class="add silver m_linki" onclick="$('#videos').toggle();" href="javascript:void(0)">Dodaj video</a>
	</div>
	<div id="videos" class="dn">
		<div class="form_title"><h2 class="title4">Dodaj video</h2></div>
		<div class="form_row">
			<label class="">Nazwa:</label>
			<div class="input_bg w1">
				<input type="text" name="videos[nazwa]" value="" />
			</div>
		</div>
		<div class="form_row">
			<label class="required">Adres WWW</label>
			<div class="input_bg w1">
				<input type="text" name="videos[www]" value="" /><br/>
				(w formacie http://www.youtube.com/v/abcdefghijk)
			</div>
		</div>
		<div class="form_row">
			<label class="">Opis:</label>
			<div class="input_bg w1">
				 <textarea name="videos[opis]"></textarea>
			</div>
		</div>
	</div>
</div>

<?php if(@count($this->video) > 0): ?>
<div class="box_edit" id="video">
	<input type="hidden" name="video[id]" value="<?php echo $this->video['id'];?>"/>
	<div class="form_title"><h2 class="title4">Edytuj video</h2></div>
	<div class="form_row">
		<label class="">Nazwa:</label>
		<div class="input_bg w1">
			<input type="text" name="video[nazwa]" value="<?php echo $this->video['nazwa'];?>" />
		</div>
	</div>
	<div class="form_row">
		<label class="required">WWW:</label>
		<div class="input_bg w1">
			<input type="text" name="video[www]" value="<?php echo $this->video['www'];?>" />
			<br/>(w formacie http://www.youtube.com/v/abcdefghijk)
		</div>
	</div>
	<div class="form_row">
		<label class="">Opis:</label>
		<div class="input_bg w1">
			 <textarea name="video[opis]"><?php echo stripslashes($this->video['opis']);?></textarea>
		</div>
	</div>
	<?php if($this->edycjazablokowana === false): ?>
	<div class="button_form m2">
		<div class="button1">
			<input type="submit" name="video[zmienNazweVideo]" value="Zapisz" />	
		</div>
	</div>
	<?php endif; ?>	
</div>	
<?php endif; ?>

<!--Lista zdjec-->
<?php if(@count($this->videos) > 0): ?>
<a name="zakladkaVideo">&nbsp;</a>

<div class="box_foto_product">
	<div class="form_title"><h2 class="title4">Video:</h2></div>
	<div class="box_foto_product">
		<table class="foto_box" id="videosTable">
			<colgroup>
				<col width="25%"/>
				<col width="30%"/>
				<col width="25%"/>
				<col width="5%"/>
				<col width="5%"/>
				<col width="5%"/>
				<col width="5%"/>
			</colgroup>
			<thead>
			<tr>
				<th>Nazwa</th>
				<th>WWW</th>
				<th>Opis</th>
				<th>Pozycja</th>
				<th>Widoczny</th>
				<th>Edytuj</th>
				<th>Usuń</th>
			</tr>
			</thead>
			
			<tbody>
			
			<?php $i=1; foreach($this->videos as $vid): ?>
			
			<?php if($i % 2 == 0): $style='silver'; else: $style='white'; endif; ?>
			
			<tr class="<?php echo $style;?> vid<?php //echo $vid['glowne'];?>" id="rowPos_<?php echo $vid['id'];?>">
			
				<td>
					<?php echo $vid['nazwa']; ?>
				</td>
				<td align="center">
					<?php echo $vid['www']; ?>
				</td>
				<td align="center">
					<?php echo stripslashes($vid['opis']); ?>
				</td>
				<td align="center">
					<span class="ico_drag"></span>
				</td>
				<?php if(false): ?>
				<td align="center">
					<input class="position_text" type="text" value="<?php echo $vid['pozycja'];?>" />
					<a title="Poz" class="button2" href="javascript:void(0);" rel="" onclick="window.location='<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/vidPoz/<?php echo $vid['id']; ?>/poz/' + $(this).parent().find('.position_text').val()+'#zakladkaVideo';">Pozycja</a>
				</td>
				<?php endif; ?>
				<td align="center">
					<a title="Zmień widoczność" class="<?php echo @intval($vid['wyswietl']) ? 'ok_ico' : 'del_ico'; ?>" href="<?php echo $this->baseUrl; ?>/<?php echo $this->link;?>/vidShow/<?php echo $vid['id']; ?>/widoczny/<?php echo @intval(!$vid['wyswietl']); ?>#zakladkaVideo">Pokaż</a>
				</td>
				<td align="center">	
					<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/vidEdit/<?php echo $vid['id']; ?>#zakladkaVideo">Edytuj</a>
				</td>
				<td align="center">
					<?php if(false && $this->edycjazablokowana === false): ?>
					<input type="checkbox" name="usunvid[<?php echo $vid['id'];?>]" value="<?php echo $vid['id'];?>" class="checkbox" style="float:none;" />
					<?php endif; ?>
					<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/<?php echo $this->link;?>/vidDel/<?php echo $vid['id']; ?>#zakladkaVideo">Usuń</a>					
				</td>
			</tr>
			
			<?php $i++; endforeach; ?>

			</tbody>
		
		</table>
		
		<script type="text/javascript">
		$(document).ready(function()
		{
			$("#videosTable").sortable(
			{
				opacity: 0.6, 
				cursor: 'move', 
				items: "tr.vid",
				update: function(event, ui) 
				{
					var id = $(ui.item).attr('id');
					var order = $(this).sortable("serialize") + '&table=video'
					$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(res)
					{
						location.reload();
					});
				}
			});
		});
		</script>
		
		<?php if(false && $this->edycjazablokowana === false): ?>
		<div class="button_form m2" style="float:right;">
			<div class="button1">
				<input type="submit" name="usunvids" value="Usuń zaznaczone" />	
			</div>
		</div>
		<?php endif; ?>
	</div>
	
</div>
<?php endif; ?>