<div id="ileNaStrone">
	<span>Wyświetl: </span>
	<select onchange="window.location = '<?php echo $this->baseUrl; ?>/admin/allegrozamowienia/wypisz/ile/' + this.value" style="width:90px;">
		<option value="10" <?php if ($this->ile == 10) echo 'selected="selected"'; ?>>10</option>
		<option value="25" <?php if ($this->ile == 25) echo 'selected="selected"'; ?>>25</option>
		<option value="50" <?php if ($this->ile == 50) echo 'selected="selected"'; ?>>50</option>
		<!--<option value="9999" <?php //if ($this->ile == 9999) echo 'selected="selected"'; ?>>Wszystkie</option>-->
	</select>
</div>