<script type="text/javascript">
<?php if($this->obConfig->filebrowser == 'kcfinder' || $this->obConfig->edytor == 'mce'): ?>
function openKCFinder(field_name, url, type, win) 
{
	//win.document.getElementById(field_name).value = 'my browser value'; 
	tinyMCE.activeEditor.windowManager.open(
	{
		url: "<?php echo $this->baseUrl; ?>/public/scripts/kcfinder/browse.php?opener=tinymce&type="+type, 
		width: 700, 
		height: 500,
		resizable: "yes",
		inline: "yes", 
		close_previous: "no",
		popup_css: false
	},
	{ window: win, input: field_name });
	return false;
}
<?php endif; ?>

<?php if($this->obConfig->filebrowser == 'fckFileBrowser'): ?>
function fileBrowserCallBack(field_name, url, type, win)
{
	var connector = "<?php echo $this->baseUrl; ?>/public/scripts/ckeditor/plugins/filemanager/index.html?Connector=connectors/php/filemanager.php";
	var enableAutoTypeSelection = true;

	var cType;
	tinyfck_field = field_name;
	tinyfck = win;

	switch(type)
	{
		case "image": cType = "Image"; break;
		case "flash": cType = "Flash"; break;
		case "file": cType = "File"; break;
	}

	if(enableAutoTypeSelection && cType) connector += "&Type=" + cType;

	window.open(connector, "tinyfck", "modal,width=700,height=500");
}
<?php endif; ?>

<?php if($this->obConfig->filebrowser == 'kcfinder'): ?>
function openKCFinderStandalone(ten, dir)
{
	var kcf = '<?php echo $this->baseUrl; ?>/public/scripts/kcfinder';
	var path = kcf + '/upload/image/';
	window.KCFinder = 
	{
		callBack: function(url) 
		{
			window.KCFinder = null;
		}
	};
	window.open(kcf + '/browse.php?type=image&dir=image/' + dir,
		'kcfinder_image', 'status=0, toolbar=0, location=0, menubar=0, ' +
		'directories=0, resizable=1, scrollbars=0, width=800, height=600'
	);
}
<?php endif; ?>

function pliki(showInput)
{
	return;
	var input = document.getElementById('filesToUpload');
	$('#plikiDiv').html('');
	for (var x = 0; x < input.files.length; x++) 
	{
		var div = '<div style="float:left;width:850px;">';
		div = div + '<span style="float:left;width:200px;">' + input.files[x].name + '</span>';
		if(showInput) 
		div = div + '<input type="text" name="images[]" size="30" style="float:left;" value="' + input.files[x].name.replace('.jpg', '').replace('.jpeg', '').replace('.JPG', '').replace('.JPEG', '') + '" />';
		else div = div + '<br/>';
		<?php if(@$this->id > 0): ?>
		<?php if($this->obConfig->ofertaGaleria): ?>
		div = div + '<span style="float:left;">&nbsp;&nbsp;Typ:&nbsp;</span>';
		div = div + '<select name="typy[]" style="float:left;width:100px!important;">';
		div = div + '<option value="oferta">oferta</option>';
		div = div + '<option value="galeria">galeria</option>';
		div = div + '</select>';
		<?php endif; ?>
		<?php if($this->obConfig->trybGaleria == 'rozmiary'): ?>
		div = div + '<span style="float:left;">&nbsp;&nbsp;Rozmiar:&nbsp;</span>';
		div = div + '<select name="imgRozm[]" style="float:left;width:100px!important;">';
		div = div + $('#rozmiarySelect').html() + '</select>';
		<?php endif; ?>
		<?php endif; ?>
		div = div + '</div>';
		$('#plikiDiv').append(div);
	}
}
</script>