<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>
        <span class="link_path_end">Atrybuty</span>
    </div>
    <div class="container">
        <div class="box_main_title">
            <img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
            <h2 class="title2 p1">Atrybuty</h2>
        </div>
        <div class="box_link_navi">
            <a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/atrybuty/dodaj/">Wróć do listy</a>
         </div>
        <div class="box_title">
            <h3 class="title3">Zarządzaj opcjami atrybutu: "<?php echo $this->htmlg->nazwa; ?>"</h3>
        </div>
        <div class="content">
            <div class="left_side">
                <ul class="menu_left">
                    <li><span class="hover">Atrybuty</span></li>
                </ul>
            </div>
            <div class="right_side">

                    <?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

                            <div class="error_container">

                                <?php echo $this->blad_edycji; ?>
                                <?php echo $this->lista_bledow; ?>

                            </div>

                    <?php endif; ?>

                    <div class="box_form">
                        <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                        <div class="button_toggle">
                            <a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj opcje</a>
                         </div>
                        <div id="box_display" class="dn">
                            <form action="" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="post[id_gr]" value="<?php echo $this->htmlg->id; ?>" />
                                <div class="form_title"><h2 class="title4">Dodaj opcje do atrybutu "<?php echo $this->htmlg->nazwa; ?>"</h2></div>
                                <div class="form_row">
                                    <label class="required">Nazwa:</label>
                                    <div class="input_bg">
                                        <input type="text" name="post[nazwa]" value="<?php echo (isset($this->temp['nazwa']))? $this->temp['nazwa']:''; ?>" />
                                    </div>
                                </div>                              
                                <div class="button_form m2">
                                    <div class="button1">
                                        <input type="submit" name="save" value="Zapisz" />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--Lista producent-->
                        <?php if(isset($this->htmla) && count($this->htmla) > 0): ?>
                                <div class="form_title"><h2 class="title4">Opcje atrybutu</h2></div>
                                <div class="box_foto_product">
                                    <table class="foto_box">
                                        <colgroup>
                                            <col width="80%"/>
                                            <col width="10%"/>
                                            <col width="10%"/>
                                        </colgroup>
                                        <tr>
                                            <th>Nazwa</th>
                                            <th>Edytuj</th>
                                            <th>Usuń</th>
                                        </tr>

                                        <?php $i = 1; foreach($this->htmla as $rows): ?>
                                            <?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
                                        <tr class="<?php echo $style; ?>">
                                            <td class="first img">
                                                <?php echo $rows['nazwa']; ?>
                                            </td>
                                            <td align="center">
                                                <a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/atrybuty/edytujatr/idgr/<?php echo $this->htmlg['id'];?>/id/<?php echo $rows['id'];?>/">Edytuj</a>
                                            </td>
                                            <td align="center">
                                                <a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/atrybuty/usunatr/idgr/<?php echo $this->htmlg['id'];?>/id/<?php echo $rows['id'];?>/">Usuń</a>
                                            </td>
                                        </tr>

                                        <?php $i++; endforeach; ?>

                                    </table>
                                </div>

                        <?php else: ?>

                                <div class="info_empty">Brak zdefiniowanych opcji.</div>

                        <?php endif; ?>

                </div>
            </div>
        </div>
    </div>
</div>