<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>
        <span class="link_path_end">Atrybuty</span>
    </div>
    <div class="container">
        <div class="box_main_title">
            <img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
            <h2 class="title2 p1">Atrybuty</h2>
        </div>
        <div class="box_title">
            <h3 class="title3">Zarządzaj atrybutami:</h3>
        </div>
        <div class="content">
            <div class="left_side">
                <ul class="menu_left">
                    <li><span class="hover">Atrybuty</span></li>
                </ul>
            </div>
            <div class="right_side">

                    <?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

                            <div class="error_container">

                                <?php echo $this->blad_edycji; ?>
                                <?php echo $this->lista_bledow; ?>

                            </div>

                    <?php endif; ?>

                    <div class="box_form">
                        <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                        <div class="button_toggle">
                            <a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj atrybut</a>
                        </div>
                        <div id="box_display" class="dn">
                            <form action="" method="post">
                                <div class="form_title"><h2 class="title4">Dodaj atrybut</h2></div>
                                <div class="form_row">
                                    <label class="required">Nazwa:</label>
                                    <div class="input_bg w1">
                                        <input type="text" name="post[nazwa]" value="<?php echo (isset($this->temp['nazwa']))? $this->temp['nazwa']:''; ?>" />
                                    </div>
                                </div>
								<?php if($this->obConfig->atrybutyRodzaje): ?>
								<div class="form_row">
                                    <label class="">Rodzaj atrybutu:</label>
                                    <div class="input_bg w1">
                                        <select name="post[id_rodzaj]">
											<option value="0">żaden</option>
                                            <?php foreach($this->rodzaje as $value): ?>
                                            <option <?php echo ($this->temp['id_rodzaj'] == $value['id']) ? 'selected="selected"': ''; ?> value="<?php echo $value['id']; ?>"><?php echo $value['nazwa']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
								<?php endif; ?>
                                <div class="form_row">
                                    <label class="required">Typ atrybutu:</label>
                                    <div class="input_bg w1">
                                        <select name="post[typatrybut]" onchange="$('.opcja').toggle(this.value != 'tekst' && this.value != 'wybor');">
                                            <?php foreach($this->typatr as $value): ?>
                                            <option <?php echo ($this->temp['typatrybut'] == $value['typatrybut'])? 'selected="selected"': ''; ?> value="<?php echo $value['typatrybut']; ?>">
											<?php echo $value['nazwa']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
								<div class="form_row">
									<label class="required">Typ pola:</label>
									<div class="input_bg w1">
										<select name="post[jedn_miary_typ]">
											<?php foreach($this->typpola as $nazwa => $opis): ?>
											<option <?php echo ($this->temp['jedn_miary_typ'] == $nazwa)? 'selected="selected"': ''; ?> value="<?php echo $nazwa; ?>">
											<?php echo $opis; ?></option>
											<?php endforeach; ?>
										</select>
									</div>
								</div>
								<?php if(false): ?>
								<div class="form_row">
									<label class="">Jedn. miary:</label>
									<div class="input_bg w1">
										<input type="text" name="post[jedn_miary]" value="<?php echo (isset($this->temp['jedn_miary']))? $this->temp['jedn_miary']:''; ?>" />
									</div>
								</div>
								<?php else: ?>
								<div class="form_row">
									<label class="">Jedn. miary:</label>
									<div class="input_bg w1">
										<select name="post[jedn_miary]">
											<option value="">żadna</option>
                                            <?php foreach($this->jedn as $jedn): ?>
                                            <option <?php echo ($this->temp['jedn_miary'] == $jedn['nazwa'])? 'selected="selected"': ''; ?> value="<?php echo $jedn['nazwa']; ?>"><?php echo $jedn['nazwa']; ?></option>
                                            <?php endforeach; ?>
                                        </select>
									</div>
								</div>
								<?php endif; ?>
								<?php if(true): ?>
								<div class="form_row opcja dn">
									<label class="">Opcja
									<a class="add silver m_linki di" onclick="dodajOpcje(this);" href="javascript:void(0);">Dodaj</a>
									<a class="del silver m_linki dn" onclick="usunOpcje(this);" href="javascript:void(0);">Usuń</a>
									</label>
									<div class="input_bg w1">
										<input type="text" name="opcje[]" value="" />
									</div>
								</div>
								<script type="text/javascript">
								function dodajOpcje(ten)
								{
									$(ten).parent().parent().after($(ten).parent().parent().clone());
									$('.opcja .add').hide();
									$('.opcja .del').show();
									$('.opcja .add').last().show();
									$('.opcja .del').last().hide();
								}
								function usunOpcje(ten)
								{
									$(ten).parent().parent().remove();
									$('.opcja .add').hide();
									$('.opcja .del').show();
									$('.opcja .add').last().show();
									$('.opcja .del').last().hide();
								}
								</script>
								<?php endif; ?>
                                <input type="hidden" name="post[wyszukiwarka]" value="1" <?php echo ($this->temp['wyszukiwarka'] == 1)? 'checked="checked"':''; ?> />
								<?php if($this->obConfig->atrybutyKategorie): ?>
                                <div class="form_row" id="drzewoKateg">
									<label class="required">Przypisana kategoria:</label>
									<div class="input_bg w6">
										<label id="kategorieall"><input type="checkbox" name="kategorieall" value="all"/>Wszystkie</label><br/><br/>
										<?php echo $this->kategorie; ?>
									</div>
								</div>                                
                                <?php endif; ?>
                                <div class="button_form m2">
                                    <div class="button1">
                                        <input type="submit" name="save" value="Zapisz" />
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!--Lista producent-->
                        <?php if(isset($this->rows) && count($this->rows) > 0): ?>
                                <div class="form_title"><h2 class="title4">Grupy atrybutów</h2></div>
                                <div class="box_foto_product">
                                    <table class="foto_box">
                                        <colgroup>
                                            <col width="50%"/>
											<col width="10%"/>
                                            <col width="10%"/>
                                            <col width="10%"/>
                                            <col width="10%"/>
                                            <col width="10%"/>
                                        </colgroup>
                                        <tr>
                                            <th>Nazwa</th>
                                            <th>Typ atrybutu</th>
											<th>Typ pola</th>
                                            <th>Dodaj opcje</th>
                                            <th>Edytuj</th>
                                            <th>Usuń</th>
                                        </tr>

                                        <?php $i=1; foreach($this->rows as $rows): ?>
                                            <?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
                                        <tr class="<?php echo $style; ?>">
                                            <td class="first img">
                                                <?php echo $rows['nazwa']; ?>
                                            </td>
                                            <td align="center">
                                                <?php foreach($this->typatr as $value): ?>
                                                    <?php echo ($rows['typatrybut'] == $value['typatrybut']) ? $value['nazwa'] : null; ?>
                                                <?php endforeach; ?>
                                            </td>
											<td align="center">
                                                <?php foreach($this->typpola as $nazwa => $opis): ?>
                                                    <?php echo ($rows['jedn_miary_typ'] == $nazwa) ? $opis : null; ?>
                                                <?php endforeach; ?>
												<br/><?php echo $rows['jedn_miary']; ?>
                                            </td>
                                            <td align="center">
                                                <?php if($rows['typatrybut'] != 'tekst' && $rows['typatrybut'] != 'wybor'): ?>
                                                <a title="Edytuj" class="add_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/atrybuty/atrybuty/id/<?php echo $rows['id'];?>/">Edytuj</a>
                                                <?php else: ?>
                                                 ---
                                                <?php endif; ?>
                                            </td>
                                            <td align="center">
                                                <a title="Dodaj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/atrybuty/edytuj/id/<?php echo $rows['id'];?>/">Dodaj</a>
                                            </td>
                                            <td align="center">
                                                <a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/atrybuty/usun/id/<?php echo $rows['id'];?>/">Usuń</a>
                                            </td>
                                        </tr>

                                        <?php $i++; endforeach; ?>

                                    </table>
                                </div>

                        <?php else: ?>

                                <div class="info_empty">Brak zdefiniowanych atrybutów.</div>

                        <?php endif; ?>

                </div>
            </div>
        </div>
    </div>
</div>
