<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>
        <span class="link_path_end">Atrybuty</span>
    </div>
    <div class="container">
        <div class="box_main_title">
            <img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
            <h2 class="title2 p1">Atrybuty</h2>
        </div>
        <div class="box_link_navi">
            <a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/atrybuty/atrybuty/id/<?php echo $this->htmlg->id; ?>">Wróć do listy</a>
         </div>
        <div class="box_title">
            <h3 class="title3">Zarządzaj opcjami atrybutu: "<?php echo $this->htmlg->nazwa; ?>"</h3>
        </div>
        <div class="content">
            <div class="left_side">
                <ul class="menu_left">
                    <li><span class="hover">Atrybuty</span></li>
                </ul>
            </div>
            <div class="right_side">

                <?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

                        <div class="error_container">

                            <?php echo $this->blad_edycji; ?>
                            <?php echo $this->lista_bledow; ?>

                        </div>

                <?php endif; ?>

                <div class="box_form">
                    <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                    <div id="box_display" class="cb">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="post[id_gr]" value="<?php echo $this->temp['id_gr']; ?>" />
                            <div class="form_title"><h2 class="title4">Edytuj opcję dla atrybutu "<?php echo $this->htmlg->nazwa; ?>"</h2></div>
                            <div class="form_row">
                                <label class="required">Nazwa:</label>
                                <div class="input_bg">
                                    <input type="text" name="post[nazwa]" value="<?php echo (isset($this->temp['nazwa']))? $this->temp['nazwa']:''; ?>" />
                                </div>
                            </div>
                            <div class="button_form m2">
                                <div class="button1">
                                    <input type="submit" name="save" value="Zapisz" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>