<div class="modul_container">
    <div class="navi_box">
        <span class="no_link">Panel administracyjny &raquo;</span>
        <a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>
        <span class="link_path_end">Atrybuty</span>
    </div>
    <div class="container">
        <div class="box_main_title">
            <img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
            <h2 class="title2 p1">Atrybuty</h2>
        </div>
        <div class="box_link_navi">
            <a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/atrybuty/dodaj/">Wróć do listy</a>
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/atrybuty/dodaj/">Dodaj atrybut</a>
         </div>
        <div class="box_title">
            <h3 class="title3">Edytuj atrybut: "<?php echo $this->temp['nazwa']; ?>" </h3>
        </div>
        <div class="content">
            <div class="left_side">
                <ul class="menu_left">
                    <li><span class="hover">Atrybut</span></li>
                </ul>
            </div>
            <div class="right_side">

                <?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>

                        <div class="error_container">

                            <?php echo $this->blad_edycji; ?>
                            <?php echo $this->lista_bledow; ?>

                        </div>

                <?php endif; ?>

                <div class="box_form">
                    <div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
                    <div id="box_display" class="cb">
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="form_title"><h2 class="title4">Edytuj atrybut</h2></div>
                            <div class="form_row">
                                <label class="required">Nazwa:</label>
                                <div class="input_bg w1">
                                    <input type="text" name="post[nazwa]" value="<?php echo (isset($this->temp['nazwa']))? $this->temp['nazwa']:''; ?>" />
                                </div>
                            </div>
							<?php if($this->obConfig->atrybutyRodzaje): ?>
							<div class="form_row">
								<label class="">Rodzaj atrybutu:</label>
								<div class="input_bg w1">
									<select name="post[id_rodzaj]">
										<option value="0">żaden</option>
										<?php foreach($this->rodzaje as $value): ?>
										<option <?php echo ($this->temp['id_rodzaj'] == $value['id']) ? 'selected="selected"': ''; ?> value="<?php echo $value['id']; ?>"><?php echo $value['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
								</div>
                            </div>
							<?php endif; ?>
                            <div class="form_row">
                                <label class="required">Typ atrybutu:</label>
                                <div class="input_bg w1">
                                    <select name="post[typatrybut]" onchange="$('.opcja').toggle(this.value != 'tekst' && this.value != 'wybor');">
                                        <?php foreach($this->typatr as $value): ?>
                                        <option <?php echo ($this->temp['typatrybut'] == $value['typatrybut'])? 'selected="selected"': ''; ?> value="<?php echo $value['typatrybut']; ?>"><?php echo $value['nazwa']; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
							<div class="form_row">
                                <label class="required">Typ pola:</label>
                                <div class="input_bg w1">
                                    <select name="post[jedn_miary_typ]">
                                        <?php foreach($this->typpola as $nazwa => $opis): ?>
                                        <option <?php echo ($this->temp['jedn_miary_typ'] == $nazwa)? 'selected="selected"': ''; ?> value="<?php echo $nazwa; ?>"><?php echo $opis; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
							<?php if(false): ?>
							<div class="form_row">
                                <label class="">Jedn. miary:</label>
                                <div class="input_bg w1">
                                    <input type="text" name="post[jedn_miary]" value="<?php echo (isset($this->temp['jedn_miary']))? $this->temp['jedn_miary']:''; ?>" />
                                </div>
                            </div>
							<?php else: ?>
							<div class="form_row">
								<label class="">Jedn. miary:</label>
								<div class="input_bg w1">
									<select name="post[jedn_miary]">
										<option value="">żadna</option>
										<?php foreach($this->jedn as $jedn): ?>
										<option <?php echo ($this->temp['jedn_miary'] == $jedn['nazwa'])? 'selected="selected"': ''; ?> value="<?php echo $jedn['nazwa']; ?>"><?php echo $jedn['nazwa']; ?></option>
										<?php endforeach; ?>
									</select>
								</div>
							</div>
							<?php endif; ?>
							<?php if(@count($this->opcje) > 0): ?>
							<?php foreach($this->opcje as $opcja): ?>
							<div class="form_row opcja staraOpcja db" id="rowPos_<?php echo $opcja['id'];?>">
								<label class="">Opcja
								<a class="back silver m_linki dn" onclick="dodajStaraOpcje(this);" href="javascript:void(0);"> Wróć</a>
								<a class="del silver m_linki di" onclick="usunStaraOpcje(this);" href="javascript:void(0);">Usuń</a>
								<span class="ico_drag dibi"></span>
								</label>
								<div class="input_bg w1">
									<input type="text" name="stareOpcje[<?php echo $opcja['id']; ?>]" value="<?php echo $opcja['nazwa']; ?>" data-val-value="<?php echo htmlspecialchars($opcja['nazwa']);?>"/>
								</div>
							</div>
							<?php endforeach; ?>
							<?php endif; ?>
							<?php if(true): ?>
							<div class="form_row opcja nowaOpcja <?=@!in_array($this->temp['typatrybut'],array("tekst","wybor"))?'db':'dn';?>">
								<label class="">Opcja
								<a class="add silver m_linki di" onclick="dodajNowaOpcje(this);" href="javascript:void(0);">Dodaj</a>
								<a class="del silver m_linki dn" onclick="usunNowaOpcje(this);" href="javascript:void(0);">Usuń</a>
								</label>
								<div class="input_bg w1">
									<input type="text" name="noweOpcje[]" value="" />
								</div>
							</div>
							<script type="text/javascript">
							function dodajStaraOpcje(ten)
							{
								$(ten).parent().parent().find('input').attr('readonly', false);
								$(ten).parent().parent().find('input').css('backgroundColor', 'white');
								$(ten).parent().parent().find('input').val($(ten).parent().parent().find('input').attr('data-val-value'));
								$(ten).parent().parent().find('.back').hide();
								$(ten).parent().parent().find('.del').show();
							}
							function usunStaraOpcje(ten)
							{
								$(ten).parent().parent().find('input').attr('readonly', 'readonly');
								$(ten).parent().parent().find('input').css('backgroundColor', 'gray');
								$(ten).parent().parent().find('input').val('');
								$(ten).parent().parent().find('.del').hide();
								$(ten).parent().parent().find('.back').show();
							}
							function dodajNowaOpcje(ten)
							{
								$(ten).parent().parent().after($(ten).parent().parent().clone());
								$('.nowaOpcja .add').hide();
								$('.nowaOpcja .del').show();
								$('.nowaOpcja .add').last().show();
								$('.nowaOpcja .del').last().hide();
							}
							function usunNowaOpcje(ten)
							{
								$(ten).parent().parent().remove();
								$('.nowaOpcja .add').hide();
								$('.nowaOpcja .del').show();
								$('.nowaOpcja .add').last().show();
								$('.nowaOpcja .del').last().hide();
							}
							$(document).ready(function()
							{
								$("#box_display form").sortable(
								{
									opacity: 0.6, 
									cursor: 'move',									
									items: "div.form_row.staraOpcja",
									update: function()
									{
										var order = $(this).sortable("serialize")+'&table=atrybuty&pole=kolejnosc'
										$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(theResponse)
										{
											//location.reload();
										});
									},
								});
							});
							</script>
							<?php endif; ?>
							<?php if($this->obConfig->atrybutyKategorie): ?>
                            <div class="form_row" id="drzewoKateg">
								<label class="required">Przypisana kategoria:</label>
								<div class="input_bg w6">
									<label id="kategorieall">
									<input type="checkbox" name="kategorieall" value="all" <?php if(empty($this->temp['id_kat']))echo'checked="checked"';?>/>
									Wszystkie</label><br/><br/>
									<?php echo $this->kategorie; ?>
								</div>
							</div>
							<?php endif; ?>
                            <div class="button_form m2">
                                <div class="button1">
                                    <input type="submit" name="save" id="jQuery_zapisz_btn" value="Zapisz" />
                                </div>
                            </div>
							<script type="text/javascript">
							$('#drzewoKateg div.input_bg input:checked').each(function()
							{
								var level = $(this).parent().attr('data-value-level');
								var rodzic = $(this).parent().attr('data-value-rodzic');
								//$(this).parent().show();
								if(parseInt(rodzic) > 0)
								{
									$('.rodzic'+rodzic).show();
									level = $('#id'+rodzic).attr('data-value-level');
									rodzic = $('#id'+rodzic).attr('data-value-rodzic');
									$('.rodzic'+rodzic+'.level'+level).show();
								}
							});
							</script>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>