<div class="belka_tytulowa"><?php echo $this->main->temat; ?></div>

        <div id="obszar_wyswietlania"  style="min-height: 950px;">
            <?php echo $this->main->tekst; ?>
        </div>
