<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut <?php echo $this->typ; ?></h2>
		</div>
		<div class="box_link_navi">
			<a class="back m_linki" href="<?php echo $this->baseUrl; ?>/admin/partnerzy/dodaj/typ/<?=$this->typ;?>">Wróć do listy</a>
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/partnerzy/dodaj/typ/<?=$this->typ;?>">Dodaj pozycję <?=$this->typ;?></a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem <?=$this->typ;?>:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover"><?=ucfirst($this->typ);?></span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div id="box_display" class="db lf" style="width:100%;">
						<form action="" method="post" enctype="multipart/form-data">                   
							<input type="hidden" name="id" value="<?php echo $this->pojedynczy->id;?>"/>
							<div class="form_title"><h2 class="title4">Edytuj <?=$this->typ;?></h2></div>
							<div class="form_row">
								<label class="">Nazwa:</label>
								<div class="input_bg w2">
								<input type="text" name="nazwa" value="<?php echo $this->pojedynczy->nazwa;?>" />
								</div>
							</div>
							<?php if(@$this->obConfig->{$this->type.'Logo'}): ?>
							<div class="form_row">
								<label>Logo:</label>
								<div class="input_bg">
									<input type="file" name="logo" />
								</div>
							</div>
							<?php endif; ?>
							<?php if(@$this->obConfig->{$this->type.'Link'}): ?>
							<div class="form_row">
								<label class="">Link:</label>
								<div class="input_bg w6">
									<input type="text" name="link" value="<?php echo $this->pojedynczy->link;?>" />
								</div>
							</div>
							<?php endif; ?>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="edytuj" id="jQuery_zapisz_btn" value="Zapisz" />	
								</div>
							</div>
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->partnerzy) && count($this->partnerzy) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="20%"/>
									<?php if(@$this->obConfig->{$this->type.'Logo'}): ?>
									<col width="30%"/>
									<?php endif; ?>
									<?php if(@$this->obConfig->{$this->type.'Link'}): ?>
									<col width="30%"/>
									<?php endif; ?>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<thead>
								<tr>
									<th>Nazwa</th>
									<?php if(@$this->obConfig->{$this->type.'Logo'}): ?>
									<th>Logo</th>
									<?php endif; ?>
									<?php if(@$this->obConfig->{$this->type.'Link'}): ?>
									<th>Link</th>
									<?php endif; ?>
									<th>Poz.</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								</thead>
								<tbody>
								<?php $i=1; foreach ($this->partnerzy as $partner): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>" id="rowPos_<?php echo $partner['id'];?>">
									<td class="first img">
										<?php echo $partner->nazwa; ?>
									</td>
									<?php if(@$this->obConfig->{$this->type.'Logo'}): ?>
									<td class="first img">
										<img src="<?php echo $this->baseUrl;?>/public/admin/partnerzy/<?php echo $partner->logo; ?>" alt="" height="<?=$this->ImageDir->PartnerzyY;?>" />
									</td>
									<?php endif; ?>
									<?php if(@$this->obConfig->{$this->type.'Link'}): ?>
									<td class="first img">
										<?php echo $partner->link; ?>
									</td>
									<?php endif; ?>
									<?php if(true): ?>
									<td align="center">
										<span class="ico_drag"></span>
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/partnerzy/edytuj/typ/<?=$this->typ;?>/id/<?php echo $partner->id;?>">Edytuj</a>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/partnerzy/dodaj/typ/<?=$this->typ;?>/delid/<?php echo $partner->id;?>">Usuń</a>
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>
								</tbody>
							
							</table>	
						</div>
						
						<script type="text/javascript">
						$(document).ready(function()
						{
							$(".foto_box tbody").sortable(
							{
								opacity: 0.6, 
								cursor: 'move',
								update: function()
								{
									var order = $(this).sortable("serialize")+'&table=partnerzy'
									$.post("<?php echo $this->baseUrl; ?>/ajax/index/sort/", order, function(theResponse)
									{
										location.reload();
									});
								},
							});
						});
						</script>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych pozycji <?=$this->typ;?>.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>