<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/wizytowka/lista/">Sprzedawcy &raquo;</a>
			<span class="link_path_end">Dodaj sprzedawce</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Sprzedawcy" />
			<h2 class="title2 p1">Sprzedawcy</h2>
		</div>
		<div class="box_link_navi">
			<a class="back" href="<?php echo $this->baseUrl; ?>/admin/wizytowka/lista/">Wróc do listy</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Dodaj sprzedawce:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Dane sprzedawce:</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form user_add">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<form name="kategorie" action="" method="post" enctype="multipart/form-data">
						<div class="form_row">
						<label class="required small">Nazwa:</label>
							<div class="input_bg w1">
								<input name="nazwa" type="text" value="<?php echo $this->pojedynczy['nazwa']; ?>" />
							</div>
						</div>
						<div class="form_row">
						<label class="required small">E-mail:</label>
							<div class="input_bg w1">
								<input name="email" type="text" value="<?php echo $this->pojedynczy['email']; ?>" />
							</div>
						</div>
						<div class="form_row">
							<label class="small">Wizytówka:</label>
							<div class="textarea_bg pod">
								<?php echo $this->short; ?>
							</div>
						</div>
						<div class="form_row">
							<label class="big">Strona sprzedawcy:</label>
							<div class="textarea_bg pod">
								<?php echo $this->edytor; ?>
							</div>
						</div>
						<div class="button_form m2">
							<div class="button1">
								<input type="submit" name="submit" value="Zapisz" />	
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>