<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/wizytowka/lista/">Sprzedawcy &raquo;</a>
			<span class="link_path_end">Lista sprzedawców</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_klient_kategoria.png" alt="Sprzedawcy" />
			<h2 class="title2 p1">Sprzedawcy</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/wizytowka/dodaj/">Dodaj sprzedawce</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj sprzedawcami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>	
					
					</div>
				
				<?php endif; ?>
				
				<div class="box_form_product">
					
					<?php if(!empty($this->wizytowki)): ?>
					
					<table class="foto_box padding">
						<colgroup>
							<col width="40%"/>
							<!--<col width="15%"/>-->
							<col width="15%"/>
							<col width="15%"/>
						</colgroup>
						<tr>
							<th>Nazwa</th>
							<!--<th>Domyślny</th>-->
							<th>Edytuj</th>
							<th>Usuń</th>
						</tr>
						
						<?php $j = 1; foreach ($this->wizytowki as $wizytowka): ?>
								
							<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
						
							<tr class="<?php echo $style; ?>">
								<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/wizytowka/edytuj/id/<?php echo $wizytowka['link']; ?>"><b><?php echo $wizytowka['nazwa']; ?></b></a>
								<?php if($wizytowka['domyslny']=='T') echo ' - SPRZEDAWCA DOMYŚLNY'; ?>
								</td>
								<!--
								<td align="center"><a title="Domyślny" class="ok_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/wizytowka/lista/domyslny/<?php echo $wizytowka['link'];  ?>">Domyślny</a></td>
								-->
								<td align="center"><a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/wizytowka/edytuj/id/<?php echo $wizytowka['link'];  ?>">Edytuj</a></td>
								<td align="center">
								<?php if($wizytowka['domyslny']!='T'): ?>
								<a title="Usuń" onclick="return confirm('Czy napewno chcesz usunąć tego sprzedawce ?')" class="del_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/wizytowka/lista/delid/<?php echo $wizytowka['link']; ?>">Usuń</a>
								<?php endif; ?>
								</td>
								
							</tr>
						
						<?php $j++; endforeach; ?>
						
					</table>
					
					<?php else: ?>
					
						<div class="info_empty">Brak dodanych sprzedawców.</div>
					
					<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>