<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Atrybut producent</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj atrybutem producent:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">Producent</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj producenta</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj producenta</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<?php if($this->obConfig->producentLogo): ?>
							<div class="form_row">
								<label>Logo:</label>
								<div class="input_bg">
									<input type="file" name="img" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->producentLink): ?>
							<div class="form_row">
								<label class="">Link:</label>
								<div class="input_bg w2">
									<input type="text" name="link" value="" />
								</div>
							</div>
							<?php endif; ?>
							<?php if($this->obConfig->rabatyProducenci): ?>
							<div class="form_row">
								<label class="">Rabat na produkty tego&nbsp;producenta (%):</label>
								<div class="input_bg">
									<input type="text" name="rabat" value="" />
								</div>
							</div>
							<?php endif; ?>
                            <?php if($this->edycjazablokowana === false): ?>                        
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" id="zapisz" value="Zapisz" />	
								</div>
							</div>
                            <?php endif; ?>	
						</form>
					</div>
					
					<!--Lista producent-->
					<?php if(isset($this->producenci) && count($this->producenci) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="30%"/>
									<?php if($this->obConfig->producentLogo): ?>
									<col width="20%"/>
									<?php endif; ?>
									<?php if($this->obConfig->producentLink): ?>
									<col width="20%"/>
									<?php endif; ?>
									<?php if($this->obConfig->rabatyProducenci): ?>
									<col width="10%"/>
									<?php endif; ?>
									<col width="10%"/>
									<col width="10%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<?php if($this->obConfig->producentLogo): ?>
									<th>Logo</th>
									<?php endif; ?>
									<?php if($this->obConfig->producentLink): ?>
									<th>Link</th>
									<?php endif; ?>
									<?php if($this->obConfig->rabatyProducenci): ?>
									<th>Rabat</th>
									<?php endif; ?>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->producenci as $producent): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img">
										<?php echo $producent->nazwa; ?>
									</td>
									<?php if($this->obConfig->producentLogo): ?>
									<td align="center">	
										<?php if(!empty($producent->logo)): ?>
										<img src="<?php echo $this->baseUrl;?>/public/admin/producenci/<?php echo $producent->logo;?>" alt="" />
										<?php endif; ?>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->producentLink): ?>
									<td align="center">	
										<?php echo $producent->link; ?>
									</td>
									<?php endif; ?>
									<?php if($this->obConfig->rabatyProducenci): ?>
									<td align="center">	
										<?php echo $producent->rabat; ?> %
									</td>
									<?php endif; ?>
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/producent/edytuj/id/<?php echo $producent->id;?>">Edytuj</a>
									</td>
									<td align="center">	
									<?php if($this->edycjazablokowana === false): ?>
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/producent/dodaj/delid/<?php echo $producent->id;?>">Usuń</a>	
									<?php endif; ?>
                                    </td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych producentów.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>