<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<span class="link_path_end">Zawartość</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_zawartosc_kategoria.png" alt="Zawartość" />
			<h2 class="title2 p1">Grupy rozmiarów
			<span style="font-size:12px; color:red;">(po dodaniu grupy rozmiarów kliknij Rozmiary)</span>
			</h2>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj grupami rozmiarów:</h3>	
		</div>
		<div class="content">
			<div class="left_side">
				<ul class="menu_left">
					<li><span class="hover">rozmiarówki</span></li>
				</ul>
			</div>
			<div class="right_side">
				
				<?php if(!empty($this->blad_edycji) || !empty($this->lista_bledow)): ?>
				
					<div class="error_container">
	
						<?php echo $this->blad_edycji; ?>
						<?php echo $this->lista_bledow; ?>
						
					</div>
				
				<?php endif; ?>
				
				<div class="box_form">
					<div class="error_info rf">pola oznaczone <b>kolorem czerwonym</b> są wymagane.</div>
					<div class="button_toggle">
						<a class="add silver m_linki" onclick="$('#box_display').toggle();" href="javascript:void(0)">Dodaj grupę rozmiarów dla produktu</a>	
					</div>
					<div id="box_display" class="dn">
						<form action="" method="post" enctype="multipart/form-data">                   
							<div class="form_title"><h2 class="title4">Dodaj grupę rozmiarów dla produktu</h2></div>
							<div class="form_row">
								<label class="required">Nazwa:</label>
								<div class="input_bg">
									<input type="text" name="nazwa" value="" />
								</div>
							</div>
							<div class="form_row">
								<label>Jednostka miary:</label>
								<div class="input_bg">
									<select name="jedn_miary">
										<?php foreach($this->jedn as $jedn) { ?>
										<option value="<?php echo $jedn['nazwa']; ?>"><?php echo $jedn['nazwa']; ?></option>
										<?php } ?>
									</select>
								</div>
							</div>
							<div class="form_row">
								<label>Jednostka miary - typ:</label>
								<div class="input_bg_radio">
									<input type="radio" name="jedn_miary_typ" value="int" checked="checked"/> W jednostkach naturalnych
									<br/>
									<input type="radio" name="jedn_miary_typ" value="float"/> W jednostkach rzeczywistych
								</div>
							</div>
	                 		<div class="button_form m2">
								<div class="button1">
									<input type="submit" name="dodaj" value="Zapisz" />	
								</div>
							</div>	
						</form>
					</div>
					
					<!--Lista rozmiarowka-->
					<?php if(isset($this->rozmiarowki) && count($this->rozmiarowki) > 0): ?>
					
						<div class="box_foto_product">
							<table class="foto_box">
								<colgroup>
									<col width="35%"/>
									<col width="20%"/>
									<col width="15%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<tr>
									<th>Nazwa</th>
									<th>Jedn. miary</th>
									<th>Rozmiary</th>
									<th>Edytuj</th>
									<th>Usuń</th>
								</tr>
								
								<?php $i=1; foreach($this->rozmiarowki as $rozmiarowka): ?>
									
									<?php if($i % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
								<tr class="<?php echo $style; ?>">
									<td class="first img"><?php echo $rozmiarowka->nazwa; ?></td>
									<td align="center">
									<?php 
									echo $rozmiarowka->jedn_miary;
									echo ' - '.(($rozmiarowka->jedn_miary_typ=="float")?'rzeczywiste':'naturalne');
									?>
									</td>
									<td align="center">	
										<a title="Rozmiary" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/rozmiary/dodaj/typ/<?php echo $rozmiarowka->id;?>">Rozmiary</a>
									</td>									
									<td align="center">	
										<a title="Edytuj" class="edit_ico <?php echo $style; ?>" href="<?php echo $this->baseUrl;?>/admin/rozmiarowka/edytuj/id/<?php echo $rozmiarowka->id;?>">Edytuj</a>
									</td>
									<td align="center">	
										<a title="Usuń" class="del_ico <?php echo $style; ?>" onclick="return confirm('Czy napewno chcesz usunąć wybraną pozycję ?')" href="<?php echo $this->baseUrl;?>/admin/rozmiarowka/dodaj/delid/<?php echo $rozmiarowka->id;?>">Usuń</a>	
									</td>
								</tr>
								
								<?php $i++; endforeach; ?>	
							
							</table>	
						</div>
					
					<?php else: ?>
						
						<div class="info_empty">Brak zdefiniowanych rozmiarówek.</div>
						
					<?php endif; ?>
					
				</div>
			</div>
		</div>
	</div>
</div>