<div class="modul_container">
	<div class="navi_box">
		<span class="no_link">Panel administracyjny &raquo;</span>
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/index/panel/zakladka/2/">Strona główna &raquo;</a>	
			<a class="link_path" href="<?php echo $this->baseUrl; ?>/admin/oferta/lista/od/0/">Asortyment &raquo;</a>
			<span class="link_path_end">Rabaty</span>	
	</div>
	<div class="container">	
		<div class="box_main_title">
			<img src="/public/images/admin/ikony/ikona_produkt_kategoria.png" alt="Produkty" />
			<h2 class="title2 p1">Rabaty</h2>
		</div>
		<div class="box_link_navi">
			<a class="add m_linki" href="<?php echo $this->baseUrl; ?>/admin/oferta/dodaj/">Dodaj produkt</a>
		</div>
		<div class="box_title">
			<h3 class="title3">Zarządzaj rabatami:</h3>	
		</div>
		<div class="content">
			<div class="all_container">
				
			<?php if(!empty($this->blad_edycji) || !empty($this->blad_edycji)): ?>
			
				<div class="error_container">

					<?php echo $this->blad_edycji; ?>
					<?php echo $this->lista_bledow; ?>	
				
				</div>
			
			<?php endif; ?>
			
			<div class="box_form_product">
				<div class="box_search">
					<div class="form_title"><h2 class="title4">Wyszukiwarka produktu:</h2></div>
					<form name="dodaj" action="" method="POST" accept-charset="utf-8" >
						<div class="row_search">
							<div class="form_row">
								<label>Szukana fraza: </label>
								<div class="input_bg" style="width:700px;">
									<input type="text" name="co" value="<?php echo $this->co; ?>" style="float:left;"/>
								<label class="tiny">&nbsp;&nbsp;&nbsp;&nbsp;w: </label>
								<div class="form_row_radio">
									<div class="input_bg_radio">
										<input type="radio" name="w" value="nazwa" <?php if($this->w=='nazwa') echo'checked="checked"';?> /> 	
									</div>
									<label class="tiny">Nazwa</label>
								</div>
								<?php if($this->obConfig->symbol): ?>
								<div class="form_row_radio">
									<div class="input_bg_radio">
										<input type="radio" name="w" value="oznaczenie" <?php if($this->w=='oznaczenie') echo'checked="checked"';?> />	
									</div>
									<label class="mini">Kod produktu</label>
								</div>
								<?php endif; ?>
								<?php if($this->obConfig->ceny): ?>
								<div class="form_row_radio">
									<div class="input_bg_radio">
										<input type="radio" name="w" value="cena_brutto" <?php if($this->w=='cena_brutto') echo'checked="checked"';?> />	
									</div>
									<label class="tiny">Cena</label>
								</div>
								<?php endif; ?>
								</div>
							</div>
								
								<?php if($this->obConfig->producent && isset($this->producenci)): ?>
								
								<div class="form_row">
									<label class="">Producent: </label>
									<div class="input_bg">
										<select name="producent">
										<option value="">wszyscy</option>
										<?php for($i=0; $i<count($this->producenci); $i++): ?>
											
											<option <?php echo(isset($this->producentwyb) && $this->producentwyb == $this->producenci[$i]['id'])? 'selected="selected"' : '' ?> value="<?php echo $this->producenci[$i]['id']; ?>"><?php echo $this->producenci[$i]['nazwa']; ?></option>
										
										<?php endfor; ?>
										</select>
									</div>
								</div>
								
								<?php endif; ?>
								
								<div class="cb">
									<div class="form_row form_cate">
										<label class="small_label01">Kategorie: </label>
										<div class="input_bg" style="width:700px;">
											
											<select id="pierwszy" name="pierwszy" onchange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', 2)">
											<option value="0">wszystkie</option>
											<?php for($i=0 ; count($this->glowne)>$i ; $i++) { ?>
												<option <?php echo(isset($this->wybranaKat[0]) && $this->wybranaKat[0]['id'] == $this->glowne[$i]->id)? 'selected="selected"': ''; ?> value="<?php echo $this->glowne[$i]->id;  ?>"><?php echo $this->glowne[$i]->nazwa   ?></option>
											<?php  }?>
											</select>

											<select id="drugi" name="drugi" onchange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', 2)">
												<?php if(isset($this->wybranaKat[1])): ?>
												
													<option value="<?php echo $this->wybranaKat[1]['id'];  ?>"><?php echo $this->wybranaKat[1]['nazwa'];  ?></option>
												
												<?php endif; ?>
											</select>	

											<select id="trzeci" name="trzeci" onchange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', 2)" >
												<?php if(isset($this->wybranaKat[2])): ?>
												
													<option value="<?php echo $this->wybranaKat[2]['id'];  ?>"><?php echo $this->wybranaKat[2]['nazwa'];  ?></option>
												
												<?php endif; ?>
											</select>	

											<select id="czwarty" name="czwarty" onchange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', 2)" >
												<?php if(isset($this->wybranaKat[3])): ?>
												
													<option value="<?php echo $this->wybranaKat[3]['id'];  ?>"><?php echo $this->wybranaKat[3]['nazwa'];  ?></option>
												
												<?php endif; ?>
											</select>	
											
											<select id="piaty" name="piaty" onchange="getNextCategory(this.value, this.id,'<?php echo $this->baseUrl; ?>', 'kategorie', 2)" >
												<?php if(isset($this->wybranaKat[4])): ?>
												
													<option value="<?php echo $this->wybranaKat[4]['id'];  ?>"><?php echo $this->wybranaKat[4]['nazwa'];  ?></option>
												
												<?php endif; ?>
											</select>

											<select id="szosty" name="szosty" >
												<?php if(isset($this->wybranaKat[5])): ?>
												
													<option value="<?php echo $this->wybranaKat[5]['id'];  ?>"><?php echo $this->wybranaKat[5]['nazwa'];  ?></option>
												
												<?php endif; ?>
											</select>	
										</div>	
									</div>
									<div class="box_button_search lf pos01">
										<div class="button1">
											<input type="submit" name="szukaj" value="Szukaj" />
										</div>
									</div>
								</div>
							</div>
						</div>	 
					</form>
					
					<?php if(isset($this->error_search)): ?>
						
						<div class="error_container">
							
							<?php echo $this->error_search; ?>
						
						</div>
						
					<?php endif; ?>	
					
				</div>
	
				<?php if(!empty($this->realizacje)): ?>
					
					<?php if(!isset($this->error_search)): ?>
				
						<div class="box_pager">
							<?php for($j=0;$j<$this->ilosc;$j++): 
								$od=$j*30;
								if($j==0)
									echo '<a href="'.$this->baseUrl.'/admin/rabaty/lista/od/0/">'.($j+1).'</a>';
								else
									echo '<a href="'.$this->baseUrl.'/admin/rabaty/lista/od/'.$od.'/">'.($j+1).'</a>';
							endfor; ?>
						</div>
						<form method="post" action="" id="rabaty" name="rabaty">
							<table class="foto_box padding">
								<colgroup>
									<col width="10%"/>
									<col width="10%"/>
									<col width="50%"/>
									<col width="10%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
									<col width="5%"/>
								</colgroup>
								<tr>
									<th>Miniaturka</th>
									<th>Kod produktu</th>
									<th>Nazwa</th>
									<th>Cena brutto</th>
									<th>Promocja</th>
									<th>Zobacz</th>
									<th>Wartość rabatu</th>
									<th>Ustaw rabat</th>
								</tr>
								<?php $j = 1; foreach ($this->realizacje as $realizacja): ?>
								
									<?php if($j % 2 ==0): $style='silver'; else: $style='white'; endif; ?>
								
									<tr class="<?php echo $style; ?>">
										<td align="center">
										  <a title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $realizacja['id'];?>">
												<?php if(!empty($realizacja['zdj']['img'])): ?>
											  <img src="<?php echo $this->baseUrl; ?>/public/admin/zdjecia/thumbs/<?php echo $realizacja['zdj']['img']; ?>" alt="" border="0" width="100"/>
											  <?php else: ?>
											  <img src="<?php echo $this->baseUrl; ?>/public/images/strona/brak.jpg" alt="" width="100" border="0" />
											  <?php endif; ?>
										  </a>
										</td>
										<td><?php echo $realizacja['kod']; ?></td>
										<td><a class="link" title="Edytuj" href="<?php echo $this->baseUrl;?>/admin/oferta/edytuj/id/<?php echo $realizacja['id'];?>"><b><?php echo $realizacja['nazwa']; ?></b></a></td>
										<td align="center"><b class="price_lista"><?php echo $realizacja['brutto']; ?></b> <?php echo $this->zl; ?></td>
										<td align="center">
											<?php if($realizacja['promocja'] == 1): ?>		
												<div title="Promocja" class="button2"></div>
											<?php endif; ?>
										</td>
										<td align="center"><a title="Zobacz" target="_blank" class="see_ico <?php echo $style; ?>" href="<?php echo $this->obConfig->www.'/'.$realizacja['link']; ?>">Zobacz</a></td>
										<td align="center">
											<?php echo ($realizacja['rabat'] > 0)?$realizacja['rabat'].' %': '-';?></td>
										<td align="center"><input type="checkbox" name="rabatvalue[<?php echo $realizacja['id'];?>]" value="<?php echo $realizacja['id'];?>"/></td>	
									</tr>
								
								<?php $j++; endforeach; ?>
									<tr class="silver">
										<td colspan="3">
											<div class="lf">
												<div class="button1">
													<a href="<?php echo $this->baseUrl; ?>/admin/rabaty/delall/delete/1/" >Usuń wszystkie rabaty</a>
												</div>
											</div>
											&nbsp;&nbsp;
											<div class="lf pbu1">
												<div class="button1">
													<input type="submit" name="usun_rabaty" value="Usuń wybrane rabaty" />
												</div>
											</div>
											<div class="rf">
												<label class="lf"><b>Wartość rabatu:&nbsp; &nbsp;</b></label>
												<div class="input_bg_tiny">
													<input type="text" name="rabat" value=""/>
												</div>
												<b class="lf">&nbsp;&nbsp;%</b>
											</div>
										</td>
										<td>
											<div class="button1">
												<input type="submit" name="zapisz_rabaty" value="Zapisz rabaty" />
											</div>
										</td>
										<td colspan="3">
											<div class="button1">
												<a onclick="$('input[type=\'checkbox\']').attr('checked', !$('input[type=\'checkbox\']').first().is(':checked'));">Zaznacz / odznacz wszystkie</a>
											</div>
										</td>
									</tr>
								
							</table>
						</form>
					<?php endif; ?>
				
				<?php else: ?>
				
					<div class="info_empty">Brak zdefiniowanych produktów.</div>
				
				<?php endif; ?>
				
				</div>
			</div>
		</div>
	</div>
</div>